//- ._prev - Стрелка в обратную сторону

.arrow-button {
  display: inline-block;
  background-color: #fee300;
  position: relative;

  &__icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
  }

  &_prev {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }

  &:hover {
    opacity: .7;
  }
}
