mixin polls-result()
  +b.polls-result&attributes(attributes)

    .sections._polls

      .d-si-content

        .d-layer

          +b.d-si.d-si__head
            +e.head_descr сервисы
            +e.head_p-name опросы
            +e.head_icons
              +e.A.icons_item
                | SVG Иконка
              +e.A.icons_item
                | SVG Иконка
              +e.A.icons_item
                | SVG Иконка
          +b.d-si.d-si__quiz-container
            .d-si__quiz-container_head
              span Как сделать портал удобнее?
              .d-si__quiz-container_head-cross
            .d-si__quiz-container_body.d-sr__body_p
              +b.d-sr.__result
                +e.result_data
                  | Даты проведения опроса:
                  +e.result_bold 20.02.2016 - 31.03.2016
                +e.result_value
                  | Всего проголосовало:
                  +e.result_bold
                    +e.vote_val 504
                    | чел.
              +b.d-sr.__stat-container
                +e.progress_item
                  +e.progress_va-fix
                    +e.progress-descr Поиск информации о бюджете города Москвы для подготовки учебных материалов рефератов, курсовых/дипломных работ
                    +e.progress-bar
                      +e.SPAN(data-progress-percent='47').progress-bar_pb_empty
                        +e.SPAN(style='width: 30px').pb_fill
                    +e.progress-bar_val
                      +e.SPAN.val_p 135
                      | &#160;/&#160;
                      +e.SPAN.val_p 47%
                +e.progress_item
                  +e.progress_va-fix
                    +e.progress-descr Поиск информации о бюджете города Москвы, необходимой в профессиональной деятельности
                    +e.progress-bar
                      +e.SPAN(data-progress-percent='27').progress-bar_pb_empty
                        +e.SPAN(style='width: 30px').pb_fill
                    +e.progress-bar_val
                      +e.SPAN.val_p 87
                      | &#160;/&#160;
                      +e.SPAN.val_p 27%
                +e.progress_item
                  +e.progress_va-fix
                    +e.progress-descr Изучение опыта города Москвы в части открытости бюджетных данных и представления бюджетных данных для граждан
                    +e.progress-bar
                      +e.SPAN(data-progress-percent='12').progress-bar_pb_empty
                        +e.SPAN(style='width: 30px').pb_fill
                    +e.progress-bar_val
                      +e.SPAN.val_p 34
                      | &#160;/&#160;
                      +e.SPAN.val_p 12%
                +e.progress_item
                  +e.progress_va-fix
                    +e.progress-descr Изучение бюджета и бюджетного процесса в общем формате
                    +e.progress-bar
                      +e.SPAN(data-progress-percent='8').progress-bar_pb_empty
                        +e.SPAN(style='width: 30px').pb_fill
                    +e.progress-bar_val
                      +e.SPAN.val_p 12
                      | &#160;/&#160;
                      +e.SPAN.val_p 8%
                +e.progress_item
                  +e.progress_va-fix
                    +e.progress-descr Задать вопрос о бюджете города Москвы/дать предложение
                    +e.progress-bar
                      +e.SPAN(data-progress-percent='6').progress-bar_pb_empty
                        +e.SPAN(style='width: 30px').pb_fill
                    +e.progress-bar_val
                      +e.SPAN.val_p 9
                      | &#160;/&#160;
                      +e.SPAN.val_p 6%
                +e.progress_item
                  +e.progress_va-fix
                    +e.progress-descr
                      +e.A.progress-descr_other Другое
                    +e.progress-bar
                      +e.SPAN(data-progress-percent='0').progress-bar_pb_empty
                        +e.SPAN(style='width: 30px').pb_fill
                    +e.progress-bar_val
                      +e.SPAN.val_p 0
                      | &#160;/&#160;
                      +e.SPAN.val_p 0%
              .other-info
                p На&nbsp;что конкретно тратятся бюджетные деньги
                p Параметры бюджетов города Москвы за&nbsp;прошедшие периоды (5-10 лет и&nbsp;более)
              +b.d-sr.__stat-container.__stat-container_mt
                +e.stat_head
                  | БЫЛО БЫ ВАМ ПРОЩЕ/ИНТЕРЕСНЕЕ СЛЕДИТЬ ЗА ОБНОВЛЕНИЯМИ ПОРТАЛА ЧЕРЕЗ СТРАНИЦЫ
                  br
                  | В СОЦИАЛЬНЫХ СЕТЯХ?
                +e.progress_item
                  +e.progress_va-fix
                    +e.progress-descr Я активный пользователей социальных сетей и основную информацию получаю именно там. Создание страниц Портала в социальных сетях необходимо
                    +e.progress-bar
                      +e.SPAN(data-progress-percent='34').progress-bar_pb_empty
                        +e.SPAN(style='width: 30px').pb_fill
                    +e.progress-bar_val
                      +e.SPAN.val_p 90
                      | &#160;/&#160;
                      +e.SPAN.val_p 34%
                +e.progress_item
                  +e.progress_va-fix
                    +e.progress-descr Да, это будет очень интересно, но не обязательно
                    +e.progress-bar
                      +e.SPAN(data-progress-percent='56').progress-bar_pb_empty
                        +e.SPAN(style='width: 30px').pb_fill
                    +e.progress-bar_val
                      +e.SPAN.val_p 148
                      | &#160;/&#160;
                      +e.SPAN.val_p 56%
                +e.progress_item
                  +e.progress_va-fix
                    +e.progress-descr Мне достаточно информации размещенной на данном портале и все новости я могу узнать, зайдя на Портал
                    +e.progress-bar
                      +e.SPAN(data-progress-percent='9').progress-bar_pb_empty
                        +e.SPAN(style='width: 30px').pb_fill
                    +e.progress-bar_val
                      +e.SPAN.val_p 10
                      | &#160;/&#160;
                      +e.SPAN.val_p 9%
              +b.d-sr.__social
                +e.SPAN.social_txt Поделиться результатами:
                +e.A.social_fb
                  i(aria-hidden='true').fa.fa-facebook
                +e.A.social_t
                  i(aria-hidden='true').fa.fa-facebook
                +e.A.social_vk В

