$hamburger-padding-x                       : 18px !default;
$hamburger-padding-y                       : 21px !default;
$hamburger-layer-width                     : 30px !default;
$hamburger-layer-height                    : 3px !default;
$hamburger-layer-spacing                   : 7px !default;
$hamburger-layer-color                     : white !default;
$hamburger-layer-border-radius             : 0px !default;
$hamburger-hover-opacity                   : 1 !default;
$hamburger-hover-transition-duration       : 0.5s !default;
$hamburger-hover-transition-timing-function: ease-in-out !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

@import '../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

// отключаем скроллинг, когда открыто мобильное меню
body.mobile-menu-is-open {
  overflow: hidden;
}

// Блюр для sections если открыто мобильное меню
.filter_blur {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='10');
  filter: blur(10px);
}


.header {
  position: fixed;
  top: -150px;
  left: 0;
  z-index: 2000;
  width: 100%;
  background: rgba(black, .6);
  border-bottom: 1px solid rgba(white, 0.1);
  @include transited;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .hidden {
    display: none;
  }

  &.toppanel-is-active {
    @media (max-width: $navBreakpointTablet) {
      top: 60px !important;

      .header__drop {
        top: 127px !important;
      }
    }
  }

  &_short {
    @media (min-width: $navBreakpointTablet + 1px) {
      transform: translateY(-66px);
      background: rgba(black, .6);

      &.toppanel-is-active {
        transform: translateY(-6px);
      }
    }

    // поведение логотипа
    @media (min-width: $navBreakpointXXL) {
      .header__logo.hidden-mobile {
        transform: translateY(42px);
      }
    }

    @media (min-width: $navBreakpointTablet + 1px) and (max-width: $navBreakpointDesktop) {
      .header__logo.hidden-mobile {
        transform: translateY(58px);
        width: 55px;
        height: 46px;
        z-index: 2;

        .logo__lg,
        .logo__sm {
          transform: translateY(-100px);
          opacity: 0;
        }
      }

      .header__menu,
      .header__link-for-blind.hidden-xxl {
        transform: translateX(55px);
      }
    }
  }

  // inner
  &__wrap {
    position: relative;

    @media (min-width: $navBreakpointXXL) {
      // height: $navHeightXXL;
      padding-left: 300px !important;
      padding-right: 0 !important;

      .blindmode-header & {
        padding-left: 250px !important;
      }
    }

    @media (min-width: $navBreakpointTablet + 1px) {
      height: $navHeightDesktop;
    }

    @media (min-width: $navBreakpointMobile + 1px) and (max-width: $navBreakpointTablet) {
      height: $navHeightTablet;
    }

    @media (max-width: $navBreakpointMobile) {
      height: $navHeightMobile;
    }
  }

  // логотип
  &__logo {
    display: inline-block;
    height: 46px;

    &:active,
    &:focus {
      color: white;
    }

    .logo__lg {
      width: 230px;
      padding-left: 55px;
      font-weight: 500;
      font-size: 18px;
      padding-top: 3px;
      bottom: 0;
    }

    .logo__sm {
      width: 230px;
      padding-left: 55px;
      font-size: 14px;
      bottom: 0;
    }

    // лого мобильного меню
    &.hidden-desktop {
      @media (min-width: $navBreakpointTablet + 1px) { display: none !important; }
      margin-top: 12px;
    }

    // лого декстопного меню
    &.hidden-mobile  {
      @media (max-width: $navBreakpointTablet) { display: none !important; }
      float: left;

      @media (min-width: $navBreakpointXXL) {
        position: absolute;
        top: 37px;
        left: -300px;

        .blindmode-header & {
          left: -250px;
        }
      }
    }
  }

  // контейнер выпадающего меню в мобильной версии
  &__drop {
    position: relative;
    @include transited;

    @media (max-width: $navBreakpointTablet) {
      display: none;
      position: fixed;
      top: 68px;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(black, .4);
    }

    &-row {
      position: relative;
      display: block;

      @media (max-width: $navBreakpointTablet) {
        padding-top: 0;
        position: static;
      }

      &:first-child {
        // overflow: hidden;
        box-sizing: content-box;
        padding-top: 20px;
        text-align: center;

        // @media (min-width: $navBreakpointXXL) {
        //   padding-top: 35px;
        // }

        // @media (max-width: $navBreakpointDesktop) {
          min-height: 46px;
        // }

        @media (max-width: $navBreakpointTablet) {
          min-height: auto;
        }
      }

      &:last-child {
        padding-top: 20px;
        min-height: 48px;

        // @media (min-width: $navBreakpointXXL) {
        //   padding-top: 10px;
        // }

        @media (max-width: $navBreakpointTablet) {
          padding-top: 25px;
          padding-bottom: 25px;
        }
      }
    }
  }

  &__link-for-blind {
    padding: 3px;
    line-height: 0;

    &.visible-xxl {
      float: left;
      margin-top: 7px;
      margin-left: 5px;

      @media (max-width: $navBreakpointDesktop) {
        display: none;
      }
    }

    &.hidden-xxl {
      @media (min-width: $navBreakpointXXL) {
        display: none;
      }

      @media (max-width: $navBreakpointTablet) {
        display: none;
      }
    }

    @media (min-width: $navBreakpointTablet + 1px) and (max-width: $navBreakpointDesktop) {
      float: left;
      margin-right: 7px;

      .link-for-blind__text {
        display: none;
      }
    }
  }

  &__menu {
    position: relative;
    z-index: 3;
    @include transited;
    // will-change: transform, opacity;

    @media (min-width: $navBreakpointTablet +1px) and (max-width: $navBreakpointDesktop) {
      float: left;
    }

    @media (max-width: $navBreakpointTablet) {
      position: absolute;
      top: 50px;
      right: 0;
      bottom: 100px;
      left: 0;

      .menu__link {
        padding: 8px;
      }

      &.js-mobile-search-is-open {
        opacity: 0;
        transform: translateY(-10%);
      }

      .menu__list {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        transform: translateY(-50%);
      }
    }

    @media (max-height: 530px) {
      .toppanel-is-active & {
        transform: translateY(-10%) scale(.8);
      }
    }

    // размер шрифта в меню на мобилах
    .menu__link {
      @media (min-width: 375px) and (max-width: 767px) {
        font-size: 22px;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 28px;
      }
    }
  }

  $menu2-height: 25px;
  &__menu2 {
    float: right;
    // overflow: hidden;
    margin: 0;
    padding: 0;
    height: $menu2-height;
    list-style: none;

    @media (max-width: $navBreakpointTablet) {
      float: none;
      overflow: visible;
      position: absolute;
      right: 0;
      bottom: 65px;
      left: 0;
    }

    &-item {
      float: left;

      &_logout {
        @media (max-width: $navBreakpointTablet) {
          display: none;
        }
      }

      &:not(:last-child),
      &:not('.user-menu2-item') {
        margin-right: 15px;
      }

      @media (max-width: $navBreakpointTablet) {
        position: relative;
        width: 33.3%;
        height: $menu2-height;

        &:not(:last-child) {
          margin-right: 0;
        }

        &:nth-child(1) {
          padding-left: 10px;
          text-align: left;
        }

        &:nth-child(2) {
          text-align: center;
        }

        &:nth-child(3) {
          padding-right: 10px;
          text-align: right;
        }
      }

      &.hidden-desktop {
        @media (min-width: $navBreakpointTablet + 1px) {
          display: none;
        }
      }
    }

    &-link {
      display: inline-block;
      padding: 5px;
      width: 24px;
      height: 15px;
      box-sizing: content-box;
      color: white;
      fill: white;
      @include transited;

      &:hover {
        color: #fee300;
        fill: #fee300;
      }

      @media (max-width: $navBreakpointTablet) {
        display: inline-block;
      }
    }

    &-icon {
      max-width: 100%;
      max-height: 100%;

      &.is-active {
        color: #fee300;
        fill: #fee300;
      }

      &.is-hidden {
        display: none;
      }
    }
  }

  $menu2-user-height: 36px;
  &__user {
    position: relative;
    display: block;
    width: $menu2-user-height;
    height: $menu2-user-height;
    margin-top: ($menu2-height - $menu2-user-height) / 2;
    margin-left: 17px;
    @include transited;

    @media (max-width: $navBreakpointTablet) {
      float: right;
      margin-right: 15px;
    }

    &:hover {
      opacity: .75;
    }

    &-avatar {
      img {
        display: inline-block;
        width: $menu2-user-height;
        height: $menu2-user-height;
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
      }
    }

    &-favorites {
      position: absolute;
      left: -17px;
      top: 50%;
      transform: translateY(-55%);
      width: 22px;
      height: 22px;
      font-family: $PFDinCondensedPro;
      font-weight: 500;
      font-size: 13px;
      line-height: 26px;
      text-align: center;
      letter-spacing: -1px;
      color: black;

      &-text {
        position: relative;
        padding-right: 2px;
      }

      &-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;
        fill: #fde132;
      }
    }
  }

  &__currency {
    display: inline-block;
    float: none;
    margin: 15px auto 0;
    @include transited;

    @media (min-width: $navBreakpointXXL) {
      float: left;
      margin-top: 14px;
      margin-left: 45px;
    }

    @media (min-width: $navBreakpointTablet + 1px) and (max-width: $navBreakpointXXL) {
      font-size: 17px;
    }

    @media (max-width: $navBreakpointTablet) {
      margin-top: 0;
    }
  }

  &__icon {
    max-width: 100%;
    max-height: 100%;
  }

  &__toppanel-link {
    display: inline-block;
    float: none;
    width: 18px;
    height: 21px;
    margin: 8px 25px 0 60px;
    padding: 5px;
    box-sizing: content-box;
    text-align: center;
    fill: white;

    &:hover {
      color: #fee300;
      fill: #fee300;
    }

    @media (min-width: $navBreakpointXXL) {
      float: left;
      margin: 8px 15px 0 42px;
    }

    @media (max-width: $navBreakpointTablet) {
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-50%);
      width: 30px;
      height: 30px;
      margin: 0;
    }
  }

  &__social {
    @include transited;
    float: right;
    z-index: 4;
    width: auto;
    margin-top: 9px;

    // @media (min-width: $navBreakpointXXL) {
    //   margin-top: 0;
    // }

    @media (max-width: $navBreakpointTablet) {
      display: flex;
      justify-content: space-between;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      margin-top: 0;
      padding-top: 11px;
      padding-right: 15px;
      padding-bottom: 10px;
      padding-left: 15px;
      border-top: 1px solid rgba(white, .2);
      text-align: center;

      .social__item {
        display: inline-block;
        float: none;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  &__search-form {
    @include transited;

    &__btn {
      z-index: 4;
    }

    &__submit {
      display: none;
    }
  }

  &__login {
    @include transited;

    @media (min-width: $navBreakpointTablet +1px) and (max-width: $navBreakpointDesktop) {
      float: right;
    }

    @media (max-width: $navBreakpointMobile) {
      top: auto;
      bottom: 72px;
      right: 20px;

      .login__btn {
        width: 24px;
        height: 23px;

        &:before,
        &:after {
          background-size: 600px auto;
        }

        &:before { background-position: -21px -23px; }
        &:after  { background-position: -96px -53px; }
      }
    }
  }

  // &__logged {
  //   // position: absolute;
  //   right: 0;
  //   top: 69px;
  //   @include transited;
  // }

  &__open-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 67px;
    height: 100%;
    border-left: 1px solid rgba(white, .1);

    @media (max-width: $navBreakpointTablet) {
      display: block;
    }
  }
}

// a
.link-for-blind {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  color: white;
  fill: white;
  @include transited;

  &:hover {
    color: #fee300;
    fill: #fee300;
  }

  .blindmode-header & {
    line-height: 19px;
  }

  &__icon {
    display: inline-block;
    vertical-align: top;
    max-width: 27px;
    max-height: 19px;

    .blindmode-header & {
      display: none;
    }
  }

  &__text {
    display: inline-block;
    vertical-align: bottom;
    font-size: 16px;
    line-height: 1;

    @media (max-width: $navBreakpointDesktop) {
      display: none;
    }
  }
}
