include ../../blocks/logo/logo
include ../../blocks/icon/icons
include ../../blocks/currency/currency
include ../../blocks/menu/menu
include ../../blocks/social/social
include ../../blocks/search-form/search-form
include ../../blocks/login/login

mixin header()
  +b.HEADER.header&attributes(attributes)
    +e.wrap.wrap
      // LOGO/
      +logo('header').header__logo
      +e.drop
        +e.A(href="#").link-for-blind.link-for-blind
          +icon('glasses').icon.link-for-blind__icon
          .link-for-blind__text Версия для слабовидящих
        // CURRENCY/
        +currency().header__currency
        // MENU/
        +menu().header__menu
        // SOCIAL_BUTTONS/
        +social('facebook-box', 'vk', 'tw', 'insta', 'odnokl', 'youtube-play', 'telegram').__social
        // SEARCH_FORM/
        +search-form().header__search-form(style="height: 19px;")
        // LOGIN/
        +login().header__login
    //- +e.BUTTON.open-menu
    +e.BUTTON.open-menu.hamburger.hamburger--spin(type="button")
      SPAN.hamburger-box
        SPAN.hamburger-inner
