include ../../blocks/logo/logo
include ../../blocks/icon/icons
include ../../blocks/currency/currency
include ../../blocks/menu/menu
include ../../blocks/social/social
include ../../blocks/toppanel/toppanel
include ../../blocks/search-navbar/search-navbar

mixin header()
  +toppanel
  +b.HEADER.header#header&attributes(attributes)
    +e.wrap.wrap
      //- логотип в мобильной версии меню
      +logo('header').header__logo.hidden-desktop
      +e.drop#headerDrop
        +e.drop-row#header-short-nav-hidden
          //- логотип в десктопной версии меню
          +logo('header').header__logo.hidden-mobile
          +e.A(href="#").link-for-blind.link-for-blind.visible-xxl
            +icon('glasses').icon.link-for-blind__icon
            .link-for-blind__text Версия для слабовидящих
          +currency().header__currency
          //- +e.A.toppanel-link(href="#").js-show-toppanel
          //-   +icon('mos').icon
          +social('mos', 'facebook-box', 'vk', 'tw', 'insta', 'odnokl', 'youtube-play', 'telegram').__social
        +e.drop-row
          +e.A(href="#").link-for-blind.link-for-blind.hidden-xxl
            +icon('glasses').icon.link-for-blind__icon
            .link-for-blind__text Версия для слабовидящих
          +menu().header__menu
          +e.UL.menu2
            +e.LI.menu2-item.hidden-desktop
              +e.A(href="#").menu2-link
                +icon('glasses').menu2-icon
            +e.LI.menu2-item
              +e.A(href="#").menu2-link#search-navbar-link
                +icon('search').menu2-icon.js-icon-navSearchLupa
                +icon('cross').menu2-icon.js-icon-navSearchClose.is-active.is-hidden
            +e.LI.menu2-item.hidden
              +e.A(href="#login").menu2-link.btn.open-popup
                +icon('user').menu2-icon
            +e.LI.menu2-item.user-menu2-item
              +e.A.user(href="#")
                +e.DIV.user-avatar
                  IMG(src="/assets/images/profile/person.jpg")
                +e.DIV.user-favorites
                  +icon('favor').user-favorites-icon
                  +e.SPAN.user-favorites-text 15
            +e.LI.menu2-item._logout
              +e.A(href="#").menu2-link
                +icon('logout').menu2-icon
      +search-navbar().search-navbar
    +e.BUTTON#burger.open-menu.hamburger.hamburger--spin(type="button")
      SPAN.hamburger-box
        SPAN.hamburger-inner
