$hamburger-padding-x                       : 18px !default;
$hamburger-padding-y                       : 17px !default;
$hamburger-layer-width                     : 30px !default;
$hamburger-layer-height                    : 3px !default;
$hamburger-layer-spacing                   : 7px !default;
$hamburger-layer-color                     : white !default;
$hamburger-layer-border-radius             : 0px !default;
$hamburger-hover-opacity                   : 1 !default;
$hamburger-hover-transition-duration       : 0.5s !default;
$hamburger-hover-transition-timing-function: ease-in-out !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

@import '../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';

.link-for-blind {
  display: block;
  color: #fff;
  font-size: 16px;
  padding: 3px 0 0 40px;
  position: relative;
  text-decoration: none;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 2;

  &::before {
    display: block;
    content: '';
    width: 27px;
    height: 19px;
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    background-position: -37px -21px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &:hover {
    color: #fee300;
  }
}

.header {
  position: fixed;
  top: -150px;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 135px;
  background: rgba(black, .3);
  border-bottom: 1px solid rgba(white, 0.1);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  &__wrap {
    position: relative;
    margin: 0 30px;
    max-width: initial !important;

    @media (max-width: 768px) {
      margin: 0 15px !important;
    }

    &::after {
      display: block;
      width: 100%;
      content: '';
      clear: both;
    }
  }

  &__drop {
    position: relative;

    &::after {
      display: block;
      width: 100%;
      content: '';
      clear: both;
    }
  }

  &__logo {
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 14;
  }

  &__link-for-blind {
    position: absolute;
    top: 36px;
    left: 242px;
    z-index: 4;
  }

  &__menu {
    float: left;
    width: 100%;
    padding: 80px 130px 0 242px;
    margin: 0;
    position: relative;
    z-index: 3;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    top: auto;

    ul {

      &:after {
        content: '';
        display: inline-block;
        height: 0.0000000001px;
        width: 100%;
      }
    }

    .menu__item {
      float: none;
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__currency {
    position: absolute;
    left: 542px;
    top: 43px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

  &__social {
    position: absolute;
    right: 0;
    top: 39px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    width: auto;
    display: block;
    z-index: 4;
  }

  &__search-form {
    position: absolute;
    right: 32px;
    left: 242px;
    top: 80px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    .search-form__btn {
      z-index: 4;
    }
    .search-form__submit {
      display: none;
    }
  }

  &__login {
    position: absolute;
    right: 0;
    top: 80px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    z-index: 10;
  }

  &__logged {
    position: absolute;
    right: 0;
    top: 69px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

  &__open-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 67px;
    height: 100%;
    border-left: 1px solid rgba(white, .1);
  }

  &_ab {
    position: absolute;
  }

  &_short {
    height: 75px;
    border-bottom: 1px solid #ffffff !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    background: url(../images/background/menu.jpg) no-repeat 50% 0 !important;
    background-size: 100% 100% !important;

    .header__logo {
      @media (max-width: 1180px) and (min-width: 801px) {
        width: 28px;
      }
    }

    .header__link-for-blind {
      top: -50px;
    }

    .header__menu {
      top: auto;
      padding-top: 35px;
    }

    .header__currency {
      top: -50px;
    }

    .header__social {
      top: -50px;
    }

    .header__search-form {
      top: 35px;
    }

    .header__login {
      top: 35px;
    }

    .header__logged {
      top: 25px;
    }

    .menu__item {
      margin-right: 30px;
    }

    .menu__a {
      font-size: 16px;
    }

    .search-form__btn {
      margin-bottom: 0;
    }

    &:not(.header_budget) {

      .menu__sub-menu {
        background: rgba(0,0,0,.4) !important;

        .sub-menu {
          background: rgba(0,0,0,.7) !important;
        }
      }
    }
  }

  &_budget {
    // background: url('../images/background/menu.jpg') no-repeat 50% 0 !important;
    // -moz-background-size: 100% 100% !important;
    // -o-background-size: 100% 100% !important;
    // background-size: 100% 100% !important;
  }

  &_opened {
    background: rgba(black, .3) !important;
    border: none !important;

    .header__open-menu {
      border-left: 1px solid rgba(255, 255, 255, .2) !important;
    }
  }

  &_mob {

    &__open-menu {
      display: block;
    }

    &__drop {
      display: none;
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      top: 68px;

      &::before {
        display: block;
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #000;
        background: rgba(0, 0, 0, .3);
      }
    }

    &__currency {
      display: block;
      left: 20px;
      right: 20px;
      top: 20px;

      .currency__item_right {
        margin-right: 18px;
        float: right;
      }
    }

    &__social {
      top: auto;
      bottom: 16px;
      right: 0;
      left: 0;
      padding: 20px 20px 0;
      border-top: 1px solid rgba(255, 255, 255, .2);

      ul {
        text-align: justify;
        height: 17px;

        &::before, &::after {
          display: block;
          content: '';
          width: 100%;
          height: 0;
        }

        &::after {
          display: inline-block;
        }
      }

      .social__item {
        display: inline-block;
        float: none;
        margin: 0;
      }
    }

    &__menu {
      top: 64px;
      width: 100%;

      .menu__item {
        float: none;
        margin: 0 0 15px;
        text-align: center;
      }

      .menu__a {
        font-size: 20px;
      }
    }

    &__link-for-blind {
      display: block;
      top: auto;
      bottom: 72px;
      left: 20px;
    }

    &__login {
      top: auto;
      bottom: 72px;
      right: 20px;
    }

    &__search-form {
      top: auto;
      bottom: 72px;
      right: 50%;
      margin-right: -8px;
      left: 20px;

      label {
        font-size: 15px !important;
      }

      .search-form__btn:not(.act)::after {
        display: none;
      }

      .search-form__form {
        padding-bottom: 0;
      }

      .search-form__text {
        font-size: 15px !important;
      }
    }
  }
}

@media (max-width: 1180px) {

  .link-for-blind {
    font-size: 0;
    height: 19px;
  }

  .link-for-blind::before {
    background-image: url('../images/sprite@2x.png');
    -moz-background-size: 480px auto;
    -o-background-size: 480px auto;
    background-size: 480px auto;
    background-repeat: no-repeat;
  }

  .header__menu {
    padding: 90px 130px 0 52px;
    margin: 0;
    top: auto;

    .menu__sub-menu {
      padding: 25px 0 9px 78px;
    }
  }

  .header_short .header__menu {
    margin-left: 0;
    padding-right: 80px;
  }

  .header__link-for-blind {
    top: 88px;
    left: 0;
  }

  .header__currency {
    right: auto;
    left: 237px;
    top: 30px;
    font-size: 20px;
  }

  .header__currency .currency__diff::after {
    top: 7px;
  }

  .header__social {
    top: 32px;
  }

  .header_short .header__search-form {
    left: 54px;
  }

  .header__login, .header__search-form  {
    top: 88px;
  }

  .header__logo {
    top: 22px;
  }

  .header_short .logo__lg, .header_short .logo__sm {
    bottom: 150px;
  }

  .header__logged {
    top: 80px;
  }

  .header_short .header__logged {
    top: 25px;
  }
}

@media (max-width: 950px) {
  .header {
    height: 175px;
  }
  .header_short {
    height: 105px;
  }
  .header__search-form .search-form__btn {
    margin-bottom: 40px;
  }

  .menu__a {
    font-size: 16px;
  }

  .menu__item {
    margin-right: 10px;
  }

  .header_short .menu__item {
    margin-right: 15px;
  }
}

@media (max-width: 900px) {

  .header__menu {
    margin-left: 0;
    padding-left: 0;
    padding-right: 0 !important;

    ul {
      text-align: justify;
    }
  }

  .header_short .header__menu {
    margin-left: 77px;
  }

  .header__link-for-blind {
    display: none;
  }

  .header__currency {
    display: none;
  }

  .header__social {
    right: 128px  ;
  }

  .header__login {
    top: 33px;
  }

  .header__search-form {
    top: 33px;
  }

  .header_short .menu__item {
    margin-right: 13px;
  }

  .header_short .menu__a {
    font-size: 15px;
  }

  .header_short .menu_logged .menu__item {
    margin-right: 10px;
  }

  .header_short .menu_logged .menu__a {
    font-size: 14px;
  }

  .header__logged {
    top: 23px;
  }

  .header_short .header__logged {
    top: 25px;
  }
}

@media (max-width: 800px) {

  .header {
    height: 67px !important;
  }

  .header__open-menu {
    display: block;
  }

  .header__logo {
    top: 12px !important;
  }

  .header__logo .logo__img {
    width: 38px;
    height: 46px;
    margin-right: 17px;
  }

  .header__logo .logo__lg {
    font-size: 19px;
    padding-top: 3px;
    bottom: 0 !important;
  }

  .header__logo .logo__sm {
    font-size: 15px;
    bottom: 0 !important;
  }

  .header__drop {
    display: none;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 68px;
  }

  .header__drop::before {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background: rgba(0, 0, 0, .3);
  }

  .header__currency {
    display: block !important;
    left: 20px !important;
    right: 20px !important;
    top: 20px !important;
  }

  .header__currency .currency__item_right {
    margin-right: 18px;
    float: right;
  }

  .header__social {
    top: auto !important;
    bottom: 20px;
    right: 0 !important;
    left: 0;
    padding: 20px 20px 0;
    border-top: 1px solid rgba(255, 255, 255, .2);
  }

  .header__social ul {
    text-align: justify;
    height: 17px;
  }

  .header__social ul::before, .header__social ul::after {
    display: block;
    content: '';
    width: 100%;
    height: 0;
  }

  .header__social ul::after {
    display: inline-block;
  }

  .header__social .social__item {
    display: inline-block;
    float: none;
    margin: 0;
  }

  .header__menu {
    margin: 74px 0 0 !important;
    top: 0 !important;
    width: 100%;
    padding: 0 !important;
  }

  .header__menu .menu__item {
    float: none;
    margin: 0 0 15px;
    text-align: center;
    height: auto;
    display: block;
  }

  .header__menu .menu__a {
    font-size: 24px;
  }

  .header__link-for-blind {
    display: block;
    top: auto;
    bottom: 72px;
    left: 20px;
    z-index: 5;
  }

  .header__login {
    top: auto;
    bottom: 72px;
    right: 20px;
  }

  .header__search-form {
    top: auto;
    bottom: 72px;
    right: 50%;
    margin-right: -8px;
    left: 20px;
  }

  .header__search-form label {
    font-size: 15px !important;
  }

  .header__search-form .search-form__btn:not(.act)::after {
    display: none;
  }

  .header__search-form .search-form__form {
    padding-bottom: 0;
  }

  .header__search-form .search-form__text {
    font-size: 15px !important;
  }

  .header__social {
    .social__a {
      width: 24px;
      height: 24px;
    }
    .social__a:after, .social__a:before {
      background-size: 640px auto;
    }
    .social__a_fb:after {
      background-position: 2px -121px;
    }
    .social__a_vk:before {
      background-position: -29px 0;
    }
    .social__a_vk:after {
      background-position: -29px -121px;
    }
    .social__a_tw:before {
      background-position: -61px 0;
    }
    .social__a_tw:after {
      background-position: -61px -121px;
    }
    .social__a_in:before {
      background-position: -90px 0;
    }
    .social__a_in:after {
      background-position: -90px -121px;
    }
    .social__a_ok:before {
      background-position: -117px 0;
    }
    .social__a_ok:after {
      background-position: -117px -121px;
    }
    .social__a_yt:before {
      background-position: -147px 0;
    }
    .social__a_yt:after {
      background-position: -147px -121px;
    }
  }

  .header__login {
    .login__btn {
      width: 24px;
      height: 23px;
    }
    .login__btn:after, .login__btn:before {
      background-size: 600px auto;
    }
    .login__btn:before {
      background-position: -21px -23px;
    }
    .login__btn:after {
      background-position: -96px -53px;
    }
  }

  .header__search-form {
    .search-form__btn {
      width: 24px;
      height: 24px;
      margin-bottom: 0;
    }
    .search-form__btn:before {
      background-position: 6px -18px;
    }
    .search-form__btn_act:before {
      background-position: -117px -45px;
    }
  }
}
