include ../../blocks/logo/logo
include ../../blocks/currency/currency
include ../../blocks/menu/menu
include ../../blocks/search-form/search-form
include ../../blocks/login/login

mixin header()
  +b.HEADER.header&attributes(attributes)
    +e.wrap.wrap
      // LOGO/
      +logo('header').header__logo
      +e.drop
        +e.A(href="#").link-for-blind.link-for-blind Версия для слабовидящих
        // CURRENCY/
        +currency().header__currency
        // MENU/
        +menu().header__menu
        // SOCIAL_BUTTONS/
        +e.social.social
          ul
            li.social__item
              a(href="#").social__a.social__a_fb
            li.social__item
              a(href="#").social__a.social__a_vk
            li.social__item
              a(href="#").social__a.social__a_tw
            li.social__item
              a(href="#").social__a.social__a_in
            li.social__item
              a(href="#").social__a.social__a_ok
            li.social__item
              a(href="#").social__a.social__a_yt
            li.social__item
              a(href="#").social__a.social__a_tg.fa.fa-telegram.fa-2
        // SEARCH_FORM/
        +search-form().header__search-form(style="height: 19px;")
        // LOGIN/
        +login().header__login
    +e.BUTTON.open-menu
