.toppanel {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;

  transform: translateY(-60px);
  @include transited;

  &.is-active {
    transform: translateY(0);
  }
}

.toppanel-is-active {
  transform: translateY(60px);
}

.sections {
  @include transited;
}
