mixin toppanel()
  +b.toppanel#toppanel&attributes(attributes)
    <iframe src="https://pevp.mos.ru/frame/v2/header.php?v=1.0.17&amp;site_id=2129&amp;is_search_main=0&amp;show_blind=1&amp;text=&amp;cur_domain=findep.mos.ru&amp;ref_url=http%3A%2F%2Ffindep.mos.ru%2F&amp;ref_parent_url= " frameborder="0" width="100%" scrolling="no" id="header__iframe" class="toppanel__frame top-panel-frame"></iframe>
