.background {
  width: 100%;
  background: url('../images/depfin-about-budjet/about-budjet-sys-bg.jpg') no-repeat;
  background-size: cover;
  padding: 165px 0 80px;
  font-weight: 500;
  overflow: hidden;

  &_cards {
    background-image: url('../images/depfin-about-budjet/about-budjet-cards-bg.jpg');
  }
}
