body {
	background-attachment: scroll;
	background-image: url(../img/header-bg.png);
	background-repeat: no-repeat;
	background-position: center top;
}
h1, h2, h3, h4 {
	font-family: 'Noto Sans',sans-serif;
	font-weight: 400;
}
.logo-bg {
    margin: 55px 0 95px;
	color: #FFF;
}
.container {
    /*max-width: 1018px;
	width: 1018px;*/
}
li {
	margin: 10px 0;
}
.well {
  margin: 0px 15px;
}
.affix {
	width: 255px;
	top: 0;
}
#nav {
	padding-top: 40px;
}
#nav ul {
  list-style: none;
  padding-left: 0;
}
.nav > li > a {
    padding: 0;
}
.navbar-inner {
  background-color: #F5F5F5;
  border: 1px solid #E3E3E3;
  border-radius: 6px;
  padding: 20px;
}
.navbar-inner > ul > li {
  margin: 0;
  padding-bottom: 6px;
}
.navbar-inner > ul > li.active,
.navbar-inner > ul > li.active li.active {
  font-weight: bold;
  color: #333;
}
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li li > a:hover,
.nav > li li > a:focus {
  background-color: transparent !important;
  text-decoration: none;
}
.navbar-inner > ul > li.active > a,
.navbar-inner > ul > li.active li.active > a {
  color: #333;
}
.navbar-inner > ul > li.active li {
  font-weight: normal;
}

.navbar-inner > ul > li a {
  /*padding: 5px 0px;*/
  display: block;
}
.navbar-inner > ul ul > li
 {
    font-size: 90%;
    padding-left: 20px;
}
.blue, .green, .red {
  font-weight: bold;
}
.blue, .blue .pln, .blue > .str {
  color: blue;
}
.green, .green .lit {
  color: green;
}
.red, .red .lit {
  color: red;
}
img {
  max-width: 100%;
}
/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Variations */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

@media (max-width: 992px) {
  .affix {
    width: 100% !important;
    position: inherit !important;
  }
}