extends ../../layouts/default
include ../../components/polls-result/polls-result

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections('_polls')

    block content
      +polls-result()
      +popup-wrapper()
      +footer()
      +button-top()
