include ../link/link

mixin question()
  +b.question&attributes(attributes)
    +e.row
      +e.name Иван Иванов
      +e.date 19.09.2016
    +e.P.message 
      | Почему осенью убирают листья в мешки? Листьям там не нравится, им так скучно и темно! Плюс вопрос
      | необходимого удобрения почты для перегноя, вы что? Прекратите собирать листья! 
    +e.row
      +icon('share-option').icon
      +e.reply-name Департамент финансов города Москвы
    +e.P.reply
      | Листья, опадающие осенью с деревьев – не мусор. Разлагаясь в почве, они добавляют в нее минеральные
      | и органические вещества, накопленные за лето. Медленно разлагающиеся части листа (жилки, черенки),
      | структурируют почву, улучшая ее качество. Постепенная деструкция опавшей листвы создает условия для
      | развития почвенной микрофлоры и фауны, которая, с одной стороны, выполняет работу по переработке листьев,
      | с другой стороны, препятствует развитию патогенных для деревьев организмов (грибковые, бактериальные
      | заболевания деревьев). Городские деревья очень подвержены различным заболеваниям. Редко встретишь
      | здоровое дерево, а как трудно вырастить молодое дерево! Лишь немногие из саженцев приживаются
      | в городской среде и достигают «взрослого» возраста. Одна из главных причин этого – качество городских
      | почв. В лесу никто не готовит почву – природа делает её сама из ежегодно получаемого материала –
      | опавшей листвы. Лесная подстилка – фабрика по изготовлению лесной почвы, питающей деревья и оберегающая их здоровье. 
    +link()._dashed.question__link
      | Раскрыть полностью
