.personal-cab {
  display: block;
}

.lk {
  position: relative;
}

.lk-bg-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lk-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all .5s ease-in-out;

  &.active {
    opacity: 1;
  }

  img {
    @include fill-img;
    bottom: auto;
  }
}
