extends ../../layouts/default
include ../../blocks/lk-nav/lk-nav
include ../../blocks/tabs/tabs
include ../../components/questions/questions
include ../../components/header/header
include ../../components/documents-cards/documents-cards
include ../../components/lk-services-second/lk-services-second
include ../../components/profile/profile
include ../../components/profile-edit/profile-edit

block head
  - var pageTitle = 'Личный кабинет'

block page
  block header
    +header()

  block sections
    +sections()

      block content
        .lk.lk_questions
          .lk-bg-container
            //.lk-bg(data-tab-bg="questions").active
              img(src="assets/images/profile/profile-bg-questions.jpg")
            .lk-bg(data-tab-bg="services")
              img(src="assets/images/profile/profile-bg-services.jpg")
            .lk-bg(data-tab-bg="cards")
              img(src="assets/images/profile/profile-bg-questions.jpg")
            .lk-bg(data-tab-bg="profile")
              img(src="assets/images/profile/profile-bg-profile.jpg")
            .lk-bg(data-tab-bg="profile-edit")
              img(src="assets/images/profile/profile-bg-profile-edit.jpg")
                
          .wrapper_lk.page-content-wrapper
            +lk-nav("", 1)
            +tabs
              +tabs-tab(data-tab-group="lktabs" data-tab="profile").active
                +profile()
              +tabs-tab(data-tab-group="lktabs" data-tab="profile-edit")
                +profile-edit()
              //+tabs-tab(data-tab-group="lktabs" data-tab="questions")
                +questions()
              +tabs-tab(data-tab-group="lktabs" data-tab="cards")
                +documents-cards()
              +tabs-tab(data-tab-group="lktabs" data-tab="services")
                +lk-services-second()
        +footer()
        
  +popup-wrapper()

  script(src="assets/scripts/js/jquery-3.1.1.min.js")
  script(src="assets/scripts/js/library.js")
  script(src="assets/scripts/js/header/easing.min.js")
  script(src="assets/scripts/js/header/swipe.min.js")
  script(src="assets/scripts/js/header/slick.min.js")
  script(src="assets/scripts/js/header/jquery-ui.min.js")
  script(src="assets/scripts/js/header/jquery.validate.min.js")
  script(src="assets/scripts/js/header/sections.min.js")
  script(src="assets/scripts/js/header/cube.min.js")
  script(src="assets/scripts/js/header/animation.min.js")
  script(src="assets/scripts/js/header/label.min.js")
  script(src="assets/scripts/js/header/select.min.js")
  script(src="assets/scripts/js/header/popup.min.js")
  script(src="assets/scripts/js/header/share.min.js")
  script(src="assets/scripts/js/header/form.min.js")
  script(src="assets/scripts/js/header/letter.min.js")
  script(src="assets/scripts/js/header/common.min.js")
  script(src="assets/scripts/js/header/diagram.min.js")
  script(src="assets/scripts/js/script.js")
  script(src="assets/scripts/js/owl.carousel.min.js")
  script(src="assets/scripts/js/ez.js")
  script(src="assets/scripts/js/main-page.js")
