mixin search-form()
  +b.search-form&attributes(attributes)
    +e.BUTTON.btn
    +e.FORM(action="s.php", method="POST").form
      label(for="i-search").overlabel
      +e.INPUT(id="i-search", type="text", name="search").text
      +e.INPUT(type="submit", value="").submit
