.moscow-sources {
  display: block;


  .ar-right, .ar-left {
    @media screen and (max-width: 1140px) {
      background: #fee300 url('../images/ar-left_2.svg') 50% center no-repeat;
      background-size: 11px;
      width: 45px;
      height: 45px;
      position: absolute;
      top: 60%;
      margin-top: 286px;
      cursor: pointer;
      z-index: 5;
    }

    @media screen and (max-width: 970px) {
      background-size: 14px;
      width: 38px;
      height: 69px;
      margin-top: 356px;
    }

    @media screen and (max-width: 550px) {
      background-size: 10px;
      width: 24px;
      height: 49px;
      margin-top: 513px;
    }
  }

  .ar-left {
    @media screen and (max-width: 1140px) {
      left: 0;
    }
  }

  .ar-right {
    @media screen and (max-width: 1140px) {
      right: 0;
      transform: rotate(180deg);
    }
  }

  .analityc-control-group._level {
    margin-right: 30%;
  }

  .analityc-control-group._dp {
    display: inline-block;
    margin-top: 30px;
    margin-left: 0;
  }

  .analityc-control-buttons {
    margin-left: 0;
    margin-right: 29px;

    @media (max-width: 1140px) {
      margin-right: 20px;
    }
  }

  .analityc-control-switcher {
    display: none;
    margin-left: 0;
    margin-top: 29px;
  }

  .analityc-widget-sources {
    margin-top: 78px;
    text-align: center;
    display: none;
  }

  .analityc-widget-sources_done._active,
  .analityc-widget-sources_changes._active,
  .analityc-widget-sources_approved._active,
  .analityc-widget-sources_date._active,
  .analityc-widget-sources_table._active {
    display: block;
  }

  &__diagram-title {
    font-family: $PFDinCondensedPro;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 45px;
  }

  &__diagram-content {
    margin-bottom: 120px;
  }

  .linear-diagram {
    font-weight: 500;
    text-align: left;
    margin-bottom: 6px;

    &__sources {
      color: #000000;
      font-family: $PFDinTextPro;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      margin-right: 25px;
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      width: 24%;

      &_bold {
        font-weight: 700;
      }

      &_violet {
        color: #bb417b;
      }

      &_blue {
        color: #00ade9;
      }

      &_pink {
        color: #783ca8;
      }

      &_green {
        color: #38b264;
      }

      &_italic {
        font-style: italic;
      }
    }

    &__block {
      border: 1px solid $color-black;
      width: 685px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }

    &__wave {
      fill: $color-white;
      stroke: #e1e0e0;
      position: absolute;
      width: 14px;
      height: 37px;
      left: 14px;
      top: -3px;
      z-index: 2;
    }

    &__fill {
      width: 350px;
      height: 30px;
      background-image: linear-gradient(to right, #ff0036, #021398 100%);
      position: relative;
      cursor: pointer;
      transition: all 1s ease;

      &_abs {
        position: absolute !important;
        width: 75px !important;
        border-radius: 2px;
        right: 27px;
        z-index: 1;
        display: none;

        @media (max-width: 1140px) {
          left: 27px;
          right: 0;
        }

        &::after {
          @include pseudo;
          top: 50%;
          transform: translateY(-50%);
          right: -17px;
          border: 10px solid transparent;
          border-left: 10px solid #0062d5;

          @media (max-width: 1140px) {
            right: 73px;
            border-left: none;
            border-right: 10px solid #00f7fd;
          }
        }
      }
    }

    &__value {
      position: absolute;
      right: 12px;
      top: 8px;
      color: $color-white;
      font-family: $PFDinCondensedPro;
      font-size: 14px;
      opacity: 1;
      z-index: 1;

      @media (max-width: 500px) {
        font-size: 12px;
        top: 9px;
        right: 5px;
      }
    }

    &__val {
      display: inline-block;
      margin-left: 43px;
      vertical-align: middle;
      font-size: 14px;

      @media (max-width: 680px) {
        margin-left: 5px;
      }
    }
  }
  .linear-diagram_sources {

    .linear-diagram__block {
      @media (max-width: 1140px) {
        width: 85%;
      }
    }

    .linear-diagram__fill {
      @media (max-width: 1140px) {
        width: 45.9%;
      }
    }
  }

  .linear-diagram_shares {

    .linear-diagram__block {
      width: 215px;

      @media (max-width: 1140px) {
        width: 31%;
      }
    }

    .linear-diagram__fill {
      background-image: linear-gradient(to right, #9d308a 0%, #ff695b 100%);
      width: 105px;

      @media (max-width: 1140px) {
        width: 50%;
      }
    }
    .linear-diagram__value {
      @media (max-width: 500px) {
        font-size: 12px;
        top: 4px;
        right: 0;
        left: 5px;
        text-align: center;
      }
    }
  }

  .linear-diagram_budget-credits {
    margin-bottom: 29px;

    .linear-diagram__block {
      width: 21px;

      &:hover {
        .linear-diagram__fill_abs {
          display: block;
        }
      }

      @media (max-width: 1140px) {
        width: 3%;
      }
    }

    .linear-diagram__val {
      @media (max-width: 768px) {
        margin-left: 10px !important;
      }
    }

    .linear-diagram__fill {
      background-image: linear-gradient(to right, #00ffff 0%, #004ccf 100%);
      width: 7px;

      @media (max-width: 1140px) {
        width: 50%;
      }
    }
  }

  .linear-diagram_loans {
    height: 30px;
    margin-bottom: -6px;
    padding-bottom: 6px;
  }

  .linear-diagram_calls, .linear-diagram_repayment {

    .linear-diagram__block {
      width: 485px;

      @media (max-width: 1140px) {
        width: 71%;
      }
    }

    .linear-diagram__fill {
      background-image: linear-gradient(to right, #612292 0%, #bd84e9 100%);
      width: 252px;

      @media (max-width: 1140px) {
        width: 50%;
      }
    }
  }

  .linear-diagram_accumulation {

    .linear-diagram__block {
      width: 679px;

      @media (max-width: 1140px) {
        width: 93%;
      }
    }

    .linear-diagram__fill {
      background-image: linear-gradient(to right, #32d197 0%, #11a360 100%);
      width: 348px;

      @media (max-width: 1140px) {
        width: 50%;
      }
    }
  }

  .analityc-more {
    margin-top: 120px;
  }

  .analityc-graphics__toptext {
    width: 55%;

    @media (max-width: 980px) {
      display: none;
    }
  }

// TABLE
  .section__diagram-content {
    position: relative;
  }

  .table, .table_accepted {
    width: 100%;
    background-color: transparent;

    &__row {
      border: none;

      @media (max-width: 980px) {

        .table__data:nth-child(n+4) {
          display: none;
        }
      }

      @media (max-width: 700px) {

        .table__data:nth-child(n+3) {
          display: none;
        }
      }
    }

    &__title {
      display: table-cell;
      font-size: 14px;
    }

    &__data {
      width: 27.3%;
      display: table-cell;
      padding: 5px 0;

      @media (max-width: 680px) {
        width: 100%;
        display: block;
        text-align: left;
      }

      &_year {
        padding-bottom: 35px;
        font-size: 16px;
        position: relative;
        color: $color-black;
      }

      &_red {
        color: #ec1d48;
        position: relative;
        font-size: 24px;

        &::after {
          @include pseudo;
          height: 184px;
          width: 1px;
          right: calc(50% - 1px);
          background-color: #c9c9c9;
          top: 36px;
        }

        &::before {
          @include pseudo;
          top: 218px;
          border: 2px solid transparent;	border-top: 5px solid #c9c9c9;
          right: calc(50% - 2px);
        }

        @media (max-width: 760px) {
          &::after, &::before {
            display: none;
          }
        }
      }

      &_green {
        color: #85c53e;
        vertical-align: bottom;
        font-size: 24px;
      }
    }

    &__period-left,
    &__period-right {
      position: absolute;
      bottom: 100%;
      right: 0;
      height: 13px;
      border: 1px solid #d7d7d7;
      border-bottom: 0;
      margin-bottom: 7px;

      @media (max-width: 980px) {
        display: none;
      }
    }

    &__period-right {
      right: 50%;
      left: 0;
      border-left: 0;
    }

    &__period-left {
      left: 50%;
      right: 0;
      border-right: 0;
    }

    .linear-diagram {
      text-align: center;
      margin-bottom: 0;
      position: relative;
      display: inline-block;

      @media (max-width: 680px) {
        text-align: left;
      }

      &__fill {
        display: inline-block;
        vertical-align: middle;
        left: 50%;
        position: relative;

        @media (max-width: 680px) {
          left: 0;
          text-align: left;
        }

        &_extra {
          opacity: .5;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &__val {
        font-size: 14px;
      }

      &__wave {
        left: 4px;
      }

      &__sources {
        width: 18%;

        @media (max-width: 680px) {
          width: 100%;
          display: block;
          text-align: left;
        }
      }
    }

    &__deficit, &__total {
      .table__title {
        font-weight: 500;
      }
    }

    &__deficit {
      margin-bottom: 10px;
    }

    &__shares {
      .table__data {

        .linear-diagram__fill {
          width: 10px;
          background-image: linear-gradient(to right, #9d308a 0%, #ff695b 100%);

          &_extra {
            width: 17px;
          }
        }

        .linear-diagram__val_extra {
          margin-left: 51px;

          @media (max-width: 680px) {
            margin-left: 5px;
          }
        }

        &:last-child {
          .linear-diagram {
            &__fill {
              width: 17px;

              &_down {
                background-image: none;
                border: 1px solid $color-red;
              }
            }
          }
        }
      }
    }

    &__credits {

       .table__data {

        .linear-diagram {
          &__fill {
            width: 10px;
            background-image: linear-gradient(to right, #00ffff 0%, #004ccf 100%);

            &_extra {
              width: 17px;
            }

            &_abs {
              width: 41px !important;
              background-image: linear-gradient(to right, #00ffff 0%, #004ccf 100%);
              position: relative;
              cursor: pointer;
              transition: all 1s ease;
              height: 30px;
              right: 40px;

              @media (max-width: 1140px) {
                left: 30px;
                right: 0;
              }
            }
          }

          &__val_extra {
            margin-left: 81px;

            @media (max-width: 680px) {
              margin-left: 5px;
            }
          }

          &:hover {
            .linear-diagram__fill_abs {
              display: block;
            }
          }
        }

        &:nth-child(3) {
          .linear-diagram__fill {
            width: 21px;

            &_extra {
              width: 32px;
            }
          }

          .linear-diagram__value {
            right: 3px;
          }
        }

        &:last-child {
          .linear-diagram__val {
            margin-left: 35px;
          }
        }
      }
    }

    &__loans {
      .table__data {

        .linear-diagram__fill {
          width: 123px;
          background-image: linear-gradient(to right, #612292 0%, #bd84e9 100%);

          .linear-diagram__wave {
            &:nth-child(2) {
              left: 64px;
            }
          }
        }

        &:nth-child(2) {
          .linear-diagram__fill {
            left: inherit;

            &_extra {
              width: 130px;
              left: 0;
            }

            &_loan {
              left: 40px;
              @media (max-width: 680px) {
                left: 0;
              }
            }
          }

          &__val {
            margin-left: 50px;

            &_extra {
              margin-left: 45px;
            }
          }

          .linear-diagram {
            &__wave {
              left: 43px;
            }

            &__value {

              &:nth-child(4) {
                left: 4px;
                right: inherit;
              }
            }
          }
        }

        &:nth-child(3) {
          .linear-diagram {

            &__fill {
              width: 44px;
              left: -50%;

              &_extra {
                width: 61px;
              }

              &_loan2 {
                left: -50%;
              }
            }

            &__val {
              margin-left: 0;
              margin-right: 115px;
            }
          }
        }

        &:last-child {
          .linear-diagram {

            &__fill_extra {
              width: 20px;
              position: relative;
              left: -50%;
            }

            &__val_extra {
              margin-left: 0;
              margin-right: 48px;
            }
          }
        }
      }
    }

    &__sources {
      .table__data {

        .linear-diagram {

          &__fill {
            width: 121px;
            background-image: linear-gradient(to right, #b3dd34 0%, #30b069 100%);

            &_extra {
              width: 129px;
            }
          }

          &__val_extra {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -40px;
          }
        }

        &:nth-child(3) {
          .linear-diagram {
            &__fill {
              width: 82px;

              &_down {
                position: absolute;
                width: 13px;
                background-image: none;
                left: 100%;
                border: 1px solid #30b069;
                border-left: none;
              }
            }

            &__val_down {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: -45px;
            }
          }
        }

        &:nth-child(4) {
          .linear-diagram__fill {
            width: 42px;
          }
        }
      }
    }

    &__total {
      margin-top: 10px;

      .table__title {
        padding-top: 20px;
      }
    }
  }

  .table_proficit {
    width: 42%;

    @media (max-width: 1140px) {
      width: 100%;
    }

    .table {
      &__data {
        width: 58%;
        position: relative;

        &_arrowed {
          &::after {
            @include pseudo;
            height: 184px;
            width: 1px;
            right: calc(50% - 1px);
            background-color: #c9c9c9;
            top: 36px;
          }

          @media (max-width: 1024px) {
            &::after, &::before {
              display: none;
            }
          }

          &::before {
            @include pseudo;
            top: 218px;
            border: 2px solid transparent;	border-top: 5px solid #c9c9c9;
            right: calc(50% - 2px);
          }
        }
      }

      &__title {
        width: 42%;

        @media (max-width: 1280px) {
          display: table-cell;
          text-align: right;
        }
      }

      &__shares {

        .linear-diagram {
          &__fill {
            width: 10px !important;
          }
        }
      }

      &__credits {
        .linear-diagram {
          &__fill {
            width: 10px !important;
            left: 36%;
          }
        }
      }

      &__loans {

        .linear-diagram {
          &__fill {
            width: 62px !important;
            left: -50% !important;

            @media (max-width: 500px) {
              width: 30px !important;
            }
          }

          &__value {
            left: -20px !important;
            right: 0;

            @media (max-width: 500px) {
              left: 0 !important;
            }
          }

          &__wave {
            @media (max-width: 500px) {
              display: none;
            }
          }
        }
      }

      &__sources {

        .linear-diagram__fill {
          @media (max-width: 500px) {
            width: 70px;
          }
        }
      }
    }
  }

  .analityc-widget-sources_date {

    .linear-diagram__sources {
      @media (max-width: 1140px) {
        display: block;
        width: 100%;
        margin-right: 0;
        text-align: left;
        margin-bottom: 5px;
      }
    }

    .linear-diagram__val {
      margin-left: 10px;

      @media (max-width: 768px) {
        margin-left: -35px;
      }
    }
  }
}
