.moscow-sources {
  display: block;

  .page-header {
    margin-right: 10%;

    @media (max-width: 1140px) {
      margin-right: 0;
    }

    @media (max-width: 1140px) {
      padding-left: 75px;
      padding-right: 74px;
    }

    @media (max-width: 700px) and (min-width: 551px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 550px) {
      padding-left: 15px;
      padding-right: 15px;
    }

  }

  .wrapper {
    @media (max-width: 1140px) {
      padding: 0 !important;
    }
  }

  .ar-right, .ar-left {
    @media screen and (max-width: 980px) {
      background: #fee300 url('../images/ar-left_2.svg') 50% center no-repeat;
      background-size: 11px;
      width: 45px;
      height: 45px;
      position: fixed;
      top: 45%;
      cursor: pointer;
      z-index: 5;

      &.disabled {
        opacity: .5;
      }
    }

    @media screen and (max-width: 970px) {
      background-size: 14px;
      width: 38px;
      height: 69px;
    }

    @media screen and (max-width: 550px) {
      background-size: 10px;
      width: 24px;
      height: 49px;
    }
  }


  @media screen and (max-width: 768px) and (min-width: 551px) {
    .analityc-widgethead .analityc-select {

      &_disabled {
        background-color: #e5e5e5 !important;
      }
    }
  }
  .arr-switchclass {
    display: table-cell;

    @media screen and (max-width: 980px) {
      display: block;
    }
  }

  .ar {
    display: none;
  }

  .arr-hideclass {
    display: none;
  }

  .ar-left {
    @media screen and (max-width: 1140px) {
      left: 0;
    }
  }

  .ar-right {
    @media screen and (max-width: 1140px) {
      right: 0;
      transform: rotate(180deg);
    }
  }

  .analityc-widget {
    margin-top: 36px;
    margin-bottom: 55px;

    @media (max-width: 700px) and (min-width: 551px) {
      padding: 38px 40px 46px;
    }

    @media screen and (max-width: 450px) {
      padding: 22px 15px 28px;
    }

  }

  .analityc-control-button_graphics svg, .analityc-control-button_table svg {
    width: 29px;
  }

  .analityc-select {
    line-height: 30px;

    @media screen and (min-width:0\0) {
      background-image: none !important;
    }

    &_disabled {
      background-color: #e5e5e5!important;
    }
  }

  .analityc-control-buttons {
    margin-top: 30px;

    @media screen and (max-width: 1140px) {
      vertical-align: top;
      margin-top: 18px;
    }

    @media screen and (max-width: 900px) {
      margin-top: 25px;
      margin-right: 2%;
    }

    @media screen and (max-width: 760px) {
      margin-top: 17px;
      margin-right: 0;
    }


    @media screen and (max-width: 760px) and (min-width: 551px) {

      .analityc-control-button {
        width: inherit;
        height: inherit;
      }
    }
  }

  .analityc-control-group._level {
    margin-right: 30%;

    @media (min-width: 1020px) and (max-width: 1140px) {
      margin-right: 22%;
      margin-left: 2%;
      width: 28.1%;
    }

    @media screen and (max-width: 1020px) {
      margin-right: 2%;
      margin-left: 0;
      width: 38.1%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .analityc-select {
      width: 234px;
      width: calc(100% - 12px);
      background-position: 97% 13px;
    }
  }
  .analityc-control-switcher_big {
    display: none;
    margin-left: 2.6%;

    @media screen and (max-width: 1140px) {
      margin-top: 18px;
      vertical-align: top;
    }

    @media screen and (max-width: 900px) {
      margin-top: 25px;
    }

    @media screen and (max-width: 700px) {
      margin-top: 0;
      margin-left: 0 !important;
      a {
        line-height: 33px;
        padding: 0 40px;
      }
    }

    & a {
      @media screen and (max-width: 580px) {
        padding: 0;
      }
    }

  }

  .analityc-control-group._stage {
    .analityc-select {
      width: 338px;
      width: calc(100% - 12px);
      background-position: 98% 13px;
    }

    @media (max-width: 900px) and (min-width: 761px) {
      margin-left: 2.1%;
    }


  }

  .analityc-control-switcher_big.active {
    display: inline-block !important;
  }

  .analityc-control-group._year, .analityc-control-group._stage, .analityc-control-group._level {

    @media (max-width: 1140px) and (min-width: 1020px) {
      margin-bottom: 0;

    }
  }

  .analityc-control-group._dp {
    display: none;
    margin-top: 30px;
    margin-left: 3.2%;
    width: 361px;
    width: calc(33.6% - 1px);

    @media (max-width: 1140px) and (min-width: 901px) {
      width: 36.4%;
      margin-left: 2%;
      margin-top: 18px;
      vertical-align: top;
    }

    @media screen and (max-width: 900px) {
      margin-left: 0;
      margin-top: 25px;
      vertical-align: baseline;
      width: 100%;
    }

    &::before {
      background-position: -209px -116px;
      right: 12px;
    }

    &-alt {
      margin-left: 2.9%;
      margin-top: 30px;

       @media (max-width: 1140px) {
         margin-left: 1.9%;
         margin-top: 18px;
         .analityc-select {
           &_month {
             width: 28%;
           }
           &_year {
             width: 17%;
           }
         }
       }
       @media (width: 1024px) {
         width: calc(43.1% - 93px);
       }

       @media (max-width: 768px) {
         width: 100%;
         margin-top: 13px;
       }

       .analityc-select {
         margin-top: 0;
       }
    }

    &-alt.active {
      display: inline-block;
    }


    input {
      height: 30px !important;
      line-height: 30px;

      &::-webkit-input-placeholder {
        font-size: 14px;
      }
      &:-moz-placeholder {
        font-size: 14px;
      }
      &:-ms-input-placeholder {
        font-size: 14px;
        color: black;
      }
      @media screen and (max-width: 768px) {
        height: 52px!important;
        line-height: 50px!important;
        background-position: 98% 39%;
      }
      @media screen and (max-width: 580px) {
        height: 30px !important;
        line-height: 30px !important;
      }
    }
  }

  .analityc-control-buttons.active+.analityc-control-switcher {
    margin-left: 3.2%;

    @media (max-width: 1024px) and (min-width: 769px) {
      margin-left: 2%;
    }

    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }

  .datepicker {
    padding-left: 16px;
  }

  .analityc-control-group._dp.active {
    display: inline-block !important;
  }
  //
  // .analityc-control-group._dp {
  //   display: inline-block;
  //   margin-top: 30px;
  //   margin-left: 0;
  // }
  //
  // .analityc-control-buttons {
  //   margin-left: 0;
  //   margin-right: 29px;
  //
  //   @media (max-width: 1140px) {
  //     margin-right: 20px;
  //   }
  // }
  //
  // .analityc-control-switcher {
  //   display: none;
  //   margin-left: 0;
  //   margin-top: 29px;
  // }

  .section__ar {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 3000;
    width: 21px;
    height: 26px;
    padding: 5px;
    transition: all 0.5s ease-in-out;

    &_left {
      right: 101%;
      transform: rotate(180deg);
    }

    &_right {
      left: 101%;
    }

    &_disabled {
      opacity: 0;
    }
  }

  .analityc-widget-sources {
    position: relative;
    margin-top: 78px;
    text-align: center;
    display: none;
    margin-bottom: 130px;

    @media screen and (max-width: 1100px) {
      margin-top: 0;
      margin-bottom: 50px;
    }
  }

  .analityc-widget-sources.active{
    display: block;
  }

  input.datepicker {
    width: 339px;
    width: 100%;

    @media (max-width: 768px) and (min-width: 551px) {
      font-size: 20px;
    }
  }

  @mixin sources-table-slider($minWidth) {
    .table {
      min-width: $minWidth;
    }
    
    .analityc-table__wrapper {
      overflow-x: auto;
      overflow-y: hidden;
    }

    .section__ar {
      display: inline!important;
    }
  }

  .analityc-table {
    display: none;
    padding-left: 9px;
    margin-bottom: 77px;

    overflow-x: visible;
    overflow-y: visible;

    & .table {
      min-width: auto;
    }

    &_approved,
    &_date {
      @media screen and (max-width: 580px) {
        @include sources-table-slider(580px);
      }
    }

    &_changes {
      @media screen and (max-width: 900px) {
        @include sources-table-slider(980px);
      }
    }

    @media screen and (max-width: 1100px) {
      box-shadow: inset -15px 0px 12px 0px rgba(255,255,255,0.83);
    }
  }

  .analityc-table.active {
    display: block;
  }


  &__diagram-title {
    font-family: $PFDinCondensedPro;
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 43px;
    letter-spacing: -.45px
  }

  &__diagram-content {
    margin-bottom: 120px;
  }

  .linear-diagram {
    font-weight: 500;
    text-align: left;
    margin-bottom: 7px;

    &__sources {
      color: #000000;
      font-family: $PFDinTextPro;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      margin-right: 26px;
      text-align: right;
      display: inline-block;
      vertical-align: middle;
      width: 22.8%;

      &_bold {
        font-weight: 700;
      }

      &_violet {
        color: #bb417b;
      }

      &_blue {
        color: #00ade9;
      }

      &_pink {
        color: #783ca8;
      }

      &_green {
        color: #38b264;
      }

      &_italic {
        font-style: italic;
      }
    }

    &__block {
      border: 1px solid $color-black;
      width: 693px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }

    &__wave {
      fill: $color-white;
      stroke: #e1e0e0;
      position: absolute;
      width: 14px;
      height: 37px;
      left: 14px;
      top: -3px;
      z-index: 2;
      background: url('../images/wave.png') no-repeat;
    }

    &__fill {
      width: 350px;
      height: 28px;
      background-image: linear-gradient(to right, #ff0036, #021398 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ff0036', endColorstr='#021398');
      position: relative;
      cursor: pointer;
      transition: all 1s ease;

      &_abs {
        position: absolute !important;
        width: 75px !important;
        height: 25px;
        border-radius: 2px;
        right: 27px;
        z-index: 1;
        display: none;

        @media (max-width: 1140px) {
          left: 27px;
          right: 0;
        }

        &::after {
          @include pseudo;
          top: 50%;
          transform: translateY(-50%);
          right: -17px;
          border: 10px solid transparent;
          border-left: 10px solid #0062d5;

          // @media (max-width: 1140px) {
          //   right: 41px;
          //   border-left: none;
          //   border-right: 10px solid #00f7fd;
          // }
        }

        .linear-diagram__value {
          right: 13px;
          top: 8px;
        }
      }
    }

    &__value {
      position: absolute;
      right: 8px;
      top: 8px;
      color: $color-white;
      font-family: $PFDinCondensedPro;
      font-size: 14px;
      opacity: 1;
      z-index: 1;

      @media (max-width: 500px) {
        font-size: 12px;
        top: 9px;
        right: 5px;
      }
    }

    &__val {
      display: inline-block;
      margin-left: 43px;
      vertical-align: middle;
      font-size: 14px;

      @media (max-width: 680px) {
        margin-left: 5px;
      }
    }
  }
  .linear-diagram_sources {

    .linear-diagram__block {
      @media (max-width: 1140px) {
        width: 85%;
      }
    }

    .linear-diagram__fill {
      @media (max-width: 1140px) {
        width: 45.9%;
      }
    }
  }

  .linear-diagram_shares {

    .linear-diagram__block {
      width: 221px;

      @media (max-width: 1140px) {
        width: 31%;
      }
    }

    .linear-diagram__fill {
      background-image: linear-gradient(to right, #9d308a 0%, #ff695b 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9d308a', endColorstr='#ff695b');
      width: 105px;

      @media (max-width: 1140px) {
        width: 50%;
      }
    }
    .linear-diagram__value {
      @media (max-width: 500px) {
        font-size: 12px;
        top: 4px;
        right: 0;
        left: 5px;
        text-align: center;
      }
    }
  }

  .linear-diagram_budget-credits {
    margin-bottom: 27px;

    .linear-diagram__block {
      width: 21px;

      &:hover {
        .linear-diagram__fill_abs {
          display: block;
        }
      }

      @media (max-width: 1140px) {
        width: 3%;
      }
    }

    .linear-diagram__val {
      @media (max-width: 768px) {
        margin-left: 10px !important;
      }
    }

    .linear-diagram__fill {
      background-image: linear-gradient(to right, #00ffff 0%, #004ccf 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00ffff', endColorstr='#004ccf');
      width: 7px;

      @media (max-width: 1140px) {
        width: 50%;
      }

      &_abs::after {
        @media (max-width: 1140px) {
          right: 73px;
          border-left: none;
          border-right: 10px solid #00f7fd;
      }}
    }
  }

  .linear-diagram_loans {
    height: 30px;
    margin-bottom: -6px;
    padding-bottom: 6px;
  }

  .linear-diagram_calls, .linear-diagram_repayment {

    .linear-diagram__block {
      width: 491px;

      @media (max-width: 1140px) {
        width: 71%;
      }
    }

    .linear-diagram__fill {
      background-image: linear-gradient(to right, #612292 0%, #bd84e9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#612292', endColorstr='#bd84e9');
      width: 252px;

      @media (max-width: 1140px) {
        width: 50%;
      }
    }
  }

  .linear-diagram_accumulation {

    .linear-diagram__block {
      width: 685px;

      @media (max-width: 1140px) {
        width: 93%;
      }
    }

    .linear-diagram__fill {
      background-image: linear-gradient(to right, #32d197 0%, #11a360 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#32d197', endColorstr='#11a360');
      width: 348px;

      @media (max-width: 1140px) {
        width: 50%;
      }
    }

    .linear-diagram__value {
      margin-left: 8px;
    }
  }


  .analityc-graphics__periodtext {
    width: 55%;
    margin-top: -21px;
    z-index: 10;

    @media (max-width: 980px) {
      display: none;
    }
  }

  .toptext {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    right: 22px;
    top: -20px;
    color: #000;
  }

  .analityc-widget-sources_approved {
    .graphic__credits {
      .graphic__data:nth-child(3) { //ie fix
        .linear-diagram__fill {
            transform: translateX(50%);
            left: 0;

            @media (max-width: 680px) {
              transform: none;
            }
        }
      }
    }
  }

  .analityc-widget-sources_changes {
    margin-top: 40px;
    margin-bottom: 154px;

    .graphic__loans {
      .graphic__data:nth-child(3) {
        .linear-diagram__fill_loan2 {
            left: -50%;
            transform: none;
        }
      }
    }
  }

  .analityc-widget-sources_done, .analityc-widget-sources_approved {
    margin-top: 39px;
    margin-bottom: 155px;
  }


// TABLE
  .section__diagram-content {
    position: relative;
  }

  .graphic, .graphic_accepted {
    width: 100%;
    background-color: transparent;
    padding-right: 10px;
    margin-left: -9px;
    font-size: 14px;

    &__row {
      border: none;
      display: table;
      width: 100%;

      @media (max-width: 980px) {

        .graphic__data:nth-child(n+4) {
          display: none;
        }
      }

      @media (max-width: 980px) {

        .graphic__data:nth-child(n+3) {
          display: none;
        }
      }
    }

    &__title {
      display: table-cell;
      font-size: 16px;
    }

    &__data {
      width: 26.5%;
      display: table-cell;
      padding: 5px 0;
      transition: all 2s ease;

      @media (max-width: 680px) {
        width: 100%;
        display: block;
        text-align: left;
      }

      &_year {
        padding-bottom: 39px;
        font-size: 16px;
        position: relative;
        color: $color-black;

        @media (max-width: 1100px) {
          font-size: 24px;
        }
      }

      &_red {
        color: #ec1d48;
        position: relative;
        font-size: 24px;
        transform: translateY(-3px);

        &::after {
          @include pseudo;
          height: 208px;
          width: 1px;
          right: 50%;
          right: calc(50% - 1px);
          background-color: #c9c9c9;
          top: 36px;
        }

        &::before {
          @include pseudo;
          top: 243px;
          border: 2px solid transparent;	border-top: 5px solid #c9c9c9;
          right: 50%;
          right: calc(50% - 2px);
        }

        @media (max-width: 760px) {
          transform: none;
          &::after, &::before {
            display: none;
          }
        }

        &:last-child {
          &::after {
            right: 50%;
          }
        }
      }

      &_green {
        color: #85c53e;
        vertical-align: bottom;
        font-size: 24px;
      }
    }

    &__period-left,
    &__period-right {
      position: absolute;
      bottom: 100%;
      right: 0;
      height: 13px;
      border: 1px solid #d7d7d7;
      border-bottom: 0;
      margin-bottom: 2px;
      z-index: 5;

      @media (max-width: 980px) {
        display: none;
      }
    }

    &__period-right {
      right: 48%;
      left: 0;
      border-left: 0;
    }

    &__period-left {
      left: 51%;
      right: 0;
      border-right: 0;
    }

    .linear-diagram {
      text-align: center;
      margin-bottom: 0;
      position: relative;
      display: inline-block;

      @media (max-width: 680px) {
        text-align: left;
      }

      &__fill {
        display: inline-block;
        vertical-align: middle;
        left: 50%;
        position: relative;

        @media (max-width: 680px) {
          left: 0;
          text-align: left;
        }

        &_extra {
          opacity: .5;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      &__val {
        font-size: 14px;
      }

      &__wave {
        left: 6px;
      }

      &__sources {
        width: 21%;

        @media (max-width: 680px) {
          width: 100%;
          display: block;
          text-align: left;
        }
      }
    }

    &__deficit, &__total {
      .graphic__title {
        font-weight: 500;
      }
    }

    &__deficit {
      margin-bottom: 8px;
    }

    &__shares {
      margin-bottom: 6px;
      .graphic__data {

        .linear-diagram__fill {
          width: 10px;
          background-image: linear-gradient(to right, #9d308a 0%, #ff695b 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9d308a', endColorstr='#ff695b');

          &_extra {
            width: 17px;
          }
        }

        .linear-diagram__val_extra {
          margin-left: 51px;

          @media (max-width: 680px) {
            margin-left: 5px;
          }
        }

        &:last-child {
          .linear-diagram {
            &__fill {
              width: 17px;

              &_down {
                background-image: none;
                filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
                border: 1px solid $color-red;
                margin-left: 1px;
              }
            }
          }
        }
      }
    }

    &__credits {
      margin-bottom: 7px;

       .graphic__data {

        .linear-diagram {
          &__fill {
            width: 10px;
            background-image: linear-gradient(to right, #00ffff 0%, #004ccf 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00ffff', endColorstr='#004ccf');

            &_extra {
              width: 17px;
            }

            &_abs {
              width: 41px !important;
              background-image: linear-gradient(to right, #00ffff 0%, #004ccf 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#004ccf', endColorstr='#004ccf');
              position: relative;
              cursor: pointer;
              transition: all 1s ease;
              height: 30px;
              right: 40px;

              @media (max-width: 1140px) {
                left: -16px;
                right: 0;
              }
            }
          }

          &__val_extra {
            margin-left: 81px;

            @media (max-width: 680px) {
              margin-left: 7px;
            }
          }

          &:hover {
            .linear-diagram__fill_abs {
              display: block;
            }
          }
        }

        &:nth-child(3) {
          .linear-diagram__fill {
            width: 21px;

            &_extra {
              width: 32px;
            }
          }

          .linear-diagram__value {
            right: 3px;
          }

          .linear-diagram__val_extra {
            margin-left: 75px;
            @media (max-width: 680px) {
              margin-left: 9px;
            }
          }
        }

        &:last-child {
          .linear-diagram__val {
            margin-left: 35px;

            @media (max-width: 680px) {
              margin-left: 5px;
            }
          }
        }
      }
    }

    &__loans {
      margin-bottom: 13px;

      .graphic__data {

        .linear-diagram__fill {
          width: 123px;
          background-image: linear-gradient(to right, #612292 0%, #bd84e9 100%);
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#612292', endColorstr='#bd84e9');

          .linear-diagram__wave {
            &:nth-child(2) {
              left: 70px;
            }
          }
        }

        &:nth-child(2) {
          .linear-diagram__fill {
            left: inherit;

            &_extra {
              width: 130px;
              left: 0;
            }

            &_loan {
              left: 40px;

              @media (max-width: 680px) {
                margin-right: 7px;
                left: 0;
              }
            }
          }

          &__val {
            margin-left: 50px;

            &_extra {
              margin-left: 45px;
            }
          }

          .linear-diagram__val_extra {
            margin-left: 46px;

            @media (max-width: 680px) {
              left: 0;
              margin-left: 0;
            }
          }

          .linear-diagram {
            &__wave {
              left: 43px;
            }

            &__value {

              &:nth-child(4) {
                left: 4px;
                right: inherit;
              }
            }
          }
        }

        &:nth-child(3) {
          .linear-diagram {

            &__fill {
              width: 44px;
              left: 0;
              transform: translateX(-50%);

              @media (max-width: 680px) {
                transform: none;
              }

              &_extra {
                width: 61px;
                transform: translateX(-25%);
              }
            }

            &__val {
              margin-left: 0;
              margin-right: 115px;
              -ms-transform: translateX(0);
            }
          }
        }

        &:last-child {
          .linear-diagram {
            &__fill {
              -ms-transform: translateX(0)
            }

            &__fill_extra {
              width: 20px;
              position: relative;
              left: -50%;
              -ms-transform: translateX(0);
            }

            &__val_extra {
              margin-left: 0;
              margin-right: 48px;
            }
          }
        }
      }
    }

    &__sources {

      .graphic__title {
        line-height: 21px;
        padding-top: 2px;
      }

      .graphic__data {
        padding-top: 0;
        transform: translateY(-2px);

        .linear-diagram {

          &__fill {
            width: 122px;
            background-image: linear-gradient(to right, #b3dd34 0%, #30b069 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b3dd34', endColorstr='#30b069');
            transform: translateX(50%);
            left: 0;

            @media (max-width: 680px) {
              transform: none;
            }

            &_extra {
              width: 129px;
              transform: none;
            }
          }

          &__val_extra {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -40px;
          }
        }

        &:nth-child(3) {
          .linear-diagram {
            &__fill {
              width: 82px;

              &_down {
                position: absolute;
                width: 13px;
                filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
                background-image: none;
                left: 92%;
                border: 1px solid #30b069;
                border-left: none;
              }
            }

            &__val_down {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 70%;

              @media (max-width: 680px) {
                left: 106%;
              }
            }
          }
        }

        &:nth-child(4) {
          .linear-diagram__fill {
            width: 42px;
          }
        }
      }
    }

    &__total {
      margin-top: 23px;

      .graphic__title {
        line-height: 20px;
        letter-spacing: 0.2px;
        padding-top: 0px;
        transform: translateX(-1px);
      }
    }
  }

  .graphic_proficit {
    width: 80.5%;
    min-width: inherit !important;

    @media (max-width: 1140px) {
      width: 100%;
    }

    .graphic {
      &__data {
        width: 58%;
        position: relative;

        &_arrowed {
          &::after {
            @include pseudo;
            height: 209px;
            width: 1px;
            right: 50%;
            right: calc(50% - 1px);
            background-color: #c9c9c9;
            top: 36px;
          }

          @media (max-width: 680px) {
            &::after, &::before {
              display: none;
            }
          }

          @media (min-width: 320px) and (max-width: 680px) {
            width: 100% !important;
            display: block !important;
            text-align: left !important;
          }

          &::before {
            @include pseudo;
            top: 243px;
            border: 2px solid transparent;	border-top: 5px solid #c9c9c9;
            right: 50%;
            right: calc(50% - 2px);
          }
        }
      }

      &__title {
        width: 21%;

        @media (max-width: 1280px) {
          display: table-cell;
          text-align: right;
        }

        @media (min-width: 320px) and (max-width: 680px) {
          width: 100% !important;
          display: block !important;
          text-align: left !important;
        }
      }

      &__shares {

        .linear-diagram {
          &__fill {
            width: 10px !important;
          }
        }
      }

      &__credits {
        .linear-diagram {
          &__fill {
            width: 10px !important;
            left: -50%;

            @media (min-width: 320px) and (max-width: 680px) {
              left: 0;
            }
          }

          &__val {
            margin-left: 43px;
            transform: translateX(-178%);

            @media (min-width: 320px) and (max-width: 680px) {
              transform: none;
            }
          }
        }
      }

      &__loans {

        .linear-diagram {
          &__fill {
            width: 62px !important;
            transform: translateX(-50%) !important;

            @media (min-width: 501px) and (max-width: 680px) {
              transform: none !important;
              left: 0;
            }

            @media (max-width: 500px) {
              width: 30px !important;
              transform: none !important;
            }
          }

          &__value {
            left: -20px !important;
            right: 0;

            @media (min-width: 501px) and (max-width: 680px) {
              left: 6px !important;
            }

            @media (max-width: 500px) {
              left: 2px !important;
            }
          }

          &__wave {
            @media (max-width: 500px) {
              display: none;
            }
          }
        }
      }

      &__sources {

        .linear-diagram__fill {
          width: 140px;

          @media (max-width: 980px) {
            width: 121px;
          }

          @media (max-width: 500px) {
            width: 70px;
          }
        }
      }
    }
  }

  .analityc-widget-sources_date {

    .linear-diagram__sources {
      @media (max-width: 1140px) {
        display: block;
        width: 100%;
        margin-right: 0;
        text-align: left;
        margin-bottom: 5px;
      }
    }

    .linear-diagram__val {
      margin-left: 12px;

      @media (max-width: 768px) {
        margin-left: -35px;
      }
    }
  }

  .analityc-more {
    margin-top: 0;
  }

  .dropdown-block::before {
    display: none;
  }
}
