include ../page-header/page-header
include ../../blocks/grid/grid
include ../../blocks/table/table
include ../analityc-widgethead/analityc-widgethead
include ../analityc-table/analityc-table
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/slide-arrows/slide-arrows

mixin budget_moscow_sources()
  +b.SECTION.section.main._basic.basic-budget.moscow-sources.sections__item
      //.ar.ar-left.disabled
      //.ar.ar-right
      .wrapper-header
        +page-header('Источники финансирования дефицита бюджета', ['Бюджет Москвы'], true)
        .article-controls
          span
          span
          span

      .wrapper
        .analityc-widget.analityc-widget_sources.load-anim-fade(data-delay="1500")
          +analityc-widgethead-sources()
          .analityc-widget-sources.analityc-widget-sources_date(data-stage='date')
            H3.moscow-sources__diagram-title Исполнение доходов бюджета на
              SPAN.js-dp-output.js-dp-output_others.active 22.04.2017
              SPAN.js-dp-output.js-dp-output_cons 1 февраля 2017
            P.toptext МЛРД РУБ.
            .linear-diagrams
              +slide-arrows.linear-diagrams__slide-arrows
              .linear-diagrams__wrapper(data-offset='100')
                +b.linear-diagram_redblue
                  +e.H4.sources_bold Всего по источникам финансирования дефицита
                  +e.wrapper
                    +e.block(data-width="91")
                      +e.SPAN.wave
                      +e.fill(data-width="45.9")
                        +e.SPAN.value 100,0 (45,9%)
                      +e.SPAN.value._out 217,9
                +b.linear-diagram_pink
                  +e.H4.sources._pink Средства от продажи акций
                  +e.wrapper
                    +e.block(data-width="29")
                      +e.fill(data-width="50")
                        +e.SPAN.value -25,0 (-50%)
                      +e.SPAN.value._out 50,0
                +b.linear-diagram_blue
                  +e.H4.sources._blue Возврат бюджетных кредитов
                  +e.wrapper
                    +e.block(data-width="3")
                      +e.fill(data-width="50")
                        +e.fill-hover
                          +e.fill-abs
                            +e.SPAN.value._abs 5,0 (50%)
                      +e.SPAN.value._out 10,0
                +b.linear-diagram_violet._group-head
                  +e.H4.sources._violet Заемные средства
                +b.linear-diagram_violet
                  +e.H4.sources._italic._violet привлечение
                  +e.wrapper
                    +e.block(data-width="65")
                      +e.fill(data-width="50")
                        +e.SPAN.value 30,0
                      +e.SPAN.value._out 0,0
                +b.linear-diagram_violet
                  +e.H4.sources._italic._violet погашение
                  +e.wrapper
                    +e.block(data-width="65")
                      +e.fill(data-width="50")
                        +e.SPAN.value 0,0
                      +e.SPAN.value._out 0,0
                +b.linear-diagram_green
                  +e.H4.sources._green Накопление остатков средств бюджета
                  +e.wrapper
                    +e.block(data-width="90")
                      +e.SPAN.wave
                      +e.fill(data-width="50")
                        +e.SPAN.SPAN.value 187,0 (110%)
                      +e.SPAN.value._out 170,0
          
          +analityc-table-slider(100, 'Исполнение доходов бюджета на')._date._sticky-arrows(data-stage='date')
            +table-sources(getData('sources'))
          
          .analityc-widget-sources.analityc-widget-sources_approved.active(data-stage='approved')
            .ar.ar-left.ar-left_approved
            .ar.ar-right.ar-right_approved
            p.analityc-graphics__periodtext
              span Плановый период
            P.toptext МЛРД РУБ.
            +b.graphic._accepted.swiper-container.swiper-container-approved
              +e.wrapper.swiper-wrapper
              
                +e.slide.swiper-slide
                  +e.row._caption
                    +e.SPAN.title.linear-diagram__sources
                    +e.SPAN.data._year(data-char='2017') 2017
                  +e.row.__deficit
                    +e.title.linear-diagram__sources Дефицит
                    +e.SPAN.data_red._arrowed(data-char='2017') -217,9
                      +e.SPAN.data-arrow
                  +e.row.__shares
                    +e.title.linear-diagram__sources_pink Средства от продажи акций
                    +e.data(data-char='2017')
                      +b.linear-diagram._pink
                        +e.fill
                          +e.fill-pos(data-width="10")
                            +e.SPAN.value._out 1,0
                  +e.row.__credits
                    +e.title.linear-diagram__sources_blue Возврат бюджетных кредитов
                    +e.data(data-char='2017')
                      +b.linear-diagram._blue
                        +e.fill
                          +e.fill-pos(data-width="10")
                            +e.SPAN.value._out 0,1
                  +e.row.__loans
                    +e.title.linear-diagram__sources_violet Заемные средства
                    +e.data(data-char='2017')
                      +b.linear-diagram._violet
                        +e.fill
                          +e.fill-neg(data-width="71")
                            +e.SPAN.wave                          
                            +e.SPAN.value -25,7
                          +e.fill-pos(data-width="71")
                            +e.SPAN.wave
                            +e.SPAN.value -25,7
                  +e.row.__sources
                    +e.title.linear-diagram__sources_green Использование остатков средств бюджета
                    +e.data(data-char='2017')
                      +b.linear-diagram._lightgreen
                        +e.fill
                          +e.fill-pos(data-width="102")
                            +e.SPAN.wave
                            +e.SPAN.value 216,9
                  +e.row.__total
                    +e.title.linear-diagram__sources Всего по источникам финансирования дефицита
                    +e.SPAN.data_green(data-char='2017') +217,9
                    
                +e.slide._mobile.swiper-slide
                  +e.row._caption
                    +e.SPAN.title.linear-diagram__sources
                    +e.SPAN.data._year(data-char='2018') 2018
                      +e.SPAN.period-left
                  +e.row.__deficit
                    +e.title.linear-diagram__sources Дефицит
                    +e.SPAN.data_red._arrowed(data-char='2018') -88,9
                      +e.SPAN.data-arrow
                  +e.row.__shares
                    +e.title.linear-diagram__sources_pink Средства от продажи акций
                    +e.data(data-char='2018')
                      +b.linear-diagram._pink
                        +e.fill
                          +e.fill-pos(data-width="10")
                            +e.SPAN.value._out 1,0
                  +e.row.__credits
                    +e.title.linear-diagram__sources_blue Возврат бюджетных кредитов
                    +e.data(data-char='2018')
                      +b.linear-diagram._blue
                        +e.fill
                          +e.fill-pos(data-width="21")
                            +e.SPAN.value 5,6
                  +e.row.__loans
                    +e.title.linear-diagram__sources_violet Заемные средства
                    +e.data(data-char='2018')
                      +b.linear-diagram._violet
                        +e.fill
                          +e.fill-neg(data-width="44")
                            +e.SPAN.value -4,3
                  +e.row.__sources
                    +e.title.linear-diagram__sources_green Использование остатков средств бюджета
                    +e.data(data-char='2018')
                      +b.linear-diagram._lightgreen
                        +e.fill
                          +e.fill-pos(data-width="82")
                            +e.SPAN.wave
                            +e.SPAN.value 86,3
                  +e.row.__total
                    +e.title.linear-diagram__sources Всего по источникам финансирования дефицита
                    +e.SPAN.data_green(data-char='2018') +88,5
                    
                +e.slide._mobile.swiper-slide
                  +e.row._caption
                    +e.SPAN.title.linear-diagram__sources
                    +e.SPAN.data._year(data-char='2019') 2019
                      +e.SPAN.period-right
                  +e.row.__deficit
                    +e.title.linear-diagram__sources Дефицит
                    +e.SPAN.data_red._arrowed(data-char='2019') -9,7
                      +e.SPAN.data-arrow
                  +e.row.__shares
                    +e.title.linear-diagram__sources_pink Средства от продажи акций
                    +e.data(data-char='2019')
                      +b.linear-diagram._pink
                        +e.fill
                          +e.fill-pos(data-width="17")
                            +e.SPAN.value._out 1,0
                  +e.row.__credits
                    +e.title.linear-diagram__sources_blue Возврат бюджетных кредитов
                    +e.data(data-char='2019')
                      +b.linear-diagram._blue
                        +e.fill
                          +e.fill-pos(data-width="10")
                            +e.SPAN.value._out 0,4
                  +e.row.__loans
                    +e.title.linear-diagram__sources_violet Заемные средства
                    +e.data(data-char='2019')
                      +b.linear-diagram._violet
                  +e.row.__sources
                    +e.title.linear-diagram__sources_green Использование остатков средств бюджета
                    +e.data(data-char='2019')
                      +b.linear-diagram._lightgreen
                        +e.fill
                          +e.fill-pos(data-width="42")
                            +e.SPAN.value 8,4
                  +e.row.__total
                    +e.title.linear-diagram__sources Всего по источникам финансирования дефицита
                    +e.SPAN.data_green(data-char='2019') +9,7
          
          +analityc-table-slider(100)._approved._sticky-arrows(data-stage='approved')
            +table-sources(getData('income'))
          
          .analityc-widget-sources.analityc-widget-sources_changes(data-stage='changes')
            .ar.ar-left.ar-left_changes
            .ar.ar-right.ar-right_changes
            p.analityc-graphics__periodtext
              span Плановый период
            P.toptext МЛРД РУБ.
            +b.graphic._accepted.swiper-container.swiper-container-changes
              +e.wrapper.swiper-wrapper
              
                +e.slide.swiper-slide
                  +e.row._caption
                    +e.SPAN.title.linear-diagram__sources
                    +e.SPAN.data._year(data-char='2017') 2017
                  +e.row.__deficit
                    +e.title.linear-diagram__sources Дефицит
                    +e.SPAN.data_red._arrowed(data-char='2017') -217,9
                      +e.SPAN.data-arrow
                  +e.row.__shares
                    +e.title.linear-diagram__sources_pink Средства от продажи акций
                    +e.data(data-char='2017')
                      +b.linear-diagram._pink
                        +e.fill
                          +e.fill-pos(data-width="10")
                            +e.SPAN.value 1,0
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs 1,0
                            +e.fill-extra(data-width="7")
                              +e.SPAN.value._out +1,0
                  +e.row.__credits
                    +e.title.linear-diagram__sources_blue Возврат бюджетных кредитов
                    +e.data(data-char='2017')
                      +b.linear-diagram._blue
                        +e.fill
                          +e.fill-pos(data-width="10")
                            +e.SPAN.value 1,0
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs 1,0
                            +e.fill-extra(data-width="7")
                              +e.SPAN.value._out +1,0
                  +e.row.__loans
                    +e.title.linear-diagram__sources_violet Заемные средства
                    +e.data(data-char='2017')
                      +b.linear-diagram._violet
                        +e.fill
                          +e.fill-neg(data-width="71")
                            +e.SPAN.wave                          
                            +e.SPAN.value -25,7
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs -25,7
                          +e.fill-pos(data-width="71")
                            +e.SPAN.wave
                            +e.SPAN.value -25,7
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs -25,7
                            +e.fill-extra(data-width="7")
                              +e.SPAN.value._out +25,0
                  +e.row.__sources
                    +e.title.linear-diagram__sources_green Использование остатков средств бюджета
                    +e.data(data-char='2017')
                      +b.linear-diagram._lightgreen
                        +e.fill
                          +e.fill-pos(data-width="102")
                            +e.SPAN.wave
                            +e.SPAN.value 216,9
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs 216,9
                            +e.fill-extra(data-width="7")
                              +e.SPAN.value._out +10,0
                  +e.row.__total
                    +e.title.linear-diagram__sources Всего по источникам финансирования дефицита
                    +e.SPAN.data_green(data-char='2017') +217,9
                
                +e.slide._mobile.swiper-slide
                  +e.row._caption
                    +e.SPAN.title.linear-diagram__sources
                    +e.SPAN.data._year(data-char='2018') 2018
                      +e.SPAN.period-left
                  +e.row.__deficit
                    +e.title.linear-diagram__sources Дефицит
                    +e.SPAN.data_red._arrowed(data-char='2018') -88,9
                      +e.SPAN.data-arrow
                  +e.row.__shares
                    +e.title.linear-diagram__sources_pink Средства от продажи акций
                    +e.data(data-char='2018')
                      +b.linear-diagram._pink
                        +e.fill
                          +e.fill-pos(data-width="10")
                            +e.SPAN.value 1,0
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs 1,0
                            +e.fill-extra(data-width="7")
                              +e.SPAN.value._out +1,0
                  +e.row.__credits
                    +e.title.linear-diagram__sources_blue Возврат бюджетных кредитов
                    +e.data(data-char='2018')
                      +b.linear-diagram._blue
                        +e.fill
                          +e.fill-pos(data-width="21")
                            +e.SPAN.value 5,6
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs 5,6
                            +e.fill-extra(data-width="11")
                              +e.SPAN.value._out +1,0
                  +e.row.__loans
                    +e.title.linear-diagram__sources_violet Заемные средства
                    +e.data(data-char='2018')
                      +b.linear-diagram._violet
                        +e.fill
                          +e.fill-neg(data-width="44")
                            +e.SPAN.value -4,3
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs -4,3
                            +e.fill-extra(data-width="17")
                              +e.SPAN.value._out +2,5
                  +e.row.__sources
                    +e.title.linear-diagram__sources_green Использование остатков средств бюджета
                    +e.data(data-char='2018')
                      +b.linear-diagram._lightgreen
                        +e.fill
                          +e.fill-pos(data-width="82")
                            +e.SPAN.wave
                            +e.SPAN.value 86,3
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs 86,3
                              +e.fill-down(data-width="13")
                                +e.SPAN.value._out -10,0
                  +e.row.__total
                    +e.title.linear-diagram__sources Всего по источникам финансирования дефицита
                    +e.SPAN.data_green(data-char='2018') +88,5
                    
                +e.slide._mobile.swiper-slide
                  +e.row._caption
                    +e.SPAN.title.linear-diagram__sources
                    +e.SPAN.data._year(data-char='2019') 2019
                      +e.SPAN.period-right
                  +e.row.__deficit
                    +e.title.linear-diagram__sources Дефицит
                    +e.SPAN.data_red._arrowed(data-char='2019') -9,7
                      +e.SPAN.data-arrow
                  +e.row.__shares
                    +e.title.linear-diagram__sources_pink Средства от продажи акций
                    +e.data(data-char='2019')
                      +b.linear-diagram._pink
                        +e.fill
                          +e.fill-pos
                            +e.SPAN.value 1,0
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs 1,0
                              +e.fill-down(data-width="17")
                                +e.SPAN.value_out -1,0
                  +e.row.__credits
                    +e.title.linear-diagram__sources_blue Возврат бюджетных кредитов
                    +e.data(data-char='2019')
                      +b.linear-diagram._blue
                        +e.fill
                          +e.fill-pos(data-width="10")
                            +e.SPAN.value 0,4
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs 0,4
                            +e.SPAN.value._out 0,4
                  +e.row.__loans
                    +e.title.linear-diagram__sources_violet Заемные средства
                    +e.data(data-char='2019')
                      +b.linear-diagram._violet
                        +e.fill
                          +e.fill-neg(data-width="0")
                            +e.SPAN.value 0,0
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs 0,0
                            +e.fill-extra(data-width="20")
                              +e.SPAN.value._out +2,5
                  +e.row.__sources
                    +e.title.linear-diagram__sources_green Использование остатков средств бюджета
                    +e.data(data-char='2019')
                      +b.linear-diagram._lightgreen
                        +e.fill
                          +e.fill-pos(data-width="42")
                            +e.SPAN.value 8,4
                            +e.fill-hover
                              +e.fill-abs
                                +e.SPAN.value._abs 8,4
                  +e.row.__total
                    +e.title.linear-diagram__sources Всего по источникам финансирования дефицита
                    +e.SPAN.data_green(data-char='2019') +9,7
          
          +analityc-table-slider(100)._changes._sticky-arrows(data-stage='changes')
            +table-sources(getData('income1'))
          
          .analityc-widget-sources.analityc-widget-sources_done(data-stage='done')
            P.toptext МЛРД РУБ.
            +b.graphic._proficit
              +e.row._caption
                +e.SPAN.title.linear-diagram__sources
                +e.SPAN.data._year 2015
              +e.row.__deficit
                +e.title.linear-diagram__sources Профицит
                +e.SPAN.data_green._arrowed 143,4
                  +e.SPAN.data-arrow
              +e.row.__shares
                +e.title.linear-diagram__sources_pink Средства от продажи акций
                +e.data
                  +b.linear-diagram._pink
                    +e.fill
                      +e.fill-pos(data-width="10")
                        +e.SPAN.value._out 0,9
              +e.row.__credits
                +e.title.linear-diagram__sources_blue Возврат бюджетных кредитов
                +e.data
                  +b.linear-diagram._blue
                    +e.fill
                      +e.fill-neg(data-width="10")
                        +e.SPAN.value._out -1,2
              +e.row.__loans
                +e.title.linear-diagram__sources_violet Заемные средства
                +e.data
                  +b.linear-diagram._violet
                    +e.fill
                      +e.fill-neg(data-width="62")
                        +e.SPAN.wave
                        +e.SPAN.value -22,1
              +e.row.__sources
                +e.title.linear-diagram__sources_green Накопление остатков&nbsp;средств бюджета
                +e.data
                  +b.linear-diagram._lightgreen
                    +e.fill
                      +e.fill-pos(data-width="140")
                        +e.SPAN.wave
                        +e.SPAN.value 122,2
              +e.row.__total
                +e.title.linear-diagram__sources Всего по источникам финансирования дефицита
                +e.SPAN.data_green 143,4
          
          +analityc-table()._done(data-stage='done')
            +table-sources(getData('income2'))
          
          a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
      +dropdown().load-anim-fade(data-delay="1700")
