include ../page-header/page-header
include ../../blocks/grid/grid
include ../../blocks/table/table
include ../analityc-widgethead/analityc-widgethead
include ../analityc-table/analityc-table
include ../../blocks/dropdown-block/dropdown-block

mixin budget_moscow_sources()
  .main._basic
    +b.section.basic-budget.moscow-sources
      .ar.ar-left.disabled
      .ar.ar-right
      .wrapper
        +page-header('Источники финансирования дефицита бюджета', ['Бюджет Москвы'], true)
        .article-controls
          span
          span
          span
        .analityc-widget.analityc-widget_sources.load-anim-fade(data-delay="1500")
          +analityc-widgethead-sources()
          .analityc-widget-sources.analityc-widget-sources_date._active
            H3.moscow-sources__diagram-title Исполнение доходов бюджета на 22.04.2017
            +b.linear-diagram_sources
              +e.H4.sources_bold Всего по источникам финансирования дефицита
              +e.block
                +e.SPAN.wave
                +e.fill
                  +e.SPAN.value 100,0 (45,9%)
              +e.SPAN.val 217,9
            +b.linear-diagram_shares
              +e.H4.sources_violet Средства от продажи акций
              +e.block
                +e.fill
                  +e.SPAN.value 0,5 (50%)
              +e.SPAN.val 1,0
            +b.linear-diagram_budget-credits
              +e.H4.sources_blue Возврат бюджетных кредитов
              +e.block
                +e.fill_abs
                  +e.SPAN.value 0,05 (50%)
                +e.fill
              +e.SPAN.val 0,1
            +b.linear-diagram_loans
              +e.H4.sources_pink Заемные средства
            +b.linear-diagram_calls
              +e.H4.sources_pink._italic привлечение
              +e.block
                +e.fill
                  +e.SPAN.value 12,9 (50%)
              +e.SPAN.val 25,7
            +b.linear-diagram_repayment
              +e.H4.sources_pink._italic погашение
              +e.block
                +e.fill
                  +e.SPAN.value 12,9 (50%)
              +e.SPAN.val 25,7
            +b.linear-diagram_accumulation
              +e.H4.sources_green Накопление остатков средств бюджета
              +e.block
                +e.SPAN.wave
                +e.fill
                  +e.SPAN.SPAN.value 108,5 (50%)
              +e.SPAN.val 216,9
          +analityc-table()._changes.analityc-widget-sources-table_date
            +icon('angle-arrow').section__ar.section__ar_left
            +icon('angle-arrow').section__ar.section__ar_right
            .analityc-table__wrapper
              +table-income(getData('income1'))
          .analityc-widget-sources.analityc-widget-sources_approved
            p.analityc-graphics__periodtext
              span Плановый период
            +b.graphic._accepted
                +e.row._caption
                  +e.SPAN.title.linear-diagram__sources
                  +e.SPAN.data._year(data-char='2017') 2017
                  +e.SPAN.data._year(data-char='2018') 2018
                    +e.SPAN.period-left
                  +e.SPAN.data._year(data-char='2019') 2019
                    +e.SPAN.period-right
                +e.row.__deficit
                  +e.title.linear-diagram__sources Дефицит
                  +e.SPAN.data_red(data-char='2017') -217,9
                  +e.SPAN.data_red(data-char='2018') -88,9
                  +e.SPAN.data_red(data-char='2019') -9,7
                +e.row.__shares
                  +e.title.linear-diagram__sources_violet Средства от продажи акций
                  +e.data(data-char='2017')
                    +b.linear-diagram
                      +e.fill
                      +e.SPAN.val 1,0
                  +e.data(data-char='2018')
                    +b.linear-diagram
                      +e.fill
                      +e.SPAN.val 1,0
                  +e.data(data-char='2019')
                    +b.linear-diagram
                      +e.fill
                      +e.SPAN.val 1,0
                +e.row.__credits
                  +e.title.linear-diagram__sources_blue Возврат бюджетных кредитов
                  +e.data(data-char='2017')
                    +b.linear-diagram
                      +e.fill
                      +e.SPAN.val 0,1
                  +e.data(data-char='2018')
                    +b.linear-diagram
                      +e.fill
                        +e.SPAN.value 5,6
                  +e.data(data-char='2019')
                    +b.linear-diagram
                      +e.fill
                      +e.SPAN.val 0,4
                +e.row.__loans
                  +e.title.linear-diagram__sources_pink Заемные средства
                  +e.data(data-char='2017')
                    +b.linear-diagram
                      +e.fill
                        +e.SPAN.wave
                        +e.SPAN.wave
                        +e.SPAN.value -25,7
                        +e.SPAN.value -25,7
                  +e.data(data-char='2018')
                    +b.linear-diagram
                      +e.fill
                        +e.SPAN.value -4,3
                  +e.data(data-char='2019')
                    +b.linear-diagram
                +e.row.__sources
                  +e.title.linear-diagram__sources_green Использование остатков средств бюджета
                  +e.data(data-char='2017')
                    +b.linear-diagram
                      +e.fill
                        +e.SPAN.wave
                        +e.SPAN.value 216,9
                  +e.data(data-char='2018')
                    +b.linear-diagram
                      +e.fill
                        +e.SPAN.wave
                        +e.SPAN.value 86,3
                  +e.data(data-char='2019')
                    +b.linear-diagram
                      +e.fill
                        +e.value 8,4
                +e.row.__total
                  +e.title.linear-diagram__sources Всего по источникам финансирования дефицита
                  +e.SPAN.data_green(data-char='2017') +217,9
                  +e.SPAN.data_green(data-char='2018') +88,5
                  +e.SPAN.data_green(data-char='2019') +9,7
          +analityc-table()._changes.analityc-widget-sources-table_approved
            +icon('angle-arrow').section__ar.section__ar_left
            +icon('angle-arrow').section__ar.section__ar_right
            +table-income(getData('income1'))
          .analityc-widget-sources.analityc-widget-sources_changes
            p.analityc-graphics__periodtext
              span Плановый период
            +b.graphic._accepted
                +e.row._caption
                  +e.SPAN.title.linear-diagram__sources
                  +e.SPAN.data._year(data-char='2017') 2017
                  +e.SPAN.data._year(data-char='2018') 2018
                    +e.SPAN.period-left
                  +e.SPAN.data._year(data-char='2019') 2019
                    +e.SPAN.period-right
                +e.row.__deficit
                  +e.title.linear-diagram__sources Дефицит
                  +e.SPAN.data_red(data-char='2017') -217,9
                  +e.SPAN.data_red(data-char='2018') -88,9
                  +e.SPAN.data_red(data-char='2019') -9,7
                +e.row.__shares
                  +e.title.linear-diagram__sources_violet Средства от продажи акций
                  +e.data(data-char='2017')
                    +b.linear-diagram
                      +e.fill
                        +e.fill_extra
                      +e.SPAN.val_extra +1,0
                  +e.data(data-char='2018')
                    +b.linear-diagram
                      +e.fill
                        +e.fill_extra
                      +e.SPAN.val_extra +1,0
                  +e.data(data-char='2019')
                    +b.linear-diagram
                      +e.fill_down
                      +e.SPAN.val_down -1,0
                +e.row.__credits
                  +e.title.linear-diagram__sources_blue Возврат бюджетных кредитов
                  +e.data(data-char='2017')
                    +b.linear-diagram
                      +e.fill
                        +e.fill_extra
                      +e.SPAN.val_extra 0,1 (+0,1)
                  +e.data(data-char='2018')
                    +b.linear-diagram
                      +e.fill
                        +e.SPAN.value 5,6
                        +e.fill_extra
                      +e.SPAN.val_extra +1,0
                  +e.data(data-char='2019')
                    +b.linear-diagram
                      .linear-diagram__fill_abs
                        +e.SPAN.value 0,4
                      +e.fill
                      +e.SPAN.val 0,4
                +e.row.__loans
                  +e.title.linear-diagram__sources_pink Заемные средства
                  +e.data(data-char='2017')
                    +b.linear-diagram
                      +e.fill_loan
                        +e.SPAN.wave
                        +e.SPAN.wave
                        +e.SPAN.value -25,7
                        +e.SPAN.value -25,7
                        +e.fill_extra
                      +e.SPAN.val_extra +25,0
                  +e.data(data-char='2018')
                    +b.linear-diagram
                      +e.SPAN.val_extra +2,5
                      +e.fill_loan2
                        +e.SPAN.value -4,3
                        +e.fill_extra
                  +e.data(data-char='2019')
                    +b.linear-diagram
                      +e.SPAN.val_extra +2,5
                      +e.fill_extra
                +e.row.__sources
                  +e.title.linear-diagram__sources_green Использование остатков средств бюджета
                  +e.data(data-char='2017')
                    +b.linear-diagram
                      +e.fill
                        +e.SPAN.wave
                        +e.SPAN.value 216,9
                        +e.fill_extra
                        +e.SPAN.val_extra +10,0
                  +e.data(data-char='2018')
                    +b.linear-diagram
                      +e.fill
                        +e.fill_down
                        +e.SPAN.wave
                        +e.SPAN.value 86,3
                        +e.SPAN.val_down -10,0
                  +e.data(data-char='2019')
                    +b.linear-diagram
                      +e.fill
                        +e.value 8,4
                +e.row.__total
                  +e.title.linear-diagram__sources Всего по источникам финансирования дефицита
                  +e.SPAN.data_green(data-char='2017') +217,9
                  +e.SPAN.data_green(data-char='2018') +88,5
                  +e.SPAN.data_green(data-char='2019') +9,7
          +analityc-table()._changes.analityc-widget-sources-table_changes
            +icon('angle-arrow').section__ar.section__ar_left
            +icon('angle-arrow').section__ar.section__ar_right
            +table-income(getData('income1'))
          .analityc-widget-sources.analityc-widget-sources_done
            +b.graphic._proficit
              +e.row._caption
                +e.SPAN.title.linear-diagram__sources
                +e.SPAN.data._year 2015
              +e.row.__deficit
                +e.title.linear-diagram__sources Профицит
                +e.SPAN.data_green._arrowed 143,4
              +e.row.__shares
                +e.title.linear-diagram__sources_violet Средства от продажи акций
                +e.data
                  +b.linear-diagram
                    +e.fill
                    +e.SPAN.val 0,9
              +e.row.__credits
                +e.title.linear-diagram__sources_blue Возврат бюджетных кредитов
                +e.data
                  +b.linear-diagram
                    +e.SPAN.val -1,2
                    +e.fill
              +e.row.__loans
                +e.title.linear-diagram__sources_pink Заемные средства
                +e.data
                  +b.linear-diagram
                    +e.fill
                      +e.SPAN.wave
                      +e.SPAN.value -22,1
              +e.row.__sources
                +e.title.linear-diagram__sources_green Накопление остатков&nbsp;средств бюджета
                +e.data
                  +b.linear-diagram
                    +e.fill
                      +e.SPAN.wave
                      +e.SPAN.value 122,2
              +e.row.__total
                +e.title.linear-diagram__sources Всего по источникам финансирования дефицита
                +e.SPAN.data_green 143,4
          +analityc-table()._changes.analityc-widget-sources-table_done
            +icon('angle-arrow').section__ar.section__ar_left
            +icon('angle-arrow').section__ar.section__ar_right
            +table-income(getData('income1'))
          a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
      +dropdown().load-anim-fade(data-delay="1700")
