@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
//@import 'helpers/basics'; // Основные общие стили
@import 'helpers/full2';
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

html, body {
  line-height: 1;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.d-si-content {
  background: url('../images/depfin-services-interview/content-bg.jpg') no-repeat;
  background-size: cover;
    width: 100%;
}

.d-si-content_quiz {
  display: block;
  padding: 175px 0 80px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  box-sizing: border-box;
}

.d-si-content_polls-result {
  background-size: 100% 1900px;

  @media screen and (max-width: 1101px) {
    background-size: 100% 2100px;
  }

  @media screen and (max-width: 901px) {
    background-size: 100% 2300px;
  }

  @media screen and (max-width: 641px) {
    background-size: 100% 2500px;
  }
}

.d-layer {
  /*max-width: 1174px;*/
  max-width: none;
  margin: 0 auto;
  padding: 0 37px;

  @include clearfix;

}

.d-layer {
  max-width: none;
}

.d-layer_small {
  max-width: 1174px;
}

.buttons-set {
  font-size: 0;
}

.d-si__head {

  @media screen and (max-width: 1190px) {
    margin-bottom: 44px;
  }

  @media screen and (max-width: 760px) {
    margin-bottom: 26px;
  }
}

.carousel-count {
  display: inline-block !important;
  margin-bottom: -10px;
  margin-top: 20px;
}

@media screen and (max-width: 760px) {
  .d-layer {
    padding: 0 23px !important;
  }
}
@media screen and (max-width: 639px) {
  .d-layer {
    padding: 0 15px !important;
  }
}

.subscribe {
  margin-top: 0;
  padding-bottom: 0;
}

.lk {
  display: block;
  width: 100%;
  background: url('../images/background-q.png') no-repeat;
  background-size: cover;
  background-position: center 0;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  box-sizing: border-box;

  @include clearfix;

  @include respond-to('tablet') {
    padding: 20px 10px 0 30px;
  }

  @include respond-to('mobile') {
    padding: 10px 0;
  }

  &_services {
    background-image: url('../images/bg-services.png');
  }
}

.wrapper_lk {
  max-width: 1100px;
  margin: 0 auto 110px;
  padding-top: 208px;

  @include respond-to('mobile') {
    padding-top: 70px;
  }
}

  .lk-nav {
    margin: 0 auto 65px;
    max-width: 1174px;

    @include respond-to('mobile') {
      padding-left: 10px;
      margin-bottom: 30px;
    }
  }

.page-content-wrapper {
  @media (max-width: 1179px) {
    width: auto;
    max-width: 100%;
    margin: 0 40px;
  }

  @media (max-width: 700px) {
    margin: 0 20px;
  }
}

#popup-wrapper {
  z-index: 2001;
}

@media (max-width: 699px) {
  .popup-window {
    width: 100%!important;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0!important;
    overflow: auto;
  }
}

@media (max-width: 899px) {
  .header__menu {
    padding-left: 0;
  }
  .header_short .header__menu {
    padding-left: 77px;
  }
}

@media (max-width: 699px) {
  .header__link-for-blind {
    display: block;
    top: auto;
    bottom: 72px;
    left: 20px;
    z-index: 5;
  }
  .header__search-form {
    top: auto;
    bottom: 72px;
    right: 50%;
    margin-right: -8px;
    left: 20px;
  }
  .header__search-form .search-form__btn {
    margin-bottom: 10px;
    height: 20px;
  }
  .header__search-form .search-form__btn_act:before {
    background-position: -94px -44px;
  }
  .header__login {
    top: auto;
    bottom: 72px;
    right: 20px;
  }
}
