@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
//@import 'helpers/basics'; // Основные общие стили
@import 'helpers/full2';
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';

html, body {
  line-height: 1;
}

.container {
  width: $container-width;
  margin: 0 auto;
}

.d-si-content {
  background: url('../images/depfin-services-interview/content-bg.jpg') no-repeat;
  background-size: cover;
    width: 100%;
}

.d-si-content_quiz {
  display: block;
  padding: 175px 0 80px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  box-sizing: border-box;
}

.d-layer {
  /*max-width: 1174px;*/
  max-width: none;
  margin: 0 auto;
  padding: 0 37px;

  @include clearfix;

}

.d-layer {
  max-width: none;
}

.d-layer_small {
  max-width: 1174px;
}

.buttons-set {
  font-size: 0;
}

.d-si__head {

  @media screen and (max-width: 1190px) {
    margin-bottom: 44px;
  }

  @media screen and (max-width: 760px) {
    margin-bottom: 26px;
  }
}
