.favor-list {
  display: block;
  height: 100%;
  padding: 38px 29px 30px;
  font-family: $PFDinTextPro;

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1em;
    font-weight: 500;
    font-family: $PFDinCondensedPro;
    color: #000;
    margin-bottom: 29px;
  }

  &__list {

  }

  &__item {
    position: relative;
    margin-bottom: 5px;
    list-style: none;

    &:hover {

      & .favor-list__label{
        color: #0d46a1;
      }

      & .favor-list__remove{
        display: block;
      }
    }
  }

  &__link {
    display: block;
    position: relative;
    padding: 0 36px 0 32px;
    font-size: 16px;
    line-height: 22px;
    font-family: $PFDinTextPro;
    color: $color-input;
    text-decoration: none;
    cursor: url(../images/hand-cursor.png), pointer;
  }

  &__label {
    transition: all .25s ease;
  }

  &__favor {
    position: absolute;
    left: 0;
    width: 19px;
    height: 18px;
  }

  &__remove {
    display: none;
    position: absolute;
    right: 0;
    top: 4px;
    text-decoration: none;

    &-icon {
      stroke: #0d46a1;
      fill: #0d46a1;
      width: 12px;
      height: 12px;
    }
  }

  &__note {
    position: absolute;
    max-width: 220px;
    color: #787e85;
    bottom: 0;
  }
}
