include ../../blocks/favor/favor
include ../../blocks/icon/icons

mixin favor-list()
  +b.favor-list&attributes(attributes)
    +e.wrapper
      +e.H3.title Избранное
      +e.UL.list
    
        +e.LI.item(data-link='1')
          +e.A(href='#').link
            +e.SPAN.label Избранное
            +e.favor
              +favor(true)._added
          +e.A(href='#delaccept').remove.open-popup
              +icon('delete').remove-icon
      
        +e.LI.item(data-link='2')
          +e.A(href='#').link
            +e.SPAN.label Бюджетный калькулятор
            +e.favor
              +favor(true)._added
          +e.A(href='#delaccept').remove.open-popup
              +icon('delete').remove-icon

        +e.LI.item(data-link='3')
          +e.A(href='#').link
            +e.SPAN.label Обучающий сервис
            +e.favor
              +favor(true)._added
          +e.A(href='#delaccept').remove.open-popup
              +icon('delete').remove-icon

        +e.LI.item(data-link='4')
          +e.A(href='#').link
            +e.SPAN.label Открытые данные
            +e.favor
              +favor(true)._added
          +e.A(href='#delaccept').remove.open-popup
              +icon('delete').remove-icon
      
        +e.LI.item(data-link='5')
          +e.A(href='#').link
            +e.SPAN.label Путеводитель по бюджету города Москвы
            +e.favor
              +favor(true)._added
          +e.A(href='#delaccept').remove.open-popup
              +icon('delete').remove-icon
      
        +e.LI.item(data-link='6')
          +e.A(href='#').link
            +e.SPAN.label Рейтинг открытости бюджетных данных
            +e.favor
              +favor(true)._added
          +e.A(href='#delaccept').remove.open-popup
              +icon('delete').remove-icon
              
        +e.LI.item(data-link='7')
          +e.A(href='#').link
            +e.SPAN.label Доходы
            +e.favor
              +favor(true)._added
          +e.A(href='#delaccept').remove.open-popup
              +icon('delete').remove-icon
                
      +e.P.note Для того, чтобы добавить страницу или документ в избранное, нажмите на звездочку.
