extends ../../layouts/default
include ../../components/classify/classify

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +classify()

    block footer
      +footer()
