extends ../../layouts/default
include ../../components/classify/classify

block head
  - var pageTitle = 'Бюджетная классификация'

block page
  block header
    +header()._budget

  block sections
    +sections()

      block content
        +classify()
        +footer()
        +button-top()
        
  +popup-wrapper()

  script(src="assets/scripts/js/jquery-3.1.1.min.js")
  script(src="assets/scripts/js/header/easing.min.js")
  script(src="assets/scripts/js/header/animation.min.js")
  script(src="assets/scripts/js/header/label.min.js")
  script(src="assets/scripts/js/header/select.min.js")
  script(src="assets/scripts/js/header/popup.min.js")
  script(src="assets/scripts/js/header/share.min.js")
  script(src="assets/scripts/js/header/form.min.js")
  script(src="assets/scripts/js/header/common.min.js")
