<ul id="footer-social-links" class="social-icons">
  <li><a href="https://www.facebook.com/budgetmosru/" target="_blank" class="icon-facebook-squared"></a></li>
  <li><a href="https://vk.com/budgetmosru" target="_blank" class="icon-vkontakte"></a></li>
  <li><a href="https://twitter.com/budgetmosru" target="_blank" class="icon-twitter"></a></li>
  <li><a href="#" target="_blank" class="icon-instagram"></a></li>
  <li><a href="https://ok.ru/group/53561510658227" target="_blank" class="icon-odnoklassniki"></a></li>
  <li><a href="#" target="_blank" class="icon-youtube"></a></li>
  <li><a href="#" target="_blank" class="icon-telegram"></a></li>
</ul>

<style>
  @media (min-width: 701px) {
    #footer-social-links {
      margin-right: 10px;
    }
  }

  #footer-social-links li a {
    padding: 5px;
  }

  #footer-social-links li a:before {
    color: white !important;
    font-size: 17px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  #footer-social-links li a:hover::before {
    color: #fee300 !important;
  }
</style>
