mixin polls-task()
  +b.polls-task&attributes(attributes)

    .sections._task

      .d-si-content

        .d-layer

          +b.d-si.d-si__head
            +e.head_descr сервисы
            +e.head_p-name опросы
            +e.head_icons
              +e.A.icons_item
                | SVG Иконка
              +e.A.icons_item
                | SVG Иконка
              +e.A.icons_item
                | SVG Иконка
          +b.d-min-layer
            form(action='#').d-si__search-form
              span.d-si__form-label Выберите год
              select(id='d-si-select').d-si-select
                option(value='1') 2015
                option(value='2') 2016
                option(value='3') 2017
              input(type='text', placeholder='Поиск').d-si__search
              input(type='submit', value='').d-si__submit
            .d-si__quiz
              .d-si__quiz_item
                .d-si__quiz_head Как сделать портал удобнее?
                .d-si__quiz_status Дата проведения опроса: 02.08.2016 - 30.09.2016
                a(href='/moscowbudget/polls_question.html').d-si__quiz_button
                  | пройти опрос
                  i(aria-hidden='true').fa.fa-angle-right
              .d-si__quiz_item
                .d-si__quiz_head Как сделать портал интереснее?
                .d-si__quiz_status Завершен: 10.02.2016
                a(href='/moscowbudget/polls_question.html').d-si__quiz_button
                  | пройти опрос
                  i(aria-hidden='true').fa.fa-angle-right
              .d-si__quiz_item
                .d-si__quiz_head Как сделать портал интереснее?
                .d-si__quiz_status Завершен: 10.02.2016
                a(href='/moscowbudget/polls_question.html').d-si__quiz_button
                  | пройти опрос
                  i(aria-hidden='true').fa.fa-angle-right
              .d-si__quiz_item
                .d-si__quiz_head Как сделать портал интереснее?
                .d-si__quiz_status Завершен: 10.02.2016
                a(href='/moscowbudget/polls_question.html').d-si__quiz_button
                  | пройти опрос
                  i(aria-hidden='true').fa.fa-angle-right
              .d-si__quiz_item
                .d-si__quiz_head Как сделать портал интереснее?
                .d-si__quiz_status Завершен: 10.02.2016
                a(href='/moscowbudget/polls_question.html').d-si__quiz_button
                  | пройти опрос
                  i(aria-hidden='true').fa.fa-angle-right
            a(href='#').d-si__button_show-more показать еще




