extends ../../layouts/default
include ../../components/quiz-result/quiz-result
include ../../components/header/header

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +quiz-result()

    block footer
      +footer()
