mixin classify()
  +b.classify&attributes(attributes)
    .sections
      .sections__item.sections__item_first.sections-budget
        .sections-budget__bg
        .over-layer
          .wrap.wrap_sh
            // AHEAD/
            .ahead
              h1.ahead__title.load-anim-fade.xs-fs-26(data-delay="1300") Бюджетная<br class="xs-db"> классификация
              .ahead__buttons.xs-mt-20
                .ahead__star.load-anim-fade(data-delay="1800")
                  a(href="main-log.html", title="Добавить в избранное").ahead__star-btn
                .ahead__share.load-anim-fade(data-delay="2100")
                  button.ahead__share-btn.share__btn
                  .share__panel
                    a(href="#").share__a.share__a_fb
                    a(href="#").share__a.share__a_vk
                    a(href="#").share__a.share__a_tw
                    a(href="#").share__a.share__a_ok
                .ahead__upload.load-anim-fade(data-delay="2300")
                  a(href="#", title="Скачать").ahead__upload-btn
            // /AHEAD
            // TEXT-BLOCK/
            .ml-205.mb-35.md-ml-0
              p.txt.mb-35.mr-150.md-mr-0 Бюджетная классификация является группировкой доходов и расходов бюджетов всех уровней бюджетной системы и источников финансирования дефицитов этих бюджетов с присвоением объектам классификации группировочных кодов. Бюджетная классификация дает возможность экономического и статистического анализа доходов и расходов бюджетов РФ, обеспечивает адресность выделения финансовых ресурсов.
              .trig.mb-35
                .trig__tit Бюджетная классификация<br> необходима для определения:
                ul.trig__ul
                  li.trig__li целей расходования<br> бюджетных средств;
                  li.trig__li задач и курса<br> финансовой политики;
                  li.trig__li источников<br> бюджетных ресурсов
              p.txt Бюджетная классификация необходима также для составления и исполнения<br> бюджетов, для обеспечения сопоставимости показателей бюджетов всех уровней.
            // /TEXT-BLOCK
            
          // CLASSIFY-ITEM/
          .dropdown.dropdown_y
            .wrap.wrap_sh
              a(href="#").dropdown__btn.dropdown__btn_y.dropdown__btn_active Классификация доходов бюджетов
              .dropdown__content.dropdown__content_db
                .pt-50.xs-pt-10.on-hover-parent-1
                  .code-example
                    .code-example__tit пример Кода классификации доходов
                    .code-example__item
                      a(href="#", data-hover-index="9", data-hover-parent="1").on-hover 182
                    .code-example__item
                      a(href="#", data-hover-index="10", data-hover-parent="1").on-hover 1
                      a(href="#", data-hover-index="11", data-hover-parent="1").on-hover 06
                      a(href="#", data-hover-index="12", data-hover-parent="1").on-hover 04
                      a(href="#", data-hover-index="13", data-hover-parent="1").on-hover 012
                      a(href="#", data-hover-index="14", data-hover-parent="1").on-hover 02
                    .code-example__item.mr-0
                      a(href="#", data-hover-index="15", data-hover-parent="1").on-hover 2100
                      a(href="#", data-hover-index="16", data-hover-parent="1").on-hover 110
                    .code-example__transcript "Транспортный налог с физических лиц"
                  // CODE/
                  .code.mb-80.xs-mb-25
                    .code__l
                      .code__tit.on-hover_active
                        span Код главного администратора<br> доходов бюджета
                      .code__box.on-hover_active
                        a(href="#", data-hover-index="1", data-hover-parent="1").code__elem.on-hover.on-hover_active 000
                    .code__c
                      .code__tit
                        span Код вида<br> доходов бюджета
                      .code__box
                        a(href="#", data-hover-index="2", data-hover-parent="1").code__elem.code__elem_bg.on-hover 0
                        a(href="#", data-hover-index="3", data-hover-parent="1").code__elem.code__elem_dg.on-hover 00
                        a(href="#", data-hover-index="4", data-hover-parent="1").code__elem.code__elem_g.on-hover 00
                        a(href="#", data-hover-index="5", data-hover-parent="1").code__elem.on-hover 000
                        a(href="#", data-hover-index="6", data-hover-parent="1").code__elem.on-hover 00
                      span.clearfix
                      .code__caption.ml-20.xs-ml-5.on-hover-sibling-2 Группа<br> доходов
                      .code__caption.code__caption_2.on-hover-sibling-3 ПодГруппа<br> доходов
                      .code__caption.code__caption_2.on-hover-sibling-4 Статья<br> доходов
                      .code__caption.code__caption_3.on-hover-sibling-5 подСтатья<br> доходов
                      .code__caption.code__caption_2.on-hover-sibling-6 элемент<br> доходов
                    .code__r
                      .code__tit
                        span Код подвида<br> доходов бюджета
                      .code__box
                        a(href="#", data-hover-index="7", data-hover-parent="1").code__elem.code__elem_dg.on-hover 0000
                        a(href="#", data-hover-index="8", data-hover-parent="1").code__elem.code__elem_g.on-hover 000
                      span.clearfix
                      .code__caption.code__caption_4.on-hover-sibling-7.ml-20 Группа подвида<br> доходов бюджетов
                      .code__caption.code__caption_3.on-hover-sibling-8 аналитическая<br> Группа подвида<br> доходов бюджетов
                  // /CODE
                  // CODE-DESCRIPTION/
                  .code-desc.on-hover-content.on-hover-content-1.display-b
                    .code-desc__title КОД ГЛАВНОГО АДМИНИСТРАТОРА ДОХОДОВ БЮДЖЕТА
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-2
                    .code-desc__title Группа доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-3
                    .code-desc__title подгруппа доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-4
                    .code-desc__title Статья доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-5
                    .code-desc__title подстатья доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-6
                    .code-desc__title Элемент доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-7
                    .code-desc__title ГРУППА ПОДВИДА ДОХОДОВ БЮДЖЕТОВ
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-8
                    .code-desc__title АНАЛИТИЧЕСКАЯ ГРУППА ПОДВИДА ДОХОДОВ БЮДЖЕТОВ
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-9
                    .code-desc__title КОД ГЛАВНОГО АДМИНИСТРАТОРА ДОХОДОВ БЮДЖЕТА
                    .code-desc__content
                      p 182 - Федеральная налоговая служба
                  .code-desc.on-hover-content.on-hover-content-10
                    .code-desc__title группа доходов
                    .code-desc__content
                      p 1 - Налоговые и неналоговые доходы
                  .code-desc.on-hover-content.on-hover-content-11
                    .code-desc__title подгруппа доходов
                    .code-desc__content
                      p 06 - Налоги на имущество
                  .code-desc.on-hover-content.on-hover-content-12
                    .code-desc__title статья доходов
                    .code-desc__content
                      p 04 - Транспортный налог
                  .code-desc.on-hover-content.on-hover-content-13
                    .code-desc__title подстатья доходов
                    .code-desc__content
                      p 012 - транспортный налог с физических лиц
                  .code-desc.on-hover-content.on-hover-content-14
                    .code-desc__title элемент доходов
                    .code-desc__content
                      p 02 - бюджет субъекта Российской Федерации
                  .code-desc.on-hover-content.on-hover-content-15
                    .code-desc__title группа подвида доходов бюджетов
                    .code-desc__content
                      p 2100 - пени  по соответствующему платежу (по транспортному налогу с физических лиц)
                  .code-desc.on-hover-content.on-hover-content-16
                    .code-desc__title аналитическая группа подвида доходов бюджетов
                    .code-desc__content
                      p 110 - налоговые доходы
                  // /CODE-DESCRIPTION
          // /CLASSIFY-ITEM
                  
          // CLASSIFY-ITEM/
          .dropdown.dropdown_y
            .wrap.wrap_sh
              a(href="#").dropdown__btn.dropdown__btn_y Классификация доходов бюджетов
              .dropdown__content
                .pt-50.xs-pt-10.on-hover-parent-2
                  .code-example
                    .code-example__tit пример Кода классификации доходов
                    .code-example__item
                      a(href="#", data-hover-index="9", data-hover-parent="2").on-hover 075
                    .code-example__item
                      a(href="#", data-hover-index="10", data-hover-parent="2").on-hover 07
                    .code-example__item
                      a(href="#", data-hover-index="11", data-hover-parent="2").on-hover 01
                    .code-example__item
                      a(href="#", data-hover-index="12", data-hover-parent="2").on-hover 03А03
                      a(href="#", data-hover-index="15", data-hover-parent="2").on-hover 06200
                    .code-example__item.mr-0
                      a(href="#", data-hover-index="16", data-hover-parent="2").on-hover 244
                    .code-example__transcript "Закупка товаров, работ, услуг с целью обеспечения питанием воспитанников дошкольных групп образовательных организаций,<br> реализующих программы дошкольного образования"
                  // CODE/
                  .code.code_a.mb-80.xs-mb-25
                    .code__l
                      .code__tit.on-hover_active
                        span Код главного распорядителя<br> бюджетных средств
                      .code__box.on-hover_active
                        a(href="#", data-hover-index="1", data-hover-parent="2").code__elem.on-hover.on-hover_active 000
                    .code__c
                      .code__tit
                        span Код<br> раздела
                      .code__box
                        a(href="#", data-hover-index="4", data-hover-parent="2").code__elem.on-hover 00
                    .code__c
                      .code__tit
                        span Код<br> подраздела
                      .code__box
                        a(href="#", data-hover-index="5", data-hover-parent="2").code__elem.on-hover 00
                    .code__c
                      .code__tit
                        span Код целевой<br> статьи расхода
                      .code__box
                        a(href="#", data-hover-index="6", data-hover-parent="2").code__elem.on-hover 00000
                        a(href="#", data-hover-index="7", data-hover-parent="2").code__elem.code__elem_g.code__elem_dg.on-hover 00000
                      span.clearfix
                      .code__caption.code__caption_5.ml-25.xs-ml-5.on-hover-sibling-6 Программная статья<br> расходов
                      .code__caption.code__caption_5.on-hover-sibling-7 Направление<br> расходов
                    .code__r.md-ml-0
                      .code__tit
                        span Код вида<br> расходов бюджета
                      .code__box
                        a(href="#", data-hover-index="8", data-hover-parent="2").code__elem.code__elem_g.on-hover 0
                        a(href="#", data-hover-index="9", data-hover-parent="2").code__elem.code__elem_dg.on-hover 0
                        a(href="#", data-hover-index="10", data-hover-parent="2").code__elem.code__elem_bg.on-hover 0
                      span.clearfix
                      .code__caption.code__caption_1.on-hover-sibling-8.ml-20 Группа
                      .code__caption.code__caption_1.on-hover-sibling-9 Под-<br>группа
                      .code__caption.code__caption_1.on-hover-sibling-10 Элемент
                  // /CODE
                  // CODE-DESCRIPTION/
                  .code-desc.on-hover-content.on-hover-content-1.display-b
                    .code-desc__title КОД ГЛАВНОГО АДМИНИСТРАТОРА ДОХОДОВ БЮДЖЕТА
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-2
                    .code-desc__title Группа доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-3
                    .code-desc__title подгруппа доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-4
                    .code-desc__title Статья доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-5
                    .code-desc__title подстатья доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-6
                    .code-desc__title Элемент доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-7
                    .code-desc__title ГРУППА ПОДВИДА ДОХОДОВ БЮДЖЕТОВ
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-8
                    .code-desc__title АНАЛИТИЧЕСКАЯ ГРУППА ПОДВИДА ДОХОДОВ БЮДЖЕТОВ
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-9
                    .code-desc__title КОД ГЛАВНОГО АДМИНИСТРАТОРА ДОХОДОВ БЮДЖЕТА
                    .code-desc__content
                      p 182 - Федеральная налоговая служба
                  .code-desc.on-hover-content.on-hover-content-10
                    .code-desc__title группа доходов
                    .code-desc__content
                      p 1 - Налоговые и неналоговые доходы
                  .code-desc.on-hover-content.on-hover-content-11
                    .code-desc__title подгруппа доходов
                    .code-desc__content
                      p 06 - Налоги на имущество
                  .code-desc.on-hover-content.on-hover-content-12
                    .code-desc__title статья доходов
                    .code-desc__content
                      p 04 - Транспортный налог
                  .code-desc.on-hover-content.on-hover-content-15
                    .code-desc__title группа подвида доходов бюджетов
                    .code-desc__content
                      p 2100 - пени  по соответствующему платежу (по транспортному налогу с физических лиц)
                  .code-desc.on-hover-content.on-hover-content-16
                    .code-desc__title аналитическая группа подвида доходов бюджетов
                    .code-desc__content
                      p 110 - налоговые доходы
                  // /CODE-DESCRIPTION
          // /CLASSIFY-ITEM
                  
          // CLASSIFY-ITEM/
          .dropdown.dropdown_y
            .wrap.wrap_sh
              a(href="#").dropdown__btn.dropdown__btn_y Классификация доходов бюджетов
              .dropdown__content
                .pt-50.xs-pt-10.on-hover-parent-3
                  .code-example
                    .code-example__tit пример Кода классификации источников бюджета
                    .code-example__item
                      a(href="#", data-hover-index="9", data-hover-parent="3").on-hover 592
                    .code-example__item
                      a(href="#", data-hover-index="10", data-hover-parent="3").on-hover 01
                    .code-example__item
                      a(href="#", data-hover-index="11", data-hover-parent="3").on-hover 03
                    .code-example__item
                      a(href="#", data-hover-index="12", data-hover-parent="3").on-hover 01
                      a(href="#", data-hover-index="13", data-hover-parent="3").on-hover 00
                      a(href="#", data-hover-index="14", data-hover-parent="3").on-hover 02
                    .code-example__item.mr-0
                      a(href="#", data-hover-index="15", data-hover-parent="3").on-hover 0000
                      a(href="#", data-hover-index="16", data-hover-parent="3").on-hover 810
                    .code-example__transcript "Погашение бюджетных кредитов, полученных от других бюджетов бюджетной системы<br> Российской Федерации в валюте Российской Федерации"
                  // CODE/
                  .code.code_b.mb-80.xs-mb-25
                    .code__l
                      .code__tit.on-hover_active
                        span Код главного администратора<br> источников финансирования<br> дефицита бюджета
                      .code__box.on-hover_active
                        a(href="#", data-hover-index="1", data-hover-parent="3").code__elem.on-hover.on-hover_active 000
                    .code__c
                      .code__tit
                        span Код группы<br> источников<br> финансирования<br> дефицитов бюджетов
                      .code__box
                        a(href="#", data-hover-index="2", data-hover-parent="3").code__elem.on-hover 00                    
                    .code__c
                      .code__tit
                        span Код подгруппы<br> источников<br> финансирования<br> дефицитов бюджетов
                      .code__box
                        a(href="#", data-hover-index="3", data-hover-parent="3").code__elem.on-hover 00                        
                    .code__c
                      .code__tit
                        span Код статьи<br> источников финансирования<br> дефицитов бюджетов
                      .code__box
                        a(href="#", data-hover-index="4", data-hover-parent="3").code__elem.code__elem_bg.on-hover 00
                        a(href="#", data-hover-index="5", data-hover-parent="3").code__elem.code__elem_dg.on-hover 00
                        a(href="#", data-hover-index="6", data-hover-parent="3").code__elem.code__elem_g.on-hover 00
                      span.clearfix
                      .code__caption.code__caption_2.ml-25.xs-ml-5.on-hover-sibling-4 Статья<br> источников
                      .code__caption.code__caption_2.on-hover-sibling-5 ПодСтатья<br> источников
                      .code__caption.code__caption_2.on-hover-sibling-6 Элемент                      
                    .code__r.md-ml-0
                      .code__tit
                        span Код вида<br> источников финансирования<br> дефицитов бюджетов
                      .code__box
                        a(href="#", data-hover-index="7", data-hover-parent="3").code__elem.code__elem_dg.on-hover 0000
                        a(href="#", data-hover-index="8", data-hover-parent="3").code__elem.code__elem_g.on-hover 000
                      span.clearfix
                      .code__caption.code__caption_4.on-hover-sibling-7.ml-20 Подвид<br> источников
                      .code__caption.code__caption_3.on-hover-sibling-8 аналитическая<br> Группа<br> источников<br> финансирования
                  // /CODE
                  // CODE-DESCRIPTION/
                  .code-desc.on-hover-content.on-hover-content-1.display-b
                    .code-desc__title КОД ГЛАВНОГО АДМИНИСТРАТОРА ДОХОДОВ БЮДЖЕТА
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-2
                    .code-desc__title Группа доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-3
                    .code-desc__title подгруппа доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-4
                    .code-desc__title Статья доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-5
                    .code-desc__title подстатья доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-6
                    .code-desc__title Элемент доходов
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-7
                    .code-desc__title ГРУППА ПОДВИДА ДОХОДОВ БЮДЖЕТОВ
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-8
                    .code-desc__title АНАЛИТИЧЕСКАЯ ГРУППА ПОДВИДА ДОХОДОВ БЮДЖЕТОВ
                    .code-desc__content
                      p Третий знак кода классификации доходов.
                      p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                      p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                  .code-desc.on-hover-content.on-hover-content-9
                    .code-desc__title КОД ГЛАВНОГО АДМИНИСТРАТОРА ДОХОДОВ БЮДЖЕТА
                    .code-desc__content
                      p 182 - Федеральная налоговая служба
                  .code-desc.on-hover-content.on-hover-content-10
                    .code-desc__title группа доходов
                    .code-desc__content
                      p 1 - Налоговые и неналоговые доходы
                  .code-desc.on-hover-content.on-hover-content-11
                    .code-desc__title подгруппа доходов
                    .code-desc__content
                      p 06 - Налоги на имущество
                  .code-desc.on-hover-content.on-hover-content-12
                    .code-desc__title статья доходов
                    .code-desc__content
                      p 04 - Транспортный налог
                  .code-desc.on-hover-content.on-hover-content-13
                    .code-desc__title подстатья доходов
                    .code-desc__content
                      p 012 - транспортный налог с физических лиц
                  .code-desc.on-hover-content.on-hover-content-14
                    .code-desc__title элемент доходов
                    .code-desc__content
                      p 02 - бюджет субъекта Российской Федерации
                  .code-desc.on-hover-content.on-hover-content-15
                    .code-desc__title группа подвида доходов бюджетов
                    .code-desc__content
                      p 2100 - пени  по соответствующему платежу (по транспортному налогу с физических лиц)
                  .code-desc.on-hover-content.on-hover-content-16
                    .code-desc__title аналитическая группа подвида доходов бюджетов
                    .code-desc__content
                      p 110 - налоговые доходы
                  // /CODE-DESCRIPTION
          // /CLASSIFY-ITEM
