.ahead__star-btn:before {
  background-position: -62px -112px;
}

.ahead__share-btn:hover:after {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .sections__item {
    z-index: 0;
  }
}

.dropdown__btn_active .dropdown__content_db {
  display: block;
}

.code-example__item {
  font-size: 0;
  padding: 10px 16px 7px;
  a {
    font-size: 61px;
  }
}

@media (max-width: 700px) {
  .code-example__item {
    font-size: 0;
    padding: 4px 6px 3px;
  }
  .code-example__item a {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .code-example__item {
    font-size: 0;
    padding: 7px 12px 5px;
  }
  .code-example__item a {
    font-size: 45px;
  }
}

@media screen and (max-width: 700px) {
  .sections__item_first {
    padding-top: 80px;
  }
}

@media screen and (max-width: 900px) {
  .code__r {
    margin-left: 0;
  }
}
