include mediaSmFin

mixin mediaSMbio-one()
	+b.SECTION.mediaSmFin.sections__item&attributes(attributes)
		.wrapper-header
			+page-header('Официальные лица', ['Открытость', 'Материалы для СМИ'], true)
			
		.wrapper
			+e.content._bio.load-anim-fade(data-delay="1500")
				+e.A(href='#').bio-list К списку всех биографий
				+e.bio-info
					+e.info-photo
						img(src='assets/images/smi-fin/1.jpg')
					+e.info-requisites
						+e.info-name Зяббарова Елена Юрьевна
						+e.info-position Министр Правительства Москвы, Руководитель Департамента финансов города Москвы
						+e.info-wrap
							+e.A(href='tel:74992513526').info-item._tel
								//- i
								span 7 (499) 251-35-26, 
								span 7 (499) 251-38-22
							+e.A(href='mailto:Info@fin.dep.mos.ru').info-item._email
								//- i
								span Info@fin.dep.mos.ru
							+e.A(href='#' data-scrollto='#mediasm-page__howto').info-item._link.js-mediasm-page__scrollToLink
								//- i
								span Фотографии
								+icon('angle-arrow')
				+e.P.bio-title Биография
				+e.P.bio-text Зяббарова Елена Юрьевна родилась 4 сентября в г. Казани
				+e.P.bio-text В 1992 году с отличием окончила Казанский финансово-экономический институт по специальности «Финансы и кредит».
				+e.P.bio-text В 2012 году получила степень MBA Colorado State University (США).
				+e.P.bio-text В 1992-2002 гг. – специалист, главный специалист, заместитель начальника, начальник отдела бюджета финансового управления администрации города Казани.
				+e.P.bio-text С января 2002 г. по июнь 2002 г. – начальник отдела совершенствования бюджетной политики Министерства финансов Республики Татарстан.
				+e.P.bio-text C июня 2002 г. по март 2011 г. - заместитель министра финансов Республики Татарстан.
				+e.P.bio-text С 28 марта 2011 года - заместитель руководителя Департамента финансов города Москвы.
				+e.P.bio-text С 13 июня 2012 года по сентябрь 2013 г.– первый заместитель руководителя Департамента финансов города Москвы.
				+e.P.bio-text 1 октября 2013 года назначена Министром Правительства Москвы, руководителем Департамента финансов города Москвы.
				+e.P.bio-text Награждена нагрудным знаком "Отличник финансовой работы". Имеет благодарность Министерства финансов Российской Федерации. Указом Президента Республики Татарстан присвоено почетное звание "Заслуженный экономист Республики Татарстан". Награждена медалью «В память 1000-летия Казани». Входит в первую сотню резерва управленческих кадров, находящихся под патронажем Президента Российской Федерации.

		.wrapper.page-content-wrapper
			+e.content.load-anim-fade(data-delay="1500")
				+e.materials-group
					+e.H3(id='mediasm-page__howto').title Фотографии

					+e.slider
						+open-slider()._sm
							+open-slider-gallery()
								+sm-slide-gallery()
									+photo-card(1, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы', true)._photo-slide.tile__inner
								+sm-slide-gallery()
									+photo-card(9, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы', true)._photo-slide.tile__inner
								+sm-slide-gallery()
									+photo-card(10, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы', true)._photo-slide.tile__inner
								+sm-slide-gallery()
									+photo-card(11, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы', true)._photo-slide.tile__inner

							+open-slider-thumbs()
								+open-slide-thumbs('smi_01.jpg')
								+open-slide-thumbs('smi_9.jpg')
								+open-slide-thumbs('smi_10.jpg')
								+open-slide-thumbs('smi_11.jpg')
