include mediaSmFin

mixin mediaSMphoto()
	+b.SECTION.mediaSmFin.sections__item&attributes(attributes)
		.wrapper-header
			+page-header('Фотографии официальных лиц', ['Открытость', 'Материалы для СМИ'], true)
		
		.wrapper.page-content-wrapper
			+e.content.load-anim-fade(data-delay="1500")

				+e.photos-group
					+open-slider()._sm
						+open-slider-gallery()
							+sm-slide-gallery()
								+photo-card(1, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы')._photo-slide.tile__inner
							+sm-slide-gallery()
								+photo-card(9, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы')._photo-slide.tile__inner
							+sm-slide-gallery()
								+photo-card(10, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы')._photo-slide.tile__inner
							+sm-slide-gallery()
								+photo-card(11, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы')._photo-slide.tile__inner

						+open-slider-thumbs()
							+open-slide-thumbs('smi_01.jpg')
							+open-slide-thumbs('smi_9.jpg')
							+open-slide-thumbs('smi_10.jpg')
							+open-slide-thumbs('smi_11.jpg')

				+e.materials-group
					+e.H3.title Другие фотографии
					+e.outer._bio
						+e.card-wrapper.mediaSmFin__wrapper
							.tile__item
								+photo-card(1, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы').tile__inner 
							.tile__item
								+photo-card(2, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы').tile__inner 
							.tile__item
								+photo-card(3, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы').tile__inner 
							.tile__item
								+photo-card(4, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы').tile__inner 
							//- hidden
							.tile__item
								+photo-card(1, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы').tile__inner 
							.tile__item
								+photo-card(2, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы').tile__inner 
							.tile__item
								+photo-card(3, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы').tile__inner 
							.tile__item
								+photo-card(4, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы').tile__inner 
					+e.A(href="#").show-more.d-si__button_show-more Показать еще
