.mediaSmFin {
  display: block;
  background-image: url('../images/bg-news.jpg');
  background-size: cover;
  background-position: center 0;
  padding-top: 207px;
  padding-bottom: 119px;

  &__content {
    &_bio {
      padding: 42px 40px;
      background: $color-white;
      margin-top: 46px;

      @media(max-width: 580px) {
        padding: 20px 20px;
        margin-top: 22px;
      }
    }
  }

  .doc-cards__download {
    color: $color-yellow;
    border-bottom-color: rgba(254, 227, 0, .4);
    transition: color .25s ease-in-out;
    position: absolute;
    top: -55px;
    right: 0;

    @media (max-width: 900px) {
      margin-top: 20px;
    }

    &:hover {
      color: $color-white;
    }
  }

  &__wrapper {
    height: auto;
  }

  &__outer {
    height: 283px;
    overflow: hidden;

    @media (max-width: 1140px) {
      height: 246px;
    }

    @media (max-width: 900px) {
      height: 303px;
    }

    @media (max-width: 580px) {
      height: 241px;
    }

    @media (max-width: 400px) {
      height: 283px;
    }

    &_bio {
      height: 590px;

      @media (max-width: 1140px) {
        height: 510px;
      }

      @media (max-width: 900px) {
        height: 593px;
      }

      @media (max-width: 640px) {
        height: 566px;
      }

      @media (max-width: 580px) {
        height: 526px;
      }

      @media (max-width: 400px) {
        height: 538px;
      }
    }

    &_logo {
      height: 297px;
    }

    &_slider {
      @media (max-width: 900px) {
        display: none;
      }
    }
  }

  &__card-wrapper {
    margin-top: 35px;
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.000000001px;
    }

    &_slider {
      display: none;
      position: relative;
      @media (max-width: 900px) {
        display: block;
      }

      .tile__item {
        margin-bottom: 0!important;
      }

      .swiper-container {
        width: 344px;

        @media (max-width: 400px) {
          width: 252px;
        }
      }

      .swiper-pagination {
        width: 100%;
        top: 105%;
        &-bullet {
          width: 15px;
          height: 15px;
          background: transparent;
          opacity: 1;
          border: 2px solid $color-yellow;
          & + .swiper-pagination-bullet {
            margin-left: 10px;
          }

          &-active {
            background: $color-yellow;
          }
        }

        @media (max-width: 400px) {
          display: none
        }
      }

      .news-arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: 4;
        width: 46px;
        height: 46px;
        background: #fee300;
        color: #000;
        text-indent: -9999px;
        overflow: hidden;
        box-shadow: -2px 0 5px 0 rgba(0,0,0,.39);
        transition: opacity .3s ease;

        @media (max-width: 400px) {
          width: 31px;
          height: 31px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          z-index: 2;
          width: 14px;
          height: 14px;
          border-bottom: 2px solid currentColor;
        }

        &_next {
          right: 115px;
          @media(max-width: 640px) {
            right: 80px;
          }
          @media(max-width: 600px) {
            right: 60px;
          }
          @media (max-width: 580px) {
            right: 0;
          }
          @media(max-width: 400px) {
            right: -20px;
          }
         
          &::after {
            right: 8px;
            border-right: 2px solid currentColor;
            transform: rotate(-45deg);
          }    
        }

        &_prev {
          left: 115px;
          @media(max-width: 640px) {
            left: 80px;
          }
          @media(max-width: 600px) {
            left: 60px;
          }
          @media (max-width: 580px) {
            left: 0;
          }
          @media(max-width: 400px) {
            left: -20px;
          }
          &::after {
            left: 8px;
            border-left: 2px solid currentColor;
            transform: rotate(45deg);
          }
        }
      }

      .news_photo {
        @media(max-width: 900px) {
          height: 600px;
        }        
        .news__thumb {
          @media(max-width: 900px) {
            height: 418px;
          }

          @media(max-width: 400px) {
            height: 307px;
          }

        }

      }

      .media-card {
        @media(max-width: 900px) {
          margin: 0;
        }

        @media(max-width: 900px) and (min-width: 401px) {
          height: 320px;
        }
        
        &__img-wrapper {
          @media(max-width: 900px) and (min-width: 581px) {
            height: 203px;
          }
          @media(max-width: 580px) and (min-width: 401px) {
            height: 235px!important;
          }
          @media(max-width: 400px) {
            height: 142px!important;
          }
        }
        
        &__label {
          @media(max-width: 580px) and (min-width: 401px) {
            min-height: 85px;
          }
          @media (max-width: 400px) {
            min-height: 105px;
          }
        }

        &__play {
          @media(max-width: 900px) {
            top: 40%;
          }
          @media(max-width: 400px) {
            top: 30%;
          }
        }
      }
    }

  }

  &__media-wrapper {
    height: auto;
    list-style: none;
    font-size: 0;
    margin: 0 calc(12% / 8 * (-1));
    margin-top: 34px;

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }

    & + .media-main__page-link {
      margin-top: 19px;
    }
/*
    .media-card__text {
      text-transform: uppercase;

      @media (max-width: 580px) and (min-width: 401px) {
        font-size: 14px;
      }
    }

    .media-card__date {
      display: none;
    }
    */
  }

  .tile__item {
    margin-bottom: 44px;
    width: 247px;
    text-align: left;
    float: none;
    display: inline-flex;
    vertical-align: top;
    transition: all .25s ease-in-out;
    cursor: pointer;
    height: inherit;

    @media (max-width: 1140px) {
      width: 213px;
    }

    @media screen and (max-width: 900px) {
      width: 46%;
      margin-bottom: 36px;
    }

    @media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
      display: inline-block;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  .news__thumb img {
      min-height: inherit;
  }

  .news {
    position: relative;
    left: 0;
    right: 0;
    margin: 0;

    @media (max-width: 450px) {
      height: inherit;
    }
    
    &_logo {
      @media (max-width: 450px) {
        height: 245px;
      }
    }

  }

  &__show-more {
    margin: 18px auto 0;
    max-width: 690px;

    &_slider {
      @media (max-width: 900px) {
        display: none!important;
      }
    }
  }

  &__title {
    font-family: $PFDinCondensedPro;
    font-size: 34px;
    text-transform: uppercase;

    &_brand {
      margin-top: 46px;
    }

    .media-main__page-link {
      white-space: nowrap;
      margin-left: 8px;
      margin-top: 3px;

      @media (max-width: 580px) {
        display: block;
        margin-left: 0;
        margin-top: 4px;
      }
    }
  }

  &__materials-group {
    margin-top: 97px;

    @media (max-width: 400px) {
      margin-top: 50px;
    }
  }

  &__photos-group {
    position: relative;
    margin-top: 46px;

    .mediaSmFin__show-more {
      margin-top: 24px;
    }
    
    &_no-heading {
      margin-top: 11px;
    }
  }

  /*Страница отдельной биографии*/

  &__bio-list {
    display: block;
    font-family:$PFDinCondensedPro;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0d46a1;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 12px;
  }

  &__info-position,
  &__info-item,
  &__bio-text {
    font-family: $PFDinTextPro;
    font-size: 18px;
    color: $color-black;
  }

  &__bio-info {
    padding: 32px;
    background-color: #f7f7f7;
    margin-bottom: 26px;

    @media (max-width: 400px) {
      margin-left: -17px;
      margin-right: -17px;
    }
  }

  &__info-photo,
  &__info-requisites {
    display: inline-block;
    vertical-align: top;

    @media(max-width: 900px) {
      display: block;
      margin: 0 auto;
    }
  }

  &__info-photo {
    width: 164px;
    height: 200px;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__info-requisites {
    margin-left: 32px;

    @media (max-width: 1140px) and (min-width: 901px) {
      max-width: 74%;
    }

    @media(max-width: 900px) {
      text-align: center;
      margin-top: 30px;
      margin-left: 0
    }
  }

  &__info-name {
    font-family: $PFDinCondensedPro;
    font-size: 30px;
    font-weight: 500;
    color: $color-black;

    @media(max-width: 400px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__info-position {
    color: #666;
    margin-top: 10px;

    @media(max-width: 400px) {
      font-size: 16px;
      line-height: 1.5;
    }
  }

  &__info-wrap {
    margin-top: 20px;
    font-size: 0;

    @media (max-width: 900px) {
/*      display: inline-block;
      border: 1px solid $color-link;*/
    }
  }

  &__info-item {
    display: inline-block;
    transition: all .25s ease-in-out;
    text-decoration: none;
    margin-right: 40px;

    @media(max-width: 900px) {
/*      padding: 10px;
      font-size: 0;
      margin: 0;

      & + .mediaSmFin__info-item {
        border-left: 1px solid $color-link;
      }*/
    }

    @media (max-width: 640px) {
      display: block;
      margin-right: 0;
      margin-top: 10px;
    }

    @media (max-width: 400px) {
      font-size: 16px;
    }

    &:hover {
      color: $color-link;
    }

    span {
/*      @media (max-width: 900px) {
        display: none;
      }*/
    }

    i {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 11px;
      background-color: #615c5c;

      @media (max-width: 900px) {
        display: inline-block!important;
        margin: 0;
      }
    }
  }

  &__info-item_link {
    display: block;
    color: $color-link;
    margin-top: 10px;

    @media(max-width: 900px) {
/*      display: inline-block;
      margin-top: 0;*/

      margin-right: 0;
    }

    &:hover {
      svg {
        margin-left: 10px;
      }
    }

    svg {
      width: 10px;
      height: 10px;
      fill: $color-link;
      margin-left: 5px;
      transition: all .25s ease-in-out;

      @media(max-width: 900px) {
/*        display: none;*/
      }
    }

    i {
      display: none;
    }
  }

  &__bio-title {
    font-family: $PFDinCondensedPro;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-black;
    margin-bottom: 20px;

    @media (max-width: 1140px) {
      font-size: 26px;
      line-height: 30px;
    }

    @media (max-width: 900px) and (min-width: 581px) {
      font-size: 35px;
      line-height: 44px;
    }

    @media (max-width: 580px) {
      font-size: 18px;
      line-height: 26px;
    }
  }

  &__bio-text {
    font-size: 16px;
    letter-spacing: .1px;
    line-height: 22px;

    @media (max-width: 900px) and (min-width: 581px) {
      font-size: 32px;
      line-height: 40px;
    }

    & + .mediaSmFin__bio-text {
      margin-top: 20px;
    }
  }
  
  .media-card__img-wrapper {
    height: 187px;
    
    @media (max-width: 1140px) and (min-width: 901px) {
      height: 150px;
    }
    
    @media (max-width: 900px) and (min-width: 581px) {
      height: 215px;
    }
    
    @media (max-width: 580px) and (min-width: 401px) {
      height: 145px;
    }
    
    @media (max-width: 400px) {
      height: 187px;
    }
  }
  
  .media-card__label {
    min-height: 60px;
    
    @media (max-width: 900px) and (min-width: 581px) {
      min-height: 64px;
    }
    
    @media (max-width: 580px) and (min-width: 401px) {
      min-height: 60px;
    }
    
    @media (max-width: 400px) {
      min-height: 60px;
    }
  }

  &__slider {
    margin-top: 35px;

    
  }

  .link {
    color: $color-yellow;
    margin-top: 34px;
  }

}
