.mediaSmFin {
  display: block;
  background-image: url('../images/bg-news.jpg');
  background-size: cover;
  background-position: center 0;
  padding-top: 207px;
  padding-bottom: 119px;

  .doc-cards__download {
    color: $color-yellow;
    border-bottom-color: rgba(254, 227, 0, .4);
    transition: color .25s ease-in-out;
    position: absolute;
    top: -55px;
    right: 0;

    @media (max-width: 900px) {
      margin-top: 20px;
    }

    @media (max-width: 640px) {
      margin: 0;
    }

    &:hover {
      color: $color-white;
    }
  }

  &__card-wrapper {
    margin-top: 35px;
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.000000001px;
    }

    @media screen and (max-width: 992px) {
      text-align: center;
    }

  }

  .tile__item {
    margin-bottom: 44px;
    width: 247px;
    text-align: left;
    float: none;
    display: inline-flex;
    vertical-align: top;
    transition: all .25s ease-in-out;
    cursor: pointer;
    height: inherit;

    @media screen and (max-width: 900px) {
      width: 247px !important;
      margin-bottom: 36px;
    }

    @media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
      display: inline-block;
    }
  }

  .news__thumb img {
      min-height: inherit;
  }


  .news {
    position: relative;
    left: 0;
    right: 0;
    margin: 0;

    @media (max-width: 450px) {
      height: inherit;
    }

    &_photo {
      @media (min-width: 320px) and (max-width: 650px) {
        width: 100%;
        height: 462px;
      }

      .news__thumb {
        @media (min-width: 320px) and (max-width: 650px) {
          height: 260px;
        }
      }
    }

    &_material {
      padding-bottom: 0 !important;

      @media screen and (max-width: 900px) {
        min-height: inherit;
      }

      @media (max-width: 700px) and (min-width: 451px) {
        height: inherit;
      }

      @media (max-width: 650px) {
        width: 100%;
        max-width: none;
      }
    }

  }

  &__show-more {
    margin: 18px auto 0;
    max-width: 690px;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;

    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }

  &__materials-group {
    margin-top: 97px;
  }

  &__photos-group {
    position: relative;
    margin-top: 46px;

    .mediaSmFin__title {
      letter-spacing: -.22px;
    }

    .mediaSmFin__show-more {
      margin-top: 24px;
    }
  }
}
