include mediaSmFin

mixin mediaSMbio()
	+b.SECTION.mediaSmFin.sections__item&attributes(attributes)
		.wrapper-header
			+page-header('Биография', ['Открытость', 'Материалы для СМИ'], true)
		
		.wrapper.page-content-wrapper
			+e.content.load-anim-fade(data-delay="1500")

				+e.photos-group
					+e.outer._bio
						+e.card-wrapper.mediaSmFin__wrapper
							.tile__item
								+photo-card(1, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы').tile__inner 
							.tile__item
								+photo-card(2, 'МЕНЬШОВ', 'Евгений Нариманович', 'Первый заместитель руководителя Департамента финансов города Москвы, начальник Московского городского казначейства').tile__inner 
							.tile__item
								+photo-card(3, 'БУТАХИНА', 'Елена Анатольевна', 'Первый заместитель руководителя Департамента финансов города Москвы').tile__inner 
							.tile__item
								+photo-card(4, 'ГУБАНОВА', 'Светлана Александровна', 'Заместитель руководителя Департамента финансов города Москвы').tile__inner 
							//- hidden
							.tile__item
								+photo-card(1, 'ЗЯББАРОВА', 'Елена Юрьевна', 'Министр Правительства Москвы, руководитель Департамента финансов города Москвы').tile__inner 
							.tile__item
								+photo-card(2, 'МЕНЬШОВ', 'Евгений Нариманович', 'Первый заместитель руководителя Департамента финансов города Москвы, начальник Московского городского казначейства').tile__inner 
							.tile__item
								+photo-card(3, 'БУТАХИНА', 'Елена Анатольевна', 'Первый заместитель руководителя Департамента финансов города Москвы').tile__inner 
							.tile__item
								+photo-card(4, 'ГУБАНОВА', 'Светлана Александровна', 'Заместитель руководителя Департамента финансов города Москвы').tile__inner 
					+e.A(href="#").show-more.d-si__button_show-more Показать еще