extends ../../layouts/default
include ../../components/glossary/glossary

block head
  - var pageTitle = 'Versta Project Template'

block page
  block header
    +header()._budget

  block sections
    +sections()

      block content
        +glossary()
        +footer()
        +button-top()
        
  +popup-wrapper()

  script(src="assets/scripts/js/jquery-3.1.1.min.js")
  script(src="assets/scripts/js/easing.min.js")
  script(src="assets/scripts/js/swipe.min.js")
  script(src="assets/scripts/js/slick.min.js")
  script(src="assets/scripts/js/jquery-ui.min.js")
  script(src="assets/scripts/js/sections.min.js")
  script(src="assets/scripts/js/cube.min.js")
  script(src="assets/scripts/js/animation.min.js")
  script(src="assets/scripts/js/label.min.js")
  script(src="assets/scripts/js/select.min.js")
  script(src="assets/scripts/js/popup.min.js")
  script(src="assets/scripts/js/share.min.js")
  script(src="assets/scripts/js/diagram.min.js")
  script(src="assets/scripts/js/letter.min.js")
  script(src="assets/scripts/js2/header/form.min.js")
  script(src="assets/scripts/js2/header/common.min.js")
  script(src="assets/scripts/js/glossary-page.js")
