extends ../../layouts/default
include ../../components/glossary/glossary

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +glossary()
      +popup-wrapper()
      +footer()
      +button-top()
