include ../page-header/page-header

mixin principles()
  .d-abs-content.d-budjet-cards_bg
    .d-layer.load-anim-fade(data-delay="1400")
      .d-si__head
        +page-header('Принципы бюджетной системы РФ', ['О бюджете', 'Бюджетная система'], true)

      p.d-abs__head_descr.load-anim-fade(data-delay="1600") Принципы, определяющие основу функционирования бюджетной системы Российской Федерации (в&nbsp;соответствии с&nbsp;главой 5&nbsp;Бюджетного кодекса&nbsp;РФ)
      #carousel
        .ar-left
        .carousel-count#count
        .ar-right
        .carousel-area__left
          .carousel-area__left__zone(data-speed="1")
          .carousel-area__left__zone(data-speed="2")
          .carousel-area__left__zone(data-speed="3")
          .carousel-area__left__zone(data-speed="4")
        .carousel-area__right
          .carousel-area__right__zone(data-speed="4")
          .carousel-area__right__zone(data-speed="3")
          .carousel-area__right__zone(data-speed="2")
          .carousel-area__right__zone(data-speed="1")
        carousel-3d(:width="660", :height="600", :border="0", :display="9", :autoplay="false", :autoplayHoverPause="true", :space="83", :perspective="0", :inverse-scaling="4", :minSwipeDistance="0")
          slide(:index="0")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Единство бюджетной системы Российской Федерации
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Единство:
                    ul.d-slide__body_list.width595
                      li бюджетного законодательства;
                      li организации и осуществления бюджетного процесса;
                      li применения бюджетной классификации;
                      li требований к определению объема, форм и порядка предоставления межбюджетных трансфертов;
                      li исполнения требований исполнительных документов;
                      li форм бюджетной документации и отчетности;
                      li бюджетных мер принуждения.
              button.d-slide__more Читать далее
          slide(:index="1")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Разграничение доходов, расходов и&nbsp;источников финансирования дефицитов бюджетов
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Закрепление за бюджетами бюджетной системы Российской Федерации в соответствии с законодательством РФ:
                    ul.d-slide__body_list.width595
                      li доходов;
                      li расходов;
                      li источников финансирования дефицитов бюджетов.
                  li.none Определение полномочий органов власти по:
                    ul.d-slide__body_list.width595
                      li формированию доходов бюджетов;
                      li формированию источников финансирования дефицитов бюджетов;
                      li установлению и исполнению расходных обязательств публично-правовых образований.
              button.d-slide__more Читать далее
          slide(:index="2")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Самостоятельность бюджетов
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Право и обязанность органов власти самостоятельно:
                    ul.d-slide__body_list.width595
                      li обеспечивать сбалансированность бюджетов и эффективность использования бюджетных средств;
                      li осуществлять бюджетный процесс;
                      li устанавливать налоги и сборы, доходы от которых подлежат зачислению в соответствующие бюджеты;
                      li определять формы и направления расходования средств бюджетов;
                      li не допускать установления расходных обязательств, подлежащих исполнению за счет доходов и источников финансирования дефицитов других бюджетов;
                      li предоставлять средства из бюджета на исполнение расходных обязательств, устанавливаемых иными органами государственной власти и органами местного самоуправления, исключительно в форме межбюджетных трансфертов;
                      li не допускать введения в действие в течение текущего финансового года органами власти изменений бюджетного законодательства, приводящих к увеличению расходов и (или) снижению доходов других бюджетов без внесения изменений в законы (решения) о соответствующих бюджетах, предусматривающих компенсацию увеличения расходов, снижения доходов;
                      li не допускать изъятия дополнительных доходов, экономии по расходам бюджетов, полученных в результате эффективного исполнения бюджетов.
              button.d-slide__more Читать далее
          slide(:index="3")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Равенство бюджетных прав субъектов Россйской Федерации, муниципальных образований
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Включает в себя:
                    ul.d-slide__body_list.width595
                      li определение бюджетных полномочий органов власти субъектов и местного самоуправления;
                      li установление и исполнение расходных обязательств;
                      li формирование налоговых и неналоговых доходов региональных и местных бюджетов;
                      li определение объема, форм и порядка предоставления межбюджетных трансфертов.
              button.d-slide__more Читать далее
          slide(:index="4")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Полнота отражения доходов, расходов и&nbsp;источников финансирования дефицитов бюджетов
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Все доходы, расходы и источники финансирования дефицитов бюджетов в обязательном порядке и в полном объеме отражаются в соответствующих бюджетах.
              button.d-slide__more Читать далее
          slide(:index="5")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Сбалансированность бюджета
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Объем предусмотренных бюджетом расходов должен соответствовать суммарному объему доходов бюджета и поступлений источников финансирования его дефицита, уменьшенных на суммы выплат из бюджета, связанных с источниками финансирования дефицита бюджета и изменением остатков на счетах по учету средств бюджетов.
              button.d-slide__more Читать далее
          slide(:index="6")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Эффективность использования бюджетных средств
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none При планировании, составлении и исполнении бюджетов участники бюджетного процесса должны исходить из необходимости:
                    ul.d-slide__body_list.width595
                      li достижения планируемых результатов с использованием наименьшего объема средств (экономности); 
                      li достижения наилучшего результата с использованием определенного бюджетом объема средств (результативности).
              button.d-slide__more Читать далее
          slide(:index="7")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Cовокупное покрытие расходов бюджетов
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Расходы бюджета не могут быть увязаны с определенными доходами бюджетов и источников финансирования бюджета, за исключением:
                    ul.d-slide__body_list.width595
                      li субвенций, субсидий и иных межбюджетных трансфертов;
                      li расходов бюджета, осуществляемых в соответствии с международными договорами;
                      li добровольных взносов, пожертвований и средств самообложения граждан;
                      li расходов бюджета, осуществляемых в соответствии с законодательством о конкретных видах обязательного социального страхования;
                      li отдельных доходов бюджетов, учитываемых при определении объемов бюджетных ассигнований дорожных фондов;
                      li средств целевых иностранных кредитов;
                      li расходов бюджета, осуществляемых в случаях и в пределах поступления отдельных видов неналоговых доходов бюджета.
              button.d-slide__more Читать далее
          slide(:index="8")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Прозрачность (открытость)
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Включает в себя:
                    ul.d-slide__body_list.width595
                      li обязательное опубликование в СМИ и (или) на едином портале бюджетной системы РФ в сети "Интернет" утвержденных законов о бюджете и законов об исполнении бюджета, информации о ходе исполнения бюджетов, а также доступность иных сведений о бюджетах;
                      li обязательную открытость для общества и СМИ проектов бюджетов, процедур рассмотрения и принятия решений по проектам бюджетов;
                      li обязанность финансовых органов формировать информацию о соответствующих бюджетах в доступной (понятной) для граждан форме;
                      li стабильность и (или) преемственность бюджетной классификации РФ, а также обеспечение сопоставимости показателей бюджета отчетного, текущего и очередного финансового года (и планового периода).
              button.d-slide__more Читать далее
          slide(:index="9")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Принцип достоверности бюджета
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Включает в себя:                            
                    ul.d-slide__body_list.width595
                      li реалистичность (обоснованность) показателей прогноза социально-экономического развития;
                      li реалистичность расчета доходов и расходов бюджета.
              button.d-slide__more Читать далее
          slide(:index="10")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Адресность и&nbsp;целевой характер бюджетных средств
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Бюджетные ассигнования и лимиты бюджетных обязательств доводятся до конкретных получателей бюджетных средств с указанием цели их использования.
              button.d-slide__more Читать далее
          slide(:index="11")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Подведомственность расходов бюджета
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Получатели бюджетных средств вправе получать бюджетные ассигнования и лимиты бюджетных обязательств только от главного распорядителя (распорядителя) бюджетных средств, в ведении которого они находятся.
              button.d-slide__more Читать далее
          slide(:index="12")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Единство кассы
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Зачисление всех кассовых поступлений и осуществление всех кассовых выплат с единого счета бюджета (за исключением операций по исполнению бюджетов, осуществляемых в соответствии с нормативными правовыми актами Российской Федерации за пределами территории Российской Федерации).
              button.d-slide__more Читать далее
        //
          slide(:index="1")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 самостоятельность бюджетов
              ul.d-slide__body_list.scroll-pane
                li Право и обязанность органов государственной власти и органов местного самоуправления самостоятельно обеспечивать сбалансированность соответствующих бюджетов и эффективность использования бюджетных средств;
                li Право и обязанность органов государственной власти и органов местного самоуправления самостоятельно осуществлять бюджетный процесс, за исключением случаев, предусмотренных Бюджетным Кодексом;
                li Право органов государственной власти и органов местного самоуправления устанавливать в соответствии с законодательством Российской Федерации о налогах и сборах налоги и сборы, доходы от которых подлежат зачислению в соответствующие бюджеты бюджетной системы Российской Федерации;
                li Право органов государственной власти и органов местного самоуправления устанавливать в соответствии с законодательством Российской Федерации о налогах и сборах налоги и сборы, доходы от которых подлежат зачислению в соответствующие бюджеты бюджетной системы Российской Федерации;
                li Недопустимость установления расходных обязательств, подлежащих исполнению за счет доходов и источников финансирования дефицитов других бюджетов бюджетной системы Российской Федерации, а также расходных обязательств, подлежащих исполнению одновременно за счет средств двух и более бюджетов бюджетной системы Российской Федерации, за счет средств консолидированных бюджетов или без определения бюджета, за счет средств которого должно осуществляться исполнение соответствующих расходных обязательств;
          slide(:index="2")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Проведение мониторинга и оценки реализации мероприятий Плана обеспечения устойчивого развития экономики и социальной стабильности города Москвы в части налоговой политики
              ul.d-slide__body_list.scroll-pane
                li Сохранение до 2021 года налоговых канкул для перешедших на патентную или упрощенную систему налогооблажения индивидуальных предпринимателей, впервые зарегистрированных после 25 марта 2015 года и осуществляющих деятельность в производственной, научной и социальной сферах
                li Расширение перечня видов предпринимательской деятельности, в отношении которых возможно приминение патентной системы налогооблажения
