include ../page-header/page-header

mixin principles()
  .d-abs-content.d-budjet-cards_bg
    .d-layer
      .d-si__head
        +page-header('принципы бюджетной системы', 'Бюджетная система', true)

      p.d-abs__head_descr Принципы, определяющие основу функционирования бюджетной системы Российской Федерации (в&nbsp;соответствии с&nbsp;главой 5&nbsp;Бюджетного кодекса&nbsp;РФ)
      #carousel
        .ar-left
        .carousel-count#count
        .ar-right
        .carousel-area__left
          .carousel-area__left__zone(data-speed="1")
          .carousel-area__left__zone(data-speed="2")
          .carousel-area__left__zone(data-speed="3")
          .carousel-area__left__zone(data-speed="4")
        .carousel-area__right
          .carousel-area__right__zone(data-speed="4")
          .carousel-area__right__zone(data-speed="3")
          .carousel-area__right__zone(data-speed="2")
          .carousel-area__right__zone(data-speed="1")
        carousel-3d(:width="660", :height="600", :border="0", :display="9", :autoplay="false", :autoplayHoverPause="true", :space="83", :perspective="0", :inverse-scaling="4", :minSwipeDistance="0")
          slide(:index="0")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Единство бюджетной системы Российской Федерации
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="1")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Разграничение доходов, расходов и&nbsp;источников финансирования дефицитов бюджетов
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="2")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Самостоятельность бюджетов
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="3")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Равенство бюджетных прав субъектов Россйской Федерации, муниципальных образований
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="4")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Полнота отражения доходов, расходов и&nbsp;источников финансирования дефицитов бюджетов
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="5")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Сбалансированность бюджета
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="6")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Эффективность использования бюджетных средств
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="7")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Общее (совокупное) покрытие расходов бюджетов
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="8")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Прозрачность (открытость) бюджета
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="9")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Достоверность бюджета
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="10")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Адресность и&nbsp;целевой характер бюджетных средств
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="11")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Подведомственность расходов бюджета
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
          slide(:index="12")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Единство кассы
              ul.d-slide__body_list.scroll-pane
                li Принцип единства бюджетной системы Российской Федерации означает единство бюджетного законодательства Российской Федерации, принципов организации и&nbsp;функционирования бюджетной системы Российской Федерации, форм бюджетной документации и&nbsp;бюджетной отчетности, бюджетной классификации бюджетной системы Российской Федерации, бюджетных мер принуждения за&nbsp;нарушение бюджетного законодательства Российской Федерации, единый порядок установления и&nbsp;исполнения расходных обязательств, формирования доходов и&nbsp;осуществления расходов бюджетов бюджетной системы Российской Федерации, ведения бюджетного учета и&nbsp;составления бюджетной отчетности бюджетов бюджетной системы Российской Федерации и&nbsp;казенных учреждений, единство порядка исполнения судебных актов по&nbsp;обращению взыскания на&nbsp;средства бюджетов бюджетной системы Российской Федерации.<br/> (Статья&nbsp;29, Глава&nbsp;5, БК&nbsp;РФ&nbsp;от&nbsp;31.07.1998&nbsp;N 145-ФЗ (ред. от&nbsp;03.07.2016) (с&nbsp;изм. и&nbsp;доп., вступ. в&nbsp;силу с&nbsp;01.09.2016)
        //
          slide(:index="1")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 самостоятельность бюджетов
              ul.d-slide__body_list.scroll-pane
                li Право и обязанность органов государственной власти и органов местного самоуправления самостоятельно обеспечивать сбалансированность соответствующих бюджетов и эффективность использования бюджетных средств;
                li Право и обязанность органов государственной власти и органов местного самоуправления самостоятельно осуществлять бюджетный процесс, за исключением случаев, предусмотренных Бюджетным Кодексом;
                li Право органов государственной власти и органов местного самоуправления устанавливать в соответствии с законодательством Российской Федерации о налогах и сборах налоги и сборы, доходы от которых подлежат зачислению в соответствующие бюджеты бюджетной системы Российской Федерации;
                li Право органов государственной власти и органов местного самоуправления устанавливать в соответствии с законодательством Российской Федерации о налогах и сборах налоги и сборы, доходы от которых подлежат зачислению в соответствующие бюджеты бюджетной системы Российской Федерации;
                li Недопустимость установления расходных обязательств, подлежащих исполнению за счет доходов и источников финансирования дефицитов других бюджетов бюджетной системы Российской Федерации, а также расходных обязательств, подлежащих исполнению одновременно за счет средств двух и более бюджетов бюджетной системы Российской Федерации, за счет средств консолидированных бюджетов или без определения бюджета, за счет средств которого должно осуществляться исполнение соответствующих расходных обязательств;
          slide(:index="2")
            .d-slide.d-slide__principles
              .d-slide__head
                h2 Проведение мониторинга и оценки реализации мероприятий Плана обеспечения устойчивого развития экономики и социальной стабильности города Москвы в части налоговой политики
              ul.d-slide__body_list.scroll-pane
                li Сохранение до 2021 года налоговых канкул для перешедших на патентную или упрощенную систему налогооблажения индивидуальных предпринимателей, впервые зарегистрированных после 25 марта 2015 года и осуществляющих деятельность в производственной, научной и социальной сферах
                li Расширение перечня видов предпринимательской деятельности, в отношении которых возможно приминение патентной системы налогооблажения
