include ../page-header/page-header

mixin depfin-about()
  +b.depfin-about&attributes(attributes)
    .wrapper.page-content-wrapper
      +e.head
        +page-header('О портале')

      +e.main
        +e.wrapper
          +e.H3.main-subtitle
            | Действующий с 2011 года Портал Правительства Москвы &laquo;Открытый бюджет города Москвы&raquo;, предназначенный для размещения информации о городском бюджете, является одним из ключевых инструментов реализации принципов открытости финансов органов власти.
          +e.P.text
            | На постоянной основе ведутся работы по расширению и улучшению функций Портала, при которых также учитываются замечания и предложения граждан, поступившие через раздел
            +e.A(href='#').link &laquo;Обратная связь&raquo;
            | .
          +e.P.text
            | На постоянной основе ведутся работы по расширению и улучшению функций Портала, при которых также учитываются замечания и предложения граждан, поступившие через раздел
            +e.A(href='#').link &laquo;Обратная связь&raquo;
            | .
          +e.P.text
            | На постоянной основе ведутся работы по расширению и улучшению функций Портала, при которых также учитываются замечания и предложения граждан, поступившие через раздел
            +e.A(href='#').link &laquo;Обратная связь&raquo;
            | .
          +e.P.text
            | На постоянной основе ведутся работы по расширению и улучшению функций Портала, при которых также учитываются замечания и предложения граждан, поступившие через раздел «Обратная связь».
          +e.P.text
            | На постоянной основе ведутся работы по расширению и улучшению функций Портала, при которых также учитываются замечания и предложения граждан, поступившие через раздел
            +e.A(href='#').link &laquo;Обратная связь&raquo;
            | .

      +e.foot

        +e.paragraph
          +e.H4.subtitle
              | Цели публикации данных о бюджете:
          +e.wrapper
            +e.UL.list._marked
              +e.LI.item
                | повышение степени вовлеченности и доверия граждан к деятельности органов исполнительной власти;
              +e.LI.item
                | повышение степени вовлеченности и доверия граждан к деятельности органов исполнительной власти;
              +e.LI.item
                | повышение степени вовлеченности и доверия граждан к деятельности органов исполнительной власти;

        +e.paragraph
          +e.H4.subtitle
              | Регламентирующие нормативно-правовые акты:
          +e.wrapper
            +e.UL.list._marked
              +e.LI.item
                | повышение степени вовлеченности и доверия граждан к деятельности органов исполнительной власти;
              +e.LI.item
                | повышение степени вовлеченности и доверия граждан к деятельности органов исполнительной власти;
              +e.LI.item
                | повышение степени вовлеченности и доверия граждан к деятельности органов исполнительной власти;

        +e.paragraph
          +e.H4.subtitle
              | Сфера использования и применения:
          +e.wrapper
            +e.UL.list._marked
              +e.LI.item
                | повышение степени вовлеченности и доверия граждан к деятельности органов исполнительной власти;
              +e.LI.item
                | повышение степени вовлеченности и доверия граждан к деятельности органов исполнительной власти;
              +e.LI.item
                | повышение степени вовлеченности и доверия граждан к деятельности органов исполнительной власти;

        +e.paragraph
          +e.H4.subtitle
              | Условия использования данных:
          +e.wrapper
            +e.UL.list._num
              +e.LI.item
                +e.SPAN.item-num 1.
                | Условия использования данных не предполагают обязательного заключения какого-либо договора с государственным органом или органом местного самоуправления, предоставляющим данные.
              +e.LI.item
                +e.SPAN.item-num 2.
                | Условия использования данных не предполагают обязательного заключения какого-либо договора с государственным органом или органом местного самоуправления, предоставляющим данные.
              +e.LI.item
                +e.SPAN.item-num 3.
                | Условия использования данных не предполагают обязательного заключения какого-либо договора с государственным органом или органом местного самоуправления, предоставляющим данные.
              +e.LI.item
                +e.SPAN.item-num 4.
                | Пользователь обязан:
                +e.UL.list._marked._nested
                  +e.LI.item
                    | использовать данные только в законных целях;
                  +e.LI.item
                    | использовать данные только в законных целях;
                  +e.LI.item
                    | использовать данные только в законных целях;
