mixin calendar(id)
  +b.calendar.form__field.form__&attributes(attributes)
    +e.LABEL.label
      block
    +e.DIV(id= id).date-range
      +e.INPUT(type='text', value='дд.мм.гг').date-range-input.jq-f-datepicker.input-min
      +e.SPAN.date-range-sep —
      +e.INPUT(type='text', value='дд.мм.гг').date-range-input.jq-f-datepicker.input-max
      +e.SPAN.date-range-icon
