
/*Form*/
.form__field { position: relative; margin-bottom: 12px; }

.form__field:after { display: block; width: 100%; content: ""; clear: both; }

.form__field_d1 { width: 604px; padding-left: 180px; }

.form__field_d2 { width: 410px; padding-left: 135px; }

.form__field_d3 { width: 375px; padding-left: 180px; }

.form__field_d4 { width: 315px; padding-left: 120px; }

.form__label { display: block; position: absolute; font-size: 14px; font-weight: 500; color: #FFF; text-transform: uppercase; top: 11px; left: 0; }

.form__text { width: 100%; font-family: 'pf_dintext_pro'; font-size: 14px; padding: 8px 10px; border: 1px solid #D7D7D7; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.form__date-range { border: 1px solid #D7D7D7; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; position: relative; padding-left: 10px; }

.form__date-range:after { display: block; width: 100%; content: ""; clear: both; }

.form__date-range-input { font-family: 'pf_dintext_pro'; font-size: 14px; padding: 8px 0; width: 55px; }

.form__date-range-sep { display: inline-block; padding: 9px 6px 0 3px; cursor: default; }

.form__date-range-icon { display: block; position: absolute; width: 38px; height: 35px; top: -1px; right: -1px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }

.form__date-range-icon:before { display: block; content: ""; width: 13px; height: 14px; position: absolute; right: 13px; top: 50%; margin-top: -7px; background-image: url("../images/sprite.png"); background-repeat: no-repeat; background-position: -186px -117px; }

.form__date-range_focus .form__date-range-icon { background: #FFF; }

.form__date-range_focus .form__date-range-icon:before { background-position: -209px -117px; }

@media (max-width: 1180px) { .form__field_d1, .form__field_d2 { width: 100%; padding-left: 180px; }
  .form__date-range:before { width: 17px; height: 18px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; background-position: -98px -117px; margin-top: -9px; right: 7px; }
  .form__submit { width: 195px; } }

@media (max-width: 900px) { .form__field_d3, .form__field_d4 { width: 100%; padding-left: 180px; } }

@media (max-width: 700px) { .form__label { position: static; margin-bottom: 5px; }
  .form__field { padding: 0; margin-bottom: 15px; }
  .form__submit { margin-left: 0; width: 100%; } }
