include ../../blocks/icon/icons
include ../../components/page-header/page-header

mixin feedback()
  +b.SECTION.feedback.sections__item&attributes(attributes)
    .wrapper.page-content-wrapper
      +e.header
        +page-header('Обратная связь')
      +e.content.load-anim-fade(data-delay="1500")
        +e.left-side
          +e.A(href="#").send-link Направить обращение
          +e.contacts
            +e.P.block-heading Департамент финансов города Москвы
            p Единый телефон: +7 (499) 251-49-82
            p Факс:  +7 (499) 250-21-46
            p Электронная почта:
              a(href="#") info@fin.dep.mos.ru
        +e.right-side
          +e.A(href='#').block-heading._link Форум
          +e.P.block-desc Предложения и пожелания по работе с Порталом
          +e.forum
            +e.P.forum-head Иван Иванов
              span 19.09.2016
            +e.P.forum-text Хотелось бы отдельный блок по данным, а то темы по этому вопросу разбросаны по форуму,
            +e.A(href="#").forum-link
              +icon('reply').forum-link-icon
              span Департамент финансов города Москвы
              | Иван, спасибо за идею, но НЕТ
        +e.map
          script(type="text/javascript", charset="utf-8", async, src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A603f0779dc02a7602d2b4eca9826088ee20b17078f26fb497508590c1531430c&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")
