.tag {
  font-family: $PFDinTextPro;
  font-size: 14px;
  color: $color-black;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  padding: 7px 17px;
  display: inline-block;

  &_active {
    background-color: $color-yellow;
  }
}
