.tag {
  font-family: $PFDinTextPro;
  font-size: 14px;
  color: $color-black;
  border: 1px solid #dcdcdc;
  border-radius: 2px;

  display: inline-block;

  &__control {
    display: none;

    &:checked + .tag__text {
      background-color: $color-yellow;
    }
  }

  &__text {
    display: inline-block;
    padding: 7px 17px;
  }
}
