.table {
  display: block;
  padding: 40px 0 0;
  font-size: 16px;
  font-weight: 500;
  color: $color-input;

  &__row {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;

    &_caption {
      font-size: 14px;
      color: #898783;
      border: none;
      text-transform: uppercase;
    }

    &_subcaption {
      font-size: 11px;
      color: #898783;
      border-bottom: 2px solid #e6e6e6;
    }

    &_opened {

      & .table__arrow {
        transform: rotate(90deg);
      }

      & .table__arrow_root {
        transform: rotate(90deg);
      }
      
      & + .table__row_subrow {
        display: block;
      }
    }

    &_subrow {
      display: none;

      & + .table__row_subrow {
        display: none;
      }
    }
    
    &_level2 .table__col {
      &:first-child {padding-left: 10px !important;}
      &_iconed:first-child {padding-left: 15px !important;}
    }
    &_level3 .table__col {
      &:first-child {padding-left: 20px !important; font-size: 14px !important;}
      &_iconed:first-child {padding-left: 25px !important;}
    }
    &_level4 .table__col {
      &:first-child {padding-left: 30px !important; font-size: 14px !important;}
      &_iconed:first-child {padding-left: 35px !important;}
    }
    &_level5 .table__col {
      &:first-child {padding-left: 40px !important; font-size: 12px !important;}
      &_iconed:first-child {padding-left: 45px !important;}
    }
    &_level6 .table__col {
      &:first-child {padding-left: 50px !important; font-size: 12px !important;}
      &_iconed:first-child {padding-left: 55px !important;}
    }
  }

  &__subrow{
    &_opened{
      .table__subarrow{
        transform: rotate(90deg);
      }
    }
  }

  &__col {
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    /*padding: 19px 24px;*/
    padding: 19px 0;

    &_one { width: (1/9)*75%; }

    &_two { width: 75%; }

    &_three { width: (1/3)*75%; }

    &_four { width: 25%; }

    &_subcol {
      font-size: 14px;
      padding-left: 20px;
    }
    
    &_inactive {
      opacity: 0;
    }
  }

  &__arrow, &__arrow_root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    cursor: pointer;
    
    svg {
      position: absolute;
      width: 14px;
      height: 14px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      fill: #0d46a1;
    }
  }
  
  //&__arrow_root {
  //  position: absolute;
  //  top: calc(50% - 7px);
  //  right: 0;
  //  width: 14px;
  //  height: 14px;
  //  fill: #0d46a1;
  //  cursor: pointer;
  //}

  &__periodtext {
    font-size: 12px;
    font-weight: 500;
    color: #b8b8b8;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    width: 64%;
    text-align: center;
    z-index: 1;
    margin-top: -27px;
    display: none;

    span {
      background-color: #fff;
      padding: 0 10px;
    }
  }

  &__period-left,
  &__period-right {
    position: absolute;
    bottom: 100%;
    right: 0;
    height: 13px;
    border: 1px solid #d7d7d7;
    border-bottom: 0;
  }

  &__period-left {
    left: 50%;
    right: 0;
    border-right: 0;
  }

  &__period-right {
    right: 50%;
    left: 0;
    border-left: 0;
  }
}
