include ../icon/icons

//- Аргумент data - один из вариантов json данных income, income1, income2, income3 .json
//- для каждого вида вкладок 02, 04, 06, 08 соотв.

//- таблица в доходах бюджета
mixin table-income(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
        +e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)
    +e.P.periodtext
      span Плановый период

    +e.row._caption
      +e.col._four Виды доходов

      if (data[0].year)
        each item in data
          +e.col._four= item.year
            if item.leftperiod
              +e.SPAN.period-left
            if item.rightperiod
              +e.SPAN.period-right
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four empty

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

    +e.row
      +e.col._four Доходы, всего

      +dataType(data, 'total')

    +e.row._opened
      +e.col._four
        +icon('angle-arrow').arrow
        | Налоговые доходы, в том числе:

      +dataType(data, 'tax')

    +e.row._subrow_tax
      +e.col._four._subcol Налог на прибыль организаций

      +dataType(data, 'org')

    +e.row._subrow_tax
      +e.col._four._subcol Налог на доходы физических лиц

      +dataType(data, 'ndfl')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row
      +e.col._four
        +icon('angle-arrow').arrow
        | Неналоговые доходы, в том числе:

      +dataType(data, 'nonTax')

//- таблица в расходах бюджета
mixin table-expenses(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
        +e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)
    
    +e.P.periodtext
      span Плановый период

    +e.row._caption
      +e.col._four Виды расходов

      if (data[0].year)
        each item in data
          +e.col._four= item.year
            if item.leftperiod
              +e.SPAN.period-left
            if item.rightperiod
              +e.SPAN.period-right
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four empty

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

        +e.col._one Закон перво- начальный
        +e.col._one Изменение
        +e.col._one Закон с учетом Изменений

    +e.row
      +e.col._four Расходы, всего

      +dataType(data, 'total')

    +e.row._opened
      +e.col._four
        +icon('angle-arrow').arrow
        | Программные расходы, в том числе:

      +dataType(data, 'tax')

    +e.row._subrow
      +e.col._four._subcol ГП «Развитие транспортной системы»

      +dataType(data, 'org')

    +e.row._subrow
      +e.col._four._subcol ГП «Развитие здравоохранения города Москвы»

      +dataType(data, 'ndfl')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row
      +e.col._four
        +icon('angle-arrow').arrow
        | Непрограммные расходы

      +dataType(data, 'nonTax')

//- таблица в аналитике Главная
mixin table-main(data)

  mixin dataType(data, type)
    case data.length
      when 3
        - var cells = 'three';
      when 2
        - var cells = 'two';
      when 1
        - var cells = 'one';

    each item in data
      if (typeof data[0].total === "object")
        +e.col._one= item[type].initial
        +e.col._one= item[type].change
        +e.col._one= item[type].final
      else
        +e(class= 'col_'+cells)= item.total


  +b.table&attributes(attributes)

    +e.row._caption
      +e.col._four Показатели

      if (data[0].year)
        each item in data
          +e.col._four= item.year
      else
        +e.col._four МЛРД РУБ.
        +e.col._four %

    if (typeof data[0].total === "object")
      +e.row._subcaption
        +e.col._four &nbsp;

        +e.col._one факт
        +e.col._one &nbsp;

        +e.col._one факт
        +e.col._one темп

        +e.col._one факт
        +e.col._one темп

        +e.col._one факт
        +e.col._one темп

        +e.col._one факт
        +e.col._one темп

    +e.row
      +e.col._four Доходы

      +dataType(data, 'total')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row
      +e.col._four Расходы

      +dataType(data, 'total')

    +e.row
      +e.col._four ...

      +dataType(data, 'other')

    +e.row
      +e.col._four Дефицит/профицит

      +dataType(data, 'total')
