mixin footer()
  .sections__item.sections__item_footer
    +b.FOOTER.footer._b
      .wrap.footer__wrap.anim-fade-top
        .footer__box.viewport-md-lg
          nav.footer__column
            ul.footer__nav-section_min-h
              li.footer__nav-item
                a(href='#').footer__nav-a.footer__nav-a_b О бюджете
              li.footer__nav-item
                a(href='#').footer__nav-a Что такое бюджет?
              li.footer__nav-item
                a(href='#').footer__nav-a Бюджетная система
                ul.footer__sub-menu
                  li
                    a(href='#') Бюджетная система РФ
                  li
                    a(href='#') Принципы бюджетной системы РФ
                  li
                    a(href='#') Этапы подготовки бюджета
                  li
                    a(href='#') Бюджетная политика Москвы
                  li
                    a(href='#') Налоговая политика Москвы
              li.footer__nav-item
                a(href='#').footer__nav-a Бюджетная классификация
              li.footer__nav-item
                a(href='#').footer__nav-a Глоссарий
              li.footer__nav-item
                a(href='#').footer__nav-a Документы
          nav.footer__column
            ul
              li.footer__nav-item
                a(href='#').footer__nav-a.footer__nav-a_b Бюджет Москвы
              li.footer__nav-item
                a(href='#').footer__nav-a Доходы
              li.footer__nav-item
                a(href='#').footer__nav-a Расходы
              li.footer__nav-item
                a(href='#').footer__nav-a
                  | Источники финансирования
                  br
                  | дефицита бюджета
              li.footer__nav-item
                a(href='#').footer__nav-a Государственные программы
              li.footer__nav-item
                a(href='#').footer__nav-a
                  | Адресная инвестиционная
                  br
                  | программа
              li.footer__nav-item
                a(href='#').footer__nav-a Государственный долг
              li.footer__nav-item
                a(href='#').footer__nav-a Межбюджетные отношения

        .footer__box.viewport-md-lg
          nav.footer__column
            ul.footer__nav-section_min-h
              li.footer__nav-item
                a(href='#').footer__nav-a.footer__nav-a_b Аналитика
              li.footer__nav-item
                a(href='#').footer__nav-a Доходы
              li.footer__nav-item
                a(href='#').footer__nav-a Расходы
              li.footer__nav-item
                a(href='#').footer__nav-a Государственные программы
              li.footer__nav-item
                a(href='#').footer__nav-a
                  | Адресная инвестиционная
                  br
                  | программа
              li.footer__nav-item
                a(href='#').footer__nav-a
                  | Социально-экономическое
                  br
                  | развитие
              li.footer__nav-item
                a(href='#').footer__nav-a Государственный долг
          nav.footer__column
            ul.footer__nav-section
              li.footer__nav-item
                a(href='#').footer__nav-a.footer__nav-a_b Открытость
              li.footer__nav-item
                a(href='#').footer__nav-a Открытые данные
              li.footer__nav-item
                a(href='#').footer__nav-a
                  | Путеводитель
                  br
                  | по бюджету
              li.footer__nav-item
                a(href='#').footer__nav-a Конкурсы
              li.footer__nav-item
                a(href='#').footer__nav-a
                  | Рейтинг открытости
                  br
                  | бюджетных данных
              li.footer__nav-item
                a(href='#').footer__nav-a
                  | Федеральный бюджет
                  br
                  | для граждан
            ul
              li.footer__nav-item
                A.footer__nav-a.footer__nav-a_b Сервисы

        nav.footer__column.footer__column_sh.viewport-md-lg
          ul.footer__nav-section.footer__nav-section_min-h
            li.footer__nav-item
              a(href='#').footer__nav-a.footer__nav-a_b Медиацентр
            li.footer__nav-item
              a(href='#').footer__nav-a Новости
            li.footer__nav-item
              a(href='#').footer__nav-a События
            li.footer__nav-item
              a(href='#').footer__nav-a Инфографика
            li.footer__nav-item
              a(href='#').footer__nav-a Медиаматериалы
            li.footer__nav-item
              a(href='#').footer__nav-a Материалы для СМИ
            li.footer__nav-item
              a(href='#').footer__nav-a Пресс-служба
          ul
            li.footer__nav-item
              a(href='#').footer__nav-a.footer__nav-a_b Обратная связь
            li.footer__nav-item
              a(href='#').footer__nav-a Форум
            li.footer__nav-item.viewport-md
              a(href='#').footer__nav-a О портале
            li.footer__nav-item.viewport-md
              a(href='#').footer__nav-a Карта сайта

        //- footer-mob-menu
        ul.footer-mob-menu.viewport-sm
          li.footer-mob-menu__item
            a(href='#').footer-mob-menu__a О бюджете
          li.footer-mob-menu__item
            a(href='#').footer-mob-menu__a Сервисы
          li.footer-mob-menu__item
            a(href='#').footer-mob-menu__a Бюджет Москвы
          li.footer-mob-menu__item.viewport-small
            a(href='#').footer-mob-menu__a О портале
          li.footer-mob-menu__item
            a(href='#').footer-mob-menu__a Аналитика
          li.footer-mob-menu__item.viewport-small
            a(href='#').footer-mob-menu__a Карта сайта
          li.footer-mob-menu__item
            a(href='#').footer-mob-menu__a Открытость
          li.footer-mob-menu__item
            a(href='#').footer-mob-menu__a Обратная связь
          li.footer-mob-menu__item
            a(href='#').footer-mob-menu__a Медиацентр
          li.footer-mob-menu__item
            a(href='#').footer-mob-menu__a.small О портале
            a(href='#').footer-mob-menu__a.small Карта сайта

        //- footer_absolute
        .footer__abs
          .footer__box.footer__box_l
            .footer__column.viewport-lg
              a(href='#').footer__box-a О портале
              a(href='#').footer__box-a Карта сайта
            .footer__column
              //- LOGO
              a(href='#').logo.footer__logo
                img(src='assets/images/logo-footer.png', alt='logo').logo__img
                span.logo__lg
                  | Департамент Финансов
                  br
                  | города Москвы
            .footer__column
              //- LOGO
              a(href='#').logo.footer__logo
                img(src='assets/images/logo-footer-1.png', alt='logo').logo__img
                span.logo__lg
                  | Официальный портал Мэра
                  br
                  | и Правительства Москвы

          .footer__box.footer__box_m
            .footer__column
              .social.footer__social
                ul
                  li.social__item
                    a(href='#').social__a.social__a_fb
                  li.social__item
                    a(href='#').social__a.social__a_vk
                  li.social__item
                    a(href='#').social__a.social__a_tw
                  li.social__item
                    a(href='#').social__a.social__a_in
                  li.social__item
                    a(href='#').social__a.social__a_ok
                  li.social__item
                    a(href='#').social__a.social__a_yt
                  li.social__item
                    a(href="#").social__a.social__a_tg.fa.fa-telegram.fa-2
            .footer__column
              .application
                span
                  | Мобильное
                  br
                  | приложение
                a(href='#').application__apl
                a(href='#').application__and
                a(href='#').application__win

      //- FOOTER_BAR/
      .footer__bar
        .footer__bar-top
          .wrap
            ul
              //- li.viewport-md
              //-   bar-top-a Карта сайта
              li
                A.footer__bar-top-a Сайты Москвы
              li
                A.footer__bar-top-a Сайты России

        .footer__bar-bottom
          .wrap
            p.footer__copy
              | Все материалы сайта доступны по лицензии
              a(href='#') Creative Commons Attribution 3.0
              | &nbsp;при условии
              br
              | ссылки на первоисточник (в случае использования материалов сайта
              br
              | в сети Интернет – интерактивная ссылка).
            p.footer__stat
              | 832 уникальных посетителя сегодня.
              br
              | Всего порталы Москвы посетило 1004547.
