include ../../blocks/social/social

mixin footer()
  //- +b.footer&attributes(attributes)
    //- FOOTER_NAVIGATION/
  .sections__item.sections__item_footer
    footer.footer.footer_b
      .wrap.footer__wrap.anim-fade-top
        .footer__box.viewport-md-lg
          NAV.footer__column
            UL.footer__nav-section_min-h
              LI.footer__nav-item
                A(href='#').footer__nav-a.footer__nav-a_b О бюджете
              LI.footer__nav-item
                A(href='#').footer__nav-a Что такое бюджет?
              LI.footer__nav-item
                A(href='#').footer__nav-a Бюджетная система
                UL.footer__sub-menu
                  LI
                    A(href='#') Бюджетная система РФ
                  LI
                    A(href='#') Принципы бюджетной системы РФ
                  LI
                    A(href='#') Этапы подготовки бюджета
                  LI
                    A(href='#') Бюджетная политика Москвы
                  LI
                    A(href='#') Налоговая политика Москвы
              LI.footer__nav-item
                A(href='#').footer__nav-a Бюджетная классификация
              LI.footer__nav-item
                A(href='#').footer__nav-a Глоссарий
              LI.footer__nav-item
                A(href='#').footer__nav-a Документы
          NAV.footer__column
            UL
              LI.footer__nav-item
                A(href='#').footer__nav-a.footer__nav-a_b Бюджет Москвы
              LI.footer__nav-item
                A(href='#').footer__nav-a Доходы
              LI.footer__nav-item
                A(href='#').footer__nav-a Расходы
              LI.footer__nav-item
                A(href='#').footer__nav-a
                  | Источники финансирования
                  br
                  | дефицита бюджета
              LI.footer__nav-item
                A(href='#').footer__nav-a Государственные программы
              LI.footer__nav-item
                A(href='#').footer__nav-a
                  | Адресная инвестиционная
                  br
                  | программа
              LI.footer__nav-item
                A(href='#').footer__nav-a Государственный долг
              LI.footer__nav-item
                A(href='#').footer__nav-a Межбюджетные отношения
  
        .footer__box.viewport-md-lg
          NAV.footer__column
            UL.footer__nav-section_min-h
              LI.footer__nav-item
                A(href='#').footer__nav-a.footer__nav-a_b Аналитика
              LI.footer__nav-item
                A(href='#').footer__nav-a Доходы
              LI.footer__nav-item
                A(href='#').footer__nav-a Расходы
              LI.footer__nav-item
                A(href='#').footer__nav-a Государственные программы
              LI.footer__nav-item
                A(href='#').footer__nav-a
                  | Адресная инвестиционная
                  br
                  | программа
              LI.footer__nav-item
                A(href='#').footer__nav-a
                  | Социально-экономическое
                  br
                  | развитие
              LI.footer__nav-item
                A(href='#').footer__nav-a Государственный долг
          NAV.footer__column
            UL.footer__nav-section
              LI.footer__nav-item
                A(href='#').footer__nav-a.footer__nav-a_b Открытость
              LI.footer__nav-item
                A(href='#').footer__nav-a Открытые данные
              LI.footer__nav-item
                A(href='#').footer__nav-a
                  | Путеводитель
                  br
                  | по бюджету
              LI.footer__nav-item
                A(href='#').footer__nav-a Конкурсы
              LI.footer__nav-item
                A(href='#').footer__nav-a
                  | Рейтинг открытости
                  br
                  | бюджетных данных
              LI.footer__nav-item
                A(href='#').footer__nav-a
                  | Федеральный бюджет
                  br
                  | для граждан
            UL
              LI.footer__nav-item
                A.footer__nav-a.footer__nav-a_b Сервисы
  
        NAV.footer__column.footer__column_sh.viewport-md-lg
          UL.footer__nav-section_min-h
            LI.footer__nav-item
              A(href='#').footer__nav-a.footer__nav-a_b Медиацентр
            LI.footer__nav-item
              A(href='#').footer__nav-a Новости
            LI.footer__nav-item
              A(href='#').footer__nav-a События
            LI.footer__nav-item
              A(href='#').footer__nav-a Инфографика
            LI.footer__nav-item
              A(href='#').footer__nav-a Медиаматериалы
            LI.footer__nav-item
              A(href='#').footer__nav-a Материалы для СМИ
            LI.footer__nav-item
              A(href='#').footer__nav-a Пресс-служба
          UL
            LI.footer__nav-item
              A(href='#').footer__nav-a.footer__nav-a_b Обратная связь
            LI.footer__nav-item
              A(href='#').footer__nav-a Форум
            LI.footer__nav-item.viewport-md
              A(href='#').footer__nav-a О портале
            LI.footer__nav-item.viewport-md
              A(href='#').footer__nav-a Карта сайта
  
        //- footer-mob-menu
        UL.footer-mob-menu.viewport-sm
          LI.footer-mob-menu__item
            A(href='#').footer-mob-menu__a О бюджете
          LI.footer-mob-menu__item
            A(href='#').footer-mob-menu__a Сервисы
          LI.footer-mob-menu__item
            A(href='#').footer-mob-menu__a Бюджет Москвы
          LI.footer-mob-menu__item
            A(href='#').footer-mob-menu__a О портале
          LI.footer-mob-menu__item
            A(href='#').footer-mob-menu__a Аналитика
          LI.footer-mob-menu__item
            A(href='#').footer-mob-menu__a Карта сайта
          LI.footer-mob-menu__item
            A(href='#').footer-mob-menu__a Открытость
          LI.footer-mob-menu__item
            A(href='#').footer-mob-menu__a Обратная связь
          LI.footer-mob-menu__item
            A(href='#').footer-mob-menu__a Медиацентр
  
        //- footer_absolute
        .footer__abs
          .footer__box.footer__box_l
            .footer__column.viewport-lg
              A(href='#').footer__box-a О портале
              A(href='#').footer__box-a Карта сайта
            .footer__column
              //- LOGO
              A(href='#').logo.footer__logo
                IMG(src='assets/images/logo-footer.png', alt='logo').logo__img
                SPAN.logo_lg
                  | Департамент Финансов
                  br
                  | города Москвы
            .footer__column
              //- LOGO
              A(href='#').logo.footer__logo
                IMG(src='assets/images/logo-footer-1.png', alt='logo').logo__img
                SPAN.logo__lg
                  | Официальный портал Мэра
                  br
                  | и Правительства Москвы
  
          .footer__box.footer__box_m
            .footer__column
              .social.footer__social
                ul
                  li.social__item
                    a(href='#').social__a.social__a_fb
                  li.social__item
                    a(href='#').social__a.social__a_vk
                  li.social__item
                    a(href='#').social__a.social__a_tw
                  li.social__item
                    a(href='#').social__a.social__a_in
                  li.social__item
                    a(href='#').social__a.social__a_ok
                  li.social__item
                    a(href='#').social__a.social__a_yt
            .footer__column
              .application
                SPAN
                  | Мобильное
                  br
                  | приложение
                A(href='#').application__apl
                A(href='#').application__and
                A(href='#').application__win
  
      //- FOOTER_BAR/
      .footer__bar
        .footer__bar-top
          .wrap
            UL
              //- li.viewport-md
              //-   bar-top-a Карта сайта
              LI
                A.footer__bar-top-a Сайты Москвы
              LI
                A.footer__bar-top-a Сайты России
  
        .footer__bar-bottom
          .wrap
            .footer__copy
              | Все материалы сайта доступны по лицензии
              a(href='#') Creative Commons Attribution 3.0
              br
              | при условии ссылки на первоисточник (в случае использования материалов
              br
              | сайта в сети Интернет – интерактивная ссылка).
            .footer__stat
              | 832 уникальных посетителя сегодня.
              br
              | Всего порталы Москвы посетило 1004547.
