img {
    vertical-align: bottom;
    border: 0;
}

.wrap { max-width: 1174px; margin: 0 auto; }

.wrap:after { display: block; width: 100%; content: ""; clear: both; }

.wrap_sh { max-width: 1100px; }

@media (max-width: 1254px) { .wrap { margin: 0 40px; }
  .wrap_sh { margin: 0 88px; } }

@media (max-width: 900px) { .wrap { margin: 0 30px; }
  .wrap_sh { margin: 0 66px; } }

@media (max-width: 700px) { .wrap { margin: 0 20px !important; } }

/*Sections change animation*/
.anim-fade-top { position: relative; top: 50px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: 0.8s; -moz-transition: 0.8s; -o-transition: 0.8s; transition: 0.8s; }

.anim-fade-top_on { top: 0; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

/*Logo*/
.logo { display: block; color: #FFF; float: left; width: 230px; text-decoration: none; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; position: relative; }

.logo__img { float: left; margin-right: 17px; }

.logo__lg { display: block; font-size: 18px; margin-bottom: 2px; font-weight: 500; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; position: relative; bottom: 0; }

.logo__sm { display: block; font-size: 14px; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; position: relative; bottom: 0; }

.logo:hover { color: #fee300; }

.viewport-md, .viewport-sm { display: none; }

@media (max-width: 700px) {
  .viewport-sm { display: block; }
  .viewport-md-lg { display: none !important; }
}

@media (min-width: 700px) and (max-width: 1180px) { .viewport-md { display: block; } }

/*Social Buttons*/
.social__item { list-style: none; float: left; margin-left: 25px; }

.social__a { display: block; width: 18px; height: 17px; position: relative; }

.social__a:before, .social__a:after { display: block; content: ""; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-image: url("../images/sprite.png"); background-repeat: no-repeat; background-position: 0 0; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }

.social__a:after { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }

.social__a_fb:before { background-position: 2px 0; }

.social__a_fb:after { background-position: 2px -91px; }

.social__a_vk:before { background-position: -22px -1px; }

.social__a_vk:after { background-position: -22px -92px; }

.social__a_tw:before { background-position: -45px 0; }

.social__a_tw:after { background-position: -45px -91px; }

.social__a_in:before { background-position: -68px 0; }

.social__a_in:after { background-position: -68px -91px; }

.social__a_ok:before { background-position: -89px 0; }

.social__a_ok:after { background-position: -89px -91px; }

.social__a_yt:before { background-position: -111px 0; }

.social__a_yt:after { background-position: -111px -91px; }

.social__a:hover:after { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

@media (max-width: 1180px) { .social__a:before, .social__a:after { background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; } }

/*Social Buttons Large*/
.social-lg { text-align: justify; height: 50px; }

.social-lg:after, .social-lg:before { display: block; content: ""; width: 100%; height: 0; }

.social-lg:after { display: inline-block; }

.social-lg__item { list-style: none; display: inline-block; }

.social-lg__a { display: block; width: 50px; height: 50px; background-image: url("../images/sprite.png"); background-repeat: no-repeat; background-position: 0 0; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }

.social-lg__a_fb { background-position: 0 -140px; }

.social-lg__a_tw { background-position: -61px -140px; }

.social-lg__a_vk { background-position: -123px -140px; }

.social-lg__a_ok { background-position: -184px -140px; }

.social-lg__a_gos { background-position: -245px -140px; }

.social-lg__a_g { background-position: -306px -140px; }

.social-lg__a_ya { background-position: -367px -140px; }

.social-lg__a_sm { background-position: -427px -140px; }

.social-lg__a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }

@media (max-width: 580px) { .social-lg__a { width: 27px; height: 27px; -o-background-size: 248px auto; -moz-background-size: 248px auto; background-size: 248px auto; }
  .social-lg__a_fb { background-position: 0 -72px; }
  .social-lg__a_tw { background-position: -31px -72px; }
  .social-lg__a_vk { background-position: -63px -72px; }
  .social-lg__a_ok { background-position: -94px -72px; }
  .social-lg__a_gos { background-position: -125px -72px; }
  .social-lg__a_g { background-position: -158px -72px; }
  .social-lg__a_ya { background-position: -189px -72px; }
  .social-lg__a_sm { background-position: -220px -72px; } }

.application span { display: inline-block; line-height: 1; margin-right: 20px; font-size: 16px; }

.application a { display: inline-block; width: 25px; height: 25px; margin-right: 10px; position: relative; }

.application a:before, .application a:after { display: block; content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url("../images/sprite.png"); background-repeat: no-repeat; background-position: 0 0; }

.application a:after { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; z-index: 2; }

.application a:hover:after { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.application__apl:before { background-position: -261px -84px !important; }

.application__and:before { background-position: -296px -84px !important; }

.application__win:before { background-position: -333px -84px !important; }

.application__apl:after { background-position: -261px -111px !important; }

.application__and:after { background-position: -296px -111px !important; }

.application__win:after { background-position: -333px -111px !important; }

@media (min-width: 1201px) and (max-width: 1280px) {
  .application {
    span {
      margin-right: 15px;
    }

    a {
      margin-right: 1px;
    }
  }

  .footer_b {
    padding-bottom: 380px;
  }
}

@media (min-width: 1001px) and (max-width: 1200px) {
  .application {
    position: relative;

    span {
      margin-right: 15px;
    }

    a {
      margin-right: 1px;
    }
  }

  .footer__box_l .footer__column {
    width: 45%;
  }
}

@media (min-width: 901px) and (max-width: 1000px) {
  .application {
    position: relative;
    top: 65px;

    span {
      margin-right: 0;
      width: 100%;
      margin-bottom: .8125rem;
    }

    a {
      margin-right: 15px;
    }
  }

  .footer__box_l .footer__column {
    width: 45%;
  }

  .footer__social .social__item {
    margin: 29px 27px 0 0;
  }
}

@media (max-width: 900px) and (min-height: 700px) {
  .application {
    position: relative;
    top: 0;
    padding-top: 43px;

  }

  .footer__abs {
    bottom: -56px;
  }

  .footer__box_l .footer__column {
    width: 50%;
    float: left;
  }
}

@media (max-width: 700px) {
  .application {
    display: none;
  }
  .footer_b {
    padding-bottom: 230px;
    padding-top: 60px;
    font-size: 20px;
  }
  .footer-mob-menu { list-style: none; }
  .footer-mob-menu__item { width: 33.333%; float: left; margin-bottom: 1.125em; }
  .footer-mob-menu__a { font-size: 0.9375em; font-weight: 500; color: #FFF; text-decoration: none; }
  .footer .viewport-md-lg { display: none; }
  .footer .viewport-sm { display: block; }

  .footer__social {
    width: 100%;
  }

  .footer__box {
    width: 100%;
    float: left;
    min-height: 21px;
  }

  .footer__social {
    width: 100%;
    bottom: 50px;
    margin-bottom: 23px;

    ul {
      text-align: justify;
      height: 17px;

      &::before, &::after {
        display: block;
        content: '';
        width: 100%;
        height: 0;
      }
    }
    .social__item {
      float: none;
      display: inline-block;
      position: relative;
      margin: 0;
    }
  }

  .footer__social:after {
    display: block;
    width: 100%;
    content: '';
    clear: both;
  }

  .footer__abs {
    bottom: -65px;
  }

  .footer__bar-top {
    height: auto;
    padding: 0.4375em 0;
  }

  .footer__bar-bottom {
    padding: 0.5625em 0;
    min-height: 1px;
    height: auto;
  }

  .footer__copy {
    width: 100% !important;
    font-size: 0.4375em;
    margin-bottom: 1.42857em;
    float: none;
  }

  .footer__stat {
    width: auto;
    margin-left: 25px;
    font-size: 0.4375em;
    float: none;
    padding-left: 1.14286em;
  }

  .footer__stat:before {
    width: 13px;
    height: 12px;
    margin-top: -6px;
    left: -24px;
  }
}
@media (max-width: 500px) {
  .footer_b {
    padding-bottom: 200px;
  }
}
/*+++++++++++++++++++++++++++++*/

.sections__item_footer { background: #2A3A49; }

/*============================================FOOTER===================================================*/
.footer { overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-top: 6.0625rem; padding-bottom: 275px; }

.footer__box { float: left; width: 40%; min-height: 21px; }

.footer__box_l { width: 60%; }

.footer__box_l .footer__column { width: 33.333%; }

.footer__box-a { font-size: 16px; font-weight: 500; display: inline-block; margin-right: 15px; text-decoration: none; }

.footer__box-a:hover { color: #fee300; }

.footer__column { float: left; width: 50%; min-height: 21px; }

.footer__column_sh { width: 20%; }

.footer__nav-item { list-style: none; margin-bottom: 0.8125rem; position: relative; z-index: 3; }

.footer__nav-a { color: #FFF; font-size: 15px; line-height: 1.2; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; text-decoration: none; }

.footer__nav-a_b { font-size: 1.5rem; font-weight: 500; }

.footer__nav-a:hover { color: #fee300; }

.footer__nav-section { min-height: 18.125rem; }

.footer__sub-menu { list-style: none; padding: 8px 0 0 18px; }

.footer__sub-menu li { margin-bottom: 10px; }

.footer__sub-menu a { font-size: 13px; text-decoration: none; }

.footer__sub-menu a:hover { color: #fee300; }

.footer__social {display: block}

.footer__social .social__item { margin: 0 11px 0 0; }

.footer__wrap { z-index: 3; position: relative; }

.footer__logo { position: absolute; bottom: 0; z-index: 3; height: 32px; }

.footer__logo .logo__img { margin-right: 13px; }

.footer__logo .logo__lg { font-size: 16px; }

.footer__abs { position: absolute; bottom: -50px; left: 0; width: 100%; }

.footer__bar { position: absolute; bottom: 0; left: 0; width: 100%; font-family: 'Arial'; }

.footer__bar .wrap { max-width: 1000px; }

.footer__bar-top { background: #24282C; padding-top: 18px; height: 49px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.footer__bar-top li { list-style: none; float: left; margin-right: 33px; }

.footer__bar-top-a { font-size: 14px; font-weight: 700; text-decoration: none; color: #fff; text-transform: uppercase; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }

.footer__bar-top-a:hover { color: #fee300; }

.footer__bar-bottom { padding-top: 26px; min-height: 94px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #FFF; }

.footer__bar:before { display: block; content: ""; background: url("../images/background/footer.png") no-repeat 50% 100%; width: 100%; height: 142px; border-bottom: 1px solid #374654; }

.footer__copy { float: left; font-size: 13px; color: #4C545C; line-height: 1.15385; }

.footer__copy a:hover { text-decoration: none; }

.footer__stat { width: 349px; float: right; padding-left: 16px; border-left: 1px solid #B5BBBE; font-size: 13px; color: #4C545C; line-height: 1.23077; position: relative; }

.footer__stat:before { display: block; content: ""; width: 20px; height: 20px; background-image: url("../images/sprite.png"); background-repeat: no-repeat; background-position: 0 -114px; position: absolute; left: -32px; top: 50%; margin-top: -10px; }

@media (min-width: 1254px) and (min-height: 850px) { .footer { padding-top: 130px; } }

@media (min-width: 1254px) and (min-height: 1000px) { .footer { padding-top: 190px; } }

@media (max-width: 1180px) {
  .footer__bar-top-a { font-size: 12px; } }

@media (max-width: 1060px) and (max-height: 780px) and (min-height: 600px) { .footer { padding-top: 100px; font-size: 20px; }
  .footer__column, .footer__box { width: 100%; }
  .footer__box_l .footer__column { width: 50%; float: left; }
  .footer__abs { bottom: -100px; }
  .footer__social { width: 100%; bottom: 68px; }
  .footer__social ul { text-align: justify; height: 17px; }
  .footer__social ul:before, .footer__social ul:after { display: block; content: ""; width: 100%; height: 0; }
  .footer__social ul:after { display: inline-block; }
  .footer__social .social__item { float: none; margin: 0; display: inline-block; position: relative; }

  .footer__bar { bottom: 0; }
  .footer__bar-bottom { height: 94px; } }

@media (max-width: 900px) { .footer { padding-bottom: 220px; }
  .footer_b { padding-bottom: 320px; }
  .footer__box { width: 33.333%; }
  .footer__box_l { width: 66.666%; }
  .footer__box_l .footer__column { width: 50%; float: left; }
  .footer__column { float: none; width: 100%; }
  .footer__column_sh { float: left; width: 33.333%; }
  .footer__nav-section { min-height: 1px; }
  .footer__nav-section_min-h { min-height: 305px; }
  .footer__abs { bottom: -56px; }
  .footer__abs .md-ml-50 { margin-left: 0 !important; }
  .footer__social { bottom: 95px; }
  .footer__social:after { display: block; width: 100%; content: ""; clear: both; }
  .footer__nav-item { margin-bottom: 8px; }
  .footer__nav-a_b { font-size: 22px; }
  .footer__copy { width: 39%; }
  .footer__stat { max-width: 342px; }
  .footer__bar-bottom { padding-bottom: 26px; } }

@media (max-width: 900px) and (max-height: 800px) { .footer { font-size: 27px; padding-top: 75px; }
  .footer__copy { width: 100%; font-size: 0.4375em; margin-bottom: 1.42857em; float: none; }
  .footer__stat { width: auto; margin-left: 25px; font-size: 0.4375em; float: none; padding-left: 1.14286em; }
  .footer__stat:before { width: 13px; height: 12px; margin-top: -6px; left: -24px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; background-position: 0 -118px; }
  .footer__bar { bottom: 50px; }
  .footer__bar-top { height: auto; padding: 0.4375em 0; }
  .footer__bar-top-a { font-size: 0.5625em; }
  .footer__bar-bottom { min-height: 1px; padding: 0.5625em 0; }
  .footer_b .footer__bar { bottom: 0; }
  .footer-mob-menu { list-style: none; }
  .footer-mob-menu__item { float: left; width: 50%; margin-bottom: 1.125em; }
  .footer-mob-menu__a { font-size: 0.8125em; font-weight: 500; color: #FFF; text-decoration: none; }
  .footer__abs { bottom: -105px; }
  .footer__social { width: 100%; margin-bottom: 30px; }
  .footer__social ul { text-align: justify; height: 17px; }
  .footer__social ul:before, .footer__social ul:after { display: block; content: ""; width: 100%; height: 0; }
  .footer__social ul:after { display: inline-block; }
  .footer__social .social__item { float: none; margin: 0; display: inline-block; position: relative; }
  .footer__box_m .footer__column { width: 100%; }
  .footer__logo .logo__img { margin-right: 8px; width: 25px; height: auto; }
  .footer__logo .logo__lg { font-size: 12px; padding-top: 3px; } }

@media (max-width: 860px) and (max-height: 620px) { .footer { padding-top: 100px; font-size: 20px; }
  .footer__abs { bottom: -100px; }
  .footer__social { bottom: 50px; }
  .footer__bar { bottom: 0; }
  .footer__bar-bottom { height: 94px; } }

@media (max-width: 900px) and (min-width: 700px) and (max-height: 550px) { .footer__social { margin-bottom: 10px; }
  .footer__abs { bottom: -65px; }
  .footer .application { top: 52px; padding-top: 0; } }

@media (max-width: 700px) and (max-height: 600px) { .footer { padding-top: 60px; font-size: 20px; }
  .footer__abs { bottom: -70px; }
  .footer__social { margin-bottom: 23px; }
  .footer-mob-menu__item { width: 33.333%; }
  .footer-mob-menu__a { font-size: 0.9375em; }
  .footer__bar { bottom: 50px; }
  .footer__bar-bottom { height: auto; } }

@media (max-width: 500px) and (max-height: 600px) { .footer { font-size: 16px; }
  .footer__abs { bottom: -70px; }
  .footer-mob-menu__item { width: 50%; }
  .footer-mob-menu__a { font-size: 0.8125em; }
  .footer__logo .logo__lg { font-size: 10px; } }

.application span { display: inline-block; line-height: 1; margin-right: 20px; font-size: 16px; }

.application a { display: inline-block; width: 25px; height: 25px; margin-right: 10px; position: relative; }

.application a:before, .application a:after { display: block; content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url("../images/sprite.png"); background-repeat: no-repeat; background-position: 0 0; }

.application a:after { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; z-index: 2; }

.application a:hover:after { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.application__apl:before { background-position: -261px -84px !important; }

.application__and:before { background-position: -296px -84px !important; }

.application__win:before { background-position: -333px -84px !important; }

.application__apl:after { background-position: -261px -111px !important; }

.application__and:after { background-position: -296px -111px !important; }

.application__win:after { background-position: -333px -111px !important; }




.hFooter {
    height: 130px
}

.footer {
//    margin-top: -130px
}
