include ../../blocks/social/social
include ../../blocks/icon/icons

mixin footer()
  +b.FOOTER.footer#footer.sections__item&attributes(attributes)
    //- враппер с отступами и ограничением ширины
    +e.wrap.wrap
      //- основной блок футера
      +e.main
        //- колонка меню
        +e.column
          +e.A.heading(href="#") О бюджете
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Что такое бюджет?
            +e.LI.menu-item
              +e.A.menu-link(href="#") Бюджетная система Москвы
              //- субменю
              +e.UL.menu._submenu
                +e.LI.menu-item
                  +e.A.menu-link(href="#") Бюджетная система РФ
                +e.LI.menu-item
                  +e.A.menu-link(href="#") Принципы бюджетной системы РФ
                +e.LI.menu-item
                  +e.A.menu-link(href="#") Этапы подготовки бюджета
                +e.LI.menu-item
                  +e.A.menu-link(href="#") Бюджетная политика Москвы
                +e.LI.menu-item
                  +e.A.menu-link(href="#") Налоговая политика Москвы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Бюджетная классификация
            +e.LI.menu-item
              +e.A.menu-link(href="#") Глоссарий
            +e.LI.menu-item
              +e.A.menu-link(href="#") Документы
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Бюджет Москвы
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Доходы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Расходы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Источники финансирования дефицита бюджета
            +e.LI.menu-item
              +e.A.menu-link(href="#") Государственные программы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Адресная инвестиционная программа
            +e.LI.menu-item
              +e.A.menu-link(href="#") Государственный долг
            +e.LI.menu-item
              +e.A.menu-link(href="#") Межбюджетные отношения
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Аналитика
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Доходы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Расходы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Государственные программы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Адресная инвестиционная программа
            +e.LI.menu-item
              +e.A.menu-link(href="#") Социально-экономическое развитие
            +e.LI.menu-item
              +e.A.menu-link(href="#") Государственный долг
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Открытость
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Открытые данные
            +e.LI.menu-item
              +e.A.menu-link(href="#") Путеводитель по бюджету Москвы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Конкурсы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Рейтинг открытости бюджетных данных
            +e.LI.menu-item
              +e.A.menu-link(href="#") Федеральный бюджет для граждан
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Медиацентр
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Новости
            +e.LI.menu-item
              +e.A.menu-link(href="#") Пресса о нас
            +e.LI.menu-item
              +e.A.menu-link(href="#") Инфографика
            +e.LI.menu-item
              +e.A.menu-link(href="#") Медиаматериалы
            +e.LI.menu-item
              +e.A.menu-link(href="#") События
            +e.LI.menu-item
              +e.A.menu-link(href="#") Материалы для СМИ
            +e.LI.menu-item
              +e.A.menu-link(href="#") Пресс-служба
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Сервисы
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Обратная связь
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Форум
        //- колонка меню
        +e.column._break-the-line
          +e.about
            +e.A.about-link(href="#") О портале
            +e.A.about-link(href="#") Карта сайта
        //- колонка меню
        +e.column
          +e.A.block-logo(href="#")
            +e.DIV.block-logo-img._depfin
            +e.SPAN.block-logo-text Департамент Финансов города Москвы
        //- колонка меню
        +e.column
          +e.A.block-logo(href="#")
            +e.DIV.block-logo-img._mos
              +icon('mos').icon
            +e.SPAN.block-logo-text Официальный портал Мэра и Правительства Москвы
        //- колонка меню
        +e.column._social
          +social('facebook-box', 'vk', 'tw', 'insta', 'odnokl', 'youtube-play', 'telegram').__social
        //- колонка меню
        +e.column._app
          +e.app
            +e.app-text Мобильное<br>приложение
            +e.A.app-link(href="#")
              +icon('apple').icon
            +e.A.app-link(href="#")
              +icon('android').icon
            +e.A.app-link(href="#")
              +icon('windows').icon

  +e.common
    <iframe src="https://evp.mos.ru/frame/v2/footer.php?v=1.0.17&amp;site_id=2136&amp;show_blind=0&amp;hidesitemap=0&amp;hidecounter=0&amp;cur_domain=budget.mos.ru" id="footer_frame" frameborder="0" width="100%" scrolling="no" style="height: 208px;"></iframe>
