mixin footer()
  +b.footer&attributes(attributes)
    //- FOOTER_NAVIGATION/
    +e.wrap.wrap.anim-fade-top
      +e.box.viewport-md-lg
        +e.NAV.column
          +e.UL.nav-section._min-h
            +e.LI.nav-item
              +e.A(href='#').nav-a._b О бюджете
            +e.LI.nav-item
              +e.A(href='#').nav-a Что такое бюджет?
            +e.LI.nav-item
              +e.A(href='#').nav-a Бюджетная система
              +e.UL.sub-menu
                +e.LI
                  +e.A(href='#') Бюджетная система РФ
                +e.LI
                  +e.A(href='#') Принципы бюджетной системы РФ
                +e.LI
                  +e.A(href='#') Этапы подготовки бюджета
                +e.LI
                  +e.A(href='#') Бюджетная политика Москвы
                +e.LI
                  +e.A(href='#') Налоговая политика Москвы
            +e.LI.nav-item
              +e.A(href='#').nav-a Бюджетная классификация
            +e.LI.nav-item
              +e.A(href='#').nav-a Глоссарий
            +e.LI.nav-item
              +e.A(href='#').nav-a Документы
        +e.NAV.column
          +e.UL
            +e.LI.nav-item
              +e.A(href='#').nav-a._b Бюджет Москвы
            +e.LI.nav-item
              +e.A(href='#').nav-a Доходы
            +e.LI.nav-item
              +e.A(href='#').nav-a Расходы
            +e.LI.nav-item
              +e.A(href='#').nav-a
                | Источники финансирования
                br
                | дефицита бюджета
            +e.LI.nav-item
              +e.A(href='#').nav-a Государственные программы
            +e.LI.nav-item
              +e.A(href='#').nav-a
                | Адресная инвестиционная
                br
                | программа
            +e.LI.nav-item
              +e.A(href='#').nav-a Государственный долг
            +e.LI.nav-item
              +e.A(href='#').nav-a Межбюджетные отношения

      +e.box.viewport-md-lg
        +e.NAV.column
          +e.UL.nav-section._min-h
            +e.LI.nav-item
              +e.A(href='#').nav-a._b Аналитика
            +e.LI.nav-item
              +e.A(href='#').nav-a Доходы
            +e.LI.nav-item
              +e.A(href='#').nav-a Расходы
            +e.LI.nav-item
              +e.A(href='#').nav-a Государственные программы
            +e.LI.nav-item
              +e.A(href='#').nav-a
                | Адресная инвестиционная
                br
                | программа
            +e.LI.nav-item
              +e.A(href='#').nav-a
                | Социально-экономическое
                br
                | развитие
            +e.LI.nav-item
              +e.A(href='#').nav-a Государственный долг
        +e.NAV.column
          +e.UL.nav-section
            +e.LI.nav-item
              +e.A(href='#').nav-a._b Открытость
            +e.LI.nav-item
              +e.A(href='#').nav-a Открытые данные
            +e.LI.nav-item
              +e.A(href='#').nav-a
                | Путеводитель
                br
                | по бюджету
            +e.LI.nav-item
              +e.A(href='#').nav-a Конкурсы
            +e.LI.nav-item
              +e.A(href='#').nav-a
                | Рейтинг открытости
                br
                | бюджетных данных
            +e.LI.nav-item
              +e.A(href='#').nav-a
                | Федеральный бюджет
                br
                | для граждан
          +e.UL
            +e.LI.nav-item
              +e.A.nav-a._b Сервисы

      +e.NAV.column._sh.viewport-md-lg
        +e.UL.nav-section._min-h
          +e.LI.nav-item
            +e.A(href='#').nav-a._b Медиацентр
          +e.LI.nav-item
            +e.A(href='#').nav-a Новости
          +e.LI.nav-item
            +e.A(href='#').nav-a События
          +e.LI.nav-item
            +e.A(href='#').nav-a Инфографика
          +e.LI.nav-item
            +e.A(href='#').nav-a Медиаматериалы
          +e.LI.nav-item
            +e.A(href='#').nav-a Материалы для СМИ
          +e.LI.nav-item
            +e.A(href='#').nav-a Пресс-служба
        +e.UL
          +e.LI.nav-item
            +e.A(href='#').nav-a._b Обратная связь
          +e.LI.nav-item
            +e.A(href='#').nav-a Форум
          +e.LI.nav-item
            +e.A(href='#').nav-a О портале
          +e.LI.nav-item
            +e.A(href='#').nav-a Карта сайта

      //- footer-mob-menu
      +b.UL.footer-mob-menu.viewport-sm
        +e.LI.item
          +e.A(href='#').a О бюджете
        +e.LI.item
          +e.A(href='#').a Сервисы
        +e.LI.item
          +e.A(href='#').a Бюджет Москвы
        +e.LI.item
          +e.A(href='#').a О портале
        +e.LI.item
          +e.A(href='#').a Аналитика
        +e.LI.item
          +e.A(href='#').a Карта сайта
        +e.LI.item
          +e.A(href='#').a Открытость
        +e.LI.item
          +e.A(href='#').a Обратная связь
        +e.LI.item
          +e.A(href='#').a Медиацентр

      //- footer_absolute
      +e.abs
        +e.box._l
          +e.column.viewport-lg
            +e.A(href='#').box-a О портале
            +e.A(href='#').box-a Карта сайта
          +e.column
            //- LOGO
            +b.A(href='#').logo.footer__logo
              +e.IMG(src='images/logo-footer.png', alt='logo').img
              +e.SPAN.lg
                | Департамент Финансов
                br
                | города Москвы
          +e.column
            //- LOGO
            +b.A(href='#').logo.footer__logo
              +e.IMG(src='images/logo-footer-1.png', alt='logo').img
              +e.SPAN.lg
                | Официальный портал Мэра
                br
                | и Правительства Москвы

        +e.box._m
          +e.column
            +b.social.footer__social
              +e.UL
                +e.LI.item
                  +e.A(href='#')
                +e.LI.item
                  +e.A(href='#')
                +e.LI.item
                  +e.A(href='#')
                +e.LI.item
                  +e.A(href='#')
                +e.LI.item
                  +e.A(href='#')
                +e.LI.item
                  +e.A(href='#')
          +e.column
            +b.application
              +e.SPAN
                | Мобильное
                br
                | приложение
              +e.A(href='#').apl
              +e.A(href='#').apl
              +e.A(href='#').apl

    //- FOOTER_BAR/
    +e.bar
      +e.bar-top
        .wrap
          +e.UL
            //- li.viewport-md
            //-   +e.bar-top-a Карта сайта
            +e.LI
              +e.A.bar-top-a Сайты Москвы
            +e.LI
              +e.A.bar-top-a Сайты России

      +e.bar-bottom
        .wrap
          +e.copy
            | Все материалы сайта доступны по лицензии
            a(href='#') Creative Commons Attribution 3.0
            br
            | при условии ссылки на первоисточник (в случае использования материалов
            br
            | сайта в сети Интернет – интерактивная ссылка).
          +e.stat
            | 832 уникальных посетителя сегодня.
            br
            | Всего порталы Москвы посетило 1004547.
