// скрываем футер на главной, до его переноса в блок footer__common
// где он уже будет виден, на остальных страницах футер виден по-умолчанию
body.home .footer-frame-wrp { display: none; }

.footer {
  position: relative;
  overflow: hidden;
  padding-bottom: 0 !important;
  font-family: $PFDinCondensedPro;
  font-size: 15px;
  line-height: 1.15;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a3a49;
  color: white;

  @media (max-width: $navBreakpointTablet) {
    background-position: left bottom;
  }

  /**/
  &_roboto {
    * {
      font-family: $RobotoCond !important;
    }
  }

  // футер на главной странице
  .sections_fs & {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 70px;

    // футер на главной, БЕЗ футера дита, в отдельном слайде
    &.alone {
      z-index: 1; // Safari fix

      @media (max-width: 700px) {
        padding-bottom: 50px !important;
      }

      .footer__main {
        height: 100%;
        margin-top: 0;
        padding-bottom: 0;
      }
    }

    &__main {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      align-content: stretch;
      
      @media (min-width: 1024px) {
        flex: 1 0;
        align-items: stretch;
        align-content: center;
      }
    }

    &__common {
      height: auto;

      @media (max-width: 700px) {
        padding-bottom: 50px;
      }

      // футер ДИТа на главной, в отдельном слайде
      &.alone {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        padding-top: 70px;
        background-color: #2a3a49;

        .footer-frame-wrp {
          max-height: 100%;
          pointer-events: none;
        }

        // iframe#footer_frame {
        //   max-height: 100% !important; // Safari fix
        // }
      }
    }
    
    &__wrap {
      @media screen and (max-width: 1024px) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    @media (max-height: 740px) {
      &__main {
        margin-top: 0;
        padding-bottom: 10px;
      }

      &__column {
        margin-top: 10px;
      }

      &__menu-link {
        @media (max-height: 740px) {
          padding: 3px 0;
        }
      }
    }

    @media (max-width: 480px) {
      &__column {
        margin-top: 10px;
      }
    }

    @media (max-width: 320px) {
      padding-top: 50px;
      font-size: 10px;

      &__main {
        padding-top: 45px;
      }

      &__column {
        margin-top: 5px;
      }

      &__heading {
        font-size: 12px;
      }
    }
  }

  // нарушаем правила)
  a {
    display: inline-block;
    text-decoration: none;
    color: white;
    fill: white;
    @include transited;

    &:hover {
      color: #fee300;
      fill: #fee300;
    }
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  &__wrap {

  }

  &__common {
    // фиксим отступ общего футера сайтов мос
    font-size: 0;
    background-color: white;

    .footer-frame-wrp {
      display: block !important;
    }
  }

  &__main {
    overflow: hidden;
    padding-bottom: 40px;
    background: url('../images/background/footer.png') transparent bottom center no-repeat;

    @media (max-width: $navBreakpointTablet) {
      padding-top: 25px;
    }

    .blindmode-footer & {
      background: none;
    }
  }

  &__column {
    float: left;
    width: 20%;
    margin-top: 40px;

    @media (min-width: $navBreakpointTablet + 1px) {
      &:nth-child(7) {
        float: right;
        margin-right: 20%;
        margin-top: -32px;
      }
    }

    &_break-the-line {
      @media (min-width: $navBreakpointTablet) {
        clear: left;
      }
    }

    @media (min-width: $navBreakpointTablet + 1px) {
      &:not(:last-child) {
        padding-right: 25px;
      }
    }

    @media (max-width: $navBreakpointTablet) {
      margin-top: 20px;
      width: 50%;

      &:nth-child(even) {
        clear: right;
      }

      &:nth-of-type(odd) {
        clear: left;
        padding-right: 10px;
      }
    }

    @media (max-width: 480px) {
      &_app,
      &_social {
        float: none;
        width: 100%;
        @include clearfix;
      }

      &_social {
        padding-top: 20px;
      }
    }

    // фикс для вложенных колонок
    .footer__column {
      float: none;
      width: 100%;
    }
  }

  &__heading {
    display: block;
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    
    @media screen and (max-width: 1024px) {
      font-size: 22px;
    }
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $navBreakpointTablet) {
      display: none;
    }

    &-item {
      display: block;
    }

    &-link {
      padding: 7px 0;
      text-decoration: none;
    }

    // подменю
    .footer__menu {
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 15px;
    }
  }

  &__about {
    &-link {
      font-family: $PFDinCondensedPro;
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__block-logo {
    display: block;
    overflow: hidden;

    @media (max-width: $navBreakpointTablet) {
      max-width: 200px;
    }

    &-img {
      float: left;
      width: 30px;
      height: 35px;
      margin-top: 1px;
      margin-right: 12px;

      &_depfin {
        background: url(../images/logo-depfin.png) center center no-repeat transparent;
        background-size: 100% 100%;
      }

      &_mos {
        fill: #d7282b !important;
      }
    }

    &-text {
      display: block;
      padding-left: 42px;
    }
  }

  &__social {
    margin-right: -5px;
    margin-left: -5px;

    .social__item {
      margin-bottom: 5px;

      &:not(:last-child) {
        margin-right: 0px;
      }
    }

    .social__link {
      .blindmode-footer & {
        width: 26px;
        height: 26px;
        max-height: 26px;
        max-width: 26px;
      }
    }
  }

  &__app {
    &-text {
      float: left;
      margin-right: 10px;
    }

    &-link {
      float: left;
      height: 28px;
      width: 28px;
      padding: 5px;

      .blindmode-footer & {
        width: 37px;
        height: 37px;
      }
    }
  }
}
