include ../../blocks/social/social
include ../../blocks/icon/icons

mixin footer()
  +b.FOOTER.footer#footer.sections__item&attributes(attributes)
    //- основной блок футера
    +e.main.load-anim-fade(data-delay="1500")
      //- враппер с отступами и ограничением ширины
      +e.wrap.wrap
        //- колонка меню
        +e.column
          +e.A.heading(href="#") О бюджете
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Что такое бюджет?
            +e.LI.menu-item
              +e.A.menu-link(href="#").has-dropdown Бюджетная система
              //- субменю
              +e.UL.menu
                +e.LI.menu-item
                  +e.A.menu-link(href="#") Бюджетная система РФ
                +e.LI.menu-item
                  +e.A.menu-link(href="#") Принципы бюджетной системы
                +e.LI.menu-item
                  +e.A.menu-link(href="#") Этапы подготовки бюджета
                //+e.LI.menu-item
                //  +e.A.menu-link(href="#") Бюджетная политика Москвы
                //+e.LI.menu-item
                //  +e.A.menu-link(href="#") Налоговая политика Москвы
                +e.LI.menu-item
                  +e.A.menu-link(href="#") Бюджетная и налоговая политика Москвы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Бюдженая классификация
            +e.LI.menu-item
              +e.A.menu-link(href="#") Глоссарий
            +e.LI.menu-item
              +e.A.menu-link(href="#") Документы
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Бюджет Москвы
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Основные параметры бюджета
            +e.LI.menu-item
              +e.A.menu-link(href="#") Доходы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Расходы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Источники финансирования дефицита бюджета
            +e.LI.menu-item
              +e.A.menu-link(href="#") Государственные программы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Адресная инвестиционная программа
            +e.LI.menu-item
              +e.A.menu-link(href="#") Государственный долг
            +e.LI.menu-item
              +e.A.menu-link(href="#") Межбюджетные отношения
            +e.LI.menu-item
              +e.A.menu-link(href="#") Социально-экономическое развитие
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Аналитика
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Основные параметры бюджета в динамике
            +e.LI.menu-item
              +e.A.menu-link(href="#") Доходы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Расходы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Государственные программы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Государственный долг
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Открытость
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Путеводитель по бюджету Москвы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Конкурсы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Федеральный бюджет для граждан
            +e.LI.menu-item
              +e.A.menu-link(href="#") Открытые данные
            +e.LI.menu-item
              +e.A.menu-link(href="#") Рейтинг открытости бюджетных данных
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Медиацентр
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Новости
            +e.LI.menu-item
              +e.A.menu-link(href="#") События
            +e.LI.menu-item
              +e.A.menu-link(href="#") Инфографика
            +e.LI.menu-item
              +e.A.menu-link(href="#") Медиаматериалы
            +e.LI.menu-item
              +e.A.menu-link(href="#") Материалы для СМИ
            +e.LI.menu-item
              +e.A.menu-link(href="#") Пресс-служба
        //- колонка меню
        +e.column._services
          +e.A.heading(href="#") Сервисы
        //- колонка меню
        +e.column
          +e.A.heading(href="#") Обратная связь
          +e.UL.menu
            +e.LI.menu-item
              +e.A.menu-link(href="#") Форум
        //- колонка меню
        +e.column._break-the-line._about
          +e.about
            +e.SPAN.about-col
              +e.A.about-link(href="#") О портале
            +e.SPAN.about-col
              +e.A.about-link(href="#") Карта сайта
        //- колонка меню
        +e.column
          +e.A.block-logo(href="#")
            +e.DIV.block-logo-img._depfin
            +e.SPAN.block-logo-text Департамент Финансов города Москвы
        //- колонка меню
        +e.column
          +e.A.block-logo(href="#")
            +e.DIV.block-logo-img._mos
              +icon('mos').icon
            +e.SPAN.block-logo-text Официальный портал Мэра и Правительства Москвы
        //- колонка меню
        +e.column._social
          +social('facebook-box', 'vk', 'tw', 'insta', 'odnokl', 'youtube-play', 'telegram').__social
        //- колонка меню
        +e.column._app
          +e.app
            +e.app-text Мобильное<br>приложение
            +e.A.app-link(href="#")
              +icon('apple').icon
            +e.A.app-link(href="#")
              +icon('android').icon
            +e.A.app-link(href="#")
              +icon('windows').icon
        //- колонка меню
        +e.column._oldver
          +e.about
            +e.A.about-link(href="#") Старая версия портала

    +e.common
