extends ../../layouts/default
include ../../components/header/header
include ../../components/edu-service/edu-service

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block content
  +edu-service()
