extends ../../layouts/default
include ../../components/edu-service/edu-service

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +edu-service()
      +popup-wrapper()
      +footer()
