//- по умолчанию синяя сылка с подчеркиванием

//- Модификаторы
//- +link()._dashed - пунктир
//- +link()._yellow - желтая ссылка
//- +link()._big - ССЫЛКА КАПСОМ

//- Элементы
//- icon - можно подключить иконку внутрь кнопки

//- Использование иконки
//- +link()
//-   | Текст кнопки
//-   +icon('right-arrow').icon

mixin link()
  +b.A(href="#").link&attributes(attributes)
    block
