.link {
  display: inline-block;
  font-family: $PFDinTextPro;
  font-size: 16px;
  color: $color-link;
  position: relative;
  text-decoration: underline;

  &_dashed {
    text-decoration: none;
    border-bottom: 1px dashed rgba(0, 97, 160, .3);
  }

  &_yellow {
    color: #5f4132;
  }

  &_white {
    color: $color-white;
  }

  &_light-yellow {
    color: $color-yellow;
    border-bottom: 1px dashed $color-yellow;
    transition: all .25s ease-in-out;

    &:hover {
      border-color: transparent;
    }
  }

  &_big {
    text-transform: uppercase;
    font-family: $PFDinCondensedPro;
    font-weight: 500;
  }

  &__icon {
    position: absolute;
    top: -1px;
    right: -28px;
    width: 17px;
    height: 17px;
    fill: $color-link;
  }
}
