extends ../../layouts/default
include ../../components/main-t1/main-t1

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +main-t1()
      +popup-wrapper()
      +footer()
