.article-preview {
  display: block;
  font-family: $PFDinTextPro;
  font-size: 14.1px;
  font-weight: 400;
  text-align: left;

  &__link {
    text-decoration: none;
  }

  &__title {
    color: $color-yellow;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

  &__text {
    color: $color-white;
    line-height: 18px;
    margin-bottom: 10px;
  }

  &__date {
    color: $color-white;
    opacity: .3;
    line-height: 18px;
  }
}
