mixin documents-cards()
  +b.documents-cards&attributes(attributes)
    .tile.tile_sh
      .tile__item
        .tile__inner.document
          .document__date 26.09.2016
          .document__tit-wrap
            A(href='#').document__title Приказ Департамента финансов города Москвы от 17.09.2014 г. №130
          P.document__excerpt В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"
          .document__bottom
            A(href='#1').document__dwnl Скачать (DOCX, 957,55 Кб)
            A(href='#').document__star.document__star_cur
          SPAN.document__bg.document__bg_t
          SPAN.document__bg.document__bg_r
          SPAN.document__cr
      .tile__item
        .tile__inner.document
          .document__date 26.09.2016
          .document__tit-wrap
            A(href='#3').document__title Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ
          P.document__excerpt В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)
          .document__bottom
            A(href='#1').document__dwnl Скачать (DOCX, 957,55 Кб)
            A(href='#').document__star.document__star
          SPAN.document__bg.document__bg_t
          SPAN.document__bg.document__bg_r
          SPAN.document__cr
      .tile__item
        .tile__inner.document
          .document__date 26.09.2016
          .document__tit-wrap
            A(href='#').document__title Приказ Департамента финансов города Москвы от 17.09.2014 г. №130
          P.document__excerpt В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"
          .document__bottom
            A(href='#1').document__dwnl Скачать (DOCX, 957,55 Кб)
            A(href='#').document__star.document__star_cur
          SPAN.document__bg.document__bg_t
          SPAN.document__bg.document__bg_r
          SPAN.document__cr


mixin documents-page-cards()
  +b.documents-card._page&attributes(attributes)
    .tile.tile_sh
      .tile__item
        .tile__inner.document
          .document__date 26.09.2016
          .document__tit-wrap
            A(href='#').document__title Приказ Департамента финансов города Москвы от 17.09.2014 г. №130
          P.document__excerpt В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"
          .document__bottom
            A(href='#1').document__dwnl Скачать (DOCX, 957,55 Кб)
            A(href='#').document__star.document__star_cur
          SPAN.document__bg.document__bg_t
          SPAN.document__bg.document__bg_r
          SPAN.document__cr
      .tile__item
        .tile__inner.document
          .document__date 26.09.2016
          .document__tit-wrap
            A(href='#3').document__title Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ
          P.document__excerpt В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)
          .document__bottom
            A(href='#1').document__dwnl Скачать (DOCX, 957,55 Кб)
            A(href='#').document__star.document__star
          SPAN.document__bg.document__bg_t
          SPAN.document__bg.document__bg_r
          SPAN.document__cr
      .tile__item
        .tile__inner.document
          .document__date 26.09.2016
          .document__tit-wrap
            A(href='#').document__title Приказ Департамента финансов города Москвы от 17.09.2014 г. №130
          P.document__excerpt В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"
          .document__bottom
            A(href='#1').document__dwnl Скачать (DOCX, 957,55 Кб)
            A(href='#').document__star.document__star_cur
          SPAN.document__bg.document__bg_t
          SPAN.document__bg.document__bg_r
          SPAN.document__cr
      .tile__item.md-display-n.sm-display-b
        .tile__inner.document
          .document__date 26.09.2016
          .document__tit-wrap
            A(href='#3').document__title Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ
          P.document__excerpt В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)
          .document__bottom
            A(href='#1').document__dwnl Скачать (DOCX, 957,55 Кб)
            A(href='#').document__star.document__star
          SPAN.document__bg.document__bg_t
          SPAN.document__bg.document__bg_r
          SPAN.document__cr
