.documents-cards {
  display: block;
  margin: -5px -5px 0;
  font-size: 0;
  font-family: $PFDinCondensedPro;
  font-weight: 400;
  
  .tile {
    height: auto;
    margin: 0 !important;
  }
  .tile__item {
    min-width: 273px !important;
    width: 25% !important;
    height: 380px !important;
    margin: 0 0 14px !important;
    
    @media screen and (min-width: 881px) and (max-width: 1170px) {
      width: 33.3333% !important;
    }
    @media screen and (min-width: 566px) and (max-width: 880px) {
      width: 50% !important;
    }
    @media screen and (max-width: 565px) {
      min-width: 0 !important;
      width: 100% !important;
      max-width: 273px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  
  &__document {
    width: calc(100% - 10px);
    margin: 5px;
    flex-grow: 0;
    height: 100%;
  }
  
  &__directory {
    width: calc(100% - 10px);
    margin: 5px;
    flex-grow: 0;
    height: 100%;
  }
  
  &_page {
    margin: 0 -5px;
    height: 385px;
    overflow: hidden;
  }
  
  &_dropdown {
    padding-bottom: 56px;
    margin: 0;
    .tile {
      max-width: none;
    }
    .tile__item {
      min-width: 0 !important;
      width: 277px !important;
      max-width: 277px !important;
    }
  }
}

.document {
  &__is-added {
    position: relative;
    float: right;
    height: 39px;
    width: 40px;
    border-left: 1px solid #e4e8eb;
    transition: .5s;
    cursor: pointer;
    &:hover {
      background: #fee300;
    }
  }
  &__favor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 16px;
    height: 16px;
  }
}

.directory {
  position: relative;
  padding: 20px 20px 70px;
  cursor: pointer;
  &__tit-wrap {
    margin-top: 18px;
    position: relative;
    z-index: 3;
  }
  &__title {
    color: #0d46a1;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    border-bottom: 1px solid #cfdaec;
    font-weight: 500;
  }
  &__bg-t, &__bg-r {
    display: block;
    position: absolute;
    left: 0;
    background: #fff;
    z-index: 2;
  }
  &__bg-t {
    top: 0;
    height: 100%;
    right: 150px;
    background-color: #fee300;
  }
  &__bg-r {
    bottom: 0;
    width: 100%;
    top: 28px;
    background-color: #fee300;
  }
  &__bg-tt {
    background-color: #fff;
    position: absolute;
    width: 96%;
    height: 97%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  &__corner {
    position: absolute;
    top: 0;
    display: inline-block;
    right: 111px;
    border-bottom: 28px solid #fee300;
    border-right: 39px solid transparent;
    z-index: 2;
  }
}
