.documents-cards {
  display: block;
  margin: -5px -5px 0;

  .tile__inner {
    margin: 5px;

    @media (max-width: 700px) {
      margin: 5px !important;
    }
  }

  .tile__item {
    margin-bottom: 10px;
    width: 277px;

    @media (max-width: 1180px) {
      width: 33.333%;
      max-width: 277px;
    }

    @media (max-width: 900px) {
      width: 50% !important;
      max-width: none !important;
    }

    @media (max-width: 700px) {
      margin: 0 0 10px !important;
    }

    @media (max-width: 600px) {
      width: 100% !important;
    }
  }

  .tile {
    @media (max-width: 1180px) {
      margin: 0 !important;
    }
  }
}
