mixin document(date, title, excerpt)
  +b.document&attributes(attributes)
    +e.date= date
    +e.tit-wrap
      +e.A(href='#', title=title).title= title
    +e.P.excerpt= excerpt
    +e.bottom
      +e.A(href='#').dwnl Скачать (DOCX, 957,55 Кб)
      +e.is-added
        +e.favor
          +favor()._stroke-color-blue
    +e.SPAN.bg._t
    +e.SPAN.bg._r
    +e.SPAN.cr

mixin document-indir(date, title, excerpt, category)
  +b.document(data-directory=category)&attributes(attributes)
    +e.date= date
    +e.tit-wrap
      +e.A(href='#').title= title
    +e.P.excerpt= excerpt
    +e.bottom
      +e.A(href='#').dwnl Скачать (DOCX, 957,55 Кб)
      +e.is-added
        +e.favor
          +favor()._stroke-color-blue
    +e.SPAN.bg._t
    +e.SPAN.bg._r
    +e.SPAN.cr

mixin directory(title, category)
  +b.directory(data-directory=category)&attributes(attributes)
    +e.tit-wrap
      +e.A(href='#').title= title
    +e.bg-t
    +e.bg-r
    +e.bg-tt
    +e.corner



mixin documents-cards-lk()
  +b.documents-cards&attributes(attributes)
    .tile
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document



mixin documents-cards-documents()
  +b.documents-cards&attributes(attributes)
    .tile
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы". В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document



mixin documents-cards-open-reit()
  +b.documents-cards&attributes(attributes)
    .tile
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document



mixin documents-cards-dropdown()
  +b.documents-cards&attributes(attributes)
    .tile
      .tile__item
        +directory('Проект закона', 'project').__directory
      .tile__item
        +directory('Проект закона 2', 'project2').__directory
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document
      .tile__item
        +document('26.09.2016', 'Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"').__document
      .tile__item
        +document('26.09.2016', 'Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)').__document
      .tile__item.hidden
        +document-indir('26.09.2016', 'Проект закона Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)', 'project').__document
      .tile__item.hidden
        +document-indir('26.09.2016', 'Проект закона Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"', 'project').__document
      .tile__item.hidden
        +document-indir('26.09.2016', 'Проект закона 2 Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ', 'В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)', 'project2').__document
      .tile__item.hidden
        +document-indir('26.09.2016', 'Проект закона 2 Приказ Департамента финансов города Москвы от 17.09.2014 г. №130', 'В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"', 'project2').__document
