include ../page-header/page-header

mixin depfin-about-blind()
  +b.SECTION.depfin-about.sections__item&attributes(attributes)
    .wrapper.page-content-wrapper
      +e.head
        +page-header('О портале')._blind

      +e.main.load-anim-fade(data-delay="1500")
        +e.wrapper
          +e.H3.main-subtitle.blindmode-subheading
            != 'Действующий с 2011 года Портал Правительства Москвы &laquo;Открытый бюджет города Москвы&raquo;, предназначенный для размещения информации о городском бюджете, является одним из ключевых инструментов реализации принципов открытости финансов органов власти.'
          +e.P.text.blindmode-text
            != 'Портал раскрывает основные аспекты бюджетного процесса в городе, содержит сведения об основных параметрах бюджета, структуре доходов и расходов бюджета города Москвы. Портал позволяет ознакомиться с формированием проекта городского бюджета на очередной финансовый год и плановый период, а также с исполнением бюджета столицы в текущем финансовом году.'
          +e.P.text.blindmode-text
            != 'Для пользователей, мало знакомых с бюджетными вопросами, на Портале в простой и доступной форме представлена основная информация о бюджетном процессе: <a class="depfin-about__link" href="#">словарь (глоссарий)</a>, <a class="depfin-about__link" href="#">график подготовки бюджета</a>, <a class="depfin-about__link" href="#">результаты сравнительного анализа ряда показателей с другими регионами</a>, а также <a class="depfin-about__link" href="#">показатели федерального бюджета</a>.'
          +e.P.text.blindmode-text
            != 'Для более информированных пользователей на Портале размещены исходные документы – <a class="depfin-about__link" href="#">законы о бюджете</a> на соответствующие периоды и дополнительные материалы.'
          +e.P.text.blindmode-text
            != 'С помощью материалов Портала пользователи могут понять, <a class="depfin-about__link" href="#">из чего формируется бюджет и на что тратятся бюджетные средства</a>. Что немаловажно, Портал дает населению возможность участвовать в <a class="depfin-about__link" href="#">обсуждении бюджета</a> и задавать вопросы.'
          +e.P.text.blindmode-text
            != 'На постоянной основе ведутся работы по расширению и улучшению функций Портала, при которых также учитываются замечания и предложения граждан, поступившие через раздел <a class="depfin-about__link" href="#">&laquo;Обратная связь&raquo;</a>.'

      +e.foot.load-anim-fade(data-delay="1500")

        +e.paragraph
          +e.H4.subtitle.blindmode-subheading
              | Цели публикации данных о бюджете:
          +e.wrapper
            +e.UL.list._marked
              +e.LI.item.blindmode-text
                | повышение степени вовлеченности и доверия граждан к деятельности органов исполнительной власти;
              +e.LI.item.blindmode-text
                | упрощение доступа к информации, в которой нуждается современное общество;
              +e.LI.item.blindmode-text
                | стимулирование развития электронных информационных порталов и программных средств, направленных на упрощение повседневных действий граждан.

        +e.paragraph
          +e.H4.subtitle.blindmode-subheading
              | Регламентирующие нормативно-правовые акты:
          +e.wrapper
            +e.UL.list._marked
              +e.LI.item.blindmode-text
                | Федеральный закон от 27.07.2006 № 149-ФЗ «Об информации, информационных технологиях и о защите информации»;
              +e.LI.item.blindmode-text
                | Федеральный закон от 09.02.2009 № 8-ФЗ «Об обеспечении доступа к информации о деятельности государственных                | органов и органов местного самоуправления»;
              +e.LI.item.blindmode-text
                | Постановление Правительства РФ от 10.07.2013 № 583 «Об обеспечении доступа к общедоступной информации о деятельности государственных органов и органов местного самоуправления в информационно-телекоммуникационной сети «Интернет» в форме открытых данных»;
              +e.LI.item.blindmode-text
                | Распоряжение Правительства РФ от 10 июля 2013 г. № 1187-р «О Перечнях информации о деятельности государственных органов, органов местного самоуправления, размещаемой в сети «Интернет» в форме открытых данных».

        +e.paragraph
          +e.H4.subtitle.blindmode-subheading
              | Сфера использования и применения:
          +e.wrapper
            +e.UL.list._marked
              +e.LI.item.blindmode-text
                | создание приложений и сервисов, основанных на использовании открытых данных;
              +e.LI.item.blindmode-text
                | предоставление услуг с использованием открытых данных;
              +e.LI.item.blindmode-text
                | производство новых товаров и/или услуг;
              +e.LI.item.blindmode-text
                | анализ и обработка информации гражданами в личных целях;
              +e.LI.item.blindmode-text
                | прочие цели, не противоречащие действующему законодательству Российской Федерации.

        +e.paragraph
          +e.H4.subtitle.blindmode-subheading
              | Условия использования данных:
          +e.wrapper
            +e.UL.list._num
              +e.LI.item.blindmode-text
                +e.SPAN.item-num 1.
                | Условия использования данных не предполагают обязательного заключения какого-либо договора с государственным органом или органом местного самоуправления, предоставляющим данные.
              +e.LI.item.blindmode-text
                +e.SPAN.item-num 2.
                | Условия использования данных Портала не предполагают ограничений использования данных в некоммерческих и коммерческих целях.
              +e.LI.item.blindmode-text
                +e.SPAN.item-num 3.
                | Данные Портала могут быть использованы (в том числе повторно) свободно, бесплатно, бессрочно, безвозмездно и без ограничения территории использования, в том числе имеет право копировать, публиковать, распространять, видоизменять данные и объединять их с другой информацией, использовать для создания программного обеспечения.
              +e.LI.item.blindmode-text
                +e.SPAN.item-num 4.
                | Пользователь обязан:
                +e.UL.list._marked._nested
                  +e.LI.item.blindmode-text
                    | использовать данные только в законных целях;
                  +e.LI.item.blindmode-text
                    | не искажать данные при их использовании;
                  +e.LI.item.blindmode-text
                    | сохранять ссылку на источник информации при использовании данных.
