.favor {
  width: 100%;

  &__icon {
    stroke: $color-input;
  }

  &_added {
    .favor__icon {
      stroke: #ffd400;
      fill: #ffd400;
    }
  }

  &_stroke-color {
    .favor__icon {
      stroke: #aea7ae;
      fill: #aea7ae;
    }
  }
}
