include ../../components/page-header/page-header
include ../../components/searchForm/searchForm
include ../../blocks/link/link
include ../../blocks/buttons-set/buttons-set
include ../../blocks/tabs/tabs
include ../../blocks/search-form/search-form
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/slide-arrows/slide-arrows

//- data - данные для таблицы
mixin services_social_significant(data)

	mixin table(data)
		+e.table-wrap(data-offset='100')
			+e.table&attributes(attributes)

				+e.rows.significant-list__caption
				
					+e.H3.col._left Наименование проекта
					+e.H3.col._center Адрес реализации проекта
					+e.H3.col._right Предполагаемый срок реализации

				+e.rows.significant-list__main
					//- +e.lg._top-lg
					//- +e.lg._bottom-lg.active
					.scroll-pane
						- for (var i=0; i<data.length; i++)
							+row(data[i].id, data[i].title, data[i].street, data[i].date, data[i].coordinates)

	mixin row(num, title, street, date, coordinates)
		+e.row
			+e.col._left
				+e.row-num= num
				+e.A(href='#' data-tab-target='significantThree' value=coordinates data-target=num).row-title= title
			+e.col._center
				+e.row-st= street
			+e.col._right
				+e.row-date= date

	+b.SECTION.significant.section__item&attributes(attributes)
		.wrapper-header
			+e.head
				+page-header('Общественно значимые проекты', ['Сервисы'])
				+buttons-set-alt(getData('buttons-set-significant')).significant__buttons-set.load-anim-fade(data-delay="1500")
				
		.wrapper.significant__wrapper
			+tabs.significant__content.load-anim-fade(data-delay="1500")

				+searchFormWidget('Поиск').significant__search

				+tabs-tab(data-tab-group="significantTabs", data-tab="significantOne").active.significant-list_list.significant-list__
					+e.total Всего учреждений 1 226
					+slide-arrows().__slide-arrows
					+table(data)

				+tabs-tab(data-tab-group="significantTabs", data-tab="significantTwo").significant-list_map.significant-list__
					+e.map(id='significant-bigmap')
					+table(data)

				+tabs-tab(data-tab-group="significantTabs", data-tab="significantThree").significant-about__
					+e.SPAN.back Назад к списку

					+e.wrap
						+e.info
							+e.H3.title Станция метро «Ховрино»
							+e.SPAN.subtitle (Замоскворецкая линия)
							+e.P.text Станция станет конечной на северном участке Замоскворецкой ветки. После открытия станции более 80% жителей района Ховрино будут проживать в пешей доступности от метро. Это позволит облегчить сложную транспортную ситуацию в районе действующей станции "Речной вокзал".
							+e.SPAN.release 
								| Предполагаемый срок ввода в эксплуатацию:
								+e.B.date 2017 год

							+e.OL.results 
								| Результаты ввода:
								+e.LI
									+e.I 1.
									| Обслуживание 135 тыс. человек в сутки
								+e.LI
									+e.I 2.
									| Обеспечение пешей доступности для 85 тыс. человек
								+e.LI
									+e.I 3.
									| Снижение нагрузки на станцию метро «Речной вокзал» на 20%

							+e.A(href='#').link Ссылка на сайт градостроительного комплекса Москвы

						+e.additional
							+e.img
								+e.IMG(src='assets/images/img.jpg')
							+e.address
								+e.map
									+e.map-map(id='significant-smallmap', data-lat="55.754608", data-lng="37.621619", data-name="Test 1", data-address="г. Москва, Садовое кольцо 11", data-year="2020 год")
									+icon('close').map-close
								+e.addr
									P
										| Место реализации:
										br
										| Улица Дыбенко, вблизи строений 34-38
									+link()._dashed.significant-about__map-open Развернуть карту

					+analityc-table-slider(100, false, true)._gp._sticky-arrows
						+table-gp(getData('analytics-expenses'), false, true)

		+dropdown().load-anim-fade(data-delay="1700")
		+e.mask
