.significant {
	background: #282635 url(../images/bg-news.jpg) top no-repeat;
  background-size: 100%;
  color: #000;

	&__buttons-set {
		margin-top: 24px;
	}

  &__content {
  	background-color: $color-white;
  }
}

.significant-list {
	
}