.significant {
	background: #282635 url(../images/bg-news.jpg) top no-repeat;
  background-size: 100%;
  color: #000;

  &__wrapper {
    margin-bottom: 80px;
  }

	&__buttons-set {
		margin-top: 24px;
	}

  &__content {
  	background-color: $color-white;
  	margin-top: 32px;
  }

  &__search {
    padding: 32px 40px 37px;
    max-width: 700px;
    
    @media screen and (max-width: 580px) {
      padding: 32px 20px 37px;
    }

    .d-si__search {
      height: 32px;
      letter-spacing: -.8px;
      text-transform: none;
    }

    .search__tooltip {
      display: none!important;
    }
  }
  
  &__mask {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 9000;
  }
  
  &.popupMode {
    
    @media screen and (min-width: 1025px) {
      > .wrapper {
        z-index: 9100;
      }
      .significant-about {
        height: 685px;
      }
      .significant-about__wrap {
        overflow-y: hidden;
        max-height: 100%;
      }
      .significant-about .analityc-table_gp {
        display: none;
      }
    }
    
    .significant-about__map {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 9100;
      &:after {
        display: none;
      }
      @media screen and (max-width: 1024px) {
        position: fixed;
        height: 560px;
        top: 0;
        right: 0;
        margin: auto;
      }
      @media screen and (max-width: 640px) and (min-width: 601px) {
        height: 360px;
      }
      @media screen and (max-width: 400px) {
        height: 210px;
      }
    }
    .significant-about__map-close {
      display: block;
    }
    .significant__mask {
      display: block;
    }
  }

}

/*Таб Список*/
.significant-list {
  padding: 0 40px 63px;
  
  @media screen and (max-width: 580px) {
    padding: 0 20px 63px;
  }
  
  &__lg {
    display: none;
    position: absolute;
    width: 100%;
    height: 20%;
    pointer-events: none;
    z-index: 3;

    &.active {
      display: block;
    }

    &_top-lg {
      top: calc(0% - 1px);
      background-image: linear-gradient(to bottom,rgba(255, 255, 255, 1) 10%,transparent 90%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff",endColorstr="#ffffff",GradientType=1);
    }

    &_bottom-lg {
      bottom: calc(0% - 1px);
      background-image: linear-gradient(to top,rgba(255, 255, 255, 1) 10%,transparent 90%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff",endColorstr="#ffffff",GradientType=1);
    }
  }

  &__total {
    font-family: $PFDinTextPro;
    font-size: 14px;
    color: #d5d5d5;
  }
  
  &__slide-arrows {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -25px;
    display: none;
  }
  
  &__table-wrap {
    width: 100%;
    margin-top: 24px;

    @media (max-width: 750px) {
      overflow-x: auto;
      overflow-y: hidden;
    }
  }

  &__table {
    font-size: 0;
    
    @media (max-width: 750px) {
      min-width: 680px;
    }
  }
  
  &__row {
    padding: 18px 0 14px;
    border-bottom: 1px solid #d5d5d5;
    
    & + .open-file__row {
      margin-top: 16px;
    }
  }
  
  &__col {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding-right: 15px;

    &_left {
      width: 52.5%;
      white-space: nowrap;
      
      @media screen and (max-width: 1100px) {
        width: 50%;
      }
      @media screen and (max-width: 900px) {
        width: 45%;
      }
    }

    &_center {
      width: 32%;
    }

    &_right {
      width: 15.5%;
      
      @media screen and (max-width: 1100px) {
        width: 18%;
      }
      @media screen and (max-width: 900px) {
        width: 23%;
      }
	}
  }
  
  &__caption {
    padding-bottom: 12px;
    font-family: $PFDinTextPro;
    border-bottom: 3px solid #d5d5d5;

    H3 {
      padding: 0;
      font-family: $PFDinCondensedPro;
      font-size: 17px;
      line-height: 21px;
      color: #9f9f9f;
      letter-spacing: .5px;
      text-transform: uppercase;
      font-weight: 500;
      padding-right: 15px;
    }
  }
  
  &__row-num,
  &__row-title,
  &__row-st,
  &__row-date {
    font-family: $PFDinTextPro;
    font-size: 16px;
    font-weight: 500;
  }
  
  &__row-num {
    display: inline-block;
    vertical-align: top;
    color: #d5d5d5;
    margin-right: 15px;
  }
  
  &__row-title {
    display: inline-block;
    vertical-align: top;
    color: $color-link;
    text-decoration: none;
    letter-spacing: -.4px;
    white-space: normal;
    width: calc(100% - 32px);
    padding-right: 15px;
  }

/*Таб Карта*/
  &__map {
    float: left;
    width: 61%;
    height: 100%;
    background: #d5d5d5;
    
    @media screen and (max-width: 580px) {
      float: none;
      width: 100%;
      height: 50%;
      position: relative;
    }

    /*Балун для маркера на карте*/
    .placemark-layout-container {
      display: block;
      width: 290px;
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      padding: 15px;
      padding-right: 45px;
      font-family: $PFDinTextPro;
      background-color: white;
      box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.4);

      &::before, 
      &::after {
        content: ''; 
        position: absolute;
        top: -20px;
        left: 50%; 
        transform: translateX(-50%);
        border: 10px solid transparent;
        border-bottom: 10px solid white;
      }
      &::after {
        border-bottom: 10px solid white;
        top: -19px; 
      }

      .placemark-layout-close {
        display: block;
        position: absolute;
        top: 5px;
        right: 0;
        opacity: .3;
        cursor: pointer;
        margin-right: 4px;
        width: 30px;
        height: 40px;
        background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNMTQgLjdsLS43LS43TDcgNi4zLjcgMCAwIC43IDYuMyA3IDAgMTMuM2wuNy43TDcgNy43bDYuMyA2LjMuNy0uN0w3LjcgN3oiIGNsaXAtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==) 50% no-repeat;
        
        &:hover {
          opacity: 1;
        }
      }

      .placemark-layout-inner {

        .placemark-layout-header {
          font-family: $PFDinCondensedPro;;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
        }

        .placemark-layout-street,
        .placemark-layout-date,
        .placemark-layout-link {
          display: block;
          font-family: $PFDinTextPro;
          font-size: 14px;
          letter-spacing: -.5px;
          margin-top: 10px;
        }

        .placemark-layout-link { 
          color: $color-link;
        }
      }
    }
  }

  &_map {
    @include clearfix;
    padding: 0 14px 0 0;
    height: 600px;
    
    @media screen and (max-width: 900px) {
      padding: 0;
    }

    .significant-list {

      &__table-wrap {
        float: right;
        width: 39%;
        height: 100%;
        margin-top: 0;
        
        @media screen and (max-width: 580px) {
          float: none;
          width: 100%;
          height: 50%;
          padding-top: 24px;
        }
      }

      &__table {
        min-width: auto;
        height: 100%;
      }
      
      &__caption {
        margin-right: 40px;
        padding-left: 27px;
        padding-bottom: 0;
        border-bottom: none;
        
        @media screen and (max-width: 580px) {
          margin-right: 25px;
        }

        .significant-list__col {
          padding: 0 0 14px;
          border-bottom: 3px solid #d5d5d5;
        }
      }

      &__main {
        padding-right: 25px;
        height: calc(100% - 48px); /*-caption*/
        overflow-x: hidden;
        overflow-y: scroll;

        

        // Custom Scrollbar
        > .scroll-element,
        > .scroll-element div {
          border: none;
          margin: 0;
          padding: 0;
          position: absolute;
          z-index: 10;
        }

        > .scroll-element div {
          display: block;
          height: 100%;
          left: 0;
          top: 0;
          width: 100%;
        }

        > .scroll-element.scroll-x {
          display: none;
          bottom: 2px;
          height: 2px;
          left: 0;
          width: 100%;
          border-radius: 8px;
        }

        > .scroll-element.scroll-y {
          height: 100%;
          right: 3px;
          bottom: 0;
          width: 2px;
          border-radius: 8px;
        }

        > .scroll-element .scroll-element_outer {
          overflow: hidden;
        }

        > .scroll-element .scroll-bar {
          border-radius: 8px;
          width: 2px;
          right: 0;
          margin: 0 auto;
          cursor: pointer;
        }

        > .scroll-element .scroll-element_track { background-color: #d6d6d6; }
        > .scroll-element .scroll-bar { background-color: #0d46a1; }
        > .scroll-element:hover .scroll-bar { background-color: #0d46a1; }
        > .scroll-element.scroll-draggable .scroll-bar { background-color: #0d46a1; }

        > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
        > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }

        > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
        > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
      }

      &__row {
        padding: 0 0 0 27px;
        border: none;

        &:hover {
          background-color: $color-blue;

          .significant-list__col {
            border-bottom: 1px solid transparent;
          }
        }

        &:hover .significant-list__row-num,
        &:hover .significant-list__row-title {
          color: $color-white;
        }

        &_active {
          background-color: $color-blue;

          .significant-list__col {
            border-bottom: 1px solid transparent;
          }

          .significant-list__row-num,
          .significant-list__row-title {
            color: $color-white;
          }
        }
      }

      &__col {
        padding: 18px 0 14px;
        border-bottom: 1px solid #d5d5d5;

        &_left {
          width: 100%;
        }

        &_center,
        &_right {
          display: none;
        }
      }
    }
  }
}

/*Таб отдельного проекта*/
.significant-about {
  padding: 26px 41px 42px;
  
  @media screen and (max-width: 580px) {
    padding: 26px 20px 42px;
  }

  &__back {
    font-family: $PFDinCondensedPro;
    font-size: 12.5px;
    text-transform: uppercase;
    color: $color-link;
    font-weight: 500;
    cursor: pointer;
  }

  &__wrap {
    @include clearfix;
    margin-top: 12px;
  }

  &__info {
    float: left;
    max-width: 540px;
    width: calc(100% - 410px);
    
    @media screen and (max-width: 900px) {
      float: none;
      max-width: none;
      width: 100%;
    }
    em{
      font-style: italic;
    }
  }

  &__additional {
    float: right;
    width: 400px;
    
    @media screen and (max-width: 900px) {
      float: none;
      width: 100%;
      margin-top: 30px;
    }
  }

  &__title {
    font-family: $PFDinCondensedPro;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -.6px;
  }

  &__subtitle {
    display: block;
    font-family: $PFDinCondensedPro;
    font-size: 14.5px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 5px;

    @media (max-width: 640px) and (min-width: 401px) {
      font-size: 15px;
    }
  }

  &__text {
    font-family: $PFDinTextPro;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
  }

  &__release {
    display: block;
    font-family: $PFDinTextPro;
    font-size: 16px;
    letter-spacing: 0px;
    margin-top: 35px;
  }

  &__results {
    font-family: $PFDinTextPro;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 31px;

    li {
      list-style: none;
      font-size: 16px;
      line-height: 20px;
      text-transform: none;
      font-weight: 400;
      margin-top: 8px;

      &:first-child {
        margin-top: 14px;
      }
    }

    i {
      font-weight: 500;
      color: #d5d5d5;
      margin-right: 2px;
    }
  }

  &__link {
    display: block;
    font-family: $PFDinTextPro;
    font-size: 14px;
    font-weight: 500;
    color: $color-link;
    letter-spacing: -.3px;
    margin-top: 25px;
  }

  &__img {
    width: 100%;
    background-color: #d5d5d5;
    position: relative;
    overflow: hidden;
    
    &:after {
      content: '';
      display: block;
      padding-top: 75%;
    }
    
    img {
      @include fill-img;
    }
  }

  &__address {
    min-height: 121px;
    font-size: 0;
    margin-top: 19px;
  }

  &__map {
    display: inline-block;
    position: relative;
    width: 57%;
    background-color: #d5d5d5;
    vertical-align: bottom;
    
    &:after {
      content: '';
      display: block;
      padding-top: 53%;
    }
    
    @media screen and (max-width: 580px) {
      width: 50%;
    }
    
    @media screen and (max-width: 350px) {
      &:after {
        padding-top: 63%;
      }
    }

    &-map {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &-close {
      display: none;
      position: absolute;
      top: 0;
      right: -25px;
      width: 20px;
      height: 20px;
      fill: $color-yellow;
      cursor: pointer;
      
      @media screen and (max-width: 1180px) {
        right: 0;
        top: -25px;
      }
    }
  }

  &__addr {
    display: inline-block;
    font-size: 16px;
    vertical-align: bottom;
    padding-left: 20px;
    width: 43%;
    
    @media screen and (max-width: 580px) {
      width: 50%;
      padding-left: 15px;
    }
    
    p {
      line-height: 20px;
      letter-spacing: .8px;
    }
  }

  &__map-open {
    margin-top: 11px;
    font-size: 14px;
  }

  .analityc-table_gp {
    padding-bottom: 0;
    margin-top: 44px;

    .table-switcher {
      display: none;
    }
  }


}