.budgetary_policy_fira {
  * {
  	font-family: $FiraCond !important;
  }

	.page-head__category,
	.page-head__title {
		font-family: $FiraComp !important;
    letter-spacing: 0em!important;
	}

  .d-abs__head_descr, 
  .d-slide__body_list li {
  	font-family: $Fira !important;
  }
}
