mixin edu-service-question()
  +b.edu-service-question&attributes(attributes)

    .sections

      .d-si-content._edu-question

        .d-layer

          +b.d-si.__head
            +e.head_descr сервисы
            +e.head_p-name обучающий сервис
            +e.head_icons
              +e.A(href='#').icons_item
                | SVG Иконка
              +e.A(href='#').icons_item
                | SVG Иконка
            +b.d-sq.__head_ss
              +e.SPAN.head_ss-s 5 из 9
              +e.SPAN.head_ss-txt
                | уроков
                br
                | пройдено
                br
                | успешно
              canvas(width='78', height='78', default-fill='#413a62', stroke-width='7', sector-count='9', fill-sectors='0,2,3,5,8').sectored_round
          +b.d-study.__question
            .burger-lessons-menu
              .close-lessons-burger
              ul
                li(id='1').edu-lesson-link.disable
                  span что такое бюджетная система?
                li(id='2').edu-lesson-link
                  span Зачем используется бюджетная классификация?
                li(id='3').edu-lesson-link
                  span Как формируется бюджет?
                li(id='4').edu-lesson-link
                  span Что такое бюджет и&nbsp;из&nbsp;чего он&nbsp;состоит?
                li(id='5').edu-lesson-link
                  span Что такое доходы и&nbsp;откуда они поступают?
                li(id='6').edu-lesson-link
                  span Что такое расходы и&nbsp;на&nbsp;что они направлены?
                li(id='7').edu-lesson-link
                  span Зачем нужны источники финансирования дефицита бюджета?
                li(id='8').edu-lesson-link
                  span то такое государственный долг?
                li(id='9').edu-lesson-link
                  span Что такое межбюджетные трансферты?
            div(id='1').edu-content._active
              +e.question_head
                a(href='#').d-question__head-menu
                +e.SPAN.question_num 1:
                +e.SPAN.question_name что такое бюджетная система?
                a(href='#').d-sq__head_next
                a(href='#').d-sq__head_prev
              +e.question_body
                p.d-sq__body-p
                  strong Бюджетная система Российской Федерации</strong> — основанная на экономических отношениях и государственном устройстве Российской Федерации, регулируемая нормами права совокупность федерального бюджета, бюджетов субъектов Российской Федерации, местных бюджетов и бюджетов государственных внебюджетных фондов.
                h5.d-sq__body-heading.d-sq__body_fhm Структура бюджетной системы Российской Федерации
                ul.d-sq__body-puzzle
                  li
                    a(href='')
                      span
                        | Консолидированный бюджет
                        br
                        | российской федерации
                        i.d-abs__nav_ico
                  li
                    a(href='')
                      span
                        | федеральные внебюджетные фонды
                        i.d-abs__nav_ico
                  li
                    a(href='')
                      span
                        | федеральный
                        br
                        | бюджет
                        i.d-abs__nav_ico
                  li
                    a(href='')
                      span
                        | Консолидированный бюджет
                        br
                        | субъекта российской федерации
                        i.d-abs__nav_ico
                  li
                    a(href='')
                      span
                        | внебюджетные фонды субъектов российской федерации
                        i.d-abs__nav_ico
                  li
                    a(href='')
                      span
                        | бюджет субъекта российской федерации
                        i.d-abs__nav_ico
                  li
                    a(href='')
                      span
                        | бюджет муниципального образования
                        i.d-abs__nav_ico
                h5.d-sq__body-heading.d-sq__body_shm Принципы бюджетной системы Российской Федерации
                p.d-sq__body-p.d-sq__body-pb Функционирование бюджетной системы Российской Федерации основано на особых принципах, закрепленных в Бюджетном кодексе РФ. Являясь исходными положениями, данные принципы лежат в основе построения бюджетов всех уровней в единую систему и отражают специфику бюджетной деятельности как особого вида государственного управления.
                a(href='#').d-sq__body_princips Принципы бюджетной системы
              +e.question_ftr
                .d-sq__ftr_head вопросы
                form(action='#').sq__ftr_form
                  fieldset
                    legend К какому уровню бюджетов бюджетной системы относится бюджет города Москвы?

                    input(name='d-sq_radio', type='radio', id='d-rad-f').d-sq_radio
                    label(for='d-rad-f') Бюджет субъекта Российской Федерации

                    input(name='d-sq_radio', type='radio', id='d-rad-s').d-sq_radio
                    label(for='d-rad-f') Федеральный бюджет

                    input(name='d-sq_radio', type='radio', value='2', id='d-rad-t').d-sq_radio
                    label(for='d-rad-f') Местный бюджет

                    input(name='d-sq_radio', type='radio', value='3', id='d-rad-fo').d-sq_radio
                    label(for='d-rad-f') Бюджет государственного внебюджетного фонда
                  fieldset
                    legend Из каких бюджетов состоит консолидированный бюджет города Москвы?

                    input(name='d-sq_radio', type='checkbox', id='d-check-f').d-sq_check
                    label(for='d-rad-f') Бюджет города Москвы

                    input(name='d-sq_radio', type='checkbox', id='d-check-s').d-sq_check
                    label(for='d-rad-f') Бюджет Московского городского фонда обязательного медицинского страхования

                    input(name='d-sq_radio', type='checkbox', id='d-check-t').d-sq_check
                    label(for='d-rad-f') Бюджеты внутригородских муниципальных образований города Москвы

                    input(name='d-sq_radio', type='checkbox', id='d-check-fo').d-sq_check
                    label(for='d-rad-f') Федеральный бюджет
                .d-sq__ftr_error К сожалению, Ваш ответ неверный. Попробуйте ответить еще раз.
                .quiz-footer._success
                  .d-si__quiz-container_body
                    p.answer-result._success Поздравляем, вы&nbsp;ответили верно!
                    button(type='submit', form='d-sii__form')
                      a(style='text-decoration:none', href='/moscowbudget/edu_service_result.html') Перейти к&nbsp;следующему уроку
            div(id='2').edu__content
              +e.question_head
                a(href='#').d-question__head-menu
                +e.SPAN.question_num 2:
                +e.SPAN.question_name Зачем используется бюджетная классификация?
                a(href='#').d-sq__head_next
                a(href='#').d-sq__head_prev
            div(id='3').edu__content
              +e.question_head
                a(href='#').d-question__head-menu
                +e.SPAN.question_num 3:
                +e.SPAN.question_name Как формируется бюджет?
                a(href='#').d-sq__head_next
                a(href='#').d-sq__head_prev
            div(id='4').edu__content
              +e.question_head
                a(href='#').d-question__head-menu
                +e.SPAN.question_num 4:
                +e.SPAN.question_name Что такое бюджет и из чего он состоит?
                a(href='#').d-sq__head_next
                a(href='#').d-sq__head_prev
            div(id='5').edu__content
              +e.question_head
                a(href='#').d-question__head-menu
                +e.SPAN.question_num 5:
                +e.SPAN.question_name Что такое доходы и откуда они поступают?
                a(href='#').d-sq__head_next
                a(href='#').d-sq__head_prev
            div(id='6').edu__content
              +e.question_head
                a(href='#').d-question__head-menu
                +e.SPAN.question_num 6:
                +e.SPAN.question_name Что такое расходы и на что они направлены?
                a(href='#').d-sq__head_next
                a(href='#').d-sq__head_prev
            div(id='7').edu__content
              +e.question_head
                a(href='#').d-question__head-menu
                +e.SPAN.question_num 7:
                +e.SPAN.question_name Зачем нужны источники финансирования дефицита бюджета?
                a(href='#').d-sq__head_next
                a(href='#').d-sq__head_prev
            div(id='8').edu__content
              +e.question_head
                a(href='#').d-question__head-menu
                +e.SPAN.question_num 8:
                +e.SPAN.question_name Что такое государственный долг?
                a(href='#').d-sq__head_next
                a(href='#').d-sq__head_prev
            div(id='9').edu__content
              +e.question_head
                a(href='#').d-question__head-menu
                +e.SPAN.question_num 9:
                +e.SPAN.question_name Что такое межбюджетные трансферты?
                a(href='#').d-sq__head_next
                a(href='#').d-sq__head_prev

