include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/tabs/tabs

mixin budget_forecast()
  section.main._basic.basic-budget.sections__item.budget_forecast
    .wrapper
      +page-header('Прогноз социально-экономического развития города Москвы', false, true).budget_forecast__page-header

    //- Tab 1
    .wrapper.wrapper_widget
      .analityc-widget.analityc-widget_forecast.load-anim-fade(data-delay="1500")
        +analityc-widgethead-forecast().analityc-widgethead-forecast
        
    +dropdown().load-anim-fade(data-delay="1700")