include ../page-header/page-header

mixin press-release()
	+b.SECTION.press-release.sections__item&attributes(attributes)
		.wrapper-header
			+e.header
				+page-header('Пресс-релиз', ['Медиацентр'])

		.wrapper
			+e.content.load-anim-fade(data-delay="1500")
				+e.A(href='#').events-list Нужна ли тут ссылка?
				+e.H3.title В Москве пройдет финансовый форум
				+e.SPAN.date 16.03.2017
				+e.img
					+e.img-wrap
						+e.IMG(src='assets/images/events/event.jpg')
					+e.SPAN Московский финансовый форум в 2016 году
				+e.paragraph._one
					+e.P.text Столкнувшись с глобальными внешними вызовами, российская экономика находится на пороге перемен, обусловленных трансформацией мировых сырьевых рынков и непростой макроэкономической конъюнктурой. Новая реальность требует серьезных структурных реформ, направленных на ускорение темпов роста и обеспечение долгосрочной устойчивости национальной экономики.
					+e.P.text Одним из важнейших проводников структурных изменений выступает Министерство финансов Российской Федерации, которое не только участвует в выработке общей экономической политики, но и курирует широкий круг вопросов, связанных с бюджетной, налоговой и таможенной сферами, корпоративной финансовой отчетностью, а также регулированием финансовых рынков, алкогольного рынка и рынка драгоценных металлов и камней.
					+e.P.text Сегодня деятельность Министерства финансов сосредоточена на формировании прочного фундамента для эффективного решения проблем, с которыми сталкивается российская экономика.
				+e.paragraph._two
					+e.H4.subtitle Процесс принятия управленческих решений в сфере государственных финансов должен стать максимально прозрачным, открытым и понятным для всех граждан России
					+e.P.text-small Руководствуясь этими принципами, Министерство финансов Российской Федерации выступило с инициативой проведения Московского финансового форума – новой публичной площадки для профессиональной дискуссии, сфокусированной на проблемах экономической политики, общественных финансов и сфер регулирования в рамках полномочий Минфина России.
					+e.P.text-small Форум объединит ключевых представителей профессионального и экспертного сообщества, органов власти и бизнеса, которые в ходе конструктивного диалога обсудят основные направления финансовой стратегии экономического развития России.
					+e.P.text-small Задумывая идею Московского финансового форума, Министерство финансов решило отказаться от привычного подхода к рассмотрению экономических сценариев только через призму государственного бюджета. Определяя финансы как базу экономики в целом, организаторы предлагают участникам более широко взглянуть на экономические проблемы – как с точки зрения законов макроэкономики, так и в разрезе отдельных тематических треков, связанных с актуальными вопросами финансовой политики. Форум, таким образом, объединит теорию и практику финансовых решений на международном, федеральном и региональных уровнях.
					+e.P.text-small Авторитетный состав приглашенных спикеров и участников, среди которых представители федеральной и региональной власти, профильных государственных структур, руководители крупнейших российских финансовых организаций и компаний, ведущие экономисты и эксперты, а также общественные и политические деятели, обеспечит высокий уровень дискуссии, насыщенное обсуждение и полярность мнений.
					+e.P.text-small Первый Московский финансовый форум заложит традицию встреч финансистов в сентябре каждого года для обсуждения наиболее актуальных проблем и выработки эффективных совместных решений, затрагивающих финансовый базис экономики России. Московский финансовый форум, таким образом, станет крупнейшим в России ежегодным мероприятием в сфере финансов и ключевым событием для всей российской экономики.
				+e.paragraph._three
					+e.H4.subtitle ОРГАНИЗАТОРЫ
					+e.org
						+e.P.text-small
							+e.B.termin Министерство финансов Российской Федерации
							|  - федеральный орган исполнительной власти, осуществляющий регулирование бюджетной, налоговой, страховой, валютной деятельности, сферы государственного долга, бухгалтерского учета и аудита, добычи, производства, переработки драгоценных металлов и драгоценных камней, таможенных платежей, а также выработку финансовой политики в области государственной службы и судебной системы. Его деятельность основывается на Конституции Российской Федерации, федеральных конституционных законах, федеральных законах, актах Президента Российской Федерации и Правительства Российской Федерации.
						+e.P.text-small
							| Министерство финансов Российской Федерации осуществляет координацию и контроль деятельности находящихся в его ведении федеральных служб – Федерального казначейства, Федеральной налоговой службы, Федеральной таможенной службы и Федеральной службы по регулированию алкогольного рынка.
						+e.P.text-small
							| Министерство возглавляет Министр финансов РФ Антон Силуанов.
					+e.org
						+e.P.text-small
							+e.B.termin Правительство Москвы (Мэрия Москвы)
							|  – высший постоянно действующий коллегиальный исполнительный орган государственной власти города Москвы, обладающим общей компетенцией и обеспечивающий согласованную деятельность других органов исполнительной власти города Москвы. Систему органов исполнительной власти города Москвы образуют Правительство Москвы, а также подведомственные Правительству Москвы отраслевые, функциональные и территориальные органы исполнительной власти города Москвы.
						+e.P.text-small
							| Правительство Москвы возглавляет Мэр Москвы Сергей Собянин.

				+e.UL.tags
					+e.LI.tag
						+e.A(href='#').tag-link Форум
					+e.LI.tag
						+e.A(href='#').tag-link Финансы
					+e.LI.tag
						+e.A(href='#').tag-link События
					+e.LI.tag
						+e.A(href='#').tag-link Москва
