extends ../../layouts/default
include ../../components/documents/documents

block head
  - var pageTitle = 'Документы'

block page
  block header
    +header()._budget

  block sections
    +sections()
      block content
        +documents()
        +footer()
        +button-top()
        
  +popup-wrapper()

  script(src="assets/scripts/js/jquery-3.1.1.min.js")
  script(src="assets/scripts/js/header/easing.min.js")
  script(src="assets/scripts/js/header/jquery-ui.min.js")
  script(src="assets/scripts/js/header/jquery.validate.min.js")
  script(src="assets/scripts/js/header/animation.min.js")
  script(src="assets/scripts/js/header/label.min.js")
  script(src="assets/scripts/js/header/select.min.js")
  script(src="assets/scripts/js/header/popup.min.js")
  script(src="assets/scripts/js/header/share.min.js")
  script(src="assets/scripts/js/header/diagram.min.js")
  script(src="assets/scripts/js/header/form.min.js")
  script(src="assets/scripts/js/header/common.min.js")
  script(src="assets/scripts/js/ez.js")

  .range-datepicker.range-datepicker_documents
    .range-datepicker__item.range-datepicker__item_min(data-range="min", data-type='publication')
    .range-datepicker__item.range-datepicker__item_max(data-range="max", data-type='publication')
    .range-datepicker__item.range-datepicker__item_min(data-range="min", data-type='document')
    .range-datepicker__item.range-datepicker__item_max(data-range="max", data-type='document')
