extends ../../layouts/default
include ../../components/documents/documents

block head
  - var pageTitle = 'Versta Project Template'

block page
  .wrapper
    block header
      +header()._budget

      block sections
        +sections()
          block content
            +documents()
            +footer()

  +popup-wrapper()
  .range-datepicker
    .range-datepicker__item.range-datepicker__item_min(data-range="min")
    .range-datepicker__item.range-datepicker__item_max(data-range="max")
