extends ../../layouts/default
include ../../components/documents/documents

block head
  - var pageTitle = 'Versta Project Template'

block page
  block header
    +header()._budget

  block sections
    +sections()
      block content
        +documents()
        +popup-wrapper()
        +footer()
        +button-top()

  script(src="assets/scripts/js/jquery-3.1.1.min.js")
  script(src="assets/scripts/js/easing.min.js")
  script(src="assets/scripts/js/jquery-ui.min.js")
  script(src="assets/scripts/js/animation.min.js")
  script(src="assets/scripts/js/label.min.js")
  script(src="assets/scripts/js/select.min.js")
  script(src="assets/scripts/js/popup.min.js")
  script(src="assets/scripts/js/share.min.js")
  script(src="assets/scripts/js/form.min.js")
  script(src="assets/scripts/js/common.min.js")

  .range-datepicker
    .range-datepicker__item.range-datepicker__item_min(data-range="min")
    .range-datepicker__item.range-datepicker__item_max(data-range="max")
