extends ../../layouts/default
include ../../components/documents/documents

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +documents()
      +popup-wrapper()
      +footer()
