include ../../blocks/page-head/page-head
include ../../blocks/favor/favor
include ../../blocks/icon/icons

mixin page-header(title, subtitle)
  +b.page-header&attributes(attributes)
    +page-head(title, subtitle)
    .d-si__head_icons
      +favor().icons-item
      +icon('icon-rss').icon
