.page-header {
  display: block;
  margin-left: -3px;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .d-si__head_icons {
    margin-bottom: 16px;
    margin-left: 17px;
    display: inline-block;
    margin-top: 8px;
    float: initial;

    @include clearfix;

    @media (min-width: 761px) and (max-width: 1024px) {
      vertical-align: top;
    }

    @media (min-width: 639px) and (max-width: 760px) {
      vertical-align: top;
      margin-left: 6px;
      margin-top: 5px;
    }

    @media screen and (max-width: 639px) {
      margin-top: 3px;
      margin-left: 6px;
    }

  }

  .d-si__icons_item:nth-child(2) {
    background: none !important;
  }

  .favor__icon {
    stroke: $color-white;
    opacity: .5;
    width: 24px;
    height: 23px;

    @media screen and (max-width: 639px) {
      width: 22px;
      height: 21px;
    }
  }

  .favor {
    display: block;
    float: left;
    width: auto;

    &:hover {
      .favor__icon {
        stroke: #fee300;
        opacity: 1;
      }
    }

    &.active {
      .favor__icon {
        stroke: #fee300;
        fill: #fee300;
        opacity: 1;
      }
    }
  }

  &__icon {
    fill: #d0ccd3;
    width: 24px;
    height: 19px;
    display: block;
    float: left;
    cursor: pointer;
    margin-left: 11px;
    margin-top: 3px;

    &:hover {
      fill: #fee300;
    }
  }

  &__share {
    float: left;
    width: 16px;
    height: 19px;
    fill: $color-yellow;
    transition: all ease 0.5s;

    &:hover {
      fill: $color-white;
    }
  }

  .share__panel.share {
    width: 182px !important;
    left: -5px !important;
  }

  &__download {
    width: 18px;
    height: 18px;
    fill: $color-yellow;
    transition: all ease 0.5s;

    &:hover {
      fill: $color-white;
    }
  }

  &_blind {
    .favor__icon {
      stroke: $color-link;
    }

    .favor {
      &:hover {
        .favor__icon {
          stroke: $color-link;
        }
      }
      &.active {
        .favor__icon {
          stroke: $color-link;
          fill: $color-link;
          opacity: 1;
        }
      }
    }

    &__icon {
      fill: $color-link;

      &:hover {
        fill: $color-link;
      }
    }

    .page-header__share {
      fill: $color-link;
      opacity: .5;

      &:hover {
        fill: $color-link;
        opacity: 1;
      }
    }

    .d-si__icons_item {
      .share__panel {
        background: rgba(14, 95, 206, .5) !important;
        border-radius: 3px;
      }
    }


    .page-header__download {
      fill: $color-link;

      &:hover {
        fill: $color-link;
      }
    }
  }
}
