include ../../blocks/page-head/page-head
include ../../blocks/favor/favor
include ../../blocks/icon/icons

//- Аргументы
//- title - заголовок
//- subtitle - подзаголовок
//- isDownloadable - добавляет иконку загрузки
//- Пример:
//-   +page-header('Бюджетная система', 'Инфо', true)
//-   +page-header('Бюджетная система', false, true)

mixin page-header(title, subtitle, isDownloadable)
  +b.page-header&attributes(attributes)
    +page-head(title, subtitle)
    .d-si__head_icons
      +favor().icons-item
      .d-si__icons_item
        +icon('share').share
        .share__panel
          a(href="#" title="facebook").share__a.share__a_fb
          a(href="#" title="ВКонтакте").share__a.share__a_vk
          a(href="#" title="Twitter").share__a.share__a_tw
          a(href="#" title="Одноклассники").share__a.share__a_ok
      if (isDownloadable)
        a(href='#').d-si__icons_item
          +icon('download').download

