include ../../blocks/page-head/page-head
include ../../blocks/favor/favor
include ../../blocks/icon/icons

//- Аргументы
//- title - заголовок
//- breadcrumbs - массив крошек ('Главная'' есть по умолчанию)
//- isDownloadable - добавляет иконку загрузки
//- Пример:
//-   +page-header('Бюджетная система', ['Crumb1', 'Crumb2'], true)
//-   +page-header('Бюджетная система', false, true)

mixin page-header(title, breadcrumbs, isDownloadable)
  +b.page-header&attributes(attributes)
    +page-head(title, breadcrumbs)
    .d-si__head_icons
      +favor().icons-item.load-anim-fade(data-delay="1800")
      .d-si__icons_item
        +icon('icon-rss').share.load-anim-fade(data-delay="2100")
        .share__panel.share
          a(href="#" title="facebook").share__a.share__a_fb
          a(href="#" title="ВКонтакте").share__a.share__a_vk
          a(href="#" title="Twitter").share__a.share__a_tw
          a(href="#" title="Одноклассники").share__a.share__a_ok
      if (isDownloadable)
        a(href='#' title="Загрузить", data-delay="2400").d-si__icons_item.load-anim-fade
          +icon('download').download
