include ../../blocks/page-head/page-head
include ../../blocks/favor/favor
include ../../blocks/icon/icons

//- Аргументы
//- title - заголовок
//- breadcrumbs - массив крошек ('Главная'' есть по умолчанию)
//- isDownloadable - добавляет иконку загрузки
//- Пример:
//-   +page-header('Бюджетная система', ['Crumb1', 'Crumb2'], true)
//-   +page-header('Бюджетная система', false, true)

mixin page-header(title, breadcrumbs, isDownloadable)
  +b.page-header&attributes(attributes)
    +page-head(title, breadcrumbs)
    .d-si__head_icons
      +favor().icons-item.load-anim-fade(data-delay="900")
      .d-si__icons_item
        +icon('icon-rss').share.load-anim-fade(data-delay="1100")
        .share__panel.share
          +social('facebook-box', 'vk', 'tw', 'odnokl').__social
      if (isDownloadable)
        .d-si__icons_item.download.load-anim-fade(title="Загрузить", data-delay="1300")
          +icon('download').download-icon
          .download__panel
            a(href="#" title="").download__a *.png
            a(href="#" title="").download__a *.csv
            a(href="#" title="").download__a *.xls
            a(href="#" title="").download__a *.ppt(x)
