.page-header {
  display: block;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .d-si__head_icons {
    margin-bottom: 16px;
    float: left;
    margin-left: 22px;

    @include clearfix;

    @media screen and (max-width: 1024px) {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    @media screen and (max-width: 760px) {
      float: none;
      display: inline-block;
      vertical-align: top;
      margin-left: 6px;
      margin-top: 5px;
    }

    @media screen and (max-width: 639px) {
      margin-top: 3px;
    }
  }

  .favor__icon {
    stroke: $color-white;
    opacity: .5;
    width: 24px;
    height: 23px;
  }

  .favor {
    display: block;
    float: left;
    width: auto;

    &:hover {
      .favor__icon {
        stroke: #fee300;
        opacity: 1;
      }
    }
  }

  &__icon {
    fill: #d0ccd3;
    width: 24px;
    height: 19px;
    display: block;
    float: left;
    cursor: pointer;
    margin-left: 11px;
    margin-top: 3px;

    &:hover {
      fill: #fee300;
    }
  }

  &__share {
    float: left;
    width: 16px;
    height: 19px;
    fill: $color-yellow;
    transition: all ease 0.5s;

    &:hover {
      fill: $color-white;
    }
  }

  &__download {
    width: 18px;
    height: 18px;
    fill: $color-yellow;
    transition: all ease 0.5s;

    &:hover {
      fill: $color-white;
    }
  }
}
