include ../../components/page-header/page-header
include ../../blocks/icon/icons
include ../../blocks/checkbox/checkbox
include ../../blocks/radio/radio
include ../../blocks/button/button
include ../../blocks/link/link

mixin quiz-question()
  +b.d-si-content._quiz._result._question&attributes(attributes)
    .d-layer
      .d-si__head
        +page-header('Викторины', 'Сервисы')
      .d-si__quiz-container
        p.d-si__quiz-container_head
          span ИСТОРИЯ БЮДЖЕТА ГОРОДА МОСКВЫ ВО ВТОРОЙ ПОЛОВИНЕ XX — НАЧАЛЕ ХХI ВЕКА
          .d-si__quiz-container_head-cross(title="Закрыть")
        form(action="#").d-sii__form#d-sii__form
          .d-si__quiz-container_body
            p.question-count Вопрос 1 из 5
            fieldset.d-sii__form_question
                legend НА ЧТО РАСХОДОВАЛАСЬ БОЛЬШАЯ ЧАСТЬ БЮДЖЕТА ГОРОДА В 50-60-Е ГОДЫ XX ВЕКА?
                //- .jq-checkbox.d-sii__chbox._success.checked(unselectable="on")#d-sii__chbox-first-styler
                +checkbox()._success
                  | Капитальные вложения (строительство, приобретение оборудования)
                  //- input(type="checkbox", checked).d-sii__chbox._success#d-sii__chbox-first
                  .jq-checkbox__div
                //- .jq-checkbox.d-sii__chbox._error.checked(unselectable="on")#d-sii__chbox-second-styler
                +checkbox()._error
                  | Заработную плату
                  //- input(type="checkbox", checked).d-sii__chbox._error#d-sii__chbox-second
                  .jq-checkbox__div
                //- .jq-checkbox.d-sii__chbox._error.checked(unselectable="on")#d-sii__chbox-third-styler
                +checkbox()
                  | Социальную поддержку населения
                  //- input(type="checkbox", checked).d-sii__chbox#d-sii__chbox-third
                  .jq-checkbox__div
            fieldset.d-sii__form_question
              legend.legend-2 КАКОВА ВАША ЦЕЛЬ ПОСЕЩЕНИЯ ПОРТАЛА «ОТКРЫТЫЙ БЮДЖЕТ ГОРОДА МОСКВЫ» СЕГОДНЯ?
              +e('label').field._type_radio
                +radio({name: 'item1', value: '1', checked: true})
                +e('span').label Поиск информации о бюджете города Москвы для подготовки учебных материалов рефератов, курсовых/дипломных работ
              +e('label').field._type_radio.d-sq_form-error-label
                +radio({name: 'item1', value: '2'})
                +e('span').label Поиск информации о бюджете города Москвы, необходимой в профессиональной деятельности
              +e('label').field._type_radio.d-sq_form-success-label
                +radio({name: 'item1', value: '3'})
                +e('span').label Изучение опыта города Москвы в части открытости бюджетных данных и представления бюджетных данных для граждан
              +e('label').field._type_radio
                +radio({name: 'item1', value: '4'})
                +e('span').label Задать вопрос о бюджете города Москвы/дать предложение
            .quiz-question-submit
              +button(isSubmit)._kind_blue Ответить
            p.quiz-hint-trigger
              | Получить подсказку
              +icon('info').icon_info
            .quiz-hint
              .quiz-hint-close
              strong Подсказка
              p Это не заработная плата и не социальная поддержка населения. Так что же это?
          .quiz-footer
            .d-si__quiz-container_body
              p.answer-result.answer-result_success
                +icon('green-daw').answer-result._pass
                | Вы выбрали правильный ответ
              p.answer-result.answer-result_error
                +icon('icon-error').answer-result._error
                | Вы выбрали неправильный ответ
              +link()
                | Перейти к следующему вопросу
                +icon('right-arrow').icon
