.d-si-content_question {
  display: block;
  width: 100%;
  background: url('../images/depfin-services-interview/content-bg.jpg') no-repeat;
  background-size: cover;
  padding: 175px 0 80px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  box-sizing: border-box;

  .d-layer {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0 37px;
  }

  .d-si-content__header {
    position: relative;
    margin-bottom: 51px;

    @include clearfix;
  }

  .d-si__quiz-container {
    color: $color-black;
    background-color: $color-white;
    padding-bottom: 55px;
    font-family: $PFDinDisplayPro;
    font-weight: 300;

    @include clearfix;

    &_head {
      font-family: $PFDinCondensedPro;
      font-weight: 500;
      padding-left: 122px;
      min-height: 64px;
      line-height: 64px;
      background-color: $color-yellow;
      font-size: 24px;
      color: $color-black;
      text-transform: uppercase;
      position: relative;
    }
  }

  .d-si-content__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23px;
    right: 33px;
  }

  .d-sii__form {
    margin-top: 37px;

    .d-si__quiz-container_body {
      padding-left: 122px;

      .question-count {
        opacity: .4;
        font-size: 14px;
        display: block;
        margin-bottom: 12px;
      }
    }

    &_question {
      border: none;
      padding: 0;
      margin: 0 0 48px;

      &:last-of-type {
        margin-bottom: 0;
      }

      legend {
        letter-spacing: .2px;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 25px;
        font-weight: 500;
      }

      .d-si-content__field {
        display: block;
        margin: 4px 0 14px;
        cursor: pointer;

        &:first-of-type {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .d-si-content__label {
        margin-left: 11px;
        margin-top: -2px;
        font-weight: 300;
        font-size: 16px;
      }
    }
  }

  .checkbox {
    float: left;
    clear: left;
    margin-bottom: 18px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .radio {
    float: left;
    clear: left;
  }

  .button {
    text-transform: uppercase;
    line-height: 28px;
    width: 150px;
    padding-bottom: 0;
    display: block;
    margin-top: 35px;
  }

  .quiz-hint-trigger {
    color: $color-link;
    font-size: 16px;
    border: 1px solid #cfdaec;
    margin-top: 38px;
    position: relative;
    cursor: pointer;
    padding: 0 48px 0 47px;
    display: inline-block;
    line-height: 34px;
  }

  .d-si-content__icon_info {
    position: absolute;
    left: 16px;
    top: 10px;
    width: 14px;
    height: 13px;
    fill: $color-link;
  }

  .quiz-hint {
    display: none;
    position: relative;
    background: #f5f2ed;
    padding: 18px 22px 21px;
    width: 51.5%;
    margin-top: 38px;
    font-size: 13px;

    strong {
      text-transform: uppercase;
      font-weight: 700;
      opacity: .4;
    }

    p {
      margin-top: 24px;
      line-height: 19px;
    }
  }

  .d-si-content__quiz-hint-close {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .quiz-footer {
    margin-top: 50px;
    width: 100%;
    background: #eeedeb;
    padding: 34px 0 37px;

    .d-si__quiz-container_body {
      padding-left: 122px;
    }

    .answer-result {
      position: relative;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
      margin-bottom: 34px;
    }

    .d-si-content__answer-result {
      width: 21px;
      height: 21px;
      position: absolute;
      top: -4px;
      left: -35px;

      &_pass {
        fill: #83ca14;
      }

      &_error {
        fill: #eb212e;
      }
    }

    .link {
      text-transform: uppercase;
      text-decoration: none;
      font-family: $PFDinCondensedPro;
      font-weight: 500;
    }
  }
}
