.d-si-content_question {
  display: block;
  padding-top: 175px;
  width: 100%;
  background: url('') no-repeat;
  background-size: cover;
  padding: 40px 0 80px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  box-sizing: border-box;

  .d-layer {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0 37px;
  }

  .d-si-content__header {
    position: relative;
    margin-bottom: 51px;

    @include clearfix;
  }

  .d-si__quiz-container {
    color: $color-black;
    background-color: $color-white;
    padding-bottom: 55px;
    font-family: $PFDinDisplayPro;
    font-weight: 300;

    &_head {
      font-family: $PFDinCondensedPro;
      font-weight: 500;
      padding-left: 122px;
      min-height: 64px;
      line-height: 64px;
      background-color: $color-yellow;
      font-size: 24px;
      color: $color-black;
      text-transform: uppercase;
      position: relative;
    }
  }

  .d-si-content__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23px;
    right: 33px;
  }

  .d-sii__form {
    margin-top: 37px;

    .d-si__quiz-container_body {
      padding-left: 122px;

      .question-count {
        opacity: .4;
        font-size: 14px;
        display: block;
        margin-bottom: 12px;
      }
    }

    &_question {
      border: none;
      padding: 0;
      margin: 0 0 48px;

      legend {
        letter-spacing: .2px;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 25px;
        font-weight: 500;
      }
    }
  }

  .checkbox {
    float: left;
    clear: left;
    margin-bottom: 18px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
