.d-si-content_result {
  display: block;

  .page-head__category {
    margin-bottom: -5px;
  }

  .d-si-content__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23px;
    right: 33px;
    cursor: pointer;
  }

  .num-list {
    strong {
      font-weight: 300;
    }
  }
}
