.d-si-content_result {
  display: block;

  .page-head__category {
    margin-bottom: -5px;
  }

  .d-si-content__cross {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 23px;
    right: 33px;
    cursor: pointer;
  }

  .num-list {
    strong {
      font-weight: 300;
    }
  }
}

.d-si__quiz-container_head {

  @media screen and (max-width: 1190px) {
    min-height: auto;
    line-height: 25px;
    padding: 21px 55px 18px 46px;
  }

  @media screen and (max-width: 760px) {
    line-height: 29px;
    padding: 32px 50px 37px 21px;
  }
}

.d-si__quiz-container_body {
  padding-left: 122px;

  @media screen and (max-width: 1190px) {
    padding-left: 46px;
  }

  @media screen and (max-width: 760px) {
    padding: 0 21px;
  }
}
