include ../../components/page-header/page-header
include ../../blocks/icon/icons

mixin quiz-result()
  +b.d-si-content._quiz._result&attributes(attributes)
    .d-layer
      .d-si__head
        +page-header('Викторины', ['Сервисы'])
      .d-si__quiz-container.load-anim-fade(data-delay="1500")
        p.d-si__quiz-container_head
          span ИСТОРИЯ БЮДЖЕТА ГОРОДА МОСКВЫ ВО ВТОРОЙ ПОЛОВИНЕ XX — НАЧАЛЕ ХХI ВЕКА
          .d-si__quiz-container_head-cross(title="Закрыть")
        .d-si__quiz-container_body.d-sr__body_p
          .d-sr__result
            span.d-sr__result_date Викторина создана:
              span.d-sr__result_bold 20.02.2016
            span.d-sr__result_value Всего участвовало:
              span.d-sr__result_bold
                span.d-sr__vote_val 504 чел.
          .quiz-result-round
            p
              span 2
              | &nbsp;из
              span 4
            canvas(width="250", height="250", stroke-width="20", sector-count="6", fill-sectors="0,5").sectored_round
          .quiz-result-text
            strong
              | Вы правильно ответили
              | на 2 из 4 вопросов
            p
              | и прошли викторину «История бюджета города Москвы
              | во второй половине XX — начале XXI века»
          .num-list
            strong Исторические факты
            ol
              li На 1 января 1967 года в столице проживало 6,5 млн человек. По числу жителей Москва занимала четвертое место в мире, уступая лишь Токио, Нью-Йорку&nbsp;и Шанхаю.
              li В СССР существовал так называемый налог со зрелищ — процент с валового дохода, получаемого объектами культуры (кинотеатры, дома культуры, цирки т.д.) от реализации билетов на «зрелища». Ставка налога варьировалась&nbsp;от 10 до 55 процентов в зависимости от вида развлечения.
              li Благодаря неудержимому росту инфляции в 1992 году бюджет города Москвы&nbsp;по доходам был перевыполнен в 10 раз.
              li В связи с отрицательными тенденциями в российской экономике в 1993 году Департамент финансов города Москвы утверждал бюджет города поквартально.
            .d-sr__social
              span.d-sr__social_txt Поделиться результатами:
              +social('facebook-box', 'vk', 'tw', 'insta', 'odnokl', 'youtube-play', 'telegram').__social.d-si-content__social
