.contest-popup {
  &__head {
    background-color: $color-yellow;
    padding: 20px 40px;
    position: relative;
  }
  &__title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__close {
    position: absolute;
    right: 43px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__participant {
    position: relative;
    padding: 30px 205px 0;
    &:first-child {
      .contest-popup__hide {
        display: none;
      }
    }
  }
  &__participant-number {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__js-participant-number {
    margin-left: -4px;
  }
  &__hide {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  &__label {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    width: 165px;
    padding-right: 20px;
    margin: 0;
  }
  &__fio {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    width: calc(100% - 300px);
    line-height: 40px;
    padding: 0 15px !important;
    color: #aeaeae;
    font-size: 16px;
    font-family: $PFDinTextPro;
    font-weight: 400;
  }
}
