include ../../blocks/icon/icons
include ../../blocks/button/button

mixin contest-popup()

	mixin participant(number)
		+e.participant
			+e.P.hide
				+icon('close').hide-icon
				| скрыть

			+e.P.participant-number 
				| Участник №
				+e.SPAN.js-participant-number 

			+participant-field('text', 'ФИО', 'fio')
			+participant-field('text', 'Дата рождения', 'birth')
			+participant-field('text', 'Должность', 'position')
			+participant-field('tel', 'Контактный телефон', 'phone')
			+participant-field('email', 'Электронная почта', 'email')
			+participant-field('text', 'Адрес', 'address')

	mixin participant-field(type, label, name)
		+e.participant-field
			+e.LABEL(for='').label= label
			+e.INPUT(type=''+type+'' name='p-'+name id='p-'+name).fio

	mixin option(type, label, name, isOther)
		+e.option-field
			+e.LABEL(for=type+'-'+name).option-label= label
				+e.INPUT(type='checkbox' name=type+'-'+name id=type+'-'+name)
				+e.chbox

			if (isOther)
				+e.INPUT(type='text' name=type+'-'+'other')

	+b.contest-popup&attributes(attributes)
		+e.head
			+e.H3.title Заявка
			+icon('close').close

		+e.FORM(method='POST' action='#').application

			+e.participants
				+participant()

				+button()._kind_yellow.js-button-addparticipant Добавить участника

			+e.options
				+e.option
					
					+e.option-title Номинация конкурса:

					+option('n', '«Бюджет города Москвы: сколько я плачу и что получаю?»', 'f1')
					+option('n', '«Интерактивный бюджет города Москвы для граждан»', 'f2')
					+option('n', '«Разработка рейтинга понятности бюджета города Москвы для граждан»', 'f3')
					+option('n', '«Популярный словарь бюджетных терминов»', 'f4')
					+option('n', '«Проекты инициативного бюджетирования в городе Москве»', 'f5')
					+option('n', '«Бюджет города Москвы: просто о сложном»', 'f6')
				
				+e.option
					+e.option-title Приложением к заявке является проект, представленный в формате:

					+option('f', 'Презентация', 'f1')
					+option('f', 'Видео', 'f2')
					+option('f', 'Интернет-брошюра', 'f3')
					+option('f', 'Мультипликационный ролик', 'f4')
					+option('f', 'Фото-коллаж', 'f5')
					+option('f', 'Иное (указать)', 'f6', true)
						
				+e.option
					+e.option-title Приложением представлено на:

					+option('t', 'Бумажном носителе информации на __ листах', 'f1')
					+option('t', 'Электронном носителе информации', 'f2')
					+option('t', 'Иное (указать)', 'f3', true)

				+e.extra
					+button()._kind_yellow.js-button-attachment Прикрепить файл
					+e.UL.attachments
						+e.LI.attachment
							+icon('close').delete-icon
							+e.SPAN.document Document 1
						+e.LI.attachment
							+icon('close').delete-icon
							+e.SPAN.document Document 2

				+button(true)._kind_yellow.__submit Отправить
				
		+e.footer
			+e.P.footer-text По всем возникающим вопросам Вы можете обращаться<br> по телефону +7&nbsp;(495)&nbsp;620-20-00 (доб.64327) или<br> по электронной почте
				a(href="mailto:YUAPetrushova@fin.dep.mos.ru") YUAPetrushova@fin.dep.mos.ru 
				| (Петрушова Юлия).
