extends ../../layouts/default
include ../../blocks/page-head/page-head

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.index
  +page-head('Lorem2sdafdsfgsdfsd', 'sadasffgfdgdfg')
