
.basic-budget .wrapper {
	&_analytics-expenses {
		@media (max-width: 1140px) {
			padding-left: 40px !important;
  		padding-right: 40px !important;
		}
	}
}


.analityc-widget_analytics-expenses {
  padding-top: 22px;
	padding-bottom: 35px;

	@media (max-width: 1140px) {
    margin-right: -40px;
    margin-left: -40px;
	}	

	.analityc-widgethead {
		min-height: 299px;

		@media (max-width: 1140px) {
			padding-right: 0;
		}
	}

	.analityc-control-frame-title {
		text-transform: uppercase;
    font-size: 18px;
    color: #000;

		@media (max-width: 1010px) {
			font-size: 23px;
		}

		@media (max-width: 580px) {
			font-size: 11px !important;
		}
	}

	.analityc-control-frame_left {
		float: left;

		@media (max-width: 1010px) {
			float: none;
			margin-bottom: 26px;
		}

		@media (max-width: 580px) {
			margin-bottom: 13px !important;
		}

		.analityc-control-group {
			display: block;
			position: relative;
			padding-right: 27px;
			margin-top: 2px;
			margin-left: 0;
			font-size: 0;

			@media (max-width: 1140px) {
				padding-right: 0;
			}

			&:after {
	      width: 100%;
	      height: 0;
	      content: '';
	      display: inline-block;
			}

			@media (max-width: 1140px) {
				margin-bottom: 0;
			}

			&:hover {
				& .analityc-remove-group {
					display: block;
				}
			}
		}

		.analityc-select {
			display: inline-block;
			padding-top: 3px;
			font-size: 14px;
			margin-right: 10px;

			@media (max-width: 580px) {
				height: 16px !important;
				padding-left: 6px;
			}


			@media (max-width: 550px) {
				background-position-x: 30px !important;
		    background-position-y: 9px !important;				
		  }		

			&:last-child {
				margin-right: 0;
			}

			&_year,
			&_month {
				width: 56px;
				background-position: 81%;

				@media (max-width: 1010px) {
					width: 74px;
					font-size: 17px;
				}			

				@media (max-width: 580px) {
					width: 37px !important;
					font-size: 9px !important;
					margin-right: 6px;
				}					
			}

			&_stage {
				width: 263px;

				@media (max-width: 1010px) {
					width: 340px;
					font-size: 17px;
				}			

				@media (max-width: 580px) {
					width: 170px !important;
					font-size: 9px !important;
				}		

				@media (max-width: 550px) {
					background-position-x: 163px !important;		
			  }		
			}
		}

		.analityc-remove-group {
			display: none;
			position: absolute;
			top: 11px;
			right: 0;

			@media (max-width: 1140px) {
				right: -27px;
			}

			& svg {
				width: 15px;
				height: 17px;
				fill: $color-link;
			}
		}

		.analityc-add-group {
			display: block;
			width: 100%;
			height: auto;
			font-size: 14px;
			color: $color-link;
			text-transform: uppercase;
			margin-top: 14px;

			@media (max-width: 1010px) {
				font-size: 27px;
		    letter-spacing: -0.3px;
		    margin-top: 37px;
			}

			@media (max-width: 580px) {
				font-size: 13px !important;
		    letter-spacing: normal !important;
		    margin-top: 19px !important;
			}			
		}			
	}

	.analityc-control-frame_right {
		position: relative;
		float: right;
		width: auto;
		margin-left: 25px;

		@media (max-width: 1140px) {
			margin-left: 0;
		}

		@media (max-width: 1010px) {
			float: none;
		}

		& .analityc-control-group {

			& > span {
				@media (max-width: 580px) {
					font-size: 12px;
				}
			}

			&_level {
				width: 235px;

				@media (max-width: 1140px) {
					width: 233px;
					margin-bottom: 0;
				}

				@media (max-width: 1010px) {
					display: block;
					width: 356px;
					margin-bottom: 20px;
				}

				@media (max-width: 580px) {
					width: 177px !important;
				}			
			}

			&_transfer {
				width: 265px;
				margin-left: 29px;

				@media (max-width: 1140px) {
					width: 246px;
					margin-left: 13px;
					margin-bottom: 0;
				}		

				@media (max-width: 1010px) {
					display: block;
					width: 356px;
				}	

				@media (max-width: 580px) {
					width: 177px !important;
				}			
			}

			&_classify {
				display: block;
				width: 390px;
		    margin-top: 20px;

	      @media (max-width: 1010px) {
	        width: 100%;
	      }

	      .analityc-select {
					@media (max-width: 550px) {
				    background-position-x: 268px !important;			
					}
	      }
			}

	    &_comparison {
	    	display: block;
	    	width: 390px;
	    	margin-left: 0;

	      @media (max-width: 640px) {
	        width: 100% !important;
	      }

	      .analityc-select {
					@media (max-width: 550px) {
				    background-position-x: 268px !important;			
					}
	      }
	    }
		}

		.analityc-select {
			font-size: 14px;

			@media (max-width: 1010px) {
				font-size: 17px;
			}	

			@media (max-width: 580px) {
				height: 16px !important;
				font-size: 9px !important;
				margin-right: 6px;
			}		

			@media (max-width: 550px) {
				height: 16px !important;
		    background-position-x: 164px !important;
		    background-position-y: 7px !important;				
			}
		}

		.analityc-control-switcher {
			position: relative !important;
			max-width: 100%;
			margin-top: 14px;

			& a {
				font-size: 13px;
		    padding: 0 15px;

	      @media (max-width: 1140px) {
	        padding: 0 7px !important;
	        line-height: 18px !important;
	      }		   

				@media (max-width: 1010px) {
					padding: 0 23px;
					line-height: 40px;
				}	

				@media (max-width: 580px) {
					padding: 0 10px;
					font-size: 7px;
					width: auto !important;
				}		

				@media (max-width: 550px) {
					width: auto !important;
				}	
			}
		}

		.d-smr__add-char {
      @media (max-width: 1010px) {
        height: auto;
      }		
		}

	}

	.legend-gp {
    font-size: 0;
    text-align: justify;
    margin-top: 34px;

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }

	  &__item {
	    display: inline-block;
	    width: (1/3)*100%;
	    font-size: 0;
	    margin-bottom: 12px;

	    .checkbox__box {
	      vertical-align: middle;
	    }
	  }

	  &__circle,
	  &__icon {
	    display: inline-block;
	    width: 21px;
	    height: 21px;
	    vertical-align: middle;
	    margin-right: 14px;
	  }

	  &__circle {
	    border-radius: 50%;

		  &_violet {
		    background: #0051d0;
		    background-image: -webkit-linear-gradient(right,rgb(97,34,146),rgb(189,132,233), 65%);
		    background-image: linear-gradient(-90deg,rgb(97,34,146),rgb(189,132,233) 65%);
		  }

		  &_gray {
		    background: #838a9a;
		    background-image: -webkit-linear-gradient(left,rgb(213,216,222),rgb(131,138,154) 65%);
		    background-image: linear-gradient(90deg,rgb(213,216,222),rgb(131,138,154) 65%);
		  }

		  &_green {
		    background: #32b168;
		    background-image: -webkit-linear-gradient(left,rgb(50,209,151),rgb(17,163,96) 65%);
		    background-image: linear-gradient(90deg,rgb(50,209,151),rgb(17,163,96) 65%);
		  }

		  &_pink {
		    background: #612292;
		    background-image: -webkit-linear-gradient(top,rgb(255,105,91),rgb(157,48,138) 65%);
		    background-image: linear-gradient(180deg, rgb(255,105,91),rgb(157,48,138) 65%);
		  }

		  &_greenyellow {
		    background: #11a360;
		    background-image: -webkit-linear-gradient(top,rgb(254,227,0),rgb(48,176,105) 65%);
		    background-image: linear-gradient(180deg, rgb(254,227,0),rgb(48,176,105) 65%);
		  }

		  &_blue {
		    background: #021398;
		    background-image: -webkit-linear-gradient(right,rgb(0,255,255),rgb(0,76,207) 65%);
		    background-image: linear-gradient(270deg, rgb(0,255,255),rgb(0,76,207) 65%);
		  }
	  }

	  &__icon {

			&_pink {
				background: url(../images/depfin-analytics-gp/pink.png) 50% 50% no-repeat;
			}
			&_violet {
				background: url(../images/depfin-analytics-gp/violet.png) 50% 50% no-repeat;
			}
			&_blue {
				background: url(../images/depfin-analytics-gp/blue.png) 50% 50% no-repeat;
			}
			&_greenyellow {
				background: url(../images/depfin-analytics-gp/greenyellow.png) 50% 50% no-repeat;
			}
	  }

	  &__label {
	    font-size: 14px;
	    color: $color-black;
	    vertical-align: middle;
	  }
	}

	.table-switcher {
		text-align: right;
		margin-top: 40px;

		@media (max-width: 1010px) {
			text-align: left;
		}	

		.analityc-control-switcher_table {
			margin-top: 0;

			@media (max-width: 580px) {
				width: auto !important;
			}	

			@media (max-width: 550px) {
				width: auto !important;
			}	

			& a {
				@media (max-width: 580px) {
					font-size: 10px;
					padding: 0 30px !important;
					width: auto !important;
				}	
			}
		}
	}

	.analityc-table_gp {
		.table {
			min-width: 945px;
		}
	}
}