include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/legend/legend


mixin depfin-analytics-expenses()
	.main._basic
		section.basic-budget
			.wrapper.wrapper_analytics-expenses
				+page-header('Расходы бюджета', false, true)


				.analityc-widget.analityc-widget_analytics-expenses
					+analityc-widgethead-analytics-expenses()

					+analityc-graphics-line-vertical(getData('graphic-lines-analytics-expenses'), true)._gp
					
					+legend-icon()

					+analityc-table()._gp
						+table-gp(getData('analytics-expenses'))

					a(href="/").analityc-more Перейти в&nbsp;раздел бюжет москвы
