include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/legend/legend
include ../../blocks/dropdown-block/dropdown-block


mixin depfin-analytics-expenses()
	section.main._basic.analitycs-expenses.basic-budget.sections__item
		.wrapper-header
			+page-header('Расходы бюджета', ['Аналитика'], true)
		.wrapper.wrapper_analytics-expenses
			.analityc-widget.analityc-widget_analytics-expenses.load-anim-fade(data-delay="1500")
				+analityc-widgethead-analytics-expenses()
				.analityc-graphics(data-type='g1', data-comparison='overall')
					.analityc-graphics-container.analityc-graphics-container_vert-lines
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-line-vertical-alt(getData('graphic-lines-analityc-income'))
				.analityc-graphics(data-type='g2', data-comparison='overall').active
					.analityc-graphics-container.analityc-graphics-container_bars
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars(getData('legend-analityc-bar1'))
				.analityc-graphics(data-type='g3', data-comparison='overall')
					.analityc-graphics-container.analityc-graphics-container_bars
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars(getData('legend-analityc-bar2'))
				.analityc-graphics(data-type='g1, g2, g3', data-comparison='comparative')
					.analityc-graphics-container.analityc-graphics-container_bars-entired
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars-alt(getData('legend-analityc-bar4'))._entired
				+legend-icon()(data-control data-type='g1, g2, g3' data-comparison='overall')
				+legend-basket(getData('legend-analityc-income')[1])(data-control data-type='g1, g2, g3' data-comparison='comparative')
				.table-switcher
					.analityc-control-switcher.analityc-control-switcher_table.analityc-control-switcher_large.active
						a(href="#").active млн руб.
						a(href="#") млрд руб.
				+analityc-table-slider(100)._gp
					+table-gp(getData('analytics-expenses'), true, false)

				a(href="/").analityc-more Перейти в&nbsp;раздел бюжет москвы
				
		+dropdown().load-anim-fade(data-delay="1700")
