.analitycs-expenses {
  
  .analityc-graphics {
    display: none;
    &.active {
      display: block;
    }
  }
  
  .analityc-graphics__slide-arrows {
    position: absolute;
    left: -34px;
    right: -34px;
    top: 50%;
    margin-top: -25px;
    display: none;
    
    @media screen and (max-width: 580px) {
      left: -20px;
      right: -20px;
    }
  }
  
  .legend, .legend-icon-a {
    margin-top: 35px;
  }
  .legend-icon-a__label, .legend__item {
    font-family: $PFDinTextPro;
    font-weight: 400;
    font-size: 14px;
  }
  .legend-icon-a__item {
    margin-top: 0;
    margin-bottom: 17px;
    width: 33.3333%;
    
    @media screen and (max-width: 900px) {
      width: 50%;
    }
    @media screen and (max-width: 580px) {
      width: 100%;
    }
  }
  .legend_basket .legend__item {
    width: 33.3333%;
    margin-bottom: 17px;
    
    @media screen and (max-width: 900px) {
      width: 50%;
    }
    @media screen and (max-width: 580px) {
      width: 100%;
    }
  }
  
  .analityc-widgethead [data-control] {
    display: none;
    &.active {
      display: block;
    }
  }
  
  .analityc-graphics-wrapper {
    margin-bottom: -20px;
    padding-bottom: 20px;
  }
  
  .analityc-graphics-line-vertical {
    display: block;
  }
  
  .analityc-graphics-container {
    position: relative;
    
    &_vert-lines, &_bars, &_bars-entired {
      @media screen and (max-width: 1100px) {
        .analityc-graphics-scroll-hider {
          overflow: hidden;
        }
        .analityc-graphics-wrapper {
          overflow-x: auto;
        }
        .analityc-graphics__slide-arrows {
          display: block;
        }
        .analityc-graphics-line-vertical, .analityc-graphics-bars {
          min-width: 1100px;
        }
      }
    }
  }
}

.analityc-widget_analytics-expenses {
  padding-top: 22px;
  padding-bottom: 35px;
  
  @media (max-width: 450px) {
    padding: 13px 20px 28px!important;
  }
  
  .analityc-widgethead {
    min-height: 299px;
  }
  
  .analityc-control-frame_left {
    float: left;
    width: calc(100% - 570px);
    
    @media (max-width: 1140px) {
      width: calc(100% - 550px);
    }
    
    @media (max-width: 1010px) {
      float: none;
      width: 50%;
    }
    
    @media (max-width: 900px) {
      width: 100%;
    }
    
    .analityc-widget__selectbox_year {
      display: inline-block;
      margin-right: 9px;
    }
    
    .analityc-widget__selectbox_month {
      display: inline-block;
      margin-right: 9px;
    }
    
    .analityc-widget__selectbox_stage {
      width: calc(100% - 178px);
      display: inline-block;
      
      @media screen and (max-width: 900px) {
        width: calc(100% - 262px);
      }
      
      @media screen and (max-width: 580px) {
        width: calc(100% - 163px);
      }
    }
  }
  
  .analityc-control-frame_right {
    position: relative;
    float: right;
    width: 520px;
    
    @media (max-width: 1010px) {
      float: none;
      margin-top: 30px;
    }
    
    @media screen and (max-width: 900px) {
      width: 100%;
      padding-right: 27px;
      margin-top: 50px;
    }
    
    @media screen and (max-width: 580px) {
      padding-right: 17px;
    }
    
    & .analityc-control-group {
      margin-left: 0;
      
      &_level {
        float: left;
        width: 235px;
        
        @media (max-width: 1010px) {
          margin-bottom: 23px !important;
        }
        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }
      
      &_transfer {
        float: right;
        width: 265px;
        
        @media screen and (max-width: 900px) {
          margin-left: 0;
          width: 100%;
        }
      }
      
      &_classify {
        display: block;
        width: 390px;
        margin-top: 18px;
        
        @media (max-width: 1010px) {
          margin-top: 25px;
          margin-bottom: 25px;
        }
        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }
      
      &_comparison {
        display: block;
        margin-left: 0;
        
        @media screen and (max-width: 900px) {
          width: 100%;
        }
      }
    }
    
    .analityc-control-switcher {
      margin-top: 0;
      
      a {
        font-size: 13px;
        padding: 0 12px;
        border-right: 1px solid #0d46a1;
        
        &:last-child {
          border-right: none;
        }
        
        @media screen and (max-width: 900px) {
          font-size: 18px;
          line-height: 52px;
        }
        
        @media screen and (max-width: 800px) {
          width: 100%;
          border-right: 0;
          border-bottom: 1px solid $color-link;
          
          &:last-child {
            border-bottom: 0;
          }
        }
        
        @media (max-width: 580px) {
          font-size: 12px;
          white-space: nowrap;
          padding: 0;
          line-height: 26px;
        }
      }
    }
  }
  
  .table-switcher {
    margin-top: 50px;
    
    .analityc-control-switcher_table {
      margin-top: 0;
      
      @media screen and (max-width: 580px) {
        width: auto;
      }
      
      a {
        @media screen and (max-width: 580px) {
          width: auto;
          padding: 0 30px;
        }
      }
    }
  }
  
  .analityc-table_gp {
    margin-top: 0;
  }
}
