include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table

mixin depfin-analytics-expenses()
	.main._basic
		section.basic-budget
			.wrapper.wrapper_analytics-expenses
				+page-header('Расходы бюджета', false, true)


				.analityc-widget.analityc-widget_analytics-expenses
					+analityc-widgethead-analytics-expenses()

					+analityc-graphics-line-vertical(getData('graphic-lines-analytics-expenses'), true)._gp
					
					.legend-gp
						+checkbox().legend-gp__item
							.legend-gp__circle.legend-gp__circle_pink
							.legend-gp__icon.legend-gp__icon_pink
							SPAN.legend-gp__label Развитие транспортной системы
						+checkbox().legend-gp__item
							.legend-gp__circle.legend-gp__circle_violet
							.legend-gp__icon.legend-gp__icon_violet
							SPAN.legend-gp__label Социальная поддержка жителей Москвы
						+checkbox().legend-gp__item
							.legend-gp__circle.legend-gp__circle_blue
							.legend-gp__icon.legend-gp__icon_blue
							SPAN.legend-gp__label Столичное здравоохранение
						+checkbox().legend-gp__item
							.legend-gp__circle.legend-gp__circle_greenyellow
							.legend-gp__icon.legend-gp__icon_greenyellow
							SPAN.legend-gp__label Прочие государственные программы
						+checkbox().legend-gp__item
							.legend-gp__circle.legend-gp__circle_gray
							SPAN.legend-gp__label Развитие транспортной системы
						+checkbox().legend-gp__item
							.legend-gp__circle.legend-gp__circle_green
							SPAN.legend-gp__label Непрограммные направления деятельности

					+analityc-table()._gp
						+table-gp(getData('analytics-expenses'))

					a(href="/").analityc-more Перейти в&nbsp;раздел бюжет москвы
