include ../../blocks/tooltip-icon/tooltip-icon
include ../../blocks/range/range

mixin budget-calc-btn(text)
  +b.A.budget-calc-btn(href="#")&attributes(attributes) #{text}
    block

mixin budget-calc-app()
  +b.budget-calc-app#budget-calc-app&attributes(attributes)
    +e.sidebar
      +b.A.budget-calc-app-widget._link._incomes.js-budget-calc-app__tab-control#budget-calc-app__tab_incomes-indicator.is-active(data-target="#budget-calc-app__tab_incomes" href="#")
        +e.DIV.inner
          +e.DIV.name.has-tooltip доходы
            +tooltip-icon("текст тултипа")
          +e.DIV.value 1 598,9
          +e.DIV.value-notice млрд. руб.
          +e.DIV.description Исходное значение: 1 598,9
      +b.A.budget-calc-app-widget._link._costs.js-budget-calc-app__tab-control#budget-calc-app__tab_costs-indicator(data-target="#budget-calc-app__tab_costs" href="#")
        +e.DIV.inner
          +e.DIV.name.has-tooltip расходы
            +tooltip-icon("текст тултипа")
          +e.DIV.value 1 751,0
          +e.DIV.value-notice млрд. руб.
          +e.DIV.description Исходное значение: 1 751,0
      +b.A.budget-calc-app-widget._link._balance.js-budget-calc-app__tab-control#budget-calc-app__tab_balance-indicator(data-target="#budget-calc-app__tab_balance" href="#")
        +e.DIV.inner
          +e.DIV.name.has-tooltip дефицит/профицит
            +tooltip-icon("текст тултипа")
          +e.DIV.value -151,1
          +e.DIV.value-notice млрд. руб.
          +e.DIV.description 9,5% от собственных доходов <br>Исходное значение: -152,1
      +b.budget-calc-app-widget._not-balanced
        +e.inner
          +e.name.has-tooltip не сбалансировано
            +tooltip-icon("текст тултипа")
          +e.value 0,0
          +e.value-notice млрд. руб.
      +b.A.budget-calc-app-widget(href="#")._check
        +e.DIV.inner
          +e.DIV.name проверить свой вариант бюджета
      +b.A.budget-calc-app-widget(href="#")._restore
        +e.DIV.inner.-widget-restore-inner
          +icon('clean').icon.-widget-restore-icon
          +e.DIV.name.-widget-restore-name вернуть исходные значения бюджета

    +e.main-content#budget-calc-app__main-content
      +e.tab._incomes.js-budget-calc-app__tab#budget-calc-app__tab_incomes.is-active(data-state-indicator="#budget-calc-app__tab_incomes-indicator")
        +e.heading МЕРЫ ПО ИЗМЕНЕНИЮ ДОХОДНОЙ ЧАСТИ БЮДЖЕТА
        +e.text Изменение элементов налогообложения в пределах полномочий субъекта Российской Федерации, установленных законодательством Российской Федерации о налогах и сборах.
        +e.incomes
          +e.incomes-row._heading
            +e.incomes-column
            +e.incomes-column._heading Доля в общем объеме доходов
            +e.incomes-column._heading Сумма поступлений
          +e.incomes-row
            +e.incomes-column
              +e.incomes-column-name.has-tooltip Налоговые доходы
                +tooltip-icon("текст тултипа")
            +e.incomes-column
              +e.SPAN.incomes-column-value 89,6
              | %
            +e.incomes-column
              +e.SPAN.incomes-column-value 1 433 185,2
              |&nbsp;млн руб.
          +e.incomes-row.is-accordeon-row.js-incomes-row_accordeon
            +e.incomes-column
              +e.incomes-column-name.has-tooltip НАЛОГ НА ПРИБЫЛЬ ОРГАНИЗАЦИЙ
                +tooltip-icon("текст тултипа")
            +e.incomes-column
              +e.SPAN.incomes-column-value 29,1
              | %
            +e.incomes-column
              +e.SPAN.incomes-column-value 464 732,0
              |&nbsp;млн руб.
          +e.incomes-expand
            +e.incomes-expand-inner
              +e.incomes-expand-row
                +e.incomes-expand-column._text-muted Налогоплательщики
                +e.incomes-expand-column._text-muted Налоговая ставка
                +e.incomes-expand-column
              +e.incomes-expand-row
                +e.incomes-expand-column Все налогоплательщики
                +e.incomes-expand-column
                  +range()
                +e.incomes-expand-column
              +e.incomes-expand-row
                +e.incomes-expand-column Льготные категории налогоплательщиков:
                +e.incomes-expand-column
                +e.incomes-expand-column
              +e.incomes-expand-row
                +e.incomes-expand-column Организации, осуществляющие производство легковых автомобилей на территории города Москвы
                +e.incomes-expand-column
                +e.incomes-expand-column


          +e.incomes-row
            +e.incomes-column Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus illo placeat labore nobis commodi, facilis, hic animi vitae est id consectetur cumque itaque ipsum, soluta! Iusto illo id, officia et!
        +e.text
          +budget-calc-btn('сохранить и перейти в раздел «расходы»').-triangle-right.js-budget-calc-app__tab-control(data-target="#budget-calc-app__tab_costs" href="#")

      +e.tab._costs.js-budget-calc-app__tab#budget-calc-app__tab_costs(data-state-indicator="#budget-calc-app__tab_costs-indicator")
        +e.heading РАСХОДЫ НА ГОСУДАРСТВЕННЫЕ ПРОГРАММЫ
        +e.costs
          +e.costs-item
            +e.costs-item-icon
              +icon('wifi').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text РАЗВИТИЕ ТРАНСПОРТНОЙ СИСТЕМЫ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('health-cross').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text столичное здравоохранение
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('study').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text столичное образование
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('health-care').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text СОЦИАЛЬНАЯ ПОДДЕРЖКА ЖИТЕЛЕЙ ГОРОДА москвы
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('home').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text жилище
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('light').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text РАЗВИТИЕ КОММУНАЛЬНО-ИНЖЕНЕРНОЙ ИНФРАСТРУКТУРЫ И ЭНЕРГОСБЕРЕЖЕНИЕ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('paint').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text КУЛЬТУРА МОСКВЫ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('football').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text спорт МОСКВЫ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('darts').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text открытое правительство
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              //- +icon('briefcase').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text РАЗВИТИЕ ИНДУСТРИИ ОТДЫХА И ТУРИЗМА
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('safe-shield').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text безопастный город
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('wifi').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text информационный город
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('briefcase').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text ЭКОНОМИЧЕСКОЕ РАЗВИТИЕ И ИНВЕСТИЦИОННАЯ ПРИВЛЕКАТЕЛЬНОСТЬ ГОРОДА МОСКВЫ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('crane').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text ГРАДОСТРОИТЕЛЬНАЯ ПОЛИТИКА
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              //- +icon('crane').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text НЕПРОГРАММНЫЕ РАСХОДЫ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              | range
            +e.costs-item-expand testing

        +budget-calc-btn('сохранить и перейти в раздел «дефицит/процифит»')._costs.-triangle-right.js-budget-calc-app__tab-control(data-target="#budget-calc-app__tab_balance" href="#")

      +e.tab._balance.js-budget-calc-app__tab#budget-calc-app__tab_balance(data-state-indicator="#budget-calc-app__tab_balance-indicator")
        +e.heading ДЕФИЦИТ / ПРОФИЦИТ
        +e.balance
          each _ in Array(5)
            +e.balance-row
              +e.balance-column._name
                .has-tooltip ГОСУДАРСТВЕННЫЕ ЦЕННЫЕ БУМАГИ
                  +tooltip-icon('текст тултипа')
              +e.balance-column._range
                | range
              +e.balance-column._value
                | 0,0 млн руб.
              +e.balance-expand
                | Уведомления
        +budget-calc-btn('Сохранить и проверить свой вариант бюджета')._balance.-triangle-right
