include ../../blocks/tooltip-icon/tooltip-icon
include ../../blocks/range/range
include ../../blocks/checkbox/checkbox

mixin budget-calc-btn(text)
  +b.A.budget-calc-btn(href="#")&attributes(attributes) #{text}
    block

mixin budget-calc-app()
  +b.budget-calc-app#budget-calc-app&attributes(attributes)
    +e.sidebar#budget-calc-app__sidebar
      +e.sidebar-inner
        +b.A.budget-calc-app-widget._link._incomes.js-budget-calc-app__tab-control#budget-calc-app__tab_incomes-indicator(data-target="#budget-calc-app__tab_incomes" href="#").is-active
          +e.DIV.inner
            +e.DIV.name.has-tooltip доходы
              +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
            +e.DIV.value 1 598,9
            +e.DIV.value-notice млрд руб.
            +e.DIV.description Исходное значение: 1 598,9
        +b.A.budget-calc-app-widget._link._costs.js-budget-calc-app__tab-control#budget-calc-app__tab_costs-indicator(data-target="#budget-calc-app__tab_costs" href="#")
          +e.DIV.inner
            +e.DIV.name.has-tooltip расходы
              +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
            +e.DIV.value 1 751,0
            +e.DIV.value-notice млрд руб.
            +e.DIV.description Исходное значение: 1 751,0
        +b.A.budget-calc-app-widget._link._balance.js-budget-calc-app__tab-control#budget-calc-app__tab_balance-indicator(data-target="#budget-calc-app__tab_balance" href="#")
          +e.DIV.inner
            +e.DIV.name.has-tooltip дефицит/профицит
              +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
            +e.DIV.value -151,1
            +e.DIV.value-notice млрд руб.
            +e.DIV.description 9,5% от собственных доходов <br>Исходное значение: -152,1
        +b.budget-calc-app-widget._not-balanced#budget-calc-app__widget_not-balanced(data-modal="true" data-modal-text="<div class='text-left'>Бюджет дефицитный: расходы превышают доходы в пределах допустимого уровня.<br><br><strong>Вам необходимо сбалансировать Ваш бюджет.</strong><br>Для этого вы можете:<br>- снизить доходы бюджета<br>- увеличить расходы бюджета<br>- отказаться от привлечения излишних источников финансирования дефицита бюджета</div>" data-modal-btn-yes="Продолжить")
          +e.inner
            +e.name.has-tooltip не сбалансировано
              +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
            +e.value 0,0
            +e.value-notice млрд руб.
          +e.mobile-notification.is-active
            p <strong>Бюджет дефицитный: <br>расходы превышают доходы в пределах допустимого уровня</strong>.<br>Вам необходимо сбалансировать Ваш бюджет.
            p Для этого вы можете <br>- увеличить доходы бюджета <br>- снизить расходы бюджета <br>- привлечь источники финансирования дефицита бюджета
        +b.A.budget-calc-app-widget_link._check.js-moveAroundThoseWidgets.js-budget-calc-app__tab-control#budget-calc-app__tab_check-indicator(data-target="#budget-calc-app__tab_check" href="#")
          +e.DIV.inner
            +e.DIV.name проверить свой вариант бюджета
        +b.A.budget-calc-app-widget._restore.js-moveAroundThoseWidgets(href="#" data-modal="true" data-modal-type="confirm" data-modal-heading="Вы уверены, что хотите вернуть исходные значения?" data-modal-text="В этом случае вам придётся проходить заполнять значения заново." data-modal-btn-yes="Да, хочу" data-modal-btn-no="Нет, не хочу" data-callback-function="budgetCalcRestoreDefaults")
          +e.DIV.inner.-widget-restore-inner
            +icon('clean').icon.-widget-restore-icon
            +e.DIV.name.-widget-restore-name
              | вернуть исходные значения бюджета
        +e.sidebar-notification.js-moveAroundThoseWidgets.is-active
          p <strong>Бюджет дефицитный: <br>расходы превышают доходы в пределах допустимого уровня</strong>. Вам необходимо сбалансировать Ваш бюджет.
          p Для этого вы можете <br>- увеличить доходы бюджета <br>- снизить расходы бюджета <br>- привлечь источники финансирования дефицита бюджета

    +e.main-content#budget-calc-app__main-content
      +e.tab._incomes.js-budget-calc-app__tab#budget-calc-app__tab_incomes(data-state-indicator="#budget-calc-app__tab_incomes-indicator").is-active
        +e.heading МЕРЫ ПО ИЗМЕНЕНИЮ ДОХОДНОЙ ЧАСТИ БЮДЖЕТА
        +e.text Изменение элементов налогообложения в пределах полномочий субъекта Российской Федерации, установленных законодательством Российской Федерации о налогах и сборах.
        +e.incomes
          +b.bc-table-row._heading
            +e.column
            +e.column._heading Доля в общем объеме доходов
            +e.column._heading Сумма поступлений
          +b.bc-table-row
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text Налоговые доходы
            +e.column._value
              SPAN.-percent-num 89,6
              SPAN.-percent-text %
            +e.column._value
              SPAN.-num 1 433 185,2
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.notification.is-active Решение об эмиссии отдельных выпусков облигаций Городского облигационного (внутреннего) займа Москвы утверждаются Правительством Москвы. Предельный объем ежегодной эмиссии устанавливается постановлениями Правительства Москвы. Превышение предельного объема заимствований может оказать негативное влияние на ранее выпущенные облигационные займы.
            +b.notification._alert.is-active Внимание! <br>Ежегодные расходы на обслуживание государственного долга изменились на 743,7 млн руб.
            +b.notification._info.text-center.is-active Если вы хотите сохранить несколько вариантов бюджета, <a href="#">зарегистируйтесь</a>!

          +b.bc-table-row.is-accordeon-row.js-table-row-accordeon
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text НАЛОГ НА ПРИБЫЛЬ ОРГАНИЗАЦИЙ
            +e.column._value
              SPAN.-percent-num 29,1
              SPAN.-percent-text %
            +e.column._value
              SPAN.-num 464 732,0
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.bc-table-row._expand-header
              +e.column
                SPAN.text-muted Налогоплательщики
              +e.column
                SPAN.text-muted Налоговая ставка
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Налогоплательщики: </span>Все налогоплательщики
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_allTaxes_Range')
              +e.column._value.text-alert
                SPAN.-num -464 732,0
                SPAN.-text млн руб.
            +b.notification.is-active Снижение налоговой ставки для большинства налогоплательщиков города Москвы приведет к уменьшению поступлений в городской бюджет
            +b.bc-table-row._expand-header
              +e.column
                SPAN.text-muted Льготные категории налогоплательщиков:
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Льготные категории налогоплательщиков: </span>Организации, осуществляющие производство легковых автомобилей на территории города Москвы
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_LgotyProizvodstvoAvto_Range')
              +e.column
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Льготные категории налогоплательщиков: </span>Общественные организации инвалидов и организации, использующие труд инвалидов
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_LgotyInvalidyNaRabote_Range')

          +b.bc-table-row.is-accordeon-row.js-table-row-accordeon
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text НАЛОГ НА ДОХОДЫ ФИЗИЧЕСКИХ ЛИЦ
            +e.column._value
              SPAN.-percent-num 45,6
              SPAN.-percent-text %
            +e.column._value
              SPAN.-num 729 284,6
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.bc-table-row
              +e.column Коэффициент, отражающий региональные особенности рынка труда
              +e.column
                +range('incomes_RegionKoeficient_Range')

          +b.bc-table-row.is-accordeon-row.js-table-row-accordeon
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text НАЛОГ НА ИМУЩЕСТВО ОРГАНИЗАЦИЙ
            +e.column._value
              SPAN.-percent-num 29,1
              SPAN.-percent-text %
            +e.column._value
              SPAN.-num 464 732,0
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.bc-table-row._expand-header
              +e.column
                SPAN.text-muted Налоговая база
              +e.column
                SPAN.text-muted Налоговая ставка
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Налоговая база: </span>Среднегодовая стоимость движимого и недвижимого имущества
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_AveragePropertyValue_Range')
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Налоговая база: </span>Кадастровая стоимость недвижимого имущества
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_AveragePropertyValueKadastr_Range')

          +b.bc-table-row.is-accordeon-row.js-table-row-accordeon
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text транспортный налог
            +e.column._value
              SPAN.-percent-num 45,6
              SPAN.-percent-text %
            +e.column._value.text-alert
              SPAN.-num 729 284,6
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.bc-table-row._expand-header
              +e.column
                SPAN.text-muted Объекты налогообложения — <br>легковые автомобили мощностью:
              +e.column
                SPAN.text-muted Налоговая ставка
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Объекты налогообложения — легковые автомобили мощностью: </span> до 100 л.с.
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_TransportLessThan100Hp_Range')
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Объекты налогообложения — легковые автомобили мощностью: </span> свыше 100 л.с. до 125 л.с.
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_Transport100-125Hp_Range')
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Объекты налогообложения — легковые автомобили мощностью: </span> свыше 125 л.с. до 150 л.с.
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_Transport125-150Hp_Range')
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Объекты налогообложения — легковые автомобили мощностью: </span> свыше 150 л.с. до 175 л.с.
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_Transport150-175Hp_Range')
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Объекты налогообложения — легковые автомобили мощностью: </span> свыше 175 л.с. до 200 л.с.
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_Transport175-200Hp_Range')
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Объекты налогообложения — легковые автомобили мощностью: </span> свыше 200 л.с. до 225 л.с.
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_Transport200-225Hp_Range')
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Объекты налогообложения — легковые автомобили мощностью: </span> свыше 225 л.с. до 250 л.с.
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_Transport225-250Hp_Range')
            +b.bc-table-row
              +e.column
                | <span class="visible-xs">Объекты налогообложения — легковые автомобили мощностью: </span> свыше 250 л.с.
              +e.column
                .visible-xs Налоговая ставка
                +range('incomes_TransportMoreThan250Hp_Range')
            +b.notification.is-active Изменение налоговых ставок в большую или меньшую сторону приведет к увеличению/снижению поступлений в городской бюджет. При изменении ставок необходимо учитывать принцип соизмеримости, согласно которому ставка для автомобиля меньшей мощности не может превышать ставку для автомобиля большей мощности.

            +b.bc-table-row._expand
              +e.column Как Вы считаете, для каких категорий организаций и граждан следует отменить налоговые льготы?

              +e.column.col2and3
                +b.bc-table-row
                  +e.column.has-checkbox.col2and3-col1
                    +checkbox()
                    SPAN.checkbox-text Организации, оказывающие услуги по перевозке пассажиров городским пассажирским транспортом общего пользования, — по транспортным средствам, осуществляющим перевозки пассажиров (кроме такси)
                  +e.column._value._expand.text-success.col2and3-col2
                    SPAN.-num +84,6
                    SPAN.-text млн руб.
                  +e.column.col2and3-col3
                    +b.notification.is-active Отмена льготы по налогу для городского пассажирского транспорта приведет к увеличению стоимости проезда на общественном транспорте.

                +b.bc-table-row
                  +e.column.has-checkbox.col2and3-col1
                    +checkbox()
                    SPAN.checkbox-text Лица, имеющие легковые автомобили с мощностью двигателя до 70 л.с. включительно (за одно транспортное средство)
                  +e.column._value._expand.text-alert.col2and3-col2
                    SPAN.-num -834 342,6
                    SPAN.-text млн руб.
                  +e.column.col2and3-col3
                    +b.notification.is-active Отмена льготы для владельцев маломощных автомобилей окажет дестимулирующее влияние на приобретение и использование автомобилей указанной категории, при том что такие автомобили причиняют наименьший вред экологии города и оказывают наименьшую нагрузку на дорожно-транспортную инфраструктуру.

                +b.bc-table-row
                  +e.column.has-checkbox.col2and3-col1
                    +checkbox()
                    SPAN.checkbox-text Один из родителей (усыновителей) в многодетной семье (за одно транспортное средство)
                  +e.column._value._expand.text-success.col2and3-col2
                    SPAN.-num 34 342,6
                    SPAN.-text млн руб.
                  +e.column.col2and3-col3
                    +b.notification.is-active Отмена льготы, предоставляемой одному из родителей (усыновителей) в многодетной семье, увеличит налоговую нагрузку на указанную семью, при этом наличие вместительного автомобиля в многодетной семье является оправданной необходимостью, а не предметом роскоши.

          +b.bc-table-row.is-accordeon-row.js-table-row-accordeon
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text ЗЕМЕЛЬНЫЙ НАЛОГ
            +e.column._value
              SPAN.-percent-num 29,1
              SPAN.-percent-text %
            +e.column._value
              SPAN.-num 464 732,0
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.bc-table-row._expand-header
              +e.column
                SPAN.text-muted Объекты налогообложения
              +e.column
                SPAN.text-muted Налоговая ставка
            +b.bc-table-row
              +e.column Земельные участки, отнесенные к землям в составе зон сельскохозяйственного использования в городе Москве и используемые для сельскохозяйственного производства
              +e.column
                +range('incomes_LandsSelhoz_Range')
            +b.bc-table-row
              +e.column Земельные участки, занятые жилищным фондом и объектами инженерной инфраструктуры жилищно-коммунального комплекса или предоставленные для жилищного строительства
              +e.column
                +range('incomes_LandsZhilye_Range')
            +b.bc-table-row
              +e.column Земельные участки, предоставленные для ведения личного подсобного хозяйства, садоводства, огородничества или животноводства, а также дачного хозяйства и дачного строительства
              +e.column
                +range('incomes_LandsPersonal_Range')
            +b.bc-table-row
              +e.column Прочие земельные участки
              +e.column
                +range('incomes_LandsMisc_Range')

            +b.bc-table-row
              +e.column Как Вы считаете, для каких категорий организаций следует отменить налоговые льготы?

              +e.column.col2and3
                +b.bc-table-row
                  +e.column.has-checkbox.col2and3-col1
                    +checkbox()
                    SPAN.checkbox-text ТСЖ, ЖК, ЖСК и иные специализированные потребительские кооперативы, созданные в целях удовлетворения потребностей граждан в жилье
                  +e.column._value._expand.text-success.col2and3-col2
                    SPAN.-num +7,8
                    SPAN.-text млн руб.
                  +e.column.col2and3-col3
                    +b.notification.is-active Отмена льготы для ТСЖ, ЖК, ЖСК и иных организаций с аналогичными функциями приведет к росту затрат участников данных организаций в связи с необходимостью уплаты налога

                +b.bc-table-row
                  +e.column.has-checkbox.col2and3-col1
                    +checkbox()
                    SPAN.checkbox-text Негосударственные некоммерческие организации
                  +e.column._value._expand.text-success.col2and3-col2
                    SPAN.-num +7,8
                    SPAN.-text млн руб.
                  +e.column.col2and3-col3
                    +b.notification.is-active Отмена льготы для негосударственных НКО повлечет увеличение налоговой нагрузки на данные организации, что может привести к росту стоимости оказываемых социально значимых услуг

                +b.bc-table-row
                  +e.column.has-checkbox.col2and3-col1
                    +checkbox()
                    SPAN.checkbox-text Организации, которым в установленном порядке присвоен статус государственного научного центра РФ
                  +e.column._value._expand.text-success.col2and3-col2
                    SPAN.-num +7,8
                    SPAN.-text млн руб.
                  +e.column.col2and3-col3
                    +b.notification.is-active Отмена льготы для государственных научных центров РФ приведет к необходимости осуществления расходов на уплату налога за счет сокращения других расходов

                +b.bc-table-row
                  +e.column.has-checkbox.col2and3-col1
                    +checkbox()
                    SPAN.checkbox-text Организации, у которых доля дохода от реализации продукции собственного производства в общем доходе от реализации товаров (работ, услуг) составляет не менее 70%
                  +e.column._value._expand.text-success.col2and3-col2
                    SPAN.-num +7,8
                    SPAN.-text млн руб.
                  +e.column.col2and3-col3
                    +b.notification.is-active Отмена льготы для промышленных предприятий окажет сдерживающее влияние на развитие производственного сектора городской экономики и создание новых рабочих мест для москвичей

          +b.bc-table-row.is-accordeon-row.js-table-row-accordeon
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text НАЛОГ, ВЗИМАЕМЫЙ В СВЯЗИ С ПРИМЕНЕНИЕМ УПРОЩЕННОЙ СИСТЕМЫ НАЛОГООБЛОЖЕНИЯ
            +e.column._value
              SPAN.-percent-num 45,6
              SPAN.-percent-text %
            +e.column._value
              SPAN.-num 12 435 930,4
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.bc-table-row._expand-header
              +e.column
                SPAN.text-muted Объекты налогообложения
              +e.column
                SPAN.text-muted Налоговая ставка

            +b.bc-table-row
              +e.column
                | Доходы
              +e.column
                +range('incomes_EasyIncome_Range')

            +b.bc-table-row
              +e.column
                | Доходы, уменьшенные на величину расходов
              +e.column
                +range('incomes_DifferenceIncome_Range')


          +b.bc-table-row
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text прочие налоговые доходы
            +e.column._value
              SPAN.-percent-num 29,43
              SPAN.-percent-text %
            +e.column._value
              SPAN.-num 213 854,2
              SPAN.-text млн руб.

          +b.bc-table-row
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text неналоговые доходы
            +e.column._value
              SPAN.-percent-num 19,43
              SPAN.-percent-text %
            +e.column._value
              SPAN.-num 2 133 854,2
              SPAN.-text млн руб.

        +e.text
          +budget-calc-btn('в начало').-triangle-left.js-budget-calc__tab-control(href="#" data-target="#budget-calc__tab_intro")
          +budget-calc-btn('сохранить и перейти в раздел «расходы»').-triangle-right.js-budget-calc-app__tab-control(data-target="#budget-calc-app__tab_costs" href="#")

      +e.tab._costs.js-budget-calc-app__tab#budget-calc-app__tab_costs(data-state-indicator="#budget-calc-app__tab_costs-indicator")
        +e.heading РАСХОДЫ НА ГОСУДАРСТВЕННЫЕ ПРОГРАММЫ
        +e.costs
          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('car').icon.costs-car
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text РАЗВИТИЕ ТРАНСПОРТНОЙ СИСТЕМЫ
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_TransportRange')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Общественный транспорт "Метрополитен"
                  +e.column
                    +range('costs_TransportMetro_Range')
                  +e.column._costs-value
                    SPAN.-num 212 450,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Общественный транспорт "Наземный городской пассажирский транспорт"
                  +e.column
                    +range('costs_TransportOnGround_Range')
                  +e.column._costs-value
                    SPAN.-num 212 450,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Общественный транспорт "Железнодорожный транспорт"
                  +e.column
                    +range('costs_TransportRailWays_Range')
                  +e.column._costs-value
                    SPAN.-num 212 450,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Автомобильные дороги и улично-дорожная сеть
                  +e.column
                    +range('costs_TransportAvto_Range')
                  +e.column._costs-value
                    SPAN.-num 212 450,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Автовокзалы и транспортно-пересадочные узлы
                  +e.column
                    +range('costs_TransportStations_Range')
                  +e.column._costs-value
                    SPAN.-num 212 450,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Создание единого парковочного пространства
                  +e.column
                    +range('costs_TransportParking_Range')
                  +e.column._costs-value
                    SPAN.-num 212 450,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Организация движения транспорта в городе Москве. Создание интеллектуальной транспортной системы
                  +e.column
                    +range('costs_TransportAI_Range')
                  +e.column._costs-value
                    SPAN.-num 212 450,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие новых видов транспорта
                  +e.column
                    +range('costs_TransportNew_Range')
                  +e.column._costs-value
                    SPAN.-num 4 212 450,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('health-cross').icon.costs-health-cross
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text столичное здравоохранение
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Health_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Профилактика заболеваний и формирование здорового образа жизни. Совершенствование первичной медико-санитарной помощи
                  +e.column
                    +range('costs_HealthName1_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Формирование эффективной системы организации медицинской помощи. Совершенствование системы территориального планирования
                  +e.column
                    +range('costs_HealthName2_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Совершенствование оказания специализированной, включая высокотехнологичную, медицинской помощи, скорой, в том числе скорой специализированной, медицинской помощи, а также паллиативной помощи
                  +e.column
                    +range('costs_HealthName3_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Охрана здоровья матери и ребенка
                  +e.column
                    +range('costs_HealthName4_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие медицинской реабилитации и санаторно-курортного лечения
                  +e.column
                    +range('costs_HealthName5_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Кадровое обеспечение государственной системы здравоохранения города Москвы
                  +e.column
                    +range('costs_HealthName6_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Охрана окружающей среды и улучшение экологической ситуации в городе Москве в целях укрепления здоровья населения
                  +e.column
                    +range('costs_HealthName7_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Профилактика зоонозных инфекций, эпизоотическое и ветеринарно-санитарное благополучие в городе Москве
                  +e.column
                    +range('costs_HealthName8_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('study').icon.costs-study
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text столичное образование
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Education_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Общее образование
                  +e.column
                    +range('costs_StudyName1_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Профессиональное образование
                  +e.column
                    +range('costs_StudyName2_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Дополнительное образование и профессиональное обучение
                  +e.column
                    +range('costs_StudyName3_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие системы образования
                  +e.column
                    +range('costs_StudyName4_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('health-care').icon.costs-health-care
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text СОЦИАЛЬНАЯ ПОДДЕРЖКА ЖИТЕЛЕЙ ГОРОДА москвы
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_SocialSupport_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Социальная поддержка семей с детьми. Профилактика социального сиротства и защита прав детей-сирот и детей, оставшихся без попечения родителей
                  +e.column
                    +range('costs_SocialSupportName1_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Социальная поддержка старшего поколения, ветеранов Великой Отечественной войны, ветеранов боевых действий и членов их семей
                  +e.column
                    +range('costs_SocialSupportName2_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Социальная интеграция инвалидов и формирование безбарьерной среды для инвалидов и других маломобильных групп населения
                  +e.column
                    +range('costs_SocialSupportName3_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Модернизация и развитие системы социальной защиты населения города Москвы
                  +e.column
                    +range('costs_SocialSupportName4_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('home').icon.costs-home
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text жилище
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_House_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Строительство нового жилья в городе Москве и реновация существующей жилой застройки
                  +e.column
                    +range('costs_HousesName1_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Выполнение государственных обязательств
                  +e.column
                    +range('costs_HousesName2_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Капитальный ремонт и модернизация жилищного фонда
                  +e.column
                    +range('costs_HousesName3_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Управление жилищным фондом в городе Москве
                  +e.column
                    +range('costs_HousesName4_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Содержание и благоустройство территории жилой застройки и иные мероприятия в сфере жилищного хозяйства
                  +e.column
                    +range('costs_HousesName5_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('light').icon.costs-light
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text РАЗВИТИЕ КОММУНАЛЬНО-ИНЖЕНЕРНОЙ ИНФРАСТРУКТУРЫ И ЭНЕРГОСБЕРЕЖЕНИЕ
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Kommunalka_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Развитие электроснабжения города Москвы
                  +e.column
                    +range('costs_KommunalkaName1_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие теплоснабжения города Москвы
                  +e.column
                    +range('costs_KommunalkaName2_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие газоснабжения в городе Москве
                  +e.column
                    +range('costs_KommunalkaName3_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие и модернизация объектов коллекторного хозяйства города Москвы
                  +e.column
                    +range('costs_KommunalkaName4_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие и модернизация водопроводно-канализационного хозяйства города Москвы и систем технического водоснабжения
                  +e.column
                    +range('costs_KommunalkaName5_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие и модернизация объектов водоотведения поверхностного стока
                  +e.column
                    +range('costs_KommunalkaName6_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие единой светоцветовой среды города Москвы
                  +e.column
                    +range('costs_KommunalkaName7_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие сети общественных туалетов
                  +e.column
                    +range('costs_KommunalkaName8_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие инженерных коммуникаций города Москвы
                  +e.column
                    +range('costs_KommunalkaName9_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Энергосбережение и повышение энергоэффективности
                  +e.column
                    +range('costs_KommunalkaName10_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Мероприятия в области обращения с отходами и противооползневые работы
                  +e.column
                    +range('costs_KommunalkaName11_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('paint').icon.costs-paint
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text КУЛЬТУРА МОСКВЫ
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Culture_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Музеи и выставочные залы
                  +e.column
                    +range('costs_CultureName5_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Театры, концертные организации и учреждения кинофикации
                  +e.column
                    +range('costs_CultureName6_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Библиотеки
                  +e.column
                    +range('costs_CultureName7_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Культурные центры, дома культуры, клубы и молодежные центры
                  +e.column
                    +range('costs_CultureName8_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие межрегиональных и международных культурных связей
                  +e.column
                    +range('costs_CultureName9_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие кадрового потенциала и научно-методическое обеспечение в сфере культуры
                  +e.column
                    +range('costs_CultureName10_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Государственная охрана, сохранение и популяризация объектов культурного наследия
                  +e.column
                    +range('costs_CultureName11_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('football').icon.costs-football
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text спорт МОСКВЫ
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Sport_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Массовая физкультурно-спортивная работа
                  +e.column
                    +range('costs_SportName10_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Подготовка спортивного резерва, развитие спорта высших достижений
                  +e.column
                    +range('costs_SportName11_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('darts').icon.costs-darts
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text открытое правительство
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_OpenGovenment_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Создание и развитие сети многофункциональных центров предоставления государственных услуг
                  +e.column
                    +range('costs_OpenGovenmentName10_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Повышение открытости и совершенствование административно-управленческих процессов органов исполнительной власти города
                  +e.column
                    +range('costs_OpenGovenmentName11_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('park').icon.costs-park
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text РАЗВИТИЕ ИНДУСТРИИ ОТДЫХА И ТУРИЗМА
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Tourism_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Индустрия отдыха и туризма на территориях парков культуры и отдыха, музеев-заповедников и музеев-усадеб
                  +e.column
                    +range('costs_TourismName1_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Индустрия отдыха на территориях общего пользования
                  +e.column
                    +range('costs_TourismName2_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие туризма
                  +e.column
                    +range('costs_TourismName3_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('safe-shield').icon.costs-safe-shield
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text безопастный город
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Safety_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Мобилизационная подготовка экономики
                  +e.column
                    +range('costs_SafetyName1_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Обеспечение правопорядка и профилактика правонарушений
                  +e.column
                    +range('costs_SafetyName2_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Предупреждение чрезвычайных ситуаций, развитие гражданской обороны, защита населения и территорий города Москвы от чрезвычайных ситуаций природного и техногенного характера, обеспечение пожарной безопасности и безопасности людей на водных объектах
                  +e.column
                    +range('costs_SafetyName3_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('wifi').icon.costs-wifi
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text информационный город
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_InfoCity_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Развитие рекламы, праздничного и тематического оформления города Москвы
                  +e.column
                    +range('costs_InfoCityName1_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Проведение Московского фестиваля света
                  +e.column
                    +range('costs_InfoCityName2_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Обеспечение предоставления государственных услуг в электронной форме гражданам и юридическим лицам и развитие открытой и безопасной городской среды за счет внедрения информационно-коммуникационных технологий
                  +e.column
                    +range('costs_InfoCityName3_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Повышение эффективности реализации функций органами исполнительной власти города Москвы за счет внедрения информационно-коммуникационных технологий
                  +e.column
                    +range('costs_InfoCityName4_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие отрасли информационных технологий и связи и формирование общедоступной информационно-коммуникационной среды в городе Москве
                  +e.column
                    +range('costs_InfoCityName5_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие печатных средств массовой информации и популяризация книгоиздания
                  +e.column
                    +range('costs_InfoCityName6_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие электронных средств массовой информации и производство телевизионных программ
                  +e.column
                    +range('costs_InfoCityName7_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Управление реализацией программы
                  +e.column
                    +range('costs_InfoCityName8_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('briefcase').icon.costs-briefcase
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text ЭКОНОМИЧЕСКОЕ РАЗВИТИЕ И ИНВЕСТИЦИОННАЯ ПРИВЛЕКАТЕЛЬНОСТЬ ГОРОДА МОСКВЫ
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Economic_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Обеспечение эффективности и качества потребительских услуг для населения
                  +e.column
                    +range('costs_EconomicName1_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Формирование благоприятной деловой среды
                  +e.column
                    +range('costs_EconomicName2_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Москва - город для бизнеса и инноваций
                  +e.column
                    +range('costs_EconomicName3_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Обеспечение эффективного управления имуществом города Москвы и вовлечение его в хозяйственный оборот
                  +e.column
                    +range('costs_EconomicName4_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Развитие рынка труда и содействие занятости населения
                  +e.column
                    +range('costs_EconomicName5_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              +icon('crane').icon.costs-crane
            +e.A.costs-item-link.js-budget-calc-app__costs-item-link(href="#").js-bc-match-height-1
              +e.costs-item-link-text ГРАДОСТРОИТЕЛЬНАЯ ПОЛИТИКА
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_BuildingPolicy_Range')
            +e.costs-item-expand.js-budget-calc-app__costs-item-expand
              +e.costs-item-expand-inner.js-budget-calc-app_costs-item-expand-inner
                +b.bc-table-row._expand
                  +e.column Развитие и реорганизация территорий
                  +e.column
                    +range('costs_BuildingPolicyName1_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Подготовка основных документов и решений по градостроительному развитию города Москвы
                  +e.column
                    +range('costs_BuildingPolicyName2_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Координация реализации основных направлений градостроительной политики и строительства в городе Москве
                  +e.column
                    +range('costs_BuildingPolicyName3_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Градостроительное проектирование и развитие единого геоинформационного пространства
                  +e.column
                    +range('costs_BuildingPolicyName4_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Разработка экономических механизмов реализации градостроительной политики для создания благоприятного инвестиционного климата
                  +e.column
                    +range('costs_BuildingPolicyName5_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Обеспечение инновационного развития строительной отрасли
                  +e.column
                    +range('costs_BuildingPolicyName6_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Нормативно-правовое и сметно-нормативное обеспечение градостроительной деятельности
                  +e.column
                    +range('costs_BuildingPolicyName7_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.
                +b.bc-table-row._expand
                  +e.column Научно-методическое и информационно-аналитическое обеспечение градостроительной деятельности
                  +e.column
                    +range('costs_BuildingPolicyName8_Range')
                  +e.column._costs-value
                    SPAN.-num 999 234,0
                    SPAN.-text млн руб.

          +e.costs-item.js-budget-calc-app__costs-item.js-bc-match-height-2
            +e.costs-item-icon.js-budget-calc-app__costs-item-link
              //- +icon('crane').icon
            +e.costs-item-link._flat.js-bc-match-height-1
              +e.costs-item-link-text НЕПРОГРАММНЫЕ РАСХОДЫ
            +e.costs-item-value.js-bc-match-height-3
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Misc_Range')

        +e.text
          +budget-calc-btn('в начало').-triangle-left.js-budget-calc__tab-control(href="#" data-target="#budget-calc__tab_intro")
          +budget-calc-btn('сохранить и перейти в раздел «дефицит/процифит»').-triangle-right.js-budget-calc-app__tab-control(data-target="#budget-calc-app__tab_balance" href="#")

      +e.tab._balance.js-budget-calc-app__tab#budget-calc-app__tab_balance(data-state-indicator="#budget-calc-app__tab_balance-indicator")
        +e.heading ДЕФИЦИТ / ПРОФИЦИТ
        +e.balance
          +b.bc-table-row.is-active
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text ГОСУДАРСТВЕННЫЕ ЦЕННЫЕ БУМАГИ
            +e.column._value
              +range('balance_GosObligacii_Range')
            +e.column._value.text-alert
              SPAN.-num -12,0
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.notification.is-active Решение об эмиссии отдельных выпусков облигаций Городского облигационного (внутреннего) займа Москвы утверждаются Правительством Москвы. Предельный объем ежегодной эмиссии устанавливается постановлениями Правительства Москвы. Превышение предельного объема заимствований может оказать негативное влияние на ранее выпущенные облигационные займы.
            +b.notification._alert.is-active Внимание!<br>Ежегодные расходы на обслуживание государственного долга изменились на 3 352,3 млн руб.

          +b.bc-table-row
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text КОММЕРЧЕСКИЕ КРЕДИТы
            +e.column._value
              +range('balance_CommercialCredits_Range')
            +e.column._value.text-success
              SPAN.-num +79 952,0
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.notification.is-active Решение о привлечении кредита кредитных организаций, в основном, негативно интерпретируется специалистами финансового сектора (низкое качество планирования доходов, избыточное исполнение расходов).
            +b.notification._alert.is-active Внимание!<br>Ежегодные расходы на обслуживание государственного долга изменились на 11 593,1 млн руб.

          +b.bc-table-row
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text БЮДЖЕТНЫЕ КРЕДИТЫ
            +e.column._value
              +range('balance_BudgetCredits_Range')
            +e.column._value
              SPAN.-num +79 952,0
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.notification.is-active Предельные значения установлены в образовательных целях.Привлечение бюджетных кредитов от других бюджетов бюджетной системы Российской Федерации связано с рядом ограничений, в том числе устойчивостью финансового состояния города Москвы.

          +b.bc-table-row
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text СРЕДСТВА ОТ ПРОДАЖИ АКЦИЙ И ПР.
            +e.column._value
              +range('balance_ToolAgainst_Range')
            +e.column._value
              SPAN.-num +79 952,0
              SPAN.-text млн руб.
          +b.bc-table-row._expand
            +b.notification.is-active Предельные значения установлены в образовательных целях.Отказ от продажи части государственной собственности города Москвы может оказать негативное влияние на развитие конкурентной и эффективной экономики города.
            +b.notification.is-active Предельные значения установлены в образовательных целях.Увеличение планового объема финансирования дефицита бюджета за счет продажи государственной собственности города Москвы может привести к снижению стоимости продаваемого имущества, а также снизить поступление доходов в будущем.

          +b.bc-table-row
            +e.column._name
              .has-tooltip
                +tooltip-icon("Текст тултипа может быть как длинным, так и неприлично коротким. Но в целях предотвращения непредсказуемого поведения этих вспылвающих подсказок, а так же побочных эффектов, связанных с хаотичными изменениями в этой прекрасной системе дизайна, мы вынуждены и просто обязаны использовать такой длинный текст для тестирования вёрстки.")
                SPAN.-text ИЗМЕНЕНИЕ ОСТАТКОВ СРЕДСТВ НА СЧЕТАХ ПО УЧЕТУ СРЕДСТВ БЮДЖЕТОВ
            +e.column._value
              +range('balance_BudgetBalance_Range')
            +e.column._value
              SPAN.-num +79 952,0
              SPAN.-text млн руб.

        +e.text
          +budget-calc-btn('в начало').-triangle-left.js-budget-calc__tab-control(href="#" data-target="#budget-calc__tab_intro")
          +budget-calc-btn('Сохранить и проверить свой вариант бюджета').-triangle-right.js-budget-calc-app__tab-control(data-target="#budget-calc-app__tab_check" href="#")

      //- таб "Проверить свой вариант бюджета"
      +e.tab._check.js-budget-calc-app__tab#budget-calc-app__tab_check
        +e.heading ваше предложение
        +e.check
          +b.notification._info.is-active Если вы хотите сохранить несколько вариантов бюджета, <a href="#">зарегистируйтесь</a>!
          +b.check-row.check-footer__text
            +e.check-smallheading Выберите другой вариант бюджета:
            +e.check-mysaveslist.d-smr__add-char
              p.d-smr__add-char-label #1: 7 апреля 2017 г.
              .d-smr__add-char-block
                ul.d-smr__add-char-list.scroll-pane
                  li.d-smr__add-char-item #2: 3 апреля 2017 г.
          +e.check-heading Доходы бюджета
          +b.check-row
            +e.column._name Увеличение коэффициента, отражающего региональные особенности рынка труда, используемого для определения размера фиксированного ежемесячного авансового платежа по налогу на доходы физических лиц до 2,32741
            +e.column._value
              .text-success 10 753,4 млн руб.
              .text-small.text-success +72,1 млн руб.
              .text-small.text-muted  10 681,3 млн руб.
            +e.column._text-smaller Чем выше значение регионального коэффициента, тем выше риск неуплаты налога ввиду роста налоговой нагрузки на налогоплательщиков, что может привести к увеличению числа мигрантов, не уплачивающих налог с полученных доходов, а законопослушные мигранты будут регистрироваться и уплачивать патент на территории других регионов России, с более низкими значениями коэффициента
          +e.check-heading РАСХОДЫ БЮДЖЕТА
          +b.check-row
            +e.column._name Общественный транспорт "Метрополитен"
            +e.column._value
              .text-success 160 753,4 млн руб.
              .text-small.text-success +10 112,1 млн руб.
              .text-small.text-muted  106 681,3 млн руб.
          +b.check-row
            +e.column._name Общественный транспорт "Наземный городской пассажирский транспорт"
            +e.column._value
              .text-success 10 753,4 млн руб.
              .text-small.text-success +72,1 млн руб.
              .text-small.text-muted  10 681,3 млн руб.
          +b.check-row
            +e.column._name Социальная поддержка семей с детьми. Профилактика социального сиротства и защита прав детей-сирот и детей, оставшихся без попечения родителей
            +e.column._value
              .text-alert 10 753,4 млн руб.
              .text-small.text-alert -72,1 млн руб.
              .text-small.text-muted  10 681,3 млн руб.
          +e.check-heading ИСТОЧНИКИ ФИНАНСИРОВАНИЯ ДЕФИЦИТА БЮДЖЕТА
          +b.check-row
            +e.column._name Бюджетные кредиты
            +e.column._value
              .text-success 10 753,4 млн руб.
              .text-small.text-success +12,1 млн руб.
              .text-small.text-muted  -1,3 млн руб.
            +e.column._text-smaller Предельные значения установлены в образовательных целях. Привлечение бюджетных кредитов от других бюджетов бюджетной системы Российской Федерации связано с рядом ограничений, в том числе устойчивостью финансового состояния города Москвы.
          +b.notification._alert.mt30.is-active Государственный долг города Москвы на конец года измениться на 10 464,5 млн. руб.
          +e.check-heading итого
          +b.check-row.pt5
            +e.column._total
              .column-total-col1
                .total-caption доходы
              .column-total-col2
                .total-num.text-success 1 598,9
                .total-num-text млрд руб.
                .text-small.text-success +0,2
                .text-small.text-muted 1 598,9
            +e.column._total
              .column-total-col1
                .total-caption расходы
              .column-total-col2
                .total-num.text-success 1 598,9
                .total-num-text млрд руб.
                .text-small.text-success +0,2
                .text-small.text-muted 1 598,9
            +e.column._total
              .column-total-col1
                .total-caption дефицит/профицит
              .column-total-col2
                .total-num.text-success -160,1
                .total-num-text млрд руб.
                .text-small.text-alert -8,0
                .text-small.text-muted -152,9
            +e.check-row.check-footer__text
              +budget-calc-btn('сохранить этот вариант').-triangle-right.-green(href="#")
              +budget-calc-btn('удалить этот вариант').-triangle-right.-red-border(href="#")
            +b.notification._info.mb30.is-active Если вы хотите сохранить несколько вариантов бюджета, <a href="#">зарегистируйтесь</a>!

          +b.check-footer
            +e.text Уважаемый посетитель Портала Открытый бюджет Москвы, благодарим Вас за проявленный интерес к Бюджетному калькулятору! Вы можете сохранить для себя подготовленный Вами вариант бюджета или поделиться им со своими друзьями и знакомыми.
            +e.actions
              +e.send
                +e.actions-heading отправить вариант
                +e.FORM.form
                  +e.form-input-email-wrap
                    +e.INPUT.form-input._email(type="email" placeholder="Ваш e-mail")
                  +e.INPUT.form-input._submit(type="submit" value="отправить")
              +e.share
                +e.actions-heading поделиться
                +e.A.share-btn._facebook(href="#")
                  +icon('fb').icon
                +e.A.share-btn._twitter(href="#")
                  +icon('tw').icon
                +e.A.share-btn._vk(href="#")
                  +icon('vk').icon
            +e.text В случае, если Вы хотите представить свой вариант бюджета на рассмотрение специалистам городских органов власти, Вы можете воспользоваться ссылкой "Предложить свой вариант".
            +e.text.budget-calc-app__text
              +budget-calc-btn('в начало').-triangle-left.js-budget-calc__tab-control(href="#" data-target="#budget-calc__tab_intro")
              +budget-calc-btn('предложить свой вариант').-triangle-right.-blue.js-budget-calc-app__tab-control(href="#" data-target="#budget-calc-app__tab_thanks")
      //- таб "Спасибо за ваш вариант бюджета"
      +e.tab._thanks.js-budget-calc-app__tab#budget-calc-app__tab_thanks
        +e.heading СПАСИБО ЗА ВАШ ВАРИАНТ БЮДЖЕТА ГОРОДА МОСКВЫ!
        +e.text
          +e.P.thanks-paragraph Уважаемый посетитель Портала Открытый бюджет Москвы!
          +e.P.thanks-paragraph Обращаем Ваше внимание, что направление подготовленного Вами проекта бюджета на рассмотрение специалистам Департамента финансов является формой проведения опроса общественного мнения. В связи с этим, рассмотрение таких предложений не осуществляется в порядке, устанавливаемом требованиями законодательства Российской Федерации о рассмотрении обращений граждан органами государственной власти (Федеральный закон от 02.05.2006 года № 59-ФЗ «О порядке рассмотрения обращений граждан Российской Федерации»).
          +e.P.thanks-paragraph Вместе с тем, выражая глубокую заинтересованность в поддержании диалога городских властей с жителями и гостями города по вопросам финансирования основных направлений городского хозяйства, Департамент финансов города Москвы организует рассмотрение всех поступающих предложений для учёта мнения граждан при формировании городского бюджета на очередной период. Кроме того, наиболее интересные предложения посетителей будут опубликованы для общего доступа на Портале Открытый бюджет.
        +e.thanks-send
          +e.heading.thanks-form-heading Отправить на рассмотрение
          +e.text
            +e.FORM.thanks-form(action="#")
              +e.DIV.thanks-form-row
                +e.INPUT.thanks-form-input(type="text" placeholder="Представьтесь" required)
              +e.DIV.thanks-form-row
                +e.INPUT.thanks-form-input(type="email" placeholder="E-mail" required)
              +e.DIV.thanks-form-row
                +e.TEXTAREA.thanks-form-textarea(placeholder="Комментарий" required)
              +e.DIV.thanks-form-row
                +e.DIV.thanks-form-captcha Вставляйте капчу сюда
                +e.INPUT.thanks-form-input(type="text" placeholder="Код с картинки" required)
              +e.DIV.thanks-form-row
                +e.SUBMIT.thanks-form-submit.budget-calc-btn.-border Отправить
        +e.thanks-howitworks
          +e.text
            +e.thanks-howitworks-heading Что дальше?
            +e.OL.thanks-howitworks-list
              +e.LI.thanks-howitworks-item Ваше предложение направляется на портал
              +e.LI.thanks-howitworks-item Модератор проверит Ваше предложение
              +e.LI.thanks-howitworks-item Специалисты Департамента финансов рассмотрят Ваше предложение
              +e.LI.thanks-howitworks-item Наиболее интересные предложения будут направлены в органы исполнительной власти города Москвы
              +e.LI.thanks-howitworks-item Органы исполнительной власти города Москвы подготовят ответ
              +e.LI.thanks-howitworks-item Наиболее интересные предложения будут опубликованы на портале



    +e.footer#budget-calc-app__footer
