// стрелка для кнопок и прочего декора
@mixin budget-calc-triangle {
  content: '';
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  width: 0;
  height: 0;
  border-style: solid;
  @include transited;
}

// желтая кнопка для калькулятора бюджета
.budget-calc-btn {
  display: inline-block;
  min-width: 220px;
  padding: 10px 13px 8px;
  font-family: $PFDinCondensedPro;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
  color: black;
  background-color: #fee300;
  border: 1px solid #fee300;
  @include transited;

  &:hover {
    background-color: #E7CE00;
    border-color: #E7CE00;
  }

  &_howto-start {
    display: block;
    width: 100%;
    min-width: auto;
    padding-top: 13px;
    padding-bottom: 11px;
    text-align: center;
  }

  &.-transparent {
    background-color: transparent;
    color: #fee300;

    &.-svg-icon {
      fill: #fee300;
    }

    &.-triangle-right:after {
      border-color: transparent transparent transparent #fee300;
    }

    &:hover {
      background-color: #fee300;
      color: black;

      &.-svg-icon {
        fill: black;
      }

      &.-triangle-right:after {
        border-color: transparent transparent transparent black;
      }
    }
  }

  &.-triangle-right {
    position: relative;
    padding-right: 40px;

    &:after {
      @include budget-calc-triangle;
      right: 15px;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent black;
    }
  }

  &.-svg-icon {
    position: relative;
    padding-right: 40px;

    > svg,
    > .icon {
      position: absolute;
      top: 50%;
      right: 15px;
      @include transform(translateY(-50%));
      height: 10px;
      max-height: 10px;
      width: 10px;
      // @include transited;

      &.icon-90deg {
        @include transform(rotate(90deg) translateX(-40%));
      }
    }
  }
}

// основные стили калькулятора
.budget-calc-app {
  // сообщения внизу сайдбара
  &__sidebar-notification {
    display: none;
    margin-bottom: 30px;
    padding-right: 30px;
    font-family: $PFDinTextPro;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    &.is-active {
      display: block;

      // @media (max-width: 1024px) {
      //   display: inline-block;
      //   height: 180px;
      //   vertical-align: top;
      //   padding-left: 10px;
      // }
    }

    strong {
      font-weight: 500;
    }

    p:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  // сообщения в теле калькулятор
  &__notification {
    display: none;
    padding: 10px 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    font-family: $PFDinTextPro;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.285;
    color: black;
    background-color: rgba(#d2a455, .3);
    @include transited;

    @media (max-width: 768px) {
      margin-left: 15px;
      margin-right: 15px;
    }

    &.is-active {
      display: block;
    }

    &_alert {
      background-color: rgba(#eb212e, .3);
    }

    &_info {
      background-color: rgba(#0d46a1, .1);
    }
  }

  // стили значка подсказки внутри калькулятора бюджета
  .tooltip-icon {
    position: absolute;
    top: 50%;
    right: -20px;
    margin-top: -1px;
    @include transform(translateY(-50%));
    @include transited;
  }

  // для всех заголовков со знаком "?" и подсказкой в виде тултипа
  .has-tooltip {
    display: inline-block;
    position: relative;
    margin-right: 20px;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  &__sidebar {
    position: relative;
    z-index: 1;
    width: 230px;
    float: left;
  }

  &__main-content {
    position: relative;
    width: 100%;
    padding-left: 230px;
    font-family: $PFDinTextPro;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: black;
  }

  @media (max-width: 1024px) {
    &__sidebar {
      display: block;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      float: none;
      width: 100%;
      height: 190px;
      padding-bottom: 10px;
      -webkit-overflow-scrolling: touch;

      &-inner {
        height: 180px;
      }

      .budget-calc-app-widget {
        vertical-align: top;
        display: inline-block;
        height: 180px;

        &:nth-child(4) {
          margin-right: 0;
        }
      }
    }

    &__main-content {
      display: block;
      float: none;
      padding-left: 0;
    }
  }

  &__tab {
    padding: 30px 0;
    display: none;
    background-color: white;

    &.is-active {
      display: block;
    }
  }

  &__heading {
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: $PFDinCondensedPro;
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: 768px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (max-width: 480px) {
      font-size: 12px;
    }
  }

  &__text {
    padding-left: 25px;
    padding-right: 25px;

    @media (max-width: 786px) {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 13px;
    }
  }

  // различные иконки
  &__icon {
    &.costs-study { fill: #30b069; }
    &.costs-park { fill: #c52323; }
    &.costs-car { fill: #af3b81; }
    &.costs-health-care { fill: #fca600; }
    &.costs-crane { fill: #838a9a; }
    &.costs-briefcase { fill: #7a1212; }
    &.costs-football { fill: #ff0036; }
    &.costs-paint { fill: #14a865; }
    &.costs-wifi { fill: #1ccbea; }
    &.costs-light { fill: #969caa; }
    &.costs-safe-shield { fill: #26c38d; }
    &.costs-darts { fill: #ccdd0f; }
    &.costs-home { fill: #7d40ad; }
    &.costs-health-cross { fill: #0059d2; }
    &.costs-darts { fill: #ccdd0f; }
  }

  // доходы
  &__incomes {
    margin-top: 35px;
    margin-bottom: 35px;

    &-row {
      display: table;
      width: 100%;
      border-top: 1px solid #e5e5e5;
      @include transited('100ms');

      &:first-child {
        border-top: none;
      }

      &_heading {
        border-bottom: 2px solid #e5e5e5;
      }

      &.is-active {
        background-color: #f6f6f5;

        + .budget-calc-app__incomes-expand {
          height: auto;

          .budget-calc-app__incomes-expand-inner {
            opacity: 1;
          }
        }
      }

      &.is-accordeon-row {
        cursor: pointer;

        &:hover {
          background-color: fade-out(#f6f6f5, .5);
        }
      }

      &_expand {
        padding-top: 35px;
        padding-bottom: 25px;
        border-top: 1px solid #dddddc;
      }

      .budget-calc-app__notification {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &-column {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      padding-top: 17px;
      padding-bottom: 15px;
      font-family: $PFDinCondensedPro;
      font-size: 18px;
      line-height: 1;
      font-weight: 500;
      text-transform: uppercase;
      color: black;

      @media (max-width: 768px) {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
      }

      @media (max-width: 480px) {
        font-size: 11px;
      }

      &.-full-width {
        width: 100% !important;
        padding-left: 30px !important;
        padding-right: 30px !important;

        @media (max-width: 768px) {
          padding-left: 15px !important;
          padding-right: 15px !important;
        }
      }

      &:nth-child(1) {
        width: 45%;
        padding-left: 30px;
        padding-right: 7px;

        @media (max-width: 768px) {
          padding-left: 15px;
          padding-right: 7px;
        }
      }

      &:nth-child(2) {
        width: 25%;
        padding-left: 7px;
        padding-right: 7px;

        @media (max-width: 768px) {
          padding-left: 7px;
          padding-right: 7px;
        }
      }

      &:nth-child(3) {
        width: 30%;
        padding-left: 7px;
        padding-right: 30px;

        @media (max-width: 768px) {
          padding-left: 7px;
          padding-right: 15px;
        }
      }

      &_heading {
        font-family: $PFDinCondensedPro;
        font-weight: 500;
        text-transform: uppercase;
        color: #898783;
        vertical-align: bottom;

        @media (max-width: 480px) {
          padding-top: 5px;
          padding-bottom: 5px;
          font-size: 9px;
        }
      }

      &_name {
        .-text {
          line-height: 1.6;

          .is-accordeon-row & {
            color: #0d46a1;
            border-bottom: 1px dashed rgba(#0d46a1, .5);
          }
        }
      }

      &_value {
        @media (max-width: 768px) {
          .-num,
          .-text {
            display: block;
          }
        }
      }

      &_expand {
        font-family: $PFDinTextPro;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        text-transform: none;

        @media (max-width: 768px) {
          padding-left: 15px;
          padding-right: 15px;
        }

        .text-muted {
          color: fade-out(black, .6);
        }
      }
    }

    &-expand {
      position: relative;
      overflow: hidden;
      height: 0;
      background-color: #f6f6f5;

      &-inner {
        opacity: 0;
        padding-top: 10px;
        padding-bottom: 30px;
        @include transited;
      }
    }
  }

  // расходы
  &__costs {
    @include display-flex;
    @include flex-wrap(wrap);
    padding: 0 10px;
    margin-bottom: 20px;

    &-item {
      padding: 15px 20px 0;
      width: 33.33%;

      &-icon {
        position: relative;
        overflow: hidden;
        width: 50px;
        height: 50px;

        .icon,
        svg {
          max-width: 100%;
          max-height: 100%;
        }
      }

      &-link {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 5px;
        font-family: $PFDinCondensedPro;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        font-style: normal;
        text-decoration: none;
        text-transform: uppercase;
        color: #0d46a1;

        &-text {
          border-bottom: 1px dashed rgba(#0d46a1, .5);
        }
      }

      &-value {
        font-family: $PFDinCondensedPro;
        font-size: 24px;
        line-height: 1;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
        color: black;
      }

      &-initial {
        margin-top: 3px;
        font-family: $PFDinTextPro;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        font-style: normal;
        color: black;
      }

      &-range {
        margin-top: 15px;
        margin-bottom: 35px;
      }

      &-expand {
        display: none;
      }
    }
  }

  // дефицит/профицит
  &__balance {
    margin-bottom: 35px;

    &-row {
      @include display-flex;
      @include flex-direction(row);
      @include align-items(center);
      min-height: 94px;
      padding: 0 10px;
      border-bottom: 1px solid #e5e5e5;
    }

    &-column {
      padding: 15px;
      // @include outline;

      &_name {
        @include flex-grow(1);
        font-family: $PFDinCondensedPro;
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
      }

      &_range {
        @include flex-basis(275px);
      }

      &_value {
        @include flex-basis(220px);
        font-family: $PFDinCondensedPro;
        font-size: 18px;
        line-height: 1;
        font-weight: 500;
        font-style: normal;
        text-transform: uppercase;
      }
    }

    &-expand {
      display: none;
    }
  }
}


.budget-calc-app-widget {
  display: block;
  position: relative;
  overflow: hidden;
  margin-right: 10px;
  padding: 20px 10px 11px 20px;
  background-color: white;
  text-decoration: none;
  color: black;
  @include transited('all 300ms linear');

  &:before {
    @include ghost;
    z-index: 0;
    @include transform(translateX(5px));
    @include transited('transform 200ms ease-in-out');
    background-color: white;
  }

  &:hover {
    &:before {
      @include transform(translateX(0px));
    }
  }

  &.is-active {
    color: white;

    &:before {
      @include transform(translateX(100%));
    }

    .tooltip-icon {
      background-color: white;
      color: #0d46a1;
    }
  }

  &:not(:last-child) { margin-bottom: 10px; }

  &_link {
    cursor: pointer;

    &.is-active {
      cursor: default;
    }
  }

  &_incomes { @include gradient('to right bottom, #004ccf 0%, #00ffff 100%'); }
  &_costs   { @include gradient('to right bottom, #ff695b 0%, #9d308a 100%'); }
  &_balance { @include gradient('to right bottom, #30b069 0%, #fee300 100%'); }

  &_not-balanced {
    padding-bottom: 16px;

    &:before {
      display: none;
    }
  }

  &_check {
    margin-top: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 25px;
    background-color: #fee300;

    &:hover {
      background-color: #E7CE00;
    }

    &:before {
      display: none;
    }

    &:after {
      @include budget-calc-triangle;
      right: 16px;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent black;
    }
  }

  &_restore {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 3px;
    color: #fee300;
    background-color: transparent;

    &:before {
      display: none;
    }

    &:after {
      @include budget-calc-triangle;
      right: 16px;
      border-width: 5px 0 5px 5px;
      border-color: transparent transparent transparent #fee300;
    }

    .-widget-restore-inner {
      @include display-flex;
      @include align-items(center);
    }

    .-widget-restore-icon {
      height: 28px;
      @include flex-basis(18px);
      @include flex-shrink(0);
      margin-right: 14px;
      fill: #fee300;
      @include transited;
    }

    .-widget-restore-name {
      @include flex-basis(100%);
      font-size: 14px;
      line-height: 16px;
    }

    &:hover {
      color: white;

      .-widget-restore-icon {
        fill: white;
      }

      &:after {
        border-color: transparent transparent transparent white;
      }
    }
  }

  &__inner {
    position: relative;
  }

  &__name {
    font-family: $PFDinCondensedPro;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__value {
    margin-top: 15px;
    font-family: $PFDinCondensedPro;
    font-size: 48px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -2px;
  }

  &__value-notice {
    font-family: $PFDinCondensedPro;
    font-size: 14px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__description {
    margin-top: 20px;
    font-family: $PFDinTextPro;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
  }

  // если виджет в футере
  .budget-calc-app__footer & {
    margin-top: 10px;
    margin-right: 0;
  }
}
