include ../../blocks/tooltip-icon/tooltip-icon
include ../../blocks/range/range

mixin budget-calc-btn(text)
  +b.A.budget-calc-btn(href="#")&attributes(attributes) #{text}
    block

mixin budget-calc-app()
  +b.budget-calc-app#budget-calc-app&attributes(attributes)
    +e.sidebar
      +e.sidebar-inner
        +b.A.budget-calc-app-widget._link._incomes.js-budget-calc-app__tab-control#budget-calc-app__tab_incomes-indicator.is-active(data-target="#budget-calc-app__tab_incomes" href="#")
          +e.DIV.inner
            +e.DIV.name.has-tooltip доходы
              +tooltip-icon("текст тултипа")
            +e.DIV.value 1 598,9
            +e.DIV.value-notice млрд. руб.
            +e.DIV.description Исходное значение: 1 598,9
        +b.A.budget-calc-app-widget._link._costs.js-budget-calc-app__tab-control#budget-calc-app__tab_costs-indicator(data-target="#budget-calc-app__tab_costs" href="#")
          +e.DIV.inner
            +e.DIV.name.has-tooltip расходы
              +tooltip-icon("текст тултипа")
            +e.DIV.value 1 751,0
            +e.DIV.value-notice млрд. руб.
            +e.DIV.description Исходное значение: 1 751,0
        +b.A.budget-calc-app-widget._link._balance.js-budget-calc-app__tab-control#budget-calc-app__tab_balance-indicator(data-target="#budget-calc-app__tab_balance" href="#")
          +e.DIV.inner
            +e.DIV.name.has-tooltip дефицит/профицит
              +tooltip-icon("текст тултипа")
            +e.DIV.value -151,1
            +e.DIV.value-notice млрд. руб.
            +e.DIV.description 9,5% от собственных доходов <br>Исходное значение: -152,1
        +b.budget-calc-app-widget._not-balanced
          +e.inner
            +e.name.has-tooltip не сбалансировано
              +tooltip-icon("текст тултипа")
            +e.value 0,0
            +e.value-notice млрд. руб.
        +b.A.budget-calc-app-widget(href="#")._check
          +e.DIV.inner
            +e.DIV.name проверить свой вариант бюджета
        +b.A.budget-calc-app-widget(href="#")._restore
          +e.DIV.inner.-widget-restore-inner
            +icon('clean').icon.-widget-restore-icon
            +e.DIV.name.-widget-restore-name вернуть исходные значения бюджета
        +e.sidebar-notification.is-active
          p <strong>Бюджет дефицитный: <br>расходы превышают доходы в пределах допустимого уровня</strong>. Вам необходимо сбалансировать Ваш бюджет.
          p Для этого вы можете <br>- увеличить доходы бюджета <br>- снизить расходы бюджета <br>- привлечь источники финансирования дефицита бюджета

    +e.main-content#budget-calc-app__main-content
      +e.tab._incomes.js-budget-calc-app__tab#budget-calc-app__tab_incomes.is-active(data-state-indicator="#budget-calc-app__tab_incomes-indicator")
        +e.heading МЕРЫ ПО ИЗМЕНЕНИЮ ДОХОДНОЙ ЧАСТИ БЮДЖЕТА
        +e.text Изменение элементов налогообложения в пределах полномочий субъекта Российской Федерации, установленных законодательством Российской Федерации о налогах и сборах.
        +e.incomes
          +e.incomes-row._heading
            +e.incomes-column
            +e.incomes-column._heading Доля в общем объеме доходов
            +e.incomes-column._heading Сумма поступлений
          +e.incomes-row.is-active
            +e.incomes-column._name
              .has-tooltip
                +tooltip-icon("текст тултипа")
                SPAN.-text Налоговые доходы
            +e.incomes-column._value
              SPAN.-percent-num 89,6
              SPAN.-percent-text %
            +e.incomes-column._value
              SPAN.-num 1 433 185,2
              SPAN.-text млн руб.
          +e.incomes-expand
            +e.incomes-expand-inner
              //- +e.incomes-row._expand
              //-   +e.incomes-column._expand.-full-width
              +e.notification.is-active
                | Решение об эмиссии отдельных выпусков облигаций Городского облигационного (внутреннего) займа Москвы утверждаются Правительством Москвы. Предельный объем ежегодной эмиссии устанавливается постановлениями Правительства Москвы. Превышение предельного объема заимствований может оказать негативное влияние на ранее выпущенные облигационные займы.
              +e.notification._alert.is-active
                | Внимание! <br>Ежегодные расходы на обслуживание государственного долга изменились на 743,7 млн руб.
              +e.notification._info.text-center.is-active
                | Если вы хотите сохранить несколько вариантов бюджета, <a href="#">зарегистируйтесь</a>!
          +e.incomes-row.is-accordeon-row.js-incomes-row-accordeon
            +e.incomes-column._name
              .has-tooltip
                +tooltip-icon("текст тултипа")
                SPAN.-text НАЛОГ НА ПРИБЫЛЬ ОРГАНИЗАЦИЙ
            +e.incomes-column._value
              SPAN.-percent-num 29,1
              SPAN.-percent-text %
            +e.incomes-column._value
              SPAN.-num 464 732,0
              SPAN.-text млн руб.
          +e.incomes-expand
            +e.incomes-expand-inner
              +e.notification._alert.is-active
                | Внимание! <br>Ежегодные расходы на обслуживание государственного долга изменились на 743,7 млн руб.
              +e.incomes-row._expand
                +e.incomes-column._expand
                  SPAN.text-muted Налогоплательщики
                +e.incomes-column._expand
                  SPAN.text-muted Налоговая ставка
                +e.incomes-column._expand
              +e.incomes-row._expand
                +e.incomes-column._expand Все налогоплательщики
                +e.incomes-column._expand
                  +range('incomes_allTaxes_Range')
                +e.incomes-column._expand
              +e.incomes-row._expand
                +e.incomes-column._expand Льготные категории налогоплательщиков:
                +e.incomes-column._expand
                +e.incomes-column._expand
              +e.incomes-row._expand
                +e.incomes-column._expand Организации, осуществляющие производство легковых автомобилей на территории города Москвы
                +e.incomes-column._expand
                +e.incomes-column._expand

          +e.incomes-row.is-accordeon-row.js-incomes-row-accordeon
            +e.incomes-column._name
              .has-tooltip
                +tooltip-icon("текст тултипа")
                SPAN.-text НАЛОГ НА ДОХОДЫ ФИЗИЧЕСКИХ ЛИЦ
            +e.incomes-column._value
              SPAN.-percent-num 45,6
              SPAN.-percent-text %
            +e.incomes-column._value
              SPAN.-num 729 284,6
              SPAN.-text млн руб.
          +e.incomes-expand
            +e.incomes-expand-inner
              +e.incomes-row._expand
                +e.incomes-column._expand
                  | test

          +e.incomes-row.is-accordeon-row.js-incomes-row-accordeon
            +e.incomes-column._name
              .has-tooltip
                +tooltip-icon("текст тултипа")
                SPAN.-text НАЛОГ НА ИМУЩЕСТВО ОРГАНИЗАЦИЙ
            +e.incomes-column._value
              SPAN.-percent-num 29,1
              SPAN.-percent-text %
            +e.incomes-column._value
              SPAN.-num 464 732,0
              SPAN.-text млн руб.
          +e.incomes-expand
            +e.incomes-expand-inner
              +e.incomes-row._expand
                +e.incomes-column._expand
                  | test

          +e.incomes-row.is-accordeon-row.js-incomes-row-accordeon
            +e.incomes-column._name
              .has-tooltip
                +tooltip-icon("текст тултипа")
                SPAN.-text транспортный налог
            +e.incomes-column._value
              SPAN.-percent-num 45,6
              SPAN.-percent-text %
            +e.incomes-column._value
              SPAN.-num 729 284,6
              SPAN.-text млн руб.
          +e.incomes-expand
            +e.incomes-expand-inner
              +e.incomes-row._expand
                +e.incomes-column._expand
                  | test

          +e.incomes-row.is-accordeon-row.js-incomes-row-accordeon
            +e.incomes-column._name
              .has-tooltip
                +tooltip-icon("текст тултипа")
                SPAN.-text ЗЕМЕЛЬНЫЙ НАЛОГ
            +e.incomes-column._value
              SPAN.-percent-num 29,1
              SPAN.-percent-text %
            +e.incomes-column._value
              SPAN.-num 464 732,0
              SPAN.-text млн руб.
          +e.incomes-expand
            +e.incomes-expand-inner
              +e.incomes-row._expand
                +e.incomes-column._expand
                  | test

          +e.incomes-row.is-accordeon-row.js-incomes-row-accordeon
            +e.incomes-column._name
              .has-tooltip
                +tooltip-icon("текст тултипа")
                SPAN.-text НАЛОГ, ВЗИМАЕМЫЙ В СВЯЗИ С ПРИМЕНЕНИЕМ УПРОЩЕННОЙ СИСТЕМЫ НАЛОГООБЛОЖЕНИЯ
            +e.incomes-column._value
              SPAN.-percent-num 45,6
              SPAN.-percent-text %
            +e.incomes-column._value
              SPAN.-num 12 435 930,4
              SPAN.-text млн руб.
          +e.incomes-expand
            +e.incomes-expand-inner
              +e.incomes-row._expand
                +e.incomes-column._expand
                  | test
          +e.incomes-row
            +e.incomes-column._name
              .has-tooltip
                +tooltip-icon("текст тултипа")
                SPAN.-text прочие налоговые доходы
            +e.incomes-column._value
              SPAN.-percent-num 29,43
              SPAN.-percent-text %
            +e.incomes-column._value
              SPAN.-num 213 854,2
              SPAN.-text млн руб.

          +e.incomes-row
            +e.incomes-column._name
              .has-tooltip
                +tooltip-icon("текст тултипа")
                SPAN.-text неналоговые доходы
            +e.incomes-column._value
              SPAN.-percent-num 19,43
              SPAN.-percent-text %
            +e.incomes-column._value
              SPAN.-num 2 133 854,2
              SPAN.-text млн руб.

        +e.text
          +budget-calc-btn('сохранить и перейти в раздел «расходы»').-triangle-right.js-budget-calc-app__tab-control(data-target="#budget-calc-app__tab_costs" href="#")

      +e.tab._costs.js-budget-calc-app__tab#budget-calc-app__tab_costs(data-state-indicator="#budget-calc-app__tab_costs-indicator")
        +e.heading РАСХОДЫ НА ГОСУДАРСТВЕННЫЕ ПРОГРАММЫ
        +e.costs
          +e.costs-item
            +e.costs-item-icon
              +icon('car').icon.costs-car
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text РАЗВИТИЕ ТРАНСПОРТНОЙ СИСТЕМЫ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_TransportRange')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('health-cross').icon.costs-health-cross
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text столичное здравоохранение
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Health_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('study').icon.costs-study
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text столичное образование
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Education_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('health-care').icon.costs-health-care
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text СОЦИАЛЬНАЯ ПОДДЕРЖКА ЖИТЕЛЕЙ ГОРОДА москвы
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_SocialSupport_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('home').icon.costs-home
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text жилище
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_House_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('light').icon.costs-light
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text РАЗВИТИЕ КОММУНАЛЬНО-ИНЖЕНЕРНОЙ ИНФРАСТРУКТУРЫ И ЭНЕРГОСБЕРЕЖЕНИЕ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Kommunalka_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('paint').icon.costs-paint
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text КУЛЬТУРА МОСКВЫ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Culture_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('football').icon.costs-football
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text спорт МОСКВЫ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Sport_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('darts').icon.costs-darts
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text открытое правительство
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_OpenGovenment_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('park').icon.costs-park
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text РАЗВИТИЕ ИНДУСТРИИ ОТДЫХА И ТУРИЗМА
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Tourism_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('safe-shield').icon.costs-safe-shield
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text безопастный город
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Safety_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('wifi').icon.costs-wifi
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text информационный город
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_InfoCity_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('briefcase').icon.costs-briefcase
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text ЭКОНОМИЧЕСКОЕ РАЗВИТИЕ И ИНВЕСТИЦИОННАЯ ПРИВЛЕКАТЕЛЬНОСТЬ ГОРОДА МОСКВЫ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Economic_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              +icon('crane').icon.costs-crane
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text ГРАДОСТРОИТЕЛЬНАЯ ПОЛИТИКА
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_BuildingPolicy_Range')
            +e.costs-item-expand testing
          +e.costs-item
            +e.costs-item-icon
              //- +icon('crane').icon
            +e.A.costs-item-link(href="#")
              +e.costs-item-link-text НЕПРОГРАММНЫЕ РАСХОДЫ
            +e.costs-item-value
              span 464 732,0
              |  млн руб.
            +e.costs-item-initial
              | Исходное значение:
              span 71 271,9
            +e.costs-item-range
              +range('costs_Misc_Range')
            +e.costs-item-expand testing

        +e.text
          +budget-calc-btn('сохранить и перейти в раздел «дефицит/процифит»').-triangle-right.js-budget-calc-app__tab-control(data-target="#budget-calc-app__tab_balance" href="#")

      +e.tab._balance.js-budget-calc-app__tab#budget-calc-app__tab_balance(data-state-indicator="#budget-calc-app__tab_balance-indicator")
        +e.heading ДЕФИЦИТ / ПРОФИЦИТ
        +e.balance
          +e.balance-row
            +e.balance-column._name
              .has-tooltip ГОСУДАРСТВЕННЫЕ ЦЕННЫЕ БУМАГИ
                +tooltip-icon('текст тултипа')
            +e.balance-column._range
              +range('balance_Securities_Range')
            +e.balance-column._value
              | 0,0 млн руб.
            +e.balance-expand
              | Уведомления
        +e.text
          +budget-calc-btn('Сохранить и проверить свой вариант бюджета').-triangle-right
