include ../page-header/page-header
include ../../blocks/icon/icons
include ../../blocks/link/link


mixin depfin-services-social-support()

  mixin list-item(iconNum, text)
    +e.LI.item
      +e.A(href='#').item-link
        +e.item-icon
          +icon('support-icon-'+ iconNum)
        +e.SPAN.item-text= text
      +e.UL.sublist
        +e.LI.subitem
          +e.A(href='#').subitem-link Молодые семьи
        +e.LI.subitem
          +e.A(href='#').subitem-link Многодетные семьи
        +e.LI.subitem
          +e.A(href='#').subitem-link Малоимущие семьи

  mixin submenu-item(text)
    +e.LI.submenu-item
      +e.A(href='#').submenu-link= text


  +b.depfin-services-social-support&attributes(attributes)
    .wrapper.page-content-wrapper
      +e.head
        +page-header('Социальная поддержка населения', 'Сервисы')

      +e.main

        
        +e.SECTION.tab
          +e.H3.title Различные пособия семьям с детьми; Услуги, предоставляемые семьям и детям

          //- 04
          +e.ARTICLE.article
            +e.burger
              +icon('burger').burger-icon

              +e.burger-menu
                +icon('close').burger-close
                +e.UL.burger-list
                  - for (var i = 0; i < 12; i++)
                    +e.LI.burger-item
                      +e.A(href='#').burger-link
                        | Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет

            +e.content
              +e.H4.content-title Пособие по беременности и родам
              +e.info
                +e.left
                  +e.P.definition
                    != '<b class="depfin-services-social-support__bold">Пособие по беременности</b> - это денежная выплата, положенная беременной женщине'
                +e.right
                  +e.UL.types

                    +e.LI.type._active
                      +e.type-label
                        +link()._dashed
                          | В размере среднего заработка
                          +icon('close').icon
                      +e.type-description
                        +e.type-text  в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ
                        +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;

                    +e.LI.type
                      +e.type-label
                        +link()._dashed
                          | 300 рублей
                          +icon('close').icon
                      +e.type-description
                        +e.type-text  в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ
                        +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;

                    +e.LI.type
                      +e.type-label
                        +link()._dashed
                          | в размере стипендии
                          +icon('close').icon
                      +e.type-description
                        +e.type-text  в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ
                        +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;
                    
                    +e.LI.type
                      +e.type-label
                        +link()._dashed
                          | в размере денежного довольствия
                          +icon('close').icon
                      +e.type-description
                        +e.type-text  в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ
                        +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;
                    
                    +e.LI.type
                      +e.type-label
                        +link()._dashed
                          | 1500 рублей
                          +icon('close').icon
                      +e.type-description
                        +e.type-text  в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ
                        +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;

        
