include ../page-header/page-header
include ../../blocks/icon/icons
include ../../blocks/link/link


mixin depfin-services-social-support-slider()

  mixin list-item(iconNum, text, dataIndex, isFirst, isActive, isCurrent, isLast)

    - var dataIndex = dataIndex || '';

    if isFirst
      - var isFirst = 'letter__line-item_first';
    else
      - var isFirst = '';
    if isActive
      - var isActive = 'letter__line-item_active';
    else
      - var isActive = '';
    if isCurrent
      - var isCurrent = 'letter__line-item_current';
    else
      - var isCurrent = '';
    if isLast
      - var isLast = 'letter__line-item_last';
    else
      - var isLast = '';

    - var itemClass = ['depfin-services-social-support__item', 'letter__line-item', isFirst, isActive, isCurrent, isLast];

    LI(data-index= dataIndex, class= itemClass)
      button.letter__btn
        +e.A(href='#').item-link
          +e.item-icon
            +icon('support-icon-'+ iconNum)
          +e.SPAN.item-text= text
        +e.UL.sublist
          +e.LI.subitem
            +e.A(href='#').subitem-link Молодые семьи
          +e.LI.subitem
            +e.A(href='#').subitem-link Многодетные семьи
          +e.LI.subitem
            +e.A(href='#').subitem-link Малоимущие семьи

  mixin submenu-item(text)
    +e.LI.submenu-item
      +e.A(href='#').submenu-link= text


  +b.depfin-services-social-support._slider&attributes(attributes)
    .wrapper.page-content-wrapper
      +e.head
        +page-header('Социальная поддержка населения', ['Сервисы'])

      +e.main(id="letters-slider")

        //- 01, 02
        +e.UL.list.letter__line
          +list-item(1, 'Дети и их родители', '0', true, true, true)
          +list-item(2, 'Семьи', '1', false, true)
          +list-item(3, 'Пенсионеры')
          +list-item(4, 'военнослужащие и их семьи')
          +list-item(5, 'Ветераны и инвалиды боевых действий')
          +list-item(6, 'реабилитированные лица')
          +list-item(7, 'инвалиды')
          +list-item(8, 'дети-сироты и их опекуны (усыновители)')
          +list-item(9, 'другие меры соцподдержки')
          +list-item(10, 'Граждане, имеющие особые награды')
          +list-item(11, 'Граждане, имеющие право на льготы')
          +list-item(12, 'Почётные доноры', false, false, false, false, true)

        .letter__slider
          .letter__track

            - for (var i=1; i<=12; i++)
              +e.SECTION.tab.letter__item
                //- div - заглушка, вместо него будет весь закомментированный блок ниже, для каждого таба продублировать
                div= 'Tab-content ' + i
              //- +e.H3.title Различные пособия семьям с детьми; Услуги, предоставляемые семьям и детям

              //- //- 03
              //- +e.UL.submenu
              //-   +submenu-item('Пособие по беременности и родам')
              //-   +submenu-item('Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет')
              //-   +submenu-item('Адресная социальная помощь')
              //-   +submenu-item('Единовременное пособие при рождении ребенка')
              //-   +submenu-item('Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)')
              //-   +submenu-item('Помощь с организацией детского отдыха')
              //-   +submenu-item('Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка')
              //-   +submenu-item('Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет')
              //-   +submenu-item('Материнский капитал')
              //-   +submenu-item('Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности')
              //-   +submenu-item('Льготы на проезд в общественном транспорте')
              //-   +submenu-item('Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми')
              //-   +submenu-item('Льготы при посещении государственных дошкольных образовательных учреждений')

              //- //- 04
              //- +e.ARTICLE.article
              //-   +e.burger
              //-     +icon('burger').burger-icon

              //-     +e.burger-menu
              //-       +icon('close').burger-close
              //-       +e.UL.burger-list
              //-         - for (var i = 0; i < 12; i++)
              //-           +e.LI.burger-item
              //-             +e.A(href='#').burger-link
              //-               | Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет

              //-   +e.content
              //-     +e.H4.content-title Пособие по беременности и родам
              //-     +e.info
              //-       +e.left
              //-         +e.P.definition
              //-           != '<b class="depfin-services-social-support__bold">Пособие по беременности</b> - это денежная выплата, положенная беременной женщине'
              //-       +e.right
              //-         +e.UL.types

              //-           +e.LI.type._active
              //-             +e.type-label
              //-               +link()._dashed
              //-                 | В размере среднего заработка
              //-                 +icon('close').icon
              //-             +e.type-description
              //-               +e.type-text  в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ
              //-               +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;

              //-           +e.LI.type
              //-             +e.type-label
              //-               +link()._dashed
              //-                 | 300 рублей
              //-                 +icon('close').icon
              //-             +e.type-description
              //-               +e.type-text  в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ
              //-               +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;

              //-           +e.LI.type
              //-             +e.type-label
              //-               +link()._dashed
              //-                 | в размере стипендии
              //-                 +icon('close').icon
              //-             +e.type-description
              //-               +e.type-text  в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ
              //-               +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;
                        
              //-           +e.LI.type
              //-             +e.type-label
              //-               +link()._dashed
              //-                 | в размере денежного довольствия
              //-                 +icon('close').icon
              //-             +e.type-description
              //-               +e.type-text  в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ
              //-               +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;
                        
              //-           +e.LI.type
              //-             +e.type-label
              //-               +link()._dashed
              //-                 | 1500 рублей
              //-                 +icon('close').icon
              //-             +e.type-description
              //-               +e.type-text  в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ
              //-               +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;

              //- //- 05
              //- +e.ARTICLE.article
              //-   +e.burger
              //-     +icon('burger').burger-icon

              //-     +e.burger-menu
              //-       +icon('close').burger-close
              //-       +e.UL.burger-list
              //-         - for (var i = 0; i < 12; i++)
              //-           +e.LI.burger-item
              //-             +e.A(href='#').burger-link
              //-               | Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет

              //-   +e.content
              //-     +e.H4.content-title Единовременное пособие при рождении ребенка
              //-     +e.info
              //-       +e.left
              //-         +e.P.definition
              //-           != '<b class="depfin-services-social-support__bold">Единовременное пособие при рождении ребенка</b> - это разовая денежная выплата, положенная женщине, родившей ребенка'
              //-       +e.right
              //-         +e.UL.types

              //-           +e.LI.type._active
              //-             +e.type-label
              //-               +link()._dashed
              //-                 | 8000 рублей
              //-                 +icon('close').icon
              //-             +e.type-description
              //-               +e.type-text  при рождении ребенка
              //-               +e.A(href='#').type-link Федеральный закон от 19 05 1995 №81-ФЗ &laqua;о государственных пособиях гражданам, имеющим детей&laqua;
