.depfin-services-social-support {
  display: block;
  background-image: url(../images/depfin-services-social-support/bg.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 195px;
  padding-bottom: 60px;
  font-family: $PFDinTextPro;

  @include respond-to('mobile'){
    padding: 100px 0 20px;
  }

  &__head {
    margin-bottom: 90px;
  }

  &__wrapper {
    max-width: 640px;
    margin: 0 auto;
  }

/************ 01, 02 **************/

  &__list {
    display: block;
    list-style: none;
    font-size: 0;;
    text-align: justify;
    padding-bottom: 150px;

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: (1/6)*100%;
    padding: 21px 15px 15px;
    margin-bottom: 12px;
    transition: all .25s ease-in-out;

    @include respond-to('laptop') {
    }

    @include respond-to('tablet') {
    }

    @include respond-to('mobile') {
      width: (1/4)*100%;
    }

    @media (max-width: 570px) {
      width: (1/2)*100%;
    }

    @media (max-width: 320px) {
      width: 100%;
    }

    &:hover {
      background: #fee300;

      .depfin-services-social-support__item-icon svg { fill: black; }

      & .depfin-services-social-support__item-text {
        color: $color-black;
      }

      & .depfin-services-social-support__sublist {
        opacity: 1;
        pointer-events: all;
      }
    }

    &-icon {
      display: block;
      position: relative;
      width: 100%;
      height: 49px;
      margin-bottom: 19px;

      svg {
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        fill: $color-yellow;
        transition: fill .25s ease-in-out;
      }
    }

    &-text {
      display: block;
      text-align: center;
      font-family: $PFDinCondensedPro;
      font-weight: 600;
      transition: all .25s ease-in-out;
    }

    &-link {
      text-decoration: none;
      font-family: $PFDinCondensedPro;
      font-size: 14px;
      line-height: 16px;
      color: $color-yellow;
      text-transform: uppercase;
      display: block;
    }
  }

  &__sublist {
    transition: all .25s ease-in-out;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 22px 10px 20px;
    list-style: none;
    background: $color-white;
    z-index: 1;
  }

  &__subitem {
    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    &-link {
      display: block;
      text-decoration: none;
      font-family: $PFDinCondensedPro;
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      text-align: center;
      color: $color-link;
      text-transform: uppercase;
      transition: all .25s ease-in-out;

      &:hover { opacity: .7; }
    }
  }

/************ 03 ******************/
  &__tab {

  }

  &__title {
    font-family: $PFDinCondensedPro;
    font-size: 28px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 22px;

    @include respond-to('mobile') {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__submenu {
    font-size: 0;
    list-style: none;
    margin: -5px;

    @media (max-width: 320px) {
      margin: -5px 0;
    }

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }

    &-item {
      display: inline-block;
      vertical-align: top;
      width: calc((1/3) * 100% - 10px);
      border: 1px solid rgba(254, 227, 0, .7);
      margin: 5px;

      @include respond-to('tablet') {
        width: calc(50% - 10px);
      }

      @include respond-to('mobile') {
        width: calc(50% - 10px);
      }

      @media (max-width: 570px) {
        width: 100%;
      }

      @media (max-width: 320px) {
        margin: 5px 0;
      }

      &:hover {
        background-color: $color-yellow;

        & .depfin-services-social-support__submenu-link {
          color: $color-black;
        }
      }
    }

    &-link {
      display: block;
      /*min-height: 160px;*/
      height: 160px;
      text-decoration: none;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      padding: 20px 22px;
      text-transform: uppercase;

      @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

/************ 04, 05 *************/
  &__article {
    display: table;
    position: relative;
    background-color: $color-white;
  }

  &__burger {
    display: table-cell;
    padding: 25px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    @media (max-width: 320px) {
      padding: 9px;
    }

    &_active {

      & .depfin-services-social-support__burger-icon {
        display: none;
      }

      & .depfin-services-social-support__burger-close,
      & .depfin-services-social-support__burger-menu, {
        display: block;
      }
    }
  }

  &__burger-icon {
    width: 22px;
    height: 18px;
    fill: $color-black;
  }

  &__burger-close {
    display: none;
    position: absolute;
    top: 26px;
    left: 28px;
    width: 16px;
    height: 16px;
    fill: $color-black;

    @media (max-width: 320px) {
      top: 9px;
      left: 8px;
    }
  }

  &__burger-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 30px 25px 90px;
    background-color: $color-white;
    z-index: 1;

    @media (max-width: 320px) {
      padding: 11px 32px;
    }
  }

  &__burger-item {
    margin-bottom: 10px;

    &:first-child {

      & .depfin-services-social-support__burger-link {
        color: #ccc;
      }
    }
  }

  &__burger-link {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-link;

    @include respond-to('mobile') {
      font-size: 14px;
      line-height: 20px;
    }

    @media (max-width: 320px) {
      font-size: 10px;
      line-height: 16px;
    }
  }

  &__content {
    display: table-cell;
    color: $color-black;
  }

  &__content-title {
    padding: 25px 46px 21px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: $color-yellow;

    @media (max-width: 320px) {
      padding: 9px 16px 9px;
      font-size: 9px;
      line-height: 15px;
    }
  }

  &__info {
    padding: 36px 48px;
    @include clearfix;

    @media (max-width: 320px) {
      padding: 15px 16px;
    }
  }

  &__left {
    float: left;
    width: 41%;

    @include respond-to('mobile'){
      float: none;
      width: 100%;
      margin-bottom: 29px;
    }
  }

  &__definition {
    font-size: 24px;
    line-height: 34px;

    @media (max-width: 320px) {
      font-size: 12px;
      line-height: 22px;
    }
  }

  &__right {
    float: right;
    width: 55.5%;

    @include respond-to('mobile'){
      float: none;
      width: 100%;
    }
  }

  &__types {
    list-style: none;
  }

  &__type {
    margin-bottom: 4px;

    &_active {
      margin-bottom: 21px;

      & .depfin-services-social-support__type-label {
        margin-bottom: 10px;
        background-color: $color-yellow;

        & .link {
          color: $color-black;
          padding-right: 24px;

          &__icon {
            display: block;
          }

          &_dashed {
            border-bottom: none;
          }
        }
      }

      & .depfin-services-social-support__type-description {
        display: block;
      }
    }

    &-label {
      display: inline-block;
      padding: 7px 8px;

      & .link {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;

        @media (max-width: 320px) {
          font-size: 12px;
        }

        &__icon {
          display: none;
          top: 3px;
          right: 0;
          width: 8px;
          height: 8px;
          fill: $color-black;
        }
      }
    }

    &-description {
      display: none;
      padding-left: 8px;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      margin-bottom: 10px;

      @media (max-width: 320px) {
        font-size: 11px;
        line-height: 17px;
      }
    }

    &-link {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      color: $color-link;

      @media (max-width: 320px) {
        font-size: 9px;
        line-height: 15px;
      }
    }
  }
}
