include ../page-header/page-header
include ../../blocks/icon/icons
include ../../blocks/link/link


mixin depfin-services-social-support-slider()

  mixin list-item(iconNum, text, dataIndex, isFirst, isActive, isCurrent, isLast)

    - var dataIndex = dataIndex || '';

    if isFirst
      - var isFirst = 'letter__line-item_first';
    else
      - var isFirst = '';
    if isActive
      - var isActive = 'letter__line-item_active';
    else
      - var isActive = '';
    if isCurrent
      - var isCurrent = 'letter__line-item_current';
    else
      - var isCurrent = '';
    if isLast
      - var isLast = 'letter__line-item_last';
    else
      - var isLast = '';

    - var itemClass = ['depfin-services-social-support__item', 'letter__line-item', isFirst, isActive, isCurrent, isLast];

    LI(data-index= dataIndex, class= itemClass)
      button.letter__btn
        +e.A(href='#').item-link
          +e.item-icon
            +icon('support-icon-'+ iconNum)
          +e.SPAN.item-text= text
        +e.UL.sublist
          +e.LI.subitem
            +e.A(href='#').subitem-link Молодые семьи
          +e.LI.subitem
            +e.A(href='#').subitem-link Многодетные семьи
          +e.LI.subitem
            +e.A(href='#').subitem-link Малоимущие семьи

  mixin submenu-item(text)
    +e.LI.submenu-item
      +e.A(href='#').submenu-link= text


  +b.SECTION.depfin-services-social-support._slider.sections__item&attributes(attributes)
    .wrapper.page-content-wrapper
      +e.head
        +page-header('Социальная поддержка населения', ['Сервисы'])

      +e.main(id="letters-slider")

        //- 01, 02
        +e.UL.list.letter__line
          +list-item(1, 'Дети и их родители', '0', true, true, true)
          +list-item(2, 'Семьи', '1', false, true)
          +list-item(3, 'Пенсионеры')
          +list-item(4, 'военнослужащие и их семьи')
          +list-item(5, 'Ветераны и инвалиды боевых действий')
          +list-item(6, 'реабилитированные лица')
          +list-item(7, 'инвалиды')
          +list-item(8, 'дети-сироты и их опекуны (усыновители)')
          +list-item(9, 'другие меры соцподдержки')
          +list-item(10, 'Граждане, имеющие особые награды')
          +list-item(11, 'Граждане, имеющие право на льготы')
          +list-item(12, 'Почётные доноры', false, false, false, false, true)

        .letter__slider
          .letter__track

            - for (var i=1; i<=12; i++)
              +e.SECTION.tab.letter__item
                div= 'Tab-content ' + i
