include ../page-header/page-header
include ../../blocks/icon/icons
include ../../blocks/link/link


mixin list-item(iconNum, text, slider)
  +e.item&attributes(attributes)
    +e.A(href='#').item-link
      +e.item-icon
        +icon('support-icon-'+ iconNum)
      +e.SPAN.item-text= text
    if !slider
      +e.UL.sublist
        +e.LI.subitem
          +e.A(href='#').subitem-link Молодые семьи
        +e.LI.subitem
          +e.A(href='#').subitem-link Многодетные семьи
        +e.LI.subitem
          +e.A(href='#').subitem-link Малоимущие семьи



mixin submenu-item(text)
  +e.LI.submenu-item
    +e.A(href='#').submenu-link= text



mixin nav-list()
  +e.UL.list.load-anim-fade(data-delay="1300").depfin-services-social-support__list_simple-container
    +list-item(1, 'Дети и их родители')
    +list-item(2, 'Семьи')
    +list-item(3, 'Пенсионеры')
    +list-item(4, 'военнослужащие и их семьи')
    +list-item(5, 'Ветераны и инвалиды боевых действий')
    +list-item(6, 'реабилитированные лица')
    +list-item(7, 'инвалиды')
    +list-item(8, 'дети-сироты и их опекуны (усыновители)')
    +list-item(9, 'другие меры соцподдержки')
    +list-item(10, 'Граждане, имеющие особые награды')
    +list-item(11, 'Граждане, имеющие право на льготы')
    +list-item(12, 'Почётные доноры')



mixin submenu-items()
  +e.UL.submenu
    +submenu-item('Пособие по беременности и родам')
    +submenu-item('Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет')
    +submenu-item('Адресная социальная помощь')
    +submenu-item('Единовременное пособие при рождении ребенка')
    +submenu-item('Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)')
    +submenu-item('Помощь с организацией детского отдыха')
    +submenu-item('Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка')
    +submenu-item('Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет')
    +submenu-item('Материнский капитал')
    +submenu-item('Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности')
    +submenu-item('Льготы на проезд в общественном транспорте')
    +submenu-item('Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми')
    +submenu-item('Льготы при посещении государственных дошкольных образовательных учреждений')



mixin depfin-services-nav-slider()
  div.load-anim-fade(data-delay="1300")
    +e.cards-slider&attributes(attributes).nav-cards-slider.js-drag-scroll-element
      +list-item(1, 'Дети и их родители', true).active
      +list-item(2, 'Семьи', true)
      +list-item(3, 'Пенсионеры', true)
      +list-item(4, 'военнослужащие и их семьи', true)
      +list-item(5, 'Ветераны и инвалиды боевых действий', true)
      +list-item(6, 'реабилитированные лица', true)
      +list-item(7, 'инвалиды', true)
      +list-item(8, 'дети-сироты и их опекуны (усыновители)', true)
      +list-item(9, 'другие меры соцподдержки', true)
      +list-item(10, 'Граждане, имеющие особые награды', true)
      +list-item(11, 'Граждане, имеющие право на льготы', true)
      +list-item(12, 'Почётные доноры', true)











mixin depfin-services-social-support()
  +b.depfin-services-social-support&attributes(attributes)
    .wrap
      +e.head
        +page-header('Социальная поддержка населения', ['Сервисы'], true)

      +e.main
        block

mixin depfin-services-social-support-cards-innerpage()
  +depfin-services-social-support()
    +depfin-services-nav-slider()
    +e.SECTION.tab.load-anim-fade(data-delay="1600")
      +e.H3.title Различные пособия семьям с детьми; Услуги, предоставляемые семьям и детям
      block

mixin article-burger-item(link)
  +e.LI.burger-item&attributes(attributes)
    +e.A(href=link).burger-link
      block

mixin article-burger-menu()   
  +e.burger-menu&attributes(attributes)
    +e.UL.burger-list
      block

mixin article-content(title) 
  +e.content&attributes(attributes)
    +e.H4.content-title= title
    +e.info
      block

mixin article-left()
  +e.left&attributes(attributes)
    block

mixin article-right()  
  +e.right&attributes(attributes)
    block

mixin article-accordeon()  
  +e.UL.types&attributes(attributes)
    block
      
mixin article-accordeon-block(linktext, maintext, bluetext)  
  +e.LI.type&attributes(attributes)
    +e.type-label
      +b.link._dashed= linktext
      +icon('close').type-label-close
    +e.type-description
      +e.type-text !{maintext}
      +e.A(href='#').type-link !{bluetext}
      block
        
mixin depfin-services-social-support-articlestructure()        
  +e.ARTICLE.article&attributes(attributes).load-anim-fade(data-delay="1600")
    +e.burger
      +e.burger-button
        span
    block
        
        
        
        










mixin depfin-services-social-support-main()
  +depfin-services-social-support()._main
    //- 01, 02
    +nav-list()

mixin depfin-services-social-support-cards()
  +depfin-services-social-support-cards-innerpage()
    //- 03
    +submenu-items()





mixin depfin-services-social-support-article-one()
  +depfin-services-social-support-cards-innerpage()
    +depfin-services-social-support-articlestructure()       
    
      +article-burger-menu()
        +article-burger-item() Единовременное пособие при рождении ребенка
        +article-burger-item('#') Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#') Адресная социальная помощь
        +article-burger-item('#') Единовременное пособие при рождении ребенка
        +article-burger-item('#') Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)
        +article-burger-item('#') Помощь с организацией детского отдыха
        +article-burger-item('#') Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка
        +article-burger-item('#') Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет
        +article-burger-item('#') Материнский капитал
        +article-burger-item('#') Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности
        +article-burger-item('#') Льготы на проезд в общественном транспорте
        +article-burger-item('#') Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми
        +article-burger-item('#') Льготы при посещении государственных дошкольных образовательных учреждений
          
      +article-content('Единовременное пособие при рождении ребенка')
        +article-left()
          +e.definition
            p <b>Единовременное пособие при рождении ребенка</b> — это разовая денежная выплата, положенная женщине, родившей ребенка
        
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('8000 рублей', 'при рождении ребенка', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
        
        
        
        
        
mixin depfin-services-social-support-article-two()
  +depfin-services-social-support-cards-innerpage()
    +depfin-services-social-support-articlestructure()       
    
      +article-burger-menu()
        +article-burger-item() Пособие по беременности и родам
        +article-burger-item('#') Ежемесячные компенсационные выплаты лицам, находящимся в отпуске по уходу за ребенком до достижения им возраста 3 лет
        +article-burger-item('#') Адресная социальная помощь
        +article-burger-item('#') Единовременное пособие при рождении ребенка
        +article-burger-item('#') Ежемесячное пособие по уходу за ребенком (до достижения им возраста полутора лет)
        +article-burger-item('#') Помощь с организацией детского отдыха
        +article-burger-item('#') Единовременная компенсационная выплата на возмещение расходов в связи с рождением ребенка
        +article-burger-item('#') Ежемесячная компенсационная выплата на возмещение роста стоимости продуктов питания отдельным категориям граждан на детей в возрасте до трех лет
        +article-burger-item('#') Материнский капитал
        +article-burger-item('#') Единовременное пособие женщинам, вставшим на учет в медицинском учреждении в ранние сроки беременности
        +article-burger-item('#') Льготы на проезд в общественном транспорте
        +article-burger-item('#') Ежемесячная компенсационная выплата на возмещение расходов в связи с ростом стоимости жизни отдельным категориям семей с детьми
        +article-burger-item('#') Льготы при посещении государственных дошкольных образовательных учреждений
          
      +article-content('Пособие по беременности и родам')
        +article-left()
          +e.definition
            p <b>Пособие по беременности</b> — это денежная выплата, положенная беременной женщине
        
        +article-right()  
          +article-accordeon()
            +article-accordeon-block('В размере среднего заработка', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')._active
            +article-accordeon-block('300 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере стипендии', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('в размере денежного довольствия', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
            +article-accordeon-block('1500 рублей', 'в размере среднего заработка, на который начисляются страховые взносы на обязательное социальное страхование на случай временной нетрудоспособности и в связи с материнством, и с учетом иных условий, установленных законодательством РФ', 'Федеральный закон от 19.05.1995 № 81-ФЗ «О государственных пособиях гражданам, имеющим детей»')
