.depfin-services-social-support {
  display: block;
  background-image: url(../images/depfin-services-social-support/bg.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 195px;
  padding-bottom: 60px;

  @include respond-to('mobile'){
    padding: 100px 0 20px;
  }

  &__head {
    margin-bottom: 80px;
  }

  &__wrapper {
    max-width: 640px;
    margin: 0 auto;
  }

/************ 01, 02 **************/

  &__list {
    display: block;
    list-style: none;
    font-size: 0;;
    text-align: justify;

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    width: (1/6)*100%;
    padding: 10px;

    &:hover {
      background: #fff656;

      & .depfin-services-social-support__item-text {
        color: $color-black;
      }

      & .depfin-services-social-support__sublist {
        display: block;
      }
    }

    &-icon {
      position: relative;
      width: 100%;
      height: 51px;

      & img {
        width: auto;
        height: 100%;
        display: block;
        margin: 0 auto;
      }
    }

    &-text {
      display: block;
      text-align: center;
    }

    &-link {
      text-decoration: none;
      font-family: $PFDinCondensedPro;
      font-size: 14px;
      line-height: (16/14)*1em;
      color: $color-yellow;
    }
  }

  &__sublist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    list-style: none;
    background: $color-white;
    z-index: 1;
  }

  &__subitem {

    &-link {
      display: block;
      text-decoration: none;
      font-family: $PFDinCondensedPro;
      font-size: 12px;
      line-height: (16/12)*1em;
      text-align: center;
      color: $color-link;
    }
  }

/************ 03 ******************/
  &__tab {

  }

  &__title {
    font-family: $PFDinCondensedPro;
    font-size: 24px;
    line-height: (30/24)*1em;
    margin-bottom: 50px;
  }

  &__submenu {
    font-size: 0;
    list-style: none;

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }

    &-item {
      display: inline-block;
      box-sizing: border-box;
      width: (1/3)*100%;
      min-height: 160px;
      border: 1px solid rgba(254, 227, 0, .7);

      &:hover {
        background-color: $color-yellow;
      }
    }

    &-link {
      display: block;
      text-decoration: none;
      font-size: 18px;
      line-height: (24/18)*1em;
      padding: 20px;

    }
  }

/************ 04, 0,5 *************/
  &__article {
    display: table;
    background-color: $color-white;
  }

  &__burger-menu {
    display: table-cell;
    padding: 20px;
  }

  &__burger {
    width: 22px;
    height: 18px;
    fill: $color-black;
  }

  &__content {
    display: teble-cell;
    color: $color-black;
  }

  &__content-title {
    padding: 20px 30px;
    font-size: 24px;
    line-height: 1em;
    background-color: $color-yellow;
  }

  &__info {
    padding: 30px;
    @include clearfix;
  }

  &__left {
    float: left;
    width: 30%;
  }

  &__definition {
    font-size: 24px;
    line-height: (34/24)*1em;
  }

  &__right {
    float: right;
    width: 65%;
  }

  &__types {
    list-style: none;
  }

  &__type {
    margin-bottom: 30px;

    &_active {

      & .depfin-services-social-support__type-label {
        background-color: $color-yellow;

        & .link {
          color: $color-black;

          &__icon {
            display: block;
          }

          &_dashed {
            border-bottom: none;
          }
        }
      }

      & .depfin-services-social-support__type-description {
        display: block;
      }
    }

    &-label {
      padding: 5px;
      padding-right: 10px;
      font-size: 24px;
      margin-bottom: 10px;

      & .link {

        &__icon {
          display: none;
          top: 3px;
          width: 10px;
          height: 10px;
          fill: $color-black;
        }
      }
    }

    &-description {
      display: none;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 14px;
      line-height: (18/14)*1em;
    }

    &-link {
      font-size: 12px;
      line-height: (14/12)*1em;
      color: $color-link;
    }
  }
}
