extends ../../layouts/default
include ../../components/budget-system/budget-system
include ../../components/header/header

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +budget-system()

    block footer
      +footer()
