extends ../../layouts/default
include ../../components/budget-system/budget-system

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +budget-system()
      +popup-wrapper()
      +footer()
