.open-fedbud {
  display: block;
  background-image: url(../images/bg-news.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 207px;
  padding-bottom: 130px;

  &__description {
    font-size: 18px;
    line-height: 24px;
    max-width: 720px;
    margin: 23px 0 51px;
    letter-spacing: .1px;

  }

  &__header {
    margin-bottom: 57px;
  }

  .page-header {
    @media (max-width: 1024px) {
      max-width: 700px;
    }
  }

  &__control {
    letter-spacing: .1px;

    &-group {
      margin-bottom: 16px;

      .analityc-select, .open-fedbud__control-text, .buttons-set {
        display: inline-block;
        vertical-align: middle;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-text {
      font-size: 18px;
      color: $color-white;
      text-transform: uppercase;
      margin-right: 21px;
      letter-spacing: 0.35px;
      vertical-align: baseline;

      @media (max-width: 640px) {
        display: block;
        margin-bottom: 20px;
      }
    }

    .button-light {
      font-weight: 700;
      padding: 13px 26px;
      font-size: 16px;
      text-align: center;
      
      @media screen and (max-width: 630px) {
        width: 100%;
      }
    }

    .buttons-set {
      @media screen and (max-width: 630px) {
        display: block;
      }
      
      &__item {
        @media screen and (max-width: 630px) {
          width: 50%;
        }
        
        &:last-child {
          .button-light {
            padding-right: 46px;
            padding-left: 48px;
            letter-spacing: -0.2px;
          }
        }

        &:first-child {
          .button-light {
            padding-right: 33px;
            padding-left: 29px;
          }
        }

        .button-light {
          @media (max-width: 400px) {
            padding: 11px 0;
            padding-right: 20px !important;
            padding-left: 20px !important;
          }
        }
      }
    }

    .ui-button {
      width: 112px;
      height: 34px;
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
      padding: 0 30px 0 12px;
      border-radius: 2px;
      margin-top: 5px;
      text-transform: uppercase;
      font-family: inherit;
      font-weight: inherit;
      line-height: 30px;
      border: 1px solid $color-yellow;
      cursor: pointer;
      margin-right: 8px;
      background-position: top 13px right 10px !important;

      @media (max-width: 640px) {
        width: 100% !important;
      }

      option {
        font-size: 16px;
      }
      
      .ui-selectmenu-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        display: inline-block;
      }
      
      &:nth-of-type(2) {
        width: 720px;
        
        @media (max-width: 940px) {
          width: 405px;
        }
      }
    }
  }

  &__content {

    &-heading {
      margin-bottom: 23px;

      * {
        display: inline-block;
        vertical-align: middle;
      }

      @include clearfix;

      .doc-cards__download {
        float: right;
        margin-left: 20px;
        color: $color-yellow;
        border-bottom-color: rgba(254, 227, 0, .4);
        transition: color .25s ease-in-out;
        
        @media (max-width: 900px) {
          margin-top: 20px;
        }

        @media (max-width: 640px) {
          float: none;
          margin: 0;
        }

        &:hover {
          color: $color-white;
        }
      }
    }
  }

  &__title {
    font-size: 21px;
    font-weight: 500;
    max-width: 80%;

    @media (max-width: 1024px) {
      max-width: 650px;
    }

    @media (max-width: 640px) {
      margin-bottom: 35px;
    }
  }
}

.analityc-select_transparentyellow, .ui-button {
  background: transparent url('../images/caret.svg') 93% 14px no-repeat !important;
  background-color: transparent !important;
  border-color: $color-yellow;
  color: $color-yellow;

  option {
    color: $color-black;
  }
}

.ui-menu {
  &.ui-openfed-year {
    max-width: 112px;
  }
  &.ui-openfed-law {
    max-width: 720px;
    @media (max-width: 940px) {
      max-width: 405px;
    }
  }
  &.ui-openfed-year, &.ui-openfed-law {
    @media (max-width: 640px) {
      max-width: none;
    }
    .ui-menu-item-wrapper {
      white-space: nowrap;
      display: inline-block;
      min-width: 100%;
    }
    .ui-menu-item-wrapper.overwidth {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
}
