@import "../../node_modules/jquery-ui/themes/base/slider.css";

$rangeColorPositive: #30b78d;
$rangeColorNegative: #f42c1b;

.range-ui {
  position: relative;
  height: 30px;
  padding-top: 7px;
  padding-right: 38px;

  &.positive {
    .range-ui__line { background: $rangeColorPositive; }
    // .ui-slider-handle { border-color: $rangeColorPositive; }
  }


  &.negative {
    .range-ui__line { background: $rangeColorNegative; }
    // .ui-slider-handle { border-color: $rangeColorNegative; }
  }


  &__slider {
    height: 3px;
    border: none !important;
    border-radius: 2px;
    background: #d7d4d1 !important;
    box-shadow: none;
  }

  &__line {
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: inherit;
  }

  .ui-slider-handle {
    top: -7px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid #0d46a1;
    background-color: white !important;
    box-shadow: none;
    cursor: pointer;

    -ms-touch-action: none;
    touch-action: none;
  }

  &__refresh {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: #0d46a1;
  }

  &__output {
    overflow: hidden;
    margin-top: 13px;
    font-family: $PFDinTextPro;
    font-size: 12px;
    line-height: 1;
    font-weight: 400;
    color: black;
  }

  &__min-value {
    float: left;
  }

  &__max-value {
    float: right;
  }

  &__input {
    display: block;
    height: 100%;
    max-width: 100%;
    font-size: 12px;
    text-align: center;
    color: black !important;
    background: white !important;
  }

  &__tooltip {
    display: block;
    position: absolute;
    top: -33px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #0d46a1;
    background: white;

    &:after,
    &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: '';
      height: 0;
      width: 0;
      position: absolute;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 4px;
      margin-left: -4px;
    }

    &:before {
      border-color: rgba(13, 70, 161, 0);
      border-top-color: #0d46a1;
      border-width: 5px;
      margin-left: -5px;
    }
  }
}
