mixin range-ui(data)
  +b.range-ui&attributes(attributes)
    +e.slider(data-slider=data)
      +e.line
    +e.tooltip
      +e.INPUT.input(type="text")
    +e.A.refresh(href="#")
      +icon('refresh').icon
    +e.output
      +e.min-value
      +e.max-value
