mixin range-ui(data, widetooltip)
  +b.range-ui&attributes(attributes)
    +e.slider(data-slider=data)
      +e.line
    if widetooltip
      +e.tooltip._wide
        +e.INPUT.input(type="text")
    else
      +e.tooltip
        +e.INPUT.input(type="text")
    +e.A.refresh(href="#")
      +icon('refresh').icon
    +e.output
      +e.min-value
      +e.max-value
