.sections {
  display: block;
  overflow: hidden;

  // @qluqua
  // отступы сверху каждой страницы для фиксированного навбара
  > *:first-child {
    @media (min-width: $navBreakpointXXL) {
      padding-top: $navPaddingTopXXL;
    }

    @media (min-width: $navBreakpointTablet + 1px) and (max-width: $navBreakpointDesktop) {
      padding-top: $navPaddingTopDesktop;
    }

    @media (min-width: $navBreakpointMobile + 1px) and (max-width: $navBreakpointTablet) {
      padding-top: $navPaddingTopTablet;
    }

    @media (max-width: $navBreakpointMobile) {
      padding-top: $navPaddingTopMobile;
    }
  }
}
