.depfin-services-main {
  background: #282635 url(../images/depfin-services-main/bg.jpg) 50% 0 / cover no-repeat;
  color: #000;

  .wrapper {
    @media (max-width: 1140px) {
      padding-left: 75px;
      padding-right: 75px;
    }

    @media (max-width: 900px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 580px) {
      padding-left: 27px;
      padding-right: 27px;
    }
  }

  .sortable {
    margin: 0;
    padding: 0;
  }

  .service-dots button {
    width: 9px;
    height: 9px;
  }

  .tile__inner.service {
    min-height: inherit;
    padding: 0;
    background: none;
    position: inherit;
    top: inherit;
    left: inherit;
    right: inherit;
    margin: 0;

    &::before {
      display: none;
    }
  }

	&__description {
		max-width: 650px;
		font-size: 16px;
		line-height: 22px;
    letter-spacing: 1px;
		color: $color-white;
		margin-top: 35px;

    @media (max-width: 900px) {
      margin-top: 30px;
    }

    @media (max-width: 580px) {
      margin-top: 12px;
    }
	}

  .tile {
    margin: 34px -5px 0;

    @media (max-width: 1140px) {
      margin: 34px -10px 0;
    }

    @media (max-width: 900px) {
      margin: 43px -10px 0;
    }

    @media (max-width: 580px) {
      margin: 34px -10px 0;
    }

  }
  .tile__item {
    width: 25%;
    height: 400px;
    display: block;
    width: calc(100%/4);
    padding: 0 5px;
    margin-bottom: 14px;

    @media (max-width: 1140px) {
      width: 33.333%;
      width: calc(100%/3);
      padding: 0 10px;
      margin-bottom: 37px;
    }

    @media (max-width: 900px) {
      width: 50%;
      width: calc(100%/2);
      padding: 0 10px;
      margin: 0;
      margin-bottom: 28px;
    }

    @media (max-width: 580px) {
      width: 100%;
      margin-bottom: 13px;
    }
  }
  .tile__inner {
    width: 100%;
    margin: 0;
  }

  &__stages {
    position: relative;
  }
}
