.depfin-services-main {
  background: #282635 url(../images/depfin-services-main/bg.jpg) top no-repeat;
  background-size: 100%;
  color: #000;

	&__description {
		max-width: 650px;
		font-size: 16px;
		line-height: 22px;
    letter-spacing: 1px;
		color: $color-white;
		margin-top: 35px;
	}

  .tile {
    margin: 34px -.5% 0 -.5%;
  }
  .tile__item {
  	width: 24%;
    margin: 0 .5% 14px;
  }
  .tile__inner {
    margin: 0; 
  }
}
