include ../page-header/page-header
include ../widget-card/widget-card
include ../../blocks/passed-stages/passed-stages
include ../searchForm/searchForm
include ../../blocks/selectbox/selectbox
include ../../blocks/search-form/search-form
include ../../blocks/range/range
include ../../blocks/arrow-button/arrow-button
include ../../blocks/svg-map/svg-map

mixin services-cards()
	+b.services-cards&attributes(attributes)
		.tile
			block
            
mixin services-cards-sortable()
	+b.services-cards&attributes(attributes)
		.tile.sortable
			block

mixin widget-card-edu
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-edu
				+widget-card-head('Обучающий сервис', 'Пройдите обучающий курс бюджетной тематики')
				+widget-card-content()
					+e.lessons
						+passed-stages().widget-card__passed-stages
							+e.round
								canvas(width='78', height='78', default-fill='#efefef', stroke-width='7', sector-count='9', fill-sectors='').sectored_round
								+e.P.innertext Пройдено
									span 0 из 9
									| уроков
					+e.lessons-list
						+e.lessons-text._active Урок 1: Что такое бюджетая система?
						+e.lessons-text Урок 2: зачем используется бюджетная классификация?
				+e.bottom-link-wrap
					+widget-card-bottom-link('edu-hat', 'Пройти курс')._gradiented

mixin widget-card-edu-pers
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-edu-pers
				+widget-card-head('Обучающий сервис')
				+widget-card-content()
					+e.lessons
						+passed-stages().widget-card__passed-stages
							+e.round
								canvas(width='78', height='78', default-fill='#efefef', stroke-width='7', sector-count='9', fill-sectors='0,2,3,5,8').sectored_round
								+e.P.innertext Пройдено
									span 5 из 9
									| уроков
					+e.lessons-list
						+e.lessons-text Урок 4: Что такое бюджет и из чего он состоит?
						+e.lessons-text._active Урок 5: Что такое доходы и откуда они поступают?
						+e.lessons-text Урок 6: Как формируется бюджет?
				+widget-card-bottom-link()


mixin widget-card-regions
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-regions
				+widget-card-head('Москва и субъекты РФ')
				+widget-card-content()
					+e.map._regions
						//img(src='assets/images/map_mini.png')
						+svg-map-russia()
					+e.search
						+searchFormWidget('регион 1', 'Введите название ВМО')
					+e.select
						+selectbox('select', getData('widget-card-selectbox'))
					+e.results._active(data-option='opt1')
						+e.results-total._active 300 тыс. руб. на 1 жителя
						+e.results-rating
							+e.results-pos 8 место
							+e.results-in из 85 субъектов РФ
					+e.results(data-option='opt2')
						+e.results-total._active 300 тыс. руб. на 1 жителя
						+e.results-rating
							+e.results-pos 8 место
							+e.results-in из 85 субъектов РФ
					+e.results(data-option='opt3')
						+e.results-total._active 300 тыс. руб. на 1 жителя
						+e.results-rating
							+e.results-pos 8 место
							+e.results-in из 85 субъектов РФ
					+e.results(data-option='opt4')
						+e.results-total._active 300 тыс. руб. на 1 жителя
						+e.results-rating
							+e.results-pos 8 место
							+e.results-in из 85 субъектов РФ
				+widget-card-bottom-link()

mixin widget-card-calc
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-calc
				+widget-card-head('Бюджетный калькулятор')
				+widget-card-content()
					+e.select
						+selectbox('select', getData('widget-card-selectbox'))
					+e.output-calc._active(data-option='opt1')
						+e.range
							+range-for-widgets('widget_card_calc1', "0", "400.8")
						+e.value
							+e.value-title Дефицит
							+e.value-value#opt1Value -47,5
							+e.value-units млрд руб.
					+e.output-calc(data-option='opt2')
						+e.range
							+range-for-widgets('widget_card_calc2', "20", "500")
						+e.value
							+e.value-title Профицит
							+e.value-value#opt2Value 5
							+e.value-units млрд руб.
					+e.output-calc(data-option='opt3')
						+e.range
							+range-for-widgets('widget_card_calc3', "300", "600")
						+e.value
							+e.value-title Дефицит
							+e.value-value#opt3Value -10,3
							+e.value-units млрд руб.
					+e.output-calc(data-option='opt4')
						+e.range
							+range-for-widgets('widget_card_calc4', "2", "200")
						+e.value
							+e.value-title Профицит
							+e.value-value#opt4Value 500
							+e.value-units млрд руб.
				+e.bottom-link-wrap
					+widget-card-bottom-link('calc', 'Предложите свой вариант бюджета!')._gradiented

mixin widget-card-calc-pers
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-calc
				+widget-card-head('Бюджетный калькулятор', 'Предложенные Вами варианты бюджета')
				+widget-card-content()
					+e.select
						+selectbox-cities('select', getData('widget-card-selectbox'))
					+e.output-calc._active(data-option='opt1')
						+e.budget-stats
							+e.budget-stat
								+e.P.budget-stat-title доходы
								+e.P.budget-stat-count._pos 1 579,0
								+e.P._budget-stat-text млрд руб.
							+e.budget-stat
								+e.P.budget-stat-title расходы
								+e.P.budget-stat-count._neg 1 588,0
								+e.p.budget-stat-text млрд руб.
						+e.budget-total
							+e.SPAN.budget-total-title дефицит бюджета
							+e.SPAN.budget-total-count._blue 9,0
							+e.SPAN.budget-total-text млрд руб.
						+e.budget-total
							+e.SPAN.budget-total-title изменение государственного долга
							+e.SPAN.budget-total-count 0,0
							+e.SPAN.budget-total-text млн руб.
					+e.output-calc(data-option='opt2')
						+e.budget-stats
							+e.budget-stat
								+e.P.budget-stat-title доходы
								+e.P.budget-stat-count._pos 1 570
								+e.P._budget-stat-text млрд руб.
							+e.budget-stat
								+e.P.budget-stat-title расходы
								+e.P.budget-stat-count._neg 188,0
								+e.p.budget-stat-text млрд руб.
						+e.budget-total
							+e.SPAN.budget-total-title дефицит бюджета
							+e.SPAN.budget-total-count._blue 7,0
							+e.SPAN.budget-total-text млрд руб.
						+e.budget-total
							+e.SPAN.budget-total-title изменение государственного долга
							+e.SPAN.budget-total-count 0,0
							+e.SPAN.budget-total-text млн руб.
					+e.output-calc(data-option='opt3')
						+e.budget-stats
							+e.budget-stat
								+e.P.budget-stat-title доходы
								+e.P.budget-stat-count._pos 1 479,0
								+e.P._budget-stat-text млрд руб.
							+e.budget-stat
								+e.P.budget-stat-title расходы
								+e.P.budget-stat-count._neg 1 488,0
								+e.p.budget-stat-text млрд руб.
						+e.budget-total
							+e.SPAN.budget-total-title дефицит бюджета
							+e.SPAN.budget-total-count._blue 8,0
							+e.SPAN.budget-total-text млрд руб.
						+e.budget-total
							+e.SPAN.budget-total-title изменение государственного долга
							+e.SPAN.budget-total-count 1,0
							+e.SPAN.budget-total-text млн руб.
					+e.output-calc(data-option='opt4')
						+e.budget-stats
							+e.budget-stat
								+e.P.budget-stat-title доходы
								+e.P.budget-stat-count._pos 1 279,0
								+e.P._budget-stat-text млрд руб.
							+e.budget-stat
								+e.P.budget-stat-title расходы
								+e.P.budget-stat-count._neg 1 288,0
								+e.p.budget-stat-text млрд руб.
						+e.budget-total
							+e.SPAN.budget-total-title дефицит бюджета
							+e.SPAN.budget-total-count._blue 2,0
							+e.SPAN.budget-total-text млрд руб.
						+e.budget-total
							+e.SPAN.budget-total-title изменение государственного долга
							+e.SPAN.budget-total-count 1,0
							+e.SPAN.budget-total-text млн руб.
				+widget-card-bottom-link()


mixin widget-card-gov-programs
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner.service
			+widget-card().widget-card-gov-programs
				+widget-card-head('Государственные программы', false, true)
				+widget-card-content()
					.service-dot-cont.service-dot-cont_act#serv-d-2
						.dashed-diagram.service__dashed-diagram
							.dashed-diagram__diagram#diagram-8
								.dashed-diagram__value.dashed-diagram__value_top
									span план
									p.dashed-diagram__value-p 1 637,3
								.dashed-diagram__value.dashed-diagram__value_bottom
									p.dashed-diagram__value-p 1 167,7
									| факт
						p.service__capt Программные расходы
					.service-dot-cont#serv-d-1
						.dashed-diagram.service__dashed-diagram
							.dashed-diagram__diagram#diagram-9
								.dashed-diagram__value.dashed-diagram__value_top
									span план
									p.dashed-diagram__value-p 113,4
								.dashed-diagram__value.dashed-diagram__value_bottom
									p.dashed-diagram__value-p 46,5
									| факт
						p.service__capt Непрограммные направления деятельности
					.service-dots
						button(data-cont="serv-d-1").service-dots__btn
						button(data-cont="serv-d-2").service-dots__btn.active
				+widget-card-bottom-link()

mixin widget-card-invest-program
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-invest-program
				+widget-card-head('Адресная инвестиционная программа', 'на 2016 год, млрд. руб.')
				+widget-card-content()
					.segment-diagram#diagram-6
						.segment-diagram__value
							span Всего
							p.segment-diagram__value-num 347,2
						p.segment-diagram__floating.segment-diagram__floating_green#floating_diagram-6-0 Медицина
							span 150,7
						p.segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-6-1 Образование
							span 60,8
						p.segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-6-2 Строительство
							span 35,2
						p.segment-diagram__floating.segment-diagram__floating_gray#floating_diagram-6-3 Прочее
							span 100,5
					ul.diagram-tabs.service__diagram-tabs
						li.diagram-tabs__item.diagram-tabs__item_green
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_house#button_diagram-6-0 157,4
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Медицина
						li.diagram-tabs__item.diagram-tabs__item_violet
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_edu#button_diagram-6-1 149,9
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Образование
						li.diagram-tabs__item.diagram-tabs__item_blue
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_med#button_diagram-6-2 64,7
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Строительство
						li.diagram-tabs__item.diagram-tabs__item_gray
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_other#button_diagram-6-3 112,1
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Прочее
				+widget-card-bottom-link()

//- вариант виджета с 3 пиктограммами
mixin widget-card-gov-debt
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-gov-debt
				+widget-card-head('Государственный долг Государственный долг Государственный долг', false, false, true)
				+widget-card-content()
					.segment-diagram#diagram-7
						.segment-diagram__value
							span Всего
							p.segment-diagram__value-num 77,2
						p.segment-diagram__floating.segment-diagram__floating_green#floating_diagram-7-0 Бюджетные&nbsp;кредиты
							span 21,4
						p.segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-7-1 Внутренний&nbsp;долг
							span 28,8
						p.segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-7-2 Внешний&nbsp;долг
							span 48,4
					ul.diagram-tabs.service__diagram-tabs
						li.diagram-tabs__item.diagram-tabs__item_green
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_bank#button_diagram-7-0 21,4
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Бюджетные кредиты
						li.diagram-tabs__item.diagram-tabs__item_blue
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_bag#button_diagram-7-1 28,8
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Внутренний долг
						li.diagram-tabs__item.diagram-tabs__item_violet
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_build#button_diagram-7-2 48,4
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Внешний долг
				+widget-card-bottom-link()

//- вариант виджета с 4 пиктограммами
mixin widget-card-gov-debt-alt
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-gov-debt-alt.widget-card-gov-debt
				+widget-card-head('Государственный долг', false, false, true)
				+widget-card-content()
					.segment-diagram#diagram-71
						.segment-diagram__value
							span Всего
							p.segment-diagram__value-num 77,2
						p.segment-diagram__floating.segment-diagram__floating_green#floating_diagram-71-0 Бюджетные&nbsp;кредиты
							span 21,4
						p.segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-71-1 Внутренний&nbsp;долг
							span 28,8
						p.segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-71-2 Внешний&nbsp;долг
							span 48,4
						p.segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-71-3 Прочее
							span 48,4
					ul.diagram-tabs.service__diagram-tabs
						li.diagram-tabs__item.diagram-tabs__item_green
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_bank#button_diagram-71-0 21,4
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Бюджетные кредиты
						li.diagram-tabs__item.diagram-tabs__item_blue
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_bag#button_diagram-71-2 28,8
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Внутренний долг
						li.diagram-tabs__item.diagram-tabs__item_violet
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_build#button_diagram-71-1 48,4
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Внешний долг
						li.diagram-tabs__item.diagram-tabs__item_gray
							a(href="#").diagram-tabs__btn.diagram-tabs__btn_other#button_diagram-71-3 0,01
								span.diagram-tabs__span-hov
								span.diagram-tabs__span-js
							p.diagram-tabs__caption Прочее
				+widget-card-bottom-link()


mixin widget-card-cities
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-cities
				+widget-card-head('Москва и города мира')
				+widget-card-content()
					+e.logo
						img(src='assets/images/logo.png', data-option='moscow').active
						img(src='assets/images/coat/london.png', data-option='london')
						img(src='assets/images/coat/paris.png', data-option='paris')
						img(src='assets/images/coat/berlin.png', data-option='berlin')
					+e.select
						+selectbox-cities('select', getData('widget-card-selectbox-cities')).selectbox-cities
					+e.select
						+selectbox('select', getData('widget-card-selectbox-cities2'))
					+e.results._active(data-option='moscow')
						+e.results-total._active 12 500 тысяч человек
						+e.results-rating
							+e.results-pos 8 место
							+e.results-in из 8 крупнейших городов мира
					+e.results(data-option='london')
						+e.results-total._active 12 500 тысяч человек
						+e.results-rating
							+e.results-pos 8 место
							+e.results-in из 8 крупнейших городов мира
					+e.results(data-option='paris')
						+e.results-total._active 12 500 тысяч человек
						+e.results-rating
							+e.results-pos 8 место
							+e.results-in из 8 крупнейших городов мира
					+e.results(data-option='berlin')
						+e.results-total._active 12 500 тысяч человек
						+e.results-rating
							+e.results-pos 8 место
							+e.results-in из 8 крупнейших городов мира
				+widget-card-bottom-link()

mixin widget-card-gov-programs-result
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-gov-programs-result
				+widget-card-head('Результаты реализации государственных программ')
				+widget-card-content()
					+e.select
						+selectbox('select', getData('widget-card-selectbox-with-icon-period')).selectbox-for-widgets

					+e.nav-buttons
						+arrow-button()._prev.widget-card__arrow-button
						+arrow-button()._next.widget-card__arrow-button
					+e.info-block-items._active(data-option='opt1')
						+e.info-block-item._active Будет построено 10 новых стадионов
						+e.info-block-item Будет построено 11 новых стадионов
						+e.info-block-item Будет построено 12 новых стадионов
					+e.info-block-items(data-option='opt2')
						+e.info-block-item._active Будет построено 13 новых стадионов
						+e.info-block-item Будет построено 14 новых стадионов
						+e.info-block-item Будет построено 15 новых стадионов
					+e.info-block-items(data-option='opt3')
						+e.info-block-item._active Будет построено 16 новых стадионов
						+e.info-block-item Будет построено 17 новых стадионов
						+e.info-block-item Будет построено 18 новых стадионов
					+e.info-block-items(data-option='opt4')
						+e.info-block-item._active Будет построено 19 новых стадионов
						+e.info-block-item Будет построено 20 новых стадионов
						+e.info-block-item Будет построено 21 новых стадионов
				+widget-card-bottom-link()

mixin widget-card-social-support
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-social-support
				+widget-card-head('Социальная поддержка населения')
				+widget-card-content()
					+e.select
						+selectbox('select', getData('widget-card-selectbox-with-icon')).selectbox-for-widgets
					+e.nav-buttons
						+arrow-button()._prev.widget-card__arrow-button
						+arrow-button()._next.widget-card__arrow-button
					+e.info-block-items._active(data-option="opt1")
						+e.info-block-item._active Компенсация понесенных расходов на ритуальные услуги умерших инвалидов и участников Великой Отечественной войны 1941-1945 годов
						+e.info-block-item второй блок
						+e.info-block-item третий блок
					+e.info-block-items(data-option="opt2")
						+e.info-block-item._active Компенсация понесенных расходов на ритуальные услуги умерших инвалидов и участников Великой Отечественной войны 1941-1945 годов
						+e.info-block-item второй блок
						+e.info-block-item третий блок
					+e.info-block-items(data-option="opt3")
						+e.info-block-item._active Компенсация понесенных расходов на ритуальные услуги умерших инвалидов и участников Великой Отечественной войны 1941-1945 годов
						+e.info-block-item второй блок
						+e.info-block-item третий блок
					+e.info-block-items(data-option="opt4")
						+e.info-block-item._active Компенсация понесенных расходов на ритуальные услуги умерших инвалидов и участников Великой Отечественной войны 1941-1945 годов
						+e.info-block-item второй блок
						+e.info-block-item третий блок
				+widget-card-bottom-link()

mixin widget-card-polls
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-polls
				+widget-card-head('Опрос общественного мнения Опрос общественного мнения Опрос общественного мнения Опрос общественного мнения', 'Примите участие в опросах')
				+widget-card-content()
					+e.nav-buttons
						+arrow-button()._prev.widget-card__arrow-button
						+arrow-button()._next.widget-card__arrow-button
					+e.info-block._active
						+e.info._opt1._active
							+e.info-block-title Как сделать портал еще удобнее?
							+e.info-block-date до 30.01.2017
							+widget-card-bottom-link(false, 'Пройти опрос')._gradiented
						+e.info._opt2
							+e.info-block-title Как сделать портал еще интереснее?
							+e.info-block-date до 30.01.2017
							+widget-card-bottom-link(false, 'Пройти опрос')._gradiented
						+e.info._opt3
							+e.info-block-title Как сделать портал еще смешнее?
							+e.info-block-date до 30.01.2017
							+widget-card-bottom-link(false, 'Пройти опрос')._gradiented
				+widget-card-bottom-link()

mixin widget-card-polls-pers
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-polls-pers
				+widget-card-head('Опрос общественного мнения')
				+widget-card-content()
					+e.info-block._active
						+e.info._opt1._active
							+e.info-block-subtitle Вы можете пройти следующие опросы:
							+e.info-block-title Как сделать портал еще интереснее?
							+e.info-block-date до 30.01.2017
						+e.info._opt2
							+e.info-block-subtitle Вы можете пройти следующие опросы:
							+e.info-block-title Как сделать портал еще удобнее?
							+e.info-block-date до 30.01.2017
						+e.info._opt3
							+e.info-block-subtitle Вы можете пройти следующие опросы:
							+e.info-block-title Как сделать портал еще смешнее?
							+e.info-block-date до 30.01.2017
					+e.nav-buttons
						+arrow-button()._prev.widget-card__arrow-button
						+arrow-button()._next.widget-card__arrow-button
				+widget-card-content()
					+e.info-block._active
						+e.info._opt1._active
							+e.info-block-subtitle Вы приняли участие в опросах:
							+e.info-block-title Как сделать портал еще интереснее?
						+e.info._opt2
							+e.info-block-subtitle Вы приняли участие в опросах:
							+e.info-block-title Как сделать портал еще удобнее?
						+e.info._opt3
							+e.info-block-subtitle Вы приняли участие в опросах:
							+e.info-block-title Как сделать портал еще смешнее?
					+e.nav-buttons
						+arrow-button()._prev.widget-card__arrow-button
						+arrow-button()._next.widget-card__arrow-button
				+widget-card-bottom-link()


mixin widget-card-quiz
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-quiz
				+widget-card-head('Викторины', 'Проверь свои знания в викторине')
				+widget-card-content()
					+e.nav-buttons
						+arrow-button()._prev.widget-card__arrow-button
						+arrow-button()._next.widget-card__arrow-button
					+e.info-block._active
						+e.info._opt1._active
							+e.info-block-title История бюджета города Москвы во второй половине XX – начале ХХI века История бюджета города Москвы во второй половине XX – начале ХХI века
							+e.info-block-date Создана 30.01.2017
							+widget-card-bottom-link(false, 'Пройти викторину')._gradiented
						+e.info._opt2
							+e.info-block-title История бюджета города Москвы во первой половине XX – начале ХХI века История бюджета города Москвы во первой половине XX – начале ХХI века
							+e.info-block-date Создана 30.01.2017
							+widget-card-bottom-link(false, 'Пройти викторину')._gradiented
						+e.info._opt3
							+e.info-block-title История бюджета города Москвы в третьей(?) половине XX – начале ХХI века История бюджета города Москвы в третьей(?) половине XX – начале ХХI века
							+e.info-block-date Создана 30.01.2017
							+widget-card-bottom-link(false, 'Пройти викторину')._gradiented
				+widget-card-bottom-link()

mixin widget-card-quiz-pers
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-quiz-pers
				+widget-card-head('Викторины')
				+widget-card-content()
					+e.info-block._active
						+e.info._opt1._active
							+e.info-block-subtitle Вы можете пройти следующие викторины:
							+e.info-block-title История бюджета города Москвы во второй половине XX – начале ХХI века
							+e.info-block-date до 30.01.2017
						+e.info._opt2
							+e.info-block-subtitle Вы можете пройти следующие викторины:
							+e.info-block-title История бюджета города Москвы во первой половине XX – начале ХХI века
							+e.info-block-date до 30.01.2017
						+e.info._opt3
							+e.info-block-subtitle Вы можете пройти следующие викторины:
							+e.info-block-title История бюджета города Москвы в третьей(?) половине XX – начале ХХI века
							+e.info-block-date до 30.01.2017
					+e.nav-buttons
						+arrow-button()._prev.widget-card__arrow-button
						+arrow-button()._next.widget-card__arrow-button
				+widget-card-content()
					+e.info-block._active
						+e.info._opt1._active
							+e.info-block-subtitle Вы приняли участие в викторинах:
							+e.info-block-title История бюджета города Москвы во второй половине XX – начале ХХI века
						+e.info._opt2
							+e.info-block-subtitle Вы приняли участие в викторинах:
							+e.info-block-title История бюджета города Москвы во первой половине XX – начале ХХI века
						+e.info._opt3
							+e.info-block-subtitle Вы приняли участие в викторинах:
							+e.info-block-title История бюджета города Москвы в третьей(?) половине XX – начале ХХI века
					+e.nav-buttons
						+arrow-button()._prev.widget-card__arrow-button
						+arrow-button()._next.widget-card__arrow-button
				+widget-card-bottom-link()


mixin widget-card-municipalities
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-municipalities
				+widget-card-head('Внутригородские муниципальные образования')
				+widget-card-content()
					+e.map._moscow
						//img(src='assets/images/map_mini2.png')
						+svg-map-moscow()
					+e.search
						+searchFormWidget('регион 1', 'Введите название субъекта РФ')
					+e.select
						+selectbox('select', getData('widget-card-selectbox-vmo'))
					+e.results._active
						+e.results-total._active(data-option='opt1') 57 700 человек
						+e.results-total(data-option='opt2') 57 700 кв.м
						+e.results-total(data-option='opt3') 57 700 децибел
						+e.results-total(data-option='opt4') 57 700 атомов
				+widget-card-bottom-link()

mixin widget-card-budget-web
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-budget-web
				+widget-card-head('Бюджетная сеть', 'Сводная информация о сети государственных учреждений г. Москвы')
				+widget-card-content()
					+e.map._moscow
						//img(src='assets/images/map_mini2.png')
						+svg-map-moscow()
					+e.search
						+searchFormWidget('регион 1', 'Введите название района Москвы')
					+e.select
						+selectbox('select', getData('widget-card-selectbox-with-icon2')).selectbox-for-widgets
					+e.nav-buttons
						+arrow-button()._prev.widget-card__arrow-button
						+arrow-button()._next.widget-card__arrow-button
					+e.results._active(data-option='opt1')
						+e.results-total._active 12 детских садов
						+e.results-total 13 школ
						+e.results-total 14 больниц
					+e.results(data-option='opt2')
						+e.results-total._active 13 детских садов
						+e.results-total 14 школ
						+e.results-total 15 больниц
					+e.results(data-option='opt3')
						+e.results-total._active 14 детских садов
						+e.results-total 15 школ
						+e.results-total 16 больниц
					+e.results(data-option='opt4')
						+e.results-total._active 15 детских садов
						+e.results-total 16 школ
						+e.results-total 17 больниц
				+widget-card-bottom-link()

mixin widget-card-projects
	.tile__item.ui-state-default&attributes(attributes)
		.tile__inner
			+widget-card().widget-card-projects
				+widget-card-head('Общественно значимые проекты')
				+widget-card-content()
					+e.nav-buttons
						+arrow-button()._prev.widget-card__arrow-button
						+arrow-button()._next.widget-card__arrow-button
					+e.info-block._active
						+e.info._opt1._active
							+e.info-block-title Перинатально-кардиологоческий корпус Городской клинической больницы № 67
							+e.info-block-subtitle Результаты ввода
							+e.info-block-desc Оказание современной амбулаторной помощи 17 тыс. женщинам ежегодно
						+e.info._opt2
							+e.info-block-title Перинатально-кардиологоческий корпус Городской клинической больницы № 68
							+e.info-block-subtitle Результаты ввода
							+e.info-block-desc Оказание современной амбулаторной помощи 18 тыс. женщинам ежегодно
						+e.info._opt3
							+e.info-block-title Перинатально-кардиологоческий корпус Городской клинической больницы № 69
							+e.info-block-subtitle Результаты ввода
							+e.info-block-desc Оказание современной амбулаторной помощи 19 тыс. женщинам ежегодно
				+widget-card-bottom-link()

mixin depfin-services-main()
	+b.SECTION.depfin-services-main
		.wrap&attributes(attributes)
			+page-header('Сервисы')
			+e.P.description.load-anim-fade(data-delay="1500")
				+e.B Сервисы
				| &nbsp;— это интерактивные инструменты изучения информации на бюджетную тематику. Заходя в любой из сервисов, Вы сможете в простой и понятной форме изучить информацию в различных срезах.
			//.tile.load-anim-fade(data-delay="1500")
				.sortable
			+services-cards-sortable()(data-delay="1500")._main
				+widget-card-gov-programs()
				+widget-card-invest-program()
				+widget-card-gov-debt()
				+widget-card-gov-debt-alt()
				+widget-card-cities()
				+widget-card-gov-programs-result()
				+widget-card-polls()
				+widget-card-polls-pers()
				+widget-card-municipalities()
				+widget-card-social-support()
				+widget-card-calc()
				+widget-card-calc-pers()
				+widget-card-quiz()
				+widget-card-quiz-pers()
				+widget-card-edu()
				+widget-card-edu-pers()
				+widget-card-regions()
				+widget-card-budget-web()
				+widget-card-projects()
