.depfin-services-main {
  background: #282635 url(../images/depfin-services-main/bg.jpg) 50% 0 / cover no-repeat;
  color: #000;

  .wrapper {
    @media (max-width: 1140px) {
      padding-left: 75px;
      padding-right: 75px;
    }

    @media (max-width: 900px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 580px) {
      padding-left: 27px;
      padding-right: 27px;
    }
  }
  .widget-card__head {
    cursor: pointer;
    cursor: move;
  }
  .sortable {
    margin: 0;
    padding: 0;
  }

  .service-dots button {
    width: 9px;
    height: 9px;
  }

  .tile__inner.service {
    min-height: inherit;
    padding: 0;
    background: none;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;

    &::before {
      display: none;
    }
  }

	&__description {
		max-width: 650px;
		font-size: 16px;
		line-height: 22px;
    letter-spacing: 1px;
		color: $color-white;
		margin-top: 35px;

    @media (max-width: 900px) {
      margin-top: 30px;
    }

    @media (max-width: 580px) {
      margin-top: 12px;
    }
	}

  .tile {
    margin: 34px -5px 0;

    @media (max-width: 1140px) {
      margin: 34px -10px 0;
    }

    @media (max-width: 900px) {
      margin: 43px -10px 0;
    }

    @media (max-width: 580px) {
      margin: 34px -10px 0;
    }
  }

  .tile__item {
    width: 25%;
    //height: 400px;
    display: block;
    width: calc(100%/4);
    //padding: 0 5px;
    margin-bottom: 14px;

    @media (max-width: 1140px) {
      width: 33.333%;
      width: calc(100%/3);
      //padding: 0 10px;
      margin-bottom: 37px;
    }

    @media (max-width: 900px) {
      width: 50%;
      width: calc(100%/2);
      //padding: 0 10px;
      margin: 0 auto;
      margin-bottom: 28px;
    }

    @media (max-width: 580px) {
      width: 100%;
      margin-bottom: 13px;
      height: inherit;
    }

  }
  .tile__inner {
    //width: 100%;
    margin: 0;
  }

  &__stages {
    position: relative;
  }

  //.widget-card__title h3 {
  //  @media (max-width: 768px) {
  //    max-width: 245px;
  //  }
  //  @media (max-width: 600px) {
  //    max-width: 175px;
  //  }
  //  @media (max-width: 580px) {
  //    width: 92%;
  //    max-width: 360px;
  //  }
  //  @media (max-width: 430px) {
  //    width: 85%;
  //    max-width: 190px;
  //  }
  //}

  // .widget-card__arrow-open {
  //   @media (max-width: 580px) {
  //     right: 0;
  //     left: auto;
  //   }
  // }


@media (max-height: 610px) and (max-width: 900px) {
  .service {
    min-height: inherit;
    height: inherit;
  }
}


  //переопределяем дефолтные стили, а то разваливаются карточки
  @media (max-height: 610px) and (max-width: 900px) {
    .service__capt {
      font-size: 15px;
      margin-bottom: 10px;
    }

    .service__dashed-diagram {
      height: 195px;
    }

    .service-dots {
      bottom: 52px;
    }

    .diagram-tabs {
      height: 84px;
      bottom: 41px;
      &__caption {
        height: 28px;
        line-height: 30px;
        font-size: 14px;
      }
      &__btn {
        height: 55px;
        min-width: 53px;
        font-size: 18px;
        text-align: left;
        padding: 7px 11px;

        &::before {
          display: block;
          height: 21px;
          width: 25px;
          background-image: url(../images/sprite.png);
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: auto;
          top: 0;
          margin-right: 0;
        }
        &_other::before {
          background-position: -234px 7px;
        }

        &_house::before {
          background-position: -207px 0;
        }
        &_build::before {
          background-position: -180px -45px;
        }
        &_bag::before {
          background-position: -180px -21px;
        }
        &_bank::before {
          background-position: -180px 0;
        }
      }
    }
  }
}

.services-cards {
  margin: 20px -5px 0;
  .tile {
    height: auto;
    margin: 0 !important;
  }
  .tile__item {
    margin: 0 0 14px !important;
    min-width: 273px !important;
    width: 25% !important;
    
    @media screen and (min-width: 881px) and (max-width: 1170px) {
      width: 33.3333% !important;
    }
    @media screen and (min-width: 571px) and (max-width: 880px) {
      width: 50% !important;
    }
    @media screen and (max-width: 570px) {
      min-width: 0 !important;
      width: 100% !important;
      max-width: 273px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  .tile__inner {
    margin: 5px !important;
    height: 420px !important;
    width: auto !important;
  }
  .widget-card {
    height: 100%;
  }
  &_dropdown {
    padding-bottom: 56px;
    .tile {
      max-width: none;
    }
    .tile__item {
      margin: 0 2px !important;
      min-width: 0 !important;
      width: 273px !important;
    }
  }
  &_main {
    .tile__item {
      @media screen and (min-width: 631px) and (max-width: 970px) {
        width: 50% !important;
      }
      @media screen and (max-width: 630px) {
        min-width: 0 !important;
        width: 100% !important;
        max-width: 273px !important;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
    .tile__inner {
      @media screen and (max-width: 580px) {
        height: auto !important;
      }
    }
  }
}
