.login-form__text {
  display: block;
  width: 100%;
  padding: 10px !important;
  background: #FFF;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #BFBFBF;
  font-size: 18px;
  color: #000;
}
