.login-form__text {
  display: block;
  width: 100%;
  padding: 10px !important;
  background: #FFF;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #BFBFBF;
  font-size: 18px;
  color: #000;
}

.login-form__submit:hover {
	background: #e7ce00;
}

.popup-reset {
  width: 580px;
  margin: -163px 0 0 -290px;
  padding-bottom: 45px;
}

.return-popup {
  display: block; position: absolute; width: 20px; height: 20px; top: 0; right: -35px; background: url("../images/sprite.png") no-repeat -183px -90px;
}

.login-form_reg label {
  display: inline-block;
  position: absolute;
  top: 54px;
  right: 0;
  max-width: 255px;
  padding: 18px 10px 10px 38px;
  border: 1px solid #c7c7c7;
  background: #fff;
  color: $color-black;
  z-index: 2;
  
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    top: -20px;
    border: 10px solid transparent;
    border-bottom: 10px solid #faab20;
  }
    
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 18px;
    height: 18px;
    border: 1px solid transparent;
    border-radius: 2px;
    background: #faab20 url(../images/exclamation-mark.png) 50% 50%/contain no-repeat;
    background-size: 12px;
  }
}
