mixin popup-wrapper()
  #popup-wrapper
    // POPUP(Login)
    .popup-login.popup-window#login
      .tab
        .tab__buttons
          a(href="#tab1").tab__btn.tab__btn_active Войти
          a(href="#tab2").tab__btn Регистрация
        .popup-login__wrap
          p.popup-login__p С помощью
          ul.social-lg.popup-login__social-lg
            li.social-lg__item
              a(href="#").social-lg__a.social-lg__a_fb
            li.social-lg__item
              a(href="#").social-lg__a.social-lg__a_tw
            li.social-lg__item
              a(href="#").social-lg__a.social-lg__a_vk
            li.social-lg__item
              a(href="#").social-lg__a.social-lg__a_ok
            li.social-lg__item
              a(href="#").social-lg__a.social-lg__a_g
            li.social-lg__item
              a(href="#").social-lg__a.social-lg__a_ya
            li.social-lg__item
              a(href="#").social-lg__a.social-lg__a_sm
          p.popup-login__p или
          // TAB
          .tab__content.tab__content_vis(id="tab1")
            form(action="l.php", method="POST").login-form
              .login-form__field
                div.overlabel e-mail
                input(id="iemail2", type="email").login-form__text
              .login-form__field.mb-10
                div.overlabel пароль
                input(id="ipassw", type="password").login-form__text
              .mb-15
                a(href="#restore").open-popup.login-form__a Я забыл пароль
              input(type="submit", value="Войти").login-form__submit
          // TAB
          .tab__content(id="tab2")
            form(action="l.php", method="POST").login-form.login-form_reg.mb-25
              .login-form__field
                div.overlabel ФИО
                input(id="i-fio-1", type="text", name="ifio1").login-form__text
              .login-form__field
                div.overlabel e-mail
                input(id="i-email-3", type="email", name="iemail3").login-form__text
              .login-form__field
                div.overlabel пароль
                input(id="i-passw-1", type="password", name="ipassw1").login-form__text
              input(type="submit", value="Зарегистрироваться").login-form__submit
            p.popup-login__caption Нажимая на кнопку «Регистрация», вы подтверждаете свое согласие с условиями предоставления услуг (!{'<a href="#agreements" class="open-popup">пользовательское соглашение</a>'})
          // /TAB
      a(href="#").close-popup
    
    // POPUP(Restore)
    .popup-restore.popup-window#restore
      .popup-restore__top Запрос на сброс пароля
      .popup-restore__wrap
        p.popup-restore__p Пожалуйста, укажите Ваш адрес электронной почты.<br> На него будет выслана ссылка для сброса пароля.
        form(action="r.php").login-form
          .login-form__field.mb-30
            label(for="i-email-32").overlabel e-mail
            input(id="i-email-32", type="email").login-form__text
          input(type="submit", value="Отправить").login-form__submit
      a(href="#").close-popup
  
    // POPUP()
    .popup-reset.popup-window#reset
      .popup-restore__top Запрос на сброс пароля
      .popup-restore__wrap
        p.popup-restore__p На ваш мейл выслано письмо для подтверждения регистрации
      a(href="#").close-popup

    // POPUP(agreements)
    .popup-agreements.popup-window#agreements
      .popup-agreements__wrap
        .popup-agreements__tit
          span Условия предоставления услуг
        p Пользователь, регистрируясь на портале «Открытый бюджет города Москвы», обязуется принять настоящее Согласие на обработку персональных данных. Принятием (акцептом) оферты Согласия является регистрация на портале или предоставление персональных данных в формах обратной связи, размещенных на сайте.<br>Основанием для обработки персональных данных являются ст. 24 Конституции Российской Федерации, ст.6 Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных», иные федеральные законы и нормативно-правовые акты.
        p Пользователь дает согласие на обработку своих персональных данных, то есть совершение, в том числе, следующих действий: обработку (включая сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, обезличивание, уничтожение персональных данных), при этом общее описание вышеуказанных способов обработки данных приведено в Федеральном законе от 27.07.2006 № 152-ФЗ, а также на передачу такой информации третьим лицам, в случаях, установленных нормативными документами вышестоящих органов и законодательством.
        .bottom
          a(href="#login").open-popup вернуться к регистрации
      a(href="#login").open-popup.return-popup
    
    .blackout.popup-window#blackout
      .popup
        .close-popup
        STRONG Вы&nbsp;уверены, что хотите очистить результаты?
        P В&nbsp;этом случае вам прийдется проходить обучающий курс заново.
        .popup-btns
        A.ybtn(data-answer="yes") Да, хочу
        A.ybtn(data-answer="no") Нет, не&nbsp;хочу

    .popup-video.popup-window#video
      .close-popup
      
    .popup-delete-accept.popup-window#delaccept
      .close-popup
      p Вы уверены, что хотите удалить<br> эту страницу из Избранного?
      .popup-btns
        A.ybtn(data-delete="yes") Да
        A.ybtn(data-delete="no") Отменить
    
    #mask
