.login-form__text {
  display: block;
  width: 100%;
  padding: 10px !important;
  background: #FFF;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #BFBFBF;
  font-size: 18px;
  color: #000;
}

.login-form__submit:hover {
	background: #e7ce00;
}

.popup-reset {
  width: 580px;
  margin: -163px 0 0 -290px;
  padding-bottom: 45px;
}

.return-popup {
  display: block; position: absolute; width: 20px; height: 20px; top: 0; right: -35px; background: url("../images/sprite.png") no-repeat -183px -90px;
}

.popup-window#error {
  box-shadow: 0 6px 8px rgba(0,0,0,.4);

  .popup-restore__top {
    background-color: #eb212e;
  }
}
