include ../page-header/page-header

mixin budgetary-policy()
  section.d-abs-content.d-budjet-cards_bg.sections__item
    .d-layer.load-anim-fade(data-delay="1400")
      .d-si__head
        +page-header('Бюджетная политика Москвы', ['О БЮДЖЕТЕ', 'БЮДЖЕТНАЯ СИСТЕМА'], true)
      p.d-abs__head_descr.load-anim-fade(data-delay="1600") Совокупность мер, реализуемых органами государственной власти и&nbsp;направленных на&nbsp;повышение эффективности управления общественными финансами города Москвы
      #carousel
        .ar-left
        .carousel-count#count
        .ar-right
        .carousel-area__left
          .carousel-area__left__zone(data-speed="1")
          .carousel-area__left__zone(data-speed="2")
          .carousel-area__left__zone(data-speed="3")
          .carousel-area__left__zone(data-speed="4")
        .carousel-area__right
          .carousel-area__right__zone(data-speed="4")
          .carousel-area__right__zone(data-speed="3")
          .carousel-area__right__zone(data-speed="2")
          .carousel-area__right__zone(data-speed="1")
        carousel-3d(:width="660", :height="600", :border="0", :display="9", :autoplay="false", :autoplayHoverPause="true", :space="83", :perspective="0", :inverse-scaling="4", :minSwipeDistance="0")
          slide(:index="0")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Повышение доходного потенциала бюджета города Москвы
              ul.d-slide__body_list
                li Поддержка инвестиционной и&nbsp;инновационной активности субъектов предпринимательской деятельности;
                li Создание стабильных и&nbsp;предсказуемых условий ведения экономической деятельности;
                li Совершенствование налогооблажения имущества юридических и&nbsp;физических лиц, учитывающего реальную стоимость объектов налогооблажения;
                li Развитие туристической деятельности;
                li Регулирование арендных ставок и&nbsp;условий предоставления городского имущества в&nbsp;аренду;
                li Продажа низкодоходной городской собственности;
              button.d-slide__more Читать далее
          slide(:index="1")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Обеспечение бюджетной стабильности и&nbsp;устойчивости
              ul.d-slide__body_list
                li Выполнение в&nbsp;полном объеме принятых социальных обязательств;
                li Социальные выплаты, льготы и&nbsp;гарантии, предоставляемые гражданам;
                li Повышение адресности оказания социальной поддержки;
              button.d-slide__more Читать далее
          slide(:index="2")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с&nbsp;внутригородскими муниципальными образованиями в&nbsp;городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований;
                li Обеспечение сбалансированности местных бюджетов;
                li Повышение финансовой самостоятельности внутригородских муниципальных образований;
              button.d-slide__more Читать далее
          slide(:index="3")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Обеспечение прозрачности и&nbsp;открытости бюджетного процесса
              ul.d-slide__body_list
                li Совершенствование инструментов порталете Правительства Москвы &laquo;Открытый бюджета города Москвы&raquo;;
                li Конкурс проектов &laquo;Бюджет для граждан&raquo;;
                li Оперативная публикация информации о&nbsp;городском бюджете;
                li Предоставление информации о&nbsp;бюджете города в&nbsp;понятной и&nbsp;доступной форме;
                li Обратная связь с&nbsp;жителями города;
                li Повышения уровня бюджетной и&nbsp;финансовой грамотности населения;
              button.d-slide__more Читать далее
          slide(:index="4")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
              button.d-slide__more Читать далее
          slide(:index="5")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
              button.d-slide__more Читать далее
          slide(:index="6")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
              button.d-slide__more Читать далее
          slide(:index="7")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
              button.d-slide__more Читать далее
          slide(:index="8")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
              button.d-slide__more Читать далее
          slide(:index="9")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
              button.d-slide__more Читать далее
