/* stylelint-disable */
.d-budjet-cards_bg {
  background-image: url(../images/depfin-about-budjet/about-budjet-cards-bg.jpg) !important;
  background-size: cover;

  .page-head__title {
    text-transform: none;
  }

  @media (max-width: 1000px) {
    #carousel {
      text-align: center;

      @include clearfix;
    }

    .ar-left {
      float: left;
    }

    .ar-right {
      float: right;
    }

    .carousel-count {
      width: inherit;
    }
  }

}

.d-abs-content {
  width: 100%;
  background: url(../images/depfin-about-budjet/about-budjet-sys-bg.jpg) no-repeat;
  background-size: cover;
  padding: 40px 0 80px;
  font-weight: 500;
}

.d-abs-content {
  padding-top: 165px;
}

.d-abs-content {
  overflow: hidden;
}

.d-layer {
  max-width: 1174px;
  margin: 0 auto;
  padding: 0 37px;
}

.d-layer {
  max-width: none;
}

.d-abs-content div, .d-abs__nav li a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.d-si__head {
  position: relative;
  margin-bottom: 51px;
  font-family: $PFDinCompressedPro;
}

.d-si__head {
  max-width: 1174px;
  margin-left: auto;
  margin-right: auto;
}

.d-si__head_descr {
  text-transform: uppercase;
  color: rgba(255, 255, 255, .5);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.d-si__head_p-name {
  color: #fff;
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 500;
  margin-left: -1px;
  float: left;
  line-height: 1;
  margin-top: 3px;
}

.d-si__head_icons {
  float: left;
  margin-left: 22px;
  margin-top: 10px;
}

.d-si__head_icons {
  margin-bottom: 16px;
}

.d-si__icons_item {
  float: left;
  display: block;
}

.d-si__icons_item:nth-child(1) {
  background: url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;
  width: 24px;
  height: 23px;
}

.d-si__icons_item:nth-child(1) {
  background: none;
}

.d-si__icons_item:nth-child(1):hover path {
  stroke: rgb(254, 227, 0);
}

.d-si__icons_item:nth-child(2) {
  background: url(../images/depfin-services-interview/icon-rss.svg) no-repeat;
  width: 16px;
  height: 19px;
  margin-left: 13px;
  margin-top: 3px;
}

.d-si__icons_item:nth-child(2) {
  background: none;
}

.d-si__icons_item:nth-child(2):hover path {
  fill: rgb(254, 227, 0);
}

.d-si__icons_item:nth-child(3) {
  background: url(../images/depfin-services-interview/icon-dl.svg) no-repeat;
  width: 18px;
  height: 18px;
  margin-left: 13px;
  margin-top: 3px;
}

.d-si__icons_item:nth-child(3) {
  background: none;
}

.d-si__icons_item:nth-child(3):hover path {
  fill: rgb(254, 227, 0);
}

.d-si__icons_item path {
  transition: 0.3s;
}

.d-layer::after,
.d-si__head::after,
.d-si__head_icons::after,
.d-si__search-form::after {
  content: '';
  clear: both;
}

.d-layer::after,
.d-si__head::after,
.d-si__head_icons::after {
  display: table;
}

.d-abs__head_descr {
  font-size: 16px;
  color: rgba(255, 255, 255, .8);
  font-weight: 400;
  margin-top: -6px;
}

.d-abs__head_descr {
  margin-top: -8px;
  line-height: 22px;
  letter-spacing: 0.15px;
  font-family: $PFDinTextPro;
}

.d-abs__head_descr {
  /*Не по исходнику*/
/*  padding-left: 204px;
    padding-right: 320px;*/
    padding-left: 0;
    padding-right: 0;
}

#carousel {
  font-size: 0;
}

#carousel {
  position: relative;
}

.carousel-area__left {
  position: absolute;
  left: -37px;
  top: 0;
  bottom: 0;
  width: -webkit-calc((100% - 660px) / 2 + 37px);
  width: calc((100% - 660px) / 2 + 37px);
  z-index: 1;
}

.carousel-area__left__zone {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: url(../images/cursor-left.png), pointer;
}

.carousel-area__left__zone[data-speed="1"] {
  right: 0;
  width: 44px;
}

.carousel-area__left__zone[data-speed="2"] {
  right: 44px;
  width: 38px;
}

.carousel-area__left__zone[data-speed="3"] {
  right: 82px;
  width: 32px;
}

.carousel-area__left__zone[data-speed="4"] {
  right: 114px;
  /* left: 0; */
  width: 32px;
}

.carousel-area__right {
  position: absolute;
  right: -37px;
  top: 0;
  bottom: 0;
  width: -webkit-calc((100% - 660px) / 2 + 37px);
  width: calc((100% - 660px) / 2 + 37px);
  z-index: 1;
}

.carousel-area__right__zone {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: url(../images/cursor-right.png), pointer;
}

.carousel-area__right__zone[data-speed="1"] {
  left: 0;
  width: 44px;
}

.carousel-area__right__zone[data-speed="2"] {
  left: 44px;
  width: 38px;
}

.carousel-area__right__zone[data-speed="3"] {
  left: 82px;
  width: 32px;
}

.carousel-area__right__zone[data-speed="4"] {
  left: 114px;
  /* right: 0; */
  width: 32px;
}

.carousel-3d-slide {
  background-color: #696a79!important;
  -webkit-box-shadow: inset 25px 0 20px #a7a8b8, inset -25px 0 20px #a7a8b8;
  box-shadow: inset 25px 0 20px #a7a8b8, inset -25px 0 20px #a7a8b8;
  overflow: auto !important;
}

.carousel-3d-slide.current {
  -webkit-box-shadow: 74px 0 5px -30px rgba(50, 50, 50, .1), 132px 0 5px -52px rgba(50, 50, 50, .1), 182px 0 5px -70px rgba(50, 50, 50, .1), 225px 0 5px -86px rgba(50, 50, 50, .1), -74px 0 5px -30px rgba(50, 50, 50, .1), -132px 0 5px -52px rgba(50, 50, 50, .1), -182px 0 5px -70px rgba(50, 50, 50, .1), -225px 0 5px -86px rgba(50, 50, 50, .1);
  box-shadow: 74px 0 5px -30px rgba(50, 50, 50, .1), 132px 0 5px -52px rgba(50, 50, 50, .1), 182px 0 5px -70px rgba(50, 50, 50, .1), 225px 0 5px -86px rgba(50, 50, 50, .1), -74px 0 5px -30px rgba(50, 50, 50, .1), -132px 0 5px -52px rgba(50, 50, 50, .1), -182px 0 5px -70px rgba(50, 50, 50, .1), -225px 0 5px -86px rgba(50, 50, 50, .1);
}

.carousel-3d-slide.current {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.carousel-3d-slide:not(.current) {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.carousel-3d-slide:not(.current) {
  -webkit-box-shadow: inset 10px 0 20px 25px #a7a8b8;
  /*box-shadow: inset 0 0 20px 25px #a7a8b8;*/
  box-shadow: inset 0 0 20px 25px #ffffff !important;
}

.d-slide {
  overflow: hidden;
  width: 660px;
  height: 600px;
  background-color: #fff;
  padding-bottom: 10px;
  text-align: center;
}

.carousel-3d-slide .d-slide {
  opacity: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.carousel-3d-slide.current .d-slide {
  opacity: 1;
}

.d-slide__head {
  padding: 35px;
  text-align: left;
}

.d-slide__tax .d-slide__head {
  background: #f76335;
  background: -webkit-linear-gradient(-45deg, #f76335 0, #a30a2e 100%);
  background: -webkit-linear-gradient(315deg, #f76335 0, #a30a2e 100%);
  background: linear-gradient(135deg, #f76335 0, #a30a2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f76335', endColorstr='#a30a2e', GradientType=1);
}

.d-slide__politics .d-slide__head {
  background: -webkit-linear-gradient(-45deg, #1984bc 0, #211e72 100%);
  background: -webkit-linear-gradient(315deg, #1984bc 0, #211e72 100%);
  background: linear-gradient(135deg, #1984bc 0, #211e72 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1984bc', endColorstr='#211e72', GradientType=1);
}

.d-slide__principles .d-slide__head {
  background: #32b654;
  background: -webkit-linear-gradient(-45deg, #32b654 0, #19956a 100%);
  background: -webkit-linear-gradient(315deg, #32b654 0, #19956a 100%);
  background: linear-gradient(135deg, #32b654 0, #19956a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32b654', endColorstr='#19956a', GradientType=1);
}

.d-slide__head h2 {
  color: #fff;
  font-size: 36px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  text-transform: uppercase;
}

.d-slide__body_list {
  width: 660px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 0 35px;
  height: 100%;
  display: block;
  overflow: hidden;
  list-style-type: none;
  text-align: left;
}

.d-slide__tax .d-slide__body_list {
  max-height: 220px;
}

.d-slide__politics .d-slide__body_list {
  max-height: 250px;
}

.d-slide__principles .d-slide__body_list {
  max-height: 420px;
}

.d-slide__body_list li {
  font-family: $PFDinTextPro;
  font-weight: 400;
  padding-left: 24px;
  background: url(../images/depfin-about-budjet/icon-squere.svg) 0 5px no-repeat;
  font-size: 16px;
  line-height: 22px;
  left: 22px;
  margin-bottom: 14px;
}

.d-slide__body_list li {
  color: black;
}

.d-slide__body_list li:last-child {
  margin-bottom: 0;
}

.d-slide__more {
  display: none;
}

.carousel-count {
  width: 100%;
  text-align: center;
  font-size: 32px;
  color: white;
  vertical-align: top;
  font-weight: 400;
}

#carousel .carousel-count {
  display: none;
}

.mobile-carousel {
  position: relative;
  padding-bottom: 50px;
}

.mobile-carousel .d-slide {
  height: 750px;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .3s;
  pointer-events: none;
  z-index: -1;
  margin: auto;
}

.mobile-carousel .d-slide._active {
  position: relative;
  pointer-events: auto;
  opacity: 1;
  z-index: 1;
}

.mobile-carousel .d-slide .d-slide__head {
  flex-shrink: 0;
}

.mobile-carousel .d-slide .d-slide__body_list {
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 1190px) {

  .d-layer {
    padding: 0 66px;
  }

  .d-si__head {
    margin-bottom: 44px;
  }
}

@media screen and (max-width: 1024px) {

  .d-si__head_p-name {
    display: inline;
    float: none;
  }

  .d-si__head_icons {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  #carousel {
    margin-top: 55px;
  }

  #carousel .ar-left {
    background: #fee300 url(../images/ar-left_2.svg) center center no-repeat;
    background-size: 14px;
    width: 54px;
    height: 54px;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0;
    cursor: pointer;
  }

  #carousel .ar-right {
    background: #fee300 url(../images/ar-left_2.svg) center center no-repeat;
    background-size: 14px;
    width: 54px;
    height: 54px;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    cursor: pointer;
  }

  /*Фикс гориз. скролла*/
  .d-slide {
    max-width: 660px;
    width: 100%;
  }

  .d-slide__head {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .d-slide__head h2 {
    font-size: 34px;
    letter-spacing: 0.8px;
    line-height: 43px;
  }

  /*Фикс гориз. скролла*/
  .d-slide__body_list {
    max-width: 660px;
    width: 100%;
  }

  .d-slide__body_list {
    margin-top: 37px;
  }

  .d-slide__body_list li {
    line-height: 22px;
    padding-left: 27px;
    background-position: 3px 7px !important;
  }
}

@media screen and (max-width: 1000px) {

  .d-abs__head_descr {
    padding-right: 0;
    padding-left: 0;
  }

  #carousel {
    margin-top: 26px;
    margin-left: -23px;
    margin-right: -23px;
  }

  #carousel .ar-left,
  #carousel .ar-right {
    display: inline-block;
    top: 0 !important;
    margin-top: 0 !important;
    margin: 0;
    position: absolute;
    width: 45px;
    height: 45px;
    background-size: 12px;
  }

  #carousel .carousel-count {
    display: inline-block;
  }

  .carousel-area__left,
  .carousel-area__right {
    display: none;
  }

  .carousel-count {
    line-height: 45px;
    margin-bottom: 20px;
  }

  #carousel .carousel-count {
    display: inline-block;
  }
}

@media screen and (max-width: 760px) {

  .d-abs-content {
    padding-top: 171px;
    padding-top: 86px;
    padding-top: 75px;
    padding-bottom: 0;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 50% 0;
    background-color: #0c1330;

  }

  .d-layer {
    padding: 0 15px;
  }

  .d-si__head {
    margin-bottom: 23px;
  }

  .d-si__head_descr {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .d-si__head_p-name {
    float: none;
    display: inline;
    font-size: 52px;
    line-height: 48px;
  }

  .d-si__head_icons {
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
    margin-top: 3px;
  }

  #carousel {
    margin-top: 26px;
    margin-left: -23px;
    margin-right: -23px;
  }

  #carousel .ar-left,
  #carousel .ar-right {
    display: inline-block;
    top: 0 !important;
    margin-top: 0 !important;
    margin: 0;
    position: absolute;
    width: 45px;
    height: 45px;
    background-size: 12px;
  }

  #carousel .carousel-count {
    display: inline-block;
  }

  .carousel-area__left,
  .carousel-area__right {
    display: none;
  }

  .carousel-area__left__zone,
  .carousel-area__right__zone {
    cursor: pointer;
  }

  .carousel-3d-container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .carousel-3d-slider {
    width: 100% !important;
    /* height: auto !important; */
    position: static !important;
    margin-bottom: 26px !important;
  }

  .carousel-3d-slide {
    width: 100% !important;
    box-shadow: none !important;
    background: none !important;
    /* height: auto !important; */
    /* display: none !important; */
    /* position: static !important; */
    transform: none !important;
    /* transition: none !important; */
    /* opacity: 1 !important; */
    /* visibility: visible !important; */
  }

  .carousel-3d-slide.current {
    /* display: block !important; */
  }

  .d-slide {
    max-width: 100% !important;
    width: 100%;
    height: auto;
    min-height: 490px;
    padding-bottom: 20px;
  }

  .d-slide__head {
    padding: 23px 16px;
  }

  .d-slide__head h2 {
    letter-spacing: 0.5px;
    font-size: 17px;
    line-height: 22px;
  }

  .d-slide__body_list {
    //max-height: initial !important;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 16px;
    padding-right: 20px;
    padding-bottom: 6px;
    &.active {
      max-height: none;
    }
  }

  .d-slide__body_list li {
    padding-left: 33px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 11px;
    background-position: 15px 7px !important;
    background-size: 5px !important;
  }

  .d-slide__more {
    display: inline-block;
    padding: 14px 19px;
    font-size: 19px;
    line-height: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: #fee300;
    background-color: #293a4a;
    transition: all ease 0.5s;
    margin-top: 14px;

    &:hover {
      opacity: 0.8;
    }

    &.active {
      display: none;
    }
  }

  .carousel-count {
    width: 100%;
    line-height: 45px;
    font-size: 17px;
    margin-bottom: 0;
  }

  #carousel .carousel-count {
    display: inline-block;
  }

  .mobile-carousel {
    padding-bottom: 0;
  }

  .mobile-carousel .d-slide {
    height: auto;
  }

  .mobile-carousel .d-slide .d-slide__body_list {
    height: auto;
    overflow: hidden;
  }
}

@media screen and (max-width: 639px) {
  .carousel-count {
    width: 100%;
  }
}
