include ../page-header/page-header

mixin budgetary-policy()
  section.d-abs-content.d-budjet-cards_bg.sections__item
    .d-layer
      .d-si__head
        +page-header('Бюджетная политика Москвы', ['О БЮДЖЕТЕ', 'БЮДЖЕТНАЯ СИСТЕМА'], true)
      p.d-abs__head_descr.load-anim-fade(data-delay="1500") Совокупность мер, реализуемых органами государственной власти и&nbsp;направленных на&nbsp;повышение эффективности управления общественными финансами города Москвы
    .load-anim-fade(data-delay="1800")
      #carousel
        .ar-left.three-slide
        .carousel-count#count
        .ar-right.three-slide
        .carousel-area__left
          .carousel-area__left__zone(data-speed="1")
          .carousel-area__left__zone(data-speed="2")
          .carousel-area__left__zone(data-speed="3")
          .carousel-area__left__zone(data-speed="4")
        .carousel-area__right
          .carousel-area__right__zone(data-speed="4")
          .carousel-area__right__zone(data-speed="3")
          .carousel-area__right__zone(data-speed="2")
          .carousel-area__right__zone(data-speed="1")
        carousel-3d(:width="660", :height="600", :border="0", :display="9", :autoplay="false", :autoplayHoverPause="true", :space="83", :perspective="0", :inverse-scaling="4", :minSwipeDistance="0")
          slide(:index="0")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Обеспечение устойчивости и стабильности бюджетной системы города Москвы
              .d-slide__body
                .d-slide__body-wrapper
                  ul.d-slide__body_list.scroll-pane
                    li.none 
                      | Устойчивость и стабильность бюджетной системы Москвы будет достигаться путем повышения доходного потенциала бюджета города и эффективности расходования бюджетных средств, а также путем реализации консервативной политики в сфере управления государственным долгом, направленной на его минимизацию.
                      br
                      | Таким образом, несмотря на увеличение расходов, параметры дефицита и государственного долга бюджета на 2017 год и плановый период 2018 и 2019 годов будут значительно ниже предельных значений, установленных Бюджетным кодексом Российской Федерации.
              button.d-slide__more Читать далее
          slide(:index="1")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Безусловное выполнение действующих и принимаемых обязательств
              .d-slide__body
                .d-slide__body-wrapper
                  ul.d-slide__body_list.scroll-pane
                    li.none Реализация указанной цели будет заключаться в выполнение в полном объеме принятых обязательств, в том числе путем осуществления всех  выплат, представления льгот и гарантий гражданам.
              button.d-slide__more Читать далее
          slide(:index="2")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              .d-slide__body
                .d-slide__body-wrapper
                  ul.d-slide__body_list.scroll-pane
                    li.none Проводимая бюджетная политика в сфере межбюджетных отношений обеспечивает повышение финансовой самостоятельности и устойчивое развитие внутригородских муниципальных образований и сохранит реализуемые направления: обеспечение сбалансированности бюджетов внутригородских муниципальных образования и финансовое обеспечение переданных государственных полномочий и софинансирование полномочий ВМО.
              button.d-slide__more Читать далее
          slide(:index="3")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Обеспечение прозрачности и открытости бюджетного процесса
              .d-slide__body
                .d-slide__body-wrapper
                  ul.d-slide__body_list.scroll-pane
                    li.none Будет продолжено совершенствование, наполнение и развитие функционала портала Правительства Москвы «Открытый бюджет города Москвы», которая включает в себя:
                      ul.d-slide__body_list.width595
                        li оперативную публикацию информации о городском бюджете;
                        li предоставление информации о бюджете города в понятной и доступной форме;
                        li повышение уровня бюджетной грамотности населения.
              button.d-slide__more Читать далее
          slide(:index="4")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Социальная направленность бюджета
              .d-slide__body
                .d-slide__body-wrapper
                  ul.d-slide__body_list.scroll-pane
                    li.none 54% общего объема расходов бюджета составляют расходы социального характера.
              button.d-slide__more Читать далее
          slide(:index="5")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Сохранение достаточной доли бюджета развития
              .d-slide__body
                .d-slide__body-wrapper
                  ul.d-slide__body_list.scroll-pane
                    li.none Около 25% от общего объема расходов направляется на финансирование Адресной инвестиционной программы.
              button.d-slide__more Читать далее
