mixin budgetary-policy()
  .d-abs-content.d-budjet-cards_bg
    .d-layer
      .d-si__head
        .d-si__head_descr Бюджетная система
        .d-si__head_p-name бюджетная политика москвы
        .d-si__head_icons
          a(href="#" title="Добавить в избранное").d-si__icons_item
            svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="24.25px", height="23.25px")
              path(fill-rule="evenodd", stroke="#d0ccd3", stroke-width="1.5px", stroke-linecap="butt", stroke-linejoin="miter", fill="none", d="M11.754,0.753 L16.158,6.282 L22.764,8.773 L18.880,14.680 L18.559,21.748 L11.754,19.870 L4.950,21.748 L4.628,14.680 L0.744,8.773 L7.350,6.282 L11.754,0.753 Z")
          a(href="#" title="Поделиться").d-si__icons_item
            svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="16px", height="19px")
              path(fill-rule="evenodd", fill="#d0ccd3", d="M13.141,5.781 C12.504,5.781 11.921,5.564 11.446,5.208 L5.643,8.583 C5.689,8.788 5.719,9.000 5.719,9.219 C5.719,9.573 5.646,9.908 5.530,10.221 L11.390,13.664 C11.869,13.309 12.455,13.094 13.094,13.094 C14.699,13.094 16.000,14.416 16.000,16.047 C16.000,17.678 14.699,19.000 13.094,19.000 C11.489,19.000 10.188,17.678 10.188,16.047 C10.188,15.715 10.254,15.401 10.353,15.103 L4.426,11.620 C3.975,11.918 3.438,12.094 2.859,12.094 C1.280,12.094 -0.000,10.807 -0.000,9.219 C-0.000,7.631 1.280,6.344 2.859,6.344 C3.598,6.344 4.265,6.633 4.772,7.095 L10.439,3.799 C10.345,3.512 10.281,3.210 10.281,2.891 C10.281,1.294 11.561,-0.000 13.141,-0.000 C14.720,-0.000 16.000,1.294 16.000,2.891 C16.000,4.487 14.720,5.781 13.141,5.781 Z")
          a(href="#" title="Скачать").d-si__icons_item
            svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="18px", height="18px")
              path(fill-rule="evenodd", fill="#d0ccd3", d="M-0.000,18.000 L-0.000,16.000 L18.000,16.000 L18.000,18.000 L-0.000,18.000 ZM9.014,13.014 C9.014,13.014 6.791,10.861 4.998,8.982 C4.056,7.996 4.316,6.997 5.253,6.997 C6.055,6.997 7.009,6.997 8.000,6.997 L8.000,-0.000 L10.000,-0.000 L10.000,6.997 C11.084,6.997 12.126,6.997 12.974,6.997 C13.728,6.997 14.203,7.801 13.220,8.793 C11.458,10.570 9.014,13.014 9.014,13.014 Z")
      p.d-abs__head_descr Совокупность мер, реализуемых органами государственной власти и&nbsp;направленных на&nbsp;повышение эффективности управления общественными финансами города Москвы
      #carousel
        .ar-left
        .carousel-count#count
        .ar-right
        .carousel-area__left
          .carousel-area__left__zone(data-speed="1")
          .carousel-area__left__zone(data-speed="2")
          .carousel-area__left__zone(data-speed="3")
          .carousel-area__left__zone(data-speed="4")
        .carousel-area__right
          .carousel-area__right__zone(data-speed="4")
          .carousel-area__right__zone(data-speed="3")
          .carousel-area__right__zone(data-speed="2")
          .carousel-area__right__zone(data-speed="1")
        carousel-3d(:width="660", :height="600", :border="0", :display="9", :autoplay="false", :autoplayHoverPause="true", :space="83", :perspective="0", :inverse-scaling="4", :minSwipeDistance="0")
          slide(:index="0")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Повышение доходного потенциала бюджета города Москвы
              ul.d-slide__body_list
                li Поддержка инвестиционной и&nbsp;инновационной активности субъектов предпринимательской деятельности;
                li Создание стабильных и&nbsp;предсказуемых условий ведения экономической деятельности;
                li Совершенствование налогооблажения имущества юридических и&nbsp;физических лиц, учитывающего реальную стоимость объектов налогооблажения;
                li Развитие туристической деятельности;
                li Регулирование арендных ставок и&nbsp;условий предоставления городского имущества в&nbsp;аренду;
                li Продажа низкодоходной городской собственности;
          slide(:index="1")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Обеспечение бюджетной стабильности и&nbsp;устойчивости
              ul.d-slide__body_list
                li Выполнение в&nbsp;полном объеме принятых социальных обязательств;
                li Социальные выплаты, льготы и&nbsp;гарантии, предоставляемые гражданам;
                li Повышение адресности оказания социальной поддержки;
          slide(:index="2")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с&nbsp;внутригородскими муниципальными образованиями в&nbsp;городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований;
                li Обеспечение сбалансированности местных бюджетов;
                li Повышение финансовой самостоятельности внутригородских муниципальных образований;
          slide(:index="3")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Обеспечение прозрачности и&nbsp;открытости бюджетного процесса
              ul.d-slide__body_list
                li Совершенствование инструментов порталете Правительства Москвы &laquo;Открытый бюджета города Москвы&raquo;;
                li Конкурс проектов &laquo;Бюджет для граждан&raquo;;
                li Оперативная публикация информации о&nbsp;городском бюджете;
                li Предоставление информации о&nbsp;бюджете города в&nbsp;понятной и&nbsp;доступной форме;
                li Обратная связь с&nbsp;жителями города;
                li Повышения уровня бюджетной и&nbsp;финансовой грамотности населения;
          slide(:index="4")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
          slide(:index="5")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
          slide(:index="6")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
          slide(:index="7")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
          slide(:index="8")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
          slide(:index="9")
            .d-slide.d-slide__politics
              .d-slide__head
                h2 Совершенствование межбюджетных отношений с внутригородскими муниципальными образованиями в городе Москве
              ul.d-slide__body_list
                li Обеспечение устойчивого социально-экономического развития внутригородских муниципальных образований
                li Обеспечение сбалансированности местных бюджетов
                li Повышение финансовой самостоятельности внутригородских муниципальных образований
