//- Модификаторы
//- ._shadow - Добавляет тень
//- ._rounded - Добавляет кнопке border-radius
//- ._circle - Добавляет border-radius: 50%
//- ._kind_blue - Снияя кнопка
//- ._kind_red - Красная кнопка
//- ._kind_red-border - Прозрачная кнопка с красной обводкой
//- ._kind_blue-border - Прозрачная кнопка с синей обводкой

//- Модификаторы иконки
//- ._kind_caret - размеры, цвет - для иконки ">"
//- ._right - иконка справа
//- ._left - иконка слева

mixin button()
    +b('button').button&attributes(attributes)
      block
