.d-si-content div{-webkit-box-sizing:border-box;box-sizing:border-box}
.d-si-content{width:100%;background:url(../images/depfin-services-interview/content-bg.jpg) no-repeat;background-size:cover;padding:40px 0 80px;font-family:PFDinCondensedPro;font-weight:500}
.d-si-content {padding-top:175px}
@media screen and (max-width:1190px) { /* для 1024 */
  .d-si-content {background:#0f1a41 url(../images/edu_bg.jpg) top center no-repeat; background-size:100%}
}
@media screen and (max-width:760px) { /* для 640 */
  .d-si-content {background:#101b42 url(../images/edu_bg.jpg) top center no-repeat; background-size:100%}
}
@media screen and (max-width:700px) {
  .d-si-content {padding-top:94px;}
}

.d-layer::after{display:table}
.d-layer::after{content:'';clear:both}
.d-layer{max-width:1174px;margin:0 auto;padding:0 37px}
@media screen and (max-width:1190px) { /* для 1024 */
  .d-layer {    padding: 0 66px 0 66px;}
}
@media screen and (max-width:760px) { /* для 640 */
  .d-layer {padding: 0 23px 0 23px;}
}
@media screen and (max-width:639px) { /* для 320 */
  .d-layer {padding: 0 15px 0 15px;}
}


.d-si__head::after {display:table}
.d-si__head::after {content:'';clear:both}
.d-si__head{position:relative;margin-bottom:51px;font-family:PFDinCompressedPro}
.d-si__head_descr{text-transform:uppercase;color:rgba(255,255,255,.5);font-size:16px;font-weight:500;line-height:1}.d-si__head_p-name{color:#fff;text-transform:uppercase;font-size:72px;font-weight:500;margin-left:-1px;float:left;line-height:1;margin-top:3px}.d-si__head_icons{float:left;margin-left:22px;margin-top:10px}.d-si__icons_item{float:left;display:block}.d-si__icons_item:nth-child(1){background:url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;width:24px;height:23px}.d-si__icons_item:nth-child(2){background:url(../images/depfin-services-interview/icon-rss.svg) no-repeat;width:16px;height:19px;margin-left:13px;margin-top:3px}.d-si__icons_item:nth-child(3){background:url(../images/depfin-services-interview/icon-dl.svg) no-repeat;width:18px;height:18px;margin-left:13px;margin-top:3px}.d-si__search,.d-si__submit{height:32px;margin-top:-5px}
.d-si__head_p-name br {display:none;}
.d-si__head_icons {margin-bottom:16px;}
.d-si__head_icons {display: inline-block; float: none; vertical-align: top;}
.d-si__head_p-name {display:inline; float:none}

@media screen and (max-width:1190px) { /* для 1024 */
  .d-si__head {margin-bottom:44px;}
}
@media screen and (max-width:760px) { /* для 640 */
  /* EDU RESULT */
  .d-si__head_descr {font-size:19px; margin-bottom:9px; }
  .d-si__head_p-name {font-size:73px; float:none; display:inline; line-height:71px;}
  .d-si__head_p-name br {display:block;}
  .d-si__head_icons {float:none; display:inline-block; vertical-align:top; margin-left: 6px; margin-top: 5px;}
  .d-si__head {margin-bottom:26px;}
  .d-si__head_p-name {font-size:71px; line-height:67px}
}
@media screen and (max-width:639px) { /* для 320 */
  .d-si__head_descr {font-size:16px; margin-bottom:4px;}
  .d-si__head_p-name {font-size:53px; line-height:49px;}
  .d-si__head_icons {margin-top:3px;}
  .d-si__head {margin-bottom: 23px;}
  .d-si__head_p-name {font-size: 52px; line-height: 48px;}
}

.d-si__icons_item{float:left;display:block}
.d-si__icons_item:nth-child(1){background:url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;width:24px;height:23px;}
.d-si__icons_item:nth-child(2){background:url(../images/depfin-services-interview/icon-rss.svg) no-repeat;width:16px;height:19px;margin-left:13px;margin-top:3px;}
.d-si__icons_item:nth-child(3){background:url(../images/depfin-services-interview/icon-dl.svg) no-repeat;width:18px;height:18px;margin-left:13px;margin-top:3px;}
.d-si__icons_item:nth-child(1) {background:none}
.d-si__icons_item:nth-child(2) {background:none}
.d-si__icons_item:nth-child(3) {background:none}

.d-si__icons_item path {transition:0.3s;}

.d-si__icons_item:nth-child(1):hover path {stroke:rgb(254, 227, 0);}
.d-si__icons_item:nth-child(2):hover path {fill:rgb(254, 227, 0);}
.d-si__icons_item:nth-child(3):hover path {fill:rgb(254, 227, 0);}
.d-si__icons_item{float:left;display:block}
.d-si__icons_item:nth-child(1){background:url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;width:24px;height:23px;}
.d-si__icons_item:nth-child(2){background:url(../images/depfin-services-interview/icon-rss.svg) no-repeat;width:16px;height:19px;margin-left:13px;margin-top:3px;}
.d-si__icons_item:nth-child(3){background:url(../images/depfin-services-interview/icon-dl.svg) no-repeat;width:18px;height:18px;margin-left:13px;margin-top:3px;}

.dstudy__descr_containder::after{content:'';display:table;clear:both}
@media screen and (max-width:1190px) { /* для 1024 */

.dstudy__descr_containder {margin-right:23%; }

.dstudy__descr_containder .d-study__clear-res {position: absolute; right: 65px; margin-top: 9px;}
}
@media screen and (max-width:760px) { /* для 640 */
  .dstudy__descr_containder {margin-right:0; position:relative;}
  .dstudy__descr_containder {margin-right:0; position:relative;}
}
@media screen and (max-width:639px) { /* для 320 */
  .dstudy__descr_containder .d-study__clear-res {margin-top:33px;}
}

.d-study__descr{font-family:PFDinPro;max-width:800px;float:left}.d-study__descr p{color:#fff;font-size:16px;font-weight:300;line-height:22px}.d-study__descr p strong{font-weight:700}.d-study__clear-res{display:block;float:right;padding-left:33px;background:url(../images/depfin-study/icon-broom.png) 0 50% no-repeat;color:#fee300;text-transform:uppercase;font-family:PFDinCondensedPro;font-weight:700;font-size:16px}
@media screen and (max-width:760px) { /* для 640 */
.d-study__descr {font-family:inherit;    letter-spacing: 1.15px;}
.d-study__descr p {font-size: 18px; font-weight: 300; line-height: 26px;}

}
@media screen and (max-width:639px) { /* для 320 */
  .d-study__descr p {font-size:16px; line-height:22px;}
}

/*+++++++++++++++++*/

.d-study__finish{background:#FFF;padding:46px;margin-top:36px}.d-study__finish:after,.d-study__finish:before{content:"";display:block;width:100%;clear:both;float:none}
.d-study__finish {color:black}
@media screen and (max-width:1190px) { /* для 1024 */
.d-study__finish {padding: 38px 46px 40px 38px;}
}
@media screen and (max-width:760px) { /* для 640 */
.d-study__finish {margin-top: 39px; padding: 38px 15px 33px 30px;}
}
@media screen and (max-width:639px) { /* для 320 */
.d-study__finish {margin-top:26px!important;    padding: 32px 18px 30px 18px!important;}
}

.d-study__total{position:relative;float:left;width:380px;height:266px;line-height:266px;text-align:center;font-size:70px;font-weight:500;background:url(../images/depfin-study/depfin_services_study_finish.svg) center no-repeat;background-size:265px 266px}
.d-study__total {background:none; position:relative;}
.d-study__total canvas {top:50%; left:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%)}
@media screen and (max-width:1190px) { /* для 1024 */
.d-study__total {width:242px; height:242px;     background-size: 242px 242px; line-height: 243px; font-size:63px;}
}
@media screen and (max-width:760px) { /* для 640 */
.d-study__total {width: 220px; height: 220px; background-size: 220px 220px; line-height: 220px; font-size: 57px;}
.d-study__total canvas {width:220px; height:220px;}
}
@media screen and (max-width:639px) { /* для 320 */
.d-study__total {width: 188px; height: 188px; background-size: 188px 188px; line-height: 192px; font-size: 40px; margin: 0 auto; float: none;}
.d-study__total canvas {width:188px; height:188px;}
}

.d-study__success-message{float:right;width:-webkit-calc(100% - 380px);width:calc(100% - 380px);padding:56px 0 0 16px}.d-study__congrat{font-size:47px;line-height:47px;margin-bottom:16px;font-weight:500;text-transform:uppercase}
@media screen and (max-width:1190px) { /* для 1024 */
.d-study__success-message {padding-top:22px;    width: calc(100% - 254px);}
}
@media screen and (max-width:760px) { /* для 640 */
.d-study__success-message {padding-top: 0px; width: calc(100% - 232px);}
}
@media screen and (max-width:639px) { /* для 320 */
.d-study__success-message {float:none; margin-top:24px; display: block; width: 100%!important; padding: 0;}
}

.d-study__congrat{font-size:47px;line-height:47px;margin-bottom:16px;font-weight:500;text-transform:uppercase}
@media screen and (max-width:1190px) { /* для 1024 */
.d-study__congrat {font-size:40px;}
}
@media screen and (max-width:760px) { /* для 640 */
.d-study__congrat {font-size: 41px; margin-bottom: 9px;}
}
@media screen and (max-width:639px) { /* для 320 */
.d-study__congrat {font-size:30px!important; margin-bottom:6px!important;}
}

.d-study__congrat{font-size:47px;line-height:47px;margin-bottom:16px;font-weight:500;text-transform:uppercase}
@media screen and (max-width:1190px) { /* для 1024 */
.d-study__congrat {font-size:40px;}
}
@media screen and (max-width:760px) { /* для 640 */
.d-study__congrat {font-size: 41px; margin-bottom: 9px;}
}
@media screen and (max-width:639px) { /* для 320 */
.d-study__congrat {font-size:30px; margin-bottom:6px;}
}

.d-study__share [class*="-sn_"]:hover{opacity:.8}
.d-study__share{margin-top:55px}.d-study__share-heading{font-size:17px;line-height:17px;font-weight:400;margin-bottom:10px}.d-study__share-sns{font-size:0}.d-study__share [class*="-sn_"]{display:inline-block;width:36px;height:36px;margin-right:14px;background:url(../images/depfin-study/social-icons.png) center no-repeat;border-radius:50%}.d-study__share-sn_fb{background-position:0 0!important}.d-study__share-sn_tw{background-position:-50px 0!important}.d-study__share-sn_vk{background-position:-100px 0!important}
@media screen and (max-width:1190px) { /* для 1024 */
.d-study__share-heading {font-size:19px;}
}
@media screen and (max-width:760px) { /* для 640 */
.d-study__share [class*="-sn_"] {width:50px; height:50px; position:relative; background-position:50% 50% !important;}

.d-study__share-sn_fb {background:#4664a8 url(../images/fb.svg) center center no-repeat !important; background-size: 12px !important;}
.d-study__share-sn_tw {background:#31bdf7 url(../images/tw.svg) center center no-repeat !important; background-size: 20px !important;}
.d-study__share-sn_vk {background:#5e83a9 !important}
.d-study__share-sn_vk:before {content:'В'; color:white; font-weight:700; font-family:'Arial'; font-size:21.44px; position:absolute; left:0; top:0; text-align:center; width:100%; height:100%; line-height:51px;}


.d-study__share {margin-top: 28px;}
.d-study__share-sn_tw {background-position: -68px 0!important;}
.d-study__share-sn_vk {background-position: -136px 0!important;}

.d-study__share-heading {letter-spacing: 0.9px; margin-bottom: 14px;}
}
@media screen and (max-width:639px) { /* для 320 */
.d-study__share {margin-top: 30px!important;}
.d-study__share [class*="-sn_"] {width: 44px!important; height: 44px!important; background-size: auto 44px; margin-right:18px;}
.d-study__share-sn_vk {background-position: -122px 0!important;}
.d-study__share-sn_tw {background-position: -60px 0!important;}
.d-study__share-heading {margin-bottom:18px!important;}
.d-study__share-sn_vk:before {line-height:44px!important;}
}

.d-study__lessons_item{text-decoration:none;-webkit-transition:all .3s ease;transition:all .3s ease}
.d-study__lessons::after,.d-study__lessons_row::after,.dstudy__descr_containder::after{content:'';display:table;clear:both}.d-study__lessons{margin-top:40px}.d-study__lessons_row{width:100%;margin-bottom:10px}.d-lesson_topic,.d-study__lessons_item{display:block;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}.d-study__lessons_row:last-child{margin-bottom:0}.d-study__lessons_item{display:-webkit-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:360px;height:160px;border:1px solid #c1a40a;float:left;margin-right:10px;padding:20px 10px 10px 23px}.d-study__lessons_item:last-child{margin-right:0}.d-study__lessons_item:hover{border-color:#fee300;background-color:#fee300}.d-study__lessons_item:hover .d-lesson_topic{color:#000}.d-study__lessons_item:hover .d-lesson_head{color:rgba(0,0,0,.4)}
.d-study__finish+.d-study__lessons{margin-top:24px}
@media screen and (max-width:1190px) { /* для 1024 */
.d-study__finish+.d-study__lessons {margin-top:39px;}
.d-study__lessons_row {white-space:nowrap; margin-bottom:7px;}
.d-study__lessons_item {float:none; display:inline-block;    width: 32.4%;     margin-right: 0.9%;    padding: 23px 17px 10px 17px; white-space:normal}
}
@media screen and (max-width:760px) { /* для 640 */
.d-study__finish+.d-study__lessons {margin-top:50px;}
.d-study__lessons_item {width:100%; margin-right:0; display:block; height:auto;    padding: 20px 17px 41px 17px;}
.d-study__lessons_item + .d-study__lessons_item {margin-top:10px;}
}
@media screen and (max-width:639px) { /* для 320 */
.d-study__finish+.d-study__lessons {margin-top: 41px;}
.d-study__lessons_item {padding: 17px 17px 47px 17px;}
}

.d-lesson_topic{display:block;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}.d-study__lessons_row:last-child{margin-bottom:0}
.d-lesson_topic{font-family:PFDinCondensedPro;text-transform:uppercase;font-size:24px;font-weight:500}
.d-lesson_head{color:#fee300}.d-lesson_topic{color:#fff;display:-webkit-box;height:85px}.d-lesson__done{border-color:#83ca14;background:url(../images/depfin-study/icon-ok.svg) 90% 20px no-repeat}.d-lesson__done .d-lesson_topic{color:#83ca14}
@media screen and (max-width:1190px) { /* для 1024 */
.d-lesson_head, .d-lesson_topic {font-size:20px;}
.d-lesson_topic {margin-top: 15px; line-height: 23px;}
.d-lesson__done {background: url(../images/depfin-study/icon-ok.svg) 92% 20px no-repeat;}
}
@media screen and (max-width:760px) { /* для 640 */
.d-lesson_head, .d-lesson_topic {font-size:24px;}
.d-lesson_topic {margin-top: 13px; line-height: 25px; height:auto}
.d-lesson__done {background: url(../images/depfin-study/icon-ok.svg) 97% 15px no-repeat;}
}
@media screen and (max-width:639px) { /* для 320 */
.d-lesson_head, .d-lesson_topic {font-size: 20px;}
.d-lesson__done {background: url(../images/depfin-study/icon-ok.svg) 96% 14px no-repeat;}
}

