mixin edu-service()
  +b.edu-service&attributes(attributes)

    +b.blackout
      .popup
        .close-popup
        strong Вы&nbsp;уверены, что хотите очистить результаты?
        p В&nbsp;этом случае вам прийдется проходить обучающий курс заново.
        p.pupup-btns
          a.ybtns Да, хочу
          a.ybtns Нет, не&nbsp;хочу

    .sections

      .d-abs-content

        .d-layer
          +b.d-si.__head
            +e.head_descr сервисы
            +e.head_p-name обучающий сервис
            +e.head_icons
              +e.A(href='#').icons_item
                | SVG Иконка
              +e.A(href='#').icons_item
                | SVG Иконка
          +b.d-study.__descr_containder
            +e.descr
              +e.P
                strong Цель сервиса
                | &nbsp;— сформировать общее представление о бюджетной системе, повысить уровень бюджетной грамотности и понимания вопросов, связанных с общественными финансами. Кроме того, Вам будет легче работать с материалами, размещенными на портале Правительства Москвы &laquo;Открытый бюджет города Москвы&raquo;.
            +e.A(href='#').clear-res
              | Очистить
              br
              | результаты

          +b.d-study.__lessons
            +e.lessons_row
              +e.A(href='/moscowbudget/edu_service_question.html').lessons_item.d-lesson__done
                .d-lesson_head урок 1:
                .d-lesson_topic
                  | что такое бюджетная
                  br
                  | система?
              +e.A(href='/moscowbudget/edu_service_question.html').lessons_item
                .d-lesson_head урок 2:
                .d-lesson_topic Зачем используется бюджетная классификация?
              +e.A(href='/moscowbudget/edu_service_question.html').lessons_item
                .d-lesson_head урок 3:
                .d-lesson_topic Как формируется бюджет?

            +e.lessons_row
              +e.A(href='/moscowbudget/edu_service_question.html').lessons_item
                .d-lesson_head урок 4:
                .d-lesson_topic
                  | Что такое бюджет
                  br
                  | &nbsp;и из чего он состоит?
              +e.A(href='/moscowbudget/edu_service_question.html').lessons_item
                .d-lesson_head урок 5:
                .d-lesson_topic
                  | Что такое доходы
                  br
                  | &nbsp;и откуда они поступают?
              +e.A(href='/moscowbudget/edu_service_question.html').lessons_item
                .d-lesson_head урок 6:
                .d-lesson_topic
                  | Что такое расходы
                  br
                  | &nbsp;и на что они направлены?

            +e.lessons_row
              +e.A(href='/moscowbudget/edu_service_question.html').lessons_item.d-lesson__done
                .d-lesson_head урок 7:
                .d-lesson_topic Зачем нужны источники финансирования дефицита бюджета?
              +e.A(href='/moscowbudget/edu_service_question.html').lessons_item
                .d-lesson_head урок 8:
                .d-lesson_topic
                  | Что такое
                  br
                  | &nbsp;государственный долг?
              +e.A(href='/moscowbudget/edu_service_question.html').lessons_item
                .d-lesson_head урок 9:
                .d-lesson_topic Что такое межбюджетные трансферты?



