include ../page-header/page-header

mixin edu-service()
  .d-si-content
    .d-layer.d-layer_small
      .d-si__head
        +page-header('обучающий сервис', ['Сервисы'])

      .dstudy__descr_containder
        .d-study__descr
          P
            strong Цель сервиса
            | &nbsp;— сформировать общее представление о бюджетной системе, повысить уровень бюджетной грамотности и понимания вопросов, связанных с общественными финансами. Кроме того, Вам будет легче работать с материалами, размещенными на портале Правительства Москвы &laquo;Открытый бюджет города Москвы&raquo;.
        A(href='#').d-study__clear-res Очистить<br> результаты
      .d-study__lessons
        .d-study__lessons_row
          A(href='/moscowbudget/edu_service_question.html').d-study__lessons_item.d-lesson__done
            p.d-lesson_head урок 1:
            p.d-lesson_topic что такое бюджетная<br> система?
          A(href='/moscowbudget/edu_service_question.html').d-study__lessons_item
            p.d-lesson_head урок 2:
            p.d-lesson_topic Зачем используется бюджетная классификация?
          A(href='/moscowbudget/edu_service_question.html').d-study__lessons_item
            p.d-lesson_head урок 3:
            p.d-lesson_topic Как формируется бюджет?
        .d-study__lessons_row
          A(href='/moscowbudget/edu_service_question.html').d-study__lessons_item
            p.d-lesson_head урок 4:
            p.d-lesson_topic Что такое бюджет<br> и из чего он состоит?
          A(href='/moscowbudget/edu_service_question.html').d-study__lessons_item
            p.d-lesson_head урок 5:
            p.d-lesson_topic Что такое доходы<br> и откуда они поступают?
          A(href='/moscowbudget/edu_service_question.html').d-study__lessons_item
            p.d-lesson_head урок 6:
            p.d-lesson_topic Что такое расходы<br> и на что они направлены?
        .d-study__lessons_row
          A(href='/moscowbudget/edu_service_question.html').d-study__lessons_item.d-lesson__done
            p.d-lesson_head урок 7:
            p.d-lesson_topic Зачем нужны источники финансирования дефицита бюджета?
          A(href='/moscowbudget/edu_service_question.html').d-study__lessons_item
            p.d-lesson_head урок 8:
            p.d-lesson_topic Что такое<br> государственный долг?
          A(href='/moscowbudget/edu_service_question.html').d-study__lessons_item
            p.d-lesson_head урок 9:
            p.d-lesson_topic Что такое межбюджетные трансферты?
