body {margin: 0}
/*Popup подтверждения очистки результатов*/

/*.blackout {display:none; z-index:5000; position:fixed; top:0; bottom:0; left:0; right:0; width:100%; height:100%; background:rgba(0,0,0,.6)}

.close-popup { display: block; position: absolute; width: 20px; height: 20px; top: 0; right: -35px; background: url("../images/sprite.png") no-repeat -183px -90px; }
@media (max-width: 580px) { .close-popup { right: 2px; top: 2px; background: #FFF url("../images/sprite.png") no-repeat -183px -90px; } }
.ybtn {display:inline-block; vertical-align:top; background:#fee300; width:48%; text-align:center; text-transform:uppercase; font-size:20px; height:40px; line-height:40px; cursor:pointer}

.popup {position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%,-50%); transform:translate(-50%,-50%); background:white; width:580px; font-size:25px; color:black; padding: 38px 42px 41px 46px;}
.popup strong {font-weight: bold; text-transform: uppercase; font-size: 24px;}
.popup p {text-align: center; font-family: PFDinPro; font-size: 15.7px; margin-top: 17px;}
.popup-btns {margin-top:65px; padding: 0 27px 0 7px; font-size:0;}
.ybtn {display:inline-block; vertical-align:top; background:#fee300; width:48%; text-align:center; text-transform:uppercase; font-size:20px; height:40px; line-height:40px; cursor:pointer}
.popup-btns .ybtn + .ybtn {margin-left:4%;}
.popup .close-popup {right:-41px; cursor:pointer;}

@media screen and (max-width:700px) {
    .popup .close-popup {right: 5px; top: -28px;}
    .blackout {min-width:320px;}
    .popup {width:91%; padding: 25px 15px 25px 15px; text-align:center}
    .popup-btns {padding:0}
}
*/

.d-si-content div{-webkit-box-sizing:border-box;box-sizing:border-box}
.d-si-content{width:100%;background:url(../images/depfin-services-interview/content-bg.jpg) no-repeat;background-size:cover;padding:40px 0 80px;font-family:PFDinCondensedPro;font-weight:500}
.d-si-content {padding-top:175px}
.d-si-content {background:#0f1a41 url(../images/edu_bg.jpg) top center no-repeat; background-size:100%}
.d-si-content {background:#101b42 url(../images/edu_bg.jpg) top center no-repeat; background-size:100%}
@media screen and (max-width:700px) {
  .d-si-content {padding-top:94px;}
}
.d-layer::after {display:table}
.d-layer::after {content:'';clear:both}
.d-layer{max-width:1174px;margin:0 auto;padding:0 37px}
.d-layer {padding: 0 66px 0 66px;}
@media screen and (max-width:760px) { /* для 640 */
  .d-layer {padding: 0 23px 0 23px;}
}
@media screen and (max-width:639px) { /* для 320 */
  .d-layer {padding: 0 15px 0 15px;}
}
.d-si__head::after {display:table}
.d-si__head::after {content:'';clear:both}
.d-si__head{position:relative;margin-bottom:51px;font-family:PFDinCompressedPro}
.d-si__head_descr{text-transform:uppercase;color:rgba(255,255,255,.5);font-size:16px;font-weight:500;line-height:1}.d-si__head_p-name{color:#fff;text-transform:uppercase;font-size:72px;font-weight:500;margin-left:-1px;float:left;line-height:1;margin-top:3px}.d-si__head_icons{float:left;margin-left:22px;margin-top:10px}/*.d-si__icons_item{float:left;display:block}.d-si__icons_item:nth-child(1){background:url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;width:24px;height:23px}.d-si__icons_item:nth-child(2){background:url(../images/depfin-services-interview/icon-rss.svg) no-repeat;width:16px;height:19px;margin-left:13px;margin-top:3px}.d-si__icons_item:nth-child(3){background:url(../images/depfin-services-interview/icon-dl.svg) no-repeat;width:18px;height:18px;margin-left:13px;margin-top:3px}*/.d-si__search,.d-si__submit{height:32px;margin-top:-5px}
.d-si__head_p-name br {display:none;}
.d-si__head_icons {margin-bottom:16px;}
.d-si__head_icons {display: inline-block; float: none; vertical-align: top;}
.d-si__head_p-name {display:inline; float:none}

@media screen and (max-width:1190px) { /* для 1024 */
  .d-si__head {margin-bottom:44px;}
}
@media screen and (max-width:760px) { /* для 640 */
  /* EDU RESULT */
  .d-si__head_descr {font-size:19px; margin-bottom:9px; }
  .d-si__head_p-name {font-size:73px; float:none; display:inline; line-height:71px;}
  .d-si__head_p-name br {display:block;}
  .d-si__head_icons {float:none; display:inline-block; vertical-align:top; margin-left: 6px; margin-top: 5px;}
  .d-si__head {margin-bottom:26px;}
  .d-si__head_p-name {font-size:71px; line-height:67px}
}
@media screen and (max-width:639px) { /* для 320 */
  .d-si__head_descr {font-size:16px; margin-bottom:4px;}
  .d-si__head_p-name {font-size:53px; line-height:49px;}
  .d-si__head_icons {margin-top:3px;}
  .d-si__head {margin-bottom: 23px;}
  .d-si__head_p-name {font-size: 52px; line-height: 48px;}
}
/*
.d-si__icons_item{float:left;display:block}
.d-si__icons_item:nth-child(1){background:url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;width:24px;height:23px;}
.d-si__icons_item:nth-child(2){background:url(../images/depfin-services-interview/icon-rss.svg) no-repeat;width:16px;height:19px;margin-left:13px;margin-top:3px;}
.d-si__icons_item:nth-child(3){background:url(../images/depfin-services-interview/icon-dl.svg) no-repeat;width:18px;height:18px;margin-left:13px;margin-top:3px;}
.d-si__icons_item:nth-child(1) {background:none}
.d-si__icons_item:nth-child(2) {background:none}
.d-si__icons_item:nth-child(3) {background:none}

.d-si__icons_item path {transition:0.3s;}

.d-si__icons_item:nth-child(1):hover path {stroke:rgb(254, 227, 0);}
.d-si__icons_item:nth-child(2):hover path {fill:rgb(254, 227, 0);}
.d-si__icons_item:nth-child(3):hover path {fill:rgb(254, 227, 0);}
.d-si__icons_item{float:left;display:block}
.d-si__icons_item:nth-child(1){background:url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;width:24px;height:23px;}
.d-si__icons_item:nth-child(2){background:url(../images/depfin-services-interview/icon-rss.svg) no-repeat;width:16px;height:19px;margin-left:13px;margin-top:3px;}
.d-si__icons_item:nth-child(3){background:url(../images/depfin-services-interview/icon-dl.svg) no-repeat;width:18px;height:18px;margin-left:13px;margin-top:3px;}
*/
.dstudy__descr_containder::after{content:'';display:table;clear:both}
@media screen and (max-width:1190px) { /* для 1024 */
.d-lesson_topic, .d-lesson_head {
  transition: none;
}
.dstudy__descr_containder {margin-right:23%; }

.dstudy__descr_containder .d-study__clear-res {position: absolute; right: 65px; margin-top: 9px;}
}

@media (min-width: 971px) and (max-width: 1070px) {

  .d-study__question_head {
    height: auto !important;
    line-height: 60px;
    font-size: 20px;
    overflow: hidden;
  }
}

@media (max-width: 1140px) {
  .d-sq__head_next, .d-sq__head_prev {
    border: none;
  }
}
@media screen and (max-width:760px) { /* для 640 */
  .dstudy__descr_containder {margin-right:0 !important; position:relative;}
}
@media screen and (max-width:639px) { /* для 320 */
  .dstudy__descr_containder .d-study__clear-res {margin-top:33px;}
}

.d-study__descr{font-family:PFDinPro;max-width:800px;float:left}.d-study__descr p{color:#fff;font-size:16px;font-weight:300;line-height:22px}.d-study__descr p strong{font-weight:700}.d-study__clear-res{display:block;float:right;padding-left:33px;background:url(../images/depfin-study/icon-broom.png) 0 50% no-repeat;color:#fee300;text-transform:uppercase;font-family:PFDinCondensedPro;font-weight:700;font-size:16px}
@media screen and (max-width:760px) { /* для 640 */
.d-study__descr {font-family:inherit;    letter-spacing: 1.15px;}
.d-study__descr p {font-size: 18px; font-weight: 300; line-height: 26px;}

}
@media screen and (max-width:639px) { /* для 320 */
  .d-study__descr p {font-size:16px; line-height:22px;}
}
.d-study__clear-res,.d-study__lessons_item{text-decoration:none;-webkit-transition:all .3s ease;transition:all .3s ease}.d-study__clear-res:hover,.d-study__share [class*="-sn_"]:hover{opacity:.8}.d-study__descr{font-family:PFDinPro;max-width:800px;float:left}.d-study__descr p{color:#fff;font-size:16px;font-weight:300;line-height:22px}.d-study__descr p strong{font-weight:700}.d-study__clear-res{display:block;float:right;padding-left:33px;background:url(../images/depfin-study/icon-broom.png) 0 50% no-repeat;color:#fee300;text-transform:uppercase;font-family:PFDinCondensedPro;font-weight:700;font-size:16px}
.d-study__lessons_item{text-decoration:none;-webkit-transition:all .3s ease;transition:all .3s ease}
/*Изменено правило, мешающее переносу названий уроков на нов. стр.*/
/*.d-study__lessons_item {display: -webkit-box}*/
/*на*/
/*.d-study__lessons_item {display: block}*/
/*.d-study__lessons::after,.d-study__lessons_row::after,.dstudy__descr_containder::after{content:'';display:table;clear:both}.d-study__lessons{margin-top:40px}.d-study__lessons_row{width:100%;margin-bottom:10px}.d-lesson_topic,.d-study__lessons_item{display:block;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}.d-study__lessons_row:last-child{margin-bottom:0}.d-study__lessons_item{display:-webkit-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:360px;height:160px;border:1px solid #c1a40a;float:left;margin-right:10px;padding:20px 10px 10px 23px}.d-study__lessons_item:last-child{margin-right:0}.d-study__lessons_item:hover{border-color:#fee300;background-color:#fee300}*/
.d-study__lessons::after,.d-study__lessons_row::after,.dstudy__descr_containder::after{content:'';display:table;clear:both}.d-study__lessons{margin-top:40px}.d-study__lessons_row{width:100%;margin-bottom:10px}.d-lesson_topic,.d-study__lessons_item{display:block;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}.d-study__lessons_row:last-child{margin-bottom:0}.d-study__lessons_item{display:block;-webkit-box-sizing:border-box;box-sizing:border-box;width:360px;height:160px;border:1px solid #c1a40a;float:left;margin-right:10px;padding:20px 10px 10px 23px}.d-study__lessons_item:last-child{margin-right:0}.d-study__lessons_item:hover{border-color:rgba(254,227,0,.4);background-color:rgba(254,227,0,.5)}
.d-study__lessons_item:hover .d-lesson_head {
  color: #fee300;
}
.d-study__lessons_item:hover .d-lesson_topic {
  color: #fff;
}
@media screen and (max-width:1190px) { /* для 1024 */
.d-study__lessons_row {white-space:nowrap; margin-bottom:7px; }
.d-study__lessons_item {float:none; display:inline-block; vertical-align: middle;;   width: 32.4%;     margin-right: 0.9%;    padding: 23px 17px 10px 17px; white-space:normal}

}
@media screen and (max-width:760px) { /* для 640 */
.d-study__finish+.d-study__lessons {margin-top:50px;}

.d-study__lessons_item {width:100%; margin-right:0; display:block; height:auto;    padding: 20px 17px 41px 17px;}
}
@media screen and (max-width:639px) { /* для 320 */
  .d-study__lessons_item {padding: 17px 17px 47px 17px;}

}
.d-lesson__done{border-color:#83ca14;background:url(../images/depfin-study/icon-ok.svg) 90% 20px no-repeat}.d-lesson__done .d-lesson_topic{color:#83ca14}.d-study__finish{background:#FFF;padding:46px;margin-top:36px}
@media screen and (max-width:1190px) { /* для 1024 */
  .d-lesson__done {background: url(../images/depfin-study/icon-ok.svg) 92% 20px no-repeat;}

}
@media screen and (max-width:760px) { /* для 640 */
  .d-lesson__done {background: url(../images/depfin-study/icon-ok.svg) 97% 15px no-repeat;}

}
@media screen and (max-width:639px) { /* для 320 */
  .d-lesson__done {background: url(../images/depfin-study/icon-ok.svg) 96% 14px no-repeat;}

}
.d-lesson_head {
  font-family:PFDinCondensedPro;text-transform:uppercase;font-size:24px;font-weight:500;
}
.d-lesson_head{color:#fee300}.d-lesson_topic{color:#fff;display:-webkit-box;height:85px}
@media screen and (max-width:1190px) { /* для 1024 */

.d-lesson_head {font-size:20px;}
}
@media screen and (max-width:760px) { /* для 640 */

.d-lesson_head {font-size:24px;}
}
@media screen and (max-width:639px) { /* для 320 */
.d-lesson_head {font-size: 20px;}
}

.d-lesson_topic{color:#fff;display:-webkit-box;height:85px}
.d-lesson_topic{font-family:PFDinCondensedPro;text-transform:uppercase;font-size:24px;font-weight:500}
@media screen and (max-width:1190px) { /* для 1024 */
  .d-lesson_topic {margin-top: 15px; line-height: 23px; font-size: 14px;}

}
@media screen and (max-width:760px) { /* для 640 */
  .d-lesson_topic {margin-top: 13px; line-height: 25px; height:auto}

}
@media screen and (max-width:639px) { /* для 320 */
  .d-lesson_topic {font-size: 20px;}
}
@media screen and (max-width: 760px) {
  .dstudy__descr_containder .d-study__clear-res {
    position: relative !important;
    right: inherit !important;
    margin-top: 30px !important;
    bottom: inherit;
    float: left;
    font-size: 17px;
  }
}
@media screen and (max-width: 760px) {
  .d-study__lessons_item {
    width: 100% !important;
    margin-right: 0 !important;
    display: block !important;
    height: auto;
    padding: 20px 17px 41px !important;
  }
}
