include ../../blocks/button/button
include ../../blocks/tabs/tabs

mixin contest(data)
  +b.contest&attributes(attributes)
    +e.head
      +e.H2.heading= data.title
      +e.P.description= data.description
      +button()._kind_yellow.js-button-proposal Направить заявку
    +e.control
      select.analityc-select
        option 2017
        option(selected) 2016
        option 2015
      .analityc-control-switcher.analityc-control-switcher_con.active
        a(href="#", data-tab-target="rules").active условия
        a(href="#", data-tab-target="result") итоги конкурса
        a(href="#", data-tab-target="winners") победители РФ
    +e.content
      +tabs
        +tabs-tab(data-tab-group="contestInner", data-tab="rules").active
          .contest__rules
            h3.contest__title Условия конкурса
            p.contest__text Департамент финансов города Москвы объявляет о начале ежегодного конкурса проектов «Бюджет для граждан».
            p.contest__text Конкурс учрежден Департаментом финансов в целях обеспечения доступности для граждан информации об управлении общественными финансами, открытости и прозрачности бюджетного процесса города, а также совершенствования работы портала Правительства Москвы «Открытый бюджет города Москвы».
            p.contest__text 
              | Для участия в конкурсе необходимо представить заявки с проектами, соответствующими тематике номинаций.
              br
              | Срок подачи заявок для участия в конкурсе - до 8 августа 2016 года включительно.
              br
              | Итоги конкурса и имена победителей конкурса будут объявлены до 26 августа 2016 года.
              br
              | Победителям будут вручены почетные грамоты и памятные подарки.
            p.contest__text Лучшие проекты, имеющие практическую значимость, будут направлены в Финансовый университет при Правительстве Российской Федерации для участия во всероссийском этапе конкурса проектов по представлению бюджета для граждан. Материалы также будут использованы в работе по развитию портала Правительства Москвы «Открытый бюджет города Москвы».
        +tabs-tab(data-tab-group="contestInner", data-tab="result")
          .contest__result
            h3.contest__title Итоги конкурса
            p.contest__text Департамент финансов города Москвы объявляет о начале ежегодного конкурса проектов «Бюджет для граждан».
        +tabs-tab(data-tab-group="contestInner", data-tab="winners")
          .contest__winners
            h3.contest__title Победители РФ
            p.contest__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      
      //- +e.H4.subtitle Направить заявку на конкурс можно по адресу:
      //- +e.address
      //-   +e.text 
      //-     | 125047, г. Москва, Миусская площадь, д.2/2,
      //-     br
      //-     | а также по электронной почте 
      //-     br
      //-     | Петрушовой Юлии 
      //-     +e.A(href="mailto:YUAPetrushova@fin.dep.mos.ru").email YUAPetrushova@fin.dep.mos.ru 
      //-     br
      //-     | Телефон для справок: +7 (495) 620-20-00 (доб.64327)
