include ../page-header/page-header
include ../../blocks/dropdown-block/dropdown-block

mixin mrelations()
  +b.SECTION.mrelations.section__item&attributes(attributes)
    .wrapper.page-content-wrapper
      +page-header('Межбюджетные оношения', ['Бюджет Москвы'], true).__header
      +e.switcher.load-anim-fade(data-delay="1500")
        +e.P.switcher-text ВЫБЕРИТЕ ТИП<br> ТРАНСФЕРТОВ:
        +e.A(href="#").switcher-text._link из федерального бюджета<br> в бюджет г. Москвы
        +e.A(href="#").switcher-text._link из бюджета г. Москвы во внутригородские<br> муниципальные образования
      +e.scheme.load-anim-fade(data-delay="1500")
        +e.scheme-block._federal
          img(src='assets/images/map_big.png', alt='@@')
          +e.P.scheme-title Федеральный<br> бюджет
        +e.scheme-block._arrow
          +e.A(href='mrelations_transfer_from_fed.html').scheme-arrow
            +e.SPAN.scheme-sum 21,1 млрд руб.
        +e.scheme-block._moscow
          img(src='assets/images/map2.png', alt='@@')
          +e.P.scheme-title Бюджет<br> г. Москвы
        +e.scheme-block._arrow
          +e.A(href='mrelations_transfer_to_vmo.html').scheme-arrow
            +e.SPAN.scheme-sum 4,1 млрд руб.
        +e.scheme-block._innercity
          img(src='assets/images/map4.png', alt='@@')
          +e.P.scheme-title Внутригородские<br> муниципальные<br> образования г. Москвы
      +e.note * По данным на 01.09.2017
    +dropdown().load-anim-fade(data-delay="1700")
