.currency {
  font-size: 14px;
  color: #FFF;

  &__sign {
    display: inline-block;
    color: #C8CCC9;
    margin-right: 7px;
  }

  &__item {
    margin-right: 47px;
    float: left;
  }

  &__diff {
    margin-left: 6px;
    color: #eb212e;
    display: inline-block;
    position: relative;

    &::after {
      display: block;
      content: "";
      position: absolute;
      right: -17px;
      top: 3px;
      width: 8px;
      height: 7px;
      background-image: url("../images/sprite.png");
      background-repeat: no-repeat;
      background-position: -68px -30px;
    }

    &_up {
      color: #66ff00;

      &::after {
        top: 2px;
        background-position: -68px -20px;
      }
    }
  }
}
