.currency {
  font-size: 14px;
  line-height: 1;
  color: #FFF;

  &__sign {
    display: inline-block;
    color: rgba(white, .6);
    margin-right: 4px;
  }

  &__item {
    margin-right: 40px;
    float: left;

    &_right {
      margin-right: 14px;
    }
  }

  &__diff {
    margin-left: 2px;
    color: #eb212e;
    display: inline-block;
    position: relative;

    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      right: -13px;
      width: 8px;
      height: 7px;
      background-image: url("../images/sprite.png");
      background-repeat: no-repeat;
      background-position: -68px -30px;
    }

    &_up {
      color: #66ff00;

      &:after {
        background-position: -68px -20px;
      }
    }
  }
}
