extends ../../layouts/default
include ../../components/polls-task/polls-task

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections('_task')

    block content
      +polls-task()

    block footer
      +footer()
