.reset {
  display: block;
  background-image: url(../images/bg-reset.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 205px;
  padding-bottom: 120px;

	@media (max-width: 580px) {
		padding-top: 105px;
	}	

  &__form {
    margin-top: 17px;
    position: relative;
  }

  &__field {
  	display: inline-block;
  	width: 200px;
  	margin-right: 13px;

  	@media (max-width: 580px) {
  		width: 100%;
  		margin-right: 0;
  	}

  	&_d2 {
	  	@media (max-width: 580px) {
				margin-top: 10px;
	  	}
  	}
  }

  &__label,
  &__text {
  	display: block;
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
    color: $color-white;
    text-transform: uppercase;
  }

  &__text {
    width: 100%;
    font-family: $PFDinTextPro;
		font-size: 18px;
    padding: 5px 10px !important;
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    margin-top: 6px;
  }

  &__submit {
  	display: block;
    width: 161px;
    height: 34px;
    line-height: 38px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 2px 0 #958500;
    background: #fee300;
    border-radius: 2px;	
    transition: .5s;
		font-family: $PFDinTextPro;
    color: #000;
    margin-top: 40px;

		&:hover {
	    background: #e7ce00;
		}
  }
	
  &__errortext {
    margin-top: 10px;
    color: #eb212e;
    position: absolute;
    bottom: 45px;
    display: none;
  }
  
  .d-si__head_icons {
    display: none;
  }
}
