include ../page-header/page-header

mixin reset()
	+b.SECTION.reset.sections__item&attributes(attributes)
		.wrapper.page-content-wrapper
			
			+page-header('Восстановление пароля')

			+e.FORM(action="" method="POST" novalidate data-delay="1500").form.load-anim-fade.js-form-validate

				+e.field._d1
					+e.LABEL(for="r-newpass").label Новый пароль
					+e.INPUT(id="r-newpass" type="password" name="password" value="" required).text

				+e.field._d2
					+e.LABEL(for="r-repeatpass").label Повторите новый пароль
					+e.INPUT(id="r-repeatpass" type="password" name="repeatpassword" value="" required).text
                    
				+e.P.errortext Пароли не совпадают

				+e.INPUT(type="submit", value="Отправить").submit
