include ../icon/icons

mixin checkbox()
  +b.LABEL.checkbox&attributes(attributes)
    +e.INPUT(type='checkbox', id='d-sii__chbox-s-first').control
    +e.box
      +icon('icon-ok-ch').mark
    +e.text
      block
