include ../icon/icons

mixin checkbox()
  +b.LABEL.checkbox&attributes(attributes)
      +e.INPUT(type='checkbox', id='d-sii__chbox-s-first').control
      +e.box
        +icon('check-mark').mark
      +e.P.text
        block

