include ../icon/icons

mixin checkbox(checked)
  +b.LABEL.checkbox&attributes(attributes)
    if checked
      +e.INPUT(type='checkbox', id='d-sii__chbox-s-first', checked=checked).control
      +e.box
        +icon('icon-ok-ch').mark
      +e.text
        block
    else 
      +e.INPUT(type='checkbox', id='d-sii__chbox-s-first').control
      +e.box
        +icon('icon-ok-ch').mark
      +e.text
        block
mixin checkbox-all(checked)
  +b.LABEL.checkbox&attributes(attributes)
    if checked
      +e.INPUT(type='checkbox', name='all', checked=checked).control
      +e.box
        +icon('icon-ok-ch').mark
      +e.text
        block
    else
      +e.INPUT(type='checkbox', name='all').control
      +e.box
        +icon('icon-ok-ch').mark
      +e.text
        block
