include ../page-header/page-header
include ../../blocks/buttons-set/buttons-set
include ../../blocks/icon/icons

mixin classify-new()
  section.sections__item.sections__item_first.sections-budget.budget-classify
    .sections-budget__bg
    .over-layer
      .wrap.wrap_sh
        // AHEAD/
        .ahead
          +page-header('Бюджетная классификация', ['О бюджете'], true)
        // /AHEAD
        // TEXT-BLOCK/
        .text-block.md-ml-0.load-anim-fade(data-delay="1500")
          p.txt.mr-150.md-mr-0 Бюджетная классификация является группировкой доходов и расходов бюджетов всех уровней бюджетной системы и источников финансирования дефицитов этих бюджетов с присвоением объектам классификации группировочных кодов. Бюджетная классификация дает возможность экономического и статистического анализа доходов и расходов бюджетов РФ, обеспечивает адресность выделения финансовых ресурсов.
          .trig.mr-150
            p.trig__tit Бюджетная классификация<br> необходима для определения:
            ul.trig__ul
              li.trig__li целей расходования<br> бюджетных средств;
              li.trig__li задач и курса<br> финансовой политики;
              li.trig__li источников<br> бюджетных ресурсов
          p.txt Бюджетная классификация необходима также для составления и исполнения<br> бюджетов, для обеспечения сопоставимости показателей бюджетов всех уровней.
        // /TEXT-BLOCK

      // CLASSIFY-ITEM/
      .dropdown.dropdown_y.dropdown__btn_active.load-anim-fade(data-delay="1700")
        .wrap.wrap_sh
          a(href="#").dropdown__btn.dropdown__btn_y.dropdown__btn_active Классификация доходов бюджетов
          .dropdown__content.dropdown__content_db
            .pt-50.xs-pt-10.on-hover-parent-1
              +buttons-set(getData('buttons-set-classify'))
              //.code-example
                p.code-example__tit пример Кода классификации доходов
                .code-example__item
                  a(href="#", data-hover-index="9", data-hover-parent="1").on-hover 182
                .code-example__item
                  a(href="#", data-hover-index="10", data-hover-parent="1").on-hover 1
                  a(href="#", data-hover-index="11", data-hover-parent="1").on-hover 06
                  a(href="#", data-hover-index="12", data-hover-parent="1").on-hover 04
                  a(href="#", data-hover-index="13", data-hover-parent="1").on-hover 012
                  a(href="#", data-hover-index="14", data-hover-parent="1").on-hover 02
                .code-example__item.mr-0
                  a(href="#", data-hover-index="15", data-hover-parent="1").on-hover 2100
                  a(href="#", data-hover-index="16", data-hover-parent="1").on-hover 110
                p.code-example__transcript "Транспортный налог с физических лиц"
              .code-block(data-filter="description").active
                // CODE/
                .code.xs-mb-25
                  .code__l
                    //.code__tit.on-hover_active
                      span Код главного администратора доходов бюджета
                    .code__box.on-hover_active
                      a(href="#", data-hover-index="1", data-hover-parent="1").code__elem.on-hover.on-hover_active 000
                  .code__c
                    //.code__tit
                      span Код вида доходов бюджета
                    .code__box
                      a(href="#", data-hover-index="2", data-hover-parent="1").code__elem.code__elem_bg.on-hover 0
                      a(href="#", data-hover-index="3", data-hover-parent="1").code__elem.code__elem_dg.on-hover 00
                      a(href="#", data-hover-index="4", data-hover-parent="1").code__elem.code__elem_g.on-hover 00
                      a(href="#", data-hover-index="5", data-hover-parent="1").code__elem.on-hover 000
                      a(href="#", data-hover-index="6", data-hover-parent="1").code__elem.on-hover 00
                    span.clearfix
                    //p.code__caption.ml-20.xs-ml-5.on-hover-sibling-2 Группа<br> доходов
                    //p.code__caption.code__caption_2.on-hover-sibling-3 ПодГруппа<br> доходов
                    //p.code__caption.code__caption_2.on-hover-sibling-4 Статья<br> доходов
                    //p.code__caption.code__caption_3.on-hover-sibling-5 подСтатья<br> доходов
                    //p.code__caption.code__caption_2.on-hover-sibling-6 элемент<br> доходов
                  .code__r
                    //.code__tit
                      span Код подвида доходов бюджета
                    .code__box
                      a(href="#", data-hover-index="7", data-hover-parent="1").code__elem.code__elem_dg.on-hover 0000
                      a(href="#", data-hover-index="8", data-hover-parent="1").code__elem.code__elem_g.on-hover 000
                    span.clearfix
                    //p.code__caption.code__caption_4.on-hover-sibling-7.ml-20 Группа подвида<br> доходов бюджетов
                    //p.code__caption.code__caption_3.on-hover-sibling-8 аналитическая<br> Группа подвида<br> доходов бюджетов
                // /CODE
                // CODE-DESCRIPTION/
                .code-desc.on-hover-content.on-hover-content-1.display-b
                  p.code-desc__title Код главного администратора доходов бюджета
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-2
                  p.code-desc__title Код вида доходов бюджета
                    span.code-desc__subtitle Группа доходов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-3
                  p.code-desc__title Код вида доходов бюджета
                    span.code-desc__subtitle Подгруппа доходов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-4
                  p.code-desc__title Код вида доходов бюджета
                    span.code-desc__subtitle Статья доходов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-5
                  p.code-desc__title Код вида доходов бюджета
                    span.code-desc__subtitle Подстатья доходов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-6
                  p.code-desc__title Код вида доходов бюджета
                    span.code-desc__subtitle Элемент доходов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-7
                  p.code-desc__title Код подвида доходов бюджета
                    span.code-desc__subtitle Группа подвида доходов бюджетов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-8
                  p.code-desc__title Код подвида доходов бюджета
                    span.code-desc__subtitle Аналитическая группа подвида доходов бюджетов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                // /CODE-DESCRIPTION
                a(href="#").code-desc__returnbutton Обратно
                    span
                      +icon('angle-arrow')
              .code-block(data-filter="example")
                // CODE/
                .code.xs-mb-25
                  p.code-transcript Транспортный налог с физических лиц
                  .code__l
                    //.code__tit.on-hover_active
                      span Код главного администратора доходов бюджета
                    .code__box.on-hover_active
                      a(href="#", data-hover-index="1", data-hover-parent="1").code__elem.on-hover.on-hover_active 182
                  .code__c
                    //.code__tit
                      span Код вида доходов бюджета
                    .code__box
                      a(href="#", data-hover-index="2", data-hover-parent="1").code__elem.code__elem_bg.on-hover 1
                      a(href="#", data-hover-index="3", data-hover-parent="1").code__elem.code__elem_dg.on-hover 06
                      a(href="#", data-hover-index="4", data-hover-parent="1").code__elem.code__elem_g.on-hover 04
                      a(href="#", data-hover-index="5", data-hover-parent="1").code__elem.on-hover 012
                      a(href="#", data-hover-index="6", data-hover-parent="1").code__elem.on-hover 02
                    span.clearfix
                    //p.code__caption.ml-20.xs-ml-5.on-hover-sibling-2 Группа<br> доходов
                    //p.code__caption.code__caption_2.on-hover-sibling-3 ПодГруппа<br> доходов
                    //p.code__caption.code__caption_2.on-hover-sibling-4 Статья<br> доходов
                    //p.code__caption.code__caption_3.on-hover-sibling-5 подСтатья<br> доходов
                    //p.code__caption.code__caption_2.on-hover-sibling-6 элемент<br> доходов
                  .code__r
                    //.code__tit
                      span Код подвида доходов бюджета
                    .code__box
                      a(href="#", data-hover-index="7", data-hover-parent="1").code__elem.code__elem_dg.on-hover 2100
                      a(href="#", data-hover-index="8", data-hover-parent="1").code__elem.code__elem_g.on-hover 110
                    span.clearfix
                    //p.code__caption.code__caption_4.on-hover-sibling-7.ml-20 Группа подвида<br> доходов бюджетов
                    //p.code__caption.code__caption_3.on-hover-sibling-8 аналитическая<br> Группа подвида<br> доходов бюджетов
                // /CODE
                // CODE-DESCRIPTION/
                .code-desc.on-hover-content.on-hover-content-1.display-b
                  p.code-desc__title Код главного администратора доходов бюджета
                  .code-desc__content
                    p 182 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-2
                  p.code-desc__title Код вида доходов бюджета
                    span.code-desc__subtitle Группа доходов
                  .code-desc__content
                    p 182 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-3
                  p.code-desc__title Код вида доходов бюджета
                    span.code-desc__subtitle Подгруппа доходов
                  .code-desc__content
                    p 182 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-4
                  p.code-desc__title Код вида доходов бюджета
                    span.code-desc__subtitle Статья доходов
                  .code-desc__content
                    p 182 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-5
                  p.code-desc__title Код вида доходов бюджета
                    span.code-desc__subtitle Подстатья доходов
                  .code-desc__content
                    p 182 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-6
                  p.code-desc__title Код вида доходов бюджета
                    span.code-desc__subtitle Элемент доходов
                  .code-desc__content
                    p 182 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-7
                  p.code-desc__title Код подвида доходов бюджета
                    span.code-desc__subtitle Группа подвида доходов бюджетов
                  .code-desc__content
                    p 182 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-8
                  p.code-desc__title Код подвида доходов бюджета
                    span.code-desc__subtitle Аналитическая группа подвида доходов бюджетов
                  .code-desc__content
                    p 182 - Федеральная налоговая служба
                // /CODE-DESCRIPTION
      // /CLASSIFY-ITEM

      // CLASSIFY-ITEM/
      .dropdown.dropdown_y
        .wrap.wrap_sh
          a(href="#").dropdown__btn.dropdown__btn_y.dropdown__btn_active Классификация расходов бюджетов
          .dropdown__content
            .pt-50.xs-pt-10.on-hover-parent-2
              +buttons-set(getData('buttons-set-classify'))
              //.code-example
                p.code-example__tit пример Кода классификации доходов
                .code-example__item
                  a(href="#", data-hover-index="9", data-hover-parent="2").on-hover 075
                .code-example__item
                  a(href="#", data-hover-index="10", data-hover-parent="2").on-hover 07
                .code-example__item
                  a(href="#", data-hover-index="11", data-hover-parent="2").on-hover 01
                .code-example__item
                  a(href="#", data-hover-index="12", data-hover-parent="2").on-hover 03А03
                  a(href="#", data-hover-index="15", data-hover-parent="2").on-hover 06200
                .code-example__item.mr-0
                  a(href="#", data-hover-index="16", data-hover-parent="2").on-hover 244
                p.code-example__transcript "Закупка товаров, работ, услуг с целью обеспечения питанием воспитанников дошкольных групп образовательных организаций,<br> реализующих программы дошкольного образования"
              .code-block(data-filter="description").active
                // CODE/
                .code.code_a.xs-mb-25
                  .code__l
                    //.code__tit.on-hover_active
                      span Код главного распорядителя<br> бюджетных средств
                    .code__box.on-hover_active
                      a(href="#", data-hover-index="1", data-hover-parent="2").code__elem.on-hover.on-hover_active 000
                  .code__c
                    //.code__tit
                      span Код<br> раздела
                    .code__box
                      a(href="#", data-hover-index="4", data-hover-parent="2").code__elem.on-hover 00
                  .code__c
                    //.code__tit
                      span Код<br> подраздела
                    .code__box
                      a(href="#", data-hover-index="5", data-hover-parent="2").code__elem.on-hover 00
                  .code__c
                    //.code__tit
                      span Код целевой<br> статьи расхода
                    .code__box
                      a(href="#", data-hover-index="6", data-hover-parent="2").code__elem.on-hover 00000
                      a(href="#", data-hover-index="7", data-hover-parent="2").code__elem.code__elem_g.code__elem_dg.on-hover 00000
                    span.clearfix
                    //p.code__caption.code__caption_5.ml-25.xs-ml-5.on-hover-sibling-6 Программная статья<br> расходов
                    //p.code__caption.code__caption_5.on-hover-sibling-7 Направление<br> расходов
                  .code__r.md-ml-0
                    //.code__tit
                      span Код вида<br> расходов бюджета
                    .code__box
                      a(href="#", data-hover-index="8", data-hover-parent="2").code__elem.code__elem_g.on-hover 0
                      a(href="#", data-hover-index="9", data-hover-parent="2").code__elem.code__elem_dg.on-hover 0
                      a(href="#", data-hover-index="10", data-hover-parent="2").code__elem.code__elem_bg.on-hover 0
                    span.clearfix
                    //p.code__caption.code__caption_1.on-hover-sibling-8.ml-20 Группа
                    //p.code__caption.code__caption_1.on-hover-sibling-9 Под-<br>группа
                    //p.code__caption.code__caption_1.on-hover-sibling-10 Элемент
                // /CODE
                // CODE-DESCRIPTION/
                .code-desc.on-hover-content.on-hover-content-1.display-b
                  p.code-desc__title Код главного распорядителя бюджетных средств
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-4
                  p.code-desc__title Код раздела
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-5
                  p.code-desc__title Код подраздела
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-6
                  p.code-desc__title Код целевой статьи расхода
                    span.code-desc__subtitle Программная статья расходов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-7
                  p.code-desc__title Код целевой статьи расхода
                    span.code-desc__subtitle Направление расходов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-8
                  p.code-desc__title Код вида расходов бюджета
                    span.code-desc__subtitle Группа
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-9
                  p.code-desc__title Код вида расходов бюджета
                    span.code-desc__subtitle Подгруппа
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-10
                  p.code-desc__title Код вида расходов бюджета
                    span.code-desc__subtitle Элемент
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                // /CODE-DESCRIPTION
                a(href="#").code-desc__returnbutton Обратно
                    span
                      +icon('angle-arrow')
              .code-block(data-filter="example")
                // CODE/
                .code.code_a.xs-mb-25
                  p.code-transcript Транспортный налог с физических лиц
                  .code__l
                    //.code__tit.on-hover_active
                      span Код главного распорядителя<br> бюджетных средств
                    .code__box.on-hover_active
                      a(href="#", data-hover-index="1", data-hover-parent="2").code__elem.on-hover.on-hover_active 122
                  .code__c
                    //.code__tit
                      span Код<br> раздела
                    .code__box
                      a(href="#", data-hover-index="4", data-hover-parent="2").code__elem.on-hover 31
                  .code__c
                    //.code__tit
                      span Код<br> подраздела
                    .code__box
                      a(href="#", data-hover-index="5", data-hover-parent="2").code__elem.on-hover 45
                  .code__c
                    //.code__tit
                      span Код целевой<br> статьи расхода
                    .code__box
                      a(href="#", data-hover-index="6", data-hover-parent="2").code__elem.on-hover 56755
                      a(href="#", data-hover-index="7", data-hover-parent="2").code__elem.code__elem_g.code__elem_dg.on-hover 34399
                    span.clearfix
                    //p.code__caption.code__caption_5.ml-25.xs-ml-5.on-hover-sibling-6 Программная статья<br> расходов
                    //p.code__caption.code__caption_5.on-hover-sibling-7 Направление<br> расходов
                  .code__r.md-ml-0
                    //.code__tit
                      span Код вида<br> расходов бюджета
                    .code__box
                      a(href="#", data-hover-index="8", data-hover-parent="2").code__elem.code__elem_g.on-hover 6
                      a(href="#", data-hover-index="9", data-hover-parent="2").code__elem.code__elem_dg.on-hover 3
                      a(href="#", data-hover-index="10", data-hover-parent="2").code__elem.code__elem_bg.on-hover 9
                    span.clearfix
                    //p.code__caption.code__caption_1.on-hover-sibling-8.ml-20 Группа
                    //p.code__caption.code__caption_1.on-hover-sibling-9 Под-<br>группа
                    //p.code__caption.code__caption_1.on-hover-sibling-10 Элемент
                // /CODE
                // CODE-DESCRIPTION/
                .code-desc.on-hover-content.on-hover-content-1.display-b
                  p.code-desc__title Код главного распорядителя бюджетных средств
                  .code-desc__content
                    p 122 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-4
                  p.code-desc__title Код раздела
                  .code-desc__content
                    p 31 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-5
                  p.code-desc__title Код подраздела
                  .code-desc__content
                    p 45 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-6
                  p.code-desc__title Код целевой статьи расхода
                    span.code-desc__subtitle Программная статья расходов
                  .code-desc__content
                    p 56755 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-7
                  p.code-desc__title Код целевой статьи расхода
                    span.code-desc__subtitle Направление расходов
                  .code-desc__content
                    p 34399 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-8
                  p.code-desc__title Код вида расходов бюджета
                    span.code-desc__subtitle Группа
                  .code-desc__content
                    p 6 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-9
                  p.code-desc__title Код вида расходов бюджета
                    span.code-desc__subtitle Подгруппа
                  .code-desc__content
                    p 3 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-10
                  p.code-desc__title Код вида расходов бюджета
                    span.code-desc__subtitle Элемент
                  .code-desc__content
                    p 9 - Федеральная налоговая служба
                // /CODE-DESCRIPTION
      // /CLASSIFY-ITEM

      // CLASSIFY-ITEM/
      .dropdown.dropdown_y
        .wrap.wrap_sh
          a(href="#").dropdown__btn.dropdown__btn_y Классификация расходов бюджетов
          .dropdown__content
            .pt-50.xs-pt-10.on-hover-parent-3
              +buttons-set(getData('buttons-set-classify'))
              //.code-example
                p.code-example__tit пример Кода классификации источников бюджета
                .code-example__item
                  a(href="#", data-hover-index="9", data-hover-parent="3").on-hover 592
                .code-example__item
                  a(href="#", data-hover-index="10", data-hover-parent="3").on-hover 01
                .code-example__item
                  a(href="#", data-hover-index="11", data-hover-parent="3").on-hover 03
                .code-example__item
                  a(href="#", data-hover-index="12", data-hover-parent="3").on-hover 01
                  a(href="#", data-hover-index="13", data-hover-parent="3").on-hover 00
                  a(href="#", data-hover-index="14", data-hover-parent="3").on-hover 02
                .code-example__item.mr-0
                  a(href="#", data-hover-index="15", data-hover-parent="3").on-hover 0000
                  a(href="#", data-hover-index="16", data-hover-parent="3").on-hover 810
                p.code-example__transcript "Погашение бюджетных кредитов, полученных от других бюджетов бюджетной системы<br> Российской Федерации в валюте Российской Федерации"
              .code-block(data-filter="description").active
                // CODE/
                .code.code_b.xs-mb-25
                  .code__l
                    //.code__tit.code__tit_large.on-hover_active
                      span Код главного администратора<br> источников финансирования<br> дефицита бюджета
                    .code__box.on-hover_active
                      a(href="#", data-hover-index="1", data-hover-parent="3").code__elem.on-hover.on-hover_active 000
                  .code__c
                    //.code__tit.code__tit_large
                      span Код группы<br> источников<br> финансирования<br> дефицитов бюджетов
                    .code__box
                      a(href="#", data-hover-index="2", data-hover-parent="3").code__elem.on-hover 00
                  .code__c
                    //.code__tit.code__tit_large
                      span Код подгруппы<br> источников<br> финансирования<br> дефицитов бюджетов
                    .code__box
                      a(href="#", data-hover-index="3", data-hover-parent="3").code__elem.on-hover 00
                  .code__c
                    //.code__tit.code__tit_large
                      span Код статьи<br> источников финансирования<br> дефицитов бюджетов
                    .code__box
                      a(href="#", data-hover-index="4", data-hover-parent="3").code__elem.code__elem_bg.on-hover 00
                      a(href="#", data-hover-index="5", data-hover-parent="3").code__elem.code__elem_dg.on-hover 00
                      a(href="#", data-hover-index="6", data-hover-parent="3").code__elem.code__elem_g.on-hover 00
                    span.clearfix
                    //p.code__caption.code__caption_2.ml-25.xs-ml-5.on-hover-sibling-4 Статья<br> источников
                    //p.code__caption.code__caption_2.on-hover-sibling-5 ПодСтатья<br> источников
                    //p.code__caption.code__caption_2.on-hover-sibling-6 Элемент
                  .code__r.md-ml-0
                    //.code__tit.code__tit_large
                      span Код вида<br> источников финансирования<br> дефицитов бюджетов
                    .code__box
                      a(href="#", data-hover-index="7", data-hover-parent="3").code__elem.code__elem_dg.on-hover 0000
                      a(href="#", data-hover-index="8", data-hover-parent="3").code__elem.code__elem_g.on-hover 000
                    span.clearfix
                    //p.code__caption.code__caption_4.on-hover-sibling-7.ml-20 Подвид<br> источников
                    //p.code__caption.code__caption_3.on-hover-sibling-8 аналитическая<br> Группа<br> источников<br> финансирования
                // /CODE
                // CODE-DESCRIPTION/
                .code-desc.on-hover-content.on-hover-content-1.display-b
                  p.code-desc__title Код главного администратора источников финансирования дефицита бюджета
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-2
                  p.code-desc__title Код группы источников финансирования дефицитов бюджетов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-3
                  p.code-desc__title Код подгруппы источников финансирования дефицитов бюджетов
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-4
                  p.code-desc__title Код статьи источников финансирования дефицитов бюджетов
                    span.code-desc__subtitle Статья источников
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-5
                  p.code-desc__title Код статьи источников финансирования дефицитов бюджетов
                    span.code-desc__subtitle Подстатья источников
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-6
                  p.code-desc__title Код статьи источников финансирования дефицитов бюджетов
                    span.code-desc__subtitle Элемент
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-7
                  p.code-desc__title Код вида источников финансирования дефицитов бюджетов
                    span.code-desc__subtitle Подвид источников
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                .code-desc.on-hover-content.on-hover-content-8
                  p.code-desc__title Код вида источников финансирования дефицитов бюджетов
                    span.code-desc__subtitle Аналитическая группа источников финансирования
                  .code-desc__content
                    p Третий знак кода классификации доходов.
                    p Для налоговых доходов код элемента доходов соответствует бюджету бюджетной системы Российской Федерации в зависимости от полномочий по установлению ставок налога федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований в соответствии с законодательством Российской Федерации о налогах и сборах. Для неналоговых доходов код элемента доходов определяется в зависимости от полномочий по установлению размеров платежей федеральными органами власти, органами власти субъектов Российской Федерации, органами власти муниципальных образований, органами управления государственных внебюджетных фондов.
                    p Для безвозмездных поступлений код элемента доходов определяется исходя из принадлежности трансферта его получателю.
                // /CODE-DESCRIPTION
                a(href="#").code-desc__returnbutton Обратно
                    span
                      +icon('angle-arrow')
              .code-block(data-filter="example")
                // CODE/
                .code.code_b.xs-mb-25
                  p.code-transcript Транспортный налог с физических лиц
                  .code__l
                    //.code__tit.code__tit_large.on-hover_active
                      span Код главного администратора<br> источников финансирования<br> дефицита бюджета
                    .code__box.on-hover_active
                      a(href="#", data-hover-index="1", data-hover-parent="3").code__elem.on-hover.on-hover_active 224
                  .code__c
                    //.code__tit.code__tit_large
                      span Код группы<br> источников<br> финансирования<br> дефицитов бюджетов
                    .code__box
                      a(href="#", data-hover-index="2", data-hover-parent="3").code__elem.on-hover 54
                  .code__c
                    //.code__tit.code__tit_large
                      span Код подгруппы<br> источников<br> финансирования<br> дефицитов бюджетов
                    .code__box
                      a(href="#", data-hover-index="3", data-hover-parent="3").code__elem.on-hover 77
                  .code__c
                    //.code__tit.code__tit_large
                      span Код статьи<br> источников финансирования<br> дефицитов бюджетов
                    .code__box
                      a(href="#", data-hover-index="4", data-hover-parent="3").code__elem.code__elem_bg.on-hover 12
                      a(href="#", data-hover-index="5", data-hover-parent="3").code__elem.code__elem_dg.on-hover 78
                      a(href="#", data-hover-index="6", data-hover-parent="3").code__elem.code__elem_g.on-hover 22
                    span.clearfix
                    //p.code__caption.code__caption_2.ml-25.xs-ml-5.on-hover-sibling-4 Статья<br> источников
                    //p.code__caption.code__caption_2.on-hover-sibling-5 ПодСтатья<br> источников
                    //p.code__caption.code__caption_2.on-hover-sibling-6 Элемент
                  .code__r.md-ml-0
                    //.code__tit.code__tit_large
                      span Код вида<br> источников финансирования<br> дефицитов бюджетов
                    .code__box
                      a(href="#", data-hover-index="7", data-hover-parent="3").code__elem.code__elem_dg.on-hover 0321
                      a(href="#", data-hover-index="8", data-hover-parent="3").code__elem.code__elem_g.on-hover 908
                    span.clearfix
                    //p.code__caption.code__caption_4.on-hover-sibling-7.ml-20 Подвид<br> источников
                    //p.code__caption.code__caption_3.on-hover-sibling-8 аналитическая<br> Группа<br> источников<br> финансирования
                // /CODE
                // CODE-DESCRIPTION/
                .code-desc.on-hover-content.on-hover-content-1.display-b
                  p.code-desc__title Код главного администратора источников финансирования дефицита бюджета
                  .code-desc__content
                    p 224 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-2
                  p.code-desc__title Код группы источников финансирования дефицитов бюджетов
                  .code-desc__content
                    p 54 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-3
                  p.code-desc__title Код подгруппы источников финансирования дефицитов бюджетов
                  .code-desc__content
                    p 77 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-4
                  p.code-desc__title Код статьи источников финансирования дефицитов бюджетов
                    span.code-desc__subtitle Статья источников
                  .code-desc__content
                    p 12 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-5
                  p.code-desc__title Код статьи источников финансирования дефицитов бюджетов
                    span.code-desc__subtitle Подстатья источников
                  .code-desc__content
                    p 78 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-6
                  p.code-desc__title Код статьи источников финансирования дефицитов бюджетов
                    span.code-desc__subtitle Элемент
                  .code-desc__content
                    p 22 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-7
                  p.code-desc__title Код вида источников финансирования дефицитов бюджетов
                    span.code-desc__subtitle Подвид источников
                  .code-desc__content
                    p 0321 - Федеральная налоговая служба
                .code-desc.on-hover-content.on-hover-content-8
                  p.code-desc__title Код вида источников финансирования дефицитов бюджетов
                    span.code-desc__subtitle Аналитическая группа источников финансирования
                  .code-desc__content
                    p 908 - Федеральная налоговая служба
                // /CODE-DESCRIPTION
      // /CLASSIFY-ITEM
