.ahead__star-btn:before {
  background-position: -62px -112px;
}

.ahead__share-btn:hover:after {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .sections__item {
    z-index: 0;
  }
}

.dropdown__btn_active .dropdown__content_db {
  display: block;
}

.code-example__item {
  font-size: 0;
  padding: 10px 16px 7px;
  a {
    font-size: 61px;
  }
}

@media (max-width: 700px) {
  .code-example__item {
    font-size: 0;
    padding: 4px 6px 3px;
  }
  .code-example__item a {
    font-size: 24px;
  }
}

@media (max-width: 900px) {
  .code-example__item {
    font-size: 0;
    padding: 7px 12px 5px;
  }
  .code-example__item a {
    font-size: 45px;
  }
}

// @media screen and (max-width: 700px) {
//   .sections__item_first {
//     padding-top: 100px;
//   }
// }

@media screen and (max-width: 900px) {
  .code__r {
    margin-left: 0;
  }
}

@media (max-width: 1180px) {
  .code { font-size: 76px; }

  .code-desc { margin-left: 0; }
  .code-desc__title { width: 213px; }
  .code-example__transcript br { display: none; }
}

@media (max-width: 1024px) {
  .code { font-size: 72px; }
}

@media (max-width: 900px) { .code__r { margin-left: 0; }
  .code__c, .code__l { margin-bottom: 35px; }
  .code-example__item { font-size: 45px; }
  .code-desc__title { float: none; padding: 0; width: 100%; margin-bottom: 10px; }
  .code-desc__content { float: none; width: 100%; }
  .code-desc__content p { margin-bottom: 9px; } }

@media (max-width: 768px) {
  .code { font-size: 50px; }
  .ml-20 { margin-left: 8px !important; }
  .ml-25 { margin-left: 14px !important; }
  .mb-80 { margin-bottom: 0 !important; }
}
@media (max-width: 700px) {
  .code__c, .code__l { margin-bottom: 20px;float: none; }
  .code__c:after, .code__l:after { display: block; width: 100%; content: ""; clear: both; }
  .code__tit { font-size: 11px;  }
  .code__caption { font-size: 0.15464em; }
  .code__caption_2 { width: 5.33333em; }
  .code__caption_3 { width: 8.33333em; }
  .code__caption_4 { width: 11.33333em; }
  .code__caption_5 { width: 14.66667em; }
  .code-desc__title { font-size: 16px; }
  .code-desc__content p { font-size: 15px; }
  .code-example { margin-bottom: 25px; }
  .code-example__tit { font-size: 12px; }
  .code-example__item { font-size: 24px; margin-right: 9px; }
  .md-ml-0 .ml-20 {margin-left: 0 !important;}
  .xs-mb-25 .ml-20 { margin-left: 8px !important;}
}

@media (max-width: 480px) {
  .code-example__item a {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .mr-150 {
    margin-right: 0;
  }
  .code-example__item a {
    font-size: 16px;
  }
  .code-example__item {
    margin-right: 3px;
  }
}
