.budget-classify {
  .ahead {
    margin-bottom: 30px;
  }
  .txt {
    margin-bottom: 30px;
  }
  .trig {
    margin-bottom: 30px;
  }
  .trig__tit {
    width: 31.3%;
    padding-right: 15px;
  }
  .trig__li {
    width: 32%;
    padding-right: 15px;
  }
  .text-block {
    padding-bottom: 20px;
  }
  .buttons-set {
    margin-top: 6px;
  }
  .button-light {
    text-align: center;
    padding: 15px 26px;
    min-width: 220px;
  }
  .code-block {
    display: none;
    &.active {
      display: block;
    }
  }
  .code {
    margin-top: 40px;
    font-size: 81px;
  }
  .code-transcript {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .code__tit {
    font-size: 16px;
    height: 4em;
    position: relative;
    &_large {
      height: 7em;
    }
  }
  .code__tit span {
    white-space: normal;
    vertical-align: bottom;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .code__box {
    margin-top: 7px;
  }
  .code-desc {
    margin-top: 13px;
    margin-left: 1px;
  }
  .code-desc__title {
    width: 19.2%;
  }
  .code-desc__subtitle {
    display: block;
    margin-top: 30px;
    font-size: 16px;
  }
  .code__caption {
    position: relative;
    z-index: -1;
    opacity: 0;
    &.on-hover_active {
      opacity: 1;
      z-index: auto;
    }
  }
  .code-desc__returnbutton {
    display: none;
    width: 30%;
    min-width: 150px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fee300;
    border: 1px solid #6f686c;
    border: 1px solid hsla(0,0%,100%,.3);
    border-radius: 2px;
    height: 39px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    transition: all .25s ease-in-out;
    span {
      display: inline-block;
      margin-left: 10px;
      width: 15px;
      height: 15px;
      transform: rotate(-90deg);
      position: relative;
    }
    svg {
      fill: #fee300;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  
  @media screen and (max-width: 900px) {
    .trig {
      margin-right: 0 !important;
    }
    .code-desc__title {
      width: 100%;
      margin-bottom: 20px;
    }
    .code-desc__subtitle {
      margin-top: 15px;
    }
    .code__c, .code__l {
      margin-bottom: 0;
    }
  }
  
  @media screen and (max-width: 700px) {
    .trig__li, .trig__tit, .trig__ul {
      width: 100%;
    }
    .txt br {
      display: none;
    }
    .button-light {
      font-size: 14px;
      padding: 10px 20px;
    }
    .code__tit {
      font-size: 12px;
      height: auto;
      span {
        position: relative;
      }
    }
    .code-desc__subtitle {
      font-size: 14px;
    }
    .code-transcript {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .code-desc__returnbutton {
      display: block;
    }
    .code-block {
      padding-bottom: 20px;
    }
  }
  
  @media screen and (min-width: 451px) and (max-width: 700px) {
    .button-light {
      min-width: 180px;
    }
    .code {
      font-size: 60px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .buttons-set__item {
      width: 50%;
    }
    .button-light {
      min-width: 0;
      width: 100%;
    }
    .code {
      font-size: 50px;
    }
  }
}