.d-si-content div{-webkit-box-sizing:border-box;box-sizing:border-box}
.d-si-content{width:100%;background:url(../images/depfin-services-interview/content-bg.jpg) no-repeat;background-size:cover;padding:40px 0 80px;font-family:PFDinCondensedPro;font-weight:500}
// .d-si-content {padding-top:175px}
@media screen and (max-width:1190px) { /* для 1024 */
  .d-si-content {background:#0f1a41 url(../images/edu_bg.jpg) top center no-repeat; background-size:100%}
}
@media screen and (max-width:760px) { /* для 640 */
  .d-si-content {background:#101b42 url(../images/edu_bg.jpg) top center no-repeat; background-size:100%}
}
@media screen and (max-width:700px) {
  .d-si-content {padding-top:94px;}
}

.d-layer::after{display:table}
.d-layer::after{content:'';clear:both}
.d-layer{max-width:1174px;margin:0 auto;padding:0 37px}
@media screen and (max-width:1190px) { /* для 1024 */
  .d-layer {    padding: 0 66px 0 66px;}
}
@media screen and (max-width:760px) { /* для 640 */
  .d-layer {padding: 0 23px 0 23px;}
}
@media screen and (max-width:639px) { /* для 320 */
  .d-layer {padding: 0 15px 0 15px;}
}


.d-si__head::after {display:table}
.d-si__head::after {content:'';clear:both}
.d-si__head{position:relative;margin-bottom:51px;font-family:PFDinCompressedPro}
.d-si__head_descr{text-transform:uppercase;color:rgba(255,255,255,.5);font-size:16px;font-weight:500;line-height:1}.d-si__head_p-name{color:#fff;text-transform:uppercase;font-size:72px;font-weight:500;margin-left:-1px;float:left;line-height:1;margin-top:3px}.d-si__head_icons{float:left;margin-left:22px;margin-top:10px}/*.d-si__icons_item{float:left;display:block}.d-si__icons_item:nth-child(1){background:url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;width:24px;height:23px}.d-si__icons_item:nth-child(2){background:url(../images/depfin-services-interview/icon-rss.svg) no-repeat;width:16px;height:19px;margin-left:13px;margin-top:3px}.d-si__icons_item:nth-child(3){background:url(../images/depfin-services-interview/icon-dl.svg) no-repeat;width:18px;height:18px;margin-left:13px;margin-top:3px}*/.d-si__search,.d-si__submit{height:32px;margin-top:-5px}
.d-si__head_p-name br {display:none;}
.d-si__head_icons {margin-bottom:16px;}
.d-si__head_icons {display: inline-block; float: none; vertical-align: top;}
.d-si__head_p-name {display:inline; float:none}

@media screen and (max-width:1190px) { /* для 1024 */
  .d-si__head {margin-bottom:44px;}
}
@media screen and (max-width:760px) { /* для 640 */
  /* EDU RESULT */
  .d-si__head_descr {font-size:19px; margin-bottom:9px; }
  .d-si__head_p-name {font-size:73px; float:none; display:inline; line-height:71px;}
  .d-si__head_p-name br {display:block;}
  .d-si__head_icons {float:none; display:inline-block; vertical-align:top; margin-left: 6px; margin-top: 5px;}
  .d-si__head {margin-bottom:26px;}
  .d-si__head_p-name {font-size:71px; line-height:67px}
}
@media screen and (max-width:639px) { /* для 320 */
  .d-si__head_descr {font-size:16px; margin-bottom:4px;}
  .d-si__head_p-name {font-size:53px; line-height:49px;}
  .d-si__head_icons {margin-top:3px;}
  .d-si__head {margin-bottom: 23px;}
  .d-si__head_p-name {font-size: 52px; line-height: 48px;}
}
/*
.d-si__icons_item{float:left;display:block}
.d-si__icons_item:nth-child(1){background:url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;width:24px;height:23px;}
.d-si__icons_item:nth-child(2){background:url(../images/depfin-services-interview/icon-rss.svg) no-repeat;width:16px;height:19px;margin-left:13px;margin-top:3px;}
.d-si__icons_item:nth-child(3){background:url(../images/depfin-services-interview/icon-dl.svg) no-repeat;width:18px;height:18px;margin-left:13px;margin-top:3px;}
.d-si__icons_item:nth-child(1) {background:none}
.d-si__icons_item:nth-child(2) {background:none}
.d-si__icons_item:nth-child(3) {background:none}

.d-si__icons_item path {transition:0.3s;}

.d-si__icons_item:nth-child(1):hover path {stroke:rgb(254, 227, 0);}
.d-si__icons_item:nth-child(2):hover path {fill:rgb(254, 227, 0);}
.d-si__icons_item:nth-child(3):hover path {fill:rgb(254, 227, 0);}
.d-si__icons_item{float:left;display:block}
.d-si__icons_item:nth-child(1){background:url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;width:24px;height:23px;}
.d-si__icons_item:nth-child(2){background:url(../images/depfin-services-interview/icon-rss.svg) no-repeat;width:16px;height:19px;margin-left:13px;margin-top:3px;}
.d-si__icons_item:nth-child(3){background:url(../images/depfin-services-interview/icon-dl.svg) no-repeat;width:18px;height:18px;margin-left:13px;margin-top:3px;}
*/
.dstudy__descr_containder::after{content:'';display:table;clear:both}
@media screen and (max-width:1190px) { /* для 1024 */

.dstudy__descr_containder {margin-right:23%; }

.dstudy__descr_containder .d-study__clear-res {position: absolute; right: 65px; margin-top: 9px;}
}
@media screen and (max-width:760px) { /* для 640 */
  .dstudy__descr_containder {margin-right:0; position:relative;}
  .dstudy__descr_containder {margin-right:0; position:relative;}
}
@media screen and (max-width:639px) { /* для 320 */
  .dstudy__descr_containder .d-study__clear-res {margin-top:33px;}
}

.d-study__descr{font-family:PFDinPro;max-width:800px;float:left}.d-study__descr p{color:#fff;font-size:16px;font-weight:300;line-height:22px}.d-study__descr p strong{font-weight:700}.d-study__clear-res{display:block;float:right;padding-left:33px;background:url(../images/depfin-study/icon-broom.png) 0 50% no-repeat;color:#fee300;text-transform:uppercase;font-family:PFDinCondensedPro;font-weight:700;font-size:16px}
@media screen and (max-width:760px) { /* для 640 */
.d-study__descr {font-family:inherit;    letter-spacing: 1.15px;}
.d-study__descr p {font-size: 18px; font-weight: 300; line-height: 26px;}

}
@media screen and (max-width:639px) { /* для 320 */
  .d-study__descr p {font-size:16px; line-height:22px;}
}

.d-sq__head_ss .d-sq__head_ss-txt,.d-sq__head_ss-s{color:#fff;font-family:PFDinCondensedPro}.d-sq__body_princips,.d-sq__head_ss .d-sq__head_ss-txt,.d-sq__head_ss-s{font-family:PFDinCondensedPro}
.d-sq__head_ss{position:absolute;right:57px;bottom:-3px;min-height:78px;width:165px;background:url(../images/depfin-study/cerkle-tmp.png) 0 50% no-repeat}.d-sq__head_ss .d-sq__head_ss-txt{float:right;margin-top:15px;margin-right:6px;font-weight:700;font-size:14px;text-transform:uppercase}.d-sq__head_ss-s{font-weight:500;font-size:18px;margin-left:19px;margin-top:30px;float:left}
.d-sq__head_ss {background:none}
.d-sq__head_ss .sectored_round {width:78px; height:78px;}
@media screen and (max-width:1024px) {
.d-sq__head_ss {right: -7px; bottom: -1px;}
.d-sq__head_ss .d-sq__head_ss-txt {margin-top:20px}
}
@media screen and (max-width:639px) { /* для 320 */
.d-sq__head_ss {position:relative; margin-top: 22px; right: inherit; width:100% !important; background-size:78px !important}
}

.sectored_round {position:absolute; top:0; left:0}

.d-study__question_head{font-family:PFDinCondensedPro}
.d-study__question{background-color:#fff}.d-study__question_head{background-color:#fee300;height:64px;line-height:64px;font-weight:500;font-size:24px}.d-question__head_menu{display:inline-block;width:22px;height:18px;background:url(../images/depfin-study/icon-sandwich.png) no-repeat;margin-left:24px}.d-study__question_num{color:rgba(0,0,0,.4);font-weight:500;margin-left:30px}.d-study__question-name{color:#000;text-transform:uppercase;margin-left:17px}
.d-study__question_body{padding:28px 0 45px 120px;position:relative}
.d-study__question_ftr{background-color:#eeedeb;padding:27px 0 40px 120px}
.d-study__question {color:black}
.d-study__question {position:relative;}
@media screen and (max-width:1024px) {
.d-study__question {margin-top:-10px;}
.d-study__question_body {padding: 28px 6.5% 42px 6.8%;}
.d-study__question_ftr {padding: 37px 3% 40px 6.7%;}
}
@media screen and (max-width:970px) {
.d-study__question-name {margin-left:8px; width: calc(100% - 228px); display: inline-block; overflow: hidden; vertical-align:top; white-space:nowrap}
.d-study__question_ftr {padding: 26px 3.7% 40px 3.7%;}
}
@media screen and (max-width:639px) { /* для 320 */
.d-study__question-name {margin-left:1px; width: calc(100% - 60px);}
.d-study__question_ftr {padding: 28px 7% 40px 7%;}
}

.burger-lessons-menu {position: absolute; width: 100%; overflow:hidden; left: 0; top: 0; background: white;-webkit-box-shadow: 4px 8px 20px 1px #A6A6A6; counter-reset: lessons; box-shadow: 4px 8px 20px 1px #A6A6A6; z-index:100; padding: 20px 52px 58px 120px; display:none;}
.burger-lessons-menu li {list-style:none; font-size:24px; text-transform:uppercase; color:#0d46a1; position:relative; cursor:pointer}
.burger-lessons-menu li + li {margin-top:30px;}
.burger-lessons-menu li a {text-decoration:none; position:relative;}

.burger-lessons-menu li:before { counter-increment: lessons; content: counter(lessons)":"; position: absolute; top: 0px; left: -43px;}

.burger-lessons-menu li.disable {opacity:0.2; pointer-events:none; color:black !important}
.burger-lessons-menu li.done {color:#83ca14}
.burger-lessons-menu li.done a:after {content:''; position:absolute; right:-36px; top:4px; width:21px; height:21px; background:url(../images/green-daw.svg) no-repeat}
@media screen and (max-width:970px) {
.burger-lessons-menu li {font-size:20px;}
.burger-lessons-menu li a {display:block}
.burger-lessons-menu li.done a:after {right:-30px; top:-2px}
}
@media screen and (max-width:639px) { /* для 320 */
.burger-lessons-menu {padding: 20px 50px 25px 80px;}
.burger-lessons-menu li {font-size: 17px;}
.burger-lessons-menu li:before {left:-24px}
}

.close-lessons-burger {position:absolute; width:18px; height:18px; left: 27px; top: 23px; background:url(../images/black-cross.svg) no-repeat; background-size:100%; cursor:pointer;}

.edu-content {display:none}
.edu-content._active {display:block;}

.d-sq__head_next,.d-sq__head_prev{float:right;width:65px;height:64px;border-left:1px solid #fff}.d-sq__head_next{background:url(../images/depfin-study/icon-next-arrow.svg) 50% 50% no-repeat}.d-sq__head_prev{background:url(../images/depfin-study/icon-prev-arrow.svg) 50% 50% no-repeat}
@media screen and (max-width:639px) { /* для 320 */
.d-sq__head_next, .d-sq__head_prev {float:none; position:absolute; border:none; top:-44px; width: 42px; height: 43px; right:0}
.d-sq__head_next { background: #fee300 url(../images/depfin-study/icon-next-arrow.svg) 50% 50% no-repeat; }
.d-sq__head_prev { background: #fee300 url(../images/depfin-study/icon-prev-arrow.svg) 50% 50% no-repeat; right:43px;}
}

.d-sq__body_princips{font-family:PFDinCondensedPro}
.d-sq__body-puzzle li a,.d-sq__body_princips{text-decoration:none;-webkit-transition:all .3s ease;transition:all .3s ease;text-transform:uppercase}
.d-sq__body_princips{position:absolute;right:26px;bottom:66px;display:block;font-size:16px;color:#0d46a1;line-height:22px;font-weight:500;width:211px;min-height:62px;border:1px solid #9eb5d9;border-radius:2px;padding:8px 30px 8px 16px;-webkit-box-sizing:border-box;box-sizing:border-box}.d-sq__body_princips:hover{opacity:.7}.d-sq__body-p{line-height:22px;font-size:16px;font-weight:300;font-family:PFDinPro;padding-right:175px}.d-sq__body-p strong{font-weight:700}
.d-sq__body-heading,
.d-sq__body-puzzle li a,
.d-sq__body-puzzle li a span{font-weight:500;font-family:PFDinCondensedPro}
.d-sq__body-pb{padding-right:267px}.d-sq__body-heading{font-size:18px;text-transform:uppercase}.d-sq__body_fhm{margin-top:39px}.d-sq__body_shm{margin-top:35px;margin-bottom:10px}
.d-sq__body-puzzle{width:705px;min-height:326px;list-style-type:none;margin-top:10px;position:relative}
.d-sq__body-puzzle::after{content:'';display:table;clear:both}
.d-sq__body-puzzle li{position:absolute;-webkit-transition:all .3s ease;transition:all .3s ease}
.d-sq__body-puzzle li a{display:block;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;height:100%;color:#000;line-height:1.3em}
.d-sq__body-puzzle li a:hover i{-webkit-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}
.d-sq__body-puzzle li a i{width:11px;height:11px;-webkit-transition:all .3s ease;transition:all .3s ease}
.d-sq__body-puzzle li:hover{-webkit-filter:brightness(90%);filter:brightness(90%)}
.d-sq__body-puzzle li:nth-child(1){width:524px;height:104px;top:0;left:0;background:url(../images/depfin-study/puzzle1.png) no-repeat;background-size:cover}
.d-sq__body-puzzle li:nth-child(1) a{padding-left:23px;padding-top:20px}
.d-sq__body-puzzle li:nth-child(1) a span{font-size:22px}
.d-sq__body-puzzle li:nth-child(2) a span,
.d-sq__body-puzzle li:nth-child(3) a span,
.d-sq__body-puzzle li:nth-child(4) span,
.d-sq__body-puzzle li:nth-child(5) a span{font-size:15px}
.d-sq__body-puzzle li:nth-child(1) a span i{margin:0 0 2px 2px}
.d-sq__body-puzzle li:nth-child(2){width:198px;height:104px;top:0;right:1px;background:url(../images/depfin-study/puzzle2.png) no-repeat}
.d-sq__body-puzzle li:nth-child(2) a{padding-left:33px;padding-top:16px;padding-right:30px;line-height:1.1em}
.d-sq__body-puzzle li:nth-child(2) a span i{margin:0 0 0 5px}
.d-sq__body-puzzle li:nth-child(3){width:163px;height:237px;top:85px;left:0;background:url(../images/depfin-study/puzzle3.png) no-repeat}
.d-sq__body-puzzle li:nth-child(3) a{line-height:1.1em;padding-left:24px;padding-top:33px}
.d-sq__body-puzzle li:nth-child(3) a span i{margin:0 0 0 7px}
.d-sq__body-puzzle li:nth-child(4){font-size:15px;height:122px;left:144px;padding-left:34px;padding-top:33px;text-transform:uppercase;top:85px;width:357px;background:url(../images/depfin-study/puzzle4.png) no-repeat}
.d-sq__body-puzzle li:nth-child(4):hover{-webkit-filter:none;filter:none}
.d-sq__body-puzzle li:nth-child(5){width:198px;height:237px;top:85px;right:1px;background:url(../images/depfin-study/puzzle5.png) no-repeat}
.d-sq__body-puzzle li:nth-child(5) a{line-height:1.1em;padding-left:33px;padding-right:30px;padding-top:33px}
.d-sq__body-puzzle li:nth-child(6) a span,
.d-sq__body-puzzle li:nth-child(7) a span{font-size:11px;line-height:1em;font-weight:700}
.d-sq__body-puzzle li:nth-child(5) a span i{margin:0 0 0 3px}
.d-sq__body-puzzle li:nth-child(6) a span i,
.d-sq__body-puzzle li:nth-child(7) a span i{margin:0 0 0 5px}
.d-sq__body-puzzle li:nth-child(6){width:177px;height:133px;left:144px;top:188px;background:url(../images/depfin-study/puzzle6.png) no-repeat}
.d-sq__body-puzzle li:nth-child(6) a{padding-top:26px;padding-left:13px;padding-right:25px}
.d-sq__body-puzzle li:nth-child(7){width:178px;height:133px;right:203px;top:188px;background:url(../images/depfin-study/puzzle7.png) no-repeat}
.d-sq__body-puzzle li:nth-child(7) a{padding-top:26px;padding-left:13px}
@media screen and (max-width:1024px) {
.d-sq__body-p {font-size:16px; letter-spacing: 0.4px; padding-right:0}
.d-sq__body-heading {letter-spacing:0.1px}
.d-sq__body_fhm {margin-top:44px;}
.d-sq__body-puzzle {/*width: 100%;*/ min-height: 324px; margin-top:17px}
.d-sq__body_shm {margin-top: 39px; margin-bottom: 12px;}
.d-sq__body-heading + .d-sq__body-p {padding-right:29%}
.d-sq__body_princips {padding: 8px 13px 8px 16px; width: 196px; right: 58px; bottom: 85px;}
}

.d-abs__nav_ico{background:url(../images/depfin-about-budjet/icon-arrow.png) 50% 50% no-repeat;display:inline-block;line-height:1;height:17px;width:17px;border-radius:50%}
.d-abs__nav_ico {background: #0d46a1 url(../images/ar-right.svg) center center no-repeat; background-size: 7px;}


@media screen and (max-width:970px) {
._edu-question .d-sq__body-puzzle li {position: relative; height: auto !important; width: 100% !important; left: 0 !important; top: 0 !important; background: #f1f1f1 !important; right: inherit !important;-webkit-box-shadow: 2px 3px 3px 0 #C4C4C4;
box-shadow: 2px 3px 3px 0 #C4C4C4; padding:0}
._edu-question .d-sq__body-puzzle li + li {margin-top:6px;}

._edu-question .d-layer {padding: 0 40px 0 40px;}
._edu-question .d-si__head {padding-right:170px; min-height:170px;}

._edu-question .d-sq__head_ss {width:144px; bottom:inherit; top:1px; background-position: top left; background-size: 104px;}
._edu-question .d-sq__head_ss canvas {height:104px; width:104px;}
._edu-question .d-sq__head_ss-s {display:block; float:none; margin: 0; line-height: 106px; font-size: 25px; text-align: center; width: 104px;}
._edu-question .d-sq__head_ss-txt {display:block; float:none !important; font-size: 17px !important; margin-top: 9px !important; line-height: 22px;}
._edu-question .d-sq__head_ss-txt br:first-of-type {display:none;}
._edu-question .d-si__head {margin-bottom: 38px;}
._edu-question .d-question__head_menu {margin-left:19px;top: 3px; position: relative;}
._edu-question .d-study__question_num {margin-left:21px;}
.d-study__question-name {margin-left:8px; width: calc(100% - 228px); display: inline-block; overflow: hidden; vertical-align:top; white-space:nowrap}

._edu-question .d-study__question_head {height: 60px; line-height: 60px; font-size:20px;}

._edu-question .d-study__question_body {padding: 25px 3.3% 60px 3.7%;}
._edu-question .d-sq__body-p {font-size: 18px; line-height:26px;}

._edu-question .d-sq__body_fhm {margin-top: 35px; font-size:20px; letter-spacing:0}
._edu-question .d-sq__body-puzzle {margin-top:20px; width:100%}

._edu-question .d-sq__body-puzzle li a {    padding: 16px 14px 18px 14px !important;}
._edu-question .d-sq__body-puzzle li > span {padding: 16px 14px 18px 14px; display:block}
._edu-question .d-sq__body-puzzle li span {    font-size: 20px !important;
    line-height: 26px !important; font-weight:500 !important}
._edu-question .d-sq__body-puzzle li:nth-child(4) {-webkit-filter:brightness(90%);filter:brightness(90%)}

._edu-question .d-abs__nav_ico {width: 20px !important; height: 20px !important; position: absolute; background-size: 10px; margin-top: 3px !important; margin-left: 7px !important;}

._edu-question .d-sq__body_shm  {margin-top: 50px; margin-bottom: 18px;}

._edu-question .d-sq__body-heading {font-size:20px; letter-spacing:0}
._edu-question .d-sq__body-heading + .d-sq__body-p {padding-right:0}
._edu-question .d-sq__body_princips {position: relative;right: inherit; left: 0; top: 0; margin-top: 21px; width: 318px; text-align: center; line-height: 45px; font-size: 20px;}
._edu-question .d-study__question_head {height:auto !important}
._edu-question .d-study__question-name {line-height: 20px; padding: 19px 0 21px 0; white-space: inherit !important}
}
@media screen and (max-width:639px) { /* для 320 */
._edu-question .d-study__question-name {padding: 15px 0 15px 0;}
._edu-question .d-layer {padding: 0 15px 0 15px;}
._edu-question .d-si__head {padding-right:0; min-height:auto;}
._edu-question .d-sq__head_ss canvas {height:80px; width:80px;}
._edu-question .d-sq__head_ss-s {line-height: 78px; font-size: 17px; width:80px; display:inline-block;}
._edu-question .d-sq__head_ss-txt {display:inline-block; margin-top: -3px !important; vertical-align: middle; font-size: 15px !important; line-height: 18px;margin-left: 13px;}
._edu-question .d-si__head {margin-bottom: 52px;}
._edu-question .d-study__question_head {height: 49px; line-height: 50px; font-size: 16px; position:relative;}
._edu-question .d-question__head_menu {margin-left: 13px; top: 4px;}
._edu-question .d-study__question_num {margin-left: 5px;}
._edu-question .d-sq__body-p {font-size: 16px; line-height: 22px;}
._edu-question .d-study__question_body {padding: 20px 6.7% 40px 6.7%;}
._edu-question .d-sq__body-heading {font-size: 18px; letter-spacing: 0.2px; line-height: 20px;}
._edu-question .d-sq__body_fhm {margin-top: 26px; }
._edu-question .d-sq__body-puzzle li span {font-size: 16px !important; line-height: 21px !important;}
._edu-question .d-sq__body-puzzle li a {padding: 16px 14px 16px 14px !important;}
._edu-question .d-abs__nav_ico {margin-top: 0px !important; margin-left: 11px !important; width: 18px !important; height: 18px !important;}
._edu-question .d-sq__body_shm {margin-top: 37px;}
._edu-question .d-sq__body_princips {margin-top:23px; text-align: left; line-height: 40px; font-size: 16px; padding: 9px 13px 8px 14px; width: 100%;}
}
