include ../../blocks/selectbox/selectbox
include ../../components/widget-card/widget-card
include ../../blocks/news-card/news-card
include ../../components/depfin-services-main/depfin-services-main

mixin main()
  // SECTIONS_ITEM(Banner)/
  .sections__item
    .cube
      // BANNER/
      .cube__side.cube__side_current
        .banner.banner_ban-1
          .wrap.banner__wrap
            .clearfix
              p.banner__cat.load-anim-fade Бюджет Москвы
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Государственный долг на 01.12.2016
            a(href="#").button.banner__button
              span Подробнее
      // /BANNER
      // BANNER/
      .cube__side
        .banner.banner_ban-2
          .wrap.banner__wrap
            .clearfix
              p.banner__cat Сервисы
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Бюджетный калькулятор
              span.banner__row.banner__row_sub Создай свой бюджет!
            a(href="#").button.banner__button Подробнее
      // /BANNER
      // BANNER/
      .cube__side
        .banner.banner_ban-3
          .wrap.banner__wrap
            .clearfix
              p.banner__cat Новости
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Опубликованы данные по исполнению бюджета города Москвы на 01.10.2016
              span.banner__row.banner__row_sub Департамент финансов города Москвы подвел итоги исполнения столичного бюджета за 9 месяцев 2016 года
            a(href="#").button.banner__button.mt-30 Подробнее
      // /BANNER
      button.arrow.cube__arrow.arrow_right.cube__arrow_prev
      button.arrow.cube__arrow.arrow_left.cube__arrow_next
  // /SECTIONS_ITEM(Banner)
  
  // DIAGRAMS_SECTION/
  .sections__item.sections__item_bg1
    .cube-brick(data-brick-900="1")
      // AHEAD/
      .sections__ahead.sections__ahead_ab#diagrams-ahead-1
        .wrap
          h1.sections__title.anim-fade-top.mr-0 Основные показатели бюджета за 2016–2018 годы
          .legend.sections__legend.anim-fade-top
            .legend__item.legend__item_blue доходы
            .legend__item.legend__item_pink расходы
            .legend__item.legend__item_green дефицит/профицит 
              span.ml-20 млрд. рублей
      // /AHEAD
    .cube-brick(data-brick-900="2")
      // AHEAD/
      .sections__ahead.viewport-900-lg.sections__ahead_ab#diagrams-ahead-2
        .wrap
          h2.sections__title.anim-fade-top.mr-20 Исполнение бюджета
          // CALENDAR/
          .sections__datepicker
            span по состоянию<br> на
            .dp
              input(value='01.06.2017', tabindex="0").datepicker__show.jq-spec-datepicker
          // /CALENDAR
      // /AHEAD
      
    // DIAGRAMS_SLIDER/
    .slider.slider_diagrams(data-sides-900="2")
      .cube-brick(data-brick-900="1")
        // DIAGRAM_CELL/
        .grid__col.grid__col_h.grid-brick-3
          .comp-diagram.comp-diagram_dash-1#diagram-1
            a(href="#")
            p.comp-diagram__year 2016
        // /DIAGRAM_CELL
      .cube-brick(data-brick-900="1")
        // DIAGRAM_CELL/
        .grid__col.grid__col_h.grid-brick-3
          .comp-diagram.comp-diagram_dash-2#diagram-2
            a(href="#")
            p.comp-diagram__year 2017
        // /DIAGRAM_CELL
      .cube-brick(data-brick-900="1")
        // DIAGRAM_CELL/
        .grid__col.grid__col_h.grid-brick-3
          .comp-diagram.comp-diagram_dash-1#diagram-3
            a(href="#")
            p.comp-diagram__year 2018
        // /DIAGRAM_CELL
      .cube-brick(data-brick-900="2")
        // DIAGRAM_CELL/
        .grid__col.grid__col_h.grid-brick-2
          .large-diagram
            a(href="#")
            p.large-diagram__caption доходы
              span.rub млрд. рублей
            .large-diagram__svg#diagram-4
        // /DIAGRAM_CELL
      .cube-brick(data-brick-900="2")
        // DIAGRAM_CELL/
        .grid__col.grid__col_h.grid-brick-2
          .large-diagram
            a(href="#")
            p.large-diagram__caption расходы
              span.yellow *
              span.rub млрд. рублей
            .large-diagram__svg#diagram-5
            p.large-diagram__note
              span.yellow *
              | без учета возвратов неиспользованных средств
        // /DIAGRAM_CELL
    // /DIAGRAMS_SLIDER
  // DIAGRAMS_SECTION/
  
  // SERVICES_SECTION/
  .sections__item.sections__item_bg2
    // SERVICES_AHEAD/
    .sections__ahead.sections__ahead_ab
      .wrap
        h2.sections__title.anim-fade-top Сервисы
        a(href="#").sections__all.anim-fade-top Все сервисы
    // /SERVICES_AHEAD
    
    // SERVICES_SLIDER/
    .slider(data-sides-700="4", data-sides-900="3", data-sides-1100="2")
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        // SERVICE_ITEM/
        .tile__item.anim-left(data-delay="100").js_dropable
          .tile__inner.service.js_draggable
            .service__ahead
              h3.service__title Государственные программы
                button
                +icon('pin').service__icon
              .service__sub-title
                span по состоянию на
                .service__datepicker
                  input(value='01.06.2017', tabindex="0").datepicker__show.jq-spec-datepicker-alt
                | , млрд. руб 
            .service-dot-cont.service-dot-cont_act#serv-d-2
              .dashed-diagram.service__dashed-diagram
                .dashed-diagram__diagram#diagram-8
                  .dashed-diagram__value.dashed-diagram__value_top
                    span план
                    p.dashed-diagram__value-p 1 637,3
                  .dashed-diagram__value.dashed-diagram__value_bottom
                    p.dashed-diagram__value-p 1 167,7
                    | факт
              p.service__capt Программные расходы
            .service-dot-cont#serv-d-1
              .dashed-diagram.service__dashed-diagram
                .dashed-diagram__diagram#diagram-9
                  .dashed-diagram__value.dashed-diagram__value_top
                    span план
                    p.dashed-diagram__value-p 113,4
                  .dashed-diagram__value.dashed-diagram__value_bottom
                    p.dashed-diagram__value-p 46,5
                    | факт
              p.service__capt Непрограммные направления деятельности
            .service-dots
              button(data-cont="serv-d-1").service-dots__btn
              button(data-cont="serv-d-2").service-dots__btn.active
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        // SERVICE_ITEM/
        .tile__item.anim-left(data-delay="300").js_dropable
          .tile__inner.service.js_draggable
            .service__ahead
              h3.service__title Адресная инвестиционная программа
                button
                +icon('pin').service__icon
              p.service__sub-title на 2016 год, млрд. руб.
            .segment-diagram#diagram-6
              .segment-diagram__value
                span Всего
                p.segment-diagram__value-num 347,2
              p.segment-diagram__floating.segment-diagram__floating_green#floating_diagram-6-0 Строительство
                span 150,7
              p.segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-6-1 Образование
                span 60,8
              p.segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-6-2 Медицина
                span 35,2
              p.segment-diagram__floating.segment-diagram__floating_gray#floating_diagram-6-3 Прочее
                span 100,5
            ul.diagram-tabs.service__diagram-tabs
              li.diagram-tabs__item.diagram-tabs__item_green
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_house#button_diagram-6-0 150,7
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Строительство
              li.diagram-tabs__item.diagram-tabs__item_violet
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_edu#button_diagram-6-1 60,8
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Образование
              li.diagram-tabs__item.diagram-tabs__item_blue
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_med#button_diagram-6-2 35,2
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Медицина
              li.diagram-tabs__item.diagram-tabs__item_gray
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_other#button_diagram-6-3 100,5
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Прочее
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="2", data-brick-900="1", data-brick-1100="1")
        // SERVICE_ITEM/
        .tile__item.anim-left(data-delay="600").js_dropable
          .tile__inner.service.js_draggable
            .service__ahead
              h3.service__title Государственный долг
                button
                +icon('pin').service__icon
              .service__sub-title
                span по состоянию на
                .service__datepicker
                  input(value='01.06.2017', tabindex="0").datepicker__show.jq-spec-datepicker
                | , млрд. руб           
            .segment-diagram#diagram-7
              .segment-diagram__value
                span Всего
                p.segment-diagram__value-num 77,2
              p.segment-diagram__floating.segment-diagram__floating_green#floating_diagram-7-0 Бюджетные&nbsp;кредиты
                span 21,4
              p.segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-7-1 Внутренний&nbsp;долг
                span 28,8
              p.segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-7-2 Внешний&nbsp;долг
                span 48,4
            ul.diagram-tabs.service__diagram-tabs
              li.diagram-tabs__item.diagram-tabs__item_green
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_bank#button_diagram-7-0 21,4
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Бюджетные кредиты
              li.diagram-tabs__item.diagram-tabs__item_blue
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_bag#button_diagram-7-1 28,8
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Внутренний долг
              li.diagram-tabs__item.diagram-tabs__item_violet
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_build#button_diagram-7-2 48,4
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Внешний долг
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="2", data-brick-900="2", data-brick-1100="1")
        // SERVICE_ITEM/
        .tile__item.anim-left(data-delay="900").js_dropable
          .tile__inner.service.service__cities.js_draggable
            +widget-card().widget-card-cities
              +widget-card-head('Москва и города мира')
              +widget-card-content()
                +e.logo
                  img(src='assets/images/logo.png')
                +e.select
                  +selectbox-cities('select', getData('widget-card-selectbox-cities'))
                +e.select
                  +selectbox('select', getData('widget-card-selectbox-cities2'))
                +e.results._moscow
                  +e.results-total 12 500 тысяч человек
                  +e.results-rating
                    +e.results-pos 8 место
                    +e.results-in из 8 крупнейших городов мира
                +e.results._london
                  +e.results-total 12 500 тысяч человек
                  +e.results-rating
                    +e.results-pos 8 место
                    +e.results-in из 8 крупнейших городов мира
                +e.results._paris
                  +e.results-total 12 500 тысяч человек
                  +e.results-rating
                    +e.results-pos 8 место
                    +e.results-in из 8 крупнейших городов мира
                +e.results._berlin
                  +e.results-total 12 500 тысяч человек
                  +e.results-rating
                    +e.results-pos 8 место
                    +e.results-in из 8 крупнейших городов мира
              a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        // SERVICE_ITEM/
        .tile__item.js_dropable
          .tile__inner.service.service_calc.js_draggable
            +widget-card().widget-card-calc
              +widget-card-head('Бюджетный калькулятор')
              +widget-card-content()
                +e.select
                  +selectbox('select', getData('widget-card-selectbox'))
                +e.range
                  +range-for-widgets('widget_card_calc')
                +e.value
                  +e.value-title Дефицит
                  +e.value-value -47,5
                  +e.value-units млрд руб.
              +e.bottom-link-wrap
                +widget-card-bottom-link('calc', 'Предложите свой вариант бюджета!')._gradiented
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        // SERVICE_ITEM/
        .tile__item.js_dropable
          .tile__inner.service.service_widget.js_draggable
            +widget-card().widget-card-polls
              +widget-card-head('Опрос общественного мнения', 'Примите участие в опросах')
              +widget-card-content()
                +e.nav-buttons
                  +arrow-button()._prev.widget-card__arrow-button
                  +arrow-button()._next.widget-card__arrow-button
                +e.info-block._active
                  +e.info._opt1._active
                    +e.info-block-title Как сделать портал еще интереснее? Как?
                    +e.info-block-date до 30.01.2017
                    +widget-card-bottom-link(false, 'Пройти опрос')._gradiented
                  +e.info._opt2
                    +e.info-block-title Как сделать портал еще удобнее? Как?
                    +e.info-block-date до 30.01.2017
                    +widget-card-bottom-link(false, 'Пройти опрос')._gradiented
                  +e.info._opt3
                    +e.info-block-title Как сделать портал еще смешнее? Как? 
                    +e.info-block-date до 30.01.2017
                    +widget-card-bottom-link(false, 'Пройти опрос')._gradiented
              a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        // SERVICE_ITEM/
        .tile__item.js_dropable
          .tile__inner.service.service_widget.js_draggable
            +widget-card().widget-card-quiz
              +widget-card-head('Викторины', 'Проверь свои знания в викторине')
              +widget-card-content()
                +e.nav-buttons
                  +arrow-button()._prev.widget-card__arrow-button
                  +arrow-button()._next.widget-card__arrow-button
                +e.info-block._active
                  +e.info._opt1._active
                    +e.info-block-title История бюджета города Москвы во второй половине XX – начале ХХI века
                    +e.info-block-date Создана 30.01.2017
                    +widget-card-bottom-link(false, 'Пройти викторину')._gradiented
                  +e.info._opt2
                    +e.info-block-title История бюджета города Москвы во первой половине XX – начале ХХI века
                    +e.info-block-date Создана 30.01.2017
                    +widget-card-bottom-link(false, 'Пройти викторину')._gradiented
                  +e.info._opt3
                    +e.info-block-title История бюджета города Москвы в третьей(?) половине XX – начале ХХI века
                    +e.info-block-date Создана 30.01.2017
                    +widget-card-bottom-link(false, 'Пройти викторину')._gradiented
      				
              a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        // SERVICE_ITEM/
        .tile__item.js_dropable
          .tile__inner.service.service__cities.js_draggable
            +widget-card().widget-card-cities
              +widget-card-head('Москва и города мира')
              +widget-card-content()
                +e.logo
                  img(src='assets/images/logo.png')
                +e.select
                  +selectbox-cities('select', getData('widget-card-selectbox-cities'))
                +e.select
                  +selectbox('select', getData('widget-card-selectbox-cities2'))
                +e.results._moscow
                  +e.results-total 12 500 тысяч человек
                  +e.results-rating
                    +e.results-pos 8 место
                    +e.results-in из 8 крупнейших городов мира
                +e.results._london
                  +e.results-total 12 500 тысяч человек
                  +e.results-rating
                    +e.results-pos 8 место
                    +e.results-in из 8 крупнейших городов мира
                +e.results._paris
                  +e.results-total 12 500 тысяч человек
                  +e.results-rating
                    +e.results-pos 8 место
                    +e.results-in из 8 крупнейших городов мира
                +e.results._berlin
                  +e.results-total 12 500 тысяч человек
                  +e.results-rating
                    +e.results-pos 8 место
                    +e.results-in из 8 крупнейших городов мира
              a(href="#").service__more Подробнее
        // /SERVICE_ITEM            
    // /SERVICES_SLIDER
  // /SERVICES_SECTION
  
  // NEWS_SECTION/
  .sections__item.sections__item_bg3
    // NEWS_AHEAD/
    .sections__ahead.sections__ahead_ab
      .wrap
        h2.sections__title.anim-fade-top Новости
        a(href="#").sections__all.anim-fade-top Все новости
    // /NEWS_AHEAD
    // SUBSCRIBE/
    .subscribe.sections__subscribe.viewport-md-lg
      .wrap
        p.subscribe__label Подпишитесь<br> на новости
        .small-form.subscribe__small-form
          form(action="" method="POST" novalidate).small-form__form.js-form-validate
            label(for="i-email").overlabel e-mail
            input(id="i-email" type="email" name="email" value="" required).small-form__text
            .small-form__submit
              input(type="submit", value="")
        p.subscribe__caption Для выбора параметров рассылки необходимо
          a(href="#login").open-popup.yellow зарегистрироваться
          | на портале
    // /SUBSCRIBE
    // NEWS_SLIDER/
    .slider(data-sides-700="4", data-sides-900="3", data-sides-1100="2")
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="100")  
          +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016')._blue.tile__inner
        
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="300")  
          +news-card(1, 'Новости Москвы', 'Подведены итоги предварительной апробации', '8 августа 2016')._red.tile__inner
        
      .cube-brick(data-brick-700="2", data-brick-900="1", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="600")  
          +news-card(1, 'Федеральные новости', '«Бюджетная грамотность для старшеклассников»', '8 августа 2016')._green.tile__inner
        
      .cube-brick(data-brick-700="2", data-brick-900="2", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="900")  
          +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы', '8 августа 2016')._blue.tile__inner
        
      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016')._blue.tile__inner
        
      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          +news-card(1, 'Новости Москвы', 'Подведены итоги предварительной апробации', '8 августа 2016')._red.tile__inner
        
      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          +news-card(1, 'Федеральные новости', '«Бюджетная грамотность для старшеклассников»', '8 августа 2016')._green.tile__inner
        
      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы', '8 августа 2016')._blue.tile__inner

    // /NEWS_SLIDER
  // /NEWS_SECTION
