.service__icon {
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  top: -1px;
  cursor: pointer;
  opacity: 1;
  right: 19px;
  stroke: #a1b5d4;
  stroke-width: 4;
  fill: transparent;
  transform: scale(-1, 1);
  transition: all .25s ease-in-out;
  border: 1px solid transparent;

  &:hover {
    opacity: .7;
  }

  &_active {
    fill: #0d46a1;
    stroke-width: 1;
  }

  @media screen and (max-width: 320px) {
    right: 16px;
    width: 15px;
  }
}

.diagram-note {
  font-size: 13px;
  
  @media (max-width: 900px) {
    font-size: 12px;
  }
  
  @media (max-width: 360px) {
    font-size: 11px;
  }
  
  &__hover {
    position: relative;
    color: $color-yellow;
    
    &:hover {
      .diagram-note__popup {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  
  &__popup {
    position: absolute;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    bottom: 100%;
    background-color: #fff;
    margin-bottom: 5px;
    padding: 11px;
    font-family: FiraSans,sans-serif;
    font-size: 11px;
    color: #000;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.4);
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease-in-out;
    
    @media (max-width: 900px) {
      font-size: 10px;
    }
    
    @media (max-width: 460px) {
      width: 180px;
    }
    
    @media (max-width: 360px) {
      width: 140px;
      font-size: 9px;
    }
    
    &:before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0;
      border-color: #fff transparent transparent;
      position: absolute;
      left: 0;
      top: 100%;
      right: 0;
      margin: auto;
    }
  }
}

.wrapper_main {
  max-width: initial;
  
  .diagram-note {
    position: absolute;
    bottom: 30px;
    left: 50%;
    right: 100px;
    max-width: 550px;
    z-index: 2;
    
    @media (max-width: 700px) and (min-width: 551px) {
      bottom: 60px;
      left: 20px;
      right: 20px;
      max-width: none;
    }
    
    @media (max-width: 550px) and (min-width: 461px) {
      bottom: 70px;
      right: 50px;
    }
    
    @media (max-width: 460px) {
      bottom: 60px;
      right: 20px;
      left: 20px;
    }
  }
  
  .legend {
    @media (max-width: 700px) and (min-width: 551px) {
      bottom: 105px !important;
    }
    
    @media (max-width: 460px) {
      bottom: 85px !important;
    }
    
    @media (max-width: 360px) {
      bottom: 75px !important;
    }
  }
  
  .legend__item {
    @media (max-width: 360px) {
      font-size: 11px !important;
    }
  }
  
  div.sections__item {
    &:first-of-type {
      z-index: 2;
    }
  }

  .sections>:first-child {
    padding-top: 0;
  }

  .cube {
    //z-index: 0;
    overflow: hidden;
  }

  .cube__arrow_m {
    display: none;
  }

  .large-diagram_income {
    .large-diagram__caption .rub {
      display: none;
    }
  }

  .large-diagram>a {
    z-index: 2;
  }

  .service__datepicker_head {
    z-index: 10;
    .datepicker__panel {
      margin-left: 0;
    }
  }

  .sections__datepicker .dp,
  .service__datepicker {
    position: relative;
    display: inline-block;
    z-index: 3;
    cursor: pointer;
  }

  .service.service_widget {
    padding: 0;

    .service__ahead {
      padding: 14px 20px 11px;

      @media (max-width: 450px) {
        padding: 0;
      }
    }

    @media (max-width: 900px) {

      .widget-card__content+.widget-card__content {
        display: none;
      }
    }
  }

  .service__more {
    font-weight: normal;
  }

  .widget-card {

    @media (max-width: 650px) {
      height: 100%;
      min-height: 1px;
    }

    @media (max-width: 320px) {
      min-height: 100%;
    }

    &>:nth-child(n+2) {
      @media (max-width: 580px) {
        display: block;
      }
    }

    &__arrow-open {
      @media (max-width: 580px) {
        display: none;
      }
    }

    &__nav-buttons {
      @media (max-width: 640px) {
        margin-top: 9px;
      }

    }

    &__head {
      @media (max-width: 640px) {
        min-height: 1px;
        height: 61px;
        padding: 10px 15px 30px;
      }
    }

    &__title {
      @media (max-width: 900px) {
        font-size: 14.5px;
        margin-bottom: 3px;
        min-height: 12px;
        line-height: 15px;

        &::first-letter {
          text-transform: uppercase;
        }
      }
      
      h3 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    &__subtitle {
      
      @media (max-width: 900px) {
        font-size: 12px;
        margin-top: 0;
      }
      @media (max-width: 480px) and (min-width: 321px) {
        font-size: 14px;
      }
    }
    
    &__state {
      @media (max-width: 900px) {
        font-size: 12px;
        margin-top: 0;
      }
    }

    &__favor {
      @media (max-width: 605px) {
        right: -5px;
        top: 0;
      }
      @media (max-width: 400px) {
        top: -4px;
      }
    }

    &__pin {
      @media (max-width: 605px) {
        right: 16px;
        top: -2px;
        width: 15px;
      }
      @media (max-width: 400px) {
        top: -5px;
      }
    }

    &__logo {
      @media (max-width: 900px) {
        width: 31px;
        height: 30px;
      }

      @media (width: 768px) {
        width: 47px;
        height: 59px;
      }

      @media (max-width: 605px) {
        width: 31px;
        height: 30px;
      }
    }

    &__results-rating {
      @media (max-width: 900px) {
        padding: 1px 9px;
      }

      @media (width: 768px) {
        padding: 5px 9px;
      }

      @media (max-width: 480px) {
        padding: 2px 9px;
      }

      @media (max-width: 320px) {
        padding: 1px 9px;
      }
    }

    &__results-pos {
      @media (max-width: 900px) {
        font-size: 16px;
      }

      @media (width: 768px) {
        font-size: 30px;
      }

      @media (max-width: 605px) {
        font-size: 16px;
      }
    }

    &__value {
      @media (max-width: 900px) {
        margin-top: 8px;
        font-size: 12px;

        &-value {
          font-size: 32px;
          line-height: 32px;
          letter-spacing: -1px;
        }
      }

      @media (width: 768px) {
        margin-top: 36px;
        font-size: 14px;
        line-height: 14px;

        &-value {
          font-size: 60px;
          line-height: 60px;
          letter-spacing: -3px;
        }
      }

      @media (max-width: 480px) {
        margin-top: 8px;
        font-size: 12px;

        &-value {
          font-size: 32px;
          line-height: 32px;
          letter-spacing: -1px;
        }
      }
    }

    &__range {
      @media (max-width: 900px) {
        margin-top: 16px;
      }
      @media (width: 768px) {
        margin-top: 19px;
      }
      @media (max-width: 480px) {
        margin-top: 19px;
      }
      @media (max-width: 320px) {
        margin-top: 16px;
      }
    }

    &__bottom-link.widget-card__bottom-link_gradiented {
      @media (max-width: 900px) {
        font-size: 12px;
        //line-height: 13px;
      }
    }

    &-calc {
      .widget-card__bottom-link {
        @media (max-width: 900px) {
          height: 36px;
        }
        //@media (width: 768px) {
        //  height: inherit;
        //  padding: 13px 19px 13px 65px;
        //  font-size: 14px;
        //  line-height: 16px;
        //}
        &.widget-card__bottom-link_gradiented {
          @media (max-width: 900px) {
            padding: 4px 25px 9px 57px;
          }
        }
      }
    }

    &__bottom-link-img {
      @media (max-width: 900px) {
        width: 21px;
      }
    }

    &__info-block {
      @media (max-width: 900px) {
        padding-top: 4px;

        &-title {
          font-size: 14px;
        }

        &-date {
          font-size: 12px;
        }
      }

      @media (width: 768px) {
        padding-top: 15px;

        &-title {
          font-size: 20px;
        }

        &-date {
          font-size: 14px;
        }
      }
    }

    &.widget-card-quiz .widget-card__info-block-date, &.widget-card-polls .widget-card__info-block-date {
      @media (max-width: 900px) {
        margin-top: 0;
      }
    }

    &-quiz, &-polls {
      @media (max-width: 900px) {
        padding-bottom: 22px;
      }
    }

    &-polls {
      @media (max-width: 640px) {
        padding-bottom: 37px;
      }
    }
    
    &-invest-program {
      .diagram-tabs__item_green .diagram-tabs__btn_house:before,
      .diagram-tabs__item_violet .diagram-tabs__btn_edu:before,
      .diagram-tabs__item_blue .diagram-tabs__btn_med:before {
        @media (max-width: 900px) and (max-height: 610px) {
          background-size: 100%;
        }
        @media screen and (max-width: 605px) {
          background-size: 100%;
        }
      }
    }
    
    &-gov-debt-alt {
      .diagram-tabs__btn_other:before {
        @media (max-width: 900px) and (max-height: 610px) {
          background-size: 18px 18px;
          background-position: 0 50%; 
        }
        @media screen and (max-width: 605px) {
          background-size: 18px 18px;
          background-position: 0 50%; 
        }
      }
    }
    
    .diagram-tabs__icon {
      @media (max-width: 900px) and (max-height: 610px) {
        width: 11px;
        height: 12px;
        margin-right: 1px;
        position: relative;
        top: 1px;
        display: inline-block;
      }
    }

    .selectbox {
      //@media (max-width: 900px) {
      //  height: 27px;
      //  line-height: 27px;
      //}

      @media (width: 768px) {
        line-height: 32px;
        height: 100%;
      }

      &__select, &__val {
        @media (max-width: 900px) {
          font-size: 12px;
        }
        @media (width: 768px) {
          font-size: 14px;
        }

        @media (max-width: 480px) {
          font-size: 14px;
        }
      }
    }


    &__results-in {
      font-size: 12px;
    }

    &__bottom-link {
      @media (max-width: 900px) {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
      }

      @media (width: 768px) {
        line-height: 36px;
        font-size: 16px;
        height: 36px;
      }
      @media (max-width: 605px) {
        height: 30px;
        line-height: 30px;
        font-size: 12px;
      }
    }
  }
  
  .widget-card-cities, .widget-card-regions {
    .selectbox {
      ul {
        @media (max-height: 530px) {
          max-height: 110px;
        }
      }
    }
  }
  
  .widget-card-municipalities {
    .selectbox {
      ul {
        @media (max-height: 530px) {
          max-height: 65px;
        }
      }
    }
  }

  .service__cities {
    padding: 0 !important;
  }

  .service.service_calc {
    padding: 0;
    @media (max-width: 900px) {
      .widget-card__selectbox {
        margin-top: 10px;
      }

      .widget-card__budget-total-title {
        font-size: 11px;
        width: inherit;
      }

      .widget-card__budget-stat {
        font-size: 12px;
      }
      .widget-card__budget-stat-count {
        font-size: 24px;
      }
      .widget-card__budget-total {

        &+.widget-card__budget-total {
          display: none;
        }
      }
    }

    @media (max-width: 900px) {
      .widget-card__budget-total-count {
        margin-left: 8px;
      }
    }
  }

  .button {
    display: block;
    width: 228px !important;
    height: 51px !important;
    background: #fee300;
    font-size: 21px !important;
    font-weight: 500;
    color: #000;
    text-align: center;
    line-height: 54px !important;
    -webkit-box-shadow: 0 5px 7px rgba(254, 227, 0, 0.4);
    -moz-box-shadow: 0 5px 7px rgba(254, 227, 0, 0.4);
    box-shadow: 0 5px 7px rgba(254, 227, 0, 0.4);
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    &:hover {
      background: #e7ce00;
    }
  }

  .cube__arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    margin-top: -22px;
  }

  .grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .grid__col {
    display: block;
    padding: auto;
    margin: auto;
  }

  .comp-diagram {
    width: 335px;
    height: 335px;
    padding-top: 33px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -167px;
  }

  .service {
    min-height: 400px;
    padding: 13px 20px 40px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 7px;
    right: 7px;
    margin: -140px 0 0;
    color: #000;
  }

  .news {
    padding-bottom: 70px;
    background: #FFF;
    position: relative;
    color: #000;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
  }

  .news__category {
    font-size: 16px;
  }

  .news__tags {
    white-space: nowrap;
    overflow: hidden;

    a {
      margin-right: 15px;
    }
  }

  .share__panel {
    line-height: 50px;
  }

  .ui-datepicker {
    display: block !important;
  }

  .lh-1_2 {
    line-height: 20px!important;
  }

  .banner__wrap {
    padding: 18.625rem 0 0 242px;
    
    @media (max-width: 1180px) {
      padding: 18.625rem 0 0 152px;
    }
  }
  
  .button-top {
    bottom: 90px;
    right: -5px;
    
    @media screen and (max-width: 700px) {
      bottom: 50px;
      right: 0;
      width: 53px;
      height: 90px;
      background-size: 350px;
    }
  }
  
  .segment-diagram__value {
    top: 50%;
    width: 100%;
    margin-top: -20px;
    height: auto;
  }
  
  .slider_services, .slider_news {
    .wrap {
      height: 100%;
      @media screen and (min-width: 701px) and (max-width: 1180px) {
        padding-left: 55px;
        padding-right: 55px;
      }
      @media screen and (max-width: 700px) {
        padding-left: 35px;
        padding-right: 35px;
      }
    }
  }
  
  .news__title {
    max-height: 7.2em;
    overflow: hidden;
    
    @media screen and (max-height: 690px) {
      max-height: 4.8em;
    }
  }
}

@media (min-height: 1000px) and (min-width: 1254px) {
  .wrapper_main {
    .banner__wrap {
      padding-top: 350px;
    }
  }
}

@media (min-height: 850px) and (max-height: 999px) and (min-width: 1254px) {
  .wrapper_main {
    .banner__wrap {
      padding-top: 330px;
    }
  }
}

@media (min-height: 631px) and (max-height: 810px) {
  .wrapper_main {
    .service__dashed-diagram {
      height: 180px;
    }
  }
}

@media (min-height: 631px) and (max-height: 730px) {
  .wrapper_main {
    .service {
      margin: -170px 0 0;
      min-height: 400px;
    }
    .dashed-diagram__diagram {
      width: 170px;
      height: 170px;
      .svg-wrap, .svg-wrap svg {
        width: 100%;
        height: 100%;
      }
    }
    .segment-diagram {
      width: 175px;
      height: 175px;
      .svg-wrap, .svg-wrap svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (min-height: 631px) and (max-height: 730px) and (min-width: 901px) {
  .wrapper_main {
    .banner__wrap {
      padding: 18.625rem 0 0 242px;
    }
  }
}

@media (max-height: 630px) and (min-width: 901px) {
  .wrapper_main {
    .banner__wrap {
      padding: 15.625rem 0 0 242px;
    }
    .large-diagram {
      margin-top: -140px;
    }
    .large-diagram__svg {
      width: 350px;
      height: 350px;
      .svg-wrap, .svg-wrap svg {
        width: 100%;
        height: 100%;
      }
    }
    .large-diagram__note {
      padding-top: 10px;
    }
    .service {
      margin: -150px 0 0;
      min-height: 340px;
    }
    .dashed-diagram__diagram {
      width: 135px;
      height: 135px;
      .svg-wrap, .svg-wrap svg {
        width: 100%;
        height: 100%;
      }
    }
    .service__dashed-diagram {
      height: 140px;
    }
    .segment-diagram {
      width: 130px;
      height: 130px;
      .svg-wrap, .svg-wrap svg {
        width: 100%;
        height: 100%;
      }
    }
    .service__place {
      font-size: 40px;
    }
    .news {
      margin: -150px 0 0;
      min-height: 0;
      height: 340px;
    }
    .news__title {
      max-height: 90px;
      overflow: hidden;
    }
  }
}

@media (min-width: 1181px) and (max-width: 1300px) {
  .wrapper_main {
    .tile {
      margin: 0 51px;
    }
  }
}

@media (min-width: 701px) and (max-width: 1180px) {
  .wrapper_main {
    .sections__ahead .wrap {
      padding-left: 55px;
      padding-right: 55px;
    }
    .sections__subscribe .wrap {
      padding-left: 55px;
      padding-right: 55px;
    }
  }
}
@media (max-width: 700px) {
  .wrapper_main {
    .sections__ahead .wrap {
      padding-left: 35px;
      padding-right: 35px;
    }
    .sections__subscribe .wrap {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

@media (max-height: 730px) and (min-width: 901px) and (max-width: 1180px) {
  .wrapper_main {
    .banner__wrap {
      padding: 15.875rem 0 0 125px;
    }
  }
}

@media (min-width: 1102px) and (max-width: 1180px) {
  .wrapper_main {
    .comp-diagram {
      padding-top: 58px;
    }
    .comp-diagram__num_blue,
    .comp-diagram__num_pink {
      margin-bottom: 29px !important;
    }
    .comp-diagram__num_yellow {
      top: 30px;
    }

  }
}

@media (min-width: 901px) and (max-width: 1180px) {

  .wrapper_main {

    .large-diagram {
      margin-top: -180px;
    }
    .slider_diagrams .grid {
      padding: 0 50px;
    }

    .comp-diagram_dash-1, .comp-diagram_dash-2 {
      background-size: cover;
    }
  }

}

@media (min-width: 901px) and (max-width: 1101px) {
  .wrapper_main {
    .comp-diagram {
      width: 230px;
      height: 230px;
      margin: -80px 0 0 -115px;
    }
    .comp-diagram .svg-wrap, .comp-diagram .svg-wrap .svg {
      width: 170px;
      height: 170px;
    }
    .comp-diagram__num_blue,
    .comp-diagram__num_pink {
      margin-bottom: 20px !important;
    }
    .comp-diagram__num_yellow {
      top: 13px;
    }
  }
}

@media (max-width: 900px) {

  .wrapper_main {

    .banner__wrap {
      padding: 13.625rem 60px 0 60px;
    }

    .banner__row br {
      display: none;
    }

    .sections__title {
      max-width: 100%;
    }

    .comp-diagram {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 30px 0 0;
      transform: translate(-50%, -50%);
      -o-background-size: 100% auto;
      -moz-background-size: 100% auto;
      background-size: 100% auto;
    }

    .large-diagram {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate(-50%, -50%);
    }

    .large-diagram_income {
      .large-diagram__caption .rub {
        display: inline-block;
      }
    }

    [data-slick-index="4"] .large-diagram {
      top: calc(50% + 10px);
    }

    .large-diagram__percent {
      padding-left: 200px;
    }

    .large-diagram__value {
      font-size: 15px;
    }

    .large-diagram__value p {
      font-size: 26px;
    }

    .large-diagram__note {
      padding-top: 10px;
    }
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .wrapper_main {
    .sections__legend {
      bottom: 20px;
    }

    .legend__item {
      font-size: 16px;
      height: 22px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    .legend__item:before {
      width: 22px;
      height: 22px;
    }

    .comp-diagram__num_yellow {
      top: 15px;
    }

    .service {
      margin-top: -180px;
    }
  }
}

@media (min-width: 451px) and (max-width: 900px) {
  .wrapper_main {
    .service {
      position: absolute;
      top: 50%;
      left: 14px;
      right: 14px;
    }
    .large-diagram__svg, .large-diagram__svg .svg {
      width: 220px;
      height: 220px;
    }
  }
}

@media  (min-width: 701px) and (max-width: 900px) {
  .wrapper_main {
    .service {
      transform: translateY(-50%);
      margin-top: auto;
    }
    .service:before {
      height: 84px;
    }
    .service__ahead {
      min-height: 80px;
    }
    .news {
      height: 400px;
    }
  }
}

@media (min-height: 501px) and (max-width: 900px) {
  .wrapper_main {
    .comp-diagram__num_blue {
      margin-bottom: 44px !important;
      margin-left: -121px;
    }
    .comp-diagram__num_pink {
      margin-bottom: 44px !important;
      margin-left: -94px;
    }
  }
}

@media (max-height: 500px) and (max-width: 900px) {
  .wrapper_main {
    .comp-diagram {
      width: 230px;
      height: 230px;
      padding-top: 27px;
    }
    .comp-diagram__num_blue {
      margin-bottom: 25px !important;
      margin-left: -93px;
    }
    .comp-diagram__num_pink {
      margin-bottom: 25px !important;
      margin-left: -72px;
    }
    .comp-diagram .svg-wrap, .comp-diagram .svg-wrap .svg {
      width: 180px;
      height: 180px;
    }
  }
}

// @media (min-width: 551px) and (max-width: 800px) {
//   .wrapper_main {
//     .footer {
//       padding-top: 100px;
//     }
//   }
// }

// @media (max-height: 520px) and (min-width: 551px) and (max-width: 800px) {
//   .wrapper_main {
//     .footer {
//       padding-top: 85px;
//     }
//     .footer .footer-mob-menu__item {
//       margin-bottom: 12px;
//     }
//     .footer .footer-mob-add-menu {
//       margin-top: 14px;
//     }
//   }
// }

@media (max-width: 700px) {

  .wrapper_main {

    .banner__row_sub {
      vertical-align: top;
    }

    .banner__row {
      font-size: 32px;
    }

    .cube__arrow {
      display: none;
      position: relative;
      top: 0;
      margin-top: 0;
    }

    .cube__arrow_m {
      display: block !important;
      float: left;
    }

    .lh-1_2 {
      line-height: 15px;
    }

    .sections__title {
      font-size: 24.4px;
    }

    .legend__item {
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      margin: 0 0 10px;
    }

    .legend__item:before {
      width: 16px;
      height: 16px;
    }

    .share__panel {
      line-height: 30px;
    }

    .service__dashed-diagram {
      //height: 135px;
    }
  }
}

@media (max-width: 650px) {
  .wrapper_main {
    .service {
      min-height: 1px;
      padding: 10px 15px 30px;
    }
    .segment-diagram {
      bottom: 5px;
    }
  }
}

@media (max-width: 610px) {
  .wrapper_main .service {
    width: 250px;
    height: 340px;
  }
}

@media (max-width: 480px) {
  .wrapper_main {
    .service {
      min-height: 380px;
      height: 245px;
      width: 250px;
      max-width: 250px;
    }
  }
}

// @media (max-width: 650px) {
//   .wrapper_main {
//
//
//     .news__category {
//       height: 20px;
//       line-height: 22px;
//       margin: 0 0 20px 20px;
//       font-size: 13px;
//       padding: 0 7px;
//     }
//     .news__thumb {
//       height: 130px;
//     }
//     .news__date, .news__tags {
//       font-size: 13px;
//     }
//   }
// }

// @media (min-height: 611px) and (min-width: 451px) and (max-width: 650px) {
//   .wrapper_main {
//     .dashed-diagram__diagram, .dashed-diagram__diagram .svg {
//       width: 180px;
//       height: 180px;
//     }
//     .segment-diagram, .segment-diagram .svg {
//       width: 190px;
//       height: 190px;
//     }
//   }
// }

@media  (max-width: 650px) {
  .wrapper_main {
    .dashed-diagram__diagram, .dashed-diagram__diagram .svg {
      width: 132px;
      height: 132px;
    }
    .segment-diagram, .segment-diagram .svg {
      width: 140px;
      height: 140px;
    }
    .news__thumb {
      height: 160px;
    }
    .news__category {
      margin: 0 0 20px 20px;
      font-size: 16px;
      height: 20px;
      line-height: 22px;
      padding: 0 7px;
    }
    .news__title {
      font-size: 18px;
      margin: 0 19px;
    }
    .news__bottom {
      padding: 0 0 15px 19px;
    }
    .news__date, .news__tags {
      font-size: 13px;
    }
  }
}

@media (max-width: 650px) and (max-height: 580px) {
  .wrapper_main {
    .news__category {
      margin-bottom: 10px;
    }
    .news__title {
      font-size: 16px;
      max-height: 3.6em;
    }
  }
}

@media (max-width: 650px) and (max-height: 550px) {
  .wrapper_main {
    .news__thumb {
      height: 100px;
    }
  }
}

@media (max-width: 650px) and (min-height: 790px) {
  .wrapper_main {
    .news {
      height: 400px;
    }
    .news__thumb {
      height: 150px;
    }
    .news__category {
      font-size: 16px;
      height: 20px;
      line-height: 22px;
    }
    .news__title {
      font-size: 18px;
    }
    .news__date, .news__tags {
      font-size: 13px;
    }
  }
}

@media (max-width: 650px) {
  .wrapper_main {
    .service__dashed-diagram {
      height: 195px;
    }
    .service-dots {
      bottom: 40px;
    }
  }
}

// @media (max-width: 550px) {
//   .wrapper_main {
//     .footer {
//       padding-top: 90px;
//     }
//     .footer .footer-mob-menu__item {
//       margin-bottom: 10px;
//       &:last-child {
//         padding-right: 0 !important;
//       }
//     }
//     .footer .footer-mob-add-menu {
//       margin-top: 10px;
//       width: 200%;
//       position: relative;
//       left: -100%;
//       font-size: 0;
//       .footer-mob-menu__item {
//         width: 50%;
//         display: inline-block;
//         &:first-child {
//           margin-left: 50%;
//         }
//       }
//     }
//   }
// }

@media screen and (max-height: 610px) and (max-width: 900px) {
  .wrapper_main {
    .service__diagram-tabs {
      bottom: 30px;
      height: 62px;
    }
    .diagram-tabs__btn {
      height: 38px;
      font-size: 13px;
      padding: 5px 8px;
      text-align: left;
      min-width: 42px;
    }
    .diagram-tabs__btn:before {
      width: 18px;
      height: 17px;
      position: relative;
      margin-right: 1px;
      background-image: url(../images/sprite.png);
      background-size: 380px auto;
      background-repeat: no-repeat;
      top: 0;
    }
    .diagram-tabs__btn {
      &_other:before {
        background-position: -184px 6px;
      }
      &_bank:before {
        //background-position: -142px 2px;
        background-image: url('../images/depfin-icons-30.svg');
        background-position: 0 50%;
        background-size: 16px 16px;
      }
      &_bag:before {
        //background-position: -142px -16px;
        background-image: url('../images/depfin-icons-29.svg');
        background-position: 0 50%;
        background-size: 16px 16px;
      }
      &_build:before {
        //background-position: -142px -35px;
        background-image: url('../images/depfin-icons-28.svg');
        background-position: 0 50%;
        background-size: 16px 16px;
      }
    }
    .diagram-tabs__icon {
      width: 11px;
      height: 12px;
      margin-right: 1px;
      position: relative;
      top: 1px;
      display: inline-block;
    }
    .diagram-tabs__btn_house:before {
      background-position: -207px 2px;
    }
    .diagram-tabs__caption {
      line-height: 24px;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 605px) {
  .wrapper_main {
    .service__diagram-tabs {
      bottom: 30px;
      height: 62px;
    }
    .diagram-tabs__btn {
      height: 38px;
      font-size: 13px;
      padding: 5px 8px;
      text-align: left;
      min-width: 42px;
    }
    .diagram-tabs__btn:before {
      width: 18px;
      height: 17px;
      position: relative;
      margin-right: 1px;
      background-image: url(../images/sprite.png);
      background-size: 380px auto;
      background-repeat: no-repeat;
      top: 0;
    }
    .diagram-tabs__btn {
      &_other:before {
        background-position: -184px 6px;
      }
      &_bank:before {
        //background-position: -142px 2px;
        background-image: url('../images/depfin-icons-30.svg');
        background-position: 0 50%;
        background-size: 16px 16px;
      }
      &_bag:before {
        //background-position: -142px -16px;
        background-image: url('../images/depfin-icons-29.svg');
        background-position: 0 50%;
        background-size: 16px 16px;
      }
      &_build:before {
        //background-position: -142px -35px;
        background-image: url('../images/depfin-icons-28.svg');
        background-position: 0 50%;
        background-size: 16px 16px;
      }
    }
    .diagram-tabs__icon {
      width: 11px;
      height: 12px;
      margin-right: 1px;
      position: relative;
      top: 1px;
      display: inline-block;
    }
    .diagram-tabs__btn_house:before {
      background-position: -207px 2px;
    }
    .diagram-tabs__caption {
      line-height: 24px;
      font-size: 12px;
    }
    
    .widget-card-gov-programs .service-dot-cont, .widget-card-gov-programs .service-dot-cont_act {
      margin-top: 42px;
    }
    .widget-card-invest-program .segment-diagram,
    .widget-card-gov-debt .segment-diagram {
      margin-top: 42px;
    }
  }
}

@media screen and (max-height: 570px) and (max-width: 605px) {
  .wrapper_main {
    .widget-card-gov-programs .service-dot-cont, .widget-card-gov-programs .service-dot-cont_act {
      margin-top: 12px;
    }
    .widget-card-invest-program .segment-diagram,
    .widget-card-gov-debt .segment-diagram {
      margin-top: 12px;
    }
  }
}

@media (max-width: 580px) {
  .wrapper_main {
    [data-slick-index="4"] .large-diagram {
      top: calc(50% + 19px);
    }
  }
}

@media (max-width: 450px) {
  .wrapper_main {
    .banner__wrap {
      padding: 13.625rem 30px 0;
    }

    .banner_ban-3 .banner__wrap {
      padding: 10.625rem 30px 0;
    }

    .sections__ahead .wrap, .sections__subscribe .wrap {
      padding-left: 40px;
      padding-right: 40px;
    }
    .comp-diagram {
      width: 200px;
      height: 200px;
      padding-top: 27px;
      -o-background-size: 100% auto;
      -moz-background-size: 100% auto;
      background-size: 100% auto;
    }

    .large-diagram {
      padding-top: 22px;
    }

    .service {
      margin: auto !important;
      //max-width: 213px;
      min-height: 310px;
      height: 268px;
      padding-bottom: 50px;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    .service:before {
      height: 84px;
    }
    .service__ahead {
      min-height: 87px;
    }

    .service__capt {
      font-size: 12px;
      margin-bottom: 4px;
    }

    .service__title { font-size: 15px; margin-bottom: 3px; min-height: 30px; padding-right: 35px; }
    .service__sub-title { font-size: 12px; }
    //.service__dashed-diagram { height: 140px; }
    .service__more { height: 30px; line-height: 30px; font-size: 12px; padding-left: 14px; font-weight: normal;}
    .service__more:after { right: 14px; }
    .service__datepicker .datepicker__panel { top: 22px; left: -83px; }
    .service__datepicker .datepicker__panel:before { margin-left: -14px; top: -27px; }
    .service__datepicker input { width: 49px; }
    .service__place { font-size: 28px; padding: 3px 6px 3px; margin-bottom: 7px; }
    .service__select { margin-bottom: 10px; }

    .slick-dots {
      top: 25%;
    }

    .banner__row {
      font-size: 26px;
    }

    .button {
      width: 145px !important;
      height: 30px !important;
      font-size: 16px !important;
      line-height: 32px !important;
    }

    .comp-diagram__num_blue {
      margin-left: -80px;
      margin-bottom: 20px !important;
    }

    .comp-diagram__num_pink {
      margin-left: -60px;
      margin-bottom: 20px !important;
    }

    .comp-diagram__num_yellow {
      top: 10px;
    }
    .comp-diagram .svg-wrap, .comp-diagram .svg-wrap .svg {
      width: 150px;
      height: 150px;
    }

    .large-diagram__caption .rub {
      font-size: 12px;
    }

    // .footer__box_l .footer__column {
    //   margin-top: 15px;
    // }
  }
}

@media (max-height: 550px) and (max-width: 450px) {
  .wrapper_main {

    .banner_ban-3 .banner__wrap {
      padding: 9rem 30px 0;
    }
  }
}

@media (max-width: 450px) {
  .wrapper_main {
    .dashed-diagram__diagram, .dashed-diagram__diagram .svg {
      width: 132px;
      height: 132px;
    }
    .segment-diagram, .segment-diagram .svg {
      width: 140px;
      height: 140px;
    }
  }
}

@media  (max-width: 450px) {
  .wrapper_main {
    .large-diagram {
      margin-top: 30px;
    }
  }
}
@media (max-width: 640px) {
  .wrapper_main {
    .service__diagram-tabs {
      bottom: 29px;
    }
  }
}
@media (max-height: 550px) and (max-width: 450px) {
  .wrapper_main {
    .service {
      max-width: none !important;
      min-height: 250px !important;
      // padding: 10px 10px 30px !important;
      top: 30px !important;
    }
    .service:before {
      height: 64px !important;
    }
    .service__ahead {
      min-height: 64px !important;
    }
    .dashed-diagram__diagram, .dashed-diagram__diagram .svg,
    .segment-diagram, .segment-diagram .svg {
      width: 110px !important;
      height: 110px !important;
    }
    .service__dashed-diagram {
      //height: 115px !important;
    }
    .dashed-diagram__value,
    .segment-diagram__value {
      font-size: 12px !important;
    }
    .segment-diagram__value {
      margin-top: -15px !important;
    }
    .dashed-diagram__value-p,
    .segment-diagram__value-num {
      font-size: 14px !important;
    }
  }
}

@media (min-height: 501px) and (max-width: 450px) {
  .wrapper_main {
    .large-diagram {
      width: 200px;
    }
    .large-diagram__svg, .large-diagram__svg .svg {
      width: 200px;
      height: 200px;
    }
    .large-diagram__percent {
      padding-left: 180px;
    }
  }
}

@media (max-height: 500px) and (max-width: 450px) {
  .wrapper_main {
    .large-diagram {
      width: 150px;
    }
    .large-diagram__svg, .large-diagram__svg .svg {
      width: 150px;
      height: 150px;
    }
    .large-diagram__caption .rub {
      right: -30px;
    }
    .large-diagram__value p {
      font-size: 18px;
    }
    .large-diagram__percent {
      padding-left: 150px;
    }
  }
}


// @qluqua переписываю каскадом стили слайдера "СЕРВИСЫ" на главной страницы
body.home {
  .wrapper.wrapper_main {
    // Общий отступ заголовков слайдов
    .sections__ahead.sections__ahead_ab {
      @media (max-width: 700px) {
        top: 78px !important;
      }
    }

    #services-slider {
      // обертка карточки
      .tile__item {
        position: relative;
      }

      // сама карточка
      .tile__inner,
      .tile__inner.service {
        position: absolute;
        top: 50% !important;
        bottom: auto !important;
        left: 0px !important;
        right: 0px !important;
        min-height: auto;
        padding: 0;
        transform: translateY(-50%);
        background: none;
        
        @media screen and (max-width: 605px) {
          margin: 0 !important;
        }
        @media screen and (max-width: 350px) {
          width: 242px;
        }
        &:before {
          display: none;
        }
      }
      
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .dashed-diagram__value-p {
          font-size: 14px;
        }
      }
    
      // карточка бюджетного калькулятора
      .widget-card__budget-stat+.widget-card__budget-stat {
        float: right;
        margin-left: 0;
      }
    
      // карточка Бюджетная сеть
      .widget-card-budget-web .widget-card__map {
        height: 100px;
      }
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card-budget-web .widget-card__map {
          height: 40px;
        }
      }
      
      // Бюджетный калькулятор
      @media screen and (min-width: 1171px) and (max-height: 650px) {
        .widget-card__budget-total {
          margin-top: 10px;
        }
        .widget-card__budget-total+.widget-card__budget-total {
          margin-top: 0;
        }
      }
      @media screen and (min-width: 651px) and (max-width: 1170px) and (max-height: 650px) {
        .widget-card__budget-total {
          margin-top: 2px;
        }
        .widget-card__budget-total+.widget-card__budget-total {
          margin-top: 0;
        }
      }
      @media screen and (max-width: 650px) {
        .widget-card__budget-stat-count {
          font-size: 28px;
        }
        .widget-card__budget-total-count {
          margin-left: 3px;
        }
      }
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card__budget-stats {
          margin-top: 9px;
        }
        .widget-card__budget-stat {
          font-size: 12px;
        }
        .widget-card__budget-stat-count {
          font-size: 24px;
        }
        .widget-card__budget-total {
          margin-top: -12px;
        }
        .widget-card__budget-total+.widget-card__budget-total {
          margin-top: 0;
        }
        .widget-card__budget-total-title {
          font-size: 10px;
        }
      }
      
      // Результаты реализации госпрограмм
      @media screen and (max-width: 1170px) and (max-height: 650px) {
        .widget-card-gov-programs-result .widget-card__nav-buttons {
          margin-top: 15px;
        }
      }
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card__info-block-items {
          height: 67px;
        } 
      }
      
      // Внутригородские муниципальные образования
      @media screen and (min-width: 651px) and (max-width: 1170px) and (max-height: 650px) {
        .widget-card-municipalities .widget-card__map {
          height: 135px;
        }
      }
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card-municipalities .widget-card__map {
          height: 85px;
        }
      }
      
      // Обучающий сервис
      @media screen and (max-width: 1170px) and (max-height: 650px) {
        .widget-card__lessons-text {
          margin-top: 13px;
          height: auto;
        }
        .widget-card__lessons-text_active {
          height: auto;
        }
      }
      @media screen and (max-width: 650px) and (max-height: 650px) {
        .widget-card__lessons-text {
          font-size: 13px;
        }
        .widget-card__lessons-text_active {
          font-size: 16px;
        }
      }
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card__lessons {
          margin-bottom: 7px;
        }
        .widget-card__lessons-text {
          font-size: 11px;
          margin-top: 3px;
        }
        .widget-card__lessons-text_active {
          font-size: 11px;
        }
      }
      
      // Общественно значимые проекты
      @media screen and (min-width: 651px) and (max-width: 1170px) and (max-height: 650px) {
        .widget-card-projects .widget-card__info-block-subtitle {
          margin-top: 20px;
        }
        .widget-card__info-block-desc {
          max-width: 100%;
        }
      }
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card-projects .widget-card__info-block-subtitle {
          margin-top: 14px;
        } 
      }
      
      // Государственные программы
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card-gov-programs .dashed-diagram__diagram, .widget-card-gov-programs .dashed-diagram__diagram .svg {
          width: 120px !important;
          height: 120px !important;
        }
        .service__dashed-diagram {
          height: 130px;
        }
      }
      
      // Адресная инвестиционная программа
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card-invest-program .segment-diagram, .widget-card-invest-program .segment-diagram .svg {
          width: 130px !important;
          height: 130px !important;
        } 
      }
      
      // Государственный долг
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card-gov-debt .segment-diagram, .widget-card-gov-debt .segment-diagram .svg {
          width: 130px !important;
          height: 130px !important;
        }
      }
      
      // Москва и города мира
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card__results-total {
          font-size: 15px;
        }
        .widget-card__select {
          margin-top: 7px;
        }
        .widget-card__results {
          margin-top: 7px;
        }
        .widget-card__results-rating {
          margin-top: 1px;
        }
      }
      
      // Опрос общественного мнения
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card-polls-pers .widget-card__info-block-title, .widget-card-quiz-pers .widget-card__info-block-title {
          font-size: 13px;
          height: 30px;
        }
        .widget-card-polls-pers .widget-card__info-block, .widget-card-quiz-pers .widget-card__info-block {
          padding: 5px 0 0;
        }
        .widget-card__nav-buttons {
          margin-top: 4px;
        }
        .widget-card-polls-pers .widget-card__content, .widget-card-quiz-pers .widget-card__content {
          padding: 0 20px 0;
        }
      }
      
      // Социальная поддержка населения
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card__info-block-item {
          max-height: 100%;
          font-size: 11px;
          width: 175px;
        }
      }
      
      // Москва и субъекты РФ
      @media screen and (max-width: 650px) and (max-height: 550px) {
        .widget-card-regions .widget-card__map {
          height: 35px;
        }
      }
      
    }
  }
}

