include ../../blocks/selectbox/selectbox
include ../../components/widget-card/widget-card
include ../../blocks/news-card/news-card
include ../../components/depfin-services-main/depfin-services-main
include ../../blocks/range/range

mixin main()
  // SECTIONS_ITEM(Banner)/
  .sections__item
    .cube
      // BANNER/
      .cube__side.cube__side_current
        .banner.banner_ban-1
          .wrap.banner__wrap
            .clearfix
              p.banner__cat.load-anim-fade Бюджет Москвы
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Государственный долг на 01.12.2016
            a(href="#").button.banner__button
              span Подробнее
      // /BANNER
      // BANNER/
      .cube__side
        .banner.banner_ban-2
          .wrap.banner__wrap
            .clearfix
              p.banner__cat Сервисы
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Бюджетный калькулятор
              span.banner__row.banner__row_sub Создай свой бюджет!
            a(href="#").button.banner__button Подробнее
      // /BANNER
      // BANNER/
      .cube__side
        .banner.banner_ban-3
          .wrap.banner__wrap
            .clearfix
              p.banner__cat Новости
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Опубликованы данные по исполнению бюджета города Москвы на 01.10.2016
              span.banner__row.banner__row_sub Департамент финансов города Москвы подвел итоги исполнения столичного бюджета за 9 месяцев 2016 года
            a(href="#").button.banner__button.mt-30 Подробнее
      // /BANNER
      // BANNER/
      .cube__side
        .banner.banner_ban-3
          .wrap.banner__wrap
            .clearfix
              p.banner__cat Новости
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Опубликованы данные по исполнению бюджета города Москвы на 01.10.2016
              span.banner__row.banner__row_sub Департамент финансов города Москвы подвел итоги исполнения столичного бюджета за 9 месяцев 2016 года
            a(href="#").button.banner__button.mt-30 Подробнее
      // /BANNER
      // BANNER/
      .cube__side
        .banner.banner_ban-2
          .wrap.banner__wrap
            .clearfix
              p.banner__cat Сервисы
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Бюджетный калькулятор
              span.banner__row.banner__row_sub Создай свой бюджет!
            a(href="#").button.banner__button Подробнее
      // /BANNER
      // BANNER/
      .cube__side
        .banner.banner_ban-1
          .wrap.banner__wrap
            .clearfix
              p.banner__cat.load-anim-fade Бюджет Москвы
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Государственный долг на 01.12.2016
            a(href="#").button.banner__button
              span Подробнее
      // /BANNER
      button.arrow.cube__arrow.arrow_right.cube__arrow_prev
      button.arrow.cube__arrow.arrow_left.cube__arrow_next
  // /SECTIONS_ITEM(Banner)

  // DIAGRAMS_SECTION/
  .sections__item.sections__item_bg1
    .cube-brick(data-brick-900="1")
      // AHEAD/
      .sections__ahead.sections__ahead_ab#diagrams-ahead-1
        .wrap
          h1.sections__title.anim-fade-top.mr-0 Основные показатели бюджета за 2016–2018 годы
          .legend.sections__legend.anim-fade-top
            .legend__item.legend__item_blue доходы
            .legend__item.legend__item_pink расходы
            .legend__item.legend__item_green дефицит/профицит
              span.ml-20 млрд. рублей
      // /AHEAD
    .cube-brick(data-brick-900="2")
      // AHEAD/
      .sections__ahead.viewport-900-lg.sections__ahead_ab#diagrams-ahead-2
        .wrap
          h2.sections__title.anim-fade-top.mr-20 Исполнение бюджета
          // CALENDAR/
          .sections__datepicker
            span по состоянию<br> на
            .dp
              input(value='01.06.2017', tabindex="0").datepicker__show.jq-spec-datepicker
            //input(value='01.06.2017', tabindex="0")#altfield
              span.jq-inline-datepicker


    .slider.slider_diagrams(data-sides-900="2")
      .cube-brick(data-brick-900="1")
        .grid__col.grid__col_h.grid-brick-3
          .comp-diagram.comp-diagram_dash-1#diagram-1
            a(href="#")
            p.comp-diagram__year 2016
      .cube-brick(data-brick-900="1")
        .grid__col.grid__col_h.grid-brick-3
          .comp-diagram.comp-diagram_dash-2#diagram-2
            a(href="#")
            p.comp-diagram__year 2017
      .cube-brick(data-brick-900="1")
        .grid__col.grid__col_h.grid-brick-3
          .comp-diagram.comp-diagram_dash-1#diagram-3
            a(href="#")
            p.comp-diagram__year 2018
      .cube-brick(data-brick-900="2")
        .grid__col.grid__col_h.grid-brick-2
          .large-diagram.large-diagram_income
            a(href="#")
            p.large-diagram__caption доходы
              span.rub млрд. рублей
            .large-diagram__svg#diagram-4
      .cube-brick(data-brick-900="2")
        .grid__col.grid__col_h.grid-brick-2
          .large-diagram.large-diagram_expenses
            a(href="#")
            p.large-diagram__caption расходы
              span.yellow *
              span.rub млрд. рублей
            .large-diagram__svg#diagram-5
            p.large-diagram__note
              span.yellow *
              | без учета возвратов неиспользованных средств

  // SERVICES_SECTION/
  .sections__item.sections__item_bg2
    // SERVICES_AHEAD/
    .sections__ahead.sections__ahead_ab
      .wrap
        h2.sections__title.anim-fade-top Сервисы
        a(href="#").sections__all.anim-fade-top Все сервисы
    // /SERVICES_AHEAD

    // SERVICES_SLIDER/
    .slider.slider_services(id="services-slider", data-sides-700="10", data-sides-900="7", data-sides-1100="5")
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        +widget-card-gov-programs(class="anim-left" data-delay="100")
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        +widget-card-invest-program(class="anim-left" data-delay="300")
      .cube-brick(data-brick-700="2", data-brick-900="1", data-brick-1100="1")
        +widget-card-gov-debt(class="anim-left" data-delay="500")
      .cube-brick(data-brick-700="2", data-brick-900="2", data-brick-1100="1")
        +widget-card-gov-debt-alt(class="anim-left" data-delay="700")
      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        +widget-card-cities()
      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        +widget-card-gov-programs-result()
      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        +widget-card-polls()
      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        +widget-card-polls-pers()
      .cube-brick(data-brick-700="5", data-brick-900="3", data-brick-1100="3")
        +widget-card-municipalities()
      .cube-brick(data-brick-700="5", data-brick-900="4", data-brick-1100="3")
        +widget-card-social-support()
      .cube-brick(data-brick-700="6", data-brick-900="4", data-brick-1100="3")
        +widget-card-calc()
      .cube-brick(data-brick-700="6", data-brick-900="4", data-brick-1100="3")
        +widget-card-calc-pers()
      .cube-brick(data-brick-700="7", data-brick-900="5", data-brick-1100="4")
        +widget-card-quiz()
      .cube-brick(data-brick-700="7", data-brick-900="5", data-brick-1100="4")
        +widget-card-quiz-pers()
      .cube-brick(data-brick-700="8", data-brick-900="5", data-brick-1100="4")
        +widget-card-edu()
      .cube-brick(data-brick-700="8", data-brick-900="6", data-brick-1100="4")
        +widget-card-edu-pers()
      .cube-brick(data-brick-700="9", data-brick-900="6", data-brick-1100="5")
        +widget-card-regions()
      .cube-brick(data-brick-700="9", data-brick-900="6", data-brick-1100="5")
        +widget-card-budget-web()
      .cube-brick(data-brick-700="10", data-brick-900="7", data-brick-1100="5")
        +widget-card-projects()


  // NEWS_SECTION/
  .sections__item.sections__item_bg3
    // NEWS_AHEAD/
    .sections__ahead.sections__ahead_ab
      .wrap
        h2.sections__title.anim-fade-top Новости
        a(href="#").sections__all.anim-fade-top Все новости
    // /NEWS_AHEAD
    // SUBSCRIBE/
    .subscribe.sections__subscribe.viewport-md-lg
      .wrap
        p.subscribe__label Подпишитесь<br> на новости
        .small-form.subscribe__small-form
          form(action="" method="POST" novalidate).small-form__form.js-form-validate
            label(for="i-email").overlabel e-mail
            input(id="i-email" type="email" name="email" value="" required).small-form__text
            .small-form__submit
              input(type="submit", value="")
        p.subscribe__caption Для выбора параметров рассылки необходимо
          a(href="#login").open-popup.yellow зарегистрироваться
          | на портале
    // /SUBSCRIBE
    // NEWS_SLIDER/
    .slider.slider_news(data-sides-700="4", data-sides-900="3", data-sides-1100="2")
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="100")
          +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники', 'тест1', 'тест2', 'тест3'])._blue.tile__inner

      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="300")
          +news-card(1, 'Новости Москвы', 'Подведены итоги предварительной апробации', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._red.tile__inner

      .cube-brick(data-brick-700="2", data-brick-900="1", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="600")
          +news-card(1, 'Федеральные новости', '«Бюджетная грамотность для старшеклассников»', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._green.tile__inner

      .cube-brick(data-brick-700="2", data-brick-900="2", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="900")
          +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._blue.tile__inner

      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._blue.tile__inner

      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          +news-card(1, 'Новости Москвы', 'Подведены итоги предварительной апробации', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._red.tile__inner

      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          +news-card(1, 'Федеральные новости', '«Бюджетная грамотность для старшеклассников»', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._green.tile__inner

      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._blue.tile__inner

    // /NEWS_SLIDER
  // /NEWS_SECTION
