.service__icon {
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 1;
  right: 19px;
  stroke: #a1b5d4;
  stroke-width: 4;
  fill: transparent;
  transform: scale(-1, 1);
  transition: all .25s ease-in-out;

  &:hover {
    opacity: .7;
  }

  &_active {
    fill: #0d46a1;
    stroke-width: 1;
  }

  @media screen and (max-width: 320px) {
    right: 16px;
    width: 15px;
  }
}

.wrapper_main {
  max-width: initial;

  .sections>:first-child {
    padding-top: 0;
  }

  .cube {
    z-index: 0;
  }

  .cube__arrow_m {
    display: none;
  }

  .large-diagram>a {
    z-index: 2;
  }

  .service__datepicker_head {
    z-index: 10;
    .datepicker__panel {
      margin-left: 0;
    }
  }



  .sections__datepicker .dp,
  .service__datepicker {
    position: relative;
    display: inline-block;
    z-index: 3;
    cursor: pointer;
  }

  .datepicker__show {
    cursor: pointer;
  }


  .service.service_widget {
    padding: 0;

    .service__ahead {
      padding: 14px 20px 11px;

      @media (max-width: 450px) {
        padding: 0;
      }
    }

    @media (max-width: 900px) {

      .widget-card__content+.widget-card__content {
        display: none;
      }
    }
  }

  .service.service_calc {
    @media (max-width: 900px) {
      .widget-card__selectbox {
        margin-top: 10px;
      }

      .widget-card__budget-total-title {
        font-size: 11px;
        width: inherit;
      }

      .widget-card__budget-stat {
        font-size: 12px;
      }
      .widget-card__budget-stat-count {
        font-size: 24px;
      }
      .widget-card__budget-total {

        &+.widget-card__budget-total {
          display: none;
        }
      }
    }

    @media (max-width: 900px) {
      .widget-card__budget-total-count {
        margin-left: 8px;
      }
    }
  }



  .button {
    display: block;
    width: 228px !important;
    height: 51px !important;
    background: #fee300;
    font-size: 21px !important;
    font-weight: 500;
    color: #000;
    text-align: center;
    line-height: 54px !important;
    -webkit-box-shadow: 0 5px 7px rgba(254, 227, 0, 0.4);
    -moz-box-shadow: 0 5px 7px rgba(254, 227, 0, 0.4);
    box-shadow: 0 5px 7px rgba(254, 227, 0, 0.4);
    text-decoration: none;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;

    &:hover {
      background: #e7ce00;
    }
  }

  .cube__arrow {
    position: absolute;
    top: 50%;
    z-index: 5;
    margin-top: -22px;
  }

  .grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .grid__col {
    display: block;
    padding: auto;
    margin: auto;
  }

  .comp-diagram {
    width: 335px;
    height: 335px;
    padding-top: 33px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -80px 0 0 -167px;
  }

  .service {
    min-height: 400px;
    padding: 13px 20px 40px;
    background: #FFF;
    position: absolute;
    top: 50%;
    left: 7px;
    right: 7px;
    margin: -140px 0 0;
    color: #000;
  }

  .news {
    padding-bottom: 70px;
    background: #FFF;
    position: relative;
    color: #000;
    position: absolute;
    left: 7px;
    right: 7px;
    top: 50%;
    margin: -190px 0 0 0;
    min-height: 380px;
  }

  .share__panel {
    line-height: 50px;
  }

  .ui-datepicker {
    display: none !important;
  }

  .lh-1_2 {
    line-height: 20px!important;
  }

  // .footer {
  //   height: 100%;
  // }

  // .footer-mob-sub-menu {
  //   display: none;
  // }

  .sections__ahead .wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .sections__subscribe .wrap {
    padding-left: 0;
    padding-right: 0;
  }

  .banner__wrap {
    padding: 18.625rem 0 0 242px;
  }
}

@media (min-height: 1000px) and (min-width: 1254px) {
  .wrapper_main {
    .banner__wrap {
      padding-top: 350px;
    }
  }
}

@media (min-height: 850px) and (max-height: 999px) and (min-width: 1254px) {
  .wrapper_main {
    .banner__wrap {
      padding-top: 330px;
    }
  }
}

@media (min-height: 631px) and (max-height: 730px) {
  .wrapper_main {
    .service {
      margin: -170px 0 0;
      min-height: 380px;
    }
    .dashed-diagram__diagram {
      width: 170px;
      height: 170px;
      .svg-wrap, .svg-wrap svg {
        width: 100%;
        height: 100%;
      }
    }
    .service__dashed-diagram {
      height: 180px;
    }
    .segment-diagram {
      width: 175px;
      height: 175px;
      .svg-wrap, .svg-wrap svg {
        width: 100%;
        height: 100%;
      }
    }
    .news {
      margin: -170px 0 0;
    }
  }
}

@media (min-height: 631px) and (max-height: 730px) and (min-width: 901px) {
  .wrapper_main {
    .banner__wrap {
      padding: 18.625rem 0 0 242px;
    }
  }
}

@media (max-height: 630px) and (min-width: 901px) {
  .wrapper_main {
    .banner__wrap {
      padding: 15.625rem 0 0 242px;
    }
    .large-diagram {
      margin-top: -140px;
    }
    .large-diagram__svg {
      width: 350px;
      height: 350px;
      .svg-wrap, .svg-wrap svg {
        width: 100%;
        height: 100%;
      }
    }
    .large-diagram__note {
      padding-top: 10px;
    }
    .service {
      margin: -150px 0 0;
      min-height: 340px;
    }
    .dashed-diagram__diagram {
      width: 135px;
      height: 135px;
      .svg-wrap, .svg-wrap svg {
        width: 100%;
        height: 100%;
      }
    }
    .service__dashed-diagram {
      height: 140px;
    }
    .segment-diagram {
      width: 130px;
      height: 130px;
      .svg-wrap, .svg-wrap svg {
        width: 100%;
        height: 100%;
      }
    }
    .service__place {
      font-size: 40px;
    }
    .news {
      margin: -150px 0 0;
      min-height: 0;
      height: 340px;
    }
    .news__title {
      max-height: 90px;
      overflow: hidden;
    }
  }
}

@media (min-width: 1181px) and (max-width: 1300px) {
  .wrapper_main {
    .tile {
      margin: 0 51px;
    }
  }
}

@media (max-width: 1180px) {
  .wrapper_main {
    .sections__ahead .wrap {
      padding-left: 55px;
      padding-right: 55px;
    }
    .sections__subscribe .wrap {
      padding-left: 55px;
      padding-right: 55px;
    }
  }
}

@media (max-height: 730px) and (min-width: 901px) and (max-width: 1180px) {
  .wrapper_main {
    .banner__wrap {
      padding: 15.875rem 0 0 125px;
    }
  }
}

@media (min-width: 1102px) and (max-width: 1180px) {
  .wrapper_main {
    .comp-diagram {
      padding-top: 58px;
      margin: -80px 0 0 -140px;
    }
    .comp-diagram__num_blue,
    .comp-diagram__num_pink {
      margin-bottom: 29px !important;
    }
    .comp-diagram__num_yellow {
      top: 30px;
    }

  }
}

@media (min-width: 901px) and (max-width: 1180px) {

  .wrapper_main {

    .large-diagram {
      margin-top: -180px;
    }
    .slider_diagrams .grid {
      padding: 0 50px;
    }

    .comp-diagram_dash-1, .comp-diagram_dash-2 {
      background-size: cover;
    }
  }

}

@media (min-width: 901px) and (max-width: 1101px) {
  .wrapper_main {
    .comp-diagram {
      width: 230px;
      height: 230px;
      margin: -80px 0 0 -115px;
    }
    .comp-diagram .svg-wrap, .comp-diagram .svg-wrap .svg {
      width: 170px;
      height: 170px;
    }
    .comp-diagram__num_blue,
    .comp-diagram__num_pink {
      margin-bottom: 20px !important;
    }
    .comp-diagram__num_yellow {
      top: 13px;
    }
  }
}

@media (max-width: 900px) {

  .wrapper_main {

    .banner__wrap {
      padding: 13.625rem 60px 0 60px;
    }

    .banner__row br {
      display: none;
    }

    .sections__title {
      max-width: 100%;
    }

    .comp-diagram {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 30px 0 0;
      transform: translate(-50%, -50%);
      -o-background-size: 100% auto;
      -moz-background-size: 100% auto;
      background-size: 100% auto;
    }

    .large-diagram {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate(-50%, -50%);
    }

    [data-slick-index="4"] .large-diagram {
      top: calc(50% + 10px);
    }

    .large-diagram__percent {
      padding-left: 200px;
    }

    .large-diagram__value {
      font-size: 15px;
    }

    .large-diagram__value p {
      font-size: 26px;
    }

    .large-diagram__note {
      padding-top: 10px;
    }
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .wrapper_main {
    .sections__legend {
      bottom: 20px;
    }

    .legend__item {
      font-size: 16px;
      height: 22px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    .legend__item:before {
      width: 22px;
      height: 22px;
    }

    .comp-diagram__num_yellow {
      top: 15px;
    }

    .service, .news {
      margin-top: -180px;
    }
  }
}

@media (min-width: 451px) and (max-width: 900px) {
  .wrapper_main {
    .service {
      position: absolute;
      top: 50%;
      left: 14px;
      right: 14px;
    }
    .news {
      position: absolute;
      left: 14px;
      right: 14px;
      top: 50%;
    }
    .large-diagram__svg, .large-diagram__svg .svg {
      width: 220px;
      height: 220px;
    }
  }
}

@media (max-height: 610px) and (min-width: 701px) and (max-width: 900px) {
  .wrapper_main {
    .service {
      min-height: 298px;
      margin-top: -130px !important;
    }
    .service:before {
      height: 84px;
    }
    .service__ahead {
      min-height: 80px;
    }
    .news {
      min-height: 0;
      height: 255px;
      margin-top: -130px !important;
    }
  }
}

@media (max-height: 610px) and (max-width: 900px) {
  .wrapper_main {
    .service__dashed-diagram {
      height: 135px;
    }
  }
}

@media (min-height: 501px) and (max-width: 900px) {
  .wrapper_main {
    .comp-diagram__num_blue {
      margin-bottom: 44px !important;
      margin-left: -121px;
    }
    .comp-diagram__num_pink {
      margin-bottom: 44px !important;
      margin-left: -94px;
    }
  }
}

@media (max-height: 500px) and (max-width: 900px) {
  .wrapper_main {
    .comp-diagram {
      width: 230px;
      height: 230px;
      padding-top: 27px;
    }
    .comp-diagram__num_blue {
      margin-bottom: 25px !important;
      margin-left: -93px;
    }
    .comp-diagram__num_pink {
      margin-bottom: 25px !important;
      margin-left: -72px;
    }
    .comp-diagram .svg-wrap, .comp-diagram .svg-wrap .svg {
      width: 180px;
      height: 180px;
    }
  }
}

// @media (min-width: 551px) and (max-width: 800px) {
//   .wrapper_main {
//     .footer {
//       padding-top: 100px;
//     }
//   }
// }

// @media (max-height: 520px) and (min-width: 551px) and (max-width: 800px) {
//   .wrapper_main {
//     .footer {
//       padding-top: 85px;
//     }
//     .footer .footer-mob-menu__item {
//       margin-bottom: 12px;
//     }
//     .footer .footer-mob-add-menu {
//       margin-top: 14px;
//     }
//   }
// }

@media (max-width: 700px) {

  .wrapper_main {

    .banner__row_sub {
      vertical-align: top;
    }

    .banner__row {
      font-size: 38px;
    }

    .cube__arrow {
      display: none;
      position: relative;
      top: 0;
      margin-top: 0;
    }

    .cube__arrow_m {
      display: block !important;
      float: left;
    }

    .lh-1_2 {
      line-height: 15px;
    }

    .legend {
      bottom: 70px !important;
    }

    .sections__title {
      font-size: 25px;
    }

    .legend__item {
      font-size: 12px;
      height: 16px;
      line-height: 16px;
      margin: 0 0 10px;
    }

    .legend__item:before {
      width: 16px;
      height: 16px;
    }

    .share__panel {
      line-height: 30px;
    }
  }
}

@media (min-width: 651px) and (max-width: 700px) {
  .wrapper_main {
    .news, .service {
      width: 300px;
      position: absolute;
      left: 50% !important;
      margin: -200px 0 0 -150px !important;
      right: 0;
    }
  }
}

@media (max-width: 650px) {
  .wrapper_main {
    .service {
      min-height: 1px;
      padding: 10px 15px 30px;
    }
    .segment-diagram {
      bottom: 10px;
    }
  }
}

@media (min-width: 451px) and (max-width: 650px) {
  .wrapper_main {
    .service {
      top: 0 !important;
      bottom: 0 !important;
      margin: auto !important;
    }
    .news {
      top: 0 !important;
      bottom: 0 !important;
      margin: auto !important;
    }
  }
}

@media (min-height: 611px) and (max-width: 650px) {
  .wrapper_main {
    .news {
      max-width: 250px;
    }
    .news__title {
      font-size: 18px;
      margin: 0 19px;
    }
    .news__category {
      height: 20px;
      line-height: 22px;
      margin: 0 0 20px 20px;
      font-size: 13px;
      padding: 0 7px;
    }
    .news__thumb {
      height: 130px;
    }
    .news__date, .news__tags {
      font-size: 13px;
    }
  }
}

@media (min-height: 611px) and (min-width: 451px) and (max-width: 650px) {
  .wrapper_main {
    .dashed-diagram__diagram, .dashed-diagram__diagram .svg {
      width: 180px;
      height: 180px;
    }
    .segment-diagram, .segment-diagram .svg {
      width: 190px;
      height: 190px;
    }
  }
}

@media (max-height: 610px) and (max-width: 650px) {
  .wrapper_main {
    .dashed-diagram__diagram, .dashed-diagram__diagram .svg {
      width: 132px;
      height: 132px;
    }
    .segment-diagram, .segment-diagram .svg {
      width: 140px;
      height: 140px;
    }
    .news {
      margin: 130px auto 0;
      max-width: 213px;
      min-height: 1px;
      height: 245px;
      padding-bottom: 50px;
    }
  }
}

// @media (max-width: 550px) {
//   .wrapper_main {
//     .footer {
//       padding-top: 90px;
//     }
//     .footer .footer-mob-menu__item {
//       margin-bottom: 10px;
//       &:last-child {
//         padding-right: 0 !important;
//       }
//     }
//     .footer .footer-mob-add-menu {
//       margin-top: 10px;
//       width: 200%;
//       position: relative;
//       left: -100%;
//       font-size: 0;
//       .footer-mob-menu__item {
//         width: 50%;
//         display: inline-block;
//         &:first-child {
//           margin-left: 50%;
//         }
//       }
//     }
//   }
// }

@media (max-width: 580px) {
  .wrapper_main {
    [data-slick-index="4"] .large-diagram {
      top: calc(50% + 19px);
    }
  }
}

@media (max-width: 450px) {
  .wrapper_main {
    .banner__wrap {
      padding: 13.625rem 30px 0;
    }

    .banner_ban-3 .banner__wrap {
      padding: 8.625rem 30px 0;
    }

    .sections__ahead .wrap, .sections__subscribe .wrap {
      padding-left: 40px;
      padding-right: 40px;
    }
    .comp-diagram {
      width: 200px;
      height: 200px;
      padding-top: 27px;
      -o-background-size: 100% auto;
      -moz-background-size: 100% auto;
      background-size: 100% auto;
    }

    .large-diagram {
      padding-top: 22px;
    }

    .service {
      margin: auto !important;
      max-width: 213px;
      min-height: 310px;
      height: 268px;
      padding-bottom: 50px;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }

    .service:before {
      height: 84px;
    }
    .service__ahead {
      min-height: 87px;
    }

    .service__capt {
      font-size: 12px;
      margin-bottom: 4px;
    }

    .service-dots { bottom: 31px; }
    .service__title { font-size: 15px; margin-bottom: 3px; min-height: 30px; padding-right: 20px; }
    .service__sub-title { font-size: 12px; }
    .service__dashed-diagram { height: 140px; }
    .service__more { height: 30px; line-height: 30px; font-size: 12px; padding-left: 14px; }
    .service__more:after { right: 14px; }
    .service__diagram-tabs { bottom: 30px; height: 45px;}
    .diagram-tabs__btn {
      height: 22px;
      font-size: 11px;
      padding: 5px;
      text-align: center;
      min-width: 35px;
    }
    .diagram-tabs__btn:before {
      display: inline-block;
      width: 11px;
      height: 12px;
      position: relative;
      margin-right: 1px;
      background-image: url(../images/sprite@2x.png);
      background-size: 480px auto;
      background-repeat: no-repeat;
      top: 1px;
    }
    .diagram-tabs__btn_house:before {
      background-position: -207px 2px;
    }
    .diagram-tabs__caption {
      height: 22px;
      line-height: 24px;
      font-size: 11px;
    }
    .service__datepicker .datepicker__panel { top: 22px; left: -83px; }
    .service__datepicker .datepicker__panel:before { margin-left: -14px; top: -27px; }
    .service__datepicker input { width: 49px; }
    .service__place { font-size: 28px; padding: 3px 6px 3px; margin-bottom: 7px; }
    .service__select { margin-bottom: 10px; }

    .news {
      margin: auto !important;
      max-width: 213px;
      min-height: 310px;
      height: 245px;
      padding-bottom: 50px;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }
    .news__title {
      font-size: 13px;
      margin: 0 12px;
    }
    .news__category {
      margin: 0 0 10px 12px;
      font-size: 10px;
      height: 13px;
      line-height: 15px;
      padding: 0 3px;
      vertical-align: top;
    }
    .news__date, .news__tags {
      font-size: 9px;
    }
    .slick-dots {
      top: 25%;
    }

    .banner__row {
      font-size: 32px;
    }

    .button {
      width: 145px !important;
      height: 30px !important;
      font-size: 16px !important;
      line-height: 32px !important;
    }

    .comp-diagram__num_blue {
      margin-left: -80px;
      margin-bottom: 20px !important;
    }

    .comp-diagram__num_pink {
      margin-left: -60px;
      margin-bottom: 20px !important;
    }

    .comp-diagram__num_yellow {
      top: 10px;
    }
    .comp-diagram .svg-wrap, .comp-diagram .svg-wrap .svg {
      width: 150px;
      height: 150px;
    }

    .large-diagram__caption .rub {
      font-size: 12px;
    }

    // .footer__box_l .footer__column {
    //   margin-top: 15px;
    // }
  }
}

@media (min-height: 611px) and (max-width: 450px) {
  .wrapper_main {
    .dashed-diagram__diagram, .dashed-diagram__diagram .svg {
      width: 132px;
      height: 132px;
    }
    .segment-diagram, .segment-diagram .svg {
      width: 140px;
      height: 140px;
    }
  }
}

@media (max-height: 610px) and (max-width: 450px) {
  .wrapper_main {
    .large-diagram {
      margin-top: 30px;
    }
  }
}

@media (max-height: 550px) and (max-width: 450px) {
  .wrapper_main {
    .tile__item {
      width: 70% !important;
    }
    .service {
      max-width: 230px !important;
      min-height: 250px !important;
      padding: 10px 10px 30px !important;
      top: 30px !important;
    }
    .service:before {
      height: 64px !important;
    }
    .service__ahead {
      min-height: 64px !important;
    }
    .dashed-diagram__diagram, .dashed-diagram__diagram .svg,
    .segment-diagram, .segment-diagram .svg {
      width: 110px !important;
      height: 110px !important;
    }
    .service__dashed-diagram {
      height: 115px !important;
    }
    .dashed-diagram__value,
    .segment-diagram__value {
      font-size: 12px !important;
    }
    .segment-diagram__value {
      margin-top: -15px !important;
    }
    .dashed-diagram__value-p,
    .segment-diagram__value-num {
      font-size: 15px !important;
    }
    .diagram-tabs__btn {
      font-size: 13px !important;
      padding: 5px !important;
      height: 42px !important;
      min-width: 42px !important;
    }
    .diagram-tabs__caption {
      line-height: 22px !important;
      font-size: 12px !important;
    }
    .diagram-tabs {
      height: 84px !important;
    }
    .service__diagram-tabs {
      bottom: 10px !important;
    }
    .news {
      top: 20px !important;
      min-height: 260px !important;
    }
  }
}

@media (min-height: 501px) and (max-width: 450px) {
  .wrapper_main {
    .large-diagram {
      width: 200px;
    }
    .large-diagram__svg, .large-diagram__svg .svg {
      width: 200px;
      height: 200px;
    }
    .large-diagram__percent {
      padding-left: 180px;
    }
  }
}

@media (max-height: 500px) and (max-width: 450px) {
  .wrapper_main {
    .large-diagram {
      width: 150px;
    }
    .large-diagram__svg, .large-diagram__svg .svg {
      width: 150px;
      height: 150px;
    }
    .large-diagram__caption .rub {
      right: -30px;
    }
    .large-diagram__value p {
      font-size: 18px;
    }
    .large-diagram__percent {
      padding-left: 150px;
    }
  }
}
