mixin main()
  // SECTIONS_ITEM(Banner)/
  .sections__item
    .cube
      // BANNER/
      .cube__side.cube__side_current
        .banner.banner_ban-1
          .wrap.banner__wrap
            .clearfix
              p.banner__cat.load-anim-fade Бюджет Москвы
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Государственный долг на 01.12.2016
            a(href="#").button.banner__button
              span Подробнее
      // /BANNER
      // BANNER/
      .cube__side
        .banner.banner_ban-2
          .wrap.banner__wrap
            .clearfix
              p.banner__cat Сервисы
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Бюджетный калькулятор
              span.banner__row.banner__row_sub Создай свой бюджет!
            a(href="#").button.banner__button Подробнее
      // /BANNER
      // BANNER/
      .cube__side
        .banner.banner_ban-3
          .wrap.banner__wrap
            .clearfix
              p.banner__cat Новости
              button.arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
              button.arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
            a(href="#").banner__link
              span.banner__title_b Опубликованы данные по исполнению бюджета города Москвы на 01.10.2016
              span.banner__row.banner__row_sub Департамент финансов города Москвы подвел итоги исполнения столичного бюджета за 9 месяцев 2016 года
            a(href="#").button.banner__button.mt-30 Подробнее
      // /BANNER
      button.arrow.cube__arrow.arrow_right.cube__arrow_prev
      button.arrow.cube__arrow.arrow_left.cube__arrow_next
  // /SECTIONS_ITEM(Banner)
  
  // DIAGRAMS_SECTION/
  .sections__item.sections__item_bg1
    .cube-brick(data-brick-900="1")
      // AHEAD/
      .sections__ahead.sections__ahead_ab#diagrams-ahead-1
        .wrap
          h1.sections__title.anim-fade-top.mr-0 Основные показатели бюджета за 2016–2018 годы
          .legend.sections__legend.anim-fade-top
            .legend__item.legend__item_blue доходы
            .legend__item.legend__item_pink расходы
            .legend__item.legend__item_green дефицит/профицит 
              span.ml-20 млрд. рублей
      // /AHEAD
    .cube-brick(data-brick-900="2")
      // AHEAD/
      .sections__ahead.viewport-900-lg.sections__ahead_ab#diagrams-ahead-2
        .wrap
          h2.sections__title.anim-fade-top.mr-20 Исполнение бюджета
          // CALENDAR/
          .sections__datepicker
            span по состоянию<br> на
            .dp
              input(value='01.06.2017', tabindex="0").datepicker__show.jq-spec-datepicker
          // /CALENDAR
      // /AHEAD
      
    // DIAGRAMS_SLIDER/
    .slider.slider_diagrams(data-sides-900="2")
      .cube-brick(data-brick-900="1")
        // DIAGRAM_CELL/
        .grid__col.grid__col_h.grid-brick-3
          .comp-diagram.comp-diagram_dash-1#diagram-1
            a(href="#")
            p.comp-diagram__year 2016
        // /DIAGRAM_CELL
      .cube-brick(data-brick-900="1")
        // DIAGRAM_CELL/
        .grid__col.grid__col_h.grid-brick-3
          .comp-diagram.comp-diagram_dash-2#diagram-2
            a(href="#")
            p.comp-diagram__year 2017
        // /DIAGRAM_CELL
      .cube-brick(data-brick-900="1")
        // DIAGRAM_CELL/
        .grid__col.grid__col_h.grid-brick-3
          .comp-diagram.comp-diagram_dash-1#diagram-3
            a(href="#")
            p.comp-diagram__year 2018
        // /DIAGRAM_CELL
      .cube-brick(data-brick-900="2")
        // DIAGRAM_CELL/
        .grid__col.grid__col_h.grid-brick-2
          .large-diagram
            a(href="#")
            p.large-diagram__caption доходы
              span.rub млрд. рублей
            .large-diagram__svg#diagram-4
        // /DIAGRAM_CELL
      .cube-brick(data-brick-900="2")
        // DIAGRAM_CELL/
        .grid__col.grid__col_h.grid-brick-2
          .large-diagram
            a(href="#")
            p.large-diagram__caption расходы
              span.yellow *
              span.rub млрд. рублей
            .large-diagram__svg#diagram-5
            p.large-diagram__note
              span.yellow *
              | без учета возвратов неиспользованных средств
        // /DIAGRAM_CELL
    // /DIAGRAMS_SLIDER
  // DIAGRAMS_SECTION/
  
  // SERVICES_SECTION/
  .sections__item.sections__item_bg2
    // SERVICES_AHEAD/
    .sections__ahead.sections__ahead_ab
      .wrap
        h2.sections__title.anim-fade-top Сервисы
        a(href="#").sections__all.anim-fade-top Все сервисы
    // /SERVICES_AHEAD
    
    // SERVICES_SLIDER/
    .slider(data-sides-700="4", data-sides-900="3", data-sides-1100="2")
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        // SERVICE_ITEM/
        .tile__item.anim-left(data-delay="100")
          .tile__inner.service
            .service__ahead
              h3.service__title Государственные программы
                button
              .service__sub-title
                span по состоянию на
                .service__datepicker
                  input(value='01.06.2017', tabindex="0").datepicker__show.jq-spec-datepicker
                | , млрд. руб 
            .service-dot-cont.service-dot-cont_act#serv-d-2
              .dashed-diagram.service__dashed-diagram
                .dashed-diagram__diagram#diagram-8
                  .dashed-diagram__value.dashed-diagram__value_top
                    span план
                    p.dashed-diagram__value-p 1 637,3
                  .dashed-diagram__value.dashed-diagram__value_bottom
                    p.dashed-diagram__value-p 1 167,7
                    | факт
              p.service__capt Программные расходы
            .service-dot-cont#serv-d-1
              .dashed-diagram.service__dashed-diagram
                .dashed-diagram__diagram#diagram-9
                  .dashed-diagram__value.dashed-diagram__value_top
                    span план
                    p.dashed-diagram__value-p 113,4
                  .dashed-diagram__value.dashed-diagram__value_bottom
                    p.dashed-diagram__value-p 46,5
                    | факт
              p.service__capt Непрограммные направления деятельности
            .service-dots
              button(data-cont="serv-d-1").service-dots__btn
              button(data-cont="serv-d-2").service-dots__btn.active
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        // SERVICE_ITEM/
        .tile__item.anim-left(data-delay="300")
          .tile__inner.service
            .service__ahead
              h3.service__title Адресная инвестиционная программа
                button
              p.service__sub-title на 2016 год, млрд. руб.
            .segment-diagram#diagram-6
              .segment-diagram__value
                span Всего
                p.segment-diagram__value-num 347,2
              p.segment-diagram__floating.segment-diagram__floating_green#floating_diagram-6-0 Строительство
                span 150,7
              p.segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-6-1 Образование
                span 60,8
              p.segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-6-2 Медицина
                span 35,2
              p.segment-diagram__floating.segment-diagram__floating_gray#floating_diagram-6-3 Прочее
                span 100,5
            ul.diagram-tabs.service__diagram-tabs
              li.diagram-tabs__item.diagram-tabs__item_green
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_house#button_diagram-6-0 150,7
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Строительство
              li.diagram-tabs__item.diagram-tabs__item_violet
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_edu#button_diagram-6-1 60,8
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Образование
              li.diagram-tabs__item.diagram-tabs__item_blue
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_med#button_diagram-6-2 35,2
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Медицина
              li.diagram-tabs__item.diagram-tabs__item_gray
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_other#button_diagram-6-3 100,5
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Прочее
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="2", data-brick-900="1", data-brick-1100="1")
        // SERVICE_ITEM/
        .tile__item.anim-left(data-delay="600")
          .tile__inner.service
            .service__ahead
              h3.service__title Государственный долг
                button
              .service__sub-title
                span по состоянию на
                .datepicker.service__datepicker
                  button.datepicker__show 01.10.2016
                  .datepicker__panel
                    ul.datepicker__col.datepicker__col_years
                      li
                        a(href="#").datepicker__a 2011
                      li
                        a(href="#").datepicker__a 2012
                      li
                        a(href="#").datepicker__a 2013
                      li
                        a(href="#").datepicker__a 2014
                      li
                        a(href="#").datepicker__a 2015
                      li
                        a(href="#").datepicker__a.datepicker__a_act 2016
                      li
                        a(href="#").datepicker__a 2017
                    .datepicker__col-wrap
                      ul.datepicker__col.datepicker__col_months
                        li
                          a(href="#", data-month="01").datepicker__a январь
                        li
                          a(href="#", data-month="02").datepicker__a февраль
                        li
                          a(href="#", data-month="03").datepicker__a март
                        li
                          a(href="#", data-month="04").datepicker__a апрель
                        li
                          a(href="#", data-month="05").datepicker__a май
                        li
                          a(href="#", data-month="06").datepicker__a июнь
                      ul.datepicker__col.datepicker__col_months
                        li
                          a(href="#", data-month="07").datepicker__a июль
                        li
                          a(href="#", data-month="08").datepicker__a август
                        li
                          a(href="#", data-month="09").datepicker__a сентябрь
                        li
                          a(href="#", data-month="10").datepicker__a.datepicker__a_act октябрь
                        li
                          a(href="#", data-month="11").datepicker__a ноябрь
                        li
                          a(href="#", data-month="12").datepicker__a декабрь
                    button.datepicker__close
                | , млрд. руб                      
            .segment-diagram#diagram-7
              .segment-diagram__value
                span Всего
                p.segment-diagram__value-num 77,2
              p.segment-diagram__floating.segment-diagram__floating_green#floating_diagram-7-0 Бюджетные&nbsp;кредиты
                span 21,4
              p.segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-7-1 Внутренний&nbsp;долг
                span 28,8
              p.segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-7-2 Внешний&nbsp;долг
                span 48,4
            ul.diagram-tabs.service__diagram-tabs
              li.diagram-tabs__item.diagram-tabs__item_green
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_bank#button_diagram-7-0 21,4
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Бюджетные кредиты
              li.diagram-tabs__item.diagram-tabs__item_blue
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_bag#button_diagram-7-1 28,8
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Внутренний долг
              li.diagram-tabs__item.diagram-tabs__item_violet
                a(href="#").diagram-tabs__btn.diagram-tabs__btn_build#button_diagram-7-2 48,4
                  span.diagram-tabs__span-hov
                  span.diagram-tabs__span-js
                p.diagram-tabs__caption Внешний долг
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="2", data-brick-900="2", data-brick-1100="1")
        // SERVICE_ITEM/
        .tile__item.anim-left(data-delay="900")
          .tile__inner.service
            .service__ahead.mb-10
              h3.service__title Москва и города мира
                button
            p.fs-14.medium.mb-10.xs-fs-11 Выберите показатель
            .select.service__select
              button.select__btn Доходы
              ul.select__drop
                li
                  a(href="#pl1").select__a Доходы
                li
                  a(href="#pl2").select__a Расходы
                li
                  a(href="#pl3").select__a Население
            .select-content.select-content_vis#pl1
              p.service__place 5 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему объему доходов
            .select-content#pl2
              p.service__place 4 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему объему расходов
            .select-content#pl3
              p.service__place 3 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему количеству населения
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        // SERVICE_ITEM/
        .tile__item
          .tile__inner.service
            .service__ahead.mb-10
              h3.service__title Москва и города мира
                button
            p.fs-14.medium.mb-10 Выберите показатель
            .select.service__select
              button.select__btn Доходы
              ul.select__drop
                li
                  a(href="#pl111").select__a Доходы
                li
                  a(href="#pl211").select__a Расходы
                li
                  a(href="#pl311").select__a Население
            .select-content.select-content_vis#pl111
              p.service__place 5 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему объему доходов
            .select-content#pl211
              p.service__place 4 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему объему расходов
            .select-content#pl311
              p.service__place 3 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему количеству населения
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        // SERVICE_ITEM/
        .tile__item
          .tile__inner.service
            .service__ahead.mb-10
              h3.service__title Москва и города мира
                button
            p.fs-14.medium.mb-10 Выберите показатель
            .select.service__select
              button.select__btn Доходы
              ul.select__drop
                li
                  a(href="#pl112").select__a Доходы
                li
                  a(href="#pl212").select__a Расходы
                li
                  a(href="#pl312").select__a Население
            .select-content.select-content_vis#pl112
              p.service__place 5 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему объему доходов
            .select-content#pl212
              p.service__place 4 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему объему расходов
            .select-content#pl312
              p.service__place 3 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему количеству населения
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        // SERVICE_ITEM/
        .tile__item
          .tile__inner.service
            .service__ahead.mb-10
              h3.service__title Москва и города мира
                button
            p.fs-14.medium.mb-10 Выберите показатель
            .select.service__select
              button.select__btn Доходы
              ul.select__drop
                li
                  a(href="#pl113").select__a Доходы
                li
                  a(href="#pl213").select__a Расходы
                li
                  a(href="#pl313").select__a Население
            .select-content.select-content_vis#pl113
              p.service__place 5 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему объему доходов
            .select-content#pl213
              p.service__place 4 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему объему расходов
            .select-content#pl313
              p.service__place 3 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему количеству населения
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM
        
      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        // SERVICE_ITEM/
        .tile__item
          .tile__inner.service
            .service__ahead.mb-10
              h3.service__title Москва и города мира
                button
            p.fs-14.medium.mb-10 Выберите показатель
            .select.service__select
              button.select__btn Доходы
              ul.select__drop
                li
                  a(href="#pl11").select__a Доходы
                li
                  a(href="#pl21").select__a Расходы
                li
                  a(href="#pl31").select__a Население
            .select-content.select-content_vis#pl11
              p.service__place 5 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему объему доходов
            .select-content#pl21
              p.service__place 4 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему объему расходов
            .select-content#pl31
              p.service__place 3 место
              p.fs-14.medium.lh-1_2 из 8 крупнейших городов мира<br> по общему количеству населения
            a(href="#").service__more Подробнее
        // /SERVICE_ITEM            
    // /SERVICES_SLIDER
  // /SERVICES_SECTION
  
  // NEWS_SECTION/
  .sections__item.sections__item_bg3
    // NEWS_AHEAD/
    .sections__ahead.sections__ahead_ab
      .wrap
        h2.sections__title.anim-fade-top Новости
        a(href="#").sections__all.anim-fade-top Все новости
    // /NEWS_AHEAD
    // SUBSCRIBE/
    .subscribe.sections__subscribe.viewport-md-lg
      .wrap
        p.subscribe__label Подпишитесь<br> на новости
        .small-form.subscribe__small-form
          form.small-form__form
            label(for="i-email").overlabel e-mail
            input(type="email", value="", required).small-form__text#i-email
            .small-form__submit
              input(type="submit", value="")
        p.subscribe__caption Для выбора параметров рассылки необходимо
          a(href="#login").open-popup.yellow зарегистрироваться
          | на портале
    // /SUBSCRIBE
    // NEWS_SLIDER/
    .slider(data-sides-700="4", data-sides-900="3", data-sides-1100="2")
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="100")
          .tile__inner.news.news_blue
            a(href="#").news__thumb
              img(src="assets/images/post-thumb.jpg", alt="thumb")
            a(href="#").news__category Новости бюджета
            a(href="#").news__title Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»
            .news__bottom
              p.news__date 8 августа 2016
              .news__tags
                a(href="#") #итоги
                a(href="#") #апробация
                a(href="#") #старшеклассники
            button.share__btn
            .share__panel
              a(href="#").share__a.share__a_fb
              a(href="#").share__a.share__a_vk
              a(href="#").share__a.share__a_tw
              a(href="#").share__a.share__a_ok
        // /NEWS_ITEM
        
      .cube-brick(data-brick-700="1", data-brick-900="1", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="300")
          .tile__inner.news.news_red
            a(href="#").news__thumb
              img(src="assets/images/post-thumb.jpg", alt="thumb")
            a(href="#").news__category Новости Москвы
            a(href="#").news__title Подведены итоги предварительной апробаци
            .news__bottom
              p.news__date 8 августа 2016
              .news__tags
                a(href="#") #итоги
                a(href="#") #апробация
                a(href="#") #старшеклассники
            button.share__btn
            .share__panel
              a(href="#").share__a.share__a_fb
              a(href="#").share__a.share__a_vk
              a(href="#").share__a.share__a_tw
              a(href="#").share__a.share__a_ok
        // /NEWS_ITEM
        
      .cube-brick(data-brick-700="2", data-brick-900="1", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="600")
          .tile__inner.news.news_green
            a(href="#").news__thumb
              img(src="assets/images/post-thumb.jpg", alt="thumb")
            a(href="#").news__category Федеральные Новости
            a(href="#").news__title «Бюджетная грамотность для старшеклассников»
            .news__bottom
              p.news__date 8 августа 2016
              .news__tags
                a(href="#") #итоги
                a(href="#") #апробация
                a(href="#") #старшеклассники
            button.share__btn
            .share__panel
              a(href="#").share__a.share__a_fb
              a(href="#").share__a.share__a_vk
              a(href="#").share__a.share__a_tw
              a(href="#").share__a.share__a_ok
        // /NEWS_ITEM
        
      .cube-brick(data-brick-700="2", data-brick-900="2", data-brick-1100="1")
        // NEWS_ITEM/
        .tile__item.anim-left(data-delay="900")
          .tile__inner.news.news_blue
            a(href="#").news__thumb
              img(src="assets/images/post-thumb.jpg", alt="thumb")
            a(href="#").news__category Новости бюджета
            a(href="#").news__title Подведены итоги предварительной апробации федеральной учебной программы
            .news__bottom
              p.news__date 8 августа 2016
              .news__tags
                a(href="#") #итоги
                a(href="#") #апробация
                a(href="#") #старшеклассники
            button.share__btn
            .share__panel
              a(href="#").share__a.share__a_fb
              a(href="#").share__a.share__a_vk
              a(href="#").share__a.share__a_tw
              a(href="#").share__a.share__a_ok
        // /NEWS_ITEM
        
      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          .tile__inner.news.news_blue
            a(href="#").news__thumb
              img(src="assets/images/post-thumb.jpg", alt="thumb")
            a(href="#").news__category Новости бюджета
            a(href="#").news__title Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»
            .news__bottom
              p.news__date 8 августа 2016
              .news__tags
                a(href="#") #итоги
                a(href="#") #апробация
                a(href="#") #старшеклассники
            button.share__btn
            .share__panel
              a(href="#").share__a.share__a_fb
              a(href="#").share__a.share__a_vk
              a(href="#").share__a.share__a_tw
              a(href="#").share__a.share__a_ok
        // /NEWS_ITEM
        
      .cube-brick(data-brick-700="3", data-brick-900="2", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          .tile__inner.news.news_red
            a(href="#").news__thumb
              img(src="assets/images/post-thumb.jpg", alt="thumb")
            a(href="#").news__category Новости бюджета
            a(href="#").news__title Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»
            .news__bottom
              p.news__date 8 августа 2016
              .news__tags
                a(href="#") #итоги
                a(href="#") #апробация
                a(href="#") #старшеклассники
            button.share__btn
            .share__panel
              a(href="#").share__a.share__a_fb
              a(href="#").share__a.share__a_vk
              a(href="#").share__a.share__a_tw
              a(href="#").share__a.share__a_ok
        // /NEWS_ITEM
        
      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          .tile__inner.news.news_green
            a(href="#").news__thumb
              img(src="assets/images/post-thumb.jpg", alt="thumb")
            a(href="#").news__category Новости бюджета
            a(href="#").news__title Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»
            .news__bottom
              p.news__date 8 августа 2016
              .news__tags
                a(href="#") #итоги
                a(href="#") #апробация
                a(href="#") #старшеклассники
            button.share__btn
            .share__panel
              a(href="#").share__a.share__a_fb
              a(href="#").share__a.share__a_vk
              a(href="#").share__a.share__a_tw
              a(href="#").share__a.share__a_ok
        // /NEWS_ITEM
        
      .cube-brick(data-brick-700="4", data-brick-900="3", data-brick-1100="2")
        // NEWS_ITEM/
        .tile__item
          .tile__inner.news.news_blue
            a(href="#").news__thumb
              img(src="assets/images/post-thumb.jpg", alt="thumb")
            a(href="#").news__category Новости бюджета
            a(href="#").news__title Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»
            .news__bottom
              p.news__date 8 августа 2016
              .news__tags
                a(href="#") #итоги
                a(href="#") #апробация
                a(href="#") #старшеклассники
            button.share__btn
            .share__panel
              a(href="#").share__a.share__a_fb
              a(href="#").share__a.share__a_vk
              a(href="#").share__a.share__a_tw
              a(href="#").share__a.share__a_ok
        // /NEWS_ITEM
    // /NEWS_SLIDER
  // /NEWS_SECTION
