.page-not-found {
  display: block;
  text-align: center;
  padding: 100px 0 180px;

  @media (max-width: 1180px) {
    padding-bottom: 150px;
  }

  @media (max-width: 570px) {
    padding-top: 40px;
    padding-bottom: 90px;
  }

  @media (max-width: 440px) {
    padding-bottom: 80px;
  }

  &__header {
    font-size: 260px;
    line-height: 1em;

    @media (max-width: 1180px) {
      font-size: 200px;
      line-height: 160px;
    }

    @media (max-width: 570px) {
      font-size: 160px;
      line-height: 120px;
    }

    @media (max-width: 440px) {
      font-size: 120px;
      line-height: 100px;
    }
  }

  &__description {
    font-size: 22px;
    color: white;
    line-height: 1.4;
    margin-top: 20px;
  }
}
