.open-con {
  display: block;

  &__con {
    width: 100%;
  }

  .analityc-widget_con {
    margin: 41px 0 27px;
    padding: 39px 42px 17px 40px;

    @media (max-width: 900px) {
      margin: 55px 0 27px;
      padding: 39px 32px 17px
    }

    @media (max-width: 580px) {
      margin: 17px 0 27px;
      padding: 20px;
    }      
  }

  &__popup {
    display: none;
    width: 100%;

    .analityc-widget_con {
      padding: 0;
    }
  }

  .basic-budget {
    background-image: url(../images/bg-news.jpg);
  }

  &__control {
    margin-top: 21px;

    @media (max-width: 900px) {
      margin-top: 38px;
    }

    @media (max-width: 580px) {
      margin-top: 21px;
    }     

    * {
      display: inline-block;
      vertical-align: middle;
    }

    &-text {
      font-size: 18px;
      color: $color-white;
      text-transform: uppercase;
      margin-right: 61px;

      @media (max-width: 900px) {
        font-size: 24px;
      }

      @media (max-width: 580px) {
        font-size: 18px;
      }
    }

    .buttons-set {
      @media (max-width: 900px) {
        width: 100%;
        margin-top: 16px;
      }  

      @media (max-width: 580px) {
        margin-top: 8px;
      }        
    }

    .buttons-set__item {

      .button-light {
        padding: 12px 42px;
        letter-spacing: .1px;
        text-align: center;
        min-width: 260px;
        white-space: nowrap;
      }

      @media (max-width: 900px) {
        width: 50%;
      }    

      .button-light {
        @media (max-width: 900px) {
          min-width: 0;
          width: 100%;
          padding: 16px 8px;
          font-size: 18px;
          line-height: 20px;
        }   

        @media (max-width: 580px) {
          padding: 10px 6px;
          font-size: 12px;
          line-height: 15px;
        }           
      }
    }
  }

  .analityc-control-switcher_con {   

    @media (max-width: 580px) {
      width: auto;
    }          

    & > a {
      font-size: 13px;
      padding-left: 16px;
      padding-right: 19px;

      @media (max-width: 900px) {
        padding-left: 24px;
        padding-right: 24px;
        font-size: 20px;
        line-height: 54px;
      }       

      @media (max-width: 580px) {
        width: auto;
        padding: 0 8px;
        font-size: 13px;
        line-height: 34px;
      }         

      &:nth-child(2) {
        border-right: 1px solid $color-link;
        border-left: 1px solid $color-link;
        padding-left: 15px;
        padding-right: 11px;
        
        @media (max-width: 580px) {
          padding: 0 8px;
        }
      }

      &:last-child {
        padding-left: 13px;
        padding-right: 15px;
        
        @media (max-width: 580px) {
          padding: 0 8px;
        }
      }
    }
  }

  .dropdown-block {
    background: none;

    &::before {
      display: none;
    }

    .doc-cards {

      &__card {
        margin-right: 21px;

        &:last-child {
          display: none;
        }
      }
    }
  }

  .dropdown._open {
    .dropdown-content {
      display: block;
    }
  }
  
  .section-tabs {
    border-top: 1px solid #564d2a;
    border-bottom: 0;
  }
}
