.infographic-card {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: rgba(#140d35, .5);
  padding: 22px;
  transition: all .25s ease-in-out;
  &__image {
    width: 100%;
    max-width: 100%;
  }
  &__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 18px;
  }
  &__title {
    font-size: 16px;
    opacity: .8;
  }
  &__date {
    font-size: 14px;
    opacity: .8;
    margin-top: 6px;
  }
  &:hover {
    background-color: rgba(#140d35, 1);
  }
  
  @media screen and (min-width: 640px) and (max-width: 800px) {
    padding: 50px;
    &__bottom {
      padding: 40px;
    }
    &__title {
      font-size: 37px;
    }
    &__date {
      font-size: 32px;
      margin-top: 12px;
    }
  }
  
  @media screen and (max-width: 639px) {
    padding: 25px;
    &__bottom {
      padding: 20px;
    }
    &__title {
      font-size: 18px;
    }
    &__date {
      font-size: 16px;
      margin-top: 6px;
    }
  }
}
