mixin main-t1()
  +b.main-t1&attributes(attributes)
    +b.A(href="#", data-delay="2700", title="Путеводитель по бюджету").guide.load-anim-fade.load-anim-fade_on.guide_short
      span
        | Путеводитель
        br
        | по бюджету
      +e.SPAN.icon
    div(role="toolbar").sections.sections_fs.slick-initialized.slick-slider.slick-dotted.slick-vertical
      // SECTIONS_ITEM(Banner)
      div(aria-live="polite").slick-list
        div(role="listbox").slick-track
          div(data-slick-index="0", aria-hidden="false", tabindex="-1", role="option", aria-describedby="slick-slide00").sections__item.slick-slide.slick-current.slick-active
            +b.cube
              +e.side._current
                +b.banner._ban-1
                  +e.wrap.wrap
                    .clearfix
                      +e.DIV(data-delay="300").cat.load-anim-fade.load-anim-fade_on Бюджет Москвы
                      button(tabindex="0").arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
                      button(tabindex="0").arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
                    +e.A(href="#", tabindex="0").link
                      +e.SPAN.title_b
                        +e.SPAN(data-delay="900").row.banner__row_v10.load-anim-fade.load-anim-fade_on
                          | Государственный долг
                          br
                          | на 01.12.2016
                    +e.A(href="#", tabindex="0", data-delay="2100").button.button.load-anim-fade.load-anim-fade_on
                      span Подробнее
              +e.side._right
                +b.banner._ban-2
                  +e.wrap.wrap
                    .clearfix
                      +e.DIV(data-delay="300").cat Сервисы
                      button(tabindex="0").arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
                      button(tabindex="0").arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
                    +e.A(href="#", tabindex="0").link
                      +e.SPAN.title_b
                        +e.SPAN(data-delay="900").row.banner__row_v10.load-anim-fade.load-anim-fade_on
                          | Бюджетный
                          br
                          | калькулятор
                        +e.SPAN.row.banner__row_sub Создай свой бюджет!
                    +e.A(href="#", tabindex="0").button.button
                      span Подробнее
                +e.side._left
                  +b.banner._ban-3
                    +e.wrap.wrap
                      .clearfix
                        +e.DIV(data-delay="300").cat Новости
                        button(tabindex="0").arrow.cube__arrow.cube__arrow_m.arrow_left.cube__arrow_next
                        button(tabindex="0").arrow.cube__arrow.cube__arrow_m.arrow_right.cube__arrow_prev
                      +e.A(href="#", tabindex="0").link
                        +e.SPAN.title_b
                          +e.SPAN.row.banner__row_sub Департамент финансов города Москвы подвел итоги исполнения столичного бюджета за 9 месяцев 2016 года
                      +e.A(href="#", tabindex="0").button.button.mt-30
                        span Подробнее
              +e.BUTTON(tabindex="0").arrow.arrow.arrow_right.cube__arrow_prev
              +e.BUTTON(tabindex="0").arrow.arrow.arrow_left.cube__arrow_next
          div(data-slick-index="1", aria-hidden="true", tabindex="-1", role="option", aria-describedby="slick-slide01").sections__item.sections__item_bg1.slick-slide
            // DIAGRAMS_SLIDER
            div(data-sides-900="2").slider.slider_diagrams.slick-initialized.slick-slider
              button(type="button", data-role="none", aria-label="Previous", role="button").slick-prev.slick-arrow Previous
              div(aria-live="polite").slick-list
                div(role="listbox").slick-track
                  div(tabindex="-1", role="option", data-slick-index="-1", aria-hidden="true").cube__side_new.cube__side_new-2.slick-slide.slick-cloned
                    // AHEAD
                    .sections__ahead.mb-40.viewport-900-lg
                      .wrap
                        h2.sections__title.mr-20.anim-fade-top Исполнение бюджета
                        // CALENDAR
                        .sections__datepicker
                          span
                            | По состоянию
                            br
                            | на
                          +b.datepicker
                            +e.INPUT(type="text", tabindex="-1", value="21.12.2016").show.jq-datepicker
                    // DIAGRAM_CELL
                    +b.grid.grid_col-2
                      +e.col.grid-brick-2
                        +b.large-diagram
                          +e.P.caption доходы
                          +e.svg
                            +e.values
                              +e.percent
                                span(data-value="115,4").diagram-value 115,4
                                | %
                              +e.value._top
                                | План
                                +e.value-lightblue 1665,5
                              +e.value._bottom
                                +e.P(data-value="1921,7").value-blue.diagram-value 1921,7
                                | факт
                            .svg-wrap
                              | svg
                      +e.col.grid-brick-2
                        +b.large-diagram
                          +e.P.caption расходы
                          +e.svg
                            +e.values
                              +e.percent
                                span(data-value="73,1").diagram-value 73,1
                                | %
                              +e.value._top
                                | План
                                +e.value-lightblue 1865,5
                              +e.value._bottom
                                +e.P(data-value="1364,5").value-blue.diagram-value 1364,5
                                | факт
                            .svg-wrap
                              | svg
                  div(tabindex="-1", role="option", data-slick-index="0", aria-hidden="false").cube__side_new.cube__side_new-1.slick-slide.slick-current.slick-active
                    // AHEAD
                    .sections__ahead#diagrams-ahead-1
                      .wrap
                        h1.sections__title.anim-fade-top Основные показатели бюджета за 2016–2018 годы
                        +b.legend.sections__legend.anim-fade-top
                          +e.item._blue доходы
                          +e.item._pink расходы
                          +e.item._green дефицит/профицит
                    +b.grid._col-3
                      +e.col.grid-brick-3
                        +b.comp-diagram._dash-1#diagram-1
                          +e.year 2016
                          +e.values
                            +e.num._blue.diagram-value(data-value="1446,2")#value-path-diagram-1-2
                            +e.num._pink.diagram-value(data-value="1598,9")#value-path-diagram-1-1
                            +e.num._yellow.diagram-value(data-value="-152,7", data-pre-val="1599")#value-path-diagram-1-0
                          .svg-wrap
                            | svg
                      +e.col.grid-brick-3
                        +b.comp-diagram._dash-2#diagram-2
                          +e.year 2017
                          +e.values
                            +e.num._blue.diagram-value(data-value="1446,2")#value-path-diagram-2-2
                            +e.num._pink.diagram-value(data-value="1598,9")#value-path-diagram-2-1
                            +e.num._yellow.diagram-value(data-value="-152,7", data-pre-val="1599")#value-path-diagram-2-0
                          .svg-wrap
                            | svg
                      +e.col.grid-brick-3
                        +b.comp-diagram._dash-1#diagram-3
                          +e.year 2018
                          +e.values
                            +e.num._blue.diagram-value(data-value="1446,2")#value-path-diagram-3-2
                            +e.num._pink.diagram-value(data-value="1598,9")#value-path-diagram-3-1
                            +e.num._yellow.diagram-value(data-value="-152,7", data-pre-val="1599")#value-path-diagram-3-0
                          .svg-wrap
                            | svg
                  div(tabindex="-1", role="option", data-slick-index="1", aria-hidden="true").cube__side_new.cube__side_new-2.slick-slide
                    // AHEAD
                    .sections__ahead#diagrams-ahead-2
                      .wrap
                        h1.sections__title.mr-20.anim-fade-top Исполнение бюджета
                        // CALENDAR
                        .sections__datepicker
                          span
                            | По состоянию
                            br
                            | на
                          +b.datepicker
                            +e.INPUT(type="text", tabindex="-1", value="21.12.2016").show.jq-datepicker
                    +b.grid._col-2
                      +e.col.grid-brick-2
                        +b.large-diagram
                          +e.P.caption расходы
                          +e.svg#diagram-4
                            +e.values
                              +e.percent
                                span(data-value="115,4").diagram-value#value-perc-path-diagram-4-0 0
                                | %
                              +e.value._top
                                | План
                                +e.value-lightblue 1665,5
                              +e.value._bottom
                                +e.P(data-value="1921,7").value-blue.diagram-value#value-path-diagram-4-0 1364,5
                                | факт
                            .svg-wrap
                              | svg
                      +e.col.grid-brick-2
                        +b.large-diagram
                          +e.P.caption расходы
                          +e.svg#diagram-5
                            +e.values
                              +e.percent
                                span(data-value="73,1").diagram-value#value-perc-path-diagram-5-0 0
                                | %
                              +e.value._top
                                | План
                                +e.value-pink 1865,5
                              +e.value._bottom
                                +e.P(data-value="1921,7").value-violet.diagram-value#value-path-diagram-5-0 0
                                | факт
                            .svg-wrap
                              | svg
                  div(tabindex="-1", role="option", data-slick-index="2", aria-hidden="true").cube__side_new.cube__side_new-1.slick-slide.slick-cloned
                    // AHEAD
                    .sections__ahead
                      .wrap
                        h1.sections__title.anim-fade-top Основные показатели бюджета за 2016–2018 годы
                        +b.legend.sections__legend.anim-fade-top
                          +e.item.legend__item_blue доходы
                          +e.item.legend__item_pink расходы
                          +e.item.legend__item_green дефицит/профицит
                    // DIAGRAM_CELL
                    +b.grid.grid-col-3
                      +e.col.grid-brick-3
                        +b.comp-diagram.comp-diagram_dash-1
                          +e.year 2016
                          +e.values
                            +e(data-value="1446,2").num._blue.diagram-value 1446,2
                            +e(data-value="1598,9").num._pink.diagram-value 1598,9
                            +e(data-value="-152,7", data-pre-val="1599").num._yellow.diagram-value -152,7
                          .svg-wrap
                            | svg
                      +e.col.grid-brick-3
                        +b.comp-diagram.comp-diagram_dash-2
                          +e.year 2017
                          +e.values
                            +e(data-value="1446,2").num._blue.diagram-value 1446,2
                            +e(data-value="1598,9").num._pink.diagram-value 1598,9
                            +e(data-value="-152,7", data-pre-val="1599").num._yellow.diagram-value -152,7
                          .svg-wrap
                            | svg
                      +e.col.grid-brick-3
                        +b.comp-diagram.comp-diagram_dash-1
                          +e.year 2018
                          +e.values
                            +e(data-value="1446,2").num._blue.diagram-value 1446,2
                            +e(data-value="1598,9").num._pink.diagram-value 1598,9
                            +e(data-value="-152,7", data-pre-val="1599").num._yellow.diagram-value -152,7
                          .svg-wrap
                            | svg
              .button(type="button", data-role="none", aria-label="Next", role="button").slick-next.slick-arrow Next
          div(data-slick-index="2", aria-hidden="true", tabindex="-1", role="option", aria-describedby="slick-slide02").sections__item.sections__item_bg2.slick-slide
            // SERVICES_AHEAD
            .sections__ahead.sections__ahead_ab
              .wrap
                h2.sections__title.anim-fade-top Сервисы
                a(tabindex="-1").sections__all.anim-fade-top Все сервисы
            div(data-sides-700="4", data-sides-900="3", data-sides-1100="2").slider.slick-initialized.slick-slider
              button(type="button", tabindex="0", data-role="none", aria-label="Previous", role="button").slick-prev.slick-arrow Previous
              div(aria-live="polite").slick-list
                div(role="listbox").slick-track
                  div(tabindex="-1", role="option", data-slick-index="-1", aria-hidden="true").cube__side_new.cube__side_new-2.slick-slide.slick-cloned
                    +b.tile
                      +e.item
                        +e.inner.service
                        .service__ahead.mb-10
                          h3.service__title Москва и города мира
                        p.fs-14.medium.mb-10 Выберите показатель
                        +b.select.service__select
                          +e.BUTTON(tabindex="-1").btn Доходы
                          +e.UL.drop
                            li
                              +e.A(href="#pl111", tabindex="-1").a Доходы
                            li
                              +e.A(href="#pl211", tabindex="-1").a Расходы
                            li
                              +e.A(href="#pl311", tabindex="-1").a Население
                        .select-content.select-content_vis
                          .service__place 5 место
                          p.fs-14.medium.lh-1_2
                            | из 8 крупнейших городов мира
                            br
                            | по общему объему доходов
                        .select-content
                          .service__place 4 место
                          p.fs-14.medium.lh-1_2
                            | из 8 крупнейших городов мира
                            br
                            | по общему объему расходов
                        .select-content
                          .service__place 3 место
                          p.fs-14.medium.lh-1_2
                            | из 8 крупнейших городов мира
                            br
                            | по общему количеству населения
                        a(href="#", tabindex="-1").service__more Подробнее
                      +e.item
                        +e.inner.service
                          .service__ahead.mb-10
                            h3.service__title Москва и города мира
                          p.fs-14.medium.mb-10 Выберите показатель
                          +b.select.service__select
                            +e.BUTTON(tabindex="-1").btn Доходы
                            +e.UL.drop
                              li
                                +e.A(href="#pl112", tabindex="-1").a Доходы
                              li
                                +e.A(href="#pl212", tabindex="-1").a Расходы
                              li
                                +e.A(href="#pl312", tabindex="-1").a Население
                          .select-content.select-content_vis
                            .service__place 5 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему доходов
                          .select-content
                            .service__place 4 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему расходов
                          .select-content
                            .service__place 3 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему количеству населения
                          a(href="#", tabindex="-1").service__more Подробнее
                      +e.item
                        +e.inner.service
                          .service__ahead.mb-10
                            h3.service__title Москва и города мира
                          p.fs-14.medium.mb-10 Выберите показатель
                          +b.select.service__select
                            +e.BUTTON(tabindex="-1").btn Доходы
                            +e.UL.drop
                              li
                                +e.A(href="#pl113", tabindex="-1").a Доходы
                              li
                                +e.A(href="#pl213", tabindex="-1").a Расходы
                              li
                                +e.A(href="#pl313", tabindex="-1").a Население
                          .select-content.select-content_vis
                            .service__place 5 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему доходов
                          .select-content
                            .service__place 4 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему расходов
                          .select-content
                            .service__place 3 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему количеству населения
                          a(href="#", tabindex="-1").service__more Подробнее
                      +e.item
                        +e.inner.service
                          .service__ahead.mb-10
                            h3.service__title Москва и города мира
                          p.fs-14.medium.mb-10 Выберите показатель
                          +b.select.service__select
                            +e.BUTTON(tabindex="-1").btn Доходы
                            +e.UL.drop
                              li
                                +e.A(href="#pl11", tabindex="-1").a Доходы
                              li
                                +e.A(href="#pl21", tabindex="-1").a Расходы
                              li
                                +e.A(href="#pl31", tabindex="-1").a Население
                          .select-content.select-content_vis
                            .service__place 5 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему доходов
                          .select-content
                            .service__place 4 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему расходов
                          .select-content
                            .service__place 3 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему количеству населения
                          a(href="#", tabindex="-1").service__more Подробнее
                  div(tabindex="-1", role="option", data-slick-index="2", aria-hidden="true").cube__side_new.cube__side_new-2.slick-slide.slick-cloned
                    +b.tile
                      +e.item.anim-left.anim-left_on(data-delay="100")
                        +e.inner.service
                        .service__ahead
                          h3.service__title Государственные программы
                          .service__sub-title по состоянию на
                          // datepicker
                          +b.datepicker.service__datepicker
                            +e.BUTTON.show(tabindex="-1") 21.10.2016
                            +e.panel
                              +e.UL.col._years
                                li
                                  +e.A(href="#", tabindex="-1").a 2011
                                li
                                  +e.A(href="#", tabindex="-1").a 2012
                                li
                                  +e.A(href="#", tabindex="-1").a 2013
                                li
                                  +e.A(href="#", tabindex="-1").a 2014
                                li
                                  +e.A(href="#", tabindex="-1").a 2015
                                li
                                  +e.A(href="#", tabindex="-1").a._act 2016
                              +e.col-wrap
                                +e.UL.col._months
                                  li
                                    +e.A(href="#", data-month="01" tabindex="-1").a январь
                                  li
                                    +e.A(href="#", data-month="02" tabindex="-1").a февраль
                                  li
                                    +e.A(href="#", data-month="03" tabindex="-1").a март
                                  li
                                    +e.A(href="#", data-month="04" tabindex="-1").a апрель
                                  li
                                    +e.A(href="#", data-month="05" tabindex="-1").a май
                                  li
                                    +e.A(href="#", data-month="06" tabindex="-1").a июнь
                                +e.UL.col._months
                                  li
                                    +e.A(href="#", data-month="07" tabindex="-1").a июль
                                  li
                                    +e.A(href="#", data-month="08" tabindex="-1").a август
                                  li
                                    +e.A(href="#", data-month="09" tabindex="-1").a сентябрь
                                  li
                                    +e.A(href="#", data-month="10" tabindex="-1").a._act октябрь
                                  li
                                    +e.A(href="#", data-month="11" tabindex="-1").a ноябрь
                                  li
                                    +e.A(href="#", data-month="12" tabindex="-1").a._dis декабрь
                              +e.BUTTON(tabindex="-1").close
                          +b.dashed-diagram.service__dashed-diagram
                            +e.diagram
                              +e.value._top
                                | план
                                +e.value-p 1 637,3
                              +e.value._bottom
                                +e.value-p 1 167,7
                                | факт
                              .svg-wrap
                                | svg
                        a(href="#", tabindex="-1").service__more Подробнее
                      +e.item.anim-left.anim-left_on(data-delay="300")
                        +e.inner.service
                          .service__ahead
                            h3.service__title Адресная инвестиционная программа
                            p.service__sub-title на 2016 год, млрд. руб.
                          +b.segment-diagram
                            +e.value
                            +e.floating._green
                              | Строительство
                              span 150,7
                            +e.floating._violet
                              | Образование
                              span 60,8
                            +e.floating._blue
                              | Медицина
                              span 35,2
                            +e.floating._gray
                              | Прочее
                              span 100,5
                            .svg-wrap
                              | svg
                          +b.UL.diagram-tabs.service__diagram-tabs
                            +e.LI.item._green
                              +e.A(href="#", tabindex="-1").btn._house 150,7
                                +e.SPAN.span-hov
                                +e.SPAN.span-js
                              +e.caption Строительство
                            +e.LI.item._violet
                              +e.A(href="#", tabindex="-1").btn._edu 60,8
                                +e.SPAN.span-hov
                                +e.SPAN.span-js
                              +e.caption Образование
                            +e.LI.item._blue
                              +e.A(href="#", tabindex="-1").btn._med 35,2
                                +e.SPAN.span-hov
                                +e.SPAN.span-js
                              +e.caption Медицина
                            +e.LI.item._gray
                              +e.A(href="#", tabindex="-1").btn._other 100,5
                                +e.SPAN.span-hov
                                +e.SPAN.span-js
                              +e.caption Прочее
                          a(href="#", tabindex="-1").service__more Подробнее
                      +e.item.anim-left.anim-left_on(data-delay="600")
                        +e.inner.service
                          .service__ahead
                            h3.service__title Государственный долг
                            .service__sub-title по состоянию на
                            // datepicker
                          +b.datepicker.service__datepicker
                            +e.BUTTON.show(tabindex="-1") 21.10.2016
                            +e.panel
                              +e.UL.col._years
                                li
                                  +e.A(href="#", tabindex="-1").a 2011
                                li
                                  +e.A(href="#", tabindex="-1").a 2012
                                li
                                  +e.A(href="#", tabindex="-1").a 2013
                                li
                                  +e.A(href="#", tabindex="-1").a 2014
                                li
                                  +e.A(href="#", tabindex="-1").a 2015
                                li
                                  +e.A(href="#", tabindex="-1").a._act 2016
                              +e.col-wrap
                                +e.UL.col._months
                                  li
                                    +e.A(href="#", data-month="01" tabindex="-1").a январь
                                  li
                                    +e.A(href="#", data-month="02" tabindex="-1").a февраль
                                  li
                                    +e.A(href="#", data-month="03" tabindex="-1").a март
                                  li
                                    +e.A(href="#", data-month="04" tabindex="-1").a апрель
                                  li
                                    +e.A(href="#", data-month="05" tabindex="-1").a май
                                  li
                                    +e.A(href="#", data-month="06" tabindex="-1").a июнь
                                +e.UL.col._months
                                  li
                                    +e.A(href="#", data-month="07" tabindex="-1").a июль
                                  li
                                    +e.A(href="#", data-month="08" tabindex="-1").a август
                                  li
                                    +e.A(href="#", data-month="09" tabindex="-1").a сентябрь
                                  li
                                    +e.A(href="#", data-month="10" tabindex="-1").a._act октябрь
                                  li
                                    +e.A(href="#", data-month="11" tabindex="-1").a ноябрь
                                  li
                                    +e.A(href="#", data-month="12" tabindex="-1").a._dis декабрь
                              +e.BUTTON(tabindex="-1").close
                          +b.segment-diagram
                            +e.value 
                              | Всего
                              +e.P.value-num 77,2 
                            +e.floating._green
                              | Бюджетные &nbsp; кредиты
                              span 21,4
                            +e.floating._blue
                              | Внутренний &nbsp; долг
                              span 28,8
                            +e.floating._violet
                              | Внешний &nbsp; долг
                              span 48,4
                            .svg-wrap
                              | svg
                          +b.UL.diagram-tabs.service__diagram-tabs
                            +e.LI.item._green
                              +e.A(href="#", tabindex="-1").btn._bank 21,4
                                +e.SPAN.span-hov
                                +e.SPAN.span-js
                              +e.caption Бюджетные кредиты
                            +e.LI.item._blue
                              +e.A(href="#", tabindex="-1").btn._bag 28,8
                                +e.SPAN.span-hov
                                +e.SPAN.span-js
                              +e.caption Внутренний долг
                            +e.LI.item._violet
                              +e.A(href="#", tabindex="-1").btn._build 60,8
                                +e.SPAN.span-hov
                                +e.SPAN.span-js
                              +e.caption Внешний долг
                          a(href="#", tabindex="-1").service__more Подробнее
                      +e.item.anim-left.anim-left_on(data-delay="900")
                        +e.inner.service
                          .service__ahead.mb-10
                            h3.service__title Москва и города мира
                          p.fs-14.medium.mb-10.xs-fs-11 Выберите показатель
                          +b.select.service__select
                            +e.BUTTON(tabindex="-1").btn Доходы
                            +e.UL.drop
                              li
                                +e.A(href="#pl1", tabindex="-1").a Доходы
                              li
                                +e.A(href="#pl2", tabindex="-1").a Расходы
                              li
                                +e.A(href="#pl3", tabindex="-1").a Население
                          .select-content.select-content_vis
                            .service__place 5 место
                            p.fs-14.medium.lh-1_2.xs-fs-9
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему доходов
                          .select-content
                            .service__place 4 место
                            p.fs-14.medium.lh-1_2.xs-fs-9
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему расходов
                          .select-content
                            .service__place 3 место
                            p.fs-14.medium.lh-1_2.xs-fs-9
                              | из 8 крупнейших городов мира
                              br
                              | по общему количеству населения
                          a(href="#", tabindex="-1").service__more Подробнее
              button(type="button", data-role="none", aria-label="Next", role="button", tabindex="0").slick-next.slick-arrow Next
          div(data-slick-index="3", aria-hidden="true", tabindex="-1", role="option", aria-describedby="slick-slide03").sections__item.sections__item_bg3.slick-slide
            // NEWS_AHEAD
            .sections__ahead.sections__ahead_ab.anim-fade-top_on
              .wrap
                h2.sections__title.anim-fade-top Новости
                a(href="#", tabindex="0").sections__all.anim-fade-top.anim-fade-top_on Все Новости
            // subscribe
            +b.subscribe.sections__subscribe.viewport-md-lg
              .wrap
                +e.P.label
                  | Подпишитесь
                  br
                  | на новости
                +b.small-form.subscribe__small-form
                  +e.FORM.form
                    label(for="email").overlabel-apply email
                    +e.INPUT(type="email", required, tabindex="0").text#email
                    +e.submit
                      input(type="submit" tabindex="0")
                +e.P.caption Для выбора параметров рассылки необходимо
                  a(href="#", tabindex="0").open-popup.yellow зарегистрироваться
                  | на портале
            div(data-sides-700="4", data-sides-900="3", data-sides-1100="2").slider.slick-initialized.slick-slider
              button(type="button", tabindex="0", data-role="none", aria-label="Previous", role="button").slick-prev.slick-arrow Previous
              div(aria-live="polite").slick-list
                div(role="listbox").slick-track
                  div(tabindex="-1", role="option", data-slick-index="-1", aria-hidden="true").cube__side_new.cube__side_new-2.slick-slide.slick-cloned
                    +b.tile
                      +e.item
                        +e.inner.service
                        .service__ahead.mb-10
                          h3.service__title Москва и города мира
                        p.fs-14.medium.mb-10 Выберите показатель
                        +b.select.service__select
                          +e.BUTTON(tabindex="-1").btn Доходы
                          +e.UL.drop
                            li
                              +e.A(href="#pl111", tabindex="-1").a Доходы
                            li
                              +e.A(href="#pl211", tabindex="-1").a Расходы
                            li
                              +e.A(href="#pl311", tabindex="-1").a Население
                        .select-content.select-content_vis
                          .service__place 5 место
                          p.fs-14.medium.lh-1_2
                            | из 8 крупнейших городов мира
                            br
                            | по общему объему доходов
                        .select-content
                          .service__place 4 место
                          p.fs-14.medium.lh-1_2
                            | из 8 крупнейших городов мира
                            br
                            | по общему объему расходов
                        .select-content
                          .service__place 3 место
                          p.fs-14.medium.lh-1_2
                            | из 8 крупнейших городов мира
                            br
                            | по общему количеству населения
                        a(href="#", tabindex="-1").service__more Подробнее
                      +e.item
                        +e.inner.service
                          .service__ahead.mb-10
                            h3.service__title Москва и города мира
                          p.fs-14.medium.mb-10 Выберите показатель
                          +b.select.service__select
                            +e.BUTTON(tabindex="-1").btn Доходы
                            +e.UL.drop
                              li
                                +e.A(href="#pl112", tabindex="-1").a Доходы
                              li
                                +e.A(href="#pl212", tabindex="-1").a Расходы
                              li
                                +e.A(href="#pl312", tabindex="-1").a Население
                          .select-content.select-content_vis
                            .service__place 5 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему доходов
                          .select-content
                            .service__place 4 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему расходов
                          .select-content
                            .service__place 3 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему количеству населения
                          a(href="#", tabindex="-1").service__more Подробнее
                      +e.item
                        +e.inner.service
                          .service__ahead.mb-10
                            h3.service__title Москва и города мира
                          p.fs-14.medium.mb-10 Выберите показатель
                          +b.select.service__select
                            +e.BUTTON(tabindex="-1").btn Доходы
                            +e.UL.drop
                              li
                                +e.A(href="#pl113", tabindex="-1").a Доходы
                              li
                                +e.A(href="#pl213", tabindex="-1").a Расходы
                              li
                                +e.A(href="#pl313", tabindex="-1").a Население
                          .select-content.select-content_vis
                            .service__place 5 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему доходов
                          .select-content
                            .service__place 4 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему расходов
                          .select-content
                            .service__place 3 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему количеству населения
                          a(href="#", tabindex="-1").service__more Подробнее
                      +e.item
                        +e.inner.service
                          .service__ahead.mb-10
                            h3.service__title Москва и города мира
                          p.fs-14.medium.mb-10 Выберите показатель
                          +b.select.service__select
                            +e.BUTTON(tabindex="-1").btn Доходы
                            +e.UL.drop
                              li
                                +e.A(href="#pl11", tabindex="-1").a Доходы
                              li
                                +e.A(href="#pl21", tabindex="-1").a Расходы
                              li
                                +e.A(href="#pl31", tabindex="-1").a Население
                          .select-content.select-content_vis
                            .service__place 5 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему доходов
                          .select-content
                            .service__place 4 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему объему расходов
                          .select-content
                            .service__place 3 место
                            p.fs-14.medium.lh-1_2
                              | из 8 крупнейших городов мира
                              br
                              | по общему количеству населения
                          a(href="#", tabindex="-1").service__more Подробнее
                  div(tabindex="-1", role="option", data-slick-index="2", aria-hidden="true").cube__side_new.cube__side_new-2.slick-slide.slick-cloned
                    +b.tile
                      +e.item
                        +b.news._blue.tile__inner
                          +e.A(href="#", tabindex="0").thumb
                            img(src="images/post-thumb.jpg", alt="thumb")
                          +e.A(href="#", tabindex="0").category Новости бюджета
                          +e.A(href="#", tabindex="0").title Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»
                          +e.bottom
                            +e.P.date 8 августа 2016
                            +e.tags
                              a(href="#", tabindex="0") #итоги
                              a(href="#", tabindex="0") #апробация
                              a(href="#", tabindex="0") #старшеклассники
                          button(tabindex="0").share__btn
                          .share__panel
                            a(href="#", tabindex="0").share__a.share__a_fb
                            a(href="#", tabindex="0").share__a.share__a_vk
                            a(href="#", tabindex="0").share__a.share__a_tw
                            a(href="#", tabindex="0").share__a.share__a_ok
                      +e.item
                        +b.news._red.tile__inner
                          +e.A(href="#", tabindex="0").thumb
                            img(src="images/post-thumb.jpg", alt="thumb")
                          +e.A(href="#", tabindex="0").category Новости бюджета
                          +e.A(href="#", tabindex="0").title Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»
                          +e.bottom
                            +e.P.date 8 августа 2016
                            +e.tags
                              a(href="#", tabindex="0") #итоги
                              a(href="#", tabindex="0") #апробация
                              a(href="#", tabindex="0") #старшеклассники
                          button(tabindex="0").share__btn
                          .share__panel
                            a(href="#", tabindex="0").share__a.share__a_fb
                            a(href="#", tabindex="0").share__a.share__a_vk
                            a(href="#", tabindex="0").share__a.share__a_tw
                            a(href="#", tabindex="0").share__a.share__a_ok
                        a(href="#", tabindex="-1").service__more Подробнее
                      +e.item
                        +b.news._green.tile__inner
                          +e.A(href="#", tabindex="0").thumb
                            img(src="images/post-thumb.jpg", alt="thumb")
                          +e.A(href="#", tabindex="0").category Новости бюджета
                          +e.A(href="#", tabindex="0").title Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»
                          +e.bottom
                            +e.P.date 8 августа 2016
                            +e.tags
                              a(href="#", tabindex="0") #итоги
                              a(href="#", tabindex="0") #апробация
                              a(href="#", tabindex="0") #старшеклассники
                          button(tabindex="0").share__btn
                          .share__panel
                            a(href="#", tabindex="0").share__a.share__a_fb
                            a(href="#", tabindex="0").share__a.share__a_vk
                            a(href="#", tabindex="0").share__a.share__a_tw
                            a(href="#", tabindex="0").share__a.share__a_ok
                      +e.item
                        +b.news._blue.tile__inner
                          +e.A(href="#", tabindex="0").thumb
                            img(src="images/post-thumb.jpg", alt="thumb")
                          +e.A(href="#", tabindex="0").category Новости бюджета
                          +e.A(href="#", tabindex="0").title Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»
                          +e.bottom
                            +e.P.date 8 августа 2016
                            +e.tags
                              a(href="#", tabindex="0") #итоги
                              a(href="#", tabindex="0") #апробация
                              a(href="#", tabindex="0") #старшеклассники
                          button(tabindex="0").share__btn
                          .share__panel
                            a(href="#", tabindex="0").share__a.share__a_fb
                            a(href="#", tabindex="0").share__a.share__a_vk
                            a(href="#", tabindex="0").share__a.share__a_tw
                            a(href="#", tabindex="0").share__a.share__a_ok
                        a(href="#", tabindex="-1").service__more Подробнее
          div(data-slick-index="4", aria-hidden="true", tabindex="-1", role="option", aria-describedby="slick-slide04").sections__item.sections__item_footer.slick-slide
            +footer()
      +b.UL(role="tablist").slick-dots
        li(role="presentation", aria-hidden="true", aria-selected="true", aria-controls="navigation00")#slick-slide00
          button(type="button", data-role="none", role="button", tabindex="0") 1
        li(role="presentation", aria-hidden="true", aria-selected="true", aria-controls="navigation01")#slick-slide01
          button(type="button", data-role="none", role="button", tabindex="0") 2
        li(role="presentation", aria-hidden="true", aria-selected="true", aria-controls="navigation02")#slick-slide02
          button(type="button", data-role="none", role="button", tabindex="0") 3
        li(role="presentation", aria-hidden="true", aria-selected="true", aria-controls="navigation03")#slick-slide03
          button(type="button", data-role="none", role="button", tabindex="0") 4
        li(role="presentation", aria-hidden="true", aria-selected="true", aria-controls="navigation04")#slick-slide04
          button(type="button", data-role="none", role="button", tabindex="0") 5
