.widget-card {
  position: relative;
  padding-bottom: 40px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  text-align: left;
  min-height: 400px;
  color: #000;
  background-color: #fff;
  line-height: 1.2;

  & > *:nth-child(n+2) {
    @media (max-width: 580px) {
      display: none;
    }
  }

  @media (max-width: 580px) {
    min-height: 0;
    padding-bottom: 0;
  }

  /*Если карточка раскрыта на мобильном разрешении*/
  &_active {
    transition: all .321s ease-in-out;
    min-height: 420px;
    padding-bottom: 40px;

    .widget-card__arrow-open {
      transform: rotate(-90deg);
    }

    // .widget-card > *:nth-child(n+2) {
    //   display: block;
    //   transition: all 1s ease-in-out;
    // }
  }

  &__head {
    position: relative;
    height: 84px;
    background-color: #edf0f2;
    padding: 14px 20px 11px;
  }

  &__title {
    position: relative;
    padding-right: 35px;
    font-size: 14.5px;
    // text-transform: uppercase;
    margin-bottom: 7px;
    max-height: 38px;
    
    h3 {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      
      &.one-line {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      
      &.alt {
        font-family: $PFDinCondensedProAlt;
      }
    }
  }

  &__subtitle {
    margin-top: 9px;
    //opacity: .5;
    color: rgba(0,0,0,.5);
    font-family: $PFDinTextPro;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -.7px;
  }

  &__state {
    margin-top: 9px;
    //opacity: .5;
    color: rgba(0,0,0,.5);
    font-family: $PFDinTextPro;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -.7px;
  }

  &__datepicker {
    position: relative;
    display: inline-block;
    cursor: pointer;

    input {
      width: 64px;
      min-width: 60px;
      color: #0d46a1;
      text-decoration: none;
      border-bottom: 1px dashed #b6c7e3;
      cursor: pointer;
    }
  }
  
  .datepicker__show {
    cursor: pointer;
    color: #0d46a1;
    text-decoration: none;
    border-bottom: 1px dashed #b6c7e3;
  }
  
  .datepicker__panel {
    left: 50%;
    top: 100%;
    margin-top: 10px;
    transform: translateX(-50%);
    z-index: 6;
  }

  &__pin {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: -5px;
    cursor: pointer;
    opacity: 1;
    right: 11px;
    stroke: #a1b5d4;
    stroke-width: 4;
    fill: transparent;
    transform: scale(-1, 1);
    transition: all .25s ease-in-out;
    border: 1px solid transparent; //убирает баг с отображением при transform scale
    z-index: 5;
    &:hover {
      opacity: .7;
    }

    &_active {
      fill: #0d46a1;
      stroke-width: 1;
    }

    @media (max-width: 580px) {
      right: 10px;
    }
  }
  .noUi-tooltip {
    background: #fff;
    padding: 5px;
  }

  &__favor {
    display: block;
    position: absolute;
    right: -14px;
    top: -4px;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -140px -115px;
    cursor: pointer;
    z-index: 5;

    &:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: .7;
    }

    &_active {
      background-position: -212px -92px;
    }
  }

  &__content {
    padding: 0 20px;

    & + .widget-card__content {
      border-top: 1px solid #e4e8eb;
    }
  }

  &__search {
    margin-top: 5px;

    .d-si__search {
      height: 32px;
      letter-spacing: -.8px;
    }
    
    .search__tooltip {
      font-size: 13px;
    }
  }

  &__select {
    margin-top: 10px;
  }

  &__selectbox {
    margin-top: 20px;
  }
  
  .selectbox {
    
    ul {
      max-height: 161px;
      overflow: auto;
    }
  }

/*Предотвращение выползания дефолтного селекта*/
  //.selectbox__select {
  //  width: 105%;
  //  height: 95%
  //}
  //.selectbox__arrow {
  //  right: 0px;
  //}
  //.selectbox-for-widgets .selectbox__arrow {
  //  width: 40px;
  //}
/**/

  &__range {
    margin-top: 19px;
  }

  &__budget-stats {
    margin-top: 19px;
    text-align: justify;
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
    }
  }

  &__budget-stat {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__budget-stat-count {
    font-size: 35px;
    position: relative;

    &_pos {
      background: -webkit-linear-gradient(left, #30b069, #fee300);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media screen\0 {
        color: #30b069;
      }
    }

    &_neg {
      background: -webkit-linear-gradient(left, #021398, #ff0036);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media screen\0 {
        color: #021398;
      }
    }
  }

  &__budget-stat-text {
    opacity: .5;
    margin-top: -2px;
  }

  &__budget-total {
    margin-top: 22px;
    position: relative;
    padding: 5px 0;

    & + .widget-card__budget-total {
      margin-top: 0;
      border-top: 1px solid rgba(#000, .1);
    }
  }

  &__budget-total-title {
    font-size: 12.5px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    width: 105px;
    line-height: 1.25em;
  }

  &__budget-total-count {
    font-size: 24px;
    margin-left: 27px;
    position: relative;
    color: #ccc;
    display: inline-block;
    vertical-align: middle;

    &_blue {
      background: -webkit-linear-gradient(#004ccf, #00ffff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media screen\0 {
        color: #004ccf;
      }
    }
  }

  &__budget-total-text {
    opacity: .5;
    font-family: $PFDinTextPro;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 1em;
  }

  &__passed-stages {
    position: relative;
    width: 103px;
    height: 103px;
    margin: 10px auto 0;
  }

  &__lessons {
    text-align: center;
    margin-bottom: 27px;
  }

  &__lessons-text {
    opacity: .4;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 17px;
    height: 30px;
    overflow: hidden;

    &_active {
      opacity: 1;
      color: #0d46a1;
      font-size: 18px;
      height: 42px;
    }
  }



  &__info-block {
    padding: 15px 0 16px;
  }

  &__info-block-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 4px;
    max-height: 96px;
    overflow: hidden;
  }

  &__info-block-subtitle {
    font-size: 14px;
    text-transform: uppercase;
    opacity: .3;
  }

  &__info-block-date {
    opacity: .3;
    font-family: $PFDinTextPro;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1px;
  }

  &__info-block-items {
    position: relative;
    height: 127px;
    font-size: 15px;
    text-align: center;
    margin-top: 6px;
    background-color: #f5f2dc;
    overflow: hidden;
    display: none;

    &_active {
      display: block;
    }
  }

  &__info-block-item {
    @include center-block;
    display: none;
    width: 170px;
    transition: all 0.5s ease-in-out;

    &_active {
      display: block !important;
    }
  }

  &__info-block-desc {
    max-width: 190px;
    font-weight: 400;
    line-height: 16px;
  }

  &__info {

    display: none;

    &_active {
      display: block!important;
    }
  }

  &__nav-buttons {
    margin-top: 9px;
  }

  &__arrow-button {
    width: 30px;
    height: 30px;
  }

  &__arrow-open {
    display: none;
    position: relative;
    top: 4px;
    left: -7px;
    width: 11px;
    height: 1em;
    fill: $color-black;
    transform: rotate(90deg);
    margin-left: 8px;
    transition: all .5s ease-in-out;
  }

  &__map {
    display: block;
    margin: 6px auto 0;
    &_regions {
      width: 125px;
      height: 70px;
    }
    &_moscow {
      width: 107px;
      height: 143px;
    }
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__bottom-link-wrap {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 0 20px;
  }

  &__bottom-link {
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 40px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding: 0 19px;
    border-top: 1px solid #e4e8eb;
    background: #fff;

    &_gradiented {
      display: block;
      position: relative;
      padding: 0 19px 0 60px;
      line-height: 36px;
      font-weight: 500;
      color: $color-white;
      text-transform: uppercase;
      background-image: linear-gradient(90deg, rgba(48, 176, 147, 1) 0%, rgba(248, 168, 4, 1) 100%);

      .widget-card__bottom-link-icon {
        fill: #fff;
        right: 10px;
      }
    }
  }

  &__results {
    margin-top: 11px;
    width: 100%;
    display: none;

    &_active {
      display: inline-block;
    }

    &-total {
      display: none;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &_active {
        display: inline-block;
      }
    }
  }

  &__output-calc {
    display: none;

    &_active {
      display: block;
    }
  }


  &__results-total {
    font-size: 22.7px;
    display: none;
    
    &_active {
      display: block;
    }
  }

  &__results-rating {
    padding: 5px 9px;
    background-image: linear-gradient( 90deg, rgb(157,48,138) 0%, rgb(255,105,91) 100%);
    color: $color-white;
    margin-top: 7px;
  }

  &__results-pos {
    font-size: 30px;
    line-height: 30px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__results-in {
    font-size: 14px;
    line-height: 14px;
    opacity: .5;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }



  &__value {
    margin-top: 36px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
  }

  &__value-title {
    margin-bottom: 7px;
  }

  &__value-value {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -3px;
    margin-top: -5px;
    /*градиентный цвет текста - chrome*/
    background: -webkit-linear-gradient(90deg, #021398 0%, #ff0036 40%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen\0 {
      color: #021398;
    }
  }

  &__value-units {
    display: inline-block;
    color: #7f7f7f;
    margin-left: 8px;
    vertical-align: top;
  }

  &__logo {
    position: relative;
    width: 47px;
    height: 59px;
    margin: 0 auto;
    margin-top: 9px;

    img {
      @include fill-img;
      display: none;
      &.active {
        display: block;
      }
    }
  }

  &__bottom-link-img {
    @include center-block;
    transform: translateY(-50%);
    left: 15px;
    width: 33px;
    height: 35px;
    fill: white;
  }

  &__bottom-link-icon {
    position: absolute;
    right: 19px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
  }
  
  .segment-diagram__value {
    top: 50%;
    margin-top: -20px;
    height: auto;
  }
  
  .segment-diagram .svg-wrap, .segment-diagram .svg-wrap svg {
    position: relative;
    z-index: 2;
  }
}

/*стили для каждой из карточек*/
.widget-card-calc {

  .widget-card__select {
    margin-top: 20px;
  }

  .widget-card__bottom-link_gradiented {
    padding: 13px 19px 13px 65px;
    font-size: 14px;
    line-height: 16px;
    background-image: linear-gradient(-90deg, #ff0036, #021398);
  }
}

.widget-card-gov-programs {
  .service-dot-cont_act {
    margin-top: 12px;
  }

  .service-dot-cont {
    margin-top: 12px;
  }

  @media (max-width: 900px) {
    .dashed-diagram__diagram, .dashed-diagram__diagram .svg {
      width: 180px!important;
      height: 180px!important;
    }
  }

}

.widget-card-invest-program {
  .segment-diagram {
    margin-top: 12px;
  }

  .diagram-tabs__item_green {
    .diagram-tabs__btn_house:before {
      background-image: url(../images/depfin-services-main/med.png);
      background-position: 0 50%;
    }

  }
  .diagram-tabs__item_violet {
    .diagram-tabs__btn_edu:before {
      background-image: url(../images/depfin-services-main/auto.png);
      background-position: 0 50%;
    }
  }

  .diagram-tabs__item_blue {
    .diagram-tabs__btn_med:before {
      background-image: url(../images/depfin-services-main/construct.png);
      background-position: 0 50%;
    }
  }

  @media (max-width: 900px) {
    .segment-diagram, .segment-diagram .svg {
      width: 197px!important;
      height: 197px!important;
    }
  }
}

.widget-card-gov-debt {
  .segment-diagram {
    margin-top: 12px;
  }

  @media (max-width: 900px) {
    .segment-diagram, .segment-diagram .svg {
      width: 197px!important;
      height: 197px!important;
    }
  }
}

.widget-card-gov-debt-alt {
  .diagram-tabs__btn_other:before {
    //background-image: url(../images/depfin-services-main/gerb.png);
    background-image: url(../images/gd_gosgarant_2.svg);
    //background-position: 0 50%;
    background-position: -3px 50%;
    background-size: 100%;
  }
}


.widget-card-cities {
  .widget-card__results-rating {
    background-image: linear-gradient( 90deg, #eb212e 0%, #ccaa26 100%);
  }
}

.widget-card-gov-programs-result {
  .widget-card__select {
    margin-top: 20px;
  }

  .widget-card__nav-buttons {
    margin-top: 30px;
  }
}

.widget-card-social-support {
  .widget-card__select {
    margin-top: 20px;
  }

  .widget-card__nav-buttons {
    margin-top: 30px;
  }
}

.widget-card-polls {
  .widget-card__nav-buttons {
    margin-top: 20px;
  }

  .widget-card__bottom-link_gradiented {
    padding: 0 19px 0 13px;
    color: $color-black;
    background: #b0df3c;
    margin-top: 15px;

    .widget-card__bottom-link-icon {
      fill: $color-black;
    }
  }
}

.widget-card-polls-pers,
.widget-card-quiz-pers {
  .widget-card__content {
    padding: 0 20px 10px;
  }

  .widget-card__info-block-title {
    font-size: 16px;
    letter-spacing: -.2px;
    height: 38px;
    overflow: hidden;
  }

  .widget-card__info-block-subtitle {
    font-size: 12px;
    text-transform: none;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .widget-card__info-block {
    padding: 15px 0 0;
  }
}

.widget-card-quiz {
  .widget-card__nav-buttons {
    margin-top: 20px;
  }

  .widget-card__info-block-title {
    margin-top: 7px;
  }

  .widget-card__info-block-date {
    margin-top: 7px;
  }

  .widget-card__bottom-link_gradiented {
    padding: 0 19px 0 13px;
    color: $color-black;
    background: #cbb9a8;
    margin-top: 15px;

    .widget-card__bottom-link-icon {
      fill: $color-black;
    }
  }
}

.widget-card-budget-web {
  .widget-card__select {
    margin-bottom: 8px;
  }
  .widget-card__nav-buttons {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
  }

  .widget-card__results {
    width: 150px;
    vertical-align: middle;
    margin-top: 0;
    @media screen and (max-width: 580px) {
      width: 140px;
    }
  }

  .widget-card__results_active {
    display: inline-block;
  }

  .widget-card__nav-buttons {
    margin-right: 10px;
  }
  
  .selectbox {
    ul {
      max-height: 97px;
    }
  }
}

.widget-card-projects {

  .widget-card__nav-buttons {
    margin-top: 20px;
  }

  .widget-card__info {
    margin-top: 5px;
  }

  .widget-card__info-block {
    padding: 0 !important;
  }

  .widget-card__info-block-title {
    text-transform: none;
  }

  .widget-card__info-block-subtitle {
    margin-top: 34px;
  }

  .widget-card__info-block-desc {
    margin-top: 7px;
    height: 48px;
  }
}

.widget-card-municipalities {
  .selectbox {
    ul {
      max-height: 97px;
    }
  }
}

.diagram-tabs__icon {
  display: block;
  width: 25px;
  height: 21px;
  &_pink {fill: #ce4c72;}
  &_blue {fill: #00a7e7;}
  &_green {fill: #34ad67;}
  &_orange {fill: #fca805;}
}
