include ../../blocks/favor/favor
include ../../blocks/arrow-button/arrow-button
include ../../blocks/icon/icons

mixin widget-card()
	+b.widget-card&attributes(attributes)
		block

mixin widget-card-head(title, subtitle, datepicker)
	+e.head&attributes(attributes)
		+e.H3.title= title
			+icon('pin').pin
			+e.BUTTON.favor
		if subtitle
			+e.P.subtitle= subtitle
		if datepicker
			+e.P.state
				| по состоянию на
				+e.datepicker
					INPUT(value='21.10.2016', tabindex="0").datepicker__show.jq-spec-datepicker
				| , млрд. руб 
		block

mixin widget-card-content()
	+e.content&attributes(attributes)
		block

mixin widget-card-info-block(desc, title, date)
	+e.info-block&attributes(attributes)
		+e.info-block-desc= desc
		+e.info-block-title= title
		if date
			+e.info-block-date= date
		+e.nav-buttons
			+arrow-button()._prev.widget-card__arrow-button
			+arrow-button().widget-card__arrow-button
				block

mixin widget-card-bottom-link(img, text)
	+e.A(href="#").bottom-link&attributes(attributes)= text ? text : 'Подробнее'
		if img
			+e.bottom-link-img
		+icon('angle-arrow').bottom-link-icon
			block
