.widget-card {
  position: relative;
  padding-bottom: 40px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  text-align: left;
  min-height: 400px;

  &__head {
    min-height: 84px;
    background-color: #edf0f2;
    padding: 14px 20px 11px;
    position: relative;
  }

  &__title {
    font-size: 16px;
    text-transform: uppercase;
    padding-right: 30px;
  }

  &__subtitle {
    margin-top: 9px;
    opacity: .5;
    font-family: $PFDinTextPro;
    font-size: 14px;
    font-weight: 400;
    padding-right: 42px;
  }

  &__favor {
    position: absolute;
    top: 14px;
    right: 18px;
    width: 16px;
    height: 16px;

    svg {
      width: 100%;
      height: 100%;
      fill: rgba(#0d46a1, .5);
    }
  }

  &__content {
    padding: 0 19px;

    & + .widget-card__content {
      border-top: 1px solid #e4e8eb;
    }
  }

  &__selectbox {
    margin-top: 20px;
  }

  &__budget-stats {
    margin-top: 19px;
  }

  &__budget-stat {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;

    & + .widget-card__budget-stat {
      margin-left: 27px;
    }
  }

  &__budget-stat-count {
    font-size: 36px;
    position: relative;

    /*
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#30b069', endColorstr='#fee300', GradientType=1);
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgb(48, 176, 105)), color-stop(100%, rgb(254, 227, 0)));
      background: -webkit-linear-gradient(left, rgb(48, 176, 105) 0%, rgb(254, 227, 0) 100%);
      background: -moz-linear-gradient(left, rgb(48, 176, 105) 0%, rgb(254, 227, 0) 100%);
      background: -ms-linear-gradient(left, rgb(48, 176, 105) 0%, rgb(254, 227, 0) 100%);
      background: -o-linear-gradient(left, rgb(48, 176, 105) 0%, rgb(254, 227, 0) 100%);
      background: linear-gradient(to right, rgb(48, 176, 105) 0%, rgb(254, 227, 0) 100%);
    }
    */
  }

  &__budget-stat-text {
    opacity: .5;
    margin-top: 1px;
  }

  &__budget-total {
    margin-top: 20px;
    position: relative;
    padding: 5px 0;

    & + .widget-card__budget-total {
      margin-top: 0;
      border-top: 1px solid rgba(#000, .1);
    }
  }

  &__budget-total-title {
    font-size: 12.5px;
    text-transform: uppercase;
    display: inline-block;
    width: 105px;
    line-height: 1.25em;
  }

  &__budget-total-count {
    font-size: 24px;
    margin-left: 27px;
    position: relative;

    /*
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004ccf', endColorstr='#0ff', GradientType=0);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(0,76,207)), color-stop(100%, rgb(0,255,255)));
      background: -webkit-linear-gradient(top, rgb(0,76,207) 0%, rgb(0,255,255) 100%);
      background: -moz-linear-gradient(top, rgb(0,76,207) 0%, rgb(0,255,255) 100%);
      background: -ms-linear-gradient(top, rgb(0,76,207) 0%, rgb(0,255,255) 100%);
      background: -o-linear-gradient(top, rgb(0,76,207) 0%, rgb(0,255,255) 100%);
      background: linear-gradient(to bottom, rgb(0,76,207) 0%, rgb(0,255,255) 100%);
    }
    */

    &_neutral {
      color: #ccc;
    }
  }

  &__budget-total-text {
    opacity: .5;
    font-family: $PFDinTextPro;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 1em;
  }

  &__passed-stages {
    width: 103px;
    height: 103px;
    margin-top: 10px;
  }

  &__lessons {
    text-align: center;
    margin-bottom: 27px;
  }

  &__lessons-text {
    opacity: .4;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 19px;

    &_active {
      opacity: 1;
      color: #0d46a1;
      font-size: 18px;
    }
  }

  &__info-block {
    padding: 15px 0 17px;
  }

  &__info-block-desc {
    opacity: .5;
    font-family: $PFDinTextPro;
    font-size: 12px;
    font-weight: 400;
  }

  &__info-block-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 4px;
    letter-spacing: -.01em;

    & + .widget-card__nav-buttons {
      margin-top: 14px;
    }
  }

  &__info-block-date {
    opacity: .3;
    font-family: $PFDinTextPro;
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
  }

  &__nav-buttons {
    margin-top: 9px;
  }

  &__arrow-button {
    width: 30px;
    height: 30px;

    & + .widget-card__arrow-button {
      margin-left: 3px;
    }
  }

  &__bottom-link {
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 40px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding: 0 19px;
    border-top: 1px solid #e4e8eb;

    &:hover {
      opacity: .7;
    }
  }

  &__bottom-link-icon {
    position: absolute;
    right: 19px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
  }
}
