.widget-card {
  position: relative;
  padding-bottom: 40px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  text-align: left;
  min-height: 400px;
  color: #000;
  background-color: #fff;
  line-height: 1.2;

  &__head {
    position: relative;
    min-height: 84px;
    background-color: #edf0f2;
    padding: 14px 20px 11px;
  }

  &__title {
    position: relative;
    padding-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 7px;
  }

  &__subtitle {
    margin-top: 9px;
    opacity: .5;
    font-family: $PFDinTextPro;
    font-size: 14px;
    font-weight: 400;
    padding-right: 42px;
  }

  &__state {
    font-size: 14px;
    color: #666;
  }

  &__datepicker {
    position: relative;
    display: inline-block;
    z-index: 3;
    cursor: pointer;

    input {
      width: 60px;
      min-width: 60px;
      color: #0d46a1;
      text-decoration: none;
      border-bottom: 1px dashed #b6c7e3;
      cursor: pointer;
    }
  }

  &__pin {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    top: -4px;
    cursor: pointer;
    opacity: 1;
    right: 11px;
    fill: #aabdda;

    &:hover {
      opacity: .7;
    }

    &_active {
      fill: #0d46a1;
    }
  }

  &__favor {
    display: block;
    position: absolute;
    right: -14px;
    top: -4px;
    width: 18px;
    height: 18px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: -140px -115px;
    cursor: pointer;

    &:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
      opacity: .7;
    }

    &.active {
      background-position: -212px -92px;
    }
  }

  &__content {
    padding: 0 20px;

    & + .widget-card__content {
      border-top: 1px solid #e4e8eb;
    }
  }

  &__selectbox {
    margin-top: 20px;
  }

  &__budget-stats {
    margin-top: 19px;
  }

  &__budget-stat {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;

    & + .widget-card__budget-stat {
      margin-left: 27px;
      @media (min-width: 821px) and (max-width: 890px) {
        margin-left: 7px;
      }

      @media (min-width: 820px) {
        margin-left: 27px;
      }
    }
  }

  &__budget-stat-count {
    font-size: 35px;
    position: relative;

    @media (min-width: 821px) and (max-width: 890px) {
      font-size: 30px;
    }

    @media (max-width: 820px) {
      font-size: 36px;
    }

    &_pos {
      background: -webkit-linear-gradient(left, #30b069, #fee300);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &_neg {
      background: -webkit-linear-gradient(left, #021398, #ff0036);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__budget-stat-text {
    opacity: .5;
    margin-top: -2px;
  }

  &__budget-total {
    margin-top: 22px;
    position: relative;
    padding: 5px 0;

    & + .widget-card__budget-total {
      margin-top: 0;
      border-top: 1px solid rgba(#000, .1);
    }
  }

  &__budget-total-title {
    font-size: 12.5px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    width: 105px;
    line-height: 1.25em;
  }

  &__budget-total-count {
    font-size: 24px;
    margin-left: 27px;
    position: relative;
    color: #ccc;
    display: inline-block;
    vertical-align: middle;

    &_blue {
      background: -webkit-linear-gradient(#004ccf, #00ffff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__budget-total-text {
    opacity: .5;
    font-family: $PFDinTextPro;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 1em;
  }

  &__passed-stages {
    position: relative;
    width: 103px;
    height: 103px;
    margin: 10px auto 0;
  }

  .d-sq__head_ss {
    position: relative;
    right: auto;
    bottom: auto;
    left: 0;
    min-height: auto;
    width: 103px;
  }

  .d-sq__head_ss-s {
    font-size: 12px;
    line-height: 12px;
    color: $color-black;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 30px;

    b {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .d-sq__head_ss .sectored_round {
    width: 103px; 
    height: 103px; 
  }

  &__lessons-list {
    margin-top: 25px;
    padding-right: 10px;
  }

  &__lesson {
    display: block;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #999999;

    & + .widget-card__lesson {
      margin-top: 19px;
    }

    &_active {
      font-size: 18px;
      line-height: 20px;
      color: #0d46a1;
    }
  }

  &__lessons {
    text-align: center;
    margin-bottom: 27px;
  }

  &__lessons-text {
    opacity: .4;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 17px;

    &_active {
      opacity: 1;
      color: #0d46a1;
      font-size: 18px;
    }
  }

  &__info-block {
    padding: 15px 0 16px;
  }

  &__info-block-desc {
    opacity: .5;
    font-family: $PFDinTextPro;
    font-size: 12px;
    font-weight: 400;
  }

  &__info-block-title {
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 4px;
    letter-spacing: -.01em;

    & + .widget-card__nav-buttons {
      margin-top: 14px;
    }
  }

  &__info-block-date {
    opacity: .3;
    font-family: $PFDinTextPro;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1px;
  }

  &__nav-buttons {
    margin-top: 9px;
  }

  &__arrow-button {
    width: 30px;
    height: 30px;

    & + .widget-card__arrow-button {
      margin-left: 3px;
    }
  }

  &__map {
    display: block;
    width: 125px;
    margin: 6px auto 0;
  }

  &__bottom-link-wrap {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 0 20px;
  }

  &__bottom-link {
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 40px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: #000;
    padding: 0 19px;
    border-top: 1px solid #e4e8eb;

    &:hover {
      opacity: .7;
    }

    &_gradiented {
      display: block;
      position: relative;
      padding: 0 19px 0 60px;
      line-height: 36px;
      color: $color-white;
      text-transform: uppercase;
      background-image: linear-gradient(90deg, rgba(48, 176, 147, 1) 0%, rgba(248, 168, 4, 1) 100%);

      .widget-card__bottom-link-icon {
        fill: #fff;
        right: 10px;
      }
    }
  }

  &__bottom-link-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    background: url(../images/edu-hat.png) 50% 50% no-repeat;
  }

  &__bottom-link-icon {
    position: absolute;
    right: 19px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 10px;
  }
}
