include ../../blocks/favor/favor
include ../../blocks/arrow-button/arrow-button
include ../../blocks/icon/icons

mixin widget-card()
	+b.widget-card&attributes(attributes)
		block

mixin widget-card-head(title, subtitle, datepicker, alt)
	+e.head&attributes(attributes)
		+e.title
			if (subtitle || datepicker)
				h3.one-line= title
			else
				h3= title
			+e.arrow-open
				+icon('angle-arrow')
			+icon('pin').pin
			+e.BUTTON.favor
		if subtitle
			+e.P.subtitle= subtitle
		if datepicker
			+e.P.state
				| по состоянию на
				+e.datepicker
					INPUT(value='01.10.2016', tabindex="0").datepicker__show.jq-spec-datepicker
					input(type='hidden', name='selecteddate')
				| , млрд. руб 
		if alt
			+e.P.state
				| по состоянию на
				+e.datepicker
					INPUT(value='01.10.2016', tabindex="0").datepicker__show.jq-spec-datepicker-alt
					input(type='hidden', name='selecteddate')
				| , млрд. руб
		block
		
mixin widget-card-head-altdp(title, subtitle)
	+e.head&attributes(attributes)
		+e.title
			h3.one-line= title
			+icon('angle-arrow').arrow-open
			+icon('pin').pin
			+e.BUTTON.favor
		if subtitle
			+e.P.subtitle= subtitle
		+e.DIV.state._altdp
			span по состоянию на
			+e.DIV.datepicker
				button.datepicker__show 01.10.2016
				div.datepicker__panel
					ul.datepicker__col.datepicker__col_years
						li
							a(href="#" data-disabled-months="01 10").datepicker__a 2011
						li
							a(href="#" data-disabled-months="03").datepicker__a 2012
						li
							a(href="#" data-disabled-months="07").datepicker__a 2013
						li
							a(href="#" data-disabled-months="04 05 11").datepicker__a 2014
						li
							a(href="#" data-disabled-months="").datepicker__a 2015
						li
							a(href="#" data-disabled-months="12").datepicker__a.datepicker__a_act 2016
					.datepicker__col-wrap
						ul.datepicker__col.datepicker__col_months
							li
								a(href="#" data-month="01").datepicker__a январь
							li
								a(href="#" data-month="02").datepicker__a февраль
							li
								a(href="#" data-month="03").datepicker__a март
							li
								a(href="#" data-month="04").datepicker__a апрель
							li
								a(href="#" data-month="05").datepicker__a май
							li
								a(href="#" data-month="06").datepicker__a июнь
						ul.datepicker__col.datepicker__col_months
							li
								a(href="#" data-month="07").datepicker__a июль
							li
								a(href="#" data-month="08").datepicker__a август
							li
								a(href="#" data-month="09").datepicker__a сентябрь
							li
								a(href="#" data-month="10").datepicker__a.datepicker__a_act октябрь
							li
								a(href="#" data-month="11").datepicker__a ноябрь
							li
								a(href="#" data-month="12").datepicker__a.datepicker__a_dis декабрь
					button.datepicker__close
			span , млрд. руб
		block

mixin widget-card-content()
	+e.content&attributes(attributes)
		block

mixin widget-card-info-block(desc, title, date)
	+e.info-block&attributes(attributes)
		+e.info-block-desc= desc
		+e.info-block-title= title
		if date
			+e.info-block-date= date
		+e.nav-buttons
			+arrow-button()._prev.widget-card__arrow-button
			+arrow-button().widget-card__arrow-button
				block

mixin widget-card-bottom-link(img, text)
	+e.A(href="#").bottom-link&attributes(attributes)= text ? text : 'Подробнее'
		if img
			+icon(img).bottom-link-img
		+icon('angle-arrow').bottom-link-icon
			block
