.budget-income-fira {

  * {
  	font-family: $FiraCond !important;
  }

	.page-head__category,
	.page-head__title {
		font-family: $FiraComp !important;
    letter-spacing: 0em!important;
	}

	.table__col,
	.document__excerpt,
	.news__title,
	.news__date,
	.news__tags a,
	.widget-card__subtitle,
	.widget-card__info-block-date,
	.analityc-graphics__legend .legend__item {
		font-family: $Fira !important;
	}

	.table__row_caption {
		font-family: $FiraCond !important;
	}

}
