extends ../../layouts/default
include ../../components/questions/questions
include ../../components/header/header

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +questions()
      +popup-wrapper()
      +footer()
