extends ../../layouts/default
include ../../components/questions/questions
include ../../components/header/header

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      .lk.lk_questions
        .wrapper_lk
          +lk-nav('Вопросы')
          +questions()
      +popup-wrapper()
      +footer()
