/* Образец подключения шрифта
@font-face {
  font-family: 'MyWebFont';
  font-style: normal;
  font-weight: 400;
  src: url('webfont.eot');
  src: url('webfont.eot?#iefix') format('embedded-opentype'),
       url('webfont.woff2') format('woff2'),
       url('webfont.woff') format('woff'),
       url('webfont.otf')  format('opentype'),
       url('webfont.ttf')  format('truetype'),
       url('webfont.svg#svgFontName') format('svg');
}
*/

/* Соответствие письменного названия жирности числовому значению
100 — Thin
200 — Extra Light, Ultra Light
300 — Light
400 — Normal, Book, Regular (стандартный)
500 — Medium
600 — Semi Bold, Demi Bold
700 — Bold
800 — Extra Bold, Ultra Bold
900 — Black, Heavy
*/

/*===== FontAwesome =====*/
@font-face {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: 400;
	src: url('fontawesome-webfont.eot?v=4.7.0');
	src: url('fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
		 url('fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
		 url('fontawesome-webfont.woff?v=4.7.0') format('woff'),
		 url('fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
		 url('fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

/*===== PF Din Display Pro =====*/
@font-face {
    font-family: 'PFDinDisplayPro';
	font-style: normal;
	font-weight: 400;
    src: url('pfdindisplaypro-reg-webfont.eot');
    src: url('pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-reg-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-reg-webfont.woff') format('woff'),
         url('pfdindisplaypro-reg-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-reg-webfont.svg#pf_dindisplay_proregular') format('svg');
}

@font-face {
    font-family: 'PFDinDisplayPro';
	font-style: italic;
	font-weight: 400;
    src: url('pfdindisplaypro-italic-webfont.eot');
    src: url('pfdindisplaypro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-italic-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-italic-webfont.woff') format('woff'),
         url('pfdindisplaypro-italic-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-italic-webfont.svg#pf_dindisplay_proitalic') format('svg');
}

@font-face {
    font-family: 'PFDinDisplayPro';
	font-style: normal;
	font-weight: 500;
    src: url('pfdindisplaypro-med-webfont.eot');
    src: url('pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-med-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-med-webfont.woff') format('woff'),
         url('pfdindisplaypro-med-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-med-webfont.svg#pf_dindisplay_promedium') format('svg');
}

@font-face {
    font-family: 'PFDinDisplayPro';
	font-style: italic;
	font-weight: 500;
    src: url('pfdindisplaypro-medital-webfont.eot');
    src: url('pfdindisplaypro-medital-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-medital-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-medital-webfont.woff') format('woff'),
         url('pfdindisplaypro-medital-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-medital-webfont.svg#pf_dindisplay_proMdIt') format('svg');
}

@font-face {
    font-family: 'PFDinDisplayPro';
	font-style: normal;
	font-weight: 700;
    src: url('pfdindisplaypro-bold-webfont.eot');
    src: url('pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-bold-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-bold-webfont.woff') format('woff'),
         url('pfdindisplaypro-bold-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-bold-webfont.svg#pf_dindisplay_probold') format('svg');
}

@font-face {
    font-family: 'PFDinDisplayPro';
	font-style: italic;
	font-weight: 700;
    src: url('pfdindisplaypro-boldital-webfont.eot');
    src: url('pfdindisplaypro-boldital-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdindisplaypro-boldital-webfont.woff2') format('woff2'),
         url('pfdindisplaypro-boldital-webfont.woff') format('woff'),
         url('pfdindisplaypro-boldital-webfont.ttf') format('truetype'),
         url('pfdindisplaypro-boldital-webfont.svg#pf_dindisplay_probold_italic') format('svg');
}

/*===== PF Din Compressed Pro =====*/
@font-face {
    font-family: 'PFDinCompressedPro';
	font-style: normal;
	font-weight: 400;
    src: url('pfdintextcomppro-regular-webfont.eot');
    src: url('pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-regular-webfont.woff2') format('woff2'),
         url('pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('pfdintextcomppro-regular-webfont.ttf') format('truetype'),
         url('pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular') format('svg');
}

@font-face {
    font-family: 'PFDinCompressedPro';
	font-style: italic;
	font-weight: 400;
    src: url('pfdintextcomppro-italic-webfont.eot');
    src: url('pfdintextcomppro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-italic-webfont.woff2') format('woff2'),
         url('pfdintextcomppro-italic-webfont.woff') format('woff'),
         url('pfdintextcomppro-italic-webfont.ttf') format('truetype'),
         url('pfdintextcomppro-italic-webfont.svg#pf_din_text_comp_proitalic') format('svg');
}

@font-face {
    font-family: 'PFDinCompressedPro';
	font-style: normal;
	font-weight: 500;
    src: url('pfdintextcomppro-medium-webfont.eot');
    src: url('pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-medium-webfont.woff2') format('woff2'),
         url('pfdintextcomppro-medium-webfont.woff') format('woff'),
         url('pfdintextcomppro-medium-webfont.ttf') format('truetype'),
         url('pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium') format('svg');
}

@font-face {
    font-family: 'PFDinCompressedPro';
	font-style: italic;
	font-weight: 500;
    src: url('pfdintextcomppro-medital-webfont.eot');
    src: url('pfdintextcomppro-medital-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-medital-webfont.woff2') format('woff2'),
         url('pfdintextcomppro-medital-webfont.woff') format('woff'),
         url('pfdintextcomppro-medital-webfont.ttf') format('truetype'),
         url('pfdintextcomppro-medital-webfont.svg#pf_din_text_comp_proMdIt') format('svg');
}

@font-face {
    font-family: 'PFDinCompressedPro';
	font-style: normal;
	font-weight: 700;
    src: url('pfdintextcomppro-bold-webfont.eot');
    src: url('pfdintextcomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-bold-webfont.woff2') format('woff2'),
         url('pfdintextcomppro-bold-webfont.woff') format('woff'),
         url('pfdintextcomppro-bold-webfont.ttf') format('truetype'),
         url('pfdintextcomppro-bold-webfont.svg#pf_din_text_comp_probold') format('svg');
}

@font-face {
    font-family: 'PFDinCompressedPro';
	font-style: italic;
	font-weight: 700;
    src: url('pfdintextcomppro-boldital-webfont.eot');
    src: url('pfdintextcomppro-boldital-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcomppro-boldital-webfont.woff2') format('woff2'),
         url('pfdintextcomppro-boldital-webfont.woff') format('woff'),
         url('pfdintextcomppro-boldital-webfont.ttf') format('truetype'),
         url('pfdintextcomppro-boldital-webfont.svg#pf_din_text_comp_proBdIt') format('svg');
}

/*===== PF Din Condensed Pro =====*/
@font-face {
    font-family: 'PFDinCondensedPro';
	font-style: normal;
	font-weight: 400;
    src: url('pfdintextcondpro-regular-webfont.eot');
    src: url('pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcondpro-regular-webfont.woff2') format('woff2'),
         url('pfdintextcondpro-regular-webfont.woff') format('woff'),
         url('pfdintextcondpro-regular-webfont.ttf') format('truetype'),
         url('pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');
}

@font-face {
    font-family: 'PFDinCondensedPro';
	font-style: italic;
	font-weight: 400;
    src: url('pfdintextcondpro-italic-webfont.eot');
    src: url('pfdintextcondpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcondpro-italic-webfont.woff2') format('woff2'),
         url('pfdintextcondpro-italic-webfont.woff') format('woff'),
         url('pfdintextcondpro-italic-webfont.ttf') format('truetype'),
         url('pfdintextcondpro-italic-webfont.svg#pf_din_text_cond_proitalic') format('svg');
}

@font-face {
    font-family: 'PFDinCondensedPro';
	font-style: normal;
	font-weight: 500;
    src: url('pfdintextcondpro-medium-webfont.eot');
    src: url('pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcondpro-medium-webfont.woff2') format('woff2'),
         url('pfdintextcondpro-medium-webfont.woff') format('woff'),
         url('pfdintextcondpro-medium-webfont.ttf') format('truetype'),
         url('pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg');
}

@font-face {
    font-family: 'PFDinCondensedPro';
	font-style: italic;
	font-weight: 500;
    src: url('pfdintextcondpro-medital-webfont.eot');
    src: url('pfdintextcondpro-medital-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcondpro-medital-webfont.woff2') format('woff2'),
         url('pfdintextcondpro-medital-webfont.woff') format('woff'),
         url('pfdintextcondpro-medital-webfont.ttf') format('truetype'),
         url('pfdintextcondpro-medital-webfont.svg#pf_din_text_cond_proMdIt') format('svg');
}

@font-face {
    font-family: 'PFDinCondensedPro';
	font-style: normal;
	font-weight: 700;
    src: url('pfdintextcondpro-bold-webfont.eot');
    src: url('pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcondpro-bold-webfont.woff2') format('woff2'),
         url('pfdintextcondpro-bold-webfont.woff') format('woff'),
         url('pfdintextcondpro-bold-webfont.ttf') format('truetype'),
         url('pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold') format('svg');
}

@font-face {
    font-family: 'PFDinCondensedPro';
	font-style: italic;
	font-weight: 700;
    src: url('pfdintextcondpro-boldital-webfont.eot');
    src: url('pfdintextcondpro-boldital-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextcondpro-boldital-webfont.woff2') format('woff2'),
         url('pfdintextcondpro-boldital-webfont.woff') format('woff'),
         url('pfdintextcondpro-boldital-webfont.ttf') format('truetype'),
         url('pfdintextcondpro-boldital-webfont.svg#pf_din_text_cond_proBdIt') format('svg');
}

/*===== PF Din Text Pro =====*/
@font-face {
    font-family: 'PFDinTextPro';
	font-style: normal;
	font-weight: 400;
    src: url('pfdintextpro-regular-webfont.eot');
    src: url('pfdintextpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-regular-webfont.woff2') format('woff2'),
         url('pfdintextpro-regular-webfont.woff') format('woff'),
         url('pfdintextpro-regular-webfont.ttf') format('truetype'),
         url('pfdintextpro-regular-webfont.svg#pf_dintext_proregular') format('svg');
}

@font-face {
    font-family: 'PFDinTextPro';
	font-style: normal;
	font-weight: 500;
    src: url('pfdintextpro-medium-webfont.eot');
    src: url('pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-medium-webfont.woff2') format('woff2'),
         url('pfdintextpro-medium-webfont.woff') format('woff'),
         url('pfdintextpro-medium-webfont.ttf') format('truetype'),
         url('pfdintextpro-medium-webfont.svg#pf_dintext_promedium') format('svg');
}

@font-face {
    font-family: 'PFDinTextPro';
	font-style: normal;
	font-weight: 700;
    src: url('pfdintextpro-bold-webfont.eot');
    src: url('pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfdintextpro-bold-webfont.woff2') format('woff2'),
         url('pfdintextpro-bold-webfont.woff') format('woff'),
         url('pfdintextpro-bold-webfont.ttf') format('truetype'),
         url('pfdintextpro-bold-webfont.svg#pf_dintext_probold') format('svg');
}
