/* Образец подключения шрифта
@font-face {
  font-family: 'MyWebFont';
  font-style: normal;
  font-weight: 400;
  src: url('webfont.eot');
  src: url('webfont.eot?#iefix') format('embedded-opentype'),
       url('webfont.woff2') format('woff2'),
       url('webfont.woff') format('woff'),
       url('webfont.otf')  format('opentype'),
       url('webfont.ttf')  format('truetype'),
       url('webfont.svg#svgFontName') format('svg');
}
*/

/* Соответствие письменного названия жирности числовому значению
100 — Thin
200 — Extra Light, Ultra Light
300 — Light
400 — Normal, Book, Regular (стандартный)
500 — Medium
600 — Semi Bold, Demi Bold
700 — Bold
800 — Extra Bold, Ultra Bold
900 — Black, Heavy
*/

/* ===== FontAwesome ===== */
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src:
    url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}

/* ===== PF Din Display Pro ===== */
@font-face {
  font-family: 'PFDinDisplayPro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pfdindisplaypro-reg-webfont.eot');
  src:
    url('../fonts/pfdindisplaypro-reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdindisplaypro-reg-webfont.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-reg-webfont.woff') format('woff'),
    url('../fonts/pfdindisplaypro-reg-webfont.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-reg-webfont.svg#pf_dindisplay_proregular') format('svg');
}

@font-face {
  font-family: 'PFDinDisplayPro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/pfdindisplaypro-italic-webfont.eot');
  src:
    url('../fonts/pfdindisplaypro-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdindisplaypro-italic-webfont.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-italic-webfont.woff') format('woff'),
    url('../fonts/pfdindisplaypro-italic-webfont.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-italic-webfont.svg#pf_dindisplay_proitalic') format('svg');
}

@font-face {
  font-family: 'PFDinDisplayPro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/pfdindisplaypro-med-webfont.eot');
  src:
    url('../fonts/pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdindisplaypro-med-webfont.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-med-webfont.woff') format('woff'),
    url('../fonts/pfdindisplaypro-med-webfont.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-med-webfont.svg#pf_dindisplay_promedium') format('svg');
}

@font-face {
  font-family: 'PFDinDisplayPro';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/pfdindisplaypro-medital-webfont.eot');
  src:
    url('../fonts/pfdindisplaypro-medital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdindisplaypro-medital-webfont.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-medital-webfont.woff') format('woff'),
    url('../fonts/pfdindisplaypro-medital-webfont.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-medital-webfont.svg#pf_dindisplay_proMdIt') format('svg');
}

@font-face {
  font-family: 'PFDinDisplayPro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pfdindisplaypro-bold-webfont.eot');
  src:
    url('../fonts/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdindisplaypro-bold-webfont.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-bold-webfont.woff') format('woff'),
    url('../fonts/pfdindisplaypro-bold-webfont.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-bold-webfont.svg#pf_dindisplay_probold') format('svg');
}

@font-face {
  font-family: 'PFDinDisplayPro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/pfdindisplaypro-boldital-webfont.eot');
  src:
    url('../fonts/pfdindisplaypro-boldital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdindisplaypro-boldital-webfont.woff2') format('woff2'),
    url('../fonts/pfdindisplaypro-boldital-webfont.woff') format('woff'),
    url('../fonts/pfdindisplaypro-boldital-webfont.ttf') format('truetype'),
    url('../fonts/pfdindisplaypro-boldital-webfont.svg#pf_dindisplay_probold_italic') format('svg');
}

/* ===== PF Din Compressed Pro ===== */
@font-face {
  font-family: 'PFDinCompressedPro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pfdintextcomppro-regular-webfont.eot');
  src:
    url('../fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-regular-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular') format('svg');
}

@font-face {
  font-family: 'PFDinCompressedPro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/pfdintextcomppro-italic-webfont.eot');
  src:
    url('../fonts/pfdintextcomppro-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-italic-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcomppro-italic-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-italic-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcomppro-italic-webfont.svg#pf_din_text_comp_proitalic') format('svg');
}

@font-face {
  font-family: 'PFDinCompressedPro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/pfdintextcomppro-medium-webfont.eot');
  src:
    url('../fonts/pfdintextcomppro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-medium-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcomppro-medium-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-medium-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcomppro-medium-webfont.svg#pf_din_text_comp_promedium') format('svg');
}

@font-face {
  font-family: 'PFDinCompressedPro';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/pfdintextcomppro-medital-webfont.eot');
  src:
    url('../fonts/pfdintextcomppro-medital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-medital-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcomppro-medital-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-medital-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcomppro-medital-webfont.svg#pf_din_text_comp_proMdIt') format('svg');
}

@font-face {
  font-family: 'PFDinCompressedPro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pfdintextcomppro-bold-webfont.eot');
  src:
    url('../fonts/pfdintextcomppro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-bold-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcomppro-bold-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-bold-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcomppro-bold-webfont.svg#pf_din_text_comp_probold') format('svg');
}

@font-face {
  font-family: 'PFDinCompressedPro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/pfdintextcomppro-boldital-webfont.eot');
  src:
    url('../fonts/pfdintextcomppro-boldital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcomppro-boldital-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcomppro-boldital-webfont.woff') format('woff'),
    url('../fonts/pfdintextcomppro-boldital-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcomppro-boldital-webfont.svg#pf_din_text_comp_proBdIt') format('svg');
}

/* ===== PF Din Condensed Pro ===== */
@font-face {
  font-family: 'PFDinCondensedPro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pfdintextcondpro-regular-webfont.eot');
  src:
    url('../fonts/pfdintextcondpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-regular-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcondpro-regular-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-regular-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-regular-webfont.svg#pf_din_text_cond_proregular') format('svg');
}

@font-face {
  font-family: 'PFDinCondensedPro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/pfdintextcondpro-italic-webfont.eot');
  src:
    url('../fonts/pfdintextcondpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-italic-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcondpro-italic-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-italic-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-italic-webfont.svg#pf_din_text_cond_proitalic') format('svg');
}

@font-face {
  font-family: 'PFDinCondensedPro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
  src:
    url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-medium-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg');
}

@font-face {
  font-family: 'PFDinCondensedProAlt';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
  src:
    url('../fonts/pfdintextcondpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-medium-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcondpro-medium-webfont.svg#pf_din_text_cond_promedium') format('svg'),
    url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'PFDinCondensedPro';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/pfdintextcondpro-medital-webfont.eot');
  src:
    url('../fonts/pfdintextcondpro-medital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-medital-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcondpro-medital-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-medital-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-medital-webfont.svg#pf_din_text_cond_proMdIt') format('svg');
}

@font-face {
  font-family: 'PFDinCondensedPro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pfdintextcondpro-bold-webfont.eot');
  src:
    url('../fonts/pfdintextcondpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-bold-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcondpro-bold-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-bold-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-bold-webfont.svg#pf_din_text_cond_probold') format('svg');
}

@font-face {
  font-family: 'PFDinCondensedPro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/pfdintextcondpro-boldital-webfont.eot');
  src:
    url('../fonts/pfdintextcondpro-boldital-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextcondpro-boldital-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextcondpro-boldital-webfont.woff') format('woff'),
    url('../fonts/pfdintextcondpro-boldital-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextcondpro-boldital-webfont.svg#pf_din_text_cond_proBdIt') format('svg');
}

/* ===== PF Din Text Pro ===== */
@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pfdintextpro-regular-webfont.eot');
  src:
    url('../fonts/pfdintextpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextpro-regular-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextpro-regular-webfont.woff') format('woff'),
    url('../fonts/pfdintextpro-regular-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextpro-regular-webfont.svg#pf_dintext_proregular') format('svg');
}

@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/pfdintextpro-medium-webfont.eot');
  src:
    url('../fonts/pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextpro-medium-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextpro-medium-webfont.woff') format('woff'),
    url('../fonts/pfdintextpro-medium-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextpro-medium-webfont.svg#pf_dintext_promedium') format('svg');
}

@font-face {
  font-family: 'PFDinTextPro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pfdintextpro-bold-webfont.eot');
  src:
    url('../fonts/pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pfdintextpro-bold-webfont.woff2') format('woff2'),
    url('../fonts/pfdintextpro-bold-webfont.woff') format('woff'),
    url('../fonts/pfdintextpro-bold-webfont.ttf') format('truetype'),
    url('../fonts/pfdintextpro-bold-webfont.svg#pf_dintext_probold') format('svg');
}

/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v18-cyrillic_latin-regular.eot');
  src: 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto/roboto-v18-cyrillic_latin-regular.woff2') format('woff2'),
       url('../fonts/roboto/roboto-v18-cyrillic_latin-regular.woff') format('woff'),
       url('../fonts/roboto/roboto-v18-cyrillic_latin-regular.ttf') format('truetype'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-regular.svg#Roboto') format('svg'); 
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v18-cyrillic_latin-500.eot'); 
  src: 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-500.woff2') format('woff2'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-500.woff') format('woff'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-500.ttf') format('truetype'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-500.svg#Roboto') format('svg'); 
}
/* roboto-500italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/roboto/roboto-v18-cyrillic_latin-500italic.eot'); 
  src: 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-500italic.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-500italic.woff2') format('woff2'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-500italic.woff') format('woff'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-500italic.ttf') format('truetype'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-500italic.svg#Roboto') format('svg'); 
}
/* roboto-italic - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v18-cyrillic_latin-italic.eot'); 
  src: 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-italic.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-italic.woff2') format('woff2'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-italic.woff') format('woff'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-italic.ttf') format('truetype'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-italic.svg#Roboto') format('svg'); 
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v18-cyrillic_latin-700.eot'); 
  src: 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-700.woff2') format('woff2'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-700.woff') format('woff'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-700.ttf') format('truetype'), 
       url('../fonts/roboto/roboto-v18-cyrillic_latin-700.svg#Roboto') format('svg'); 
}
