// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 960px; // Ширина контейнера контента
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 20px; // Расстояние между колонками

// ##########
// Цвета
// ##########
$color-main: blue; // Основной цвет сайта
$color-placeholder: #777; // Основной цвет для placeholder
$color-input: black; // Основной цвет input, select и textarea
$color-white: #fff;
$color-black: #000;
$color-yellow: #fee300;
$color-footer: #263848;
$color-gray: #666;
$color-light-gray: #e5e5e5;
$color-blue: #0e5fce;
$color-link: #0d46a1;
$color-light-blue: #9eb5d9;
$color-red: #ff4b28;
// $color: #1f2428;

// ##########
// Шрифты
// ##########
$font-main: Arial, sans-serif; // Основной шрифт сайта
$font-second: Times New Roman, sans-serif; // Дополнительный шрифт
$FontAwesome: 'FontAwesome';
$PFDinDisplayPro: 'PFDinDisplayPro', sans-serif;
$PFDinCompressedPro: 'PFDinCompressedPro', sans-serif;
$PFDinCondensedPro: 'PFDinCondensedPro', sans-serif;
$PFDinTextPro: 'PFDinTextPro', sans-serif;

// ##########
// breakpoints
// ##########
$breakpoints: (
  'mobile': '(max-width: 767px)',
  'tablet': '(min-width: 768px) and (max-width: 991px)',
  'laptop': '(min-width: 992px) and (max-width: 1169px)',
  'desktop': '(min-width: 1170px) and (max-width: 1919px)',
  'large-desktop': '(min-width: 1920px)',
);

// ##########
// Высота навбара и отступы от него
// Используется в sections.scss и header.scss и appscss
// Так же используется для расчета ширин контейнеров .wrap
// ##########
// Брейкпойнты
$navBreakpointMobile: 768px;
$navBreakpointTablet: 1024px;
$navBreakpointDesktop: 1400px;
$navBreakpointXXL: $navBreakpointDesktop + 1px;

// Высота навбара
$navHeightMobile: 67px;
$navHeightTablet: 67px;
$navHeightDesktop: 135px;
$navHeightXXL: 120px;

// Отступ снизу навбара
$navMarginBottom: 36px;

// Паддинг сверху страницы
$navPaddingTopMobile: $navHeightMobile + $navMarginBottom;
$navPaddingTopTablet: $navHeightTablet + $navMarginBottom;
$navPaddingTopDesktop: $navHeightDesktop + $navMarginBottom;
$navPaddingTopXXL: $navHeightXXL + $navMarginBottom;
