extends ../../layouts/default
include ../../components/quiz-task/quiz-task
include ../../components/header/header

block head
  - var pageTitle = 'Versta Project Template'
  
block header
  +header()._budget

block sections
  +sections()

    block content
      +quiz-task()
      +popup-wrapper()
      +footer()
      +button-top()
