extends ../../layouts/default
include ../../components/budgetary_policy_roboto/budgetary_policy_roboto

block head
  - var pageTitle = 'Бюджетная политика Москвы'

block page
  #whitescreen
  block header
    +header()._budget._roboto

  block sections
    +sections()

      block content
        +budgetary-policy()
        +footer().footer_roboto
        +button-top()
        
  +popup-wrapper().popup-wrapper_roboto
        
  script(src="assets/scripts/js/jquery-3.1.1.min.js")
  script(src="assets/scripts/js/library.js")
  script(src="assets/scripts/js/header/easing.min.js")
  script(src="assets/scripts/js/header/swipe.min.js")
  script(src="assets/scripts/js/header/slick.min.js")
  script(src="assets/scripts/js/header/jquery-ui.min.js")
  script(src="assets/scripts/js/header/jquery.validate.min.js")
  script(src="assets/scripts/js/header/sections.min.js")
  script(src="assets/scripts/js/header/cube.min.js")
  script(src="assets/scripts/js/header/animation.min.js")
  script(src="assets/scripts/js/header/label.min.js")
  script(src="assets/scripts/js/header/select.min.js")
  script(src="assets/scripts/js/header/popup.min.js")
  script(src="assets/scripts/js/header/share.min.js")
  script(src="assets/scripts/js/header/form.min.js")
  script(src="assets/scripts/js/header/letter.min.js")
  script(src="assets/scripts/js/header/common.min.js")
  script(src="assets/scripts/js/header/diagram.min.js")
  script(src="assets/scripts/js/script.js")
  script(src="assets/scripts/js/owl.carousel.min.js")
  script(src="assets/scripts/js/ez.js")
