.budget-forecast {
  display: block;
  &__table-wrapper {
    @media screen and (max-width: 768px) {
      overflow-x: auto;
    }
  }
  &__slide-arrows {
    display: none;
    position: absolute;
    top: 150px;
    left: -40px;
    right: -40px;
    &.fixed {
      position: fixed;
      top: 50%;
      left: 0;
      right: 0;
      &.bottom {
        top: 50%;
      }
    }
    &.bottom {
      top: auto;
      bottom: 150px;
    }
    @media screen and (max-width: 768px) {
      display: block;
    }
    @media screen and (max-width: 580px) {
      left: -22px;
      right: -22px;
      &.fixed {
        left: -2px;
        right: -2px;
      }
    }
  }
  
  .slide-arrows__arrow {
    @media screen and (max-width: 580px) {
      width: 23px;
      height: 30px;
    }
  }
}

.analityc-widgethead-forecast {
  @media screen and (max-width: 768px) {
    padding-bottom: 0;
  }
}

.analityc-table-forecast {
  margin-top: 65px;
  padding-bottom: 44px;
  
  @media screen and (min-width: 769px) and (max-width: 1140px) {
    margin-top: 47px;
  }
  @media screen and (min-width: 551px) and (max-width: 768px) {
    margin-top: 33px;
  }
  @media screen and (max-width: 550px) {
    margin-top: 27px;
  }
}
