include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/drop-table/drop-table
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/slide-arrows/slide-arrows

mixin budget-forecast()
  section.main._basic.basic-budget.sections__item.budget-forecast
    .wrapper-header
      +page-header('Прогноз социально-экономического развития города Москвы', ['Бюджет Москвы'], true).budget-forecast__page-header

    //- Tab 1
    .wrapper
      .analityc-widget.analityc-widget_forecast.load-anim-fade(data-delay="1500")
        +analityc-widgethead-forecast().analityc-widgethead-forecast
        +analityc-table().analityc-table-forecast
          +slide-arrows().budget-forecast__slide-arrows
          .budget-forecast__table-wrapper(data-offset='100')
            +drop-table-forecast().budget-forecast__drop-table
        
    +dropdown().load-anim-fade(data-delay="1700")