include ../../blocks/legend/legend

//- legendtype - тип легенды(json файл)
mixin analityc-graphics-round(legendtype)
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.toptext
      span Плановый период
    +e.cols
      +e.col
        +e.P.year 2017
        +e.graphic._round
      +e.col
        +e.SPAN.period-left
        +e.P.year 2018
        +e.graphic._round
      +e.col
        +e.SPAN.period-right
        +e.P.year 2019
        +e.graphic._round
    if legendtype == 'income1'
      +legend(getData('legend-income1')).analityc-graphics__legend
    if legendtype == 'income2'
      +legend(getData('legend-income2')).analityc-graphics__legend
    if legendtype == 'expenses1'
      +legend(getData('legend-expenses1')).analityc-graphics__legend
    if legendtype == 'expenses2'
      +legend(getData('legend-expenses2')).analityc-graphics__legend
    if legendtype == 'expenses3'
      +legend(getData('legend-expenses3')).analityc-graphics__legend
    if legendtype == 'expenses4'
      +legend(getData('legend-expenses4')).analityc-graphics__legend
    if legendtype == 'expenses5'
      +legend(getData('legend-expenses5')).analityc-graphics__legend
     
//- legendtype - тип легенды(json файл)
mixin analityc-graphics-column(legendtype)
  +b.analityc-graphics&attributes(attributes)._column
    +e.cols
      +e.col
        +e.P.year 2017
        +e.graphic._column
        +e.bottom
          p Бюджет первоначальный
          p Бюджет с учетом изменений
      +e.col
        +e.P.year 2018
        +e.graphic._column
        +e.bottom
          p Бюджет первоначальный
          p Бюджет с учетом изменений
      +e.col
        +e.P.year 2019
        +e.graphic._column
        +e.bottom
          p Бюджет первоначальный
          p Бюджет с учетом изменений
    if legendtype == 'income1'
      +legend(getData('legend-income1')).analityc-graphics__legend
    if legendtype == 'income2'
      +legend(getData('legend-income2')).analityc-graphics__legend
    if legendtype == 'expenses1'
      +legend(getData('legend-expenses1')).analityc-graphics__legend
    if legendtype == 'expenses2'
      +legend(getData('legend-expenses2')).analityc-graphics__legend
    if legendtype == 'expenses3'
      +legend(getData('legend-expenses3')).analityc-graphics__legend
    if legendtype == 'expenses4'
      +legend(getData('legend-expenses4')).analityc-graphics__legend
    if legendtype == 'expenses5'
      +legend(getData('legend-expenses5')).analityc-graphics__legend

//- legendtype - тип легенды(json файл)
mixin analityc-graphics-singleround(legendtype)
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2016
        +e.graphic._round
      +e.col
        if legendtype == 'income1'
          +legend(getData('legend-income1')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'income2'
          +legend(getData('legend-income2')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses1'
          +legend(getData('legend-expenses1')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses2'
          +legend(getData('legend-expenses2')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses3'
          +legend(getData('legend-expenses3')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses4'
          +legend(getData('legend-expenses4')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses5'
          +legend(getData('legend-expenses5')).analityc-graphics__legend.analityc-graphics__legend_vert

//- legendtype - тип легенды(json файл)
mixin analityc-graphics-singleround-alt(legendtype)
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2016
        +e.graphic._round
    if legendtype == 'income1'
      +legend(getData('legend-income1')).analityc-graphics__legend.analityc-graphics__legend_vert
    if legendtype == 'income2'
      +legend(getData('legend-income2')).analityc-graphics__legend.analityc-graphics__legend_vert
    if legendtype == 'expenses1'
      +legend(getData('legend-expenses1')).analityc-graphics__legend.analityc-graphics__legend_vert
    if legendtype == 'expenses2'
      +legend(getData('legend-expenses2')).analityc-graphics__legend.analityc-graphics__legend_vert
    if legendtype == 'expenses3'
      +legend(getData('legend-expenses3')).analityc-graphics__legend.analityc-graphics__legend_vert
    if legendtype == 'expenses4'
      +legend(getData('legend-expenses4')).analityc-graphics__legend.analityc-graphics__legend_vert
    if legendtype == 'expenses5'
      +legend(getData('legend-expenses5')).analityc-graphics__legend.analityc-graphics__legend_vert

//- title - Заголовок графиков
//- data - json файл с данными для графиков
mixin analityc-graphics-line(title, data)
  +b.analityc-graphics&attributes(attributes)._line
    +e.P.heading= title
    +e.lines
      each obj in data
        +e.DIV(class="__line_"+obj.color+"")
          if obj.strong
            +e.P.line-title 
              strong= obj.title
          else
            +e.P.line-title= obj.title
          +e.line-values 
            = obj.value1
            span /
            = obj.value2
          if obj.overwidth
            +e.line-bar._overwidth
              +e.line-total
              +e.SPAN.line-bar-value= obj.barvalue
              +e.line-fill
          else
            +e.line-bar
              +e.line-total
              +e.SPAN.line-bar-value= obj.barvalue
              +e.line-fill
