.analityc-graphics {
  display: block;
  position: relative;
  
  &__toptext {
    font-size: 16px;
    font-weight: 500;
    color: #b8b8b8;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 64%;
    text-align: center;
    z-index: 1;
    margin-bottom: 10px;
    
    span {
      background-color: #fff;
      padding: 0 10px;
    }
  }
  
  &__cols {
    text-align: justify;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.0000000001px;
    }
  }
  
  &__col {
    width: 28%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
  }
  
  &__year {
    font-size: 16px;
  }
  
  &__period-left,
  &__period-right {
    position: absolute;
    bottom: 100%;
    right: 0;
    height: 13px;
    border: 1px solid #d7d7d7;
    border-bottom: 0;
    margin-bottom: 7px;
  }
  
  &__period-left {
    left: 50%;
    right: 0;
    border-right: 0;
  }
  
  &__period-right {
    right: 50%;
    left: 0;
    border-left: 0;
  }
  
  &__graphic {
    margin-top: 11px;
    width: 100%;
    background-color: #ccc;
    display: inline-block;
    
    &_round {
      height: 270px;
    }
    
    &_column {
      height: 315px;
    }
  }
  
  &__legend {
    margin-top: 78px;
    text-align: left;
    
    .legend__item {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      font-family: $PFDinTextPro;
      display: inline-block;
      vertical-align: middle;
      width: 32%;
      margin-bottom: 9px;
      &:before {
        margin-right: 11px;
      }
      
      &_violet:before {
        background: #a870d5;
        background-image: -webkit-linear-gradient(right,#8449b4,#a870d5 65%);
        background-image: linear-gradient(270deg,#8449b4,#a870d5 65%);
      }
      
      &_grey:before {
        background: #ccd0d7;
        background-image: -webkit-linear-gradient(right,#bcc0ca,#ccd0d7 65%);
        background-image: linear-gradient(270deg,#bcc0ca,#ccd0d7 65%);
      }
      
      &_altgreen:before {
        background: #26c082;
        background-image: -webkit-linear-gradient(right,#2dc98f,#26c082 65%);
        background-image: linear-gradient(270deg,#2dc98f,#26c082 65%);
      }
    }
    
    &_vert {
      margin-top: 72px;
      
      .legend__item {
        width: 100%;
        margin-bottom: 19px;
      }
    }
  }
  
  &__bottom {
    text-align: justify;
    margin-top: 10px;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.0000000001px;
    }
    
    p {
      font-size: 12px;
      font-weight: 500;
      color: #000;
      max-width: 100px;
      text-transform: uppercase;
      display: inline-block;
      line-height: 1.2;
      text-align: left;
    }
  }
  
  &__heading {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.01em;
  }
  
  &__lines {
    margin-top: 42px;
  }
  
  &__line-title {
    font-size: 14px;
    font-family: $PFDinTextPro;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    width: 21%;
  }
  
  &__line-values {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    padding-left: 23px;
    width: 11%;
    
    span {
      margin-right: 4px;
    }
  }
  
  &__line-bar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    width: 67%;
  }
  
  &__line-total {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  
  &__line-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
  }
  
  &__line-bar-value {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
    height: 1em;
    z-index: 3;
  }
  
  &__line {
    &_altblue {
      .analityc-graphics__line-total {
        background-image: -moz-linear-gradient( 0deg, rgba(13,70,161,0.2) 0%, rgba(195,21,127,0.2) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(13,70,161,0.2) 0%, rgba(195,21,127,0.2) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(13,70,161,0.2) 0%, rgba(195,21,127,0.2) 100%);
      }
      .analityc-graphics__line-fill {
        background-image: -moz-linear-gradient( 0deg, rgba(13,70,161,1) 0%, rgba(195,21,127,1) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(13,70,161,1) 0%, rgba(195,21,127,1) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(13,70,161,1) 0%, rgba(195,21,127,1) 100%);
      }
    }
    
    &_pink {
      .analityc-graphics__line-total {
        background-image: -moz-linear-gradient( 0deg, rgba(157,48,138,0.2) 0%, rgba(255,105,91,0.2) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(157,48,138,0.2) 0%, rgba(255,105,91,0.2) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(157,48,138,0.2) 0%, rgba(255,105,91,0.2) 100%);
      }
      .analityc-graphics__line-fill {
        background-image: -moz-linear-gradient( 0deg, rgba(157,48,138,1) 0%, rgba(255,105,91,1) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(157,48,138,1) 0%, rgba(255,105,91,1) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(157,48,138,1) 0%, rgba(255,105,91,1) 100%);
      }
    }
    
    &_green {
      .analityc-graphics__line-total {
        background-image: -moz-linear-gradient( 0deg, rgba(254,227,0,0.2) 0%, rgba(48,176,105,0.2) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(254,227,0,0.2) 0%, rgba(48,176,105,0.2) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(254,227,0,0.2) 0%, rgba(48,176,105,0.2) 100%);
      }
      .analityc-graphics__line-fill {
        background-image: -moz-linear-gradient( 0deg, rgba(254,227,0,1) 0%, rgba(48,176,105,1) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(254,227,0,1) 0%, rgba(48,176,105,1) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(254,227,0,1) 0%, rgba(48,176,105,1) 100%);
      }
    }
    
    &_violet {
      .analityc-graphics__line-total {
        background-image: -moz-linear-gradient( 0deg, rgba(97,34,14,0.2) 0%, rgba(189,132,233,0.2) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(97,34,14,0.2) 0%, rgba(189,132,233,0.2) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(97,34,14,0.2) 0%, rgba(189,132,233,0.2) 100%);
      }
      .analityc-graphics__line-fill {
        background-image: -moz-linear-gradient( 0deg, rgba(97,34,14,1) 0%, rgba(189,132,233,1) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(97,34,14,1) 0%, rgba(189,132,233,1) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(97,34,14,1) 0%, rgba(189,132,233,1) 100%);
      }
    }
    
    &_grey {
      .analityc-graphics__line-total {
        background-image: -moz-linear-gradient( 0deg, rgba(213,216,222,0.2) 0%, rgba(131,138,154,0.2) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(213,216,222,0.2) 0%, rgba(131,138,154,0.2) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(213,216,222,0.2) 0%, rgba(131,138,154,0.2) 100%);
      }
      .analityc-graphics__line-fill {
        background-image: -moz-linear-gradient( 0deg, rgba(213,216,222,1) 0%, rgba(131,138,154,1) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(213,216,222,1) 0%, rgba(131,138,154,1) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(213,216,222,1) 0%, rgba(131,138,154,1) 100%);
      }
    }
    
    &_blue {
      .analityc-graphics__line-total {
        background-image: -moz-linear-gradient( 0deg, rgba(0,255,255,0.2) 0%, rgba(0,76,207,0.2) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(0,255,255,0.2) 0%, rgba(0,76,207,0.2) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(0,255,255,0.2) 0%, rgba(0,76,207,0.2) 100%);
      }
      .analityc-graphics__line-fill {
        background-image: -moz-linear-gradient( 0deg, rgba(0,255,255,1) 0%, rgba(0,76,207,1) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(0,255,255,1) 0%, rgba(0,76,207,1) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(0,255,255,1) 0%, rgba(0,76,207,1) 100%);
      }
    }
    
    &_altgreen {
      .analityc-graphics__line-total {
        background-image: -moz-linear-gradient( 0deg, rgba(17,163,96,0.2) 0%, rgba(50,209,151,0.2) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(17,163,96,0.2) 0%, rgba(50,209,151,0.2) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(17,163,96,0.2) 0%, rgba(50,209,151,0.2) 100%);
      }
      .analityc-graphics__line-fill {
        background-image: -moz-linear-gradient( 0deg, rgba(17,163,96,1) 0%, rgba(50,209,151,1) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgba(17,163,96,1) 0%, rgba(50,209,151,1) 100%);
        background-image: -ms-linear-gradient( 0deg, rgba(17,163,96,1) 0%, rgba(50,209,151,1) 100%);
      }
    }
  }
  
  &_round {
  }
  
  &_column {
    .analityc-graphics__cols {
      padding-left: 33px;
      padding-right: 21px;
    }
    .analityc-graphics__col {
      text-align: left;
      width: 26.5%;
    }
    .analityc-graphics__year {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: -0.05em;
    }
    .analityc-graphics__legend {
      margin-top: 30px;
    }
  }
  
  &_singleround {
    .analityc-graphics__cols {
      text-align: center;
      padding-bottom: 20px;
    }
    .analityc-graphics__col {
      margin: 0 30px;
    }
  }
}



@media screen and (max-width: 1140px) {
  .analityc-graphics_column .analityc-graphics__cols {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1140px) {
  .analityc-graphics_round .analityc-graphics__graphic {
    height: 243px;
  }
  .analityc-graphics_column .analityc-graphics__graphic {
    height: 300px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1100px) {
  .analityc-graphics__toptext {
    width: 60%;
  }
}

@media screen and (min-width: 761px) and (max-width: 1100px) {
  .analityc-graphics__col {
    width: 170px;
  }
  .analityc-graphics__legend .legend__item {
    width: 50%;
  }
  .analityc-graphics__bottom p {
    font-size: 10px;
    max-width: 80px;
  }
  .analityc-graphics_round .analityc-graphics__graphic {
    height: 170px;
  }
  .analityc-graphics_column .analityc-graphics__col {
    width: 170px;
  }
  .analityc-graphics_column .analityc-graphics__graphic {
    height: 212px;
  }
}

@media screen and (max-width: 800px) {
  .analityc-graphics__toptext {
    width: 64%;
  }
}

@media screen and (max-width: 760px) {
  .analityc-graphics__toptext {
    display: none;
  }
  .analityc-graphics__cols {
    text-align: center;
  }
  .analityc-graphics__col {
    display: block;
    margin: 50px auto;
    width: 400px;
  }
  .analityc-graphics__year {
    font-size: 25px;
  }
  .analityc-graphics__period-left,
  .analityc-graphics__period-right {
    display: none;
  }
  .analityc-graphics__legend {
    margin-top: 20px;
  }
  .analityc-graphics__legend .legend__item {
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
  }
  .analityc-graphics__bottom p {
    font-size: 14px;
    max-width: 120px;
  }
  .analityc-graphics_round .analityc-graphics__graphic {
    height: 400px;
  }
  .analityc-graphics_column .analityc-graphics__col {
    display: block;
    margin: 50px auto;
    width: 400px;
  }
  .analityc-graphics_column .analityc-graphics__graphic {
    height: 500px;
  }
}

@media screen and (max-width: 700px) {
  .analityc-graphics__legend {
    height: auto;
  }
}

@media screen and (max-width: 550px) {
  .analityc-graphics__col {
    width: 250px;
    margin: 30px auto;
  }
  .analityc-graphics__legend {
    margin-bottom: 30px;
  }
  .analityc-graphics__legend .legend__item {
    font-size: 14px;
  }
  .analityc-graphics__bottom p {
    font-size: 12px;
    max-width: 100px;
  }
  .analityc-graphics_round .analityc-graphics__graphic {
    height: 250px;
  }
  .analityc-graphics_column .analityc-graphics__col {
    width: 250px;
    margin: 30px auto;
  }
  .analityc-graphics_column .analityc-graphics__graphic {
    height: 312px;
  }
}
