.analityc-graphics {
  display: block;
  position: relative;

  &__periodtext {
    font-size: 16px;
    font-weight: 500;
    color: #b8b8b8;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    width: 64%;
    text-align: center;
    z-index: 1;
    margin-top: -27px;

    span {
      background-color: #fff;
      padding: 0 10px;
    }
  }

  &__toptext {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    right: 22px;
    top: -20px;
    color: #000;
  }

  &__cols {
    text-align: justify;
    font-size: 1px;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.0000000001px;
    }
  }

  &__col {
    width: 28%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
  }

  &__year {
    font-size: 16px;
  }

  &__period-left,
  &__period-right {
    position: absolute;
    bottom: 100%;
    right: 0;
    height: 13px;
    border: 1px solid #d7d7d7;
    border-bottom: 0;
    margin-bottom: 7px;
  }

  &__period-left {
    left: 50%;
    right: 0;
    border-right: 0;
  }

  &__period-right {
    right: 50%;
    left: 0;
    border-left: 0;
  }

  &__graphic {
    margin-top: 11px;
    width: 100%;
    background-color: #ccc;
    display: inline-block;

    &_round {
      height: 270px;
    }

    &_column {
      height: 315px;
    }
  }

  &__legend {
    margin-top: 78px;
    text-align: left;

    .legend__item {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      font-family: $PFDinTextPro;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 17px;
      width: 33%;
      padding-left: 34px;
      position: relative;
      height: 1.2em;
      line-height: 1;
      text-align: left;

      &:before {
        position: absolute;
        left: 0;
        top: -4px;
      }
    }

    &_vert {
      margin-top: 72px;

      .legend__item {
        width: 100% !important;
        margin-bottom: 19px;
      }
    }
  }

  &__bottom {
    text-align: justify;
    margin-top: 10px;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.0000000001px;
    }

    p {
      font-size: 12px;
      font-weight: 500;
      color: #000;
      max-width: 100px;
      text-transform: uppercase;
      display: inline-block;
      line-height: 1.2;
      text-align: left;
    }
  }

  &__heading {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.01em;
  }

  &__lines {
    margin-top: 42px;
    padding-bottom: 17px;
  }

  &__line-title {
    font-size: 14px;
    font-family: $PFDinTextPro;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    width: 21%;
  }

  &__line-values {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    padding-left: 23px;
    width: 10.5%;

    span {
      margin-right: 4px;
      color: #e1e2e4 !important;
    }
  }

  &__line-bar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    width: 68.5%;
    &_overwidth {
      .analityc-graphics__line-total {
        z-index: 2;
        opacity: 1;
      }
      .analityc-graphics__line-fill {
        z-index: 1;
        opacity: 0.5;
      }
    }
  }

  &__line-total {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.2;
  }

  &__line-fill {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
  }

  &__line-bar-value {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
    height: 1em;
    z-index: 3;
  }

  &__line {
    &_altblue {
      .analityc-graphics__line-values {
        color: #0e46a1;
      }
      .analityc-graphics__line-total,
      .analityc-graphics__line-fill {
        background: #0e46a1;
        background-image: -moz-linear-gradient( 0deg, rgb(13,70,161) 0%, rgb(195,21,127) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(13,70,161) 0%, rgb(195,21,127) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(13,70,161) 0%, rgb(195,21,127) 100%);
      }
      .analityc-graphics__line-bar-value {
        right: 1%;
      }
      .analityc-graphics__line-total {
        width: 99%;
      }
      .analityc-graphics__line-fill {
        width: 68%;
      }
    }

    &_pink {
      .analityc-graphics__line-values {
        color: #9f3189;
      }
      .analityc-graphics__line-total,
      .analityc-graphics__line-fill {
        background: #9f3189;
        background-image: -moz-linear-gradient( 0deg, rgb(157,48,138) 0%, rgb(255,105,91) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(157,48,138) 0%, rgb(255,105,91) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(157,48,138) 0%, rgb(255,105,91) 100%);
      }
      .analityc-graphics__line-bar-value {
        right: 50%;
      }
      .analityc-graphics__line-total {
        width: 50%;
      }
      .analityc-graphics__line-fill {
        width: 19.5%;
      }
    }

    &_green {
      .analityc-graphics__line-values {
        color: #32b168;
      }
      .analityc-graphics__line-total,
      .analityc-graphics__line-fill {
        background: #32b168;
        background-image: -moz-linear-gradient( 0deg, rgb(254,227,0) 0%, rgb(48,176,105) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(254,227,0) 0%, rgb(48,176,105) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(254,227,0) 0%, rgb(48,176,105) 100%);
      }
      .analityc-graphics__line-bar-value {
        right: 25.5%;
      }
      .analityc-graphics__line-total {
        width: 74.5%;
      }
      .analityc-graphics__line-fill {
        width: 28.5%;
      }
      .analityc-graphics__line-bar_overwidth {
        .analityc-graphics__line-fill {
          width: 89.5%;
        }
      }
    }

    &_violet {
      .analityc-graphics__line-values {
        color: #6d309e;
      }
      .analityc-graphics__line-total,
      .analityc-graphics__line-fill {
        background: #6d309e;
        background-image: -moz-linear-gradient( 0deg, rgb(97,34,146) 0%, rgb(189,132,233) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(97,34,146) 0%, rgb(189,132,233) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(97,34,146) 0%, rgb(189,132,233) 100%);
      }
      .analityc-graphics__line-bar-value {
        right: 89.5%;
      }
      .analityc-graphics__line-total {
        width: 10.5%;
      }
      .analityc-graphics__line-fill {
        width: 4.5%;
      }
    }

    &_grey {
      .analityc-graphics__line-values {
        color: #898f9f;
      }
      .analityc-graphics__line-total,
      .analityc-graphics__line-fill {
        background: #898f9f;
        background-image: -moz-linear-gradient( 0deg, rgb(213,216,222) 0%, rgb(131,138,154) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(213,216,222) 0%, rgb(131,138,154) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(213,216,222) 0%, rgb(131,138,154) 100%);
      }
      .analityc-graphics__line-bar-value {
        right: 84%;
      }
      .analityc-graphics__line-total {
        width: 16%;
      }
      .analityc-graphics__line-fill {
        width: 5%;
      }
    }

    &_blue {
      .analityc-graphics__line-values {
        color: #0051d0;
      }
      .analityc-graphics__line-total,
      .analityc-graphics__line-fill {
        background: #0051d0;
        background-image: -moz-linear-gradient( 0deg, rgb(0,255,255) 0%, rgb(0,76,207) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(0,255,255) 0%, rgb(0,76,207) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(0,255,255) 0%, rgb(0,76,207) 100%);
      }
      .analityc-graphics__line-bar-value {
        right: 82%;
      }
      .analityc-graphics__line-total {
        width: 18%;
      }
      .analityc-graphics__line-fill {
        width: 7%;
      }
    }

    &_altgreen {
      .analityc-graphics__line-values {
        color: #12a462;
      }
      .analityc-graphics__line-total,
      .analityc-graphics__line-fill {
        background: #12a462;
        background-image: -moz-linear-gradient( 0deg, rgb(17,163,96) 0%, rgb(50,209,151) 100%);
        background-image: -webkit-linear-gradient( 0deg, rgb(17,163,96) 0%, rgb(50,209,151) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(17,163,96) 0%, rgb(50,209,151) 100%);
      }
      .analityc-graphics__line-bar-value {
        right: 90%;
      }
      .analityc-graphics__line-total {
        width: 10%;
      }
      .analityc-graphics__line-fill {
        width: 2%;
      }
    }
  }

  &_round {
    padding-top: 63px;
  }

  &_column {
    padding-top: 20px;

    .analityc-graphics__col {
      width: 26.5%;
    }
    .analityc-graphics__year {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: -0.05em;
    }
    .analityc-graphics__legend {
      margin-top: 30px;
    }
  }

  &_singleround {
    padding-top: 46px;
    .analityc-graphics__cols {
      text-align: center;
      padding-bottom: 20px;
    }
    .analityc-graphics__col {
      margin: 0 30px;
    }
  }

  &_line {
    padding-top: 37px;
  }
}

/*******************************************/

@mixin analityc-graphics-lines($color, $height, $bg, $grad1, $grad2) {
  &_#{$color} {
    .analityc-graphics-line-vertical__line-fill {
      height: $height;
      background: $bg;
      background-image: -moz-linear-gradient( 90deg, $grad1 0%, $grad2 100%);
      background-image: -webkit-linear-gradient( 90deg, $grad1 0%, $grad2 100%);
      background-image: -ms-linear-gradient( 90deg, $grad1 0%, $grad2 100%);
    }
    .analityc-graphics-line-vertical__line-bar-value {
      bottom: $height;
      color: $color;
      // background: linear-gradient(90deg, $grad1 0%, $grad2 100%);
      // -webkit-background-clip: text;
      // -webkit-text-fill-color: transparent;
      // display: table;
      // width: 15px;
    }

    &.analityc-graphics-line-vertical__line_neg {

      & .analityc-graphics-line-vertical__line-fill {
        bottom: calc(-#{$height} - 1px);
      }

      .analityc-graphics-line-vertical__line-bar-value {
        bottom: 0;
      }
    }
  }
}

.analityc-graphics-line-vertical {
  position: relative;
  text-align: justify;
  padding: 0 18px;
  font-size: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 270px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #dcdcdc;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0.0000000001px;
  }

  &__graphic {
    display: inline-block;
    max-width: 95px;
    vertical-align: top;
  }

  &__lines {
    height: 270px;
  }

  &__line {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 100%;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

    @include analityc-graphics-lines(altblue, 40%, #0051d0, rgb(0,76,207), rgb(0,255,255));

    @include analityc-graphics-lines(pink, 45%, #9f3189, rgb(157,48,138), rgb(255,105,91));

    @include analityc-graphics-lines(green, 5%, #32b168, rgb(254,227,0), rgb(48,176,105));
  }

  &__line-bar-value,
  &__line-fill {
    width: 100%;
    position: absolute;
    left: 0;
  }

  &__line-fill {
    bottom: 0;
  }

  &__line-bar-value {
    font-size: 14px;
    line-height: (30/14)*1em;
    font-weight: 700;
    transform: rotate(-90deg);
    white-space: nowrap;
  }

  &__caption {
    margin-top: 19px;
    text-align: center;

    &-year,
    &-text {
      display: block;
    }

    &-year {
      font-size: 16px;
      line-height: 1em;
    }

    &-text {
      font-size: 12px;
      line-height: (16/12)*1em;
      opacity: .4;
      text-transform: uppercase;
    }
  }
}

.analityc-graphics-line-vertical_alt {
  .analityc-graphics-line-vertical__line {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 100%;
    margin-right: 0px;

    @include analityc-graphics-lines(red, 6.7%, #9d308a, rgb(157, 48, 138), rgb(255, 105, 91));

    @include analityc-graphics-lines(green, 7.4%, #32b168, rgb(254,227,0), rgb(48,176,105));

    @include analityc-graphics-lines(pink, 8.1%, #612292, rgb(97, 34, 146), rgb(189, 132, 233));

    @include analityc-graphics-lines(grey, 10%, #838a9a, rgb(131, 138, 154), rgb(213, 216, 222));

    @include analityc-graphics-lines(altblue, 6.7%, #0051d0, rgb(0,76,207), rgb(0,255,255));

    @include analityc-graphics-lines(lightgreen, 7.4%, #11a360, rgb(17, 163, 96), rgb(50, 209, 151));

    @include analityc-graphics-lines(blue, 8.1%, #021398, rgb(2, 19, 152), rgb(255, 0, 54));

  }

  .analityc-graphics-line-vertical__lines {
    font-size: 0;
  }

  .analityc-graphics-line-vertical__graphic {
    max-width: none;
  }
}

.analityc-graphics-classic {
  display: none;
  height: 232px;
  width: 100%;
  background: #ccc;
}

@media screen and (max-width: 1140px) {
  .analityc-graphics__legend .legend__item {
    height: auto;
  }
  .analityc-graphics__col {
    width: 270px;
  }
  .analityc-graphics_column .analityc-graphics__col {
    width: 256px;
  }
  .analityc-graphics__graphic_column {
    height: 304px;
  }
  .analityc-graphics__line-title {
    width: 27.3%;
  }
  .analityc-graphics__line-values {
    padding-left: 20px;
    width: 11.5%;
  }
  .analityc-graphics__line-bar {
    width: 61.2%;
  }
}

@media screen and (max-width: 1100px) {
  .analityc-graphics__legend_vert {
    margin-top: 22px;
  }
  .analityc-graphics_column {
    padding-top: 40px;
  }
  .analityc-graphics_column .analityc-graphics__legend {
    margin-top: 50px;
  }
}

@media screen and (min-width: 761px) and (max-width: 1100px) {
  .analityc-graphics__graphic_column {
    height: 212px;
  }
  .analityc-graphics__toptext {
    top: -40px;
  }
}

@media screen and (min-width: 551px) and (max-width: 1100px) {
  .analityc-graphics__heading {
    font-size: 26px;
  }
}

@media screen and (max-width: 1020px) {
  .analityc-graphics__col {
    width: 220px;
  }
  .analityc-graphics__legend .legend__item {
    width: 50%;
    padding-right: 10px;
  }
  .analityc-graphics_column .analityc-graphics__col {
    width: 220px;
  }
  .analityc-graphics__line-title {
    width: auto;
    text-align: left;
  }
  .analityc-graphics__line-values {
    width: auto;
  }
  .analityc-graphics__line-bar {
    width: 100%;
    margin-top: 7px;
  }
  .analityc-graphics__line {
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 761px) and (max-width: 1020px) {
  .analityc-graphics__graphic_round {
    height: 220px;
  }
  .analityc-graphics__graphic_column {
    height: 245px;
  }
}

@media screen and (max-width: 900px) {
  .analityc-graphics__legend .legend__item:before {
    width: 21px;
    height: 21px;
  }
}

@media screen and (max-width: 800px) {
  .analityc-graphics__periodtext {
    width: 64%;
  }
}

@media screen and (max-width: 760px) {
  .analityc-graphics__periodtext {
    display: none;
  }
  .analityc-graphics__cols {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .analityc-graphics__col {
    width: 100%;
  }
  .analityc-graphics__period-left,
  .analityc-graphics__period-right {
    display: none;
  }
  .analityc-graphics__legend {
    margin-top: 20px;
  }
  .analityc-graphics__legend .legend__item {
    width: 100%;
  }
  .analityc-graphics_column .analityc-graphics__col {
    width: 100%;
  }
  .analityc-graphics__toptext {
    font-size: 18px;
    top: -30px;
  }
  .analityc-graphics_singleround .analityc-graphics__col {
    margin: 0 auto;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .analityc-graphics__line-bar-value {
    font-size: 24px;
    margin-right: 4px;
  }
  .analityc-graphics__bottom {
    margin: 10px auto;
    white-space: normal;
  }
  .analityc-graphics__lines {
    margin-top: 23px;
  }
  .analityc-graphics__line-bar {
    margin-top: 5px;
  }
}

@media screen and (min-width: 551px) and (max-width: 760px) {
  .analityc-graphics__graphic_round {
    height: 400px;
  }
  .analityc-graphics__legend .legend__item {
    font-size: 18px;
    margin-bottom: 24px;
    padding-left: 45px;
  }
  .analityc-graphics__graphic_column {
    width: 470px;
    height: 555px;
  }
  .analityc-graphics__line-title {
    font-size: 24px;
    letter-spacing: -0.03em;
  }
  .analityc-graphics__line-values {
    font-size: 24px;
  }
  .analityc-graphics__year {
    font-size: 25px;
  }
  .analityc-graphics__graphic {
    margin-top: 28px;
    width: 430px;
  }
  .analityc-graphics__graphic_round {
    height: 430px;
  }
  .analityc-graphics__legend .legend__item:before {
    width: 28px;
    height: 28px;
  }
  .analityc-graphics_column .analityc-graphics__year {
    font-size: 45px;
  }
  .analityc-graphics__bottom {
    width: 470px;
  }
  .analityc-graphics__bottom p {
    font-size: 14px;
    max-width: 120px;
  }
  .analityc-graphics__line-bar {
    height: 60px;
  }
  .analityc-graphics__line {
    margin-top: 22px;
  }
}

@media screen and (max-width: 700px) {
  .analityc-graphics__legend {
    height: auto;
  }
}

@media screen and (max-width: 550px) {
  .analityc-graphics__col {
    width: 250px;
  }
  .analityc-graphics__legend {
    margin-bottom: 30px;
  }
  .analityc-graphics__legend .legend__item {
    font-size: 12px;
    padding-left: 23px;
    margin-bottom: 9px;
  }
  .analityc-graphics__bottom p {
    font-size: 12px;
    max-width: 100px;
  }
  .analityc-graphics__graphic_round {
    height: 250px;
  }
  .analityc-graphics_column .analityc-graphics__col {
    width: 250px;
  }
  .analityc-graphics_round {
    padding-top: 30px;
  }
  .analityc-graphics__toptext {
    top: -24px;
  }
  .analityc-graphics_singleround {
    padding-top: 30px;
  }
  .analityc-graphics_singleround .analityc-graphics__col {
    margin: 30px auto;
  }
  .analityc-graphics__heading {
    font-size: 24px;
  }
  .analityc-graphics__line-title, .analityc-graphics__line-values {
    font-size: 12px;
  }
  .analityc-graphics__line-bar-value {
    display: none;
  }
  .analityc-graphics__line-values {
    padding-left: 10px;
  }
  .analityc-graphics__line-title {
    max-width: 60%;
  }
  .analityc-graphics__lines {
    padding-bottom: 45px;
  }
  .analityc-graphics__year {
    font-size: 13px;
  }
  .analityc-graphics_column .analityc-graphics__year {
    font-size: 23px;
  }
  .analityc-graphics__graphic {
    margin-top: 14px;
    width: 216px;
  }
  .analityc-graphics__graphic_round {
    height: 216px;
  }
  .analityc-graphics__legend .legend__item:before {
    width: 14px;
    height: 14px;
    left: 0;
    top: 0;
  }
  .analityc-graphics__graphic_column {
    width: 250px;
    height: 295px;
  }
  .analityc-graphics__bottom {
    width: 250px;
  }
  .analityc-graphics__line-bar {
    height: 30px;
  }
  .analityc-graphics__line {
    margin-top: 12px;
  }
}
