mixin analityc-graphics-round()
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.toptext
      span Плановый период
    +e.cols
      +e.col
        +e.P.year 2017
        +e.graphic._round
      +e.col
        +e.SPAN.period-left
        +e.P.year 2018
        +e.graphic._round
      +e.col
        +e.SPAN.period-right
        +e.P.year 2019
        +e.graphic._round
    +e.legend.legend
      p.legend__item.legend__item_green Налог на доходы физических лиц
      p.legend__item.legend__item_blue Неналоговые доходы
      p.legend__item.legend__item_violet Налог на имущество организаций
      p.legend__item.legend__item_pink Налог на прибыль организаций
      p.legend__item.legend__item_grey Прочие налоговые доходы
     
     
mixin analityc-graphics-column()
  +b.analityc-graphics&attributes(attributes)._column
    +e.cols
      +e.col
        +e.P.year 2017
        +e.graphic._column
        +e.bottom
          p Бюджет первоначальный
          p Бюджет с учетом изменений
      +e.col
        +e.P.year 2018
        +e.graphic._column
        +e.bottom
          p Бюджет первоначальный
          p Бюджет с учетом изменений
      +e.col
        +e.P.year 2019
        +e.graphic._column
        +e.bottom
          p Бюджет первоначальный
          p Бюджет с учетом изменений
    +e.legend.legend
      p.legend__item.legend__item_green Налог на доходы физических лиц
      p.legend__item.legend__item_blue Неналоговые доходы
      p.legend__item.legend__item_violet Налог на имущество организаций
      p.legend__item.legend__item_pink Налог на прибыль организаций
      p.legend__item.legend__item_grey Прочие налоговые доходы


mixin analityc-graphics-singleround()
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2016
        +e.graphic._round
      +e.col
        +e.legend._vert.legend
          p.legend__item.legend__item_pink Налог на прибыль организаций
          p.legend__item.legend__item_green Налог на доходы физических лиц
          p.legend__item.legend__item_violet Налог на имущество организаций
          p.legend__item.legend__item_grey Прочие налоговые доходы
          p.legend__item.legend__item_blue Неналоговый доходы
          p.legend__item.legend__item_altgreen Безвозмездные поступления


//- title - Заголовок графиков
//- data - json файл с данными для графиков
mixin analityc-graphics-line(title, data)
  +b.analityc-graphics&attributes(attributes)._line
    +e.P.heading= title
    +e.lines
      each obj in data
        +e.DIV(class="__line_"+obj.color+"")
          if obj.strong
            +e.P.line-title 
              strong= obj.title
          else
            +e.P.line-title= obj.title
          +e.line-values 
            = obj.value1
            span /
            = obj.value2
          if obj.overwidth
            +e.line-bar._overwidth
              +e.line-total
              +e.SPAN.line-bar-value= obj.barvalue
              +e.line-fill
          else
            +e.line-bar
              +e.line-total
              +e.SPAN.line-bar-value= obj.barvalue
              +e.line-fill
