include ../../blocks/legend/legend
include ../../blocks/checkbox/checkbox
include ../../blocks/icon/icons

//- legendtype - тип легенды(json файл)
mixin analityc-graphics-round(legendtype)
  +b.analityc-graphics&attributes(attributes)._round
    +e.P.periodtext
      span Плановый период
    +e.cols
      +e.col
        +e.P.year 2017
        +e.graphic._round
      +e.col
        +e.SPAN.period-left
        +e.P.year 2018
        +e.graphic._round
      +e.col
        +e.SPAN.period-right
        +e.P.year 2019
        +e.graphic._round
    if legendtype == 'income1'
      +legend(getData('legend-income1')).analityc-graphics__legend
    if legendtype == 'income2'
      +legend(getData('legend-income2')).analityc-graphics__legend
    if legendtype == 'expenses1'
      +legend(getData('legend-expenses1')).analityc-graphics__legend
    if legendtype == 'expenses2'
      +legend(getData('legend-expenses2')).analityc-graphics__legend
    if legendtype == 'expenses3'
      +legend(getData('legend-expenses3')).analityc-graphics__legend
    if legendtype == 'expenses4'
      +legend(getData('legend-expenses4')).analityc-graphics__legend
    if legendtype == 'expenses5'
      +legend(getData('legend-expenses5')).analityc-graphics__legend
     
//- legendtype - тип легенды(json файл)
mixin analityc-graphics-column(legendtype, expenses)
  +b.analityc-graphics&attributes(attributes)._column
    +e.P.periodtext
      span Плановый период
    +e.P.toptext МЛРД РУБ.
    +e.cols
      +e.col
        +e.P.year 2017
        +e.graphic._column
        +e.bottom
          if expenses
            p Бюджет дейтсвующий
          else
            p Бюджет первоначальный
          p Бюджет с учетом изменений
      +e.col
        +e.SPAN.period-left
        +e.P.year 2018
        +e.graphic._column
        +e.bottom
          if expenses
            p Бюджет дейтсвующий
          else
            p Бюджет первоначальный
          p Бюджет с учетом изменений
      +e.col
        +e.SPAN.period-right
        +e.P.year 2019
        +e.graphic._column
        +e.bottom
          if expenses
            p Бюджет дейтсвующий
          else
            p Бюджет первоначальный
          p Бюджет с учетом изменений
    if legendtype == 'income1'
      +legend(getData('legend-income1')).analityc-graphics__legend
    if legendtype == 'income2'
      +legend(getData('legend-income2')).analityc-graphics__legend
    if legendtype == 'expenses1'
      +legend(getData('legend-expenses1')).analityc-graphics__legend
    if legendtype == 'expenses2'
      +legend(getData('legend-expenses2')).analityc-graphics__legend
    if legendtype == 'expenses3'
      +legend(getData('legend-expenses3')).analityc-graphics__legend
    if legendtype == 'expenses4'
      +legend(getData('legend-expenses4')).analityc-graphics__legend
    if legendtype == 'expenses5'
      +legend(getData('legend-expenses5')).analityc-graphics__legend

//- legendtype - тип легенды(json файл)
mixin analityc-graphics-singleround(legendtype)
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2016
        +e.graphic._round
      +e.col
        if legendtype == 'income1'
          +legend(getData('legend-income1')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'income2'
          +legend(getData('legend-income2')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses1'
          +legend(getData('legend-expenses1')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses2'
          +legend(getData('legend-expenses2')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses3'
          +legend(getData('legend-expenses3')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses4'
          +legend(getData('legend-expenses4')).analityc-graphics__legend.analityc-graphics__legend_vert
        if legendtype == 'expenses5'
          +legend(getData('legend-expenses5')).analityc-graphics__legend.analityc-graphics__legend_vert

//- legendtype - тип легенды(json файл)
mixin analityc-graphics-singleround-alt(legendtype)
  +b.analityc-graphics&attributes(attributes)._singleround
    +e.cols
      +e.col
        +e.P.year 2016
        +e.graphic._round
    if legendtype == 'income1'
      +legend(getData('legend-income1')).analityc-graphics__legend
    if legendtype == 'income2'
      +legend(getData('legend-income2')).analityc-graphics__legend
    if legendtype == 'expenses1'
      +legend(getData('legend-expenses1')).analityc-graphics__legend
    if legendtype == 'expenses2'
      +legend(getData('legend-expenses2')).analityc-graphics__legend
    if legendtype == 'expenses3'
      +legend(getData('legend-expenses3')).analityc-graphics__legend
    if legendtype == 'expenses4'
      +legend(getData('legend-expenses4')).analityc-graphics__legend
    if legendtype == 'expenses5'
      +legend(getData('legend-expenses5')).analityc-graphics__legend

//- title - Заголовок графиков
//- data - json файл с данными для графиков
mixin analityc-graphics-line(title, data)
  +b.analityc-graphics&attributes(attributes)._line
    +e.P.heading= title
    +e.lines
      each obj in data
        +e.DIV(class="__line_"+obj.color+"")
          if obj.strong
            +e.P.line-title 
              strong= obj.title
          else
            +e.P.line-title= obj.title
          +e.line-values 
            = obj.value1
            span /
            = obj.value2
          if obj.overwidth
            +e.line-bar._overwidth
              +e.line-total
              +e.SPAN.line-bar-value= obj.barvalue
              +e.line-fill
          else
            +e.line-bar
              +e.line-total
              +e.SPAN.line-bar-value= obj.barvalue
              +e.line-fill

//- data - json файл с данными для графиков
mixin analityc-graphics-line-vertical(data, gp)
  +b.analityc-graphics-line-vertical&attributes(attributes)

    each item in data
      +e.graphic
        +e.lines

          if gp
            +e.line._pink
              +e.line-bar-value= item.values[0]
              +e.line-fill
            +e.line._greenyellow
              +e.line-bar-value= item.values[1]
              +e.line-fill
            +e.line._violet
              +e.line-bar-value= item.values[2]
              +e.line-fill
            +e.line._gray
              +e.line-bar-value= item.values[3]
              +e.line-fill
            +e.line._blue
              +e.line-bar-value= item.values[4]
              +e.line-fill
            +e.line._green
              +e.line-bar-value= item.values[5]
              +e.line-fill
            +e.line._red
              +e.line-bar-value= item.values[6]
              +e.line-fill
          else
            +e.line._altblue
              +e.line-bar-value= item.values[0]
              +e.line-fill
            +e.line._pink
              +e.line-bar-value= item.values[1]
              +e.line-fill
            +e.line._green._neg
              +e.line-bar-value= item.values[2]
              +e.line-fill

        +e.caption
          +e.STRONG.caption-year= item.year
          +e.SPAN.caption-text= item.text

mixin analityc-graphics-line-vertical-alt(data)
  +b.analityc-graphics-line-vertical._alt&attributes(attributes)

    each item in data
      +e.graphic
        +e.lines

          +e.line._red
            +e.line-bar-value= item.values[0]
            +e.line-fill
          +e.line._green
            +e.line-bar-value= item.values[1]
            +e.line-fill
          +e.line._pink
            +e.line-bar-value= item.values[2]
            +e.line-fill
          +e.line._grey
            +e.line-bar-value= item.values[3]
            +e.line-fill
          +e.line._altblue
            +e.line-bar-value= item.values[4]
            +e.line-fill
          +e.line._lightgreen
            +e.line-bar-value= item.values[5]
            +e.line-fill
          +e.line._blue
            +e.line-bar-value= item.values[6]
            +e.line-fill

        +e.caption
          +e.STRONG.caption-year= item.year
          +e.SPAN.caption-text= item.text
          
mixin analityc-graphics-bars(data)
  +b.analityc-graphics-bars&attributes(attributes)

    each item in data
      +e.graphic
        +e.lines

          +e.line
            +e.line-bar-value= item.value
            +e.line-fill._lightgreen
              +e.val= item.values[5]
            +e.line-fill._altblue
              +e.val= item.values[4]
            +e.line-fill._grey
              +e.val= item.values[3]
            +e.line-fill._pink
              +e.val= item.values[2]
            +e.line-fill._green
              +e.val= item.values[1]
            +e.line-fill._red
              +e.val= item.values[0]
          if item.changes
            +e.changes
              +e.abs= item.changes[0]
              +e.percent= item.changes[1]
        +e.caption
          +e.STRONG.caption-year= item.year
          +e.SPAN.caption-text= item.text
  +legend(getData('legend-analityc-income')).analityc-graphics__legend
mixin analityc-graphics-bars-year(data)
  +b.analityc-graphics-bars&attributes(attributes)

    each item in data
      +e.graphic
        +e.lines

          +e.line
            +e.line-bar-value= item.value
            +e.line-fill._lightgreen
              +e.val= item.values[3]
            +e.line-fill._altblue
              +e.val= item.values[2]
            +e.line-fill._pink
              +e.val= item.values[1]
            +e.line-fill._red
              +e.val= item.values[0]
          if item.changes
            +e.changes
              +e.abs= item.changes[0]
              +e.percent= item.changes[1]
        +e.caption
          +e.STRONG.caption-year= item.year
          +e.SPAN.caption-text= item.text
  +legend(getData('legend-analityc-income')).analityc-graphics__legend

mixin analityc-graphics-classic()
  +b.analityc-graphics-classic&attributes(attributes)
    //- реализация на js

mixin analityc-graphics-custom1()
  +b.analityc-graphics-custom&attributes(attributes)
    //- реализация на js

mixin analityc-graphics-custom2()
  +b.analityc-graphics-custom&attributes(attributes)
    //- реализация на js
