include ../icon/icons

mixin media-card(img, text, date)
	+b.media-card&attributes(attributes)
		+e.A.link
			+e.container
				+e.DIV.img-wrapper
					+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + img + '.jpg').img._img-cover

				+e.BUTTON.play
					+icon('angle-arrow')

				+e.label
					+e.P.text= text
					+e.SPAN.date= date

				+e.num
					+e.num-current 1
					| /
					+e.num-total 0

mixin media-card-slider(img, text, date)
	+b.media-card&attributes(attributes)
		+e.link
			+e.container
				+e.A(href='assets/images/depfin-budget-moscow-media-materials/' + img + '.jpg', data-fancybox).slider-wrapper
					+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + img + '.jpg').img._img-contain

				+e.BUTTON.play
					+icon('angle-arrow')

				+e.label
					+e.P.text= text
					+e.SPAN.date= date

				+e.num
					+e.num-current 1
					| /
					+e.num-total 0