.media-card {
	display: inline-block;
	width: 22%;
	height: 247px;
	margin: 0 calc(12% / 8);
	margin-bottom: 36px;
	cursor: pointer;

	@media (max-width: 1140px) and (min-width: 901px) {
		height: 210px;
	}

	@media (max-width: 900px) and (min-width: 401px) {
    width: 44%;
    height: 279px;
    margin: 0 calc(12% / 4);
    margin-bottom: 36px;
	}

	@media (max-width: 580px) and (min-width: 401px) {
		height: 205px;
	}

	@media (max-width: 400px) {
		width: 100%;
  	margin: 0;
  	margin-bottom: 36px;
	}

	&:hover {
		.media-card__img-wrapper,
	  .media-card__text {
			opacity: 1;
		}

		.media-card__play {
			width: 63px;
	    height: 63px;
	    opacity: .8;

			svg {
				@-moz-document url-prefix() {
					top: 20%;
					left: 33%;
				}
			}
  	}
	}

	&__link {
		display: block;
		position: relative;
  	width: 100%;
  	height: 100%;
  	text-decoration: none;
	}

	&__container {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__img-wrapper {
		height: 142px;
		z-index: auto;
    white-space: nowrap;
    position: relative;
		opacity: .8;
		transition: .5s;
		
		@media (max-width: 1140px) and (min-width: 901px) {
			height: 105px;
		}
		
		@media (max-width: 900px) and (min-width: 581px) {
    		height: 162px;
		}
		
		@media (max-width: 580px) and (min-width: 401px) {
    		height: 100px;
		}
		
		@media (max-width: 400px) {
    		height: 162px;
		}

    > * {
      white-space: normal;
    }
	}

	&__slider-wrapper {
		width: 0;
		height: 0;
	}

	&__img:not(.js-image) {
		@include fill-img;
	}
	
	&__img.js-image {
		@include js-image;
	}

	&__play {
		@include center-block;
		display: none;
		top: 30%;
		width: 53px;
		height: 53px;
		border: 1px solid rgba(255, 255, 255, .15);
		border-radius: 50%;
		background-color: $color-white;
		z-index: 1;
		transition: all .25s ease-in-out;

		& svg {
			@include center-block;
			width: 26px;
	    height: 37px;
	    left: 55%;
			stroke: #fff;
    	fill: #4c4cc3;
    	transition: all .25s ease-in-out;

			@-moz-document url-prefix() {
				transform: none;
				top: 15%;
				left: 30%;
			}
		}
	}

	&__label {
		display: block;
		width: 100%;
		position: absolute;
		padding: 15px 19px 25px;
		bottom: 0;
		left: 0;
		font-family: $PFDinCondensedPro;
		text-align: left;
		line-height: 20px;
		color: $color-black;
		background-color: $color-white;
		z-index: 1;
		transition: all .25s ease-in-out;
		min-height: 105px;

		@media (max-width: 900px) and (min-width: 581px) {
			line-height: 24px;
            min-height: 117px;
		}
		
		@media (max-width: 580px) and (min-width: 401px) {
            min-height: 105px;
		}
		
		@media (max-width: 400px) {
            min-height: 85px;
		}
	}

	&__text {
		font-size: 16px;
		font-weight: 400;
		opacity: .8;
		transition: .5s;

		@media (max-width: 900px) and (min-width: 581px) {
			font-size: 20px;
		}
	}

	&__date {
		display: block;
		font-size: 14px;
		font-weight: 300;
		opacity: .5;
		margin-top: 5px;

		@media (max-width: 900px) and (min-width: 581px) {
			font-size: 16px;
		}
	}
}

.media-card.media-card_video {
	.media-card__play {
		display: block;
	}
}

/*в режиме отдельного видео*/
.media-card.media-card_video-one {
	width: 100%;
	height: 531px;
	margin: 0;

	.media-card__label {
		display: none;
	}

	.media-card__play {
		display: block;
		top: 50%;
	}
}