extends ../../layouts/default
include ../../blocks/lk-nav/lk-nav
include ../../components/lk-services/lk-services
include ../../components/header/header

block head
  - var pageTitle = 'Versta Project Template'

block page
  block header
    +header()

  block sections
    +sections()

      block content
        .lk.lk_services
          .wrapper_lk
            +lk-nav('Вопросы', 3)
            +lk-services()
        +popup-wrapper()
        +footer()

  script(src="assets/scripts/js2/jquery-3.1.1.min.js")
  script(src="assets/scripts/js2/library.js")
  script(src="assets/scripts/js2/header/easing.min.js")
  script(src="assets/scripts/js2/header/swipe.min.js")
  script(src="assets/scripts/js2/header/slick.min.js")
  script(src="assets/scripts/js2/header/jquery-ui.min.js")
  script(src="assets/scripts/js2/header/sections.min.js")
  script(src="assets/scripts/js2/header/cube.min.js")
  script(src="assets/scripts/js2/header/animation.min.js")
  script(src="assets/scripts/js2/header/label.min.js")
  script(src="assets/scripts/js2/header/select.min.js")
  script(src="assets/scripts/js2/header/popup.min.js")
  script(src="assets/scripts/js2/header/share.min.js")
  script(src="assets/scripts/js2/header/form.min.js")
  script(src="assets/scripts/js2/header/letter.min.js")
  script(src="assets/scripts/js2/header/common.min.js")
  script(src="assets/scripts/js2/header/diagram.min.js")
  script(src="assets/scripts/js2/script.js")
  script(src="assets/scripts/js2/owl.carousel.min.js")
  script(src="assets/scripts/js2/ez.js")
