extends ../../layouts/default
include ../../blocks/lk-nav/lk-nav
include ../../components/lk-services/lk-services
include ../../components/header/header

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      .lk.lk_services
        .wrapper_lk
          +lk-nav('Вопросы')
          +lk-services()
      +popup-wrapper()
      +footer()
