.d-si__quiz_button {
  display: block;
  min-height: 36px;
  line-height: 36px;
  background-color: #fee300;
  font-size: 16px;
  color: #000;
  padding-left: 23px;
  padding-right: 20px;
  position: absolute;
  top: 5px;
  right: 0;
  border-radius: 2px;
  box-shadow: 0 2px 0 #958500;

  &:hover {
    box-shadow: 0 2px 0 #958500;
    background: #e7ce00;
  }
}

.d-si__button_show-more {
  text-align: center;
  color: #fee300;
  display: block;
  border-radius: 2px;
  line-height: 39px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid hsla(0,0%,100%,.3);
  height: 39px;
  line-height: 40px;
  transition: .5s;

  &:hover {
    color: #fff;
  }
}

._task {

  .d-min-layer {

    .dropdown {
      border: none;
    }

    .d-si__form-label {
      vertical-align: top;
      transform: translateY(-2px);
    }

    .d-si__quiz {
      margin-top: 43px;

      @media screen and (max-width: 639px) {
        margin-top: 49px;
      }

      &_item {
        margin-bottom: 27px;

        @media screen and (max-width: 1024px) {
          margin-bottom: 30px;
        }

        &:last-child {
          margin-bottom: 39px;
        }
      }

      &-head {
        line-height: 24px;
      }

      &_status {
        line-height: 14px;
        margin-top: -1px;

        @media screen and (max-width: 1024px) {
          margin-top: 6px;
        }
      }

      &_button {

        @media screen and (max-width: 639px) {
          top: 7px;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .jq-selectbox__dropdown li {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 970px) {
    .jq-selectbox__dropdown li {
      font-family: inherit;
      padding: 5px 10px 6px;
      font-weight: inherit;
    }
  }
}

@media (min-width: 638px) and (max-width: 700px) {
  .sections._task .d-si__search-form {
    width: 64%;
    padding-top: 63px;
  }
}
