.d-si__quiz_button {
  right: 0;
}

._task {

  .d-min-layer {

    .dropdown {
      border: none;
    }

    .d-si__form-label {
      vertical-align: top;
      transform: translateY(-2px);
    }

    .d-si__quiz {
      margin-top: 43px;

      @media screen and (max-width: 639px) {
        margin-top: 49px;
      }

      &_item {
        margin-bottom: 27px;

        @media screen and (max-width: 1024px) {
          margin-bottom: 30px;
        }

        &:last-child {
          margin-bottom: 39px;
        }
      }

      &-head {
        line-height: 24px;
      }

      &_status {
        line-height: 14px;
        margin-top: -1px;

        @media screen and (max-width: 1024px) {
          margin-top: 6px;
        }
      }

      &_button {

        @media screen and (max-width: 639px) {
          top: 7px;
        }
      }
    }
  }
}
