mixin polls-task()
  .d-si-content
    .d-layer.d-layer_small
      .d-si__head
        .d-si__head_descr сервисы
        .d-si__head_p-name опросы
        .d-si__head_icons
          a(href="#" title="Добавить в избранное").d-si__icons_item
            svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="24.25px", height="23.25px")
              path(fill-rule="evenodd", stroke="#d0ccd3", stroke-width="1.5px", stroke-linecap="butt", stroke-linejoin="miter", fill="none", d="M11.754,0.753 L16.158,6.282 L22.764,8.773 L18.880,14.680 L18.559,21.748 L11.754,19.870 L4.950,21.748 L4.628,14.680 L0.744,8.773 L7.350,6.282 L11.754,0.753 Z")
          a(href="#" title="Поделиться").d-si__icons_item
            svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="16px", height="19px")
              path(fill-rule="evenodd", fill="#d0ccd3", d="M13.141,5.781 C12.504,5.781 11.921,5.564 11.446,5.208 L5.643,8.583 C5.689,8.788 5.719,9.000 5.719,9.219 C5.719,9.573 5.646,9.908 5.530,10.221 L11.390,13.664 C11.869,13.309 12.455,13.094 13.094,13.094 C14.699,13.094 16.000,14.416 16.000,16.047 C16.000,17.678 14.699,19.000 13.094,19.000 C11.489,19.000 10.188,17.678 10.188,16.047 C10.188,15.715 10.254,15.401 10.353,15.103 L4.426,11.620 C3.975,11.918 3.438,12.094 2.859,12.094 C1.280,12.094 -0.000,10.807 -0.000,9.219 C-0.000,7.631 1.280,6.344 2.859,6.344 C3.598,6.344 4.265,6.633 4.772,7.095 L10.439,3.799 C10.345,3.512 10.281,3.210 10.281,2.891 C10.281,1.294 11.561,-0.000 13.141,-0.000 C14.720,-0.000 16.000,1.294 16.000,2.891 C16.000,4.487 14.720,5.781 13.141,5.781 Z")
            .share__panel
              a(href="#" title="facebook").share__a.share__a_fb
              a(href="#" title="ВКонтакте").share__a.share__a_vk
              a(href="#" title="Twitter").share__a.share__a_tw
              a(href="#" title="Одноклассники").share__a.share__a_ok
      +b.d-min-layer
        form(action='#').d-si__search-form
          span.d-si__form-label Выберите год
          select(id='d-si-select').d-si-select
            option(value='1') 2015
            option(value='2') 2016
            option(value='3') 2017
          input(type='text', placeholder='Поиск').d-si__search
          input(type='submit', value='' title="Найти").d-si__submit
        .d-si__quiz
          .d-si__quiz_item
            .d-si__quiz_head Как сделать портал удобнее?
            .d-si__quiz_status Дата проведения опроса: 02.08.2016 - 30.09.2016
            a(href='/moscowbudget/polls_question.html').d-si__quiz_button
              | пройти опрос
              i(aria-hidden='true').fa.fa-angle-right
          .d-si__quiz_item
            .d-si__quiz_head Как сделать портал интереснее?
            .d-si__quiz_status Завершен: 10.02.2016
            a(href='/moscowbudget/polls_question.html').d-si__quiz_button
              | пройти опрос
              i(aria-hidden='true').fa.fa-angle-right
          .d-si__quiz_item
            .d-si__quiz_head Как сделать портал интереснее?
            .d-si__quiz_status Завершен: 10.02.2016
            a(href='/moscowbudget/polls_question.html').d-si__quiz_button
              | пройти опрос
              i(aria-hidden='true').fa.fa-angle-right
          .d-si__quiz_item
            .d-si__quiz_head Как сделать портал интереснее?
            .d-si__quiz_status Завершен: 10.02.2016
            a(href='/moscowbudget/polls_question.html').d-si__quiz_button
              | пройти опрос
              i(aria-hidden='true').fa.fa-angle-right
          .d-si__quiz_item
            .d-si__quiz_head Как сделать портал интереснее?
            .d-si__quiz_status Завершен: 10.02.2016
            a(href='/moscowbudget/polls_question.html').d-si__quiz_button
              | пройти опрос
              i(aria-hidden='true').fa.fa-angle-right
        a(href='#').d-si__button_show-more показать еще
