include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/slide-arrows/slide-arrows

mixin analytics-gov-debt()
  +b.SECTION.analytics-gov-debt.main.basic-budget.section__item&attributes(attributes)
    .wrapper-header
      +page-header('Государственный долг', ['Аналитика'], true)
    .wrapper.wrapper_widget.wrapper_analytics-gov-debt
      +e.analityc-widget.analityc-widget.load-anim-fade(data-delay="1500")
        +analityc-widgethead-analytics-govdebt().__analityc-widgethead
        +e.graphics.active(data-type='rate' data-comparison='none')
          +e.graphics-container
            +slide-arrows().__slide-arrows._graphics
            +e.graphics-scroll-hider
              +e.graphics-wrapper(data-offset='100')
                +analityc-graphics-analytics-gov-debt-line()(data-name='g1-l3')
                +analityc-graphics-bars(getData('analytics-govdebt')[0]).__analityc-graphics-bars
        +e.graphics(data-type='percentage' data-comparison='none')
          +e.graphics-container
            +slide-arrows().__slide-arrows._graphics
            +e.graphics-scroll-hider
              +e.graphics-wrapper(data-offset='100')
                +analityc-graphics-bars(getData('analytics-govdebt')[1]).__analityc-graphics-bars
        +legend-icon-analytics-gov-debt()
        .table-switcher
          .analityc-control-switcher.analityc-control-switcher_table.analityc-control-switcher_large.active
            a(href="#").active млн руб.
            a(href="#") млрд руб.
        +analityc-table-slider(100, false, true)._gp._rate
          +table-analytics-gov-debt(getData('main'))
        a(href="/").analityc-more Перейти в&nbsp;раздел бюджет москвы
    +dropdown().load-anim-fade(data-delay="1700")
