.analytics-gov-debt {
  display: block;
  
  &__analityc-widgethead {
    .analityc-control-frame_left {
      float: left;
    }
    
    .analityc-control-frame_right {
      float: left;
      margin-left: 11px;
    }
    
    .analityc-widget__selectbox_year {
      display: inline-block;
      margin-right: 9px;
    }
    
    .analityc-widget__selectbox_month {
      display: inline-block;
      width: 140px;
      
      @media screen and (max-width: 900px) {
        width: calc(100% - 103px);
      }
      @media screen and (max-width: 580px) {
        width: calc(100% - 69px);
      }
    }
    
    .analityc-control-switcher {
      margin-top: 22px;
      a {
        padding: 0 23px;
      }
    }
  }
  
  .analityc-graphics-broken-line {
    padding-top: 18px;
  }
  
  .analityc-graphics-broken-line__growth-rate {
    border-bottom: 0;
    padding: 0 0 30px;
  }
  
  &__analityc-graphics-bars {
    margin-top: 30px;
  }
  
  .legend-icon-a {
    padding: 0 12px;
    margin-top: 30px;
    text-align: left;
  }
  .legend-icon-a__item {
    margin-top: 0;
    width: 33.3333%;
    margin-bottom: 17px;
    
    @media screen and (max-width: 900px) {
      width: 50%;
    }
    @media screen and (max-width: 580px) {
      width: 100%;
    }
  }
  .legend-icon-a__label {
    font-family: $PFDinTextPro;
    font-weight: 400;
  }
  .legend__icon {
    margin-top: 0;
  }
  .analityc-table {
    margin-top: 0;
    overflow: visible !important;
    .analityc-control-switcher {
      margin-top: 0;
    }
  }
  .analityc-table .table__row .table__col:first-child {
    font-size: 14.5px;
    white-space: normal;
  }
  
  &__graphics {
    display: none;
    &.active {
      display: block;
    }
  }
  
  &__graphics-container {
    position: relative;
    
    .analytics-gov-debt__slide-arrows {
      position: absolute;
      left: -35px;
      right: -35px;
      top: 50%;
      z-index: 2;
      margin-top: -25px;
      display: none;
      
      @media screen and (max-width: 580px) {
        left: -20px;
        right: -20px;
      }
    }
    
    @media screen and (max-width: 1100px) {
      .analytics-gov-debt__graphics-scroll-hider {
        overflow: hidden;
      }
      .analytics-gov-debt__graphics-wrapper {
        overflow-x: auto;
      }
      .analytics-gov-debt__slide-arrows {
        display: block;
      }
      .analityc-graphics-broken-line, .analityc-graphics-bars {
        min-width: 1100px;
      }
    }
  }
  
  &__graphics-wrapper {
    margin-bottom: -20px;
    padding-bottom: 20px;
  }
  
  .table-switcher {
    margin-top: 50px;
    
    .analityc-control-switcher_table {
      margin-top: 0;
      
      @media screen and (max-width: 580px) {
        width: auto;
      }
      
      a {
        @media screen and (max-width: 580px) {
          width: auto;
          padding: 0 30px;
        }
      }
    }
  }
  
  .growth-rate__level {
    font-size: 18px;
    border-bottom-width: 2px;
  }
  
  .growth-rate__line {
    border-bottom-width: 2px;
  }
  
  @media screen and (max-width: 1140px) {
    .legend-icon-a {
      padding: 0;
    }
    &.basic-budget .analityc-widget {
      padding-bottom: 48px;
    }
  }
  
  @media screen and (max-width: 900px) {
    &__graphics {
      margin-top: 50px;
    }
    &__analityc-widgethead {
      
      .analityc-control-frame_left {
        float: none;
      }
      
      .analityc-control-frame_right {
        float: none;
        clear: both;
        margin-left: 0;
        padding-right: 27px;
      }
      
      .analityc-control-switcher {
        position: static;
        margin-top: 41px;
        width: 100%;
        a {
          &:first-child {
            width: 59%;
          }
          &:last-child {
            width: 41%;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 720px) {
    &__analityc-widgethead {
      .analityc-control-switcher {
        a {
          &:first-child {
            width: 100%;
          }
          &:last-child {
            width: 100%;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 580px) {
    &__analityc-widgethead {
      .analityc-control-frame_right {
        padding-right: 17px;
      } 
      .analityc-control-switcher {
        a {
          padding: 0 5px;
          &:first-child {
            width: 100%;
          }
          &:last-child {
            width: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 640px) and (min-width: 401px) {
    
    .analityc-table .table__row_caption .table__col:first-child {
      font-size: 15px;  
    }
  }
}
