//- type - тип шапки доходов бюджета (один из четырех)
mixin analityc-widgethead-income(type)
  +b.analityc-widgethead&attributes(attributes)
    .analityc-control-group._year
      span Год
      select.analityc-select
        option(selected) 2017
        option 2016
        option 2015
    .analityc-control-group._stage
      span Этап
      select.analityc-select
        option(selected) Закон о бюджете утвержденный
        option Закон о внесении изменений
        option Закон об исполнении
        option Исполнение на дату
    .analityc-control-group._level
      span Уровень
      select.analityc-select
        option(selected) Бюджет москвы
        option Бюджет области
        option Бюджет региона
        option Консолидированный бюджет
    .analityc-control-group._transfer
      span Классификация доходов
      select.analityc-select
        option(selected) Виды
        option Виды
    .analityc-control-switcher.analityc-control-switcher_default.active
      a(href="#").active %
      a(href="#") млрд руб.
    .analityc-control-buttons.active
      a(href="#").analityc-control-button.analityc-control-button_graphics.active
      a(href="#").analityc-control-button.analityc-control-button_table
    .analityc-control-switcher.analityc-control-switcher_big
      a(href="#").active млрд руб.
      a(href="#") млн руб.
    .analityc-control-group._dp
      input(placeholder="Выберите дату исполнения").datepicker


//- type - тип шапки расходов бюджета (один из трех)
mixin analityc-widgethead-expenses(type)
  +b.analityc-widgethead&attributes(attributes)
    .analityc-control-group._year
      span Год
      select.analityc-select
        option(selected) 2017
        option 2016
        option 2015
    .analityc-control-group._stage
      span Этап
      select.analityc-select
        option(selected) Закон о бюджете утвержденный
        option Закон о внесении изменений
        option Закон об исполнении
        option Исполнение на дату
    .analityc-control-group._level
      span Уровень
      select.analityc-select
        option(selected) Бюджет москвы
        option Бюджет области
        option Бюджет региона
        option Консолидированный бюджет
    .analityc-control-group._transfer
      span Межбюджетные трансферы
      select.analityc-select
        option(selected) Без межбюджетных трансфертов
        option(disabled) с трансфертами
      p.analityc-popup Принятие закона о бюджете города Москвы происходит до принятия федерального бюджета, в котором установлены суммы межбюджетных трансфертов, поэтому в&nbsp;первоначальной версии бюджета города Москвы отсутствуют межбюджетные трансферты.
    .analityc-control-buttons
      a(href="#").analityc-control-button.analityc-control-button_graphics.active
      a(href="#").analityc-control-button.analityc-control-button_table
    .analityc-control-switcher.analityc-control-switcher_large.active
      a(href="#").active доля от общей суммы, %
      a(href="#") млрд руб.
    .analityc-control-switcher.analityc-control-switcher_big
      a(href="#").active млрд руб.
      a(href="#") млн руб.
    .analityc-control-group._dp
      input(placeholder="Выберите дату исполнения").datepicker
    .analityc-control-group._classify
      span Классификация доходов
      select.analityc-select
        option(selected) Целевые статьи (программный и непрограммный тип)
        option Разделы и подразделы
        option Ведомства
        option Виды

mixin analityc-widgethead-sources(type)
  +b.analityc-widgethead&attributes(attributes)
    .analityc-control-group._year
      span Год
      select.analityc-select
        option(selected) 2017
        option 2016
        option 2015
    .analityc-control-group._stage
      span Этап
      select.analityc-select
        option Закон о бюджете утвержденный
        option Закон о внесении изменений
        option Закон об исполнении
        option(selected) Исполнение на дату
    .analityc-control-group._level
      span Уровень
      select.analityc-select
        option(selected) Бюджет москвы
        option Бюджет области
        option Бюджет региона
        option Консолидированный бюджет
    .analityc-control-buttons.active
      a(href="#").analityc-control-button.analityc-control-button_graphics.active
      a(href="#").analityc-control-button.analityc-control-button_table
    .analityc-control-switcher.analityc-control-switcher_big
      a(href="#").active млрд руб.
      a(href="#") млн руб.
    .analityc-control-group._dp
      input(placeholder="22.04.2017").datepicker
