.analityc-control-switcher {
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #0d46a1;
  border-radius: 2px;
  
  a {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    padding: 0 30px;
    text-transform: uppercase;
    text-align: center;
    transition: all .25s ease-in-out;
    &:hover, &.active {
      color: #fff;
      background-color: #0d46a1;
    }
  }
  
  & + .analityc-control-buttons {
    margin-left: 30px;
  }
}

.analityc-control-buttons {
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
  
  & + .analityc-control-switcher {
    margin-left: 30px;
  }
}

.analityc-control-button {
  display: inline-block;
  vertical-align: middle;
  transition: all .25s ease-in-out;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  
  & + & {
    margin-left: 10px;
  }
  
  &_graphics {
    background-image: url(../images/temp/icon_graphics.png);
    &:hover, &.active {
      background-image: url(../images/temp/icon_graphics_act.png);
    }
  }
  
  &_table {
    background-image: url(../images/temp/icon_table.png);
    &:hover, &.active {
      background-image: url(../images/temp/icon_table_act.png);
    }
  }
}

.analityc-bottomtip {
  display: inline-block;
  float: right;
  @include clearfix;
  width: 61.5%;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 66px;
  font-family: $PFDinTextPro;
  
  > span {
    text-decoration: underline;
    cursor: pointer;
    color: #0d46a1;
    position: relative;
    
    &:hover {
      .analityc-popup {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.analityc-popup {
  position: absolute;
  top: 100%;
  left: -58px;
  right: 0;
  margin: auto;
  margin-top: 5px;
  width: 264px;
  padding: 11px 13px 13px;
  font-size: 13px;
  font-family: $PFDinTextPro;
  line-height: 1.3;
  color: #000;
  text-indent: 0;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: all .25s ease-in-out;
  
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    left: 0;
    bottom: 100%;
    right: 0;
    margin: auto;
  }
}

@media screen and (min-width: 761px) and (max-width: 1140px) {
  .analityc-control-switcher a {
    line-height: 37px;
  }
}

@media screen and (max-width: 1100px) {
  .analityc-bottomtip {
    width: 100%;
    margin-top: 20px;
    float: none;
  }
}

@media screen and (max-width: 760px) {
  .analityc-control-switcher a {
    font-size: 23px;
    padding: 0 40px;
    line-height: 60px;
  }
  .analityc-control-button {
    width: 40px;
    height: 40px;
    background-size: contain;
  }
  .analityc-control-button + .analityc-control-button {
    margin-left: 20px;
  }
}

@media screen and (max-width: 550px) {
  .analityc-control-switcher {
    margin-top: 25px;
  }
  .analityc-control-switcher a {
    font-size: 14px;
    padding: 0 30px;
    line-height: 40px;
  }
  analityc-control-switcher + .analityc-control-buttons {
    display: block;
    margin-left: 0;
  }
  .analityc-control-button {
    width: 30px;
    height: 30px;
  }
}
