.analityc-widgethead {
  @include clearfix;

  &__search {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    padding: 8px 10px !important;
    font-size: 18px;
    font-family: $PFDinTextPro;
    font-weight: 400;

    &::placeholder {
      color: #a9a9a9;
    }
  }

  // @qluqua
  // Стили для страницы depfin_budget_moscow_aip
  &_aip {

    .analityc-control-switcher {
      &:first-child {
        margin-top: 23px;
        margin-right: 18px;

        a {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
  
  .analityc-control-frame-title {
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    
    @media screen and (max-width: 900px) {
      font-size: 23px;
    }
    
    @media (max-width: 580px) {
      font-size: 18px;
    }
  }
  
  .analityc-remove-group {
    //display: none;
    opacity: 0;
    position: absolute;
    top: 11px;
    right: 0;
    
    @media screen and (max-width: 900px) {
      top: 32px;
    }
    
    @media screen and (max-width: 580px) {
      top: 20px;
      right: -7px;
    }
    
    svg {
      width: 15px;
      height: 17px;
      fill: #0d46a1;
    }
  }
  
  .analityc-add-group {
    display: block;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: $color-link;
    text-transform: uppercase;
    margin-top: 14px;
    
    @media screen and (max-width: 900px) {
      font-size: 23px;
    }
    
    @media screen and (max-width: 580px) {
      font-size: 18px;
    }
  }
  
  .analityc-control-frame_left {
    
    .analityc-control-group {
      display: block;
      position: relative;
      width: 100%;
      padding-right: 27px;
      margin-left: 0;
      margin-bottom: 3px;
      
      @media screen and (max-width: 580px) {
        padding-right: 17px;
      }
      
      &:hover {
        .analityc-remove-group {
          opacity: 1;
        }
      }
    }
  }
  
  .d-smr__add-char {
    z-index: 15;
    margin-top: 0;
    margin-bottom: 18px;
    
    @media (max-width: 900px) {
      width: 100%;
      height: 56px;
      margin-bottom: 28px;
    }
    
    @media (max-width: 580px) {
      height: 42px;
    }
  }
  
  .d-smr__add-char-block {
    width: auto;
    right: -1px;
    
    @media (max-width: 900px) {
      padding-top: 56px;
    }
    
    @media (max-width: 580px) {
      padding-top: 42px;
      padding-right: 10px;
    }
  }
  
  .d-smr__add-char-label {
    font-size: 14.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    &:after {
      right: 7px;
    }
    
    @media (max-width: 970px) {
      height: 29px;
      line-height: 30px;
      font-size: 14.5px;
      padding: 0 11px;
      
      &:after {
        top: 12px;
        right: 8px;
        border-top: 5px solid #0d46a1 !important;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: none !important;
      }
    }
    
    @media (max-width: 900px) {
      height: 54px;
      line-height: 54px;
      font-size: 20px;
      padding: 0 30px 0 15px;
      
      &:after {
        top: 22px;
        right: 10px;
        border-top: 7px solid #0d46a1 !important;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: none !important;
      }
    }
    
    @media (max-width: 580px) {
      height: 40px;
      line-height: 40px;
      font-size: 13px;
      padding: 0 20px 0 10px;
      
      &::after {
        top: 17px;
        right: 7px;
        border-top: 5px solid #0d46a1 !important;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: none !important;
      }
    }
  }
  
  .d-smr__add-char-list-wrapper {
    max-height: 100%;

    // Custom Scrollbar
    > .scroll-element, > .scroll-element div {border: none; margin: 0; padding: 0; position: absolute; z-index: 10;}
    > .scroll-element div {display: block; height: 100%; left: 0; top: 0; width: 100%;}
    > .scroll-element.scroll-x {bottom: 2px; height: 8px; left: 0; width: 100%;}
    > .scroll-element.scroll-y {height: 100%; right: 2px; top: 0; width: 2px;}
    > .scroll-element .scroll-element_outer {overflow: hidden;}
    > .scroll-element .scroll-element_outer, > .scroll-element .scroll-element_track, > .scroll-element .scroll-bar {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
    > .scroll-element .scroll-element_track { background-color: #d6d6d6; }
    > .scroll-element .scroll-bar { background-color: #0d46a1; }
    > .scroll-element:hover .scroll-bar { background-color: #0d46a1; }
    > .scroll-element.scroll-draggable .scroll-bar { background-color: #0d46a1; }
    > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
    > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
    > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
    > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
  }
}

.js-dp-output {
  display: none;
  &.active {
    display: inline;
  }
}

.analityc-select {
  box-sizing: border-box;
  display: block;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  margin-top: 5px;
  width: 100%;
  height: auto;
  padding: 0px 28px 0px 12px;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: inherit;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  background: #f5f5f5 url(../images/select-ar.png) right 10px center no-repeat;
  background-size: 9px;

  &_disabled {
    background-color: $color-light-gray!important;
    cursor: default;
  }

  option {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  }

  @media screen and (min-width:0\0) {
    background-image: none !important;
  }
}

.analityc-control-group {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-left: 2%;
  margin-bottom: 18px;

  & > span {
    text-transform: uppercase;
    font-size: 18px;
    color: $color-black;
  }

  .analityc-popup {
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 300px;
  }
}

.analityc-control-group._year {
  width: 6.8%;
  margin-left: 0;
}

.analityc-control-group._stage {
  width: 33%;
}

.analityc-control-group._level {
  width: 22.9%;
}

.analityc-control-group._transfer {
  width: 26%;
}

.analityc-control-group._classify {
  width: 42.5%;
}


.analityc-control-switcher {
  position: static;
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #0d46a1;
  border-radius: 2px;
  font-family: $PFDinCondensedPro;

  a {
    display: inline-block;
    font-size: 14.5px;
    font-weight: 500;
    line-height: 30px;
    padding: 0 30px;
    text-transform: uppercase;
    text-align: center;
    transition: all .25s ease-in-out;
    &:hover, &.active {
      color: #fff;
      background-color: #0d46a1;
    }
  }

  &.active + .analityc-control-buttons {
    margin-left: 30px;
  }
}

.analityc-control-buttons {
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;

  &.active + .analityc-control-switcher {
    margin-left: 30px;
  }
}

.analityc-control-button {
  display: inline-block;
  vertical-align: middle;

  & + & {
    margin-left: 10px;
  }

  svg { transition: fill .3s ease; }

  &_graphics, &_table {

    svg {
      width: 30px;
      height: 30px;
      fill: $color-link;
    }

    &:hover, &.active {
      svg {
        fill: #d8d8d8;
      }
    }
  }
}

.analityc-bottomtip {
  display: none;
  float: right;
  @include clearfix;
  width: 61.5%;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 66px;
  font-family: $PFDinTextPro;

  > span {
    text-decoration: underline;
    cursor: pointer;
    color: #0d46a1;
    position: relative;

    &:hover {
      .analityc-popup {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &.active {
    display: inline-block;
  }
}

.analityc-popup {
  position: absolute;
  top: 100%;
  left: -58px;
  right: 0;
  margin: auto;
  margin-top: 5px;
  width: 264px;
  padding: 11px 13px 13px;
  font-size: 13px;
  font-family: $PFDinTextPro;
  text-transform: none;
  line-height: 1.3;
  color: #000;
  text-indent: 0;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: all .25s ease-in-out;
  z-index: 101;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    left: 0;
    bottom: 100%;
    right: 0;
    margin: auto;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}


@media screen and (max-width: 1140px) {
  .analityc-control-group._year {
    width: 7.4%;
  }
  .analityc-control-group._stage {
    width: 34%;
  }
  .analityc-control-group._level {
    width: 24%;
  }
  .analityc-control-group._transfer {
    width: 27.6%;
  }
  .analityc-control-group._classify {
    width: 42.5%;
  }

  .analityc-bottomtip {
    width: 64.6%;
    margin-top: 47px;
  }
}

@media (max-width: 900px) {
  .analityc-control-group {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-bottom: 28px;

    & > span {
      font-size: 23px;
    }
  }

  .analityc-control-group._year {
    width: 19%;
  }
  .analityc-control-group._stage {
    width: 100%;
  }
  .analityc-control-group._level {
    width: 100%;
  }
  .analityc-control-group._transfer {
    width: 100%;
  }
  .analityc-control-group._classify {
    width: 100%;
  }

  .analityc-select {
    padding: 0 0 0 12px;
    margin-top: 14px;
    padding-left: 16px;
    font-size: 20px;
    line-height: 54px;
    //letter-spacing: 0.7px;
    background: #f5f5f5 url(../images/select-ar.png) right 14px center no-repeat;
    background-size: 14px;

    option {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 1020px) {

  .analityc-bottomtip {
    width: 100%;
    float: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1020px) {
  .analityc-bottomtip {
    margin-top: 30px;
  }
}

@media screen and (max-width: 760px) {
  .analityc-control-buttons + .analityc-control-switcher_large {
    display: block;
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .analityc-widgethead {
    position: relative;

    .analityc-control-buttons {
      position: absolute;
      top: 0;
    }
  }
}

@media screen and (min-width: 551px) and (max-width: 900px) {
  .analityc-widgethead {
    .analityc-control-buttons {
      right: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .analityc-control-button {
    background-size: contain;
  }
  .analityc-control-button + .analityc-control-button {
    margin-left: 20px;
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .analityc-control-switcher a {
    font-size: 18px;
    padding: 0 70px;
    line-height: 52px;
  }
  .analityc-widgethead {
    padding-bottom: 93px;
  }
  .analityc-bottomtip {
    margin-top: 19px;
  }
}

@media screen and (max-width: 580px) {
  .analityc-control-switcher {
    margin-top: 25px;
    width: 100%;
    &_large {
      a {
        &:first-child {
          width: 64%;
        }
        &:last-child {
          width: 36%;
        }
      }
    }
  }
  .analityc-control-switcher a {
    font-size: 12px;
    padding: 0;
    line-height: 26px;
    width: 50%;
  }
  .analityc-control-switcher.active + .analityc-control-buttons {
    margin-left: 0;
  }
  .analityc-control-button {
    width: 30px;
    height: 30px;
  }
  .analityc-control-buttons.active + .analityc-control-switcher_big {
    width: 100%;
    margin-left: 0;
    a {
      width: 50%;
    }
  }

  padding-bottom: 53px;

  .analityc-control-group {
    margin-bottom: 18px;

    & > span {
      font-size: 18px;
    }
  }

  .analityc-control-group._year {
    width: 22%;
  }

  .analityc-select {
    padding: 0 0 0 10px;
    margin-top: 8px;
    font-size: 13px;
    line-height: 40px;
    background: #f5f5f5 url(../images/select-ar.png) right 10px center no-repeat;
    background-size: 9px;

    & option {
      font-size: 13px;
    }
  }

  .analityc-control-buttons {
    margin-top: 17px;
    right: -5px;
  }
  .analityc-control-button {
    width: 35px;
    height: 30px;
  }
  .analityc-control-button+.analityc-control-button {
    margin-left: 15px;
  }

  .analityc-bottomtip>span {
    display: inline-block;
    .analityc-popup {
      left: 0;
      right: 0;
      width: 100%;
    }
  }
  .analityc-bottomtip {
    margin-top: 7px;
    font-size: 11px;
  }
}

.d-smr__add-char-list {
  height: inherit;
  overflow: visible;
}

.d-smr__add-char {
  margin-top: 7px;
  width: 390px;
  height: 32px;
  border-radius: 3px;


  &-label {
    height: 29px;
    line-height: 30px;
    padding: 0 0 0 12px;
    width: 100%;
    background-color: #f5f5f5;
    color: $color-black;
    padding-top: 2px;

    &::after {
      top: 12px;
      right: 16px;
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &-block {
    overflow-y: auto;
    padding-top: 42px;
    width: 390px;
  }
}


.d-smr__add-char-label.expanded {
  z-index: 1;
  background-color: #ebebeb;
}

.analityc-control-group_comparison {
  width: 390px;
}

.analityc-widget {
  &__selectbox {
    margin-top: 5px;
    
    @media screen and (min-width: 581px) and (max-width: 900px) {
      margin-top: 14px;
    }
    
    @media screen and (max-width: 580px) {
      margin-top: 8px;
    }
    
    &_alt {
      display: inline-block;
      width: auto;
      & + & {
        margin-left: 10px;
      }
    }
      
    &_day {
      width: 56px;
      
      @media screen and (min-width: 581px) and (max-width: 900px) {
        width: 76px;
      }
    }
    
    &_month {
      width: 95px;
      
      @media screen and (min-width: 581px) and (max-width: 900px) {
        width: 150px;
      }
      @media screen and (max-width: 580px) {
        width: 85px;
      }
    }
    
    &_year {
      width: 65px;
      
      @media screen and (min-width: 581px) and (max-width: 900px) {
        width: 94px;
      }
      @media screen and (max-width: 580px) {
        width: 60px;
      }
    }
  }
}

.analityc-control-group._dp { 
  
  input {
    font-size: 14px;
    height: 32px;
    line-height: 30px;
    padding: 0 20px 0 12px;
    
    @media (max-width: 900px) and (min-width: 581px) {
      font-size: 20px;
      height: 56px;
      line-height: 54px;
      padding: 0 30px 0 16px;
      background-size: 20px !important;
    }
    @media (max-width: 580px) {
      font-size: 13px;
      height: 42px;
      line-height: 40px;
      padding: 0 20px 0 10px;
      background-size: 14px !important;
    }
  }
}


.analityc-widget_income,
.analityc-widget_expenses {
  
  .analityc-control-switcher_large a {
    @media (max-width: 900px) and (min-width: 581px) {
      padding: 0 55px;
    }
  }
}
