.analityc-widgethead {
  @include clearfix;

  .jq-selectbox {
    margin-left: 0;
    padding: 0 !important;
    width: 100%;
    &.dropdown {
      border: 1px solid #d5d5d5;
    }
  }
  .jq-selectbox__select {
    height: auto;
    width: auto;
    border: 0;
    padding: 0 0 0 7px;
    line-height: 30px;
    font-family: inherit;
    font-weight: 500;
  }
  .jq-selectbox__select-text {
    color: inherit;
  }
  .jq-selectbox__trigger-arrow {
    display: none;
  }
  .jq-selectbox.focused .jq-selectbox__select {
    border: 0;
  }
  .jq-selectbox__dropdown {
    margin: 0;
    background: #f5f5f5;
    font-family: inherit;
  }
  .jq-selectbox li {
    color: inherit;
    font-weight: 500;
    padding: 7px;
  }
  .jq-selectbox li.selected, .jq-selectbox li:hover {
    background-color: #c9c9c9;
  }
  .jq-selectbox li.disabled {
    color: #ababab;
    position: relative;
    cursor: default;
    &:hover {
      background: #f5f5f5;
    }
  }

  &__search {
    border: 1px solid #bfbfbf;
    border-radius: 2px;
    padding: 8px 10px !important;
    font-size: 18px;
    font-family: $PFDinTextPro;
    font-weight: 400;

    &::placeholder {
      color: #a9a9a9;
    }
  }

  // @qluqua
  // Стили для страницы depfin_budget_moscow_aip
  &_aip {
    .analityc-widgethead__row {

    }

    .analityc-control-switcher {
      &:first-child {
        margin-top: 23px;
        margin-right: 18px;

        a {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }

    .analityc-control-group_period {
      .analityc-select {
        padding-right: 32px;
      }
    }

    .analityc-control-group_classify {
      margin-left: 18px !important;

      .analityc-select {
        width: 370px;
        max-width: 370px;
        padding-right: 32px;
      }
    }
  }
}

.analityc-control-group {
  position: relative;
  .analityc-popup {
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 300px;
  }
}

.analityc-control-switcher {
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #0d46a1;
  border-radius: 2px;

  a {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    padding: 0 30px;
    text-transform: uppercase;
    text-align: center;
    transition: all .25s ease-in-out;
    &:hover, &.active {
      color: #fff;
      background-color: #0d46a1;
    }
  }

  &.active + .analityc-control-buttons {
    margin-left: 30px;
  }
}

.analityc-control-buttons {
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;

  &.active + .analityc-control-switcher {
    margin-left: 30px;
  }
}

.analityc-control-button {
  display: inline-block;
  vertical-align: middle;
  transition: all .25s ease-in-out;

  & + & {
    margin-left: 10px;
  }

  &_graphics, &_table {

    & svg {
      width: 30px;
      height: 30px;
      fill: $color-blue;
    }

    &:hover, &.active {
      & svg {
        fill: #d8d8d8;
      }
    }
  }
}

.analityc-bottomtip {
  display: none;
  float: right;
  @include clearfix;
  width: 61.5%;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 66px;
  font-family: $PFDinTextPro;

  > span {
    text-decoration: underline;
    cursor: pointer;
    color: #0d46a1;
    position: relative;

    &:hover {
      .analityc-popup {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &.active {
    display: inline-block;
  }
}

.analityc-popup {
  position: absolute;
  top: 100%;
  left: -58px;
  right: 0;
  margin: auto;
  margin-top: 5px;
  width: 264px;
  padding: 11px 13px 13px;
  font-size: 13px;
  font-family: $PFDinTextPro;
  text-transform: none;
  line-height: 1.3;
  color: #000;
  text-indent: 0;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: all .25s ease-in-out;
  z-index: 101;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    left: 0;
    bottom: 100%;
    right: 0;
    margin: auto;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}


@media screen and (max-width: 1140px) {
  .analityc-widgethead {
    .analityc-select {
      margin-top: 6px;
      height: 30px;
    }
    .jq-selectbox__select {
      padding: 0 0 0 10px;
    }
    .analityc-control-group._year {
      width: 7.2%;
    }
    .analityc-control-group._stage {
      width: 34.7%;
      margin-left: 2.1%;
    }
    .analityc-control-group._level {
      margin-left: 1%;
      width: 24.8%;
    }
    .analityc-control-group._transfer {
      margin-left: 1.1%;
      width: 29%;
    }
  }
  .analityc-bottomtip {
    width: 64.6%;
    margin-top: 47px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1140px) {
  .analityc-widgethead {
    .jq-selectbox__select-text {
      font-size: 14px;
    }
    .analityc-select {
      background: #f5f5f5 url(../images/select-ar.png) right 11px top 13px no-repeat !important;
      background-size: 9px !important;
    }
  }
}

@media screen and (max-width: 1020px) {
  .analityc-widgethead .analityc-control-group._year {
    width: 19%;
  }
  .analityc-widgethead .analityc-control-group._stage {
    width: 78.9%;
  }
  .analityc-widgethead .analityc-control-group._level {
    margin-left: 0;
    width: 49%;
  }
  .analityc-widgethead .analityc-control-group._transfer {
    margin-left: 2%;
    width: 49%;
  }
  .analityc-widget_expenses .analityc-control-group._classify {
    margin-left: 0;
    width: 100%;
    margin-top: 15px;
  }
  .analityc-bottomtip {
    width: 100%;
    float: none;
  }
}

@media (max-width: 768px) and (min-width: 320px) {
  .analityc-widget_expenses .analityc-control-group._classify {
    margin-left: 0;
    width: 100%;
    margin-top: 15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1020px) {
  .analityc-widgethead .jq-selectbox li {
    font-size: 14px;
    font-family: inherit;
  }
  .analityc-bottomtip {
    margin-top: 30px;
  }
}

@media screen and (max-width: 760px) {
  .analityc-control-buttons + .analityc-control-switcher_large {
    display: block;
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .analityc-control-button {
    background-size: contain;
  }
  .analityc-control-button + .analityc-control-button {
    margin-left: 20px;
  }
  .analityc-widget_expenses .analityc-control-group._classify {
    width: 100%;
  }
  .analityc-control-group._classify {
    .analityc-select {
      width: 100%;
      white-space: normal;
    }
  }

  .analityc-widgethead {
    position: relative;
    .analityc-control-group._stage {
      width: 100%;
    }
    .analityc-control-group._level {
      width: 100%;
    }
    .analityc-control-group._transfer {
      width: 100%;
    }
    .analityc-control-buttons {
      position: absolute;
      top: 0;
    }
    .analityc-control-switcher {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: 0;
    }
  }
  .analityc-widget_expenses .analityc-widgethead .analityc-control-switcher {
    margin-left: 0;
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .analityc-control-switcher a {
    font-size: 18px;
    padding: 0 70px;
    line-height: 52px;
  }
  .analityc-widgethead {
    padding-bottom: 93px;
    .jq-selectbox__select {
      line-height: 52px;
    }
    .analityc-select {
      height: 52px;
      padding: 0 0 0 12px !important;
      font-size: 20px;
    }
    .jq-selectbox__select-text {
      font-size: 20px;
    }
    .jq-selectbox__dropdown {
      font-size: 20px;
    }
    .jq-selectbox li {
      font-size: 20px;
      font-family: inherit;
    }
    .analityc-select {
      background: #f5f5f5 url(../images/select-ar.png) right 14px top 20px no-repeat !important;
      background-size: 14px !important;
    }
    .analityc-control-group {
      margin-left: 0!important;
      margin-bottom: 20px;
    }
    .analityc-control-buttons {
      right: 0;
    }
    // .analityc-control-button {
    //   width: 80px;
    //   height: 50px;
    // }
  }
  .analityc-bottomtip {
    margin-top: 19px;
  }
}

@media screen and (max-width: 550px) {
  .analityc-control-switcher {
    margin-top: 25px;
    width: 100%;
    &_large {
      a {
        &:first-child {
          width: 64%;
        }
        &:last-child {
          width: 36%;
        }
      }
    }
  }
  .analityc-control-switcher a {
    font-size: 12px;
    padding: 0;
    line-height: 26px;
    width: 50%;
  }
  .analityc-control-switcher.active + .analityc-control-buttons {
    margin-left: 0;
  }
  .analityc-control-button {
    width: 30px;
    height: 30px;
  }
  .analityc-control-buttons.active + .analityc-control-switcher_big {
    width: 100%;
    margin-left: 0;
    a {
      width: 50%;
    }
  }
  .analityc-widgethead {
    padding-bottom: 53px;
    .jq-selectbox__select {
      line-height: 26px;
      padding: 0 0 0 5px;
    }
    .jq-selectbox__select-text {
      font-size: 13px;
    }
    .jq-selectbox__dropdown {
      font-size: 13px;
    }
    .jq-selectbox li {
      font-size: 13px;
      font-family: inherit;
    }
    .analityc-control-group>span {
      font-size: 16px;
    }
    .analityc-select {
      margin-top: 2px;
      height: 26px;
    }
    .analityc-select {
      background: #f5f5f5 url(../images/select-ar.png) right 7px top 11px no-repeat !important;
      background-size: 8px !important;
    }
    .analityc-control-group {
      margin-bottom: 5px;
    }
    .analityc-control-buttons {
      margin-top: 17px;
      right: -5px;
    }
    .analityc-control-button {
      width: 35px;
      height: 30px;
    }
    .analityc-control-button+.analityc-control-button {
      margin-left: 15px;
    }
  }
  .analityc-bottomtip>span {
    display: inline-block;
    .analityc-popup {
      left: 0;
      right: 0;
      width: 100%;
    }
  }
  .analityc-bottomtip {
    margin-top: 7px;
    font-size: 11px;
  }
}

.d-smr__add-char-list {
  height: inherit;
  overflow: visible;
}

.d-smr__add-char {
  margin-top: 7px;
  width: 390px;
  height: 32px;
  border-radius: 3px;


  &-label {
    height: 29px;
    line-height: 30px;
    padding: 0 0 0 12px;
    width: 100%;
    background-color: #f5f5f5;
    color: $color-black;
    padding-top: 2px;

    &::after {
      top: 12px;
      right: 16px;
    }

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &-block {
    overflow-y: auto;
    padding-top: 42px;
    width: 390px;
  }
}


.d-smr__add-char-label.expanded {
  z-index: 1;
  background-color: #ebebeb;
}

.analityc-control-group_comparison {
  margin-top: 20px;
  width: 390px;
}



.analityc-widgethead_income {
  padding-right: 0 !important;

  .analityc-select {
    box-sizing: border-box;
    height: 32px !important;
    padding-top: 3px !important;
  }

  .analityc-select_month, .analityc-select_year {
    background-position: 81% 13px !important;
    width: 70px !important;
  }

  .analityc-control-switcher_large {
    margin-top: 17px !important;
    max-width: 100%;
  }

  .analityc-control-switcher_xl {
    margin-top: 17px !important;
    max-width: 100%;
  }


  .analityc-control-switcher a {
    font-size: 13px;
    padding: 0 15px;
    border-right: 1px solid #0d46a1;

    &:last-child {
      padding: 0 13px;
      border-right: none;
    }
  }

  .analityc-control-group_buttons {
    right: -13px;
    width: 102.3%;
  }

  .analityc-select_month {
    width: 55.5px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }


  .analityc-control-frame_left {
    width: 463px !important;

    .analityc-select_stage {
      width: 276px !important;
    }

    .analityc-control-group:nth-child(2) {
      margin-top: 0 !important;
    }

    .analityc-control-group {
      margin-top: 3px !important;
    }
  }

  .analityc-control-frame_right {
    width: 531px !important;

    .analityc-control-group_level {
      width: 235px !important;

      .analityc-select {
        background-position: 95% 13px;
      }
    }

    .analityc-control-group_comparison {
      margin-top: 18px;
    }
  }
}
