.gui {
  display: block;
  height:auto;
  min-height:100%;
  background:#1d1b27;
}

.gui-divider{
	padding:15px 30px;
}

.gui-divider__inside{
	padding:10px;
}

.gui-title{
	display:block;
	border-bottom:2px solid currentColor;
	padding-bottom:20px;
	margin-bottom:20px;
	color:currentColor;
	font-size:36px;
	line-height:38px;
	position:relative;
	z-index:1;
	font-weight:bold;
}

.gui-title__output{
	text-decoration:none;
	color:inherit;
}

.gui-title__output:hover{
	text-decoration:none;
}

.gui-title__output:hover:after{
	display:block;
}

.gui-title__output:after{
	content:'#';
	font-size:20px;
	line-height:22px;
	position:absolute;
	top:8px;
	right:100%;
	z-index:2;
	margin-right:10px;
	color:#0000ee;
	display:none;
}
