mixin gui()
  +b.gui&attributes(attributes)
    .gui-divider
      .gui-title
        a(href="#colors").gui-title__output colors
      .gui-divider__inside(style="background:#fff;")
        .color-dark .color-dark
        .color-gray .color-gray
        .color-darken .color-darken
        .color-bl .color-bl
    .gui-divider
      .gui-title
        a(href="#title-").gui-title__output title-
      .gui-divider__inside
        h4.title-mx .title-mx
        h5.title-md .title-md
    .gui-divider
      .gui-title
        a(href="#line-").gui-title__output line-
      .gui-divider__inside
        .line-xl .line-xl
        .line-l .line-l
        .line-mx .line-mx
        .line-md .line-md
        .line-sm .line-sm
    .gui-divider
      .gui-title
        a(href="#link-more").gui-title__output link-more
      .gui-divider__inside
        a(href="#").link-more подробнее
    .gui-divider
      .gui-title
        a(href="#labels").gui-title__output labels
      .gui-divider__inside
        ul.labels
          li.labels__item
            span.label Участники процесса подготовки бюджета
              u.label__button.btn-close
          li.labels__item
            span.label Участники процесса
              u.label__button.btn-close
          li.labels__item
            span.label Участники
              u.label__button.btn-close
    .gui-divider
      .gui-title
        a(href="#label").gui-title__output label
      .gui-divider__inside
        span.label Участники процесса подготовки бюджета
          u.label__button.btn-close
    .gui-divider
      .gui-title
        a(href="#buttons").gui-title__output buttons
      .gui-divider__inside
        u.btn-close
        u.btn-close-b
        u.btn-close-c
        a(href="#").btn-arrow.btn-arrow--prev prev
        a(href="#").btn-arrow.btn-arrow--next next
        a(href="#").button-light Бюджет Москвы
        a(href="#").button-light.button-light--fill Бюджет Москвы
    .gui-divider
      .gui-title
        a(href="#buttons-set").gui-title__output buttons-set
      .gui-divider__inside
        .buttons-set
          .buttons-set__item
            a(href="#").button-light.button-light--fill Бюджет Москвы
          .buttons-set__item
            a(href="#").button-light Бюджет Москвы
    .gui-divider
      .gui-title
        a(href="#list-indicate").gui-title__output list-indicate
      .gui-divider__inside(style="width:200px;")
        ul.list-indicate
          li.list-indicate__item в Департамент финансов города Москвы
            u.arrowlight.arrowlight--right
          li.list-indicate__item в Департамент финансов города Москвы
            u.arrowlight.arrowlight--right
          li.list-indicate__item в Департамент финансов города Москвы
            u.arrowlight.arrowlight--right
      .gui-divider__inside(style="width:200px;")
        ul.list-indicate
          li.list-indicate__item.list-indicate__item--direct-r в Департамент финансов города Москвы
            u.arrowlight.arrowlight--right
          li.list-indicate__item.list-indicate__item--direct-r в Департамент финансов города Москвы
            u.arrowlight.arrowlight--right
          li.list-indicate__item.list-indicate__item--direct-r в Департамент финансов города Москвы
            u.arrowlight.arrowlight--right
    .gui-divider
      .gui-title
        a(href="#arrowlight").gui-title__output arrowlight
      .gui-divider__inside
        u.arrowlight.arrowlight--right
        u.arrowlight.arrowlight--left
