.services-VMO {
  display: block;
  background-image: url('../images/bg-news.jpg');
  background-size: cover;
  background-position: center 0;

  &__tabs-wrapper {
    z-index: 2;
    position: relative;
    background: transparent;
  }

  &__tabs-control {
    display: table;
    font-size: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 41px;

    a {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 20px 8px 16px 8px;
      color: $color-white;
      text-align: center;
      width: 20%;
      transition: all .25s ease-in-out;
      min-height: 52px;

      &[data-tab-target="vmoAll"] {
        background-color: #e9e9e9;
        color: $color-black;
      }
      &[data-tab-target="vmoMunicipalDistricts"] {
        background-color: #26aecb;
      }
      &[data-tab-target="vmoCityDistricts"] {
        background-color: #f5b326;
        &.active {
          background-color: transparent;
        }
      }
      &[data-tab-target="vmoSettlements"] {
        background-color: #82b345;
        &.active {
          background-color: transparent;
        }
      }
      &[data-tab-target="vmoPassports"] {
        background-color: #848484;
      }
      &:hover {
        opacity: .8;
      }
      &.active {
        color: $color-black;
        background-color: $color-white;
        &:hover {
          opacity: 1;
        }
      }
    }

  }
  .tabs__tab {
    &[data-tab="vmoAll"] {
      padding-bottom: 100px;
    }
    &[data-tab="vmoMunicipalDistricts"] {
      .services-VMO__map-wrapper {
        margin-top: 0;
      }
    }
    &[data-tab="vmoSettlements"] {
      .services-VMO__map-wrapper {
        position: absolute;
        right: 0;
        margin-left: 0;
        margin-right: 0;
      }
      .analityc-control-group._search {
        float: right;
      }
      .services-VMO__content_municipal {
        padding-bottom: 150px;
      }
    }
    &[data-tab="VMOincome"],
    &[data-tab="VMOpassIncome"] {
      .services-VMO__figure-big {
        background: -webkit-linear-gradient(0deg,#004ccf,cyan);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media screen\0 {
          color: #004ccf;
        }
      }

      .analityc-graphics_line {
        .analityc-graphics__line-values {
          color: #004ccf;
        }
        .analityc-graphics__line-total {
          background: #0051d0;
          background-image: linear-gradient(90deg,#004ccf,cyan);
        }
      }

      .analityc-graphics-line-vertical_vmo {
        .analityc-graphics-line-vertical__line_transparentpink {
          .analityc-graphics-line-vertical__line-fill {
            background: linear-gradient(0deg,rgba(0,76,207,.4),rgba(0,255,255,.4));
          }
        }
        .analityc-graphics-line-vertical__line_pink2 {
          .analityc-graphics-line-vertical__line-fill {
            background: linear-gradient(0deg,#004ccf,cyan);
          }
        }
      }
    }
  }
  .analityc-widget {
    margin-top: 0;
    padding-bottom: 40px;
  }

  &__title {
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 18px;
    position: relative;
    z-index: 2;

    h3 {
      display: inline;
    }
    span {
      color: $color-link;
    }
  }

  .analityc-control-group._year {
    width: auto;
    vertical-align: middle;
    margin-top: 25px;
    .analityc-select {
      display: inline-block;
      vertical-align: middle;
      width: 72px;
      margin-top: 0;
    }
    .selectbox-year {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  .selectbox_vmo {
    width: 75px;
    display: inline-block;
    vertical-align: middle;
  }
  .analityc-control-group._base {
    width: auto;
    vertical-align: middle;
    margin-top: 25px;
    .analityc-select {
      display: inline-block;
      vertical-align: middle;
      width: 337px;
      margin-top: 0;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  &__content {
    margin-top: 33px;
    width: 85%;

    &_rate {
      width: 100%;
      .services-VMO__subtitle {
        font-size: 20px;
        font-family: $PFDinTextPro;
        text-transform: none;
      }
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    font-family: $PFDinTextPro;
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__cols {
    margin-top: 15px;
  }

  &__col {
    width: 19%;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    font-family: $PFDinTextPro;
    margin-right: 31px;

    &:first-child {
      width: 33%;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      color: $color-link;
    }
  }

  // таблица
  &__table {
    margin-top: 40px;

    &-head {
      padding-bottom: 25px;
      border-bottom: 2px solid #e6e6e6;
      position: sticky;
      background: $color-white;
      z-index: 1;
      top: 0px;
      width: 100%;
      min-width: 640px;
      // .services-VMO__table-head {
      //
      // }
      span {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #898783;
        display: inline-block;
        vertical-align: middle;
      }
      &_null {
        width: 9.5%;
      }

      &_place {
        width: 15%;
      }
      &_mun {
        width: 60%;
      }
      &_quality {
        width: 24.3%;
      }
      &_vol {
        width: 20%;
        span {
          display: block;
          font-size: 11px;
        }
      }
      &_search {
        width: 30%;
        .analityc-control-group {
          width: 227px;
        }
        input.d-si__search {
          text-transform: none;
          height: 32px;
        }
        .search__tooltip span {
          font-size: 14px;
          text-transform: none;
        }
      }
      &_defpro {
        width: 28%;
      }
      span.services-VMO__table-head_sub {
        display: block;
        font-size: 11px;
      }
    }

    &__wrapper {
      overflow-y: scroll;
      border-bottom: 1px solid #e6e6e6;


      // Custom Scrollbar
      > .scroll-element,
      > .scroll-element div {
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 10;
      }

      > .scroll-element div {
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }

      > .scroll-element.scroll-x {
        bottom: 2px;
        height: 8px;
        left: 0;
        width: 100%;
      }

      > .scroll-element.scroll-y {
        height: 100%;
        right: 0;
        bottom: 0;
        width: 13px;
        // border: 1px solid #e6e6e6;
      }

      > .scroll-element .scroll-element_outer {
        overflow: hidden;

      }

      > .scroll-element .scroll-element_outer,
      > .scroll-element .scroll-element_track{

      }
      > .scroll-element .scroll-bar {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        width: 10px;
        right: 0;
        margin: 0 auto;
        cursor: pointer;
      }

      // > .scroll-element .scroll-element_track { background-color: #fbfafb; }
      > .scroll-element .scroll-bar { background-color: #c2c2c2; }
      > .scroll-element:hover .scroll-bar { background-color: #c2c2c2; }
      > .scroll-element.scroll-draggable .scroll-bar { background-color: #c2c2c2; }

      > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
      > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


      > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
      > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

    }

    // .services-VMO__table_passlist {
    //   .services-VMO__table__wrapper {
    //     > .scroll-element.scroll-y {
    //       height: 88.5%;
    //     }
    //   }
    // }

    .vmoPassport-table {
      width: 100%;
      height: 446px;
      font-family: $PFDinTextPro;
      .table__row {
        &_green {
          background-color: rgba(121, 204, 18, .2);
        }
        &_yellow {
          background-color: rgba(254, 155, 0, .2);
        }
        &_red {
          background-color: rgba(254, 36, 0, .2);
        }
      }
      .table__col {
        padding: 15px 0;
        font-weight: 400;
        &_one {
          width: 15%;
          font-size: 16px;
          padding-left: 10px;
        }
        &_two {
          width: 60%;
          font-size: 16px;
          img {
            width: 25px;
            height: 31px;
            vertical-align: middle;
            margin-right: 10px;
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
          a {
            color: $color-link;
          }
        }
        &_four {
          width: 20%;
          font-size: 14px;
        }
        &_five {
          font-size: 14px;
          width: 28%;
        }
        &_green {
          color: #6ab30e;
        }
        &_red {
          color: #e10221;
        }
        &_three {
          font-size: 14px;
        }
      }
    }

    &_comparison {
      .services-VMO__table-head {
        &_mun {
          width: 60%;
        }
      }
      .vmoPassport-table {
        .table__col {
          &_one {
            padding-left: 0px;
          }
          &_two {
            width: 65%;
          }
        }
      }
    }
    &_passlist {
      .services-VMO__table-head {
        margin-bottom: 12px;
      }
      .vmoPassport-table {
        .table__col {
          font-weight: 500;
          &_one {
            padding-left: 0px;
            width: 10%;
          }
          &_two {
            width: 30%;
          }
          &_four {
            width: 15%;
          }
          &_five {
            width: 30%;
          }
        }
      }
    }
  }
  .services-VMO__map-wrapper {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .analityc-control-switcher {
    font-size: 0;
    display: table;
    a {
      border-right: 1px solid $color-link;

      &:last-child {
        border-right: none;
        margin-right: -1px;
        padding-right: 31px;
      }
    }

  }
  // для таба "Все ВМО"
  &__map {
    &-wrapper {
      width: 45%;
      display: inline-block;
      vertical-align: top;
      float: left;
      z-index: 1;
    }
  }
  &__content_card {
    width: 100%;
    position: relative;

    @include clearfix;

    .services-VMO__text {
      width: 54%;
      float: right;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 102px;
    }
  }
  &__content_bottom {
    margin-top: 0;
    .services-VMO__text {
      width: 100%;
      margin-bottom: 0;
      float: none;
    }
  }
  &__figures {
    float: left;
  }
  &__figure {
    margin-bottom: 95px;
    position: relative;
    z-index: 0;
    &::before {
      @include pseudo;
      top: 50%;
      bottom: 0;
      width: 42px;
      left: -42px;
      color: #dcdcdc;
      height: 1px;
      z-index: 1;
      border-top: 1px solid;
    }
    &_orange {
      &::before {
        width: 149px;
        left: -154px;
      }
    }

    &_green::before {
      width: 210px;
      left: -215px;
    }
    .services-VMO__descr {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
    }
  }

  &__digit {
    font-size: 48px;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;

    &_blue {
      color: #26aecb;
    }
    &_orange {
      color: #f5b326;
    }
    &_green {
      color: #82b345;
    }
  }

  &__descr {
    font-size: 16px;
  }
  .alternative-link {
    float: right;
    width: 287px;
  }

  // график-таблица
  &__content_graphics {
    padding-bottom: 30px;
    width: 100%;
    position: relative;

    .services-VMO__table, .services-VMO__graphics {
      display: none;
      &.active {
        display: block;
      }
    }


    .services-VMO__row {
      font-weight: 400;
      font-family: $PFDinTextPro;
      margin-bottom: 30px;
      @include clearfix;
    }

    .analityc-control-buttons {
      margin-top: 0;
      margin-right: 110px;
      float: left;
    }
    .legend {
      display: inline-block;
      vertical-align: middle;
      line-height: 30px;
      @include clearfix;

      &__item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        height: auto;
        font-size: 14px;
        color: $color-black;
        &+.legend__item {
          margin-left: 30px;
        }
      }
    }

    .analityc-widget-label {
      position: relative;
    }

    .services-VMO__label {
      float: right;
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      line-height: 30px;

      &_table {
        display: none;
        vertical-align: middle;
        float: left;
        text-transform: uppercase;
        margin-left: -72px;
        font-family: $PFDinCondensedPro;
        font-weight: 500;
      }
    }

    .comp-diagram {
      width: 134px;
      height: 134px;

      &__year {
        top: 100%;
        left: 0;
        right: 0;
        margin-left: 0;
        color: $color-black;
        font-size: 24px;
        margin-top: 10px;
      }
      &__num {
        // bottom: inherit !important;
        left: inherit;
        margin-left: 0;
        margin-bottom: 0 !important;
        font-size: 14px;

        &_yellow {
          color: #30b068;

          @media screen and (max-width: 1101px) and (min-width: 901px) {
            top: 10px;
          }
        }

        &_blue {
          margin-left: 4px;
        }

        &_pink {
          margin-left: 17px;
        }
      }

      .svg-wrap {
        width: 100%;
        height: 100%;
        .svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    .analityc-widget-item {
      width: 16.5%;
      margin-left: 0;
      position: relative;
    }

    .analityc-graphics__period-left, .analityc-graphics__period-right {
      top: 100%;
      bottom: inherit;
      border-bottom: 1px solid #d7d7d7;
      border-top: none;
      margin-top: 15px;
      margin-bottom: 0;
      z-index: 2;
      width: 200%;
    }

    .analityc-graphics__period-right {
      left: auto;
    }
    .analityc-graphics__periodtext {
      width: 84%;
      bottom: 0;
      left: 0;
      right: inherit;
      margin-top: 0;
      margin-bottom: -40px;

      &_alt {
        width: 18.5%;
        right: 0;
        left: inherit;
      }
    }
  }


  .analityc-graphics-line-vertical__wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .section__ar {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 3000;
    width: 21px;
    height: 26px;
    padding: 5px;

    &_left {
      right: 101%;
      transform: rotate(180deg);

      @media screen and (max-width: 480px) {
        right: 98%;
      }
    }

    &_right {
      left: 101%;

      @media screen and (max-width: 480px) {
        left: 98%;
      }
    }

    &_disabled {
      opacity: 0;
    }
  }

  @mixin income-table-slider($minWidth) {
    .table {
      min-width: $minWidth;
    }
    
    .analityc-table__wrapper {
      overflow-x: auto;
      overflow-y: hidden;
    }

    .section__ar {
      display: inline!important;
    }
  }

  .analityc-table {
    overflow-x: visible;
    overflow-y: visible;

    .table {
      min-width: auto;

      &__col {
        text-align: center;

        &_four {
          width: calc(75% / 6);
      
          &:first-child {
            width: 25%;
            text-align: left;
          }
        }

        &_one {
          width: calc(75% / 12);
        }
      }
    }

    &_vmo {
      @media screen and (max-width: 900px) {
        @include income-table-slider(980px);
      }
    }
  }


  // для таба "Муниципальные округи"

  .services-VMO__content_municipal {
    width: 100%;
    @include clearfix();
    .services-VMO__map-wrapper {
      float: none;
      width: 676px;
      margin-left: -100px;
      margin-right: -67px;
      margin-top: -151px;
      z-index: 0;
      background-color: $color-white;
      img {
        width: 100%;
        height: 100%;
      }

      @media (max-width: 1024px) {
        margin-top: -153px;
      }
    }

    .services-VMO__figure {
      float: none;
      width: auto;
      margin-bottom: 33px;
      text-transform: lowercase;
      &::before {
        display: none;
      }
      &-wrapper {
        float: left;
      }
    }
    .services-VMO__digit {
      margin-right: 0;
      font-size: 40px;
      span {
        font-size: 38px;
      }
    }
    .services-VMO__descr {
      display: block;
      padding-left: 3px;
      text-transform: uppercase;
    }
    .services-VMO__subdescr {
      display: block;
      padding-left: 5px;
      font-size: 12px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, .5);
    }
    .analityc-control-group._search {
      width: 227px;
      span {
        margin-bottom: 5px;
      }
      .search__tooltip span {
        font-size: 14px;
      }
      .d-si__search {
        height: 32px;
      }
    }
  }

  .d-si__search {
    height: 32px;
  }

  .services-VMO__content_municipal-graphics {
    width: 100%;
    z-index: 1;
    position: relative;
    .services-VMO__title {
      margin-bottom: 10px;
    }
    .select-wrapper {
      display: inline-block;
      border-bottom: 1px dashed $color-link;
      cursor: pointer;

      svg {
        display: inline-block;
        vertical-align: middle;
        stroke: $color-link;
        fill: $color-link;
        width: 8px;
        height: 8px;
        transition: all .25s ease-in-out;
        &.active {
          transform: rotate(180deg);
        }
      }
    }

    .services-VMO__figure-big {
      display: inline-block;
      font-size: 72px;
      background: -webkit-linear-gradient(right, #ff695b, #9d308a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 55px;
      @media screen\0 {
        color: #ff695b;
      }

      span {
        font-size: 36px;
      }
    }
    .analityc-graphics__heading {
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .analityc-graphics__toptext {
      display: none;
    }
    .analityc-graphics__lines {
      margin-top: 15px;
    }
    .analityc-graphics__line {
      margin-bottom: 3px;

      &:last-child {
        .analityc-graphics__line-total, .analityc-graphics__line-fill {
          display: none;
        }
        .analityc-graphics__line-values {
          color: #898f9f;
        }
        .analityc-graphics__line-bar-value {
          left: 0;
        }
      }
    }
    .analityc-graphics__line-values span {
      display: none;
    }
    .analityc-graphics__line-bar-value {
      right: auto;
      left: 50%;
      margin-right: 0;
      margin-left: 8px;
    }

    .services-VMO__content_line-bar {
      width: 100%;
      margin-bottom: 50px;
      .services-VMO__row {
        @include clearfix();
        margin-bottom: 50px;
      }
      .services-VMO__subtitle {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        float: left;
      }
      .legend {
        float: right;

        &__item_transparentpink::before {
          background: #9f3189;
          background: linear-gradient(0deg,rgba(157,48,138,.4),rgba(255,105,91,.4));
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(255,105,91,.4),endColorstr=rgba(157,48,138,.4));
        }
        &__item_transparentblue::before {
          background: #9f3189;
          background: linear-gradient(0deg,rgba(0,76,207,.4),rgba(0,255,255,.4));
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(0,255,255,.4),endColorstr=rgba(0,76,207,.4));
        }
      }
    }
    .analityc-graphics-line-vertical_vmo {
      margin-top: 30px;
    }
    .services-VMO__content_bottom {
      @include clearfix();
      width: 100%;
      .services-VMO__subtitle {
        float: left;
        display: inline-block;
        vertical-align: middle;
        width: 19%;
      }
      .services-VMO__right-block {
        float: right;
        display: inline-block;
        vertical-align: middle;
        width: 80%;
      }
      .services-VMO__cursive {
        font-family: $PFDinTextPro;
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
        color: rgba(0,0,0,.6);
        margin-bottom: 20px;
      }
      .services-VMO__list {
        overflow: hidden;
        height: 73px;

        &-wrapper {
          counter-reset: myCounter1;
          height: auto;
          margin: 0;
        }
        &-item {
          padding-left: 33px;
          position: relative;
          font-size: 14px;
          line-height: 20px;
          font-family: $PFDinTextPro;
          list-style: none;
          margin-bottom: 7px;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            counter-increment: myCounter1;
            content:counter(myCounter1);
            background-color: #4db9d2;
            color: $color-white;
            width: 21px;
            height: 20px;
            border-radius: 50%;
            text-align: center;
          }
        }

        &_income {
          height: 140px;
        }
      }

      .button {
        max-width: 90%;
        margin-top: 27px;
      }
    }
  }
  .tabs__tab.vmosocialEc {
    .services-VMO__title {
      margin-bottom: 32px;
    }
    .services-VMO__subtitle {
      border-bottom: 1px solid #cccccc;
      padding-bottom: 7px;
    }
    .services-VMO__content {
      width: 100%;
    }
    .services-VMO__digit {
      font-size: 36px;
      margin-right: 30px;
      span {
        font-size: 18px;
        text-transform: uppercase;
      }
      span.services-VMO__subdescr {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, .7);
      }
    }
    .services-VMO__content_small {
      width: 16.5%;
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;
      margin-top: 0;

      .services-VMO__digit_columns {
        margin-top: 20px;
        span.services-VMO__digit_column {
          width: 15%;
          display: inline-block;
          vertical-align: top;
        }
        span.services-VMO__subdescr {
          display: inline-block !important;
          width: 80%;
        }
      }

      &:last-child {
        margin-right: 0;
      }
      .services-VMO__subtitle {
        height: 80px;
        display: table-cell;
        vertical-align: bottom;

      }
      .services-VMO__digit {
        font-size: 20px;
        margin-right: 0;

        &:nth-child(2) {
          margin-top: 25px;
        }
        span {
          font-size: 20px;
          margin-bottom: 15px;
          line-height: 18px;
        }
        span.services-VMO__subdescr {
          display: block;
          font-size: 12px;
          text-transform: uppercase;
          color: rgba(0, 0, 0, .7);
        }
      }
    }
  }
  .tabs__tab[data-tab="vmoCityDistricts"] {
    .analityc-control-group {
      span {
        display: block;
      }
      @include clearfix;
    }
    .analityc-more {
      float: left;
      clear: left;
      margin-top: 19px;

      // &_bordered {
      //   border-bottom: 1px solid #dcdcdc;
      // }
    }
  }


  .analityc-select_vmo option {
    font-size: 28px;
  }

  .ui-selectmenu-icon {
    display: none;
  }
  .ui-button {
    background: none !important;
  }
  .analityc-graphics-line-vertical:before {
    height: 2px;
  }

  .legend {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    @include clearfix;

    &__item {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      height: auto;
      font-size: 14px;
      color: $color-black;
      font-family: $PFDinTextPro;
      &+.legend__item {
        margin-left: 30px;
      }
    }
  }
  &__link {
    color: $color-link;
  }

  .services-VMO__content_passport {
    width: 100%;
    @include clearfix;

    .services-VMO__right-block {
      float: right;
      width: 80%;
    }
    .services-VMO__title {
      margin-top: 0;
      margin-bottom: 10px;
    }
    .services-VMO__figure {
      margin-bottom: 0;
      width: auto;
      margin-right: 45px;
      display: inline-block;
      &:last-child {
        margin-top: 0;
      }
      &-wrapper {
        @include clearfix;
        margin-top: 50px;
        margin-bottom: 20px;
      }
      &::before {
        display: none;
      }
    }
    .services-VMO__digit {
      font-size: 40px;
      span {
        font-size: 30px;
      }
    }
    .services-VMO__descr {
      display: block;
      padding-left: 3px;
    }
    .services-VMO__subdescr {
      display: block;
      padding-left: 5px;
      font-size: 12px;
      text-transform: uppercase;
      color: #dcdcdc;
    }
    .services-VMO__link {
      font-size: 24px;
      display: block;
      transition: all .25s ease-in-out;
      &:hover {
        opacity: .7;
      }
    }

    .services-VMO__rate {
      background-color: #e5ecf6;
      text-transform: uppercase;
      @include clearfix;
      width: 538px;
      line-height: 42px;
      padding: 0 20px;
      border-radius: 2px;
      clear: both;

      &-wrapper {
        float: right;
        width: 80%;
      }

      p {
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        float: left;
      }

      .services-VMO__link {
        text-transform: uppercase;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        float: right;
      }
    }
  }

  &__coat-wrapper {
    float: left;
    display: inline-block;
    vertical-align: top;
  }


  @media (max-width: 1024px) {
    .tabs__tab[data-tab=vmoSettlements] .services-VMO__map-wrapper {
      right: -50px;
    }
    .alternative-link {
      clear: both;
      float: left;
    }
    .services-VMO__content_allvmo {
      float: right;
      width: 60%;
      .services-VMO__text {
        width: 100%;
        float: none;
      }
    }

    .services-VMO__figure {
      &_blue::before {
        left: -48px;
      }
      &_orange::before {
        left: -153px;
        width: 148px;
      }
      &_green::before {
        left: -231px;
        width: 226px;
      }
    }

    .services-VMO__content_municipal {
      .services-VMO__map-wrapper {
        margin-left: -168px;
        margin-right: -75px;
        // width: 427px;
      }
      &-graphics .services-VMO__content_bottom {
        .services-VMO__subtitle {
          float: none;
          display: block;
          width: 100%;
          margin-bottom: 25px;
        }
        .services-VMO__right-block {
          float: none;
          display: block;
          width: 100%;
        }
        .button {
          max-width: none;
        }
      }
    }
    .tabs__tab.vmosocialEc .services-VMO__content_small {
      width: 30%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    .analityc-control-switcher {
      margin-top: 30px;
    }
  }
  @media (max-width: 1010px) {
    .analityc-graphics-line-vertical {
      display: block;
    }
  }
  @media (max-width: 960px) {
    &__figures {
      margin-left: 31px;
    }
  }

  @media (max-width: 900px) and (min-width: 761px) {
    .comp-diagram {
      position: relative;
      margin: 0;
      top: auto;
      left: auto;
    }
  }

  @media (max-width: 800px) and (min-height: 501px) {
    .comp-diagram__num_yellow {
      top: 10px;
    }
  }
  @media (max-width: 700px) and (min-width: 551px) {
    .analityc-select {
      height: inherit;
      background-size: 9px;
      font-size: 14px;
      height: 30px;
      letter-spacing: inherit;
      background: #f5f5f5 url(../images/select-ar.png) 96% 13px no-repeat;
    }


  }

  @media (max-width: 768px) {
    .services-VMO__tabs-control a.active {
      background-color: $color-white !important;
    }
    &__map-wrapper {
      width: 70%;
      padding-top: 116px;
      position: relative !important;
    }
    .tabs__tab[data-tab=vmoSettlements] {
      .services-VMO__content_municipal {
        padding-bottom: 0;
      }
      .services-VMO__map-wrapper {
        right: 0;
      }
    }
    &__content_card {
      .services-VMO__text {
        width: 74%;
        float: none;
        display: block;
        margin-bottom: 12px;
        position: absolute;
      }
      .services-VMO__figures {
        padding-top: 77%;
        margin-left: 0;
      }
    }

    .services-VMO__figure {
      margin-bottom: 20px;
      &::before {
        display: none;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .services-VMO__descr {
        display: block;
      }
    }

    .alternative-link {
      margin-top: 35px;
      margin-bottom: 30px;
    }
    .services-VMO__content_allvmo {
      float: left;
      width: 74%;
      .services-VMO__text {
        position: relative;
      }
    }
    .services-VMO__graphics {
      text-align: justify;
    }
    .services-VMO__content_graphics .analityc-widget-item {
      width: auto;
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 40px;
    }

    &__tabs-control a {
      font-size: 13px;
    }

    .services-VMO__content_municipal {
      .services-VMO__map-wrapper {
        width: 100%;
        padding-top: 0;
        margin: 0;
      }
      .analityc-control-group._search {
        position: absolute;
        right: 0;
      }
      &-graphics {
        .services-VMO__content_line-bar {
          .legend {
            float: none;
            display: block;
          }

          .services-VMO__subtitle {
            float: none;
            display: block;
            margin-bottom: 10px;
          }
        }
        .services-VMO__content_bottom .services-VMO__list {
          height: 65px;
        }

      }
    }
    .analityc-control-switcher a {
      font-size: 16px;
      padding: 0 21px;
    }
    .services-VMO__table-head {
      &_null {
        width: 0;
      }
      &_search {
        width: 40%;
      }
    }
    .services-VMO__table .vmoPassport-table {
      height: 545px;
    }

    .tabs__tab.vmosocialEc {
      .services-VMO__digit {
        margin-right: 0;
        width: 49%;
      }
      .services-VMO__content_small {
        width: 49%;
        margin-right: 0;
        .services-VMO__digit {
          margin-right: 0;
          width: auto;
        }
      }
    }

    .services-VMO__content_passport {
      .services-VMO__right-block {
        width: 65%;
      }
      .services-VMO__rate {
        width: 100%;
        &-wrapper {
          float: none;
          width: 100%;
        }
      }
    }

    .services-VMO__col {
      width: 29%;
      &:first-child {
        width: 100%;
        font-weight: 500;
        margin-bottom: 10px;
        margin-right: 0;
      }
    }
    .services-VMO__tabs {
      &-control {
        min-width: 768px;
        &::after {

        }
      }
      &-wrapper {
        overflow-x: scroll;
        overflow-y: hidden;
      }
    }

  }

  @media (max-width: 760px) {

    .services-VMO__col {
      margin-right: 20px;
    }
    .vmopass {
      .services-VMO__content {
        &_text {
          margin-top: 0;
          width: 100%;
        }
        .services-VMO__text {
          width: 85%;
        }
      }
    }
    .analityc-control-switcher {
      overflow-y: hidden;
      overflow-x: scroll;
      display: block;
      position: relative;

      &-wrapper {
        min-width: 673px;
      }
      &_default {
        display: inline-block;
        overflow: visible;
        .analityc-control-switcher-wrapper {
          min-width: 580px;
        }
      }
      &_passport {
        .analityc-control-switcher-wrapper {
          min-width: 640px;
        }
      }
    }

  }

  @media (max-width: 640px) {
    .services-VMO__table .vmoPassport-table {
      min-width: 640px;
      position: relative;
      max-height: 545px;
    }
    .services-VMO__table__wrapper {

      > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: 0; }
      > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: 0; }
      > .scroll-element.scroll-x {
        bottom: -1px;
      }
      >.scroll-element .scroll-bar {
        margin: 0;
      }
      .scroll-element.scroll-y.scroll-scrolly_visible {
        display: none;
      }
    }
    .services-VMO__table-head {
      top: -1px;
    }
    .services-VMO__graphics {
      &::after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    }


    .services-VMO__content_municipal {
      .analityc-control-group._search {
        right: auto;
        left: 0;
        margin-top: 15px;
      }
      .services-VMO__map-wrapper {
        padding-top: 65px;
      }
    }
    .analityc-control-switcher {

      // .analityc-control-switcher_right-lg, .analityc-control-switcher_left-lg {
      //   width: 25%;
      //   height: 100%;
      //   top: 0;
      //   position: absolute;
      //   z-index: 2;
      // }
      // .analityc-control-switcher_right-lg {
      //   right: 0;
      //   background: linear-gradient(270deg,hsla(0,0%,100%,0) 0,#fff);
      //   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#00ffffff",GradientType=1);
      // }
      // .analityc-control-switcher_left-lg {
      //   left: 0;
      //   background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff);
      //   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff",endColorstr="#ffffff",GradientType=1)
      // }

      &_passport {
        overflow-y: hidden;
        overflow-x: scroll;
        display: block;
        .analityc-control-switcher-wrapper {
          min-width: 640px;
        }
      }
    }


  }


  @media (max-width: 639px) {
    .analityc-control-switcher_default {
      overflow-y: hidden;
      overflow-x: scroll;
      display: block;
      .analityc-control-switcher-wrapper {
        min-width: 580px;
      }
    }

    .analityc-control-switcher_passport {
      overflow-y: hidden;
      overflow-x: scroll;
      display: block;
      .analityc-control-switcher-wrapper {
        min-width: 640px;
      }
    }


  }


  @media (max-width: 570px) {
    .services-VMO__content_passport {
      .services-VMO__right-block {
        width: 100%;
      }
      .services-VMO__rate .services-VMO__link {
        float: left;
      }
    }
    .analityc-control-switcher a {
      display: inline;
    }
    .services-VMO__map-wrapper {
      width: 100%;
    }
    .services-VMO__content_card {
      .services-VMO__text {
        width: 100%;
      }
      .services-VMO__figures {
        padding-top: 0;
        float: none;
        text-align: justify;
        &::after {
          content: "";
          display: inline-block;
          width: 100%;
        }
      }
      .services-VMO__figure {
        display: inline-block;
        margin-bottom: 0;
      }
    }
    .alternative-link {
      width: 100%;
    }

  }

  @media (max-width: 500px) {
    .services-VMO__title {
      font-size: 18px;
    }
    .services-VMO__subtitle {
      font-size: 16px;
      line-height: 20px;
    }
    .services-VMO__col {
      margin-right: 0;
    }
    .vmopass {
      .services-VMO__content {
        .services-VMO__text {
          width: 100%;
        }
      }
    }
    .services-VMO__col {
      width: 100%;
      display: block;
      margin-bottom: 12px;
    }
    .analityc-control-switcher_default {
      .analityc-control-switcher-wrapper {
        min-width: 535px;
      }
    }
    .analityc-control-switcher_passport {
      .analityc-control-switcher-wrapper {
        min-width: 577px;
      }
    }

  }


  @media screen and (max-width: 768px) and (min-width: 551px) {
    .analityc-control-switcher a {
      padding: 0 30px;
    }
  }

  @media (max-width: 480px) {
    .services-VMO__content_passport .services-VMO__rate {
      line-height: 30px;
      padding: 10px 20px;
    }
    .analityc-control-group._base {
      width: 100%;
      span {
        margin-bottom: 5px;
      }
      .analityc-select {
        width: 100%;
        box-sizing: border-box;
      }
    }
    .services-VMO__content_allvmo {
      float: none;
      width: 100%;
    }
  }

  @media (max-width: 450px) {
    .comp-diagram {
      margin: 0;
    }

    .services-VMO__content_municipal-graphics .services-VMO__content_line-bar .legend {
      .legend__item {
        display: block;

        &+.legend__item {
          margin: 0;
          margin-top: 10px;
        }
      }
    }
  }

  @media (max-width: 400px) {
    .services-VMO__map-wrapper {
      padding-top: 175px;
    }
    .services-VMO__content_municipal-graphics .services-VMO__figure-big {
      font-size: 52px;
      margin-bottom: 0;
    }
    .tabs__tab.vmosocialEc {
      .services-VMO__content_small {
        width: 100%;
        margin-bottom: 15px;

        .services-VMO__subtitle {
          height: auto;
          display: block;
        }
        .services-VMO__digit:nth-child(2) {
          margin-top: 10px;
        }
      }
      .services-VMO__digit {
        width: 100%;
        display: block;
      }
    }

  }
}

.ui-vmo {
  font-size: 20px;
  font-family: $PFDinCondensedPro;
}
