.services-VMO {
  display: block;
  background-image: url('../images/bg-news.jpg');
  background-size: cover;
  background-position: center 0;

  &__page-header {
    .page-head__title {
      letter-spacing: 0;
    }
  }

  &__tabs-control {
    font-size: 0;
    width: 100%;
    margin-top: 41px;

    a {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      padding: 20px 8px 16px 8px;
      color: $color-white;
      text-align: center;
      width: 20%;
      transition: all .25s ease-in-out;

      &[data-tab-target="vmoAll"] {
        background-color: #e9e9e9;
        color: $color-black;
      }
      &[data-tab-target="vmoMunicipalDistricts"] {
        background-color: #26aecb;
      }
      &[data-tab-target="vmoCityDistricts"] {
        background-color: #f5b326;
      }
      &[data-tab-target="vmoSettlements"] {
        background-color: #82b345;
      }
      &[data-tab-target="vmoPassports"] {
        background-color: #848484;
      }
      &:hover {
        opacity: .8;
      }
      &.active {
        color: $color-black;
        background-color: $color-white;
        &:hover {
          opacity: 1;
        }
      }
    }

  }
  .tabs__tab {
    &[data-tab="vmoAll"] {
      padding-bottom: 100px;
    }
  }
  .analityc-widget {
    margin-top: 0;
    padding-bottom: 40px;
  }

  &__title {
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 18px;

    h3 {
      display: inline;
    }
    span {
      color: $color-link;
    }
  }

  .analityc-control-group._year {
    width: auto;
    vertical-align: middle;
    margin-top: 25px;
    .analityc-select {
      display: inline-block;
      vertical-align: middle;
      width: 72px;
    }
    span {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  &__content {
    margin-top: 33px;
    width: 85%;

    &_rate {
      width: 100%;
      .services-VMO__subtitle {
        font-size: 20px;
        font-family: $PFDinTextPro;
        text-transform: none;
      }
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    font-family: $PFDinTextPro;
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__cols {
    margin-top: 15px;
  }

  &__col {
    width: 19%;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    font-family: $PFDinTextPro;
    margin-right: 31px;

    &:first-child {
      width: 33%;
    }

    &:last-child {
      margin-right: 0;
    }

    a {
      color: $color-link;
    }
  }

  // таблица
  &__table {
    margin-top: 40px;

    &-head {
      margin-top: 15px;
      margin-bottom: 25px;
      span {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: #898783;
        display: inline-block;
        vertical-align: middle;
      }

      &_place {
        width: 15%;
      }
      &_mun {
        width: 60%;
      }
      &_quality {
        width: 25%;
      }
    }

    &__wrapper {
      overflow-y: scroll;
      border-bottom: 1px solid #e6e6e6;
      border-top: 2px solid #e6e6e6;

      // Custom Scrollbar
      > .scroll-element,
      > .scroll-element div {
        border: none;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 10;
      }

      > .scroll-element div {
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        width: 100%;
      }

      > .scroll-element.scroll-x {
        bottom: 2px;
        height: 8px;
        left: 0;
        width: 100%;
      }

      > .scroll-element.scroll-y {
        height: 100%;
        right: 0;
        top: 0;
        width: 13px;
        border: 1px solid #e6e6e6;
      }

      > .scroll-element .scroll-element_outer {
        overflow: hidden;

      }

      > .scroll-element .scroll-element_outer,
      > .scroll-element .scroll-element_track{

      }
      > .scroll-element .scroll-bar {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        width: 10px;
        right: 0;
        margin: 0 auto;
        cursor: pointer;
      }

      > .scroll-element .scroll-element_track { background-color: #fbfafb; }
      > .scroll-element .scroll-bar { background-color: #c2c2c2; }
      > .scroll-element:hover .scroll-bar { background-color: #c2c2c2; }
      > .scroll-element.scroll-draggable .scroll-bar { background-color: #c2c2c2; }

      > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
      > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


      > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
      > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

    }

    .vmoPassport-table {
      width: 100%;
      height: 446px;
      font-family: $PFDinTextPro;
      .table__row {
        &_green {
          background-color: rgba(121, 204, 18, .2);
        }
        &_yellow {
          background-color: rgba(254, 155, 0, .2);
        }
        &_red {
          background-color: rgba(254, 36, 0, .2);
        }
      }
      .table__col {
        padding: 15px 0;
        font-weight: 400;
        &_one {
          width: 15%;
          font-size: 16px;
          padding-left: 10px;
        }
        &_two {
          width: 60%;
          font-size: 16px;
          img {
            width: 25px;
            height: 31px;
            vertical-align: middle;
            margin-right: 10px;
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
        }
        &_three {
          width: 25%;
          font-size: 14px;
        }
      }
    }
  }
  .analityc-control-switcher {
    a:nth-child(2) {
      border: 1px solid $color-link;
      border-top: none;
      border-bottom: none;
    }
  }
  // для таба "Все ВМО"
  &__map {
    &-wrapper {
      width: 45%;
      display: inline-block;
      vertical-align: top;
      float: left;
      z-index: 1;
    }
  }
  &__content_card {
    width: 100%;
    position: relative;

    @include clearfix;

    .services-VMO__text {
      width: 54%;
      float: right;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 102px;
    }
  }
  &__content_bottom {
    margin-top: 0;
  }

  &__figure {
    margin-bottom: 95px;
    position: relative;
    float: left;
    width: 25%;
    z-index: 0;
    &::before {
      @include pseudo;
      top: 50%;
      bottom: 0;
      width: 38px;
      left: -40px;
      color: #dcdcdc;
      height: 1px;
      z-index: 1;
      border-top: 1px solid;
    }
    &_orange {
      width: 50%;
      &::before {
        width: 173px;
        left: -182px;
      }
    }

    &_green::before {
      width: 243px;
      left: -250px;
    }
    .services-VMO__descr {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
    }
  }

  &__digit {
    font-size: 48px;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;

    &_blue {
      color: #26aecb;
    }
    &_orange {
      color: #f5b326;
    }
    &_green {
      color: #82b345;
    }
  }

  &__descr {
    font-size: 16px;
  }
  .alternative-link {
    float: right;
    width: 287px;
  }

  // график-таблица
  &__content_graphics {
    padding-bottom: 30px;
    width: 100%;
    position: relative;

    .services-VMO__table, .services-VMO__graphics {
      display: none;
      &.active {
        display: block;
      }
    }


    .services-VMO__row {
      font-weight: 400;
      font-family: $PFDinTextPro;
      margin-bottom: 30px;
      @include clearfix;
    }

    .analityc-control-buttons {
      margin-top: 0;
      margin-right: 110px;
      float: left;
    }
    .legend {
      display: inline-block;
      vertical-align: middle;
      line-height: 30px;
      @include clearfix;

      &__item {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        height: auto;
        font-size: 14px;
        color: $color-black;
        &+.legend__item {
          margin-left: 30px;
        }
      }
    }

    .analityc-widget-label {
      position: relative;
    }

    .services-VMO__label {
      float: right;
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      line-height: 30px;

      &_table {
        display: none;
        vertical-align: middle;
        float: left;
        text-transform: uppercase;
        margin-left: -72px;
        font-family: $PFDinCondensedPro;
        font-weight: 500;
      }
    }

    .comp-diagram {
      width: 134px;
      height: 134px;

      &__year {
        top: 100%;
        left: 0;
        right: 0;
        margin-left: 0;
        color: $color-black;
        font-size: 24px;
        margin-top: 10px;
      }
      &__num {
        // bottom: inherit !important;
        left: inherit;
        margin-left: 0;
        margin-bottom: 0 !important;
        font-size: 14px;

        &_yellow {
          color: #30b068;
        }

        &_blue {
          margin-left: 4px;
        }

        &_pink {
          margin-left: 17px;
        }
      }

      .svg-wrap {
        width: 100%;
        height: 100%;
        .svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    .analityc-widget-item {
      width: 16.5%;
      margin-left: 0;
      position: relative;
    }

    .analityc-graphics__period-left, .analityc-graphics__period-right {
      top: 100%;
      bottom: inherit;
      border-bottom: 1px solid #d7d7d7;
      border-top: none;
      margin-top: 15px;
      margin-bottom: 0;
      z-index: 2;
      width: 200%;
    }

    .analityc-graphics__period-right {
      left: auto;
    }
    .analityc-graphics__periodtext {
      width: 84%;
      bottom: 0;
      left: 0;
      right: inherit;
      margin-top: 0;
      margin-bottom: -40px;

      &_alt {
        width: 18.5%;
        right: 0;
        left: inherit;
      }
    }
  }

  .analityc-table_vmo {
    .table__col_four {
      width: 15.86%;
    }
    .table__col_one {
      width: 7.93%;
    }
  }

  // для таба "Муниципальные округи"

  .services-VMO__content_municipal {
    width: 100%;
    @include clearfix();
    .services-VMO__map-wrapper {
      float: none;
      width: 676px;
      margin-left: -100px;
      z-index: 1;
      img {
        width: 100%;
      }
    }

    .services-VMO__figure {
      float: none;
      width: auto;
      margin-bottom: 33px;
      text-transform: lowercase;
      &::before {
        display: none;
      }
      &-wrapper {
        float: left;
      }
    }
    .services-VMO__digit {
      margin-right: 0;
      font-size: 40px;
      span {
        font-size: 38px;
      }
    }
    .services-VMO__descr {
      display: block;
      padding-left: 3px;
      text-transform: uppercase;
    }
    .services-VMO__subdescr {
      display: block;
      padding-left: 5px;
      font-size: 12px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, .5);
    }
    .analityc-control-group._search {
      margin-left: -62px;
      width: 227px;
      span {
        margin-bottom: 5px;
      }
      .search__tooltip span {
        font-size: 14px;
      }
    }
  }

  .services-VMO__content_municipal-graphics {
    width: 100%;
    .services-VMO__title {
      margin-bottom: 10px;
    }
    .select-wrapper {
      display: inline-block;
      border-bottom: 1px dashed $color-link;
      cursor: pointer;

      svg {
        display: inline-block;
        vertical-align: middle;
        stroke: $color-link;
        fill: $color-link;
        width: 8px;
        height: 8px;
        transition: all .25s ease-in-out;
        &.active {
          transform: rotate(180deg);
        }
      }
    }

    .services-VMO__figure-big {
      font-size: 72px;
      background: -webkit-linear-gradient(right, #ff695b, #9d308a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 55px;
      @media screen\0 {
        color: #ff695b;
      }

      span {
        font-size: 36px;
      }
    }
    .analityc-graphics__heading {
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .analityc-graphics__toptext {
      display: none;
    }
    .analityc-graphics__lines {
      margin-top: 15px;
    }
    .analityc-graphics__line {
      margin-bottom: 3px;

      &:last-child {
        .analityc-graphics__line-total, .analityc-graphics__line-fill {
          display: none;
        }
        .analityc-graphics__line-values {
          color: #898f9f;
        }
        .analityc-graphics__line-bar-value {
          left: 0;
        }
      }
    }
    .analityc-graphics__line-values span {
      display: none;
    }
    .analityc-graphics__line-bar-value {
      right: auto;
      left: 50%;
      margin-right: 0;
      margin-left: 8px;
    }

    .services-VMO__content_line-bar {
      width: 100%;
      margin-bottom: 50px;
      .services-VMO__row {
        @include clearfix();
        margin-bottom: 50px;
      }
      .services-VMO__subtitle {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0;
        float: left;
      }
      .legend {
        float: right;

        &__item_transparentpink::before {
          background: #9f3189;
          background: linear-gradient(0deg,rgba(157,48,138,.4),rgba(255,105,91,.4));
          filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgba(255,105,91,.4),endColorstr=rgba(157,48,138,.4));
        }
      }
    }
    .analityc-graphics-line-vertical_vmo {
      margin-top: 30px;
    }
    .services-VMO__content_bottom {
      @include clearfix();
      width: 100%;
      .services-VMO__subtitle {
        float: left;
        display: inline-block;
        vertical-align: middle;
        width: 19%;
      }
      .services-VMO__right-block {
        float: right;
        display: inline-block;
        vertical-align: middle;
        width: 80%;
      }
      .services-VMO__cursive {
        font-family: $PFDinTextPro;
        font-size: 14px;
        font-style: italic;
        line-height: 18px;
        color: rgba(0,0,0,.6);
        margin-bottom: 20px;
      }
      .services-VMO__list {
        overflow: hidden;
        height: 73px;

        &-wrapper {
          counter-reset: myCounter1;
          height: auto;
          margin: 0;
        }
        &-item {
          padding-left: 33px;
          position: relative;
          font-size: 14px;
          line-height: 20px;
          font-family: $PFDinTextPro;
          list-style: none;
          margin-bottom: 7px;
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            counter-increment: myCounter1;
            content:counter(myCounter1);
            background-color: #4db9d2;
            color: $color-white;
            width: 21px;
            height: 20px;
            border-radius: 50%;
            text-align: center;
          }
        }

        &_income {
          height: 140px;
        }
      }

      .button {
        max-width: 90%;
        margin-top: 27px;
      }
    }
  }
  .tabs__tab[data-tab="VMOsocialEc"] {
    .services-VMO__title {
      margin-bottom: 32px;
    }
    .services-VMO__subtitle {
      border-bottom: 1px solid #cccccc;
      padding-bottom: 7px;
    }
    .services-VMO__content {
      width: 100%;
    }
    .services-VMO__digit {
      font-size: 36px;
      margin-right: 30px;
      span {
        font-size: 18px;
        text-transform: uppercase;
      }
      span.services-VMO__subdescr {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, .7);
      }
    }
    .services-VMO__content_small {
      width: 16.7%;
      display: inline-block;
      vertical-align: top;
      margin-right: 40px;
      margin-top: 0;

      .services-VMO__digit_columns {
        margin-top: 20px;
        span.services-VMO__digit_column {
          width: 15%;
          display: inline-block;
          vertical-align: top;
        }
        span.services-VMO__subdescr {
          display: inline-block !important;
          width: 80%;
        }
      }

      &:last-child {
        margin-right: 0;
      }
      .services-VMO__subtitle {
        height: 80px;
        display: table-cell;
        vertical-align: bottom;

      }
      .services-VMO__digit {
        font-size: 20px;
        margin-right: 0;

        &:nth-child(2) {
          margin-top: 25px;
        }
        span {
          font-size: 20px;
          margin-bottom: 15px;
          line-height: 18px;
        }
        span.services-VMO__subdescr {
          display: block;
          font-size: 12px;
          text-transform: uppercase;
          color: rgba(0, 0, 0, .7);
        }
      }
    }
  }
  .tabs__tab[data-tab="vmoCityDistricts"] {
    .analityc-control-group {
      span {
        display: block;
      }
      @include clearfix;
    }
    .analityc-more {
      float: left;
      clear: left;
      margin-top: 19px;

      // &_bordered {
      //   border-bottom: 1px solid #dcdcdc;
      // }
    }
  }


  .analityc-select_vmo option {
    font-size: 28px;
  }

  .ui-selectmenu-icon {
    display: none;
  }
  .ui-button {
    background: none !important;
  }
  .analityc-graphics-line-vertical:before {
    height: 2px;
  }

  .legend {
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
    @include clearfix;

    &__item {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      height: auto;
      font-size: 14px;
      color: $color-black;
      font-family: $PFDinTextPro;
      &+.legend__item {
        margin-left: 30px;
      }
    }
  }
}

.ui-vmo {
  font-size: 20px;
  font-family: $PFDinCondensedPro;
}
