include ../page-header/page-header
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/tabs/tabs
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/alternative-link/alternative-link
include ../../blocks/table/table
include ../analityc-table/analityc-table
include ../../blocks/search-form/search-form
include ../../blocks/button/button
include ../analityc-graphics/analityc-graphics

mixin depfin_services_VMO()
  +b.SECTION.services-VMO.main._basic.basic-budget.sections__item
    .wrapper
      +page-header('внутригородские муниципальные образования', ['Сервисы'], false).services_VMO__page-header

    //- Tab 1
    .wrapper.wrapper_widget.load-anim-fade(data-delay="1500")
      +e.tabs-control
        a(href="#", class="active", data-tab-target="vmoAll") Все ВМО
        a(href="#", data-tab-target="vmoMunicipalDistricts") Муниципальные округи
        a(href="#", data-tab-target="vmoCityDistricts") Городские округи
        a(href="#", data-tab-target="vmoSettlements") Поселения
        a(href="#", data-tab-target="vmoPassports") Паспорта ВМО
      .analityc-widget.analityc-widget_VMO
        +tabs
          +tabs-tab(data-tab-group="VMO" data-tab="vmoAll")
            +vmoAll()
          +tabs-tab(data-tab-group="VMO" data-tab="vmoMunicipalDistricts")
            +vmoMunicipalDistricts()
          +tabs-tab(data-tab-group="VMO" data-tab="vmoCityDistricts").active
            +vmoCityDistricts()
          +tabs-tab(data-tab-group="VMO" data-tab="vmoSettlements")
            +vmoSettlements()
          +tabs-tab(data-tab-group="VMO" data-tab="vmoPassports")
            +vmoPassports()
    +dropdown().load-anim-fade(data-delay="1700")


//- таб "Все ВМО"
mixin vmoAll()
  .services-VMO__content.services-VMO__content_card
    .services-VMO__map-wrapper
      img(src="assets/images/VMO/allVMO-map.png")
    p.services-VMO__text
      | В соответствии с Законом города Москвы от 06.11.2002 №56 «Об организации местного
      | самоуправления в городе Москве» местное самоуправление осуществляется во внутригородских
      | муниципальных образованиях 3 типов: муниципальные округа, городские округа, поселения.
    .services-VMO__figure.services-VMO__figure_blue
      span.services-VMO__digit.services-VMO__digit_blue 125
      span.services-VMO__descr муниципальных округов
    +alternative-link('Перечень муниципальных образований города Москвы')
      +e.A(href="#").title Мониторинг и оценка качества управления муниципальными финансами
    .services-VMO__figure.services-VMO__figure_orange
      span.services-VMO__digit.services-VMO__digit_orange 2
      span.services-VMO__descr городских округа
    .services-VMO__figure.services-VMO__figure_green
      span.services-VMO__digit.services-VMO__digit_green 19
      span.services-VMO__descr поселений
  .services-VMO__content.services-VMO__content_bottom
    p.services-VMO__text
      | В соответствии со статьей 15 Бюджетного кодекса Российской Федерации каждое
      | внутригородское муниципальное образование имеет собственный бюджет. Бюджет
      | внутригородского муниципального образования предназначен для исполнения расходных
      | обязательств данного внутригородского муниципального образования.
  .services-VMO__content.services-VMO__content_graphics
    .services-VMO__row
      .analityc-control-buttons
        a(href="#").analityc-control-button.analityc-control-button_graphics.active
          +icon('graphic', true)
        a(href="#").analityc-control-button.analityc-control-button_table
          +icon('table', true)
      .legend
        p.legend__item.legend__item_blue доходы
        p.legend__item.legend__item_pink расходы
        p.legend__item.legend__item_green дефицит/профицит
      span-label.services-VMO__label.services-VMO__label_graphics млрд. рублей
      span-label.services-VMO__label.services-VMO__label_table млн. руб.
    .services-VMO__graphics.active
      p.analityc-graphics__periodtext
        span Факт
      p.analityc-graphics__periodtext.analityc-graphics__periodtext_alt
        span План
      .analityc-widget-item
        .comp-diagram.comp-diagram_dash-1(id="diagram-1")
          a(href="#" title="Диаграмма 2012 год")
          p.comp-diagram__year 2012
            span.analityc-graphics__period-left
      .analityc-widget-item
        .comp-diagram.comp-diagram_dash-1(id="diagram-2")
          a(href="#" title="Диаграмма 2013 год")
          p.comp-diagram__year 2013
      .analityc-widget-item
        .comp-diagram.comp-diagram_dash-1(id="diagram-3")
          a(href="#" title="Диаграмма 2014 год")
          p.comp-diagram__year 2014
      .analityc-widget-item
        .comp-diagram.comp-diagram_dash-1(id="diagram-001")
          a(href="#" title="Диаграмма 2015 год")
          p.comp-diagram__year 2015
      .analityc-widget-item
        .comp-diagram.comp-diagram_dash-1(id="diagram-002")
          a(href="#" title="Диаграмма 2016 год")
          p.comp-diagram__year 2016
            span.analityc-graphics__period-right
      .analityc-widget-item
        .comp-diagram.comp-diagram_dash-1(id="diagram-003")
          a(href="#" title="Диаграмма 2017 год")
          p.comp-diagram__year 2017
    .services-VMO__table
      +analityc-table_slider()._vmo
        +icon('angle-arrow').section__ar.section__ar_left
        +icon('angle-arrow').section__ar.section__ar_right
        .analityc-table__wrapper
          +table-vmo_slider(getData('vmo1'))

//-таб "Муниципальные округи"
mixin vmoMunicipalDistricts()
  H3.services-VMO__title Муниципальные округи — сводная информация
  .services-VMO__content.services-VMO__content_municipal
    .services-VMO__figure-wrapper
      .services-VMO__figure.services-VMO__figure_blue
        span.services-VMO__descr площадь
        span.services-VMO__digit.services-VMO__digit_blue 1500 
          span га
        span.services-VMO__subdescr 12,3% территории москвы
      .services-VMO__figure.services-VMO__figure_blue
        span.services-VMO__descr население
        span.services-VMO__digit.services-VMO__digit_blue 1 200 000 
          span человек
        span.services-VMO__subdescr 12,3% территории москвы
      .services-VMO__figure.services-VMO__figure_blue
        span.services-VMO__descr плотность населения
        span.services-VMO__digit.services-VMO__digit_blue 5 
          span чел на га
        span.services-VMO__subdescr 12,3% территории москвы
    .services-VMO__map-wrapper
      img(src="assets/images/VMO/mapMunicipales.png")
    .analityc-control-group._search
      span Муниципальные округи
      +searchFormWidget('замоскворечье', 'Введите название района Москвы')
  .services-VMO__content.services-VMO__content_municipal-graphics
    .analityc-control-switcher.analityc-control-switcher_main.analityc-control-switcher_default.active
      a(href="#" data-tab-target="VMOsocialEc") Социально-экономические показатели
      a(href="#" data-tab-target="VMOincome") доходы
      a(href="#" data-tab-target="VMOexpenses").active расходы
    +tabs
      +tabs-tab(data-tab-group="VMOmunicipalDistricts" data-tab="VMOsocialEc")
        H3.services-VMO__title Социально-экономические показатели на конец 
          .select-wrapper
            select.analityc-select.analityc-select_year.analityc-select_vmo
              option(selected) 2015
              option 2016
              option 2017 
            span.ui-year  года
              +icon('caret')
        .services-VMO__content.services-VMO__content_population
          h4.services-VMO__subtitle Население
          .services-VMO__digit.services-VMO__digit_blue 1 200 000 
            span человек
          .services-VMO__digit.services-VMO__digit_blue
            span 600 000 человек (50%)
            span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__digit.services-VMO__digit_blue
            span 600 000 человек (50%)
            span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__digit.services-VMO__digit_blue
            span 600 000 человек (50%)
            span.services-VMO__subdescr 12,3% территории москвы
        .services-VMO__content
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle занятость и заработная плата
            .services-VMO__digit.services-VMO__digit_blue 1 200 000 
              span человек
              span.services-VMO__subdescr среднесписочная численность работников организаций
            .services-VMO__digit.services-VMO__digit_blue
              span 600 000 человек (50%)
              span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle занятость и заработная плата
            .services-VMO__digit.services-VMO__digit_blue 1 200 000 
              span человек
              span.services-VMO__subdescr среднесписочная численность работников организаций
            .services-VMO__digit.services-VMO__digit_blue
              span 600 000 человек (50%)
              span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle Культура и спорт
            .services-VMO__digit.services-VMO__digit_blue
              span 1000 спортивных сооружений
            .services-VMO__digit.services-VMO__digit_blue.services-VMO__digit_columns
              span.services-VMO__digit_column 10
              span.services-VMO__subdescr
                | детско-юношеских спортивных школ на 
                b 10 000 мест (1 место на 5 человек)

          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle Промышленное производство и строительство
            .services-VMO__digit.services-VMO__digit_blue
              span.services-VMO__subdescr 
                | Отгружено товаров собственного производства, выполнено работ и услуг собственными силами
                b на сумму 10 млрд руб.

            .services-VMO__digit.services-VMO__digit_blue
              span.services-VMO__subdescr 
                | Введено в действие жилых домов 
                b общей площадью 1 млн кв. м
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle Розничная торговля
            .services-VMO__digit.services-VMO__digit_blue 
              span.services-VMO__subdescr 
                | Функционирует
                b 1000 объектов 
                | розничной торговли и общественного питания общей площадью 
                b 20 тыс. кв. м
      +tabs-tab(data-tab-group="VMOmunicipalDistricts" data-tab="VMOincome")
        H3.services-VMO__title Доходы муниципальных округов за
          .select-wrapper
            select.analityc-select.analityc-select_year.analityc-select_vmo
              option(selected) 2015
              option 2016
              option 2017 
            span.ui-year  год
              +icon('caret')
        .services-VMO__figure-big 2 750,2 
          span млн руб. 
        +analityc-graphics-line('Структура фактических расходов муниципальных округов за 2016 год', getData('graphic-lines-vmo'))._date-one
        .services-VMO__content.services-VMO__content_line-bar
          .services-VMO__row
            h4.services-VMO__subtitle Динамика доходов муниципальных округов
            .legend
              p.legend__item.legend__item_transparentpink Уточненный план, млн руб.
              p.legend__item.legend__item_pink Исполнение, млн руб.
          +analityc-graphics-line-vertical_vmo(getData('graphic-lines-vertical-vmo'))
          +analityc-graphics-line-vertical-vmo_slider(getData('graphic-lines-vertical-vmo'))
        .services-VMO__content.services-VMO__content_bottom.js-rules
            h4.services-VMO__subtitle Источники доходов
            .services-VMO__right-block
              p.services-VMO__cursive Источники доходов муниципальных округов в соответствии со статьей 5 Закона города Москвы от 23.11.2016 г. № 42 "О бюджете города Москвы на 2017 год и плановый период 2018 и 2019 годов"
              .services-VMO__list.services-VMO__list_income
                ol.services-VMO__list-wrapper
                  li.services-VMO__list-item 
                    | Налоговые доходы в части отчислений от налога на доходы физических лиц по установленным нормативам с доходов:
                    br
                    | а) источником которых является налоговый агент, за исключением доходов, в отношении которых исчисление и уплата налога осуществляются в соответствии со статьями 227, 227.1 и 228 Налогового кодекса Российской Федерации;
                    br
                    | б) полученных от осуществления деятельности физическими лицами, зарегистрированными в качестве индивидуальных предпринимателей, нотариусов, занимающихся частной практикой, адвокатов, учредивших адвокатские кабинеты, и других лиц, занимающихся частной практикой, в соответствии со статьей 227 Налогового кодекса Российской Федерации;
                    br
                    | в) полученных физическими лицами в соответствии со статьей 228 Налогового кодекса Российской Федерации;
                  li.services-VMO__list-item Утверждение положения о бюджетном процессе в муниципальном образовании
                  li.services-VMO__list-item Владение, пользование и распоряжение имуществом, находящимся в муниципальной собственности
                  li.services-VMO__list-item еще пункт
                  li.services-VMO__list-item и еще один
              +button()._kind_white Показать все источники доходов
      +tabs-tab(data-tab-group="VMOmunicipalDistricts" data-tab="VMOexpenses").active
        H3.services-VMO__title расходы муниципальных округов за 
          .select-wrapper
            select.analityc-select.analityc-select_year.analityc-select_vmo
              option(selected) 2015
              option 2016
              option 2017 
            span.ui-year  год
              +icon('caret')
        .services-VMO__figure-big 2 750,2 
          span млн руб. 
        +analityc-graphics-line('Структура фактических расходов муниципальных округов за 2016 год', getData('graphic-lines-vmo'))._date-one
        .services-VMO__content.services-VMO__content_line-bar
          .services-VMO__row
            h4.services-VMO__subtitle Динамика расходов муниципальных округов
            .legend
              p.legend__item.legend__item_transparentpink Уточненный план, млн руб.
              p.legend__item.legend__item_pink Исполнение, млн руб.
          +analityc-graphics-line-vertical_vmo(getData('graphic-lines-vertical-vmo'))
          +analityc-graphics-line-vertical-vmo_slider(getData('graphic-lines-vertical-vmo'))
        .services-VMO__content.services-VMO__content_bottom.js-rules
            h4.services-VMO__subtitle Полномочия
            .services-VMO__right-block
              p.services-VMO__cursive
                | Полномочия муниципальных округов в соответствии со статьей 8 Закона города
                | Москвы от 06.11.2002 г. № 56 (в ред. закона г. Москвы от 28.12.2016 г. № 55)
                | «Об организации местного самоуправления в городе Москве»:
              .services-VMO__list
                ol.services-VMO__list-wrapper
                  li.services-VMO__list-item Формирование, утверждение, исполнение местного бюджета и контроль за его исполнением, утверждение отчета об исполнении местного бюджета в соответствии с федеральным законодательством и законами города Москвы
                  li.services-VMO__list-item Утверждение положения о бюджетном процессе в муниципальном образовании
                  li.services-VMO__list-item Владение, пользование и распоряжение имуществом, находящимся в муниципальной собственности
                  li.services-VMO__list-item еще пункт
                  li.services-VMO__list-item и еще один
              +button()._kind_white Показать все полномочия

//-таб "Городские округи"
mixin vmoCityDistricts()
  H3.services-VMO__title Городские округи — сводная информация
  .services-VMO__content.services-VMO__content_municipal
    .services-VMO__figure-wrapper
      .services-VMO__figure.services-VMO__figure_orange
        span.services-VMO__descr площадь
        span.services-VMO__digit.services-VMO__digit_orange 1500 
          span га
        span.services-VMO__subdescr 12,3% территории москвы
      .services-VMO__figure.services-VMO__figure_orange
        span.services-VMO__descr население
        span.services-VMO__digit.services-VMO__digit_orange 1 200 000 
          span человек
        span.services-VMO__subdescr 12,3% территории москвы
      .services-VMO__figure.services-VMO__figure_orange
        span.services-VMO__descr плотность населения
        span.services-VMO__digit.services-VMO__digit_orange 5 
          span чел на га
        span.services-VMO__subdescr 12,3% территории москвы
    .services-VMO__map-wrapper
      img(src="assets/images/VMO/cityMap.png")
    .analityc-control-group._search
      span Городские округи
      a(href="/").analityc-more.analityc-more_bordered Троицк
      a(href="/").analityc-more Щербинка
  .services-VMO__content.services-VMO__content_municipal-graphics
    .analityc-control-switcher.analityc-control-switcher_main.analityc-control-switcher_default.active
      a(href="#" data-tab-target="VMOsocialEc").active Социально-экономические показатели
      a(href="#" data-tab-target="VMOincome") доходы
      a(href="#" data-tab-target="VMOexpenses") расходы
    +tabs
      +tabs-tab(data-tab-group="VMOmunicipalDistricts" data-tab="VMOsocialEc").active
        H3.services-VMO__title Социально-экономические показатели на конец 
          .select-wrapper
            select.analityc-select.analityc-select_year.analityc-select_vmo
              option(selected) 2015
              option 2016
              option 2017 
            span.ui-year  года
              +icon('caret')
        .services-VMO__content.services-VMO__content_population
          h4.services-VMO__subtitle Население
          .services-VMO__digit.services-VMO__digit_orange 1 200 000 
            span человек
          .services-VMO__digit.services-VMO__digit_orange
            span 600 000 человек (50%)
            span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__digit.services-VMO__digit_orange
            span 600 000 человек (50%)
            span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__digit.services-VMO__digit_orange
            span 600 000 человек (50%)
            span.services-VMO__subdescr 12,3% территории москвы
        .services-VMO__content
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle занятость и заработная плата
            .services-VMO__digit.services-VMO__digit_orange 1 200 000 
              span человек
              span.services-VMO__subdescr среднесписочная численность работников организаций
            .services-VMO__digit.services-VMO__digit_orange
              span 600 000 человек (50%)
              span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle занятость и заработная плата
            .services-VMO__digit.services-VMO__digit_orange 1 200 000 
              span человек
              span.services-VMO__subdescr среднесписочная численность работников организаций
            .services-VMO__digit.services-VMO__digit_orange
              span 600 000 человек (50%)
              span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle Культура и спорт
            .services-VMO__digit.services-VMO__digit_orange
              span 1000 спортивных сооружений
            .services-VMO__digit.services-VMO__digit_orange.services-VMO__digit_columns
              span.services-VMO__digit_column 10
              span.services-VMO__subdescr
                | детско-юношеских спортивных школ на 
                b 10 000 мест (1 место на 5 человек)

          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle Промышленное производство и строительство
            .services-VMO__digit.services-VMO__digit_orange
              span.services-VMO__subdescr 
                | Отгружено товаров собственного производства, выполнено работ и услуг собственными силами
                b на сумму 10 млрд руб.

            .services-VMO__digit.services-VMO__digit_orange
              span.services-VMO__subdescr 
                | Введено в действие жилых домов 
                b общей площадью 1 млн кв. м
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle Розничная торговля
            .services-VMO__digit.services-VMO__digit_orange 
              span.services-VMO__subdescr 
                | Функционирует
                b 1000 объектов 
                | розничной торговли и общественного питания общей площадью 
                b 20 тыс. кв. м
      +tabs-tab(data-tab-group="VMOmunicipalDistricts" data-tab="VMOincome")
        H3.services-VMO__title Доходы муниципальных округов за
          .select-wrapper
            select.analityc-select.analityc-select_year.analityc-select_vmo
              option(selected) 2015
              option 2016
              option 2017 
            span.ui-year  год
              +icon('caret')
        .services-VMO__figure-big 2 750,2 
          span млн руб. 
        +analityc-graphics-line('Структура фактических расходов муниципальных округов за 2016 год', getData('graphic-lines-vmo'))._date-one
        .services-VMO__content.services-VMO__content_line-bar
          .services-VMO__row
            h4.services-VMO__subtitle Динамика доходов муниципальных округов
            .legend
              p.legend__item.legend__item_transparentpink Уточненный план, млн руб.
              p.legend__item.legend__item_pink Исполнение, млн руб.
          +analityc-graphics-line-vertical_vmo(getData('graphic-lines-vertical-vmo'))
          +analityc-graphics-line-vertical-vmo_slider(getData('graphic-lines-vertical-vmo'))
        .services-VMO__content.services-VMO__content_bottom.js-rules
            h4.services-VMO__subtitle Источники доходов
            .services-VMO__right-block
              p.services-VMO__cursive Источники доходов муниципальных округов в соответствии со статьей 5 Закона города Москвы от 23.11.2016 г. № 42 "О бюджете города Москвы на 2017 год и плановый период 2018 и 2019 годов"
              .services-VMO__list.services-VMO__list_income
                ol.services-VMO__list-wrapper
                  li.services-VMO__list-item 
                    | Налоговые доходы в части отчислений от налога на доходы физических лиц по установленным нормативам с доходов:
                    br
                    | а) источником которых является налоговый агент, за исключением доходов, в отношении которых исчисление и уплата налога осуществляются в соответствии со статьями 227, 227.1 и 228 Налогового кодекса Российской Федерации;
                    br
                    | б) полученных от осуществления деятельности физическими лицами, зарегистрированными в качестве индивидуальных предпринимателей, нотариусов, занимающихся частной практикой, адвокатов, учредивших адвокатские кабинеты, и других лиц, занимающихся частной практикой, в соответствии со статьей 227 Налогового кодекса Российской Федерации;
                    br
                    | в) полученных физическими лицами в соответствии со статьей 228 Налогового кодекса Российской Федерации;
                  li.services-VMO__list-item Утверждение положения о бюджетном процессе в муниципальном образовании
                  li.services-VMO__list-item Владение, пользование и распоряжение имуществом, находящимся в муниципальной собственности
                  li.services-VMO__list-item еще пункт
                  li.services-VMO__list-item и еще один
              +button()._kind_white Показать все источники доходов
      +tabs-tab(data-tab-group="VMOmunicipalDistricts" data-tab="VMOexpenses")
        H3.services-VMO__title расходы муниципальных округов за 
          .select-wrapper
            select.analityc-select.analityc-select_year.analityc-select_vmo
              option(selected) 2015
              option 2016
              option 2017 
            span.ui-year  год
              +icon('caret')
        .services-VMO__figure-big 2 750,2 
          span млн руб. 
        +analityc-graphics-line('Структура фактических расходов муниципальных округов за 2016 год', getData('graphic-lines-vmo'))._date-one
        .services-VMO__content.services-VMO__content_line-bar
          .services-VMO__row
            h4.services-VMO__subtitle Динамика расходов муниципальных округов
            .legend
              p.legend__item.legend__item_transparentpink Уточненный план, млн руб.
              p.legend__item.legend__item_pink Исполнение, млн руб.
          +analityc-graphics-line-vertical_vmo(getData('graphic-lines-vertical-vmo'))
          +analityc-graphics-line-vertical-vmo_slider(getData('graphic-lines-vertical-vmo'))
        .services-VMO__content.services-VMO__content_bottom.js-rules
            h4.services-VMO__subtitle Полномочия
            .services-VMO__right-block
              p.services-VMO__cursive
                | Полномочия муниципальных округов в соответствии со статьей 8 Закона города
                | Москвы от 06.11.2002 г. № 56 (в ред. закона г. Москвы от 28.12.2016 г. № 55)
                | «Об организации местного самоуправления в городе Москве»:
              .services-VMO__list
                ol.services-VMO__list-wrapper
                  li.services-VMO__list-item Формирование, утверждение, исполнение местного бюджета и контроль за его исполнением, утверждение отчета об исполнении местного бюджета в соответствии с федеральным законодательством и законами города Москвы
                  li.services-VMO__list-item Утверждение положения о бюджетном процессе в муниципальном образовании
                  li.services-VMO__list-item Владение, пользование и распоряжение имуществом, находящимся в муниципальной собственности
                  li.services-VMO__list-item еще пункт
                  li.services-VMO__list-item и еще один
              +button()._kind_white Показать все полномочия

//-таб "Поселения"
mixin vmoSettlements()
  H3.services-VMO__title Поселения — сводная информация
  .services-VMO__content.services-VMO__content_municipal
    .services-VMO__figure-wrapper
      .services-VMO__figure.services-VMO__figure_green
        span.services-VMO__descr площадь
        span.services-VMO__digit.services-VMO__digit_green 1500 
          span га
        span.services-VMO__subdescr 12,3% территории москвы
      .services-VMO__figure.services-VMO__figure_green
        span.services-VMO__descr население
        span.services-VMO__digit.services-VMO__digit_green 1 200 000 
          span человек
        span.services-VMO__subdescr 12,3% территории москвы
      .services-VMO__figure.services-VMO__figure_green
        span.services-VMO__descr плотность населения
        span.services-VMO__digit.services-VMO__digit_green 5 
          span чел на га
        span.services-VMO__subdescr 12,3% территории москвы
    .services-VMO__map-wrapper
      img(src="assets/images/VMO/cityMap.png")
    .analityc-control-group._search
      span Поселения
      +searchFormWidget('внуковское', 'Введите название поселения')
  .services-VMO__content.services-VMO__content_municipal-graphics
    .analityc-control-switcher.analityc-control-switcher_main.analityc-control-switcher_default.active
      a(href="#" data-tab-target="VMOsocialEc").active Социально-экономические показатели
      a(href="#" data-tab-target="VMOincome") доходы
      a(href="#" data-tab-target="VMOexpenses") расходы
    +tabs
      +tabs-tab(data-tab-group="VMOmunicipalDistricts" data-tab="VMOsocialEc").active
        H3.services-VMO__title Социально-экономические показатели на конец 
          .select-wrapper
            select.analityc-select.analityc-select_year.analityc-select_vmo
              option(selected) 2015
              option 2016
              option 2017 
            span.ui-year  года
              +icon('caret')
        .services-VMO__content.services-VMO__content_population
          h4.services-VMO__subtitle Население
          .services-VMO__digit.services-VMO__digit_green 1 200 000 
            span человек
          .services-VMO__digit.services-VMO__digit_green
            span 600 000 человек (50%)
            span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__digit.services-VMO__digit_green
            span 600 000 человек (50%)
            span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__digit.services-VMO__digit_green
            span 600 000 человек (50%)
            span.services-VMO__subdescr 12,3% территории москвы
        .services-VMO__content
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle занятость и заработная плата
            .services-VMO__digit.services-VMO__digit_green 1 200 000 
              span человек
              span.services-VMO__subdescr среднесписочная численность работников организаций
            .services-VMO__digit.services-VMO__digit_green
              span 600 000 человек (50%)
              span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle занятость и заработная плата
            .services-VMO__digit.services-VMO__digit_green 1 200 000 
              span человек
              span.services-VMO__subdescr среднесписочная численность работников организаций
            .services-VMO__digit.services-VMO__digit_green
              span 600 000 человек (50%)
              span.services-VMO__subdescr 12,3% территории москвы
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle Культура и спорт
            .services-VMO__digit.services-VMO__digit_green
              span 1000 спортивных сооружений
            .services-VMO__digit.services-VMO__digit_green.services-VMO__digit_columns
              span.services-VMO__digit_column 10
              span.services-VMO__subdescr
                | детско-юношеских спортивных школ на 
                b 10 000 мест (1 место на 5 человек)

          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle Промышленное производство и строительство
            .services-VMO__digit.services-VMO__digit_green
              span.services-VMO__subdescr 
                | Отгружено товаров собственного производства, выполнено работ и услуг собственными силами
                b на сумму 10 млрд руб.

            .services-VMO__digit.services-VMO__digit_green
              span.services-VMO__subdescr 
                | Введено в действие жилых домов 
                b общей площадью 1 млн кв. м
          .services-VMO__content.services-VMO__content_small
            h4.services-VMO__subtitle Розничная торговля
            .services-VMO__digit.services-VMO__digit_green 
              span.services-VMO__subdescr 
                | Функционирует
                b 1000 объектов 
                | розничной торговли и общественного питания общей площадью 
                b 20 тыс. кв. м
      +tabs-tab(data-tab-group="VMOmunicipalDistricts" data-tab="VMOincome")
        H3.services-VMO__title Доходы муниципальных округов за
          .select-wrapper
            select.analityc-select.analityc-select_year.analityc-select_vmo
              option(selected) 2015
              option 2016
              option 2017 
            span.ui-year  год
              +icon('caret')
        .services-VMO__figure-big 2 750,2 
          span млн руб. 
        +analityc-graphics-line('Структура фактических расходов муниципальных округов за 2016 год', getData('graphic-lines-vmo'))._date-one
        .services-VMO__content.services-VMO__content_line-bar
          .services-VMO__row
            h4.services-VMO__subtitle Динамика доходов муниципальных округов
            .legend
              p.legend__item.legend__item_transparentpink Уточненный план, млн руб.
              p.legend__item.legend__item_pink Исполнение, млн руб.
          +analityc-graphics-line-vertical_vmo(getData('graphic-lines-vertical-vmo'))
          +analityc-graphics-line-vertical-vmo_slider(getData('graphic-lines-vertical-vmo'))
        .services-VMO__content.services-VMO__content_bottom.js-rules
            h4.services-VMO__subtitle Источники доходов
            .services-VMO__right-block
              p.services-VMO__cursive Источники доходов муниципальных округов в соответствии со статьей 5 Закона города Москвы от 23.11.2016 г. № 42 "О бюджете города Москвы на 2017 год и плановый период 2018 и 2019 годов"
              .services-VMO__list.services-VMO__list_income
                ol.services-VMO__list-wrapper
                  li.services-VMO__list-item 
                    | Налоговые доходы в части отчислений от налога на доходы физических лиц по установленным нормативам с доходов:
                    br
                    | а) источником которых является налоговый агент, за исключением доходов, в отношении которых исчисление и уплата налога осуществляются в соответствии со статьями 227, 227.1 и 228 Налогового кодекса Российской Федерации;
                    br
                    | б) полученных от осуществления деятельности физическими лицами, зарегистрированными в качестве индивидуальных предпринимателей, нотариусов, занимающихся частной практикой, адвокатов, учредивших адвокатские кабинеты, и других лиц, занимающихся частной практикой, в соответствии со статьей 227 Налогового кодекса Российской Федерации;
                    br
                    | в) полученных физическими лицами в соответствии со статьей 228 Налогового кодекса Российской Федерации;
                  li.services-VMO__list-item Утверждение положения о бюджетном процессе в муниципальном образовании
                  li.services-VMO__list-item Владение, пользование и распоряжение имуществом, находящимся в муниципальной собственности
                  li.services-VMO__list-item еще пункт
                  li.services-VMO__list-item и еще один
              +button()._kind_white Показать все источники доходов
      +tabs-tab(data-tab-group="VMOmunicipalDistricts" data-tab="VMOexpenses")
        H3.services-VMO__title расходы муниципальных округов за 
          .select-wrapper
            select.analityc-select.analityc-select_year.analityc-select_vmo
              option(selected) 2015
              option 2016
              option 2017 
            span.ui-year  год
              +icon('caret')
        .services-VMO__figure-big 2 750,2 
          span млн руб. 
        +analityc-graphics-line('Структура фактических расходов муниципальных округов за 2016 год', getData('graphic-lines-vmo'))._date-one
        .services-VMO__content.services-VMO__content_line-bar
          .services-VMO__row
            h4.services-VMO__subtitle Динамика расходов муниципальных округов
            .legend
              p.legend__item.legend__item_transparentpink Уточненный план, млн руб.
              p.legend__item.legend__item_pink Исполнение, млн руб.
          +analityc-graphics-line-vertical_vmo(getData('graphic-lines-vertical-vmo'))
          +analityc-graphics-line-vertical-vmo_slider(getData('graphic-lines-vertical-vmo'))
        .services-VMO__content.services-VMO__content_bottom.js-rules
            h4.services-VMO__subtitle Полномочия
            .services-VMO__right-block
              p.services-VMO__cursive
                | Полномочия муниципальных округов в соответствии со статьей 8 Закона города
                | Москвы от 06.11.2002 г. № 56 (в ред. закона г. Москвы от 28.12.2016 г. № 55)
                | «Об организации местного самоуправления в городе Москве»:
              .services-VMO__list
                ol.services-VMO__list-wrapper
                  li.services-VMO__list-item Формирование, утверждение, исполнение местного бюджета и контроль за его исполнением, утверждение отчета об исполнении местного бюджета в соответствии с федеральным законодательством и законами города Москвы
                  li.services-VMO__list-item Утверждение положения о бюджетном процессе в муниципальном образовании
                  li.services-VMO__list-item Владение, пользование и распоряжение имуществом, находящимся в муниципальной собственности
                  li.services-VMO__list-item еще пункт
                  li.services-VMO__list-item и еще один
              +button()._kind_white Показать все полномочия
//- таб "Паспорт ВМО"
mixin vmoPassports()
  H3.services-VMO__title Мониторинг и оценка качества управления муниципальными финансами
  .analityc-control-group._year
    span Год
    select.analityc-select
      option(selected) 2017
      option 2016
      option 2015
  .services-VMO__content
    h4.services-VMO__subtitle Информация о результатах проведения мониторинга и оценки качества управления муниципальными финансами
    p.services-VMO__text
      | Департаментом финансов города Москва в соответствии с приказом от 31.12.2014 № 244 
      | были проведены мониторинг соблюдения требований бюджетного законодательства, мониторинг
      | и оценка качества организации и осуществления бюджетного процесса во внутригородских
      | муниципальных образованиях в городе Москва (далее – ВМО) за 2015 год (далее – мониторинг).
    p.services-VMO__text
      | Мониторинг проводился на основании данных бюджетной (бухгалтерской) отчетности,
      | решений представительных органов местного самоуправления о бюджетах ВМО, об утверждении
      | годовых отчетов об исполнении бюджетов ВМО, а также сведений, размещенных на официальный сайтах ВМО.
  .services-VMO__content.services-VMO__content_rate
    .services-VMO__cols
      .services-VMO__col
        h4.services-VMO__subtitle По результатам мониторинга составлен рейтинг ВМО и присвоены следующие степени качества управления муниципальными финансами: 
      .services-VMO__col
        | I степень качества, высокое качество управления финансами – 
        a(href="#") 6 ВМО (4,1 % от общего количества ВМО)
      .services-VMO__col
        | II степень качества, удовлетворительный уровень организации бюджетного процесса – 
        a(href="#") 100 ВМО (68,5 %)
      .services-VMO__col
        | III степень качества, ненадлежащее качество управления финансами – 
        a(href="#") 40 ВМО (27,4 %)
  .services-VMO__table
    .services-VMO__table-head
      span.services-VMO__table-head_place Место
      span.services-VMO__table-head_mun Муниципальный округ
      span.services-VMO__table-head_quality Уровень качества
    .services-VMO__table__wrapper
      .vmoPassport-table.scroll-pane
        -for (var i=0; i<6; i++)
          .table__row.table__row_green
            .table__col.table__col_one= i+1
            .table__col.table__col_two
              img(src="assets/images/VMO/gerb_ivan.jpg")
              span Муниципальный округ Ивановское
            .table__col.table__col_three Высокое качество
        -for (var i=0; i<100; i++)
          .table__row.table__row_yellow
            .table__col.table__col_one= i+7
            .table__col.table__col_two
              img(src="assets/images/VMO/gerb_ivan.jpg")
              span Муниципальный округ Ивановское
            .table__col.table__col_three Удовлетворительный уровень
        -for (var i=0; i<40; i++)
          .table__row.table__row_red
            .table__col.table__col_one= i+107
            .table__col.table__col_two
              img(src="assets/images/VMO/gerb_ivan.jpg")
              span Муниципальный округ Ивановское
            .table__col.table__col_three Ненадлежащее качество
