include depfin_services_VMO


mixin vmoRate()
  +b.SECTION.services-VMO.main._basic.basic-budget.sections__item
    .wrapper-header
      +page-header('внутригородские муниципальные образования', ['Сервисы'], false)

    //- Tab 1
    .wrapper.wrapper_widget.load-anim-fade(data-delay="1500")
      .services-VMO__lg.services-VMO__lg_left-lg.services-VMO__lg_color-black
      .services-VMO__lg.services-VMO__lg_right-lg.services-VMO__lg_color-black.active
      +e.tabs-wrapper
        +e.tabs-control
          a(href="#", data-tab-target="vmoAll") Все ВМО
          a(href="#", data-tab-target="vmoMunicipalDistricts") Муниципальные округи
          a(href="#", data-tab-target="vmoCityDistricts") Городские округи
          a(href="#", data-tab-target="vmoSettlements") Поселения
          a(href="#", class="active", data-tab-target="vmoPassports") Паспорта ВМО
      .analityc-widget.analityc-widget_VMO
        +tabs
          +tabs-tab(data-tab-group="VMOpass" data-tab="vmoAll")
            +vmoAll()
          +tabs-tab(data-tab-group="VMOpass" data-tab="vmoMunicipalDistricts")
            +vmoMunicipalDistricts()
          +tabs-tab(data-tab-group="VMOpass" data-tab="vmoCityDistricts")
            +vmoCityDistricts()
          +tabs-tab(data-tab-group="VMOpass" data-tab="vmoSettlements")
            +vmoSettlements()
          +tabs-tab(data-tab-group="VMOpass" data-tab="vmoPassports").active.vmopass
            +vmoRateContent()
    +dropdown().load-anim-fade(data-delay="1700")

mixin vmoRateContent()
  H3.services-VMO__title Мониторинг и оценка качества управления муниципальными финансами
  .analityc-control-group._year
    span.selectbox-year Год
    +selectbox('year', [{"val":"opt1", "text":"2017"}, {"val":"opt2", "text":"2016"}]).selectbox_vmo
  .services-VMO__content.services-VMO__content_text
    h4.services-VMO__subtitle Информация о результатах проведения мониторинга и оценки качества управления муниципальными финансами
    p.services-VMO__text
      | Департаментом финансов города Москва в соответствии с приказом от 31.12.2014 № 244 
      | были проведены мониторинг соблюдения требований бюджетного законодательства, мониторинг
      | и оценка качества организации и осуществления бюджетного процесса во внутригородских
      | муниципальных образованиях в городе Москва (далее – ВМО) за 2015 год (далее – мониторинг).
    p.services-VMO__text
      | Мониторинг проводился на основании данных бюджетной (бухгалтерской) отчетности,
      | решений представительных органов местного самоуправления о бюджетах ВМО, об утверждении
      | годовых отчетов об исполнении бюджетов ВМО, а также сведений, размещенных на официальный сайтах ВМО.
  .services-VMO__content.services-VMO__content_rate
    .services-VMO__cols
      .services-VMO__col
        h4.services-VMO__subtitle По результатам мониторинга составлен рейтинг ВМО и присвоены следующие степени качества управления муниципальными финансами: 
      .services-VMO__col
        | I степень качества, высокое качество управления финансами – 
        a(href="#") 6 ВМО (4,1 % от общего количества ВМО)
      .services-VMO__col
        | II степень качества, удовлетворительный уровень организации бюджетного процесса – 
        a(href="#") 100 ВМО (68,5 %)
      .services-VMO__col
        | III степень качества, ненадлежащее качество управления финансами – 
        a(href="#") 40 ВМО (27,4 %)
  .services-VMO__table
    .services-VMO__table__wrapper
      .services-VMO__table-head
        span.services-VMO__table-head_place Место
        span.services-VMO__table-head_mun Муниципальный округ
        span.services-VMO__table-head_quality Уровень качества
      .vmoPassport-table.scroll-pane
      

        -for (var i=0; i<6; i++)
          .table__row.table__row_green
            .table__col.table__col_one= i+1
            .table__col.table__col_two
              img(src="assets/images/VMO/gerb_ivan.jpg")
              span Муниципальный округ Ивановское
            .table__col.table__col_three Высокое качество
        -for (var i=0; i<100; i++)
          .table__row.table__row_yellow
            .table__col.table__col_one= i+7
            .table__col.table__col_two
              img(src="assets/images/VMO/gerb_ivan.jpg")
              span Муниципальный округ Ивановское
            .table__col.table__col_three Удовлетворительный уровень
        -for (var i=0; i<40; i++)
          .table__row.table__row_red
            .table__col.table__col_one= i+107
            .table__col.table__col_two
              img(src="assets/images/VMO/gerb_ivan.jpg")
              span Муниципальный округ Ивановское
            .table__col.table__col_three Ненадлежащее качество
