.main {
  min-height: 100%;
}
.main {
  min-width: initial;
}
.main {
  margin: 0 auto;
  font-size: 0;
  font-weight: 500;
  font-family: $PFDinCondensedPro;
}
.main {
  min-height: 100%;
}
.basic-budget {
  background: #282635 url(../images/basic-budget/bg.png) top center no-repeat;
  background-size: 100%;
  padding-top: 170px;
  color: black;
}
.wrapper {
  position: relative;
//  max-width: 1100px;
  margin: 0 auto;
}

.analityc-control-group._dp-alt {
  display: none;

  .jq-spec-datepicker-alt {
    padding: 0 0 0 11px;

    &::placeholder {
      color: $color-black;
    }
  }
}

.analityc-widget_figures {
  .jq-spec-datepicker {
    padding: 0 0 0 11px;
  }
}

.wrapper {
  margin: 0 auto;
  height: 100%;
}
.d-si__head_icons {
  float: left;
  margin-left: 22px;
  margin-top: 10px;
}
.d-si__head_icons {
  margin-bottom: 16px;
}
.basic-budget .d-si__head_icons {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.basic-budget .ui-datepicker-inline {
  display: none !important;
}
.main a {
  text-decoration: none;
}
.d-si__icons_item {
  float: left;
  display: block;
}
.d-si__icons_item:nth-child(1) {
  background: url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;
  width: 24px;
  height: 23px;
}
.d-si__icons_item:nth-child(1) {
  background: none;
}
.d-si__icons_item:nth-child(1):hover path {
  stroke: rgb(254, 227, 0);
}
.d-si__icons_item:nth-child(2) {
  background: url(../images/depfin-services-interview/icon-rss.svg) no-repeat;
  width: 16px;
  height: 19px;
  margin-left: 13px;
  margin-top: 3px;
}
.d-si__icons_item:nth-child(2) {
  background: none;
}
.d-si__icons_item:nth-child(2):hover path {
  fill: rgb(254, 227, 0);
}
.d-si__icons_item:nth-child(3) {
  background: url(../images/depfin-services-interview/icon-dl.svg) no-repeat;
  width: 18px;
  height: 18px;
  margin-left: 13px;
  margin-top: 3px;
}
.d-si__icons_item:nth-child(3) {
  background: none;
}
.d-si__icons_item:nth-child(3):hover path {
  fill: rgb(254, 227, 0);
}
.d-si__icons_item path {
  transition: 0.3s;
}
.d-layer::after,
.d-si__head::after,
.d-si__head_icons::after,
.d-si__search-form::after {
  content: '';
  clear: both;
}
.d-layer::after,
.d-si__head::after,
.d-si__head_icons::after {
  display: table;
}
.analityc-widget {
  background: white;
  padding: 20px 40px 20px 40px;
  position: relative;
}
.basic-budget .analityc-widget {
  margin-top: 41px;
  margin-bottom: 109px;
}
.analityc-control-group {
  display: inline-block;
  vertical-align: top;
}
.analityc-control-group._year {
  width: 6.8%;
}
.analityc-control-group > span {
  text-transform: uppercase;
  font-size: 18px;
  color: black;
}
.analityc-select {
  box-sizing: content-box;
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  background: #f5f5f5 url(../images/select-ar.png) 96% 13px no-repeat;
  background-size: 9px;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  width: calc(100% - 12px);
  margin-top: 5px;
  height: 30px;
  padding: 0px 0 0px 12px;
  color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: inherit;
  font-weight: inherit;
}
.analityc-control-group._year .analityc-select {
  background: #f5f5f5 url(../images/select-ar.svg) 82% 13px no-repeat;
  background-size: 9px;
}
.analityc-select option {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
.analityc-control-group + .analityc-control-group {
  margin-left: 3%;
}
.analityc-control-group._stage {
  width: 33%;

  .analityc-select {
    padding: 0 0 0 11px;
  }
}
.analityc-control-group._level {
  width: 22.9%;

  .analityc-select {
    background-position: 94% 13px;
    padding: 0 0 0 10px;
  }
}
.analityc-control-group._transfer {
  width: 26%;
}
.analityc-control-group._dp, .analityc-control-group._dp-alt {
  margin-left: 9.7%;
  width: 33.2%;
  margin-top: 13px;
  position: relative;
  display: none;

  input {
    border-radius: 3px;
  }

  @media (max-width: 1024px) and (min-width: 768px) {
    width: 40%;
  }
}
.analityc-widget-label {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  top: 123px;
  right: 71px;
}
.analityc-widget-rounds {
  margin-top: 78px;
  text-align: center;
  display: none;
}
.analityc-widget-rounds._active {
  display: block;
}
.analityc-widget-rounds .legend {
  display: block;
  text-align: left;
  font-size: 0;
  margin-top: -38px;
  margin-bottom: 30px;
}
.legend__item {
  color: #FFF;
  font-size: 16px;
  height: 21px;
  line-height: 21px;
  margin-bottom: 17px;
}
.analityc-widget-rounds .legend__item {
  display: inline-block;
  vertical-align: top;
  color: #000;
}
.legend__item:before {
  display: inline-block;
  content: "";
  width: 21px;
  height: 21px;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  margin-right: 7px;
  vertical-align: top;
}
.legend__item_blue:before {
  background: #00a7e7;
  background-image: linear-gradient(to left, #006ed8, #01daf3);
}
.analityc-widget-rounds .legend__item + .legend__item {
  margin-left: 30px;
}
.legend__item_pink:before {
  background: #ce4c72;
  background-image: linear-gradient(to left, #b63e7e, #e55c66);
}
.legend__item_green:before {
  background: #bdd321;
  background-image: linear-gradient(to left, #34ad67, #fee300 65%);
}
.analityc-widget-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.ui-datepicker-month,  .u  i-datepicker-year{
  font-weight: 700;
}

.comp-diagram {
  width: 335px;
  height: 335px;
  padding-top: 33px;
  margin: auto;
  position: relative;
  top: auto;
  left: auto;
  margin-top: auto;
}
.comp-diagram_dash-1 {
  background: url(../images/dash-2.png) no-repeat 50% 0;
}
.analityc-widget-rounds .comp-diagram {
  width: 285px;
}
.comp-diagram__year {
  font-size: 24px;
  font-weight: 500;
  color: #FFF;
  position: absolute;
  left: 50%;
  margin-left: -132px;
  top: 31px;
}
.analityc-widget-rounds .comp-diagram__year {
  color: #000;
}
.comp-diagram__num {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
}
.comp-diagram__num_blue {
  color: #00c5eb;
  bottom: 50%;
  margin-bottom: 38px;
  left: 50%;
  margin-left: -141px;
  transform: rotate(-90deg);
}
.comp-diagram__num_pink {
  color: #F04E70;
  bottom: 50%;
  margin-bottom: 38px;
  left: 50%;
  margin-left: -110px;
  transform: rotate(-90deg);
}
.comp-diagram__num_yellow {
  color: #fee300;
  top: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}
.comp-diagram .svg-wrap {
  width: 270px;
  height: 270px;
  margin: auto;
}
.analityc-widget-item + .analityc-widget-item {
  margin-left: 8%;
}
.analityc-more {
  position: relative;
  font-size: 18px;
  color: #0d46a1;
  text-transform: uppercase;
  margin-top: 39px;
  display: inline-block;
}
.analityc-more:before {
  content: '';
  position: absolute;
  right: -22px;
  top: 4px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 6px solid #0d46a1;
  border-bottom: 5px solid transparent;
}
.analityc-more:hover:before {
  animation: arrow-bounce 1s ease-in forwards infinite;
}
@keyframes arrow-bounce {
  0% {right:-20px;}
  50% {right:-25px;}
  100% {right:-20px;}
}
.dropdown-block {
  position: relative;
  background: #282635;
}
.dropdown-block:before {
  content: '';
  position: absolute;
  top: -100px;
  width: 100%;
  height: 100px;
  left: 0;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(40, 38, 53, 0.87) 78%, rgba(40, 38, 53, 1) 90%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(40, 38, 53, 0.87) 78%, rgba(40, 38, 53, 1) 90%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(40, 38, 53, 0.87) 78%, rgba(40, 38, 53, 1) 90%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#282635', GradientType=0);
}
.dropdown {
  border-top: 1px solid rgba(254, 227, 0, .2);
}
.dropdown-trigger {
  position: relative;
  cursor: pointer;
}
.dropdown-trigger:hover strong {
  color: white;
}
.dropdown-trigger strong {
  display: inline-block;
  color: #fee300;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 60px;
  position: relative;
  transition: 0.3s;
}
.dropdown-trigger strong:before {
  content: '';
  position: absolute;
  right: -24px;
  top: 26px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fee300;
  transition: 0.3s;
}
.dropdown-trigger:hover strong:before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  border-top: 6px solid white;
}
.dropdown-content {
  display: none;
  font-size: 16px;
  color: white;
  padding: 20px 0 45px 0;
}
.basic-budget__dp {
  input {
    position: relative;
    display: inline-block;
    z-index: 3;
    height: 32px;
    line-height: 32px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f5f5f5 url(../images/calendar.svg) 97% 38% no-repeat;
    border: 1px solid #d5d5d5;
    font-size: 14px;
    line-height: 30px;
    padding: 0 7px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (min-width: 901px) and (max-width: 1140px) {
  .basic-budget .wrapper {
    padding-left: 75px;
    padding-right: 74px;
  }
  .analityc-widget {
    padding-top: 22px;
  }
  .basic-budget .analityc-widget {
    margin-top: 27px;
    margin-bottom: 51px;
    padding-bottom: 86px;
  }
  .analityc-control-group {
    margin-bottom: 18px;
  }
  .analityc-control-group._year {
    width: 29.1%;
  }
  .analityc-select {
    margin-top: 11px;
    height: 38px;
    font-size: 16px;
  }
  .analityc-select {
    background: #f5f5f5 url(../images/select-ar.png) 96% 16px no-repeat;
    background-size: 11px;
  }
  .analityc-control-group._year .analityc-select {
    background: #f5f5f5 url(../images/select-ar.png) 94% 16px no-repeat;
    background-size: 11px;
  }
  .analityc-control-group + .analityc-control-group {
    margin-left: 3.8%;
  }
  .analityc-control-group._stage {
    width: 67.1%;
  }
  .analityc-control-group:nth-of-type(3n) {
    margin-left: 0;
  }
  .analityc-control-group._level {
    width: 48.1%;
  }
  .analityc-control-group._transfer {
    width: 48.1%;
  }
  .analityc-control-group._dp, .analityc-control-group._dp-alt {
    margin-left: 0;
  }
  .analityc-widget-label {
    top: 211px;
    right: 42px;
    font-size: 17px;
  }
  .analityc-widget-rounds {
    margin-top: 28px;
    text-align: center;
  }
  .analityc-widget-rounds .legend {
    margin-top: -18px;
  }
  .analityc-widget-item {
    margin-left: 0;
  }
  .analityc-widget-rounds .comp-diagram {
    width: 235px;
  }
  .analityc-widget-item + .analityc-widget-item {
    margin-left: 6%;
  }
  .analityc-more {
    margin-top: 45px;
  }
  .dropdown-block:before {
    height: 50px;
    top: -50px;
  }
  .basic-budget .dropdown .wrapper {
    padding: 0 35px;
  }
  .analityc-widget-rounds .legend__item:before {
    margin-right: 15px;
  }
  .analityc-widget-rounds .large-diagram__svg {
    width: 300px;
    height: 300px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
  .analityc-widget-rounds .large-diagram__percent {
    top: 15px;
  }
  .analityc-control-group._dp.basic-budget__dp, .analityc-control-group._dp-alt.basic-budget__dp {
    width: 48.1%;
    input {
      height: 40px;
      line-height: 42px;
      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 1101px) {
  .analityc-widget-rounds .comp-diagram {
    width: 185px;
  }
  .comp-diagram .svg-wrap, .comp-diagram .svg-wrap .svg {
    width: 170px;
  }
}

@media screen and (min-width: 901px) and (max-width: 1101px) {
  .comp-diagram__num_blue {
    margin-bottom: 27px;
    margin-left: -97px;
  }
  .comp-diagram__num_pink {
    margin-bottom: 27px;
    margin-left: -77px;
  }
  .comp-diagram__num_yellow {
    top: 33px;
  }
}

@media screen and (min-width: 801px) and (max-width: 950px) {
  .basic-budget {
    padding-top: 210px;
  }
}

@media (max-width: 900px) {
  .comp-diagram__num_blue {
    margin-bottom: 0 !important;
    margin-left: -93px;
  }
  .comp-diagram__num_pink {
    margin-bottom: 0 !important;
    margin-left: -72px;
  }
}

@media (min-width: 761px) and (max-width: 900px) {
  .basic-budget .wrapper {
    padding-left: 75px;
    padding-right: 74px;
  }
  .analityc-widget-rounds .legend {
    height: auto;
  }
  .legend__item {
    height: 32px;
    line-height: 32px;
    margin-bottom: 19px;
    font-size: 24px;
  }
  .analityc-widget-rounds .legend__item {
    height: 21px;
    line-height: 21px;
    margin-bottom: 17px;
    font-size: 16px;
    display: block;
  }
  .legend__item:before {
    width: 32px;
    height: 32px;
    -webkit-border-radius: 32px;
    border-radius: 32px;
  }
  .analityc-widget-rounds .legend__item + .legend__item {
    margin-left: 0;
  }
  .comp-diagram {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -167px 0 0 -167px;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
  .analityc-widget-rounds .comp-diagram {
    margin: auto;
    width: auto;
    height: auto;
    padding-top: 33px;
    position: relative;
    top: auto;
    left: auto;
  }

  .analityc-control-group._year {
    width: 29.1%;
  }

  .analityc-control-group._level {
    width: 45%;
  }

  .analityc-control-group._transfer {
    width: 50.5%;
  }

  .analityc-control-group._stage {
    width: 67.1%;
  }

  .analityc-control-group {
    margin-bottom: 18px;
  }
  .analityc-control-group + .analityc-control-group {
    margin-left: 3.8%;
  }
  .analityc-select {
    margin-top: 11px;
    height: 38px;
    font-size: 16px;
  }
  .analityc-select {
    background: #f5f5f5 url(../images/select-ar.png) 96% 16px no-repeat;
    background-size: 11px;
  }
  .analityc-control-group._year .analityc-select {
    background: #f5f5f5 url(../images/select-ar.png) 94% 16px no-repeat;
    background-size: 11px;
  }
  .analityc-widget-label {
    top: 211px;
    right: 42px;
    font-size: 17px;
  }
  .basic-budget .analityc-widget {
    margin-top: 27px;
    margin-bottom: 51px;
    padding-bottom: 86px;
  }
  .analityc-widget-rounds .legend__item:before {
    margin-right: 11px;
  }
  .analityc-control-group._dp.basic-budget__dp {
    width: 45%;
    input {
      height: 40px;
      line-height: 42px;
      padding-left: 10px;
    }
  }
}

@media (min-width: 761px) and (max-width: 900px) {
  .large-diagram__svg, .large-diagram__svg .svg {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 731px) and (max-width: 760px) {
  .large-diagram__svg, .large-diagram__svg .svg {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 901px) {
  .analityc-widget-rounds .comp-diagram {
    width: 225px;
  }
  .comp-diagram .svg-wrap, .comp-diagram .svg-wrap .svg {
    width: 220px;
  }
}

// @media (max-height: 500px) and (max-width: 900px) {
//   .comp-diagram {
//     margin: -115px 0 0 -115px;
//     width: 230px;
//     height: 230px;
//     padding-top: 27px;
//   }
//   .comp-diagram__year {
//     font-size: 15px;
//     margin-left: -87px;
//     top: 17px;
//   }
//   .comp-diagram__num {
//     font-size: 10px;
//   }
//   .comp-diagram__num_blue {
//     margin-bottom: 25px;
//     margin-left: -93px;
//   }
//   .comp-diagram__num_pink {
//     margin-bottom: 25px;
//     margin-left: -72px;
//   }
//   .comp-diagram .svg-wrap {
//     width: 180px;
//     height: 180px;
//   }
//   .comp-diagram .svg-wrap .svg {
//     width: 180px;
//     height: 180px;
//   }
// }

@media screen and (max-width: 800px) {
  .basic-budget {
    padding-top: 100px;
  }
}

@media (min-width: 701px) and (max-width: 760px) {

  .basic-budget .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  .main h1 {
    padding-right: 20px;
    line-height: 67px;
  }
  .analityc-widget {
    padding: 38px 30px 46px 30px;
  }
  .basic-budget .analityc-widget {
    margin-top: 30px;
    margin-bottom: 60px;
  }
  .analityc-control-group {
    margin-left: 0 !important;
    margin-bottom: 29px;
  }
   .analityc-control-group._year {
    width: 50%;
  }
  .analityc-control-group > span {
    font-size: 22px;
  }
  .analityc-select {
    margin-top: 14px;
    height: 58px;
    padding-left: 16px;
    width: calc(100% - 16px);
    font-size: 23px;
    letter-spacing: 0.7px;
  }
  .analityc-select {
    background: #f5f5f5 url(../images/select-ar.svg) 97% 26px no-repeat;
    background-size: 15px;
  }
  .analityc-select option {
    font-size: 22px;
  }
  .analityc-control-group._year .analityc-select {
    background: #f5f5f5 url(../images/select-ar.svg) 94% 26px no-repeat;
    background-size: 15px;
  }

  .analityc-control-group._stage {
    width: 100%;
  }
  .analityc-control-group._level {
    width: 100%;
  }
  .analityc-control-group._transfer {
    width: 100%;
  }
  .analityc-control-group._dp.analityc-control-group._dp-alt {
    width: 50%;
  }
  .analityc-widget-label {
    top: 638px;
    right: 47px;
    font-size: 23px;
  }
  .analityc-widget-item {
    margin-left: 0 !important;
    margin-bottom: 53px;
  }
  .analityc-more {
    margin-top: 14px;
    font-size: 24px;
  }
  .dropdown-trigger strong {
    font-size: 24px;
    line-height: 77px;
  }
  .dropdown-trigger strong:before {
    right: -31px;
    top: 34px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 9px solid #fee300;
  }
  .analityc-control-group {
    margin-bottom: 18px;
  }
  .analityc-control-group + .analityc-control-group {
    margin-left: 3.8%;
  }
  .analityc-widget-rounds .legend__item:before {
    width: 21px;
    height: 21px;
    margin-right: 11px;
  }
}

@media (min-width: 551px) and (max-width: 760px) {
  .analityc-control-group._dp.basic-budget__dp, .analityc-control-group._dp-alt.basic-budget__dp {
    width: 100%;
    input {
      height: 58px;
      line-height: 58px;
      padding-left: 16px;
      font-size: 23px;
      letter-spacing: .7px;
      background-size: 25px;
    }
  }
}

@media (min-width: 551px) and (max-width: 700px) {

  .basic-budget .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
  ._basic .basic-budget {
    padding-top: 81px;
  }
  .legend {
    text-align: justify;
    right: 20px;
    left: 20px;
    bottom: 69px;
    height: 16px;
  }
  .legend:before,
  .legend:after {
    display: block;
    content: "";
    width: 100%;
    height: 0;
  }
  .legend__item {
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    margin: 0;
  }
  .legend__item:before {
    width: 16px;
    height: 16px;
    margin-right: 11px;
  }
  .legend:after {
    display: inline-block;
  }

  .analityc-control-group._stage {
    width: 100%;
  }

  .analityc-control-group._year {
   width: 50%;
 }
 .analityc-control-group._level {
   width: 100%;
 }
 .analityc-control-group._transfer {
   width: 100%;
 }
 .analityc-control-group {
   margin-bottom: 18px;
 }
 .analityc-control-group + .analityc-control-group {
   margin-left: 3.8%;
 }
 .analityc-widget-rounds .legend__item:before {
   width: 21px;
   height: 21px;
 }
 .analityc-select {
   margin-top: 14px;
   height: 58px;
   padding-left: 16px;
   width: calc(100% - 16px);
   font-size: 23px;
   letter-spacing: 0.7px;
 }
 .analityc-select {
   background: #f5f5f5 url(../images/select-ar.svg) 97% 26px no-repeat;
   background-size: 15px;
 }
 .analityc-select option {
   font-size: 22px;
 }
 .analityc-control-group._year .analityc-select {
   background: #f5f5f5 url(../images/select-ar.svg) 94% 26px no-repeat;
   background-size: 15px;
 }
 .analityc-widget-label {
   top: 638px;
   right: 47px;
   font-size: 23px;
 }
 .basic-budget .analityc-widget {
   margin-top: 30px;
   margin-bottom: 60px;
 }
 .analityc-widget {
   padding: 38px 30px 46px 30px;
 }
}

@media (min-width: 451px) and (max-width: 550px) {
  .basic-budget {
    padding-top: 75px;
  }
  .basic-budget .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main h1 {
    line-height: 49px;
    font-size: 51px;
  }
  .basic-budget .analityc-widget {
    padding: 18px 20px 28px 20px;
    margin-bottom: 45px;
  }
  .analityc-control-group {
    margin-bottom: 19px;
  }
  .analityc-control-group > span {
    font-size: 18px;
  }
  .analityc-select {
    margin-top: 8px;
    padding-left: 12px;
    width: calc(100% - 12px);
    height: 40px;
    font-size: 13px;
    letter-spacing: 0;
  }
  .analityc-select {
    background: #f5f5f5 url(../images/select-ar.svg) 97% 17px no-repeat;
    background-size: 10px;
  }
  .analityc-control-group._year .analityc-select {
    background: #f5f5f5 url(../images/select-ar.svg) 94% 17px no-repeat;
    background-size: 10px;
  }
  .analityc-select option {
    font-size: 13px;
  }
  .analityc-control-group._dp.analityc-control-group._dp-alt {
    width: 100%;
    margin-top: 0;
  }
  .analityc-widget-label {
    top: auto;
    position: relative;
    right: auto;
    font-size: 17px;
    left: auto;
  }
  .analityc-widget-rounds {
    margin-top: 45px;
  }
  .analityc-widget-item {
    margin-bottom: 40px;
  }
  .analityc-more {
    margin-top: 3px;
    font-size: 18px;
  }
  .basic-budget .dropdown .wrapper {
    padding: 0 15px;
  }
  .dropdown-trigger strong {
    font-size: 18px;
    line-height: 59px;
  }
  .dropdown-trigger strong:before {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fee300;
    right: -24px;
    top: 26px;
  }
  .analityc-control-group._year {
    width: 50%;
  }
  .analityc-control-group._stage {
    width: 100%;
  }
  .analityc-control-group._level {
   width: 100%;
 }
 .analityc-control-group._transfer {
   width: 100%;
 }
 .analityc-control-group + .analityc-control-group {
   margin-left: 3.8%;
 }
 .analityc-widget-rounds .legend__item:before {
   width: 21px;
   height: 21px;
   margin-right: 11px;
 }
 .analityc-widget {
   padding: 38px 30px 46px 30px;
 }
  .analityc-control-group._dp.basic-budget__dp, .analityc-control-group._dp-alt.basic-budget__dp {
    width: 100%;
    input {
      height: 40px;
      line-height: 42px;
      font-size: 12px;
      padding: 0 12px;
    }
  }
}
@media (max-width: 450px) {
  .basic-budget .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
  .comp-diagram {
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
    padding-top: 27px;
    -webkit-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
  .comp-diagram__year {
    font-size: 15px;
    margin-left: -77px;
    top: 17px;
  }
  .comp-diagram__num {
    font-size: 10px;
  }
  .comp-diagram__num_blue {
    margin-bottom: 25px;
    margin-left: -80px;
  }
  .comp-diagram__num_pink {
    margin-bottom: 25px;
    margin-left: -61px;
  }
  .comp-diagram .svg-wrap {
    width: 150px;
    height: 150px;
  }
  .comp-diagram .svg-wrap .svg {
    width: 150px;
    height: 150px;
  }
  .analityc-control-group._stage {
    width: 100%;
  }
  .analityc-control-group._level {
   width: 100%;
  }
  .analityc-control-group._transfer {
   width: 100%;
  }
  .analityc-control-group._year {
    width: 50%;
  }
  .analityc-control-group {
    margin-bottom: 19px;
  }
  .analityc-control-group + .analityc-control-group {
    margin-left: 3.8%;
  }
  .analityc-widget-rounds .legend__item:before {
    width: 21px;
    height: 21px;
  }
  .analityc-select {
    margin-top: 8px;
    padding-left: 12px;
    width: calc(100% - 12px);
    height: 40px;
    font-size: 13px;
    letter-spacing: 0;
  }
  .analityc-select {
    background: #f5f5f5 url(../images/select-ar.svg) 97% 17px no-repeat;
    background-size: 10px;
  }
  .analityc-control-group._year .analityc-select {
    background: #f5f5f5 url(../images/select-ar.svg) 94% 17px no-repeat;
    background-size: 10px;
  }
  .analityc-select option {
    font-size: 13px;
  }
  .analityc-widget-label {
    top: auto;
    position: relative;
    right: auto;
    font-size: 17px;
    left: auto;
  }
  .basic-budget .analityc-widget {
    padding: 18px 20px 28px 20px;
    margin-bottom: 45px;
    margin-top: 30px;
  }
  .analityc-control-group._dp.basic-budget__dp, .analityc-control-group._dp-alt.basic-budget__dp {
    width: 100%;
    input {
      height: 40px;
      line-height: 42px;
      font-size: 12px;
      padding: 0 12px;
    }
  }
}

@media screen and (max-width: 451px) {
  .comp-diagram__num_blue {
    margin-bottom: 10px;
    margin-left: -80px;
  }
  .comp-diagram__num_pink {
    margin-bottom: 10px;
    margin-left: -61px;
  }
  .comp-diagram__num_yellow {
    top: 18px;
  }
}
