include ../page-header/page-header
include ../../blocks/dropdown-block/dropdown-block

mixin basic_budget_figures()
  .main._basic
    section.basic-budget
      .wrapper
        +page-header('Основные показатели бюджета', false, true)
        .article-controls
          span
          span
          span
        .analityc-widget.analityc-widget_figures
          .analityc-control-group._year
            span Год
            select.analityc-select
              option(selected) 2017
              option 2016
              option 2015
          .analityc-control-group._stage
            span Этап
            select.analityc-select
              option(selected) Закон об исполнении
              option Второй этап
              option Заключительный этап
          .analityc-control-group._level
            span Уровень
            select.analityc-select
              option(selected) Бюджет москвы
              option Бюджет области
              option Бюджет региона
          .analityc-control-group._transfer
            span Межбюджетные трансферы
            select.analityc-select
              option(selected) Без межбюджетных трансфертов
              option с трансфертами
          .analityc-control-group._dp
            input(placeholder="Выберите дату исполнения").datepicker.jq-datepicker.datepicker__show.range-datepicker__item
          span.analityc-widget-label млрд. рублей
          .analityc-widget-rounds._active
            .legend
              p.legend__item.legend__item_blue доходы
              p.legend__item.legend__item_pink расходы
              p.legend__item.legend__item_green дефицит/профицит
            .analityc-widget-item
              .comp-diagram.comp-diagram_dash-1(id="diagram-1")
                a(href="#" title="Диаграмма 2017 год")
                p.comp-diagram__year 2017
            .analityc-widget-item
              .comp-diagram.comp-diagram_dash-1(id="diagram-2")
                a(href="#" title="Диаграмма 2018 год")
                p.comp-diagram__year 2018
            .analityc-widget-item
              .comp-diagram.comp-diagram_dash-1(id="diagram-3")
                a(href="#" title="Диаграмма 2019 год")
                p.comp-diagram__year 2019
          .analityc-widget-rounds
            .analityc-widget-item._incoming
              span
                strong доходы
              .large-diagram__svg(id="diagram-4")
            .analityc-widget-item._outlay
              span
                strong расходы
              .large-diagram__svg(id="diagram-5")
          a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
      +dropdown()
