.wrapper_govdebt {
  padding-bottom: 46px;
}

@keyframes arrow-bounce2 {
  0% {margin-left: 10px;}
  50% {margin-left: 15px;}
  100% {margin-left: 10px;}
}

.gov-debt {
  display: block;
  background: #282635 url(../images/basic-budget/bg.png) top no-repeat;
  background-size: 100%;
  padding-top: 205px;
  color: #000;
  
  .dropdown-block:before {
    display: none;
  }
  
  &__analityc-widget {
    padding-top: 22px;
    margin-top: 48px;
    padding-bottom: 30px;
    
    .analityc-widgethead {
      padding-right: 50%;
    }
    .analityc-control-group>span {
      font-weight: 500;
    }
    .analityc-control-group._year {
      width: 13.4%;
    }
    .analityc-control-group._stage {
      width: 66%;
    }
    .analityc-control-group+.analityc-control-group {
      margin-left: 5.5%;
    }
    .analityc-control-switcher {
      font-size: 0;
      margin-top: 24px;
      a {
        text-decoration: none;
      }
    }
    .analityc-control-group._dp {
      display: none;
      margin-top: 10px;
      margin-left: 19.5%;
      width: 66%;
      &:before {
        background-position: -209px -117px;
      }
    }
    .analityc-more {
      margin-top: 52px;
      font-weight: 500;
      text-decoration: none;
    }
  }
  
  &__analityc-widgethead {
    .analityc-control-switcher {
      display: none;
    }
  }
  
  &__analityc-tab-links {
    position: absolute;
    right: 205px;
    top: 13px;
    width: 344px;
  }
  
  &__analityc-tab-link {
    display: block;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: $color-link;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0;
    transition: all .25s ease-in-out;
    &:after {
      content: "";
      display: inline-block;
      margin-left: 10px;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 6px solid #0d46a1;
      border-bottom: 5px solid transparent;
    }
    & + & {
      border-top: 1px solid #dcdcdc;
    }
    &:hover {
      &:after {
        animation: arrow-bounce2 1s ease-in forwards infinite;
      }
    }
    &.active {
      color: #000;
      &:after {
        display: none;
      }
    }
  }
  
  &__analityc-graphics {
    // approved
    &.analityc-graphics_approved {
      margin-top: 110px;
      margin-bottom: 44px;
      .analityc-graphics__legend {
        margin-top: 40px;
        padding: 0 28px;
        text-align: justify;
        &:after {
          content: '';
          display: inline-block;
          width: 100%;
          height: 0.0000000000001px;
        }
      }
      .analityc-graphics__legend .legend__item {
        width: auto;
      }
    }
    // changes
    &.analityc-graphics_changes {
      margin-top: 102px;
      margin-bottom: 28px;
      .analityc-graphics__year {
        text-align: left;
        font-size: 24px;
      }
      .analityc-graphics__cols {
        padding: 0 65px;
      }
      .analityc-graphics__col {
        width: 25.2%;
        position: relative;
        &:nth-child(1) {
          .analityc-graphics__graphic-column {
            &:first-child {
              height: 97%;
            }
            &:last-child {
              height: 100%;
            }
          }
        }
        &:nth-child(2) {
          .analityc-graphics__graphic-column {
            &:first-child {
              height: 97%;
            }
            &:last-child {
              height: 82%;
            }
          }
        }
        &:nth-child(3) {
          .analityc-graphics__graphic-column {
            &:first-child {
              height: 88%;
            }
            &:last-child {
              height: 88%;
            }
          }
        }
      }
      .analityc-graphics__changes {
        position: absolute;
        right: 0;
        left: 0;
        top: 22px;
        margin: auto;
        width: 45px;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: #73b20f;
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: 100%;
          margin-bottom: 8px;
          left: 10px;
          border: 6px solid transparent;
          border-bottom: 17px solid #73b20f;
        }
        &_neg {
          color: #eb212e;
          &:after {
            border-bottom: 17px solid #eb212e;
          }
        }
        &_rev {
          top: 0;
          &:after {
            top: 100%;
            margin-top: 6px;
            left: 10px;
            border: 6px solid transparent;
            border-top: 17px solid #73b20f;
          }
        }
      }
      .analityc-graphics__graphic {
        background: none;
      }
      .analityc-graphics__bottom {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        opacity: .4;
      }
      .analityc-graphics__period-left, .analityc-graphics__period-right {
        margin-bottom: 17px;
      }
      .analityc-graphics__period-left {
        left: 5px;
      }
      .analityc-graphics__period-right {
        left: -70px;
        width: 113px;
      }
      .analityc-graphics__periodtext {
        right: 65px;
        margin-right: 9.5%;
        width: 54%;
        margin-top: -36px;
      }
      .analityc-graphics__legend {
        margin-top: 64px;
        padding: 0 65px;
      }
      .analityc-graphics__legend .legend__item {
        width: auto;
      }
    }
    // date
    &.analityc-graphics_date {
      margin-top: 47px;
      margin-bottom: -9px;
      .analityc-graphics__cols {
        padding-left: 30px;
        margin-top: 35px;
        border-bottom: 0;
      }
      .analityc-graphics__col {
        width: 32%;
        vertical-align: middle;
        &_wide {
          width: 62%;
        }
      }
      .analityc-graphics__legend_vert {
        margin-top: 20px;
      }
    }
    // other
    .analityc-graphics__year {
      font-weight: 500;
    }
    .analityc-graphics__cols {
      border-bottom: 1px solid #dcdcdc;
    }
    .analityc-graphics__col {
      margin-bottom: -1px;
    }
  }
  
  &__analityc-table {
    .analityc-control-switcher {
      margin-bottom: 14px;
    }
    .table__col {
      &_four {
        width: 16.375%;
        &:first-child {
          width: 23.7%;
        }
        &:nth-child(2) {
          width: 10.8%;
        }
      }
      &_one {
        width: 8.1875%;
        &:nth-child(2) {
          width: 10.8%;
        }
        &:nth-child(3) {
          display: none;
        }
      }
    }
    .table__row .table__col {
      padding: 17px 0;
    }
    .table__row_caption .table__col {
      padding: 13px 0 2px;
    }
    .table__row_subcaption .table__col {
      padding: 4px 0 6px;
      line-height: 14px;
    }
    .table__row .table__col:first-child {
      font-size: 14px;
      padding-right: 30px;
    }
  }
  
  &__analityc-widget-heading {
    padding-right: 50%;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 17px;
  }
  
  &__analityc-tab_repayment {
    padding-bottom: 26px;
    .analityc-control-switcher {
      margin-top: 31px;
    }
  }
  
  &__analityc-tab_govbonds {
    padding-bottom: 43px;
  }
  
  &__block-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-transform: uppercase;
    margin-top: 67px;
    font-family: $PFDinTextPro;
    &:first-child {
      margin-top: 0;
    }
  }
  
  &__paragraph {
    font-family: $PFDinTextPro;
    font-size: 18px;
    line-height: 26px;
    &_main {
      font-size: 24px;
      line-height: 32px;
      margin-top: 15px;
      max-width: 810px;
    }
    & + & {
      margin-top: 16px;
    }
    &_important {
      font-size: 24px;
      font-weight: 500;
      margin-top: 55px;
      line-height: 30px;
    }
    &_last {
      font-size: 16px;
      line-height: 22px;
      padding-left: 26px;
    }
  }
  
  &__rating-table {
    padding-right: 400px;
    font-size: 0;
    font-family: $PFDinTextPro;
    position: relative;
    margin-top: 19px;
  }
  &__rating-table-row {
    width: 100%;
    & + & {
      margin-top: 20px;
    }
  }
  &__rating-table-heading {
    display: inline-block;
    vertical-align: middle;
    width: 17.5%;
    font-size: 18px;
    color: #000;
    opacity: .2;
  }
  &__rating-table-item {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    font-size: 14px;
    font-weight: 500;
  }
  &__rating-table-value {
    display: inline-block;
    vertical-align: middle;
    width: 17.5%;
    font-size: 18px;
    color: #000;
  }
  &__rating-links {
    position: absolute;
    right: 0;
    top: 28px;
    width: 375px;
  }
  &__rating-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  &__inner-block {
    margin-top: 59px;
    padding: 0 163px;
  }
  
  &__list-heading {
    font-family: $PFDinTextPro;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 12px;
  }
  
  &__list {
    list-style: none;
    li {
      font-family: $PFDinTextPro;
      position: relative;
      padding-left: 25px;
      font-size: 16px;
      line-height: 22px;
      margin-top: 13px;
      
      &:before {
        content: '—';
        position: absolute;
        left: 0;
      }
      span {
        font-weight: 500;
      }
    }
    & + .gov-debt__paragraph {
      margin-top: 12px;
    }
    &_ordered {
      counter-reset: myCounter;
      > li {
        padding-left: 25px;
        &:before {
          counter-increment: myCounter;
          content:counter(myCounter) '.';
          color: #000;
          opacity: .4;
        }
      }
    }
    &_letter {
      counter-reset: myCounter2;
      padding-left: 15px;
      > li {
        padding-left: 0;
        &:before {
          position: relative;
          counter-increment: myCounter2;
          content:counter(myCounter2, lower-alpha) '.';
          color: #000;
          opacity: .4;
          margin-right: 7px;
        }
      }
    }
    &_text-big {
      li {
        font-size: 18px;
        line-height: 26px;
        margin-top: 0;
      }
    }
  }
  
  &__half-blocks {
    font-size: 0;
    margin-top: 67px;
  }
  
  &__half-block {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding-right: 40px;
  }
}
