.wrapper_govdebt {
  padding-bottom: 150px;
}

.gov-debt {
  display: block;
  background: #282635 url(../images/basic-budget/bg.png) top no-repeat;
  background-size: 100%;
  padding-top: 170px;
  color: #000;
}
