include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/slide-arrows/slide-arrows

mixin gov-debt()
  +b.SECTION.gov-debt.basic-budget.section__item&attributes(attributes)
    .wrapper-header
      +page-header('Государственный долг', ['Бюджет Москвы'], true)

    .wrapper.wrapper_govdebt
      +e.analityc-widget.analityc-widget.load-anim-fade(data-delay="1500")
        +e.analityc-tab-links
          +e.A(href="#", data-govdebt-tab="govdebt").analityc-tab-link.active Государственный долг г. Москвы
          +e.A(href="#", data-govdebt-tab="repayment").analityc-tab-link график погашения государственного долга
          +e.A(href="#", data-govdebt-tab="govbonds").analityc-tab-link Государственные облигации г. Москвы
          
        // Государственный долг г. Москвы
        +e.analityc-tab._govdebt.active
          +analityc-widgethead-govdebt().__analityc-widgethead
          +analityc-graphics-govdebt-approved().__analityc-graphics.active(data-stage='approved')
          +analityc-graphics-govdebt-changes().__analityc-graphics(data-stage='changes')
          +analityc-graphics-govdebt-date().__analityc-graphics(data-stage='date')
          +e.note * Текст сноски
          .analityc-control-switcher
            a(href="#").active млн. руб.
            a(href="#") млрд. руб.
          +analityc-table-slider(100)._approved._sticky-arrows.active(data-stage='approved')
            +table-income(getData('income'))
          +analityc-table-slider(100)._changes._sticky-arrows(data-stage='changes')
            +table-income_slider(getData('income1'))
          +analityc-table()._done(data-stage='date')
            +table-income(getData('income2'))
          //+e.note * Текст сноски
          a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
          
        // график погашения государственного долга
        +e.analityc-tab._repayment
          +e.H2.analityc-widget-heading График погашения<br> государственного долга на
            span.js-dp-output.active 1 сентября 2017
          .analityc-control-switcher
            a(href="#").active млн. руб.
            a(href="#") млрд. руб.
          +analityc-graphics-govdebt-repayment().__analityc-graphics.active
          
        // Государственные облигации г. Москвы
        +e.analityc-tab._govbonds
          +e.H2.analityc-widget-heading Государственные облигации<br> города Москвы
          +e.H3.block-heading._main Что такое облигация?
          +e.P.paragraph._main <b>Облигация</b> — эмиссионная ценная бумага, закрепляющая право ее владельца на получение от эмитента облигации в предусмотренный срок ее номинальной стоимости или иного имущественного эквивалента. Облигация может также предусматривать право ее владельца на получение фиксированного процента от номинальной стоимости облигации либо иные имущественные права. Доходом по облигации являются процент и/или дисконт.
          +e.H3.block-heading Данные о рейтингах долгосрочных долговых обязательств Москвы, РФ на 2016 г.
          +e.rating-table
            +e.rating-table-row
              +e.P.rating-table-item
              +e.P.rating-table-heading Moody’s
              +e.P.rating-table-heading S&P
              +e.P.rating-table-heading Fitch
            +e.rating-table-row
              +e.P.rating-table-item Внутренние обязательства РФ/Москва
              +e.P.rating-table-value Baa1/Ba1
              +e.P.rating-table-value BBB/BB+
              +e.P.rating-table-value BBB/BBB-
            +e.rating-table-row
              +e.P.rating-table-item Внешние обязательства РФ/Москва
              +e.P.rating-table-value Baa1/Ba1
              +e.P.rating-table-value BBB/BB+
              +e.P.rating-table-value BBB/BBB-
            +e.rating-links
              p
                +link().__rating-link Сравнительная таблица рейтингов
              p
                +link().__rating-link Информация о рейтингах
          +e.inner-block
            +e.P.paragraph Владелец облигации выступает как кредитор, который предоставляет свои деньги эмитенту (заемщику) во временное пользование и за оговоренную плату.
            +e.P.paragraph Облигация подтверждает обязательство эмитента (заемщика) по истечении определенного периода времени выплатить ее владельцу (кредитору) номинальную стоимость облигации и доход (проценты).
            +e.P.paragraph Владельцем облигации может выступать как физическое лицо, так и организация.
            +e.P.list-heading Эмитентом облигации могут выступать:
            +e.UL.list._text-big
              li Федеральные органы власти;
              li Органы власти субъектов федерации;
              li Органы местного самоуправления;
              li Коммерческие организации.
            +e.P.paragraph Каждый из этих эмитентов может выпустить облигации, в том числе предназначенные для размещения среди населения.
            +e.P.paragraph Облигация, как и иной товар, имеет цену и ее можно купить и продать. Цена облигации выражается в процентах от ее номинальной стоимости. Как и цена товара, цена облигации формируется на основе баланса спроса и предложения. Основным местом торговли облигациями и, соответственно, их ценообразования является биржа.
          +e.half-blocks
            +e.half-block
              +e.H3.block-heading Под продажей облигации может подразумеваться одно из двух действий:
              +e.OL.list._ordered
                li размещение облигации — продажа эмитентом бумаги ее первому владельцу путем заключения гражданско-правовых сделок;
                li продажа облигации ее владельцем третьему лицу, который становится новым владельцем облигации, и перед которым эмитент несет обязательство выплаты ее номинальной стоимости и процентного дохода.
            +e.half-block
              +e.H3.block-heading Облигации могут быть проданы:
              +e.OL.list
                li с дисконтом, то есть, приобретая облигацию, будущий владелец заплатит за нее меньше чем ее номинальная стоимость;
                li по номинальной стоимости;
                li с премией, то есть приобретая облигацию, будущий владелец заплатит за облигацию сумму, превышающую ее номинальную стоимость.
          +e.P.paragraph._important Вне зависимости от уплаченной при приобретении облигации суммы,<br> в дату погашения владелец получит сумму, равную номинальной стоимости облигации.
          +e.inner-block
            +e.H3.block-heading Экономические факторы, обеспечивающие<br> надежность облигаций Москвы:
            +e.OL.list._ordered
              li <span>Низкий уровень долга Москвы.</span> Как отмечено выше, к основным показателям, определяющим уровень долга в соответствии с действующими нормами РФ, относятся следующие отношения:
                ol.gov-debt__list.gov-debt__list_letter
                  li объема государственного долга города Москвы к собственным доходам бюджета;
                  li расходов бюджета города Москвы на обслуживание государственного долга к расходам бюджета;
                  li ежегодного объема погашаемого долга к доходам бюджета за минусом текущих расходов и части расходов бюджета амортизационного характера (указанная разность определяется как «капитальный ресурс» бюджета).
              li <span>Равномерный</span> график погашения долга. Размещение облигаций Москвы в течение последних нескольких лет обеспечило формирование относительно равномерного графика погашения долга на горизонте от 1 до 12 лет, без "пиковых" нагрузок. Это обеспечивает возможность безусловного исполнения долговых обязательств независимо от экономической конъюнктуры в Российской Федерации.
              li <span>Экономическое состояние региона.</span> Москва — явный лидер среди городов страны по темпам реформирования хозяйственной деятельности и перехода экономики к рыночным отношениям. Такое положение Москве удалось занять благодаря развитой городской инфраструктуре, широкому спектру недвижимости, включающему современные офисные центры, а также высокому культурному, интеллектуальному и управленческому потенциалу города.
            +e.P.paragraph._last Показатели экономики города Москвы обеспечивают стабильно низкое отношение долга к уровню валового регионального продукта (ВРП) города. Так, несмотря на рост долга в абсолютном выражении, его отношение к ВРП по имеющейся оценке сохраняется на крайне низком уровне — порядка 3%.
          
    +dropdown().load-anim-fade(data-delay="1700")
