include ../../blocks/icon/icons
include ../../blocks/buttons-set/buttons-set
include ../../blocks/news-card/news-card
include ../../blocks/infographic-card/infographic-card
include ../../blocks/media-card/media-card
include ../../components/subscribe/subscribe

mixin media-main()
	+b.SECTION.media-main.sections__item&attributes(attributes)
		.wrapper.page-content-wrapper.load-anim-fade(data-delay="1500")
			// News
			+e.SECTION.section._news
				+e.H2.heading Новости
					+e.A(href="#").page-link Все новости
						+icon('angle-arrow').__page-link-icon

				+e.buttons-set
					+e.A(href="#", data-filter="all").buttons-set-button.active все
					+e.A(href="#", data-filter="budget").buttons-set-button новости бюджета
					+e.A(href="#", data-filter="moscow").buttons-set-button новости Москвы
					+e.A(href="#", data-filter="federal").buttons-set-button федеральные новости

				+e.card-wrapper
					+news-cards()
						.tile__item(data-filter="budget")
							+news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники', 'тест1', 'тест2', 'тест3'])._blue.tile__inner
						.tile__item(data-filter="budget")
							+news-card(2, 'Новости Москвы', 'О выплатах купонного дохода по облигациям Городского облигационного (внутреннего) займа Москвы', '5 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._red.tile__inner
						.tile__item(data-filter="federal")
							+news-card(3, 'Федеральные новости', 'Итоги исполнения бюджета города Москвы за первое полугодие 2016 года', '1 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._green.tile__inner
						.tile__item(data-filter="budget").tile__item_hidden
							+news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники', 'тест1', 'тест2', 'тест3'])._blue.tile__inner

				+e.card-wrapper._slider
					+news-cards(true).swiper-container
						.tile__item(data-filter="budget").swiper-slide
							+news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники', 'тест1', 'тест2', 'тест3'])._blue.tile__inner
						.tile__item(data-filter="budget").swiper-slide
							+news-card(2, 'Новости Москвы', 'О выплатах купонного дохода по облигациям Городского облигационного (внутреннего) займа Москвы', '5 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._red.tile__inner
						.tile__item(data-filter="federal").swiper-slide
							+news-card(3, 'Федеральные новости', 'Итоги исполнения бюджета города Москвы за первое полугодие 2016 года', '1 августа 2016', ['итоги', 'апробация', 'старшеклассники'])._green.tile__inner         
						.tile__item(data-filter="budget").swiper-slide
							+news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016', ['итоги', 'апробация', 'старшеклассники', 'тест1', 'тест2', 'тест3'])._blue.tile__inner
					.news-arrow.news-arrow_prev.swiper-button-prev  
					.news-arrow.news-arrow_next.swiper-button-next 
					.swiper-pagination

				+subscribe()._big.__subscribe
			// Events
			+e.SECTION.section._events
				+e.H2.heading События
					+e.A(href="#").page-link Все события
						+icon('angle-arrow').__page-link-icon
				+e.media-wrapper
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			
				+e.card-wrapper._slider
					.swiper-container
						.swiper-wrapper
							+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
							+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
							+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
							+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
					.news-arrow.news-arrow_prev.swiper-button-prev  
					.news-arrow.news-arrow_next.swiper-button-next 
					.swiper-pagination

			// Infographic
			+e.SECTION.section._infographic
				+e.H2.heading Инфографика
					+e.A(href="#").page-link Вся инфографика
						+icon('angle-arrow').__page-link-icon
				+e.card-wrapper
					+infographic-card(1).A(href="#").__infographic-card
					+infographic-card(2).A(href="#").__infographic-card
					+infographic-card(3).A(href="#").__infographic-card
					+infographic-card(4).A(href="#").__infographic-card

				+e.card-wrapper._slider
					.swiper-container
						.swiper-wrapper
							+infographic-card(1).A(href="#").__infographic-card.swiper-slide
							+infographic-card(2).A(href="#").__infographic-card.swiper-slide
							+infographic-card(3).A(href="#").__infographic-card.swiper-slide
							+infographic-card(4).A(href="#").__infographic-card.swiper-slide
					.news-arrow.news-arrow_prev.swiper-button-prev  
					.news-arrow.news-arrow_next.swiper-button-next 
					.swiper-pagination

			// Mediamaterials
			+e.SECTION.section._mediamaterials
				+e.H2.heading Медиаматериалы

				+e.buttons-set._materials
					+e.A(href="#", data-filter="photos").buttons-set-button.active фотографии
					+e.A(href="#", data-filter="video").buttons-set-button видео
					+e.A(href="#", data-filter="presentations").buttons-set-button презентации

				+e.materials(data-filter="photos").active
					+e.media-wrapper
						+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')

					+e.card-wrapper._slider
						.swiper-container
							.swiper-wrapper
								+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
								+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
								+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
								+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
						.news-arrow.news-arrow_prev.swiper-button-prev  
						.news-arrow.news-arrow_next.swiper-button-next 
						.swiper-pagination

					+e.A(href="#").page-link._slider Все фотографии
						+icon('angle-arrow').__page-link-icon

				+e.materials(data-filter="video")
					+e.media-wrapper
						+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
						+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
						+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
						+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video

					+e.card-wrapper._slider
						.swiper-container
							.swiper-wrapper
								+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video.swiper-slide
								+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video.swiper-slide
								+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video.swiper-slide
								+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video.swiper-slide
						.news-arrow.news-arrow_prev.swiper-button-prev  
						.news-arrow.news-arrow_next.swiper-button-next 
						.swiper-pagination

					+e.A(href="#").page-link._slider Все видео
						+icon('angle-arrow').__page-link-icon

				+e.materials(data-filter="presentations")
					+e.media-wrapper
						+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')

					+e.card-wrapper._slider
						.swiper-container
							.swiper-wrapper
								+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
								+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
								+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
								+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
						.news-arrow.news-arrow_prev.swiper-button-prev  
						.news-arrow.news-arrow_next.swiper-button-next 
						.swiper-pagination

					+e.A(href="#").page-link._slider Все презентации
						+icon('angle-arrow').__page-link-icon
