.media-main {
  display: block;
  background-image: url(../images/bg-news.jpg);
  background-size: cover;
  background-position: center 0;
  padding-bottom: 124px;

  &__heading {
    display: inline-block;
    vertical-align: top;
    color: $color-white;
    font-family: $PFDinCompressedPro;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 1em;
    letter-spacing: 0.0325rem;
    margin-bottom: 20px;

    @media (max-width: 580px) {
      font-size: 48px;
    }

    @media (max-width: 580px) {
      font-size: 36px;
    }

    .media-main__page-link {
      margin-left: 8px;
      margin-top: 7px;

      @media (max-width: 580px) {
        margin-top: 2px;
      }
    }
  }

  &__page-link {
    font-family: $PFDinCondensedPro;
    display: inline-block;
    color: #fee300;
    text-decoration: none;
    vertical-align: top;
    font-size: 18px;
    text-transform: none;
    line-height: 1em;
    font-weight: 400;
    &:hover {
      .media-main__page-link-icon {
        margin-left: 10px;
      }
    }
  }

  &__page-link-icon {
    width: 10px;
    height: 10px;
    fill: #fee300;
    margin-left: 5px;
    transition: all .25s ease-in-out;
  }

  &__buttons-set {
    & + .media-main__card-wrapper {
      margin-top: 34px;

      @media (max-width: 580px) {
        margin-top: 0;
      }
    }

    .button-light {
      @media (max-width: 400px) {
        font-size: 14px;
        padding: 7px 15px;
      }
    }
  }

  .tile__item {
    @media (max-width: 900px) {
      margin-bottom: 16px;
    }
  }

  &__card-wrapper {
    text-align: justify;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.00000000001px;
    }
    & + .media-main__page-link {
      margin-top: 19px;
    }
  }

  &__media-wrapper {
    height: auto;
    list-style: none;
    font-size: 0;
    margin: 0 calc(12% / 8 * (-1));

    @media (max-width: 900px) and (min-width: 401px) {
      margin: 0 calc(12% / 4 * (-1));
      margin-bottom: 41px;
    }

    @media (max-width: 400px) {
      margin: 0;
    }

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }

    & + .media-main__page-link {
      margin-top: 19px;
    }
  }
  
  &__news-card, &__event-card {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }

  &__news-card {
    width: 344px;
    min-height: 486px;
    display: none;
    &.active {
      display: inline-block;
    }
  }

  &__subscribe {
    &.subscribe {
      margin-top: 48px;
      .subscribe__caption {
        font-size: 16px;
        padding-top: 16px;
      }
    }
  }

  &__section {
    &_events {
      margin-top: 99px;
    }
    &_infographic {
      margin-top: 66px;
    }
    &_mediamaterials {
      margin-top: 77px;
    }
  }

  &__datepicker {
    display: inline-block;
    vertical-align: top;
    width: 248px;
    height: 30px;

    @media (max-width: 1140px) {
      display: block;
      margin-bottom: 34px;
    }

    .form__date-range-icon {
      height: 30px;
    }

    // .ui-datepicker {
    //   position: relative;
    //   margin: 0 -5px;
    //   border: 0;
    //   background: none;
    //   padding: 0;
    //   color: #fff;
    // }
    // .ui-datepicker-header {
    //   padding: 0 5px;
    // }
    // .ui-datepicker-next, .ui-datepicker-prev {
    //   display: none;
    // }
    // .ui-datepicker-month, .ui-datepicker-year {
    //   margin: 0;
    //   width: 48%;
    //   font-weight: 500;
    //   cursor: pointer;
    //   &:hover {
    //     background: none;
    //   }
    //   option {
    //     color: #000;
    //   }
    // }
    // .ui-datepicker-month {
    //   margin-right: 4%;
    // }
    // .ui-datepicker th {
    //   font-weight: 500;
    //   font-size: 13px;
    //   padding-bottom: 14px;
    // }
    // .ui-datepicker td a, .ui-datepicker td span {
    //   font-size: 15px;
    //   font-weight: 700;
    //   height: 1.85em;
    //   line-height: 1.85em;
    //   margin: 0 0.2em;
    //   color: #fff;
    // }
    // .ui-datepicker .ui-datepicker-current-day a {
    //   background: #fff;
    //   color: #000 !important;
    // }
    // .ui-datepicker-week-end a {
    //   color: #e14154!important;
    // }
  }

  &__event-card {
    width: 248px;

    @media (max-width: 900px) and (min-width: 401px) {
      min-height: 300px;
    }

    @media (max-width: 900px) {
      width: 48%;
      margin-bottom: 30px;
    }

    @media (max-width: 700px) {
      display: block;
      width: 344px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  .news_events {

    .news__thumb {
      @media (max-width: 900px) {
        height: 190px;
      }

      @media (max-width: 400px) {
        height: 150px;
      }
    }
  }
  
  &__infographic-card {
    width: 248px;
    display: inline-block;
    vertical-align: top;

    @media (max-width: 1140px) {
      margin-bottom: 40px;
    }

    @media (max-width: 900px) {
      width: 48%;
      margin-bottom: 30px;
    }

    @media (max-width: 700px) {
      display: block;
      width: 344px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 400px) {
      width: 100%;
    }

    .infographic-card__bottom {
      display: none;
    }
  }

  &__materials {
    margin-top: 74px;
    display: none;
    &.active {
      display: block;
    }
  }
}

.range-datepicker_media {
  .ui-datepicker {
    padding: 0;
    padding-top: 1em;
  }
}
