.media-main {
  display: block;
  background-image: url(../images/bg-news.jpg);
  background-size: cover;
  background-position: center 0;
  padding-bottom: 124px;

  .wrapper-header {
    margin-bottom: 58px;
  }

  &__heading {
    display: inline-block;
    vertical-align: top;
    color: $color-white;
    font-family: $PFDinCompressedPro;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1em;
    letter-spacing: 0.0325rem;
    margin-bottom: 20px;
    white-space: nowrap;

    @media screen and (max-width: 1160px) and (min-width: 901px) {
      /*padding-left: 24px;*/
    }

    @media screen and (max-width: 640px) and (min-width: 401px) {
      /*padding-left: 15px;*/
    }

    .media-main__page-link {
      margin-left: 8px;
      margin-top: 2px;
      white-space: nowrap;
    }
  }

  &__page-link {
    font-family: $PFDinCondensedPro;
    display: inline-block;
    color: #fee300;
    text-decoration: none;
    vertical-align: top;
    font-size: 18px;
    text-transform: none;
    line-height: 1em;
    font-weight: 400;

    @media(max-width: 400px) {
      font-size: 14px;
      white-space: normal;
    }

    &:hover {
      .media-main__page-link-icon {
        margin-left: 10px;
      }
    }

    &_slider {
      display: none;
      margin-top: 10px;
      @media (max-width: 400px) {
        max-width: 100%;
        margin-left: 0!important;
      }
    }
    
    &_short {
      @media (max-width: 400px) {
        max-width: 98px;
      }
    }

    &.active {
      display: inline-block;
    }
  }

  &__page-link-icon {
    width: 10px;
    height: 10px;
    fill: #fee300;
    margin-left: 5px;
    transition: all .25s ease-in-out;

    @media(max-width: 400px) {
      width: 8px;
      height: 8px;
    }
  }

  &__buttons-set {
    display: table;
    border-collapse: collapse;
    border: 1px solid $color-yellow;

    @media(max-width: 900px) {
      width: 100%;
      min-height: 70px;
      margin-bottom: 20px;
    }

    @media(max-width: 400px) {
      min-height: 40px;
    }

    & + .media-main__card-wrapper {
      margin-top: 34px;

      @media (max-width: 580px) {
        margin-top: 0;
      }
    }

    &-button {
      display: table-cell;
      padding: 10px 40px;
      vertical-align: middle;
      font-size: 18px;
      line-height: 1em;
      font-weight: 500;
      text-transform: uppercase;
      white-space: normal;
      background: none;
      text-align: center;
      border: none;
      color: $color-white;
      text-decoration: none;
      transition: all .25s ease-in-out;

      @media (max-width: 900px) {
        padding: 0 20px;
        width: 28%;

        &:first-child {
          width: 16%;
        }
      }
      
      @media (max-width: 400px) {
        padding: 0 5px;
        font-size: 12px;
      }

      & + .media-main__buttons-set-button {
        border-left: 1px solid $color-yellow;
      }

      &:hover,
      &.active {
        background-color: $color-yellow;
        color: $color-black;
      }
    }

    &_materials {
      .media-main__buttons-set-button {
        @media (max-width: 900px) {
          width: calc(100% / 3);
        }
      }
    }
  }

  .swiper-container {
    width: 344px;

    @media (max-width: 400px) {
      width: 252px;
    }
  }

  .swiper-pagination {
    width: 100%;
    top: 105%;
    &-bullet {
      width: 15px;
      height: 15px;
      background: transparent;
      opacity: 1;
      border: 2px solid $color-yellow;
      & + .swiper-pagination-bullet {
        margin-left: 10px;
      }

      &-active {
        background: $color-yellow;
      }
    }

    @media (max-width: 400px) {
      display: none
    }
  }
  
  .tile {
    margin: 0 -5px!important;

    @media (max-width: 900px) {
      max-width: 100%;
      flex-wrap: nowrap;
      margin: 0!important;
    }
  }

  .tile__item {
    width: 25%;
    min-width: auto;
    margin-bottom: 0;

    @media(max-width: 1140px) and (min-width: 901px) {
      width: calc(100% / 3);
    }

    &_hidden {
      @media(max-width: 1140px) and (min-width: 901px) {
        display: none;
      }
    }
  }

  .news {
    height: 420px;
    margin: 0 5px;
  }

  .news__thumb {
    @media (max-width: 640px) {
      height: 150px;
    }
  }

  .news__category {
    @media (max-width: 640px) {
      padding: 0 7px;
      font-size: 13px;
      height: 20px;
      line-height: 22px;
      margin: 0 0 20px 20px;
    }
  }

  .news__title {
    @media (max-width: 640px) {
      font-size: 18px;
      margin: 0 19px;
    }
  }

  .news__bottom {
    @media (max-width: 640px) {
      padding: 0 0 15px 19px;
    }
  }

  .news__date,
  .news__tags {
    @media (max-width: 640px) {
      font-size: 13px;
    }
  }

  .news__tags {
    white-space: nowrap;
    overflow: hidden;

    a {
      margin-right: 15px;
    }
  }

  .share__panel {
    line-height: 50px;

    @media (max-width: 640px) {
      line-height: 30px;
    }
  }

  .news-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 4;
    width: 46px;
    height: 46px;
    background: #fee300;
    color: #000;
    text-indent: -9999px;
    overflow: hidden;
    box-shadow: -2px 0 5px 0 rgba(0,0,0,.39);
    transition: opacity .3s ease;

    @media (max-width: 400px) {
      width: 31px;
      height: 31px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 2;
      width: 14px;
      height: 14px;
      border-bottom: 2px solid currentColor;
    }

    &_next {
      right: 115px;
      @media(max-width: 640px) {
        right: 60px;
      }
      @media(max-width: 600px) {
        right: 40px;
      }
      @media (max-width: 580px) {
        right: 0;
      }
      @media(max-width: 400px) {
        right: -20px;
      }
     
      &::after {
        right: 8px;
        border-right: 2px solid currentColor;
        transform: rotate(-45deg);
      }    
    }

    &_prev {
      left: 115px;
      @media(max-width: 640px) {
        left: 60px;
      }
      @media(max-width: 600px) {
        left: 40px;
      }
      @media (max-width: 580px) {
        left: 0;
      }
      @media(max-width: 400px) {
        left: -20px;
      }
      &::after {
        left: 8px;
        border-left: 2px solid currentColor;
        transform: rotate(45deg);
      }
    }
  }

  &__card-wrapper {
    position: relative;
    text-align: justify;
    @media (max-width: 900px) {
      display: none;
    }

    &_slider {
      display: none;
      @media (max-width: 900px) {
        display: block;
      }
    }

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.00000000001px;
    }
    & + .media-main__page-link {
      margin-top: 19px;

      @media(max-width: 900px) {
        margin-top: 60px;
      }
    }
  }

  &__media-wrapper {
    height: auto;
    list-style: none;
    font-size: 0;
    margin: 0 calc(12% / 8 * (-1));

    @media (max-width: 900px) {
      display: none;
    }

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }

    & + .media-main__page-link {
      margin-top: 19px;
    }
  }

  &__subscribe {
    &.subscribe {
      margin-top: 20px;
      & > .wrap {
        padding: 0;
      }
      .subscribe__caption {
        font-size: 16px;
        padding-top: 16px;
      }
    }
  }

  &__section {
    &_news {

      .swiper-container {
        @media (max-width: 900px) {
          padding-bottom: 58px;
        }

        @media (max-width: 640px) {
          padding-bottom: 30px;
        }
      }
    }

    &_events {
      margin-top: 99px;
    }
    &_infographic {
      margin-top: 66px;
    }
    &_mediamaterials {
      margin-top: 77px;
    }
  }

  &__datepicker {
    display: inline-block;
    vertical-align: top;
    width: 248px;
    height: 30px;

    @media (max-width: 1140px) {
      display: block;
      margin-bottom: 34px;
    }

    .form__date-range-icon {
      height: 30px;
    }
  }

  &__infographic-card {
    width: 248px;
    display: inline-block;
    vertical-align: top;

    @media (max-width: 1140px) {
      margin-bottom: 40px;
    }

    @media (max-width: 1140px) and (min-width: 901px) {
      width: 213px;
    }

    @media (max-width: 900px) {
      margin-bottom: 0;
    }

    .infographic-card__bottom {
      display: none;
    }
  }

  &__materials {
    margin-top: 20px;
    display: none;
    &.active {
      display: block;
    }
  }

  .media-card {
    @media(max-width: 900px) {
      margin: 0;
    }

    @media(max-width: 900px) and (min-width: 401px) {
      height: 320px;
    }
    
    &__img-wrapper {
      @media(max-width: 900px) and (min-width: 581px) {
        height: 203px;
      }
      @media(max-width: 580px) and (min-width: 401px) {
        height: 235px;
      }
      @media(max-width: 400px) {
        height: 142px;
      }
    }
    
    &__label {
      @media(max-width: 580px) and (min-width: 401px) {
        min-height: 85px;
      }
      @media (max-width: 400px) {
        min-height: 105px;
      }
    }

    &__play {
      @media(max-width: 900px) {
        top: 40%;
      }
      @media(max-width: 400px) {
        top: 30%;
      }
    }
  }
}

.range-datepicker_media {
  .ui-datepicker {
    padding: 0;
    padding-top: 1em;
  }
}
