.table1, .table2 {
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: $color-input;

  &__row {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;

    &_caption {
      font-family: $PFDinCondensedPro;
      font-size: 14px;
      color: #898783;
      border-bottom-width: 2px;
      text-transform: uppercase;

      span {
        display: inline-block;
        vertical-align: middle;
        float: left;
      }

      .table1__col {
        text-align: left;
      }
    }

    &_data {

      &:nth-child(2) {
        .table1__col {
          padding-bottom: 19px;
        }

        .table1__col_two {
          padding-left: 20px;
        }

        .table1__col_three {
          padding-top: 19px;
          line-height: 19px;
        }
      }

      &:nth-child(3) {
        .table1__col_half {
          padding-top: 14px;
        }

        .table1__col {
          padding-bottom: 12px;
        }

        .table1__col_two {
          padding-left: 20px;
        }
      }
    }
  }


  &__col {
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 9px 17px 12px;

    // padding: 13px 16px 12px 20px;

    &_half {
      padding: 13px 0;
    }

    &_data {
      font-weight: 700;
      padding: 0;
      font-family: $PFDinCondensedPro;

      .table1__col_two {
        padding-left: 21px;
      }
    }

    &_one {
      width: 8.6%;
      text-align: center;

      &:nth-child(4) {
        background-color: #e9f0f6;
      }
    }

    &_two { width: 12%; }

    &_three {
      width: 24.7%;
    }
  }


  &__caption {
    margin-bottom: 9px;
    font-size: 18px;
  }

  &__subcaption {
    font-size: 14px;
    text-align: left;
    text-transform: none;
    float: left;

    &::after {
      @include clearfix;
    }
  }

  &__col_data {
    vertical-align: top;
    padding-top: 19px;
    padding-right: 16px;
  }
}

.table2 {
  letter-spacing: -0.5px;
  margin-bottom: 55px;

  &__col_four {
    padding-left: 0;
    display: inline-block;
  }

  &__col_one {
    width: 8.7%;

    &:nth-child(2) {
      background-color: #e9f0f6;
    }

    &:nth-child(3) {
      padding: 19px 17px;
    }

    &:nth-child(4) {
      background: none;
    }

  }

  &__row_caption {
    .table2__col {
      padding-bottom: 12px;
      padding-top: 11px;

      &_one {
        padding-left: 25px;
      }
    }
  }

  &__row_data {
    &:last-child {
      font-weight: 700;
    }

    .table1__col_three {
      padding-top: 18px;
      padding-left: 0;
      line-height: 1.357em;
    }

    .table2__col_four {
      padding-left: 2px;
      padding-top: 19px;
    }
  }
}
