mixin table1()
  +b.table1&attributes(attributes)
    +e.row._caption
      +e.col_half
        | №
        br
        | П/П
      +e.col_three
        | Наименование
        br
        | конечного результата
      +e.col_two
        | Единица
        br
        | измерения
      +e.col_one.active(data-period='period1')
        +e.SPAN.caption
          | Этап 1
          br
        +e.SPAN.subcaption 2012
          br
          | факт
      +e.col_one(data-period='period2')
        +e.SPAN.caption
          | Этап 2
          br
        +e.SPAN.subcaption 2013
          br
          | факт
      +e.col_one(data-period='period3')
        +e.SPAN.caption
          | Этап 3
          br
        +e.SPAN.subcaption 2014
          br
          | факт
      +e.col_one(data-period='period4')
        +e.SPAN.caption
          | Этап 4
          br
        +e.SPAN.subcaption 2015
          br
          | факт
      +e.col_one(data-period='period5')
        +e.SPAN.caption
          | Этап 5
          br
        +e.SPAN.subcaption 2016
          br
          | прогноз
      +e.col_one(data-period='period6')
        +e.SPAN.caption
          | Этап 6
          br
        +e.SPAN.subcaption 2017
          br
          | прогноз
      +e.col_one(data-period='period7')
        +e.SPAN.caption
          | Этап 7
          br
        +e.SPAN.subcaption 2018
          br
          | прогноз
    +e.row._data
      +e.col_half._data 1
      +e.col_three 
        | Доля жителей города Москвы, 
        | систематически занимающихся 
        | физической культурой и спортом, 
        | в общей численности населения 
        | города Москвы
      +e.col_two._data процентов
      +e.col_one._data._bold._centered.active(data-period='period1') 23
      +e.col_one._data._bold._centered(data-period='period2') 24
      +e.col_one._data._bold._centered(data-period='period3') 26
      +e.col_one._data._bold._centered(data-period='period4') 30
      +e.col_one._data._bold._centered(data-period='period5') 32
      +e.col_one._data._bold._centered(data-period='period6') 34
      +e.col_one._data._bold._centered(data-period='period7') 36
    +e.row._data
      +e.col_half._data._bold ...
      +e.col_three._bold ...
      +e.col_two._data._bold ...
      +e.col_one._data._bold._centered.active(data-period='period1') ...
      +e.col_one._data._bold._centered(data-period='period2') ...
      +e.col_one._data._bold._centered(data-period='period3') ...
      +e.col_one._data._bold._centered(data-period='period4') ...
      +e.col_one._data._bold._centered(data-period='period5') ...
      +e.col_one._data._bold._centered(data-period='period6') ...
      +e.col_one._data._bold._centered(data-period='period7') ...
      
mixin table2()
  +b.table2&attributes(attributes)
    +e.row._caption
      +e.col_four Источник финансирования
      +e.col_one.active(data-period='period1')
        +e.SPAN.caption
          | Этап 1
          br
        +e.SPAN.subcaption 2012
          br
          | факт
      +e.col_one(data-period='period2')
        +e.SPAN.caption
          | Этап 2
          br
        +e.SPAN.subcaption 2013
          br
          | факт
      +e.col_one(data-period='period3')
        +e.SPAN.caption
          | Этап 3
          br
        +e.SPAN.subcaption 2014
          br
          | факт
      +e.col_one(data-period='period4')
        +e.SPAN.caption
          | Этап 4
          br
        +e.SPAN.subcaption 2015
          br
          | факт
      +e.col_one(data-period='period5')
        +e.SPAN.caption
          | Этап 5
          br
        +e.SPAN.subcaption 2016
          br
          | прогноз
      +e.col_one(data-period='period6')
        +e.SPAN.caption
          | Этап 6
          br
        +e.SPAN.subcaption 2017
          br
          | прогноз
      +e.col_one(data-period='period7')
        +e.SPAN.caption
          | Этап 7
          br
        +e.SPAN.subcaption 2018
          br
          | прогноз
      +e.col_one._one_big(data-period='period8')
        +e.SPAN.caption
          | Итого
          br
        +e.SPAN.subcaption 2012 -
          br
          | 2018
    +e.row._data
      +e.col_four Бюджет города Москвы
      +e.col_one._data._bold._centered.active(data-period='period1') 28 509,7
      +e.col_one._data._bold._centered(data-period='period2') 36 860,1
      +e.col_one._data._bold._centered(data-period='period3') 38 226,4
      +e.col_one._data._bold._centered(data-period='period4') 38 226,4
      +e.col_one._data._bold._centered(data-period='period5') 38 226,4
      +e.col_one._data._bold._centered(data-period='period6') 38 226,4
      +e.col_one._data._bold._centered(data-period='period7') 38 226,4
      +e.col_one._data._bold._centered._one_big(data-period='period8') 255 451,4
    +e.row._data
      +e.col_four Средства федерального бюджета
      +e.col_one._data._bold._centered.active(data-period='period1') 28 509,7
      +e.col_one._data._bold._centered(data-period='period2') 36 860,1
      +e.col_one._data._bold._centered(data-period='period3') 38 226,4
      +e.col_one._data._bold._centered(data-period='period4') 38 226,4
      +e.col_one._data._bold._centered(data-period='period5') 38 226,4
      +e.col_one._data._bold._centered(data-period='period6') 38 226,4
      +e.col_one._data._bold._centered(data-period='period7') 38 226,4
      +e.col_one._data._bold._centered._one_big(data-period='period8') 255 451,4
    +e.row._data
      +e.col_four Средства юридических и физических лиц
      +e.col_one._data._bold._centered.active(data-period='period1') 28 509,7
      +e.col_one._data._bold._centered(data-period='period2') 36 860,1
      +e.col_one._data._bold._centered(data-period='period3') 38 226,4
      +e.col_one._data._bold._centered(data-period='period4') 38 226,4
      +e.col_one._data._bold._centered(data-period='period5') 38 226,4
      +e.col_one._data._bold._centered(data-period='period6') 38 226,4
      +e.col_one._data._bold._centered(data-period='period7') 38 226,4
      +e.col_one._data._bold._centered._one_big(data-period='period8') 255 451,4
    +e.row._data
      +e.col_four Всего
      +e.col_one._data._bold._centered.active(data-period='period1') 28 509,7
      +e.col_one._data._bold._centered(data-period='period2') 36 860,1
      +e.col_one._data._bold._centered(data-period='period3') 38 226,4
      +e.col_one._data._bold._centered(data-period='period4') 38 226,4
      +e.col_one._data._bold._centered(data-period='period5') 38 226,4
      +e.col_one._data._bold._centered(data-period='period6') 38 226,4
      +e.col_one._data._bold._centered(data-period='period7') 38 226,4
      +e.col_one._data._bold._centered._one_big(data-period='period8') 255 451,4
