mixin table1()
  +b.table1&attributes(attributes)
    +e.row._caption
      +e.col_half
        | №
        br
        | П/П
      +e.col_three
        | Наименование
        br
        | конечного результата
      +e.col_one
        | Единица
        br
        | измерения
      +e.col_one
        +e.SPAN.caption
          | Этап 1
          br
        +e.SPAN.subcaption 2012
          br
          | факт
      +e.col_one
        +e.SPAN.caption
          | Этап 2
          br
        +e.SPAN.subcaption 2013
          br
          | факт
      +e.col_one
        +e.SPAN.caption
          | Этап 3
          br
        +e.SPAN.subcaption 2014
          br
          | факт
      +e.col_one
        +e.SPAN.caption
          | Этап 4
          br
        +e.SPAN.subcaption 2015
          br
          | факт
      +e.col_one
        +e.SPAN.caption
          | Этап 5
          br
        +e.SPAN.subcaption 2016
          br
          | прогноз
      +e.col_one
        +e.SPAN.caption
          | Этап 6
          br
        +e.SPAN.subcaption 2017
          br
          | прогноз
      +e.col_one
        +e.SPAN.caption
          | Этап 7
          br
        +e.SPAN.subcaption 2018
          br
          | прогноз
    +e.row._data
      +e.col_half 1
      +e.col_three 
        | Доля жителей города Москвы, 
        | систематически занимающихся 
        | физической культурой и спортом, 
        | в общей численности населения 
        | города Москвы
      +e.col_one процентов
      +e.col_one._data 23
      +e.col_one._data 24
      +e.col_one._data 26
      +e.col_one._data 30
      +e.col_one._data 32
      +e.col_one._data 34
      +e.col_one._data 36
    +e.row._data
      +e.col_half ...
      +e.col_three ...
      +e.col_one ...
      +e.col_one._data ...
      +e.col_one._data ...
      +e.col_one._data ...
      +e.col_one._data ...
      +e.col_one._data ...
      +e.col_one._data ...
      +e.col_one._data ...
      
mixin table2()
  +b.table2&attributes(attributes)
    +e.row._caption
      +e.col_four Источник финансирования
      +e.col_one
        +e.SPAN.caption
          | Этап 1
          br
        +e.SPAN.subcaption 2012
          br
          | факт
      +e.col_one
        +e.SPAN.caption
          | Этап 2
          br
        +e.SPAN.subcaption 2013
          br
          | факт
      +e.col_one
        +e.SPAN.caption
          | Этап 3
          br
        +e.SPAN.subcaption 2014
          br
          | факт
      +e.col_one
        +e.SPAN.caption
          | Этап 4
          br
        +e.SPAN.subcaption 2015
          br
          | факт
      +e.col_one
        +e.SPAN.caption
          | Этап 5
          br
        +e.SPAN.subcaption 2016
          br
          | прогноз
      +e.col_one
        +e.SPAN.caption
          | Этап 6
          br
        +e.SPAN.subcaption 2017
          br
          | прогноз
      +e.col_one
        +e.SPAN.caption
          | Этап 7
          br
        +e.SPAN.subcaption 2018
          br
          | прогноз
      +e.col_one
        +e.SPAN.caption
          | Итого
          br
        +e.SPAN.subcaption 2012 -
          br
          | 2018
    +e.row._data
      +e.col_four Бюджет города Москвы
      +e.col_one._data 28 509,7
      +e.col_one._data 36 860,1
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 255 451,4
    +e.row._data
      +e.col_four Средства федерального бюджета
      +e.col_one._data 28 509,7
      +e.col_one._data 36 860,1
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 255 451,4
    +e.row._data
      +e.col_four Средства юридических и физических лиц
      +e.col_one._data 28 509,7
      +e.col_one._data 36 860,1
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 255 451,4
    +e.row._data
      +e.col_four Всего
      +e.col_one._data 28 509,7
      +e.col_one._data 36 860,1
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 38 226,4
      +e.col_one._data 255 451,4
