.table1, .table2 {
  display: block;
  font-size: 16px;
  font-weight: 400;
  color: $color-input;

  &__row {
    display: table;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;

    &_caption {
      font-family: $PFDinCondensedPro;
      font-size: 14px;
      color: #898783;
      border-bottom-width: 3px;
      text-transform: uppercase;
      font-weight: 500;

      span {
        display: inline-block;
        vertical-align: middle;
        float: left;
      }

      .table1__col {
        text-align: left;
      }

      .table1__col, .table2__col {
        &::after { height: 3px; }
      }
    }

    &_data {
      .table1__col {
        line-height: 19px;
        padding-top: 18px;
        padding-bottom: 20px;
      }
    }
  }

  &__col {
    position: relative;
    display: table-cell;
    box-sizing: border-box;
    vertical-align: top;
    padding: 9px 17px 12px;
    line-height: 1.2;
    text-align: left;
    transition: background-color .3s ease;

    &_centered { text-align: center; }
    &_bold, b { font-weight: 500; }
    &:first-child { padding-left: 0; }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 100%;
      left: 0;
      background-color: #d1d8dd;
      pointer-events: none;
      opacity: 0;
      transition: opacity .3s ease;
    }

    &.active {
      background-color: #e9f0f6;

      &::after { opacity: 1; }
    }

    &_data { font-family: $PFDinCondensedPro; }
    &_one { width: 8.6%; }
    &_two { width: 12%; }
    &_three { width: 24.7%; }
  }

  &__caption {
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: 500;
  }

  &__subcaption {
    font-size: 14px;
    text-align: left;
    text-transform: none;
    float: left;
    line-height: 1;
    font-weight: 500;

    &::after {
      @include clearfix;
    }
  }
}








.table2 {
  &__row_data &__col { padding-top: 16px; padding-bottom: 16px; }

  &__col_one_big { width: 10%; }
  &__row_data:last-child { font-weight: 500; }
}
