mixin regions()
  +b.regions&attributes(attributes)
    .d-si-content
      .ar-left
      .ar-right
      .d-layer
        +b.d-si__head
          +e._descr Сервисы
          +e._name москва и субъекты рф
          +e._icons
            +e.A(href="#")._icons__item
            +e.A(href="#")._icons__item
        +b.d-smr
          +e.container
            +e.container_body.d-sr__body_p
              +e.stat_head
                +e.stat_head_left
                  +e.SPAN.form-label Год
                  +b.jq-selectbox.jqselect.changed#d-si-select-styler
                    select(name='d-si-select')#d-si-select
                      option(value='1') 2015
                      option(value='2') 2016
                      option(value='3', selected) 2017
                    +e.select
                      +e.select-text 2017
                      +e.trigger
                        +e.trigger-arrow
                    +e.dropdown
                      ul 
                        li 2015
                        li 2016
                        li.selected.sel 2017
                +e.stat_head_right
                  +e.form-label Добавить показатель на страницу
                  +e.add-char
                    +e.add-char-label Выберите показатель
                    +e.add-char-block 
                      +e.UL.add-char-list.scroll-pane
                        +e.LI.add-char-item
                          input(type='checkbox', name='a', value)#a
                          label(for='a') Доходы
                          +e.UL.char-sublist
                            +e.LI.add-char-item
                              input(type='checkbox', name='aa', value='aa')#aa
                              label(for='aa') Доходы, всего
                            +e.LI.add-char-item
                              input(type='checkbox', name='ab', value='ab')#ab
                              label(for='aс') Доходы в расчёте на 1 жителя
                            +e.LI.add-char-item
                              input(type='checkbox', name='ac', value='ac')#ac
                              label(for='aс') Налоговые доходы
                            +e.LI.add-char-item
                              input(type='checkbox', name='ad', value='ad')#ad
                              label(for='aс') Неналоговые доходы
                            +e.LI.add-char-item
                              input(type='checkbox', name='ae', value='ae')#ae
                              label(for='aс') Безвозмездные поступления
                        +e.LI.add-char-item
                          input(type='checkbox', name='b', value)#b
                          label(for='b') Расходы
                          +e.UL.char-sublist
                            +e.LI.add-char-item
                              input(type='checkbox', name='ba', value='ba')#ba
                              label(for='aa') Расходы, всего
                            +e.LI.add-char-item
                              input(type='checkbox', name='bb', value='bb')#bb
                              label(for='aс') Расходы в расчёте на 1 жителя
                            +e.LI.add-char-item
                              input(type='checkbox', name='bc', value='bc')#bc
                              label(for='aс') Общегосударственные вопросы
              +e.chart-wrapper
                +e.chart-wrapper
                  +e.chart-header.d-smr__chart-row
                    +e.chart-col Субъект Российской Федерации
                    +e.chart-col(data-char='revenue')
                      | Объем доходов бюджета субъекта Российской Федерации в расчете на 1 жителя, тыс руб.
                      +e.SPAN.chart-controls
                        a(href='#').sort_desc По убыванию
                        a(href='#') Скрыть колонку
                    +e.chart-col(data-char='expense')
                      | Объем расходов бюджета субъекта Российской Федерации в расчете на 1 жителя, тыс руб.
                      +e.SPAN.chart-controls
                        a(href='#').sort_desc По убыванию
                        a(href='#') Скрыть колонку
                    +e.chart-col(data-char='death-rate')
                      | Смертность населения (без показателя смертности от внешних причин (количество умерших на 100 тыс. человек)
                      +e.SPAN.chart-controls
                        a(href='#').sort_desc По убыванию
                        a(href='#') Скрыть колонку
                  - for (var i = 0, i < 11, i++)      
                    +e.chart-row
                      +e.chart-col г. Санкт-Петербург
                      +e.chart-col(data-char='revenue')
                        +b.SPAN.nmb.one 1
                        +b.SPAN.graph
                          +e.SPAN.bar(data-width='27%')
                          span.coef 363,8
                      +e.chart-col(data-char='expense')
                        +b.SPAN.nmb.two 2
                        +b.SPAN.graph
                          +e.SPAN.bar(data-width='64%')
                          span.coef 557
                      +e.chart-col(data-char='death-rate')
                        +b.SPAN.nmb.three 3
                        +b.SPAN.graph
                          +e.SPAN.bar(data-width='29%')
                          span.coef 1117
