.search {

  display: inline-block;
  vertical-align: super;
  margin-right: 21px;

  @media (max-width: 1280px) {
    width: 100%;
    margin-right: 0;
    display: block;
  }

  &__search-line {
    display: inline-block;
    position: relative;
    margin-right: 20px;

    @media (max-width: 1280px) {
      width: 100%;
      margin-right: 0;
      display: block;
    }
  }

  .d-si__search {
    width: 771px;
    border-color: rgba(255, 255, 255, .5);
    float: none;
    font-size: 30px;
    color: $color-yellow;
    padding-bottom: 7px;
    letter-spacing: 0.3px;
    color: $color-yellow;

    &::-ms-clear {
      display: none;
      width: 0;
      height: 0;
      visibility: hidden;
      position: absolute;
    }

    @media (max-width: 1280px) {
      width: 100%;
      display: block;
    }

    @media (min-width: 451px) and (max-width: 700px) {
      font-size: 26px;
    }

    @media (max-width: 450px) {
      font-size: 18px;
    }

    &::placeholder  {
      color: rgba(255, 255, 255, 0.7);
      font-size: 30px;
      font-weight: 400;
      font-family: $PFDinTextPro;

      @media (min-width: 451px) and (max-width: 700px) {
        font-size: 26px;
      }

      @media (max-width: 450px) {
        font-size: 18px;
      }
    }

    &:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7);
      font-size: 30px;
      font-weight: 400;
      font-family: $PFDinTextPro;

      @media (min-width: 451px) and (max-width: 700px) {
        font-size: 26px;
      }

      @media (max-width: 450px) {
        font-size: 18px;
      }
    }
  }

  .placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    font-weight: 400;
    font-family: $PFDinTextPro;

    @media (min-width: 451px) and (max-width: 700px) {
      font-size: 26px;
    }

    @media (max-width: 450px) {
      font-size: 18px;
    }
  }

  &__tooltip {
    display: none;
    position: absolute;
    top: 49px;
    right: 0;
    max-width: 255px;
    padding: 12px 10px 10px 38px;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    background: #fff;
    color: #000;
    z-index: 2;

    &::before, &::after {
      content: "";
      position: absolute;
      left: 10px;
      top: -20px;
      border: 10px solid transparent;
      border-bottom: 10px solid #c7c7c7;
    }

    &::after {
      border-bottom: 10px solid #fff;
      top: -19px;
    }

    i {
      display: block;
      position: absolute;
      top: 12px;
      left: 12px;
      width: 18px;
      height: 18px;
      border: 1px solid transparent;
      border-radius: 2px;
      background: #faab20 url(../images/exclamation-mark.png) 50% 50%/contain no-repeat;
      background-size: 12px;
    }

    span {
      font-weight: 400;
    }
  }

  .d-si__search, .d-si__submit {
    height: inherit;
  }

  .d-si__submit {
    top: 18px;
    background: none !important;
    z-index: 2;

    @media (min-width: 451px) and (max-width: 700px) {
      top: 12px;
    }

    @media (max-width: 450px) {
      top: 6px;
    }
  }

  .search__submit {
    position: absolute;
    width: 16px;
    height: 19px;
    fill: $color-white;
    right: 3px;
    top: 13px;

    @media (max-width: 450px) {
      top: 6px;
    }
  }

  &__filter {
    display: inline-block;
    vertical-align: sub;
    font-size: 14.1px;
    position: relative;
    z-index: 6;

    @media (max-width: 1280px) {
      text-align: right;
      display: block;
      margin-top: 5px;
    }
  }

  .link_extra {
    @media (max-width: 450px) {
      transform: translateX(-7px);
    }
  }

  .link_extra.active {
    color: $color-black;
    background-color: $color-white;
    border-bottom: none;
    text-decoration: none;

    & + .extra-search {
      display: block;
    }
  }

  .link {
    z-index: 2;
    border-bottom: none;
    text-decoration: underline;
    text-decoration-style: dashed;
    font-size: 14.1px;
    padding: 15px;
    transition: all .25s ease-in-out;

    &:hover {
      opacity: .7;
    }

    @media (max-width: 320px) {
      padding-left: 14px;
    }
  }

  .link_tags {
    // padding: 0 21px 0 17px;
  }

  .link_tags.active {
    color: $color-black;
    background-color: $color-white;
    border-bottom: none;
    text-decoration: none;

    & + .tags {
      display: block;
    }
  }

  .extra-search, .tags {
    display: none;
    position: absolute;
    background-color: $color-white;
    color: $color-black;
    box-shadow: 0 21px 40px rgba(0, 0, 0, 0.5);
    right: 0;
  }

  .tags {
    display: none;
    width: 1067px;
    white-space: normal;
    margin-top: 0;
    overflow: inherit;
    font-size: 0;

    @media (max-width: 1280px) {
      width: 100%;
    }

    &::before {
      display: none;
    }

    &__wrapper {
      padding: 33px 29px 28px 29px;
      text-align: left;

      @media (min-width: 451px) and (max-width: 1280px) {
        padding: 20px;
      }

      @media (max-width: 450px) {
        padding: 10px;
      }
    }

    &__list {
      margin-bottom: 24px;
    }

    &__title {
      font-family: $PFDinCondensedPro;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14.1px;
      margin-bottom: 21px;
    }

    .tag {
      margin: 0 5px 10px 0;
    }

    .button {
      width: 150px;
      box-shadow: 0 2px 0 #004a7a;
      text-transform: uppercase;
      font-weight: 500;
      padding: 9px 50px;
      margin-right: 25px;

      @media (min-width: 451px) and (max-width: 1280px) {
        margin-left: 0;
      }

      @media (min-width: 320px) and (max-width: 450px) {
        margin-left: 0;
        width: 123px;
        padding: 8px 30px;
        margin-right: 6px;
      }
    }

    input {
      color: $color-link;
      font-family: $PFDinTextPro;
      font-size: 14.1px;
      font-weight: 400;
      vertical-align: middle;

      &:hover {
        color: $color-link;
      }

      &:active {
        color: #1e90ff;
      }

      @media (min-width: 320px) and (max-width: 450px) {
        font-size: 13.1px;
      }
    }
  }

  .modal {
    z-index: 5;

    @media (max-width: 1280px) {
      text-align: initial;
    }
  }

  .extra-search {
    width: 538px;

    @media (max-width: 700px) {
      width: 100%;
    }

    &__wrapper {
      padding-bottom: 15px;
      text-align: left;
    }

    &__cols {
      border-bottom: 1px solid #e1e1e1;
      margin-bottom: 12px;
      font-size: 0;
    }

    &__col {
      display: inline-block;
      vertical-align: top;
      padding: 33px 0 23px 31px;


      @media (min-width: 451px) and (max-width: 1280px) {
        padding: 20px;
      }

      @media (max-width: 450px) {
        padding: 10px;
      }

      &_min {
        display: none;
        padding: 33px 49px 33px 141px;

        @media (min-width: 451px) and (max-width: 1280px) {
          padding: 20px;
        }

        @media (min-width: 320px) and (max-width: 450px) {
          padding: 10px;
        }
      }

      &_one {
        padding-right: 27px;

        @media (min-width: 701px) and (max-width: 1280px) {
          padding-right: 20px;
        }

        @media (min-width: 451px) and (max-width: 700px) {
          width: 55%;
        }

        @media (min-width: 320px) and (max-width: 450px) {
          width: 100%;
          border-bottom: 1px solid #e1e1e1;
          padding: 10px;
        }
      }

      &_two {
        padding-left: 36px;
        border-left: 1px solid #e1e1e1;
        width: 35%;

        @media (min-width: 701px) and (max-width: 1280px) {
          padding-left: 20px;
        }

        @media (min-width: 320px) and (max-width: 450px) {
          width: 100%;
          border: none;
          padding: 10px;
        }

        .checkbox {
          @media (max-width: 450px) {
            display: inline-block;
            width: 47%;
            vertical-align: top;
          }
        }
      }
    }

    &__icon {
      position: absolute;
      right: -15px;
      top: 5px;
      width: 10px;
      height: 6px;
      fill: $color-black;
      stroke: $color-black;
      z-index: 1;
      cursor: pointer;

      @media (min-width: 320px) and (max-width: 450px) {
        left: 48%;
      }
    }

    &__checkbox {
      position: relative;
      display: inline-block;

      @media (min-width: 320px) and (max-width: 450px) {
        display: block;
      }

      &-group {
        padding-left: 20px;
        display: none;
      }
    }

    &__title {
      font-family: $PFDinCondensedPro;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14.1px;
      margin-bottom: 21px;
      margin-left: -2px;
    }


    .form__date-range {
      margin-bottom: 18px;
      padding: 0 1px 5px 8px;
      width: 202px;

      &_focus {

        .form__date-range-icon {
          background: $color-yellow;
        }
      }

      @media (max-width: 450px) {
        width: 100%;
      }
    }

    .form__date-range-input {
      padding: 2px 1px !important;
      width: 62px;
      vertical-align: baseline;
    }

    .form__date-range-icon {
      top: 0px;
      right: 0px;
      height: 32px;

      @media (max-width: 450px) {
        right: -7px;
        width: 35px;
        height: 32px;
      }
    }

    .form__date-range-input, .form__date-range-sep {
      color: rgba(0, 0, 0, .4);
      font-size: 14.1px;
      padding:  8px 11px 0 3px;
    }

    .form__date-range-icon::before {
      background-position: -209px -117px;
    }
    .checkbox {
      font-family: $PFDinTextPro;

      &__text {
        margin-left: 5px;
        font-size: 14.1px;
        margin-bottom: 9px;
        position: relative;
        letter-spacing: 0.1px;
        max-width: none;
        
        @media screen and (max-width: 450px) {
          padding-right: 25px;
        }
      }
    }

    .button {
      width: 150px;
      box-shadow: 0 2px 0 #004a7a;
      text-transform: uppercase;
      font-weight: 500;
      padding: 9px 50px;
      margin: 0 23px 0 31px;

      @media (min-width: 451px) and (max-width: 1280px) {
        margin-left: 20px;
      }

      @media (min-width: 320px) and (max-width: 450px) {
        margin-left: 10px;
        margin-right: 6px;
      }
    }

    input {
      color: $color-link;
      font-family: $PFDinTextPro;
      font-size: 14.1px;
      font-weight: 400;
      vertical-align: middle;

      &:hover {
        color: $color-link;
      }

      &:active {
        color: #1e90ff;
      }
    }
  }
  
  .radio-alt {
    margin: 10px 0;
    font-family: $PFDinTextPro;
  }
}

.search_news {
  margin-right: 0;

  .d-si__search {
    width: 830px;
    font-size: 18px;
    &::placeholder {
      color: rgba($color-white, .2);
      font-size: 18px;
    }
  }

  .search__search-line {
    margin-right: 12px;
  }

  .link {
    padding: 10px 10px 20px;
  }

  .extra-search .form__date-range-input {
    @media (max-width: 400px) {
      width: 66px;
      padding: 8px 11px 0 3px!important;
    }
  }

  .extra-search .form__date-range-icon {
    @media (max-width: 400px) {
      right: 0;
      height: 30px;
      &::before {
        right: 11px;
      }
    }
  }

  .extra-search__icon {
    display: inline-block;
    position: relative;
    top: 0px;
    left: 4px;

    @media (max-width: 400px) {
      top: 6px;
    }
  }

  .extra-search__cols {
    font-weight: 500;
  }

  .extra-search__col_two {
    min-height: 272px;
    padding-left: 25px;
  }

  .extra-search__col_two .checkbox {
    display: inline-block;
    width: auto;
    margin: 0;
  }

  .search__submit {
    top: 0;
  }

  .extra-search__checkbox-group {
    padding-left: 10px;
  }

  .extra-search__checkbox-group .checkbox {
    display: block;
  }

  .d-si__submit {
    top: 3px;
  }

  .btn-close {
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
  }

  

  @media screen and (max-width: 1280px) {
    .search__filter {
      display: inline-block;
    }
    .search__search-line {
      width: calc(100% - 290px);
      display: inline-block;
    }
    .d-si__search {
      width: 100%;
      display: inline-block;
    }
    .tags {
      width: 1067px;
    }
  }

  @media screen and (max-width: 1179px) {
    .tags {
      width: 900px;
    }
  }

  @media screen and (max-width: 992px) {
    .d-si__search-form {
      margin-top: 0;
    }
    .tags {
      width: 580px;
    }
  }

  @media screen and (max-width: 700px) {
    .extra-search {
      width: 538px;
    }
    .btn-close {
      display: block;
    }
    .button {
      line-height: normal;
      width: inherit;
      height: inherit;
      font-size: 14.5px;
    }
  }

  @media screen and (max-width: 639px) {
    .search__search-line {
      width: 100%;
      margin-right: 0;
    }
    .d-si__submit {
      right: 7px;
    }
    .search__filter {
      margin-top: 0;
      display: block;
      text-align: left;
    }
    .extra-search {
      width: 100%;
    }
    .tags {
      width: 100%;
    }
  }

  @media screen and (max-width: 450px) {
    .search__filter {
      text-align: justify;
      margin-top: 11px;

      &:after {
        width: 100%;
        height: 0;
        content: "";
        display: inline-block;
      }
    }

    .link_extra {
      transform: none;
    }
  }
}

.search_widget {
  padding-top: 0;
  margin: 0;

  .search__search-line {
    width: 100%;
    margin-right: 0;
  }

  .d-si__search {
    width: 100%;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 32px;
    color: $color-black;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    padding-left: 10px!important;
    text-transform: uppercase;
    margin: 0;
  }

  .search__submit {
    fill: $color-blue;
    right: 10px;
    top: 7px;
  }
}

.search_net {
  padding: 0;
  margin: 0;

  @media (max-width: 900px) {
    text-align: right;
  }

  .search {

    &__search-line {
      width: 619px;
      margin-right: 9px;

      @media (max-width: 1280px) {
        display: inline-block;
      }

      @media (max-width: 900px) {
        width: 100%;
      }

    }

    &__tooltip {
      display: none!important;
    }

    &__submit {
      width: 16px;
      height: 19px;
      right: 17px;
      top: 50%;
      transform: translateY(-50%);
      fill: $color-link;

      @media (max-width: 900px) and (min-width: 601px) {
        width: 32px;
        height: 35px;
        right: 14px;
      }
    }

    &__filter {
      display: none;
      
      @media (max-width: 1280px) {
        margin-top: 0;
      }

      @media (max-width: 900px) {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
      }
      
    }
  }

  .d-si__search {
    width: 100%;
    padding: 0;
    padding-left: 13px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    color: #d5d5d5;
    letter-spacing: -.8px;
    text-transform: none;
    border: 1px solid #d5d5d5;
    border-radius: 2px;

    @media (max-width: 900px) and (min-width: 601px) {
      padding-left: 24px;
      height: 70px;
      font-size: 24px;
      line-height: 70px;
    }

    &_focused {
      color: $color-black;
    }
  }

  .d-si__submit {
    width: 16px;
    height: 19px;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);

    @media (max-width: 900px) and (min-width: 601px) {
      width: 32px;
      height: 35px;
      right: 14px;
    }
  }

  .link {
    box-sizing: content-box;
    line-height: 32px;
    padding: 0 15px 12px;
    font-weight: 500;

    &.active {
      background-color: #f5f2ed!important;
    }

    @media (max-width: 900px) and (min-width: 601px) {
      font-size: 24px;
    }

    @media (max-width: 900px) {
      padding: 0;
      margin-top: 22px; 
    }

    @media (max-width: 600px) {
      transform: none !important;
      margin-top: 13px;
    }

  }

  .extra-search {
    box-shadow: none;

    &.modal {
      display: block;
      position: static;
      width: 100%;
      padding: 22px 32px 32px;
      background: #f5f2ed;

      @media (max-width: 900px) {
        display: block;
        height: 100%;
        overflow: scroll;
      }

      @media (max-width: 900px) and (min-width: 601px) {
        padding: 39px 45px 32px;
      }

      @media (max-width: 600px) {
        padding: 39px 13px 32px;
      }
      
    }

    &__wrapper {
      padding: 0;
    }

    &__title {
      font-size: 18px;
      margin: 0;

    @media (max-width: 900px) and (min-width: 601px) {
      font-size: 28px;
    }

    }

    &__cols {
      border: none;
      margin-top: 18px;
      margin-bottom: 33px;

      @media (max-width: 900px) and (min-width: 601px) {
        margin-top: 27px;
      }

    }
    
    &__col {
      @media (max-width: 900px) {
        display: block;
      }

    }

    &__col_one,
    &__col_two {
      width: auto;
      padding: 0;
      border: none;
    }
    
    &__col_two {
      margin-left: 70px;

      @media (max-width: 900px) {
        margin-left: 0;
        margin-top: 43px;
      }

      .extra-search__field-label {
        width: 77px;

        @media (max-width: 900px) {
          width: 100%;
        }
      }
    }

    &__field {
      margin: 0;
      & + .extra-search__field {
        margin-top: 10px;

        @media (max-width: 900px) and (min-width: 601px) {
          margin-top: 16px;
        }

      }

      .selectbox {
        padding: 0;

        &__select, &__val {
          @media (max-width: 900px) and (min-width: 601px) {
            font-size: 24px;
            line-height: 70px;
          }
        }

        &__arrow {
          @media (max-width: 900px) and (min-width: 601px) {
            width: 55px;
          }

          span {
            @media (max-width: 900px) and (min-width: 601px) {
              border-width: 9px 9px 0;
            }
          }
        }
      }
    }

    &__field-label {
      display: inline-block;
      vertical-align: middle;
      width: 116px;
      font-family: $PFDinTextPro;
      font-size: 16px;

      @media (max-width: 900px) and (min-width: 601px) {
        font-size: 24px;
      }

      @media (max-width: 900px) {
        display: block;
        width: 100%;
      }
    
    }

    &__field-input {
      display: inline-block;
      padding: 0 12px;
      width: 231px;
      height: 34px;
      font-size: 14px !important;
      line-height: 32px;
      color: $color-black !important;
      background: $color-white;
      border: 1px solid #acacac;

      @media (max-width: 900px) and (min-width: 601px) {
        margin-top: 7px;
        height: 70px;
        font-size: 24px!important;
        line-height: 70px;
      }
      

      @media (max-width: 900px) {
        display: block;
        width: 100%;
      }
    }

    .button {
      margin: 0 23px 0 0;

      @media (max-width: 900px) and (min-width: 601px) {
        width: 300px;
        padding: 19px 50px;
        font-size: 24px;
        margin: 0 43px 0 0;
      }

    }

    &__reset {
      @media (max-width: 900px) and (min-width: 601px) {
        font-size: 24px!important;
      }
    }

    &__close {
      position: absolute;
      top: 17px;
      right: 11px;
      height: 20px;
      width: 20px;

      @media (max-width: 900px) and (min-width: 601px) {
        right: 10px;
        height: 30px;
        width: 30px;
        fill: $color-black;
      }
    }
  }
}