extends ../../layouts/default
include ../../components/main-test/main-test

block head
  - var pageTitle = 'Главная страница'

block page
  .wrapper.wrapper_main
    block header
      +header()
      // GUIDE_LINK
      a(href="#", data-delay="2700", title="Путеводитель по бюджету").guide.load-anim-fade
        span Путеводитель<br> по бюджету
        span.guide__icon
      block sections
        +sections().sections_fs
          block content
            +main-test()
            +footer()

  +popup-wrapper()
  
  script(src="assets/scripts/js/jquery-3.1.1.min.js")
  script(src="assets/scripts/js/header/easing.min.js")
  script(src="assets/scripts/js/header/swipe.min.js")
  script(src="assets/scripts/js/header/slick.min.js")
  script(src="assets/scripts/js/header/jquery-ui.min.js")
  script(src="assets/scripts/js/header/jquery.validate.min.js")
  script(src="assets/scripts/js/header/sections.min.js")
  script(src="assets/scripts/js/header/cube.min.js")
  script(src="assets/scripts/js/header/animation.min.js")
  script(src="assets/scripts/js/header/label.min.js")
  script(src="assets/scripts/js/header/select.min.js")
  script(src="assets/scripts/js/header/popup.min.js")
  script(src="assets/scripts/js/header/share.min.js")
  script(src="assets/scripts/javascript/diagram.js")
  script(src="assets/scripts/js/header/letter.min.js")
  script(src="assets/scripts/js/header/form.min.js")
  script(src="assets/scripts/js/header/common.min.js")
  script.
    $(document).ready(function() {
      /*Init Diagrams -- set id to diagram viewbox -- */
      diagram( '#diagram-1', {
        stroke: 30,
        kind: 'triple',
        data: [ 1446.2, 1598.9],
        animate: true,
        maxValue: 2050
      });
      diagram( '#diagram-2', {
        stroke: 30,
        kind: 'triple',
        data: [ 1446.2, 1598.9],
        animate: true,
        maxValue: 2050
      });
      diagram('#diagram-3', {
        stroke: 30,
        kind: 'triple',
        data: [ 1446.2, 1598.9],
        animate: true,
        maxValue: 2050
      });
      diagram('#diagram-4', {
        viewBox: 390,
        stroke: 60,
        kind: 'ifinite',
        data: [ 1921.7 ],
        gradient: ['#008ADF', '#00E6F9'],
        valClass: ['large-diagram__value-lightblue', 'large-diagram__value-blue'],
        maxValue: 1665.5,
        animate: true,
      });
      diagram('#diagram-5', {
        viewBox: 390,
        stroke: 60,
        kind: 'ifinite',
        data: [ 1364.5 ],
        gradient: [ '#9D308A', '#ED5F64' ],
        valClass: ['large-diagram__value-pink', 'large-diagram__value-violet'],
        maxValue: 1865.5,
        animate: true,
      });
      diagram('#diagram-6', {
        viewBox: 197, 
        stroke: 19,
        kind: 'segment',
        data: [ 150.7, 60.8, 35.2, 100.5 ],
        gradient: [ ['#60bc50', '#fee300'], ['#e00242', '#400f80'], ['#008cde', '#00afea'], ['#9da2af', '#cfd3d9'] ],
        maxValue: 150.7+60.8+35.2+100.5,
        padding: 15,
      });
      diagram('#diagram-7', {
        viewBox: 197, 
        stroke: 19,
        kind: 'segment',
        data: [ 21.4, 28.8, 48.4 ],
        gradient: [ ['#60bc50', '#fee300'], ['#008cde', '#00afea'], ['#e00242', '#400f80'] ],
        maxValue: 21.4+28.8+48.4,
        padding: 15
      });
      diagram('#diagram-8', {
        viewBox: 180,
        stroke: 19,
        kind: 'dashed',
        data: [ 1637.3, 1167.7 ],
        gradient: [  ['#e6edf3', '#e6edf3'], ['#60bc50', '#fee300'] ],
        maxValue: 1637.3,
      });
      diagram('#diagram-9', {
        viewBox: 180,
        stroke: 19,
        kind: 'dashed',
        data: [ 113.4, 46.5 ],
        gradient: [  ['#e6edf3', '#e6edf3'], ['#fc0037', '#091395'] ],
        maxValue: 113.4,
      });
    });
  script(src="assets/scripts/js/main-page.js")
  // ScritForTest
  script.
    $(document).ready(function() {  
      (function() {  
        var _ = $('#test-1');  
        _.find('form').submit(function() {
          var inp1 = +_.find('input[name="inp1"]').val(),
          inp2 = +_.find('input[name="inp2"]').val(),
          inp3 = +_.find('input[name="inp3"]').val();
          diagram( '#diagram-1', {
            stroke: 30,
            kind: 'triple',
            data: [ inp1, inp2],
            animate: true,
            maxValue: inp3
          });
          return false;
        });
      }());  
      (function() {
        var _ = $('#test-2');
        _.find('form').submit(function() {
          var inp1 = +_.find('input[name="inp1"]').val(),
          inp2 = +_.find('input[name="inp2"]').val();
          diagram('#diagram-4', {
            viewBox: 390,
            stroke: 60,
            kind: 'ifinite',
            data: [ inp2 ],
            gradient: ['#008ADF', '#00E6F9'],
            valClass: ['large-diagram__value-lightblue', 'large-diagram__value-blue'],
            maxValue: inp1,
            animate: true,
          });
          return false;
        });
      }());  
    });
