.logo {
  display: block;
  color: #FFF;
  float: left;
  width: 230px;
  font-family: $PFDinCondensedPro;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: relative;

  &__img {
    float: left;
    margin-right: 17px;
  }

  &__lg {
    display: block;
    font-size: 19px;
    margin-bottom: 2px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    bottom: 0;
  }

  &__sm {
    display: block;
    margin-top: 4px;
    font-size: 15px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: relative; bottom: 0;
  }

  &:hover {
    color: #fee300;
  }
}
