//- logo('header') - лого хедера
//- logo('footer1') - лого футера 1-е
//- logo('footer2') - лого футера 2-е
mixin logo(type)
  +b.A(href="#").logo&attributes(attributes)
    if type == 'header'
      +e.IMG(src="assets/images/logo.png", alt="logo").img
      +e.SPAN.lg Открытый бюджет
      +e.SPAN.sm города Москвы
    if type == 'footer1'
      +e.IMG(src='assets/images/logo-footer.png', alt='logo').img
      +e.SPAN.lg
        | Департамент Финансов
        br
        | города Москвы
    if type == 'footer2'
      +e.IMG(src='assets/images/logo-footer-1.png', alt='logo').img
      +e.SPAN.lg
        | Официальный портал Мэра
        br
        | и Правительства Москвы
