.social { // ul
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item { // li
    float: left;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__link { // a
    display: block;
    width: 17px;
    height: 17px;
    color: white;
    fill: white;

    &:hover {
      color: #fee300;
      fill: #fee300;
    }
  }

  &__icon { // svg
    max-width: 100%;
    max-height: 100%;
    @include transited;
  }
}
