include ../icon/icons
//- ...buttons - названия svg-иконок по названию из папки icons
//- Пример:
//- +social('vk', 'fb', 'tw')
mixin social(...buttons)

  +b.UL.social&attributes(attributes)
    each button in buttons
      +e.LI.item
        +e.A.link(href='#', class='__link_type_' + button, data-toggle-toppanel=(button == 'mos'))
          +icon(button).icon
