extends ../../layouts/default
include ../../components/budgetary-policy/budgetary-policy

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +budgetary-policy()
      +popup-wrapper()
      +footer()
      +button-top()
