include ../page-header/page-header
include ../../blocks/grid/grid
include ../../blocks/table/table
include ../analityc-widgethead/analityc-widgethead
include ../analityc-table/analityc-table
include ../analityc-graphics/analityc-graphics
include ../../blocks/dropdown-block/dropdown-block

mixin budget_moscow_gov_program()
  
  .main._basic
    +b.section.basic-budget.moscow-gov-program
      .ar.ar-left
      .ar.ar-right
      .wrapper
        +page-header('Государственные программы', ['Бюджетная система'], false, true)
        .article-controls
          span
          span
          span
        .analityc-widget.analityc-widget_moscow-gov-program
          +analityc-widgethead-moscow-gp()
          +icon('angle-arrow').ar._left
          +icon('angle-arrow').ar._right
          .analityc-widget-sources.analityc-widget-moscow-gov-program._active
            +analityc-graphics-multiline(getData('graphic-multiline'))
          //- +analityc-table()._changes.analityc-widget-moscow-gov-program-table_date
          //-   +table-income(getData('income1'))
          .analityc-widget-sources.analityc-widget-moscow-gov-program_structure
            +analityc-graphics-line-alt(getData('graphic-lines-gp1'))._date-one
          //- +analityc-table()._changes.analityc-widget-sources-table_approved
            +table-income(getData('income1'))
          .analityc-widget-sources.analityc-widget-moscow-gov-program_changes
          
          //- +analityc-table()._changes.analityc-widget-moscow-gov-program-table_changes
            +table-income(getData('income1'))
          .analityc-widget-sources.analityc-widget-moscow-gov-program_date
            
          //- +analityc-table()._changes.analityc-widget-moscow-gov-program-table_done
          //-   +table-income(getData('income1'))
          .analityc-widget__bottom
            a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
            a(href="/").analityc-more.analityc-more_results Результаты реализации государственных программ
      +dropdown()
