.analityc-control-button_graphics {
  margin-top: -3px;
}

.analityc-widget_moscow-gov-program {
  padding: 20px 30px 20px 40px;

  @media (max-width: 1140px) {
    margin-left: -75px;
    margin-right: -74px;
    padding-bottom: 31px;
  }

  @media (max-width: 900px) {
    padding: 27px 38px 20px 40px;
    margin-left: -40px;
    margin-right: -40px;
  }

  @media (max-width: 450px) {
    padding: 21px 18px 28px;
    margin-left: -15px;
    margin-right: -15px;
  }

}

.moscow-gov-program {

  .analityc-widgethead {
    @media (max-width: 450px) {
      padding-bottom: 0; 
    }    
  }

  .analityc-control-group {
    @media (max-width: 900px) {
      margin-bottom: 25px!important;
    }  

    @media (max-width: 450px) {
      margin-bottom: 8px!important;
    }    
  }

  .analityc-select {
    @media (max-width: 450px) {
      padding-left: 7px!important;
    }   

    &_disabled {
      background-color: #e5e5e5 !important;
    } 
    
  }

  .analityc-control-button+.analityc-control-button {
    @media (max-width: 900px) {
      margin-left: 35px!important;
    }   

    @media (max-width: 450px) {
      margin-left: 17px!important;
    }    
  }

  .analityc-control-button_graphics svg, 
  .analityc-control-button_table svg {
    @media (max-width: 900px) {
      width: 70px;
      height: 70px;
    }  

    @media (max-width: 450px) {
      width: 30px;
      height: 30px;
    }       
  }

  .analityc-control-group span {
    @media (max-width: 900px) {
      font-size: 24px;
    }

    @media (max-width: 450px) {
      font-size: 16px;
    }
  }

  .analityc-control-group._dp {
    margin-left: 29px;
    margin-top: 33px;
  
    @media (max-width: 1140px) and (min-width: 901px) {
      margin-top: 0;
    }  

    @media (max-width: 900px) {
      width: 100%;
    }  
    
    @media (max-width: 450px) {
      margin-top: 20px;
    }

    input.datepicker {

      @media (max-width: 1140px) {
        height: 31px;
        line-height: 31px;
      }  

      @media (max-width: 900px) {
        padding: 0 13px;
        font-size: 20px;
        height: auto;
        line-height: 50px;
        background-size: 5%;
      }

      @media (max-width: 450px) {
        padding: 0 7px;
        font-size: 12px;
        height: 26px;
      }
    }
  }

  .analityc-control-group._dp-alt {
    margin-top: 30px;
    margin-left: 29px;
    margin-bottom: 0;
    vertical-align: middle;

    @media (max-width: 1140px) and (min-width: 901px) {
      margin-top: 0;
    }  

    @media (max-width: 900px) {
      width: 100%;
    }  

    .analityc-select {
      margin-top: 0;
    }
  }

  .analityc-control-switcher_sub,
  .analityc-control-switcher_units,
  .analityc-control-switcher_big {
    position: static!important;
  }

  .analityc-control-switcher_units,
  .analityc-control-switcher_big {
    margin-left: 3%;

    @media (max-width: 900px) {
      margin-left: 0;
      margin-top: 25px;
    }
  }

  .analityc-control-buttons,
  .analityc-control-switcher_large,
  .analityc-control-switcher_sub,
  .analityc-control-switcher_units,
  .analityc-control-switcher_big,
  .analityc-control-group._dp,
  .analityc-control-group._dp-alt {
    display: none;
    &.active {
      display: inline-block !important;
    }
  }
  .analityc-control-switcher {
    @media (max-width: 450px) {
      position: static;
      margin-top: 10px;
    } 
  }
  .analityc-control-switcher a {
    @media (max-width: 900px) {
      padding: 0 60px!important;
    } 

    @media (max-width: 580px) {
      padding: 0!important;
    } 
  }

  .analityc-control-buttons.active+.analityc-control-switcher {
    @media (max-width: 900px) {
      margin-left: 0;
    }    
  }

  .analityc-widget-moscow-gov-program {
    margin-top: 49px;
    margin-bottom: 47px;

    &_done, &_structure, &_changes, &_date, &_exec, &_expenses {
      display: none;
      &._active {
        display: block;
      }
    }

    &_structure-exec .tabs__tab.active {
      display: block !important;
    }
/*start*/
    &-table {
      &_done, &_structure, &_changes, &_date, &_exec {
        display: none;
        &._active {
          display: block;
        }
      }

      &_done .table, 
      &_date .table {
        @media (max-width: 900px) {
          min-width: 580px;
        }
      }

      &_changes .table {
        @media (max-width: 900px) {
          min-width: 980px;
        }
      }

      .analityc-table__wrapper {
        overflow-x: auto;
        overflow-y: hidden;
      }

    }
  }

  .analityc-widget-sources {
    margin-top: 64px;

    @media (max-width: 1140px) {
      margin-top: 7px;
    }

    @media (max-width: 450px) {
      margin-top: 26px;
    }

  }

  .analityc-widget-moscow-gov-program {

    &_date {
      margin-top: 38px;

      @media (max-width: 1140px) {
        margin-top: 10px;
      }

      @media (max-width: 900px) and (min-width: 581px) {
        margin-top: -59px;
      }

      .analityc-line_gp .analityc-line__lines {
        margin-top: 42px;

        @media (max-width: 768px) {
          margin-top: 23px;
        }

        @media (max-width: 768px) {
          padding-bottom: 45px;
        }
      }
    }
  }

  .analityc-js-line__right-block {
    display: none;
  }

  .section__ar {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 3000;
    width: 21px;
    height: 26px;

    @media (max-width: 900px) {
      display: inline;
    } 

    &_disabled {
      opacity: 0;
    }

    &_left {
      right: 101%;
      transform: rotate(180deg);
    }

    &_right {
      left: 101%;
    }
  }



  .analityc-widget-moscow-gov-program_changes, .analityc-widget-moscow-gov-program_structure {
    @media (max-width: 580px){
      margin-bottom: 0;
    } 

    .analityc-graphics__toptext {
      @media (max-width: 580px) {
        top: 13px;
        right: 0;
      }
    }

    .analityc-graphics__periodtext {
      width: 69%;
    }

    .graphic {
      &__row {
        border: none;
        display: block;
        width: 100%;
        margin-bottom: 25px;
        text-align: justify;

        @media (max-width: 580px){
          margin-bottom: 0; 
        } 

      }

      &__data {
        padding-bottom: 39px;
        font-size: 24px;
        position: relative;
        text-decoration: underline;
        text-decoration-style: dashed;
        font-weight: 500;
        color: $color-link;
        display: inline-block;
        width: 33%;
        text-align: center;

        @media (max-width: 900px) and (min-width: 581px){
          font-size: 40px;
        } 

        @media (max-width: 580px){
          font-size: 20px;
        } 


        &:first-child {
          @media (max-width: 900px) {
            text-align: left;
          } 
        }
        &:last-child {
          @media (max-width: 900px) {
            text-align: right;
          } 
        }

        .js-button {
          padding: 5px 10px;
          transition: all .25s ease-in-out;
          cursor: pointer;
          z-index: 2;
        }

        &_active {
          text-decoration: none;
          .js-button {
            color: $color-black;
            background-color: $color-yellow;
          }
        }
      }

      &__period-left, &__period-right {
        position: absolute;
        bottom: 100%;
        height: 13px;
        border: 1px solid #d7d7d7;
        border-bottom: 0;
        margin-bottom: 2px;

        @media (max-width: 900px) {
          display: none;
        }   
      }

      &__period-left {
        left: 51%;
        right: 0;
        border-right: 0;
      }

      &__period-right {
        right: 48%;
        left: 0;
        border-left: 0;
      }
    }
  }

  .analityc-widget-moscow-gov-program_changes {
    margin-top: 27px;

    @media (max-width: 1140px) {
      margin-top: 0;
    } 

    .graphic__row {
      @media (max-width: 580px) {
        margin-top: 24px;
      } 

    }

    .graphic__data {
      padding-bottom: 0;
    }

  }

  .analityc-widget-moscow-gov-program_structure {
    @media (max-width: 1140px) {
      margin-top: 62px;
    } 

    @media (max-width:580px) {
      margin-top: 26px;
    } 
    

    .graphic__data {
      @media (max-width: 1140px) {
        padding-bottom: 25px;
      }   
    }
  }

  

  .legend {
    height: auto !important;
  }

  .analityc-widget__bottom {
    margin: 60px 0 20px;
    text-align: justify;

    @include clearfix;

    @media (max-width: 1140px) {
      margin: 51px 0 20px;
      text-align: left;
    }

    @media (max-width: 1140px) {
      margin: 24px 0 20px;
    }

    .analityc-more {
      margin-top: 0;

      @media (max-width: 900px) {
        display: block;
        font-size: 36px;
      } 

      @media (max-width: 450px) {
        font-size: 18px;
      } 
      

      &:before {
        @media (max-width: 900px) {
          top: 11px;
          right: 67px;
          border-top: 8px solid transparent;
          border-left: 9px solid #0d46a1;
          border-bottom: 8px solid transparent;
        } 

        @media (max-width: 450px) {
          top: 5px;
          right: 30px;
          border-top: 4px solid transparent;
          border-left: 5px solid #0d46a1;
          border-bottom: 4px solid transparent;
        } 

      }

      &_results {
        float: right;

        @media (max-width: 900px) {
          margin-top: 24px;
        } 

        @media (max-width: 450px) {
          margin-top: 11px;
        } 

        &:before {
          @media (max-width: 900px) {
            top: 46px;
          } 

          @media (max-width: 450px) {
            top: 25px;
          } 
          
        }
      }
    }
  }
}
