.analityc-control-button_graphics {
  margin-top: -3px;
}

.moscow-gov-program {




  .analityc-widget__bottom {
    margin: 60px 0 20px;
    text-align: justify;

    @include clearfix;

    .analityc-more {
      margin-top: 0;

      &_results {
        float: right;
      }
    }
  }
}
