include ../page-header/page-header
include ../../blocks/grid/grid
include ../../blocks/table/table
include ../analityc-widgethead/analityc-widgethead
include ../analityc-table/analityc-table
include ../analityc-graphics/analityc-graphics
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/tabs/tabs

mixin budget_moscow_gov_program()

  +b.SECTION.section.main.main_basic.basic-budget.sections__item.moscow-gov-program
    .ar.ar-left
    .ar.ar-right
    .wrapper
      +page-header('Государственные программы', ['О бюджете', 'Бюджетная система'], false, true)
      .article-controls
        span
        span
        span
      .analityc-widget.analityc-widget_moscow-gov-program.load-anim-fade(data-delay="1500")

        +analityc-widgethead-moscow-gp()

        // Этап Закон о бюджете утв.
        .analityc-widget-sources.analityc-widget-moscow-gov-program_done
          +analityc-graphics-multiline(getData('graphic-multiline'))

        .analityc-widget-sources.analityc-widget-moscow-gov-program_structure.analityc-widget-moscow-gov-program_structure-done._active
          .analityc-widget-moscow-gov-program__structure-wrapper
            p.analityc-graphics__periodtext
              span Плановый период
            .graphic__row
              span(data-year='0').graphic__data.graphic__data_active
                span.js-button 2017
              span(data-year='1').graphic__data
                span.js-button 2018
                span.graphic__period-left
              span(data-year='2').graphic__data
                span.js-button 2019
                span.graphic__period-right
          .analityc-graphics__wrapper
            +analityc-graphics-mix(getData('graphic-lines-mix1')[0])._date-one
            +analityc-graphics-mix(getData('graphic-lines-mix1')[1])._date-two
            +analityc-graphics-mix(getData('graphic-lines-mix1')[2])._date-three

        +analityc-table().analityc-widget-moscow-gov-program-table_done
          +icon('angle-arrow').section__ar.section__ar_left
          +icon('angle-arrow').section__ar.section__ar_right
          .analityc-table__wrapper
            +table-income(getData('income'))

        // Этап Закон о внесении изменений
        .analityc-widget-sources.analityc-widget-moscow-gov-program_changes
          p.analityc-graphics__periodtext
            span Плановый период
          .graphic__row
            span.graphic__data.graphic__data_active
              span.js-button(data-tab-target='line1') 2017
            span.graphic__data
              span.js-button(data-tab-target='line2') 2018
              span.graphic__period-left
            span.graphic__data
              span.js-button(data-tab-target='line3') 2019
              span.graphic__period-right
          +tabs
            +tabs-tab(data-tab-group="analityc-lines", data-tab="line1").active
              +analityc-graphics-line-alt(getData('graphic-lines-gp1'))._date-one
            +tabs-tab(data-tab-group="analityc-lines", data-tab="line2")
              +analityc-graphics-line-alt(getData('graphic-lines-gp1'))._date-two
            +tabs-tab(data-tab-group="analityc-lines", data-tab="line3")
              +analityc-graphics-line-alt(getData('graphic-lines-gp1'))._date-three

        +analityc-table()._changes.analityc-widget-moscow-gov-program-table_changes
          +icon('angle-arrow').section__ar.section__ar_left
          +icon('angle-arrow').section__ar.section__ar_right
          .analityc-table__wrapper
            +table-income(getData('income1'))


        // этап Закон об исполнении
        .analityc-widget-sources.analityc-widget-moscow-gov-program_exec
          +tabs
            +tabs-tab(data-tab-group="analityc-exec", data-tab="exec1").active
              +analityc-graphics-line-alt(getData('graphic-lines-gp1'))._exec

        .analityc-widget-sources.analityc-widget-moscow-gov-program_structure.analityc-widget-moscow-gov-program_structure-exec
          +analityc-graphics-mix(getData('graphic-lines-mix1')[3])

        +analityc-table().analityc-widget-moscow-gov-program-table_exec
          +table-income(getData('income2'))


        // Этап Исполнение на дату 
        .analityc-widget-sources.analityc-widget-moscow-gov-program_date
          +tabs
            +tabs-tab(data-tab-group="analityc-date", data-tab="date1").active
              +analityc-graphics-line-alt(getData('graphic-lines-gp2'), 'Исполнение доходов бюджета на 22.04.2017')._gp

        +analityc-table('Исполнение доходов бюджета на 22.04.2017').analityc-widget-moscow-gov-program-table_date
          +icon('angle-arrow').section__ar.section__ar_left
          +icon('angle-arrow').section__ar.section__ar_right
          .analityc-table__wrapper
            +table-income(getData('sources'))



        .analityc-widget__bottom
          a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
          a(href="/").analityc-more.analityc-more_results Результаты реализации государственных программ
    +dropdown().load-anim-fade(data-delay="1700")
