mixin steps-details()
  +b.steps-details&attributes(attributes)
    +e.wrapper
      +e.U.close-button.btn-close-c.js-steps-detail-close
      +e.content(data-step="1")
        +e.P.mob-heading составление<br> проекта бюджета
        +e.P.main-text.title-mx.color-dark STEP 1 Начальный этап бюджетного процесса.<br> На этом этапе составляется прогноз социально- экономического развития, определяются основные характеристики бюджета, налоговая и бюджетная политика на очередной финансовый год и на плановый период, основные методы и направления покрытия дефицита, долговая политика, а также распределение бюджетных ассигнований.
        +e.participants
          +e.H5.participants-heading Участники бюджетного процесса
          +e.UL.participants-list
            li
              a(href="#", data-target="budgetCom") Бюджетная комиссия Правительства Москвы
            li
              a(href="#", data-target="depFin") Департамент финансов города Москвы
            li
              a(href="#", data-target="depEc") Департамент экономической политики и развития города Москвы
            li
              a(href="#", data-target="depPlan") Департамент градостроительной политики города Москвы
            li
              a(href="#", data-target="depProp") Департамент городского имущества города Москвы
            li
              a(href="#", data-target="stewardBud") Главные распорядители бюджетных средств города Москвы
            li
              a(href="#", data-target="adminIncome") Главные администраторы доходов бюджета города Москвы
            li
              a(href="#", data-target="adminSources") Главные администраторы источников финансирования дефицита бюджета города Москвы
            li
              a(href="#", data-target="coordGP") Координаторы государственных программ города Москвы
        +e.date-list-wrapper
          +e.date-list-arrow._prev.disabled
          +e.date-list-arrow._next
          +e.UL.date-list
            li.active
              a(href="#", data-activity="1") 1 января по 25 мая
            li
              a(href="#", data-activity="2") 25 мая по 5 июня
            li
              a(href="#", data-activity="3") 25 июня по 1 июля
            li
              a(href="#", data-activity="4") 20 по 25 июля
            li
              a(href="#", data-activity="5") 1 по 15 сентября
        +e.activity(data-activity="1").active
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="2")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="3")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="4")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="5")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
      +e.content(data-step="2")
        +e.P.mob-heading рассмотрение и утверждение бюджета
        +e.P.main-text.title-mx.color-dark STEP 2 Начальный этап бюджетного процесса.<br> На этом этапе составляется прогноз социально- экономического развития, определяются основные характеристики бюджета, налоговая и бюджетная политика на очередной финансовый год и на плановый период, основные методы и направления покрытия дефицита, долговая политика, а также распределение бюджетных ассигнований.
        +e.participants
          +e.H5.participants-heading Участники бюджетного процесса
          +e.UL.participants-list
            li
              a(href="#", data-target="budgetCom") Бюджетная комиссия Правительства Москвы
            li
              a(href="#", data-target="depFin") Департамент финансов города Москвы
            li
              a(href="#", data-target="depEc") Департамент экономической политики и развития города Москвы
            li
              a(href="#", data-target="depPlan") Департамент градостроительной политики города Москвы
            li
              a(href="#", data-target="depProp") Департамент городского имущества города Москвы
            li
              a(href="#", data-target="stewardBud") Главные распорядители бюджетных средств города Москвы
            li
              a(href="#", data-target="adminIncome") Главные администраторы доходов бюджета города Москвы
            li
              a(href="#", data-target="adminSources") Главные администраторы источников финансирования дефицита бюджета города Москвы
            li
              a(href="#", data-target="coordGP") Координаторы государственных программ города Москвы
        +e.date-list-wrapper
          +e.date-list-arrow._prev.disabled
          +e.date-list-arrow._next
          +e.UL.date-list
            li.active
              a(href="#", data-activity="1") 1 января по 25 мая
            li
              a(href="#", data-activity="2") 25 мая по 5 июня
            li
              a(href="#", data-activity="3") 25 июня по 1 июля
            li
              a(href="#", data-activity="4") 20 по 25 июля
            li
              a(href="#", data-activity="5") 1 по 15 сентября
        +e.activity(data-activity="1").active
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="2")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="3")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="4")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="5")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
      +e.content(data-step="3")
        +e.P.mob-heading исполнение бюджета
        +e.P.main-text.title-mx.color-dark STEP 3 Начальный этап бюджетного процесса.<br> На этом этапе составляется прогноз социально- экономического развития, определяются основные характеристики бюджета, налоговая и бюджетная политика на очередной финансовый год и на плановый период, основные методы и направления покрытия дефицита, долговая политика, а также распределение бюджетных ассигнований.
        +e.participants
          +e.H5.participants-heading Участники бюджетного процесса
          +e.UL.participants-list
            li
              a(href="#", data-target="budgetCom") Бюджетная комиссия Правительства Москвы
            li
              a(href="#", data-target="depFin") Департамент финансов города Москвы
            li
              a(href="#", data-target="depEc") Департамент экономической политики и развития города Москвы
            li
              a(href="#", data-target="depPlan") Департамент градостроительной политики города Москвы
            li
              a(href="#", data-target="depProp") Департамент городского имущества города Москвы
            li
              a(href="#", data-target="stewardBud") Главные распорядители бюджетных средств города Москвы
            li
              a(href="#", data-target="adminIncome") Главные администраторы доходов бюджета города Москвы
            li
              a(href="#", data-target="adminSources") Главные администраторы источников финансирования дефицита бюджета города Москвы
            li
              a(href="#", data-target="coordGP") Координаторы государственных программ города Москвы
        +e.date-list-wrapper
          +e.date-list-arrow._prev.disabled
          +e.date-list-arrow._next
          +e.UL.date-list
            li.active
              a(href="#", data-activity="1") 1 января по 25 мая
            li
              a(href="#", data-activity="2") 25 мая по 5 июня
            li
              a(href="#", data-activity="3") 25 июня по 1 июля
            li
              a(href="#", data-activity="4") 20 по 25 июля
            li
              a(href="#", data-activity="5") 1 по 15 сентября
        +e.activity(data-activity="1").active
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="2")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="3")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="4")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="5")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
      +e.content(data-step="4")
        +e.P.mob-heading Подготовка и утверждение годового отчета об исполнении бюджета
        +e.P.main-text.title-mx.color-dark STEP 4 Начальный этап бюджетного процесса.<br> На этом этапе составляется прогноз социально- экономического развития, определяются основные характеристики бюджета, налоговая и бюджетная политика на очередной финансовый год и на плановый период, основные методы и направления покрытия дефицита, долговая политика, а также распределение бюджетных ассигнований.
        +e.participants
          +e.H5.participants-heading Участники бюджетного процесса
          +e.UL.participants-list
            li
              a(href="#", data-target="budgetCom") Бюджетная комиссия Правительства Москвы
            li
              a(href="#", data-target="depFin") Департамент финансов города Москвы
            li
              a(href="#", data-target="depEc") Департамент экономической политики и развития города Москвы
            li
              a(href="#", data-target="depPlan") Департамент градостроительной политики города Москвы
            li
              a(href="#", data-target="depProp") Департамент городского имущества города Москвы
            li
              a(href="#", data-target="stewardBud") Главные распорядители бюджетных средств города Москвы
            li
              a(href="#", data-target="adminIncome") Главные администраторы доходов бюджета города Москвы
            li
              a(href="#", data-target="adminSources") Главные администраторы источников финансирования дефицита бюджета города Москвы
            li
              a(href="#", data-target="coordGP") Координаторы государственных программ города Москвы
        +e.date-list-wrapper
          +e.date-list-arrow._prev.disabled
          +e.date-list-arrow._next
          +e.UL.date-list
            li.active
              a(href="#", data-activity="1") 1 января по 25 мая
            li
              a(href="#", data-activity="2") 25 мая по 5 июня
            li
              a(href="#", data-activity="3") 25 июня по 1 июля
            li
              a(href="#", data-activity="4") 20 по 25 июля
            li
              a(href="#", data-activity="5") 1 по 15 сентября
        +e.activity(data-activity="1").active
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="2")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="3")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="4")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="5")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
      +e.content(data-step="5")
        +e.P.mob-heading Финансовый контроль
        +e.P.main-text.title-mx.color-dark STEP 5 Начальный этап бюджетного процесса.<br> На этом этапе составляется прогноз социально- экономического развития, определяются основные характеристики бюджета, налоговая и бюджетная политика на очередной финансовый год и на плановый период, основные методы и направления покрытия дефицита, долговая политика, а также распределение бюджетных ассигнований.
        +e.participants
          +e.H5.participants-heading Участники бюджетного процесса
          +e.UL.participants-list
            li
              a(href="#", data-target="budgetCom") Бюджетная комиссия Правительства Москвы
            li
              a(href="#", data-target="depFin") Департамент финансов города Москвы
            li
              a(href="#", data-target="depEc") Департамент экономической политики и развития города Москвы
            li
              a(href="#", data-target="depPlan") Департамент градостроительной политики города Москвы
            li
              a(href="#", data-target="depProp") Департамент городского имущества города Москвы
            li
              a(href="#", data-target="stewardBud") Главные распорядители бюджетных средств города Москвы
            li
              a(href="#", data-target="adminIncome") Главные администраторы доходов бюджета города Москвы
            li
              a(href="#", data-target="adminSources") Главные администраторы источников финансирования дефицита бюджета города Москвы
            li
              a(href="#", data-target="coordGP") Координаторы государственных программ города Москвы
        +e.date-list-wrapper
          +e.date-list-arrow._prev.disabled
          +e.date-list-arrow._next
          +e.UL.date-list
            li.active
              a(href="#", data-activity="1") 1 января по 25 мая
            li
              a(href="#", data-activity="2") 25 мая по 5 июня
            li
              a(href="#", data-activity="3") 25 июня по 1 июля
            li
              a(href="#", data-activity="4") 20 по 25 июля
            li
              a(href="#", data-activity="5") 1 по 15 сентября
        +e.activity(data-activity="1").active
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="2")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="3")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="4")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
                        
        +e.activity(data-activity="5")
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 1 января по 15 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и предоставляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в Департамент финансов города Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Представляет проект основных направлений налоговой политики на очередной финансовый год и плановый период
          +b.cols-part
            +e.side
              +e.side-col.__head
                +e.STRONG.head-title 15 мая по 25 мая
                | текущего финансового года
            +e.content
              .line-md
                +b.cols
                  +e.side
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Бюджетная комиссия Правительства Москвы
                      p
                        | Рассматривает и одобряет материалы и информацию по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы
                .line-dots
                  .line-dot
                  .line-dot
                  .line-dot
              .line-md
                +b.cols
                  +e.side
                    +b.UL.list-indicate.color-dark
                      +e.LI.item
                        | в правительство Москвы
                        u.arrowlight.arrowlight--right.mob.left
                        u.arrowlight.arrowlight--right
                        u.arrowlight.arrowlight--right.mob.right
                  +e.content
                    +e.content-holder
                      p.department.title-md.color-dark Департамент экономической политики и развития города Москвы
                      p
                        | Формирует и представляет на рассмотрение и одобрение предложения по объему бюджетных ассигнований на реализацию адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных направлений деятельности органов государственной власти города Москвы
