._regions .d-smr__chart-subjects .d-smr__chart-row {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._regions {
  background: url('../images/depfin-services-interview/content-bg.jpg') no-repeat;
  width: 100%;
  position: relative;
  padding-bottom: 80px !important;

  .dropdown.jq-selectbox {
    border: none !important;
  }

  // .wrap {
  //   position: relative;
  // }


  @media (min-width: 1600px) {
    .arrows-wrapper {
      max-width: 1149px;
      position: relative;
      margin: 0 auto;
    }
    .fixed-wrapper {
      position: fixed;
      left: 0;
      right: 0;
      top: 50%;
    }
  }


  .arrow-hide {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 50%;
    z-index: 3;
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
    &.active {
      z-index: 1;
    }
  }

  &__ar-left,
  &__ar-right {
    opacity: 0;
    background: #fee300 url('../images/ar-left_2.png') center center no-repeat;
    background-size: 11px;
    width: 45px;
    height: 45px;
    position: absolute;

    left: 0;

    cursor: pointer;
    transition: opacity .25s ease-in-out;
    z-index: 2;
    &.active {
      opacity: 1;
      &:hover {
        opacity: .7;
      }
      &.swiper-button-disabled {
        opacity: .3;
        &:hover {
          opacity: .3;
        }
      }
    }

    @media (max-width: 1599px) {
      top: 50%;
      position: fixed;
    }
  }

  &__ar-right {
    left: auto;
    right: 0;
    transform: rotate(180deg);
  }

  .d-layer {
    max-width: 1174px;
  }

  .d-smr__container_body {
    padding-top: 44px;
    padding-bottom: 110px;
  }

  .d-smr__stat_head {
    margin-bottom: 41px;
  }

  .d-smr__add-char-list-wrapper {
    max-height: 100%;

    // Custom Scrollbar
    > .scroll-element,
    > .scroll-element div {
      border: none;
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 10;
    }

    > .scroll-element div {
      display: block;
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
    }

    > .scroll-element.scroll-x {
      bottom: 2px;
      height: 8px;
      left: 0;
      width: 100%;
    }

    > .scroll-element.scroll-y {
      height: 100%;
      right: 2px;
      top: 0;
      width: 2px;
    }

    > .scroll-element .scroll-element_outer {
      overflow: hidden;
    }

    > .scroll-element .scroll-element_outer,
    > .scroll-element .scroll-element_track,
    > .scroll-element .scroll-bar {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }

    > .scroll-element .scroll-element_track { background-color: #d6d6d6; }
    > .scroll-element .scroll-bar { background-color: #0d46a1; }
    > .scroll-element:hover .scroll-bar { background-color: #0d46a1; }
    > .scroll-element.scroll-draggable .scroll-bar { background-color: #0d46a1; }

    > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
    > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }


    > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
    > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

  }

  .d-smr__chart-container {
    font-size: 0;
    position: relative;
  }

  .d-smr__chart-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    width: 75%;
    width: calc(100% - 235px);
    padding-left: 12px;
    margin-left: -12px;
    z-index: 3;
    box-sizing: content-box;
    cursor: grab;
    cursor: pointer;
    @media screen and (max-width: 550px) {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .d-smr__chart-leftlg,
  .d-smr__chart-rightlg {
    display: none;
    position: absolute;
    top: 0;
    width: 13%;
    height: 100%;
    z-index: 4;
    transition: all .25s ease-in-out;
    @media screen and (max-width: 970px) {
      width: 7%;
    }
  }

  .d-smr__chart-leftlg {
    left: 0;
    background: -moz-linear-gradient(right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  }

  .d-smr__chart-rightlg {
    right: 0;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  }

  .d-smr__chart {
    min-width: inherit;
    display: block;
    font-size: 0;
    white-space: nowrap;
    position: relative;
    .d-smr__chart-controls .sort_desc.alph {
      display: none;
      @media screen and (max-width: 550px) {
        display: inline-block;
      }
    }
  }

  .d-smr__chart-row {
    display: block;
    padding: 25px 0 6px;
    padding-right: 30px;
    padding-left: 2px;
    border-bottom: 1px solid #e5e5e5;
    height: 54px;
    .graph {
      font-family: $PFDinCondensedPro;
      .coef.zero {
        color: #b2b2b2;
      }
    }
    @media screen and (min-width: 551px) and (max-width: 970px) {
      height: 64px;
    }
    @media screen and (max-width: 550px) {
      height: 84px;
      padding: 45px 0 6px;
    }
  }

  .d-smr__chart-header {
    border-bottom: 3px solid #e5e5e5;
    font-size: 14.5px;
    line-height: 17px;
    padding-bottom: 30px;
    position: relative;
    padding-right: 60px;
    padding-top: 20px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 3;
    cursor: pointer;
    cursor: grab;
    z-index: 5;
    @media (max-width: 640px) and (min-width: 401px) {
      font-size: 15px;
    }
    span {
      font-family: $PFDinCondensedPro;
      display: block;
    }
    .d-smr__chart-controls {
      position: absolute;
      display: block;
      width: auto;
      right: 0;
      bottom: 6px;
      left: 15px;
      text-align: left;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      a {
        color: #0d46a1;
        border-bottom: 1px dashed #0d46a1;
        font-size: 12px;
        font-weight: 500;
        text-decoration: none;
        margin-right: 20px;
        position: relative;
        display: inline-block;
        text-transform: none;
        &:last-child {
          margin-right: 0;
        }
        &.sort_desc {
          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 5px solid #0d46a1;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            top: 50%;
            margin-top: -4px;
            left: -12px;
          }
        }
        &.sort_desc-top {
          &:before {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 5px solid #0d46a1;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            top: 50%;
            margin-top: -4px;
            left: -12px;
          }
        }
        @media screen and (max-width: 360px) {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
    &:hover {
      .d-smr__chart-controls {
        opacity: 1;
        visibility: visible;
      }
    }
    &.active {
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 100%;
        width: 100%;
        height: 500px;
        background-color: #fff;
      }
    }
    @media screen and (max-width: 550px) {
      padding-right: 20px;
    }
    @media screen and (max-width: 360px) {
      padding-bottom: 70px;
    }
  }

  .d-smr__chart-subjects {
    width: 235px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    .d-smr__chart-row {
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
      color: #000;
      @media screen and (max-width: 550px) {
        padding: 10px 0 6px;
      }
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      .d-smr__chart-header {
        display: none;
      }
    }
  }

  .d-smr__chart-col,
  .d-smr__chart-subjects {
    vertical-align: top;
    box-sizing: border-box!important;
    font-size: 14px;
    white-space: normal;
    padding-right: 0 !important;
    border-bottom: 0;
  }

  .d-smr__chart-col {
    width: 266px;
    display: none;
    &:nth-child(3n+1) .graph__bar {
      background: -webkit-gradient(linear,left top,right top,from(#fee300),to(#30b069));
      background: -webkit-linear-gradient(left,#fee300,#30b069);
      background: linear-gradient(90deg,#fee300,#30b069);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee300',
            endColorstr='#30b069',GradientType=1);
    }
    &:nth-child(3n+2) .graph__bar {
      background: -webkit-gradient(linear,left top,right top,from(#0ff),to(#004ccf));
      background: -webkit-linear-gradient(left,#0ff,#004ccf);
      background: linear-gradient(90deg,#0ff,#004ccf);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0fffff',
            endColorstr='#004ccf',GradientType=1);
    }
    &:nth-child(3n+3) .graph__bar {
      background: -webkit-gradient(linear,left top,right top,from(#ce97c4),to(#ffb4ad));
      background: -webkit-linear-gradient(left,#ce97c4,#ffb4ad);
      background: linear-gradient(90deg,#ce97c4,#ffb4ad);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce97c4',
            endColorstr='#ffb4ad',GradientType=1);
    }
    &.active {
      display: inline-block;
    }
  }

  .d-smr__chart-header .d-smr__chart-col {
    line-height: 20px;
  }
  .d-smr__add-char {
    @media screen and (max-width: 970px) {
      width: 100%;
      height: 60px;
    }

    @media screen and (max-width: 550px) {
      height: 42px;
    }
  }

  .d-smr__add-char-block {
    @media screen and (max-width: 970px) {
      width: auto;
      right: -1px;
      padding-top: 58px;
    }
    
    @media screen and (max-width: 550px) {
      padding-top: 40px;
    }
  }

  .d-smr__add-char-label {
    @media screen and (max-width: 970px) {
      height: 58px;
      line-height: 56px;
      padding: 0 0 0 19px;
    }

    @media screen and (max-width: 550px) {
      height: 40px;
      line-height: 44px;
      padding: 0 0 0 11px;
    }

    &:after {
      @media screen and (max-width: 970px) {
        top: 25px;
      }

      @media screen and (max-width: 550px) {
        top: 18px;
      }
    }
  }

  .d-smr__add-char-item input:checked+label:before {
    background: url('../images/moscow_regions/check.png') center no-repeat #fff;
  }

  .d-smr__chart-col {
    line-height: 14px;

    .graph {
      width: 80%;
      width: calc(100% - 36px);

      @media screen and (max-width:1140px) {
        width: 70%;
        width: calc(100% - 42px);
      }

      @media screen and (max-width:550px) {
        width: 69%;
        width: calc(99% - 43px);
      }
    }

    .nmb {
      margin-right: 6px;
    }
  }
}

.d-smr__chart-row .d-smr__chart-col:nth-child(3n-1) .graph__bar {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee300',
            endColorstr='#30b069',GradientType=0);
}
.d-smr__chart-row .d-smr__chart-col:nth-child(3n) .graph__bar {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0fffff',
            endColorstr='#004ccf',GradientType=0);
}

.d-smr__chart-row .d-smr__chart-col:nth-child(3n+1) .graph__bar {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce97c4',
            endColorstr='#ffb4ad',GradientType=0);
}

.d-smr__form-label {
  @media (max-width: 1140px) {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 11px;
  }

  @media (max-width: 970px) {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 17px;
    font-family: $PFDinCondensedPro;
  }


  .d-smr__stat_head .jq-selectbox__select {
    @media screen and (max-width: 1140px) {
      width: 232px;
    }

    @media screen and (max-width: 970px) {
      width: 250px;
      height: 58px;
    }
  }

  .ar-right {
    @media screen and (max-width: 970px) {
      background-size: 14px;
      width: 38px;
      height: 69px;
      margin-top: 356px;
    }
  }
}


._regions__ar-left, ._regions__ar-right {
  display: block !important;
}
