include ../page-header/page-header

mixin regions()
  .d-si-content._regions
    .ar-left
    .ar-right
    .d-layer
      .d-si__head
        +page-header('москва и субъекты рф', 'Сервисы')

      .d-smr__container
        .d-smr__container_body
          .d-smr__stat_head
            .d-smr__stat_head_left
              span.d-smr__form-label Год
              select(name='d-si-select')#d-si-select
                option(value='1') 2015
                option(value='2') 2016
                option(value='3', selected) 2017
            .d-smr__stat_head_right
              p.d-smr__form-label Добавить показатель на страницу
              .d-smr__add-char
                p.d-smr__add-char-label Выберите показатель
                .d-smr__add-char-block
                  ul.d-smr__add-char-list.scroll-pane
                    li.d-smr__add-char-item
                      input(type='checkbox', name='a', value)#a
                      label(for='a') Доходы
                      ul.d-smr__char-sublist
                        li.d-smr__add-char-item
                          input(type='checkbox', name='aa', value='aa')#aa
                          label(for='aa') Доходы, всего
                        li.d-smr__add-char-item
                          input(type='checkbox', name='ab', value='ab')#ab
                          label(for='ab') Доходы в расчёте на 1 жителя
                        li.d-smr__add-char-item
                          input(type='checkbox', name='ac', value='ac')#ac
                          label(for='ac') Налоговые доходы
                        li.d-smr__add-char-item
                          input(type='checkbox', name='ad', value='ad')#ad
                          label(for='ad') Неналоговые доходы
                        li.d-smr__add-char-item
                          input(type='checkbox', name='ae', value='ae')#ae
                          label(for='ae') Безвозмездные поступления
                    li.d-smr__add-char-item
                      input(type='checkbox', name='b', value)#b
                      label(for='b') Расходы
                      ul.d-smr__char-sublist
                        li.d-smr__add-char-item
                          input(type='checkbox', name='ba', value='ba')#ba
                          label(for='ba') Расходы, всего
                        li.d-smr__add-char-item
                          input(type='checkbox', name='bb', value='bb')#bb
                          label(for='bb') Расходы в расчёте на 1 жителя
                        li.d-smr__add-char-item
                          input(type='checkbox', name='bc', value='bc')#bc
                          label(for='bc') Общегосударственные вопросы
          .d-smr__chart-wrapper
            .d-smr__chart
              .d-smr__chart-header.d-smr__chart-row
                p.d-smr__chart-col Субъект Российской Федерации
                .d-smr__chart-col(data-char='revenue')
                  span Объем доходов бюджета субъекта Российской Федерации в расчете на&nbsp;1&nbsp;жителя, тыс руб.
                  .d-smr__chart-controls
                    a(href='#').sort_desc По убыванию
                    a(href='#').js-hide-col Скрыть колонку
                .d-smr__chart-col(data-char='expense')
                  span Объем расходов бюджета субъекта Российской Федерации в расчете на&nbsp;1&nbsp;жителя, тыс руб.
                  .d-smr__chart-controls
                    a(href='#').sort_desc По убыванию
                    a(href='#').js-hide-col Скрыть колонку
                .d-smr__chart-col(data-char='death-rate')
                  span Смертность населения (без показателя смертности от внешних причин (количество умерших на 100 тыс. человек)
                  .d-smr__chart-controls
                    a(href='#').sort_desc По убыванию
                    a(href='#').js-hide-col Скрыть колонку
              .d-smr__chart-row
                p.d-smr__chart-col г. Санкт-Петербург
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.one 1
                  span.graph
                    span.graph__bar(data-width='27%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.two 2
                  span.graph
                    span.graph__bar(data-width='64%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.three 3
                  span.graph
                    span.graph__bar(data-width='29%')
                    span.coef 1117
              .d-smr__chart-row
                .d-smr__chart-col г. Москва
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.one 1
                  span.graph
                    span.graph__bar(data-width='18%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.two 2
                  span.graph
                    span.graph__bar(data-width='76%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.three 3
                  span.graph
                    span.graph__bar(data-width='55%')
                    span.coef 1117
              .d-smr__chart-row
                .d-smr__chart-col Ярославская область
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.one 1
                  span.graph
                    span.graph__bar(data-width='34%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.two 2
                  span.graph
                    span.graph__bar(data-width='78%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.three 3
                  span.graph
                    span.graph__bar(data-width='63%')
                    span.coef 1117
              .d-smr__chart-row
                .d-smr__chart-col Ямало-Ненецкий АО
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.one 1
                  span.graph
                    span.graph__bar(data-width='81%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.two 2
                  span.graph
                    span.graph__bar(data-width='5%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.three 3
                  span.graph
                    span.graph__bar(data-width='35%')
                    span.coef 1117
              .d-smr__chart-row
                p.d-smr__chart-col Южный ФО
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.one 1
                  span.graph
                    span.graph__bar(data-width='100%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.two 2
                  span.graph
                    span.graph__bar(data-width='54%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.three 3
                  span.graph
                    span.graph__bar(data-width='99%')
                    span.coef 1117
              .d-smr__chart-row
                p.d-smr__chart-col Ямало-Ненецкий АО
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.one 1
                  span.graph
                    span.graph__bar(data-width='81%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.two 2
                  span.graph
                    span.graph__bar(data-width='5%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.three 3
                  span.graph
                    span.graph__bar(data-width='35%')
                    span.coef 1117
              .d-smr__chart-row
                p.d-smr__chart-col Чукотский АО
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.one 1
                  span.graph
                    span.graph__bar(data-width='13%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.two 2
                  span.graph
                    span.graph__bar(data-width='69%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.three 3
                  span.graph
                    span.graph__bar(data-width='25.5%')
                    span.coef 1117
              .d-smr__chart-row
                p.d-smr__chart-col Чувашская республика
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.one 1
                  span.graph
                    span.graph__bar(data-width='42%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.two 2
                  span.graph
                    span.graph__bar(data-width='56%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.three 3
                  span.graph
                    span.graph__bar(data-width='37%')
                    span.coef 1117
              .d-smr__chart-row
                p.d-smr__chart-col Чеченская республика
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.one 1
                  span.graph
                    span.graph__bar(data-width='68%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.two 2
                  span.graph
                    span.graph__bar(data-width='75%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.many 43
                  span.graph
                    span.graph__bar(data-width='28%')
                    span.coef 1117
              .d-smr__chart-row
                p.d-smr__chart-col Центральный ФО
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.many 18
                  span.graph
                    span.graph__bar(data-width='74%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.many 29
                  span.graph
                    span.graph__bar(data-width='82%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.many 38
                  span.graph
                    span.graph__bar(data-width='45%')
                    span.coef 1117
              .d-smr__chart-row
                p.d-smr__chart-col Ханты-Мансийский АО
                .d-smr__chart-col(data-char='revenue')
                  span.nmb.one 1
                  span.graph
                    span.graph__bar(data-width='15%')
                    span.coef 363,8
                .d-smr__chart-col(data-char='expense')
                  span.nmb.two 2
                  span.graph
                    span.graph__bar(data-width='32%')
                    span.coef 557
                .d-smr__chart-col(data-char='death-rate')
                  span.nmb.three 3
                  span.graph
                    span.graph__bar(data-width='46%')
                    span.coef 1117
