.d-si-content {
  padding-top: 175px;
  background: url('../images/depfin-services-interview/content-bg.jpg') no-repeat;
  width: 100%;

  .d-smr__chart-col {
    line-height: 14px;

    .graph {
      width: calc(100% - 36px);
    }

    .nmb {
      margin-right: 6px;
    }
  }
}
