._regions {
  padding-top: 175px;
  background: url('../images/depfin-services-interview/content-bg.jpg') no-repeat;
  width: 100%;

  @media screen and (max-width: 1140px) {
    padding-top: 172px;
  }

  @media screen and (max-width: 700px) {
    padding-top: 93px;
  }

  @media screen and (max-width: 550px) {
    padding-top: 78px;
  }

  .d-layer {
    max-width: 1174px;
  }

  .d-smr__add-char-item input:checked+label:before {
    background: url('../images/moscow_regions/check.png') center no-repeat #fff;
  }

  .d-smr__chart-col {
    line-height: 14px;

    .graph {
      width: calc(100% - 36px);
    }

    .nmb {
      margin-right: 6px;
    }
  }
}

.d-smr__form-label {
  @media (max-width: 1140px) {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 11px;
  }

  @media (max-width: 970px) {
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 17px;
    font-family: $PFDinCondensedPro;
  }

  .d-smr__stat_head .jq-selectbox__select {
    @media screen and (max-width: 1140px) {
      width: 232px;
    }

    @media screen and (max-width: 970px) {
      width: 250px;
      height: 60px;
    }
  }

  .ar-right {
    @media screen and (max-width: 1140px) {
      background: #fee300 url('../images/ar-left_2.svg') center center no-repeat;
      background-size: 11px;
      width: 45px;
      height: 45px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: 286px;
      transform: rotate(180deg);
      cursor: pointer;
    }

    @media screen and (max-width: 970px) {
      background-size: 14px;
      width: 38px;
      height: 69px;
      margin-top: 356px;
    }
  }
}

.d-si-content._regions {
  @media screen and (max-width: 700px) {
    padding-top: 93px;
  }

  @media screen and (max-width: 550px) {
    padding-top: 78px;
  }
}
