.subscribe { color: #FFF; }

.subscribe__label { float: left; font-size: 16px; font-weight: 500; line-height: 1.125; text-transform: uppercase; margin-right: 17px; }

.subscribe__small-form { float: left; width: 282px; }

.subscribe__caption { font-family: 'pf_dintext_pro'; font-size: 12px; clear: both; padding-top: 15px; }

.subscribe__caption a { text-decoration: none; }

.subscribe__caption a:hover { text-decoration: underline; }

.subscribe {margin-top:102px; padding-bottom:30px;}

.subscribe > p {font-size:15.89px; color:white; font-weight:400; font-family:PFDinPro; margin-top:13px;}
.subscribe > p a {color:#fee300}
.subscribe > p a:hover {text-decoration:underline}

.subscribe {

  &_big {
    
    .subscribe__small-form {
      width: 375px;
    }
    .small-form__form label {
      font-size: 21px;
      top: 11px;
      left: 13px;
    }
    .small-form__text {
      height: 42px;
      font-size: 21px;
      padding: 7px 56px 7px 13px;
    }
    .small-form__submit {
      width: 42px;
      height: 42px;
    }
    .small-form__submit:after {
      width: 12px;
      height: 20px;
      background-position: -98px -22px;
      background-size: 600px auto;
      left: 13px;
      top: 11px;
    }
    .subscribe__label {
      font-size: 21px;
    }
    .subscribe__caption {
      font-size: 14px;
      padding-top: 3px;
    }
    
    @media screen and (max-width: 990px) {
      .subscribe__label {
        margin-right: 51px;
      }
    }
  }
}
