//- модификатор ._big для увеличенной формы и текста

mixin subscribe()
  +b.subscribe&attributes(attributes)
    .wrap
      p.subscribe__label Подпишитесь<br> на новости
      .small-form.subscribe__small-form
        form.small-form__form
          label(for="i-email").overlabel e-mail
          input(type="email", value="", required).small-form__text#i-email
          .small-form__submit
            input(type="submit", value="")
      p.subscribe__caption Для выбора параметров рассылки необходимо
        a(href="#login").open-popup.yellow зарегистрироваться
        |  на портале
