.mediaEvents {
  display: block;
  background-image: url("../images/bg-news.jpg");
  background-size: cover;
  background-position: center 0;
  padding-top: 207px;
  padding-bottom: 130px;

  &__content {
    margin-top: 11px;
  }


  &__search-title {
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 39px;
    font-weight: 500;
  }

  .form__date-range {
    display: inline-block;
    vertical-align: middle;
    margin-right: 42px;
    width: 196px;
    height: 33px;

    @media (max-width: 600px) {
      display: block;
      margin: 10px 0 10px;
    }
  }

  .button {
    height: 34px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    width: 161px;
    font-weight: 500;
    font-size: 16px;
  }

  &__card-wrapper {
    margin-top: 34px;
    text-align: justify;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.000000001px;
    }

    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }

  .tile__item {
    margin-bottom: 36px;
    width: 247px;
    text-align: left;
    float: none;
    display: inline-flex;
    vertical-align: top;
    pointer-events: none;
    transition: all .25s ease-in-out;
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;

    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }

  &__announcement {
    margin-top: 28px;
  }

  &__previous {
    margin-top: 45px;
  }

  .news {
    position: relative;
    left: 0;
    right: 0;
    margin: 0;

    @media screen and (max-width: 900px) {
      min-height: inherit;
    }

    @media (max-width: 700px) and (min-width: 451px) {
      height: inherit;
    }

    @media (max-width: 650px) {
      width: 100%;
      max-width: none;
    }

    @media (max-width: 450px) {
      height: inherit;
    }
  }

  &__show-more {
    margin: 18px auto 0;
    max-width: 690px;
  }
}
