.mediaEvents {
  display: block;
  background-image: url("../images/bg-news.jpg");
  background-size: 100% auto;
  background-position: center 0;
  background-color: #111940;
  padding-top: 207px;
  padding-bottom: 130px;
  
  @media (max-width: 900px) {
    background-size: 150% auto;
  }
  
  @media (max-width: 580px) {
    background-size: 180% auto;
  }

  &__content {
    margin-top: 11px;
  }

  &__search-group {
    margin-top: 11px;
  }

  &__search-title {
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 39px;
    font-weight: 500;
  }

  .form__date-range {
    display: inline-block;
    vertical-align: middle;
    margin-right: 42px;
    width: 196px;

    @media (max-width: 600px) {
      display: block;
      margin: 10px 0 10px;
    }
  }

  .form__date-range-input {
    padding: 8px 0!important;
  }

  .button {
    height: 34px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    width: 161px;
    font-weight: 500;
    font-size: 16px;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  &__outer {
    overflow: hidden;
    margin-top: 34px;
  }

  &__card-wrapper {
    
    height: auto;
    list-style: none;
    font-size: 0;
    margin: 0 calc(12% / 8 * (-1));
    
    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }

  }

  &__title {
    font-family: $PFDinCondensedPro;
    font-size: 34px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__announcement {
    margin-top: 28px;

    .mediaEvents__outer {
      height: 566px;

      @media (max-width: 1140px) {
        height: 492px;
      }

      @media (max-width: 900px) {
        height: 909px;
      }

      @media (max-width: 580px) {
        height: 723px;
      }

      @media (max-width: 400px) {
        height: 849px;
      }
    }
  }

  &__previous {
    margin-top: 45px;

    .mediaEvents__outer {
      height: 283px;

      @media (max-width: 1140px) {
        height: 246px;
      }

      @media (max-width: 900px) {
        height: 303px;
      }

      @media (max-width: 580px) {
        height: 241px;
      }

      @media (max-width: 400px) {
        height: 283px;
      }
    }
  }

  &__show-more {
    margin: 18px auto 0;
    max-width: 690px;

    @media screen and (max-width: 640px) {
      max-width: 320px;
    }
  }
}
