.budget-income-roboto {

  * {
  	font-family: $RobotoCond !important;
  }

	.table__col,
	.document__excerpt,
	.news__title,
	.news__date,
	.news__tags a,
	.widget-card__subtitle,
	.widget-card__info-block-date {
		font-family: $Roboto !important;
	}

	.table__row_caption {
		font-family: $RobotoCond !important;
	}

}
