include ../../components/page-header/page-header
include ../../blocks/icon/icons
include ../../blocks/checkbox/checkbox
include ../../blocks/radio/radio
include ../../blocks/button/button
include ../../blocks/link/link

mixin quiz-task()
  +b.d-si-content._quiz&attributes(attributes)
    .d-layer
      .d-si__head
        +page-header('Викторины', 'Сервисы')
      .d-min-layer
        form(action="#").d-si__search-form
          input(type="text", placeholder="Поиск").d-si__search
          +icon('search').glass
        .d-si.d-si__quiz
          - for (var i = 0; i < 5; i++)
            .d-si__quiz_item
              p.d-si__quiz_head История бюджета города москвы во&nbsp;второй половине ХХ—начале ХХI века
              p.d-si__quiz_status Создана: 02.08.2016
              a(href="/moscowbudget/quiz_question.html").d-si__quiz_button
                | участвовать
                i.fa.fa-angle-right
        a(href="#").d-si__button_show-more показать еще

