include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/legend/legend
include ../../blocks/dropdown-block/dropdown-block

mixin depfin-analytics-gp()
	.main._basic
		section.basic-budget
			.wrapper.wrapper_gp
				+page-header('Государственнные программы', false, true)

				// Tab 1
				.analityc-widget.analityc-widget_gp
					+analityc-widgethead-gp()

					+analityc-graphics-custom1()

					+analityc-graphics-custom2()

					+analityc-graphics-line-vertical(getData('graphic-lines-gp'), true)._gp

					+legend-icon()
					
					+analityc-table()._gp
						+table-gp(getData('gp'))
			+dropdown()
