include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/legend/legend
include ../../blocks/dropdown-block/dropdown-block

mixin depfin-analytics-gp()
	section.main._basic.analitycs-gp.basic-budget.sections__item
		.wrapper-header
			+page-header('Государственные программы', ['Аналитика'], true)
		.wrapper.wrapper_gp
			.analityc-widget.analityc-widget_gp.load-anim-fade(data-delay="1500")
				+analityc-widgethead-gp()
				.analityc-graphics(data-type='g1', data-comparison='overall')
					.analityc-graphics-container.analityc-graphics-container_vert-lines
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-line-vertical-alt(getData('graphic-lines-analityc-income'))
				.analityc-graphics(data-type='g2', data-comparison='overall').active
					.analityc-graphics-container.analityc-graphics-container_bars
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars(getData('legend-analityc-bar1'))
				.analityc-graphics(data-type='g3', data-comparison='overall')
					.analityc-graphics-container.analityc-graphics-container_bars
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars(getData('legend-analityc-bar2'))
				.analityc-graphics(data-type='g1', data-comparison='comparative')
					.analityc-graphics-container.analityc-graphics-container_vert-lines
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-line-vertical-alt(getData('graphic-lines-analityc-income'))
				.analityc-graphics(data-type='g2', data-comparison='comparative')
					.analityc-graphics-container.analityc-graphics-container_bars-entired
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars-alt(getData('legend-analityc-bar4'))._entired
				.analityc-graphics(data-type='g3', data-comparison='comparative')
					.analityc-graphics-container.analityc-graphics-container_bars-entired
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars(getData('legend-analityc-bar2'))
				+legend-icon()(data-control data-type='g1, g2, g3' data-comparison='overall')
				+legend-basket(getData('legend-analityc-income')[2])(data-control data-type='g1, g2, g3' data-comparison='comparative')
				.table-switcher(data-control data-type='g1, g2, g3' data-comparison='overall')
					.analityc-control-switcher.analityc-control-switcher_table.analityc-control-switcher_large.active
						a(href="#").active млн руб.
						a(href="#") млрд руб.
				+analityc-table-slider(100)._gp._rate(data-type='g2' data-comparison='overall')
					+table-gp(getData('gp'), true, false, 'rate')
				+analityc-table-slider(100)._gp._part(data-type='g3' data-comparison='overall')
					+table-gp(getData('gp'), true, false, 'part')
				+analityc-table-slider(100)._gp._exe(data-type='g1' data-comparison='overall')
					+table-gp(getData('gp'), true, false, 'exe')
		+dropdown().load-anim-fade(data-delay="1700")
