
.basic-budget .wrapper {
	&_gp {
		@media (max-width: 1140px) {
			padding-left: 40px !important;
  		padding-right: 40px !important;
		}
	}
}


.analityc-widget_gp {
  padding-top: 22px;
	padding-bottom: 35px;
	overflow: hidden;

	.analityc-widgethead {
		min-height: 299px;

		@media (max-width: 1140px) {
			padding-right: 0;
		}
	}

	select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
	}
	select::-ms-expand {
    display: none; /*ie10+*/
	}		

	.analityc-control-frame-title {
		display: inline-block;
		text-transform: uppercase;
    font-size: 18px;
    color: #000;
		margin-bottom: 5px;

		@media (max-width: 580px) {
			font-size: 15px;
		}
	}

	.analityc-control-frame_left {
		float: left;

		@media (max-width: 1010px) {
			float: none;
		}

		.analityc-select {
			display: inline-block;
			margin-right: 10px;
			margin-top: 0;

			&:last-child {
				margin-right: 0;
			}

			option {

				@media (max-width: 1010px) {
					font-size: 14px;
				}

				@media (max-width: 580px) {
					font-size: 11px;
				}	
			}

			&_year,
			&_month {
				width: 56px;
				background-position: 81%;
			}

			&_stage {
				width: 263px;

				@media (max-width: 1140px) {
					width: 300px;
				}
			}
		}

		.analityc-add-group {
			display: block;
			width: 100%;
			height: auto;
			font-size: 14px;
			color: $color-link;
			text-transform: uppercase;
			margin-top: 14px;
		}			
	}

	.analityc-control-frame_right {
		position: relative;
		float: right;
		margin-left: 25px;

		@media (max-width: 1140px) {
			width: 428px;
		}

		@media (max-width: 1010px) {
			float: none;
		}

		.analityc-select {
			display: block;
			width: 100%;
			margin-top: 0;

			option {

				@media (max-width: 1010px) {
					font-size: 14px;
				}

				@media (max-width: 580px) {
					font-size: 11px;
				}	
			}

			&_transfer {
				width: 251px;
				margin-bottom: 18px;
			}

			&_compare,
			&_add {
				width: 390px;
		    margin-top: 8px;
			}

			&_add {
				position: relative;

				.option {
					line-height: 30px;
				}

				.checklist {
					display: none;
			    overflow-y: auto;
					position: absolute;
					width: 404px;
			    max-height: 138px;
					top: -1px;
					left: -1px;
					padding: 11px;
					border: 1px solid rgb(213, 213, 213);
					border-radius: 2px;
					background-color: rgb(235, 235, 235);
					box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.4);

					&-title {
						display: block;
						font-size: 14px;
						line-height: 1em;
						opacity: .4;
						margin-bottom: 19px;
					}

					&-item {
						font-size: 15px;
						text-transform: none;
						margin-bottom: 14px;
					}

					.checkbox__text {
						margin-left: 2px;
					}
				}
			}
		}

		.analityc-control-switcher {
			margin-top: 7px;

			& a {
		    padding: 0 15px;
		    padding-top: 3px;
        font-size: 13px;
        line-height: 28px;
        border-right: 1px solid #0d46a1;

        &:last-child {
        	border: none;
        }
			}
		}

		.analityc-control-legend {
			font-size: 0;

			.legend__item {
				display: inline-block;
				margin-right: 33px;
				color: $color-black;
			}
		}
	}

	.table-switcher {
		text-align: left;
		margin-top: 40px;

		.analityc-control-switcher_table {
			margin-top: 0;
		}
	}
}
