include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/legend/legend
include ../../blocks/dropdown-block/dropdown-block

mixin depfin-analytics-gp()
	section.main._basic.basic-budget.sections__item
		.wrapper.wrapper_gp
			+page-header('Государственнные программы', ['Аналитика'], true)

			//- Tab 1
			.analityc-widget.analityc-widget_gp.load-anim-fade(data-delay="1500")
				+analityc-widgethead-gp()

				+analityc-graphics-custom1()

				+analityc-graphics-custom2()

				+analityc-graphics-line-vertical(getData('graphic-lines-gp'), true)._gp
				+analityc-graphics-line-vertical_slider(getData('graphic-lines-gp'), true).analityc-graphics-line-vertical_gp

				+legend-icon()
				
				+analityc-table()._gp
					+table-gp(getData('gp'))
		+dropdown().load-anim-fade(data-delay="1700")
