include ../../components/depfin-services-main/depfin-services-main

mixin lk-services-second()
  +b.lk-services-second&attributes(attributes)
    +e.cards
      +widget-card-edu-pers()
      +widget-card-calc-pers()
      +widget-card-polls-pers()
      +widget-card-quiz-pers()
      
      //- .tile__item
      //-   .tile__inner.service
      //-     +widget-card().widget-card-edu-pers
      //-       +widget-card-head('Обучающий сервис')
      //-       +widget-card-content()
      //-         +e.lessons
      //-           +passed-stages().widget-card__passed-stages
      //-             +e.round
      //-               canvas(width='78', height='78', default-fill='#efefef', stroke-width='7', sector-count='9', fill-sectors='0,2,3,5,8').sectored_round
      //-               +e.P.innertext Пройдено
      //-                 span 5 из 9
      //-                 | уроков
      //-         +e.lessons-list
      //-           +e.lessons-text Урок 4: Что такое бюджет и из чего он состоит?
      //-           +e.lessons-text._active Урок 5: Что такое доходы и откуда они поступают?
      //-           +e.lessons-text Урок 6: Как формируется бюджет?
      //-       +widget-card-bottom-link()
      //- 
      //- .tile__item
      //-   .tile__inner.service
      //-     .service__ahead
      //-       h3.service__title Адресная инвестиционная программа
      //-         button
      //-       .service__sub-title на 2016 год, млрд. руб.
      //-     .segment-diagram#diagram-6
      //-       .segment-diagram__value Всего
      //-         p.segment-diagram__value-num 347,2
      //-       .segment-diagram__floating.segment-diagram__floating_green#floating_diagram-6-0 Строительство
      //-         span 150,7
      //-       .segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-6-1 Образование
      //-         span 60,8
      //-       .segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-6-2 Медицина
      //-         span 35,2
      //-       .segment-diagram__floating.segment-diagram__floating_gray#floating_diagram-6-3 Прочее
      //-         span 100,5
      //-     ul.diagram-tabs.service__diagram-tabs
      //-       li.diagram-tabs__item.diagram-tabs__item_green
      //-         a(href="#").diagram-tabs__btn.diagram-tabs__btn_house#button_diagram-6-0 150,7
      //-           span.diagram-tabs__span-hov
      //-           span.diagram-tabs__span-js
      //-         .diagram-tabs__caption Строительство
      //-       li.diagram-tabs__item.diagram-tabs__item_violet
      //-         a(href="#").diagram-tabs__btn.diagram-tabs__btn_edu#button_diagram-6-1 60,8
      //-           span.diagram-tabs__span-hov
      //-           span.diagram-tabs__span-js
      //-         .diagram-tabs__caption Образование
      //-       li.diagram-tabs__item.diagram-tabs__item_blue
      //-         a(href="#").diagram-tabs__btn.diagram-tabs__btn_med#button_diagram-6-2 35,2
      //-           span.diagram-tabs__span-hov
      //-           span.diagram-tabs__span-js
      //-         .diagram-tabs__caption Медицина
      //-       li.diagram-tabs__item.diagram-tabs__item_gray
      //-         a(href="#").diagram-tabs__btn.diagram-tabs__btn_other#button_diagram-6-3 100,5
      //-           span.diagram-tabs__span-hov
      //-           span.diagram-tabs__span-js
      //-         .diagram-tabs__caption Прочее
      //-     a(href="#").service__more Подробнее
      //-         
      //- .tile__item
      //-   .tile__inner.service
      //-     .service__ahead
      //-       h3.service__title Государственный долг
      //-         button
      //-       .service__sub-title
      //-         span по состоянию на
      //-         .datepicker.service__datepicker
      //-           input(value='01.12.2016', tabindex="0").jq-datepicker.datepicker__show.range-datepicker__item
      //-         | , млрд. руб                     
      //-     .segment-diagram#diagram-7
      //-       .segment-diagram__value Всего
      //-         p.segment-diagram__value-num 77,2
      //-       .segment-diagram__floating.segment-diagram__floating_green#floating_diagram-7-0 Бюджетные&nbsp;кредиты
      //-         span 21,4
      //-       .segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-7-1 Внутренний&nbsp;долг
      //-         span 28,8
      //-       .segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-7-2 Внешний&nbsp;долг
      //-         span 48,4
      //-     ul.diagram-tabs.service__diagram-tabs
      //-       li.diagram-tabs__item.diagram-tabs__item_green
      //-         a(href="#").diagram-tabs__btn.diagram-tabs__btn_bank#button_diagram-7-0 21,4
      //-           span.diagram-tabs__span-hov
      //-           span.diagram-tabs__span-js
      //-         .diagram-tabs__caption Бюджетные кредиты
      //-       li.diagram-tabs__item.diagram-tabs__item_blue
      //-         a(href="#").diagram-tabs__btn.diagram-tabs__btn_bag#button_diagram-7-1 28,8
      //-           span.diagram-tabs__span-hov
      //-           span.diagram-tabs__span-js
      //-         .diagram-tabs__caption Внутренний долг
      //-       li.diagram-tabs__item.diagram-tabs__item_violet
      //-         a(href="#").diagram-tabs__btn.diagram-tabs__btn_build#button_diagram-7-2 48,4
      //-           span.diagram-tabs__span-hov
      //-           span.diagram-tabs__span-js
      //-         .diagram-tabs__caption Внешний долг
      //-     a(href="#").service__more Подробнее
      //-             
      //- .tile__item
      //-   .tile__inner.service
      //-     .service__ahead.mb-10
      //-       h3.service__title Москва и города мира
      //-         button
      //-     p.fs-14.medium.mb-10.xs-fs-11 Выберите показатель
      //-     .select.service__select
      //-       button.select__btn Доходы
      //-       ul.select__drop
      //-         li
      //-           a(href="#pl1").select__a Доходы
      //-         li
      //-           a(href="#pl2").select__a Расходы
      //-         li
      //-           a(href="#pl3").select__a Население
      //-     .select-content.select-content_vis#pl1
      //-       .service__place 5 место
      //-       p.fs-14.medium.lh-1_2.xs-fs-9 из 8 крупнейших городов мира<br> по общему объему доходов
      //-     .select-content#pl2
      //-       .service__place 4 место
      //-       p.fs-14.medium.lh-1_2.xs-fs-9 из 8 крупнейших городов мира<br> по общему объему расходов
      //-     .select-content#pl3
      //-       .service__place 3 место
      //-       p.fs-14.medium.lh-1_2.xs-fs-9 из 8 крупнейших городов мира<br> по общему количеству населения
      //-     a(href="#").service__more Подробнее
