.lk-services-second {
  display: block;

  @include clearfix;

  &__cards {
    margin: -5px;
    text-align: center;
    font-size: 0;
    float: left;
  }

  .tile__item {
    display: inline-block;
    vertical-align: top;
    width: 267px;
    margin: 5px;
    text-align: left;
  }

  .tile__inner {
    position: relative;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
  }
}

.service__title {
  padding-right: 40px;
}

.ui-datepicker {
  position: absolute;
  display: none !important;
}

.service__ahead {
  z-index: 4;
}
