mixin lk-services-second()
  +b.lk-services-second&attributes(attributes)
    +e.cards
      .tile__item
        .tile__inner.service
          .service__ahead
            h3.service__title Государственные программы
              button
            .service__sub-title по состоянию на
              .datepicker.service__datepicker
                button.datepicker__show 07.10.2016
                .datepicker__panel
                  ul.datepicker__col.datepicker__col_years
                    li
                      a(href="#").datepicker__a 2011
                    li
                      a(href="#").datepicker__a 2012
                    li
                      a(href="#").datepicker__a 2013
                    li
                      a(href="#").datepicker__a 2014
                    li
                      a(href="#").datepicker__a 2015
                    li
                      a(href="#").datepicker__a.datepicker__a_act 2016
                  .datepicker__col-wrap
                    ul.datepicker__col.datepicker__col_months
                      li
                        a(href="#", data-month="01").datepicker__a январь
                      li
                        a(href="#", data-month="02").datepicker__a февраль
                      li
                        a(href="#", data-month="03").datepicker__a март
                      li
                        a(href="#", data-month="04").datepicker__a апрель
                      li
                        a(href="#", data-month="05").datepicker__a май
                      li
                        a(href="#", data-month="06").datepicker__a июнь
                    ul.datepicker__col.datepicker__col_months
                      li
                        a(href="#", data-month="07").datepicker__a июль
                      li
                        a(href="#", data-month="08").datepicker__a август
                      li
                        a(href="#", data-month="09").datepicker__a сентябрь
                      li
                        a(href="#", data-month="10").datepicker__a.datepicker__a_act октябрь
                      li
                        a(href="#", data-month="11").datepicker__a ноябрь
                      li
                        a(href="#", data-month="12").datepicker__a.datepicker__a_act декабрь
                  button.datepicker__close
              | , млрд. руб
          .service-dot-cont.service-dot-cont_act#serv-d-2
            .dashed-diagram.service__dashed-diagram
              .dashed-diagram__diagram#diagram-8
                .dashed-diagram__value.dashed-diagram__value_top план
                  p.dashed-diagram__value-p 1 637,3
                .dashed-diagram__value.dashed-diagram__value_bottom
                  p.dashed-diagram__value-p 1 167,7
                  | факт
            .service__capt Программные расходы
          .service-dot-cont#serv-d-1
            .dashed-diagram.service__dashed-diagram
              .dashed-diagram__diagram#diagram-9
                .dashed-diagram__value.dashed-diagram__value_top план
                  p.dashed-diagram__value-p 113,4
                .dashed-diagram__value.dashed-diagram__value_bottom
                  p.dashed-diagram__value-p 46,5
                  | факт
            .service__capt Непрограммные направления деятельности
          .service-dots
            button(data-cont="serv-d-1").service-dots__btn
            button(data-cont="serv-d-2").service-dots__btn.active
          a(href="#").service__more Подробнее
  
      .tile__item
        .tile__inner.service
          .service__ahead
            h3.service__title Адресная инвестиционная программа
              button
            .service__sub-title на 2016 год, млрд. руб.
          .segment-diagram#diagram-6
            .segment-diagram__value Всего
              p.segment-diagram__value-num 347,2
            .segment-diagram__floating.segment-diagram__floating_green#floating_diagram-6-0 Строительство
              span 150,7
            .segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-6-1 Образование
              span 60,8
            .segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-6-2 Медицина
              span 35,2
            .segment-diagram__floating.segment-diagram__floating_gray#floating_diagram-6-3 Прочее
              span 100,5
          ul.diagram-tabs.service__diagram-tabs
            li.diagram-tabs__item.diagram-tabs__item_green
              a(href="#").diagram-tabs__btn.diagram-tabs__btn_house#button_diagram-6-0 150,7
                span.diagram-tabs__span-hov
                span.diagram-tabs__span-js
              .diagram-tabs__caption Строительство
            li.diagram-tabs__item.diagram-tabs__item_violet
              a(href="#").diagram-tabs__btn.diagram-tabs__btn_edu#button_diagram-6-1 60,8
                span.diagram-tabs__span-hov
                span.diagram-tabs__span-js
              .diagram-tabs__caption Образование
            li.diagram-tabs__item.diagram-tabs__item_blue
              a(href="#").diagram-tabs__btn.diagram-tabs__btn_med#button_diagram-6-2 35,2
                span.diagram-tabs__span-hov
                span.diagram-tabs__span-js
              .diagram-tabs__caption Медицина
            li.diagram-tabs__item.diagram-tabs__item_gray
              a(href="#").diagram-tabs__btn.diagram-tabs__btn_other#button_diagram-6-3 100,5
                span.diagram-tabs__span-hov
                span.diagram-tabs__span-js
              .diagram-tabs__caption Прочее
          a(href="#").service__more Подробнее
              
      .tile__item
        .tile__inner.service
          .service__ahead
            h3.service__title Государственный долг
              button
            .service__sub-title по состоянию на
              .datepicker.service__datepicker
                button.datepicker__show 21.10.2016
                .datepicker__panel
                  ul.datepicker__col.datepicker__col_years
                    li
                      a(href="#").datepicker__a 2011
                    li
                      a(href="#").datepicker__a 2012
                    li
                      a(href="#").datepicker__a 2013
                    li
                      a(href="#").datepicker__a 2014
                    li
                      a(href="#").datepicker__a 2015
                    li
                      a(href="#").datepicker__a.datepicker__a_act 2016
                  .datepicker__col-wrap
                    ul.datepicker__col.datepicker__col_months
                      li
                        a(href="#", data-month="01").datepicker__a январь
                      li
                        a(href="#", data-month="02").datepicker__a февраль
                      li
                        a(href="#", data-month="03").datepicker__a март
                      li
                        a(href="#", data-month="04").datepicker__a апрель
                      li
                        a(href="#", data-month="05").datepicker__a май
                      li
                        a(href="#", data-month="06").datepicker__a июнь
                    ul.datepicker__col.datepicker__col_months
                      li
                        a(href="#", data-month="07").datepicker__a июль
                      li
                        a(href="#", data-month="08").datepicker__a август
                      li
                        a(href="#", data-month="09").datepicker__a сентябрь
                      li
                        a(href="#", data-month="10").datepicker__a.datepicker__a_act октябрь
                      li
                        a(href="#", data-month="11").datepicker__a ноябрь
                      li
                        a(href="#", data-month="12").datepicker__a.datepicker__a_act декабрь
                  button.datepicker__close
              | , млрд. руб                      
          .segment-diagram#diagram-7
            .segment-diagram__value Всего
              p.segment-diagram__value-num 77,2
            .segment-diagram__floating.segment-diagram__floating_green#floating_diagram-7-0 Бюджетные&nbsp;кредиты
              span 21,4
            .segment-diagram__floating.segment-diagram__floating_blue#floating_diagram-7-1 Внутренний&nbsp;долг
              span 28,8
            .segment-diagram__floating.segment-diagram__floating_violet#floating_diagram-7-2 Внешний&nbsp;долг
              span 48,4
          ul.diagram-tabs.service__diagram-tabs
            li.diagram-tabs__item.diagram-tabs__item_green
              a(href="#").diagram-tabs__btn.diagram-tabs__btn_bank#button_diagram-7-0 21,4
                span.diagram-tabs__span-hov
                span.diagram-tabs__span-js
              .diagram-tabs__caption Бюджетные кредиты
            li.diagram-tabs__item.diagram-tabs__item_blue
              a(href="#").diagram-tabs__btn.diagram-tabs__btn_bag#button_diagram-7-1 28,8
                span.diagram-tabs__span-hov
                span.diagram-tabs__span-js
              .diagram-tabs__caption Внутренний долг
            li.diagram-tabs__item.diagram-tabs__item_violet
              a(href="#").diagram-tabs__btn.diagram-tabs__btn_build#button_diagram-7-2 48,4
                span.diagram-tabs__span-hov
                span.diagram-tabs__span-js
              .diagram-tabs__caption Внешний долг
          a(href="#").service__more Подробнее
                  
      .tile__item
        .tile__inner.service
          .service__ahead.mb-10
            h3.service__title Москва и города мира
              button
          p.fs-14.medium.mb-10.xs-fs-11 Выберите показатель
          .select.service__select
            button.select__btn Доходы
            ul.select__drop
              li
                a(href="#pl1").select__a Доходы
              li
                a(href="#pl2").select__a Расходы
              li
                a(href="#pl3").select__a Население
          .select-content.select-content_vis#pl1
            .service__place 5 место
            p.fs-14.medium.lh-1_2.xs-fs-9 из 8 крупнейших городов мира<br> по общему объему доходов
          .select-content#pl2
            .service__place 4 место
            p.fs-14.medium.lh-1_2.xs-fs-9 из 8 крупнейших городов мира<br> по общему объему расходов
          .select-content#pl3
            .service__place 3 место
            p.fs-14.medium.lh-1_2.xs-fs-9 из 8 крупнейших городов мира<br> по общему количеству населения
          a(href="#").service__more Подробнее
