mixin budgetPolicy()
  +b.budgetPolicy&attributes(attributes)
    .d-abs-content.budget-system-bg
      .d-layer
        +b.d-si.d-si__head
          +e.head_descr Бюджетная система
          +e.head_p-name бюджетная политика москвы
          +e.head_icons
            +e.A(href="#").icons_item
            +e.A(href="#").icons_item
            +e.A(href="#").icons_item
    .d-abs__head_descr
      | Совокупность мер, реализуемых органами государственной власти и направленных на повышение 
      | эффективности управления общественными финансами города Москвы
    +b.carousel#carousel
      +b.ar-left
      .carousel-count
      +b.ar-right
      .carousel-area__left
        div(data-speed='1').carousel-area__left__zone
        div(data-speed='2').carousel-area__left__zone
        div(data-speed='3').carousel-area__left__zone
        div(data-speed='4').carousel-area__left__zone
      .carousel-area__right
        div(data-speed='1').carousel-area__right__zone
        div(data-speed='2').carousel-area__right__zone
        div(data-speed='3').carousel-area__right__zone
        div(data-speed='4').carousel-area__right__zone
      .carousel-3d-container
        .carousel-3d-slider
          - for (var i = 0, i < 10, i++)
              .carousel-3d-slide
                +b.d-slide.d-slide__politics
                  +e.head
                    h2 Повышение доходного потециала бюджета города Москвы
                  +e.body_list
                    li Поддержка инвестиционной и инновационной активности субъектов предпринимательской деятельности
                    li Создание стабильных и предсказуемых условий ведения экономической деятельности
                    li Совершенствование налогооблажения имущества юридических и физических лиц, учитывающего реальную стоимость объектов налогооблажения
                    li Развитие туристической деятельности
                    li Продажа низкодоходной городской собственности
                    
