extends ../../layouts/default
include ../../components/depfin-about-budget/depfin-about-budget
include ../../components/header/header

block head
  - var pageTitle = 'Versta Project Template'
  
block header
  +header()._budget

block sections
  +sections()

  block content
    +depfin-about-budget()

  block footer
    +footer()
