include ../../blocks/favor/favor
include ../../blocks/icon/icons

//- data - json файл документов

mixin doc-cards(data)
  +b.doc-cards&attributes(attributes)
    each item in data
      if item.dir
        +e.card._dir
          +e.title-wrapper
            +e.SPAN.title-underline
              +e.A(href='#').title= item.title
          +e.bg-t
          +e.bg-r
          +e.bg-tt
          +e.corner
      else
        +e.card
          +e.SPAN.date= item.date
          +e.title-wrapper
            +e.SPAN.title-underline
              +e.A(href='#').title= item.title
          +e.P.text= item.text
          +e.bottom-wrapper
            +e.A(href='#').download= 'Скачать (' + item.doc + 'Кб)'
            +e.is-added
              +e.favor
                if (item.isAdded)
                  +favor()._added
                else
                  +favor()._stroke-color-blue
          +e.bg-t
          +e.bg-r
          +e.corner

mixin doc-cards-dropdown(data)
  +b.section-tabs._documents&attributes(attributes)
    +e.head._closed
      .wrap
        +b.UL.labels
          +e.LI.item
            +b.SPAN.label.js-label-button.js-label-button-closed
              | Документы
              +e.U.button.btn-close.js-section-tabs-hide
    +e.nav
      
      +e.nav-leftbtn
        a.btn-arrow.btn-arrow--prev prev
      +e.nav-rightbtn
        a.btn-arrow.btn-arrow--next next
      +e.nav-list
        +e.navigation
          +e.button-top.js-button-top
            +icon('level-up').top-icon
            span Наверх
          +e.current-dir Проект закона
        .owl-carousel.owl-loaded.documents
          each item in data
            +e.owl-item
              .tile__item
                .tile__inner
                  if item.dir
                    +e.card._dir
                      +e.title-wrapper
                        +e.SPAN.title-underline
                          +e.A(href='#').title= item.title
                      +e.bg-t
                      +e.bg-r
                      +e.bg-tt
                      +e.corner
                  else
                    +e.card
                      +e.SPAN.date= item.date
                      +e.title-wrapper
                        +e.SPAN.title-underline
                          +e.A(href='#').title= item.title
                      +e.P.text= item.text
                      +e.bottom-wrapper
                        +e.A(href='#').download= 'Скачать (' + item.doc + 'Кб)'
                        +e.is-added
                          +e.favor
                            if (item.isAdded)
                              +favor()._added
                            else
                              +favor()._stroke-color-blue
                      +e.bg-t
                      +e.bg-r
                      +e.corner
    .owl-nav
      p.owl-prev prev
      p.owl-next next
    .owl-dots
