.section-tabs {
  display: block;
  font-family: $PFDinTextPro;
  font-size: 0;
  text-align: left;
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 0;
  }

  &:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }

  &_dropdown .wrapper {
    @media screen and (max-width: 1140px) {
      padding: 0 40px;
    }
    @media (max-width: 580px) {
      padding: 0;
    }
  }

  .dd-holder {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: -20px;
  }

  &__content {
    width: 700%;
  }
  .tile__item {
    margin: 0 1px;

    @media (max-width: 700px) {
      float: left;
    }

    @media (max-width: 350px) {
      margin: 0 1px;
    }
  }


  &__nav {
    overflow: inherit;
  }

  &__navigation {
    display: none;
    margin-bottom: 10px;
    font-family: $PFDinCondensedPro;
    z-index: 5;
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 20px;

    .wrap {
      padding-left: 0;
    }
  }


  &__button-top {
    border: 1px solid rgba(254,227,0,.2);
    display: inline-block;
    vertical-align: middle;
    padding: 12px 10px 7px 14px;
    cursor: pointer;
    position: relative;
    margin-right: 7px;
    // &::after {
    //   @include pseudo;
    //   background: url('../images/top.jpg') no-repeat;
    // }

    span {
      font-size: 16px;
      text-transform: lowercase;
      display: inline-block;
      vertical-align: middle;
      color: $color-white;
    }
  }

  &__top-icon {
    width: 11px;
    height: 16px;
    fill: $color-white;
    stroke: $color-white;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
  }

  &__current-dir {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background: url('../images/directory.svg') no-repeat;
    width: 126px;
    height: 34px;
    color: $color-black;
    font-size: 16px;
    line-height: 39px;
    padding-left: 15px;
    padding-right: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__card {
    position: relative;
    min-height: 420px;
    width: 265px;
    padding: 20px 20px 70px;
    margin-bottom: 11px;
    z-index: 1;

    &:nth-child(5) {
      margin-right: 0;
    }

    &_dir {
      cursor: pointer;

      .section-tabs__title-wrapper {
        margin-top: 18px;
      }

      .section-tabs__bg-t {
        right: 150px;
        background-color: $color-yellow;
      }


      .section-tabs__bg-r {
        top: 28px;
        background-color: $color-yellow;
      }

      .section-tabs__corner {
        right: 111px;
        border: none;
        border-bottom: 28px solid $color-yellow;
      	border-right: 39px solid transparent;
        border-left: none;
      }
    }
  }

  &__date {
    display: inline-block;
    width: 100%;
    margin-bottom: 8px;
    font-size: 11px;
    line-height: 1em;
    color: #000;
    z-index: 2;
  }

  &__title-wrapper {
    min-height: 125px;
    z-index: 2;
  }

  &__title-underline {
    display: inline;
    padding-bottom: 4px;
    border-bottom: 1px solid #cfdaec;
  }

  &__title,
  &__download {
    &:visited {
      color: #5B0F7F;
      /*border-bottom: 1px solid #cccccc;*/
    }

    &:hover {
      color: #1277D4;
      /*border-bottom: 1px solid #CFDAEC;*/
    }
  }

  &__title {
    display: inline;
    color: #0D46A1;
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    font-family: $PFDinCondensedPro;
    /*border-bottom: 1px solid #CFDAEC;*/
  }

  &__text {
    display: block;
    font-size: 14px;
    line-height: 1em;
    color: #666;
    z-index: 2;
    font-weight: 400;
  }

  &__bottom-wrapper {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 41px;
    border-top: 1px solid #E4E8EB;
    font-family: $PFDinCondensedPro;
  }

  &__download {
    color: #0D46A1;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #CFDAEC;
    float: left;
    margin: 11px 0 0 20px;
    transition: 0.5s;
  }

  &__is-added {
    position: relative;
    float: right;
    height: 39px;
    width: 40px;
    border-left: 1px solid #E4E8EB;
    transition: 0.5s;

    &:hover {
      background: #fee300;
    }
  }

  &__favor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // top: calc(50% - 8px);
    // left: calc(50% - 8px);
    width: 16px;
    height: 16px;
  }

  &__bg-t,
  &__bg-r {
    display: block;
    background: #fff;
    position: absolute;
    left: 0;
    background: #fff;
    z-index: -1;
  }

  &__bg-tt {
    background-color: $color-white;
    position: absolute;
    width: 96%;
    height: 97%;
    bottom: 0;
    left: 0;
    z-index: -2;
  }

  &__bg-t {
    right: 31px;
    top: 0;
    height: 100%;
  }

  &__bg-r {
    top: 31px;
    bottom: 0;
    width: 100%;
  }

  &__corner {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    border: 14px solid transparent;
    border-bottom: 14px solid #fee300;
    border-left: 14px solid #fee300;
  }

  &_documents, &_news, &_services {
    .tile__item {
      &.hidden {
        display: none;
      }
    }
  }

}
