.depfin-budget-moscow-infograpfic-fin {
  display: block;
  font-family: $PFDinTextPro;
  font-size: 14px;
  line-height: (18/14)*1em;
  font-weight: 400;
  color: $color-input;

  background-image: url(../images/depfin-budget-moscow-infograpfic-fin/bg.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 195px;
  padding-bottom: 60px;

  @include respond-to('mobile'){
    padding: 100px 0 20px;
  }

  &__head {
    margin-bottom: 58px;
  }

  &__main {
    padding: 44px 41px 79px;
    background-color: $color-white;
  }

  &__title {
    font-family: $PFDinCondensedPro;
    font-size: 30px;
    line-height: 1em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__date {
    display: block;
    margin-bottom: 54px;
  }

  &__infograpfic {
    position: relative;
    margin-bottom: 74px;

    &-img {
      width: 100%;
      height: auto;
    }
  }

  &__about {
    margin-bottom: 31px;
  }

  &__text {
    color: $color-input;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    &_big {
      font-size: 18px;
      line-height: (22/18)*1em;
    }
  }

  &__tags {
    font-size: 0;
  }

  &__tag {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-right: 9px;

    @include respond-to('mobile') {
      margin-bottom: 10px;
    }

    &-link {
      display: block;
      text-decoration: none;
      font-size: 14px;
      padding: 7px 18px;
    }
  }
}
