include ../page-header/page-header

mixin depfin-budget-moscow-infograpfic-fin()
  +b.SECTION.depfin-budget-moscow-infograpfic-fin.sections__item&attributes(attributes)
    .wrapper-header
      +e.head
        +page-header('Инфографика', ['Медиацентр'])

    .wrapper
      +e.main.load-anim-fade(data-delay="1500")
        +e.A(href='#').infographics-list К списку инфографик
        +e.H3.title Расходы бюджета города Москвы
        +e.SPAN.date 06.10.2016

        +e.infograpfic
          +e.IMG(src='assets/images/depfin-budget-moscow-infograpfic-fin/infograpfic.png').infograpfic-img

        +e.about
          +e.P.text._big
            | В целях улучшения качества жизни москвичей с 2015 года в городе Москве реализуются 14 государственных программ. Объем расходов, формируемых в рамках государственных программ, составил в 2015 году 95% расходов бюджета Москвы и достиг 1377,1 млрд. рублей.
          +e.P.text._big
            | Начиная с 2013 года, в государственные программы интегрированы результаты и объемы финансового обеспечения мероприятий, реализуемых не только за счет бюджета города, но и за счет внебюджетных источников - средств федерального бюджета, бюджетов государственных внебюджетных фондов, юридических и физических лиц. Это позволяет обеспечить целостное развитие города, скоординировать усилия исполнителей мероприятий, обеспечить использование инструментов долевого участия, совместных проектов, расширить практику долгосрочных контрактов.
          +e.P.text._big
            | Суммарный объем направленных на реализацию государственных программ средств в 2015 году составил 3129,7 млрд. рублей. Это было достигнуто за счет привлечения значительных объемов внебюджетного финансирования (рост на 9,5% по сравнению с уровнем 2014 года), в отдельных государственных программах рост составил до 50% («Безопасный город», «Столичное образование»)

        +e.UL.tags
          +e.LI.tag
            +e.A(href='#').tag-link Исполнение
          +e.LI.tag
            +e.A(href='#').tag-link Москва
          +e.LI.tag
            +e.A(href='#').tag-link Госпрограммы
          +e.LI.tag
            +e.A(href='#').tag-link Расходы
