.passed-stages {
  display: inline-block;

  &__round {
    display: inline-table;
    vertical-align: middle;
    position: relative;
    width: 78px;
    height: 78px;
    text-align: center;
  }

  &__innertext {
    display: table-cell;
    font-weight: 500;
    font-size: 18px;
  }

  &__outertext {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }

  .sectored_round {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 78px;
    height: 78px;
  }

  &_big {

    &__round {
      width: 150px;
      height: 150px;
    }

    &__sectored-round {
      width: 150px;
      height: 150px;
    }
  }
}
