.analityc-table {
  display: block;
  position: relative;

  &__heading {
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.01em;
  }
  .table {
    position: relative;
  }
  .table__row {
    font-size: 18px;
    .table__col {
      padding: 15px 0;
      &:first-child {
        font-size: 16px;
        font-weight: 400;
        font-family: $PFDinTextPro;
        padding-right: 40px;
      }
    }
    .table__col_subcol {
      padding-left: 20px !important;
      &:first-child {
        font-size: 14px;
      }
    }
  }
  .table__row_caption {
    .table__col {
      padding: 12px 0;
      &:first-child {
        font-size: 14px;
        font-weight: 500;
        font-family: $PFDinCondensedPro;
      }
    }
  }
  .table__row_subcaption {
    font-size: 11px;
    text-transform: uppercase;
    .table__col {
      vertical-align: top;
      &:first-child {
        font-size: 0 !important;
      }
    }
  }
  .table__arrow {
    right: 15px;
  }
}

.analityc-table_approved,
.analityc-widget_mrelations .analityc-table_work,
.analityc-widget_mrelations .analityc-table_domain,
.analityc-widget-moscow-gov-program-table_done {
  .table__row {
    padding-right: 24%;
    font-size: 18px;
    @media (max-width: 900px) {
      padding-right: 0;
    }
    .table__col {
      width: 19.6%;
      padding: 15px 0;
      &:first-child {
        font-size: 16px;
        font-weight: 400;
        width: 41.2%;
        font-family: $PFDinTextPro;
        padding-right: 40px;
      }
    }
    .table__col_subcol {
      &:first-child {
        font-size: 14px;
      }
    }
  }
  .table__row_caption {
    border-bottom: 3px solid #e5e5e5;
    .table__col {
      padding: 12px 0;
      &:first-child {
        font-size: 14px;
        font-weight: 500;
        font-family: $PFDinCondensedPro;
      }
    }
  }
  .table__arrow {
    right: 15px;
  }
  .table__period-left {
    left: 18px;
  }
  .table__period-right {
    right: 135px;
  }
  .table__periodtext {
    display: block;
    right: 24%;
    width: 41%;
    margin-top: -16px;
  }
}

.analityc-table_changes {
  .table__row {
    font-size: 16px;
    .table__col {
      width: 8%;
      &:first-child {
        width: 26%;
        padding-right: 51px;
      }
      &:nth-child(3n+5) {
        border-left: 1px solid #e6e6e6;
        padding-left: 1%;
      }
      &:last-child {
        border: 0;
      }
    }
  }
  .table__row_caption {
    font-size: 18px;
    .table__col {
      text-align: center;
      width: 24.2%;
      &:first-child {
        text-align: left;
        font-size: 14px;
      }
    }
  }
  .table__row_subcaption {
    font-size: 11px;
    .table__col {
      border: 0 !important;
      padding: 5px 0 23px;
    }
  }
  .table__arrow {
    right: 5px;
  }
  .table__periodtext {
    display: block;
    width: 49%;
    margin-top: -17px;
  }
}

.analityc-table_done,
.analityc-widget-moscow-gov-program-table_exec {
  .table__row {
    padding-right: 54%;
    font-size: 18px;
    @media (max-width: 900px) {
      padding-right: 0;
    }
    .table__col {
      width: 19.6%;
      padding: 15px 0;
      &:first-child {
        font-size: 16px;
        font-weight: 400;
        width: 41.2%;
        font-family: $PFDinTextPro;
        padding-right: 40px;
      }
    }
    .table__col_subcol {
      &:first-child {
        font-size: 14px;
      }
    }
  }
  .table__row_caption {
    border-bottom: 3px solid #e5e5e5;
    .table__col {
      padding: 12px 0;
      &:first-child {
        font-size: 14px;
        font-weight: 500;
        font-family: $PFDinCondensedPro;
      }
    }
  }
  .table__arrow {
    right: 15px;
  }
}

.analityc-table_date,
.analityc-widget-moscow-gov-program-table_date {
  margin-top: 50px;

  @media (max-width: 1140px) and (min-width: 901px) {
    margin-top: 20px;
  }

  @media (max-width: 580px) {
    margin-top: 20px;
  }

  .table__row {
    padding-right: 33%;
    font-size: 18px;
    @media(max-width: 900px) {
      padding-right: 0;
    }
    .table__col {
      width: 19.6%;
      padding: 15px 0;
      vertical-align: top;
      &:first-child {
        font-size: 16px;
        font-weight: 400;
        width: 41.2%;
        font-family: $PFDinTextPro;
        padding-right: 40px;
      }
    }
    .table__col_subcol {
      &:first-child {
        font-size: 14px;
      }
    }
  }
  .table__row_caption {
    font-size: 14px;
    border-bottom: 3px solid #e5e5e5;
    .table__col {
      padding: 12px 0;
      &:first-child {
        font-size: 14px;
        font-weight: 500;
        font-family: $PFDinCondensedPro;
      }
    }
  }
  .table__arrow {
    right: 15px;
  }
}

/*таблица в аналитике Главная*/
.analityc-table_params {
  padding-top: 27px;
  padding-bottom: 20px;
  margin-top: 48px;

  .table {
    min-width: 514px;
  }

  .table__row {
    font-size: 16px;

    .table__col {
      width: 7.93%; /**/

      &:first-child {
        width: 20.7%;
        padding-right: 0;
      }

      &:nth-child(3n+5) {
        /*border-left: 1px solid #e6e6e6;*/
        /*padding-left: 1%;*/
      }

      &:last-child {
        border: 0;
      }
    }
  }
  .table__row_caption {
    font-size: 18px;

    .table__col {
      text-align: left;
      width: 15.86%; /**/
      padding: 12px 0 3px;

      &:first-child {
        text-align: left;
        font-size: 14px;
      }
    }
  }
  .table__row_subcaption {
    font-size: 11px;

    .table__col {
      border: 0 !important;
      padding: 5px 0 23px;
    }
  }
  .table__arrow {
    right: 5px;
  }
  .table__periodtext {
    display: block;
    width: 49%;
    margin-top: -17px;
  }
}

/*таблица в аналитике Гос. программы*/
.analityc-table_gp {
  padding-top: 0;
  padding-bottom: 20px;
  margin-top: 20px;

  @media (max-width: 580px) {
    overflow-x: scroll;
  }

  .table {
    min-width: 514px;
  }

  .table__row {
    position: relative;
    font-size: 16px;

    &:nth-child(5) {

      .table__col_subcol {
        padding-left: 30px!important;
      }

      .table__icon {
        position: absolute;
        top: 12px;
        left: 0;
        width: 20px;
        height: 20px;
        background: url(../images/depfin-analytics-gp/pink.png) 50% 50% / contain no-repeat;
      }
    }

    &:nth-child(6) {

      .table__col_subcol {
        padding-left: 40px!important;
      }
    }

    .table__col {
      width: 7.6%; /**/

      &:first-child {
        width: 24%;
        padding-right: 0;
        white-space: nowrap;
      }

      &:nth-child(3n+5) {
        /*border-left: 1px solid #e6e6e6;*/
        /*padding-left: 1%;*/
      }

      &:last-child {
        border: 0;
      }
    }
  }
  .table__row_caption {
    font-size: 18px;

    .table__col {
      text-align: left;
      width: 15.2%; /**/
      padding: 12px 0 3px;

      &:first-child {
        text-align: left;
        font-size: 14px;
      }
    }
  }
  .table__row_subcaption {
    font-size: 11px;

    .table__col {
      border: 0 !important;
      padding: 5px 0 23px;
    }
  }
  .table__figure {
    display: inline-block;
    max-width: 80%;
    white-space: normal;
  }
  .table__arrow {
    position: static;
    display: inline-block;
    margin-left: 5px;
  }
  .table__periodtext {
    display: block;
    width: 49%;
    margin-top: -17px;
  }
}

@media screen and (max-width: 1140px) {
  .analityc-table .table__row .table__col:first-child {
    font-size: 14px;
  }
  .analityc-table .table__row .table__col_subcol:first-child {
    font-size: 12px;
  }
  .analityc-table_changes .table__row_subcaption .table__col {
    padding: 5px 0 15px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1140px) {

  .analityc-table_approved,
  .analityc-widget_mrelations .analityc-table_work,
  .analityc-widget_mrelations .analityc-table_domain,
  .analityc-widget-moscow-gov-program-table_done {
    .table__row {
      padding-right: 20%;
    }

    .table__period-right {
      right: 119px;
    }

    .table__periodtext {
      right: 20%;
      width: 42.5%;
    }
  }

  .analityc-table_done .table__row {
    padding-right: 50%;
  }
  .analityc-table_date .table__row {
    padding-right: 30%;
  }
}

@media screen and (max-width: 1100px) {

  .analityc-table_approved,
  .analityc-widget_mrelations .analityc-table_work,
  .analityc-widget_mrelations .analityc-table_domain,
  .analityc-widget-moscow-gov-program-table_done {
    .table__row {
      padding-right: 0;
    }

    .table__period-right {
      right: 86%;
    }

    .table__periodtext {
      width: 52.5%;
      right: 0;
      font-size: 11px;
    }
  }

  .analityc-table .table__periodtext span {
    padding: 0 5px;
  }

  .analityc-table_date .table__row {
    padding-right: 0;
  }
}

@media screen and (min-width: 761px) and (max-width: 1100px) {
  .analityc-table_done .table__row {
    padding-right: 20%;
  }
}

@media screen and (min-width: 551px) and (max-width: 1100px) {
  .analityc-table__heading {
    font-size: 26px;
  }
}

@media screen and (max-width: 760px) {
  .analityc-table,
  .analityc-widget_mrelations .analityc-table_work,
  .analityc-widget_mrelations .analityc-table_domain,
  .analityc-widget-moscow-gov-program-table_done,
  .analityc-table_date {
    .table__periodtext,
    .table__period-left,
    .table__period-right {
      display: none;
    }
  }
  
  .moscow-gov-program,
  .mrelations-transfer,
  .gov-debt__analityc-widget {
    .analityc-table_approved,
    .analityc-table_changes,
    .analityc-table_work {
      .table__periodtext,
      .table__period-left,
      .table__period-right {
        display: block;
      }
    }
  }

  .analityc-table_done .table__row {
    padding-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .analityc-table__heading {
    font-size: 24px;
  }
}






@mixin table-slider($minwidth) {
  
  @media screen and (max-width: $minwidth) {
    .analityc-table__wrapper {
      overflow-x: auto;
      overflow-y: hidden;
    }
    .analityc-table__slide-arrows {
      display: block;
    }
    .table {
      min-width: $minwidth;
    }
  }
}


.analityc-table {
  position: relative;
  
  &__slide-arrows {
    display: none;
    position: absolute;
    left: -38px;
    right: -38px;
    top: 50%;
    margin-top: -25px;
    
    @media screen and (max-width: 580px) {
      left: -23px;
      right: -23px;
      margin-top: -15px;
    }
  }
  
  &_approved, &_date, &_domain, &_work {
    @include table-slider(580px);
  }
  &_changes, &_vmo, &_params {
    @include table-slider(900px);
  }
}
