mixin analityc-table(title)
  +b.analityc-table&attributes(attributes)
    if title
      +e.P.heading= title
    block
      
mixin analityc-table_slider(title)
  +b.analityc-table._slider&attributes(attributes)
    if title
      +e.P.heading= title
    block
