//- secondTitle = второая ссылка - вопросы или документы

mixin lk-nav(secondTitle, active)
  +b.lk-nav&attributes(attributes)
    - var activeClassOne = ""
    - var activeClassTwo = ""
    - var activeClassThree = ""
    - var activeClassFour = ""
    
    if active === 1
      - activeClassOne = "_active"
  
    if active === 2
      - activeClassTwo = "_active"
      
    if active === 3
      - activeClassThree = "_active"
      
    if active === 4
      - activeClassFour = "_active"
    
    +e.A.item._profile(href="#" class=activeClassOne data-tab-target="profile") Профиль
      +e.SPAN.item-num 01.
    +e.A.item._documents(href="#" class=activeClassTwo data-tab-target="questions") Вопросы
      +e.SPAN.item-num 02.
    +e.A.item._services(href="#" class=activeClassThree data-tab-target="services") Сервисы
      +e.SPAN.item-num 03.
    +e.A.item._services(href="#" class=activeClassFour data-tab-target="cards") Документы
      +e.SPAN.item-num 04.
