.lk-nav {
  display: block;
  font-weight: 500;
  font-family: $PFDinCondensedPro;
  font-size: 0;

  &__item {
    display: inline-block;
    text-transform: uppercase;
    padding: 4px 10px 3px 22px;
    color: $color-white;
    position: relative;
    text-decoration: none;
    font-size: 18px;
    transition: all .25s ease-in-out;
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 58px;

      @media (min-width: 451px) and (max-width: 700px) {
        margin-right: 30px;
      }
      
      @media (max-width: 450px) {
        margin-right: 100%;
      }
    }

    &_active {
      color: $color-black;
      background-color: $color-yellow;

      &::after {
        color: $color-black;
      }

      .lk-nav__item-num {
        color: $color-black;
        opacity: .3;
      }
    }
  }

  &__item-num {
    position: absolute;
    color: $color-yellow;
    top: 6px;
    left: 7px;
    font-size: 10px;
    font-weight: 400;
    transition: all .2s ease-in-out;
  }
}
