//- secondTitle = второая ссылка - вопросы или документы

mixin lk-nav(secondTitle, active)
  +b.lk-nav&attributes(attributes)
    if active == 1
      +e.A(href="profile.html").item._profile._active Профиль
        +e.SPAN.item-num 01.
      +e.A(href="#").item._documents=secondTitle
        +e.SPAN.item-num 02.
      +e.A(href="lk-services.html").item._services Сервисы
        +e.SPAN.item-num 03.
    if active == 2
      +e.A(href="profile.html").item._profile Профиль
        +e.SPAN.item-num 01.
      +e.A(href="#").item._documents._active=secondTitle
        +e.SPAN.item-num 02.
      +e.A(href="lk-services.html").item._services Сервисы
        +e.SPAN.item-num 03.
    if active == 3
      +e.A(href="profile.html").item._profile Профиль
        +e.SPAN.item-num 01.
      +e.A(href="#").item._documents=secondTitle
        +e.SPAN.item-num 02.
      +e.A(href="lk-services.html").item._services._active Сервисы
        +e.SPAN.item-num 03.
