/* Фон */
.basic-budget, .d-abs-content, .sections-budget__bg, .whatIsBudget, .back-round, .section-tabs, .footer__bar:before, .sections__item_footer, .footer__bar-top, .d-si-content, .header_budget, .lk, .banner, .sections__item, .depfin-about, .depfin-budget-moscow-infograpfic-fin, .header, .profile__info, .header_short { background: white !important; }

.depfin-budget-moscow-media-materials, .depfin-budget-moscow-open, .depfin-budget-moscow-open-reit, .search-page, .basic-budget, .depfin-services-social-support, .mediaEvents, .news-page, .news-one, .mediaSmFin, .press, .media-infographic, .media-main, .mrelations, .sections-budget__bg, .open-fedbud, .gov-debt  { background: white !important; }

.sections__item_footer { border-top: 1px solid black !important; }

.lk-bg-container { display: none !important; }

/* Делаем шрифты по умолчанию черными */
* { color: black !important; }

/* Заготовка для белых заливок */
.blind-white-bg { background: white !important; }

/* Заготовка для черных заливок */
.blind-black-bg { background: black !important; }

/* Меню */
.menu__sub-menu { background: black !important; }
.menu__sub-menu-item a { color: white !important; }

/* Кнопки */
.button, .form__submit, .d-sii__form_submit, .guide, .login-form__submit {
  background: black !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: white !important;
}


/* Тексты */
.blindmode-heading, .blindmode-heading h1, .blindmode-heading h2, .blindmode-heading h3 {
  font-size: 36px;
  line-height: 1.4;
}

.blindmode-subheading {
  font-size: 24px;
  line-height: 1.4;
}

.blindmode-text {
  font-size: 18px;
  line-height: 1.4;
}
