/* Фон */
.basic-budget, .d-abs-content, .sections-budget__bg, .whatIsBudget, .back-round, .section-tabs, .footer__bar:before, .sections__item_footer, .footer__bar-top, .d-si-content, .header_budget, .lk, .banner, .sections__item, .depfin-about, .depfin-budget-moscow-infograpfic-fin, .header, .profile__info, .header_short { background: white !important; }

.depfin-budget-moscow-media-materials, .depfin-budget-moscow-open, .depfin-budget-moscow-open-reit, .search-page, .basic-budget, .depfin-services-social-support, .mediaEvents, .news-page, .news-one, .mediaSmFin, .press, .media-infographic, .media-main, .mrelations, .sections-budget__bg, .open-fedbud, .gov-debt  { background: white !important; }

.sections__item_footer { border-top: 1px solid black !important; }

.lk-bg-container { display: none !important; }

/* Делаем шрифты по умолчанию черными */
* { color: black !important; }

/* Заготовка для белых заливок */
.blind-white-bg { background: white !important; }

/* Заготовка для черных заливок */
.blind-black-bg { background: black !important; }

/* Меню */
.menu__sub-menu { background: black !important; }
.menu__sub-menu-item a { color: white !important; }
.search-navbar__input { color: white !important; }
.search-navbar__input::placeholder { color: white !important; font-size: 20px;}
.header__user-favorites-icon { fill: black; }
.header__user-favorites-text { color: white !important; }

/* Попапы */
.tab__btn_active { background: black !important; color: white !important; }
.login-form__submit { border-color: black !important; }
.popup-restore__top { background: black !important; color: white !important; }

/* Кнопки */
.button, .form__submit, .d-sii__form_submit, .guide, .login-form__submit {
  background: black !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color: white !important;
}

.blindmode-footer {
  font-size: 24px !important;
  border-top: 1px solid black;
}

.depfin-about__wrapper { max-width: 100%; }

.depfin-about__list_marked .depfin-about__item:before { opacity: 1; }

.header__open-menu { border-color: black; }
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before { background-color: black; }
.header__drop { background-color: white !important; }

.blindmode-header {
  font-size: 24px !important;
  background-color: white !important;
  border-bottom: 1px solid black;
}

.blindmode-header .social__icon, .blindmode-header .header__menu2-icon, .blindmode-footer .social__icon, .blindmode-header .link-for-blind__icon, .blindmode-footer .footer__icon {
  fill: black;
}

.blindmode-header .social__icon:hover, .blindmode-header .header__menu2-icon:hover, .blindmode-footer .social__icon:hover, , .blindmode-header .link-for-blind__icon:hover, .blindmode-footer .footer__icon:hover {
  fill: #0d46a1;
}

.page-header .favor__icon { stroke: black !important; opacity: 1; }

.page-header_blind .page-header__share { fill: black !important; opacity: 1; }

.page-header_blind .d-si__icons_item .share__panel { background: black!important; }

/* Тексты */
.blindmode-heading, .blindmode-heading h1, .blindmode-heading h2, .blindmode-heading h3 {
  font-size: 42px;
  line-height: 1.4;
}

.depfin-about__list_marked .depfin-about__item:before { background-color: black; top: 19px; }

.blindmode-subheading {
  font-size: 30px;
  line-height: 1.4;
}

.blindmode-text {
  font-size: 26px;
  line-height: 1.4;
}


/* @qluqua
 * фикс для полупрозрачных псевдоэлементов и обычного текста
 * например .depfin-about__item-num
 * правка №1147
 */
section *,
.section__item *,
.wrapper * {
  opacity: 1 !important;
}
