.moscow-gov-program_one {
  
  .swiper-container {
    overflow: visible;
  }
  
  .segment-diagram {
    width: 270px;
    height: 270px;
    
    @media screen and (min-width: 769px) and (max-width: 1020px) {
      width: 220px;
      height: 220px;
    }
    @media screen and (min-width: 551px) and (max-width: 768px) {
      width: 270px;
      height: 270px;
    }
    @media screen and (max-width: 550px) {
      width: 216px;
      height: 216px;
    }
  }
  
  .analityc-graphics_round {

  	&.analityc-graphics {
  		.segment-diagram__val {
  			z-index: 1;
  		}
  	}
  }

	.analityc-graphics_column {
		.analityc-graphics__graphic_column {
	    @media (max-width: 1140px) {
				margin: 0 auto;
		    width: 320px;
	    }

	    @media (max-width: 1140px) {
		    width: 250px;
	    }

		}
	}

	.analityc-graphics_singleround {
  	
  	&.analityc-graphics {
  		.segment-diagram__val {
  			z-index: 1;
  		}
  	}

		.analityc-graphics__legend_vert {
			margin-top: 100px;
		}
	}
}
