.moscow-gov-program_one {
  
  .swiper-container {
    overflow: visible;
  }
  
  .segment-diagram {
    width: 270px;
    height: 270px;
    
    @media screen and (min-width: 769px) and (max-width: 1020px) {
      width: 220px;
      height: 220px;
    }
    @media screen and (min-width: 551px) and (max-width: 768px) {
      width: 270px;
      height: 270px;
    }
    @media screen and (max-width: 550px) {
      width: 216px;
      height: 216px;
    }
  }
  
  .analityc-graphics_round {

  	&.analityc-graphics {
  		.segment-diagram__val {
  			z-index: 1;
  		}
  	}
  }

	.analityc-graphics_column {
		.analityc-graphics__graphic_column {
	    @media (max-width: 1140px) {
				margin: 0 auto;
		    width: 320px;
	    }

	    @media (max-width: 1140px) {
		    width: 250px;
	    }

		}
	}

	.analityc-graphics_singleround {
  	
  	&.analityc-graphics {
  		.segment-diagram__val {
  			z-index: 1;
  		}
  	}

		.analityc-graphics__legend_vert {
			margin-top: 100px;
		}
	}

	.table__subrow{
		width: 100%;
		display: table;
		border-bottom: 1px solid #e6e6e6;
		&_subrow_tax{
			padding-left: 15px;
		}
	}
	.table__subarrow{
		position: absolute;
		top: -webkit-calc(50% - 7px);
		top: calc(50% - 7px);
		right: 15px;
		width: 14px;
		height: 14px;
		fill: #0d46a1;
		cursor: pointer;
	}
  
  .analityc-graphics__legend {
    padding: 0 11px;
    
    @media (max-width: 1140px) {
      padding: 0;
    }
    
    .legend__item {
      width: 26%;
      margin-right: 11%;
      padding-right: 0;
      
      @media (max-width: 1140px) {
        width: 270px;
        margin-right: calc((100% - 810px) / 2);
      }
      
      @media (max-width: 1020px) {
        width: 220px;
        margin-right: calc((100% - 660px) / 2);
      }
      
      @media (max-width: 900px) {
        width: 50%;
        margin-right: 0;
      }
      
      @media (max-width: 768px) {
        width: 100%;
      }
      
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
  
  .analityc-graphics__legend_vert {
    padding: 0;
    
    .legend__item {
      margin-right: 0;
    }
  }
}
