include ../page-header/page-header
include ../../blocks/grid/grid
include ../../blocks/table/table
include ../analityc-widgethead/analityc-widgethead
include ../analityc-table/analityc-table
include ../analityc-graphics/analityc-graphics
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/tabs/tabs
include ../../blocks/icon/icons

//- program - название гп
mixin budget_moscow_gov_program_one(header)

	+b.SECTION.section.main.main_basic.basic-budget.sections__item.moscow-gov-program.moscow-gov-program_one
		.ar.ar-left
		.ar.ar-right
		.wrapper-header
			+page-header('Государственные программы', ['О бюджете', 'Бюджетная система'], true, true)
			.article-controls
				span
				span
				span

		.wrapper
			.analityc-widget.analityc-widget_moscow-gov-program.load-anim-fade(data-delay="1500")

				A(href='#').moscow-gov-program__gp-list К списку государственных программ
				.moscow-gov-program__header
					.moscow-gov-program__icon
						img(src='assets/images/depfin-analytics-gp/pink-big.png')
					H2.moscow-gov-program__heading= header
					A(href='#').moscow-gov-program__link Паспорт программы

				+analityc-widgethead-moscow-gp(true)


				// этап Закон о бюджете утв.
				.analityc-widget-sources.analityc-widget-moscow-gov-program_done.active(data-stage='approved', data-category='subgp')
					+analityc-graphics-round5()

				.analityc-widget-sources.analityc-widget-moscow-gov-program_expenses.analityc-widget-moscow-gov-program_expenses-done(data-stage='approved', data-category='expenses')
					+analityc-graphics-round6()

				+analityc-table-slider(100)._approved(data-stage='approved', data-category='all')
					+table-income(getData('income'))


				// этап Закон о внесении изменений
				.analityc-widget-sources.analityc-widget-moscow-gov-program_changes(data-stage='changes', data-category='subgp')
					+analityc-graphics-column2()

				.analityc-widget-sources.analityc-widget-moscow-gov-program_expenses.analityc-widget-moscow-gov-program_expenses-changes(data-stage='changes', data-category='expenses')
					+analityc-graphics-column4()

				+analityc-table-slider(100)._changes(data-stage='changes', data-category='all')
					+table-income(getData('income1'))


				// этап Закон об исполнении
				.analityc-widget-sources.analityc-widget-moscow-gov-program_exec(data-stage='done', data-category='subgp')
					+analityc-graphics-singleround2()._exec

				.analityc-widget-sources.analityc-widget-moscow-gov-program_expenses.analityc-widget-moscow-gov-program_expenses-exec(data-stage='done', data-category='expenses')
					+analityc-graphics-singleround5()

				+analityc-table()._done(data-stage='done', data-category='all')
					+table-income(getData('income2'))


				// этап Исполнение на дату 
				.analityc-widget-sources.analityc-widget-moscow-gov-program_date(data-stage='date', data-category='all')
					+analityc-graphics-js-line('Исполнение доходов бюджета на', getData('graphic-js-line1')[0])

				+analityc-table-slider(100, 'Исполнение доходов бюджета на')._date(data-stage='date', data-category='all')
					+table-income(getData('sources'))



				.analityc-widget__bottom
					a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
					a(href="/").analityc-more.analityc-more_results Результаты реализации государственных программ
		+dropdown().load-anim-fade(data-delay="1700")
