.moscow-gov-program_one {

	.swiper-container {
		overflow: visible;
	}

  .analityc-graphics_round {

  	&.analityc-graphics {
  		.segment-diagram__val {
  			z-index: 1;
  		}

			.segment-diagram#diagram-30 {
	 			.segment-diagram__val1 {
			    top: -79px;
			    left: 72px;

			    @media (max-width: 1140px) {
				    top: -75px;
				    left: 56px;
			    }
	 			}
	 			.segment-diagram__val2 {
					top: 45px;
			    right: 241px;	 

			    @media (max-width: 1140px) {
						right: 234px;
			    }

	 			}
	 			.segment-diagram__val3 {
			    top: 107px;
			    right: 71px;

			    @media (max-width: 1140px) {
				    top: 110px;
				    right: 63px;
			    }

	 			}
	 			.segment-diagram__val4 {
			    top: -65px;
			    right: 52px;

			    @media (max-width: 1140px) {
						right: 46px;
			    }

	 			}
			}

			.segment-diagram#diagram-31,
			.segment-diagram#diagram-32 {
	 			.segment-diagram__val1 {
			    top: -79px;
			    left: 72px;

			    @media (max-width: 1140px) {
				    top: -75px;
				    left: 56px;
			    }

	 			}
	 			.segment-diagram__val2 {
			    top: 70px;
			    right: 231px;	 		

			    @media (max-width: 1140px) {
						right: 223px;
			    }

	 			}
	 			.segment-diagram__val3 {
			    top: 107px;
			    right: 71px;

			    @media (max-width: 1140px) {
						top: 99px;
				    right: 49px;
			    }

	 			}
	 			.segment-diagram__val4 {
			    top: -65px;
			    right: 52px;

			    @media (max-width: 1140px) {
    				right: 46px;
			    }
	 			}
			}

			.segment-diagram#diagram-33,
			.segment-diagram#diagram-34,
			.segment-diagram#diagram-35 {
	 			.segment-diagram__val1 {
					top: -96px;
			    left: 133px;

			    @media (max-width: 1140px) {
						left: 122px;
			    }

	 			}
	 			.segment-diagram__val2 {
					top: -16px;
			    right: 238px;

			    @media (max-width: 1140px) {
						right: 230px;
			    }

	 			}
	 			.segment-diagram__val3 {
			    top: 106px;
			    right: 198px;

			    @media (max-width: 1140px) {
						right: 187px;
			    }

	 			}
	 			.segment-diagram__val4 {
			    top: 107px;
			    right: 66px;

			    @media (max-width: 1140px) {
				    top: 105px;
				    right: 57px;
			    }

	 			}
	 			.segment-diagram__val5 {
					bottom: 49px;
			    left: 241px;

			    @media (max-width: 1140px) {
				    bottom: 35px;
				    left: 230px;
			    }

	 			}
			}

	  	.svg-wrap {
	  		transform: scale(-1, 1);
	  	}
  	}
  }

	.analityc-graphics_column {
		.analityc-graphics__graphic_column {
	    @media (max-width: 1140px) {
				margin: 0 auto;
		    width: 320px;
	    }

	    @media (max-width: 1140px) {
		    width: 250px;
	    }

		}

		.column1 {
			.column-area3 {
				height: 127px;
			}
			.column-area4 {
				height: 24px;
			}
			.column-area5 {
				height: 57px;
			}
			.column-area6 {
				height: 25px;
			}
		}
		.subcolumn {
			.column-area3 {
				height: 137px;
				transform: skewY(-28deg) translateY(15px);
			}
			.column-area4 {
				height: 34px;
		    transform: skewY(-10deg) translateY(5px);
			}
			.column-area5 {
				height: 67px;
		    transform: skewY(-10deg) translateY(5px);
			}
			.column-area6 {
				height: 25px;
			}
		}
		.column2 {
			.column-area3 {
				height: 137px;
			}
			.column-area4 {
				height: 34px;
			}
			.column-area5 {
				height: 67px;
			}
			.column-area6 {
				height: 25px;
			}

		}
	}

	.analityc-graphics_singleround {
  	
  	&.analityc-graphics {
  		.segment-diagram__val {
  			z-index: 1;
  		}

			.segment-diagram#diagram-36 {
	 			.segment-diagram__val1 {
			    top: -62px;
			    left: 52px;

			    @media (max-width: 1140px) {
				    top: -61px;
				    left: 42px;
			    }

	 			}
	 			.segment-diagram__val2 {
					top: 89px;
			    right: 217px;

			    @media (max-width: 1140px) {
						right: 206px;
			    }

	 			}
	 			.segment-diagram__val3 {
					top: 76px;
			    right: 38px;

			    @media (max-width: 1140px) {
				    right: 31px;
			    }

	 			}
	 			.segment-diagram__val4 {
			    top: -77px;
			    right: 62px;
	 			}
			}

	  	.svg-wrap {
	  		transform: scale(-1, 1);
	  	}
  	}

		.analityc-graphics__legend_vert {
			margin-top: 100px;
		}
	}
}
