mixin menu()
  +b.NAV.menu&attributes(attributes)
    ul
      +e.LI.item
        +e.A(href="#").a О бюджете
      +e.LI.item
        +e.A(href="#").a Бюджет Москвы
        //+e.sub-menu
          +e.UL.sub-menu-ul
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
              ul.sub-menu
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
              ul.sub-menu
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
              ul.sub-menu
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
              ul.sub-menu
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
              ul.sub-menu
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
      +e.LI.item
        +e.A(href="#").a Аналитика
        //+e.sub-menu
          +e.UL.sub-menu-ul
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
              ul.sub-menu
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
            +e.LI.sub-menu-item
              a(href="#") Медиаматериалы
              ul.sub-menu
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Фотографии
      +e.LI.item
        +e.A(href="#").a Открытость
      +e.LI.item
        +e.A(href="#").a Сервисы      
      +e.LI.item
        +e.A(href="#").a Медиацентр
      +e.LI.item
        +e.A(href="#").a Обратная связь
