mixin menu()
  +b.NAV.menu#menu&attributes(attributes)
    +e.UL.list
      +e.LI.item
        +e.A.link(href="#").has-dropdown О бюджете
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item
              +e.A.link(href="depfin_about_budget.html") Что такое бюджет?
            +e.LI.item
              +e.A.link(href="#").has-dropdown Бюджетная система
              //- субменю
              +b.DIV.submenu.__submenu.subsubmenu
                +e.UL.list
                  +e.LI.item
                    +e.A.link(href="budget-system.html") Бюджетная система РФ
                  +e.LI.item
                    +e.A.link(href="principles.html") Принципы бюджетной системы
                  +e.LI.item
                    +e.A.link(href="depfin_about_budget_preparation.html") Этапы подготовки бюджета
                  +e.LI.item
                    +e.A.link(href="budgetary_policy.html") Бюджетная политика Москвы
                  +e.LI.item
                    +e.A.link(href="tax_policy.html") Налоговая политика Москвы
            +e.LI.item
              +e.A.link(href="classify-new.html") Бюдженая классификация
            +e.LI.item
              +e.A.link(href="glossary.html") Глоссарий
            +e.LI.item
              +e.A.link(href="documents.html") Документы
      +e.LI.item
        +e.A.link(href="#").has-dropdown Бюджет Москвы
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item
              +e.A.link(href="basic_budget_figures.html") Основные параметры бюджета
            +e.LI.item
              +e.A.link(href="budget_income.html") Доходы
            +e.LI.item
              +e.A.link(href="budget_expenses.html") Расходы
            +e.LI.item
              +e.A.link(href="budget_moscow_sources.html") Источники финансирования дефицита бюджета
            +e.LI.item
              +e.A.link(href="budget_moscow_gov_program.html").has-dropdown Государственные программы
              //- субменю
              +b.DIV.submenu.__submenu.subsubmenu
                +e.UL.list
                  +e.LI.item
                    +e.A.link(href="budget_moscow_gov_program_one.html") Развитие транспортной системы
                  +e.LI.item
                    +e.A.link(href="#") Столичное здравоохранение
                  +e.LI.item
                    +e.A.link(href="#") Столичное образование
                  +e.LI.item
                    +e.A.link(href="#") Социальная поддержка жителей города Москвы
                  +e.LI.item
                    +e.A.link(href="#") Жилище
                  +e.LI.item
                    +e.A.link(href="#") Развитие коммунально-инженерной инфраструктуры и энергосбережение
                  +e.LI.item
                    +e.A.link(href="#") Культура Москвы
                  +e.LI.item
                    +e.A.link(href="#") Спорт Москвы
                  +e.LI.item
                    +e.A.link(href="#") Открытое правительство
                  +e.LI.item
                    +e.A.link(href="#") Информационный город
                  +e.LI.item
                    +e.A.link(href="#") Развитие индустрии отдыха и туризма
                  +e.LI.item
                    +e.A.link(href="#") Экономическое развитие и инвестиционная привлекательность города Москвы
                  +e.LI.item
                    +e.A.link(href="#") Градостроительная политика
                  +e.LI.item
                    +e.A.link(href="#") Безопасный город
            +e.LI.item
              +e.A.link(href="budget_aip.html") Адресная инвестиционная программа
            +e.LI.item
              +e.A.link(href="gov-debt.html") Государственный долг
            +e.LI.item
              +e.A.link(href="mrelations.html") Межбюджетные отношения
            +e.LI.item
              +e.A.link(href="budget_forecast.html") Соицально-экономическое развитие
      +e.LI.item
        +e.A.link(href="#").has-dropdown Аналитика
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item
              +e.A.link(href="depfin-analytics-main.html") Основные параметры бюджета в динамике
            +e.LI.item
              +e.A.link(href="depfin_analytics_income.html") Доходы
            +e.LI.item
              +e.A.link(href="depfin-analytics-expenses.html") Расходы
            +e.LI.item
              +e.A.link(href="depfin-analytics-gp.html") Государственные программы
            +e.LI.item
              +e.A.link(href="analytics-gov-debt.html") Государственный долг
      +e.LI.item
        +e.A.link(href="depfin-services-main.html").has-dropdown Сервисы
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item._main-page-link
              +e.A.link(href="depfin-services-main.html") Все сервисы
            +e.LI.item
              +e.A.link(href="services_gov_program_list.html") Результаты реализации государственных программ
            +e.LI.item
              +e.A.link(href="edu-service.html") Обучающий сервис
            +e.LI.item
              +e.A.link(href="polls_task.html") Опросы
            +e.LI.item
              +e.A.link(href="regions.html") Москва и субъекты РФ
            +e.LI.item
              +e.A.link(href="depfin-services-social-support.html") Социальная поддержка населения
            +e.LI.item
              +e.A.link(href="depfin_services_budget_calc.html") Калькулятор бюджета
            +e.LI.item
              +e.A.link(href="quiz-task.html") Викторины
            +e.LI.item
              +e.A.link(href="services_social_significant.html") Общественно значимые проекты
            +e.LI.item
              +e.A.link(href="depfin_services_VMO.html") Внутригородские муниципальные образования
            +e.LI.item
              +e.A.link(href="services_net.html") Бюджетная сеть
            +e.LI.item
              +e.A.link(href="services_moscow.html") Москва и города мира

      +e.LI.item
        +e.A.link(href="depfin-budget-moscow-open.html").has-dropdown Открытость
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item._main-page-link
              +e.A.link(href="depfin-budget-moscow-open.html") Стартовая страница
            +e.LI.item
              +e.A.link(href="open-preza.html") Путеводитель по бюджету
            +e.LI.item
              +e.A.link(href="open-con.html") Конкурсы
            +e.LI.item
              +e.A.link(href="open-fedbud.html") Федеральный бюджет для граждан
            +e.LI.item
              +e.A.link(href="open-file.html") Открытые данные
            +e.LI.item
              +e.A.link(href="depfin-budget-moscow-open-reit.html") Рейтинг открытости бюджетных данных
      +e.LI.item
        +e.A.link(href="media-main.html").has-dropdown Медиацентр
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item._main-page-link
              +e.A.link(href="media-main.html") Стартовая страница
            +e.LI.item
              +e.A.link(href="news.html").has-dropdown Новости
              //- субменю
              +b.DIV.submenu.__submenu.subsubmenu
                +e.UL.list
                  +e.LI.item
                    +e.A.link(href="#") Новости бюджета
                  +e.LI.item
                    +e.A.link(href="#") Новости Москвы
                  +e.LI.item
                    +e.A.link(href="#") Федеральные новости
            +e.LI.item
              +e.A.link(href="mediaEvents.html") События
            +e.LI.item
              +e.A.link(href="media-infographic.html") Инфографика
            +e.LI.item
              +e.A.link(href="materials-main.html").has-dropdown Медиаматериалы
              //- субменю
              +b.DIV.submenu.__submenu.subsubmenu
                +e.UL.list
                  +e.LI.item
                    +e.A.link(href="materials-photo.html") Фотографии
                  +e.LI.item
                    +e.A.link(href="materials-video.html") Видео
                  +e.LI.item
                    +e.A.link(href="materials-present.html") Презентации
            +e.LI.item
              +e.A.link(href="mediaSmFin.html") Материалы для СМИ
            +e.LI.item
              +e.A.link(href="press.html") Пресс-служба
      +e.LI.item
        +e.A.link(href="feedback.html") Обратная связь
