mixin menu()
  +b.NAV.menu#menu&attributes(attributes)
    +e.UL.list
      +e.LI.item
        +e.A.link(href="#").has-dropdown О бюджете
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#") Что такое бюджет?
            +e.LI.item
              +e.A.link(href="#").has-dropdown Бюджетная система
              //- субменю
              +b.DIV.submenu.__submenu
                +e.UL.list
                  +e.LI.item
                    +e.A.link(href="#") Бюджетная система РФ
                  +e.LI.item
                    +e.A.link(href="#") Принципы бюджетной системы
                  +e.LI.item
                    +e.A.link(href="#") Этапы подготовки бюджета
                  +e.LI.item
                    +e.A.link(href="#") Бюджетная политика Москвы
                  +e.LI.item
                    +e.A.link(href="#") Налоговая политика Москвы
            +e.LI.item
              +e.A.link(href="#") Бюдженая классификация
            +e.LI.item
              +e.A.link(href="#") Глоссарий
            +e.LI.item
              +e.A.link(href="#") Документы
      +e.LI.item
        +e.A.link(href="#").has-dropdown Бюджет Москвы
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#") Основные параметры бюджета
            +e.LI.item
              +e.A.link(href="#") Доходы
            +e.LI.item
              +e.A.link(href="#") Расходы
            +e.LI.item
              +e.A.link(href="#") Источники финансирования дефицита бюджета
            +e.LI.item
              +e.A.link(href="#").has-dropdown Государственные программы
              //- субменю
              +b.DIV.submenu.__submenu
                +e.UL.list
                  +e.LI.item
                    +e.A.link(href="#") Развитие транспортной системы
                  +e.LI.item
                    +e.A.link(href="#") Столичное здравоохранение
                  +e.LI.item
                    +e.A.link(href="#") Столичное образование
                  +e.LI.item
                    +e.A.link(href="#") Социальная поддержка жителей города Москвы
                  +e.LI.item
                    +e.A.link(href="#") Жилище
                  +e.LI.item
                    +e.A.link(href="#") Развитие коммунально-инженерной инфраструктуры и энергосбережение
                  +e.LI.item
                    +e.A.link(href="#") Культура Москвы
                  +e.LI.item
                    +e.A.link(href="#") Спорт Москвы
                  +e.LI.item
                    +e.A.link(href="#") Открытое правительство
                  +e.LI.item
                    +e.A.link(href="#") Информационный город
                  +e.LI.item
                    +e.A.link(href="#") Развитие индустрии отдыха и туризма
                  +e.LI.item
                    +e.A.link(href="#") Экономическое развитие и инвестиционная привлекательность города Москвы
                  +e.LI.item
                    +e.A.link(href="#") Градостроительная политика
                  +e.LI.item
                    +e.A.link(href="#") Безопасный город
            +e.LI.item
              +e.A.link(href="#") Адресная инвестиционная программа
            +e.LI.item
              +e.A.link(href="#") Государственный долг
            +e.LI.item
              +e.A.link(href="#") Межбюджетные отношения
            +e.LI.item
              +e.A.link(href="#") Соицально-экономическое развитие
      +e.LI.item
        +e.A.link(href="#").has-dropdown Аналитика
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#") Основные параметры бюджета в динамике
            +e.LI.item
              +e.A.link(href="#") Доходы
            +e.LI.item
              +e.A.link(href="#") Расходы
            +e.LI.item
              +e.A.link(href="#") Государственные программы
            +e.LI.item
              +e.A.link(href="#") Государственный долг
      +e.LI.item
        +e.A.link(href="#") Сервисы
      +e.LI.item
        +e.A.link(href="#").has-dropdown Открытость
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#") Путеводитель по бюджету
            +e.LI.item
              +e.A.link(href="#") Конкурсы
            +e.LI.item
              +e.A.link(href="#") Федеральный бюджет для граждан
            +e.LI.item
              +e.A.link(href="#") Открытые данные
            +e.LI.item
              +e.A.link(href="#") Рейтинг открытости бюджетных данных
      +e.LI.item
        +e.A.link(href="#").has-dropdown Медиацентр
        //- субменю
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#").has-dropdown Новости
              //- субменю
              +b.DIV.submenu.__submenu
                +e.UL.list
                  +e.LI.item
                    +e.A.link(href="#") Новости бюджета
                  +e.LI.item
                    +e.A.link(href="#") Новости Москвы
                  +e.LI.item
                    +e.A.link(href="#") Федеральные новости
            +e.LI.item
              +e.A.link(href="#") События
            +e.LI.item
              +e.A.link(href="#") Инфографика
            +e.LI.item
              +e.A.link(href="#").has-dropdown Медиаматериалы
              //- субменю
              +b.DIV.submenu.__submenu
                +e.UL.list
                  +e.LI.item
                    +e.A.link(href="#") Фотографии
                  +e.LI.item
                    +e.A.link(href="#") Видео
                  +e.LI.item
                    +e.A.link(href="#") Презентации
            +e.LI.item
              +e.A.link(href="#") Материалы для СМИ
            +e.LI.item
              +e.A.link(href="#") Пресс-служба
      +e.LI.item
        +e.A.link(href="#") Обратная связь
