mixin menu()
  +b.NAV.menu#menu&attributes(attributes)
    +e.UL.list
      +e.LI.item
        +e.A.link(href="#").has-dropdown О бюджете
        +b.DIV.submenu.__submenu
          +e.UL.list
            +e.LI.item
              +e.A.link(href="#").is-active Активная ссылка
            each _ in Array(5)
              +e.LI.item
                +e.A.link(href="#") Медиаматериалы
      +e.LI.item
        +e.A.link(href="#").has-dropdown Бюджет Москвы
        +b.DIV.submenu.__submenu
          +e.UL.list
            each _ in Array(25)
              +e.LI.item
                +e.A.link(href="#") Фотографии
      +e.LI.item
        +e.A.link(href="#") Аналитика
      +e.LI.item
        +e.A.link(href="#") Открытость
      +e.LI.item
        +e.A.link(href="#") Сервисы
      +e.LI.item
        +e.A.link(href="#") Медиацентр
      +e.LI.item
        +e.A.link(href="#") Обратная связь
