mixin menu()
  +b.NAV.menu#menu&attributes(attributes)
    +e.UL.list
      +e.LI.item
        +e.A.link(href="#") О бюджете
      +e.LI.item
        +e.A.link(href="#") Бюджет Москвы
        +b.UL.submenu.__submenu
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
            +b.UL.submenu.__submenu
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
            +b.UL.submenu.__submenu
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
            +b.UL.submenu.__submenu
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
            +b.UL.submenu.__submenu
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
            +b.UL.submenu.__submenu
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
      +e.LI.item
        +e.A.link(href="#") Аналитика
        +b.UL.submenu.__submenu
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
            +b.UL.submenu.__submenu
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
          +e.LI.item
            +e.A.link(href="#") Медиаматериалы
            +b.UL.submenu.__submenu
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
              +e.LI.item
                +e.A.link(href="#") Фотографии
      +e.LI.item
        +e.A.link(href="#") Открытость
      +e.LI.item
        +e.A.link(href="#") Сервисы
      +e.LI.item
        +e.A.link(href="#") Медиацентр
      +e.LI.item
        +e.A.link(href="#") Обратная связь
