include ../page-header/page-header

mixin map()
  +b.d-si-content._quiz._map&attributes(attributes)
    .d-layer
      .d-si__quiz-container
        a(href="basic_budget_figures.html") basic_budget_figures
        a(href="budget-system.html") budget-system
        a(href="budgetary_policy.html") budgetary_policy
        a(href="classify.html") classify
        a(href="depfin_about_budget.html") depfin_about_budget
        a(href="depfin_about_budget_preparation.html") depfin_about_budget_preparation
        a(href="documents.html") documents
        a(href="edu-service.html") edu-service
        a(href="edu-service-question.html") edu-service-question
        a(href="edu-service-result.html") edu-service-result
        a(href="feedback.html") feedback
        a(href="glossary.html") glossary
        a(href="personal-cab.html") personal-cab
        a(href="main.html") main
        a(href="main-dnd.html") main-dnd
        a(href="main-test.html") main-test
        a(href="polls_question.html") polls_question
        a(href="polls_result.html") polls_result
        a(href="polls_task.html") polls_task
        a(href="principles.html") principles
        a(href="quiz_question.html") quiz_question
        a(href="quiz-result.html") quiz-result
        a(href="quiz-task.html") quiz-task
        a(href="regions.html") regions
        a(href="sitemap.html") sitemap
        a(href="tax_policy.html") tax_policy
        a(href="depfin-about.html") depfin-about
        a(href="search.html") search
