include ../page-header/page-header

mixin map()
  +b.d-si-content._quiz._map&attributes(attributes)
    .d-layer
      .d-si__quiz-container
        .sitemap__content
          a(href="main.html").sitemap__link-group Главная (main)
          .sitemap__col
            h2.sitemap__link-group О бюджете
            a(href="depfin_about_budget.html") Что такое бюджет (depfin_about_budget)
            a(href="budget-system.html") Бюджетная система РФ (budget-system)
            a(href="budgetary_policy.html") Бюджетная политика Москвы (budgetary_policy)
            a(href="tax_policy.html") Налоговая политика Москвы (tax_policy)
            a(href="principles.html") Принципы бюджетной системы РФ (principles)
            a(href="depfin_about_budget_preparation.html") Этапы подготовки бюджета (depfin_about_budget_preparation)
            a(href="classify.html") Бюджетная классификация (classify)
            a(href="documents.html") Документы (documents)
            a(href="glossary.html") Глоссарий (glossary)
            a(href="glossary-2.html") Глоссарий (glossary-2)
          .sitemap__col
            h2.sitemap__link-group Бюджет Москвы
            a(href="basic_budget_figures.html") Основные показатели бюджета (basic_budget_figures)
            a(href="budget_income.html") Доходы (budget_income)
            a(href="budget_expenses.html") Расходы (budget_expenses)
            a(href="budget_moscow_sources.html") Источники финансирования дефицита бюджета (budget_moscow_sources)
            
            a(href="budget_moscow_gov_program.html") Государственные программы - Москва (budget_moscow_gov_program)
            a(href="gov-debt.html") Государственный долг (gov-debt)
            a(href="mrelations.html") Межбюджетные отношения (mrelations)
          .sitemap__col
            h2.sitemap__link-group Аналитика
            a(href="depfin-analytics-main.html") Основные параметры (depfin-analytics-main)
            a(href="depfin-analytics-expenses.html") Расходы бюджета (depfin-analytics-expenses)
            a(href="depfin_analytics_income.html") Расходы (depfin_analytics_income)
            a(href="depfin-analytics-gp.html") Государственные программы (depfin-analytics-gp)
          .sitemap__col
            h2.sitemap__link-group Сервисы
            a(href="services_gov_program.html") Результаты реализации государственных программ (services_gov_program)
            a(href="edu-service.html") Обучающий сервис (edu-service)
            a(href="edu-service-question.html") Обучающий сервис - вопросы (edu-service-question)
            a(href="edu-service-result.html") Обучающий сервис - результат (edu-service-result)
            a(href="polls_task.html") Опросы (polls_task)
            a(href="polls_question.html") Опросы - вопрос (polls_question)
            a(href="polls_result.html") Опросы - результат (polls_result)
            a(href="regions.html") Москва и субъекты РФ (regions)
            a(href="depfin-services-social-support.html") Социальная поддержка населения (depfin-services-social-support)
            a(href="depfin_services_budget_calc.html") Калькулятор бюджета (depfin_services_budget_calc)
            a(href="quiz-task.html") Викторины (quiz-task)
            a(href="quiz_question.html") Викторины - вопросы (quiz_question)
            a(href="quiz-result.html") Викторины - результат (quiz-result)
          .sitemap__col
            h2.sitemap__link-group Открытость
            a(href="depfin-budget-moscow-open.html") Открытость - сводная (depfin-budget-moscow-open)
            a(href="open-preza.html") Путеводитель по бюджету (budget_moscow_Open_preza)
            a(href="open-con.html") Конкурсы (budget_moscow_Open_con)
            a(href="open-fedbud.html") Федеральный бюджет для граждан (budget_moscow_Open_fedbud)
            a(href="open-file.html") Открытые данные (open-file)
            a(href="depfin-budget-moscow-open-reit.html") Рейтинг открытости бюджета (depfin-budget-moscow-open-reit)
          .sitemap__col
            h2.sitemap__link-group Медиацентр
            a(href="media-main.html") Сводная - медиа (media-main)
            a(href="news.html") Новости (news)
            a(href="news-one.html") Новость (news-one)
            a(href="mediaEvents.html") События (depfin_budget_moscow_MediaEvents)
            a(href="depfin-budget-moscow-infograpfic-fin.html") Инфографика (depfin-budget-moscow-infograpfic-fin)
            a(href="media-infographic.html") Конкретная инфографика (media-infographic)
            a(href="depfin-budget-moscow-media-materials.html") Медиаматериалы (depfin-budget-moscow-media-materials)
            a(href="mediaSmFin.html") Материалы для СМИ (mediaSmFin)
            a(href="press.html") Пресс-служба (press)
        a(href="feedback.html").sitemap__link-group Обратная связь (feedback)  
        a(href="personal-cab.html").sitemap__link-group Личный кабинет (personal-cab)
        
        //- a(href="main-dnd.html") main-dnd
        //- a(href="main-test.html") main-test
        a(href="sitemap.html").sitemap__link-group Карта сайта (sitemap)
        a(href="search.html").sitemap__link-group Поиск (search)
        a(href="depfin-about.html").sitemap__link-group О портале (depfin-about)

        
        
        
        
        
        
        
        
        
        
        
          
        a(href="reset.html") Сброс пароля (reset)
        a(href="depfin-about-blind.html") Версия для слабовидящих
