include ../page-header/page-header

mixin map()
  +b.d-si-content._quiz._map&attributes(attributes)
    .d-layer
      .d-si__quiz-container
        .sitemap__content
          a(href="main.html").sitemap__link-group Главная (main)
          a(href="404.html").sitemap__link-group 404 
          a(href="404preloader.html").sitemap__link-group 404 (тест прелоадера)
          .sitemap__col
            h2.sitemap__link-group О бюджете
            a(href="depfin_about_budget.html") Что такое бюджет (depfin_about_budget)
            a(href="budget-system.html") Бюджетная система РФ (budget-system)
            a(href="budgetary_policy.html") Бюджетная политика Москвы (budgetary_policy)
            a(href="tax_policy.html") Налоговая политика Москвы (tax_policy)
            a(href="principles.html") Принципы бюджетной системы РФ (principles)
            a(href="depfin_about_budget_preparation.html") Этапы подготовки бюджета (depfin_about_budget_preparation)
            a(href="classify.html") Бюджетная классификация (classify)
            a(href="classify-new.html") Бюджетная классификация 2 (classify-new)
            a(href="documents.html") Документы (documents)
            a(href="glossary.html") Глоссарий (glossary)
            //- a(href="glossary-2.html") Глоссарий (glossary-2)
          .sitemap__col
            h2.sitemap__link-group Бюджет Москвы
            a(href="basic_budget_figures.html") Основные показатели бюджета (basic_budget_figures)
            a(href="budget_income.html") Доходы (budget_income)
            a(href="budget_expenses.html") Расходы (budget_expenses)
            a(href="budget_moscow_sources.html") Источники финансирования дефицита бюджета (budget_moscow_sources)
            a(href="budget_moscow_gov_program.html") Государственные программы - Москва (budget_moscow_gov_program)
            a(href="budget_moscow_gov_program_one.html") Государственная программа Развитие траспортной системы (budget_moscow_gov_program_one)
            a(href="gov-debt.html") Государственный долг (gov-debt)
            a(href="mrelations.html") Межбюджетные отношения (mrelations)
            a(href="mrelations_transfer_from_fed.html") Межбюджетные отношения. Трансферты из федерального бюджета в бюджет г. Москвы (mrelations_transfer_from_fed)
            a(href="mrelations_transfer_to_vmo.html") Межбюджетные отношения. Трансферты во внутригородские муниципальные образования г. Москвы (mrelations_transfer_to_vmo)
            a(href="budget_aip.html") Адресная инвестиционная программа (budget_aip)
            a(href="budget_forecast.html") Социально-экономическое развитие (budget_forecast)
          .sitemap__col
            h2.sitemap__link-group Аналитика
            a(href="depfin-analytics-main.html") Основные параметры (depfin-analytics-main)
            a(href="depfin_analytics_income.html") Доходы (depfin_analytics_income)
            a(href="depfin-analytics-expenses.html") Расходы бюджета (depfin-analytics-expenses)
            a(href="analytics-gov-debt.html") Государственный долг (analytics-gov-debt)
            a(href="depfin-analytics-gp.html") Государственные программы (depfin-analytics-gp)
          .sitemap__col
            h2.sitemap__link-group Сервисы
            a(href="depfin-services-main.html") Сервисы - сводная (depfin-services-main)
            a(href="services_gov_program.html") Результаты реализации государственных программ (services_gov_program)
            a(href="services_gov_program_subprogram.html") Результаты реализации государственных программ - подпрограмма (services_gov_program_subprogram)
            a(href="services_gov_program_list.html") Результаты реализации государственных программ - стартовая (services_gov_program_list)
            a(href="edu-service.html") Обучающий сервис (edu-service)
            a(href="edu-service-question.html") Обучающий сервис - вопросы (edu-service-question)
            a(href="edu-service-result.html") Обучающий сервис - результат (edu-service-result)
            a(href="polls_task.html") Опросы (polls_task)
            a(href="polls_question.html") Опросы - вопрос (polls_question)
            a(href="polls_result.html") Опросы - результат (polls_result)
            a(href="regions.html") Москва и субъекты РФ (regions)
            a(href="depfin-services-social-support.html") Социальная поддержка населения (depfin-services-social-support)
            a(href="depfin_services_budget_calc.html") Калькулятор бюджета (depfin_services_budget_calc)
            a(href="quiz-task.html") Викторины (quiz-task)
            a(href="quiz_question.html") Викторины - вопросы (quiz_question)
            a(href="quiz-result.html") Викторины - результат (quiz-result)
            a(href="services_social_significant.html") Общественно значимые проекты (services_social_significant)
            a(href="depfin_services_VMO.html") Внутригородские муниципальные образования (depfin_services_VMO)
            a(href="depfin_services_VMO_passport.html") ВМО - Паспорт конкретного МО
            a(href="depfin_services_VMO_rate.html") ВМО -  Рейтинг МО
            a(href="services_net.html") Бюджетная сеть (services_net)
            a(href="services_moscow.html") Москва и города мира (services_moscow)
          .sitemap__col
            h2.sitemap__link-group Открытость
            a(href="depfin-budget-moscow-open.html") Открытость - сводная (depfin-budget-moscow-open)
            a(href="open-preza.html") Путеводитель по бюджету (budget_moscow_Open_preza)
            a(href="open-con.html") Конкурсы (budget_moscow_Open_con)
            a(href="open-fedbud.html") Федеральный бюджет для граждан (budget_moscow_Open_fedbud)
            a(href="open-file.html") Открытые данные (open-file)
            a(href="depfin-budget-moscow-open-reit.html") Рейтинг открытости бюджета (depfin-budget-moscow-open-reit)
          .sitemap__col
            h2.sitemap__link-group Медиацентр
            a(href="media-main.html") Сводная - медиа (media-main)
            a(href="news.html") Новости (news)
            a(href="news-one.html") Новость (news-one)
            a(href="mediaEvents.html") События (depfin_budget_moscow_MediaEvents)
            a(href="mediaEvent.html") Событие (depfin_budget_moscow_Media_Anons)
            a(href="depfin-budget-moscow-infograpfic-fin.html") Инфографика (depfin-budget-moscow-infograpfic-fin)
            a(href="media-infographic.html") Конкретная инфографика (media-infographic)
            a(href="materials-main.html") Медиаматериалы - сводная (materials-main)
            a(href="materials-photo.html") Медиаматериалы - фото (materials-photo)
            a(href="materials-photo-one.html") Медиаматериалы - отдельное фото (materials-photo-one)
            a(href="materials-video.html") Медиаматериалы - видео (materials-video)
            a(href="materials-video-one.html") Медиаматериалы - отдельное видео (materials-video-one)
            a(href="materials-present.html") Медиаматериалы - презентации (materials-present)
            a(href="materials-present-one.html") Медиаматериалы - отдельная презентация (materials-present-one)
            a(href="mediaSmFin.html") Материалы для СМИ (mediaSmFin)
            a(href="mediaSMbio.html") Материалы для СМИ - Биография (mediaSMbio)
            a(href="mediaSMbio-one.html") Материалы для СМИ - Отдельная биография (mediaSMbio-one)
            a(href="mediaSMphoto.html") Материалы для СМИ - Фотографии официальных лиц (mediaSMphoto)
            a(href="mediaSMbrandbook.html") Материалы для СМИ - Брендбук (mediaSMbrandbook)
            a(href="mediaSMlogo.html") Материалы для СМИ - Логотипы (mediaSMlogo)
            a(href="press.html") Пресс-служба (press)
            a(href="press-release.html") Пресс-релиз (press-release)
        a(href="feedback.html").sitemap__link-group Обратная связь (feedback)  
        a(href="personal-cab.html").sitemap__link-group Личный кабинет (personal-cab)
        
        //- a(href="main-dnd.html") main-dnd
        //- a(href="main-test.html") main-test
        a(href="sitemap.html").sitemap__link-group Карта сайта (sitemap)
        a(href="search.html").sitemap__link-group Поиск (search)
        a(href="depfin-about.html").sitemap__link-group О портале (depfin-about)

        
        
        
        
        
        
        
        
        
        
        
          
        a(href="reset.html") Сброс пароля (reset)
        a(href="depfin-about-blind.html") Версия для слабовидящих
