.d-si-content_map {
  display: block;
  margin-top: 120px;
  padding-top: 50px !important;

  .d-si__quiz-container {
    background: none;
    color: $color-white;
  }

  .sitemap__link-group {
    margin-bottom: 15px;
  }

  a {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: $color-white;
    transition: opacity .25s ease-in-out;
    text-decoration: none;
    font-weight: 300;
    font-family: $PFDinTextPro,sans-serif;

    &:hover {
      opacity: .7;
    }
  }
}
