include ../page-header/page-header

mixin map()
  +b.d-si-content._quiz._map&attributes(attributes)
    .d-layer
      .d-si__quiz-container
        a(href="https://glebgorokhov.github.io/mskbudget/budget-system.html") budget-system
        //- a(href="https://glebgorokhov.github.io/mskbudget/basic_budget_figures.html") basic_budget_figures
        a(href="https://glebgorokhov.github.io/mskbudget/budgetary-policy.html") budgetary-policy
        a(href="https://glebgorokhov.github.io/mskbudget/glossary.html") glossary
        a(href="https://glebgorokhov.github.io/mskbudget/documents.html") documents
        a(href="https://glebgorokhov.github.io/mskbudget/edu-service.html") edu-service
        a(href="https://glebgorokhov.github.io/mskbudget/edu-service-question.html") edu-service-question
        a(href="https://glebgorokhov.github.io/mskbudget/edu-service-result.html") edu-service-result
        a(href="https://glebgorokhov.github.io/mskbudget/index.html") index
        a(href="https://glebgorokhov.github.io/mskbudget/map.html") map
        a(href="https://glebgorokhov.github.io/mskbudget/principles.html") principles
        a(href="https://glebgorokhov.github.io/mskbudget/quiz_question.html") quiz_question
        a(href="https://glebgorokhov.github.io/mskbudget/quiz-result.html") quiz-result
        a(href="https://glebgorokhov.github.io/mskbudget/quiz-task.html") quiz-task
        a(href="https://glebgorokhov.github.io/mskbudget/tax_policy.html") tax_policy
        //- a(href="https://glebgorokhov.github.io/mskbudget/quiz-result.html") quiz-result
        //- a(href="https://glebgorokhov.github.io/mskbudget/quiz-result.html") quiz-result
