mixin selectbox()
  +b.selectbox&attributes(attributes) 
    +e.P.val Селект бокс
    +e.UL.list
      +e.LI.list-item Селект бокс
      +e.LI.list-item Пункты селекта
      +e.LI.list-item Еще пункт
      +e.LI.list-item.locked Залоченный пункт
    +e.SPAN.arrow
