.selectbox {
  position: relative;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #acacac;
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 32px;
  transition: all .25s ease-in-out;
  cursor: pointer;

  &__select {
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    font-size: 14px;
    font-family: $PFDinCondensedPro;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 32px;
    padding: 0 12px 2px;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
  }

  ul, .scroll-wrapper {
    position: absolute;
    left: -1px;
    right: -1px;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    border-radius: 0 0 2px 2px;
    border: 1px solid #acacac;
    border-top: 0;
    background-color: #ebebeb;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .4);
    transition: all .25s ease-in-out;
    z-index: 6;
    list-style: none;
  }

  li {
    cursor: pointer;
    padding: 0 12px;
    transition: all .25s ease-in-out;
    white-space: nowrap;

    &:hover {
      background-color: #c9c9c9;
    }

    &.locked {
      color: #ababab;
      cursor: default;
      &:hover {
        background-color: #ebebeb;
      }
    }

    &.long {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    div {
      background: url(../images/ball.png) 50% 50% / cover no-repeat;
    }
  }

  &__arrow {
    position: absolute;
    right: 0;
    top: 0;
    width: 28px;
    height: 100%;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all .25s ease-in-out;

    span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: #0d46a1 transparent transparent;
    }
  }

  &__tooltip {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__val {
    padding: 0 30px 2px 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.active {
    &, & .selectbox__arrow {
      background-color: #ebebeb;
    }

    ul, .scroll-wrapper {
      opacity: 1;
      pointer-events: all;
    }
  }

  &_cgroup {
    font-size: 14.3px;
    line-height: 30px;
    border-color: #d5d5d5;

    .selectbox__select {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    .selectbox__arrow {
      background: none;
      width: 10px;
      right: 7px;
    }

    ul {
      border-color: #d5d5d5;
      z-index: 20;
    }

    .selectbox__val {
      //font-size: 14.5px;
      padding: 0 20px 0 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    li {
      padding: 0 20px 0 12px;
    }

    @media screen and (min-width: 581px) and (max-width: 900px) {
      font-size: 20px;
      height: 56px;
      line-height: 54px;

      .selectbox__val, li {
        padding: 0 30px 0 16px;
      }

      .selectbox__arrow {
        width: 14px;
        right: 10px;
        span {
          border-width: 7px 7px 0;
        }
      }
    }

    //@media (max-width: 640px) and (min-width: 401px) {
    //  .selectbox__val, li {
    //    font-size: 15px;
    //  }
    //}

    @media screen and (max-width: 580px) {
      font-size: 12.5px;
      height: 42px;
      line-height: 40px;

      .selectbox__val, li {
        padding: 0 20px 0 10px;
      }
    }
  }

  &_disabled {
    cursor: default;
    background-color: #e5e5e5;

    .selectbox__select {
      width: 0;
      height: 0;
    }

    .selectbox__arrow {
      cursor: default;
    }
  }

  &_file {

    li {
      padding: 0;

      a {
        text-decoration: none;
        display: block;
        padding: 0 12px;
      }
    }
  }

  // Custom Scrollbar
  .scroll-wrapper>.scroll-content {
    overflow-x: hidden !important;
  }
  .scroll-element,
  .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
  }
  .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  .scroll-element.scroll-x {
    display: none !important;
  }
  .scroll-element.scroll-y {
    top: 3px;
    right: 3px;
    bottom: 3px;
    width: 2px;
    transform: translateZ(0);
  }
  .scroll-element .scroll-element_outer {
    overflow: hidden;
  }
  .scroll-element .scroll-element_outer,
  .scroll-element .scroll-element_track,
  .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
  .scroll-element .scroll-element_track { background-color: #d6d6d6; }
  .scroll-element .scroll-bar { background-color: #0d46a1; }
  .scroll-element:hover .scroll-bar { background-color: #0d46a1; }
  .scroll-element.scroll-draggable .scroll-bar { background-color: #0d46a1; }
  .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
  .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
  .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
  .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
}

.selectbox-for-widgets {
  height: auto;
  padding: 9px 12px 4px 48px;
  line-height: 1em;

  & img,
  & svg{
    @include center-block;
    transform: translateY(-50%);
    left: 10px;
    width: 26px;
    height: auto;
  }

  & svg{
    height: 26px;
  }

  & i {
    display: block;
    font-size: 11px;
    opacity: .4;
    margin-top: 3px;
  }

  & span {
    font-size: 16px;
  }

  .selectbox__select, .selectbox__val {
    display: block;
    padding: 0 12px 0 0;
    line-height: 1em;
    //white-space: normal;
  }

  ul {

    li {
      position: relative;
      padding: 9px 12px 4px 48px;
    }
  }
}

// ie fixes
// IE9-10
@media screen\0 {
  .selectbox ul, .selectbox .scroll-wrapper {visibility: hidden;}
  .selectbox.active ul, .selectbox.active .scroll-wrapper {visibility: visible;}
}

// IE11
_:-ms-fullscreen, :root .selectbox ul {visibility: visible; transition: all .3s ease-in-out;}
_:-ms-fullscreen, :root .selectbox .scroll-wrapper {visibility: visible; transition: all .3s ease-in-out;}
_:-ms-fullscreen, :root .selectbox.active ul {visibility: visible;}
_:-ms-fullscreen, :root .selectbox.active .scroll-wrapper {visibility: visible;}

.ui-helper-hidden-accessible{
  display: none;
}
