.selectbox {
  position: relative;
  height: 32px;
  border-radius: 2px;
  border: 1px solid #acacac;
  background-color: #f5f5f5;
  font-size: 14px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 32px;
  transition: all .25s ease-in-out;
  cursor: pointer;

  &__select {
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    font-size: 14px;
    font-family: $PFDinCondensedPro;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 32px;
    padding: 0 12px 2px;
    height: 100%;
  }

  ul {
    position: absolute;
    left: -1px;
    right: -1px;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    border-radius: 0 0 2px 2px;
    border: 1px solid #acacac;
    border-top: 0;
    background-color: #ebebeb;
    box-shadow: 0 15px 15px rgba(0, 0, 0, .4);
    transition: all .25s ease-in-out;
    z-index: 2;
    list-style: none;
  }

  li {
    cursor: pointer;
    padding: 0 12px;
    transition: all .25s ease-in-out;

    &:hover {
      background-color: #c9c9c9;
    }

    &.locked {
      color: #ababab;
      cursor: default;
      &:hover {
        background-color: #ebebeb;
      }
    }

    div {
      background: url(../images/ball.png) 50% 50% / cover no-repeat;
    }
  }

  &__arrow {
    position: absolute;
    right: 1px;
    top: 0;
    width: 30px;
    height: 100%;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all .25s ease-in-out;

    span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0;
      border-color: #0d46a1 transparent transparent;
    }
  }
  
  &__tooltip {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    opacity: 0;
  }

  &.active {
    &, & .selectbox__arrow {
      background-color: #ebebeb;
    }

    ul {
      opacity: 1;
      pointer-events: all;
    }
  }
  
  &_cgroup {
    line-height: 30px;
    border-color: #d5d5d5;
    
    .selectbox__select {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    
    .selectbox__arrow {
      background: none;
      width: 10px;
      right: 7px;
    }
    
    ul {
      border-color: #d5d5d5;
      z-index: 20;
    }
    
    .selectbox__val, li {
      padding: 0 20px 0 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    @media screen and (min-width: 581px) and (max-width: 900px) {
      font-size: 20px;
      height: 56px;
      line-height: 54px;
      
      .selectbox__val, li {
        padding: 0 30px 0 16px;
      }
      
      .selectbox__arrow {
        width: 14px;
        right: 10px;
        span {
          border-width: 7px 7px 0;
        }
      }
    }
    
    @media screen and (max-width: 580px) {
      font-size: 13px;
      height: 42px;
      line-height: 40px;
      
      .selectbox__val, li {
        padding: 0 20px 0 10px;
      }
    }
  }
  
  &_disabled {
    cursor: default;
    background-color: #e5e5e5;
    
    .selectbox__select {
      width: 0;
      height: 0;
    }
    
    .selectbox__arrow {
      cursor: default;
    }
  }
}

.selectbox-for-widgets {
  height: auto;
  padding: 9px 12px 4px 48px;
  line-height: 1em;

  & img {
    @include center-block;
    transform: translateY(-50%);
    left: 10px;
    width: 26px;
    height: auto;
  }

  & i {
    display: block;
    font-size: 12px;
    opacity: .4;
    margin-top: 3px;
  }

  & span {
    font-size: 16px;
  }

  .selectbox__select {
    display: block;
    padding: 0 12px 0 0;
    line-height: 1em;
    white-space: normal;
  }

  ul {

    li {
      position: relative;
      padding: 9px 12px 4px 48px;
    }
  }
}

// ie fixes
// IE9-10
@media screen\0 {
  .selectbox ul {display: none;}
  .selectbox.active ul {display: block;}
}

// IE11
_:-ms-fullscreen, :root .selectbox ul {display: block; transition: all .3s ease-in-out;}
_:-ms-fullscreen, :root .selectbox.active ul {display: block}
