extends ../../layouts/default
include ../../components/quiz-question/quiz-question
include ../../components/header/header

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +quiz-question()

    block footer
      +footer()
