include ../page-head/page-head
include ../favor/favor

mixin page-header(title, subtitle)
  +b.page-header&attributes(attributes)
    +page-head(subtitle, title)
    .d-si__head_icons
      +favor().icons-item
