
.basic-budget .wrapper {
	&_params {
		@media (max-width: 1140px) {
				padding-left: 40px !important;
	  		padding-right: 40px !important;
		}
	}
}


.analityc-widget_params {
  padding-top: 22px;
	padding-bottom: 35px;

	& .analityc-widgethead {
		padding-right: 24px;
		min-height: 299px;

		@media (max-width: 1140px) {
			padding-right: 0;
		}
	}

	& .analityc-control-frame {

		&-title {
			text-transform: uppercase;
	    font-size: 18px;
	    color: #000;
		}

		&_left {
			float: left;
			width: 413px;

			@media (max-width: 1010px) {
				float: none;
			}

			& .analityc-control-group {
				position: relative;
				width: 100%;
				padding-right: 27px;
				margin-top: 2px;
				margin-left: 0;
				@include clearfix;

				@media (max-width: 1140px) {
					margin-bottom: 0;
				}

				&:hover {
					& .analityc-remove-group {
						display: block;
					}
				}
			}

			& .analityc-select {
				padding-top: 3px;

				&_year {
					float: left;
					width: 55.5px;
					background-position: 81%;
				}
				
				&_stage {
					float: right;
					width: 293px;

					@media (max-width: 1140px) {
						width: 300px;
					}
				}
			}

			& .analityc-remove-group {
				display: none;
				position: absolute;
				top: 11px;
				right: 0;

				& svg {
					width: 15px;
					height: 17px;
					fill: $color-link;
				}
			}

			& .analityc-add-group {
				display: block;
				width: 100%;
				height: auto;
				font-size: 14px;
				color: $color-link;
				text-transform: uppercase;
				margin-top: 14px;
			}
		}

		&_right {
			position: relative;
			float: right;
			width: 530px;

			@media (max-width: 1140px) {
				width: 428px;
			}

			@media (max-width: 1010px) {
				float: none;
			}

			& .frame-wrap {
				@include clearfix;
			}

			& .analityc-control-group {
				display: block;
				margin-left: 0;

				&_level {
					float: left;
					width: 233px;

					@media (max-width: 1140px) {
						float: none;
					}
				}
				
				&_transfer {
					float: right;
					width: 265px;

					@media (max-width: 1140px) {
						float: none;
					}
				}

				&_buttons {
					position: absolute;
					right: 0;
					max-width: 100%;
				}
			}

			& .analityc-select {
				width: 100%;
			}
	
			& .analityc-control-switcher {
				margin-top: 46px;
				margin-bottom: 20px;
			}

			& .analityc-control-legend {
				font-size: 0;

				& .legend__item {
					display: inline-block;
					margin-right: 33px;
					color: $color-black;
				}
			}
		}
	}
}