include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block

mixin depfin-analytics-main()
  section.main._basic.basic-budget.sections__item
    .wrapper-header
      +page-header('Основные параметры бюджета в динамике', ['Аналитика'], true)
      
      //- Tab 1
    .wrapper
      .analityc-widget.analityc-widget_params.load-anim-fade(data-delay="1500")
        +analityc-widgethead-main()
        .analityc-graphics(data-type='line' data-comparison='none').active
          .analityc-graphics-container.analityc-graphics-container_vert-lines
            +slide-arrows().analityc-graphics__slide-arrows
            .analityc-graphics-scroll-hider
              .analityc-graphics-wrapper(data-offset='100')
                +analityc-graphics-line-vertical(getData('graphic-lines-main'))._params
        //+analityc-graphics-line-vertical_slider(getData('graphic-lines-main'))
        .analityc-graphics(data-type='classic' data-comparison='none')
          .analityc-graphics-container.analityc-graphics-container_classic
            +slide-arrows().analityc-graphics__slide-arrows
            .analityc-graphics-scroll-hider
              .analityc-graphics-wrapper(data-offset='100')
                +analityc-graphics-classic(getData('graphic-classic'))
        +analityc-table-slider(100)._params
          +table-main(getData('main'))
        a(href="/").analityc-more Перейти в&nbsp;раздел бюджет москвы
    +dropdown().load-anim-fade(data-delay="1700")
