
.basic-budget .wrapper_params {
	@media (max-width: 1140px) {
		padding-left: 40px;
		padding-right: 40px;
	}	

	@media (max-width: 1010px) {
		padding-left: 25px !important;
		padding-right: 25px !important;
	}			

	@media (max-width: 580px) {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}		
}


.analityc-widget_params {
  padding-top: 22px;
	padding-bottom: 35px !important;
	overflow: hidden;

	@media (max-width: 1010px) {
		padding: 22px 36px 46px;
	}	

	@media (max-width: 450px) {
		padding: 18px 14px 28px!important;
	}

	select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
	}
	select::-ms-expand {
    display: none; /*ie10+*/
	}		

	.analityc-widgethead {
		padding-right: 24px;
		min-height: 299px;

		@media (max-width: 1140px) {
			padding-right: 0;
		}
	}

	.analityc-control-frame-title {
		display: inline-block;
		text-transform: uppercase;
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;

		@media (max-width: 580px) {
			font-size: 15px;
		}
	}

	.analityc-control-frame_left {
		float: left;

		@media (max-width: 1010px) {
			float: none;
			margin-bottom: 27px;
		}

		@media (max-width: 580px) {
			margin-bottom: 22px;
		}

		.analityc-control-group {
			display: block;
			position: relative;
			width: 100%;
			padding-right: 27px;
	        margin-bottom: 8px;
			margin-left: 0;

			&:last-child {
				margin-bottom: 0;
			}

			@media (max-width: 580px) {
				font-size: 11px;
				padding-right: 0;
			}	

			&:hover {
				& .analityc-remove-group {
					display: block;
				}
			}
		}

		.analityc-select {
			display: inline-block;
			font-size: 14px;
			margin-top: 0;

			@media (max-width: 1010px) {
				padding-left: 12px;
		        background-size: 10px!important;
			}
          
            @media (min-width: 769px) and (max-width: 1010px) {
		        background-position: right 9px top 12px!important;
			}
          
            @media (min-width: 581px) and (max-width: 768px) {
                background-position: right 9px top 22px!important;
            }

			@media (max-width: 580px) {
				height: 23px;
                line-height: 25px;
				font-size: 11px;
				background-position: right 10px top 9px!important;
		        background-size: 7px!important;
			}	

			option {

				@media (max-width: 1010px) {
					font-size: 14px;
				}

				@media (max-width: 580px) {
					font-size: 11px;
				}	
			}

			&_year {
				width: 55.5px;
				margin-right: 9px;
				background-position: 81%;

				@media (max-width: 1140px) {
					margin-right: 7px;
				}

				@media (max-width: 580px) {
					width: 46px;
				}					
			}
			
			&_stage {
				width: 293px;

				@media (max-width: 1140px) {
					width: 300px;
				}

				@media (max-width: 580px) {
					//width: 146px !important;
			        padding-right: 20px;
                    width: calc(100% - 115px);
				}					
			}
		}

		.analityc-remove-group {
			display: none;
			position: absolute;
			top: 11px;
			right: 0;

			@media (max-width: 580px) {
				right: -10px;
                top: 4px;
			}		

			& svg {
				width: 15px;
				height: 17px;
				fill: $color-link;
			}
		}

		.analityc-add-group {
			display: block;
			width: 100%;
			height: auto;
			font-size: 14px;
			color: $color-link;
			text-transform: uppercase;
			margin-top: 14px;
		}
	}

	.analityc-control-frame_right {
		position: relative;
		float: right;

		@media (max-width: 1140px) {
			width: 407px;
		}

		@media (max-width: 1010px) {
			float: none;
			width: 100% !important;
		}

		.frame-wrap {
			padding-right: 14px;
			@include clearfix;

			@media (max-width: 1010px) {
				margin-bottom: 48px;
		    padding-right: 0;
			}

			@media (max-width: 580px) {
				margin-bottom: 40px;
			}
		}

		.analityc-control-group {
			display: block;
			margin-left: 0;

			@media (max-width: 1010px) {
				width: 100%;
			}			

			& > span {
				display: inline-block;
				margin-bottom: 5px;

				@media (max-width: 1010px) {
					font-size: 18px;
				}

				@media (max-width: 580px) {
					font-size: 15px;
					margin-bottom: 3px;
				}
			}

			&_level {
				float: left;
				width: 222px;
				margin-right: 44px;

				@media (max-width: 1140px) {
					float: none;
                    width: 251px;
				}

				@media (max-width: 1010px) {
					margin-bottom: 26px;
				}
              
                @media (max-width: 768px) {
					width: 100%;
				}

				@media (max-width: 580px) {
					margin-bottom: 21px;
				}

				.analityc-select {
                    box-sizing: border-box;
					@media (max-width: 1010px) {
						//width: 222px;
					}

					@media (max-width: 580px) {
						//width: 182px;
                        height: 25px;
                        line-height: 25px;
					}
				}
			}
			
			&_transfer {
				float: right;
				width: 251px;

				@media (max-width: 1140px) {
					float: none;
				}

				@media (max-width: 1010px) {
					margin-bottom: 0;
				}
              
                @media (max-width: 768px) {
					width: 100%;
				}

				.analityc-select {
                    box-sizing: border-box;
					@media (max-width: 1010px) {
						//width: 253px;
					}

					@media (max-width: 580px) {
						//width: 207px;
                        height: 25px;
                        line-height: 25px;
					}
				}
			}

			&_buttons {
				position: absolute;
				right: 0;
				max-width: 100%;

				@media (max-width: 1140px) {
					right: auto;
					left: 0;
				}

				@media (max-width: 1010px) {
					position: relative;
				}
			}
		}

		.analityc-select {
			width: 100%;
			font-size: 14px;
			margin-top: 0;

			@media (max-width: 1010px) {
				padding-left: 12px;
		    background-size: 10px!important;
			}
          
            @media (min-width: 769px) and (max-width: 1010px) {
		        background-position: right 9px top 12px!important;
			}
          
            @media (min-width: 581px) and (max-width: 768px) {
                background-position: right 9px top 22px!important;
            }

			@media (max-width: 580px) {
				font-size: 11px;
				background-position: right 10px top 9px!important;
    		background-size: 7px!important;
			}

			option {

				@media (max-width: 1010px) {
					font-size: 14px;
				}

				@media (max-width: 580px) {
					font-size: 11px;
				}	
			}
		}

		.analityc-control-switcher {
			margin-top: 46px;
			margin-bottom: 20px;

			@media (max-width: 1010px) {
				margin-top: 0;
			}

			@media (max-width: 760px) {
				position: relative;
			}

			& a {
				@media (max-width: 760px) {
					font-size: 14px;
					line-height: 30px;
			    padding: 0 30px;
				}

				@media (max-width: 580px) {
					font-size: 11px !important;
					line-height: 25px !important;
					white-space: nowrap;
					padding: 0;
				}
			}
			
			& a:first-child {
				@media (max-width: 580px) {
					width: 40%;
				}
			}

			& a:nth-child(2) {
				@media (max-width: 1140px) {
					padding: 0 18px;
				}

				@media (max-width: 760px) {
					padding: 0 18px;
				}

				@media (max-width: 580px) {
					width: 60%;
					padding: 0 16px!important;
					text-overflow: ellipsis;
			    overflow: hidden;
			    vertical-align: top;
				}
			}
		}

		.analityc-control-legend {
			font-size: 0;
			text-align: left;

			.legend__item {
				display: inline-block;
				margin-right: 40px;
				color: $color-black;
				font-size: 14px;

				&:last-child {
					margin-right: 0;
				};

				@media (max-width: 580px) {
					font-size: 12px;
					line-height: 18px;
					margin-right: 10px;
				}

				&:before {
					@media (max-width: 580px) {
				    width: 18px;
				    height: 18px;
				    margin-right: 3px;
					}
				}
			}
		}
	}

	.analityc-more {

		@media (max-width: 580px) {
			font-size: 16px;
		}

		&:before {
			@media (max-width: 580px) {
				right: -19px;
				top: 3px; 
			}
		}
	}
}