include ../page-header/page-header

mixin budget-system()

  section.d-abs-content.budget-system-bg.js-abs-close.sections__item
    .d-layer
      .d-si__head
        +page-header('Бюджетная система РФ', ['О БЮДЖЕТЕ', 'БЮДЖЕТНАЯ СИСТЕМА'], true)

      p.d-abs__head_descr.load-anim-fade(data-delay="1400") Основанная на экономических отношениях и юридических нормах совокупность федерального бюджета, федеральных внебюджетных фондов, бюджетов субъектов РФ и территориальных фондов обязательного медицинского страхования, а также бюджетов муниципальных образований.
    
    ul.d-abs__nav.d-abs__nav--plates.load-anim-fade(data-delay="1500")
      
      li.abs-box
        a
          span.js-abs-btn
            | Консолидированный бюджет
            br
            | российской федерации
            i(title='Консолидированный бюджет Российской Федерации').d-abs__nav_ico
          .puzzle-inner
            p
              strong Консолидированный бюджет Российской федерации
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Федеральный бюджет и свод консолидированных бюджетов субъектов Российской Федерации (без учета межбюджетных трансфертов между этими бюджетами) образуют консолидированный бюджет Российской Федерации.
      
      li.abs-box
        a
          span.js-abs-btn
            | ФЕДЕРАЛЬНЫЕ ВНЕБЮДЖЕТНЫЕ ФОНДЫ
            i(title='Федеральные внебюджетные фонды').d-abs__nav_ico
          .puzzle-inner
            p
              strong ФЕДЕРАЛЬНЫЕ ВНЕБЮДЖЕТНЫЕ ФОНДЫ
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Фонды денежных средств, образуемые вне федерального бюджета и предназначенные для обеспечения пенсионных и социальных обязательств Российской Федерации, а также для пополнения внебюджетных фондов субъектов Российской Федерации.
      
      li.abs-box
        a
          span.js-abs-btn
            | федеральный
            br
            | бюджет
            i(title='Федеральный бюджет').d-abs__nav_ico
          .puzzle-inner
            p
              strong Федеральный бюджет
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Фонд денежных средств Российской Федерации, предназначенный для финансирования функций, отнесенных к предметам ведения государства.
            p Основной финансовый документ государства на текущий финансовый год (текущий финансовый год и планируемый период), имеющий силу закон.
      
      li.abs-box
        a
          span.js-abs-btn
            | КОНСОЛИДИРОВАННЫЙ БЮДЖЕТ СУБЪЕКТА РОССИЙСКОЙ ФЕДЕРАЦИИ
            i(title='Консолидированный бюджет субъекта РФ').d-abs__nav_ico
          .puzzle-inner
            p
              strong КОНСОЛИДИРОВАННЫЙ БЮДЖЕТ СУБЪЕКТА РОССИЙСКОЙ ФЕДЕРАЦИИ
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Бюджет субъекта Российской Федерации и свод бюджетов муниципальных образований, входящих в состав субъекта Российской Федерации (без учета межбюджетных трансфертов между этими бюджетами), образуют консолидированный бюджет субъекта Российской Федерации.
      
      li.abs-box
        a
          span.js-abs-btn
            | ВНЕБЮДЖЕТНЫЕ ФОНДЫ СУБЪЕКТОВ РОССИЙСКОЙ ФЕДЕРАЦИИ
            i(title='Внебюджетные фонды субъектов РФ').d-abs__nav_ico
          .puzzle-inner
            p
              strong ВНЕБЮДЖЕТНЫЕ ФОНДЫ СУБЪЕКТОВ РОССИЙСКОЙ ФЕДЕРАЦИИ
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Фонды денежных средств, образуемые вне бюджета субъектов РФ и предназначенные для реализации государственной политики, в том числе в сфере обязательного медицинского страхования на территории субъектов РФ.
      
      li.abs-box
        a
          span.js-abs-btn
            | БЮДЖЕТ СУБЪЕКТА РОССИЙСКОЙ ФЕДЕРАЦИИ
            i(title='Бюджет субъекта РФ').d-abs__nav_ico
          .puzzle-inner
            p
              strong БЮДЖЕТ СУБЪЕКТА РОССИЙСКОЙ ФЕДЕРАЦИИ
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Фонд денежных средств субъекта РФ, предназначенный для финансирования функций, отнесенных к предметам ведения субъекта РФ.
            p Основной финансовый документ региона на текущий финансовый год (текущий финансовый год и планируемый период), имеющий силу закон.
      
      li.abs-box
        a
          span.js-abs-btn
            | БЮДЖЕТ МУНИЦИПАЛЬНОГО ОБРАЗОВАНИЯ
            i(title='Бюджет муниципального образования').d-abs__nav_ico
          .puzzle-inner
            p
              strong БЮДЖЕТ МУНИЦИПАЛЬНОГО ОБРАЗОВАНИЯ
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Фонд денежных средств, предназначенный для финансирования функций, отнесенных к предметам ведения органов местного самоуправления.
            p Основной финансовый документ муниципального образования на текущий финансовый год (текущий финансовый год и планируемый период), принимаемый представительным органом местного самоуправления.
