include ../page-header/page-header

mixin budget-system()
  //- +b.budget-system&attributes(attributes)
    //- .sections
  .d-abs-content.budget-system-bg.js-abs-close
    .d-layer
      .d-si__head
        +page-header('Бюджетная система РФ', false, true)

      p.d-abs__head_descr Основанная на экономических отношениях и юридических нормах совокупность федерального бюджета, федеральных внебюджетных фондов, бюджетов субъектов РФ и территориальных фондов обязательного медицинского страхования, а также бюджетов муниципальных образований.
    ul.d-abs__nav.d-abs__nav--plates
      li.abs-box
        a
          span.js-abs-btn
            | Консолидированный бюджет
            br
            | российской федерации
            i.d-abs__nav_ico
          .puzzle-inner
            p
              strong Консолидированный бюджет Российской федерации
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Федеральный бюджет и свод консолидированных бюджетов субъектов Российской Федерации (без учета межбюджетных трансфертов между этими бюджетами) образуют консолидированный бюджет Российской Федерации.
            
          // u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | Консолидированный бюджет субъекта Российской федерации
            i.d-abs__nav_ico
          .puzzle-inner
            p
              strong Консолидированный бюджет субъекта Российской федерации
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Бюджет субъекта Российской Федерации и свод бюджетов муниципальных образований, входящих в состав субъекта Российской Федерации (без учета межбюджетных трансфертов между этими бюджетами), образуют консолидированный бюджет субъекта Российской Федерации.
          // u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | федеральный
            br
            | бюджет
            i.d-abs__nav_ico
          .puzzle-inner
            p
              strong Федеральный бюджет
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Фонд денежных средств Российской Федерации, предназначенный для финансирования функций, отнесенных к предметам ведения государства.
            p Основной финансовый документ государства на текущий финансовый год (текущий финансовый год и планируемый период), имеющий силу закон.
          // u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | Бюджет субъекта Российской
            br
            | Федерации
            i.d-abs__nav_ico
          .puzzle-inner
            p
              strong Бюджет субъекта Российской Федерации
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Фонд денежных средств субъекта РФ, предназначенный для финансирования функций, отнесенных к предметам ведения субъекта РФ.
            p Основной финансовый документ региона на текущий финансовый год (текущий финансовый год и планируемый период), имеющий силу закон.
          // u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | Бюджет муниципального образования
            i.d-abs__nav_ico
          .puzzle-inner
            p
              strong Бюджет муниципального образования
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Фонд денежных средств, предназначенный для финансирования функций, отнесенных к предметам ведения органов местного самоуправления.
          // u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | Федеральные внебюджетные фонды
            i.d-abs__nav_ico
          .puzzle-inner
            p
              strong Федеральные <br> внебюджетные фонды
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Фонды денежных средств, образуемые вне федерального бюджета и предназначенные для обеспечения пенсионных и социальных обязательств Российской Федерации, а также для пополнения внебюджетных фондов субъектов Российской Федерации.
          // u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | Внебюджетные фонды субъектов Российской Федерации
            i.d-abs__nav_ico
          .puzzle-inner
            p
              strong Внебюджетные фонды субъектов Российской Федерации
              u.btn-close.puzzle-inner__btn.js-abs-close
            p Фонды денежных средств, образуемые вне бюджета субъектов РФ и предназначенные для реализации государственной политики, в том числе в сфере обязательного медицинского страхования на территории субъектов РФ.
          // u.abs-box__overlay.js-abs-close
