.d-abs__nav--plates {
  margin: 50px auto 125px;

  @media (max-width: 1169px) {
    margin: 50px auto 100px;
  }

  @media (max-width: 580px) {
    margin: 50px auto 20px;
  }


  @media screen and (max-width:970px) {

		li {
			padding: 0!important;
		}
		li a span i {
			margin: 0!important;
			margin-left: 5px!important;
		}

		/*1111111111111111111111111111111111111111*/
		li:nth-child(1) {
			width: 100%;
			height: 178px;
			top: 119px;
			left: 0;
			background-image: url(../images/depfin-about-budjet/puzzle3_mobile.png);
		}
		li:nth-child(1) a {
	    padding: 41px 0px 0px 23px;

		}
		li:nth-child(1) a span {
			font-size: 35px;
	    line-height: 39px;
  	}
		/*2222222222222222222222222222222222222222*/
		li:nth-child(2) {
			top: 0;
			left: 0;
			width: 294px;
			height: 132px;
			background-image: url(../images/depfin-about-budjet/puzzle1_mobile.png);
		}
		li:nth-child(2) a {
	    padding: 20px 70px 0px 27px;
		}
		li:nth-child(2) a span {
	    font-size: 22px;
	    line-height: 26px;
		}
		/*33333333333333333333333333333333333333333*/
		li:nth-child(3) {
			top: 283px;
			width: 212px;
			height: 133px;
			background-image: url(../images/depfin-about-budjet/puzzle4_mobile.png);
		}
		li:nth-child(3) a {
	    padding: 40px 0px 0px 27px;
		}
		li:nth-child(3) a span {
	    font-size: 22px;
	    line-height: 26px;
		}
		/*4444444444444444444444444444444444444444444*/
		li:nth-child(4) {
			top: 283px;
			left: auto;
	    right: 0;
			width: 362px;
			height: 151px;
			background-image: url(../images/depfin-about-budjet/puzzle5_mobile.png);
		}
		li:nth-child(4) a {
    	padding: 32px 40px 0 45px;
		}
		li:nth-child(4) a span {
	    font-size: 22px;
	    line-height: 26px;
		}
		/*5555555555555555555555555555555555555555555*/
		li:nth-child(5) {
			top: 0;
			right: 0;
			left: auto;
			width: 280px;
			height: 132px;
			background-image: url(../images/depfin-about-budjet/puzzle2_mobile.png);
		}
		li:nth-child(5) a {
    	padding: 13px 50px 0 26px;
		}
		li:nth-child(5) a span {
	    font-size: 22px;
	    line-height: 26px;
		}
		/*6666666666666666666666666666666666666666666*/
		li:nth-child(6) {
			top: 420px;
			left: 0;
			width: 276px;
			height: 130px;
			background-image: url(../images/depfin-about-budjet/puzzle6_mobile.png);
		}
		li:nth-child(6) a {
			padding: 44px 10px 0 27px;
		}
		li:nth-child(6) a span {
	    font-size: 19px;
	    line-height: 25px;
		}
		/*7777777777777777777777777777777777777777777*/
		li:nth-child(7) {
			top: 420px;
			width: 280px;
			height: 130px;
			background-image: url(../images/depfin-about-budjet/puzzle7_mobile.png);
		}
		li:nth-child(7) a {
			padding: 44px 0 0 25px;
		}
		li:nth-child(7) a span {
	    font-size: 19px;
	    line-height: 25px;
		}
  }

  @media screen and (max-width:639px) {
  	/*1111111111111111111111111111111111111111*/

		li:nth-child(1) {
			height: 92px;
			top: 91px;
			background-image: url(../images/depfin-about-budjet/puzzle3_mobile_320.png);
		}
		li:nth-child(1) a {
	    padding: 26px 0 0 12px;
		}
		li:nth-child(1) a span {
			font-size: 20px;
	    line-height: 20px;
  	}
		/*2222222222222222222222222222222222222222*/
		li:nth-child(2) {
			width: 153px;
			height: 98px;
			background-image: url(../images/depfin-about-budjet/puzzle1_mobile_320.png);
		}
		li:nth-child(2) a {
	    padding: 22px 0 0 13px;
		}
		li:nth-child(2) a span {
			font-size: 16px;
	    line-height: 16px;
  	}
		li:nth-child(2) .puzzle-inner {
	    top: 50%;
	    left: -5px;
		}
		/*33333333333333333333333333333333333333333*/
		li:nth-child(3) {
			top: 175px;
			width: 126px;
			height: 93px;
			background-image: url(../images/depfin-about-budjet/puzzle4_mobile_320.png);
		}
		li:nth-child(3) a {
	    padding: 34px 0 0 13px;
		}
		li:nth-child(3) a span {
			font-size: 16px;
	    line-height: 16px;
  	}
		li:nth-child(3) .puzzle-inner {
			top: 50%;
	    left: -5px;
		}  	  	
		/*444444444444444444444444444444444444444444*/
		li:nth-child(4) {
			top: 175px;
			width: 172px;
			height: 102px;
			background-image: url(../images/depfin-about-budjet/puzzle5_mobile_320.png);
		}
		li:nth-child(4) a {
      padding: 18px 0 0 15px;
		}
		li:nth-child(4) a span {
			font-size: 16px;
	    line-height: 16px;
  	}
		li:nth-child(4) .puzzle-inner {
			top: 50%;
	    right: -5px;
	    left: auto;
		}  	
		/*555555555555555555555555555555555555555555*/
		li:nth-child(5) {
			width: 145px;
			height: 98px;
			background-image: url(../images/depfin-about-budjet/puzzle2_mobile_320.png);
		}
		li:nth-child(5) a {
	    padding: 18px 0 0 13px;
		}
		li:nth-child(5) a span {
			font-size: 16px;
	    line-height: 16px;
  	}
		li:nth-child(5) .puzzle-inner {
	    top: 50%;
	    left: 50%;
		}
		li:nth-child(5) .puzzle-inner {
			top: 50%;
	    left: auto;
	    right: -5px;
		}  		
		/*666666666666666666666666666666666666666666*/
		li:nth-child(6) {
			top: 270px;
			width: 143px;
			height: 67px;
			background-image: url(../images/depfin-about-budjet/puzzle6_mobile_320.png);
		}
		li:nth-child(6) a {
	    padding: 15px 20px 0 15px;
		}
		li:nth-child(6) a span {
			font-size: 12px;
	    line-height: 15px;
  	}
		li:nth-child(6) .puzzle-inner {
    	top: -80%;
		}  		  	
		/*777777777777777777777777777777777777777777*/
		li:nth-child(7) {
			top: 270px;
			width: 145px;
			height: 67px;
			background-image: url(../images/depfin-about-budjet/puzzle7_mobile_320.png);
		}
		li:nth-child(7) a {
      padding: 15px 20px 0 16px;
		}
		li:nth-child(7) a span {
			font-size: 12px;
	    line-height: 15px;
  	}
		li:nth-child(7) .puzzle-inner {
			right: -5px;
	    left: auto;
	    top: -120%;
		}  	
  }
}