/*
.d-abs
.d-layer
.d-si
.puzzle-inner
.btn-close
.abs-box__overlay
*/
.d-abs-content {
    width: 100%;
    background: url(../images/depfin-about-budjet/about-budjet-sys-bg.jpg) no-repeat;
    background-size: cover;
    padding: 40px 0 80px;
    font-weight: 500;
}
.d-abs-content {
    padding-top: 165px;
}
.d-abs-content {
    overflow: hidden;
}

.d-layer {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0 37px;
}
.d-abs-content div, .d-abs__nav li a {
    box-sizing: border-box;
}
.d-si__head {
    position: relative;
    margin-bottom: 51px;
    font-family: PFDinCompressedPro;
}

.d-abs-content div, .d-abs__nav li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.d-si__head_p-name {
    color: #fff;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 500;
    margin-left: -1px;
    float: left;
    line-height: 1;
    margin-top: 3px;
}
.d-abs-content div, .d-abs__nav li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.d-si__head_icons {
    float: left;
    margin-left: 22px;
    margin-top: 10px;
}
.d-si__head_icons {
    margin-bottom: 16px;
}
.d-abs-content div, .d-abs__nav li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.d-si__icons_item {
    float: left;
    display: block;
}
.d-si__icons_item:nth-child(1) {
    background: url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;
    width: 24px;
    height: 23px;
}
.d-si__icons_item:nth-child(1) {
    background: none;
}
svg:not(:root) {
    overflow: hidden;
}
.d-layer::after, .d-si__head::after, .d-si__head_icons::after {
    display: table;
}
.d-layer::after, .d-si__head::after, .d-si__head_icons::after, .d-si__search-form::after {
    content: '';
    clear: both;
}
.d-abs__head_descr {
    font-size: 16px;
    color: rgba(255,255,255,.8);
    font-weight: 400;
    margin-top: -6px;
}
.d-abs__head_descr {
    margin-top: -8px;
    line-height: 22px;
    letter-spacing: 0.15px;
    font-family: PFDinPro;
}

.budget-system-bg .d-abs__head_descr {
    max-width: 1174px;
    margin: 0 auto;
}

.d-layer::after, .d-si__head::after, .d-si__head_icons::after {
    display: table;
}
.d-layer::after, .d-si__head::after, .d-si__head_icons::after, .d-si__search-form::after {
    content: '';
    clear: both;
}
.d-abs__nav {
    position: relative;
    min-height: 537px;
    max-width: 1170px;
    margin: 50px auto 0;
    display: block;
    list-style-type: none;
    background-color: transparent;
}
.d-abs__nav li, .d-abs__nav li a i {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.d-abs__nav li {
    float: left;
}
.d-abs__nav li:nth-child(1) {
    width: 75.3%;
    height: 173px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/depfin-about-budjet/puzzle1.png) no-repeat;
}
.d-abs__nav li:nth-child(2) {
    width: 27.9%;
    height: 173px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/depfin-about-budjet/puzzle2.png) no-repeat;
}
.d-abs__nav li:nth-child(3) {
    width: 23%;
    height: 392px;
    position: absolute;
    left: 0;
    top: 145px;
    background: url(../images/depfin-about-budjet/puzzle3.png) no-repeat;
}
.d-abs__nav li:nth-child(4) {
    width: 50.6%;
    height: 149px;
    position: absolute;
    top: 145px;
    left: 20.6%;
    background: url(../images/depfin-about-budjet/puzzle4-v02.png) no-repeat 0 0;
    padding: 52px 45px 0 49px;
}
.d-abs__nav li:nth-child(4) {
    box-sizing: content-box;
}
.d-abs__nav li:nth-child(5) {
    width: 27.9%;
    height: 392px;
    position: absolute;
    right: 0;
    top: 145px;
    background: url(../images/depfin-about-budjet/puzzle5.png) no-repeat;
}
.d-abs__nav li:nth-child(6) {
    width: 24.9%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 20.6%;
    background: url(../images/depfin-about-budjet/puzzle6.png) no-repeat;
}
.d-abs__nav li:nth-child(7) {
    width: 24.9%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 46.3%;
    background: url(../images/depfin-about-budjet/puzzle7.png) no-repeat;
}

.d-abs-content div, .d-abs__nav li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.d-abs__nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-family: PFDinCondensedPro;
    color: #000;
    line-height: 1.8em;
}
.d-abs__nav li:nth-child(1) a {
    padding-top: 35px;
    padding-left: 34px;
}
.d-abs__nav li:nth-child(2) a {
    padding: 15px 47px 0 51px;
}

.d-abs__nav li:nth-child(3) a {
    padding: 52px 45px 0 35px;
}
.d-abs__nav li:nth-child(5) a {
    padding: 51px 45px 0 49px;
}
.d-abs__nav li:nth-child(6) a, .d-abs__nav li:nth-child(7) a {
    line-height: 1.5em;
    padding: 45px 45px 0 17px;
}
.d-abs__nav li:nth-child(1) a span {
    font-size: 36px;
    line-height: 1.2em;
}
.d-abs__nav li:nth-child(2) a span, .d-abs__nav li:nth-child(3) a span, .d-abs__nav li:nth-child(4) span, .d-abs__nav li:nth-child(5) a span {
    font-size: 24px;
    line-height: 1.2em;
}
.d-abs__nav li:nth-child(2) a span {
    /*Шрифт уменьшен, чтобы уместить стрелку рядом с заголовокм*/
    /*font-size: 24px;*/
    font-size: 22px;
}
.d-abs__nav li:nth-child(6) a span, .d-abs__nav li:nth-child(7) a span {
    font-size: 18px;
    line-height: 1.2em;
}
.d-abs__nav_ico {
    background: url(../images/depfin-about-budjet/icon-arrow.png) 50% 50% no-repeat;
    display: inline-block;
    line-height: 1;
    height: 17px;
    width: 17px;
    border-radius: 50%;
}
.d-abs__nav_ico {
    background: #0d46a1 url(../images/ar-right.svg) center center no-repeat;
    background-size: 7px;
}
.d-abs__nav li, .d-abs__nav li a i {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.d-abs__nav li:nth-child(1) a span i {
    margin: 0 0 4px 5px;
}
.d-abs__nav li:nth-child(2) a span i {
    margin-left: 5px;
}
.d-abs__nav li:nth-child(3) a span i, .d-abs__nav li:nth-child(5) a span i {
    margin-left: 14px;
    margin-bottom: 1px;
}
.d-abs__nav li:nth-child(4) a span i {
    margin: 0 0 1px 5px;
}
.d-abs__nav li:nth-child(6) a span i, .d-abs__nav li:nth-child(7) a span i {
    margin-bottom: -3px;
    margin-left: 9px;
}
.puzzle-inner {
    background: #0d46a1;
    -webkit-box-shadow: 0 8px 38px 0 #2d2d2d;
    box-shadow: 0 8px 38px 0 #2d2d2d;
    position: absolute;
    top: 50%;
    left: -5px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    z-index: 20;
    margin-top: -2%;
    padding: 26px 30px 30px 27px;
    opacity: 0;
    visibility: hidden;
    width: calc(100% + 10px);
}
.d-abs-content div, .d-abs__nav li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.puzzle-inner {
    background: #0d46a1;
    -webkit-box-shadow: 0 8px 38px 0 #2d2d2d;
    box-shadow: 0 8px 38px 0 #2d2d2d;
    position: absolute;
    top: 50%;
    left: -5px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    z-index: 20;
    margin-top: -2%;
    padding: 26px 30px 30px 27px;
    opacity: 0;
    visibility: hidden;
    width: calc(100% + 10px);
}
.puzzle-inner strong {
    font-size: 18px;
    font-family: $PFDinCondensedPro;
    font-weight: 500;
    line-height: 24px;
    color: #f6e23b;
    text-transform: uppercase;
    display: block;
    padding-bottom: 18px;
    margin-bottom: 21px;
    border-bottom: 1px solid #3d6bb4;
}
.d-abs__nav li:nth-of-type(1) .puzzle-inner {
    padding: 34px 60px 44px 37px;
    width: calc(95.2% + 1px);
}
.d-abs__nav li:nth-of-type(3) .puzzle-inner {
    width: calc(95.2% + 1px);
}
.d-abs__nav li:nth-of-type(4) .puzzle-inner {
    margin-left: -49px;
    margin-top: -5%;
}
.d-abs__nav li:nth-of-type(7) .puzzle-inner {
}
.d-abs__nav li:nth-of-type(1) .puzzle-inner strong {
    font-size: 36px;
    line-height: 36px;
    padding-right: 21%;
    margin-bottom: 32px;
}

.puzzle-inner p {
    font-size: 14px;
    line-height: 20px;
    color: white;
    text-transform: none;
    font-family: PFDinPro;
    padding-right: 0;
    position: relative;
}
.puzzle-inner p + p {
    margin-top: 12px;
}
.d-abs__nav li:nth-of-type(1) .puzzle-inner p {
    padding-right: 3%;
}

.btn-close {
    cursor: pointer;
    transition: none;
    display: inline-block;
    vertical-align: top;
    height: 18px;
    width: 18px;
    background: url(../images/sprite.png) no-repeat -99px -44px;
}
.puzzle-inner__btn {
    position: absolute;
    top: 0;
    right: 0;
}
.abs-box__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9999px;
    height: 9999px;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}
.d-abs__nav::after {
    content: '';
    display: table;
    clear: both;
}

/*++++++++++++++++++++++++*/
@media screen and (max-width:1190px) { /* для 1024 */
.d-layer {    padding: 0 66px 0 66px;}
.d-si__head {margin-bottom:44px;}
.d-si-content {background:#0f1a41 url(../images/edu_bg.jpg) top center no-repeat; background-size:100%}
}

@media screen and (max-width:1180px) {
  .d-abs__nav {
    min-height: 428px;
    max-width: 935px;
  }
  .d-abs__nav .abs-box {
    background-size: 100% auto !important;
  }
  .d-abs__nav li:nth-child(1) {
    width: 697px;
    height: 138px;
  }
  .d-abs__nav li:nth-child(1) a {
    padding-top: 25px;
    padding-left: 30px;
  }
  .d-abs__nav li:nth-child(1) a span {
    font-size: 29px;
  }
  .d-abs__nav li:nth-child(1) a span i {
    margin-bottom: 2px;
  }
  .d-abs__nav li:nth-child(1) .puzzle-inner {
    width: 675px;
    top: -20px;
    left: -5px;
    margin: 0;
    transform: none;
    padding: 25px 50px 35px 30px;

    .puzzle-inner__btn {
      top: 5px;
    }
  }
  .d-abs__nav li:nth-child(1) .puzzle-inner strong {
    font-size: 29px;
  }
  .d-abs__nav li:nth-child(2) {
    width: 262px;
    height: 138px;
  }
  .d-abs__nav li:nth-child(2) a {
    padding-top: 0;
    padding-left: 43px;
  }
  .d-abs__nav li:nth-child(2) a span {
    font-size: 17px;
    line-height: 24px;
  }
  .d-abs__nav li:nth-child(2) a span i {
    margin-bottom: -1px;
  }
  .d-abs__nav li:nth-child(3) {
    width: 216px;
    height: 313px;
    top: 115px;
  }
  .d-abs__nav li:nth-child(3) a {
    padding-top: 45px;
    padding-left: 30px;
  }
  .d-abs__nav li:nth-child(3) a span {
    font-size: 19px;
    line-height: 24px;
  }
  .d-abs__nav li:nth-child(3) a span i {
    margin-bottom: -1px;
  }
  .d-abs__nav li:nth-child(4) {
    width: 474px;
    height: 161px;
    top: 115px;
    box-sizing: border-box;
    padding-top: 55px;
  }
  .d-abs__nav li:nth-child(4) a span {
    /*Шрифт уменьшен, чтобы уместить стрелку рядом с заголовокм*/
    /*font-size: 19px;*/
    font-size: 16px;
    line-height: 24px;
  }
  .d-abs__nav li:nth-child(4) a span i {
    margin-bottom: -1px;
  }
  .d-abs__nav li:nth-child(5) {
    width: 262px;
    height: 313px;
    top: 115px;
  }
  .d-abs__nav li:nth-child(5) a {
    padding-top: 45px;
    padding-left: 42px;
  }
  .d-abs__nav li:nth-child(5) a span {
    font-size: 19px;
    line-height: 24px;
  }
  .d-abs__nav li:nth-child(5) a span i {
    margin-bottom: -1px;
  }
  .d-abs__nav li:nth-child(6) {
    width: 234px;
    height: 175px;
  }
  .d-abs__nav li:nth-child(6) a {
    padding-top: 45px;
    padding-left: 30px;
  }
  .d-abs__nav li:nth-child(6) a span {
    /*Шрифт уменьшен, чтобы уместить стрелку рядом с заголовокм*/
    /*font-size: 19px;*/
    font-size: 18px;
    line-height: 24px;
  }
  .d-abs__nav li:nth-child(6) a span i {
    margin-bottom: -1px;
  }
  .d-abs__nav li:nth-child(7) {
    width: 234px;
    height: 175px;

    .puzzle-inner__btn {
      top: 2px;
    }
  }
  .d-abs__nav li:nth-child(7) a {
    padding-top: 45px;
    padding-left: 30px;
  }
  .d-abs__nav li:nth-child(7) a span {
    font-size: 19px;
    line-height: 24px;
  }
  .d-abs__nav li:nth-child(7) a span i {
    margin-bottom: -1px;
  }
.d-si-content._quiz {padding-top:154px}
  .puzzle-inner {
    padding: 25px 20px;
  }
  .puzzle-inner strong {
    font-size: 14px;
    padding-right: 25px;
    line-height: 20px;
  }
  .puzzle-inner p {
    font-size: 12px;
    line-height: 16px;
  }
  .puzzle-inner__btn {
    top: 0;
    right: 0;
  }
}

@media screen and (max-width:1140px) { /* для 1024 */

}

@media screen and (max-width:1024px) {
.d-sii__form_submit {line-height:50px !important; width:171px; font-size: 18px; height: 50px; margin-top:13px;}
.d-si__head_icons {display: inline-block; float: none; vertical-align: top;}
.d-si__head_p-name {display:inline; float:none}
.d-si__search {width: calc(100% - 302px);}
.d-si__quiz_status {letter-spacing: -0.2px; margin-top: 8px;}
.d-si__quiz_item {margin-bottom:33px; padding-right:160px;}
.d-si__button_show-more {font-size:18px;}

.d-sii__form_question label {display:inline-block; max-width:90%}
}

@media screen and (max-width:970px) {
.d-abs__nav li:nth-child(2) a {
  padding-left: 35px;
}

.d-sii__form_submit {line-height: 54px !important; width: 100%; height: 54px; font-size: 26px; margin-top: 18px;}
  .puzzle-inner {
    width: 561px !important;
    padding: 40px !important;
    transform: none !important;
    margin: 0 !important;
  }
  .puzzle-inner strong {
    font-size: 26px !important;
    padding-right: 25px !important;
    line-height: 35px !important;
  }
  .puzzle-inner p {
    font-size: 16px !important;
    line-height: 24px !important;
  }

  .d-abs__nav li:nth-child(7) {

    .puzzle-inner__btn {
      top: 8px;
    }
  }

  .puzzle-inner__btn {
    top: 8px;
  }

/*Для предотвращения изменения высоты контента при появлении попапа пазла*/
.budget-system-bg .d-abs__nav {
  margin-bottom: 0px !important;
}
.budget-system-bg .d-abs__nav._active {
  margin-bottom: 0px;
}
}

@media screen and (max-width:760px) { /* для 640 */
.d-abs-content {
  padding-top: 171px;
  padding-bottom:0;
}

.d-abs-content.budget-system-bg{
  /*Для предотвращения изменения высоты контента при появлении попапа пазла*/
  /*padding-bottom:0;*/
  padding-bottom: 80px;
}

.d-layer {padding: 0 23px 0 23px;}
.d-si__head_descr {font-size:19px; margin-bottom:9px; }
.d-si__head_p-name {font-size:73px; float:none; display:inline; line-height:71px;}
.d-si__head_p-name br {display:block;}
.d-si__head_icons {float:none; display:inline-block; vertical-align:top; margin-left: 6px; margin-top: 5px;}

.d-si-content {background:#101b42 url(../images/edu_bg.jpg) top center no-repeat; background-size:100%}
.d-si__head {margin-bottom:26px;}
.d-si__head_p-name {font-size:71px; line-height:67px}
.d-si-content._quiz {padding-top: 175px;}
}

@media screen and (max-width:700px) {
.d-abs-content {padding-top:86px}
.d-si-content {padding-top:94px;}
.d-si-content._quiz {padding-top: 76px; padding-bottom:45px}
.d-si-content._quiz._result {padding-top: 82px;}
.d-si__search-form {margin-top:45px}
}

@media screen and (max-width:640px){
    /* .d-abs-content */
    .d-abs-content{
        -webkit-background-size:auto;
        background-size:auto;
        background-position:50% 0;
        background-color:#0c1330;
    }
}

@media screen and (max-width:639px) { /* для 320 */
.d-abs-content {padding-top:75px}

/*Для предотвращения изменения высоты контента при появлении попапа пазла*/
.d-abs-content.budget-system-bg {
  overflow: visible;
}

.d-layer {padding: 0 15px 0 15px;}
.d-si__head_descr {font-size:16px; margin-bottom:4px;}
.d-si__head_p-name {font-size:53px; line-height:49px;}
.d-si__head_icons {margin-top:3px;}
.d-si__head {margin-bottom: 23px;}
.d-sii__form_submit {line-height: 44px !important; height: 44px; font-size: 18px; margin-top: 11px;}
.d-si__head_p-name {font-size: 52px; line-height: 48px;}
.d-si-content._quiz {padding-top: 76px; background-size:200%}
.d-si__search-form {margin-top: inherit;}
.d-si-content._quiz._result {padding-top: 76px;}
  .puzzle-inner {
    width: 290px !important;
    padding: 15px 20px !important;
  }
  .puzzle-inner strong {
    font-size: 18px !important;
    line-height: 20px !important;
    margin-bottom: 20px !important;
  }
  .puzzle-inner p {
    line-height: 17px !important;
  }

  .puzzle-inner__btn {
    top: 0;
  }

  .d-abs__nav li:nth-child(7) {

    .puzzle-inner__btn {
      top: 8px;
    }
  }

  /*Для предотвращения изменения высоты контента при появлении попапа пазла*/
  .budget-system-bg .d-abs__nav {
    margin-bottom: 0px !important;
  }
  /*Для предотвращения изменения высоты контента при появлении попапа пазла*/
  .budget-system-bg .d-abs__nav._active {
    margin-bottom: 0px;
  }

  .d-abs__nav li:nth-child(2) a {
    padding-top: 16px;
  }

  .d-abs__nav li:nth-child(2) a span {
    font-size: 16px !important;
    line-height: 16px !important;
  }

  .d-abs__nav li:nth-child(4) a span {
    font-size: 14px!important;
  }
}



@media screen and (max-width:510px) {
}
