
mixin budget-system()
  //- +b.budget-system&attributes(attributes)
    //- .sections
  .d-abs-content.budget-system-bg
    .d-layer
      .d-si__head
        .d-si__head_p-name Бюджетная система
        .d-si__head_icons
          a(href="#" title="Добавить в избранное").d-si__icons_item
            svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="24.25px", height="23.25px")
              path(fill-rule="evenodd", stroke="#d0ccd3", stroke-width="1.5px", stroke-linecap="butt", stroke-linejoin="miter", fill="none", d="M11.754,0.753 L16.158,6.282 L22.764,8.773 L18.880,14.680 L18.559,21.748 L11.754,19.870 L4.950,21.748 L4.628,14.680 L0.744,8.773 L7.350,6.282 L11.754,0.753 Z")
          a(href="#" title="Поделиться").d-si__icons_item
            svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="16px", height="19px")
              path(fill-rule="evenodd", fill="#d0ccd3", d="M13.141,5.781 C12.504,5.781 11.921,5.564 11.446,5.208 L5.643,8.583 C5.689,8.788 5.719,9.000 5.719,9.219 C5.719,9.573 5.646,9.908 5.530,10.221 L11.390,13.664 C11.869,13.309 12.455,13.094 13.094,13.094 C14.699,13.094 16.000,14.416 16.000,16.047 C16.000,17.678 14.699,19.000 13.094,19.000 C11.489,19.000 10.188,17.678 10.188,16.047 C10.188,15.715 10.254,15.401 10.353,15.103 L4.426,11.620 C3.975,11.918 3.438,12.094 2.859,12.094 C1.280,12.094 -0.000,10.807 -0.000,9.219 C-0.000,7.631 1.280,6.344 2.859,6.344 C3.598,6.344 4.265,6.633 4.772,7.095 L10.439,3.799 C10.345,3.512 10.281,3.210 10.281,2.891 C10.281,1.294 11.561,-0.000 13.141,-0.000 C14.720,-0.000 16.000,1.294 16.000,2.891 C16.000,4.487 14.720,5.781 13.141,5.781 Z")
          a(href="#" title="Скачать").d-si__icons_item
            svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", width="18px", height="18px")
              path(fill-rule="evenodd", fill="#d0ccd3", d="M-0.000,18.000 L-0.000,16.000 L18.000,16.000 L18.000,18.000 L-0.000,18.000 ZM9.014,13.014 C9.014,13.014 6.791,10.861 4.998,8.982 C4.056,7.996 4.316,6.997 5.253,6.997 C6.055,6.997 7.009,6.997 8.000,6.997 L8.000,-0.000 L10.000,-0.000 L10.000,6.997 C11.084,6.997 12.126,6.997 12.974,6.997 C13.728,6.997 14.203,7.801 13.220,8.793 C11.458,10.570 9.014,13.014 9.014,13.014 Z")
      p.d-abs__head_descr Основанная на экономических отношениях и юридических нормах совокупность федерального бюджета, федеральных внебюджетных фондов, бюджетов субъектов РФ и территориальных фондов обязательного медицинского страхования, а также бюджетов муниципальных образований.
    ul.d-abs__nav.d-abs__nav--plates
      li.abs-box
        a
          span.js-abs-btn
            | Консолидированный бюджет
            br
            | российской федерации
            i.d-abs__nav_ico
          .puzzle-inner
            strong Консолидированный бюджет Российской федерации
            p Федеральный бюджет и свод консолидированных бюджетов субъектов Российской Федерации (без учета межбюджетных трансфертов между этими бюджетами) образуют консолидированный бюджет Российской Федерации.
            u.btn-close.puzzle-inner__btn.js-abs-close
          u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | Консолидированный бюджет субъекта РФ
            i.d-abs__nav_ico
          .puzzle-inner
            strong Консолидированный бюджет субъекта Российской федерации
            p Бюджет субъекта Российской Федерации и свод бюджетов муниципальных образований, входящих в состав субъекта Российской Федерации (без учета межбюджетных трансфертов между этими бюджетами), образуют консолидированный бюджет субъекта Российской Федерации.
            u.btn-close.puzzle-inner__btn.js-abs-close
          u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | федеральный
            br
            | бюджет
            i.d-abs__nav_ico
          .puzzle-inner
            strong Федеральный бюджет
            p Фонд денежных средств Российской Федерации, предназначенный для финансирования функций, отнесенных к предметам ведения государства.
            p Основной финансовый документ государства на текущий финансовый год (текущий финансовый год и планируемый период), имеющий силу закон.
            u.btn-close.puzzle-inner__btn.js-abs-close
          u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | Бюджет субъекта Российской&nbsp;Федерации
            i.d-abs__nav_ico
          .puzzle-inner
            strong Бюджет субъекта Российской Федерации
            p Фонд денежных средств субъекта РФ, предназначенный для финансирования функций, отнесенных к предметам ведения субъекта РФ.
            p Основной финансовый документ региона на текущий финансовый год (текущий финансовый год и планируемый период), имеющий силу закон.
            u.btn-close.puzzle-inner__btn.js-abs-close
          u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | Бюджет муниципального образования
            i.d-abs__nav_ico
          .puzzle-inner
            strong Бюджет муниципального образования
            p Фонд денежных средств, предназначенный для финансирования функций, отнесенных к предметам ведения органов местного самоуправления.
            u.btn-close.puzzle-inner__btn.js-abs-close
          u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | Федеральные внебюджетные фонды
            i.d-abs__nav_ico
          .puzzle-inner
            strong Федеральные внебюджетные фонды
            p Фонды денежных средств, образуемые вне федерального бюджета и предназначенные для обеспечения пенсионных и социальных обязательств Российской Федерации, а также для пополнения внебюджетных фондов субъектов Российской Федерации.
            u.btn-close.puzzle-inner__btn.js-abs-close
          u.abs-box__overlay.js-abs-close
      li.abs-box
        a
          span.js-abs-btn
            | Внебюджетные фонды субъектов Российской Федерации
            i.d-abs__nav_ico
          .puzzle-inner
            strong Внебюджетные фонды субъектов Российской Федерации
            p Фонды денежных средств, образуемые вне бюджета субъектов РФ и предназначенные для реализации государственной политики, в том числе в сфере обязательного медицинского страхования на территории субъектов РФ.
            u.btn-close.puzzle-inner__btn.js-abs-close
          u.abs-box__overlay.js-abs-close
