/*stylelint-disable*/
/*.sections {
  min-width: 320px;
}*/
.d-abs-content {
    width: 100%;
    background: url(../images/depfin-about-budjet/about-budjet-sys-bg.jpg) no-repeat;
    background-size: cover;
    padding: 40px 0 80px;
    font-weight: 500;
}
.d-abs-content {
    padding-top: 165px;
}
.d-abs-content {
    overflow: hidden;
}
.d-layer {
    max-width: 1174px;
    margin: 0 auto;
    padding: 0 37px;
}
.d-abs-content div, .d-abs__nav li a {
    box-sizing: border-box;
}
.d-si__head {
    position: relative;
    margin-bottom: 51px;
    font-family: PFDinCompressedPro;
}
.d-abs-content div, .d-abs__nav li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.d-si__head_p-name {
    color: #fff;
    text-transform: uppercase;
    font-size: 72px;
    font-weight: 500;
    margin-left: -1px;
    float: left;
    line-height: 1;
    margin-top: 3px;
}
.d-abs-content div, .d-abs__nav li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.d-si__head_icons {
    float: left;
    margin-left: 22px;
    margin-top: 10px;
}
.d-si__head_icons {
    margin-bottom: 16px;
}
.d-abs-content div, .d-abs__nav li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.d-si__icons_item {
    float: left;
    display: block;
}
.d-si__icons_item:nth-child(1) {
    background: url(../images/depfin-services-interview/icon-star-empty.svg) no-repeat;
    width: 24px;
    height: 23px;
}
.d-si__icons_item:nth-child(1) {
    background: none;
}
svg:not(:root) {
    overflow: hidden;
}
.d-layer::after, .d-si__head::after, .d-si__head_icons::after {
    display: table;
}
.d-layer::after, .d-si__head::after, .d-si__head_icons::after, .d-si__search-form::after {
    content: '';
    clear: both;
}
.d-abs__head_descr {
    font-size: 16px;
    color: rgba(255,255,255,.8);
    font-weight: 400;
    margin-top: -6px;
}
.d-abs__head_descr {
    margin-top: -8px;
    line-height: 22px;
    letter-spacing: 0.15px;
    font-family: PFDinPro;
}
.d-layer::after, .d-si__head::after, .d-si__head_icons::after {
    display: table;
}
.d-layer::after, .d-si__head::after, .d-si__head_icons::after, .d-si__search-form::after {
    content: '';
    clear: both;
}
.d-abs__nav {
    position: relative;
    min-height: 537px;
    max-width: 1170px;
    margin: 98px auto 0;
    display: block;
    list-style-type: none;
    background-color: transparent;
}
.d-abs__nav li, .d-abs__nav li a i {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.d-abs__nav li {
    float: left;
}
.d-abs__nav li:nth-child(1) {
    width: 75.3%;
    height: 173px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/depfin-about-budjet/puzzle1.png) no-repeat;
}
.d-abs__nav li:nth-child(2) {
    width: 27.9%;
    height: 173px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/depfin-about-budjet/puzzle2.png) no-repeat;
}
.d-abs__nav li:nth-child(3) {
    width: 23%;
    height: 392px;
    position: absolute;
    left: 0;
    top: 145px;
    background: url(../images/depfin-about-budjet/puzzle3.png) no-repeat;
}
.d-abs__nav li:nth-child(4) {
    width: 50.6%;
    height: 149px;
    position: absolute;
    top: 145px;
    left: 20.6%;
    background: url(../images/depfin-about-budjet/puzzle4-v02.png) no-repeat 0 0;
    padding: 52px 45px 0 49px;
}
.d-abs__nav li:nth-child(4) {
    box-sizing: content-box;
}
.d-abs__nav li:nth-child(5) {
    width: 27.9%;
    height: 392px;
    position: absolute;
    right: 0;
    top: 145px;
    background: url(../images/depfin-about-budjet/puzzle5.png) no-repeat;
}
.d-abs__nav li:nth-child(6) {
    width: 24.9%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 20.6%;
    background: url(../images/depfin-about-budjet/puzzle6.png) no-repeat;
}
.d-abs__nav li:nth-child(7) {
    width: 24.9%;
    height: 220px;
    position: absolute;
    bottom: 0;
    left: 46.3%;
    background: url(../images/depfin-about-budjet/puzzle7.png) no-repeat;
}

.d-abs-content div, .d-abs__nav li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.d-abs__nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-family: PFDinCondensedPro;
    color: #000;
    line-height: 1.8em;
}
.d-abs__nav li:nth-child(1) a {
    padding-top: 35px;
    padding-left: 34px;
}
.d-abs__nav li:nth-child(2) a {
    padding: 27px 45px 0 51px;
}

.d-abs__nav li:nth-child(3) a {
    padding: 52px 45px 0 35px;
}
.d-abs__nav li:nth-child(5) a {
    padding: 51px 45px 0 49px;
}
.d-abs__nav li:nth-child(6) a, .d-abs__nav li:nth-child(7) a {
    line-height: 1.5em;
    padding: 45px 45px 0 17px;
}
.d-abs__nav li:nth-child(1) a span {
    font-size: 36px;
    line-height: 1.2em;
}
.d-abs__nav li:nth-child(2) a span, .d-abs__nav li:nth-child(3) a span, .d-abs__nav li:nth-child(4) span, .d-abs__nav li:nth-child(5) a span {
    font-size: 24px;
    line-height: 1.2em;
}
.d-abs__nav li:nth-child(6) a span, .d-abs__nav li:nth-child(7) a span {
    font-size: 18px;
    line-height: 1.2em;
}
.d-abs__nav_ico {
    background: url(../images/depfin-about-budjet/icon-arrow.png) 50% 50% no-repeat;
    display: inline-block;
    line-height: 1;
    height: 17px;
    width: 17px;
    border-radius: 50%;
}
.d-abs__nav_ico {
    background: #0d46a1 url(../images/ar-right.svg) center center no-repeat;
    background-size: 7px;
}
.d-abs__nav li, .d-abs__nav li a i {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.d-abs__nav li:nth-child(1) a span i {
    margin: 0 0 4px 5px;
}
.d-abs__nav li:nth-child(2) a span i {
    margin-left: 5px;
}
.d-abs__nav li:nth-child(3) a span i, .d-abs__nav li:nth-child(5) a span i {
    margin-left: 14px;
    margin-bottom: 1px;
}
.d-abs__nav li:nth-child(4) a span i {
    margin: 0 0 1px 5px;
}
.d-abs__nav li:nth-child(6) a span i, .d-abs__nav li:nth-child(7) a span i {
    margin-bottom: -3px;
    margin-left: 9px;
}
.puzzle-inner {
    background: #0d46a1;
    -webkit-box-shadow: 0 8px 38px 0 #2d2d2d;
    box-shadow: 0 8px 38px 0 #2d2d2d;
    position: absolute;
    top: 50%;
    left: -5px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    z-index: 20;
    margin-top: -2%;
    padding: 26px 30px 30px 27px;
    opacity: 0;
    visibility: hidden;
    width: calc(100% + 10px);
}
.d-abs-content div, .d-abs__nav li a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.puzzle-inner {
    background: #0d46a1;
    -webkit-box-shadow: 0 8px 38px 0 #2d2d2d;
    box-shadow: 0 8px 38px 0 #2d2d2d;
    position: absolute;
    top: 50%;
    left: -5px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    z-index: 20;
    margin-top: -2%;
    padding: 26px 30px 30px 27px;
    opacity: 0;
    visibility: hidden;
    width: calc(100% + 10px);
}
.puzzle-inner strong {
    font-size: 18px;
    line-height: 24px;
    color: #f6e23b;
    text-transform: uppercase;
    display: block;
    padding-bottom: 18px;
    margin-bottom: 21px;
    border-bottom: 1px solid #3d6bb4;
}
.d-abs__nav li:nth-of-type(1) .puzzle-inner {
    padding: 34px 60px 44px 37px;
    width: calc(95.2% + 1px);
}
.d-abs__nav li:nth-of-type(3) .puzzle-inner {
    width: calc(95.2% + 1px);
}
.d-abs__nav li:nth-of-type(4) .puzzle-inner {
    margin-left: -49px;
    margin-top: -5%;
}
.d-abs__nav li:nth-of-type(7) .puzzle-inner {
}
.d-abs__nav li:nth-of-type(1) .puzzle-inner strong {
    font-size: 36px;
    line-height: 36px;
    padding-right: 21%;
    margin-bottom: 32px;
}

.puzzle-inner p {
    font-size: 14px;
    line-height: 20px;
    color: white;
    opacity: 0.8;
    text-transform: none;
    font-family: PFDinPro;
    padding-right: 0;
}
.puzzle-inner p + p {
    margin-top: 12px;
}
.d-abs__nav li:nth-of-type(1) .puzzle-inner p {
    padding-right: 3%;
}

.btn-close {
    cursor: pointer;
    transition: none;
    display: inline-block;
    vertical-align: top;
    height: 18px;
    width: 18px;
    background: url(../images/sprite.png) no-repeat -99px -44px;
}
.puzzle-inner__btn {
    position: absolute;
    top: 30px;
    right: 20px;
}
.abs-box__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9999px;
    height: 9999px;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: none;
}
.d-abs__nav::after {
    content: '';
    display: table;
    clear: both;
}
