include ../../blocks/icon/icons
include ../../blocks/checkbox/checkbox
include ../../blocks/link/link
include ../../blocks/button/button
include ../favor-list/favor-list
include ../../blocks/image-bg/image-bg

mixin profile()
  +b.profile&attributes(attributes)
    +e.info

      +e.head
        +e.H3.head-title Профиль
        +e.A(href='#').edit
          +icon('pen').edit-icon
          +e.SPAN.edit-label(data-tab-target="profile-edit") Редактировать профиль

      +e.main
        +e.photo
          +e.photo-img
            img(src="assets/images/profile/person.jpg")
        +e.personal
          +e.SPAN.nick ivanov_1980
          +e.fio
            +e.SPAN.fio-label Константин
            +e.SPAN.fio-label Константинопольский
            +e.SPAN.fio-label Константинович
          +e.SPAN.email k.konstantinopolsky@gmail.com

      +e.FORM.subscribe
        +e.H4.subscribe-title Подписка на рассылки
        +e.checkbox
          +checkbox()._font-color-white
            | Рассылка портала &laquo;Открытый бюджет города Москвы&raquo; (новости)

        +e.options
          +e.option._schedule
            +e.SPAN.options-label Как часто хотите получать?
            +e.options-link
              +link()._dashed._light-yellow
                | Раз в неделю
          +e.option._rubric
            +e.SPAN.options-label Выберите рубрики
            +e.options-link
              +link()._dashed._light-yellow
                | Новости Бюджета, Новости Москвы

        +e.save
          +button(true)._kind_yellow
            | Сохранить

    +e.favorite
      +favor-list()
