.profile {
  display: table;
  width: 100%;
  font-family: $PFDinTextPro;
  font-size: 16px;
  color: $color-white;

  @include respond-to('mobile') {
    display: block;
  }

  &__options-link {
    margin-top: 4px;
  }

  &__info {
    display: table-cell;
    width: 65.5%;
    padding: 29px 50px 29px 29px; // 31px 42px
    background-color: #1f2935;

    @include respond-to('mobile') {
      display: block;
      width: 100%;
      padding: 31px 15px;
    }
  }

  &__head {
    margin-bottom: 28px;
    @include clearfix();
  }

  &__head-title {
    float: left;
    padding-left: 11px;
    font-family: $PFDinCondensedPro;
    font-size: 30px;
    line-height: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-white;
  }

  &__edit {
    float: right;
    text-decoration: none;
    margin-top: 5px;
    transition: all .25s ease-in-out;

    &:hover { opacity: .5; }

    &-icon {
      width: 13px;
      height: 13px;
      fill: #7199c8;
    }

    &-label {
      font-family: inherit;
      font-size: inherit;
      line-height: 1em;
      color: #7199c8;
      margin-left: 10px;

      @include respond-to('mobile') {
        display: none;
      }
    }
  }

  &__main {
    padding-left: 216px;
    margin-bottom: 79px;
    position: relative;
    min-height: 200px;

    @include clearfix();

    @include respond-to('laptop') {
      padding-left: 5px;
    }

    @include respond-to('tablet') {
      padding-left: 5px;
    }

    @include respond-to('mobile') {
      padding-left: 0;
    }
  }

  &__photo {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    left: 16px;
    top: 0;

    @include respond-to('tablet') {
      margin-bottom: 10px;
    }

    @include respond-to('mobile') {
      float: none;
      margin: 0 auto;
    }
  }

  &__image {
    margin-bottom: 19px;
  }

  &__photo-edit {
    color: #7199c8;
    line-height: 1em;
  }

  &__personal {
    padding-top: 9px;
    margin-left: 33px; //35px

    @include respond-to('laptop') {
      margin-left: 5px;
    }

    @include respond-to('tablet') {
      margin-left: 5px;
    }

    @include respond-to('mobile') {
      float: none;
      margin-left: 0;
    }
  }

  &__nick {
    display: block;
    font-family: $PFDinCondensedPro;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  &__fio {
    padding-left: 1px;
    font-size: 36px;
    line-height: 1.05em;
    color: $color-yellow;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: $PFDinCondensedPro;
    font-weight: 500;

    @include respond-to('tablet') {
      font-size: 26px;
    }

    @include respond-to('mobile') {
      font-size: 16px;
    }

    &-label {
      display: block;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 5px;
      }
    }
  }

  &__email {
    display: block;
    color: $color-yellow;
    line-height: 1em;
  }

  &__subscribe {

  }

  &__subscribe-title {
    font-family: $PFDinCondensedPro;
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  &__checkbox {
    padding-left: 0px;
    margin-bottom: 18px;
  }

  &__options {
    margin-bottom: 19px;
    @include clearfix();
  }

  &__option {
    float: left;
    min-width: 251px;

    @include respond-to('tablet') {
      margin-bottom: 10px;
    }

    @include respond-to('mobile') {
      margin-bottom: 10px;
    }
  }

  &__save {
    display: inline-block;

    @include respond-to('mobile') {
      width: 100%;
    }

    .button {
      padding: 7px 20px 8px;
      text-transform: uppercase;
      font-family: $PFDinCondensedPro;
    }
  }

  &__favorite {
    display: table-cell;
    width: 34.5%;
    height: 100%;
    vertical-align: top;
  }





  &_edit {

    .text-field__label {font-size: 16px;}

    .text-field__text {
      height: 40px;
      min-width: 0;
      color: $color-input;
      background-color: $color-white;
      font-size: 18px;
    }

    .text-field_col .text-field__text {margin-top: 6px;}

    .profile {
      &__nick {margin-bottom: 13px; }

      &__main { margin-bottom: 0; }

      &__email {
        margin-bottom: 38px;
      }

      &__field {
        width: 48%;

        &-wrapper {
          margin-bottom: 21px;
          @include clearfix();
        }

        &_fio {
          margin-bottom: 64px;
          width: 100%;
        }

        &_pass {

          & .text-field__text {
            width: 100%;

            @include respond-to('mobile') {
              width: 100%;
            }
          }
        }

        &_old {
          margin-bottom: 16px;
        }

        &_new {
          float: left;


          @include respond-to('mobile') {
            float: none;
            margin-bottom: 16px;
          }
        }

        &_repeat {
          float: right;
          margin-left: 4%;

          @include respond-to('mobile') {
            float: none;
            margin-left: 0;
          }
        }
      }

      &__note {
        display: block;
        font-size: 14px;
        line-height: 1.2em;
        opacity: .4;
        margin-bottom: 11px;
      }

      &__confirm {
        @include clearfix();
      }

      &__submit,
      &__cancel {
        float: left;

        @include respond-to('mobile') {
          float: none;
          margin-bottom: 16px;
        }

        .button {
          padding: 7px 20px 8px;
          text-transform: uppercase;
          font-family: $PFDinCondensedPro;

          &.button_kind_transparent {
            padding-top: 6px;
            padding-bottom: 7px;
          }
        }
      }

      &__cancel {
        margin-left: 13px;

        @include respond-to('mobile') {
          margin-left: 0;
        }
      }
    }

  }
}
