.profile {
  display: table;
  width: 100%;
  font-family: $PFDinTextPro;
  font-size: 16px;
  color: $color-white;

  @include respond-to('mobile') {
    display: block;
  }

  &__info {
    display: table-cell;
    width: 65.5%;
    padding: 31px 42px;
    background-color: #1f2935;

    @include respond-to('mobile') {
      display: block;
      width: 100%;
      padding: 31px 15px;
    }
  }

  &__head {
    margin-bottom: 33px;
    @include clearfix();
  }

  &__head-title {
    float: left;
    padding-left: 11px;
    font-family: $PFDinCondensedPro;
    font-size: 30px;
    line-height: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-white;
  }

  &__edit {
    float: right;
    text-decoration: none;

    &-icon {
      width: 13px;
      height: 13px;
      fill: #7199c8;
    }

    &-label {
      font-family: inherit;
      font-size: inherit;
      line-height: 1em;
      color: #7199c8;
      margin-left: 10px;

      @include respond-to('mobile') {
        display: none;
      }
    }
  }

  &__main {
    padding-left: 14px;
    margin-bottom: 81px;
    @include clearfix();

    @include respond-to('laptop') {
      padding-left: 5px;
    }

    @include respond-to('tablet') {
      padding-left: 5px;
    }

    @include respond-to('mobile') {
      padding-left: 0;
    }
  }

  &__photo {
    float: left;
    position: relative;
    width: 200px;
    height: 200px;

    @include respond-to('tablet') {
      margin-bottom: 10px;
    }

    @include respond-to('mobile') {
      float: none;
      margin: 0 auto;
    }
  }

  &__personal {
    float: left;
    padding-top: 10px;
    margin-left: 35px;

    @include respond-to('laptop') {
      margin-left: 5px;
    }

    @include respond-to('tablet') {
      margin-left: 5px;
    }

    @include respond-to('mobile') {
      float: none;
      margin-left: 0;
    }
  }

  &__nick {
    display: block;
    font-family: $PFDinCondensedPro;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__fio {
    padding-left: 1px;
    font-size: 36px;
    line-height: 1em;
    color: $color-yellow;
    text-transform: uppercase;
    margin-bottom: 22px;

    @include respond-to('tablet') {
      font-size: 26px;
    }

    @include respond-to('mobile') {
      font-size: 16px;
    }

    &-label {
      display: block;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 5px;
      }
    }
  }

  &__email {
    display: block;
    color: $color-yellow;
    line-height: 1em;
  }

  &__subscribe {

  }

  &__subscribe-title {
    font-family: $PFDinCondensedPro;
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 17px;
    text-transform: uppercase;
  }

  &__checkbox {
    padding-left: 1px;
    margin-bottom: 20px;
  }

  &__options {
    margin-bottom: 22px;
    @include clearfix();
  }

  &__option {
    float: left;
    min-width: 251px;

    @include respond-to('tablet') {
      margin-bottom: 10px;
    }

    @include respond-to('mobile') {
      margin-bottom: 10px;
    }
  }

  &__save {
    display: inline-block;

    @include respond-to('mobile') {
      width: 100%;
    }

    .button {
      padding: 7px 20px 8px;
      text-transform: uppercase;
      font-family: $PFDinCondensedPro;
    }
  }

  &__favorite {
    display: table-cell;
    width: 34.5%;
    height: 100%;
  }
}
