include ../../components/page-header/page-header

mixin sitemap()
  +b.sitemap&attributes(attributes)
    .wrapper.page-content-wrapper
      +e.header
        +page-header('Карта сайта')
      +e.content
        +e.col
          +e.A(href="#").link-group О бюджете
          +e.UL.links
            li
              a(href="depfin_about_budget.html") Что такое бюджет?
            li
              a(href="budget-system.html") Бюджетная система
              +e.UL.sub-links
                li
                  a(href="#") Бюджетная система РФ
                li
                  a(href="principles.html") Принципы бюджетной системы РФ
                li
                  a(href="depfin_about_budget_preparation.html") Этапы подготовки бюджета
                li
                  a(href="budgetary_policy.html") Бюджетная политика Москвы
                li
                  a(href="tax_policy.html") Налоговая политика Москвы
            li
              a(href="classify.html") Бюджетная классификация
            li
              a(href="glossary.html") Глоссарий
            li
              a(href="documents.html") Документы
                
        +e.col
          +e.A(href="#").link-group Бюджет Москвы
          +e.UL.links
            li
              a(href="basic_budget_figures.html") Основные параметры бюджета
            li
              a(href="#") Доходы
            li
              a(href="#") Расходы
            li
              a(href="#") Источники финансирования дефицита бюджета
            li
              a(href="#") Государственные программы
              +e.UL.sub-links
                li
                  a(href="#") Развитие транспортной системы 
                li
                  a(href="#") Столичное здравоохранение
                li
                  a(href="#") Столичное образование
                li
                  a(href="#") Социальная поддержка жителей города Москвы
                li
                  a(href="#") Жилище
                li
                  a(href="#") Развитие коммунально-инженерной инфраструктуры и энергосбережение
                li
                  a(href="#") Культура Москвы
                li
                  a(href="#") Спорт Москвы
                li
                  a(href="#") Открытое правительство
                li
                  a(href="#") Информационный город
                li
                  a(href="#") Развитие индустрии отдыха и туризма
                li
                  a(href="#") Экономическое развитие и инвестиционная привлекательность города Москвы
                li
                  a(href="#") Градостроительная политика
                li
                  a(href="#") Безопасный город
            li
              a(href="#") Адресная инвестиционная программа
            li
              a(href="#") Государственный долг
            li
              a(href="#") Межбюджетные отношения
            li
              a(href="#") Социально-экономическое развитие
              
        +e.col
          +e.A(href="#").link-group Аналитика
          +e.UL.links
            li
              a(href="#") Основные параметры бюджета в динамике
            li
              a(href="#") Доходы
            li
              a(href="#") Расходы
            li
              a(href="#") Государственные программы
            li
              a(href="#") Государственный долг
              
        +e.col
          +e.A(href="#").link-group Сервисы
          +e.UL.links
            li
              a(href="#") Результаты реализации государственных&nbsp;программ
            li
              a(href="edu-service.html") Обучающий сервис
            li
              a(href="polls_task.html") Опросы
            li
              a(href="regions.html") Москва и субъекты РФ
            li
              a(href="#") Социальная поддержка населения
            li
              a(href="#") Внутригородские муниципальные<br> образования
            li
              a(href="#") Москва и города мира
            li
              a(href="#") Бюджетный калькулятор
            li
              a(href="quiz-task.html") Викторины
            li
              a(href="#") Бюджетная сеть
            li
              a(href="#") Общественно значимые проекты
            li
              a(href="#") Адресная инвестиционная программа
              
        +e.col
          +e.A(href="#").link-group Открытость
          +e.UL.links
            li
              a(href="#") Путеводитель по бюджету Москвы
            li
              a(href="#") Конкурсы
            li
              a(href="#") Федеральный бюджет для граждан
            li
              a(href="#") Открытые данные
            li
              a(href="#") Рейтинг открытости бюджетных данных
              
        +e.col
          +e.A(href="#").link-group Медиацентр
          +e.UL.links
            li
              a(href="#") Новости
              +e.UL.sub-links
                li
                  a(href="#") Новости бюджета
                li
                  a(href="#") Новости Москвы
                li
                  a(href="#") Федеральные новости
            li
              a(href="#") События
            li
              a(href="#") Инфографика
            li
              a(href="#") Медиаматериалы
              +e.UL.sub-links
                li
                  a(href="#") Фотографии
                li
                  a(href="#") Видео
                li
                  a(href="#") Презентации
            li
              a(href="#") Материалы для СМИ
            li
              a(href="#") Пресс-служба
              
        +e.col
          +e.A(href="feedback.html").link-group Обратная связь
          +e.UL.links
            li
              a(href="#") Форум
