.depfin-budget-moscow-open-reit {
  display: block;
  background-image: url(../images/depfin-budget-moscow-open-reit/bg.jpg);
  background-size: cover;
  background-position: center 0;
  padding-bottom: 50px!important;

  @media (max-width: 900px) {
    padding: 100px 0 110px!important;
  }

  @media (max-width: 580px) {
    padding: 100px 0 31px!important;
  }

  &__head {
    margin-bottom: 44px;

    @media (max-width: 1169px) {
      margin-bottom: 51px;
    }

    @media (max-width: 900px) {
      margin-bottom: 19px;
    }
  }

  &__main {
  	padding: 38px 60px 23px 42px;
		background-color: $color-white;

    @media (max-width: 1169px) {
      padding: 38px 18px 59px 35px;
    }

    @media (max-width: 900px) {
      padding: 38px 25px 45px 28px;
      margin-left: -20px;
      margin-right: -20px;
    }

    @media (max-width: 580px) {
      padding: 20px 20px 19px 25px;
    }
  }

  &__title {
  	font-size: 30px;
  	line-height: 1em;
  	font-weight: 500;
  	color: $color-black;
  	text-transform: uppercase;

    @media (max-width: 900px) {
      font-size: 24px;
      line-height: 32px;
    }

    @media (max-width: 580px) {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__subtitle {
    font-family: $PFDinTextPro;
  	font-size: 24px;
  	line-height: 1em;
  	font-weight: 500;
  	color: $color-black;
  	margin-top: 19px;

    @media (max-width: 900px) {
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.2px;
      margin-top: 25px;
    }

    @media (max-width: 580px) {
      font-size: 16px;
      line-height: 20px;
      margin-top: 17px;
    }
  }

  &__description {
    max-width: 775px;
  	font-family: $PFDinTextPro;
    font-size: 16px;
    line-height: 22px;
  	color: $color-black;
  	margin-top: 12px;
    letter-spacing: 0.1px;

    @media (max-width: 1169px) {
      max-width: 100%;
      line-height: 22px;
      margin-top: 12px;
    }

    @media (max-width: 900px) {
      font-size: 21px;
      line-height: 30px;
      letter-spacing: 0.3px;
      margin-top: 16px;
    }

    @media (max-width: 580px) {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: normal;
      margin-top: 11px;
    }
  }

  &__articles {
  	font-size: 0;
    list-style: none;
    color: black;
    margin-top: 25px;

    @media (max-width: 1169px) {
      margin-top: 49px;
    }

    @media (max-width: 900px) {
      margin-top: 30px;
    }

    @media (max-width: 580px) {
      margin-top: 14px;
      margin-left: -10px;
      margin-right: -15px;
    }

		&:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
		}
  }

  &__article {
  	display: inline-block;
    width: calc(100% / 3);
    padding-right: 15px;
		vertical-align: top;
    margin-bottom: 30px;

    @media (max-width: 900px) {
      width: 100%;
      padding-right: 0;
      margin-top: 33px;
    }

    @media (max-width: 580px) {
      margin-top: 11px;
    }
  }

  &__article-title {
    font-size: 18px;
    line-height: 20px;
  	font-weight: 500;
  	text-align: left;
    text-transform: uppercase;

    @media (max-width: 900px) {
      font-size: 24px;
      line-height: 30px;
    }

    @media (max-width: 580px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__article-text {
    font-family: PFDinTextPro,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    text-align: left;
    letter-spacing: 0.3px;
    margin-top: 14px;

    @media (max-width: 900px) {
      font-size: 21px;
      line-height: 30px;
      margin-top: 20px;
    }

    @media (max-width: 580px) {
      font-size: 14px;
      line-height: 20px;
      margin-top: 15px;
    }

    & ol {
      padding-left: 14px;
      margin-top: 5px;

      @media (max-width: 900px) {
        padding-left: 22px;
        margin-top: 7px;
      }

      @media (max-width: 580px) {
        padding-left: 14px;
        margin-top: 5px;
      }
    }
  }

  &__map {
    position: relative;
    top: -40px;
    left: -15px;
  	text-align: center;

    @media (max-width: 1169px) {
      top: auto;
      left: auto;
      margin-top: 26px;
    }

    @media (max-width: 900px) {
      margin-top: 80px;
    }

    @media (max-width: 580px) {
      margin-top: 50px;
    }

    img {
      max-width: 100%;
    }
  }

  &__foot {
  	margin-top: 40px;

    @media (max-width: 900px) {
      margin-top: 48px;
    }

    @media (max-width: 580px) {
      margin-top: 22px;
      margin-left: -5px;
      margin-right: -7px;
    }
  }

  &__documents {
    overflow: hidden;
  	margin-bottom: 25px;

    @media (max-width: 900px) {
      margin-bottom: 66px;
    }

    @media (max-width: 580px) {
      margin-bottom: 25px;
    }

  	&:last-child {
  		margin-bottom: 0;
  	}
  }

  &__select {
    max-width: 1100px;
    margin: 0 auto;
		font-size: 0;

    @media (max-width: 1169px) {
      margin-left: 40px;
      margin-right: 40px;
    }

    @media (max-width: 900px) {
      text-align: justify;
      margin-left: 20px;
      margin-right: 20px;
    }

    &:after {
      @media (max-width: 900px) {
        width: 100%;
        height: 0;
        content: '';
        display: inline-block;
      }
    }
  }

  &__select-title {
		display: inline-block;
    vertical-align: middle;
		font-size: 18px;
		line-height: 1em;
		font-weight: 500;
		color: $color-white;
  	text-transform: uppercase;
		margin-right: 34px;

    @media (max-width: 900px) {
      font-size: 24px;
      line-height: 30px;
      margin-right: 0;
    }

    @media (max-width: 580px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

	&__select-wrapper {
    position: relative;
		width: 97px;
		display: inline-block;
    vertical-align: middle;

    @media (max-width: 900px) {
      width: 300px;
    }

    @media (max-width: 580px) {
      width: 182px;
    }
	}

  &__select-element, .ui-selectmenu-button {
  	display: block;
    position: relative;
  	width: 100%;
    padding: 10px 13px 8px;
  	font-size: 16px;
  	font-weight: 500;
  	color: $color-yellow;
  	border: 1px solid #fee300;
  	border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    z-index: 1;
    text-indent: 0.01px;
    text-overflow: '';

    // @media (max-width: 900px) {
    //   padding: 20px 25px 16px;
    //   font-size: 32px;
    // }

    @media (max-width: 580px) {
      padding: 10px 12px 8px;
      font-size: 16px;
    }

    & option {
      color: $color-input;
    }
  }


  &__select-icon {
    position: absolute;
    top: 0;
		right: 15px;
		bottom: 0;
    margin: auto;
		width: 11px;
		height: 17px;
		fill: $color-yellow;
		transform: rotate(90deg);

    @media (max-width: 900px) {
      right: 20px;
      width: 21px;
      height: 27px;
    }

    @media (max-width: 580px) {
      right: 10px;
      width: 11px;
      height: 17px;
    }
  }

  &__list {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 20px;

    @media (max-width: 900px) {
      margin-top: 43px;
    }

    @media (max-width: 580px) {
      margin-top: 21px;
    }
  }

  .section-tabs_documents .section-tabs__nav,
  .section-tabs_news .section-tabs__nav,
  .section-tabs__content,
  .owl-nav {
    display: block;
  }
  
  .documents-cards_dropdown {
    padding: 0;
  }

  .dropdown-block,
  .section-tabs {
    border: none;
  }

  .documents-cards .tile__item {
    @media (max-width: 580px) {
      margin: 0 0 14px!important;
    }
  }
}

.ui-openreit, .ui-openfed {
  border-color: $color-yellow;

  .ui-menu-item-wrapper {
    padding-left: .9em;
  }
}

.depfin-budget-moscow-open-reit__select-icon {
  display: none;
}
