include ../page-header/page-header
include ../doc-cards/doc-cards
include ../documents-cards/documents-cards
include ../../blocks/selectbox/selectbox
include ../../blocks/select/select


mixin depfin-budget-moscow-open-reit()
	+b.SECTION.depfin-budget-moscow-open-reit.sections__item&attributes(attributes)
		.wrap
			+e.head
				+page-header('Рейтинг открытости', ['Открытость'], true)

			+e.main.load-anim-fade(data-delay="1500")
				+e.H3.title Рейтинг открытости бюджетных данных
				+e.H4.subtitle Общая информация о рейтинге

				+e.P.description
					| Рейтинг формируется по результатам оценки, проведенной на основе анкеты. Анкета базируется на принципах лучшей практики и методологических подходах, используемых Международным бюджетным партнерством (International Budget Partnership) при расчете Индекса открытости бюджета (Open Budget Index), при этом вопросы анкеты отражают особенности бюджетного законодательства Российской Федерации.

				+e.map
					img(src='assets/images/map_big.png')

				+e.UL.articles
					+e.LI.article
						+e.H5.article-title 
							| Что такое оценка и как она
							br
							| влияет на рейтинг?
						+e.article-text
							P 
								| Оценка представляет собой сумму баллов, присвоенных субъектам Российской Федерации в результате ответов на каждый из вопросов анкеты, и проводится в четыре этапа, соответствующих основным этапам бюджетного процесса в Российской Федерации:
							ol 
								li Первоначальное утверждение бюджета
								li Годовой отчет об исполнении бюджета
								li Текущее исполнение бюджета и финансовый контроль
								li Составление проекта бюджета
					+e.LI.article
						+e.H5.article-title
							| Какова задача рейтинга
							br
							| открытости бюджетных данных?
						+e.article-text
							P
								| Результаты рейтинга позволяют оценить уровень прозрачности бюджетов различных субъектов Российской Федерации, увидеть, какая информация и в каком объеме предоставляется для граждан на разных этапах бюджетного процесса, насколько она актуальна и доступна, а также насколько активно жители регионов участвуют в обсуждении бюджетных вопросов.
					
					+e.LI.article
						+e.H5.article-title
							| Кто составляет рейтинг
							br
							| открытости бюджетных данных?
						+e.article-text
							P
								| Рейтинг субъектов Российской Федерации по уровню открытости бюджетных данных составляется Научно-исследовательским финансовым институтом (НИФИ) в сотрудничестве с Центром прикладной экономики по заказу Министерства финансов Российской Федерации.

		+e.foot.load-anim-fade(data-delay="1500")
			+e.documents
				+e.select
					+e.select-title Методика
					+e.select-wrapper
						+e.SELECT.select-element.select-element1
							option 2015
							option(selected='selected') 2016
						+icon('angle-arrow').select-icon

				+e.list
					+documents-cards-open-reit()

			+e.documents
				+e.select
					+e.select-title Результаты
					+e.select-wrapper
						+e.SELECT.select-element.select-element2
							option 2015
							option(selected='selected') 2016
						+icon('angle-arrow').select-icon

				+e.list
					+documents-cards-open-reit()
