.alternative-link {
  display: block;
  font-size: 16px;
  color: $color-link;
  line-height: 22px;
  border: 1px solid $color-light-blue;
  border-radius: 2px;
  padding: 8px 30px 8px 16px;

  &__subtitle {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 28px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
