//- вторая ссылка добавляется
//- +e.title текст

mixin alternative-link(title, subtitle)
  +b.A.alternative-link&attributes(attributes)
    +e.title= title
    if subtitle
      +e.subtitle= subtitle
