//- вторая ссылка добавляется
//- вторая ссылка --- +e.A.title

//- Использование иконки
//- +alternative-link()
//-    +icon('share-option').icon
include ../icon/icons

mixin alternative-link(title, subtitle)
  +b.alternative-link&attributes(attributes)
    +e.A(href="#").title= title
    if subtitle
      +e.subtitle= subtitle
    block
