.alternative-link {
  display: block;
  font-size: 16px;
  color: $color-link;
  line-height: 22px;
  border: 1px solid $color-light-blue;
  border-radius: 2px;
  padding: 8px 30px 8px 16px;
  position: relative;
  text-transform: uppercase;
  font-family: $PFDinCondensedPro;
  font-weight: 500;


  &__title {
    display: block;
    cursor: pointer;
    transition: all .25s ease-in-out;

    &:hover {
      opacity: .7;
    }

    &:last-child {
      margin-top: 28px;
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 20px;
  }

  &__icon {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 15px;
  }
}
