include ../../blocks/icon/icons
include ../../blocks/news-card/news-card

mixin open-slide-pagination()
  +e.pagination
    +e.num
      +e.SPAN.num-current
      |  /
      +e.SPAN.num-total

mixin open-slide-gallery(img, label)
  .swiper-slide
    +e.content
      +open-slide-pagination()
      +e.A(href='assets/images/presentation/'+img+'', data-fancybox).image-link
        +e.IMG(src='assets/images/presentation/'+img+'').image
      if label
        +e.label= label

//- модификатор для СМИ
mixin sm-slide-gallery()
  .swiper-slide
    +e.content
      block

mixin open-slide-thumbs(img)
  .swiper-slide
    +e.content
      +open-slide-pagination()
      +e.IMG(src='assets/images/presentation/'+img+'').image

mixin open-slider-gallery()
  .swiper-slider
    .swiper-container.gallery-top
      .swiper-wrapper
        block
    +icon('icon-next').swiper-icon.swiper-button-next
    +icon('icon-prev').swiper-icon.swiper-button-prev
  
mixin open-slider-thumbs()
  .swiper-container.gallery-thumbs
    .swiper-wrapper
      block

mixin open-slider()
  +b.open-slider&attributes(attributes)
    block


//- PDF
mixin pdf-slide-gallery()
  .swiper-slide
    +e.content
      +open-slide-pagination()
      +e.A(href='#pdf-hidden-0', data-fancybox).image-link
        +e.CANVAS.content-canvas#pdf-slide-0
    +e.hidden#pdf-hidden-0
      +e.CANVAS.hidden-canvas#pdf-hidden-slide-0
        
mixin pdf-slide-thumbs(img)
  .swiper-slide
    +e.content
      +open-slide-pagination()
      +e.CANVAS.content-canvas#pdf-thumbs-0
