include ../../blocks/icon/icons

mixin open-slider()
  .swiper-slider
    .swiper-container.gallery-top
      .swiper-wrapper
        .swiper-slide
        .swiper-slide
        .swiper-slide
        .swiper-slide
        .swiper-slide
        .swiper-slide
        .swiper-slide
    
    +icon('icon-next').swiper-icon.swiper-button-next
    +icon('icon-prev').swiper-icon.swiper-button-prev
  .swiper-container.gallery-thumbs
    .swiper-wrapper
      .swiper-slide
      .swiper-slide
      .swiper-slide
      .swiper-slide
      .swiper-slide
      .swiper-slide
      .swiper-slide
