include ../../blocks/icon/icons

mixin open-slide-gallery(img)
  .swiper-slide
    +e.content
      +e.A(href='assets/images/presentation/'+img+'', data-fancybox).image-link
        +e.IMG(src='assets/images/presentation/'+img+'').image
      
mixin open-slide-thumbs(img)
  .swiper-slide
    +e.content
      +e.pagination
        +e.num
          +e.SPAN.num-current
          |  /
          +e.SPAN.num-total
      +e.IMG(src='assets/images/presentation/'+img+'').image

mixin open-slider-gallery()
  .swiper-slider
    .swiper-container.gallery-top
      .swiper-wrapper
        block
    +icon('icon-next').swiper-icon.swiper-button-next
    +icon('icon-prev').swiper-icon.swiper-button-prev
  
mixin open-slider-thumbs()
  .swiper-container.gallery-thumbs
    .swiper-wrapper
      block

mixin open-slider()
  +b.open-slider&attributes(attributes)
    block
