include ../../blocks/icon/icons

mixin open-slider()
  .open-slider
    .swiper-slider
      .swiper-container.gallery-top
        .swiper-wrapper
          .swiper-slide
            .open-slider__content
          .swiper-slide
            .open-slider__content
          .swiper-slide
            .open-slider__content
          .swiper-slide
            .open-slider__content
          .swiper-slide
            .open-slider__content
          .swiper-slide
            .open-slider__content
          .swiper-slide
            .open-slider__content
      
      +icon('icon-next').swiper-icon.swiper-button-next
      +icon('icon-prev').swiper-icon.swiper-button-prev
    .swiper-container.gallery-thumbs
      .swiper-wrapper
        .swiper-slide
          .open-slider__content
        .swiper-slide
          .open-slider__content
        .swiper-slide
          .open-slider__content
        .swiper-slide
          .open-slider__content
        .swiper-slide
          .open-slider__content
        .swiper-slide
          .open-slider__content
        .swiper-slide
          .open-slider__content
