@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css";

.open-slider {

  .swiper-slider {
    position: relative;
  }

  .swiper-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    position: relative;

    @media (max-width: 800px) {
      overflow: visible;
    }
  }

  .swiper-slide {
    width: 1100px;
    background-color: $color-white;
    position: relative;
    
    &:after {
      content: '';
      display: block;
      padding-top: 56%;
    }

    &-prev, &-next {
      @media (max-width: 800px) {
        opacity: .4;
      }
    }
  }

  .swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 22px;
    height: 41px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    fill: transparent;
    stroke: $color-white;
    background-image: none;

    @media (max-width: 700px) {
      width: 11px;
      height: 20px;
      margin-top: -10px;
    }
  }

  .swiper-button-prev {
    left: -35px;
    
    @media (max-width: 700px) {
      left: -15px;
    }
  }

  .swiper-button-next {
    right: -35px;
    
    @media (max-width: 700px) {
      right: -15px;
    }
  }

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
  }

  .gallery-top {
    height: 80%;
    width: 100%;
    
    @media screen and (max-width: 800px) {
      .swiper-slide-active {
        .open-slider__pagination {
          display: block;
        }
      }
    }
  }

  .gallery-thumbs {
    width: 100%;
    box-sizing: border-box;
    padding: 35px 0;

    @media (min-width: 801px) and (max-width: 1024px) {
      padding: 25px 0;
    }

    @media (max-width: 800px) {
      display: none;
    }
  }

  .gallery-thumbs .swiper-slide {
    width: 249px;
    opacity: 0.4;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
      opacity: .7;
    }
  }

  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
    &:hover {
      opacity: 1;
    }
    .open-slider__pagination {
      display: block;
    }
  }
  
  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    text-align: center;
  }
  
  &__image-link {
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
  }
    
  &__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  &__label {
    width: 100%;
    min-height: 80px;
    position: absolute;
    bottom: 0;
    padding: 19px 23px 25px;
    color: $color-black;
    text-align: left;
    background-color: $color-white;
    font-size: 16px;
  }

  &__pagination {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid $color-yellow;
    text-align: left;
    z-index: 2;
    display: none;
    pointer-events: none;
  }
  
  &__num {
    display: inline-block;
    background-color: $color-yellow;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    color: #000;
  }
  
  /*cover эффект для фото слайдов*/
  &_img-cover {

    .open-slider__image {
      @include fill-img;
    }
    
    .swiper-slide:after {
      @media screen and (max-width: 580px) {
        padding-top: 70%;
      }
    }
  }
  
  /*модификатор для СМИ*/
  &_sm {
    .gallery-top {
      height: 750px!important;

      .swiper-slide {
        background-color: transparent;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      @media (max-width: 400px) {
        top: 40%!important;
      }  
    }

    .swiper-button-next {
      right: 120px!important;

      @media (max-width: 900px) {
        right: 60px!important;
      }

      @media (max-width: 640px) {
        right: 40px!important;
      }     

      @media (max-width: 580px) {
        right: -20px!important;
      }         
    }

    .swiper-button-prev {
      left: 120px!important;

      @media (max-width: 900px) {
        left: 60px!important;
      }

      @media (max-width: 640px) {
        left: 40px!important;
      } 

      @media (max-width: 580px) {
        left: -20px!important;
      }   
    }

    .document__bottom {
      display: block;
    }
  }
}
