extends ../../layouts/default
include ../../components/basic_budget_figures/basic_budget_figures

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block content
  +basic_budget_figures()
