mixin teaser-card(image, title, bottomLink, topLink)
	+b.A(href='#').teaser-card&attributes(attributes)
		+e.DIV.thumb
			img(src="assets/images/news/"+image+".jpg" alt="thumb" data-pos='10').js-image
		+e.DIV.body
			if topLink
				+e.DIV.top-link= topLink
			+e.DIV.SPAN.title= title
			+e.DIV.bottom-link= bottomLink