include ../../node_modules/bemto.pug/bemto
include ../blocks/grid/grid
include ../components/header/header
include ../components/footer/footer
include ../blocks/sections/sections
include ../components/popup-wrapper/popup-wrapper
include ../blocks/button-top/button-top

doctype html
html(lang='ru')
  include head
  body
    block page
      block header
      block sections
        block content
    script(src='assets/scripts/app.min.js')
    script.
      $(document).ready(function() {
        var green = ['#fee300', '#30b069'];
        var violet = ['#612292', '#bd84e9'];
        var pink = ['#9d308a', '#ff695b'];
        var altblue = ['#004ccf', '#00ffff'];
        var greenyellow = ['#11a360', '#32d197'];
        var gray = ['#838a9a', '#d5d8de'];
        var white = ['#fff', '#fff'];
        
        
        
        if ($('.analityc-graphics').length || $('.widget-card').length || $('.services-VMO__graphics').length) {
          /*Init Diagrams -- set id to diagram viewbox -- */
          diagram('#diagram-01', {
            stroke: 30,
            kind: 'triple2',
            data: [ 1446.2, 1598.9],
            animate: true,
            maxValue: 2050
          });
          diagram( '#diagram-02', {
            stroke: 30,
            kind: 'triple2',
            data: [ 1446.2, 1598.9],
            animate: true,
            maxValue: 2050
          });
          diagram('#diagram-03', {
            stroke: 30,
            kind: 'triple2',
            data: [ 1446.2, 1598.9],
            animate: true,
            maxValue: 2050
          });
          diagram( '#diagram-1', {
            stroke: 30,
            kind: 'triple',
            data: [ 1446.2, 1597.2],
            animate: true,
            maxValue: 2070,
          });
          diagram( '#diagram-2', {
            stroke: 30,
            kind: 'triple',
            data: [ 1446.2, 1598.9],
            animate: true,
            maxValue: 2050,
          });
          diagram('#diagram-3', {
            stroke: 30,
            kind: 'triple',
            data: [ 1446.2, 1598.9],
            animate: true,
            maxValue: 2050,
          });
          diagram( '#diagram-001', {
            stroke: 30,
            kind: 'triple',
            data: [ 1446.2, 1597.2],
            /*animate: true,*/
            maxValue: 2070,
          });
          diagram( '#diagram-002', {
            stroke: 30,
            kind: 'triple',
            data: [ 1446.2, 1598.9],
            /*animate: true,*/
            maxValue: 2050,
          });
          diagram('#diagram-003', {
            stroke: 30,
            kind: 'triple',
            data: [ 1446.2, 1598.9],
            /*animate: true,*/
            maxValue: 2050,
          });
          diagram('#diagram-4', {
            viewBox: 390,
            stroke: 60,
            kind: 'ifinite',
            data: [ 1921.7 ],
            gradient: ['#008ADF', '#00E6F9'],
            valClass: ['large-diagram__value-lightblue', 'large-diagram__value-blue'],
            maxValue: 1665.5,
            animate: true,
          });
          diagram('#diagram-5', {
            viewBox: 390,
            stroke: 60,
            kind: 'ifinite',
            data: [ 1364.5 ],
            gradient: [ '#9D308A', '#ED5F64' ],
            valClass: ['large-diagram__value-pink', 'large-diagram__value-violet'],
            maxValue: 1865.5,
            animate: true,
          });
          diagram('#diagram-6', {
            viewBox: 197,
            stroke: 19,
            kind: 'segment',
            data: [ 150.7, 60.8, 35.2, 100.5 ],
            gradient: [ ['#60bc50', '#fee300'], ['#e00242', '#400f80'], ['#008cde', '#00afea'], ['#9da2af', '#cfd3d9'] ],
            maxValue: 150.7+60.8+35.2+100.5,
            padding: 15,
          });
          diagram('#diagram-7', {
            viewBox: 197,
            stroke: 19,
            kind: 'segment',
            data: [ 21.4, 28.8, 48.4 ],
            gradient: [ ['#60bc50', '#fee300'], ['#008cde', '#00afea'], ['#e00242', '#400f80'] ],
            maxValue: 21.4+28.8+48.4,
            padding: 15
          });
          diagram('#diagram-71', {
            viewBox: 197,
            stroke: 19,
            kind: 'segment',
            data: [ 150.7, 60.8, 35.2, 100.5 ],
            gradient: [ ['#60bc50', '#fee300'], ['#e00242', '#400f80'], ['#008cde', '#00afea'], ['#9da2af', '#cfd3d9'] ],
            maxValue: 150.7+60.8+35.2+100.5,
            padding: 15,
          });
          diagram('#diagram-8', {
            viewBox: 180,
            stroke: 19,
            kind: 'dashed',
            data: [ 1637.3, 1167.7 ],
            gradient: [  ['#e6edf3', '#e6edf3'], ['#60bc50', '#fee300'] ],
            maxValue: 1637.3,
          });
          diagram('#diagram-9', {
            viewBox: 180,
            stroke: 19,
            kind: 'dashed',
            data: [ 113.4, 46.5 ],
            gradient: [  ['#e6edf3', '#e6edf3'], ['#fc0037', '#091395'] ],
            maxValue: 113.4,
          });
          diagram('#diagram-10', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.8, 14.3, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-11', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.8, 14.3, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-12', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.8, 14.3, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-13', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20, 15.1, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-14', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.8, 14.3, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-15', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20, 15.1, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-16', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.8, 14.3, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-17', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20, 15.1, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-18', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.8, 14.3, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-19', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20, 15.1, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-20', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.8, 14.3, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-21', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20, 15.1, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-22', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.8, 14.3, 12.2, 21.9, 7.7, 23.2 ],
            gradient: [ green, violet, altblue, gray, greenyellow, pink ],
            maxValue: 100,
          })
          diagram('#diagram-23', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment3',
            data: [ 68.8, 10.0, 12.5, 0.7],
            gradient: [ pink, altblue, green, ['#ffd958', '#fca500' ] ],
            maxValue: 92,
          })
          diagram('#diagram-24', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment3',
            data: [ 68.8, 10.0, 12.5, 0.7],
            gradient: [ pink, altblue, green, ['#ffd958', '#fca500' ] ],
            maxValue: 92,
          })
          diagram('#diagram-25', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment3',
            data: [ 50.0, 50.0 ],
            gradient: [ pink, green ],
            maxValue: 100,
          })
          }
          diagram('#diagram-26', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 54.2, 45.8 ],
            gradient: [ ['#141291', '#cc0fa3'], gray ],
            maxValue: 100,
          })
          diagram('#diagram-27', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 40.0, 60.0 ],
            gradient: [ ['#141291', '#cc0fa3'], gray ],
            maxValue: 100,
          })
          diagram('#diagram-28', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 60.0, 40.0 ],
            gradient: [ ['#141291', '#cc0fa3'], gray ],
            maxValue: 100,
          })
          diagram('#diagram-29', { // закон об исполнении
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 70.0, 30.0 ],
            gradient: [ ['#141291', '#cc0fa3'], white ],
            maxValue: 100,
          })

          diagram('#diagram-30', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 36.0, 6.0, 52.0, 6.0],
            gradient: [ greenyellow, gray, altblue, pink ],
            maxValue: 100,
          })
          diagram('#diagram-31', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 40.0, 6.0, 48.0, 6.0],
            gradient: [ greenyellow, gray, altblue, pink ],
            maxValue: 100,
          })
          diagram('#diagram-32', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 40.0, 6.0, 48.0, 6.0],
            gradient: [ greenyellow, gray, altblue, pink ],
            maxValue: 100,
          })
          diagram('#diagram-33', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.0, 20.0, 20.0, 20.0, 20.0 ],
            gradient: [ pink, greenyellow, violet, gray, altblue ],
            maxValue: 100,
          })
          diagram('#diagram-34', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.0, 20.0, 20.0, 20.0, 20.0 ],
            gradient: [ pink, greenyellow, violet, gray, altblue ],
            maxValue: 100,
          })
          diagram('#diagram-35', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 20.0, 20.0, 20.0, 20.0, 20.0 ],
            gradient: [ pink, greenyellow, violet, gray, altblue ],
            maxValue: 100,
          })

          diagram('#diagram-36', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 41.0, 10.0, 48.0, 1.0],
            gradient: [ greenyellow, gray, altblue, pink ],
            maxValue: 100,
          })

          diagram('#diagram-37', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 1.0, 91.0, 8.0 ],
            gradient: [ pink, greenyellow, violet ],
            maxValue: 100,
          })
          diagram('#diagram-38', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 1.0, 90.0, 9.0 ],
            gradient: [ pink, greenyellow, violet ],
            maxValue: 100,
          })
          diagram('#diagram-39', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 2.0, 90.0, 9.0 ],
            gradient: [ pink, greenyellow, violet ],
            maxValue: 100,
          })

          diagram('#diagram-40', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 30.0, 16.0, 14.0, 15.0, 10.0, 16.0 ],
            gradient: [ greenyellow, pink, altblue, gray, violet, green ],
            maxValue: 100,
          })
          diagram('#diagram-41', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 30.0, 16.0, 14.0, 15.0, 10.0, 16.0 ],
            gradient: [ greenyellow, pink, altblue, gray, violet, green ],
            maxValue: 100,
          })
          diagram('#diagram-42', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 30.0, 16.0, 14.0, 15.0, 10.0, 16.0 ],
            gradient: [ greenyellow, pink, altblue, gray, violet, green ],
            maxValue: 100,
          })

          diagram('#diagram-43', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 13.0, 50.0, 38.0 ],
            gradient: [ pink, greenyellow, violet ],
            maxValue: 100,
          })

          diagram('#diagram-44', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 5.0, 63.0, 23.0, 9.0],
            gradient: [ altblue, pink, greenyellow, violet ],
            maxValue: 100,
          });
          diagram('#diagram-45', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 5.0, 63.0, 23.0, 9.0],
            gradient: [ altblue, pink, greenyellow, violet ],
            maxValue: 100,
          });
          diagram('#diagram-46', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 5.0, 63.0, 23.0, 9.0],
            gradient: [ altblue, pink, greenyellow, violet ],
            maxValue: 100,
          });

          diagram('#diagram-47', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 5.0, 27.0, 68.0],
            gradient: [ green, violet, pink ],
            maxValue: 100,
          });
          
          diagram('#diagram-48', {
            viewBox: 270,
            stroke: 45,
            kind: 'segment2',
            data: [ 12.1, 21.1, 66.8 ],
            gradient: [ green, violet, pink ],
            maxValue: 100,
          });

        positionValues();

      });


    script(src="assets/scripts/svg4everybody.min.js")
    script.
      svg4everybody();

    //- Код общего хедера и футера сайтов Москвы
    <script>(function (d, w, c) { var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }, protocol = "https:"; current_domain = window.location.hostname; s.type = "text/javascript"; s.charset = "utf-8"; s.async = true; s.src = protocol + "//evp.mos.ru/frame/v2/all.php?cur_domain=" + current_domain + "&async=1&set_lang=ru&langs=ru&site_id=2136"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "evp_header_callbacks");</script>
