head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.5, user-scalable=yes, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  block head
  title= pageTitle || ''
  //[if lte IE 9]><script type="text/javascript" src="assets/scripts/js/html5.min.js"></script><![endif]
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')

  //- link(href='favicon.ico?v=2' rel='shortcut icon')
  link(rel="apple-touch-icon", sizes="180x180", href="180x180findep_favicon.png")
  link(rel="apple-touch-icon", sizes="152x152", href="152x152findep_favicon.png")
  link(rel="apple-touch-icon", sizes="144x144", href="144x144findep_favicon.png")
  link(rel="apple-touch-icon", sizes="120x120", href="120x120findep_favicon.png")
  link(rel="apple-touch-icon", sizes="114x114", href="114x114findep_favicon.png")
  link(rel="apple-touch-icon", sizes="76x76", href="76x76findep_favicon.png")
  link(rel="apple-touch-icon", sizes="72x72", href="72x72findep_favicon.png")
  link(rel="apple-touch-icon", sizes="60x60", href="60x60findep_favicon.png")
  link(rel="apple-touch-icon", sizes="57x57", href="57x57findep_favicon.png")

  link(rel="icon", type="image/png", sizes="512x512", href="512x512findep_favicon.png")
  link(rel="icon", type="image/png", sizes="310x310", href="310x310findep_favicon.png")
  link(rel="icon", type="image/png", sizes="310x150", href="310x150findep_favicon.png")
  link(rel="icon", type="image/png", sizes="270x270", href="270x270findep_favicon.png")
  link(rel="icon", type="image/png", sizes="196x196", href="196x196findep_favicon.png")
  link(rel="icon", type="image/png", sizes="192x192", href="192x192findep_favicon.png")
  link(rel="icon", type="image/png", sizes="150x150", href="150x150findep_favicon.png")
  link(rel="icon", type="image/png", sizes="128x128", href="128x128findep_favicon.png")
  link(rel="icon", type="image/png", sizes="96x96", href="96x96findep_favicon.png")
  link(rel="icon", type="image/png", sizes="70x70", href="70x70findep_favicon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="32x32findep_favicon.png")
  link(rel="icon", type="image/png", sizes="16x16", href="16x16ffindep_favicon.png")
  link(rel="manifest", href="manifest.json")
  link(rel="mask-icon", href="32x32findep_favicon.svg", color="#5bbad5")
  meta(name="theme-color", content="#ffffff")

  link(href='assets/styles/app.min.css' rel='stylesheet')
  //- link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  block headstyles
