head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.5, user-scalable=yes, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  block head
  title= pageTitle || ''
  //[if lte IE 9]><script type="text/javascript" src="assets/scripts/js/html5.min.js"></script><![endif]
  meta(name='description' content=pageDescription || '')
  meta(name='keywords' content=pageKeywords || '')

  link(href='favicon.ico?v=2' rel='shortcut icon')
  link(href='assets/styles/app.min.css' rel='stylesheet')
  //- link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  block headstyles
