include ../../node_modules/bemto.pug/bemto
include ../blocks/grid/grid
include ../components/header/header
include ../components/footer/footer
include ../blocks/sections/sections
include ../components/popup-wrapper/popup-wrapper
include ../blocks/button-top/button-top

doctype html
html.height100percent(lang='ru')
  include head
  body.height100percent.home
    block page
      block header
      block sections
        block content

    script(src='assets/scripts/app.min.js')
    script(src="assets/scripts/svg4everybody.min.js")
    script.
      svg4everybody();

    //- Код общего хедера и футера сайтов Москвы
    <script>(function (d, w, c) { var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }, protocol = "https:"; current_domain = window.location.hostname; s.type = "text/javascript"; s.charset = "utf-8"; s.async = true; s.src = protocol + "//evp.mos.ru/frame/v2/all.php?cur_domain=" + current_domain + "&async=1&set_lang=ru&langs=ru&site_id=2136"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "evp_header_callbacks");</script>
