.gov-program {
  font-family: $PFDinTextPro;
  padding-bottom: 40px;

  .link { transition: opacity .3s ease; }
  .link:hover { opacity: .7; }

  .page-header {
    margin-bottom: 40px;
  }

  &__wrapper {
    background-color: white;
    font-weight: 300;
    font-family: $PFDinTextPro;
  }

  .link {
    text-decoration: underline;
    font-family: $PFDinTextPro;

    &_dashed {
      text-decoration: none;
    }
  }

  &__head {
    font-family: $PFDinCondensedPro;
    font-weight: 500;
    min-height: 64px;
    background-color: $color-yellow;
    font-size: 24px;
    color: $color-black;
    text-transform: uppercase;
    position: relative;
    padding-top: 22px;
    padding-bottom: 22px;
    display: table;
    width: 100%;

    &-icon {
      width: 50px;
      height: 55px;
      margin-right: 30px;
      display: table-cell;
      vertical-align: middle;
    }

    &-container-text {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      line-height: 1.2em;
    }

    @media (min-width: 501px) and (max-width: 700px) {
      font-size: 18px;
    }

    @media (max-width: 500px) {
      font-size: 18px;
    }

    &::after {
      @include clearfix;
    }
  }

  &__body {}

  &__description-block {
    border-bottom: 1px solid #e6e6e6;
    padding-top: 40px;
    padding-bottom: 33px;

    .gov-program__title, .gov-program__description { max-width: 840px; }
  }

  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $PFDinCondensedPro;
    margin-bottom: 8px;
  }

  &__description {
    font-family: $PFDinTextPro;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;

    & + .gov-program__description { margin-top: 8px; }

    & + .gov-program__title { margin-top: 26px; }
  }

  &__content_one {
    padding-top: 40px;
    padding-bottom: 100px;

    @media (max-width: 500px) {
      padding-bottom: 40px;
    }

    @include clearfix;
  }

  &__col {
    float: left;

    &_one {
      width: 57%;
      box-sizing: border-box;
      padding-left: 80px;

      @media (max-width: 960px) {
        width: 100%;
        padding-left: 0;
      }

      .link {
        line-height: 20px;
      }
    }

    &_two {
      width: 43%;
      box-sizing: border-box;
      padding-left: 90px;

      @media (max-width: 960px) {
        width: 100%;
        padding-left: 0;
      }

      .gov-program__title { margin-top: 44px;

        &:first-child { margin-top: 0; }
      }

      .gov-program__title + .link {
        line-height: 20px;
        margin-top: 3px;
      }

      @include clearfix;

      .alternative-link {
        margin-top: 40px;
      }
    }
  }

  &__list {
    counter-reset: myCounter;

    & + .link { margin-top: 12px; }
    & + .gov-program__title { margin-top: 43px; }

    li {
      font-size: 16px;
      line-height: 22px;
      list-style: none;
      position: relative;
      font-family: $PFDinTextPro;
      padding-left: 30px;
      margin-left: -30px;

      & + li { margin-top: 12px; }

      &::before {
        position: absolute;
        left: 0;
        width: 20px;
        text-align: right;
        top: 0;
        counter-increment: myCounter;
        content: counter(myCounter) '. ';
        color: #999999;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__person {
    padding-left: 80px;
    position: relative;
    min-height: 60px;

    &-description {
      font-size: 14px;
      line-height: 20px;
      font-family: $PFDinTextPro;

      span {
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;
        display: block;
      }
    }

    &-image {
      width: 60px;
      height: 60px;
      border-radius: 100px;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;

      img {
        @include fill-img;
      }
    }
  }

  &__content_two {
    background-color: #e7e6e4;
    padding-top: 30px;
    padding-bottom: 47px;
    margin-bottom: 24px;

    &:last-child { margin-bottom: 0; }
  }

  &__programs {
    padding-left: 80px;

    &-links {
      margin-right: -50px;

      .link {
        margin-right: 50px;
        margin-top: 13px;

        @include clearfix;
      }
    }
  }

  &__content_three {
    padding-top: 24px;
    padding-bottom: 24px;

    &_border_top {
      border-top: 1px solid $color-light-gray;
    }

    .gov-program__title {
      display: table-cell;
      vertical-align: middle;
      padding-right: 28px;
      margin-bottom: 0;
      white-space: nowrap;
    }

    .analityc-control-group._stages {
      display: table-cell;
      vertical-align: middle;
      width: 340px;

      .analityc-select {
        background-color: $color-white;
        box-sizing: border-box;
        font-family: $PFDinCondensedPro;
        font-weight: 500;
        width: 100%;
        margin-top: 0;
      }
    }
  }





  // DROPDOWN
  &__icon-close {
    display: none;
    position: absolute;
    width: 11px;
    height: 11px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: $color-link;
    transition: all .5s ease;

    &:hover {
      fill: $color-black;
    }
  }










  .dropdown {
    transition: background-color .3s ease;

    &_active {
      background-color: $color-white !important;
    }

    &__content {
      padding-bottom: 70px;
    }

    &__content_db {
      display: block;
    }

    &_b {
      border-top: 1px solid rgba(0, 97, 160, .2);
      background-color: #f6f6f5;

      @media (min-width: 501px) and (max-width: 960px) {
        padding: 0 15px;
      }

      @media (max-width: 500px) {
        padding: 10px 15px;
      }
    }

    &__btn_b {
      color: $color-link;
      font-family: $PFDinCondensedPro;
      height: inherit;
      padding: 18px 25px 18px 0;
      line-height: normal;
      letter-spacing: -.092px;

      &::after {
        border-top-color: $color-link;
      }

      @media (min-width: 701px) and (max-width: 960px) {
        font-size: 15px;
        padding-right: 15px;
      }

      @media (min-width: 501px) and (max-width: 700px) {
        line-height: 16px;
        font-size: 14px;
        padding: 13px 15px 13px 0;
      }

      @media (max-width: 500px) {
        font-size: 14px;
        padding-right: 15px;
        line-height: 1em;
      }
    }

    &__btn_active {

      &::after {
        display: none;
      }

      .gov-program__icon-close {
        display: block;
      }
    }
  }

  .table1, .table2 {
    @media screen and (max-width: 1100px) {
      min-width: 1020px;
    }
  }

 .table-wrapper {
    @media screen and (max-width: 1100px) {
      overflow-x: scroll;
    }
  }

  .analityc-widget_income {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .analityc-control-switcher, .analityc-control-buttons { margin-top: 8px; }
  .analityc-control-switcher { margin-left: 0 !important; }
  .analityc-control-buttons { margin-right: 30px; }

  .analityc-table, .analityc-graphics {
    display: none;

    &.active { display: block; }
  }

  .analityc-graphics_singleround { margin-top: 0; padding-top: 0; }

  .analityc-graphics__year {
    font-family: $PFDinCondensedPro;
    font-weight: 500;
  }

  .analityc-graphics__cols {
    margin: 0 -30px;
    padding: 0;
  }

  .analityc-graphics__col {
    padding: 0 30px;
    margin: 0;
    width: auto;
    display: table-cell;
  }

  .analityc-graphics__col:last-child {
    width: 100%;
    vertical-align: middle;
  }

  .analityc-graphics__legend { margin-top: 0; }

  .analityc-graphics__legend .legend__item:last-child { margin-bottom: 0; }


  .gov-program__tasks .text:nth-child(n+3) {
    display: none;
  }

  .link_bottom {
    margin: 30px 0 55px 40px;
    font-size: 12px;
  }

}
