.gov-program {
  font-family: $PFDinTextPro;

  .page-header {
    margin-bottom: 40px;
  }

  .link {
    text-decoration: underline;
    font-family: $PFDinTextPro;

    &_dashed {
      text-decoration: none;
    }
  }

  .d-si__quiz-container {
    padding-bottom: 0;

    &_head {
      padding: 25px 0 22px 37px;

      @media (min-width: 501px) and (max-width: 700px) {
        font-size: 18px;
      }

      @media (max-width: 500px) {
        font-size: 18px;
        padding-left: 15px;
      }

      &::after {
        @include clearfix;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.2em;
      }
    }

    &_body {
      padding-top: 40px;
      padding-left: 0;
      font-family: $PFDinCondensedPro;

      @media (max-width: 760px) {
        padding-right: 0;
      }
    }
  }



  &__head {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 191px 38px 40px;

    @media (min-width: 501px) and (max-width: 960px) {
      padding-right: 40px;
    }

    @media (max-width: 500px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 13px;
  }

  &__content_one {
    padding: 40px 40px 85px 120px;

    @media (min-width: 501px) and (max-width: 960px) {
      padding-left: 40px;
    }

    @media (max-width: 500px) {
      padding: 40px 15px;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: top;

    &_one {
      width: 52%;
      margin-right: 53px;

      @media (max-width: 960px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
      }
    }

    &_two {
      width: 39%;

      @media (max-width: 960px) {
        width: 100%;
      }

      .link {
        margin-bottom: 40px;
        margin-top: 17px;
      }

      &::after {
        @include clearfix;
      }

      .gov-program__title {
        margin-bottom: 10px;
      }
    }
  }

  &__tasks, &__objectives {
    margin-top: 15px;
    counter-reset: myCounter;
  }

  .text {
    font-size: 16px;
    margin-bottom: 15px;
    list-style: none;
    position: relative;
    padding-left: 20px;

    &::before {
      position: absolute;
      left: 0;
      counter-increment: myCounter;
      content:counter(myCounter) '. ';
      color: #999999;
      font-size: 16px;
    }

    &:last-child {
      &::before {
        left: -8px;
      }
    }

    &::after {
      @include clearfix;
    }
  }

  &__objectives {
    margin-bottom: 48px;

    .text:last-child::before {
      left: 0;
    }
  }

  &__person {
    float: left;
    margin-right: 20px;
  }

  &__person-descr {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 45px;
    font-family: $PFDinTextPro;
    padding-left: 80px;

    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
    }
  }

  &__icon-ball {
    width: 54px;
    height: 53px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;

    @media (min-width: 501px) and (max-width: 700px) {
      width: 44px;
      height: 43px;
      margin-right: 15px;
    }

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__content_two {
    background-color: #e7e6e4;
    padding: 32px 72px 43px 120px;

    @media (min-width: 501px) and (max-width: 960px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 500px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .gov-program__title {
      margin-bottom: 23px;
    }

    .link {
      margin-right: 47px;

      @media (max-width: 700px) {
        margin-bottom: 10px;
      }

      @include clearfix;

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }

      &__icon-basketball-ball {
        width: 19px;
        height: 19px;
        margin-right: 10px;
        vertical-align: bottom;
      }

      &__icon-football-player {
        width: 25px;
        height: 27px;
        margin-right: 5px;
        vertical-align: middle;
      }

      &__icon-football-player,  &__icon-basketball-ball {
        display: inline-block;

        @media (max-width: 700px) {
          float: left;
        }
      }
    }
  }

  &__content_three {
    padding: 40px 0 28px 40px;
  }

  a {
    outline: none;
  }



  // DROPDOWN
  &__icon-close {
    display: none;
    position: absolute;
    width: 11px;
    height: 11px;
    right: 0;
    top: 22px;
    fill: $color-link;
    transition: all .5s ease;

    @media (max-width: 700px) {
      top: 13px;
    }

    &:hover {
      fill: $color-black;
    }
  }

  .dropdown {
    padding-left: 40px;

    &_active {
      background-color: $color-white !important;
    }

    &__content_db {
      display: block;
    }

    &_b {
      border-top: 1px solid rgba(0, 97, 160, .2);
      background-color: #f6f6f5;

      @media (min-width: 501px) and (max-width: 960px) {
        padding: 0 15px;
      }

      @media (max-width: 500px) {
        padding: 10px 15px;
      }
    }

    &__btn_b {
      color: $color-link;
      font-family: $PFDinCondensedPro;

      &::after {
        border-top-color: $color-link;
      }

      @media (min-width: 701px) and (max-width: 960px) {
        font-size: 15px;
        padding-right: 15px;
      }

      @media (min-width: 501px) and (max-width: 700px) {
        line-height: 16px;
        font-size: 14px;
        padding: 13px 15px 13px 0;
      }

      @media (max-width: 500px) {
        font-size: 14px;
        padding-right: 15px;
        line-height: 1em;
      }
    }

    &__btn_active {

      &::after {
        display: none;
      }

      .gov-program__icon-close {
        display: block;
      }
    }
  }

  .table1, .table2 {
    margin-bottom: 70px;
    padding-right: 38px;

    @media screen and (max-width: 1100px) {
      min-width: 1000px;
    }
  }

 .table-wrapper {
    @media screen and (max-width: 1100px) {
      overflow-x: scroll;
    }
  }

  .analityc-control-buttons, .analityc-control-switcher {
    margin-top: 22px;
    margin-bottom: 50px;
  }

  .analityc-control-buttons {
     margin-right: 30px;

     @media screen and (max-width: 600px) {
       margin-bottom: 0;
     }
  }


  .analityc-control-switcher {
    @media screen and (max-width: 600px) {
      margin-bottom: 30px;
      margin-right: 15px;
    }
  }

  .gov-program__tasks .text:nth-child(n+3) {
    display: none;
  }

  .link_bottom {
    margin-top: 30px;
    margin-bottom: 740px;
  }
}
