.gov-program {
  font-family: $PFDinTextPro;

  .page-header {
    margin-bottom: 40px;
  }

  .link {
    text-decoration: underline;
    font-family: $PFDinTextPro;

    &_dashed {
      text-decoration: none;
    }
  }

  .d-si__quiz-container {
    padding-bottom: 0;

    &_head {
      padding: 16px 0 22px 37px;

      @media (min-width: 501px) and (max-width: 700px) {
        font-size: 18px;
      }

      @media (max-width: 500px) {
        font-size: 18px;
        padding-left: 15px;
      }

      &::after {
        @include clearfix;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.2em;
      }
    }

    &_body {
      padding-top: 40px;
      padding-left: 0;
      font-family: $PFDinCondensedPro;

      @media (max-width: 760px) {
        padding-right: 0;
      }
    }
  }



  &__head {
    border-bottom: 1px solid #e6e6e6;
    padding: 0 191px 37px 40px;

    @media (min-width: 501px) and (max-width: 960px) {
      padding-right: 40px;
    }

    @media (max-width: 500px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__description {
    font-family: $PFDinTextPro;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 11px;
    letter-spacing: 0.0058em;
    padding-left: 2px;
  }

  &__content_one {
    padding: 41px 0 89px 101px;

    @media (min-width: 501px) and (max-width: 960px) {
      padding-left: 40px;
    }

    @media (max-width: 500px) {
      padding: 40px 15px;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: top;

    &_one {
      width: 57%;
      margin-right: 39px;

      @media (max-width: 960px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
      }

      .gov-program__title, .link {
        margin-left: 20px;
      }

      .link {
        line-height: 20px;
        letter-spacing: 0.007em;
        margin-top: 2px;
      }
    }

    &_two {
      width: 37%;

      @media (max-width: 960px) {
        width: 100%;
      }

      .link {
        margin-bottom: 40px;
        margin-top: 1px;
        line-height: 20px;
        letter-spacing: 0.007em;
        padding-right: 25px;
      }

      &::after {
        @include clearfix;
      }

      .gov-program__title {
        margin-bottom: 13px;
      }
      .alternative-link {
        margin-right: 21px;
        padding-bottom: 6px;
      }
    }
  }

  &__tasks, &__objectives {
    margin-top: 12px;
    counter-reset: myCounter;
  }

  .text {
    font-size: 16px;
    margin-bottom: 12px;
    list-style: none;
    position: relative;
    padding-left: 20px;
    line-height: 22px;
    font-family: PFDinTextPro;
    letter-spacing: 0.007em;

    &::before {
      position: absolute;
      left: -2px;
      counter-increment: myCounter;
      content:counter(myCounter) '. ';
      color: #999999;
      font-size: 16px;
    }

    &:last-child {
      &::before {
        left: -8px;
      }
    }

    &::after {
      @include clearfix;
    }
  }

  &__objectives {
    margin-bottom: 51px;

    .text:last-child::before {
      left: -2px;
    }
  }

  &__person {
    float: left;
    margin-right: 21px;
  }

  &__person-descr {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 47px;
    font-family: $PFDinTextPro;
    padding-left: 80px;
    letter-spacing: 0.007em;

    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
    }
  }

  &__icon-ball {
    width: 54px;
    height: 53px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;

    @media (min-width: 501px) and (max-width: 700px) {
      width: 44px;
      height: 43px;
      margin-right: 15px;
    }

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__content_two {
    background-color: #e7e6e4;
    padding: 32px 72px 40px 120px;

    @media (min-width: 501px) and (max-width: 960px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 500px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    .gov-program__title {
      margin-bottom: 20px;
    }

    .link {
      margin-right: 50px;
      letter-spacing: 0.007em;

      @media (max-width: 700px) {
        margin-bottom: 10px;
      }

      @include clearfix;

      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }

      &__icon-basketball-ball {
        width: 19px;
        height: 19px;
        margin-right: 12px;
        vertical-align: sub;
      }

      &__icon-football-player {
        width: 25px;
        height: 27px;
        margin-right: 5px;
        vertical-align: middle;
      }

      &__icon-football-player,  &__icon-basketball-ball {
        display: inline-block;

        @media (max-width: 700px) {
          float: left;
        }
      }
    }
  }

  &__content_three {
    padding: 48px 0 24px 40px;
    letter-spacing: 0.007em;

    .gov-program__title {
      display: inline-block;
      vertical-align: middle;
      margin-right: 28px;
    }

    .analityc-control-group._stages {
      vertical-align: middle;
      width: 31.7%;
      font-weight: 500;

      .analityc-select {
        background-color: $color-white;
        letter-spacing: -0.4px;
      }
    }
  }

  // DROPDOWN
  &__icon-close {
    display: none;
    position: absolute;
    width: 11px;
    height: 11px;
    right: 0;
    top: 17px;
    fill: $color-link;
    transition: all .5s ease;

    @media (max-width: 700px) {
      top: 13px;
    }

    &:hover {
      fill: $color-black;
    }
  }

  .dropdown_active:nth-child(3) {
    border-top: none;
  }

  .dropdown {
    padding-left: 40px;

    &_active {
      background-color: $color-white !important;
    }

    &__content_db {
      display: block;
    }

    &_b {
      border-top: 1px solid rgba(0, 97, 160, .2);
      background-color: #f6f6f5;

      @media (min-width: 501px) and (max-width: 960px) {
        padding: 0 15px;
      }

      @media (max-width: 500px) {
        padding: 10px 15px;
      }
    }

    &__btn_b {
      color: $color-link;
      font-family: $PFDinCondensedPro;
      height: inherit;
      padding: 12px 25px 18px 0;
      line-height: normal;
      letter-spacing: -.092px;

      &::after {
        border-top-color: $color-link;
        top: 39%;
        margin-top: 0;
      }

      @media (min-width: 701px) and (max-width: 960px) {
        font-size: 15px;
        padding-right: 15px;
      }

      @media (min-width: 501px) and (max-width: 700px) {
        line-height: 16px;
        font-size: 14px;
        padding: 13px 15px 13px 0;
      }

      @media (max-width: 500px) {
        font-size: 14px;
        padding-right: 15px;
        line-height: 1em;
      }
    }

    &__btn_active {

      &::after {
        display: none;
      }

      .gov-program__icon-close {
        display: block;
      }
    }
  }

  .table1, .table2 {
    margin-bottom: 72px;
    padding-right: 38px;

    @media screen and (max-width: 1100px) {
      min-width: 1000px;
    }
  }

 .table-wrapper {
    @media screen and (max-width: 1100px) {
      overflow-x: scroll;
    }
  }

  .analityc-control-buttons, .analityc-control-switcher {
    margin-top: 22px;
    margin-bottom: 50px;
    font-family: $PFDinCondensedPro;

    a {
      padding: 0 14px;

      &:last-child {
        padding: 0 13px;
      }
    }
  }

  .analityc-control-buttons {
     margin-right: 39px;

     @media screen and (max-width: 600px) {
       margin-bottom: 0;
     }
  }

  .analityc-graphics.active, .analityc-table.active{
    display: block;
  }

  .analityc-graphics, .analityc-table {
    display: none;
  }

  .analityc-control-switcher {
    @media screen and (max-width: 600px) {
      margin-bottom: 30px;
      margin-right: 15px;
    }
  }

  .gov-program__tasks .text:nth-child(n+3) {
    display: none;
  }

  .link_bottom {
    margin: 30px 0 740px 38px;
    font-size: 12px;
  }

  .analityc-graphics {
    text-align: justify;
    font-size: 1px;
    margin-bottom: 75px;


    &__col {
      width: 27%;
      display: inline-block;
      vertical-align: top;
      text-align: center;
      margin: 0 15px;
    }

    &__year {
      font-size: 16px;
    }

    &__graphic {
      height: 270px;

      &_round {
        margin-top: 11px;
        width: 100%;
        background-color: #ccc;
        display: inline-block;
      }
    }
  }

  .legend {
    margin-top: 28px;

    &__item {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      font-family: $PFDinTextPro;
      display: inline-block;
      vertical-align: top;
      margin-bottom: 17px;
      width: 33%;
      padding-left: 34px;
      position: relative;
      height: 1.2em;
      text-align: left;
      width: 100%;
    }
  }
}
