include ../../blocks/icon/icons
include ../../blocks/link/link
include ../../blocks/alternative-link/alternative-link
include ../../blocks/button/button
include ../../components/page-header/page-header

mixin services_gov_program()
  .main._basic
    +b.SECTION.gov-program.basic-budget
      .wrapper
        +page-header('Результаты реализации государственных программ', 'сервисы')
        .d-si__quiz-container
          .d-si__quiz-container_head
            +icon('soccer-ball').icon-ball
            span 
              | Государственная программа города Москвы&nbsp;
              br
              | «Спорт Москвы» на 2012–2018 годы
          .d-si__quiz-container_body
            +e.head
              +e.H4.title Описание программы
              +e.P.description
                | Государственная программа города Москвы «Спорт Москвы» на 2012-2018 года
                | является комплексом мероприятий, направленных на создание и обеспечение современной
                | и доступной спортивной инфраструктуры, популяризацию спортивного образа жизни и
                | привлечение жителей города Москвы к регулярным занятиям спортом, а также воспитание
                | и подготовка спортивного резерва и развитие спорта высших достижений 
            +e.content_one
              +e.col_one
                +e.H4.title Цели
                +e.OL.objectives
                  li.text Увеличение числа жителей города Москвы, занимающихся физической культурой и спортом
                  li.text Достижение московскими спортсменами наивысших спортивных результатов
                +e.H4.title Задачи
                +e.OL.tasks
                  li.text Обеспечение жителей города Москвы возможностями для удовлетворения потребностей в занятиях физической культурой и спортом и участия в физкультурных, спортивных и массовых спортивно-зрелищных мероприятиях
                  li.text Популяризация физической культуры и спорта среди жителей города Москвы всех возрастных групп, в том числе лиц с ограниченными возможностями здоровья и инвалидов.
                  li.text Совершенствование системы физического воспитания детей и молодежи.
                  li.text Модернизация системы подготовки специалистов в области физической культуры и спорта.
                  li.text Совершенствование взаимодействия физкультурно-спортивных организаций города Москвы с органами исполнительной власти города Москвы и органами местного самоуправления внутригородских муниципальных образований в городе Москве по привлечению жителей города Москвы к регулярным занятиям физической культурой и спортом.
                  li.text Развитие спорта высших достижений, в том числе повышение результативности выступления московских спортсменов в составе сборных команд Российской Федерации на Олимпийских играх, Паралимпийских играх и Сурдлимпийских играх, Всемирной универсиаде, чемпионатах и кубках мира, чемпионатах и кубках Европы, официальных значимых физкультурных, спортивных и массовых спортивно-зрелищных мероприятиях.
                  li.text Приоритетное развитие видов спорта, входящих в программы Олимпийских игр, Паралимпийских игр и Сурдлимпийских игр.
                  li.text Совершенствование системы подготовки московских спортсменов высокого класса, осуществление научно-методического, медико-биологического, антидопингового и информационно-технологического обеспечения подготовки спортивного резерва
                  li.text Расширение сети объектов спорта, в том числе уникальных и специализированных, строительство и реконструкция спортивных объектов по приоритетным видам спорта.
                  li.text Развитие материально-технической базы организаций, подведомственных Москомспорту, в том числе обеспечение их доступности для лиц с ограниченными возможностями здоровья и инвалидов, совершенствование системы эксплуатации и содержания существующих объектов спорта
                +link()._dashed Показать все 10 задач государственной программы
              +e.col_two
                +e.H4.title Координатор
                +e.IMG(src='../assets/images/Gorbenko.jpg').person
                +e.P.person-descr
                  | Заместитель Мэра Москвы в Правительстве Москвы по вопросам
                  | региональной безопасности и информационной политики
                  span Горбенко А.Н.
                +e.H4.title Ответственный исполнитель
                +link() Департамент физической культуры и спорта города Москвы
                +alternative-link('Перейти на страницу государственной программы «Спорт москвы»', 'раздела «Бюджет москвы» ')
            +e.content_two
              +e.H4.title Подпрограммы
              +link() Массовая физкультурно-спортивная работа
                +icon('basketball-ball').icon-basketball-ball
              +link() Подготовка спортивного резерва, развитие спорта высших достижений
                +icon('football-player').icon-football-player
            +e.content_three
              +e.H4.title Этапы реализации
              //-селект
          .dropdown.dropdown_b
            a(href="#").dropdown__btn.dropdown__btn_y.dropdown__btn_b.dropdown__btn_active Конечные результаты государственной программы
              .d-si__quiz-container_head-cross_dropdown
            .dropdown__content.dropdown__content_db
          .dropdown.dropdown_b
            a(href="#").dropdown__btn.dropdown__btn_y.dropdown__btn_b Финансовое обеспечение государственной программы
            .dropdown__content
          .dropdown.dropdown_b
            a(href="#").dropdown__btn.dropdown__btn_y.dropdown__btn_b Меры государственной поддержки в рамках государственной программы
            .dropdown__content
          .dropdown.dropdown_b
            a(href="#").dropdown__btn.dropdown__btn_y.dropdown__btn_b Публичные нормативные обязательства
            .dropdown__content
          .dropdown.dropdown_b
            a(href="#").dropdown__btn.dropdown__btn_y.dropdown__btn_b Эффективность и результативность государственной программы
            .dropdown__content
