.radio {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #d7d7d7;
  border-radius: 50%;
  height: 14px;
  width: 14px;

  &__control {
    display: none;

    &:checked + .radio__box {
      background-color: transparent;
      border: 5px solid $color-link;

      &::after {
        opacity: 1;
      }
    }
  }

  &__box {
    display: block;
    width: 14px;
    height: 14px;
    will-change: border-color, background-color;
    transition: border-color .25s ease-in-out, background-color .25s ease-in-out;
    border-radius: 50%;
    background-color: transparent;

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: transparent;
      border-radius: 50%;
      opacity: 0;
      will-change: opacity;
      transition: opacity .25s ease-in-out;
    }
  }
}

.radio-alt {
  display: block;
  cursor: pointer;
  padding-left: 20px;
  font-size: 12.5px;
  line-height: 1em;
  position: relative;

  &__control {
    display: none;

    &:checked + .radio-alt__box {
      background-color: $color-link;
      border-color: $color-link;
      
      .radio-alt__box-dot {
        display: block;
      }
    }
  }

  &__box {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: -1px;
    border: 1px solid #d7d7d7;
    border-radius: 50%;
  }
  
  &__box-dot {
    display: none;
    width: 4px;
    height: 4px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background-color: #fff;
  }
}
