include ../../blocks/infographic-card/infographic-card
include ../page-header/page-header

mixin media-infographic()
  +b.SECTION.media-infographic.sections__item&attributes(attributes)
    .wrapper-header
      +page-header('Инфографика', ['Медиацентр'])

    .wrapper.page-content-wrapper
      +e.card-wrapper.load-anim-fade(data-delay="1500")
        +e.col._main
          +infographic-card(1, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
          +infographic-card(2, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
          +infographic-card(3, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
          +infographic-card(1, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
          +infographic-card(2, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
          +infographic-card(3, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
          +infographic-card(1, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
          +infographic-card(2, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
          +infographic-card(3, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
        +e.col._add
          +infographic-card(4, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
          +infographic-card(4, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
          +infographic-card(4, 'Доходы бюджета города Москвы.', '1 апреля 2016').A(href="#").__card
      +e.A(href="#", data-delay="1700").show-more.d-si__button_show-more.load-anim-fade Показать еще
