.media-infographic {
  display: block;
  background-image: url(../images/bg-press.jpg);
  background-size: 100% auto;
  background-position: center 0;
  background-color: #201728;
  padding-top: 205px;
  padding-bottom: 135px;
  
  @media (max-width: 900px) {
    background-size: 150% auto;
  }
  
  @media (max-width: 580px) {
    background-size: 180% auto;
  }
  
  &__card-wrapper {
    height: 1080px;
    overflow: hidden;
    margin-top: 24px;

    @media (max-width: 900px) {
      height: 2328px;
    }

    @media (max-width: 600px) {
      height: 1185px;
    }
  }
  
  &__content {
    height: auto;
    text-align: justify;
    vertical-align: top;

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.0000000001px;
    }
  }
  
  &__card {
    width: 23%;
    height: 318px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 42px;
    text-align: left;
  }
  
  &__show-more {
    margin: 18px auto 0;
    max-width: 690px;

    @media screen and (max-width: 640px) {
      max-width: 320px;
    }
  }
  
  @media screen and (max-width: 1179px) {
    padding-bottom: 67px;
  }
  
  @media screen and (min-width: 801px) and (max-width: 1179px) {
    padding-top: 274px;

    &__card {
      width: 27%;
    }
  }
  
  @media screen and (max-width: 800px) {
    &__card {
      display: block;
      width: 560px;
      height: 718px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 58px;
    }
    &__content {
      text-align: center;
    }
  }
  
  @media screen and (min-width: 640px) and (max-width: 800px) {
    padding-top: 151px;
    &__card-wrapper {
      margin-top: 29px;
    }
  }
  
  @media screen and (max-width: 639px) {
    padding-top: 95px;
    padding-bottom: 36px;
    &__card-wrapper {
      margin-top: 7px;
    }
    &__card {
      width: 280px;
      height: 366px;
      margin-bottom: 29px;
    }
  }
}
