.media-infographic {
  display: block;
  background-image: url(../images/bg-press.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 205px;
  padding-bottom: 135px;
  
  &__card-wrapper {
    text-align: justify;
    margin-top: 24px;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.0000000001px;
    }
  }
  
  &__col {
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.0000000001px;
    }
    &_main {
      width: 74.2%;
    }
    &_add {
      width: 22.5%;
    }
  }
  
  &__card {
    width: 100%;
    max-width: 247px;
    height: 318px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 42px;
    text-align: left;
  }
  
  &__show-more {
    margin: 18px auto 0;
    max-width: 690px;

    @media screen and (max-width: 640px) {
      max-width: 320px;
    }
  }
  
  @media screen and (max-width: 1179px) {
    padding-bottom: 67px;
    &__col {
      &_main, &_add {
        width: 100%;
        max-width: 990px;
      }
      &_add {
        margin-top: -22px;
      }
    }
  }
  
  @media screen and (min-width: 801px) and (max-width: 1179px) {
    padding-top: 274px;
  }
  
  @media screen and (max-width: 950px) {
    &__col {
      &_main{
        .media-infographic__card:nth-child(n+9) {
          display: none;
        }
      }
      &_add {
        .media-infographic__card:nth-child(n+3) {
          display: none;
        }
      }
    }
  }
  
  @media screen and (max-width: 800px) {
    &__card {
      display: block;
      max-width: 560px;
      height: 718px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 58px;
      &:nth-child(n+4) {
        display: none;
      }
    }
    &__col {
      text-align: center;
    }
    &__col_add {
      display: none;
    }
  }
  
  @media screen and (min-width: 640px) and (max-width: 800px) {
    padding-top: 151px;
    &__card-wrapper {
      margin-top: 29px;
    }
  }
  
  @media screen and (max-width: 639px) {
    padding-top: 95px;
    padding-bottom: 36px;
    .page-head__title {
      font-size: 36px;
    }
    &__card-wrapper {
      margin-top: 7px;
    }
    &__card {
      max-width: 280px;
      height: 366px;
      margin-bottom: 29px;
    }
  }
}
