._analitycs-income {

  .checkbox {
    display: inline-block;
    width: 33%;
    margin-bottom: 17px;

    &__box {
      vertical-align: super;
      margin-right: 5px;
    }

    input:checked + .legend__item {
      color: #b2b2b2;
      opacity: .7;
    }
  }

  .legend {
    margin-top: 35px;

    &__item {
      display: inline-block;
      vertical-align: middle;
      color: $color-black;
      position: relative;
    }

    &__item_pink:before {
      background: #612292;
      background-image: -webkit-linear-gradient(to right,#612292,#bd84e9 65%);
      background-image: linear-gradient(270deg, #612292 0%, #bd84e9 65%);
    }
  }
}
