._analitycs-income {
  
  .analityc-widget_params-income {
    padding-top: 22px;
    padding-bottom: 35px;
    
    .analityc-widgethead {
      min-height: 299px;
    }
    
    .analityc-control-frame {
      
      &_left {
        float: left;
        width: calc(100% - 570px);
        
        @media (max-width: 1140px) {
          width: calc(100% - 550px);
        }
        
        @media screen and (max-width: 1010px) {
          float: none;
          width: 50%;
        }
        
        @media (max-width: 900px) {
          width: 100%;
        }
        
        .analityc-widget__selectbox_year {
          margin-right: 9px;
          display: inline-block;
        }
        
        .analityc-widget__selectbox_month {
          margin-right: 9px;
          display: inline-block;
        }
        
        .analityc-widget__selectbox_stage {
          width: calc(100% - 178px);
          display: inline-block;
          
          @media screen and (max-width: 900px) {
            width: calc(100% - 262px);
          }
          
          @media screen and (max-width: 580px) {
            width: calc(100% - 163px);
          }
        }
      }
      
      &_right {
        position: relative;
        float: right;
        width: 520px;
        
        @media (max-width: 1010px) {
          float: none;
          margin-top: 30px;
        }
        
        @media screen and (max-width: 900px) {
          width: 100%;
          padding-right: 27px;
          margin-top: 50px;
        }
        
        @media screen and (max-width: 580px) {
          padding-right: 17px;
        }
        
        & .frame-wrap {
          @include clearfix;
          
          @media (max-width: 1010px) {
            margin-bottom: 0px;
          }
        }
        
        & .analityc-control-group {
          display: block;
          margin-left: 0;
          
          @media (max-width: 1280px) {
            display: inline-block;
          }
          
          @media (max-width: 1012px) {
            display: block;
          }
          
          &_comparison {            
            @media (max-width: 900px) {
              width: 100% !important;
            }
          }
          
          &_level {
            float: left;
            width: 235px;
            
            @media (max-width: 900px) {
              width: 100%;
            }
          }
          
          &_transfer {
            float: right;
            width: 265px;
            
            @media (max-width: 900px) {
              width: 100%;
            }
          }
        }
        
        .analityc-control-switcher {
          margin-top: 0;
          
          a {
            font-size: 13px;
            padding: 0 12px;
            border-right: 1px solid #0d46a1;
            
            &:last-child {
              border-right: none;
            }
            
            @media screen and (max-width: 900px) {
              font-size: 18px;
              line-height: 52px;
            }
            
            @media screen and (max-width: 800px) {
              width: 100%;
              border-right: 0;
              border-bottom: 1px solid $color-link;
              
              &:last-child {
                border-bottom: 0;
              }
            }
            
            @media (max-width: 580px) {
              font-size: 12px;
              white-space: nowrap;
              padding: 0;
              line-height: 26px;
            }
          }
        }
      }
    }
  }
  
  .checkbox {
    display: inline-block;
    width: 33%;
    margin-bottom: 17px;
    
    &__box {
      margin-top: 3px;
      margin-right: 5px;
    }
    
    input:checked + .legend__item {
      color: #b2b2b2;
      opacity: .7;
    }
    
    @media screen and (max-width: 900px) {
      width: 50%;
    }
    
    @media screen and (max-width: 580px) {
      width: 100%;
    }
  }
  
  .legend {
    margin-top: 35px;
    
    @media screen and (max-width: 700px) {
      height: auto;
    }
    
    &__item {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      font-weight: 400;
      font-size: 14px;
      font-family: $PFDinTextPro;
      height: 21px;
      line-height: 21px;
      
      &:before {
        width: 21px;
        height: 21px;
        border-radius: 21px;
      }
    }
    
    &__item_pink:before {
      background: #612292;
      background-image: -webkit-linear-gradient(to right, #612292, #bd84e9 65%);
      background-image: linear-gradient(270deg, #612292 0%, #bd84e9 65%);
    }
  }
  
  .legend_basket .legend__item {
    margin-bottom: 17px;
    
    @media screen and (max-width: 900px) {
      width: 50%;
    }
    @media screen and (max-width: 580px) {
      width: 100%;
    }
  }
  
  .analityc-graphics-container {
    position: relative;
    
    &_vert-lines, &_bars, &_bars-entired {
      @media screen and (max-width: 1100px) {
        .analityc-graphics-scroll-hider {
          overflow: hidden;
        }
        .analityc-graphics-wrapper {
          overflow-x: auto;
        }
        .analityc-graphics__slide-arrows {
          display: block;
        }
        .analityc-graphics-line-vertical, .analityc-graphics-bars {
          min-width: 1100px;
        }
      }
    }
  }
  
  .analityc-graphics__slide-arrows {
    position: absolute;
    left: -34px;
    right: -34px;
    top: 50%;
    margin-top: -25px;
    display: none;
    
    @media screen and (max-width: 580px) {
      left: -20px;
      right: -20px;
    }
  }
  
  .analityc-graphics-wrapper {
    margin-bottom: -20px;
    padding-bottom: 20px;
  }
  
  .analityc-graphics-line-vertical {
    display: block;
  }
  
  .analityc-widgethead [data-control] {
    display: none;
    
    &.active {
      display: block;
    }
  }
  
  .analityc-widgethead {
    @media screen and (max-width: 768px) {
      padding-bottom: 30px;
    }
  }
}



.analityc-widget-income {
  display: none;
  
  &.active {
    display: block;
  }
}
