include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/checkbox/checkbox
include ../../blocks/legend/legend
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/slide-arrows/slide-arrows

mixin depfin_analytics_income()
	section.main._basic._analitycs-income.basic-budget.sections__item
		.wrapper-header
			+page-header('Доходы бюджета', ['Аналитика'], true)
		.wrapper.wrapper_params-income
			.analityc-widget.analityc-widget_params-income.load-anim-fade(data-delay="1500")
				+analityc-widgethead-analityc-income()
				.analityc-widget-income.analityc-widget-income_pace(data-type='g1', data-comparison='overall')
					.analityc-graphics-container.analityc-graphics-container_vert-lines
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-line-vertical-alt(getData('graphic-lines-analityc-income'))
				.analityc-widget-income.analityc-widget-income_share(data-type='g2', data-comparison='overall').active
					.analityc-graphics-container.analityc-graphics-container_bars
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars(getData('legend-analityc-bar1'))
				.analityc-widget-income.analityc-widget-income_done(data-type='g3', data-comparison='overall')
					.analityc-graphics-container.analityc-graphics-container_bars
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars(getData('legend-analityc-bar2'))
				.analityc-widget-income.analityc-widget-income_pace(data-type='g1', data-comparison='comparative')
					.analityc-graphics-container.analityc-graphics-container_vert-lines
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-line-vertical-alt(getData('graphic-lines-analityc-income'))
				.analityc-widget-income.analityc-widget-income_bars-full(data-type='g2', data-comparison='comparative')
					.analityc-graphics-container.analityc-graphics-container_bars-entired
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars-alt(getData('legend-analityc-bar4'))._entired
				.analityc-widget-income.analityc-widget-income_bars-full(data-type='g3', data-comparison='comparative')
					.analityc-graphics-container.analityc-graphics-container_bars-entired
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars(getData('legend-analityc-bar2'))
				+legend-checkbox(getData('legend-analityc-income')[0])(data-control data-type='g1, g2, g3' data-comparison='overall')
				+legend-basket(getData('legend-analityc-income')[0])(data-control data-type='g1, g2, g3' data-comparison='comparative')
				.table-switcher(data-control data-type='g1, g2, g3' data-comparison='overall')
					.analityc-control-switcher.analityc-control-switcher_table.analityc-control-switcher_large.active
						a(href="#").active млн руб.
						a(href="#") млрд руб.
				//+analityc-table-slider(100)._params._rate.active(data-type='g2' data-comparison='overall')
				//	+table-aincome(getData('main'), 'rate')
				//+analityc-table-slider(100)._params._part(data-type='g3' data-comparison='overall')
				//	+table-aincome(getData('main'), 'part')
				//+analityc-table-slider(100)._params._exe(data-type='g1' data-comparison='overall')
				//	+table-aincome(getData('main'), 'exe')
				+analityc-table-slider(100, false, true)._gp._rate.active(data-type='g2' data-comparison='overall')
					+table-gp(getData('main'), true, false, 'rate')
				+analityc-table-slider(100, false, true)._gp._part(data-type='g3' data-comparison='overall')
					+table-gp(getData('main'), true, false, 'part')
				+analityc-table-slider(100, false, true)._gp._exe(data-type='g1' data-comparison='overall')
					+table-gp(getData('main'), true, false, 'exe')
				a(href="/").analityc-more Перейти в&nbsp;раздел бюжет москвы
		+dropdown().load-anim-fade(data-delay="1700")
