include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/checkbox/checkbox
include ../../blocks/legend/legend
include ../../blocks/dropdown-block/dropdown-block
include ../../blocks/slide-arrows/slide-arrows

mixin depfin_analytics_income()
	section.main._basic._analitycs-income.basic-budget.sections__item
		.wrapper-header
			+page-header('Доходы бюджета', ['Аналитика'], true)
		.wrapper.wrapper_params-income
			.analityc-widget.analityc-widget_params-income.load-anim-fade(data-delay="1500")
				+analityc-widgethead-analityc-income()
				.analityc-widget-income.analityc-widget-income_pace(data-type='g1', data-comparison='overall')
					.analityc-graphics-container.analityc-graphics-container_vert-lines
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-line-vertical-alt(getData('graphic-lines-analityc-income'))
					+legend-checkbox(getData('legend-analityc-income'))
				.analityc-widget-income.analityc-widget-income_share(data-type='g2', data-comparison='overall').active
					.analityc-graphics-container.analityc-graphics-container_bars
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars(getData('legend-analityc-bar1'))
					+legend-checkbox(getData('legend-analityc-income'))
				.analityc-widget-income.analityc-widget-income_done(data-type='g3', data-comparison='overall')
					.analityc-graphics-container.analityc-graphics-container_bars
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars(getData('legend-analityc-bar2'))
					+legend-checkbox(getData('legend-analityc-income'))
				.analityc-widget-income.analityc-widget-income_bars-full(data-type='g1, g2, g3', data-comparison='comparative')
					.analityc-graphics-container.analityc-graphics-container_bars-entired
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars-alt(getData('legend-analityc-bar4'))._entired
					+legend-basket(getData('legend-analityc-income-short')[0])
				//.analityc-widget-income.analityc-widget-income_bars(data-type='g1, g2, g3', data-comparison='comparative')
					.analityc-graphics-container.analityc-graphics-container_bars-entired
						+slide-arrows().analityc-graphics__slide-arrows
						.analityc-graphics-scroll-hider
							.analityc-graphics-wrapper(data-offset='100')
								+analityc-graphics-bars-alt(getData('legend-analityc-bar5'))._entired
					+legend-basket(getData('legend-analityc-income-short')[1])
				+analityc-table-slider(100)._params
					+table-aincome(getData('main'))
				a(href="/").analityc-more Перейти в&nbsp;раздел бюжет москвы
		+dropdown().load-anim-fade(data-delay="1700")
