/*
.sections
.over-layer
.wrap
.ahead
.load-anim
.share
.letter
.arrow
.dropdown__content
*/

.sections__item {
    position: relative;
    /*padding-bottom: 1px;*/
}
// .sections__item_first {
//     padding-top: 225px;
// }
.sections-budget {
    background: #061B48;
}
.sections-budget__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/background/budget_dark.jpg) no-repeat 50% 0;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
}
.over-layer {
    position: relative;
    z-index: 2;
}
// .wrap {
//     max-width: 1174px;
//     margin: 0 auto;
// }
// .wrap_sh {
//     max-width: 1100px;
// }
.ahead {
    margin-bottom: 40px;
}
.ahead__title {
    font-family: 'pf_din_text_comp_pro';
    font-size: 72px;
    font-weight: 500;
    text-transform: uppercase;
    float: left;
    margin-right: 20px;
    color: #fff;
}
.load-anim-fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.load-anim-fade_on {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
.ahead__star {
    float: left;
    margin: 5px 14px 0 0;
}
.load-anim-fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.load-anim-fade_on {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
a {
    -webkit-appearance: none;
}
.ahead__star-btn {
    display: block;
    width: 22px;
    height: 22px;
    position: relative;
}
.ahead__star-btn:before, .ahead__star-btn:after {
    display: block;
    content: "";
    width: 22px;
    height: 22px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
}
.ahead__star-btn:before {
    background-position: -62px -112px;
}
.ahead__star-btn:after {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    background-position: -101px -65px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.ahead__share {
    float: left;
    margin-top: 6px;
    margin-right: 16px;
    position: relative;
}
.load-anim-fade {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.load-anim-fade_on {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}
button, input[type="submit"] {
    cursor: pointer;
}
.ahead__share-btn {
    display: block;
    position: relative !important;
    width: 16px !important;
    height: 20px !important;
    background: none !important;
}
.ahead__share-btn:before, .ahead__share-btn:after {
    display: block;
    content: "";
    width: 16px;
    height: 20px;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: 0;
}
.ahead__share-btn:before {
    background-position: -133px -66px;
}
.share__panel {
    height: 58px;
    background: #0E5FCE;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 58px;
    display: none;
}
.ahead__share .share__panel {
    width: 160px !important;
    background: none !important;
    left: -18px !important;
    height: 45px !important;
    line-height: 40px !important;
}
.share__a {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin: 0 15px;
    vertical-align: middle;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.share__a_fb {
    background-position: 5px -63px;
}
.share__a_vk {
    background-position: -19px -63px;
}
.share__a_tw {
    background-position: -47px -63px;
}
.share__a_ok {
    background-position: -75px -63px;
}
.ahead__share .share__a {
    margin: 0 5px !important;
}
.ahead:after {
    display: block;
    width: 100%;
    content: "";
    clear: both;
}
.wrap:after {
    display: block;
    width: 100%;
    content: "";
    clear: both;
}


/*Letter Slider*/
.letter__line { list-style: none; margin-bottom: 45px; }

.letter__line:after { display: block; width: 100%; content: ""; clear: both; }

.letter__line-item { float: left; height: 40px; border-bottom: 2px solid #eee; border-bottom: 2px solid rgba(255, 255, 255, 0.2); -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }

.letter__line-item_first .letter__btn { padding-left: 3px; }

.letter__line-item_last .letter__btn { padding-right: 3px; }

.letter__line-item_active { border-bottom: 2px solid #fff !important; }

.letter__line-item_current button { color: #FFF !important; }

.letter__line-arrow { display: none; }

.letter__btn { height: 40px; font-size: 30px; font-family: 'pf_din_text_comp_pro'; font-weight: 500; color: #fee300; padding: 0 12px; text-transform: uppercase; padding-bottom: 40px; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }

.letter__btn:hover { color: #FFF; }
.letter__btn:focus { color: #FFF; }
.letter__slider { overflow: auto; position: relative; -webkit-overflow-scrolling: touch;min-height: 500px; padding-bottom: 65px; -webkit-mask-image: -webkit-linear-gradient(left, transparent 0.5%, black 7%, black 93%, transparent 99.5%); cursor: pointer; cursor: -webkit-grab; cursor: -moz-grab; cursor: grab; overflow-x: scroll; overflow-y: hidden; margin-bottom: -20px;}

.letter__track { position: relative; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; padding: 0 0 0 15px;}

.letter__track:after { display: block; width: 100%; content: ""; clear: both; }

.letter__item { float: left; width: 275px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 35px; }

.letter__char { font-family: 'pf_din_text_comp_pro'; font-size: 72px; color: #FFF; height: 100px; }

.letter__dropdown { font-family: 'pf_dintext_pro'; margin-bottom: 16px;
    /*Добавлен из за конфликта с basic_budget_figures*/
    border-top: none;
}

.letter-slider-container { overflow: hidden; position: relative; }

.letter__dropdown.dropdown_active .letter__a {color: #fff; font-weight: 700;}

.letter__dropdown .dropdown__close { color: #fee300; font-size: 12px; }

.letter__dropdown .dropdown__content { padding: 15px 0 25px; }

.letter__dropdown a.letter__a { text-transform: none; font-weight: normal;font-size: 16px; line-height: 20px; color: #fee300; text-decoration: none; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; padding: 0;}

body .letter .letter__a:hover { color: #FFF; }

.letter__tit { font-size: 16px; color: #FFF; font-weight: 700; line-height: 20px; margin-bottom: 6px; }

.letter__p { font-size: 14px; color: #FFF; line-height: 20px; }

.letter__hover { position: absolute; height: 100%; width: 121px; z-index: 3; cursor: default; }

.letter__hover_left { left: 0; width: 89px;}

.letter__hover_right { right: 0; }


button, input[type="submit"] {
    cursor: pointer;
}
.arrow {
    display: block;
    font-size: 0;
    width: 45px;
    height: 45px;
    background: #fee300;
    position: relative;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}
.arrow_m {
    width: 40px;
    height: 40px;
}

.dropdown__content {
    display: none;
    position: relative;
    padding-bottom: 1px;
}

.dropdown__close {
    position: absolute;
    bottom: 0;
    left: 0;
}


/*+++++++++++++++++*/

// @media (max-width: 1254px) { .wrap { margin: 0 40px; }
//   .wrap_sh { margin: 0 88px; } }

// @media (max-width: 900px) { .wrap { margin: 0 30px; }
//   .wrap_sh { margin: 0 66px; } }

// @media (max-width: 700px) { .wrap { margin: 0 20px !important; } }


@media (max-width: 1180px) { .ahead__star-btn { background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; background-position: -62px -113px; }
  .ahead__share { margin-top: 7px; }
  .ahead__share-btn:after { display: none !important; }
  .ahead__share .share__panel { left: -30px !important; top: 88%; } }

@media (max-width: 900px) { .ahead { margin-bottom: 20px; }
  .ahead__title { font-size: 36px; } }

@media (max-width: 430px) { .ahead__share .share__panel { left: -113px !important; } }


@media (max-width: 900px) and (max-height: 610px) and (min-height: 500px) { .share__btn { width: 30px; height: 30px; line-height: 30px; }
  .share__btn:after { width: 12px; height: 13px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; background-position: -21px -43px; }
  .share__btn_act:after { background-position: -40px -43px; }
  .share__panel { height: 30px; line-height: 30px; }
  .share__a { height: 15px; width: 15px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; }
  .share__a_vk { background-position: -21px -64px; }
  .share__a_tw { background-position: -48px -64px; }
  .share__a_ok { background-position: -77px -64px; } }

@media (max-width: 700px) { .share__btn { width: 30px; height: 30px; line-height: 30px; }
  .share__btn:after { width: 12px; height: 13px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; background-position: -21px -43px; }
  .share__btn_act:after { background-position: -40px -43px; }
  .share__panel { height: 30px; line-height: 30px; }
  .share__a { height: 15px; width: 15px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; }
  .share__a_vk { background-position: -21px -64px; }
  .share__a_tw { background-position: -48px -64px; }
  .share__a_ok { background-position: -77px -64px; } }

@media (max-width: 1180px) {
  .letter__btn { font-size: 27px; padding-bottom: 0; color: #fee300 !important; }
  .letter__line-arrow { display: none; float: left; height: 40px; position: relative; top: 2px; }
  .letter__line-arrow_l { margin-right: 22px; }
  .letter__line-arrow_r { margin-left: 22px; }
  .letter__line-item { margin-bottom: 15px; }
  .letter__hover { width: 88px; }
  .letter__hover_left {width: 32px;}
}

@media (max-width: 799px) {
  .letter__hover { display: none; }
}

@media (max-width: 700px) {
  .letter__btn {
    /*!important из за неправильного переопределения медиа запросов*/
    font-size: 14px !important;
    height: 20px;
    padding: 0 6px;
  }
  .letter__line { margin-left: 30px; margin-right: 30px; }
  .letter__line-item { height: 20px; margin-bottom: 5px; }
  .letter__line-arrow { height: 20px; }
  .letter__line-arrow_l { margin-right: 10px; }
  .letter__line-arrow_r { margin-left: 10px; }
  .letter__item { width: 125px; padding-right: 15px; }
  .letter__char { font-size: 36px; height: 50px; }
  body .letter .letter__a, .letter__tit, .letter__p { font-size: 12px; line-height: 18px;}
  .letter__slider { min-height: 300px; -webkit-mask-image: -webkit-linear-gradient(left, transparent 0.5%, black 10%, black 85%, transparent 99.5%); }
  .letter__hover { width: 50px; }
}


@media (max-width: 700px) { .arrow { width: 28px; height: 28px; }
  .arrow:after { width: 8px; height: 13px; top: 8px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; }
  .arrow_left:after { left: 9px !important; background-position: -30px -118px; }
  .arrow_left.arrow_m:after { left: 7px !important; background-position: -30px -119px; }
  .arrow_right:after { right: 10px !important; background-position: -43px -118px; }
  .arrow_right.arrow_m:after { right: 7px !important; background-position: -46px -119px; }
  .arrow_m { width: 20px; height: 20px; }
  .arrow_m:after { width: 5px; height: 10px; top: 5px; } }