mixin glossary()
  //- +b.glossary&attributes(attributes)
  //- .sections
  .sections__item.sections__item_first.sections-budget
    .sections-budget__bg
    .over-layer
      .wrap.wrap_sh
        .ahead.xs-ml-30
          h1.ahead__title.load-anim-fade(data-delay="1300") Глоссарий
          .ahead__star.load-anim-fade(data-delay="1800")
            a(href="main-log.html", title="Добавить в избранное").ahead__star-btn
          .ahead__share.load-anim-fade(data-delay="2100")
            button.ahead__share-btn.share__btn
            .share__panel(tilte="Поделиться")
              a(href="#", tabindex="0" title="facebook").share__a.share__a_fb
              a(href="#", tabindex="0" title="ВКонтакте").share__a.share__a_vk
              a(href="#", tabindex="0" title="Twitter").share__a.share__a_tw
              a(href="#", tabindex="0" title="Одноклассники").share__a.share__a_ok
      .letter.load-anim-fade(id="letters-slider", data-delay="2700")
        .wrap.wrap_sh
          ul.letter__line
            li.letter__line-arrow.letter__line-arrow_l
              button(data-arrow="left").arrow.arrow_left.arrow_m
            li(data-index='0').letter__line-item.letter__line-item_first.letter__line-item_active.letter__line-item_current
              button.letter__btn а
            li(data-index='1').letter__line-item.letter__line-item_active
              button.letter__btn б
            li(data-index='2').letter__line-item.letter__line-item_active
              button.letter__btn в
            li(data-index='3').letter__line-item.letter__line-item_active
              button.letter__btn г
            li.letter__line-item
              button.letter__btn д
            li.letter__line-item
              button.letter__btn е
            li.letter__line-item
              button.letter__btn з
            li.letter__line-item
              button.letter__btn и
            li.letter__line-item
              button.letter__btn к
            li.letter__line-item
              button.letter__btn л
            li.letter__line-item
              button.letter__btn м
            li.letter__line-item
              button.letter__btn н
            li.letter__line-item
              button.letter__btn о
            li.letter__line-item
              button.letter__btn п
            li.letter__line-item
              button.letter__btn р
            li.letter__line-item
              button.letter__btn с
            li.letter__line-item
              button.letter__btn т
            li.letter__line-item
              button.letter__btn у
            li.letter__line-item
              button.letter__btn ф
            li.letter__line-item
              button.letter__btn х
            li.letter__line-item
              button.letter__btn ц
            li.letter__line-item
              button.letter__btn ч
            li.letter__line-item
              button.letter__btn ш
            li.letter__line-item
              button.letter__btn щ
            li.letter__line-item
              button.letter__btn э
            li.letter__line-item
              button.letter__btn ю
            li.letter__line-item.letter__line-item_last
              button.letter__btn я
            li.letter__line-arrow.letter__line-arrow_r
              button(data-arrow="right").arrow.arrow_right.arrow_m
        .letter__slider
          .letter__hover.letter__hover_left(data-direct="left")
          .letter__hover.letter__hover_right(data-direct="right")
          .letter__track
            .letter__item
              .letter__char А
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                button.letter__a.dropdown__btn Обоснование бюджетных ассигнований
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет муниципального образования
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет субъекта Российской Федерации
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Главный администратор источников финансирования дефицита бюджета
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Б
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char В
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Г
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Д
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Е
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char З
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char И
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char К
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Л
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char М
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Н
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char О
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char П
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Р
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char С
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Т
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char У
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Ф
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Х
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Ц
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Ч
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Ш
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Щ
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Э
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Ю
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть

            .letter__item
              .letter__char Я
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Агент фискальный (налоговый)
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Межбюджетные отношения
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
              .dropdown.letter__dropdown
                a(href="#").letter__a.dropdown__btn Бюджет государственного внебюджетного фонда
                .dropdown__content
                  p.letter__tit Администратор источников финансирования дефицита бюджета
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  p.letter__p Орган государственной власти (местного самоуправления), орган управления государственным внебюджетным фондом, иная организация, имеющий(ая) право осуществлять операции с источниками финансирования дефицита бюджета.
                  button.dropdown__close Свернуть
