extends ../../layouts/default
include ../../components/depfin_about_budget_preparation/depfin_about_budget_preparation

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block content
  +depfin_about_budget_preparation()
