.profile-edit {
  display: table;
  width: 100%;
  font-family: $PFDinTextPro;
  font-size: 16px;
  color: $color-white;

  @include respond-to('mobile') {
    display: block;
  }

  &__info {
    display: table-cell;
    width: 65.5%;
    padding: 31px 42px;
    background-color: #1f2935;

    @include respond-to('mobile') {
      display: block;
      width: 100%;
      padding: 31px 15px;
    }
  }

  &__head {
    margin-bottom: 33px;
  }

  &__head-title {
    display: block;
    padding-left: 11px;
    font-family: $PFDinCondensedPro;
    font-size: 30px;
    line-height: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-white;
  }

  &__main {
    padding-left: 14px;
    margin-bottom: 81px;
    @include clearfix();

    @include respond-to('laptop') {
      padding-left: 5px;
    }

    @include respond-to('tablet') {
      padding-left: 5px;
    }

    @include respond-to('mobile') {
      padding-left: 0;
    }
  }

  &__photo {
    float: left;
    position: relative;
    width: 200px;
    height: 200px;
    text-align: center;

    @include respond-to('tablet') {
      margin-bottom: 10px;
    }

    @include respond-to('mobile') {
      float: none;
      margin: 0 auto;
    }
  }

  &__image {
    margin-bottom: 19px;
  }

  &__photo-edit {
    color: #7199c8;
    line-height: 1em;
  }

  &__personal {
    float: left;
    padding-top: 10px;
    margin-left: 35px;

    @include respond-to('laptop') {
      margin-left: 5px;
    }

    @include respond-to('tablet') {
      margin-left: 5px;
    }

    @include respond-to('mobile') {
      float: none;
      margin-left: 0;
    }
  }

  &__nick {
    display: block;
    font-family: $PFDinCondensedPro;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  &__email {
    display: block;
    color: $color-yellow;
    line-height: 1em;
    margin-bottom: 38px;
  }

  &__field {

    &-wrapper {
      margin-bottom: 21px;
      @include clearfix();
    }

    & .text-field__text {
      height: 40px;
      min-width: 188px;
      color: $color-input;
      background-color: $color-white;
    }

    &_fio {
      margin-bottom: 66px;
    }

    &_pass {

      & .text-field__text {
        width: 188px;

        @include respond-to('mobile') {
          width: 100%;
        }
      }
    }

    &_old {
      margin-bottom: 16px;
    }

    &_new {
      float: left;

      @include respond-to('mobile') {
        float: none;
        margin-bottom: 16px;
      }
    }

    &_repeat {
      float: right;
      margin-left: 19px;

      @include respond-to('mobile') {
        float: none;
        margin-left: 0;
      }
    }
  }

  &__note {
    display: block;
    font-size: 14px;
    line-height: 1.2em;
    opacity: .4;
    margin-bottom: 13px;
  }

  &__confirm {
    @include clearfix();
  }

  &__submit,
  &__cancel {
    float: left;

    @include respond-to('mobile') {
      float: none;
      margin-bottom: 16px;
    }

    .button {
      padding: 7px 20px 8px;
      text-transform: uppercase;
      font-family: $PFDinCondensedPro;
    }
  }

  &__cancel {
    margin-left: 13px;

    @include respond-to('mobile') {
      margin-left: 0;
    }
  }

  &__favorite {
    display: table-cell;
    width: 34.5%;
    height: 100%;
  }

}
