include ../page-header/page-header
include ../../blocks/media-card/media-card
include ../../blocks/button/button

mixin press-releases()
	+b.SECTION.press-releases.sections__item&attributes(attributes)
		.wrapper-header

			+e.head
				+page-header('Пресс-релизы', ['Медиацентр', 'Медиаматериалы'], true)

		.wrapper.page-content-wrapper.load-anim-fade(data-delay="1500")
			
			+e.wrapper._three
				+e.content
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					//- hidden
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще