.gov-program {
  font-family: $PFDinTextPro;

  &_list-page {
    padding-bottom: 60px;

    @media (max-width: 768px) {
      padding-bottom: 0;
    }

    @media (max-width: 639px) {
      .page-header { margin-bottom: 10px !important; }
    }
  }

  &__main-title {
    font-size: 30px;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-family: $PFDinCondensedPro;

    @media (max-width: 639px) {
      font-size: 20px;
    }
  }

  &__head-program-list {
    padding-top: 34px;
    padding-bottom: 40px;

    @media (max-width: 1180px) {
      padding-bottom: 30px;
    }

    @media (max-width: 639px) {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__content {

    @include clearfix;

    &-padding {
      padding-left: 40px;
      padding-right: 40px;

      @media (max-width: 1024px) {
        padding-left: 30px;
        padding-right: 30px;
      }

      @media (max-width: 768px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &_program-list {
      padding-bottom: 58px;

      @media (max-width: 1180px) {
        padding-bottom: 40px;
      }

      @media (max-width: 639px) {
        padding-bottom: 20px;
      }
    }
  }

  &__col {
    &_count_2 {
      width: 50%;

      @media (max-width: 1180px) {
        width: 100%;

        & + & { margin-top: 30px; }
      }

      .gov-program__col-content {
        padding-right: 67px;

        @media (max-width: 900px) {
          padding-right: 0;
        }
      }
    }

    &-heading {
      font-size: 16px;
      line-height: 1.2;
      color: lighten(black, 40%);
      font-family: $PFDinTextPro;
      margin-bottom: 14px;
    }
  }

  &__bottom-link {
    padding-top: 21px;
    padding-bottom: 21px;
    border-top: 1px solid #ccdfec;

    @media (max-width: 570px) {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    &_top {
      border-top: 0;
      border-bottom: 1px solid #e6e6e6;
    }

    .analityc-more {
      margin-top: 0 !important;
      margin-right: 22px;
      font-family: $PFDinCondensedPro;
      font-weight: 500;
      line-height: 1.2em;

      @media (max-width: 639px) {
        font-size: 16px;
      }

      @media (max-width: 570px) {
        font-size: 14px;
      }
    }
  }
}
