
// Программы для второго таба
.tabs__tab {
  position: relative;
}
.govProgram {
  display: none;
  transition: all .25s ease-in-out;
  &.active {
    display: block;
  }

  &__heading {
    border-bottom: 1px solid $color-light-gray;
    padding-bottom: 20px;
    margin-bottom: 30px;
    display: flex;
    
    @media (max-width: 767px){
      display: block;
    }
  }
  &__arrows {
    position: absolute;
    top: 0;
    left: 0;
  }
  &__arr {
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: middle;
    background-color: $color-yellow;
    position: relative;
    cursor: pointer;
    &::after {
      @include pseudo;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 2;
      width: 14px;
      height: 14px;
      border-bottom: 2px solid currentColor;
    }
    &_prev {
      margin-right: 2px;
      &::after {
        left: 8px;
        border-left: 2px solid currentColor;
        transform: rotate(45deg);
      }
    }
    &_next {
      &::after {
        right: 8px;
        border-right: 2px solid currentColor;
        transform: rotate(-45deg);
      }
    }
  }
  &__icon {
    margin-left: 126px;
    display: inline-block;
    vertical-align: middle;
    width: 55px;
    height: 43px;
    &-svg{
      width: 56px;
      height: 42px;
    }
  }
  &__title {
    display: inline-block;
    vertical-align: middle;
    margin-left: 18px;
    font-weight: 500;
    font-family: $PFDinTextPro;
    
    @media (max-width: 767px) {
      display: block;
      margin-left: 0;
      margin-top: 15px;
    }
  }
  &__years {
    font-size: 14px;
    text-transform: uppercase;
  }
  &__header {
    line-height: 30px;
    font-size: 24px;
  }

  &__content {
    display: none;
    &.active {
      display: block;
    }
  }

  &__row {
    margin-bottom: 42px;
    
    @media (max-width: 680px) {
      margin-bottom: 0;
    }
  }

  &__data-item {
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
    width: 24%;
    font-weight: 500;
    
    @media (max-width: 680px) {
      width: 50%;
      margin-bottom: 15px;
    }
    
    &.checked {
      .govProgram__index-units {
        opacity: 1;
      }
    }
  }

  &__data-single{
    margin-bottom: 42px;
  }

  &__index {
    display: table;
    font-size: 46px;
    color: #af3b81;
    
    @media (max-width: 1020px) {
      font-size: 33px;
    }
  }

  &__index-text {
    font-size: 20px;
    padding-right: 10px;
    word-wrap: break-word;
    
    @media (max-width: 1020px) {
      font-size: 16px;
    }
  }

  &__index-value,
  &__index-units {
    display: table-cell;
    vertical-align: bottom;
  }

  &__index-units {
    padding: 0 0 5px 5px;
    font-size: .5em;
    white-space: nowrap;
    transition: opacity .25s ease-in-out;
    opacity: 0;

    @media (max-width: 900px) {
      padding: 0 10px 2px 5px;
    }

    &_small {
      font-size: .3em;
      padding: 0 10px 7px 5px;
      white-space: normal;

      @media (max-width: 900px) {
        padding: 0 10px 2px 5px;
      }

      @media (max-width: 600px) {
        padding: 0 10px 5px 5px;
      }
    }
  }
}



.budget_aip {
  
  .segment-diagram {
    width: 220px;
    height: 220px;
    
    @media screen and (min-width: 769px) and (max-width: 1020px) {
      width: 160px;
      height: 160px;
    }
    @media screen and (min-width: 551px) and (max-width: 768px) {
      width: 270px;
      height: 270px;
    }
    @media screen and (max-width: 550px) {
      width: 216px;
      height: 216px;
    }
    
    &__value {
      @media screen and (min-width: 769px) and (max-width: 1020px) {
        font-size: 10px;
      }
    }
    
    &__value-num {
      @media screen and (min-width: 769px) and (max-width: 1020px) {
        font-size: 28px;
      }
    }
  }
  
  &__page-header {
    .page-head__title {
      letter-spacing: 0;
    }
  }

  .analityc-table_finData {
    display: none;
  }

  .tabs {
    margin-top: 60px;
  }

  // отступ по макету
  // .analityc-widget_aip {
  //   margin-bottom: 70px !important;
  // }

  // круглые графики
  .analityc-graphics_aip {


    .analityc-graphics__col {
      width: 24.5%;
    }
    .analityc-graphics__periodtext {
      z-index: 2;
      width: 50%;
    }

    .legend-icon_svg {
      width: 26px;
      height: 26px;
      display: inline-block;
      margin-top: -8px;
      vertical-align: middle;
    }

    .segment-diagram {
      &__val1 {
        top: -89px;
        left: 113px;
        @media (max-width: 1024px) {
          top: -83px;
          left: 104px;
        }
        @media (max-width: 768px) {
          top: -96px;
          left: 122px;
        }
      }
      &__val2 {
        right: 14px;
      }
      &__val3 {
        top: 55px;
        right: 12px;
      }
      &__val4 {
        top: 117px;
        right: 102px;
        @media (max-width: 1024px) {
          top: 110px;
          right: 91px;
        }
        @media (max-width: 768px) {
          top: 125px;
          right: 107px;
        }
      }
      &__val5 {
        bottom: -62px;
        left: 36px;
        @media (max-width: 1024px) {
          bottom: -57px;
          left: 30px;
        }
        @media (max-width: 768px) {
          bottom: -77px;
          left: 40px;
        }
      }
      &__val6 {
        top: -8px;
        left: 8px;
        @media (max-width: 1024px) {
          left: 6px;
        }
        @media (max-width: 768px) {
          top: -5px;
          left: 9px;
        }
      }
    }
  }

  .legend-icon__circle, .legend-icon__icon {
    margin-right: 9px;
  }

  .analityc-widget {
    @include clearfix;
  }

  .analityc-widget__bottom {
    display: inline-block;
  }

  .analityc-more_results {
    /*float: right;*/
    margin-right: 15px;
  }

  .analityc-table_aip {
    .table__col {
      width: 15%;
      &:first-child {
        width: 40%;
      }
    }
    .table__periodtext {
      right: calc(23.5% - 19px);
      width: 13.5%;
      
      @media (max-width: 1100px) {
        right: calc(15% - 18px);
        width: 15%;
      }
    }
    .table__period-right {
      right: calc(100% - 17px);
    }
    .table__row {
      padding-right: 10%;
      
      @media (max-width: 1100px) {
        padding-right: 0;
      }
    }
  }

  //customize general table
  .table_finresult{
    .table__row{
      padding-right: 0;
    }
    .table__col{
      width: 13%;
      &_unit{
        font-size: 13px;
        &_value{
          font-size: 14px;
          font-weight: normal;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      &:first-child{
        padding-right: 66px;
        width: 35%;
      }
    }
    .table__arrow{
      right: 40px;
    }
    .table__periodtext{
      width: 13%;
      right: calc(13% - 18px);
      
      span {
        padding: 0 5px;
      }
    }
  }
  
  .legend-icon {
    text-align: left;
  }
}

// Стили взяты отсюда: https://dev.mskbudget.hungryboys.ru/budget_income.html
.analityc-widget_aip {
  padding-top: 22px;
  padding-bottom: 35px;
  .swiper-container {
    overflow: visible;
  }
  
  .analityc-control-group {
    
    &_period {
      margin-left: 0;
      width: 110px;
      
      @media screen and (max-width: 900px) {
        margin-top: 30px;
      }
      
      @media screen and (min-width: 581px) and (max-width: 900px) {
        width: 160px;
      }
      
      @media screen and (max-width: 580px) {
        width: 100px;
      }
    }
    
    &_classify, &_gp {
      margin-left: 18px;
      width: 380px;
      
      @media screen and (max-width: 1060px) {
        margin-left: 0;
      }
      
      @media screen and (min-width: 901px) and (max-width: 1060px) {
        width: 420px;
      }
      
      @media screen and (max-width: 900px) {
        width: 100%;
      }
    }
    
    &_gp {
      display: none;
    }
  }

  .analityc-graphics,
  .analityc-table,
  .govPrograms {
    display: none;
    &.active {
      display: block;
    }
  }

  .analityc-control-switcher_default,
  .analityc-control-buttons,
  .analityc-control-switcher_big,
  .analityc-control-group._dp {
    display: none;
    &.active {
      display: inline-block;
    }
  }

  .analityc-graphics_done {
    .analityc-graphics__col {
      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    .analityc-widgethead {
      padding-bottom: 0;
    }

    .analityc-widgethead .analityc-control-switcher {
      position: relative;
      margin-left: 0;

      &_main {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
    .swiper-container {
      overflow: visible;
    }
    .legend-icon__label {
      font-size: 16px;
      display: inline-block;
      width: calc(100% - 84px);
      vertical-align: top;
      padding-top: 9px;
    }

    .legend-icon__item {
      width: 50%;
      display: inline-block;
      vertical-align: top;
    }

    .analityc-control-switcher {
      margin: 0;
      width: 100%;

      a {
        font-size: 15px;
        padding: 0 30px;
        &:first-child {
          width: 64%;
        }
        &:last-child {
          width: 36%;
        }
      }

      &_main {
        width: 85%;
        a {
          padding: 0 10px !important;
          &:first-child {
            width: 44%;
          }
          &:last-child {
            width: 56%;
          }
        }
      }
    }

    .govProgram {
      &__index {
        font-size: 28px;
      }
      &__index-text {
        font-size: 16px;
      }
    }

    .analityc-widget__bottom {
      display: block;
    }
    .analityc-more_results {
      float: none;
    }
    .analityc-more {
      font-size: 16px;
    }
  }
  
  @media (max-width: 640px) {
    .tabs {
      margin-top: 40px;
    }

    .analityc-control-switcher_main {
      a {
        &:first-child {
          width: 100%;
        }
        &:last-child {
          width: 100%;
        }
      }
    }

    .legend-icon__item {
      display: block;
      width: auto;
    }
    .analityc-control-switcher_main {
      width: 80%;
    }
  }
  
  @media (max-width: 580px) {
    .legend-icon__label {
      width: calc(100% - 55px);
      padding-top: 3px;
    }
  }
  
  @media (max-width: 480px) {
    .analityc-control-group {
      margin-left: 0!important;
    }
    .analityc-widgethead .analityc-control-group {
      margin-bottom: 15px;
    }
    div.govProgram__index {
      font-size: 26px;
    }
  }
  @media (max-width: 450px) {
    .analityc-control-switcher_main {
      width: 70%;
    }
    .analityc-control-switcher a {
      font-size: 10px;
      padding: 0 5px;
    }

    .govProgram {
      &__header {
        font-size: 22px;
      }
      &__row {
        margin-bottom: 0;
      }
      &__data-item {
        margin-bottom: 15px;
        width: 50%;
      }
    }
  }
}


@media screen and (max-width: 1140px) {
  .analityc-widget_aip .analityc-graphics_column .analityc-graphics__cols {
    padding-left: 0;
    padding-right: 0;
  }
  .basic-budget .analityc-widget_aip {
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1140px) {
  .analityc-widget_aip .analityc-control-group._dp {
    width: 37.4%;
  }
}

@media screen and (min-width: 761px) and (max-width: 1100px) {
  .analityc-widget_aip .analityc-control-group._dp {
    width: calc(45.2% - 70px);
  }
}

@media (width: 1024px) {

  .analityc-control-buttons,
  .analityc-control-switcher {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 551px) {
  .analityc-widget_aip .analityc-control-group._dp {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .analityc-widget_aip .analityc-control-group._dp {
    width: 100%;
  }
}

@media screen and (min-width: 581px) and (max-width: 760px) {
  .basic-budget .analityc-widget_aip {
    padding: 30px 40px 40px;
  }
}

@media screen and (min-width: 551px) and (max-width: 760px) {
  .analityc-widget_aip .analityc-graphics_round {
    padding-top: 35px;
  }
  .analityc-widget_aip .analityc-graphics_column {
    padding-top: 42px;
  }
  .analityc-widget_aip .analityc-control-group._dp:before {
    top: 21px;
  }
  .analityc-widget_aip .analityc-graphics__legend {
    margin-top: 56px;
    height: inherit;
  }
  .analityc-widget_aip .analityc-more {
    margin-top: 25px;
    // &:before {
    //   right: -33px;
    //   top: 9px;
    // }
  }
}

@media screen and (max-width: 550px) {
  .analityc-widget_aip .analityc-control-group._dp:before {
    top: 5px;
  }
  .analityc-control-buttons+.analityc-control-switcher_large {
    width: 100%;
  }
  .analityc-widget_aip .analityc-more {
    margin-top: 10px;
    font-size: 11px;
    &:before {
      top: 2px;
      right: -11px;
      border-top-width: 3px;
      border-left-width: 4px;
      border-bottom-width: 3px;
    }
  }
  .analityc-widget_aip .analityc-graphics_column {
    padding-top: 17px;
  }
  .analityc-widget_aip .analityc-graphics_singleround {
    padding-top: 17px;
  }
  .basic-budget .analityc-widget_aip {
    padding: 22px 20px 20px !important;
  }
  .analityc-widget_aip .analityc-graphics_round {
    padding-top: 17px;
  }
  .analityc-widget_aip .analityc-graphics__legend {
    margin-top: 23px;
  }
  .analityc-widget_aip .analityc-graphics__graphic_column {
    margin: 0 auto;
  }
  .analityc-widget_aip .analityc-widgethead .analityc-control-buttons {
    margin-top: 17px;
  }
}
