include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block

mixin budget_aip()
  section.main._basic.basic-budget.sections__item.budget_aip
    .wrapper
      +page-header('адресная инвестиционная программа', false, true).budget_aip__page-header

    //- Tab 1
    .wrapper.wrapper_widget
      .analityc-widget.analityc-widget_aip.load-anim-fade(data-delay="1500")
        +analityc-widgethead-aip().analityc-widgethead-aip
        +analityc-graphics-aip('income1')._approved.active
        +analityc-table()._approved
          +table-income(getData('income'))
        +analityc-graphics-column('income1')._changes

        +analityc-table()._changes
          +icon('angle-arrow').section__ar.section__ar_left
          +icon('angle-arrow').section__ar.section__ar_right
          .analityc-table__wrapper
            +table-income(getData('income1'))

        +analityc-graphics-singleround('income2')._done
        +analityc-table()._done
          +table-income(getData('income2'))
        +analityc-graphics-line('Исполнение доходов бюджета на 22.04.2017', getData('graphic-lines-income1'))._date-one
        +analityc-table('Исполнение доходов бюджета на 22.04.2017')._date
          +table-income(getData('income3'))
        +analityc-graphics-line('Исполнение доходов бюджета на 1 февраля 2017', getData('graphic-lines-income2'))._date-two
        a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
    +dropdown().load-anim-fade(data-delay="1700")
