mixin popup-login()
  +b.popup-login&attributes(attributes).popup-window(id="login")
    .tab
      .tab__buttons
        a(href="#tab1").tab__btn.tab__btn_active Войти
        a(href="#tab2").tab__btn Регистрация
      +e.wrap
        +e.P.p С помощью
        +e.UL.social-lg.social-lg
          li.social-lg__item
            a(href="#").social-lg__a.social-lg__a_fb
          li.social-lg__item
            a(href="#").social-lg__a.social-lg__a_tw
          li.social-lg__item
            a(href="#").social-lg__a.social-lg__a_vk
          li.social-lg__item
            a(href="#").social-lg__a.social-lg__a_ok
          li.social-lg__item
            a(href="#").social-lg__a.social-lg__a_g
          li.social-lg__item
            a(href="#").social-lg__a.social-lg__a_ya
          li.social-lg__item
            a(href="#").social-lg__a.social-lg__a_sm
        +e.P.p или
        // TAB/
        .tab__content.tab__content_vis(id="tab1")
          form(action="l.php").login-form
            .login-form__field
              label(for="i-email-2").overlabel e-mail
              input(id="i-email-2", type="email").login-form__text
            .login-form__field.mb-10
              label(for="i-passw").overlabel пароль
              input(id="i-passw", type="password").login-form__text
            .mb-15
              a(href="#restore").open-popup.login-form__a Я забыл пароль
            input(type="submit", value="Войти").login-form__submit
        // /TAB
        // TAB/
        .tab__content(id="tab2")
          form(action="l.php").login-form.mb-25
            .login-form__field
              label(for="i-fio-1").overlabel ФИО
              input(id="i-fio-1", type="email").login-form__text
            .login-form__field
              label(for="i-email-3").overlabel e-mail
              input(id="i-email-3", type="email").login-form__text
            .login-form__field
              label(for="i-passw-1").overlabel пароль
              input(id="i-passw-1", type="password").login-form__text
            input(type="submit", value="Зарегистрироваться").login-form__submit
          +e.caption Нажимая на кнопку «Регистрация», вы подтверждаете свое согласие с условиями предоставления услуг (
            a(href="#agreements").open-popup пользовательское соглашение
            | )
        // /TAB
    a(href="#").close-popup
