include ../../blocks/icon/icons

mixin search-navbar()
  +b.DIV.search-navbar#search-navbar&attributes(attributes)
    .wrap
      +e.FORM(action="#").form
        +e.INPUT.input#search-navbar-input(name="search-navbar-input" placeholder="Введите запрос")
        +e.BUTTON(type="submit").button
          +icon('search').icon
