.search-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // background-color: rgba(black, .45);

  &__form {

  }

  &__input {
    // @include debug;
  }

  &__button {
    // @include debug;
  }
}
