.search-navbar {
  $searchHeight: 40px;

  position: absolute;
  bottom: -$searchHeight;
  left: 0;
  right: 0;
  height: $searchHeight;
  @include transited;

  // в мобильной версии показываем форму поиска снизу
  @media (max-width: $navBreakpointTablet) {
    position: fixed;
    top: auto;
    bottom: 100px;
    // @include transited('150ms');
    @include transform(translateY(20px) scale(.8));

    // поправим отступы
    margin-left: 3px;
    margin-right: 3px;
  }

  // прячем
  z-index: -9999;
  visibility: hidden;
  opacity: 0;

  // показываем
  &.is-active {
    z-index: 1;
    visibility: visible;
    opacity: 1;

    @media (max-width: $navBreakpointTablet) {
      @include transform(translateY(0) scale(1));
    }
  }

  &:before {
    @include ghost;
    left: -100%;
    left: -100vw;
    right: -100%;
    right: -100vw;

    @media (min-width: $navBreakpointTablet + 1px) {
      background-color: rgba(black, .65);
    }
  }

  &__form {
    position: relative;

    ::-webkit-input-placeholder {
      font-size: 15px;
      line-height: 1.8;
      font-weight: normal;
      color: rgba(white,.5);
    }
    ::-moz-placeholder {
      font-size: 15px;
      line-height: 1;
      opacity: 1;
      font-weight: normal;
      color: rgba(white,.5);
    }
    :-ms-input-placeholder {
      font-size: 15px;
      line-height: 1;
      font-weight: normal;
      color: rgba(white,.5);
    }
  }

  &__input {
    display: inline-block;
    width: 100%;
    height: $searchHeight - 15px;
    margin: 5px 0 10px;
    padding: 5px 30px 5px 2px !important;
    font-size: 20px;
    line-height: 1;
    font-weight: 500;
    color: #fee300;
    border-bottom: 1px solid white;
    border-radius: 0;

    &:focus {

    }
  }

  &__button {
    position: absolute;
    top: 5px;
    right: 0;
    width: 22px;
    height: 22px;
    padding: 3px;
    color: white;
    fill: white;
    @include transited('color, fill');

    &:hover,
    &:focus {
      color: #fee300;
      fill: #fee300;
    }
  }

  &__icon {
    max-width: 100%;
    max-height: 100%;
  }
}
