extends ../../layouts/default
include ../../components/edu-service-question/edu-service-question

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +edu-service-question()
      +popup-wrapper()
      +footer()
