extends ../../layouts/default
include ../../components/edu-service-question/edu-service-question

block head
  - var pageTitle = 'Versta Project Template'

block page
  block header
    +header()._budget

  block sections
    +sections()

      block content
        +edu-service-question()
        +footer()
        +button-top()
        
  +popup-wrapper()

  script(src="assets/scripts/js2/jquery-3.1.1.min.js")
  script(src="assets/scripts/js2/ez.js")
