.page-head {
  display: block;
  color: $color-white;
  font-family: $PFDinCompressedPro;
  font-weight: 500;
  text-transform: uppercase;

  &__after {
    @include clearfix;
  }

  &__category {
    opacity: .5;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 3px;
  }

  &__title {
    font-size: 72px;
    float: left;
    margin-right: 20px;
  }
}
