//- заголовок страницы с категорией
mixin page-head(title, category)
  +b.page-head&attributes(attributes)
    if category
      +e.P.category= category
    +e.H1.title.load-anim-fade(data-delay="1300")= title
