.jq-checkbox.checked .jq-checkbox__div {
  box-shadow: none;
}

.d-layer_small {
  max-width: 1174px !important;
}


.d-si-content_polls-question {

  .d-sii__form_question {

    label {
      font-size: 16px;
      float: left;
      margin-left: 7px;
      margin-top: -2px;
      font-weight: 300;
    }

    legend {
      line-height: 18px;
    }
  }
}
