include ../page-header/page-header

mixin polls-question()
  section.d-si-content.d-si-content_polls-question.sections__item
    .d-layer.d-layer_small
      .d-si__head
        +page-header('Опросы', ['Сервисы'])

      .d-si__quiz-container.load-anim-fade(data-delay="1500")
        .d-si__quiz-container_head
          span КАКОВА ВАША ЦЕЛЬ ПОСЕЩЕНИЯ ПОРТАЛА &laquo;ОТКРЫТЫЙ БЮДЖЕТ ГОРОДА МОСКВЫ&raquo; СЕГОДНЯ? БЫЛО БЫ ВАМ ПРОЩЕ/ИНТЕРЕСНЕЕ СЛЕДИТЬ ЗА ОБНОВЛЕНИЯМИ ПОРТАЛА ЧЕРЕЗ СТРАНИЦЫ В СОЦИАЛЬНЫХ СЕТЯХ?
          .d-si__quiz-container_head-cross
        .d-si__quiz-container_body
            form(action='#', id='d-sii__form').d-sii__form
              fieldset.d-sii__form_question
                legend КАКОВА ВАША ЦЕЛЬ ПОСЕЩЕНИЯ ПОРТАЛА &laquo;ОТКРЫТЫЙ БЮДЖЕТ ГОРОДА МОСКВЫ&raquo; СЕГОДНЯ?
                input(name='d-sq_radio', type='radio', id='d-rad-f').d-sq_radio
                label(for='d-rad-f') 
                  | Поиск информации о&nbsp;бюджете города Москвы для подготовки учебных материалов рефератов, курсовых/дипломных работ
                  | Поиск информации о&nbsp;бюджете города Москвы для подготовки учебных материалов рефератов, курсовых/дипломных работ
                  | Поиск информации о&nbsp;бюджете города Москвы для подготовки учебных материалов рефератов, курсовых/дипломных работ

                input(name='d-sq_radio', type='radio', id='d-rad-s').d-sq_radio
                label(for='d-rad-s').d-sq_form-error-label Поиск информации о&nbsp;бюджете города Москвы, необходимой в&nbsp;профессиональной деятельности
                input(name='d-sq_radio', type='radio', value='2', id='d-rad-t').d-sq_radio
                label(for='d-rad-t').d-sq_form-success-label Изучение опыта города Москвы в&nbsp;части открытости бюджетных данных и&nbsp;представления бюджетных данных для граждан
                input(name='d-sq_radio', type='radio', value='3', id='d-rad-fo').d-sq_radio
                label(for='d-rad-fo') Задать вопрос о&nbsp;бюджете города Москвы/дать предложение
              fieldset.d-sii__form_question
                legend
                  | БЫЛО БЫ ВАМ ПРОЩЕ/ИНТЕРЕСНЕЕ СЛЕДИТЬ ЗА ОБНОВЛЕНИЯМИ ПОРТАЛА ЧЕРЕЗ СТРАНИЦЫ
                  br
                  | В СОЦИАЛЬНЫХ СЕТЯХ?
                input(type='checkbox', id='d-sii__chbox-s-first').d-sii__chbox
                label(for='d-sii__chbox-s-first') 
                  | Поиск информации о бюджете города Москвы для подготовки учебных материалов рефератов, курсовых/дипломных работ
                  | Поиск информации о&nbsp;бюджете города Москвы для подготовки учебных материалов рефератов, курсовых/дипломных работ
                  | Поиск информации о&nbsp;бюджете города Москвы для подготовки учебных материалов рефератов, курсовых/дипломных работ

                input(type='checkbox', id='d-sii__chbox-s-second').d-sii__chbox
                label(for='d-sii__chbox-s-second') Поиск информации о бюджете города Москвы, необходимой в профессиональной деятельности
                input(type='checkbox', id='d-sii__chbox-s-third').d-sii__chbox
                label(for='d-sii__chbox-s-third') Изучение опыта города Москвы в части открытости бюджетных данных и представления бюджетных данных для граждан
                input(type='checkbox', id='d-sii__chbox-s-forth').d-sii__chbox
                label(for='d-sii__chbox-s-forth') Изучение бюджета и бюджетного процесса в общем формате
                input(type='checkbox', id='d-sii__chbox-s-fifth').d-sii__chbox
                label(for='d-sii__chbox-s-fifth') Задать вопрос о бюджете города Москвы/дать предложение
                input(type='checkbox', id='d-sii__chbox-s-sixth').d-sii__chbox
                label(for='d-sii__chbox-s-sixth') Другое
                input(type='text').d-sii__chbox-other_input
              a(href="/moscowbudget/polls_result.html", class="d-sii__form_submit", style="display: block; text-decoration: none; line-height: 28px; text-align: center;") Отправить
