.news-one {
  display: block;
  background-image: url(../images/bg-news.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 207px;
  padding-bottom: 149px;

  &__header {
    position: relative;
  }

  &__form {
    position: absolute;
    top: 33px;
    right: 0;

    .form__field {
      display: inline-block;
    }
    .form__field_d3 {
      width: 315px;
      padding-left: 120px;
    }
    .form__submit {
      margin: 8px 0 0 42px;
    }
  }

  &__content {
    margin-top: 46px;
    background-color: #fff;
    padding: 40px 40px 55px;

    .news {
      border: 1px solid #959595;
    }

    .share__btn {
      right: -1px;
    }

    .share__panel {
      width: calc(100% + 2px);
      left: -1px;
    }
  }

  &__heading {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000;
    &_small {
      font-size: 18px;
    }
    & + .news-one__text {
      margin-top: 14px;
    }
    &_white {
      color: #fff;
    }
  }

  &__date {
    font-family: $PFDinTextPro;
    font-size: 14px;
    color: #000;
    margin-top: 13px;
    padding-left: 3px;
  }

  &__image-block {
    margin-top: 47px;
  }

  &__image {
    width: 100%;
    height: 420px;
    position: relative;
    img {
      @include fill-img;
    }
  }

  &__category {
    display: inline-block; height: 25px; line-height: 27px; color: #FFF; font-size: 16px; text-transform: uppercase; padding: 0 7px; text-decoration: none; -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; border-top: none !important; float: left; margin-right: 18px;
    &:hover {
      background: none;
    }
    &_blue {
      background: #137bd7; border: 1px solid #137bd7;
      &:hover {
        color: #137bd7;
      }
    }
    &_red {
      background: #eb6066; border: 1px solid #eb6066;
      &:hover {
        color: #eb6066;
      }
    }
    &_green {
      background: #4fb55f; border: 1px solid #4fb55f;
      &:hover {
        color: #4fb55f;
      }
    }
  }

  &__image-caption {
    font-size: 14px;
    font-style: italic;
    color: #6e6e6e;
    padding-top: 10px;
    padding-left: 155px;
  }

  &__cols {
    margin-top: 44px;
    font-size: 0;
  }

  &__col {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 277px);
    padding-right: 40px;
    &_side {
      width: 277px;
      padding-right: 4px;
      .news-one__heading {
        margin-bottom: 23px;
      }
    }
  }

  &__card-wrapper {
    height: 920px;
    overflow: hidden;
    margin-top: 34px;
  }

  .tile {
    margin: 0 -5px!important;
  }

  .tile__item {
    width: 25%;
    min-width: auto;

    @media (max-width: 1140px) {
      width: calc(100%/3);
    }

    @media (max-width: 900px) {
      width: 50%;
      margin-bottom: 55px;
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  .news {
    position: relative;
    height: 420px;
    margin: 0 5px;
  }

  .news__thumb {
    @media (max-width: 640px) {
      height: 150px;
    }
  }

  .news__category {
    @media (max-width: 640px) {
      padding: 0 7px;
      font-size: 13px;
      height: 20px;
      line-height: 22px;
      margin: 0 0 20px 20px;
    }
  }

  .news__title {
    @media (max-width: 640px) {
      font-size: 18px;
      margin: 0 19px;
    }
  }

  .news__bottom {
    @media (max-width: 640px) {
      padding: 0 0 15px 19px;
    }
  }

  .news__date,
  .news__tags {
    @media (max-width: 640px) {
      font-size: 13px;
    }
  }

  .news__tags {
    white-space: nowrap;
    overflow: hidden;

    a {
      margin-right: 15px;
    }
  }

  .share__panel {
    line-height: 50px;

    @media (max-width: 640px) {
      line-height: 30px;
    }
  }

  .news-one__col_side {
    
    .news-one__card-wrapper {
      margin-top: 0;
    }

    .tile {
      height: auto;
      margin: 0!important;
    }

    .news {
      min-height: 420px;
      max-width: none;
      height: auto;
      margin: 0;
      margin-top: 55px;
      left: auto;
      right: auto;
      &:nth-of-type(1) {
        margin-top: 0;
      }
    }
  }

  &__text {
    font-family: $PFDinTextPro;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    letter-spacing: 0.007em;
    & + & {
      margin-top: 10px;
    }
    & + .news-one__heading {
      margin-top: 60px;
    }
    & + .news-one__short-newscard {
      margin-top: 24px;
    }
  }

  &__similar-news {
    margin-top: 45px;
    &-col {
      display: inline-block;
      vertical-align: top;
      width: 342px;
      &_text {
        width: calc(100% - 342px);
        padding-left: 30px;
      }
    }
    & + .news-one__heading {
      margin-top: 53px;
    }
  }

  &__short-newscard {
    & + .news-one__text {
      margin-top: 24px;
    }
    & + .news-one__heading {
      margin-top: 43px;
    }
  }

  &__show-more-actual {
    margin-top: 46px;
    text-align: center;
    padding: 8px 16px;
    cursor: pointer;
    transition: all .25s ease-in-out;
    .alternative-link__title:last-child {
      margin-top: 0;
    }
    &:hover {
      opacity: .7;
    }
  }

  &__tags {
    margin-top: 57px;
  }

  &__tag {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ddd;
    margin-right: 6px;
    font-family: $PFDinTextPro;
    color: #000;

    &-link {
      display: block;
      text-decoration: none;
      font-size: 14px;
      line-height: 14px;
      padding: 4px 15px;
      transition: all .25s ease-in-out;
      &:hover {
        opacity: .7;
      }
    }
  }

  &__social {
    margin-top: 34px;
    .d-sr__social {
      margin-top: 0;
    }
    .d-sr__social_txt {
      font-family: $PFDinTextPro;
      font-size: 16px;
      color: #000;
    }
  }

  &__read-also {
    margin-top: 82px;

    .social__link {
      display: inline-block;
    }
  }

  &__show-more {
    margin: 33px auto 0;
    max-width: 690px;
  }

  @media screen and (max-width: 1179px) {
    padding-bottom: 49px;
    &__content {
      margin-top: 34px;
    }
    &__short-newscard {
      & + .news-one__text {
        margin-top: 17px;
      }
    }
    &__read-also {
      margin-top: 45px;
      .news-one__heading {
        font-size: 26px;
        line-height: 30px;
      }
    }
    &__show-more {
      max-width: 570px;
    }
  }

  @media screen and (min-width: 801px) and (max-width: 1179px) {
    &__date {
      margin-top: 1px;
    }
    &__image-block {
      margin-top: 21px;
    }
    &__col {
      padding-right: 20px;
      &_side {
        padding-right: 0;
      }
    }
    &__text {
      & + .news-one__heading {
        margin-top: 29px;
      }
      & + .news-one__short-newscard {
        margin-top: 19px;
      }
    }
    &__heading {
      & + .news-one__text {
        margin-top: 5px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    &__content {
      padding: 40px 30px 55px;
    }
    &__heading {
      font-size: 48px;
      line-height: 58px;
      &_small {
        font-size: 36px;
        line-height: 44px;
      }
      & + .news-one__text {
        margin-top: 28px;
      }
    }
    &__date {
      margin-top: 30px;
      font-size: 36px;
    }
    &__image-block {
      margin-top: 24px;
      margin-left: -30px;
      margin-right: -30px;
    }
    &__image {
      height: 483px;
    }
    &__category {
      float: none;
      width: 100%;
      font-size: 31px;
      height: 48px;
      line-height: 50px;
      padding: 0 36px;
    }
    &__image-caption {
      font-size: 28px;
      line-height: 33px;
      padding-top: 7px;
      padding-left: 34px;
      padding-right: 34px;
    }
    &__cols {
      margin-top: 47px;
      padding-left: 4px;
    }
    &__col {
      width: 100%;
      padding-right: 0;
      &_side {
        display: none;
      }
    }
    &__text {
      font-size: 30px;
      line-height: 40px;
      & + & {
        margin-top: 16px;
      }
      & + .news-one__heading {
        margin-top: 72px;
      }
      & + .news-one__short-newscard {
        margin-top: 40px;
      }
    }
    &__short-newscard {
      margin-left: -34px;
      margin-right: -30px;
    }
  }

  @media (max-width: 580px) {
    &__news-one {
      padding-top: 82px;
    }

    &__content {
      padding: 20px 14px 37px;
    }

    &__heading {
      font-size: 24px;
      line-height: 28px;
    }

    &__date {
      font-size: 18px;
      padding-left: 0;
      margin-top: 18px;
    }

    &__image-block {
      margin-top: 12px;
      margin-left: -15px;
      margin-right: -15px;
    }

    &__image {
      height: 242px;
    }

    &__category {
      height: 23px;
      font-size: 15px;
      line-height: 25px;
      padding: 0 17px;
    }

    &__image-caption {
      font-size: 14px;
      line-height: 16px;
      padding-top: 5px;
      padding-left: 17px;
      padding-right: 20px;
    }

    &__text {
      font-size: 15px;
      line-height: 20px;
    }

    &__cols {
      margin-top: 24px;
      padding-left: 0;
    }

    .news-one__text+.news-one__text {
      margin-top: 8px;
    }

    &__heading_small {
      font-size: 18px;
      line-height: 26px;
    }

    .news-one__heading+.news-one__text {
      margin-top: 13px;
    }

    .news-one__text+.news-one__heading {
      margin-top: 32px;
    }

    .news-one__short-newscard {
      margin-left: -14px;
      margin-right: -14px;
    }

    .news-one__text+.news-one__short-newscard {
      margin-top: 20px;
    }


    .news-one__short-newscard+.news-one__text {
      margin-top: 7px;
    }

    .news-one__short-newscard+.news-one__heading {
      margin-top: 24px;
    }

    &__tags {
      margin-top: 63px;
      margin-bottom: 10px;
    }

    &__tag {
      margin-bottom: 10px;
    }

    &__social {
      margin-top: 17px;

      .d-sr__social_txt {
        vertical-align: middle;
        display: inline-block;
        max-width: 94px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 0;
        margin-bottom: 0;
      }

      .d-sr__social a {
        height: 48px;
        width: 48px;
        line-height: 49px;
        margin-left: 14px;
        vertical-align: middle;
      }
    }

    &__read-also {
      margin-top: 23px;
    }
  }
}
