include ../../blocks/alternative-link/alternative-link
include ../../blocks/link/link
include ../../blocks/button/button
include ../page-header/page-header
include ../../blocks/news-card/news-card

mixin news-one()
  +b.news-one&attributes(attributes)
    .wrapper.page-content-wrapper
      +e.header
        // page-header
        +page-header('Новости', true, true)
        
        +e.FORM(action='', method='POST').form.form
          .form__field.form__field_d3
            LABEL.form__label.form__label_w1 Другие новости
            .form__date-range(id='rid-0')
              INPUT(type='text', value='дд.мм.гг').form__date-range-input.jq-f-datepicker.input-min
              SPAN.form__date-range-sep —
              INPUT(type='text', value='дд.мм.гг').form__date-range-input.jq-f-datepicker.input-max
              SPAN.form__date-range-icon
          INPUT(type='submit', value='Искать').form__submit
                  
      +e.content
        +e.H2.heading Расходы на ремонт домов престарелых и интернатов увеличились в 10 раз
        +e.P.date 06.10.2016
        +e.image-block
          +e.image
            img(src="assets/images/news/news1.jpg", alt="@@")
          +e.image-block-bottom
            +e.P.category._blue Новости бюджета
            +e.P.image-caption Министр Правительства Москвы, руководитель Департамента труда и социальной защиты населения города Владимир Петросян
        +e.cols
          +e.col
            +e.P.text В Москве реализована комплексная программа модернизации домов престарелых и интернатов для инвалидов. За последние годы расходы на ремонт, благоустройство и оснащение новым оборудованием домов престарелых и интернатов увеличились в 10 раз.
            +e.P.text В результате для 16 тысяч москвичей улучшились условия проживания. Для 1,8 тысячи пожилых людей и инвалидов был организован патронаж на дому.
            +e.P.text «За последние годы провели комплексный ремонт во всех домах престарелых и инвалидов, обеспечили их современным медицинским оборудованием, привели в порядок. В целом они выглядят сейчас неплохо», — отметил Сергей Собянин во время посещения психоневрологического интерната (ПНИ) № 20.
            +e.P.text Как доложил Министр Правительства Москвы, руководитель Департамента труда и социальной защиты населения города Владимир Петросян, в каждом из стационарных учреждений, а всего в городе их 31, помимо капитального и текущего ремонтов, прошли мероприятия по пожарной безопасности и антитеррористической защищённости.
            +e.P.text «У нас нет в городе ветхих и аварийных зданий и сооружений, в которых бы проживали инвалиды и пожилые люди», — подчеркнул он.
            +e.H3.heading._small Бассейн, спортзал и новое меню
            +e.P.text._small Увеличивается и количество домов престарелых и инвалидов. Новый интернат на 800 коек появился на территории Московской области. В конце декабря этого года откроется ещё один новый корпус на 200 коек в психоневрологическом интернате № 27.
            +e.P.text._small «Капитально отремонтированы абсолютно все. За эти пять лет на укрепление материально-технической базы учреждений социальной защиты было выделено свыше 14 миллиардов рублей, из них почти 12 миллиардов — это текущий и капитальный ремонт», — уточнил руководитель Департамента.
            +e.P.text._small Также принято решение о передаче в систему социальной защиты двух небольших психиатрических больниц. Это позволит дополнительно обеспечить комфортными местами для проживания всех нуждающихся инвалидов с нарушениями психики.
            +e.similar-news
              +e.similar-news-col
                +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016')._blue._big
              +e.similar-news-col._text
                +e.P.text._small При подготовке проекта столичного бюджета на 2016 год Правительство Москвы также предусмотрело значительное увеличение расходов на питание и обеспечение лекарствами пациентов домов престарелых и домов-интернатов. Это компенсирует удорожание продуктов и лекарств, связанное с девальвацией рубля, и сохранит привычные стандарты питания и медицинского обслуживания.
                +e.P.text._small «Мы пополним меню благодаря тем средствам, которые вы нам выделите дополнительно, и я думаю, что проблем вообще с питанием не будет. Ни в этом учреждении, ни в других, в том числе в детских домах», — заявил Владимир Петросян.
                +e.P.text._small В психоневрологическом интернате Сергей Собянин осмотрел здание физкультурно-оздоровительного центра: бассейн, спортзал, кабинет физиотерапии, зону релаксации и отдыха. Он также пообщался со спортсменами — воспитанниками интерната.
            +e.H3.heading._small Бассейн, спортзал и новое меню
            +e.P.text._small В ПНИ №20 может поселиться 501 человек. Здесь есть отделение для пациентов с последствиями детского церебрального паралича на 200 мест, отделение милосердия для лиц, нуждающихся в постоянном постороннем уходе на 50 мест и психоневрологическое отделение на 251 место.
            +e.P.text._small Пациенты и их родственники (законные представители, опекуны) могут самостоятельно выбрать одну из форм проживания в интернате: постоянную, временную (до шести месяцев) и пятидневную.
            +e.P.text._small С 2011 года в ПНИ № 20 работает патронажное отделение, сотрудники которого обслуживают на дому 50 одиноко проживающих инвалидов I и II группы, страдающих психическими расстройствами и утративших способность к самообслуживанию.
            +e.P.text._small Пациенты ПНИ — люди, страдающие такими заболеваниями, как последствия ДЦП, шизофрения, олигофрения, органическое поражение центральной нервной системы, болезнь Альцгеймера и другие.
            +e.P.text._small Они проживают в комфортабельных палатах, оснащённых необходимым медицинским и санитарным оборудованием, в том числе подъёмными системами.
            +e.P.text._small Для ухода за ними применяется современное оборудование, включая передвижные ванны, кресла для душа и туалета.
            +e.P.text._small В 2000 году в интернате открылся физкультурно-оздоровительный комплекс, в котором есть бассейн, спортивный и тренажёрный залы, зал для настольных игр, комната релаксации, массажный кабинет, галокамера, физиотерапевтическое отделение, оборудованное гидромассажной ванной и душевой кафедрой, кабинет «Горный воздух».
            +e.P.text._small Работают секции по бадминтону, футболу, волейболу, баскетболу, настольному теннису, дзюдо. Зимой открыты лыжные секции.
            +e.similar-news
              +e.similar-news-col
                +news-card(2, 'Новости Москвы', 'О выплатах купонного дохода по облигациям Городского облигационного (внутреннего) займа Москвы', '5 августа 2016')._red._big
              +e.similar-news-col._text
                +e.H3.heading._small Что изменилось после ремонта
                +e.P.text._small В 2011–2015 годах были проведены работы по капитальному и текущему ремонту здания ПНИ № 20 с благоустройством прилегающей территории на общую сумму 146 миллионов рублей.
                +e.P.text._small В частности, отремонтировали водолечебницу, холл, раздевалку и мягкую кровлю физкультурно-оздоровительного комплекса. Комплексные работы затронули помещения двух корпусов. Также строители полностью заменили кровлю, модернизировали системы пожарной безопасности и видеонаблюдения, сделали здание доступным для маломобильных граждан. На прилегающей территории появились прогулочные дорожки, цветники и газоны.
                +e.P.text._small Закуплено специальное оборудование на сумму 23,6 миллиона рублей, включая медицинское и реабилитационное, мебель, оборудование пищеблока, бытовую, офисную, автомобильную и уборочную технику.
                +e.P.text._small Ремонт позволил значительно повысить комфорт проживания пациентов интерната.

          +e.col._side
            +e.H2.heading актуально
            +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016')._blue._big
            +news-card(2, 'Новости Москвы', 'О выплатах купонного дохода по облигациям Городского облигационного (внутреннего) займа Москвы', '5 августа 2016')._red._big
            +news-card(3, 'Федеральные новости', 'Итоги исполнения бюджета города Москвы за первое полугодие 2016 года', '1 августа 2016')._green._big
            +alternative-link('показать еще').__show-more-actual
            
        +e.UL.tags
          +e.LI.tag
            +e.A(href='#').tag-link Исполнение
          +e.LI.tag
            +e.A(href='#').tag-link Москва
          +e.LI.tag
            +e.A(href='#').tag-link Госпрограммы
          +e.LI.tag
            +e.A(href='#').tag-link Расходы
          
        +e.social
          .d-sr__social
            span.d-sr__social_txt Поделиться новостью:
            a(href="#" title="facebook").d-sr__social_fb
              i(aria-hidden='true').fa.fa-facebook
            a(href="#" title="twitter").d-sr__social_t
              i(aria-hidden='true').fa.fa-twitter
            a(href="#" title="ВКонтакте").d-sr__social_vk В
          
      +e.H2.heading._white Читайте также
      +e.card-wrapper
        .tile__item(data-filter="budget").active
          +news-card(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016')._blue._big.tile__inner
        .tile__item(data-filter="moscow").active
          +news-card(2, 'Новости Москвы', 'О выплатах купонного дохода по облигациям Городского облигационного (внутреннего) займа Москвы', '5 августа 2016')._red._big.tile__inner
        .tile__item(data-filter="federal").active
          +news-card(3, 'Федеральные новости', 'Итоги исполнения бюджета города Москвы за первое полугодие 2016 года', '1 августа 2016')._green._big.tile__inner
          
      +e.A(href="#").show-more.d-si__button_show-more Показать еще
      
  .range-datepicker
    .range-datepicker__item.range-datepicker__item_min(data-range="min")
    .range-datepicker__item.range-datepicker__item_max(data-range="max")
