include ../icon/icons
include ../checkbox/checkbox


mixin legend(data)
  +b.legend&attributes(attributes)
    each obj in data
      +e.P(class="__item_"+obj.color+"")
        SPAN= obj.title

mixin legend-checkbox(data)
  +b.legend._checkbox&attributes(attributes)
    each obj in data
      +b.LABEL.checkbox._active&attributes(attributes)
        +e.INPUT(type='checkbox', id='d-sii__chbox-s-first', checked).control
        +e.box
          +icon('icon-ok-ch').mark
        p(class="legend__item_"+obj.color+"").legend__item.legend__item_active= obj.title

mixin legend-basket(data)
  +b.legend._basket&attributes(attributes)
    each obj in data
      +e.P(class="__item_"+obj.color+"")= obj.title
        +e.A(href="#").remove
          +icon('basket').icon
      
mixin legend-icon()
  .legend-icon
    +checkbox().legend-icon__item
      .legend-icon__circle.legend-icon__circle_pink
      .legend-icon__icon.legend-icon__icon_pink
      SPAN.legend-icon__label Развитие транспортной системы
    +checkbox().legend-icon__item
      .legend-icon__circle.legend-icon__circle_violet
      .legend-icon__icon.legend-icon__icon_violet
      SPAN.legend-icon__label Социальная поддержка жителей Москвы
    +checkbox().legend-icon__item
      .legend-icon__circle.legend-icon__circle_blue
      .legend-icon__icon.legend-icon__icon_blue
      SPAN.legend-icon__label Столичное здравоохранение
    +checkbox().legend-icon__item
      .legend-icon__circle.legend-icon__circle_greenyellow
      .legend-icon__icon.legend-icon__icon_greenyellow
      SPAN.legend-icon__label Прочие государственные программы
    +checkbox().legend-icon__item
      .legend-icon__circle.legend-icon__circle_gray
      SPAN.legend-icon__label Развитие транспортной системы
    +checkbox().legend-icon__item
      .legend-icon__circle.legend-icon__circle_green
      SPAN.legend-icon__label Непрограммные направления деятельности

mixin legend-icon-woch()
  .legend-icon
    .legend-icon__item
      .legend-icon__circle.legend-icon__circle_pink
      .legend-icon__icon.legend-icon__icon_pink
      SPAN.legend-icon__label Развитие транспортной системы
    .legend-icon__item
      .legend-icon__circle.legend-icon__circle_violet
      .legend-icon__icon.legend-icon__icon_violet
      SPAN.legend-icon__label Социальная поддержка жителей Москвы
    .legend-icon__item
      .legend-icon__circle.legend-icon__circle_blue
      .legend-icon__icon.legend-icon__icon_blue
      SPAN.legend-icon__label Столичное образование
    .legend-icon__item
      .legend-icon__circle.legend-icon__circle_greenyellow
      .legend-icon__icon.legend-icon__icon_greenyellow
      SPAN.legend-icon__label Столичное здравоохранение
    .legend-icon__item
      .legend-icon__circle.legend-icon__circle_gray
      SPAN.legend-icon__label Прочие государственные программы
    .legend-icon__item
      .legend-icon__circle.legend-icon__circle_green
      SPAN.legend-icon__label Непрограммные направления деятельности

mixin legend-icon-analytics-gov-debt()
  .legend-icon
    +checkbox(true).legend-icon__item
      .legend-icon__circle.legend-icon__circle_pink
      +icon('depfin-icons-28').icon.legend__icon._pink
      SPAN.legend-icon__label Государственные ценные бумаги
    +checkbox(true).legend-icon__item
      .legend-icon__circle.legend-icon__circle_greenyellow
      +icon('depfin-icons-30').icon.legend__icon._green
      SPAN.legend-icon__label Бюджетные кредиты
    +checkbox(true).legend-icon__item
      .legend-icon__line.legend-icon__line_grey
      SPAN.legend-icon__label Уровень долговой нагрузки
    +checkbox(true).legend-icon__item
      .legend-icon__circle.legend-icon__circle_blue
      +icon('depfin-icons-29').icon.legend__icon._blue
      SPAN.legend-icon__label Банковские кредиты
    +checkbox(true).legend-icon__item
      .legend-icon__circle.legend-icon__circle_yellow
      +icon('depfin-icons-27').icon.legend__icon._yellow
      SPAN.legend-icon__label Государственные гарантии
