.legend__item {

  &_violet:before {
    background: #a870d5;
    background-image: -webkit-linear-gradient(right,#8449b4,#a870d5 65%);
    background-image: linear-gradient(270deg,#8449b4,#a870d5 65%);
  }

  &_grey:before {
    background: #ccd0d7;
    background-image: -webkit-linear-gradient(right,#bcc0ca,#ccd0d7 65%);
    background-image: linear-gradient(270deg,#bcc0ca,#ccd0d7 65%);
  }

  &_altgreen:before {
    background: #26c082;
    background-image: -webkit-linear-gradient(right,#2dc98f,#26c082 65%);
    background-image: linear-gradient(270deg,#2dc98f,#26c082 65%);
  }

  &_yellow:before {
    background: #ffd856;
    background-image: -webkit-linear-gradient(right,#fca805,#ffd856 65%);
    background-image: linear-gradient(270deg,#fca805,#ffd856 65%);
  }

  &_altyellow:before {
    background: #fee300;
    background-image: -webkit-linear-gradient(270deg, #b7d224 0%, #fee300 100%);
    background-image: linear-gradient(270deg, #b7d224 0%, #fee300 100%);
  }

  &_pink:before {
    background: #612292;
    background-image: -webkit-linear-gradient(right,#612292,#bd84e9 65%);
    background-image: linear-gradient(270deg, #612292 0%, #bd84e9 65%);
  }

  &_lightgreen:before {
    background: #11a360;
    background-image: -webkit-linear-gradient(right,#11a360,#32d197 65%);
    background-image: linear-gradient(270deg, #11a360 0%, #32d197 65%);
  }

  &_altblue:before {
    background: #004ccf;
    background-image: -webkit-linear-gradient(right,#004ccf,#00ffff 65%);
    background-image: linear-gradient(270deg, #004ccf 0%, #00ffff 65%);
  }

  &_blue:before {
    background: #021398;
    background-image: -webkit-linear-gradient(right,#021398,#ff0036 65%);
    background-image: linear-gradient(270deg, #021398 0%, #ff0036 65%);
  }

  &_red:before {
    background: #9d308a;
    background-image: -webkit-linear-gradient(right,#9d308a,#ff695b 65%);
    background-image: linear-gradient(270deg, #9d308a 0%, #ff695b 65%);
  }
  
  &_redblue:before {
    background: #021398;
    background-image: -webkit-linear-gradient(right,#021398,#ff0036 100%);
    background-image: linear-gradient(270deg, #021398 0%, #ff0036 100%);
  }
  
  &_redline:before {
    top: 5px !important;
    height: 2px !important;
    background: #e30a53;
  }
  
  &_blueline:before {
    top: 5px !important;
    height: 2px !important;
    background: #0061a0;
  }
  
  &_orangeline:before {
    top: 5px !important;
    height: 2px !important;
    background: #e85b21;
  }
  
  // новые градиенты
  &_nblue:before {@include color-gradient(horizontal, blue1, false);}
  &_npinkviolet:before {@include color-gradient(horizontal, pinkviolet, false);}
  &_ngreenyellow:before {@include color-gradient(horizontal, greenyellow, false);}
  &_nyellowgreen:before {@include color-gradient(horizontal, yellowgreen, false);}
  &_norange:before {@include color-gradient(horizontal, orange1, false);}
  &_nvioletblue:before {@include color-gradient(horizontal, violetblue, false);}
  &_naltblue:before {@include color-gradient(horizontal, blue2, false);}
  &_ncyanviolet:before {@include color-gradient(horizontal, cyanviolet, false);}
  &_nred:before {@include color-gradient(horizontal, red1, false);}
  &_ngrey:before {@include color-gradient(horizontal, grey1, false);}
  // v2
  &_ncyan:before {@include color-gradient(horizontal, cyan1, false);}
  &_nblueviolet:before {@include color-gradient(horizontal, blueviolet, false);}
  &_nviolet:before {@include color-gradient(horizontal, violet1, false);}
  
}

.legend__icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 5px;
  &_pink {
    fill: #ce4c72;
  }
  &_blue {
    fill: #00a7e7;
  }
  &_green {
    fill: #34ad67;
  }
  &_yellow {
    fill: #fca805;
  }
}

.legend_checkbox {

  .checkbox {
    opacity: .7;
    margin-top: 0;

    &_active {
      opacity: 1;

      .legend__item {
        color: $color-black;
      }
    }
  }

  .legend__item {
    color: #d1d1d1;
    margin-bottom: 0;
  }
}

.legend_basket {
  cursor: pointer;
  height: auto !important;

  .legend__item {
    padding-right: 35px;
    position: relative;
    width: 33%;
    display: inline-block;
    color: $color-black;
    text-align: left;
    padding-left: 28px;
    vertical-align: top;
    height: auto;
    line-height: normal;
    
    &:before {
      position: absolute;
      left: 0;
      width: 21px;
      height: 21px;
    }

    &:hover, &_mobile {
      .legend__remove-icon {
        display: inline-block;
      }
    }
    
    span {
      position: relative;
      top: 2px;
      
      &.legend__icon {
        top: 5px;
      }
    }
    
    &_icon {
      padding-left: 55px;
    }
    
    &.hidden {
      width: 0 !important;
      height: 0 !important;
      overflow: hidden !important;
      margin: 0 !important;
      padding: 0 !important;
    }
  }

  .legend__remove {
    position: absolute;
    bottom: 1px;
    right: -20px;
    height: 17px;
  }

  .legend__remove-icon {
    width: 15px;
    height: 17px;
    fill: $color-link;
    display: none;
  }
  
  .legend__icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    position: absolute !important;
    left: 28px;
    top: 0;

    &_red {
      background: url(../images/depfin-analytics-gp/pink.png) 50% 50% no-repeat;
    }
    &_violet {
      background: url(../images/depfin-analytics-gp/violet.png) 50% 50% no-repeat;
    }
    &_blue {
      background: url(../images/depfin-analytics-gp/blue.png) 50% 50% no-repeat;
    }
    &_green {
      background: url(../images/depfin-analytics-gp/greenyellow.png) 50% 50% no-repeat;
    }
  }
}



.legend-icon {
  font-size: 0;
  text-align: justify;
  margin-top: 34px;

  &:after {
    width: 100%;
    height: 0;
    content: '';
    display: inline-block;
  }

  &__item {
    display: inline-block;
    width: (1/3)*100%;
    font-size: 0;
    margin-bottom: 12px;

    @media (max-width: 1010px) {
      display: block;
      width: auto;
      margin-bottom: 20px;
    }   

    .checkbox__box {
      vertical-align: middle;

      @media (max-width: 1010px) {
        width: 22px;
        height: 22px;
      }  

      @media (max-width: 580px) {
        width: 12px !important;
        height: 12px !important;
      }             
    }
    
    .checkbox__text {
      white-space: nowrap;

      @media (max-width: 1140px) {
        margin-right: 10px;
      }
      
      @media (max-width: 1010px) {
        margin-left: 16px;
        margin-right: 0;
      }   

      @media (max-width: 580px) {
        margin-left: 8px !important;
      }
    }
  }

  &__circle,
  &__icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    vertical-align: middle;
    margin-right: 14px;

    @media (max-width: 1140px) {
      margin-right: 6px;
    }

    @media (max-width: 1010px) {
      width: 33px;
      height: 33px;
      margin-right: 17px;
    }   

    @media (max-width: 580px) {
      margin-right: 6px !important;
    }
  }

  &__circle {
    border-radius: 50%;
    
    @media (max-width: 580px) {
      width: 16px !important;
      height: 16px !important;
    } 

    &_violet {
      background: #0051d0;
      background-image: -webkit-linear-gradient(right,rgb(97,34,146),rgb(189,132,233), 65%);
      background-image: linear-gradient(-90deg,rgb(97,34,146),rgb(189,132,233) 65%);
    }

    &_gray {
      background: #838a9a;
      background-image: -webkit-linear-gradient(left,rgb(213,216,222),rgb(131,138,154) 65%);
      background-image: linear-gradient(90deg,rgb(213,216,222),rgb(131,138,154) 65%);
    }

    &_green {
      background: #32b168;
      background-image: -webkit-linear-gradient(left,rgb(50,209,151),rgb(17,163,96) 65%);
      background-image: linear-gradient(90deg,rgb(50,209,151),rgb(17,163,96) 65%);
    }

    &_pink {
      background: #612292;
      background-image: -webkit-linear-gradient(top,rgb(255,105,91),rgb(157,48,138) 65%);
      background-image: linear-gradient(180deg, rgb(255,105,91),rgb(157,48,138) 65%);
    }

    &_greenyellow {
      background: #11a360;
      background-image: -webkit-linear-gradient(top,rgb(254,227,0),rgb(48,176,105) 65%);
      background-image: linear-gradient(180deg, rgb(254,227,0),rgb(48,176,105) 65%);
    }

    &_blue {
      background: #021398;
      background-image: -webkit-linear-gradient(right,rgb(0,255,255),rgb(0,76,207) 65%);
      background-image: linear-gradient(270deg, rgb(0,255,255),rgb(0,76,207) 65%);
    }
    
    &_yellow {
      background: #ffd856;
      background-image: -webkit-linear-gradient(right,#fca805,#ffd856 65%);
      background-image: linear-gradient(270deg,#fca805,#ffd856 65%);
    }
    
    // новые градиенты
    &_nblue {@include color-gradient(horizontal, blue1, false);}
    &_npinkviolet {@include color-gradient(horizontal, pinkviolet, false);}
    &_ngreenyellow {@include color-gradient(horizontal, greenyellow, false);}
    &_nyellowgreen {@include color-gradient(horizontal, yellowgreen, false);}
    &_norange {@include color-gradient(horizontal, orange1, false);}
    &_nvioletblue {@include color-gradient(horizontal, violetblue, false);}
    &_naltblue {@include color-gradient(horizontal, blue2, false);}
    &_ncyanviolet {@include color-gradient(horizontal, cyanviolet, false);}
    &_nred {@include color-gradient(horizontal, red1, false);}
    &_ngrey {@include color-gradient(horizontal, grey1, false);}
    // v2
    &_ncyan {@include color-gradient(horizontal, cyan1, false);}
    &_nblueviolet {@include color-gradient(horizontal, blueviolet, false);}
    &_nviolet {@include color-gradient(horizontal, violet1, false);}
  }

  &__icon {
    
    @media (max-width: 580px) {
      width: 27px;
      height: 17px;
    }

    &_pink {
      background: url(../images/depfin-analytics-gp/pink.png) 50% 50% no-repeat;
    }
    &_violet {
      background: url(../images/depfin-analytics-gp/violet.png) 50% 50% no-repeat;
    }
    &_blue {
      background: url(../images/depfin-analytics-gp/blue.png) 50% 50% no-repeat;
    }
    &_greenyellow {
      background: url(../images/depfin-analytics-gp/greenyellow.png) 50% 50% no-repeat;
    }
  }
  
  &__line {
    display: inline-block;
    width: 21px;
    height: 2px;
    vertical-align: middle;
    margin-right: 14px;
    
    &_grey {
      background-color: #9aa1ad;
    }
  }

  &__label {
    font-size: 14px;
    color: $color-black;
    vertical-align: middle;

    @media (max-width: 1010px) {
      font-size: 21px;
    } 

    @media (max-width: 580px) {
      font-size: 11px !important;
    } 
  }
}



.legend-icon-a {
  font-size: 0;

  &__item {
    display: inline-block;
    vertical-align: top;
    
    .checkbox__text {
      padding-left: 56px;
    }
    
    &_noicon {
      .checkbox__text {
        padding-left: 28px;
      }
    }
  }
  
  .checkbox__text {
    position: relative;
    margin-left: 7px;
  }
  
  .checkbox__box {
    margin-top: 3px;
  }

  &__circle,
  &__icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: 0;
  }

  &__circle {
    border-radius: 50%;
    left: 0;

    &_violet {
      background: #0051d0;
      background-image: -webkit-linear-gradient(right,rgb(97,34,146),rgb(189,132,233), 65%);
      background-image: linear-gradient(-90deg,rgb(97,34,146),rgb(189,132,233) 65%);
    }

    &_gray {
      background: #838a9a;
      background-image: -webkit-linear-gradient(left,rgb(213,216,222),rgb(131,138,154) 65%);
      background-image: linear-gradient(90deg,rgb(213,216,222),rgb(131,138,154) 65%);
    }

    &_green {
      background: #32b168;
      background-image: -webkit-linear-gradient(left,rgb(50,209,151),rgb(17,163,96) 65%);
      background-image: linear-gradient(90deg,rgb(50,209,151),rgb(17,163,96) 65%);
    }

    &_red {
      background: #612292;
      background-image: -webkit-linear-gradient(top,rgb(255,105,91),rgb(157,48,138) 65%);
      background-image: linear-gradient(180deg, rgb(255,105,91),rgb(157,48,138) 65%);
    }

    &_greenyellow {
      background: #11a360;
      background-image: -webkit-linear-gradient(top,rgb(254,227,0),rgb(48,176,105) 65%);
      background-image: linear-gradient(180deg, rgb(254,227,0),rgb(48,176,105) 65%);
    }

    &_blue {
      background: #021398;
      background-image: -webkit-linear-gradient(right,rgb(0,255,255),rgb(0,76,207) 65%);
      background-image: linear-gradient(270deg, rgb(0,255,255),rgb(0,76,207) 65%);
    }
    
    &_yellow {
      background: #ffd856;
      background-image: -webkit-linear-gradient(right,#fca805,#ffd856 65%);
      background-image: linear-gradient(270deg,#fca805,#ffd856 65%);
    }
    
    &_redblue {
      background: #021398;
      background-image: -webkit-linear-gradient(right,#021398,#ff0036 100%);
      background-image: linear-gradient(270deg, #021398 0%, #ff0036 100%);
    }
    
    // новые градиенты
    &_nblue {@include color-gradient(horizontal, blue1, false);}
    &_npinkviolet {@include color-gradient(horizontal, pinkviolet, false);}
    &_ngreenyellow {@include color-gradient(horizontal, greenyellow, false);}
    &_nyellowgreen {@include color-gradient(horizontal, yellowgreen, false);}
    &_norange {@include color-gradient(horizontal, orange1, false);}
    &_nvioletblue {@include color-gradient(horizontal, violetblue, false);}
    &_naltblue {@include color-gradient(horizontal, blue2, false);}
    &_ncyanviolet {@include color-gradient(horizontal, cyanviolet, false);}
    &_nred {@include color-gradient(horizontal, red1, false);}
    &_ngrey {@include color-gradient(horizontal, grey1, false);}
    // v2
    &_ncyan {@include color-gradient(horizontal, cyan1, false);}
    &_nblueviolet {@include color-gradient(horizontal, blueviolet, false);}
    &_nviolet {@include color-gradient(horizontal, violet1, false);}
  }

  &__icon {
    left: 28px;

    &_red {
      background: url(../images/depfin-analytics-gp/pink.png) 50% 50% no-repeat;
    }
    &_violet {
      background: url(../images/depfin-analytics-gp/violet.png) 50% 50% no-repeat;
    }
    &_blue {
      background: url(../images/depfin-analytics-gp/blue.png) 50% 50% no-repeat;
    }
    &_greenyellow {
      background: url(../images/depfin-analytics-gp/greenyellow.png) 50% 50% no-repeat;
    }
    
    &_svg {
      background: none;
      
      &.legend-icon-a__icon_red {
        fill: #ce4c72;
      }
      &.legend-icon-a__icon_greenyellow {
        fill: #34ad67;
      }
      &.legend-icon-a__icon_blue {
        fill: #00a7e7;
      }
      &.legend-icon-a__icon_yellow {
        fill: #fca805;
      }
    }
  }
  
  &__line {
    display: inline-block;
    width: 21px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 9px;
    
    &_grey {
      background-color: #9aa1ad;
    }
  }

  &__label {
    font-size: 14px;
    color: #d1d1d1;
    vertical-align: top;
    margin-top: 3px;
    display: inline-block; 
  }
  
  .checkbox {
    opacity: .7;
    line-height: normal;
    
    &.checkbox_active {
      opacity: 1;
      
      .legend-icon-a__label {
        color: #000;
      }
    }
  }
}

