.legend__item {

  &_violet:before {
    background: #a870d5;
    background-image: -webkit-linear-gradient(right,#8449b4,#a870d5 65%);
    background-image: linear-gradient(270deg,#8449b4,#a870d5 65%);
  }

  &_grey:before {
    background: #ccd0d7;
    background-image: -webkit-linear-gradient(right,#bcc0ca,#ccd0d7 65%);
    background-image: linear-gradient(270deg,#bcc0ca,#ccd0d7 65%);
  }

  &_altgreen:before {
    background: #26c082;
    background-image: -webkit-linear-gradient(right,#2dc98f,#26c082 65%);
    background-image: linear-gradient(270deg,#2dc98f,#26c082 65%);
  }

  &_yellow:before {
    background: #ffd856;
    background-image: -webkit-linear-gradient(right,#fca805,#ffd856 65%);
    background-image: linear-gradient(270deg,#fca805,#ffd856 65%);
  }

  &_pink:before {
    background: #612292;
    background-image: -webkit-linear-gradient(right,#612292,#bd84e9 65%);
    background-image: linear-gradient(270deg, #612292 0%, #bd84e9 65%);
  }

  &_lightgreen:before {
    background: #11a360;
    background-image: -webkit-linear-gradient(right,#11a360,#32d197 65%);
    background-image: linear-gradient(270deg, #11a360 0%, #32d197 65%);
  }

  &_altblue:before {
    background: #004ccf;
    background-image: -webkit-linear-gradient(right,#004ccf,#00ffff 65%);
    background-image: linear-gradient(270deg, #004ccf 0%, #00ffff 65%);
  }

  &_blue:before {
    background: #021398;
    background-image: -webkit-linear-gradient(right,#021398,#ff0036 65%);
    background-image: linear-gradient(270deg, #021398 0%, #ff0036 65%);
  }

  &_red:before {
    background: #9d308a;
    background-image: -webkit-linear-gradient(right,#9d308a,#ff695b 65%);
    background-image: linear-gradient(270deg, #9d308a 0%, #ff695b 65%);
  }
}
