.analityc-control-switcher {
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #0d46a1;
  border-radius: 2px;
  
  a {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    padding: 0 30px;
    text-transform: uppercase;
    text-align: center;
    transition: all .25s ease-in-out;
    &:hover, &.active {
      color: #fff;
      background-color: #0d46a1;
    }
  }
}

.analityc-control-buttons {
  margin-left: 30px;
  margin-top: 30px;
  display: inline-block;
  vertical-align: middle;
}

.analityc-control-button {
  display: inline-block;
  vertical-align: middle;
  transition: all .25s ease-in-out;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  
  & + & {
    margin-left: 10px;
  }
  
  &_graphics {
    background-image: url(../images/temp/icon_graphics.png);
    &:hover, &.active {
      background-image: url(../images/temp/icon_graphics_act.png);
    }
  }
  
  &_table {
    background-image: url(../images/temp/icon_table.png);
    &:hover, &.active {
      background-image: url(../images/temp/icon_table_act.png);
    }
  }
}

.analityc-widget__graphics {
  margin-top: 63px;
}
