include ../page-header/page-header
include ../analityc-graphics/analityc-graphics

mixin income()
  .main._basic
    section.basic-budget
      .wrapper
        +page-header('Доходы бюджета', false, true)
        
        // Tab 1
        .analityc-widget
          .analityc-control-group._year
            span Год
            select.analityc-select
              option(selected) 2017
              option 2016
              option 2015
          .analityc-control-group._stage
            span Этап
            select.analityc-select
              option(selected) Закон о бюджете утвержденный
              option Закон о бюджете утвержденный
              option Закон о бюджете утвержденный
          .analityc-control-group._level
            span Уровень
            select.analityc-select
              option(selected) Бюджет москвы
              option Бюджет области
              option Бюджет региона
          .analityc-control-group._transfer
            span Классификация доходов
            select.analityc-select
              option(selected) Виды
              option Виды
          .analityc-control-group._dp
            input(placeholder="Выберите дату исполнения").datepicker
          .analityc-control-switcher
            a(href="#").active %
            a(href="#") млрд руб.
          .analityc-control-buttons
            a(href="#").analityc-control-button.analityc-control-button_graphics.active
            a(href="#").analityc-control-button.analityc-control-button_table
          +analityc-graphics-round().analityc-widget__graphics
          a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
          
        // Tab 3
        .analityc-widget
          .analityc-control-group._year
            span Год
            select.analityc-select
              option(selected) 2017
              option 2016
              option 2015
          .analityc-control-group._stage
            span Этап
            select.analityc-select
              option(selected) Закон о внесении изменений
              option Закон о внесении изменений
              option Закон о внесении изменений
          .analityc-control-group._level
            span Уровень
            select.analityc-select
              option(selected) Бюджет москвы
              option Бюджет области
              option Бюджет региона
          .analityc-control-group._transfer
            span Классификация доходов
            select.analityc-select
              option(selected) Виды
              option Виды
          .analityc-control-group._dp
            input(placeholder="Выберите дату исполнения").datepicker
          .analityc-control-buttons
            a(href="#").analityc-control-button.analityc-control-button_graphics.active
            a(href="#").analityc-control-button.analityc-control-button_table
          +analityc-graphics-column().analityc-widget__graphics
          a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
          
      // Dropdown block
      .dropdown-block
        .dropdown
          .dropdown-trigger
            .wrapper
              span
                strong Документы
          .dropdown-content
            .wrapper
              span Документы
        .dropdown
          .dropdown-trigger
            .wrapper
              span
                strong Новости по&nbsp;теме
          .dropdown-content
            .wrapper
              span Новости
        .dropdown
          .dropdown-trigger
            .wrapper
              span
                strong Сервисы
          .dropdown-content
            .wrapper
              span Сервисы
