/*
.sections
.over-layer
.wrap
.ahead
.load-anim
.share
.letter
.arrow
.dropdown__content
*/

.glossary-2 {

	.sections__item {
	    position: relative;
	    padding-bottom: 1px;
	}
	.sections__item_first {
	    padding-top: 225px;
	}
	.sections-budget {
	    background: #061B48;
	}
	.sections-budget__bg {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: url(../images/background/budget.jpg) no-repeat 50% 0;
	    -moz-background-size: 100% auto;
	    -o-background-size: 100% auto;
	    background-size: 100% auto;
	}
	.over-layer {
	    position: relative;
	    z-index: 2;
	}
	.wrap {
	    max-width: 1174px;
	    margin: 0 auto;
	}
	.wrap_sh {
	    max-width: 1100px;
	}
	.ahead {
	    margin-bottom: 40px;
	}
	.ahead__title {
	    font-family: 'pf_din_text_comp_pro';
	    font-size: 72px;
	    font-weight: 500;
	    text-transform: uppercase;
	    float: left;
	    margin-right: 20px;
	    color: #fff;
	}
	.load-anim-fade {
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    opacity: 0;
	    -webkit-transition: 0.5s;
	    -moz-transition: 0.5s;
	    -o-transition: 0.5s;
	    transition: 0.5s;
	}
	.load-anim-fade_on {
	    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	    opacity: 1;
	}
	.ahead__star {
	    float: left;
	    margin: 5px 14px 0 0;
	}
	.load-anim-fade {
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    opacity: 0;
	    -webkit-transition: 0.5s;
	    -moz-transition: 0.5s;
	    -o-transition: 0.5s;
	    transition: 0.5s;
	}
	.load-anim-fade_on {
	    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	    opacity: 1;
	}
	a {
	    -webkit-appearance: none;
	}
	.ahead__star-btn {
	    display: block;
	    width: 22px;
	    height: 22px;
	    position: relative;
	}
	.ahead__star-btn:before, .ahead__star-btn:after {
	    display: block;
	    content: "";
	    width: 22px;
	    height: 22px;
	    background-image: url(../images/sprite.png);
	    background-repeat: no-repeat;
	    background-position: 0 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.ahead__star-btn:before {
	    background-position: -62px -112px;
	}
	.ahead__star-btn:after {
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    opacity: 0;
	    background-position: -101px -65px;
	    -webkit-transition: 0.5s;
	    -moz-transition: 0.5s;
	    -o-transition: 0.5s;
	    transition: 0.5s;
	}
	.ahead__share {
	    float: left;
	    margin-top: 6px;
	    margin-right: 16px;
	    position: relative;
	}
	.load-anim-fade {
	    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	    opacity: 0;
	    -webkit-transition: 0.5s;
	    -moz-transition: 0.5s;
	    -o-transition: 0.5s;
	    transition: 0.5s;
	}
	.load-anim-fade_on {
	    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	    opacity: 1;
	}
	button, input[type="submit"] {
	    cursor: pointer;
	}
	.ahead__share-btn {
	    display: block;
	    position: relative !important;
	    width: 16px !important;
	    height: 20px !important;
	    background: none !important;
	}
	.ahead__share-btn:before, .ahead__share-btn:after {
	    display: block;
	    content: "";
	    width: 16px;
	    height: 20px;
	    background-image: url(../images/sprite.png);
	    background-repeat: no-repeat;
	    background-position: 0 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	}
	.ahead__share-btn:before {
	    background-position: -133px -66px;
	}
	.share__panel {
	    height: 58px;
	    background: #0E5FCE;
	    position: absolute;
	    top: 100%;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    line-height: 58px;
	    display: none;
	}
	.ahead__share .share__panel {
	    width: 160px !important;
	    background: none !important;
	    left: -18px !important;
	    height: 45px !important;
	    line-height: 40px !important;
	}
	.share__a {
	    display: inline-block;
	    width: 23px;
	    height: 23px;
	    margin: 0 15px;
	    vertical-align: middle;
	    background-image: url(../images/sprite.png);
	    background-repeat: no-repeat;
	    background-position: 0 0;
	    -webkit-transition: 0.5s;
	    -moz-transition: 0.5s;
	    -o-transition: 0.5s;
	    transition: 0.5s;
	}
	.share__a_fb {
	    background-position: 5px -63px;
	}
	.share__a_vk {
	    background-position: -19px -63px;
	}
	.share__a_tw {
	    background-position: -47px -63px;
	}
	.share__a_ok {
	    background-position: -75px -63px;
	}
	.ahead__share .share__a {
	    margin: 0 5px !important;
	}
	.ahead:after {
	    display: block;
	    width: 100%;
	    content: "";
	    clear: both;
	}
	.wrap:after {
	    display: block;
	    width: 100%;
	    content: "";
	    clear: both;
	}


	/*Letter Slider*/
	.letter__line { list-style: none; margin-bottom: 45px; }

	.letter__line:after { display: block; width: 100%; content: ""; clear: both; }

	.letter__line-item { float: left; height: 40px; border-bottom: 2px solid #eee; border-bottom: 2px solid rgba(255, 255, 255, 0.2); -webkit-transition: 0.5s; -moz-transition: 0.5s; -o-transition: 0.5s; transition: 0.5s; }

	.letter__line-item_first .letter__btn { padding-left: 3px; }

	.letter__line-item_last .letter__btn { padding-right: 3px; }

	.letter__line-item_active { border-bottom: 2px solid #fff !important; }

	.letter__line-item_current button { color: #FFF !important; }

	.letter__line-arrow { 
		display: block; 
		position: relative;
		float: left;
		top: 2px;
		height: 40px;

		&_l {
			margin-right: 22px;
		}

		&_r {
			margin-left: 22px
		}
	}

	.letter__btn { 
		height: 40px; 
		font-size: 30px; 
		font-family: 'pf_din_text_comp_pro'; 
		font-weight: 500; color: #fee300; 
		padding: 0 11px; text-transform: 
		uppercase; padding-bottom: 40px; 
		-webkit-transition: 0.5s; 
		-moz-transition: 0.5s; 
		-o-transition: 0.5s; 
		transition: 0.5s; 
	}

	.letter__btn:hover { color: #FFF; }

	.letter__slider { overflow: hidden; position: relative; min-height: 500px; padding-bottom: 45px; -webkit-mask-image: -webkit-linear-gradient(left, transparent 0.5%, black 7%, black 93%, transparent 99.5%); cursor: -webkit-grab; cursor: -moz-grab; cursor: grab; }

	.letter__track { 
		display: table;
		border-collapse: separate;
		border-spacing: 10px 0;
		margin: 0 -10px;
		position: relative; 
		-webkit-transition: 0.5s; 
		-moz-transition: 0.5s; 
		-o-transition: 0.5s; 
		transition: 0.5s; }

	.letter__track:after { display: block; width: 100%; content: ""; clear: both; }

	.letter__item { 
		display: table-cell;
		float: none;
		min-width: 265px;
		width: 265px;
		-webkit-box-sizing: border-box; 
		-moz-box-sizing: border-box; 
		box-sizing: border-box; 
		padding: 29px 0 19px; 
		background: #fff;
		margin-right: 10px;
	}

	.letter__char { 
		font-family: 'pf_din_text_comp_pro'; 
		font-size: 72px; 
		color: #000; 
		opacity: .1;
		height: 100px; 
		padding-left: 22px;
		padding-right: 12px;
	}

	.letter__dropdown { font-family: 'pf_dintext_pro'; margin-bottom: 16px;
	    /*Добавлен из за конфликта с basic_budget_figures*/
	    border-top: none;
	    position: relative;
		padding-left: 22px;
		padding-right: 12px;
	}

	.letter__dropdown .dropdown__close { 
		color: #0d46a1; 
		font-size: 12px; 
		left: auto;
		bottom: 20px;
	}

	.letter__dropdown .dropdown__content { 
		padding: 15px 0 45px; 
	    position: absolute;
	    width: 100%;
	    padding-left: 22px;
	    padding-right: 12px;
	    left: 0;
	    background: #e8ecf1;
	    z-index: 1;
	    box-shadow: 0 23px 38px rgba(34, 62, 107, 0.59);
	}

	.letter__a { 
		font-size: 16px; 
		line-height: 1.25; 
		color: #fee300; 
		text-decoration: none; 
		-webkit-transition: 0.5s; 
		-moz-transition: 0.5s; 
		-o-transition: 0.5s; 
		transition: 0.5s; 
		color: #0d46a1;
	}

	.letter__a:hover { 
		color: #0d46a1;
		opacity: .8;
	}

	.letter__tit { 
		font-size: 16px; 
		color: #000; 
		font-weight: 700; 
		line-height: 1.25; 
		margin-bottom: 6px; 
	}

	.letter__p { 
		font-size: 14px; 
		color: #000; 
		line-height: 1.28571; }

	.letter__hover { position: absolute; height: 100%; width: 121px; z-index: 3; cursor: default; }

	.letter__hover_left { left: 0; }

	.letter__hover_right { right: 0; }


	button, input[type="submit"] {
	    cursor: pointer;
	}
	.arrow {
	    display: block;
	    font-size: 0;
	    width: 45px;
	    height: 45px;
	    background: #fee300;
	    position: relative;
	    -webkit-transition: 0.5s;
	    -moz-transition: 0.5s;
	    -o-transition: 0.5s;
	    transition: 0.5s;
	}
	.arrow_m {
	    width: 40px;
	    height: 40px;
	}

	.dropdown__content {
	    display: none;
	    position: relative;
	    padding-bottom: 1px;
	}

	.dropdown__close {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	}


	/*+++++++++++++++++*/

	@media (min-width: 1254px) and (min-height: 1000px) { .sections__ahead_ab { top: 150px; }
	}

	@media (min-width: 1254px) and (min-height: 850px) { .sections__ahead_ab { top: 117px; }
	}

	@media (max-width: 1180px) { .sections__item_first { padding-top: 190px; }
	  .sections__title { font-size: 3.125rem; margin-right: 45px; max-width: 67%; }
	  .sections__legend { padding-top: 5px; margin-right: 15px; }
	}

	@media (max-width: 900px) { .sections__ahead { padding-left: 35px; padding-right: 35px; }
	  .sections__ahead_ab { margin: 0 !important; }
	  .sections__title { font-size: 3.5rem; max-width: 100%; }
	  .sections__legend { position: absolute !important; top: auto !important; bottom: 80px; }
	  .sections__datepicker { clear: both; }
	  .sections__datepicker span { font-size: 15px; }
	  .sections__datepicker .datepicker__show { font-size: 15px; width: 66px; }
	  .sections #diagrams-ahead-1 { position: static; margin-top: 90px !important; }
	}

	@media (max-width: 900px) and (max-height: 610px) and (min-height: 500px) { .sections__subscribe { display: none; }
	}

	@media (max-width: 900px) and (max-height: 700px) { .sections__title { font-size: 25px; margin-right: 0; float: none; }
	  .sections__title br { display: none; }
	}

	@media (max-width: 700px) { .sections__item_first { padding-top: 80px !important; }
	  .sections__ahead { padding: 0; padding-top: 68px; }
	  .sections__ahead_ab { padding: 0 !important; top: 68px; }
	  .sections__title { font-size: 25px; margin-right: 0; float: none; }
	  .sections__title br { display: none; }
	  .sections__all { font-size: 12px; }
	  .sections #diagrams-ahead-1 { position: static; margin-top: 68px !important; }
	}


	@media (max-width: 1254px) { .wrap { margin: 0 40px; }
	  .wrap_sh { margin: 0 88px; } }

	@media (max-width: 900px) { .wrap { margin: 0 30px; }
	  .wrap_sh { margin: 0 66px; } }

	@media (max-width: 700px) { .wrap { margin: 0 20px !important; } }


	@media (max-width: 1180px) { .ahead__star-btn { background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; background-position: -62px -113px; }
	  .ahead__share { margin-top: 7px; }
	  .ahead__share-btn:after { display: none !important; }
	  .ahead__share .share__panel { left: -30px !important; top: 88%; } }

	@media (max-width: 900px) { .ahead { margin-bottom: 20px; }
	  .ahead__title { font-size: 36px; } }

	@media (max-width: 430px) { .ahead__share .share__panel { left: -113px !important; } }


	@media (max-width: 900px) and (max-height: 610px) and (min-height: 500px) { .share__btn { width: 30px; height: 30px; line-height: 30px; }
	  .share__btn:after { width: 12px; height: 13px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; background-position: -21px -43px; }
	  .share__btn_act:after { background-position: -40px -43px; }
	  .share__panel { height: 30px; line-height: 30px; }
	  .share__a { height: 15px; width: 15px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; }
	  .share__a_vk { background-position: -21px -64px; }
	  .share__a_tw { background-position: -48px -64px; }
	  .share__a_ok { background-position: -77px -64px; } }

	@media (max-width: 700px) { .share__btn { width: 30px; height: 30px; line-height: 30px; }
	  .share__btn:after { width: 12px; height: 13px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; background-position: -21px -43px; }
	  .share__btn_act:after { background-position: -40px -43px; }
	  .share__panel { height: 30px; line-height: 30px; }
	  .share__a { height: 15px; width: 15px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; }
	  .share__a_vk { background-position: -21px -64px; }
	  .share__a_tw { background-position: -48px -64px; }
	  .share__a_ok { background-position: -77px -64px; } }

	@media (max-width: 1180px) {
	  .letter__btn { font-size: 27px; padding-bottom: 0; color: #fee300 !important; }
	  .letter__line-arrow { display: block; float: left; height: 40px; position: relative; top: 2px; }
	  .letter__line-arrow_l { margin-right: 22px; }
	  .letter__line-arrow_r { margin-left: 22px; }
	  .letter__line-item { margin-bottom: 15px; }
	  .letter__hover { display: none; } }

	@media (max-width: 700px) {
	  .letter__btn {
	    /*!important из за неправильного переопределения медиа запросов*/
	    font-size: 14px !important;
	    height: 20px;
	    padding: 0 6px;
	  }
	  .letter__line { margin-left: 30px; margin-right: 30px; }
	  .letter__line-item { height: 20px; margin-bottom: 5px; }
	  .letter__line-arrow { height: 20px; }
	  .letter__line-arrow_l { margin-right: 10px; }
	  .letter__line-arrow_r { margin-left: 10px; }
	  .letter__item { width: 125px; padding-right: 0; }
	  .letter__char { font-size: 36px; height: 50px; }
	  .letter__a, .letter__tit, .letter__p { font-size: 12px; }
	  .letter__slider { min-height: 300px; -webkit-mask-image: -webkit-linear-gradient(left, transparent 0.5%, black 10%, black 85%, transparent 99.5%); } }


	@media (max-width: 700px) { .arrow { width: 28px; height: 28px; }
	  .arrow:after { width: 8px; height: 13px; top: 8px; background-image: url("../images/sprite@2x.png"); -moz-background-size: 480px auto; -o-background-size: 480px auto; background-size: 480px auto; background-repeat: no-repeat; }
	  .arrow_left:after { left: 9px !important; background-position: -30px -118px; }
	  .arrow_left.arrow_m:after { left: 7px !important; background-position: -30px -119px; }
	  .arrow_right:after { right: 10px !important; background-position: -43px -118px; }
	  .arrow_right.arrow_m:after { right: 7px !important; background-position: -46px -119px; }
	  .arrow_m { width: 20px; height: 20px; }
	  .arrow_m:after { width: 5px; height: 10px; top: 5px; } }

	@media (max-width: 700px) { .dropdown__btn_y { font-size: 14px; height: 39px; line-height: 40px; }
	  .dropdown__btn_y:after { margin-top: -3px; }
	}

}