.d-si-content_polls-result {

  .d-si__quiz-container {
    @media screen and (max-width: 970px) {
      padding-bottom: 49px;
    }
  }

  .d-sr__result {
    margin-top: 23px;

    @media screen and (max-width: 970px) {
      margin-top: 35px;
    }

    @media screen and (max-width: 400px) {
      margin-top: 29px;
    }

    &_date {
      line-height: 14px;
    }

    &_value {
      @media screen and (max-width: 970px) {
        margin-top: 14px;
      }

      @media screen and (max-width: 639px) {
        margin-top: 3px;
      }
    }
  }

  .d-sr__stat-container {
    margin-top: 50px;
    padding-bottom: 54px;

    @media screen and (max-width: 970px) {
      margin-top: 25px;
    }
  }

  .d-si__quiz-container_head {

    @media screen and (max-width: 1190px) {
      padding: 20px 55px 19px 46px;
    }

    @media screen and (max-width: 639px) {
      padding: 17px 50px 16px 15px;
    }

    @media screen and (max-width: 400px) {
      padding: 17px 50px 11px 15px;
    }
  }

  .other-info {
    margin-top: -55px;
    margin-bottom: 63px;

    p + p {
      margin-top: 7px;
    }
  }

  .d-sr__stat_head {
    margin-bottom: -1px;
    line-height: 18px;
  }

  .d-sr__progress_item {
    margin-top: 22px;

    @media screen and (max-width: 970px) {
      padding-bottom: 19px;
    }
  }

  .d-sr__progress-descr {
    line-height: 16px;
  }

  .d-sr__progress-bar_val {
    @media screen and (max-width: 970px) {
      margin-top: 1px;
    }
  }

  .ds-r__stat-container_mt {
    margin-top: 12px;

    @media screen and (max-width: 970px) {
      margin-top: -27px;
      padding-bottom: 0;
    }
  }
}
