include ../page-header/page-header

mixin polls-result()
  .d-si-content.d-si-content_polls-result
    .d-layer.d-layer_small
      .d-si__head
        +page-header('Опросы', 'Сервисы')

      .d-si__quiz-container
        .d-si__quiz-container_head
          span Как сделать портал удобнее?
          .d-si__quiz-container_head-cross
        .d-si__quiz-container_body.d-sr__body_p
          .d-sr__result
            span.d-sr__result_date Даты проведения опроса:
              span.d-sr__result_bold 20.02.2016 - 31.03.2016
            span.d-sr__result_value Всего проголосовало:
              span.d-sr__result_bold
                span.d-sr__vote_val 504&nbsp;
                | чел.
          .d-sr__stat-container
            p.d-sr__stat_head КАКОВА ВАША ЦЕЛЬ ПОСЕЩЕНИЯ ПОРТАЛА «ОТКРЫТЫЙ БЮДЖЕТ ГОРОДА МОСКВЫ» СЕГОДНЯ?
            .d-sr__progress_item
              .d-sr__progres_va-fix
                p.d-sr__progress-descr Поиск информации о бюджете города Москвы для подготовки учебных материалов рефератов, курсовых/дипломных работ
                .d-sr__progress-bar
                  .d-sr__progress-bar_pb
                    span(data-progress-percent='47').d-sr__pb_empty
                      span(style='width: 30px').d-sr__pb_fill
                  p.d-sr__progress-bar_val
                    span.d-sr__val_p 135
                    | &#160;/
                    span.d-sr__val_perc 47%
            .d-sr__progress_item
              .d-sr__progres_va-fix
                p.d-sr__progress-descr Поиск информации о бюджете города Москвы, необходимой в профессиональной деятельности
                .d-sr__progress-bar
                  .d-sr__progress-bar_pb
                    span(data-progress-percent='27').d-sr__pb_empty
                      span(style='width: 30px').d-sr__pb_fill
                  p.d-sr__progress-bar_val
                    span.d-sr__val_p 87
                    | &#160;/
                    span.d-sr__val_perc 27%
            .d-sr__progress_item
              .d-sr__progres_va-fix
                p.d-sr__progress-descr Изучение опыта города Москвы в части открытости бюджетных данных и представления бюджетных данных для граждан
                .d-sr__progress-bar
                  .d-sr__progress-bar_pb
                    span(data-progress-percent='12').d-sr__pb_empty
                      span(style='width: 30px').d-sr__pb_fill
                  p.d-sr__progress-bar_val
                    span.d-sr__val_p 34
                    | &#160;/
                    span.d-sr__val_perc 12%
            .d-sr__progress_item
              .d-sr__progres_va-fix
                p.d-sr__progress-descr Изучение бюджета и бюджетного процесса в общем формате
                .d-sr__progress-bar
                  .d-sr__progress-bar_pb
                    span(data-progress-percent='8').d-sr__pb_empty
                      span(style='width: 30px').d-sr__pb_fill
                  p.d-sr__progress-bar_val
                    span.d-sr__val_p 12
                    | &#160;/
                    span.d-sr__val_perc 8%
            .d-sr__progress_item
              .d-sr__progres_va-fix
                p.d-sr__progress-descr Задать вопрос о бюджете города Москвы/дать предложение
                .d-sr__progress-bar
                  .d-sr__progress-bar_pb
                    span(data-progress-percent='6').d-sr__pb_empty
                      span(style='width: 30px').d-sr__pb_fill
                  p.d-sr__progress-bar_val
                    span.d-sr__val_p 9
                    | &#160;/
                    span.d-sr__val_perc 6%
            .d-sr__progress_item
              .d-sr__progres_va-fix
                .d-sr__progress-descr
                  a.d-sr__progress-descr_other Другое
                .d-sr__progress-bar
                  .d-sr__progress-bar_pb
                    span(data-progress-percent='0').d-sr__pb_empty
                      span(style="width: 0; min-width: 0;").d-sr__pb_fill
                  p.d-sr__progress-bar_val.d-sr__val_zero
                    span.d-sr__val_p 0
                    | &#160;/
                    span.d-sr__val_perc 0%
          .other-info
            p На&nbsp;что конкретно тратятся бюджетные деньги
            p Параметры бюджетов города Москвы за&nbsp;прошедшие периоды (5-10 лет и&nbsp;более)
          .d-sr__stat-container.ds-r__stat-container_mt
            p.d-sr__stat_head
              | БЫЛО БЫ ВАМ ПРОЩЕ/ИНТЕРЕСНЕЕ СЛЕДИТЬ ЗА ОБНОВЛЕНИЯМИ ПОРТАЛА ЧЕРЕЗ СТРАНИЦЫ
              br
              | В СОЦИАЛЬНЫХ СЕТЯХ?
            .d-sr__progress_item
              .d-sr__progres_va-fix
                p.d-sr__progress-descr Я активный пользователей социальных сетей и основную информацию получаю именно там. Создание страниц Портала в социальных сетях необходимо
                .d-sr__progress-bar
                  .d-sr__progress-bar_pb
                    span(data-progress-percent='34').d-sr__pb_empty
                      span(style="width: 30px;").d-sr__pb_fill
                  p.d-sr__progress-bar_val
                    span.d-sr__val_p 90
                    | &#160;/
                    span.d-sr__val_perc 34%
            .d-sr__progress_item
              .d-sr__progres_va-fix
                p.d-sr__progress-descr Да, это будет очень интересно, но не обязательно
                .d-sr__progress-bar
                  .d-sr__progress-bar_pb
                    span(data-progress-percent='56').d-sr__pb_empty
                      span(style="width: 30px;").d-sr__pb_fill
                  p.d-sr__progress-bar_val
                    span.d-sr__val_p 148
                    | &#160;/
                    span.d-sr__val_perc 56%
            .d-sr__progress_item
              .d-sr__progres_va-fix
                p.d-sr__progress-descr Мне достаточно информации размещенной на данном портале и все новости я могу узнать, зайдя на Портал
                .d-sr__progress-bar
                  .d-sr__progress-bar_pb
                    span(data-progress-percent='9').d-sr__pb_empty
                      span(style="width: 30px;").d-sr__pb_fill
                  p.d-sr__progress-bar_val
                    span.d-sr__val_p 10
                    | &#160;/
                    span.d-sr__val_perc 9%
          .d-sr__social
            span.d-sr__social_txt Поделиться результатами:
            a(href="#" title="facebook").d-sr__social_fb
              i(aria-hidden='true').fa.fa-facebook
            a(href="#" title="twitter").d-sr__social_t
              i(aria-hidden='true').fa.fa-twitter
            a(href="#" title="ВКонтакте").d-sr__social_vk В
