extends ../../layouts/default
include ../../components/page-header/page-header
include ../../components/budget-calc-app/budget-calc-app

block head
  - var pageTitle = 'бюджетный калькулятор города Москвы'

block page
  block header
    +header()._budget

  block sections
    +sections

      block content
        +b.budget-calc-page.sections__item.sections__item_first.sections-budget
          .sections-budget__bg.-budget-calc
          .over-layer
            +e.wrap.wrap_sh.__wrap
              +e.ahead.ahead
                +page-header('бюджетный калькулятор города Москвы', ['Сервисы']).__page-header
              +e.tabs#budget-calc__tabs
                +e.tab.js-budget-calc__tab#budget-calc__tab_intro.is-active
                  +e.intro.load-anim-fade(data-delay="2200")
                    +e.intro-col-left
                      //- +icon('calc').icon.__intro-icon
                      <object type="image/svg+xml" data="assets/images/depfin_services_budget_calc/calc.svg" class="icon budget-calc-page__icon budget-calc-page__intro-icon"></object>
                    +e.intro-col-right
                      +e.intro-text._desktop Бюджетный калькулятор города Москвы — это образовательный инструмент, который позволит любому гражданину принять участие в виртуальном планировании бюджета города Москвы и в упрощенной форме демонстрирует принципы бюджетного планирования.
                      +e.intro-buttons
                        +budget-calc-btn('Начать').-svg-icon.js-budget-calc__tab-control(href="#budget-calc__tab_app")
                          +icon('angle-arrow').icon
                        +budget-calc-btn('Гид по калькулятору').-transparent.-svg-icon(href="#" data-scrollto="#budget-calc-page__howto").js-budget-calc-page__scrollToLink
                          +icon('angle-arrow').icon.icon-90deg
                  +e.intro-text._mobile.load-anim-fade(data-delay="2500") Бюджетный калькулятор города Москвы — это образовательный инструмент, который позволит любому гражданину принять участие в виртуальном планировании бюджета города Москвы и в упрощенной форме демонстрирует принципы бюджетного планирования.
                  +e.howto.load-anim-fade(data-delay="2500")#budget-calc-page__howto
                    +e.howto-heading как это работает
                    +e.howto-grid.js-budget-calc-page__howto-carousel#budget-calc__howto-grid
                      +e.howto-item(data-show-vex-modal)
                        +e.howto-item-preview.-fixed-height
                          img(src="assets/images/depfin_services_budget_calc/howto_income.jpg")
                        +e.howto-item-text
                          | Выберите способы увеличения доходов бюджета города Москвы. Вы можете изменить ставки налогов, зачисляемых в бюджет города Москвы, или отказаться от налоговых льгот.
                      +e.howto-item(data-show-vex-modal)
                        +e.howto-item-preview.-fixed-height
                          img(src="assets/images/depfin_services_budget_calc/howto_costs.jpg")
                        +e.howto-item-text
                          | Выберите наиболее приоритетные направления расходования бюджетных средств путем сокращения или увеличения расходов на государственные программы.
                      +e.howto-item
                        +e.howto-item-preview.-fixed-height
                          img(src="assets/images/depfin_services_budget_calc/howto_balance.jpg")
                        +e.howto-item-text
                          | Основная задача — обеспечить сбалансированность бюджета города Москвы, которую можно достигнуть с помощью сокращения дефицита бюджета или привлечения источников финансирования дефицита бюджета.
                      +e.howto-item
                        +e.howto-item-preview.-fixed-height
                          img(src="assets/images/depfin_services_budget_calc/howto_not-balanced.jpg")
                        +e.howto-item-text
                          | Чтобы Ваш вариант бюджета был признан сбалансированным, значение в поле «Не сбалансировано» должно находиться в пределах +/- 0,1 млрд руб.
                      +e.howto-item
                        +e.howto-item-preview
                          img(src="assets/images/depfin_services_budget_calc/howto_check-btn.jpg")
                        +e.howto-item-text
                          | Создав сбалансированных бюджет, Вы можете поделиться им с друзьями, предложить на рассмотрение органам власти, сохранить в личном кабинете один или несколько вариантов бюджета.
                      +e.howto-item
                        +e.howto-item-preview
                          img(src="assets/images/depfin_services_budget_calc/howto_total.jpg")
                      +e.howto-item.-hidden-mobile.js-slick-remove
                        +e.howto-item-text
                          | <a class="howto-item-text-link" href="#">Зарегистрировавшись</a> на сайте, Вы получите возможность сохранять и просматривать все свои варианты бюджета в Личном кабинете.
                      +e.howto-item.-hidden-mobile.js-slick-remove
                        +budget-calc-btn('Начать')._howto-start.js-budget-calc__tab-control(href="#budget-calc__tab_app")
                    +e#budget-calc__howto-hidden
                    +e.howto-item.-hidden-desktop
                      +e.howto-item-text
                        | <a class="howto-item-text-link" href="#">Зарегистрировавшись</a> на сайте, Вы получите возможность сохранять и просматривать все свои варианты бюджета в Личном кабинете.
                    +e.howto-item.-hidden-desktop
                      +budget-calc-btn('Начать')._howto-start.js-budget-calc__tab-control(href="#budget-calc__tab_app")
                +e.tab.js-budget-calc__tab#budget-calc__tab_app
                  //- +e.switch
                  //-   +e.A.switch-link.is-active(href="#") Мое предложение
                  //-   +e.A.switch-link(href="#") ПРЕДЛОЖЕНИЯ ПОЛЬЗОВАТЕЛЕЙ
                  +e.tab-description Бюджетный калькулятор города Москвы — это образовательный инструмент, который позволит любому гражданину принять участие в виртуальном планировании бюджета города Москвы и в упрощенной форме демонстрирует принципы бюджетного планирования.
                  +budget-calc-app().__budget-calc-app
        +footer()
        //- +button-top()

  +popup-wrapper()

  script(src="assets/scripts/js/jquery-3.1.1.min.js")
  script(src="assets/scripts/js/library.js")
  script(src="assets/scripts/js/header/easing.min.js")
  script(src="assets/scripts/js/header/swipe.min.js")
  script(src="assets/scripts/js/header/slick.min.js")
  script(src="assets/scripts/js/header/jquery-ui.min.js")
  script(src="assets/scripts/js/header/jquery.validate.min.js")
  script(src="assets/scripts/js/header/sections.min.js")
  script(src="assets/scripts/js/header/cube.min.js")
  script(src="assets/scripts/js/header/animation.min.js")
  script(src="assets/scripts/js/header/label.min.js")
  script(src="assets/scripts/js/header/select.min.js")
  script(src="assets/scripts/js/header/popup.min.js")
  script(src="assets/scripts/js/header/share.min.js")
  script(src="assets/scripts/js/header/form.min.js")
  script(src="assets/scripts/js/header/letter.min.js")
  script(src="assets/scripts/js/header/common.min.js")
  script(src="assets/scripts/js/header/diagram.min.js")
  script(src="assets/scripts/js/owl.carousel.min.js")
  script(src="assets/scripts/js/script.js")
  script(src="assets/scripts/js/ez.js")
