.budget-calc-page {
  padding-bottom: 60px;

  .sections-budget__bg {
    @include bg-cover;
    background-image: url(../images/depfin-budget-moscow-infograpfic-fin/bg.jpg);
    background-position: center 0;
  }

  @media (max-width: 800px) {
    padding-top: 100px;
  }

  @media (min-width: 801px){
    padding-top: 170px;
  }

  &__wrap {
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1025px) {
      max-width: 1100px + 88px * 2;
      padding-left: 88px;
      padding-right: 88px;
    }

    @media (max-width: 1024px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 768px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (max-width: 480px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__ahead {
    margin-bottom: 20px;
  }

  &__page-header {
    max-width: 800px;
  }

  &__tab {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__intro {
    margin-top: 25px;
    @include display-flex;

    &-col-left {
      @include flex-basis(218px);
      @include flex-shrink(0);
      padding-right: 60px;

      @media (max-width: 768px) {
        @include flex-basis(175px);
        @include flex-shrink(1);
        padding-right: 20px;
      }

      @media (max-width: 480px) {
        @include flex-basis(80px);
        padding-right: 10px;
      }
    }

    &-col-right {
      @include flex-grow(1);
    }

    &-icon {
      margin-top: 5px;
      max-width: 100%;
      height: auto;
    }

    &-text {
      margin-bottom: 25px;
      max-width: 680px;
      font-family: $PFDinTextPro;
      font-size: 20px;
      line-height: 26px;
      font-weight: normal;

      &_desktop {
        @media (max-width: 768px) {
          display: none;
        }
      }

      &_mobile {
        margin-top: 27px;
        font-size: 30px;
        line-height: 36px;

        @media (min-width: 769px) {
          display: none;
        }
      }
    }

    &-buttons {
      margin-top: 5px;

      .budget-calc-btn {
        @media (max-width: 768px) {
          display: block;

          &:first-child {
            margin-bottom: 20px;
          }
        }

        @media (max-width: 480px) {
          &:first-child {
            margin-bottom: 10px;
          }
        }

        &:first-child {
          @media (min-width: 769px) {
            margin-right: 20px;
          }
        }
      }
    }
  }

  &__howto {
    margin-top: 120px;

    @media (max-width: 768px) {
      margin-top: 50px;
    }

    @media (min-width: 769px) and (max-width: 1024px) {
      margin-top: 65px;
    }

    &-heading {
      font-family: $PFDinCondensedPro;
      font-size: 24px;
      line-height: 26px;
      font-weight: 500;
      font-style: normal;
      text-transform: uppercase;
    }

    &-grid {
      margin: 24px 0 0 0;

      @media (min-width: 481px) {
        @include display-flex;
        @include flex-wrap(wrap);
        margin-left: -25px;
        margin-right: -25px;
      }

      .slick-prev { margin-left:  -10px; }
      .slick-next { margin-right: -10px; }
    }

    &-item {
      @include flex-basis(25%);
      margin-bottom: 58px;
      padding: 0 25px;

      @media (max-width: 480px) {
        padding-left: 25px;
        padding-right: 25px;
        @include flex-basis(100%);

        &.-hidden-mobile {
          display: none !important;
        }
      }

      &.-hidden-desktop {
        @media (min-width: 481px) {
          display: none !important;
          padding: 0;
        }
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        @include flex-basis(33.33%);
      }

      @media (min-width: 769px) and (max-width: 1024px) {
        @include flex-basis(33.33%);
      }

      @media (min-width: 481px) and (max-width: 768px) {
        @include flex-basis(50%);
      }

      &-preview {
        margin-bottom: 22px;

        &.-fixed-height {
          min-height: 141px;
        }

        img {
          max-width: 177px;
          height: auto;
          box-shadow: 6px 0px 16px 0px rgba(0,0,0,0.4);
        }

        @media (max-width: 480px) {
          text-align: center;

          img {
            margin-left: auto;
            margin-right: auto;
          }
        }
      }

      &-text {
        font-family: $PFDinTextPro;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;

        @media (max-width: 480px) {
          text-align: center;
        }

        .howto-item-text-link {
          color: #fee300;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__switch {
    @include display-flex;
    @include justify-content(flex-end);
    margin-bottom: 25px;
  }

  &__switch-link {
    padding: 15px 30px 14px;
    font-family: $PFDinCondensedPro;
    font-style: 18px;
    line-height: 1;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #fee300;
    color: white;
    @include transited;

    &.is-active {
      color: black;
      background-color: #fee300;
      border-color: #fee300;
    }

    &:hover {
      color: black;
      background-color: #E7CE00;
      border-color: #E7CE00;
    }
  }
}
