.questions {
  display: block;
  width: 100%;
  background: url('../images/background-q.png') no-repeat;
  background-size: cover;
  padding: 338px 0 110px;
  font-family: $PFDinCondensedPro;
  font-weight: 500;
  box-sizing: border-box;

  @include clearfix;

  @include respond-to('tablet') {
    padding: 20px 10px 0 30px;
  }

  @include respond-to('mobile') {
    padding: 0 10px;
  }

  .grid {
    position: relative;
    padding: 30px 20px 0 40px;
    background-color: $color-white;
    margin: 0 auto;

    &__col {
      padding: 27px 10px 0 13px;

      &_ten {
        overflow-y: scroll;
        max-height: 546px;
        background-color: #f4f4f4;
        padding: 33px 32px 0 25px;

        @include respond-to('laptop') {
          width: 80%;
        }

        @include respond-to('tablet') {
          width: 83%;
          padding: 23px 22px 0 15px;
        }

        @include respond-to('mobile') {
          width: 100%;
          padding: 10px 5px 0;
        }
      }

      &_two {
        vertical-align: top;

        @include respond-to('laptop') {
          width: 20%;
        }

        @include respond-to('tablet') {
          width: 17%;
          padding: 17px 0 0 3px;
        }

        @include respond-to('mobile') {
          width: 100%;
          padding: 0;
        }
      }
    }

    &::after {
      @include pseudo;

      width: 84%;
      height: 36px;
      bottom: 0;
      right: 0;
      opacity: .3;
      background-image: linear-gradient(to top, $color-black 0%, rgba(0, 0, 0, 0) 100%);

      @include respond-to('tablet') {
        width: 85%;
      }

      @include respond-to('mobile') {
        display: none;
      }
    }

    &__title {
      font-size: 30px;
      font-family: $PFDinCondensedPro;
      text-transform: uppercase;
      margin-bottom: 57px;
      padding-left: 6px;
      color: $color-black;

      @include respond-to('tablet') {
        font-size: 25px;
      }

      @include respond-to('mobile') {
        margin-bottom: 10px;
        font-size: 25px;
      }
    }

    &__nav {
      max-width: 150px;

      @include respond-to('mobile') {
        max-width: none;
        margin-bottom: 10px;
      }

      &__item {
        color: #094cb9;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: $PFDinCondensedPro;
        position: relative;
        display: inline-block;
        padding: 2px 17px 2px 6px;
        margin-bottom: 12px;
        cursor: pointer;

        @include respond-to('tablet') {
          font-size: 16px;
        }

        @include respond-to('mobile') {
          display: inline-block;
          font-size: 14px;
          margin-bottom: 0;
          margin-right: 5px;
          padding: 2px 12px 2px 6px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &_active {
          background-color: $color-link;
          color: $color-white;

          &::after {
            @include pseudo;

            right: -7px;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-color: $color-red;
            border-radius: 50%;
          }

          &::before {
            @include pseudo($content: '2');

            right: -2px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            font-size: 11px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .question {
    margin-bottom: 18px;
  }
}
