extends ../../layouts/default
include ../../components/tax-policy/tax-policy

block head
  - var pageTitle = 'Versta Project Template'

block header
  +header()._budget

block sections
  +sections()

    block content
      +tax-policy()

    block footer
      +footer()
