.mrelations-transfer {
  display: block;
  background-image: url(../images/bg-relations.jpg);
  background-size: cover;
  background-position: center 0;
  
  .segment-diagram {
    width: 270px;
    height: 270px;
    
    @media screen and (min-width: 769px) and (max-width: 1020px) {
      width: 220px;
      height: 220px;
    }
    @media screen and (min-width: 551px) and (max-width: 768px) {
      width: 270px;
      height: 270px;
    }
    @media screen and (max-width: 550px) {
      width: 216px;
      height: 216px;
    }
  }

	.analityc-widget_mrelations {
	  padding-top: 22px;
	  padding-bottom: 35px;

	  @media (max-width: 900px) {
	    padding: 30px 40px 40px;
	  }

	  @media (max-width: 580px) {
	    padding: 22px 20px 20px;
	  }
	  
	}

/*Наименование*/
  &__main {
    display: block;
    font-family:$PFDinCondensedPro;
    font-size: 12px;
    text-transform: uppercase;
    color: #0d46a1;
    font-weight: 500;
    cursor: pointer;
  }

  &__icon {
    width: 29px;
    height: 24px;
    display: inline-block;
    vertical-align: top;

    @media (max-width: 900px) {
      vertical-align: bottom;
    }

    @media (max-width: 900px) and (min-width: 581px){
      width: 63px;
      height: 58px;
    }

  }

  &__header {
    display: inline-block;
    position: relative;
    margin-top: 12px;
    margin-bottom: 34px;
  }

  &__heading {
    font-size: 30px;
    line-height: 0.9em;
    text-transform: uppercase;
    display: inline-block;
    /*margin-left: 11px;*/
    letter-spacing: -0.012em;

    @media (max-width: 900px) {
      display: inline;
    }

    @media (max-width: 900px) and (min-width: 581px) {
      font-size: 36px;
      line-height: 40px;
    }

    @media (max-width: 580px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__link {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 101%;
    font-size: 14px;
    font-weight: 400;
    font-family: $PFDinTextPro;
    color: $color-link;
    white-space: nowrap;
    
    @media (max-width: 1140px) {
      position: static;
      text-align: right;
      display: block;
      line-height: 1.2em;
    }

    @media (max-width: 900px) {
      text-align: center;
      text-decoration: underline!important;
    }

    @media (max-width: 900px) and (min-width: 581px){
      font-size: 30px;
    }

    @media (max-width: 580px) {
      font-size: 20px;
    }

  }
/*--Наименование*/

	.analityc-widgethead {
		position: relative;
	}

	.analityc-control-group-wrapper {
		& + .analityc-control-group-wrapper {
	   
		  @media (max-width: 900px) {
		    margin-top: 30px;
		  }
		}
	}

	.analityc-control-group._stage,
	.analityc-control-group._transfer,
	.analityc-control-group._dp,
	.analityc-control-group._dp-alt,
	.analityc-control-switcher_large,
	.analityc-control-switcher_big {
		display: none;
		margin-left: 30px!important;
    margin-bottom: 0;

		@media (max-width: 900px) {
			margin-left: 0!important;
		}

    &.active {
      display: inline-block;

      @media (max-width: 900px) {
				display: block!important;
      }
    }

	}

	.analityc-control-group._stage,
	.analityc-control-group._transfer {
		margin-top: 0;
	}

	.analityc-control-group._transfer {
		@media (max-width: 900px) {
			margin-top: 20px;
		}

	}

	.analityc-control-switcher {
		position: static!important;

		&.active {
			display: inline-block!important;
		}

		& + .analityc-control-switcher {
			@media (max-width: 900px) {
				margin-top: 20px;
			}
		}
	}

	.analityc-control-switcher_large,
	.analityc-control-switcher_big {
		margin-top: 30px!important;

		@media (max-width: 1140px) and (min-width: 901px) {
	    margin-top: 0!important;
		}

	}

	.analityc-control-switcher_large a {
		@media (max-width: 900px) and (min-width: 581px) {
	    padding: 0 55px;
		}
	}

	.analityc-control-group._dp,
	.analityc-control-group._dp-alt {
		margin-top: 30px;

		@media (max-width: 1140px) {
	    margin-top: 0;
		}

		@media (max-width: 900px) {
			width: 100%!important;
		}
	}

	.analityc-control-group._dp-alt {
		.analityc-select {
			margin-top: 0!important;
		}
	}

  .analityc-graphics, .analityc-table {
    display: none;
    &.active {
      display: block;
    }
  }

  .swiper-container {
    overflow: visible;
  }

	.legend {
		height: auto!important;
	}

	.analityc-graphics__legend_vert {
    margin-top: 115px;
	}

	.segment-diagram {

		&__val {
			z-index: 1;
		}
	}

	.analityc-graphics_line {
		.analityc-graphics__line-title {
			@media (max-width: 900px) {
				max-width: 60%;
			}
		}

		.analityc-graphics__line_blue {
			.analityc-graphics__line-total {
				width: 90%;
			}

			.analityc-graphics__line-bar-value {
				right: 10%;
			}

			.analityc-graphics__line-fill {
				width: 50%;
			}
		}
		.analityc-graphics__line_pink {
			.analityc-graphics__line-total {
				width: 1%;
			}

			.analityc-graphics__line-bar-value {
		    right: 95%;
			}

			.analityc-graphics__line-fill {
				width: .5%;
			}
		}
		.analityc-graphics__line_altgreen {
			.analityc-graphics__line-total {
		    width: 80%;
			}

			.analityc-graphics__line-bar-value {
        right: 20%;
			}

			.analityc-graphics__line-fill {
				width: 40%;
			}
		}
		.analityc-graphics__line_grey {
			.analityc-graphics__line-total {
		    width: 10%;
			}

			.analityc-graphics__line-bar-value {
        right: 90%;
			}

			.analityc-graphics__line-fill {
				width: 5%;
			}
		}
	}

	.analityc-graphics_column {
		.analityc-graphics__graphic_column {
	    @media (max-width: 1140px) {
				margin: 0 auto;
		    width: 320px;
	    }

	    @media (max-width: 1140px) {
		    width: 250px;
	    }

		}
	}
  
  .analityc-graphics_line {
    @media (max-width: 550px) {
      margin-top: 40px;
    }
  }
  
  .analityc-widgethead {
    @media screen and (max-width: 768px) and (min-width: 551px) {
      padding-bottom: 60px;
    }
  }
}
