.mrelations-transfer {
  display: block;
  background-image: url(../images/bg-relations.jpg);
  background-size: cover;
  background-position: center 0;

	.analityc-widget_mrelations {
	  padding-top: 22px;
	  padding-bottom: 35px;

	  @media (max-width: 900px) {
	    padding: 30px 40px 40px;
	  }

	  @media (max-width: 580px) {
	    padding: 22px 15px 20px;
	  }
	  
	}

	.analityc-widgethead {
		position: relative;
	}

	.analityc-control-group-wrapper {
		& + .analityc-control-group-wrapper {
	   
		  @media (max-width: 900px) {
		    margin-top: 30px;
		  }
		}
	}

	.analityc-control-switcher {
		position: static!important;
		margin-left: 30px;

		@media (max-width: 900px) {
			margin-left: 0px!important;
		}

		& + .analityc-control-switcher {
			@media (max-width: 900px) {
				margin-top: 20px;
			}
		}
	}

	.analityc-control-group._stage,
	.analityc-control-group._transfer,
	.analityc-control-group._dp,
	.analityc-control-group._dp-alt,
	.analityc-control-switcher_large,
	.analityc-control-switcher_big {
		display: none;
		margin-left: 30px!important;
    margin-bottom: 0;

		@media (max-width: 900px) {
			display: block!important;
			margin-left: 0!important;
		}

    &.active {
      display: inline-block;
    }

	}

	.analityc-control-group._stage,
	.analityc-control-group._transfer {
		margin-top: 0;
	}

	.analityc-control-group._transfer {
		@media (max-width: 900px) {
			margin-top: 20px;
		}

	}

	.analityc-control-switcher_large,
	.analityc-control-switcher_big {
		margin-top: 30px!important;

		@media (max-width: 1140px) and (min-width: 901px) {
	    margin-top: 0!important;
		}

	}

	.analityc-control-group._dp,
	.analityc-control-group._dp-alt {
		margin-top: 30px;

		@media (max-width: 1140px) {
	    margin-top: 0;
		}

		@media (max-width: 900px) {
			width: 100%!important;
		}
	}

	.analityc-control-group._dp input.datepicker {
		@media (max-width: 1140px) {
	    height: 31px!important;
	    line-height: 31px!important;
		}

		@media (max-width: 900px) and (min-width: 581px) {
			height: 52px!important;
	    line-height: 50px!important;
	    font-size: 20px!important;
	    background-position: 97% 39%!important;
		}
	}

	.analityc-control-group._dp-alt {
		.analityc-select {
			margin-top: 0!important;
		}
	}

  .analityc-graphics, .analityc-table {
    display: none;
    &.active {
      display: block;
    }
  }

	.analityc-table {
    &__wrapper {
      overflow-x: auto;
      overflow-y: hidden;
    }


    &_approved .table, 
    &_work .table,
    &_domain .table,
    &_date .table {
      @media (max-width: 580px) {
        min-width: 580px;
      }
    }

    &_changes .table {
      @media (max-width: 900px) {
        min-width: 980px;
      }
    }

	}

  .section__ar {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 3000;
    width: 21px;
    height: 26px;

    @media (max-width: 900px) {
      display: inline;
    } 

    &_disabled {
      opacity: 0;
    }

    &_left {
      right: 101%;
      transform: rotate(180deg);
    }

    &_right {
      left: 101%;
    }
  }

  .swiper-container {
    overflow: visible;
  }

	.legend {
		height: auto!important;
	}

	.analityc-graphics__legend_vert {
    margin-top: 115px;
	}

	.segment-diagram {

		&__val {
			z-index: 1;
		}
	}
	#diagram-37,
	#diagram-38,
	#diagram-39 {
		.svg-wrap {
	    transform: scale(-1,-1);
		}

		.segment-diagram__val1 {
	    top: 109px;
	    left: 198px;
		}
		.segment-diagram__val2 {
	    top: -41px;
	    right: 227px;
		}
		.segment-diagram__val3 {
	    top: 89px;
	    right: 50px;
		}
	}

	#diagram-40,
	#diagram-41,
	#diagram-42 {
		.svg-wrap {
	    transform: scale(1, 1) rotate(-100deg);
		}
		.segment-diagram__val1 {
	    top: 0;
	    left: 21px;
		}
		.segment-diagram__val2 {
			top: -97px;
	    right: 125px;
		}
		.segment-diagram__val3 {
	    top: -43px;
	    right: 36px;
		}
		.segment-diagram__val4 {
	    top: 52px;
	    right: 25px;
		}
		.segment-diagram__val5 {
	    bottom: -91px;
	    left: 182px;
		}
		.segment-diagram__val6 {
			top: 118px;
	    left: 95px;
		}
	}

	#diagram-43 {
		.svg-wrap {
	    transform: scale(-1,-1);
		}

		.segment-diagram__val1 {
	    top: 124px;
	    left: 153px;
		}
		.segment-diagram__val2 {
	    top: 0;
	    right: 242px;
		}
		.segment-diagram__val3 {
	    top: -9px;
	    right: 23px;
		}

	}

	.analityc-graphics_line {
		.analityc-graphics__line-title {
			@media (max-width: 900px) {
				max-width: 60%;
			}
		}

		.analityc-graphics__line_blue {
			.analityc-graphics__line-total {
				width: 90%;
			}

			.analityc-graphics__line-bar-value {
				right: 10%;
			}

			.analityc-graphics__line-fill {
				width: 50%;
			}
		}
		.analityc-graphics__line_pink {
			.analityc-graphics__line-total {
				width: 1%;
			}

			.analityc-graphics__line-bar-value {
		    right: 95%;
			}

			.analityc-graphics__line-fill {
				width: .5%;
			}
		}
		.analityc-graphics__line_altgreen {
			.analityc-graphics__line-total {
		    width: 80%;
			}

			.analityc-graphics__line-bar-value {
        right: 20%;
			}

			.analityc-graphics__line-fill {
				width: 40%;
			}
		}
		.analityc-graphics__line_grey {
			.analityc-graphics__line-total {
		    width: 10%;
			}

			.analityc-graphics__line-bar-value {
        right: 90%;
			}

			.analityc-graphics__line-fill {
				width: 5%;
			}
		}
	}

	#diagram-44,
	#diagram-45,
	#diagram-46 {
		.svg-wrap {
	    transform: scale(-1,-1);
		}

		.segment-diagram__val1 {
			top: 116px;
	    left: 185px;
		}
		.segment-diagram__val2 {
	    top: 8px;
	    right: 244px;
		}
		.segment-diagram__val3 {
			top: -19px;
	    right: 24px;
		}
		.segment-diagram__val4 {
	    top: 87px;
	    right: 48px;
		}

	}

	.analityc-graphics_column {
		.analityc-graphics__graphic_column {
	    @media (max-width: 1140px) {
				margin: 0 auto;
		    width: 320px;
	    }

	    @media (max-width: 1140px) {
		    width: 250px;
	    }

		}

		.column-area3 {
			background-image: linear-gradient(90deg,#bd84e9 0,#612292);

			&.subcolumn-area {
				background-image: linear-gradient(90deg,#cbb5dc 0,#e8d4f7);
			}
		}
		.column-area4 {
	    background-image: linear-gradient(0deg,#fee300 0,#30b069 83%,#30b069);

			&.subcolumn-area {
				background-image: linear-gradient(0deg,#fef5a5 0,#bbe5c7 83%,#b6e3ca);
			}
		}
		.column-area5 {
			background-image: linear-gradient(0deg,#9d308a 0,#ff695b);

			&.subcolumn-area {
				background-image: linear-gradient(0deg,#ddb6d5 0,#ffcac5);
			}
		}
		.column-area6 {
			background-image: linear-gradient(90deg,#004ccf 0,#0ff);

			&.subcolumn-area {
				background-image: linear-gradient(90deg,#a5c0ee 0,#a5feff);
			}
		}

		.column1 {
			.column-area3 {
				height: 30px;
			}
			.column-area4 {
				height: 50px;
			}
			.column-area5 {
				height: 100px;
			}
			.column-area6 {
				height: 15px;
			}
		}
		.subcolumn {
			overflow: hidden;

			.column-area3 {
				height: 44px;
		    transform: skewY(-45deg) translateY(39px);
			}
			.column-area4 {
				height: 64px;
		    transform: skewY(-40deg) translateY(30px);
			}
			.column-area5 {
		    height: 120px;
				transform: skewY(-33deg) translateY(20px);
			}
			.column-area6 {
				height: 33px;
		    transform: skewY(-15deg) translateY(10px);
			}

			.column-area:nth-child(1) {
				.column-value {
					top: 100%;
				}
			}
			.column-area:nth-child(2) {
				.column-value {
			    top: 80%;
				}
			}
			.column-area:nth-child(3) {
				.column-value {
	        top: 65%;
				}
			}
			.column-area:nth-child(4) {
				.column-value {
	        top: 70%;
				}
			}

		}
		.column2 {
			.column-area3 {
				height: 40px;
			}
			.column-area4 {
				height: 60px;
			}
			.column-area5 {
				height: 120px;
			}
			.column-area6 {
				height: 30px;
			}

		}
	}

}
