include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block

mixin mrelations_transfer_from_fed()
	+b.SECTION.mrelations-transfer.main._basic.basic-budget.section__item&attributes(attributes)
		.wrapper-header
			+page-header('Межбюджетные отношения. Трансферты из федерального бюджета в бюджет г. Москвы', ['Бюджет Москвы'], true)

		.wrapper
			.analityc-widget.analityc-widget_mrelations.load-anim-fade(data-delay="1500")
				+analityc-widgethead-mrelations()

				+analityc-graphics-round7()._approved.active
				
				+analityc-table()._approved
					+icon('angle-arrow').section__ar.section__ar_left
					+icon('angle-arrow').section__ar.section__ar_right
					.analityc-table__wrapper
						+table-mrelations(getData('income'))

				//- класс-я Направления расходования
				+analityc-graphics-round8()._domain

				+analityc-table()._domain
					+icon('angle-arrow').section__ar.section__ar_left
					+icon('angle-arrow').section__ar.section__ar_right
					.analityc-table__wrapper
						+table-mrelations2(getData('income'))
						

				+analityc-graphics-singleround3()._done
				
				+analityc-table()._done
					+table-mrelations(getData('mrelations'))


				+analityc-graphics-line('ИСПОЛНЕНИЕ ДОХОДОВ БЮДЖЕТА НА 22.04.2017', getData('graphic-lines-mrelations'))._date
				
				+analityc-table('Исполнение доходов бюджета на 22.04.2017')._date
					+icon('angle-arrow').section__ar.section__ar_left
					+icon('angle-arrow').section__ar.section__ar_right
					.analityc-table__wrapper
						+table-mrelations(getData('sources'))
		+dropdown().load-anim-fade(data-delay="1700")