include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block

mixin mrelations_transfer_from_fed(header)
	+b.SECTION.mrelations-transfer.main._basic.basic-budget.section__item&attributes(attributes)
		.wrapper-header
			+page-header('Межбюджетные отношения', ['Бюджет Москвы'], true)
			.mrelations__switcher.load-anim-fade(data-delay="1500")
				P.mrelations__switcher-text ВЫБЕРИТЕ ТИП<br> ТРАНСФЕРТОВ:
				A(href="#").mrelations__switcher-text.mrelations__switcher-text_link.active из федерального бюджета<br> в бюджет г. Москвы
				A(href="#").mrelations__switcher-text.mrelations__switcher-text_link из бюджета г. Москвы во внутригородские<br> муниципальные образования

		.wrapper
			.analityc-widget.analityc-widget_mrelations.load-anim-fade(data-delay="1500")

				A(href='#').mrelations-transfer__main На главную
				+e.header
					//- +icon('car').icon
					+e.H2.heading= header

				+analityc-widgethead-mrelations()

				+analityc-graphics-round7()._approved.active(data-stage='approved', data-class='transkinds')
				
				+analityc-table-slider(100)._approved(data-stage='approved', data-class='transkinds')
					+table-mrelations(getData('income'))

				//- класс-я Направления расходования
				+analityc-graphics-round8()._domain(data-stage='approved', data-class='directions')

				+analityc-table-slider(100)._domain(data-stage='approved', data-class='directions')
					+table-mrelations2(getData('income'))
						

				+analityc-graphics-singleround3()._done(data-stage='done', data-class='all')
				
				+analityc-table()._done(data-stage='done', data-class='all')
					+table-mrelations(getData('mrelations'))


				+analityc-graphics-line('ИСПОЛНЕНИЕ ДОХОДОВ БЮДЖЕТА НА 22.04.2017', getData('graphic-lines-mrelations'))._date(data-stage='date', data-class='all')
				
				+analityc-table-slider(100, 'Исполнение доходов бюджета на 22.04.2017')._date(data-stage='date', data-class='all')
					+table-mrelations(getData('sources'))
		+dropdown().load-anim-fade(data-delay="1700")