.mrelations-transfer {
  display: block;
  background-image: url(../images/bg-relations.jpg);
  background-size: cover;
  background-position: center 0;

	.analityc-widget_mrelations {
	  padding-top: 22px;
	  padding-bottom: 35px;

	  @media (max-width: 900px) {
	    padding: 30px 40px 40px;
	  }

	  @media (max-width: 580px) {
	    padding: 22px 15px 20px;
	  }
	  
	}

/*Наименование*/
  &__main {
    display: block;
    font-family: PFDinCondensedPro,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #0d46a1;
    font-weight: 500;
    cursor: pointer;
  }

  &__icon {
    width: 29px;
    height: 24px;
    display: inline-block;
    vertical-align: top;

    @media (max-width: 900px) {
      vertical-align: bottom;
    }

    @media (max-width: 900px) and (min-width: 581px){
      width: 63px;
      height: 58px;
    }

  }

  &__header {
    display: inline-block;
    position: relative;
    margin-top: 12px;
    margin-bottom: 34px;
  }

  &__heading {
    font-size: 30px;
    line-height: 0.9em;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 11px;
    letter-spacing: -0.012em;

    @media (max-width: 900px) {
      display: inline;
    }

    @media (max-width: 900px) and (min-width: 581px) {
      font-size: 36px;
      line-height: 40px;
    }

    @media (max-width: 580px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__link {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 101%;
    font-size: 14px;
    font-weight: 400;
    font-family: $PFDinTextPro;
    color: $color-link;
    white-space: nowrap;
    
    @media (max-width: 1140px) {
      position: static;
      text-align: right;
      display: block;
      line-height: 1.2em;
    }

    @media (max-width: 900px) {
      text-align: center;
      text-decoration: underline!important;
    }

    @media (max-width: 900px) and (min-width: 581px){
      font-size: 30px;
    }

    @media (max-width: 580px) {
      font-size: 20px;
    }

  }
/*--Наименование*/

  .section__ar {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 3000;
    width: 21px;
    height: 26px;
    padding: 5px;

    &_left {
      right: 101%;
      transform: rotate(180deg);

      @media screen and (max-width: 580px) {
        right: 98%;
      }
    }

    &_right {
      left: 101%;

      @media screen and (max-width: 580px) {
        left: 98%;
      }
    }

    &_disabled {
      opacity: 0;
    }
  }

  @mixin mrelations-table-slider($minWidth) {
    .table {
      min-width: $minWidth;
    }
    
    .analityc-table__wrapper {
      overflow-x: auto;
      overflow-y: hidden;
    }

    .section__ar {
      display: inline!important;
    }
  }

  .analityc-table {
    overflow-x: visible;
    overflow-y: visible;

    & .table {
      min-width: auto;
    }

    &_approved,
    &_work,
    &_done,
    &_date,
    &_domain {
      @media screen and (max-width: 580px) {
        @include mrelations-table-slider(580px);
      }
    }

    &_changes {
      @media screen and (max-width: 900px) {
        @include mrelations-table-slider(980px);
      }
    }
  }

	.analityc-widgethead {
		position: relative;
	}

	.analityc-control-group-wrapper {
		& + .analityc-control-group-wrapper {
	   
		  @media (max-width: 900px) {
		    margin-top: 30px;
		  }
		}
	}

	.analityc-control-group._stage,
	.analityc-control-group._transfer,
	.analityc-control-group._dp,
	.analityc-control-group._dp-alt,
	.analityc-control-switcher_large,
	.analityc-control-switcher_big {
		display: none;
		margin-left: 30px!important;
    margin-bottom: 0;

		@media (max-width: 900px) {
			margin-left: 0!important;
		}

    &.active {
      display: inline-block;

      @media (max-width: 900px) {
				display: block!important;
      }
    }

	}

	.analityc-control-group._stage,
	.analityc-control-group._transfer {
		margin-top: 0;
	}

	.analityc-control-group._transfer {
		@media (max-width: 900px) {
			margin-top: 20px;
		}

	}

	.analityc-control-switcher {
		position: static!important;

		&.active {
			display: inline-block!important;
		}

		& + .analityc-control-switcher {
			@media (max-width: 900px) {
				margin-top: 20px;
			}
		}
	}

	.analityc-control-switcher_large,
	.analityc-control-switcher_big {
		margin-top: 30px!important;

		@media (max-width: 1140px) and (min-width: 901px) {
	    margin-top: 0!important;
		}

	}

	.analityc-control-switcher_large a {
		@media (max-width: 900px) and (min-width: 581px) {
	    padding: 0 55px;
		}
	}

	.analityc-control-group._dp,
	.analityc-control-group._dp-alt {
		margin-top: 30px;

		@media (max-width: 1140px) {
	    margin-top: 0;
		}

		@media (max-width: 900px) {
			width: 100%!important;
		}
	}

	.analityc-control-group._dp input.datepicker {
		@media (max-width: 1140px) {
	    height: 31px!important;
	    line-height: 31px!important;
		}

		@media (max-width: 900px) and (min-width: 581px) {
			height: 52px!important;
	    line-height: 50px!important;
	    font-size: 20px!important;
	    background-position: 97% 39%!important;
		}
	}

	.analityc-control-group._dp-alt {
		.analityc-select {
			margin-top: 0!important;
		}
	}

  .analityc-graphics, .analityc-table {
    display: none;
    &.active {
      display: block;
    }
  }

	.analityc-table {
    &__wrapper {
      overflow-x: auto;
      overflow-y: hidden;
    }


    &_approved .table, 
    &_work .table,
    &_domain .table,
    &_date .table {
      @media (max-width: 580px) {
        min-width: 580px;
      }
    }

    &_changes .table {
      @media (max-width: 900px) {
        min-width: 980px;
      }
    }

	}

  .swiper-container {
    overflow: visible;
  }

	.legend {
		height: auto!important;
	}

	.analityc-graphics__legend_vert {
    margin-top: 115px;
	}

	.segment-diagram {

		&__val {
			z-index: 1;
		}
	}
	#diagram-37,
	#diagram-38,
	#diagram-39 {
		.svg-wrap {
	    transform: scale(-1,-1);
		}
	}

	#diagram-40,
	#diagram-41,
	#diagram-42 {
		.svg-wrap {
	    transform: scale(1, 1) rotate(-100deg);
		}
	}

	#diagram-43 {
		.svg-wrap {
	    transform: scale(-1,-1);
		}
	}

	.analityc-graphics_line {
		.analityc-graphics__line-title {
			@media (max-width: 900px) {
				max-width: 60%;
			}
		}

		.analityc-graphics__line_blue {
			.analityc-graphics__line-total {
				width: 90%;
			}

			.analityc-graphics__line-bar-value {
				right: 10%;
			}

			.analityc-graphics__line-abs {
				background-image: linear-gradient(to right,cyan,#004ccf);
        &::after {
          border-right-color: cyan;
        }
			}

			.analityc-graphics__line-fill {
				width: 50%;
			}
		}
		.analityc-graphics__line_pink {
			.analityc-graphics__line-total {
				width: 1%;
			}

			.analityc-graphics__line-bar-value {
		    right: 95%;
			}

			.analityc-graphics__line-abs {
		    background-image: linear-gradient(to right,#9d308a,#ff695b);
        &::after {
          border-right-color: #9d308a;
        }

			}

			.analityc-graphics__line-fill {
				width: .5%;
			}
		}
		.analityc-graphics__line_altgreen {
			.analityc-graphics__line-total {
		    width: 80%;
			}

			.analityc-graphics__line-bar-value {
        right: 20%;
			}

			.analityc-graphics__line-abs {
        background-image: linear-gradient(to right,#11a360,#32d197);
        &::after {
          border-right-color: #11a360;
        }
			}

			.analityc-graphics__line-fill {
				width: 40%;
			}
		}
		.analityc-graphics__line_grey {
			.analityc-graphics__line-total {
		    width: 10%;
			}

			.analityc-graphics__line-bar-value {
        right: 90%;
			}

			.analityc-graphics__line-abs {
        background-image: linear-gradient(to right,#d5d8de,#838a9a);
        &::after {
          border-right-color: #d5d8de;
        }
			}

			.analityc-graphics__line-fill {
				width: 5%;
			}
		}

    .analityc-graphics__line-abs {
      display: none;
      position: absolute;
      left: -80px;
      width: 75px;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      color: white;
      border-radius: 2px;
      z-index: 3;
      cursor: pointer;

      @media (max-width: 900px) {
        left: -43px;
        width: 40px;
        font-size: 12px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -17px;
        border: 10px solid transparent;
        border-right: 10px solid;
      }
    }
	}

	#diagram-44,
	#diagram-45,
	#diagram-46 {
		.svg-wrap {
	    transform: scale(-1,-1);
		}
	}

	.analityc-graphics_column {
		.analityc-graphics__graphic_column {
	    @media (max-width: 1140px) {
				margin: 0 auto;
		    width: 320px;
	    }

	    @media (max-width: 1140px) {
		    width: 250px;
	    }

		}

		.column-area3 {
			background-image: linear-gradient(90deg,#bd84e9 0,#612292);

			&.subcolumn-area {
				background-image: linear-gradient(90deg,#cbb5dc 0,#e8d4f7);
			}
		}
		.column-area4 {
	    background-image: linear-gradient(0deg,#fee300 0,#30b069 83%,#30b069);

			&.subcolumn-area {
				background-image: linear-gradient(0deg,#fef5a5 0,#bbe5c7 83%,#b6e3ca);
			}
		}
		.column-area5 {
			background-image: linear-gradient(0deg,#9d308a 0,#ff695b);

			&.subcolumn-area {
				background-image: linear-gradient(0deg,#ddb6d5 0,#ffcac5);
			}
		}
		.column-area6 {
			background-image: linear-gradient(90deg,#004ccf 0,#0ff);

			&.subcolumn-area {
				background-image: linear-gradient(90deg,#a5c0ee 0,#a5feff);
			}
		}

		.column1 {
			.column-area3 {
				height: 30px;
			}
			.column-area4 {
				height: 50px;
			}
			.column-area5 {
				height: 100px;
			}
			.column-area6 {
				height: 15px;
			}
		}
		.subcolumn {
			overflow: hidden;

			.column-area3 {
				height: 44px;
		    transform: skewY(-45deg) translateY(39px);
			}
			.column-area4 {
				height: 64px;
		    transform: skewY(-40deg) translateY(30px);
			}
			.column-area5 {
		    height: 120px;
				transform: skewY(-33deg) translateY(20px);
			}
			.column-area6 {
				height: 33px;
		    transform: skewY(-15deg) translateY(10px);
			}

			.column-area:nth-child(1) {
				.column-value {
					top: 100%;
				}
			}
			.column-area:nth-child(2) {
				.column-value {
			    top: 80%;
				}
			}
			.column-area:nth-child(3) {
				.column-value {
	        top: 65%;
				}
			}
			.column-area:nth-child(4) {
				.column-value {
	        top: 70%;
				}
			}

		}
		.column2 {
			.column-area3 {
				height: 40px;
			}
			.column-area4 {
				height: 60px;
			}
			.column-area5 {
				height: 120px;
			}
			.column-area6 {
				height: 30px;
			}

		}
	}

}
