extends ../../layouts/default
include ../../components/regions/regions
include ../../components/header/header

block head
  - var pageTitle = 'Versta Project Template'
  
block header
  +header()._budget

block content
  +regions()
