@import "../../node_modules/nouislider/distribute/nouislider.css";

.range {
  height: 30px;
  padding-top: 7px;
  position: relative;
  padding-right: 38px;

  &__slider {

  }

  &__reset {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__icon {
    width: 16px;
    height: 16px;
    fill: #0d46a1;
  }

  &__output {
    overflow: hidden;
    margin-top: 13px;
    font-family: $PFDinTextPro;
    font-size: 10px;
    line-height: 1;
    font-weight: 400;
    color: black;
  }

  &__min-value {
    float: left;
  }

  &__max-value {
    float: right;
  }

  // а теперь весело переписываем стандартные стили компонента noUIslider
  .noUi-target {
    height: 3px;
    border: none;
    border-radius: 2px;
    background: #d7d4d1;
    box-shadow: none;
  }

  .noUi-handle {
    top: -7px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 2px solid #0d46a1;
    background-color: white;
    box-shadow: none;
    cursor: pointer;

    &:before,
    &:after {
      display: none;
    }
  }

  .noUi-connect {
    background: #f72900;
  }

  .noUi-tooltip {
    bottom: auto;
    top: -8px;
    @include transform(translateY(-100%) translateX(-50%));
    padding: 6px 10px;
    font-family: $PFDinTextPro;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    border: 1px solid #0d46a1;
    border-radius: 2px;
    background: white;
    color: black;

    &:after,
    &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #ffffff;
      border-width: 4px;
      margin-left: -4px;
    }

    &:before {
      border-color: rgba(13, 70, 161, 0);
      border-top-color: #0d46a1;
      border-width: 5px;
      margin-left: -5px;
    }
  }

  .noUi-pips {
    display: none;
  }
}

.range-for-widgets {
  height: 30px;
  position: relative;

  .noUi-target {
    position: relative;
    height: 1px;
    border: none;
    border-radius: 2px;
    background-image: linear-gradient(90deg, rgba(4, 20, 151, 1) 0%, rgba(248, 1, 56, 1) 100%);
    box-shadow: none;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -4px;
      width: 3px;
      height: 9px;
    }

    &:before {
      left: 0;
      background-color: rgba(4, 20, 151, 1);
    }

    &:after {
      right: 0;
      background-color: rgba(248, 1, 56, 1);
    }
  }

  .noUi-handle {
    top: 1px;
    left: 0;
    width: 7px;
    height: 9px;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #898f92;
    background-color: #d2d2d2;
    box-shadow: none;
    cursor: pointer;

    &:before {
      top: -5px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 3.5px 5px 3.5px;
      border-color: transparent transparent #d2d2d2 transparent;
      background: none;
    }

    &:after {
      display: none;
    }
  }

  &__output {
    overflow: hidden;
    margin-top: 13px;
    font-family: PFDinTextPro,sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #000;
  }

  &__min-value {
    float: left;
  }
  &__max-value {
    float: right;
  }

  .noUi-tooltip {
    bottom: -23px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    border: none;
    background: none; 
  }
}
