mixin range(id)
  +b.range&attributes(attributes)
    +e.slider(id=id)
    +e.reset
      +icon('refresh').icon
    +e.output
      +e.min-value
        span.output-num 0
        span.output-text млн. руб.
      +e.max-value
        span.output-num 742 543,8
        span.output-text млн. руб.

//- для страницы Сервисы - сводная
mixin range-for-widgets(id, min, max)
  +b.range-for-widgets&attributes(attributes)
    +e.slider.js-range-for-widgets-slider(id=id)
    +e.output
      +e.min-value
        span.output-num=min
      +e.max-value
        span.output-num=max
