mixin google-presentation()
	+b.google-presentation&attributes(attributes)
		iframe(src="https://docs.google.com/presentation/d/e/2PACX-1vSWKQ-0oQroFwHJq_V7HcDCDY5JGAlTVAiz5DwrSG18m1saUbGh6yuPsQex6ORmWrM6HvDEL-fj8m30/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true")

