.drop-table {
  display: block;
  
  &__row {
    border-bottom: 1px solid #e5e5e5;
    padding: 16px 0 14px;
    transition: all .25s ease-in-out;
    &_head {
      border-bottom-width: 3px;
      padding: 0 0 16px;
    }
    .drop-table__row {
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
    &.inactive {
      opacity: .4;
    }
  }
  &__column, &__columns {
    display: inline-block;
    vertical-align: top;
  }
  &__column {
    width: 14.4%;
    padding-right: 20px;
    &_main {
      width: 34.7%;
      padding-right: 25px;
    }
    &_unit {
      width: 28%;
    }
  }
  &__columns {
    width: 65.3%;
  }
  
  &__head-text {
    font-size: 14px;
    font-weight: 500;
    color: #898783;
    text-transform: uppercase;
    span {
      display: block;
      font-size: 18px;
      margin-bottom: 3px;
    }
    //&_short {
    //  display: none;
    //}
  }
  &__drop-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: $PFDinTextPro;
    color: $color-link;
    text-decoration: none;
    border-bottom: 1px dashed $color-link;
    transition: all .25s ease-in-out;
    &:hover {
      opacity: .7;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    font-family: $PFDinTextPro;
  }
  &__value {
    font-size: 18px;
    font-weight: 500;
  }
  
  @media screen and (min-width: 901px) and (max-width: 1140px) {
    &__column {
      width: 14.2%;
      &_main {
        width: 32%;
      }
      &_unit {
        width: 29%;
      }
    }
    &__columns {
      width: 68%;
    }
  }
  
  //@media screen and (max-width: 900px) {
  //  &__column {
  //    &_head {
  //      display: none;
  //    }
  //  }
  //  &__columns {
  //    width: 100%;
  //  }
  //  &__head-text {
  //    &_long {
  //      display: none;
  //    }
  //    &_short {
  //      display: block;
  //    }
  //  }
  //  &__row {
  //    .drop-table__row {
  //      border-bottom: 0;
  //    }
  //  }
  //}
  
  //@media screen and (min-width: 769px) and (max-width: 900px) {
  //  &__column {
  //    width: 13.6%;
  //    &_main {
  //      width: 32%;
  //      margin-bottom: 16px;
  //    }
  //    &_unit {
  //      width: 32%;
  //    }
  //  }
  //}
  
  //@media screen and (max-width: 768px) {
  //  &__head-text {
  //    span {
  //      margin-bottom: 0;
  //    }
  //  }
  //  &__column {
  //    width: 15.48%;
  //    &_main {
  //      width: 22.6%;
  //    }
  //    &_unit {
  //      width: 22.6%;
  //    }
  //  }
  //}
  
  @media screen and (min-width: 581px) and (max-width: 768px) {
    &__head-text {
      font-size: 20px;
      line-height: 27px;
      span {
        font-size: 20px;
      }
    }
    &__row {
      padding: 21px 0 24px;
      border-bottom-width: 2px;
      &_head {
        padding: 0 0 22px;
        border-bottom-width: 3px;
      }
      //.drop-table__row {
      //  padding: 9px 0;
      //}
    }
    &__drop-text {
      font-size: 24px;
      line-height: 29px;
    }
    &__text {
      font-size: 21px;
      line-height: 25px;
    }
    &__value {
      font-size: 24px;
    }
    &__column {
      &_main {
        margin-bottom: 20px;
        padding-right: 18px;
      }
    }
  }
  
  @media screen and (max-width: 580px) {
    &__head-text {
      font-size: 14px;
      line-height: 20px;
      span {
        font-size: 18px;
      }
    }
    &__row {
      padding: 13px 0 15px;
      border-bottom-width: 1px;
      &_head {
        padding: 0 0 13px;
        border-bottom-width: 3px;
      }
      //.drop-table__row {
      //  padding: 4px 0;
      //}
    }
    &__drop-text {
      font-size: 16px;
      line-height: 20px;
    }
    &__text {
      font-size: 14px;
      line-height: 18px;
    }
    &__value {
      font-size: 16px;
    }
    &__column {
      padding-right: 14px;
      &_main {
        margin-bottom: 12px;
        padding-right: 14px;
      }
    }
  }
}
