.services-net {
	background: #282635 url(../images/bg-news.jpg) top no-repeat;
  background-size: 100%;
  color: #000;

  &__wrapper {

  }

	&__head-about {
		font-family: $PFDinTextPro;
		font-size: 16px;
		line-height: 20px;
		color: $color-white;
		margin-top: 20px;
	}

	&__buttons-set {
		margin-top: 24px;
		font-size: 0;

		span,
		.buttons-set {
			display: inline-block;
			vertical-align: middle;
		}

		span {
			font-size: 18px;
			line-height: 20px;
			color: $color-white;
			text-transform: uppercase;
    	letter-spacing: .3px;
    	margin-right: 29px;
		}
	}

	&__content {
  	background-color: $color-white;
  	margin-top: 29px;
	}
}


.services-net-domain {
	font-family: $PFDinCondensedPro;

	&__main {
		padding: 20px 0 20px 26px;
		overflow: hidden;
		font-size: 0;
	}

	&__list,
	&__images {
		display: inline-block;
		vertical-align: middle;
		list-style: none;
	}

	&__list {
		width: 22.7%;
	}

	&__list-item {
		display: block;

    &:hover {
	    background: $color-link;

	    .services-net-domain__list-title,
	    .services-net-domain__list-value {
	    	color: $color-white;
	    }
    }
	}

	&__list-link {
    display: block;
    padding: 17.5px 13px;
    text-decoration: none;
	}

	&__list-title {
		display: block;
		text-transform: uppercase;
    color: $color-link;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
	}

	&__list-value {
		font-size: 18px;
		font-weight: 500;
		margin-right: 4px;
	}

	&__list-label {
		font-size: 14px;
		color: #7f7f7f;
	}

	&__images {
		position: relative;
		width: 77.3%;
		height: 720px;
	}

	&__image {
		display: block;
		position: absolute;

		&_health {
			top: 95px;
	    left: 198px;
	    z-index: 2;
		}

		&_social {
			top: 61px;
	    left: 35px;
	    z-index: 1;
		}

		&_edu {
	    top: 0;
	    right: 0;
		}

		&_others {
    	top: 354px;
    	left: -29px;
    	z-index: 1;
		}

		&_culture {
			top: 378px;
	    left: 142px;
	    z-index: 2;
		}

		&_sport {
	    top: 266px;
	    right: -180px
		}
	}

	&__foot {
		.analityc-more {
			margin: 0;
		}
	}
}