.services-net {
	background: #282635 url(../images/bg-news.jpg) top no-repeat;
  background-size: 100%;
  color: #000;

	/*Раскрыта карта*/
	&_popupMode {

		& > .wrapper {
			@media (min-width: 901px) {
				z-index: 99999;
			}
		}

		.services-net-institute {
			@media (min-width: 901px) {
		    height: 685px;
			}
		}

		.services-net-institute__address-map {
		  position: absolute;
		  left: 0;
          top: 0;
          bottom: 0;
          height: auto;
		  z-index: 99999;
          
          @media (max-width: 900px) {
		    position: fixed;
            height: 560px;
            top: 0;
            right: 0;
            margin: auto;
		  }
          
		  @media (max-width: 640px) and (min-width: 601px) {
		    height: 360px;
		  }
          @media screen and (max-width: 400px) {
            height: 210px;
          }
		}

		.services-net-institute__address-map-open {
			display: none;
		}

		.services-net-institute__map-close {
			display: block;
		}

		.services-net-institute__description {
			@media (min-width: 901px) {
				display: none;
			}
		}
	}

	&__head-about {
		font-family: $PFDinTextPro;
		font-size: 16px;
		line-height: 20px;
		color: $color-white;
		margin-top: 20px;

  	@media (max-width: 900px) and (min-width: 601px) {
			font-size: 26px;
	    line-height: 34px;
	    margin-top: 33px;
  	}

		@media (max-width: 600px) {
	    margin-top: 4px;
		}	

	}

	&__buttons-set {
		margin-top: 24px;
		font-size: 0;

  	@media (max-width: 900px) and (min-width: 601px) {
    	margin-top: 88px;
  	}

		@media (max-width: 600px) {
	    margin-top: 28px;
		}	
		

		span,
		.buttons-set {
			display: inline-block;
			vertical-align: middle;

	  	@media (max-width: 900px) {
				display: block;
	  	}	
		}

		span {
			font-size: 18px;
			line-height: 20px;
			color: $color-white;
			text-transform: uppercase;
    	letter-spacing: .3px;
    	margin-right: 29px;

	  	@media (max-width: 900px) and (min-width: 601px) {
				font-size: 30px;
		    line-height: 34px;
	  	}
			
	  	@media (max-width: 900px) {
		    margin-right: 0;
	  	}	
		}

		.buttons-set {
	  	@media (max-width: 900px) {
	    	margin-top: 21px;
	  	}

	  	@media (max-width: 900px) {
	    	margin-top: 11px;
	  	}

	  	.button-light {
		  	@media (max-width: 900px) and (min-width: 601px) {
			    font-size: 24px;
			    line-height: 44px;
			    padding: 11px 28px;
		  	}	

		  	@media (max-width: 600px) {
		  		padding: 11px 9px;
					font-size: 14px;
			    line-height: 12px;
					margin-top: 0;
		  	}
	  	}
		}
	}

	&__content {
  	background-color: $color-white;
  	margin-top: 29px;
		margin-bottom: 109px;

  	@media (max-width: 1140px) {
	    margin-top: 42px;
  	}

  	@media (max-width: 580px) {
			margin-top: 20px;
  	}

		@media (max-width: 400px) {
			margin-bottom: 45px;
		}
	}

  .slide-arrows {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 50%;

    @media (min-width: 901px) {
      display: none;
    }

    &__arrow {
      position: relative;

      &_left {
        left: -36px;

        @media (max-width: 580px) {
          left: -18px;
        }
      }

      &_right {
        right: -36px;

        @media (max-width: 580px) {
          right: -18px;
        }
      }
    }
  }

	&__foot {
		padding: 22px 39px;
    border-top: 1px solid #c5d8e4;

  	@media (max-width: 580px) {
			padding: 22px 15px;
  	}

		.analityc-more {
			font-weight: 500;
			text-decoration: none;
			margin: 0;

	  	@media (max-width: 900px) and (min-width: 601px) {
    		font-size: 30px;
	  	}		

	  	&::before {
		  	@media (max-width: 900px) and (min-width: 601px) {
					right: -42px;
			    top: 8px;
			    border-top: 9px solid transparent;
			    border-left: 10px solid #0d46a1;
			    border-bottom: 9px solid transparent;
		  	}			  		
	  	}
		}
	}

	&__mask {
		display: none;
		position: fixed; 
		top: 0; 
		left: 0; 
		width: 100%; 
		bottom: 0;
		background-color: rgba(0, 0, 0, .5);
		z-index: 9999;

		&.active {
			display: block;
		}
	}

  &__map-popup {
    display: none;
    position: absolute;
    padding: 0 15px;
    font-size: 14px;
    line-height: 31px;
    text-transform: uppercase;
    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.4);
    z-index: 2;

    &.active {
      display: inline-block;
    }

    &::before {
      @include triangle(#fff, up, 10px);
      margin-bottom: 0;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.services-net-inner {
	display: none;

	&_active {
		display: block;
	}
}

.services-net-table {
  width: 100%;
  margin-top: 24px;

  @media (max-width: 900px) and (min-width: 601px) {
    margin-top: 30px;
  }

  @media (max-width: 900px) {
    overflow-x: scroll;
    overflow-y: hidden;		
  }
	
  @media (max-width: 900px) {
    margin-top: 13px;
  }


	&__total {
		font-family: $PFDinTextPro;
		font-size: 14px;
		color: #d5d5d5;
    margin-top: 40px;

	  @media (max-width: 900px) and (min-width: 601px) {
			font-size: 24px;
			margin-top: 62px;
	  }

    @media (max-width: 580px) {
      font-size: 16px;
      margin-top: 31px;
    }

	}

  &__table {
    font-size: 0;

    @media (max-width: 900px) {
      min-width: 1100px;
    }

    @media (max-width: 580px) {
      min-width: 548px;
    }

  }

	&__main {
    height: 441px;
    overflow: hidden;

    @media (max-width: 900px) and (min-width: 601px) {
	    height: 1040px;
    }
	}

	&__tile {
		height: auto;
	}

  &__rows {

  }

	&__row {
		padding: 18px 0 14px;
    border-bottom: 1px solid #d5d5d5;

    @media (max-width: 900px) and (min-width: 601px) {
      padding: 36px 0 23px;
    }

	}

	&__col {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;

    @media (max-width: 900px) {
			padding-right: 55px;
    }
		
    &_left {
	    width: 63.5%;
      white-space: nowrap;

      @media (max-width: 1140px) {
				width: 69.5%;
      }

      @media (max-width: 900px) {
		    width: 51%;
      }

    }

    &_center {
    	width: 16.5%;

      @media (max-width: 1140px) {
				width: 18%;
      }

      @media (max-width: 900px) {
		    width: 25%;
      }

    }

    &_right {
    	width: 20%;

      @media (max-width: 1140px) {
				width: 12.5%;
      }

      @media (max-width: 900px) {
		    width: 24%;
      }

    }
	}

	&__caption {
		padding-bottom: 12px;
    font-family: $PFDinTextPro;
    border-bottom: 3px solid #d5d5d5;

    @media (max-width: 900px) and (min-width: 601px) {
      padding-bottom: 16px;
    }

    H3 {
      padding: 0;
      font-family: $PFDinCondensedPro;
      font-size: 17px;
      line-height: 21px;
      color: #9f9f9f;
      letter-spacing: .5px;
      text-transform: uppercase;
      font-weight: 500;

      @media (max-width: 900px) and (min-width: 601px) {
				font-size: 28px;
		    line-height: 32px;
      }
		
      @media (max-width: 580px) {
				font-size: 16px;
				letter-spacing: -.7px;
      }
			
    }
	}

	&__row-num,
	&__row-one,
	&__row-two,
	&__row-three {
		font-family: $PFDinTextPro;
		font-size: 16px;
    font-weight: 500;

    @media (max-width: 900px) and (min-width: 601px) {
			font-size: 26px;
	    line-height: 38px;
    }

	}

	&__row-num {
		display: inline-block;
    vertical-align: top;
		color: #d5d5d5;
		margin-right: 15px;

    @media (max-width: 900px) and (min-width: 601px) {
			margin-right: 35px;
    }

	}

	&__row-one {
		display: inline-block;
    vertical-align: top;
		color: $color-link;
    text-decoration: none;
    letter-spacing: -.4px;
    white-space: normal;
	}

  &__show-more.d-si__button {
    border: 1px solid #959595;
    color: $color-link;
    margin: 43px auto 0 auto;
    max-width: 690px;

    @media (max-width: 900px) and (min-width: 601px) {
			font-size: 24px;
    }
		
    @media (max-width: 580px) {
      width: 100%;
    }

    &:hover {
      color: $color-black;
    }
  }
}

.services-net-table_institute-table {
	margin-top: 36px;

  @media (max-width: 900px) and (min-width: 601px) {
    margin-top: 63px;
  }

	.services-net-table {

		&__table {
		  @media (max-width: 900px) {
		    min-width: 1500px;
		  }

		  @media (max-width: 600px) {
				min-width: 1000px;
		  }
			
		  @media (max-width: 580px) {
		    min-width: 800px;
		  }

		}

		&__caption {
			padding-bottom: 26px;

		  @media (max-width: 900px) and (min-width: 601px) {
		    padding-bottom: 16px;
		  }

		  @media (max-width: 580px) {
		    padding-bottom: 4px;
		  }
			

		}

		&__col {
	    padding-right: 40px;

				@media (max-width: 1140px) {
			    padding-right: 0px;
				}
			

			&_left {
				width: 44.5%;

				@media (max-width: 1140px) {
					width: 49%;
				}

				@media (max-width: 900px) and (min-width: 601px) {
					width: 39%;
				}

				@media (max-width: 600px) {
					width: 44.5%;
				}

				@media (max-width: 580px) {
					width: 39%;
				}

			}

			&_center {
				width: 36%;

				@media (max-width: 1140px) {
					width: 39%;
				}

				@media (max-width: 900px) and (min-width: 601px) {
					width: 40%;
				}

				@media (max-width: 600px) {
					width: 36%;
				}

				@media (max-width: 580px) {
					width: 36%;
				}

			}

			&_right {
				width: 19.5%;

				@media (max-width: 1140px) {
					width: 12%;
				}

				@media (max-width: 900px) and (min-width: 601px) {
					width: 21%;
				}

				@media (max-width: 600px) {
					width: 19.5%;
				}

				@media (max-width: 580px) {
					width: 25%;
				}

			}
		}

		&__row {
	    padding: 17px 0 14px;

	    @media (max-width: 900px) and (min-width: 601px) {
    		padding: 36px 0 34px;
	    }

		}

		&__row-num {
			display: none;
		}

		&__row-one,
		&__row-two,
		&__row-three {
	    line-height: 20px;
			font-weight: 400;
			letter-spacing: 0px;

	    @media (max-width: 900px) and (min-width: 601px) {
				line-height: 38px;
	    }

		}

		&__row-one {
			color: $color-black;
		}
	}
}

.services-net-domain {

	&__banner {
		position: relative;
		width: 100%;
		height: 400px;

		@media (max-width: 900px) {
			height: auto;
		}
	}

	&__banner-slide {
		text-decoration: none;
		display: inline-block;

		img {
			@media (max-width: 900px) {
		    display: block;
		    height: 480px;
			}

			@media (max-width: 600px) {
    		height: 240px;
			}
		}
	}

	&__banner-banner {
		display: block;
		width: 375px;
		position: absolute;
		top: 50%;
		right: 80px;
		transform: translateY(-50%);
		background-color: rgba(255, 255, 255, .8);
		padding: 35px 27px;
		font-weight: 500;

		@media (max-width: 900px) {
	    width: 100%;
      padding: 29px 27px 19px;
			position: static;
			transform: none;
	    background-color: #f5f2ed;
		}

		@media (max-width: 580px) {
	    padding: 14px 15px 10px;
		}
		
	}

	&__banner-title {
		font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;

		@media (max-width: 600px) and (min-width: 581px) {
			font-size: 26px;
	    margin-bottom: 14px;
		}

		@media (max-width: 580px) {
			font-size: 30px;
		}

	}

	&__banner-value {
		font-size: 30px;

		@media (max-width: 600px) {
			font-size: 26px;
		}

		@media (max-width: 580px) {
			font-size: 30px;
		}
	}

	&__banner-label {
		vertical-align: top;
		font-size: 14px;
		color: #7d7c7c;
		margin-left: 4px;

		@media (max-width: 900px) {
      font-size: 18px;
		}

		@media (max-width: 600px) {
			font-size: 16px;
		}

	}

	&__info {
		display: none;
    padding: 35px 40px 58px;

		&.active {
			display: block;
		}

		@media (max-width: 900px) and (min-width: 601px) {
      padding: 84px 25px 0;
		} 

		@media (max-width: 580px) {
	    padding: 46px 15px 0;
		}

	}

	&__arrow {
		position: absolute;
    top: 200px;
		width: 45px;
    height: 45px;

		@media (max-width: 900px) and (min-width: 601px) {
			top: 228px;
	    width: 90px;
	    height: 90px;
		}

		@media (max-width: 600px) {
    	top: 124px;
		}
		
		&_prev,
		&_next {
			background-image: none;
		}

		&_prev {
			left: 0;
		}

		&_next {
			right: 0;
		}

    .arrow-button__icon {
    	width: 20px;
   	 	height: 20px;

			@media (max-width: 900px) and (min-width: 601px) {
		    width: 40px;
		    height: 40px;
			}

    }
	}
}

.services-net-municipality {
	&__main {
		padding: 90px 0 75px 37px;
		overflow: hidden;
		font-size: 0;

		@media (max-width: 900px) {
	    padding: 43px 0 75px 0;
		}

		@media (max-width: 580px) {
			padding: 21px 0 40px;
		}
	}

	&__title,
	&__map {
		display: inline-block;
		vertical-align: top;
		list-style: none;
	}

	&__title {
		position: relative;
		width: 43%;
		font-size: 36px;
		line-height: 48px;
		font-weight: 500;
		text-transform: uppercase;
		margin-top: 50px;

		@media (max-width: 900px) and (min-width: 601px) {
			font-size: 34px;
	    line-height: 40px;
		}

		@media (max-width: 900px) {
			width: 100%;
	    margin-top: 0;
      margin-left: 25px;
		}

		@media (max-width: 600px) {
			font-size: 30px;
			line-height: 42px;
		}		

		@media (max-width: 580px) {
	    font-size: 24px;
	    line-height: 30px;
      margin-left: 13px;
		}
	}

  &__back {
    display: none;
    font-family:$PFDinCondensedPro;
    font-size: 12.5px;
    text-transform: uppercase;
    text-decoration: none;
    color: #0d46a1;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 12px;

		@media (max-width: 900px) {
      margin-left: 25px;
		}

		@media (max-width: 580px) {
			font-size: 15px;
      margin-left: 13px;
		}

		@media (max-width: 400px) {
			font-size: 14.5px;
		}		

		&.active {
			display: block;
		}
  }

	&__map {
		position: relative;
		width: 57%;
		height: 573px;

		@media (max-width: 900px) {
			width: 100%;
	    height: auto;
			overflow-y: auto;
    	overflow-x: hidden;
    	margin-top: 58px;
		}

		@media (max-width: 580px) {
			margin-top: 28px;
		}

		&-full,
		&-parts,
		&-part {
			width: 100%;
			height: 100%;
		}

		&-part[data-tab="md-map"] {
			@media (min-width: 901px) {
				right: 80px;
			}
		}

		img,
		svg {
			display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: auto;
			height: 100%;

			@media (max-width: 900px) {
		    width: 100%;
				height: auto;
		    margin: 0 auto;
			}

			@media (max-width: 600px) and (min-width: 581px) {
		    width: auto;
			}
			
      &.services-net-municipality__frame {
        display: block;
        position: static;
      }
		}

		svg {
			display: block;
			position: relative;
			width: 100%;
			height: 100%;

      path[data-active]:hover {
        fill: #007cab;
      }

			@media (max-width: 900px) {
				position: static;
			}

			@media (max-width: 600px) and (min-width: 581px) {
				width: 90%;
			}
		}

    .services-net-municipality__map-hover {
      position: absolute;
      width: 100%;
      opacity: 0;
      background: white;
      z-index: 1;
      cursor: pointer;

      &:nth-of-type(1) {
        top: 0;
        height: 50%;
      }

      &:nth-of-type(2) {
        top: 55%;
        height: 10%;
        z-index: 2;
        width: 30%;
        transform: translateX(-50%);
        left: 38%;

				@media (max-width: 900px) {
					left: 52%;
				}

        @media (max-width: 640px) and (min-width: 581px) {
          width: 40%;
        }

        @media (max-width: 400px) {
          width: 40%;
        }
      }

      &:nth-of-type(3) {
        bottom: 0;
        height: 50%;
      }

    }
	}
}

.services-net-institutes {
	padding: 35px 40px 100px;

	@media (max-width: 900px) and (min-width: 581px) {
		padding: 43px 24px 100px;
	}
	
	@media (max-width: 580px) {
		padding: 21px 13px 100px;
	}
	
	&__title {
		font-size: 24px;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 20px;

		@media (max-width: 900px) and (min-width: 601px) {
			font-size: 34px;
	    line-height: 40px;
		}

		@media (max-width: 580px) {
			line-height: 30px;
		}

	}
}

.services-net-institute {
	position: relative;
	padding: 27px 40px 52px;

  @media (max-width: 900px) {
    padding: 23px 26px 52px;
  }

  @media (max-width: 580px) {
    padding: 10px 13px 52px;
  }


	&__back {
		font-family:$PFDinCondensedPro;
    font-size: 12.5px;
    text-transform: uppercase;
    color: #0d46a1;
    font-weight: 500;
    cursor: pointer;

    @media (max-width: 900px) and (min-width: 601px) {
	    font-size: 20px;
    }

    @media (max-width: 580px) {
			font-size: 15px;
    }

		@media (max-width: 400px) {
			font-size: 14.5px;
		}	

	}

	&__title {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -.6px;
		text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;

    @media (max-width: 900px) and (min-width: 601px) {
			font-size: 34px;
	    line-height: 40px;
	    margin-top: 15px;
    }

    @media (max-width: 580px) {
			font-size: 18px;
			line-height: 24px;
	    margin-top: 6px;
    }

	}	

	&__requisites {
		@include clearfix;
		margin-top: 23px;

    @media (max-width: 900px) and (min-width: 601px) {
			margin-top: 58px;
    }
	
    @media (max-width: 580px) {
			margin-top: 31px;
    }
		
	}

	&__data {
		width: 60%;
		float: left;
		font-family: $PFDinTextPro;
		font-weight: 500;
		letter-spacing: -.3px;

    @media (max-width: 900px) {
			width: 100%;
    }

	}

	&__data-row {
		font-size: 0;

		& + .services-net-institute__data-row {
			margin-top: 16px;

	    @media (max-width: 900px) and (min-width: 601px) {
		    margin-top: 30px;
	    }

	    @media (max-width: 580px) {
				margin-top: 22px;
	    }
		}
	}

	&__data-title,
	&__data-text {
		display: inline-block;
		vertical-align: top;
		font-size: 16px;

    @media (max-width: 900px) and (min-width: 601px) {
			font-size: 24px;
    }
		
    @media (max-width: 900px) {
			display: block;
    }

    @media (max-width: 600px) and (min-width: 401px) {
    	font-size: 17px;
    }

	}

	&__data-title {
		width: 39%;
		color: #999999;

    @media (max-width: 900px) {
			width: 100%;
    }

	}

	&__data-text {
		width: 61%;

    @media (max-width: 900px) {
			width: 100%;
			margin-top: 10px;
    }
	}

	&__address {
		width: 40%;
		float: right;
		z-index: 1;

    @media (max-width: 900px) {
			width: 100%;
			margin-top: 40px;
    }

    @media (max-width: 580px) {
			margin-top: 22px;
    }
	}

	&__address-map {
		width: 100%;
		height: 210px;
		background-color: #999999;

    @media (max-width: 900px) and (min-width: 601px) {
			height: 420px;
    }

	}

	&__address-map-open {
		margin-top: 8px;
    font-size: 14px;

    @media (max-width: 900px) and (min-width: 601px) {
	    margin-top: 13px;
      font-size: 24px;
    }

	}

	&__map-close {
		display: none;
		position: absolute;
		top: 0;
		right: -25px;
		width: 20px;
		height: 20px;
		fill: $color-yellow;
		cursor: pointer;

    @media (max-width: 1140px) {
	    top: -25px;
	    right: 0;
    }

	}

	&__description {
    @media (max-width: 900px) and (min-width: 601px) {
			margin-top: 38px;
    }
	}

	.analityc-control-switcher_net {
		width: auto;
		font-size: 0;
		margin-top: 20px;

    @media (max-width: 580px) {
  		margin-top: 28px;
    }
		
		& > a {
	    font-weight: 700;
			text-decoration: none;
	    
	    @media (max-width: 900px) {
	     font-size: 24px!important; 
	     padding: 0 44px!important; 
	     line-height: 68px!important; 
	    }

	    @media (max-width: 640px) {
				padding: 0 35px!important;
	    }
			
	    @media (max-width: 600px) {
				padding: 0 30px!important;
		    font-size: 14px!important;
		    line-height: 30px!important;
	    }

	    @media (max-width: 580px) {
	    	width: auto!important;
  	    padding: 0 22px!important;
	  		font-size: 14px!important;
		    line-height: 33px!important;
	    }

	    @media (max-width: 400px) {
  	    padding: 0 20px!important;
	    }
		}

		& > a + a {
  		border-left: 1px solid #0d46a1;
		}
	}

	&__year {
		margin-top: 20px;

    @media (max-width: 900px) and (min-width: 601px) {
			margin-top: 38px;
    }

	}

	&__year-label {
		display: inline-block;
    vertical-align: middle;
		font-size: 18px;
		font-weight: 500;
    text-transform: uppercase;
    margin-right: 13px;

    @media (max-width: 900px) and (min-width: 601px) {
			font-size: 28px;
	    margin-right: 28px;
    }

	}

	&__year-select {
		display: inline-block;
		vertical-align: middle;
    width: 75px;

    @media (max-width: 900px) and (min-width: 601px) {
	    width: 145px;
    	height: 68px;
    	font-size: 26px;
    }
		
    .selectbox__select, .selectbox__val {
    	padding: 0 10px;

	    @media (max-width: 900px) and (min-width: 601px) {
		    padding: 0 20px;
		    font-size: 26px;
		    line-height: 36px;
	    }			

    }

    .selectbox__arrow {
    	/*ie default select hide*/
      height: calc(100% + 1px);
      border-bottom: 1px solid #acacac;
    	
	    @media (max-width: 900px) and (min-width: 601px) {
				width: 64px;
	    }			

			span {
		    @media (max-width: 900px) and (min-width: 601px) {
					border-width: 9px 9px 0;
		    }
			}
    }
	}
}