.services-net {
	background: #282635 url(../images/bg-news.jpg) top no-repeat;
  background-size: 100%;
  color: #000;

  &__wrapper {
		padding-bottom: 80px;
  }

	&__head-about {
		font-family: $PFDinTextPro;
		font-size: 16px;
		line-height: 20px;
		color: $color-white;
		margin-top: 20px;
	}

	&__buttons-set {
		margin-top: 24px;
		font-size: 0;

		span,
		.buttons-set {
			display: inline-block;
			vertical-align: middle;
		}

		span {
			font-size: 18px;
			line-height: 20px;
			color: $color-white;
			text-transform: uppercase;
    	letter-spacing: .3px;
    	margin-right: 29px;
		}
	}

	&__content {
  	background-color: $color-white;
  	margin-top: 29px;
	}

	&__foot {
		padding: 22px 39px;
    border-top: 1px solid #c5d8e4;
    
		.analityc-more {
			font-weight: 500;
			text-decoration: none;
			margin: 0;
		}
	}
}

.services-net-inner {
	display: none;

	&_active {
		display: block;
	}
}

.services-net-table {
  width: 100%;
  margin-top: 24px;

  @media (max-width: 580px) {
    overflow-x: scroll;
    overflow-y: hidden;
  }

	&__total {
		font-family: $PFDinTextPro;
		font-size: 14px;
		color: #d5d5d5;
    margin-top: 40px;
	}

  &__table {
    min-width: 560px;
    font-size: 0;
  }

  &__rows {
    
  }

	&__row {
		padding: 18px 0 14px;
    border-bottom: 1px solid #d5d5d5;
	}

	&__col {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;

    &_left {
	    width: 63.5%;
      white-space: nowrap;
    }

    &_center {
    	width: 16.5%;
    }

    &_right {
    	width: 20%;
    }
	}

	&__caption {
		padding-bottom: 12px;
    font-family: $PFDinTextPro;
    border-bottom: 3px solid #d5d5d5;

    H3 {
      padding: 0;
      font-family: $PFDinCondensedPro;
      font-size: 17px;
      line-height: 21px;
      color: #9f9f9f;
      letter-spacing: .5px;
      text-transform: uppercase;
      font-weight: 500;
    }
	}

	&__row-num,
	&__row-one,
	&__row-two,
	&__row-three {
		font-family: PFDinTextPro;
		font-size: 16px;
    font-weight: 500;
	}

	&__row-num {
		display: inline-block;
    vertical-align: top;
		color: #d5d5d5;
		margin-right: 15px;
	}

	&__row-one {
		display: inline-block;
    vertical-align: top;
		color: $color-link;
    text-decoration: none;
    letter-spacing: -.4px;
    white-space: normal;
	}
}

.services-net-table_institute-table {
	margin-top: 36px;

	.services-net-table {
		&__caption {
			padding-bottom: 26px;
		}

		&__col {
	    padding-right: 40px;

			&_left {
				width: 44.5%;
			}

			&_center {
				width: 36%;
			}

			&_right {
				width: 19.5%;
			}
		}

		&__row {
	    padding: 17px 0 14px;
		}

		&__row-num {
			display: none;
		}

		&__row-one,
		&__row-two,
		&__row-three {
	    line-height: 20px;
			font-weight: 400;
			letter-spacing: 0px;
		}

		&__row-one {
			color: $color-black;
		}
	}
}

.services-net-domain {
	font-family: $PFDinCondensedPro;

	&__main {
		padding: 20px 0 20px 26px;
		overflow: hidden;
		font-size: 0;
	}

	&__list,
	&__images {
		display: inline-block;
		vertical-align: middle;
		list-style: none;
	}

	&__list {
		position: relative;
		width: 22.7%;
		z-index: 2;
	}

	&__list-item {
		display: block;

    &:hover {
	    background: $color-link;

	    .services-net-domain__list-title,
	    .services-net-domain__list-value {
	    	color: $color-white;
	    }
    }
	}

	&__list-link {
    display: block;
    padding: 17.5px 13px;
    text-decoration: none;
	}

	&__list-title {
		display: block;
		text-transform: uppercase;
    color: $color-link;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 5px;
	}

	&__list-value {
		font-size: 18px;
		font-weight: 500;
		margin-right: 4px;
	}

	&__list-label {
		font-size: 14px;
		color: #7f7f7f;
	}

	&__images {
		position: relative;
		width: 77.3%;
		height: 700px;
	}

	&__image {
		display: block;
		position: absolute;

		/*фильтр для всех изображений при наведении на конкретный пункт*/
		&_active {
		  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		  filter: alpha(opacity=50);
		  filter: grayscale(1);
		}

		&_health {
			top: 95px;
	    left: 198px;
	    z-index: 2;
		}

		&_social {
			top: 61px;
	    left: 35px;
	    z-index: 1;
		}

		&_edu {
	    top: 0;
	    right: 0;
		}

		&_others {
    	top: 354px;
    	left: -29px;
    	z-index: 1;
		}

		&_culture {
			top: 378px;
	    left: 142px;
	    z-index: 2;
		}

		&_sport {
	    top: 266px;
	    right: -180px
		}
	}
}

.services-net-domain-slider {

	&__banner {
		position: relative;
		width: 100%;
		height: 400px;
		background-color: #848383;
	}

	&__banner-banner {
		width: 375px;
		position: absolute;
		top: 50%;
		right: 80px;
		transform: translateY(-50%);
		background-color: rgba(255, 255, 255, .8);
		padding: 35px 27px;
		font-weight: 500;
	}

	&__banner-title {
		font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
	}

	&__banner-value {
		font-size: 30px;
	}

	&__banner-label {
		vertical-align: top;
		font-size: 14px;
		color: #7d7c7c;
		margin-left: 4px;
	}

	&__info {
    padding: 35px 40px 58px;
	}

	&__arrow {
		position: absolute;
    top: 200px;
		width: 45px;
    height: 45px;

		&_prev,
		&_next {
			background-image: none;
		}

		&_prev {
			left: 0;
		}

		&_next {
			right: 0;
		}

    .arrow-button__icon {
    	width: 20px;
   	 	height: 20px;
    }
	}
}

.services-net-municipality {
	&__main {
		padding: 90px 0 75px 37px;
		overflow: hidden;
		font-size: 0;
	}

	&__title,
	&__map {
		display: inline-block;
		vertical-align: top;
		list-style: none;
	}

	&__title {
		position: relative;
		width: 43%;
		font-size: 36px;
		line-height: 48px;
		font-weight: 500;
		text-transform: uppercase;
		margin-top: 50px;
	}

	&__map {
		position: relative;
		width: 57%;
		height: 573px;

		img {
	    display: block;
	    height: 100%;
		}
	}
}

.services-net-institutes {
	padding: 35px 40px 100px;

	&__title {
		font-size: 24px;
		font-weight: 500;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

.services-net-institute {
	padding: 27px 40px 52px;

	&__back {
		font-family: PFDinCondensedPro,sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #0d46a1;
    font-weight: 500;
    cursor: pointer;
	}

	&__title {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -.6px;
		text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
	}	

	&__requisites {
		@include clearfix;
		position: relative;
		margin-top: 23px;
	}

	&__data {
		width: 60%;
		float: left;
		font-family: $PFDinTextPro;
		font-weight: 500;
		letter-spacing: -.3px;
	}

	&__data-row {
		font-size: 0;

		& + .services-net-institute__data-row {
			margin-top: 16px;
		}
	}

	&__data-title,
	&__data-text {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
	}

	&__data-title {
		width: 39%;
		color: #999999;
	}

	&__data-text {
		width: 61%;
	}

	&__address {
		width: 40%;
		float: right;
		z-index: 1;

		&_active {
			position: absolute;
			width: 100%;

			.services-net-institute {
				min-height: 900px;
			}

			.services-net-institute__address-map {
				height: 645px;
			}

			.services-net-institute__address-map-open {
				display: none;
			}

			.services-net-institute__map-close {
				display: block;
			}
		}
	}

	&__address-map {
		width: 100%;
		height: 210px;
		background-color: #999999;
	}

	&__address-map-open {
		margin-top: 8px;
    font-size: 14px;
	}

	&__map-close {
		display: none;
		position: absolute;
		top: 0;
		right: -25px;
		width: 20px;
		height: 20px;
		fill: $color-yellow;
		cursor: pointer;
	}

	.analityc-control-switcher_net {
		font-size: 0;
		margin-top: 20px;

		& > a {
	    font-weight: 700;
			text-decoration: none;
		}

		& > a + a {
  		border-left: 1px solid #0d46a1;
		}
	}

	&__year {
		margin-top: 20px;
	}

	&__year-label {
		font-size: 18px;
		font-weight: 500;
    text-transform: uppercase;
    margin-right: 13px;
	}

	&__year-select {
		display: inline-block;
    width: 70px;

    .selectbox__select {
    	padding: 0 10px;
    }
	}
}