include ../../components/page-header/page-header
include ../../blocks/buttons-set/buttons-set
include ../../blocks/tabs/tabs
include ../../components/searchForm/searchForm
include ../../blocks/arrow-button/arrow-button
include ../../blocks/link/link
include ../../blocks/selectbox/selectbox
include ../../blocks/dropdown-block/dropdown-block
include ../analityc-table/analityc-table
include ../../blocks/slide-arrows/slide-arrows
include ../../blocks/svg-map/svg-map

mixin services_net()

	mixin slider()
		+e.banner.swiper-container
			+e.wrapper.swiper-wrapper
				+e.A(href='#').banner-slide.swiper-slide(data-tab='health')
					+e.IMG(src='assets/images/services_net/sport.jpg')
					+e.banner-banner
						+e.H3.banner-title Здравоохранение
						+e.SPAN.banner-value 293
						+e.SPAN.banner-label учреждения
				+e.A(href='#').banner-slide.swiper-slide(data-tab='social')
					+e.IMG(src='assets/images/services_net/sport.jpg')
					+e.banner-banner
						+e.H3.banner-title Социальные услуги
						+e.SPAN.banner-value 190
						+e.SPAN.banner-label учреждений
				+e.A(href='#').banner-slide.swiper-slide(data-tab='edu')
					+e.IMG(src='assets/images/services_net/sport.jpg')
					+e.banner-banner
						+e.H3.banner-title Образование
						+e.SPAN.banner-value 746
						+e.SPAN.banner-label учреждений
				+e.A(href='#').banner-slide.swiper-slide(data-tab='others')
					+e.IMG(src='assets/images/services_net/sport.jpg')
					+e.banner-banner
						+e.H3.banner-title Иные сферы
						+e.SPAN.banner-value 669
						+e.SPAN.banner-label учреждений
				+e.A(href='#').banner-slide.swiper-slide(data-tab='culture')
					+e.IMG(src='assets/images/services_net/sport.jpg')
					+e.banner-banner
						+e.H3.banner-title Культура
						+e.SPAN.banner-value 439
						+e.SPAN.banner-label учреждений
				+e.A(href='#').banner-slide.swiper-slide(data-tab='sport')
					+e.IMG(src='assets/images/services_net/sport.jpg')
					+e.banner-banner
						+e.H3.banner-title Спорт
						+e.SPAN.banner-value 108
						+e.SPAN.banner-label учреждения
			+arrow-button()._prev.services-net-domain__arrow._prev.swiper-button-prev
			+arrow-button().services-net-domain__arrow._next.swiper-button-next

	mixin table(data, leftCaption, centerCaption, rightCaption)
		.analityc-table
			+slide-arrows().__slide-arrows

			+b.services-net-table.analityc-table__wrapper(data-offset='100')&attributes(attributes)
				+e.table

					+e.rows.services-net-table__caption
					
						+e.H3.col._left= leftCaption
						+e.H3.col._center= centerCaption
						+e.H3.col._right= rightCaption

					+e.rows.services-net-table__main
						+e.wrapper
							+e.tile
								- for (var i=0; i<data.length; i++)
									+row(data[i].id, data[i].colOne, data[i].colTwo, data[i].colThree)
		A(href="#").services-net-table__show-more.d-si__button.d-si__button_show-more Показать еще

	mixin row(num, colOne, colTwo, colThree)
		+e.row
			+e.col._left
				+e.row-num= num
				+e.A(href='#' data-tab-target='significantThree' data-target=num).row-one= colOne
			+e.col._center
				+e.row-two= colTwo
			+e.col._right
				+e.row-three= colThree


	+b.SECTION.services-net.main._basic.basic-budget.section__item&attributes(attributes)
		.wrapper-header
			+page-header('Бюджетная сеть', ['Сервисы'])
			+e.P.head-about.load-anim-fade(data-delay="1500") Сводная информация о сети государственных (муниципальных) учреждений города Москвы
			+e.buttons-set.load-anim-fade(data-delay="1500")
				+e.SPAN Выберите признак для сортировки
				+buttons-set-alt(getData('buttons-set-net'))

		.wrapper
			+tabs.services-net__content.load-anim-fade(data-delay="1500")

				+tabs-tab(data-tab-group="netTabs", data-tab="netOne").active

					+b.services-net-domain.services-net-inner._active
						+slider()

						+e.info
							+searchFormNet('Поиск').services-net__search
							.services-net-table__total Всего учреждений 2 445
							+table(getData('net'), 'Краткое наименование учреждения', 'ИНН', 'КПП')
						
						.services-net__foot
							a(href="#").analityc-more Посмотреть весь список

				+tabs-tab(data-tab-group="netTabs", data-tab="netTwo")

					+b.services-net-municipality.services-net-inner._active
						+e.main
							+e.H3.title 
								| ВЫБЕРИТЕ
								br
								| АДМИНИСТРАТИВНЫЙ ОКРУГ 
								br
								| (РАЙОН, ПОСЕЛЕНИЕ) 
								br
								| ГОРОДА МОСКВЫ
							+e.map
								+e.map-full
									+e.IMG(src='assets/images/VMO/full-map.png')

									//- каркас для контейнера
									+e.IMG(src="assets/images/VMO/full-map.png").frame
									
									+e.map-hover(data-hover-target='md-map' data-tab-target="md-map")
									+e.IMG(src="assets/images/VMO/md-hover-map.png" data-hover='md-map')
									+e.map-hover(data-hover-target='cd-map' data-tab-target="cd-map")
									+e.IMG(src="assets/images/VMO/cd-hover-map.png" data-hover='cd-map')
									+e.map-hover(data-hover-target='sm-map' data-tab-target="sm-map")
									+e.IMG(src="assets/images/VMO/sm-hover-map.png" data-hover='sm-map')
								+tabs.services-net-municipality__map-parts
									+tabs-tab.services-net-municipality__map-part(data-tab-group="servicesNet" data-tab='md-map')
										+svg-map-mo()
									+tabs-tab.services-net-municipality__map-part(data-tab-group="servicesNet" data-tab='cd-map')
										+svg-map-go()
									+tabs-tab.services-net-municipality__map-part(data-tab-group="servicesNet" data-tab='sm-map')
										+svg-map-setl()


						.services-net__foot
							a(href="#").analityc-more Посмотреть весь список

					+b.services-net-institutes.services-net-inner
						+e.title Перечень государственных (муниципальных) учреждений города Москвы
						+searchFormNet('Поиск').services-net__search
						.services-net-table__total Всего учреждений 1 000000
						+table(getData('net'), 'Краткое наименование учреждения', 'ИНН', 'КПП')

					+b.services-net-institute.services-net-inner
						+e.SPAN.back Назад к списку
						+e.H3.title Государственное бюджетное учреждение здравоохранения города москва «Городская поликлиника №180 Департамента здравоохранения города москвы»
						+e.requisites
							+e.data
								+e.data-row
									+e.P.data-title Сокращенное наименование
									+e.P.data-text ГБУ ГП №180 ДЗМ
								+e.data-row
									+e.P.data-title Адрес учреждения
									+e.P.data-text Уваровский пер., 4
								+e.data-row
									+e.P.data-title ИНН
									+e.P.data-text 7733137143
								+e.data-row
									+e.P.data-title КПП
									+e.P.data-text 773301001
								+e.data-row
									+e.P.data-title Организационно-правовая форма
									+e.P.data-text Государственные бюджетные учреждения субъектов Российской Федерации
								+e.data-row
									+e.P.data-title Вид деятельности
									+e.P.data-text Врачебная практика
							+e.address
								+e.address-map(id='net-map')
									+icon('close').map-close
								+link()._dashed.services-net-institute__address-map-open Развернуть карту
								
						+e.description
							.analityc-control-switcher.analityc-control-switcher_net.active
								a(href="#", data-tab-target="offers").active Услуги
								a(href="#", data-tab-target="services") Работы
								a(href="#", data-tab-target="property") Имущество
							+e.year
								+e.SPAN.year-label Год
								+selectbox('year', [{"val":"opt1", "text":"2017"}, {"val":"opt2", "text":"2016"}]).services-net-institute__year-select
							+table(getData('net-institute'), 'Наименование услуги', 'Пользователи', 'Объем услуги').services-net-table_institute-table

		+dropdown().load-anim-fade(data-delay="1700")

		+e.mask
		+e.map-popup Замоскворечье