include ../page-header/page-header

mixin tax-policy()
  section.d-abs-content.d-budjet-cards_bg.sections__item
    .d-layer.load-anim-fade(data-delay="1400")
      .d-si__head
        +page-header('Налоговая политика Москвы', ['О бюджете', 'Бюджетная система'], true)

      p.d-abs__head_descr.load-anim-fade(data-delay="1600") Совокупность мер, реализуемых органами государственной власти и&nbsp;направленных на&nbsp;повышение эффективности налоговой системы города Москвы
      #carousel
        .ar-left
        .carousel-count#count
        .ar-right
        .carousel-area__left
          .carousel-area__left__zone(data-speed="1")
          .carousel-area__left__zone(data-speed="2")
          .carousel-area__left__zone(data-speed="3")
          .carousel-area__left__zone(data-speed="4")
        .carousel-area__right
          .carousel-area__right__zone(data-speed="4")
          .carousel-area__right__zone(data-speed="3")
          .carousel-area__right__zone(data-speed="2")
          .carousel-area__right__zone(data-speed="1")
        carousel-3d(:width="660", :height="600", :border="0", :display="9", :autoplay="false", :autoplayHoverPause="true", :space="83", :perspective="0", :inverse-scaling="4", :minSwipeDistance="0")
          slide(:index="0")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Создание условий для развития малого бизнеса
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Расширение сферы применения патентной системы налогообложения за счет введения новых видов деятельности и дифференциации размеров потенциально возможного к получению индивидуальными предпринимателями годового дохода.
              button.d-slide__more Читать далее
          slide(:index="1")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Последовательное усиление роли имущественных налогов в формировании доходной базы бюджета города Москвы
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Расширение сферы применения кадастровой стоимости объектов недвижимости при налогообложении организаций в целях перераспределения налоговой нагрузки в зависимости от реальной стоимости налогооблагаемого имущества.
              button.d-slide__more Читать далее
          slide(:index="2")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Улучшение инвестиционного климата города Москвы
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Установление пониженных ставок налога на прибыль организаций, налога на имущество организаций и земельного налога для организаций, осуществляющих инвестиции в приоритетных для Москвы видах экономической деятельности.
              button.d-slide__more Читать далее
          slide(:index="3")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Совершенствование механизма обложения торговым сбором
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li Модернизация системы администрирования торгового сбора в городе Москве с учетом понимания нужд и потребностей предпринимательского сообщества.
                  li Продолжение проведения активной разъяснительной работы с предпринимательским сообществом о необходимости подачи уведомлений по торговому сбору, о правилах его уплаты, о порядке получения льгот.
              button.d-slide__more Читать далее
          slide(:index="4")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Налоговое регулирование трудовой деятельности иностранных граждан
              .d-slide__body-wrapper
                ul.d-slide__body_list.scroll-pane
                  li.none Экономическое регулирование рынка труда через установление стоимости патента для иностранных граждан, путем установления регионального коэффициента.
              button.d-slide__more Читать далее