include ../page-header/page-header

mixin tax-policy()
  section.d-abs-content.d-budjet-cards_bg.sections__item
    .d-layer
      .d-si__head
        +page-header('Налоговая политика Москвы', ['О бюджете', 'Бюджетная система'], true)

      p.d-abs__head_descr.load-anim-fade(data-delay="1500") Совокупность мер, реализуемых органами государственной власти и&nbsp;направленных на&nbsp;повышение эффективности налоговой системы города Москвы
      #carousel
        .ar-left
        .carousel-count#count
        .ar-right
        .carousel-area__left
          .carousel-area__left__zone(data-speed="1")
          .carousel-area__left__zone(data-speed="2")
          .carousel-area__left__zone(data-speed="3")
          .carousel-area__left__zone(data-speed="4")
        .carousel-area__right
          .carousel-area__right__zone(data-speed="4")
          .carousel-area__right__zone(data-speed="3")
          .carousel-area__right__zone(data-speed="2")
          .carousel-area__right__zone(data-speed="1")
        carousel-3d(:width="660", :height="600", :border="0", :display="9", :autoplay="false", :autoplayHoverPause="true", :space="83", :perspective="0", :inverse-scaling="4", :minSwipeDistance="0")
          slide(:index="0")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Поддержка малого и&nbsp;среднего предпринимательства
              ul.d-slide__body_list
                li Сохранение до&nbsp;2021 года налоговых канкул для перешедших на&nbsp;патентную или упрощенную систему налогооблажения индивидуальных предпринимателей, впервые зарегистрированных после 25&nbsp;марта 2015 года и&nbsp;осуществляющих деятельность в&nbsp;производственной, научной и&nbsp;социальной сферах;
                li Расширение перечня видов предпринимательской деятельности, в&nbsp;отношении которых возможно приминение патентной системы налогооблажения;
              button.d-slide__more Читать далее
          slide(:index="1")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Дальнейшее усиление роли имущественных налогов в&nbsp;доходной части бюджета города Москвы
              ul.d-slide__body_list
                li Совершенствование системы имущественного налогооблажения юридических и&nbsp;физических лиц на&nbsp;основе кадастровой стоимости объектов недвижимости;
                li Проведение работы по&nbsp;дифференциации условий налогооблажения зданий исходя из&nbsp;фактического использования недвижимости;
                li Расширение перечня объектов недвижимого имущества, в&nbsp;отношении которых налоговая база определяется как их&nbsp;кадастровая стоимость;
              button.d-slide__more Читать далее
          slide(:index="2")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Улучшение инвестиционного климата города Москвы
              ul.d-slide__body_list
                li Предоставление налоговых преференций организациям, осуществляющим инвестиции в&nbsp;приоритетные для города Москвы отрасли и&nbsp;виды деятельности;
              button.d-slide__more Читать далее
          slide(:index="3")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Проведение мониторинга и&nbsp;оценки реализации мероприятий Плана обеспечения устойчивого развития экономики и&nbsp;социальной стабильности города Москвы в&nbsp;части налоговой политики
              ul.d-slide__body_list
                li Проведение мониторинга и&nbsp;оценки реализации мероприятий Плана обеспечения устойчивого развития экономики и&nbsp;социальной стабильности города Москвы в&nbsp;части налоговой политики;
              button.d-slide__more Читать далее
          slide(:index="4")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Совершенствование механизма обложения торговым сбором
              ul.d-slide__body_list
                li Выравнивание уровня налоговой нагрузки на&nbsp;сопоставимые субъекты бизнеса и&nbsp;формирование условий для добросовесной конкуренции в&nbsp;сфере торговли;
              button.d-slide__more Читать далее
          slide(:index="5")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Налоговое регулирование трудовой деятельности иностранных граждан
              ul.d-slide__body_list
                li Введение патента для осуществления трудовой деятельности иностранными гражданами;
                li Экономическое регулирование рынка труда через установление стоимости патента для трудовых мигрантов;
              button.d-slide__more Читать далее
          slide(:index="6")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Проведение мониторинга и оценки реализации мероприятий Плана обеспечения устойчивого развития экономики и социальной стабильности города Москвы в части налоговой политики
              ul.d-slide__body_list
                li Сохранение до 2021 года налоговых канкул для перешедших на патентную или упрощенную систему налогооблажения индивидуальных предпринимателей, впервые зарегистрированных после 25 марта 2015 года и осуществляющих деятельность в производственной, научной и социальной сферах
                li Расширение перечня видов предпринимательской деятельности, в отношении которых возможно приминение патентной системы налогооблажения
              button.d-slide__more Читать далее
          slide(:index="7")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Проведение мониторинга и оценки реализации мероприятий Плана обеспечения устойчивого развития экономики и социальной стабильности города Москвы в части налоговой политики
              ul.d-slide__body_list
                li Сохранение до 2021 года налоговых канкул для перешедших на патентную или упрощенную систему налогооблажения индивидуальных предпринимателей, впервые зарегистрированных после 25 марта 2015 года и осуществляющих деятельность в производственной, научной и социальной сферах
                li Расширение перечня видов предпринимательской деятельности, в отношении которых возможно приминение патентной системы налогооблажения
              button.d-slide__more Читать далее
          slide(:index="8")
            .d-slide.d-slide__tax
              .d-slide__head
                h2 Проведение мониторинга и оценки реализации мероприятий Плана обеспечения устойчивого развития экономики и социальной стабильности города Москвы в части налоговой политики
              ul.d-slide__body_list
                li Сохранение до 2021 года налоговых канкул для перешедших на патентную или упрощенную систему налогооблажения индивидуальных предпринимателей, впервые зарегистрированных после 25 марта 2015 года и осуществляющих деятельность в производственной, научной и социальной сферах
                li Расширение перечня видов предпринимательской деятельности, в отношении которых возможно приминение патентной системы налогооблажения
              button.d-slide__more Читать далее
