include ../page-header/page-header
include ../../blocks/media-card/media-card
include ../../blocks/button/button
include ../open-slider/open-slider

//- Шапка

mixin depfin-budget-moscow-media-materials(title, breadcrumbs=['Медиацентр', 'Медиаматериалы'])

	+b.SECTION.depfin-budget-moscow-media-materials.sections__item&attributes(attributes)
		.wrapper.page-content-wrapper

			+e.head
				+page-header(title, breadcrumbs, true)

			+e.main.load-anim-fade(data-delay="1500")
				block