.depfin-budget-moscow-media-materials {
  display: block;
  background-image: url(../images/depfin-budget-moscow-media-materials/bg.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 195px;
  padding-bottom: 60px;

  @include respond-to('mobile'){
    padding: 100px 0 20px;
  }

  &__head {
    margin-bottom: 58px;
  }

  &__main {

  }

  &__materials {
  	margin-bottom: 100px;

  	&_video {

			.depfin-budget-moscow-media-materials__link {
		  	&:before {
		  		background-color: transparent;
		  		opacity: 1;
		  	}
			}

			.depfin-budget-moscow-media-materials__label {
				padding: 15px 19px;
				background-color: transparent;
			}

  		.depfin-budget-moscow-media-materials__photo {
  			height: 153px;

		  	&:before {
		  		@include ghost;
		  		background-color: #000;
		  		opacity: .6;
		  		z-index: 1;
		  	}
  		}

  		.depfin-budget-moscow-media-materials__img {
  			margin: 0 auto;
		    min-height: calc(100% + 153px);
  		}
  	}

  	&_present {

			.depfin-budget-moscow-media-materials__link {
		  	&:before {
		  		opacity: .6;
		  	}
			}

			.depfin-budget-moscow-media-materials__label {
				position: static;
				padding: 70px 19px 34px;
				background-color: transparent;
				opacity: 1;
			}
  	}
  }

  &__title {
  	font-family: $PFDinCondensedPro;
  	font-size: 30px;
  	line-height: 1em;
  	color: $color-white;
  	text-transform: uppercase;
  	margin-bottom: 40px;
  }

  &__content {
  	list-style: none;
  	font-size: 0;
  	text-align: justify;
  	margin-bottom: 77px;

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }
  }

  &__item {
  	display: inline-block;
  	width: 247px;
  	height: 247px;
  }

	&__link {
		display: block;
		position: relative;
  	width: 100%;
  	height: 100%;
  	text-decoration: none;

  	&:before {
  		@include ghost;
  		background-color: #000;
  		opacity: .2;
  		z-index: 1;
  	}
	}

	&__photo {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__img {
		@include fill-img;
	}

	&__paginate {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 37px;
	}

	&__paginate-bullets {
		@include center-block;
		height: 11px;
	}

	&__bullet {
		display: inline-block;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background-color: $color-white;
		opacity: .5;
		margin-right: 9px;

		&:last-child {
			margin-right: 0;
		}

		&_active {
			opacity: 1;
		}
	}

	&__play {
		@include center-block;
		width: 53px;
		height: 53px;
		border: 1px solid $color-white;
		border-radius: 50%;
		background-color: $color-white;
		opacity: .15;
    z-index: 1;

		& svg {
			@include center-block;
			width: 14px;
			height: 25px;
			stroke: $color-white;
		}
	}

	&__slide {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 49px;
		background-color: $color-white;
	}

	&__slide-arrows {
		@include center-block;
		width: 50px;
    height: 18px;
	}
	
	&__prev,
	&__next {
		position: absolute;
		top: 0;
		width: 9px;
		height: 18px;
		fill: $color-black;
	}

	&__prev {
		left: 0;
		transform: rotate(180deg);
	}

	&__next {
		right: 0;
	}

	&__label {
		display: block;
		width: 100%;
		position: absolute;
		padding: 15px 19px 34px;
		bottom: 0;
		left: 0;
		font-family: $PFDinCondensedPro;
		line-height: 20px;
		color: $color-white;
		background-color: #171832;
		opacity: .8;
		z-index: 1;
	}

	&__text {
		font-size: 16px;
		font-weight: 400;
		opacity: 0.5;
	}

	&__date {
		font-size: 14px;
		font-weight: 300;
		opacity: 0.5;
	}

  &__more {
  	width: 692px;
  	margin: 0 auto;

  	.button {
  		padding: 14px 14px 11px;
  		font-size: 18px;
  		line-height: 18px;
  		font-family: $PFDinCondensedPro;
  		text-transform: uppercase;
  	}
  }
}
