include ../page-header/page-header
include ../../blocks/button/button

mixin depfin-budget-moscow-media-materials()
	+b.depfin-budget-moscow-media-materials&attributes(attributes)
		.wrapper.page-content-wrapper

			+e.head
				+page-header('Медиаматериалы', false, true)

			+e.main
				+e.SECTION.materials._photo
					+e.H3.title Фотографии
					+e.UL.content
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item1.jpg').img
									+e.paginate
										+e.paginate-bullets
											+e.bullet._active
											+e.bullet
											+e.bullet
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item2.jpg').img
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item3.jpg').img
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item4.jpg').img
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
					
					+e.more
						+button()._kind_transparent
							| Показать еще

				+e.SECTION.materials._video
					+e.H3.title Видео
					+e.UL.content
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item1.jpg').img
									+e.BUTTON.play
										+icon('angle-arrow')
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item2.jpg').img
									+e.BUTTON.play
										+icon('angle-arrow')
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item3.jpg').img
									+e.BUTTON.play
										+icon('angle-arrow')
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item4.jpg').img
									+e.BUTTON.play
										+icon('angle-arrow')
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
					
					+e.more
						+button()._kind_transparent
							| Показать еще

				+e.SECTION.materials._present
					+e.H3.title Презентации
					+e.UL.content
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item1.jpg').img
									+e.slide
										+e.slide-arrows
											+icon('triangle-arrow').prev
											+icon('triangle-arrow').next
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item2.jpg').img
									+e.slide
										+e.slide-arrows
											+icon('triangle-arrow').prev
											+icon('triangle-arrow').next
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item3.jpg').img
									+e.slide
										+e.slide-arrows
											+icon('triangle-arrow').prev
											+icon('triangle-arrow').next
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
						+e.LI.item
							+e.A(href='#').link
								+e.photo
									+e.IMG(src='assets/images/depfin-budget-moscow-media-materials/item4.jpg').img
									+e.slide
										+e.slide-arrows
											+icon('triangle-arrow').prev
											+icon('triangle-arrow').next
								+e.label
									+e.P.text Возле лужников появится кафе с фонтаном-принтером.
									+e.SPAN.date 1 апреля 2016
					
					+e.more
						+button()._kind_transparent
							| Показать еще

