include ../page-header/page-header
include ../../blocks/button/button

mixin photo(images, text, date)
	+e.item&attributes(attributes)
		+e.A.link
			+e.container
				+e.DIV.slider-wrapper
					each img in images
						+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + img + '.jpg').img

				+e.label
					+e.P.text= text
					+e.SPAN.date= date

mixin photo-slider(images, text, date)
	+e.item&attributes(attributes)
		+e.A(href='#').link
			+e.container.swiper-container
				+e.DIV.slider-wrapper.swiper-wrapper
					each img in images
						+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + img + '.jpg').img.swiper-slide

				+e.paginate
					+e.paginate-bullets.swiper-pagination

				+e.label
					+e.P.text= text
					+e.SPAN.date= date

mixin video(image, text, date)
	+e.item&attributes(attributes)
		+e.A(href='#').link
			+e.container
				+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + image + '.jpg').img
						
				+e.BUTTON.play
					+icon('angle-arrow-slim')

			+e.label
				+e.P.text= text
				+e.SPAN.date= date

mixin present(images, text, date)
	+e.item&attributes(attributes)
		+e.A(href='#').link
			+e.container.swiper-container
				+e.DIV.slider-wrapper.swiper-wrapper
					each img in images
						+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + img + '.jpg').img.swiper-slide

				+e.slide
					+e.slide-arrows
						+icon('triangle-arrow').prev.swiper-button-prev
						+icon('triangle-arrow').next.swiper-button-next

			+e.label
				+e.P.text= text
				+e.SPAN.date= date

//- Шапка

mixin depfin-budget-moscow-media-materials()

	+b.SECTION.depfin-budget-moscow-media-materials.sections__item&attributes(attributes)
		.wrapper.page-content-wrapper

			+e.head
				+page-header('Медиаматериалы', ['Медиацентр'], true)

			+e.main.load-anim-fade(data-delay="1500")
				block