include ../page-header/page-header
include ../../blocks/media-card/media-card
include ../../blocks/button/button

//- Шапка

mixin depfin-budget-moscow-media-materials()

	+b.SECTION.depfin-budget-moscow-media-materials.sections__item&attributes(attributes)
		.wrapper.page-content-wrapper

			+e.head
				+page-header('Медиаматериалы', ['Медиацентр'], true)

			+e.main.load-anim-fade(data-delay="1500")
				block