include ../page-header/page-header
include ../../blocks/button/button

mixin card(img, text, date)
	+e.item&attributes(attributes)
		+e.A.link
			+e.container
				+e.DIV.slider-wrapper
					+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + img + '.jpg').img

				+e.BUTTON.play
					+icon('angle-arrow')

				+e.label
					+e.P.text= text
					+e.SPAN.date= date

				+e.num
					+e.num-current 1
					| /
					+e.num-total 0
//- Шапка

mixin depfin-budget-moscow-media-materials()

	+b.SECTION.depfin-budget-moscow-media-materials.sections__item&attributes(attributes)
		.wrapper.page-content-wrapper

			+e.head
				+page-header('Медиаматериалы', ['Медиацентр'], true)

			+e.main.load-anim-fade(data-delay="1500")
				block