.depfin-budget-moscow-media-materials {
  display: block;
  background-image: url(../images/depfin-budget-moscow-media-materials/bg.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 195px;
  padding-bottom: 60px;

  @include respond-to('mobile'){
    padding: 100px 0 20px;
  }

  &__head {
    margin-bottom: 58px;
  }

  &__main {

  }

  &__materials {
  	margin-bottom: 100px;

  	&_photo {
  		//by default
  	}

  	&_video {

			.depfin-budget-moscow-media-materials__link {
		  	&:before {
		  		background-color: transparent;
		  	}
			}

			.depfin-budget-moscow-media-materials__label {
				padding: 15px 19px;
				background-color: transparent;

				@media (max-width: 1140px) and (min-width: 901px) {
			    bottom: -30px;
				}

				@media (max-width: 580px) and (min-width: 401px) {
			    bottom: -30px;
				}
			}

  		.depfin-budget-moscow-media-materials__container {
  			height: 153px;

		  	&:before {
		  		@include ghost;
		  		background-color: rgba(0, 0, 0, .6);
		  		z-index: 1;
  		    transition: all 0.25s ease-in-out;
		  	}
  		}

  		.depfin-budget-moscow-media-materials__img {
  			margin: 0 auto;
		    min-height: calc(100% + 153px);
  		}
  	}

  	&_present {

			.depfin-budget-moscow-media-materials__wrapper {
				height: 729px;
			}

  		.depfin-budget-moscow-media-materials__item {
  			height: 207px;
  		}

			.depfin-budget-moscow-media-materials__link {
		  	&:before {
		  		background-color: rgba(0, 0, 0, .6);
		  	}
			}

			.depfin-budget-moscow-media-materials__container {
				/*swiper reset*/
				z-index: auto;
			}

			.depfin-budget-moscow-media-materials__label {
				position: relative;
				padding: 47px 19px 34px;
				color: rgba(255, 255, 255, 1);
				background-color: transparent;
			}

			.depfin-budget-moscow-media-materials__img {
				margin: 0 auto;
				min-height: calc(100% + 40px);
			}

			.swiper-button-next.swiper-button-disabled, 
			.swiper-button-prev.swiper-button-disabled {
				fill: #a5a5a5;
				stroke: #a5a5a5;
			}
  	}

  	&_slider {

			.depfin-budget-moscow-media-materials__slider-wrap {
				position: relative;
		    margin-bottom: 39px;
			}

			.depfin-budget-moscow-media-materials__item {
				margin: 0;
			}

			.depfin-budget-moscow-media-materials__slider-gallery.swiper-container {
		    position: static;
		    width: 851px;
		    height: 531px;

		    @media (max-width: 1140px) {
		    	width: 100%;
		    	height: 247px;
		    }

		    @media (max-width: 580px) and (min-width: 401px) {
    	    height: 347px;
		    }
			}

			.depfin-budget-moscow-media-materials__slider-gallery .swiper-slide {
				width: 100%;
				height: 100%;
			}
			
			.depfin-budget-moscow-media-materials__slider-pagination.swiper-container {
				@media (max-width: 580px) {
					display: none;
				}
			}

			.depfin-budget-moscow-media-materials__slider-gallery .swiper-button-prev,
			.depfin-budget-moscow-media-materials__slider-gallery .swiper-button-next {
				background-image: none;
				fill: none;
				stroke: $color-white;

				@media (max-width: 580px) {
			    width: 20px;
			    height: 37px;
				}
			}

			.depfin-budget-moscow-media-materials__slider-gallery .swiper-button-prev {
				left: 0;
			}

			.depfin-budget-moscow-media-materials__slider-gallery .swiper-button-next {
				right: 0;
			}

			.depfin-budget-moscow-media-materials__slider-pagination .swiper-wrapper {
				/*Swiper - gallery thumbs pagination bug fix*/
				/*17.5px - half width of a spaceBetween*/
				margin-left: calc(-40% + 17.5px); 

				@media (max-width: 900px) {
					margin-left: calc(-29% + 17.5px);
				}
			}

  		.depfin-budget-moscow-media-materials__paginate {
  			@media (min-width: 901px) {
  				display: none;
  			}
  		}
  	}
  }

  &__title {
  	font-family: $PFDinCondensedPro;
  	font-size: 30px;
  	line-height: 1em;
  	color: $color-white;
  	text-transform: uppercase;
  	margin-bottom: 40px;
  }

	&__wrapper {
		height: 849px;
		overflow: hidden;

		@media (max-width: 1140px) and (min-width: 901px) {
			height: 738px;
		}

		@media (max-width: 900px) and (min-width: 401px) {
	    height: 945px;
		}

		@media (max-width: 580px) and (min-width: 401px) {
			height: 723px;
		}

	}

  &__content {
  	height: auto;
  	list-style: none;
  	font-size: 0;
  	margin: 0 calc(12% / 8 * (-1));

		@media (max-width: 900px) and (min-width: 401px) {
	    margin: 0 calc(12% / 4 * (-1));
	    margin-bottom: 41px;
		}

		@media (max-width: 400px) {
	    margin: 0;
		}

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }
  }

  &__item {
  	display: inline-block;
  	width: 22%;
  	height: 247px;
  	margin: 0 calc(12% / 8);
  	margin-bottom: 36px;
  	cursor: pointer;

		@media (max-width: 1140px) and (min-width: 901px) {
			height: 210px;
		}

		@media (max-width: 900px) and (min-width: 401px) {
	    width: 44%;
	    height: 279px;
      margin: 0 calc(12% / 4);
      margin-bottom: 36px;
		}

		@media (max-width: 580px) and (min-width: 401px) {
			height: 205px;
		}

		@media (max-width: 400px) {
			width: 100%;
	  	margin: 0;
	  	margin-bottom: 36px;
		}

		&:hover .depfin-budget-moscow-media-materials__label {
			color: $color-white;
		}

		&:hover .depfin-budget-moscow-media-materials__link:before,
		&:hover .depfin-budget-moscow-media-materials__container:before {
			background-color: rgba(0,0,0,0);
		}	

		&:hover .depfin-budget-moscow-media-materials__play svg {
			width: 20px;
	    height: 31px;
		}
	
  }

	&__link {
		display: block;
		position: relative;
  	width: 100%;
  	height: 100%;
  	text-decoration: none;

  	&:before {
  		@include ghost;
  		background-color: rgba(0, 0, 0, .2);
  		z-index: 1;
  		transition: all .25s ease-in-out;
  	}
	}

	&__container {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	&__slider-wrapper {
		height: 100%;
		/*swiper reset*/
		z-index: auto;
        white-space: nowrap;
        > * {
          white-space: normal;
        }
	}

	&__img {
		@include fill-img;
		position: relative;
	}

	&__paginate {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 37px;
		z-index: 2;
	}

	&__paginate-bullets {
		@include center-block;
		height: 11px;
		white-space: nowrap;

		.swiper-pagination-bullet {
			display: inline-block;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background: #fff;
			opacity: .5;
			margin-right: 9px;

			&:last-child {
				margin-right: 0;
			}
		}

		.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}

	&__play {
		@include center-block;
		width: 53px;
		height: 53px;
		border: 1px solid rgba(255, 255, 255, .15);
		border-radius: 50%;
		background-color: rgba(255, 255, 255, .15);
		z-index: 1;
		

		& svg {
			@include center-block;
			width: 14px;
			height: 25px;
			stroke: #fff;
    	fill: transparent;
    	transition: all .25s ease-in-out;
		}
	}

	&__slide {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 49px;
		background-color: $color-white;
		z-index: 2;
	}

	&__slide-arrows {
		@include center-block;
		width: 50px;
    height: 18px;
	}
	
	&__prev,
	&__next {
		position: absolute;
		top: 0;
		width: 9px;
		height: 18px;
		fill: $color-black;
		stroke: $color-black;
		/*swiper reset*/
		margin: 0;
		background: none;
	}

	&__prev {
		left: 0;
		transform: rotate(180deg);
	}

	&__next {
		right: 0;
	}

	&__label {
		display: block;
		width: 100%;
		position: absolute;
		padding: 15px 19px 34px;
		bottom: 0;
		left: 0;
		font-family: $PFDinCondensedPro;
		line-height: 20px;
		color: rgba(255, 255, 255, .5);
		background-color: rgba(23, 24, 50, .8);;
		z-index: 1;
		transition: all .25s ease-in-out;

		@media (max-width: 900px) and (min-width: 581px) {
			line-height: 24px;
		}
	}

	&__text {
		font-size: 16px;
		font-weight: 400;

		@media (max-width: 900px) and (min-width: 581px) {
			font-size: 20px;
		}
	}

	&__date {
		font-size: 14px;
		font-weight: 300;

		@media (max-width: 900px) and (min-width: 581px) {
			font-size: 16px;
		}
	}

  &__more {
  	width: 692px;
  	margin: 0 auto;

		@media (max-width: 900px) {
			width: 100%;
		}

  	.button {
  		padding: 14px 14px 11px;
  		font-size: 18px;
  		line-height: 18px;
  		font-family: $PFDinCondensedPro;
  		text-transform: uppercase;
  	}
  }
}
