.depfin-budget-moscow-media-materials {
  display: block;
  background-image: url(../images/depfin-budget-moscow-media-materials/bg.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 195px;
  padding-bottom: 60px;

  @include respond-to('mobile'){
    padding: 100px 0 20px;
  }

  &__head {
    margin-bottom: 58px;
  }

  &__main {

  }

  &__materials {
  	margin-bottom: 100px;

  	&_photo {
  		//by default
  	}

  	&_video {

  	}

		&_video-one {

		}

  	&_present {

  	}

  	&_slider {

			.depfin-budget-moscow-media-materials__slider-wrap {
				position: relative;
        margin-bottom: 29px;
			}

			.depfin-budget-moscow-media-materials__slider-gallery.swiper-container {
		    position: static;
        width: 920px;
		    height: 531px;

		    @media (max-width: 1140px) {
		    	width: 100%;
		    	height: 247px;
		    }

		    @media (max-width: 580px) and (min-width: 401px) {
    	    height: 347px;
		    }
			}

			.depfin-budget-moscow-media-materials__slider-gallery .swiper-slide {
				width: 100%;
				height: 100%;
			}
			
			.depfin-budget-moscow-media-materials__slider-pagination.swiper-container {
				@media (max-width: 580px) {
					display: none;
				}
			}

			.depfin-budget-moscow-media-materials__slider-gallery .swiper-button-prev,
			.depfin-budget-moscow-media-materials__slider-gallery .swiper-button-next {
				background-image: none;
				fill: none;
				stroke: $color-white;

				@media (max-width: 580px) {
			    width: 20px;
			    height: 37px;
				}
			}

			.depfin-budget-moscow-media-materials__slider-gallery .swiper-button-prev {
				left: 0;
			}

			.depfin-budget-moscow-media-materials__slider-gallery .swiper-button-next {
				right: 0;
			}

			.depfin-budget-moscow-media-materials__slider-pagination.swiper-container {
		    width: 920px;

		    @media (max-width: 1140px) {
		    	width: 100%;
		    }
			}

			.depfin-budget-moscow-media-materials__slider-pagination .swiper-wrapper {
				/*Swiper - gallery thumbs pagination bug fix*/
				/*17.5px - half width of a spaceBetween*/
				/*margin-left: calc(-40% + 17.5px); */

				@media (max-width: 900px) {
					/*margin-left: calc(-29% + 17.5px);*/
				}
			}

  		.depfin-budget-moscow-media-materials__paginate {
  			@media (min-width: 901px) {
  				display: none;
  			}
  		}
  	}
  }

  &__title {
  	max-width: 420px;
  	font-family: $PFDinCondensedPro;
  	font-size: 30px;
  	line-height: 1em;
  	color: $color-white;
  	text-transform: uppercase;
  	margin-bottom: 15px;
  }

	&__date {
		display: block;
		font-size: 18px;
		font-weight: 300;
		opacity: .5;
		margin-bottom: 50px;
	}

	&__wrapper {
		height: 849px;
		overflow: hidden;

		@media (max-width: 1140px) and (min-width: 901px) {
			height: 738px;
		}

		@media (max-width: 900px) and (min-width: 401px) {
	    height: 945px;
		}

		@media (max-width: 580px) and (min-width: 401px) {
			height: 723px;
		}

	}

  &__content {
  	height: auto;
  	list-style: none;
  	font-size: 0;
  	margin: 0 calc(12% / 8 * (-1));

		@media (max-width: 900px) and (min-width: 401px) {
	    margin: 0 calc(12% / 4 * (-1));
	    margin-bottom: 41px;
		}

		@media (max-width: 400px) {
	    margin: 0;
		}

    &:after {
      width: 100%;
      height: 0;
      content: '';
      display: inline-block;
    }
  }

	&__paginate {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 37px;
		z-index: 2;
	}

	&__paginate-bullets {
		@include center-block;
		height: 11px;
		white-space: nowrap;

		.swiper-pagination-bullet {
			display: inline-block;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background: #fff;
			opacity: .5;
			margin-right: 9px;

			&:last-child {
				margin-right: 0;
			}
		}

		.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}

  &__more {
  	width: 692px;
  	margin: 0 auto;

		@media (max-width: 900px) {
			width: 100%;
		}

  	.button {
  		padding: 14px 14px 11px;
  		font-size: 18px;
  		line-height: 18px;
  		font-family: $PFDinCondensedPro;
  		text-transform: uppercase;
  	}
  }
}
