include ../page-header/page-header
include ../../blocks/button/button

mixin depfin-budget-moscow-media-materials()

	mixin photo(images, text, date)
		+e.item&attributes(attributes)
			+e.A.link
				+e.container
					+e.DIV.slider-wrapper
						each img in images
							+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + img + '.jpg').img

					+e.label
						+e.P.text= text
						+e.SPAN.date= date

	mixin photo-slider(images, text, date)
		+e.item&attributes(attributes)
			+e.A(href='#').link
				+e.container.swiper-container
					+e.DIV.slider-wrapper.swiper-wrapper
						each img in images
							+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + img + '.jpg').img.swiper-slide

					+e.paginate
						+e.paginate-bullets.swiper-pagination

					+e.label
						+e.P.text= text
						+e.SPAN.date= date

	mixin video(image, text, date)
		+e.item&attributes(attributes)
			+e.A(href='#').link
				+e.container
					+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + image + '.jpg').img
							
					+e.BUTTON.play
						+icon('angle-arrow-slim')

				+e.label
					+e.P.text= text
					+e.SPAN.date= date

	mixin present(images, text, date)
		+e.item&attributes(attributes)
			+e.A(href='#').link
				+e.container.swiper-container
					+e.DIV.slider-wrapper.swiper-wrapper
						each img in images
							+e.IMG(src= 'assets/images/depfin-budget-moscow-media-materials/' + img + '.jpg').img.swiper-slide

					+e.slide
						+e.slide-arrows
							+icon('triangle-arrow').prev.swiper-button-prev
							+icon('triangle-arrow').next.swiper-button-next

				+e.label
					+e.P.text= text
					+e.SPAN.date= date

	+b.depfin-budget-moscow-media-materials&attributes(attributes)
		.wrapper.page-content-wrapper

			+e.head
				+page-header('Медиаматериалы', false, true)

			+e.main.load-anim-fade(data-delay="1500")

				//- Главная

				+e.SECTION.materials._photo
					+e.H3.title Фотографии
					+e.content
						+photo-slider(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+photo-slider(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+photo-slider(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+photo-slider(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+e.more
						+button()._kind_transparent
							| Показать еще

				+e.SECTION.materials._video
					+e.H3.title Видео
					+e.content
						+video('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+video('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+video('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+video('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+e.more
						+button()._kind_transparent
							| Показать еще

				+e.SECTION.materials._present
					+e.H3.title Презентации
					+e.content
						+present(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+present(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+present(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+present(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+e.more
						+button()._kind_transparent
							| Показать еще

				//- Переход по кнопке Показать еще

				+e.SECTION.materials._photo
					+e.H3.title Фотографии
					+e.content
						+photo-slider(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+photo-slider(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+photo-slider(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+photo-slider(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+photo-slider(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+photo-slider(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+photo-slider(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+photo-slider(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+photo-slider(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+photo-slider(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+photo-slider(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+photo-slider(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+e.more
						+button()._kind_transparent
							| Показать еще

				+e.SECTION.materials._video
					+e.H3.title Видео
					+e.content
						+video('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+video('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+video('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+video('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+video('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+video('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+video('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+video('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+video('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+video('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
						+video('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
						+video('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+e.more
						+button()._kind_transparent
							| Показать еще

				//- Слайдер

				+e.SECTION.materials._slider

					+e.slider-wrap
						+e.slider-gallery.swiper-container
							+e.slider-wrapper.swiper-wrapper
								+photo(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
								+photo(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
								+photo(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
								+photo(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
								+photo(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
								+photo(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
								+photo(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
								+photo(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
							+icon('icon-prev').slider-prev.swiper-button-prev
							+icon('icon-next').slider-next.swiper-button-next

					+e.slider-pagination.swiper-container
						+e.slider-wrapper.swiper-wrapper
							+photo(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
							+photo(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
							+photo(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
							+photo(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
							+photo(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
							+photo(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
							+photo(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
							+photo(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
