include depfin-budget-moscow-media-materials

//- Отдельное фото - слайдер
mixin materials-video-one()
	+depfin-budget-moscow-media-materials()
		+e.title._one Возле лужников появится кафе с фонтаном-принтером
		+e.date._one 1 апреля 2016

		+e.SECTION.materials._video-one

			+e.slider-wrap
				+card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide

		+e.SECTION.materials._video
			+e.H3.title Другие видеоматериалы
			+e.content
				+card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще