include depfin-budget-moscow-media-materials

//- Отдельное фото - слайдер
mixin materials-photo-one()
	+depfin-budget-moscow-media-materials()
		+e.title Возле лужников появится кафе с фонтаном-принтером
		+e.date 1 апреля 2016

		+e.SECTION.materials._slider

			+e.slider-wrap
				+e.slider-gallery.swiper-container
					+e.slider-wrapper.swiper-wrapper
						+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._slider.swiper-slide
						+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._slider.swiper-slide
						+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._slider.swiper-slide
						+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._slider.swiper-slide
						+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._slider.swiper-slide
						+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._slider.swiper-slide
						+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._slider.swiper-slide
						+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._slider.swiper-slide
					+e.paginate
						+e.paginate-bullets.swiper-pagination
					+icon('icon-prev').slider-prev.swiper-button-prev
					+icon('icon-next').slider-next.swiper-button-next

			+e.slider-pagination.swiper-container
				+e.slider-wrapper.swiper-wrapper
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._thumbnail._thumbnail-active.swiper-slide
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._thumbnail.swiper-slide
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._thumbnail.swiper-slide
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._thumbnail.swiper-slide
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._thumbnail.swiper-slide
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._thumbnail.swiper-slide
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._thumbnail.swiper-slide
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._thumbnail.swiper-slide

		+e.SECTION.materials._photo
			+e.H3.title Другие фотографии
			+e.content
				+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще
