include depfin-budget-moscow-media-materials

//- Сводная
mixin materials-main()
	+depfin-budget-moscow-media-materials('Медиаматериалы', ['Медиацентр'])

		+e.SECTION.materials
			+e.H3.title Фотографии
				A(href="#").media-main__page-link.media-main__page-link_short Все фотографии
					+icon('angle-arrow', true).media-main__page-link-icon
			+e.wrapper._slider
				
				+e.content
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					//- hidden
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				
			+e.content._slider
				.swiper-container
					.swiper-wrapper
						+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
						+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
						+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
						+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
				.news-arrow.news-arrow_prev.swiper-button-prev  
				.news-arrow.news-arrow_next.swiper-button-next 
				.swiper-pagination

			+e.more._slider
				+button()._kind_transparent
					| Показать еще

		+e.SECTION.materials
			+e.H3.title Видео
				A(href="#").media-main__page-link.media-main__page-link_short Все видео
					+icon('angle-arrow', true).media-main__page-link-icon
			+e.wrapper._slider

				+e.content
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
					//- hidden
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
			
			+e.content._slider
				.swiper-container
					.swiper-wrapper
						+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video.swiper-slide
						+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video.swiper-slide
						+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video.swiper-slide
						+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video.swiper-slide
				.news-arrow.news-arrow_prev.swiper-button-prev  
				.news-arrow.news-arrow_next.swiper-button-next 
				.swiper-pagination

			+e.more._slider
				+button()._kind_transparent
					| Показать еще

		+e.SECTION.materials
			+e.H3.title Презентации
				A(href="#").media-main__page-link.media-main__page-link_short Все презентации
					+icon('angle-arrow', true).media-main__page-link-icon
			+e.wrapper._slider

				+e.content
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					//- hidden
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			
			+e.content._slider
				.swiper-container
					.swiper-wrapper
						+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
						+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
						+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016').swiper-slide
						+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016').swiper-slide
				.news-arrow.news-arrow_prev.swiper-button-prev  
				.news-arrow.news-arrow_next.swiper-button-next 
				.swiper-pagination

			+e.more._slider
				+button()._kind_transparent
					| Показать еще
