include depfin-budget-moscow-media-materials

//- Сводная
mixin materials-main()
	+depfin-budget-moscow-media-materials('Медиаматериалы', ['Медиацентр'])

		+e.SECTION.materials
			+e.H3.title Фотографии
			+e.wrapper
				+e.content
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					//- hidden
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще

		+e.SECTION.materials
			+e.H3.title Видео
			+e.wrapper
				+e.content
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
					//- hidden
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
			+e.more
				+button()._kind_transparent
					| Показать еще

		+e.SECTION.materials
			+e.H3.title Презентации
			+e.wrapper
				+e.content
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					//- hidden
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще
