include depfin-budget-moscow-media-materials

//- Отдельное фото - слайдер
mixin materials-present-one()
	+depfin-budget-moscow-media-materials()
		+e.title Возле лужников появится кафе с фонтаном-принтером
		+e.date 1 апреля 2016

		+e.SECTION.materials._slider

			+e.slider-wrap
				+open-slider()
					+open-slider-gallery()
						+open-slide('guide_01.jpg', true)
						+open-slide('guide_02.jpg', true)
						+open-slide('guide_03.jpg', true)
						+open-slide('guide_04.jpg', true)
						+open-slide('guide_05.jpg', true)
						+open-slide('guide_06.jpg', true)
						+open-slide('guide_07.jpg', true)
					+open-slider-thumbs()
						+open-slide('guide_01.jpg')
						+open-slide('guide_02.jpg')
						+open-slide('guide_03.jpg')
						+open-slide('guide_04.jpg')
						+open-slide('guide_05.jpg')
						+open-slide('guide_06.jpg')
						+open-slide('guide_07.jpg')
							
		+e.SECTION.materials._present
			+e.H3.title Другие презентации
			+e.content
				+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще
