include depfin-budget-moscow-media-materials

//- Отдельное фото - слайдер
mixin materials-video-one()
	+depfin-budget-moscow-media-materials()
		+e.title Возле лужников появится кафе с фонтаном-принтером
		+e.date 1 апреля 2016

		+e.SECTION.materials._video-one

			+e.slider-wrap
				+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video-one

		+e.SECTION.materials._video
			+e.H3.title Другие видеоматериалы
			+e.content
				+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
				+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
				+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')._video
				+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')._video
			+e.more
				+button()._kind_transparent
					| Показать еще