include depfin-budget-moscow-media-materials

//- Сводная
mixin materials-main()
	+depfin-budget-moscow-media-materials()

		+e.SECTION.materials._photo
			+e.H3.title Фотографии
			+e.content
				+photo-slider(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+photo-slider(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+photo-slider(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+photo-slider(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще

		+e.SECTION.materials._video
			+e.H3.title Видео
			+e.content
				+video('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+video('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+video('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+video('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще

		+e.SECTION.materials._present
			+e.H3.title Презентации
			+e.content
				+present(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+present(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+present(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+present(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще
