include depfin-budget-moscow-media-materials

//- Отдельное фото - слайдер
mixin materials-present-one()
	+depfin-budget-moscow-media-materials('Презентации', ['Медиацентр', 'Медиаматериалы'], 'Все презентации')
		+e.title Возле лужников появится кафе с фонтаном-принтером
		+e.date 1 апреля 2016

		+e.SECTION.materials

			+e.slider-wrap
				//- +open-slider()
				//- 	+open-slider-gallery()
				//- 		+open-slide-gallery('guide_01.jpg')
				//- 		+open-slide-gallery('guide_02.jpg')
				//- 		+open-slide-gallery('guide_03.jpg')
				//- 		+open-slide-gallery('guide_04.jpg')
				//- 		+open-slide-gallery('guide_05.jpg')
				//- 		+open-slide-gallery('guide_06.jpg')
				//- 		+open-slide-gallery('guide_07.jpg')
				//- 	+open-slider-thumbs()
				//- 		+open-slide-thumbs('guide_01.jpg')
				//- 		+open-slide-thumbs('guide_02.jpg')
				//- 		+open-slide-thumbs('guide_03.jpg')
				//- 		+open-slide-thumbs('guide_04.jpg')
				//- 		+open-slide-thumbs('guide_05.jpg')
				//- 		+open-slide-thumbs('guide_06.jpg')
				//- 		+open-slide-thumbs('guide_07.jpg')
				+google-presentation()
							
		+e.SECTION.materials
			+e.H3.title Другие презентации
			+e.wrapper
				+e.content
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					//- hidden
					+media-card('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+media-card('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+media-card('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще
