include depfin-budget-moscow-media-materials

mixin materials-video()
	+depfin-budget-moscow-media-materials()
		+e.SECTION.materials._video
			+e.H3.title Видео
			+e.content
				+video('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+video('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+video('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+video('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+video('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+video('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+video('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+video('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+video('item1', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+video('item2', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
				+video('item3', 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
				+video('item4', 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще
