include depfin-budget-moscow-media-materials

mixin materials-photo()
	+depfin-budget-moscow-media-materials()
		+e.SECTION.materials._photo
			+e.H3.title Фотографии
			+e.wrapper
				+e.content
					+photo-slider(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+photo-slider(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+photo-slider(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+photo-slider(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+photo-slider(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+photo-slider(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+photo-slider(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+photo-slider(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+photo-slider(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+photo-slider(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+photo-slider(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+photo-slider(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					//- hidden
					+photo-slider(['item1', 'item1', 'item1'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+photo-slider(['item2', 'item2', 'item2'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
					+photo-slider(['item3', 'item3', 'item3'], 'Возле лужников появится кафе с фонтаном-принтером.', '1 апреля 2016')
					+photo-slider(['item4', 'item4', 'item4'], 'Русский Монмартр и акунинская Москва: бесплатные экскурсии.', '1 апреля 2016')
			+e.more
				+button()._kind_transparent
					| Показать еще
