mixin depfin_about_budget_preparation()
  +b.depfin_about_budget_preparation&attributes(attributes)
    sections
      .d-abs-content
        .d-layer
          +b.d-si.d-si__head
            +e.head_descr Бюджетная система
            +e.head_p-name этапы подготовки бюждета
            +e.head_icons
              +e.A(href="#").icons_item
              +e.A(href="#").icons_item
          p.d-abs__head_descr
            strong.font-PFDinPro-bold Бюджетный процесс
            |  — деятельность по подготовке проектов бюджетов, утверждению, исполнению бюджетов, контролю исполнения, осуществлению бюджетного учета, составлению, внешней проверке, рассмотрению и утверждению бюджетной отчетности.
          .d-abs__foot
            .d-abs__foot-side Выберите уровень бюджетной системы
            .d-abs__foot-content 
              +b.buttons-set
                +e.item
                  a(href="#").button-light.button-light--fill Бюджет Москвы
                +e.item
                  a(href="#").button-light Бюджет Москвы
      // d-abs-content 
      +b.graphic-table
        +e.frame
          +e.holder
            +e.TABLE.table
              thead
                tr
                  +e.TH.table-th
                    // fake
                  +e.TH.table-th
                    +e.head.color_05 2014
                    +e.months
                      +e.SPAN.month ЯНВ
                      +e.SPAN.month ФЕВ
                      +e.SPAN.month МАР
                      +e.SPAN.month АПР
                      +e.SPAN.month МАЙ
                      +e.SPAN.month ИЮН
                      +e.SPAN.month ИЮЛ
                      +e.SPAN.month АВГ
                      +e.SPAN.month СЕН
                      +e.SPAN.month ОКТ
                      +e.SPAN.month НОЯ
                      +e.SPAN.month ДЕК
                  +e.TH.table-th
                    +e.head.color_01 2015
                    +e.months
                      +e.SPAN.month ЯНВ
                      +e.SPAN.month ФЕВ
                      +e.SPAN.month МАР
                      +e.SPAN.month АПР
                      +e.SPAN.month МАЙ
                      +e.SPAN.month ИЮН
                      +e.SPAN.month ИЮЛ
                      +e.SPAN.month АВГ
                      +e.SPAN.month СЕН
                      +e.SPAN.month ОКТ
                      +e.SPAN.month НОЯ
                      +e.SPAN.month ДЕК
                  +e.TH.table-th
                    +e.head.color_02 2016
                    +e.months
                      +e.SPAN.month ЯНВ
                      +e.SPAN.month ФЕВ
                      +e.SPAN.month МАР
                      +e.SPAN.month АПР
                      +e.SPAN.month МАЙ
                      +e.SPAN.month ИЮН
                      +e.SPAN.month ИЮЛ
                      +e.SPAN.month АВГ
                      +e.SPAN.month СЕН
                      +e.SPAN.month ОКТ
                      +e.SPAN.month НОЯ
                      +e.SPAN.month ДЕК
                  +e.TH.table-th
                    +e.head.color_03 2017
                    +e.months
                      +e.SPAN.month ЯНВ
                      +e.SPAN.month ФЕВ
                      +e.SPAN.month МАР
                      +e.SPAN.month АПР
                      +e.SPAN.month МАЙ
                      +e.SPAN.month ИЮН
                      +e.SPAN.month ИЮЛ
                      +e.SPAN.month АВГ
                      +e.SPAN.month СЕН
                      +e.SPAN.month ОКТ
                      +e.SPAN.month НОЯ
                      +e.SPAN.month ДЕК
                  +e.TH.table-th
                    +e.head.color_04 2018
                    +e.months
                      +e.SPAN.month ЯНВ
                      +e.SPAN.month ФЕВ
                      +e.SPAN.month МАР
                      +e.SPAN.month АПР
                      +e.SPAN.month МАЙ
                      +e.SPAN.month ИЮН
                      +e.SPAN.month ИЮЛ
                      +e.SPAN.month АВГ
                      +e.SPAN.month СЕН
                      +e.SPAN.month ОКТ
                      +e.SPAN.month НОЯ
                      +e.SPAN.month ДЕК
                  +e.TH.table-th
                    +e.head.color_04 2019
                    +e.months
                      +e.SPAN.month ЯНВ
                      +e.SPAN.month ФЕВ
                      +e.SPAN.month МАР
                      +e.SPAN.month АПР
                      +e.SPAN.month МАЙ
                      +e.SPAN.month ИЮН
                      +e.SPAN.month ИЮЛ
                      +e.SPAN.month АВГ
                      +e.SPAN.month СЕН
                      +e.SPAN.month ОКТ
                      +e.SPAN.month НОЯ
                      +e.SPAN.month ДЕК
              tbody
                +e.TR.table-tr
                  +e.TD.table-td
                    +e.title-wrap
                      +e.title
                        +e.title-count I
                        +e.title-content
                          | составление проекта 
                          br
                          | Бюджета
                  +e.TD.table-td
                    +e.line.type-positive_01.type-negative_03
                      +e.line-output.type_04 2016-2018
                  +e.TD.table-td
                    +e.line.type-positive_01.type-negative_03
                      +e.line-output.type_01 2016-2018
                  +e.TD.table-td
                    +e.line.type-positive_01.type-negative_03
                      +e.line-output.type_02 2017-2019
                  +e.TD.table-td
                    +e.line.type-positive_01.type-negative_03
                      +e.line-output.type_03 2018-2020
                  +e.TD.table-td
                    +e.line.type-positive_04.type-negative_02
                      +e.line-output.type_04 2019-2021
                  +e.TD.table-td
                    +e.line.type-positive_02.type-negative_04
                      +e.line-output.type_01 2020-2021
      // graphic-table
      +b.steps.back-round
        .wrap
          +e.holder
            +b.step
              +e.head
                +e.STRONG.num I
                +e.H6.title Составление проекта &nbsp; бюджета
              +e.descr
                p  
                  | Начальный этап бюджетного процесса. На этом этапе составляется прогноз
                  | социально-экономического развития, определяются основные характеристики бюджета, налоговая
                  | и бюджетная политика на очередной финансовый год и на плановый период, основные методы и направления
                  | покрытия дефицита, долговая политика, а также распределение бюджетных ассигнований
                p
                  a(href="#").link-more Подробнее
            +b.step
              +e.head
                +e.STRONG.num II
                +e.H6.title Рассмотрение и&nbsp;утверждение бюджета
              +e.descr
                p
                  | Подготовленный проект бюджета рассматривается в Московской городской Думе. Рассмотрение проходит
                  | в трех чтениях, в результате согласования всех спорных вопросов проект бюджета утверждается и
                  | направляется на подпись Мэру Москвы. Принятый законодательно и подписанный Мэром Москвы проект бюджета становится законом города Москвы
                p
                  a(href="#").link-more Подробнее
            +b.step
              +e.head
                +e.STRONG.num III
                +e.H6.title 
                  | Исполнение 
                  br
                  | бюджета
              +e.descr
                p
                  | Исполнение бюджета организуется на основе сводной бюджетной росписи и кассового плана.
                  | Бюджет исполняется по доходам, расходам и источникам финансирования дефицита бюджета
                  | на основе принципов единства кассы и подведомственности расходов
                p
                  a(href="#").link-more Подробнее
            +b.step
              +e.head
                +e.STRONG.num IV
                +e.H6.title Подготовка и&nbsp;утверждение годового&nbsp;отчета об&nbsp;исполнении бюджета
              +e.descr
                p
                  | По итогам текущего финансового года составляется бюджетная отчетность об исполнении
                  | бюджета, направляемая для проверки в органы финансового контроля, а
                  | затем на рассмотрение и утверждение в законодательные и представительные органы
                p
                  a(href="#").link-more Подробнее
            +b.step
              +e.head
                +e.STRONG.num V
                +e.H6.title Финансовый контроль
              +e.descr
                p
                  | Деятельность органов государственной власти, направленная на обеспечение
                  | соблюдения бюджетного законодательства Российской Федерации и иных
                  | нормативных правовых актов, регулирующих бюджетные правоотношения
                p
                  a(href="#").link-more Подробнее
      // steps
      +b.section-tabs
        +e.head
          .wrap
            +b.UL.labels
              +e.LI.item
                +b.SPAN.label
                  | Участники процесса подготовки бюджета
                  +e.U.button.btn-close.js-section-tabs-hide
        +e.nav
          +e.nav-leftbtn
            a.btn-arrow.btn-arrow--prev prev
          +e.nav-rightbtn
            a.btn-arrow.btn-arrow--next next
          +e.list
            .owl-carousel.owl-loaded
              // /
              .owl-stage-outer
                .owl-stage
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_01").nav-btn Мэр Москвы
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_02").nav-btn 
                        | Московская
                        br
                        | городская дума
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_03").nav-btn
                      | Правительство
                      br
                      | Москвы
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_04").nav-btn
                      | Департамент экономической
                      br
                      | политики и развития города Москвы
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_05").nav-btn
                      | финансовый орган
                      br
                      | города Москвы
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_01").nav-btn Пункт 001
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_02").nav-btn
                      | Московская
                      br
                      | дума
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_03").nav-btn Еще пункт
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_01").nav-btn Еще один пункт
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_02").nav-btn Городская Дума
                  .owl-item
                    +e.nav-item
                      +e.A(href="#", data-section-tab-for="section-tab_03").nav-btn Правительство
              .owl-nav
                .owl-prev prev
                .owl-next next
              .owl-dots
          // section-tabs__nav-list
        // section-tabs__nav
        +e.content
          +e.tab(data-section-tab="section-tab_01")
            .wrap
              +b.cols
                +e.side
                  .title-mx.color-bl
                    a(href="#") www.depir.ru
                +e.content
                  h4.title-mx.color-dark
                    | Департамент экономической политики и развития города Москвы — является функциональным
                    | органом исполнительной власти города Москвы, осуществляющим функции по разработке и
                    | реализации экономической, инвестиционной, финансовой, тарифной, ценовой и налоговой
                    | политики, в области анализа и прогнозирования социально-экономического развития города,
                    | формированию городских  и ведомственных программ, планированию городских
                    | государственных заказов  на поставку товаров (работ, услуг) для государственных нужд.
              .line-mx
                h5.title-md.color-dark Участие департамента экономической политики и разватия города москвы в подготовке бюджета
              .line-sm
                h6.title-section-sm в роли отправителя
              +b.cols-part
                +e.side
                  +e.side-col.__head
                    +e.STRONG.head-title 25 мая по 5 июня
                    | текущего финансового года
                +e.content
                  .line-md
                    +b.cols
                      +e.side
                        +b.UL.list-indicate.color-dark
                          +e.LI.item
                            | в Департамент финансов города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Координатам государственных программ&nbsp;города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Главным распорядителям бюджетных&nbsp;средств
                            u.arrowlight.arrowlight--right
                      +e.content
                        +e.content-holder
                          p
                            | Направляет одобренное Бюджетной комиссией Правительства Москвы распределение объема бюджетных ассигнований на реализацию
                            | адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных
                            | направлений деятельности органов государственной власти города Москвы
                  .line-md
                    +b.cols
                      +e.side
                        +b.UL.list-indicate.color-dark
                          +e.LI.item
                            | в Департамент финансов города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Координатам государственных программ&nbsp;города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Главным распорядителям бюджетных&nbsp;средств
                            u.arrowlight.arrowlight--right
                      +e.content
                        +e.content-holder
                          p
                            | Направляет одобренное Бюджетной комиссией Правительства Москвы распределение объема бюджетных ассигнований на реализацию
                            | адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных
                            | направлений деятельности органов государственной власти города Москвы
            +e.tab-button.btn-close-c.js-tab-close
          // section-tabs__tab
          +e.tab(data-section-tab="section-tab_02")
            .wrap
              +b.cols
                +e.side
                  .title-mx.color-bl
                    a(href="#") www.depir.ru
                +e.content
                  h4.title-mx.color-dark
                    | Департамент экономической политики и развития города Москвы — является функциональным
                    | органом исполнительной власти города Москвы, осуществляющим функции по разработке и
                    | реализации экономической, инвестиционной, финансовой, тарифной, ценовой и налоговой
                    | политики, в области анализа и прогнозирования социально-экономического развития города,
                    | формированию городских  и ведомственных программ, планированию городских
                    | государственных заказов  на поставку товаров (работ, услуг) для государственных нужд.
              .line-mx
                h5.title-md.color-dark Участие департамента экономической политики и разватия города москвы в подготовке бюджета
              .line-sm
                h6.title-section-sm в роли отправителя
              +b.cols-part
                +e.side
                  +e.side-col.__head
                    +e.STRONG.head-title 25 мая по 5 июня
                    | текущего финансового года
                +e.content
                  .line-md
                    +b.cols
                      +e.side
                        +b.UL.list-indicate.color-dark
                          +e.LI.item
                            | в Департамент финансов города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Координатам государственных программ&nbsp;города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Главным распорядителям бюджетных&nbsp;средств
                            u.arrowlight.arrowlight--right
                      +e.content
                        +e.content-holder
                          p
                            | Направляет одобренное Бюджетной комиссией Правительства Москвы распределение объема бюджетных ассигнований на реализацию
                            | адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных
                            | направлений деятельности органов государственной власти города Москвы
                  .line-md
                    +b.cols
                      +e.side
                        +b.UL.list-indicate.color-dark
                          +e.LI.item
                            | в Департамент финансов города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Координатам государственных программ&nbsp;города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Главным распорядителям бюджетных&nbsp;средств
                            u.arrowlight.arrowlight--right
                      +e.content
                        +e.content-holder
                          p
                            | Направляет одобренное Бюджетной комиссией Правительства Москвы распределение объема бюджетных ассигнований на реализацию
                            | адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных
                            | направлений деятельности органов государственной власти города Москвы
            +e.tab-button.btn-close-c.js-tab-close
          // section-tabs__tab
          +e.tab(data-section-tab="section-tab_03")
            .wrap
              +b.cols
                +e.side
                  .title-mx.color-bl
                    a(href="#") www.depir.ru
                +e.content
                  h4.title-mx.color-dark
                    | Департамент экономической политики и развития города Москвы — является функциональным
                    | органом исполнительной власти города Москвы, осуществляющим функции по разработке и
                    | реализации экономической, инвестиционной, финансовой, тарифной, ценовой и налоговой
                    | политики, в области анализа и прогнозирования социально-экономического развития города,
                    | формированию городских  и ведомственных программ, планированию городских
                    | государственных заказов  на поставку товаров (работ, услуг) для государственных нужд.
              .line-mx
                h5.title-md.color-dark Участие департамента экономической политики и разватия города москвы в подготовке бюджета
              .line-sm
                h6.title-section-sm в роли отправителя
              +b.cols-part
                +e.side
                  +e.side-col.__head
                    +e.STRONG.head-title 25 мая по 5 июня
                    | текущего финансового года
                +e.content
                  .line-md
                    +b.cols
                      +e.side
                        +b.UL.list-indicate.color-dark
                          +e.LI.item
                            | в Департамент финансов города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Координатам государственных программ&nbsp;города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Главным распорядителям бюджетных&nbsp;средств
                            u.arrowlight.arrowlight--right
                      +e.content
                        +e.content-holder
                          p
                            | Направляет одобренное Бюджетной комиссией Правительства Москвы распределение объема бюджетных ассигнований на реализацию
                            | адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных
                            | направлений деятельности органов государственной власти города Москвы
                  .line-md
                    +b.cols
                      +e.side
                        +b.UL.list-indicate.color-dark
                          +e.LI.item
                            | в Департамент финансов города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Координатам государственных программ&nbsp;города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Главным распорядителям бюджетных&nbsp;средств
                            u.arrowlight.arrowlight--right
                      +e.content
                        +e.content-holder
                          p
                            | Направляет одобренное Бюджетной комиссией Правительства Москвы распределение объема бюджетных ассигнований на реализацию
                            | адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных
                            | направлений деятельности органов государственной власти города Москвы
            +e.tab-button.btn-close-c.js-tab-close
          // section-tabs__tab
          +e.tab(data-section-tab="section-tab_04")
            .wrap
              +b.cols
                +e.side
                  .title-mx.color-bl
                    a(href="#") www.depir.ru
                +e.content
                  h4.title-mx.color-dark
                    | Департамент экономической политики и развития города Москвы — является функциональным
                    | органом исполнительной власти города Москвы, осуществляющим функции по разработке и
                    | реализации экономической, инвестиционной, финансовой, тарифной, ценовой и налоговой
                    | политики, в области анализа и прогнозирования социально-экономического развития города,
                    | формированию городских  и ведомственных программ, планированию городских
                    | государственных заказов  на поставку товаров (работ, услуг) для государственных нужд.
              .line-mx
                h5.title-md.color-dark Участие департамента экономической политики и разватия города москвы в подготовке бюджета
              .line-sm
                h6.title-section-sm в роли отправителя
              +b.cols-part
                +e.side
                  +e.side-col.__head
                    +e.STRONG.head-title 25 мая по 5 июня
                    | текущего финансового года
                +e.content
                  .line-md
                    +b.cols
                      +e.side
                        +b.UL.list-indicate.color-dark
                          +e.LI.item
                            | в Департамент финансов города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Координатам государственных программ&nbsp;города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Главным распорядителям бюджетных&nbsp;средств
                            u.arrowlight.arrowlight--right
                      +e.content
                        +e.content-holder
                          p
                            | Направляет одобренное Бюджетной комиссией Правительства Москвы распределение объема бюджетных ассигнований на реализацию
                            | адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных
                            | направлений деятельности органов государственной власти города Москвы
                  .line-md
                    +b.cols
                      +e.side
                        +b.UL.list-indicate.color-dark
                          +e.LI.item
                            | в Департамент финансов города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Координатам государственных программ&nbsp;города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Главным распорядителям бюджетных&nbsp;средств
                            u.arrowlight.arrowlight--right
                      +e.content
                        +e.content-holder
                          p
                            | Направляет одобренное Бюджетной комиссией Правительства Москвы распределение объема бюджетных ассигнований на реализацию
                            | адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных
                            | направлений деятельности органов государственной власти города Москвы
            +e.tab-button.btn-close-c.js-tab-close
          // section-tabs__tab
          +e.tab(data-section-tab="section-tab_05")
            .wrap
              +b.cols
                +e.side
                  .title-mx.color-bl
                    a(href="#") www.depir.ru
                +e.content
                  h4.title-mx.color-dark
                    | Департамент экономической политики и развития города Москвы — является функциональным
                    | органом исполнительной власти города Москвы, осуществляющим функции по разработке и
                    | реализации экономической, инвестиционной, финансовой, тарифной, ценовой и налоговой
                    | политики, в области анализа и прогнозирования социально-экономического развития города,
                    | формированию городских  и ведомственных программ, планированию городских
                    | государственных заказов  на поставку товаров (работ, услуг) для государственных нужд.
              .line-mx
                h5.title-md.color-dark Участие департамента экономической политики и разватия города москвы в подготовке бюджета
              .line-sm
                h6.title-section-sm в роли отправителя
              +b.cols-part
                +e.side
                  +e.side-col.__head
                    +e.STRONG.head-title 25 мая по 5 июня
                    | текущего финансового года
                +e.content
                  .line-md
                    +b.cols
                      +e.side
                        +b.UL.list-indicate.color-dark
                          +e.LI.item
                            | в Департамент финансов города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Координатам государственных программ&nbsp;города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Главным распорядителям бюджетных&nbsp;средств
                            u.arrowlight.arrowlight--right
                      +e.content
                        +e.content-holder
                          p
                            | Направляет одобренное Бюджетной комиссией Правительства Москвы распределение объема бюджетных ассигнований на реализацию
                            | адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных
                            | направлений деятельности органов государственной власти города Москвы
                  .line-md
                    +b.cols
                      +e.side
                        +b.UL.list-indicate.color-dark
                          +e.LI.item
                            | в Департамент финансов города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Координатам государственных программ&nbsp;города&nbsp;Москвы
                            u.arrowlight.arrowlight--right
                          +e.LI.item
                            | Главным распорядителям бюджетных&nbsp;средств
                            u.arrowlight.arrowlight--right
                      +e.content
                        +e.content-holder
                          p
                            | Направляет одобренное Бюджетной комиссией Правительства Москвы распределение объема бюджетных ассигнований на реализацию
                            | адресной инвестиционной программы города Москвы в разрезе государственных программ города Москвы и непрограммных
                            | направлений деятельности органов государственной власти города Москвы
            +e.tab-button.btn-close-c.js-tab-close
          // section-tabs__tab
        // section-tabs__content
      // section-tabs
