.d-abs-content_budget-prep {
  display: block;

  .d-abs__head_descr {
    padding: 0;
  }

  .buttons-set__item {
    min-width: 184px;

    &:last-child {
      margin-left: -4px;
    }
  }
}

.steps {

  .step {
    width: 19.7%;

    @include respond-to('mobile') {
      width: 100%;

      &__head {
        min-height: inherit;
      }
    }
  }
}

.sections_budget-preparation {

  .cols-part__side {
    @include respond-to('mobile') {
      float: none;
    }
  }

  .cols-part__side-col {
    @include respond-to('mobile') {
      float: none;
      margin-bottom: 10px;
    }
  }

  .cols__side {
    @include respond-to('mobile') {
      float: none;
      margin-left: 0;
    }

    .list-indicate__item {
      @include respond-to('mobile') {
        padding-right: 0;
      }
    }
  }

  .btn-arrow--next::after {
    -ms-transform: rotate(-45deg);
  }

  .btn-arrow--prev::after {
    -ms-transform: rotate(45deg);
  }

  .arrowlight {

    &::after {
      -ms-transform: translateY(-3.5px) rotate(-45deg);
    }

    @include respond-to('mobile') {
      right: 32px;
    }
  }

  .title-mx {
    @include respond-to('mobile') {
      font-size: 16px;
    }
  }

  .back-round {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#604235', endColorstr='#282636')";
  }

  .graphic-table__table {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#252525', endColorstr='#2c2c2c')";
  }
  
  .d-abs__foot-side {
    font-family: $PFDinCondensedPro;
  }
  
  @media screen and (max-width: 1190px) {
    .d-layer {
      padding: 0 75px;
    }
    .d-si__head {
      margin-bottom: 51px;
    }
    .d-abs__head_descr {
      padding-left: 205px;
    }
    .d-abs__foot {
      margin-top: 85px;
    }
    .d-abs__foot-side {
      font-size: 18px;
    }
    .d-abs-content {
      padding-bottom: 62px;
    }
    .steps {
      padding-top: 43px;
      padding-bottom: 38px;
    }
    .step__head {
      min-height: 128px;
    }
    .step__descr p {
      letter-spacing: -0.05em;
      .link-more {
        letter-spacing: 0;
      }
    }
    .labels__item {
      padding-left: 24px;
    }
    .label__button {
      margin-left: 25px;
    }
    .section-tabs__head {
      padding-bottom: 15px;
    }
    .section-tabs__nav-btn {
      padding: 50px 32px 36px;
      min-height: 128px;
    }
    .section-tabs__nav-leftbtn {
      margin-top: 45px;
    }
    .section-tabs__nav-rightbtn {
      margin-top: 45px;
    }
    .section-tabs__tab {
      padding-top: 49px;
      padding-bottom: 30px;
    }
    .title-mx {
      font-size: 18px;
    }
    .cols__side {
      text-align: right;
      width: 160px;
      .title-mx {
        font-size: 22px;
      }
    }
    .line-sm {
      margin-top: 45px;
    }
    .cols-part__content {
      .cols__side {
        text-align: left;
        width: 218px;
      }
    }
    .section-tabs__tab-button {
      top: 18px;
      right: 14px;
    }
    .btn-close-b, .btn-close-c {
      width: 26px;
      height: 26px;
      background-size: 720px auto;
      background-position: -383px 1px;
    }
    .list-indicate__item {
      padding-left: 54px;
    }
    .list-indicate__item--direct-r {
      padding-left: 0;
      padding-right: 30px;
    }
    .list-indicate__item--direct-r .arrowlight--right {
      right: -3px;
    }
    .cols__content-holder {
      padding-right: 12px;
      font-size: 14px;
      letter-spacing: 0.02em;
    }
    .line-xl {
      margin-top: 52px;
      .cols-part__content {
        padding-left: 15px;
      }
    }
    .cols-part__side-col--sub {
      width: 270px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .page-head__category {
      margin-bottom: 5px;
    }
  }
  
  @media screen and (max-width: 1020px) {
    .page-head__title {
      font-size: 70px;
    }
  }
  
  @media screen and (max-width: 950px) {
    .d-abs-content {
      padding-top: 220px;
    }
    .steps .step {
      width: 33%;
      margin-bottom: 15px;
    }
    .step__head {
      min-height: 60px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .d-abs-content {
      padding-top: 104px;
    }
    .d-layer {
      padding: 0 40px!important;
    }
    .page-head__category {
      font-size: 36px;
      letter-spacing: 0.04em;
      margin-bottom: -4px;
    }
    .page-head__title {
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
    .page-header .d-si__head_icons  {
      margin-left: 12px;
      margin-top: 15px;
    }
    .d-abs__head_descr {
      padding-left: 0;
      padding-right: 15px;
      font-size: 28px;
      line-height: 1.3;
      letter-spacing: 0.06em;
    }
    .d-si__head {
      margin-bottom: 15px;
    }
    .d-abs__foot {
      margin-top: 54px;
    }
    .d-abs__foot-side {
      width: 70%;
      font-size: 36px;
      line-height: 1.2;
      float: none;
    }
    .d-abs__foot-content {
      margin-top: 25px;
    }
    .buttons-set__item {
      width: 50%;
      .button-light {
        width: 100%;
        text-align: center;
        font-size: 22px;
        padding: 19px 36px;
      }
    }
    .d-abs-content {
      padding-bottom: 45px;
    }
    .graphic-table__table-th {
      padding: 17px 02px 26px;
    }
    .graphic-table__table-td:first-child, .graphic-table__table-th:first-child {
      width: 42px;
    }
    .graphic-table__table-td, .graphic-table__table-th {
      width: 558px;
    }
    .graphic-table__head {
      font-size: 34px;
      line-height: 1;
      margin-bottom: 12px;
    }
    .graphic-table__months {
      font-size: 19px;
    }
    .graphic-table__month {
      padding: 0 5px;
    }
    .graphic-table:after, .graphic-table:before {
      height: 100px;
    }
    .graphic-table__title-content {
      display: none;
    }
    .graphic-table__title-count {
      width: auto;
      padding-right: 0;
      float: none;
    }
    .graphic-table__title {
      padding: 0;
      line-height: 1;
      font-size: 35px;
      text-align: center;
    }
    .graphic-table__line-output {
      font-size: 24px;
      line-height: 1;
      padding: 36px 12px;
    }
    .graphic-table__line {
      padding: 15px 0;
    }
    .graphic-table__table {
      background: -webkit-repeating-linear-gradient(left,#252525,#252525 44px,#2c2c2c 0,#2c2c2c 46px);
      background: repeating-linear-gradient(90deg,#252525,#252525 44px,#2c2c2c 0,#2c2c2c 46px);
    }
    .graphic-table__line.type-negative_03 {
      padding-right: 24.9%;
    }
    .graphic-table__line.type-positive_01 {
      padding-left: 8.33%;
    }
    .graphic-table__table-td:first-child {
      height: 130px;
    }
    .steps.back-round .wrap {
      margin: 0 40px !important;
    }
    .step__head {
      font-size: 36px;
      line-height: 1.2;
      margin-bottom: 34px;
    }
    .steps {
      padding-top: 54px;
      padding-bottom: 41px;
    }
    .step__num {
      margin-bottom: 9px;
    }
    .steps .step {
      width: 100%;
      padding: 0;
      white-space: normal;
    }
    .steps .step__head {
      padding-right: 80px;
    }
    .step__descr {
      font-size: 28px;
      line-height: 1.3;
    }
    .step__descr p {
      letter-spacing: -.03em;
      padding-right: 15px;
      margin-top: 25px;
      .link-more {
        font-family: $PFDinCondensedPro;
        font-size: 38px;
        line-height: 1;
        letter-spacing: -0.03em;
      }
    }
    .steps__holder {
      overflow: hidden;
      margin: 0;
      white-space: nowrap;
    }
    .labels__item {
      padding-left: 41px;
      padding-top: 38px;
    }
    .label {
      font-size: 28px;
      line-height: 1;
    }
    .label__button {
      margin-left: 14px;
    }
    .section-tabs__tab .wrap {
      margin: 0 40px !important;
    }
    .cols__side {
      width: auto;
      text-align: left;
      .title-mx {
        font-size: 39px;
      }
    }
    .section-tabs__tab-button {
      top: 51px;
      right: 56px;
    }
    .cols__content {
      margin-top: 70px;
    }
    .title-mx {
      font-size: 25px;
      letter-spacing: 0.01em;
      line-height: 1.45;
    }
    .line-mx {
      margin-top: 55px;
    }
    .title-md {
      font-size: 30px;
      line-height: 1.2;
    }
    .line-sm {
      margin-top: 3px;
    }
    .title-section-sm {
      font-size: 26px;
      line-height: 1;
      margin-bottom: 60px;
    }
    .cols-part {
      border-left: 1px solid #e5e5e5;
      padding-left: 20px;
    }
    .cols-part__head {
      font-size: 28px;
      line-height: 1;
      width: 100%;
    }
    .cols-part__head-title {
      font-size: 34px;
      line-height: 1;
      margin-bottom: 11px;
    }
    .cols-part__content {
      padding-left: 0;
      border-left: 0;
      margin-top: 29px;
    }
    .cols-part__content .cols__side {
      width: 100%;
    }
    .cols__side .list-indicate__item {
      margin-left: 0;
      padding-left: 0;
    }
    .cols__side .list-indicate {
      font-size: 30px;
      line-height: 1.2;
    }
    .line-md .cols__content {
      margin-top: 7px;
    }
    .cols__content-holder {
      font-size: 23px;
      line-height: 1.5;
    }
    .list-indicate__item .arrowlight--right {
      display: none;
    }
    .cols-part__side-col--sub {
      width: 100%;
    }
    .line-xl .cols-part__content {
      padding-left: 0;
    }
    .list-indicate {
      font-size: 30px;
      line-height: 1.2;
    }
  }
  
  @media screen and (max-width: 630px) {
    .d-layer {
      padding: 0 20px !important;
    }
    .page-head__category {
      font-size: 18px;
      margin-bottom: 0;
    }
    .d-abs-content {
      padding-top: 128px;
      padding-bottom: 22px;
    }
    .page-head__title {
      font-size: 35px;
    }
    .page-header .d-si__head_icons {
      margin-top: 6px;
    }
    .d-abs__head_descr {
      font-size: 14px;
    }
    .d-si__head {
      margin-bottom: 6px;
    }
    .d-abs__foot-side {
      font-size: 18px;
    }
    .d-abs__foot {
      margin-top: 27px;
    }
    .d-abs__foot-content {
      margin-top: 12px;
    }
    .buttons-set__item .button-light {
      font-size: 12px;
      padding: 7px 7px 2px;
    }
    .graphic-table__table-th {
      padding: 8px 0 3px;
    }
    .graphic-table__head {
      font-size: 18px;
      margin-bottom: 3px;
    }
    .graphic-table__months {
      font-size: 10px;
    }
    .graphic-table__month {
      padding: 0 2px;
    }
    .graphic-table__table-td, .graphic-table__table-th {
      width: 282px;
    }
    .graphic-table:after, .graphic-table:before {
      height: 50px;
    }
    .graphic-table__line {
      padding: 7px 0;
    }
    .graphic-table__line-output {
      font-size: 13px;
      padding: 18px 6px;
    }
    .graphic-table__table {
      background: -webkit-repeating-linear-gradient(left,#252525,#252525 21px,#2c2c2c 0,#2c2c2c 23px);
      background: repeating-linear-gradient(90deg,#252525,#252525 21px,#2c2c2c 0,#2c2c2c 23px);
      background-position: -27px 0;
    }
    .graphic-table__table-td:first-child, .graphic-table__table-th:first-child {
      width: 20px;
    }
    .graphic-table__table-td:first-child {
      height: 63px;
    }
    .graphic-table__title {
      font-size: 22px;
    }
    .steps.back-round .wrap {
      margin: 0 20px !important;
    }
    .steps {
      padding-top: 28px;
      padding-bottom: 15px;
    }
    .step__num {
      margin-bottom: 5px;
    }
    .step__head {
      font-size: 18px;
      margin-bottom: 17px;
    }
    .step__descr {
      font-size: 14px;
    }
    .step__descr p {
      margin-top: 0;
      &:last-child {
        margin-top: 12px;
      }
      .link-more {
        font-size: 19px;
      }
    }
    .label {
      font-size: 14px;
    }
    .labels__item {
      padding-top: 16px;
      padding-left: 20px;
    }
    .label__button {
      margin-left: 3px;
      margin-right: -18px;
    }
    .section-tabs__nav-btn {
      padding: 20px 32px 20px;
      min-height: 90px;
    }
    .section-tabs__nav-leftbtn, .section-tabs__nav-rightbtn {
      margin-top: 18px;
    }
    .btn-arrow {
      width: 31px;
      height: 62px;
    }
    .js-label-button-closed .js-section-tabs-hide {
      top: 5px;
      right: -20px;
    }
    .label__button {
      margin-left: 5px;
    }
    .btn-close {
      width: 10px;
      height: 10px;
      background: url(../images/sprite.png) no-repeat -102px -48px;
    }
    .section-tabs__tab .wrap {
      margin: 0 20px !important;
    }
    .cols__side .title-mx {
      font-size: 18px;
    }
    .section-tabs__tab {
      padding-top: 20px;
    }
    .section-tabs__tab-button {
      top: 19px;
      right: 23px;
    }
    .cols__content {
      margin-top: 48px;
    }
    .title-mx {
      font-size: 13px;
    }
    .title-md {
      font-size: 16px;
    }
    .line-mx {
      margin-top: 26px;
    }
    .title-section-sm {
      font-size: 13px;
      margin-bottom: 29px;
    }
    .cols-part {
      padding-left: 10px;
    }
    .cols-part__head-title {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .cols-part__head {
      font-size: 14px;
    }
    .cols-part__content {
      margin-top: 15px;
    }
    .cols__side .list-indicate {
      font-size: 15px;
    }
    .cols__content-holder {
      font-size: 13px;
      line-height: 1.35;
    }
    .line-md .cols__content {
      margin-top: 3px;
    }
    .list-indicate {
      font-size: 15px;
    }
    .line-xl .line-md {
      margin-top: 0;
    }
    .wrap > .line-sm {
      margin-top: 50px;
    }
  }
}

.section-tabs__head_closed {
  padding-bottom: 20px;
}

.js-label-button-closed {
  color: $color-yellow;
  position: relative;

  .btn-close {
    background-image: none !important;
  }

  .js-section-tabs-hide {
    position: absolute;
    right: -30px;
    top: 9px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fee300;
    transition: 0.3s;
    margin-left: 0;
  }

  .js-section-tabs-hide:hover {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border-top: 6px solid white;
  }
}



.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel {
  -webkit-tap-highlight-color: transparent;
}

.owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.section-tabs__icon-cross {
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: #0d46a1;

  &:hover {
    fill: #fee300;
  }
}
