.d-abs-content_budget-prep {
  display: block;

  .d-abs__head_descr {
    padding: 0;
  }

  .buttons-set__item {
    min-width: 184px;

    &:last-child {
      margin-left: -4px;
    }
  }
}

.steps {

  .step {
    width: 19.7%;

    @include respond-to('mobile') {
      width: 100%;

      &__head {
        min-height: inherit;
      }
    }
  }
}

/* .graphic-table */
.graphic-table{
    position:relative;
    z-index:1;
    padding-left:240px;
    overflow:hidden;
    color:#fff;
    text-align:left;
}
.graphic-table:after,
.graphic-table:before{
    content:'';
    width:46px;
    height:45px;
    position:absolute;
    top:0;
    z-index:2;
}
.graphic-table:after{
    left:0;
    background: linear-gradient(to right, rgba(29,28,31,8) 10%,rgba(70,70,70,0) 90%);
}
.graphic-table:before{
    right:0;
    background: linear-gradient(to right, rgba(70,70,70,0) 10%,rgba(29,28,31,8) 90%);
}
.graphic-table__frame{
    margin-left:-240px;
}
.graphic-table__holder{
    width:100%;
    overflow-x:auto;
    overflow-y:hidden;
}
.graphic-table__table{
    width:100%;
    table-layout:fixed;
    border:none;
    border-collapse:collapse;
    background:repeating-linear-gradient(90deg,
        #252525 0, #252525 25px,
        #2c2c2c 0, #2c2c2c 26px
    );
    background-position:-20px 0;
    /*cursor:move;*/
}
.graphic-table__table-tr{
  &.active {
    .graphic-table__table-td {
      background-color: rgba(#fee300, .2);
    }
    .graphic-table__table-td:first-child {
      background-color: #fee300;
    }
    .graphic-table__title-count, .graphic-table__title-content {
      color: #000;
    }
  }
}
.graphic-table__table-tr:first-child .graphic-table__table-td{
    box-shadow:0 0 0 rgba(255,255,255,0.30);
}
.graphic-table__table-tr:last-child .graphic-table__table-td{
    border-bottom:1px solid transparent;
}
.graphic-table__table-th,
.graphic-table__table-td{
    width:312px;
}
.graphic-table__table-th{
    vertical-align:top;
    background:#46434b;
    text-transform:uppercase;
    padding:5px 0 2px;
    font-family:PFDinCondensedPro;
    font-weight:500;
}
.graphic-table__table-td{
    vertical-align:middle;
    /*border:1px solid rgba(82,79,88,0.20);*/
    border-left:1px solid #515151;
    border-bottom:1px solid #7b4f36;
    border-top:1px solid transparent;
    transition: all .25s ease-in-out;
}
.graphic-table__table-th:first-child,
.graphic-table__table-td:first-child{
    width:240px;
}
.graphic-table__table-td:first-child{
    position:absolute;
    left:0;
    background:#322a40;
    border-bottom:1px solid #463c3a;
    border-left:none;
    height:75px;
    margin-top: 1px;
    /*cursor:default;*/
}
.graphic-table__head{
    font-size:18px;
    line-height:20px;
    margin-bottom:1px;
}
.graphic-table__head.color_01{
    color:#fd9722;
}
.graphic-table__head.color_02{
    color:#77bdff;
}
.graphic-table__head.color_03{
    color:#ff3e84;
}
.graphic-table__head.color_04{
    color:#d8d8d8;
}
.graphic-table__head.color_05{
    color:#666f84;
}
.graphic-table__months{
    font-size:11px;
    line-height:14px;
    text-align:justify;
    margin-bottom:-1em;
    padding:0 2px;
}
.graphic-table__months:after{
    content:'';
    display:inline-block;
    vertical-align:top;
    width:100%;
}
.graphic-table__month{
    display:inline-block;
    vertical-align:top;
    padding:0 2px;
}
.graphic-table__title-wrap{
    height:100%;
    width:100%;
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    cursor: pointer;
}
.graphic-table__title{
    padding:10px 14px 10px 24px;
    font-family:PFDinCondensedPro;
    text-transform:uppercase;
    font-size:14px;
    line-height:16px;
    overflow:hidden;
    width:100%;
}
.graphic-table__title-count{
    float:left;
    font-weight:700;
    color:#fee300;
    width:24px;
    padding-right:4px;
    transition: all .25s ease-in-out;
}
.graphic-table__title-content{
    overflow:hidden;
    font-weight:500;
    letter-spacing:-1px;
    transition: all .25s ease-in-out;
}
.graphic-table__line{
    padding:10px 0;
    /*margin:0 -2px;*/
}
.graphic-table__line.type-positive_01{
    padding-left:8.33%;
}
.graphic-table__line.type-positive_02{
    padding-left:16.66%;
}
.graphic-table__line.type-positive_03{
    padding-left:24.9%;
}
.graphic-table__line.type-positive_04{
    padding-left:33.32%;
}
.graphic-table__line.type-positive_05{
    /*padding-left:41.65%;*/
    padding-left:41.8%;
}
.graphic-table__line.type-positive_06{
    /*padding-left:49.98%;*/
    padding-left:50.6%;
}
.graphic-table__line.type-positive_07{
    /*padding-left:58.31%;*/
    padding-left:59.8%;
}
.graphic-table__line.type-positive_08{
    /*padding-left:66.64%;*/
    padding-left:67.64%;
}
.graphic-table__line.type-positive_09{
    /*padding-left:74.97%;*/
    padding-left:75.5%;
}
.graphic-table__line.type-positive_10{
    /*padding-left:83.3%;*/
    padding-left:83.4%;
}
.graphic-table__line.type-negative_01{
    padding-right:8.33%;
}
.graphic-table__line.type-negative_02{
    padding-right:16.66%;
}
.graphic-table__line.type-negative_03{
    padding-right:24.9%;
}
.graphic-table__line.type-negative_04{
    padding-right:33.32%;
}
.graphic-table__line.type-negative_05{
    /*padding-right:41.65%;*/
    padding-right:41.8%;
}
.graphic-table__line.type-negative_06{
    /*padding-right:49.98%;*/
    padding-right:50.6%;
}
.graphic-table__line.type-negative_07{
    /*padding-right:58.31%;*/
    padding-right:59.8%;
}
.graphic-table__line.type-negative_08{
    /*padding-right:66.64%;*/
    padding-right:67.64%;
}
.graphic-table__line.type-negative_09{
    /*padding-right:74.97%;*/
    padding-right:75.5%;
}
.graphic-table__line.type-negative_10{
    /*padding-right:83.3%;*/
    padding-right:83.4%;
}
.graphic-table__line-output{
    font-family:PFDinCondensedPro;
    font-weight:500;
    font-size:14px;
    line-height:16px;
    padding:19px 8px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.graphic-table__line-output.type_01{
    background:#71a8dc;
}
.graphic-table__line-output.type_02{
    background:#bb255b;
}
.graphic-table__line-output.type_03{
    background:#d8d8d8;
    color:#828282;
}
.graphic-table__line-output.type_04{
    background:#fd9722;
}
.graphic-table__line-output.type_05{
    background:#666f84;
    color:rgba(255,255,255,0.4);
}

.steps {
  position: relative;
  transition: all .25s ease-in-out;
  border-bottom: 1px solid #564d2a;
  padding: 65px 0 50px;
  
  &__mob-slider {
    display: none;
    width: 100%;
    position: relative;
    background-color: #322a40;
    min-height: 120px;
  }
  &__mob-wrapper {
    width: 100%;
    white-space: nowrap;
  }
  &__mob-slider-arrow {
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: #fee300;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 2;
      width: 24px;
      height: 24px;
      border-bottom: 4px solid #000;
    }
    &_prev {
      left: 0;
      &:after {
        left: 8px;
        border-left: 4px solid #000;
        transform: rotate(45deg);
      }
    }
    &_next {
      right: 0;
      &:after {
        right: 8px;
        border-right: 4px solid #000;
        transform: rotate(-45deg);
      }
    }
  }
  &__mob-slider-item {
    white-space: normal;
    display: inline-block;
    width: 100%;
    padding: 22px 75px;
    vertical-align: middle;
  }
  &__title-count {
    float: left;
    font-weight: 700;
    color: #fee300;
    width: 35px;
    padding-right: 4px;
    font-size: 35px;
    text-align: center;
  }
  &__title-content {
    font-size: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 35px;
    line-height: 40px;
  }
  
  @media screen and (max-width: 800px) {
    &__mob-slider {
      display: block;
    }
  }
}

.step {
  padding: 0;
}

.step__num, .step__title {
  transition: all .25s ease-in-out;
}

.step__head {
  margin-bottom: 0;
  padding: 15px 15px 20px;
  min-height: 145px;
  transition: all .25s ease-in-out;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 28px;
    right: 28px;
    height: 5px;
    background: #fee300;
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-in-out;
  }
  &.active {
    background-color: #fff;
    .step__num, .step__title {
      color: #000;
    }
    &:after {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.step__descr {
  padding: 0 15px 15px;
}

/* step-details */
.steps-details {
  background-color: #fff;
  transition: all .25s ease-in-out;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  &__wrapper {
    max-width: 1180px;
    margin: auto;
    position: relative;
  }
  &__close-button {
    position: absolute;
    right: -8px;
    top: 46px;
  }
  &__content {
    padding-top: 43px;
    padding-bottom: 73px;
    font-size: 0;
    width: 100%;
  }
  &__main-text {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    line-height: 34px;
    padding-right: 70px;
  }
  &__participants {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding-top: 4px;
  }
  &__participants-heading {
    font-size: 16px;
    line-height: 20px;
    font-family: $PFDinTextPro;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
  }
  &__participants-list {
    list-style: none;
    li {
      margin-top: 10px;
    }
    a {
      font-size: 16px;
      line-height: 20px;
      color: #0d46a1;
      font-family: $PFDinTextPro;
      text-decoration: none;
      transition: all .25s ease-in-out;
      &:hover {
        opacity: .7;
      }
    }
  }
  &__date-list-wrapper {
    position: relative;
  }
  &__date-list-arrow {
    position: absolute;
    width: 60px;
    height: 100%;
    background-color: #000;
    z-index: 2;
    display: none;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      z-index: 2;
      width: 24px;
      height: 24px;
      border-bottom: 4px solid #fff;
    }
    &_prev {
      left: 0;
      &:after {
        left: 8px;
        border-left: 4px solid #fff;
        transform: rotate(45deg);
      }
    }
    &_next {
      right: 0;
      &:after {
        right: 8px;
        border-right: 4px solid #fff;
        transform: rotate(-45deg);
      }
    }
    &.disabled {
      background-color: #b2b2b2;
      pointer-events: none;
      &:after {
        border-color: #cfcfcf;
        width: 16px;
        height: 16px;
      }
    }
  }
  &__date-list {
    margin-top: 88px;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 39px;
      padding: 9px 0;
      border-radius: 2px;
      position: relative;
      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        margin: auto;
        margin-left: 7px;
        width: 24px;
        height: 1px;
        background-color: #e5e5e5;
      }
      &:last-child {
        margin-right: 0;
        &:after {
          display: none;
        }
      }
      &.active {
        background-color: #fee300;
        padding: 9px 18px;
        a {
          color: #000;
          border-bottom: 0;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    a {
      font-size: 16px;
      line-height: 20px;
      font-family: $PFDinTextPro;
      color: #0d46a1;
      font-weight: 500;
      text-decoration: none;
      border-bottom: 1px dashed rgba(#0d46a1, 0.5);
      transition: all .25s ease-in-out;
      &:hover {
        opacity: .7;
      }
    }
  }
  &__activity {
    margin-top: 61px;
  }
  .cols__content-holder {
    p {
      color: #000;
      opacity: .6;
      font-size: 16px;
      line-height: 20px;
      font-family: $PFDinTextPro;
    }
    p + p {
      margin-top: 10px;
    }
    .department {
      opacity: 1;
      font-weight: 500;
    }
  }
  .cols__side {
    width: 245px;
    padding-right: 40px;
    .list-indicate__item .arrowlight--right {
      left: 0;
      &.mob {
        display: none;
      }
    }
  }
  .cols-part + .cols-part {
    margin-top: 73px;
  }
  .line-md {
    position: relative;
  }
  .line-dots {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: auto;
    text-align: center;
    margin-top: 38px;
  }
  .line-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #818181;
    border-radius: 1000px;
    margin: 0 7px;
  }
  &__mob-heading {
    font-size: 36px;
    line-height: 44px;
    font-weight: 500;
    padding: 0 40px;
    color: #000;
    text-transform: uppercase;
    display: none;
  }
  
  @media screen and (min-width: 801px) and (max-width: 1260px) {
    &__wrapper {
      margin: 0 40px;
    }
  }
  
  @media screen and (max-width: 1190px) {
    &__participants {
      width: 48%;
      padding-top: 6px;
    }
    &__date-list {
      margin-top: 60px;
    }
    .cols__side {
      padding-right: 0;
    }
    .cols__content-holder .department {
      letter-spacing: 0;
    }
  }
  
  @media screen and (min-width: 801px) and (max-width: 1190px) {
    &__content {
      padding-top: 34px;
      padding-bottom: 84px;
    }
    &__main-text {
      width: 52%;
      padding-right: 30px;
    }
    &__activity {
      margin-top: 36px;
    }
    &__close-button {
      right: -25px;
      top: 27px;
    }
  }
  
  @media screen and (max-width: 950px) {
    &__date-list {
      li {
        margin-right: 20px;
        &:after {
          width: 10px;
        }
        &.active {
          padding: 9px;
        }
      }
    }
  }
  
  @media screen and (max-width: 800px) {
    /*top: 0;
    position: fixed;
    z-index: 2001;
    overflow-y: scroll;
    height: 100%;
  }*/
    
    &__wrapper {
      margin: 0;
    }
    &__content {
      padding-top: 123px;
      display: table;
      table-layout: fixed;
    }
    &__main-text {
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      font-size: 26px !important;
      line-height: 36px !important;
      opacity: .8;
      margin-top: 32px;
    }
    &__participants {
      display: table-footer-group;
    }
    &__participants-heading {
      font-size: 36px;
      line-height: 48px;
      margin-top: 61px;
      padding: 0 40px;
    }
    &__participants-list {
      padding: 0 40px;
      li {
        margin-top: 31px;
      }
      a {
        font-size: 30px;
        line-height: 38px;
      }
    }
    &__date-list-arrow {
      display: block;
    }
    &__date-list {
      white-space: nowrap;
      li {
        width: 100%;
        text-align: center;
        padding: 28px 80px !important;
      }
      a {
        font-size: 36px;
        line-height: 1em;
      }
    }
    &__activity {
      margin-top: 47px;
      padding: 0 40px 60px;
      border-bottom: 1px solid #a7a7a7;
    }
    .cols__content-holder {
      p {
        font-size: 27px;
        line-height: 34px;
      }
      p + p {
        margin-top: 21px;
      }
      .department {
        font-size: 30px;
        line-height: 36px;
      }
    }
    .cols__side {
      .list-indicate {
        margin-top: 82px;
      }
      .list-indicate__item .arrowlight--right {
        display: block;
        left: 0;
        right: 22px;
        margin: auto;
        margin-bottom: 48px;
        bottom: 100%;
        transform: rotate(90deg);
        transform-origin: center;
        width: 54px;
        height: 2px;
        &:after {
          width: 10px;
          height: 10px;
          top: -2px;
          border-width: 2px;
        }
        &.mob {
          display: block;
        }
        &.left {
          left: -186px;
        }
        &.right {
          right: -164px;
        }
      }
    }
    .line-md {
      margin-top: 104px;
      &:first-child {
        margin-top: 0;
      }
    }
    .cols-part+.cols-part {
      margin-top: 107px;
    }
    &__mob-heading {
      display: block;
    }
    &__close-button {
      right: 30px;
      top: 36px;
    }
  }
}

.section-tabs {
  background: #282636;
  box-shadow: none;
  &.active {
    background: #1d1b27;
  }
  .label {
    cursor: pointer;
  }
}

.section-tabs_documents {
  .section-tabs__nav {
    padding-bottom: 59px;
  }
  .owl-carousel {
    max-width: 1110px;
    margin: auto;
  }
  .tile__item {
    width: auto;
    margin-right: 18px;
  }
  .tile__inner {
    margin: 0 4px;
  }
  .section-tabs__nav-leftbtn, .section-tabs__nav-rightbtn {
    margin-top: 32px;
  }
  
  @media (max-width: 900px) {
    .tile__item {
      width: 300px !important;
    }
  }
}

.document {
  &.document_alt {
    padding: 16px;
    min-height: 124px;
    .document__title {
      font-size: 16px;
      line-height: 22px;
      border-bottom: 0;
    }
    .document__tit-wrap {
      min-height: 0;
      padding-bottom: 0;
    }
  }
  &_small {
    width: 216px;
  }
  &_med {
    width: 328px;
  }
  &_big {
    width: 388px;
  }
  
  @media (max-width: 900px) {
    &.document_alt {
      min-height: 165px;
      .document__title br {
        display: none;
      }
    }
    &_small, &_med, &_big {
      width: 100%;
    }
  }
}


.js-label-button-closed:hover .js-section-tabs-hide {
  transform: rotate(-90deg);
  border-top: 6px solid #fff;
}

.sections_budget-preparation {
  
  .d-abs__head_descr {
    padding-left: 202px;
    max-width: 900px;
  }
  
  .d-abs__foot {
    margin-top: 85px;
  }
  
  .d-abs-content {
    padding-bottom: 58px;
  }
  
  .cols-part__side {
    @include respond-to('mobile') {
      float: none;
    }
  }

  .cols-part__side-col {
    @include respond-to('mobile') {
      float: none;
      margin-bottom: 10px;
    }
  }

  .cols__side {
    @include respond-to('mobile') {
      float: none;
      margin-left: 0;
    }

    .list-indicate__item {
      @include respond-to('mobile') {
        padding-right: 0;
      }
    }
  }

  .btn-arrow--next::after {
    -ms-transform: rotate(-45deg);
  }

  .btn-arrow--prev::after {
    -ms-transform: rotate(45deg);
  }

  .arrowlight {

    &::after {
      -ms-transform: translateY(-3.5px) rotate(-45deg);
    }

    @include respond-to('mobile') {
      right: 32px;
    }
  }

  .title-mx {
    @include respond-to('mobile') {
      font-size: 16px;
    }
  }

  .back-round {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#604235', endColorstr='#282636')";
  }

  .graphic-table__table {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#252525', endColorstr='#2c2c2c')";
  }
  
  .d-abs__foot-side {
    font-family: $PFDinCondensedPro;
  }
  
  @media screen and (max-width: 1260px) {
    .step__head {
      min-height: 164px;
    }
  }
  
  @media screen and (max-width: 1190px) {
    .d-layer {
      padding: 0 75px;
    }
    .step__descr p {
      letter-spacing: -0.05em;
      .link-more {
        letter-spacing: 0;
      }
    }
    .label__button {
      margin-left: 25px;
    }
    .section-tabs__nav-btn {
      min-height: 136px;
    }
    .section-tabs__tab {
      padding-top: 49px;
      padding-bottom: 30px;
    }
    .title-mx {
      font-size: 18px;
    }
    .cols__side {
      text-align: right;
      width: 160px;
      .title-mx {
        font-size: 22px;
      }
    }
    .line-sm {
      margin-top: 45px;
    }
    .cols-part__content {
      .cols__side {
        text-align: left;
        width: 218px;
      }
    }
    .steps-details .cols-part__content .cols__side {
      width: 108px;
    }
    .section-tabs__tab-button {
      top: 18px;
      right: 14px;
    }
    .list-indicate__item {
      padding-left: 54px;
    }
    .list-indicate__item--direct-r {
      padding-left: 0;
      padding-right: 30px;
    }
    .list-indicate__item--direct-r .arrowlight--right {
      right: -3px;
    }
    .cols__content-holder {
      padding-right: 12px;
      font-size: 14px;
      letter-spacing: 0.02em;
    }
    .line-xl {
      margin-top: 52px;
      .cols-part__content {
        padding-left: 15px;
      }
    }
    .cols-part__side-col--sub {
      width: 270px;
    }
  }
  
  @media screen and (min-width: 801px) and (max-width: 1190px) {
    .d-si__head {
      margin-bottom: 51px;
    }
    .d-abs__head_descr {
      padding-left: 205px;
    }
    .d-abs__foot {
      margin-top: 85px;
    }
    .d-abs__foot-side {
      font-size: 18px;
    }
    .d-abs-content {
      padding-bottom: 62px;
    }
    .steps {
      padding-top: 43px;
      padding-bottom: 38px;
    }
    .labels__item {
      padding-left: 24px;
    }
    .btn-close-b, .btn-close-c {
      width: 26px;
      height: 26px;
      background-size: 720px auto;
      background-position: -383px 1px;
    }
    .section-tabs__nav-leftbtn {
      margin-top: 8px;
    }
    .section-tabs__nav-rightbtn {
      margin-top: 8px;
    }
    .section-tabs__nav-btn {
      padding: 15px 32px 36px;
    }
  }
  
  @media screen and (min-width: 801px) and (max-width: 1024px) {
    .page-head__category {
      margin-bottom: 5px;
    }
  }
  
  @media screen and (max-width: 1020px) {
    .page-head__title {
      font-size: 70px;
    }
  }
  
  @media screen and (min-width: 901px) and (max-width: 1190px) {
    .section-tabs_documents .section-tabs__nav-leftbtn, .section-tabs_documents .section-tabs__nav-rightbtn {
      margin-top: 32px;
    }
  }
  
  @media screen and (max-width: 950px) {
    .step__head {
      min-height: 120px;
    }
  }
  
  @media screen and (min-width: 801px) and (max-width: 950px) {
    .d-abs-content {
      padding-top: 220px;
    }
    .steps .step {
      width: 33%;
      margin-bottom: 15px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .section-tabs_documents .section-tabs__nav-leftbtn, .section-tabs_documents .section-tabs__nav-rightbtn {
      margin-top: 55px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .d-abs-content {
      padding-top: 104px;
    }
    .d-layer {
      padding: 0 40px!important;
    }
    .page-head__category {
      font-size: 36px;
      letter-spacing: 0.04em;
      margin-bottom: -4px;
    }
    .page-head__title {
      line-height: 1.2;
      letter-spacing: 0.02em;
    }
    .page-header .d-si__head_icons  {
      margin-left: 12px;
      margin-top: 15px;
    }
    .d-abs__head_descr {
      padding-left: 0;
      padding-right: 15px;
      font-size: 28px;
      line-height: 1.3;
      letter-spacing: 0.06em;
    }
    .d-si__head {
      margin-bottom: 15px;
    }
    .d-abs__foot {
      margin-top: 54px;
    }
    .d-abs__foot-side {
      width: 70%;
      font-size: 36px;
      line-height: 1.2;
      float: none;
    }
    .d-abs__foot-content {
      margin-top: 25px;
    }
    .buttons-set__item {
      .button-light {
        width: 100%;
        text-align: center;
        font-size: 22px;
        padding: 19px 42px;
      }
    }
    .d-abs-content {
      padding-bottom: 45px;
    }
    .graphic-table__table-th {
      padding: 17px 02px 26px;
    }
    .graphic-table__table-td:first-child, .graphic-table__table-th:first-child {
      width: 42px;
    }
    .graphic-table__table-td, .graphic-table__table-th {
      width: 558px;
    }
    .graphic-table__head {
      font-size: 34px;
      line-height: 1;
      margin-bottom: 12px;
    }
    .graphic-table__months {
      font-size: 19px;
    }
    .graphic-table__month {
      padding: 0 5px;
    }
    .graphic-table:after, .graphic-table:before {
      height: 100px;
    }
    .graphic-table__title-content {
      display: none;
    }
    .graphic-table__title-count {
      width: auto;
      padding-right: 0;
      float: none;
    }
    .graphic-table__title {
      padding: 0;
      line-height: 1;
      font-size: 35px;
      text-align: center;
    }
    .graphic-table__line-output {
      font-size: 24px;
      line-height: 1;
      padding: 36px 12px;
    }
    .graphic-table__line {
      padding: 15px 0;
    }
    .graphic-table__table {
      background: -webkit-repeating-linear-gradient(left,#252525,#252525 44px,#2c2c2c 0,#2c2c2c 46px);
      background: repeating-linear-gradient(90deg,#252525,#252525 44px,#2c2c2c 0,#2c2c2c 46px);
    }
    .graphic-table__line.type-negative_03 {
      padding-right: 24.9%;
    }
    .graphic-table__line.type-positive_01 {
      padding-left: 8.33%;
    }
    .graphic-table__table-td:first-child {
      height: 130px;
    }
    .steps.back-round .wrap {
      margin: 0 40px !important;
    }
    .step__head {
      font-size: 36px;
      line-height: 1.2;
      padding-left: 0;
    }
    .steps {
      padding-top: 0;
      padding-bottom: 56px;
    }
    .step__num {
      margin-bottom: 9px;
    }
    .steps .step {
      width: 100%;
      padding: 0;
      white-space: normal;
    }
    .steps .step__head {
      padding-right: 80px;
    }
    .step__descr {
      font-size: 28px;
      line-height: 1.3;
      padding: 0;
    }
    .step__descr p {
      letter-spacing: -.03em;
      padding-right: 15px;
      margin-top: 14px;
      .link-more {
        font-family: $PFDinCondensedPro;
        font-size: 38px;
        line-height: 1;
        letter-spacing: -0.03em;
        display: inline-block;
        margin-top: 10px;
      }
    }
    .steps__holder {
      overflow: hidden;
      margin: 0;
      white-space: nowrap;
      margin-top: 41px;
      position: relative;
    }
    .labels__item {
      padding-left: 41px;
      padding-top: 38px;
    }
    .label {
      font-size: 28px;
      line-height: 1;
    }
    .label__button {
      margin-left: 14px;
    }
    .section-tabs__tab .wrap {
      margin: 0 40px !important;
    }
    .cols__side {
      width: auto;
      text-align: left;
      .title-mx {
        font-size: 39px;
      }
    }
    .section-tabs__tab-button {
      top: 51px;
      right: 56px;
    }
    .cols__content {
      margin-top: 70px;
    }
    .title-mx {
      font-size: 25px;
      letter-spacing: 0.01em;
      line-height: 1.45;
    }
    .line-mx {
      margin-top: 55px;
    }
    .title-md {
      font-size: 30px;
      line-height: 1.2;
    }
    .line-sm {
      margin-top: 3px;
    }
    .title-section-sm {
      font-size: 26px;
      line-height: 1;
      margin-bottom: 60px;
    }
    .cols-part {
      border-left: 1px solid #e5e5e5;
      padding-left: 20px;
    }
    .cols-part__head {
      font-size: 28px;
      line-height: 1;
      width: 100%;
    }
    .cols-part__head-title {
      font-size: 34px;
      line-height: 1;
      margin-bottom: 11px;
    }
    .cols-part__content {
      padding-left: 0;
      border-left: 0;
      margin-top: 29px;
    }
    .cols-part__content .cols__side {
      width: 100%;
    }
    .cols__side .list-indicate__item {
      margin-left: 0;
      padding-left: 0;
    }
    .cols__side .list-indicate {
      font-size: 30px;
      line-height: 1.2;
    }
    .steps-details .cols__side .list-indicate {
      font-size: 24px;
      line-height: 30px;
    }
    .line-md .cols__content {
      margin-top: 7px;
    }
    .cols__content-holder {
      font-size: 23px;
      line-height: 1.5;
    }
    .list-indicate__item .arrowlight--right {
      display: none;
    }
    .cols-part__side-col--sub {
      width: 100%;
    }
    .line-xl .cols-part__content {
      padding-left: 0;
    }
    .list-indicate {
      font-size: 30px;
      line-height: 1.2;
    }
    .steps-details .cols-part__content {
      margin-top: 23px;
    }
    .steps-details .cols-part__content .cols {
      display: table;
    }
    .steps-details .cols-part__content .cols__side {
      display: table-footer-group;
      width: 100%;
    }
    .btn-close-b, .btn-close-c {
      width: 76px;
      height: 76px;
      background: none;
      &:before, &:after {
        content: '';
        display: inline-block;
        width: 76px;
        height: 6px;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
    .section-tabs__nav-leftbtn, .section-tabs__nav-rightbtn {
      margin-top: 22px;
    }
    .btn-arrow {
      width: 62px;
      height: 118px;
      &:after {
        width: 24px;
        height: 24px;
        border-width: 4px;
      }
    }
    .section-tabs__nav-btn {
      font-size: 36px;
      padding: 22px 31px 25px;
      max-width: 530px;
      line-height: 43px;
    }
    .section-tabs__nav-list:after, .section-tabs__nav-list:before {
      display: none;
    }
  }
  
  @media screen and (max-width: 630px) {
    .d-layer {
      padding: 0 20px !important;
    }
    .page-head__category {
      font-size: 18px;
      margin-bottom: 0;
    }
    .d-abs-content {
      padding-top: 128px;
      padding-bottom: 22px;
    }
    .page-head__title {
      font-size: 35px;
    }
    .page-header .d-si__head_icons {
      margin-top: 6px;
    }
    .d-abs__head_descr {
      font-size: 14px;
    }
    .d-si__head {
      margin-bottom: 6px;
    }
    .d-abs__foot-side {
      font-size: 18px;
    }
    .d-abs__foot {
      margin-top: 27px;
    }
    .d-abs__foot-content {
      margin-top: 12px;
    }
    .buttons-set__item .button-light {
      font-size: 12px;
      padding: 7px 7px 2px;
    }
    .graphic-table__table-th {
      padding: 8px 0 3px;
    }
    .graphic-table__head {
      font-size: 18px;
      margin-bottom: 3px;
    }
    .graphic-table__months {
      font-size: 10px;
    }
    .graphic-table__month {
      padding: 0 2px;
    }
    .graphic-table__table-td, .graphic-table__table-th {
      width: 282px;
    }
    .graphic-table:after, .graphic-table:before {
      height: 50px;
    }
    .graphic-table__line {
      padding: 7px 0;
    }
    .graphic-table__line-output {
      font-size: 13px;
      padding: 18px 6px;
    }
    .graphic-table__table {
      background: -webkit-repeating-linear-gradient(left,#252525,#252525 21px,#2c2c2c 0,#2c2c2c 23px);
      background: repeating-linear-gradient(90deg,#252525,#252525 21px,#2c2c2c 0,#2c2c2c 23px);
      background-position: -27px 0;
    }
    .graphic-table__table-td:first-child, .graphic-table__table-th:first-child {
      width: 20px;
    }
    .graphic-table__table-td:first-child {
      height: 63px;
    }
    .graphic-table__title {
      font-size: 22px;
    }
    .steps.back-round .wrap {
      margin: 0 20px !important;
    }
    .steps {
      padding-top: 28px;
      padding-bottom: 15px;
    }
    .step__num {
      margin-bottom: 5px;
    }
    .step__head {
      font-size: 18px;
      margin-bottom: 17px;
    }
    .step__descr {
      font-size: 14px;
    }
    .step__descr p {
      margin-top: 0;
      &:last-child {
        margin-top: 12px;
      }
      .link-more {
        font-size: 19px;
      }
    }
    .label {
      font-size: 14px;
    }
    .labels__item {
      padding-top: 16px;
      padding-left: 20px;
    }
    .label__button {
      margin-left: 3px;
      margin-right: -18px;
    }
    .section-tabs__nav-btn {
      padding: 20px 32px 20px;
      min-height: 90px;
    }
    .section-tabs__nav-leftbtn, .section-tabs__nav-rightbtn {
      margin-top: 18px;
    }
    .btn-arrow {
      width: 31px;
      height: 62px;
    }
    .js-label-button-closed .js-section-tabs-hide {
      top: 5px;
      right: -20px;
    }
    .label__button {
      margin-left: 5px;
    }
    .btn-close {
      width: 10px;
      height: 10px;
      background: url(../images/sprite.png) no-repeat -102px -48px;
    }
    .section-tabs__tab .wrap {
      margin: 0 20px !important;
    }
    .cols__side .title-mx {
      font-size: 18px;
    }
    .section-tabs__tab {
      padding-top: 20px;
    }
    .section-tabs__tab-button {
      top: 19px;
      right: 23px;
    }
    .cols__content {
      margin-top: 48px;
    }
    .title-mx {
      font-size: 13px;
    }
    .title-md {
      font-size: 16px;
    }
    .line-mx {
      margin-top: 26px;
    }
    .title-section-sm {
      font-size: 13px;
      margin-bottom: 29px;
    }
    .cols-part {
      padding-left: 10px;
    }
    .cols-part__head-title {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .cols-part__head {
      font-size: 14px;
    }
    .cols-part__content {
      margin-top: 15px;
    }
    .cols__side .list-indicate {
      font-size: 15px;
    }
    .cols__content-holder {
      font-size: 13px;
      line-height: 1.35;
    }
    .line-md .cols__content {
      margin-top: 3px;
    }
    .list-indicate {
      font-size: 15px;
    }
    .line-xl .line-md {
      margin-top: 0;
    }
    .wrap > .line-sm {
      margin-top: 50px;
    }
  }
}

.section-tabs__head_closed {
  padding-bottom: 20px;
}

.js-label-button-closed {
  color: $color-yellow;
  position: relative;

  .btn-close {
    background-image: none !important;
  }

  .js-section-tabs-hide {
    position: absolute;
    right: -30px;
    top: 9px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fee300;
    transition: 0.3s;
    margin-left: 0;
  }

  .js-section-tabs-hide:hover {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    border-top: 6px solid white;
  }
}



.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel {
  -webkit-tap-highlight-color: transparent;
}

.owl-stage-outer {
  position: relative;
  overflow: hidden;
}

.section-tabs__icon-cross {
  width: 16px;
  height: 16px;
  cursor: pointer;
  fill: #0d46a1;

  &:hover {
    fill: #fee300;
  }
}
