.tooltip-icon {
  position: relative;
  overflow: hidden;
  width: 16px;
  height: 16px;
  font-family: $PFDinDisplayPro;
  font-size: 10px;
  line-height: 18px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  border-radius: 50%;
  color: white;
  background-color: #0d46a1;
  cursor: pointer;
}
