include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block

mixin budget_income()
  section.main._basic.basic-budget.sections__item.budget-income
    .wrapper-header
      +page-header('Доходы бюджета', ['Бюджет Москвы'], true)

      // Tab 1
    .wrapper
      .analityc-widget.analityc-widget_income.load-anim-fade(data-delay="1500")
        +analityc-widgethead-income()
        +analityc-graphics-round('income1')._approved.active(data-stage='approved')
        +analityc-table-slider(100)._approved(data-stage='approved')
          +table-income(getData('income'))

        +analityc-graphics-column('income1')._changes(data-stage='changes')

        +analityc-table-slider(100)._changes(data-stage='changes')
          +table-income(getData('income1'))

        +analityc-graphics-singleround('income2')._done(data-stage='done')
        +analityc-table()._done(data-stage='done')
          +table-income(getData('income2'))
        +analityc-graphics-line('Исполнение доходов бюджета на', getData('graphic-lines-income1'))._date-one(data-stage='date')

        +analityc-table-slider(100, 'Исполнение доходов бюджета на')._date(data-stage='date')
          +table-income(getData('sources'))

        +analityc-graphics-line('Исполнение доходов бюджета на', getData('graphic-lines-income2'))._date-two(data-stage='dtwo')
        a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
    +dropdown().load-anim-fade(data-delay="1700")
