.budget-income {
  .page-header {
    @media (max-width: 1140px) {
      padding-left: 75px;
      padding-right: 74px;
    }

    @media (max-width: 900px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 580px) {
      padding-left: 15px;
      padding-right: 15px;
    }

  }
  
  .segment-diagram {
    width: 270px;
    height: 270px;
    
    @media screen and (min-width: 769px) and (max-width: 1020px) {
      width: 220px;
      height: 220px;
    }
    @media screen and (min-width: 551px) and (max-width: 768px) {
      width: 270px;
      height: 270px;
    }
    @media screen and (max-width: 550px) {
      width: 216px;
      height: 216px;
    }
  }
}

.analityc-widget_income {
  padding-top: 22px;
  padding-bottom: 35px;

  .analityc-control-group._dp {
    display: inline-block;
    margin-top: 30px;
    margin-left: 2.9%;
    width: 33.6%;

    &-alt.active {
      display: inline-block;
    }

    @media (max-width: 900px) {
      margin-left: 0;
      width: 100%;
    }
    
    @media (max-width: 768px) {
      margin-top: 13px;
    }
  }
  
  .swiper-container {
    overflow: visible;
  }

  .column-value {
    z-index: 5;
  }

  .analityc-graphics_changes {
    .analityc-graphics__toptext {
      display: none;
    }
  }

  .analityc-graphics, .analityc-table {
    display: none;
    &.active {
      display: block;
    }
  }

  .analityc-control-group._dp-alt {
    margin-top: 25px;
    margin-left: 2.9%;

    @media (max-width: 1140px) {
      margin-left: 1.9%;
    }

    @media (max-width: 900px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      margin-top: 13px;
    }

    .analityc-select {
      padding: 0 28px 0 12px;
    }
  }

  .analityc-control-switcher_default,
  .analityc-control-switcher_large,
  .analityc-control-buttons,
  .analityc-control-switcher_big,
  .analityc-control-group._dp {
    display: none;
    &.active {
      display: inline-block;
    }
  }

  .analityc-control-switcher_big,
  .analityc-control-switcher_large {
    margin-left: 3%;

     @media (max-width: 1024px) {
        margin-left: 2.1%!important;
     }

     @media (max-width: 900px) {
        margin-left: 0!important;
     }

  }

  .analityc-control-switcher_default,
  .analityc-control-switcher_large, {

    @media (max-width: 900px) {
      margin-left: 0!important;
    }

  }

  .analityc-graphics_done {
    .analityc-graphics__col {
      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 1140px) {
  .analityc-widget_income .analityc-graphics_column .analityc-graphics__cols {
    padding-left: 0;
    padding-right: 0;
  }
  .basic-budget .analityc-widget_income {
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1140px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: 37.4%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: calc(45.2% - 70px);
  }
}

@media (width: 1024px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: 335.6px;
    width: calc(45.2% - 93px);
    margin-top: 0;
  }

  .analityc-control-buttons, .analityc-control-switcher {
    margin-top: 0;
  }
}

@media screen and (max-width: 760px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: 100%;
  }
}

@media screen and (min-width: 551px) and (max-width: 760px) {
  .analityc-widget_income .analityc-graphics_round {
    padding-top: 35px;
  }
  .analityc-widget_income .analityc-graphics_column {
    padding-top: 42px;
  }
  .analityc-widget_income .analityc-control-group._dp:before {
    top: 21px;
  }
  .analityc-widget_income .analityc-graphics__legend {
    margin-top: 56px;
    height: inherit;
  }
  .analityc-widget_income .analityc-more {
    margin-top: 25px;
  }
}

@media screen and (max-width: 550px) {
  .analityc-widget_income .analityc-control-group._dp:before {
    top: 5px;
  }
  .analityc-control-buttons + .analityc-control-switcher_large {
    width: 100%;
  }
  .analityc-widget_income .analityc-more {
    margin-top: 10px;
  }
  .analityc-widget_income .analityc-graphics_column {
    padding-top: 17px;
  }
  .analityc-widget_income .analityc-graphics_singleround {
    padding-top: 17px;
  }
  
  .analityc-widget_income .analityc-graphics_round {
    padding-top: 17px;
  }
  .analityc-widget_income .analityc-graphics__legend {
    margin-top: 23px;
  }
  .analityc-widget_income .analityc-control-group._dp input.datepicker {
    height: 40px;
    line-height: 24px;
    padding: 0 13px;
  }
  .analityc-widget_income .analityc-graphics__graphic_column {
    margin: 0 auto;
  }

  .analityc-widget_income .analityc-widgethead .analityc-control-buttons {
    margin-top: 17px;
  }
}
