.budget-income {
  .page-header {
    @media (max-width: 1140px) {
      padding-left: 75px;
      padding-right: 74px;
    }

    @media (max-width: 900px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: 580px) {
      padding-left: 15px;
      padding-right: 15px;
    }

  }
}

.analityc-widget_income {
  padding-top: 22px;
  padding-bottom: 35px;

  .analityc-control-group._dp {
    display: inline-block;
    margin-top: 30px;
    margin-left: 2.9%;
    width: 33.6%;

    input.datepicker {
      padding: 0 16px;
    }

    &-alt.active {
      display: inline-block;
    }

    @media (max-width: 900px) {
      margin-left: 0;
    }
    
    @media (max-width: 768px) {
      margin-top: 13px;
    }
  }
  .swiper-container {
    overflow: visible;
  }

  .column-value {
    z-index: 5;
  }

  .analityc-graphics_changes {
    .analityc-graphics__toptext {
      display: none;
    }
  }

  .analityc-graphics, .analityc-table {
    display: none;
    &.active {
      display: block;
    }
  }

  .section__ar {
    display: none;
    position: absolute;
    top: 50%;
    z-index: 3000;
    width: 21px;
    height: 26px;
    padding: 5px;

    &_left {
      right: 101%;
      transform: rotate(180deg);

      @media screen and (max-width: 480px) {
        right: 98%;
      }
    }

    &_right {
      left: 101%;

      @media screen and (max-width: 480px) {
        left: 98%;
      }
    }

    &_disabled {
      opacity: 0;
    }
  }

  @mixin income-table-slider($minWidth) {
    .table {
      min-width: $minWidth;
    }
    
    .analityc-table__wrapper {
      overflow-x: auto;
      overflow-y: hidden;
    }

    .section__ar {
      display: inline!important;
    }
  }

  .analityc-table {
    overflow-x: visible;
    overflow-y: visible;

    & .table {
      min-width: auto;
    }

    &_approved,
    &_date {
      @media screen and (max-width: 580px) {
        @include income-table-slider(580px);
      }
    }

    &_changes {
      @media screen and (max-width: 900px) {
        @include income-table-slider(980px);
      }
    }
  }

  .analityc-control-group._dp-alt {
    margin-top: 25px;
    margin-left: 2.9%;

    @media (max-width: 1140px) {
      margin-left: 1.9%;
    }

    @media (max-width: 900px) {
      margin-left: 0;
    }

    @media (max-width: 768px) {
      margin-top: 13px;
    }

    .analityc-select {
      padding: 0 28px 0 12px;
    }
  }

  .analityc-control-switcher_default,
  .analityc-control-switcher_large,
  .analityc-control-buttons,
  .analityc-control-switcher_big,
  .analityc-control-group._dp {
    display: none;
    &.active {
      display: inline-block;
    }
  }

  .analityc-control-switcher_big,
  .analityc-control-switcher_large {
    margin-left: 3%;

     @media (max-width: 1024px) {
        margin-left: 2.1%!important;
     }

     @media (max-width: 900px) {
        margin-left: 0!important;
     }

  }

  .analityc-control-switcher_large a {
    @media (max-width: 900px) and (min-width: 581px) {
      padding: 0 55px;
    }
  }

  .analityc-control-switcher_default,
  .analityc-control-switcher_large, {

    @media (max-width: 900px) {
      margin-left: 0!important;
    }

  }

  .analityc-graphics_done {
    .analityc-graphics__col {
      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 1140px) {
  .analityc-widget_income .analityc-graphics_column .analityc-graphics__cols {
    padding-left: 0;
    padding-right: 0;
  }
  .basic-budget .analityc-widget_income {
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1140px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: 37.4%;
  }
}

@media screen and (min-width: 761px) and (max-width: 1100px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: calc(45.2% - 70px);
  }
}

@media screen and (max-width: 1140px) {
.analityc-widget_income .analityc-control-group._dp input.datepicker {
    height: 31px;
    line-height: 31px;
  }
}

@media (width: 1024px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: 335.6px;
    width: calc(45.2% - 93px);
    margin-top: 0;
  }

  .analityc-control-buttons, .analityc-control-switcher {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 551px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: 100%;
    input.datepicker {
      height: 52px;
      line-height: 52px;
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 760px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: 100%;
  }
}

@media screen and (min-width: 551px) and (max-width: 760px) {
  .analityc-widget_income .analityc-graphics_round {
    padding-top: 35px;
  }
  .analityc-widget_income .analityc-graphics_column {
    padding-top: 42px;
  }
  .analityc-widget_income input.datepicker {
    height: 58px;
    line-height: 58;
    font-size: 23px;
    background-position: 97% 39%;
  }
  .analityc-widget_income .analityc-control-group._dp:before {
    top: 21px;
  }
  .basic-budget .analityc-widget_income {
    padding: 30px 40px 40px;
  }
  .analityc-widget_income .analityc-graphics__legend {
    margin-top: 56px;
    height: inherit;
  }
  .analityc-widget_income .analityc-more {
    margin-top: 25px;
    font-size: 29px;
    &:before {
      right: -33px;
      top: 9px;
    }
  }
  .analityc-widget_income .analityc-control-group._dp input.datepicker {
    height: 52px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .analityc-widget_income input.datepicker {
    height: 42px;
    line-height: 42px;
    font-size: 13px;
  }
  .analityc-widget_income .analityc-control-group._dp:before {
    top: 5px;
  }
  .analityc-control-buttons + .analityc-control-switcher_large {
    width: 100%;
  }
  .analityc-widget_income .analityc-more {
    margin-top: 0;
    font-size: 18px;
    &:before {
      right: -22px;
      top: 2px;
    }
  }
  .analityc-widget_income .analityc-graphics_column {
    padding-top: 17px;
  }
  .analityc-widget_income .analityc-graphics_singleround {
    padding-top: 17px;
  }
  
  .analityc-widget_income .analityc-graphics_round {
    padding-top: 17px;
  }
  .analityc-widget_income .analityc-graphics__legend {
    margin-top: 23px;
  }
  .analityc-widget_income .analityc-control-group._dp input.datepicker {
    height: 40px;
    line-height: 24px;
    padding: 0 13px;
  }
  .analityc-widget_income .analityc-graphics__graphic_column {
    margin: 0 auto;
  }

  .analityc-widget_income .analityc-widgethead .analityc-control-buttons {
    margin-top: 17px;
  }
}

@media screen and (max-width: 350px) {
  .analityc-widget_income .analityc-control-group._dp input.datepicker {
    height: 26px;
    line-height: 24px;
    padding: 0 5px;
  }
}
