.analityc-widget_income {
  padding-top: 22px;
  padding-bottom: 35px;
  
  .analityc-control-group._dp {
    display: inline-block;
    margin-top: 30px;
    margin-left: 2.9%;
  }
  
  .analityc-graphics_column {
    
    .analityc-graphics__cols {
      padding-left: 33px;
      padding-right: 21px;
    }
  }
  
  .analityc-graphics, .analityc-table {
    display: none;
    &.active {
      display: block;
    }
  }
  
  .analityc-control-switcher_default,
  .analityc-control-buttons,
  .analityc-control-switcher_big,
  .analityc-control-group._dp {
    display: none;
    &.active {
      display: inline-block;
    }
  }
  
  .analityc-table {
    padding-top: 50px;
  }
  
}

@media screen and (max-width: 1140px) {
  .analityc-widget_income .analityc-graphics_column .analityc-graphics__cols {
    padding-left: 0;
    padding-right: 0;
  }
  .basic-budget .analityc-widget_income {
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1140px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: 37.4%;
  }
}

@media screen and (min-width: 761px) and (max-width: 1100px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: calc(45.2% - 70px);
  }
}

@media screen and (max-width: 760px) {
  .analityc-widget_income .analityc-control-group._dp {
    width: 100%;
  }
}

@media screen and (min-width: 551px) and (max-width: 760px) {
  .analityc-widget_income input.datepicker {
    height: 58px;
    line-height: 58;
    font-size: 23px;
  }
  .analityc-widget_income .analityc-control-group._dp:before {
    top: 21px;
  }
}

@media screen and (max-width: 550px) {
  .analityc-widget_income input.datepicker {
    height: 42px;
    line-height: 42px;
    font-size: 13px;
  }
  .analityc-widget_income .analityc-control-group._dp:before {
    top: 11px;
  }
}
