.depfin-about-budget {
  display: block;
  margin-bottom: -16px;
  padding-bottom: 16px;
}

.whatIsBudget {
  padding-top: 131px;
}

.whatIsBudget-definition {
  margin-top: -23px;
  line-height: 36px;

  @media (max-width: 640px) {
    font-size: 30px;
    margin-right: 16px;
  }

  @media (max-width: 1150px) {
    font-size: 29px;
  }
}


.whatIsBudget-conception {

  @media (max-width: 1150px) {
    text-align: center;
    max-width: 98%;
    padding-left: 0;
  }

  @media (max-width: 640px) {
    max-width: 550px;
    padding-left: 45px;
  }
}

.whatIsBudget-definition__accent {
  padding-right: 2px;
}

.whatIsBudget-component__wrapper {
  margin: 0 auto 4px;
}
.whatIsBudget-revenues__wrapper {
  display: block;
}
.budgetScales {
  margin-top: 227px;
}

@media (max-width: 640px) {
  .budgetScales-mainWeight {
    width: 110px;
    height: 111px;
    font-size: 20px;
    padding-top: 44px;
  }
}
.whatIsBudget-financingOfDeficit__line5 {
  top: 0;
}
.btn-close-b, .btn-close-c {
  background: url('../images/sprite.png') no-repeat -256px 0;
}
.whatIsBudget-financingOfDeficit__suitcase {
  background: url('../images/what-is-budget/suitcase.svg')no-repeat;
  background-position: 50% center;
  background-size: 100% 100%;
}

.whatIsBudget-financingOfDeficit__line3 {
  height: 73px;
  width: 0;
}

.whatIsBudget-financingOfDeficit__line1, .whatIsBudget-financingOfDeficit__line2 {
  width: 117px;
}

.whatIsBudget-expenditures__wrapper {
  margin-top: -19px;
}
