.js-resolution-wrap {
  padding-top: 0!important;
  
  & + .section-tabs_dropdown {
    border-bottom: none;
    border-top: 1px solid rgba(254,227,0,.2);
  }
}
.js-resolution-320 {
  @media screen and (max-width: 639px) {
    width: 639px;
    transform-origin: left top;
  }
}

.d-slide__body-wrapper.scroll-content { -webkit-overflow-scrolling: touch; }

.depfin-about-budget {
  display: block;
  margin-bottom: -16px;
  padding-bottom: 16px;
}

.whatIsBudget-characteristic._balance {
  margin: 0 3.65%;
}

.budgetScales-supportingWeight {
  opacity: 0;
  visibility: visible !important;
  transition: opacity 2.5s ease-in-out;
  pointer-events: all !important;

  &._active {
    opacity: 1;
    visibility: visible;
  }

  &._bounce {
    animation: easeOutBounce 2.5s 0s forwards;
  }
}

@keyframes easeOutBounce {
    0% {bottom: 150px; -webkit-animation-timing-function: ease-in;}
    33% {bottom: 0px; -webkit-animation-timing-function: ease-out;}
    50% {bottom: 25px; -webkit-animation-timing-function: ease-in;}
    66% {bottom: 0px; -webkit-animation-timing-function: ease-out;}
    82% {bottom: 10px; -webkit-animation-timing-function: ease-in;}
    92% {bottom: 0px; -webkit-animation-timing-function: ease-out;}
    97% {bottom: 3px; -webkit-animation-timing-function: ease-in;}
    100% { bottom: 0px;}
}



.whatIsBudget{
    /*min-width:980px;*/
    min-width:100%;
    background:url(../images/what-is-budget/fon.jpg) center top no-repeat #282635;
    -webkit-background-size:cover;
    background-size:cover;
    width:100%;
    //overflow:hidden;
}

.whatIsBudget {padding-top:171px;

  @media (max-width: 1024px) {
    padding-top: 103px;
  }
}


.whatIsBudget-expenditures__titleWrapper:nth-of-type(2) {
  display: none;
}
.whatIsBudget-conception{max-width:976px;margin:0 auto;padding-left:142px;-webkit-box-sizing:border-box;box-sizing:border-box; margin-top: 50px;}

.whatIsBudget-termin{font-family:$PFDinCompressedPro;color:#fff;text-transform:uppercase;font-size:237px;margin-left:-11px}
.whatIsBudget-termin h1{font-weight:500}

.whatIsBudget-definition{font-family:$PFDinCondensedPro}
.whatIsBudget-definition{font-size:36px;color:#fff;letter-spacing:-.2px}

.whatIsBudget-definition__accent{font-style:normal;padding:0 9px;position:relative}
.whatIsBudget-definition__accent:before{position:absolute;content:"";left:0;top:2px;right:0;bottom:1px}
.whatIsBudget-definition__accent._blue:before{background:-webkit-gradient(linear,left top, right top,color-stop(0, #004ccf),to(#0ff));background:-webkit-linear-gradient(left,#004ccf 0,#0ff 100%);background:linear-gradient(to right,#004ccf 0,#0ff 100%)}
.whatIsBudget-definition__accent._red:before{background:-webkit-gradient(linear,left top, right top,color-stop(0, #ff695b),to(#9d308a));background:-webkit-linear-gradient(left,#ff695b 0,#9d308a 100%);background:linear-gradient(to right,#ff695b 0,#9d308a 100%)}
.whatIsBudget-definition__accent span{position:relative}

.budgetScales {
    height: 283px;
    position: relative;
    margin-top: 228px
}

.budgetScales-legend__wrapper {
    position: absolute;
    max-width: 1100px;
    width: 100%;
    top: -51px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.budgetScales-legend {
    text-transform: uppercase;
    font-family:$PFDinCondensedPro;
    font-size: 18px;
    font-weight: 500;
    color: #fff
}
.budgetScales-legend._center {
    text-align: center
}
.budgetScales-legend._left {
    max-width: 250px;
    margin-top: 28px;
    float: left
}
.budgetScales-legend._right {
    max-width: 250px;
    margin-top: 28px;
    float: right;
    text-align: right
}

.budgetScales-platform {
    border-bottom: 5px solid #fff;
    max-width: 1100px;
    position: absolute;
    z-index: 0;
    width: 100%;
    left: 50%;
    bottom: 0;
    /*margin-left: -550px;*/
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.budgetScales-platform {
  /*Не соотв. исходнику*/
  /*margin-left: -550px;*/
  margin-left: auto;
}
.budgetScales-platform[data-advantage=surplus] {
    -webkit-transform: translateX(-50%) rotate(-4deg);
    transform: translateX(-50%) rotate(-4deg)
}
.budgetScales-platform[data-advantage=surplus] + .budgetScales-rockerArm .budgetScales-rockerArm__indicate:after{
    transform:rotate(-45deg);
}
.budgetScales-platform[data-advantage=deficit] {
    -webkit-transform: translateX(-50%) rotate(4deg);
    transform: translateX(-50%) rotate(4deg)
}

.budgetScales-pattern {
    width: 546px;
    height: 265px;
    position: absolute;
    bottom: 0;
    background: center center/100% 100% no-repeat;
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    pointer-events: all !important;
}

@media (max-width: 800px) {
  .budgetScales-pattern {pointer-events: none !important}
}

.budgetScales-pattern._surplus {
    left: 3px;
    background-image: url(../images/what-is-budget/pattern-surplus.png)
}
.budgetScales-pattern._deficit {
    right: 3px;
    background-image: url(../images/what-is-budget/pattern-deficit.png)
}
[data-advantage=surplus] .budgetScales-pattern._surplus {
    -webkit-transform: translate(7px, 0) skewX(-4deg);
    -ms-transform: translate(7px, 0) skewX(-4deg);
    transform: translate(7px, 0) skewX(-4deg)
}
[data-advantage=surplus] .budgetScales-pattern._deficit {
    -webkit-transform: translate(12px, 0) skewX(-4deg);
    -ms-transform: translate(12px, 0) skewX(-4deg);
    transform: translate(12px, 0) skewX(-4deg)
}
[data-advantage=deficit] .budgetScales-pattern._surplus {
    -webkit-transform: translate(-11px, 0) skewX(4deg);
    -ms-transform: translate(-11px, 0) skewX(4deg);
    transform: translate(-11px, 0) skewX(4deg)
}
[data-advantage=deficit] .budgetScales-pattern._deficit {
    -webkit-transform: translate(-6px, 0) skewX(4deg);
    -ms-transform: translate(-6px, 0) skewX(4deg);
    transform: translate(-6px, 0) skewX(4deg)
}

.budgetScales-mainWeight{
    bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-family:$PFDinCondensedPro;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: all !important;
}
.budgetScales-mainWeight {
    position: absolute;
    width: 131px;
    height: 132px;
    background: center center/100% 100% no-repeat;
    color: #fff;
    font-size: 24px;
    padding-top: 52px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    z-index: 1
}
.budgetScales-mainWeight._revenues {
    left: 30px;
    /*background-image: url(../images/what-is-budget/weight-revenues.svg)*/
    background-image: url(../images/what-is-budget/weight-revenues.png)
}
.budgetScales-mainWeight._expenditures:before,
.budgetScales-mainWeight._revenues:before {
    left: 50%;
    top: 50%;
    content: "";
    -webkit-transition: all 3s ease;
    transition: all 3s ease;
    position: absolute
}
.budgetScales-mainWeight._revenues:before {
    opacity: 0;
    width: 214px;
    height: 226px;
    background: url(../images/what-is-budget/weight-revenues-glow.png) center center/100% 100% no-repeat;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.budgetScales-mainWeight._revenues[data-status=big] {
    -webkit-transform: translateZ(0) scale(1.2);
    transform: translateZ(0) scale(1.2)
}
.budgetScales-mainWeight._revenues[data-status=big]:before,
.budgetScales-mainWeight._revenues[data-status=center]:before {
    opacity: 1
}

.whatIsBudget-publicDebt__description {
    padding: 19px 12px 15px 14px;
}

.whatIsBudget-publicDebt__inner {
    max-height: 110px;


    // Custom Scrollbar
    .scroll-element, .scroll-element div {border: none; margin: 0; padding: 0; position: absolute; z-index: 10;}
    .scroll-element div {display: block; height: 100%; left: 0; top: 0; width: 100%;}
    .scroll-element.scroll-y {height: 100%; right: 0; top: 0; width: 2px;}
    .scroll-element .scroll-element_outer {overflow: hidden;}
    .scroll-element .scroll-element_outer, .scroll-element .scroll-element_track, .scroll-element .scroll-bar {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
    .scroll-element .scroll-element_track { background-color: #d6d6d6; }
    .scroll-element .scroll-bar { background-color: #0d46a1; }
    .scroll-element:hover .scroll-bar { background-color: #0d46a1; }
    .scroll-element.scroll-draggable .scroll-bar { background-color: #0d46a1; }
    .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
    .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
    .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
    .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
}

.budgetScales-mainWeight._expenditures {
    right: 30px;
    /*background-image: url(../images/what-is-budget/weight-expenditures.svg)*/
    background-image: url(../images/what-is-budget/weight-expenditures.png)
}
.budgetScales-mainWeight._expenditures:before {
    opacity: 0;
    width: 196px;
    height: 198px;
    background: url(../images/what-is-budget/weight-expenditures-glow.png) center center/100% 100% no-repeat;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.budgetScales-mainWeight._expenditures[data-status=big] {
    -webkit-transform: translateZ(0) scale(1.2);
    transform: translateZ(0) scale(1.2)
}
.budgetScales-mainWeight._expenditures[data-status=big]:before,
.budgetScales-mainWeight._expenditures[data-status=center]:before {
    opacity: 1
}

.budgetScales-supportingWeight {
    bottom: 0;
    text-transform: uppercase;
    text-align: center;
    font-family:$PFDinCondensedPro;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.budgetScales-supportingWeight {
    position: absolute;
    width: 139px;
    height: 84px;
    background: center center/100% 100% no-repeat;
    font-size: 12px;
    padding-top: 28px;
    visibility: hidden;
    opacity: 0
}
.budgetScales-supportingWeight._financingOfDeficit {
    left: 172px;
    color: #fff;
    background-image: url(../images//what-is-budget/weight-financingOfDeficit.png)
}
.budgetScales-supportingWeight._useOfSurplus {
    right: 172px;
    color: #000;
    background-image: url(../images//what-is-budget/weight-useOfSurplus.png)
}

.budgetScales-rockerArm:after,
.budgetScales-rockerArm:before {
    content: "";
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%
}
.budgetScales-rockerArm {
    width: 10px;
    height: 278px;
    background: #e0e0e0;
    position: relative;
    margin: 0 auto
}
.budgetScales-rockerArm:before {
    position: absolute;
    width: 40px;
    height: 40px;
    // background: url(../images/what-is-budget/arrow-scales.svg) center center/100% 100% no-repeat;
    top: 0;
    /* * */
    display:none;
}
.budgetScales-rockerArm:after {
    position: absolute;
    width: 1px;
    height: 27px;
    // background: url(../images/what-is-budget/guide-scales.svg) top center/100% 100% no-repeat;
    top: -28px
}

.budgetScales-rockerArm__indicate{
    position: absolute;
    width: 40px;
    height: 40px;
    top: -1px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    // background: url(../images/what-is-budget/arrow-scales.png) 50% 50% no-repeat;
}
.budgetScales-rockerArm__indicate:after{
    content:'';
    background: url(../images/what-is-budget/arrow-scales__arrow.png) 50% 50% no-repeat;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transition:all 3s ease 0s;
}
.budgetScales-platform[data-advantage=surplus] + .budgetScales-rockerArm .budgetScales-rockerArm__indicate:after{
    transform:rotate(-45deg);
}
.budgetScales-platform[data-advantage=deficit] + .budgetScales-rockerArm .budgetScales-rockerArm__indicate:after{
    transform:rotate(45deg);
}

.budgetScales-rockerArm__pivot {

}

.budgetScales-activeZone__wrapper {
    bottom: 0;
    height: 265px;
    position: absolute
}
.budgetScales-activeZone__wrapper {
    max-width: 1100px;
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}
.budgetScales-activeZone__wrapper._noactive {
    pointer-events: none
}

.budgetScales-activeZone{
    bottom: 0;
    height: 265px;
    position: absolute
}
.budgetScales-activeZone._surplus {
    left: 0;
    width: 48%
}
.budgetScales-activeZone._deficit {
    right: 0;
    width: 48%
}
.budgetScales-activeZone._balance {
    left: 50%;
    width: 4%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

.whatIsBudget-characteristic__wrapper{
    max-width:1100px;
    margin:53px auto 0;
    /*font-size:0;*/
    text-align:justify;
}
.whatIsBudget-characteristic__wrapper:after{
    width:100%;
    /*height:0;
    visibility:hidden;
    overflow:hidden;*/
    content:'';
    display:inline-block;
    vertical-align:top;
}

.whatIsBudget-characteristic{
    display:inline-block;
    vertical-align:top;
    width:30.9%;
    text-align:left;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    transition:opacity 250ms ease 0s;
    opacity:0.6;
}
.whatIsBudget-characteristic.active{
    opacity:1;
}
.whatIsBudget-characteristic._surplus{color:#069ed3}
.whatIsBudget-characteristic._balance{color:#8e8586}
.whatIsBudget-characteristic._deficit{color:#a63685}

.whatIsBudget-characteristic__termin{font-family:$PFDinCondensedPro}
.whatIsBudget-characteristic__termin{font-size:18px;height:45px;line-height:45px;font-weight:500;text-transform:uppercase;position:relative;padding:0 23px;border-left:2px solid;border-right:2px solid;border-top:2px solid}
.whatIsBudget-characteristic__termin._show:before,
.whatIsBudget-characteristic__termin:before{
    position:absolute;
    content:"";
    height:2px;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    background-color:currentColor;
}

.whatIsBudget-characteristic__termin._show:before {
    /*Не соотв. исходнику*/
    /*opacity: .4;*/
    opacity: 1;
}

.whatIsBudget-characteristic__termin:before{-webkit-transition:all 1.5s ease;transition:all 1.5s ease}

.whatIsBudget-characteristic__definition{width:auto!important;height:auto!important;font-family: $PFDinTextPro; font-size:15.5px;padding:5px 23px 24px;line-height:1.266;opacity:0;visibility:hidden;display:none;height:0;overflow:hidden;border-left:2px solid;border-right:2px solid;border-bottom:2px solid}.whatIsBudget-characteristic__definition._show{display:block!important;height:auto!important}
.whatIsBudget-characteristic__definition p+p{margin-top:19px}
.whatIsBudget-characteristic__definition div{color:#fff}


/*Revenues start*/

.whatIsBudget-revenues__wrapper {
    max-width: 980px;
    margin: 0 auto;
    padding-top: 34px;
    position: relative;
    display: none;
}
.whatIsBudget-revenues:first-child .whatIsBudget-revenues__title:before {
    width: 215px;
}
.whatIsBudget-revenues:nth-child(3) .whatIsBudget-revenues__title:before {
    top: auto;
    height: 470px;
}
@media screen and (max-width: 1000px) {

    .whatIsBudget-revenues__wrapper {
        max-width: 464px;
        padding: 60px 0 60px 104px;
        position: static;
        overflow: hidden;
    }
    .whatIsBudget-revenues {
        width: 100%!important;
    }
    .whatIsBudget-line {
        bottom: calc(100% - 25px) !important;
    }
    .whatIsBudget-revenues__item .whatIsBudget-revenues__examples {
        top: 0;
        transform: none;
        width: auto!important;
        margin-left: 0!important;
    }
    .whatIsBudget-revenues__item .whatIsBudget-revenues__examples:before {
        display: none!important;
    }
    .whatIsBudget-financingOfDeficit:nth-child(7) .whatIsBudget-publicDebt__close {
        top: 10px;
    }
}

/*iPad*/
@media screen and (max-width: 1000px) and (min-width: 641px) {
    .whatIsBudget-revenues,
    .whatIsBudget-revenues:nth-child(1),
    .whatIsBudget-revenues:nth-child(2),
    .whatIsBudget-revenues:nth-child(3) {
        width: 100%;
        float: none;
        padding: 0;
        margin: 22px 0 0;
    }
    .whatIsBudget-revenues:first-child {
        margin: 0;
    }
    .whatIsBudget-revenues:nth-child(1) .whatIsBudget-revenues__title,
    .whatIsBudget-revenues:nth-child(2) .whatIsBudget-revenues__title {
        max-width: 100%;
    }
    .whatIsBudget-revenues__list {
        max-width: 100%;
        margin-top: 22px;
    }
}

@media (max-width: 640px) {

    .whatIsBudget-revenues__wrapper {
        padding-left: 153px;
        box-sizing: border-box;
    }
    .whatIsBudget-revenues {
        width: 100%!important;
    }
}

@media screen and (max-width: 640px) {

    .whatIsBudget-revenues__wrapper {
        max-width: 590px;
        padding-left: 122px;
    }

}
/*Revenues end*/

/*Deficit start*/

.whatIsBudget-financingOfDeficit:nth-child(2) .whatIsBudget-financingOfDeficit__title:after {
    top: auto;
}
.whatIsBudget-financingOfDeficit:nth-child(7) .whatIsBudget-financingOfDeficit__title:after {
    top: auto;
}
.whatIsBudget-financingOfDeficit:nth-child(4) .whatIsBudget-financingOfDeficit__title:before {
    height: 33px;
}
.whatIsBudget-financingOfDeficit:first-child .whatIsBudget-financingOfDeficit__title:before,
.whatIsBudget-financingOfDeficit:nth-child(2) .whatIsBudget-financingOfDeficit__title:before,
.whatIsBudget-financingOfDeficit:nth-child(6) .whatIsBudget-financingOfDeficit__title:before,
.whatIsBudget-financingOfDeficit:nth-child(7) .whatIsBudget-financingOfDeficit__title:before {
    width: 116px;
    margin-top: -1px;
}

.whatIsBudget-financingOfDeficit__line3 {
    height: 71.5px;
}
.whatIsBudget-financingOfDeficit__line5 {
    height: 80px;
}
.whatIsBudget-publicDebt__close {
    position: absolute;
/*    top: 20px;
    right: 10px;*/
    top: 2px;
    right: 2px;
}

@media screen and (max-width: 1000px) {
    .whatIsBudget-financingOfDeficit__wrapper {
        max-width: 464px;
        padding: 26px 0 60px;
    }
    .whatIsBudget-financingOfDeficit:nth-child(4) .whatIsBudget-financingOfDeficit__description {
        width: 100%;
        position: static;
        padding: 12px 0 0 calc(50% + 30px);
        margin: 0;
        transform: none;
        background: none;
    }
    .whatIsBudget-financingOfDeficit:nth-child(5) .whatIsBudget-financingOfDeficit__description {
        width: 100%;
        position: static;
        padding: 18px 0 0 calc(50% + 30px);
        margin: 0;
        transform: none;
        background: linear-gradient(to bottom, rgba(48,175,105,1) 0%,rgba(48,175,105,1) 100%), linear-gradient(to bottom, rgba(48,175,105,1) 0%,rgba(48,175,105,1) 100%), linear-gradient(to bottom, rgba(48,175,105,1) 0%,rgba(48,175,105,1) 100%);
        background-repeat: no-repeat;
        background-size: 2px 32px, calc(50% - 30px) 2px, 2px calc(100% - 32px);
        background-position: 50% 0, 30px 30px, 30px 100%;
    }
    .whatIsBudget-financingOfDeficit:nth-child(6),
    .whatIsBudget-financingOfDeficit:nth-child(7) {
        padding: 38px 0 0 100px;
        margin: 0;
        background: linear-gradient(to bottom, rgba(48,175,105,1) 0%,rgba(48,175,105,1) 100%);
        background-repeat: no-repeat;
        background-size: 2px 100%;
        background-position: 30px 0;
        width: auto;
        float: none;
        margin-left: 0;
    }
    .whatIsBudget-publicDebt__description {
        width: 100%;
    }
    .whatIsBudget-publicDebt__title:before {
        width: 20px;
        height: 2px;
        left: auto;
        right: 100%;
        margin-right: -6px;
        top: 50%;
        transform: translateY(calc(-50% + 2px));
    }
    .whatIsBudget-publicDebt__close {
        top: -30px;
    }
}

/*iPad*/
@media screen and (max-width: 1000px) and (min-width: 641px) {
    .whatIsBudget-financingOfDeficit__wrapper {
        background-size: 2px 26px,calc(50% - 61px) 2px;
        background-position: 50% 0,62px 24px;
    }
    .whatIsBudget-financingOfDeficit,
    .whatIsBudget-financingOfDeficit:first-child,
    .whatIsBudget-financingOfDeficit:nth-child(2),
    .whatIsBudget-financingOfDeficit:nth-child(6),
    .whatIsBudget-financingOfDeficit:nth-child(7) {
        width: auto;
        float: none;
        margin-right: 0;
    }
    .whatIsBudget-financingOfDeficit:nth-child(1),
    .whatIsBudget-financingOfDeficit:nth-child(2) {
        margin-left: 105px;
        margin-bottom: 30px;
    }
    .whatIsBudget-financingOfDeficit:nth-child(5) {
        margin-top: 0;
    }
    .whatIsBudget-financingOfDeficit:nth-child(7) {
        background-size: 2px 76px;
    }
    .whatIsBudget-financingOfDeficit:first-child .whatIsBudget-financingOfDeficit__title:before,
    .whatIsBudget-financingOfDeficit:first-child .whatIsBudget-financingOfDeficit__title:after,
    .whatIsBudget-financingOfDeficit:nth-child(2) .whatIsBudget-financingOfDeficit__title:before,
    .whatIsBudget-financingOfDeficit:nth-child(2) .whatIsBudget-financingOfDeficit__title:after,
    .whatIsBudget-financingOfDeficit:nth-child(6) .whatIsBudget-financingOfDeficit__title:before,
    .whatIsBudget-financingOfDeficit:nth-child(7) .whatIsBudget-financingOfDeficit__title:before {
        display: none;
    }
    .whatIsBudget-financingOfDeficit__suitcase:before {
        height: 76px;
        top: -53px;
    }
    .whatIsBudget-publicDebt__wrapper {
        padding: 42px 0 0 44px;
    }
    .whatIsBudget-publicDebt {
        display: block;
    }
}

@media (max-width: 640px) {
    .whatIsBudget-financingOfDeficit__wrapper {
        max-width: 590px;
    }
    .whatIsBudget-financingOfDeficit:nth-child(5) {
        margin-top: 0;
    }
    .whatIsBudget-financingOfDeficit:nth-child(4) .whatIsBudget-financingOfDeficit__title:before {
        height: 44px;
    }
    .whatIsBudget-financingOfDeficit:nth-child(4) .whatIsBudget-financingOfDeficit__description {
        font-size: 16px;
        line-height: 1.43;
        top: 100%;
        left: 50%;
    }
    .whatIsBudget-financingOfDeficit:nth-child(5) .whatIsBudget-financingOfDeficit__description {
        font-size: 16px;
        line-height: 1.43;
        top: 100%;
        bottom: auto;
    }
    .whatIsBudget-financingOfDeficit:nth-child(7) {
        background-size: 2px 74px;
    }
    .whatIsBudget-publicDebt__wrapper {
        margin-left: 0;
        background-size: 2px calc(100% - 8px)!important;
    }
    .whatIsBudget-publicDebt__title:before {
        margin-top: 12px;
    }
}
/*Deficit end*/


.whatIsBudget-chart {
    background: #282635
}

.clearfix { clear: both; }
.clearfix:after { display: block; width: 100%; content: ""; clear: both; }
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

.btn-close{
  cursor:pointer;
  transition:none;
  display:inline-block;
  vertical-align:top;
  height:18px;
  width:18px;
  background:url(../images/sprite.png) no-repeat -99px -44px;
}
.btn-close:hover{
  background-position:-121px -44px;
}
.btn-close-b,
.btn-close-c{
  display:inline-block;
  vertical-align:middle;
  width:16px;
  height:16px;
  background:url(../images/sprite2.png) no-repeat -256px 0;
    cursor:pointer;
}
.btn-close-c--xl{
    width:20px;
    height:20px;
    background-position:-254px 1px;
}
.btn-close-b:hover{
  background-position:-256px -16px;
}
.btn-close-c:hover{
    background-position:-256px -32px;
}

._active .whatIsBudget-expenditures__subtitle {
    background: #fff;
    color: #A63685
}
._active .whatIsBudget-expenditures__description {
    opacity: 1;
    visibility: visible;
    background: #fff;
    color: #000;
    display: block;
}

.whatIsBudget-expenditures__wrapper {
  padding-bottom: 50px;
}

.whatIsBudget-expenditures__listWrapper {
  margin-top: 44px;
}

.whatIsBudget-expenditures__description {
  display: none;
  position: inherit;
}
.transforming {
  transform: translateX(-29%);
}
.whatIsBudget-expenditures_programs {
  position: relative;
  margin-left: 560px;
}

.whatIsBudget-expenditures_programs::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 5px;
  top: 10px;
  color: red;
  right: 0;
  background-color: red;
}

.whatIsBudget-expenditures_departments {
  margin-left: 236px;

  .whatIsBudget-expenditures__list {
    width: 754px;
  }
}

/*++++++++++*/

@media (max-width:1150px) {
    .whatIsBudget-conception {
        /*max-width: 800px;
        padding-left: 123px*/
        max-width:98%;
        padding-left:0;
        text-align:center;
    }
    .whatIsBudget-termin {
        font-size: 192px;
        margin-left: -9px
    }
    .whatIsBudget-definition {
        font-size: 29px
    }
    .budgetScales-legend__wrapper {
        max-width: 980px
    }
    .budgetScales-platform {
        max-width: 980px;
        /*Не соотв. исходнику*/
        /*margin-left: -490px*/
        margin-left: auto;
    }
    .budgetScales-pattern {
        width: 488px;
        height: 251px
    }
    .budgetScales-activeZone__wrapper{
        max-width: 980px
    }
    .whatIsBudget-characteristic__wrapper {
        max-width: 980px;
        margin: 48px auto 0
    }
    .whatIsBudget-characteristic {
        width: 32.9%
    }

    .whatIsBudget-characteristic._balance {
      margin: 0 0.65%;
    }

}
@media screen and (max-width:1000px) {
    .budgetScales-legend__wrapper{
        max-width:98%;
    }
    .whatIsBudget-characteristic__wrapper {
        margin: 40px auto 0
    }
    .budgetScales-platform{
        max-width:98%;
    }
    .budgetScales-pattern{
        width:50%;
    }
    .budgetScales-activeZone__wrapper{
        max-width:98%;
        z-index: 2;
    }
    .whatIsBudget-characteristic__wrapper{
        max-width:98%;
        height:290px !important;
        margin-bottom: 20px;
    }
    .whatIsBudget-characteristic{
        position:relative;
        /*z-index:1;*/
    }
    .whatIsBudget-characteristic.active{
        z-index:1;
    }
      .whatIsBudget-characteristic:nth-child(1) .whatIsBudget-characteristic__definition{
        left:0;
    }
    .whatIsBudget-characteristic:nth-child(2) .whatIsBudget-characteristic__definition{
        left:0;
    }
    .whatIsBudget-characteristic:nth-child(3) .whatIsBudget-characteristic__definition{
        right:0;
    }
    .whatIsBudget-characteristic__definition{
/*        width:290px;*/
        position:absolute;
        top:calc(100% - 2px);
        z-index:1;
        border-top:2px solid;
    }

    .whatIsBudget-chart{
        position:relative;
    }

    .whatIsBudget-expenditures__listWrapper {
        margin: 4px 0;
    }
    .whatIsBudget-expenditures__list {
        display: block;
        width: 100%;
    }
    .whatIsBudget-expenditures__list+.whatIsBudget-expenditures__list {
        margin-left: 0;
    }
    .whatIsBudget-expenditures__item+.whatIsBudget-expenditures__item {
        margin-top: 4px;
    }
    .whatIsBudget-expenditures_departments {

      .whatIsBudget-expenditures__list {
        width: 100%;
      }

      .whatIsBudget-expenditures__description {
        padding: 20px 20px 20px!important;
      }
    }
}
@media screen and (max-width:767px) {
    .whatIsBudget-characteristic._deficit{
        text-align:right;
    }
    .whatIsBudget-characteristic._balance{
        left:0;
        transform:none;
    }
      .whatIsBudget-characteristic__termin{
        padding-left:10px;
        padding-right:10px;
    }
}

@media screen and (max-width:640px){
    .whatIsBudget-conception {
        max-width: 550px;
        padding-left: 4px;
    }
    .whatIsBudget-termin {
        font-size: 70px;
        margin-left: -8px;
    }
    .whatIsBudget-definition {
        font-size: 24px;
        margin-right: 16px;
    }
    .whatIsBudget-definition__accent {
        padding: 0 6px;
    }
    .whatIsBudget-definition__accent:before {
        top: 6px;
    }
    .budgetScales {
        height: 240px;
        margin-top: 135px;
    }
    .budgetScales-legend__wrapper {
        max-width: 580px;
    }
    .budgetScales-legend {
        font-size: 15px;
    }
    .budgetScales-legend._center {
        font-size: 24px
    }
    .budgetScales-legend._left,
    .budgetScales-legend._right {
        margin-top: 24px;
        max-width: 200px;
    }
    .budgetScales-platform {
        /*max-width: 624px;*/
        max-width:96%;
        /*margin-left: -312px*/
        margin-left: auto !important;
    }
    .budgetScales-pattern {
        width: 307px;
        height: 225px;
    }
    .budgetScales-mainWeight {
        width: 110px;
        height: 111px;
        font-size: 20px;
        padding-top: 44px;
    }
    .budgetScales-mainWeight._revenues {
        left: 22px;
    }
    .budgetScales-mainWeight._expenditures {
        right: 22px;
    }
    .budgetScales-mainWeight._revenues:before {
        width: 188px;
        height: 190px
    }
    .budgetScales-supportingWeight {
        width: 109px;
        height: 66px;
        font-size: 10px;
        padding-top: 22px;
    }
    .budgetScales-supportingWeight._financingOfDeficit {
        left: 165px;
    }
    .budgetScales-supportingWeight._useOfSurplus {
        right: 165px;
    }
    .budgetScales-rockerArm {
        height: 235px;
    }
    .budgetScales-rockerArm:before {
        width: 34px;
        height: 34px;
    }
    .budgetScales-activeZone__wrapper {
        max-width: 624px;
    }
    .whatIsBudget-line{
        bottom:calc(100% - 40px) !important;
    }
    ._surplus .whatIsBudget-characteristic__definition {
        /*width: 244px;*/
    }
    ._deficit .whatIsBudget-characteristic__definition {
        /*width: 244px;*/
        margin-left: -64px;
    }
    .whatIsBudget-characteristic__wrapper {
        max-width: 624px;
        position: relative;
    }
    .whatIsBudget-characteristic__wrapper{
        height:264px !important;
    }
    .whatIsBudget-characteristic {
        position: absolute;
    }
    .whatIsBudget-characteristic._surplus {
        width: 174px;
        left: 0;
    }
    .whatIsBudget-characteristic._balance {
        width: 258px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .whatIsBudget-characteristic._deficit {
        width: 180px;
        right: 0;
    }
    .whatIsBudget-characteristic__definition {
        position: relative;
        margin-top: -2px;
        z-index: 1;
        padding: 10px 17px 16px 21px;
    }

    /*Выравнивание блоков*/
    .whatIsBudget-characteristic._surplus,
    .whatIsBudget-characteristic._balance,
    .whatIsBudget-characteristic._deficit {
      position: relative;
      display: block;
      width: 100% !important;
      text-align: left !important;
      margin:0 auto;
    }

    .whatIsBudget-characteristic__definition p+p {
        margin-top: 0;
    }
    .whatIsBudget-characteristic__definition{
        top:100%;
    }

    .whatIsBudget-characteristic__definition{
        position: relative !important;
        /*width: auto !important;*/
        margin-left: 0px !important;
        box-sizing: content-box;
    }

    /*Выравнивание блоков*/
    .whatIsBudget-characteristic__definition:before {
      display: none;
    }

    .whatIsBudget-expenditures__wrapper {
        margin: 0 auto;
    }
}

/* для 320 */
@media screen and (max-width:640px) {

  .whatIsBudget-publicDebt__title {
    font-size: 18px !important;
  }
  .whatIsBudget-expenditures__wrapper {
    width: 464px !important;
  }
  .whatIsBudget-expenditures__title, .whatIsBudget-expenditures__title-fake {
    font-size: 18px !important;
  }
  .whatIsBudget-expenditures__subtitle {
    font-size: 18px !important;
    padding: 20px !important;
  }
  .whatIsBudget-expenditures__description {
    font-size: 14px !important;
    padding: 0 20px 20px !important;
  }
  .budgetScales-pattern {
    width: 49.3% !important;
  }
  .whatIsBudget-characteristic__wrapper {
    margin-bottom: 70px !important;
    height: 320px !important;
  }
  .budgetScales-mainWeight._expenditures:before {
    width: 168px !important;
    height: 168px !important;
  }
  .whatIsBudget-conception {
    padding-left: 0 !important;
  }
  .whatIsBudget-termin {
    font-size: 90px !important;
  }
  .whatIsBudget-definition {
    font-size: 24px !important;
    margin-right: 0 !important;
    padding: 0 15px !important;
  }
  .whatIsBudget-instruction {
    padding: 0 15px !important;
  }
  .budgetScales-legend._left, .budgetScales-legend._right {
    max-width: 120px !important;
  }
}

@media screen and (max-width:480px) {
  .budgetScales-legend__wrapper {
    padding: 0 15px !important;
  }
}

.whatIsBudget-instruction {
  font-family: $PFDinTextPro;
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
}

.whatIsBudget-financingOfDeficit__wrapper { overflow: visible; }
