mixin depfin-about-budget()
  +b.depfin-about-budget&attributes(attributes)
    .main
      .sections
        +e.whatIsBudget
          +e.whatIsBudget-concepriton
            +e.DT.whatIsBudget-termin
              h1 Бюджет
            +e.DD.whatIsBudget-definiton
              | это форма
              em.whatIsBudget-definition__accent._blue
                span образования
              | и&nbsp;
              em.whatIsBudget-definition__accent._red
                span расходования
              | денежных средств, предназначенных для&nbsp;финансового обеспечения задач и&nbsp;функций государства и&nbsp;местного самоуправления.
          +e.budgetScales
            +e.budgetScales-legend__wrapper
              +e.budgetScales-legend._center Сбалансированность
              +e.budgetScales-legend._left Денежные средства, поступающие в&nbsp;бюджет
              +e.budgetScales-legend._right Денежные средства, выплачиваемые из&nbsp;бюджета

            +e.DIV(data-advantage='').budgetScales-platform
              +e.budgetScales-pattern._surplus
              +e.budgetScales-pattern._deficit

              +e.budgetScales-pointer._surplus
              +e.budgetScales-pointer._balance
              +e.budgetScales-pointer._deficit

              +e.DIV(data-status='').budgetScales-mainWeight._revenues
                | Доходы бюджета
                +e.budgetScales-game
              +e.DIV(data-status='').budgetScales-mainWeight._revenues
                | Расходы бюджета
                +e.budgetScales-game

              +e.budgetScales-supportingWight._financingOfDeficit Источники финансирования дефицита
              +e.budgetScales-supportingWight._useOfSurplus Направление использования профицита

            +e.budgetScales-rockerArm
              +e.budgetScales-rockerArm__indicate
              //- +e.budgetScales-rockerArm__arrow
              +e.budgetScales-rockerArm__pivot

            +e.budgetScales-activeZone__wrapper
              +e.budgetScales-activeZone._surplus
              +e.budgetScales-activeZone._balance
              +e.budgetScales-activeZone._deficit
          +e.characteristic__wrapper
            +e.DL.characteristic._surplus
              +e.DD.characteristic__termin Профицит
              +e.DD.characteristic__definition
                +e.DIV
                  +e.H2 Доходы > расходов
                  +e.P Превышение доходов бюджета над его расходами
                  +e.P Сложившийся профицит средств может быть направлен на&nbsp;погашение государственного долга, на&nbsp;пополнение резервных фондов, а&nbsp;также использован как остаток, переходящий на&nbsp;следующий год

            +e.DL.characteristic._balance
              +e.DD.characteristic__termin Сбалансированность
              +e.DD.characteristic__definition
                +e.DIV
                  +e.P ситуация, при которой объём предусмотренных бюджетом расходов соответствует суммарному объёму поступлений в бюджет

            +e.DL.characteristic._deficit
              +e.DD.characteristic__termin Дефицит
              +e.DD.characteristic__definition
                +e.DIV
                  +e.H2 Доходы < расходов
                  +e.P Превышение расходов бюджета над его доходами
                  +e.P Нехватка денежных средств обеспечивается за&nbsp;счёт источников финансирования дефицита бюджета
          +e.component__outer
            +e.UL(data-active='').component__wrapper
              +e.LI(title='Нажать').component
                +e.DL.component
                  +e.DT.component__termin Доходы бюджета
                  +e.DT.component__definition Денежные средства, поступающие в&nbsp;бюджет
              +e.LI(title='Нажать').component
                +e.SPAN.component__termin Источники финансирования дефицита
              +e.LI(title='Нажать').component
                +e.DL.component__conception
                  +e.DT.component__termin Расходы бюджета
                  +e.DT.component__definition Денежные средства, выплачиваемые из&nbsp;бюджета
        +e.whatIsBudget-chart
          +b.UL.whatIsBudget-revenues.__wrapper.clearfix
            +b.LI.whatIsBudget-revenues
              +e.H2.title
                | Неналоговые доходы
                span.whatIsBudget-line
              +e.description Все доходы, поступающие в&nbsp;бюджет города, не&nbsp;отнесённые к&nbsp;налоговым доходам и&nbsp;безвозмездным поступлениям
              +e.UL.list
                +e.LI.item.--direct-l
                  +e.H3.subtitle Доходы от&nbsp;использования и&nbsp;продажи имущества, находящегося в&nbsp;государственной собственности
                  +e.examples
                    +e.P Доходы от&nbsp;использования и&nbsp;продажи имущества, находящегося в&nbsp;государственной собственности
                    +e.P Конкретные размеры налоговых ставок местных налогов и&nbsp;сборов определяются представительными органами муниципальных образований (законодательными органами государственной власти городов федерального значения: Москвы, Санкт-Петербурга и&nbsp;Севастополя) в&nbsp;порядке и&nbsp;пределах, предусмотренных Налоговым кодексом Российской Федерации
                    +e.P Пример: земельный налог, налог на&nbsp;имущество физических лиц, торговый сбор
                    +e.close.btn-close-c.btn-close-c--xl

                +e.LI.item.--direct-l
                  +e.H3.subtitle Штрафные санкции, возмещение ущерба
                  +e.examples
                    +e.P Доходы от&nbsp;использования и&nbsp;продажи имущества, находящегося в&nbsp;государственной собственности
                    +e.P Конкретные размеры налоговых ставок местных налогов и&nbsp;сборов определяются представительными органами муниципальных образований (законодательными органами государственной власти городов федерального значения: Москвы, Санкт-Петербурга и&nbsp;Севастополя) в&nbsp;порядке и&nbsp;пределах, предусмотренных Налоговым кодексом Российской Федерации
                    +e.P Пример: земельный налог, налог на&nbsp;имущество физических лиц, торговый сбор
                    +e.close.btn-close-c.btn-close-c--xl
            +b.LI.whatIsBudget-revenues
              +e.H2.title
                | Налоговые доходы
                span.whatIsBudget-line
              +e.description Поступления от&nbsp;уплаты налогов и&nbsp;сборов, установленных Налоговым кодексом Российской Федерации
              +e.UL.list

                +e.LI.item
                  +e.H3.subtitle Федеральные налоги и&nbsp;сборы
                  +e.examples
                    +e.P Налоги и&nbsp;сборы, устанавливаемые нормативными правовыми актами представительных органов муниципальных образований (законами городов федерального значения: Москвы, Санкт-Петербурга и&nbsp;Севастополя) о&nbsp;налогах и&nbsp;сборах в&nbsp;соответствии с&nbsp;Налоговым кодексом Российской Федерации
                    +e.P Конкретные размеры налоговых ставок местных налогов и&nbsp;сборов определяются представительными органами муниципальных образований (законодательными органами государственной власти городов федерального значения: Москвы, Санкт-Петербурга и&nbsp;Севастополя) в&nbsp;порядке и&nbsp;пределах, предусмотренных Налоговым кодексом Российской Федерации
                    +e.P Пример: земельный налог, налог на&nbsp;имущество физических лиц, торговый сбор
                    +e.close.btn-close-c.btn-close-c--xl
                +e.LI.item
                  +e.H3.subtitle Федеральные налоги и&nbsp;сборы
                  +e.examples
                    +e.P Налоги и&nbsp;сборы, устанавливаемые нормативными правовыми актами представительных органов муниципальных образований (законами городов федерального значения: Москвы, Санкт-Петербурга и&nbsp;Севастополя) о&nbsp;налогах и&nbsp;сборах в&nbsp;соответствии с&nbsp;Налоговым кодексом Российской Федерации
                    +e.P Конкретные размеры налоговых ставок местных налогов и&nbsp;сборов определяются представительными органами муниципальных образований (законодательными органами государственной власти городов федерального значения: Москвы, Санкт-Петербурга и&nbsp;Севастополя) в&nbsp;порядке и&nbsp;пределах, предусмотренных Налоговым кодексом Российской Федерации
                    +e.P Пример: земельный налог, налог на&nbsp;имущество физических лиц, торговый сбор
                    +e.close.btn-close-c.btn-close-c--xl
                +e.LI.item
                  +e.H3.subtitle Федеральные налоги и&nbsp;сборы
                  +e.examples
                    +e.P Налоги и&nbsp;сборы, устанавливаемые нормативными правовыми актами представительных органов муниципальных образований (законами городов федерального значения: Москвы, Санкт-Петербурга и&nbsp;Севастополя) о&nbsp;налогах и&nbsp;сборах в&nbsp;соответствии с&nbsp;Налоговым кодексом Российской Федерации
                    +e.P Конкретные размеры налоговых ставок местных налогов и&nbsp;сборов определяются представительными органами муниципальных образований (законодательными органами государственной власти городов федерального значения: Москвы, Санкт-Петербурга и&nbsp;Севастополя) в&nbsp;порядке и&nbsp;пределах, предусмотренных Налоговым кодексом Российской Федерации
                    +e.P Пример: земельный налог, налог на&nbsp;имущество физических лиц, торговый сбор
                    +e.close.btn-close-c.btn-close-c--xl
                +e.LI.item
                  +e.H3.subtitle Федеральные налоги и&nbsp;сборы
                  +e.examples
                    +e.P Налоги и&nbsp;сборы, устанавливаемые нормативными правовыми актами представительных органов муниципальных образований (законами городов федерального значения: Москвы, Санкт-Петербурга и&nbsp;Севастополя) о&nbsp;налогах и&nbsp;сборах в&nbsp;соответствии с&nbsp;Налоговым кодексом Российской Федерации
                    +e.P Конкретные размеры налоговых ставок местных налогов и&nbsp;сборов определяются представительными органами муниципальных образований (законодательными органами государственной власти городов федерального значения: Москвы, Санкт-Петербурга и&nbsp;Севастополя) в&nbsp;порядке и&nbsp;пределах, предусмотренных Налоговым кодексом Российской Федерации
                    +e.P Пример: земельный налог, налог на&nbsp;имущество физических лиц, торговый сбор
                    +e.close.btn-close-c.btn-close-c--xl
            +b.LI.whatIsBudget-revenues
              +e.H2.title
                | Безвозмездные поступления
                span.whatIsBudget-line
              +e.description Дотации, субсидии, субвенции, иные межбюджетные трансферты, а&nbsp;также доходы от&nbsp;возврата и&nbsp;возврат остатков
          +b.whatIsBudget-financingOfDeficit.__wrapper.clearfix
            +e.UL.holder
              +b.LI.whatIsBudget-financingOfDeficit
                +e.H2.title
                  | Внутренние источники
                  span.whatIsBudget-financingOfDeficit__line1
                +e.UL.list
                  +e.LI.item Средства, поступившие от&nbsp;размещения государственных ценных бумаг, номинированных в&nbsp;валюте Российской Федерации
                  +e.LI.item Бюджетные кредиты
                  +e.LI.item Банковские кредиты в&nbsp;валюте Российской Федерации
                  +e.LI.item Поступления от&nbsp;продажи акций и&nbsp;иных форм участия в&nbsp;капитале, находящихся в&nbsp;собственности города Москвы
                  +e.LI.item Прочие источники внутреннего финансирования

              +b.LI.whatIsBudget-financingOfDeficit
                +e.H2.title
                  | Внешние источники
                  span.whatIsBudget-financingOfDeficit__line2
                +e.UL.list
                  +e.LI.item Средства, поступившие от&nbsp;размещения государственных займов в&nbsp;иностранной валюте
                  +e.LI.item Кредиты иностранных государств, международных финансовых организаций и&nbsp;иностранных юридических лиц в&nbsp;иностранной валюте
                  +e.LI.item Банковские кредиты в&nbsp;иностранной валюте
                  +e.LI.item Поступления от&nbsp;продажи акций и&nbsp;иных форм участия в&nbsp;капитале, находящихся в&nbsp;собственности города Москвы
                  +e.LI.item Прочие источники внешнего финансирования

              +b.LI.whatIsBudget-financingOfDeficit
                +e.H2.title
                  | Заёмные источники финансирования дефицита бюджета
                  span.whatIsBudget-financingOfDeficit__line3
                  //- span.whatIsBudget-financingOfDeficit__line4

              +b.LI.whatIsBudget-financingOfDeficit
                +e.H2.title Долговые обязательства
                +e.description Кредиты и&nbsp;займы, привлеченные для финансирования дефицита бюджета

              +b.LI.whatIsBudget-financingOfDeficit
                +e.H2.title Государственный долг
                +e.description Обязательства, возникающие при осуществлении государственных заимствований или предоставлении государственных гарантий по&nbsp;обязательствам третьих лиц

              +b.LI.whatIsBudget-financingOfDeficit
                +e.H2.title
                  | Государственный внутренний долг
                  span.whatIsBudget-financingOfDeficit__line6
                +e.description Долговые обязательства, возникающие в&nbsp;валюте Российской Федерации, а&nbsp;также обязательства в&nbsp;иностранной валюте в&nbsp;рамках использования целевых иностранных кредитов
                +b.UL.whatIsBudget-publicDebt.__wrapper
                  +b.LI.whatIsBudget-publicDebt
                    +e.H3.title Государственные ценные бумаги
                    +e.description._active
                      +e.P Государственные ценные бумаги могут быть выпущены в&nbsp;виде облигаций или иных ценных бумаг, отнесенных к&nbsp;эмиссионным ценным бумагам
                      +e.close
                  +b.LI.whatIsBudget-publicDebt
                    +e.H3.title Бюджетные кредиты
                    +e.description._active
                      +e.P Государственные ценные бумаги могут быть выпущены в&nbsp;виде облигаций или иных ценных бумаг, отнесенных к&nbsp;эмиссионным ценным бумагам
                      +e.close
                  +b.LI.whatIsBudget-publicDebt
                    +e.H3.title Банковские кредиты
                    +e.description._active
                      +e.P Государственные ценные бумаги могут быть выпущены в&nbsp;виде облигаций или иных ценных бумаг, отнесенных к&nbsp;эмиссионным ценным бумагам
                      +e.close
                  +b.LI.whatIsBudget-publicDebt
                    +e.H3.title Государственные гарантии
                    +e.description._active
                      +e.P Государственные ценные бумаги могут быть выпущены в&nbsp;виде облигаций или иных ценных бумаг, отнесенных к&nbsp;эмиссионным ценным бумагам
                      +e.close

              +b.LI.whatIsBudget-financingOfDeficit
                +e.H2.title
                  | Государственный внешний долг
                  span.whatIsBudget-financingOfDeficit__line7
                +e.description Долговые обязательства, возникающие в&nbsp;иностранной валюте, за&nbsp;исключением обязательств в&nbsp;иностранной валюте в&nbsp;рамках использования целевых иностранных кредитов
                +b.UL.whatIsBudget-publicDebt.__wrapper
                  +b.LI.whatIsBudget-publicDebt
                    +e.H3.title Государственные ценные бумаги
                    +e.description._active
                      +e.P Государственные ценные бумаги могут быть выпущены в&nbsp;виде облигаций или иных ценных бумаг, отнесенных к&nbsp;эмиссионным ценным бумагам
                      +e.close
                  +b.LI.whatIsBudget-publicDebt
                    +e.H3.title Банковские кредиты
                    +e.description._active
                      +e.P Государственные ценные бумаги могут быть выпущены в&nbsp;виде облигаций или иных ценных бумаг, отнесенных к&nbsp;эмиссионным ценным бумагам
                      +e.close
          +b.whatIsBudget-expenditures.__wrapper.clearfix
            +e.classification Классификация расходов
            +e.H2(data-item='0').title По&nbsp;разделам и&nbsp;подразделам
            +e.H2(data-item='0').title-fake По&nbsp;разделам и&nbsp;подразделам
            +e.listWrapper
              +e.UL.list
                +e.LI.item
                  +e.H3.subtitle Общегосударственные вопросы
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Национальная безопасность и&nbsp;правоохранительная деятельность
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Общеэкономические вопросы
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Жилищно-коммунальное хозяйство
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close

              +e.UL.list
                +e.LI.item
                  +e.H3.subtitle Охрана окружающей среды
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Образование
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Культура, кинематография
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Физическая культура и&nbsp;спорт
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Здравоохранение
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Средства массовой информации
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Социальная политика
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close

              +e.UL.list
                +e.LI.item
                  +e.H3.subtitle Обслуживание государственного и&nbsp;муниципального долга
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Межбюджетные трансферты общего характера бюджетам бюджетной системы Российской Федерации
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
            +e.H2(data-item='1').title По&nbsp;видам
            +e.H2(data-item='1').title-fake По&nbsp;видам
            +e.listWrapper
              +e.UL.list
                +e.LI.item
                  +e.H3.subtitle Общегосударственные вопросы
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Национальная безопасность и&nbsp;правоохранительная деятельность
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Общеэкономические вопросы
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Жилищно-коммунальное хозяйство
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
              +e.UL.list
                +e.LI.item
                  +e.H3.subtitle Обслуживание государственного и&nbsp;муниципального долга
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Межбюджетные трансферты общего характера бюджетам бюджетной системы Российской Федерации
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
            +e.H2(data-item='2').title По&nbsp;программам
            +e.H2(data-item='2').title-fake По&nbsp;программам
            +e.listWrapper
              +e.UL.list
                +e.LI.item
                  +e.H3.subtitle Обслуживание государственного и&nbsp;муниципального долга
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
                +e.LI.item
                  +e.H3.subtitle Межбюджетные трансферты общего характера бюджетам бюджетной системы Российской Федерации
                  +e.description
                    +e.P Пример: расходы на&nbsp;обеспечение деятельности учреждений культуры
                    +e.close
