.open-fedbud_preza {
  display: block;

  .buttons-set {
    margin-bottom: 20px;

    &__item {
      &:last-child {
        .button-light {
          padding-right: 26px;
          padding-left: 26px;
        }
      }

      &:first-child {
        .button-light {
          padding-right: 26px;
          padding-left: 26px;
        }
      }

      .button-light {
        @media (max-width: 1024px) {
          font-size: 14px;
        }
      }
    }
  }

  .open-fedbud__title {
    text-transform: uppercase;
    font-size: 30px;
  }

  .open-fedbud__control-group * {
    @media (max-width: 1280px){
      display: block;
      margin-left: 0;
    }
  }
  
  .open-fedbud__control-group {
    @media screen and (max-width: 630px) {
      .buttons-set__item {
        width: 100%;
      }
    }
  }
}
