include ../services_gov_program/services_gov_program

mixin services_gov_program_subprogram()
  +gov_program-structure()
    +gov_program-subhead() Государственная программа города Москвы «Спорт Москвы» на 2012–2018 годы
    +gov_program-head('basketball-ball') Массовая физкультурно-спортивная работа
    +e.body
      +gov_program-description()
        +e.H4.title Описание программы
        +e.P.description Подпрограмма «Массовая физкультурно-спортивная работа» направленна на создание и обеспечение современной и доступной спортивной инфраструктуры, популяризацию спортивного образа жизни и привлечение жителей города Москвы к регулярным занятиям спортом.
        
      +e.content_one.__content-padding
        +gov_program-col-one()
      
      +gov-program-col-three().__content_three_border_top

    +gov_program-dropdowns()
