.news-page {
  display: block;
  background-image: url(../images/bg-news.jpg);
  background-size: 100% auto;
  background-position: center 0;
  background-color: #111940;
  padding-top: 207px;
  padding-bottom: 130px;
  
  @media(max-width: 900px) {
    background-size: 130% auto;
  }
  
  @media(max-width: 580px) {
    background-size: 180% auto;
  }

  &__card-wrapper {
    // height: 950px;
    overflow: hidden;
    margin-top: 34px;
  }

  &__header {
    position: relative;
  }

  &__subscribe.subscribe {
    margin-top: 60px;

    .wrap {
      padding: 0;
    }

    .subscribe__label {
      @media (max-width: 450px) {
        letter-spacing: 0.5px;
      }
    }
  }

  &__search-form {
    margin-top: 33px;
    margin-right: -20px;
  }

  &__content {
    margin-top: 71px;
  }

  .tile {
    margin: 0 -5px!important;
  }

  .tile__item {
    width: 25%;
    min-width: auto;
    margin-bottom: 55px;

    @media (max-width: 1140px) {
      width: calc(100%/3);
    }

    @media (max-width: 900px) {
      width: 50%;
    }

    @media (max-width: 580px) {
      width: 100%;
    }
  }

  .news {
    height: 420px;
    margin: 0 5px;
  }

  .news__category {
    @media (max-width: 640px) {
      padding: 0 7px;
      font-size: 13px;
      height: 20px;
      line-height: 22px;
      margin: 0 0 20px 20px;
    }
  }

  .news__title {
    @media (max-width: 640px) {
      font-size: 18px;
      margin: 0 19px;
    }
  }

  .news__bottom {
    @media (max-width: 640px) {
      padding: 0 0 15px 19px;
    }
  }

  .news__date,
  .news__tags {
    @media (max-width: 640px) {
      font-size: 13px;
    }
  }

  .news__tags {
    white-space: nowrap;
    overflow: hidden;

    a {
      margin-right: 15px;
    }
  }

  .news__abs {
    @media (max-width: 1140px) {
      left: -1px;
      right: -1px;
    }
  }

  .share__panel {
    line-height: 50px;

    @media (max-width: 640px) {
      line-height: 30px;
    }
  }

  &__show-more {
    margin: 42px auto 0;
    max-width: 690px;
  }

  &__buttons-set {
    display: table;
    border-collapse: collapse;
    border: 1px solid $color-yellow;
    
    @media(max-width: 900px) {
      width: 100%;
      min-height: 70px;
    }

    @media(max-width: 400px) {
      min-height: 40px;
    }

    & + .news-page__card-wrapper {
      margin-top: 34px;
    }

    &-button {
      display: table-cell;
      padding: 10px 40px;
      vertical-align: middle;
      font-size: 18px;
      line-height: 1em;
      font-weight: 500;
      text-transform: uppercase;
      white-space: normal;
      background: none;
      text-align: center;
      border: none;
      color: $color-white;
      text-decoration: none;
      transition: all .25s ease-in-out;

      @media (max-width: 900px) {
        padding: 0 20px;
        width: 28%;

        &:first-child {
          width: 16%;
        }
      }
      
      @media (max-width: 400px) {
        padding: 0 5px;
        font-size: 12px;
      }

      & + .news-page__buttons-set-button {
        border-left: 1px solid $color-yellow;
      }

      &:hover,
      &.active {
        background-color: $color-yellow;
        color: $color-black;
      }
    }
  }


  @media screen and (max-width: 1280px) {
    &__search-form {
      margin-top: 28px;
    }
  }

  @media screen and (max-width: 1180px) {
    &__subscribe {
      .wrap {
        margin: 0;
      }
    }

    &__show-more {
      margin: 27px auto 0;
    }
  }

  @media screen and (min-width: 701px) and (max-width: 1180px) {
    padding-top: 214px;
  }

  @media screen and (max-width: 992px) {
    .subscribe {
      position: static;
      margin-top: 31px;
    }
    &__search-form {
      margin-top: 23px;
    }
    &__content {
      margin-top: 41px;
    }
    &__card-wrapper {
      margin-top: 47px;
    }
  }

  @media screen and (max-width: 900px) {
    padding-bottom: 90px;
    &__show-more {
      margin: 13px auto 0;
    }
    &__search-form {
      .button {
        font-size: 14.5px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    padding-top: 105px;
  }

  @media screen and (max-width: 700px) {
    &__subscribe {
      .wrap {
        margin: 0 !important;
      }
    }
  }

  @media screen and (max-width: 639px) {
    padding-top: 85px;
    padding-bottom: 70px;
    &__search-form {
      margin-right: 0;
      margin-top: 33px;
    }
    &__content {
      margin-top: 36px;
    }
    &__card-wrapper {
      margin-top: 35px;
    }

    &__show-more {
      margin: -10px auto 0;
    }
  }

  @media screen and (max-width: 480px) {
    .news-page__card-wrapper {
      text-align: center;
    }
  }

  @media screen and (max-width: 450px) {

    &__content {
      margin-top: 12px;
    }
  }
}
