.news-page {
  display: block;
  background-image: url(../images/bg-news.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 207px;
  padding-bottom: 130px;
  
  &__header {
    position: relative;
    
    .page-header {
      display: inline-block;
    }
  }
  
  &__subscribe {
    position: absolute;
    right: 0;
    top: 25px;
  }
  
  &__search-form {
    margin-top: 33px;
    margin-right: -20px;
    .search {
      margin-right: 0;
    }
    .search .d-si__search {
      width: 830px;
      font-size: 18px;
      &::placeholder {
        color: rgba($color-white, .2);
        font-size: 18px;
      }
    }
    .search__search-line {
      margin-right: 12px;
    }
    .search .d-si__submit {
      top: 3px;
    }
    .search .extra-search__col_two {
      min-height: 272px;
    }
  }
  
  &__content {
    margin-top: 71px;
  }
  
  &__card-wrapper {
    margin-top: 34px;
    text-align: justify;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.000000001px;
    }
  }
  
  .tile__item {
    margin-bottom: 44px;
    width: 344px;
    text-align: left;
    float: none;
    display: inline-flex;
  }
  
  .news {
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    min-height: 485px;
  }
  
  &__show-more {
    margin: 42px auto 0;
    max-width: 690px;
  }
  
  @media screen and (max-width: 1280px) {
    &__search-form {
      margin-top: 28px;
      .search__filter {
        display: inline-block;
      }
      .search__search-line {
        width: calc(100% - 290px);
        display: inline-block;
      }
      .search .d-si__search {
        width: 100%;
        display: inline-block;
      }
    }
  }
  
  @media screen and (max-width: 1179px) {
    &__subscribe {
      top: 18px;
      .wrap {
        margin: 0;
      }
    }
    .tile__item {
      width: 302px;
    }
    &__show-more {
      margin: 27px auto 0;
    }
  }
  
  @media screen and (min-width: 701px) and (max-width: 1179px) {
    padding-top: 214px;
  }
  
  @media screen and (max-width: 992px) {
    &__subscribe {
      position: static;
      margin-top: 31px;
    }
    &__search-form {
      margin-top: 23px;
      .d-si__search-form {
        margin-top: 0;
      }
    }
    &__content {
      margin-top: 41px;
    }
    &__card-wrapper {
      margin-top: 47px;
    }
    .tile__item {
      &:nth-child(n+7) {
        display: none;
      }
    }
  }
  
  @media screen and (max-width: 900px) {
    padding-bottom: 90px;
    .tile__item {
      width: 276px !important;
      margin-bottom: 36px;
    }
    &__show-more {
      margin: 13px auto 0;
    }
  }
  
  @media screen and (max-width: 800px) {
    padding-top: 105px;
  }
  
  @media screen and (max-width: 700px) {
    .page-content-wrapper {
      margin-left: 40px !important;
      margin-right: 40px !important;
    }
    &__subscribe {
      .wrap {
        margin: 0 !important;
      }
    }
  }
  
  @media screen and (max-width: 650px) {
    .news {
      max-width: none;
    }
  }
}
