.news-page {
  display: block;
  background-image: url(../images/bg-news.jpg);
  background-size: cover;
  background-position: center 0;
  padding-top: 207px;
  padding-bottom: 130px;
  
  &__header {
    position: relative;
    
    .page-header {
      display: inline-block;
    }
  }
  
  &__subscribe {
    position: absolute;
    right: 0;
    top: 25px;

    .wrap {
      padding: 0;
    }
  }
  
  &__search-form {
    margin-top: 33px;
    margin-right: -20px;
    .search {
      margin-right: 0;
    }
    .search .d-si__search {
      width: 830px;
      font-size: 18px;
      &::placeholder {
        color: rgba($color-white, .2);
        font-size: 18px;
      }
    }
    .search__search-line {
      margin-right: 12px;
    }
    .search .d-si__submit {
      top: 3px;
    }
    .search .extra-search__col_two {
      min-height: 272px;
    }
    .btn-close {
      position: absolute;
      display: none;
      top: 10px;
      right: 10px;
    }
  }
  
  &__content {
    margin-top: 71px;
  }
  
  &__card-wrapper {
    margin-top: 34px;
    text-align: justify;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.000000001px;
    }
  }
  
  .tile__item {
    margin-bottom: 44px;
    width: 344px;
    text-align: left;
    float: none;
    display: inline-flex;
    opacity: 0;
    pointer-events: none;
    transition: all .25s ease-in-out;
    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }
  
  .news {
    position: relative;
    left: 0;
    right: 0;
    margin: 0;
    min-height: 485px;
  }
  
  &__show-more {
    margin: 42px auto 0;
    max-width: 690px;
  }
  
  &__buttons-set-wrapper {
    position: relative;
  }
  
  &__buttons-set-selected {
    display: none;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    text-transform: uppercase;
    line-height: 36px;
    padding: 0 12px;
    position: relative;
  }
  
  &__buttons-set-icon {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    transition: all .25s ease-in-out;
    svg {
      stroke: #000;
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  
  @media screen and (max-width: 1280px) {
    &__search-form {
      margin-top: 28px;
      .search__filter {
        display: inline-block;
      }
      .search__search-line {
        width: calc(100% - 290px);
        display: inline-block;
      }
      .search .d-si__search {
        width: 100%;
        display: inline-block;
      }
      .search .tags {
        width: 1067px;
      }
    }
  }
  
  @media screen and (max-width: 1179px) {
    &__subscribe {
      top: 18px;
      .wrap {
        margin: 0;
      }
    }
    .tile__item {
      width: 302px;
    }
    &__show-more {
      margin: 27px auto 0;
    }
    &__search-form {
      .search .tags {
        width: 900px;
      }
    }
  }
  
  @media screen and (min-width: 701px) and (max-width: 1179px) {
    padding-top: 214px;
  }
  
  @media screen and (max-width: 992px) {
    &__subscribe {
      position: static;
      margin-top: 31px;
    }
    &__search-form {
      margin-top: 23px;
      .d-si__search-form {
        margin-top: 0;
      }
      .search .tags {
        width: 580px;
      }
    }
    &__content {
      margin-top: 41px;
    }
    &__card-wrapper {
      margin-top: 47px;
      text-align: center;
    }
    .tile__item {
      &:nth-child(n+7) {
        display: none;
      }
    }
  }
  
  @media screen and (max-width: 900px) {
    padding-bottom: 90px;
    .tile__item {
      width: 276px !important;
      margin-bottom: 36px;
    }
    &__show-more {
      margin: 13px auto 0;
    }
    &__search-form {
      .button {
        font-size: 14.5px;
      }
    }
  }
  
  @media screen and (max-width: 800px) {
    padding-top: 105px;
  }
  
  @media screen and (max-width: 700px) {
    .page-content-wrapper {
      margin-left: 40px !important;
      margin-right: 40px !important;
    }
    &__subscribe {
      .wrap {
        margin: 0 !important;
      }
    }
    &__search-form {
      .search .extra-search {
        width: 538px;
      }
      .btn-close {
        display: block;
      }
      .button {
        line-height: normal;
        width: inherit;
        height: inherit;
        font-size: 14.5px;
      }
    }
  }
  
  @media screen and (max-width: 650px) {
    .news {
      max-width: none;
    }
  }
  
  @media screen and (max-width: 639px) {
    padding-top: 85px;
    padding-bottom: 70px;
    .page-content-wrapper {
      margin-left: 15px !important;
      margin-right: 15px !important;
    }
    .page-head__title {
      font-size: 52px;
    }
    &__subscribe {
      margin-top: 13px;
    }
    &__search-form {
      margin-right: 0;
      margin-top: 33px;
      .search__search-line {
        width: 100%;
        margin-right: 0;
      }
      .search .d-si__submit {
        right: 7px;
      }
      .search__filter {
        margin-top: 0;
        display: block;
        text-align: left;
      }
      .search .extra-search {
        width: 100%;
      }
      .search .tags {
        width: 100%;
      }
    }
    &__content {
      margin-top: 36px;
    }
    &__buttons-set-wrapper {
      margin-right: 63px;
      background-color: #fee300;
      border-radius: 2px;
      transition: all .25s ease-in-out;
      &.active {
        border-radius: 2px 2px 0 0;
        .news-page__buttons-set-icon {
          transform: rotate(180deg);
        }
      }
    }
    &__buttons-set-selected {
      display: block;
    }
    &__buttons-set {
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      z-index: 2;
      background-color: #fee300;
    }
    &__card-wrapper {
      margin-top: 35px;
    }
    .tile__item {
      width: 290px !important;
      &:nth-child(n+5) {
        display: none;
      }
    }
    &__show-more {
      margin: -10px auto 0;
    }
  }
  
  @media screen and (max-width: 450px) {
    &__search-form {
      .search .link_extra {
        transform: none;
      }
    }
  }
}
