.ml-0 {
  margin-left: 0 !important;
}

.budget-expenses {
  .wrapper {
    .segment-diagram {
      width: 270px;
      height: 270px;

      @media screen and (min-width: 769px) and (max-width: 1020px) {
        width: 220px;
        height: 220px;
      }
      @media screen and (min-width: 551px) and (max-width: 768px) {
        width: 270px;
        height: 270px;
      }
      @media screen and (max-width: 550px) {
        width: 216px;
        height: 216px;
      }
    }
  }
}

.analityc-widget_expenses {
  padding-bottom: 50px;

  .swiper-container {
    overflow: visible;
  }
  ._dp-alt.expenses__dp.active {
    display: inline-block;
  }

  .analityc-control-buttons {
    margin-top: 50px;
  }

  .analityc-control-switcher {
    margin-top: 44px;
    margin-left: 2.9%;

    @media (max-width: 900px) {
      margin-left: 0;
    }
  }

  .analityc-control-group._classify{
    margin-top: 25px;
  }

  .analityc-control-group._dp-alt {
    margin-top: 43px;
    margin-left: 2.9%;

    @media (width: 1024px) {
      width: calc(43.1% - 93px);
      margin-left: 0;
    }
  }

  .analityc-control-group._dp {
    display: inline-block;
    margin-top: 48px;
    margin-left: 2.9%;

    @media (width: 900px) {
      margin-left: 0;
    }
  }

  .analityc-graphics__legend {
    margin-top: 49px;
    margin-bottom: 6px;
  }

  .analityc-more {
    margin-top: 68px;
  }
  .analityc-graphics_round {
    padding-top: 102px;
  }

  .analityc-graphics_column {
    padding-top: 66px;

    .analityc-graphics__cols {
      padding-right: 56px;
    }

    .analityc-graphics__toptext {
      display: none;
    }
  }

  .analityc-graphics_singleround {
    padding-top: 102px;

    .analityc-graphics__cols {
      padding-bottom: 0;
    }
  }

  .analityc-graphics_line {
    padding-top: 51px;
  }

  .analityc-graphics__lines {
    margin-left: -10px;
  }

  .analityc-graphics, .analityc-table {
    display: none;
    &.active {
      display: block;
    }
  }

  .analityc-control-switcher_large,
  .analityc-control-switcher_big,
  .analityc-control-group._dp {
    display: none;
    &.active {
      display: inline-block;
    }
  }

  .analityc-graphics_done {
    .analityc-graphics__col {
      @media (max-width: 550px) {
        width: 100%;
      }
    }
  }
}


@media screen and (min-width: 1141px) {
  .analityc-widget_expenses {
    .analityc-graphics__line-title {
      width: 26%;
    }
  }
  .analityc-graphics__line-bar {
    width: 63.5%;
  }
}
@media screen and (max-width: 1140px) {
  .basic-budget .analityc-widget_expenses {
    margin-top: 21px;
  }
  .analityc-widget_expenses .analityc-graphics_column .analityc-graphics__cols {
    padding-right: 0;
  }
  .analityc-widget_expenses .analityc-graphics__lines {
    margin-left: 0;
  }
  .analityc-widget_expenses .analityc-graphics_singleround {
    padding-top: 70px;
  }
  .basic-budget .analityc-widget_expenses {
    padding-bottom: 50px;
  }
  .analityc-widget_expenses .analityc-control-buttons {
    margin-top: 30px;
  }
  .analityc-widget_expenses .analityc-control-switcher {
    margin-top: 26px;
  }
  .analityc-widget_expenses .analityc-control-group._classify {
    margin-top: 3px;
  }
  .analityc-widget_expenses .analityc-graphics_round {
    padding-top: 87px;
  }
  .analityc-widget_expenses .analityc-more {
    margin-top: 50px;
  }
  .analityc-widget_expenses .analityc-graphics_column {
    padding-top: 58px;
  }
  .analityc-widget_expenses .analityc-control-group._dp, .analityc-widget_expenses .analityc-control-group._dp-alt {
    margin-top: 27px;
    margin-left: 1.8%;
  }
  .analityc-widget_expenses .analityc-control-group._dp-alt {
    margin-top: 20px;
  }
  .analityc-widget_expenses .analityc-control-group._dp  {
    width: calc(43.1% - 87px);
  }
}

@media screen and (max-width: 1020px) {
  .analityc-widget_expenses .analityc-control-group._dp {
    width: calc(98% - 70px);
    margin-left: 0;
  }

  .analityc-widget_expenses .analityc-control-group._dp-alt {
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .analityc-widget_expenses .analityc-control-group._dp  {
    width: 100%;
  }
  .analityc-widget_expenses .analityc-control-group._classify {
    margin-top: 0;
  }

  .analityc-control-buttons + .analityc-control-switcher_large {
    width: inherit;
  }
}

// @media screen and (max-width: 760px) and (min-width: 551px) {
//   .analityc-widget_expenses div.analityc-graphics__graphic_column {
//     width: 100%;
//   }
// }

@media screen and (min-width: 581px) and (max-width: 768px) {
  .basic-budget .analityc-widget_expenses {
    padding: 30px 40px 40px;
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .analityc-widget_expenses .analityc-graphics_round {
    padding-top: 35px;
  }
  .analityc-widget_expenses .analityc-graphics_column {
    padding-top: 42px;
  }
  .analityc-widget_expenses .analityc-control-group._dp:before {
    top: 21px;
  }
  .analityc-widget_expenses .analityc-graphics__legend {
    margin-top: 56px;
    height: inherit;
  }
  .analityc-widget_expenses .analityc-more {
    margin-top: 25px;
  }
}

@media screen and (max-width: 550px) {
  .analityc-widget_expenses .analityc-control-group._dp:before {
    top: 5px;
  }
  .analityc-control-buttons + .analityc-control-switcher_large {
    width: 100%;
  }
  .analityc-widget_expenses .analityc-more {
    margin-top: 10px;
  }
  .analityc-widget_expenses .analityc-graphics_column {
    padding-top: 17px;
  }
  .analityc-widget_expenses .analityc-graphics__graphic_column {
    margin: 0 auto;
  }
  .analityc-widget_expenses .analityc-graphics_singleround {
    padding-top: 17px;
  }
  .analityc-widget_expenses .analityc-graphics_round {
    padding-top: 17px;
  }
  .analityc-widget_expenses .analityc-graphics__legend {
    margin-top: 23px;
  }
  .analityc-widget_expenses .analityc-widgethead .analityc-control-buttons {
    margin-top: 17px;
  }
}
