include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block

mixin budget_expenses()
  .main._basic
    section.basic-budget
      .wrapper
        +page-header('Расходы бюджета', false, true)

      .wrapper.wrapper_widget
        .analityc-widget.analityc-widget_expenses.load-anim-fade(data-delay="1500")
          +analityc-widgethead-expenses()
          +analityc-graphics-round('expenses1')._approved._targeted.active
          +analityc-graphics-round('expenses2')._approved._sections
          +analityc-graphics-round('expenses3')._approved._departments
          +analityc-graphics-round('expenses4')._approved._kinds
          +analityc-graphics-column('expenses5', true)._changes
          +analityc-table()._changes
            +table-expenses(getData('expenses1'))
          +analityc-graphics-singleround-alt('expenses5')._done
          +analityc-graphics-line('Исполнение расходов бюджета на 22.04.2017', getData('graphic-lines-expenses1'))._date-one
          +analityc-graphics-line('Исполнение расходов бюджета на 01.02.2017', getData('graphic-lines-expenses1'))._date-two
          a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
          p.analityc-bottomtip.active * Кроме того в плановом периоде учитываются 
            span условно утвержденные расходы 
              span.analityc-popup Под условно утверждаемыми (утвержденными) расходами понимаются не распределенные в&nbsp;плановом периоде в соответствии с&nbsp;классификацией расходов бюджетов бюджетные ассигнования.
            | на 2018 год в сумме 48,3 млрд рублей и на 2019 год в сумме 97,5 млрд рублей
      +dropdown().load-anim-fade(data-delay="1700")
