.analityc-widget_expenses {
  padding-bottom: 50px;
  
  .analityc-control-buttons {
    margin-top: 50px;
  }
  
  .analityc-control-switcher {
    margin-top: 44px;
    margin-left: 2.9%;
  }
  
  .analityc-control-group._classify {
    margin-top: 25px;
    margin-left: 2.9%;
    width: 42.5%;
  }
  
  .analityc-control-group._dp {
    display: inline-block;
    margin-top: 46px;
    margin-left: 2.9%;
  }
  
  .analityc-graphics__legend {
    margin-top: 49px;
  }
  
  .analityc-more {
    margin-top: 68px;
  }
  
  .analityc-graphics_round {
    padding-top: 102px;
  }
  
  .analityc-graphics_column {
    padding-top: 66px;
    
    .analityc-graphics__cols {
      padding-right: 56px;
    }
    
    .analityc-graphics__toptext {
      display: none;
    }
  }
  
  .analityc-graphics_singleround {
    padding-top: 102px;
    
    .analityc-graphics__cols {
      padding-bottom: 0;
    }
  }
  
  .analityc-graphics_line {
    padding-top: 51px;
  }
  
  .analityc-graphics__lines {
    margin-left: -10px;
  }
  
  .analityc-graphics, .analityc-table {
    display: none;
    &.active {
      display: block;
    }
  }
  
  .analityc-control-switcher_large,
  .analityc-control-switcher_big,
  .analityc-control-group._dp {
    display: none;
    &.active {
      display: inline-block;
    }
  }
}


@media screen and (min-width: 1141px) {
  .analityc-widget_expenses {
    .analityc-graphics__line-title {
      width: 26%;
    }
  }
  .analityc-graphics__line-bar {
    width: 63.5%;
  }
}

@media screen and (max-width: 1140px) {
  .analityc-widget_expenses .analityc-graphics_column .analityc-graphics__cols {
    padding-right: 0;
  }
  .analityc-widget_expenses .analityc-graphics__lines {
    margin-left: 0;
  }
  .analityc-widget_expenses .analityc-graphics_singleround {
    padding-top: 70px;
  }
  .basic-budget .analityc-widget_expenses {
    padding-bottom: 35px;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1140px) {
  .analityc-widget_expenses .analityc-control-group._classify {
    margin-top: 0;
    width: 48.5%;
  }
  .analityc-widget_expenses .analityc-control-group._dp {
    width: 37.4%;
  }
}

@media screen and (min-width: 761px) and (max-width: 1140px) {
  .analityc-widget_expenses .analityc-control-buttons {
    margin-top: 30px;
  }
  .analityc-widget_expenses .analityc-control-switcher {
    margin-top: 30px;
    margin-left: 2%;
  }
  .analityc-widget_expenses .analityc-graphics_round {
    padding-top: 70px;
  }
}

@media screen and (min-width: 761px) and (max-width: 1100px) {
  .analityc-widget_expenses .analityc-control-group._classify {
    display: block;
    margin-left: 0;
    width: 100%;
  }
  .analityc-widget_expenses .analityc-control-group._dp {
    width: calc(45.2% - 70px);
  }
}

@media screen and (max-width: 760px) {
  .analityc-widget_expenses .analityc-graphics_round {
    padding-top: 50px;
  }
  .analityc-widget_expenses .analityc-control-group._dp {
    width: 100%;
  }
  .analityc-widget_expenses input.datepicker {
    height: 58px;
    line-height: 58;
    font-size: 23px;
  }
  .analityc-widget_expenses .analityc-control-group._dp:before {
    top: 21px;
  }
}

@media screen and (max-width: 550px) {
  .analityc-widget_expenses input.datepicker {
    height: 42px;
    line-height: 42px;
    font-size: 13px;
  }
  .analityc-widget_expenses .analityc-control-group._dp:before {
    top: 11px;
  }
  .analityc-widget_expenses .analityc-graphics_round {
    padding-top: 30px;
  }
  .analityc-widget_expenses .analityc-more {
    margin-top: 20px;
  }
  .analityc-widget_expenses .analityc-graphics_column {
    padding-top: 30px;
  }
  .analityc-widget_expenses .analityc-graphics_singleround {
    padding-top: 30px;
  }
}