include ../page-header/page-header
include ../analityc-widgethead/analityc-widgethead
include ../analityc-graphics/analityc-graphics
include ../analityc-table/analityc-table
include ../../blocks/table/table
include ../../blocks/dropdown-block/dropdown-block

mixin budget_expenses()
  section.main._basic.basic-budget.sections__item.budget-expenses
    .wrapper-header
      +page-header('Расходы бюджета', ['Аналитика'], true)

    .wrapper
      .analityc-widget.analityc-widget_expenses.load-anim-fade(data-delay="1500")
        +analityc-widgethead-expenses()

        +analityc-graphics-round('expenses1')._approved._targeted.active(data-stage='approved', data-class='targeted')
        +analityc-graphics-round2('expenses2')._approved._sections(data-stage='approved', data-class='sections')
        +analityc-graphics-round3('expenses3')._approved._departments(data-stage='approved', data-class='departments')
        +analityc-graphics-round4('expenses4')._approved._kinds(data-stage='approved', data-class='kinds')

        +analityc-table-slider(100)._approved(data-stage='approved', data-class='all')
          +table-expenses(getData('moscow_expenses'))

        +analityc-graphics-column('expenses5', true)._changes(data-stage='changes', data-class='all')
        +analityc-table-slider(100)._changes(data-stage='changes', data-class='all')
          +table-expenses(getData('expenses1'))

        +analityc-graphics-singleround-alt('expenses5')._done(data-stage='done', data-class='all')
        +analityc-table()._done(data-stage='done', data-class='all')
          +table-expenses(getData('moscow_expenses2'))

        +analityc-graphics-line('Исполнение расходов бюджета на 22.04.2017', getData('graphic-lines-expenses1'))._date-one(data-stage='date', data-class='all')
        +analityc-table-slider(100, 'Исполнение доходов бюджета на 22.04.2017')._date(data-stage='date', data-class='all')
          +table-expenses(getData('sources'))

        +analityc-graphics-line('Исполнение расходов бюджета на 01.02.2017', getData('graphic-lines-expenses1'))._date-two(data-stage='dtwo')
        a(href="/").analityc-more Перейти в&nbsp;раздел аналитика
        p.analityc-bottomtip.active * Кроме того в плановом периоде учитываются 
          span условно утвержденные расходы 
            span.analityc-popup Под условно утверждаемыми (утвержденными) расходами понимаются не распределенные в&nbsp;плановом периоде в соответствии с&nbsp;классификацией расходов бюджетов бюджетные ассигнования.
          | на 2018 год в сумме 48,3 млрд рублей и на 2019 год в сумме 97,5 млрд рублей
    +dropdown().load-anim-fade(data-delay="1700")
