include ../../blocks/button/button
include ../../components/page-header/page-header
include ../../blocks/article-preview/article-preview
include ../../components/searchForm/searchForm

mixin search()
  +b.SECTION.search-page.sections__item&attributes(attributes)
    .wrapper.page-content-wrapper
      +page-header('Поиск').search__header
      +e.content.load-anim-fade(data-delay="2400")
        +e.search-field
          +searchForm("Конкурс бюджет для граждан")
        +e.found-title Найдено 9 результатов
        +e.found
          +e.events.search__item
            +e.A(href="#").article-title События
            +e.article
              +article-preview(getData('article-preview')[0])
          +e.news.search__item
            +e.A(href="#").article-title Новости
            +e.article
              +article-preview(getData('article-preview')[1])
              +article-preview(getData('article-preview')[1])
          +e.contests.search__item
            +e.A(href="#").article-title Конкурсы
            +e.article
              +article-preview(getData('article-preview')[2])
              +article-preview(getData('article-preview')[2])
              +article-preview(getData('article-preview')[2])
          +e.more-wrap
            +button()._kind_transparent.button-more Показать еще
