extends ../../layouts/default
include ../../components/feedback/feedback

block head
  - var pageTitle = 'Versta Project Template'

block page
  block header
    +header()

  block sections
    +sections().sections_feedback

      block content
        +feedback()
        +popup-wrapper()
        +footer()
        +button-top()
  
  script(src="assets/scripts/js2/jquery-3.1.1.min.js")
  script(src="assets/scripts/js2/library.js")
  script(src="assets/scripts/js2/header/easing.min.js")
  script(src="assets/scripts/js2/header/swipe.min.js")
  script(src="assets/scripts/js2/header/slick.min.js")
  script(src="assets/scripts/js2/header/jquery-ui.min.js")
  script(src="assets/scripts/js2/header/sections.min.js")
  script(src="assets/scripts/js2/header/cube.min.js")
  script(src="assets/scripts/js2/header/animation.min.js")
  script(src="assets/scripts/js2/header/label.min.js")
  script(src="assets/scripts/js2/header/select.min.js")
  script(src="assets/scripts/js2/header/popup.min.js")
  script(src="assets/scripts/js2/header/share.min.js")
  script(src="assets/scripts/js2/header/form.min.js")
  script(src="assets/scripts/js2/header/letter.min.js")
  script(src="assets/scripts/js2/header/common.min.js")
  script(src="assets/scripts/js2/header/diagram.min.js")
  script(src="assets/scripts/js2/script.js")
  script(src="assets/scripts/js2/owl.carousel.min.js")
  script(src="assets/scripts/js2/ez.js")
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCUaCNfcDZQL7nZK07DQmAHsEetCCMIQ5w")
  script(src="assets/scripts/CustomGoogleMapMarker.js")
  script.
    function initialize() {

      //Координаты маркеров
      var myLatlng1 = new google.maps.LatLng(59.957006, 30.341755);

      //Стили карты
      var styles = [];

      window.basiczoom = 12;

      //Настройки карты
      var mapOptions = {
        zoom: basiczoom,
        center: myLatlng1,
        disableDefaultUI: true,
        scrollwheel: false,
      }

      //карта
      var map = new google.maps.Map(document.getElementById('googlemap'), mapOptions);
      map.setOptions({styles: styles});

      //Кастомные маркеры
      overlay = new CustomMarker(
        myLatlng1,
        map,
        {
          marker_id: 'budget',
          title: 'Департамент финансов города Москвы'
        }
      );
    }
    
    google.maps.event.addDomListener(window, 'load', initialize);
