mixin budgetSystem()
  +b.budgetSystem&attributes(attributes)
    +e.head
      +e.head_name бюджетная система
      +e.head_icons
        +e.A(href="#").head_icons__item
        +e.A(href="#").head_icons__item
        +e.A(href="#").head_icons__item
    +e.descr
      | Основанная на экономических отношениях и юридических нормах совокупность федерального бюджета,
      | федеральных внебюджетных фондов, бюджетов субъектов РФ и территориальных фондов обязательного
      | медицинского страхования, а также бюджетов муниципальных образований.
    +b.UL.d-abs__nav._plates
      - for (var i = 0, i < 7, i++)
        +b.LI.abs-box
          a
            +b.SPAN.js-abs-btn
              +e.I.d-abs__nav_ico
            +b.puzzle-inner
              strong Консолидированный бюджет российской федерации
              p  
                | Федеральный бюджет и свод консолидированных бюджетов субъектов Российской Федерации 
                | (без учета межбюджетных трансфертов между этими бюджетами) образуют консолидированный бюджет Российской Федерации.
              +e.btn.btn-close.js-abs-close
            +e.overlay.js-abs-close
        
