.news {
  &_big {
    .news__thumb {
      height: 190px;
    }
    .news__category {
      height: 26px;
      line-height: 26px;
      font-size: 15px;
      margin: 0 0 24px 22px;
    }
    .news__title {
      font-size: 22px;
      margin: 0 23px;
    }
    .news__bottom {
      padding: 0 0 19px 23px;
    }
    .news__tags {
      font-size: 16px;
      white-space: nowrap;
      a {
        margin-right: 10px;
      }
    }
    .news__date {
      font-size: 16px;
      margin-bottom: 8px;
    }
    .share__panel {
      z-index: 2;
    }

    @media screen and (max-width: 650px) {
      .news__category {
        padding: 0 8px;
      }
    }
  }
  &.news_big .share__btn {
    width: 60px;
    height: 60px;
  }

  &_events {
    min-height: 248px;
    padding-bottom: 30px;

    .news__thumb {
      height: 134px;
    }

    .news__title {
      font-size: 16px;
      margin: 19px 20px 0;
    }

    .news__bottom {
      padding: 0 0 10px 19px;
    }

    .news__date {
      font-size: 14px;
    }
  }

  &_photo {
    min-height: 497px;
    padding-bottom: 50px;

    @media (max-width: 900px) {
      min-height: 497px;
      height: 497px;
    }

    .news__thumb {
      height: 296px;

      @media screen and (max-width: 900px) {
        height: 296px;
      }
    }

    .news__name {
      font-size: 20px;
      margin: 13px 75px 0 20px;
    }

    .news__position {
      font-size: 14px;
      font-weight: 300;
      margin: 3px 5px 0 20px;
      line-height: 20px;
    }

    .news__bottom {
      padding: 0 0 22px 19px;
    }
  }

  &_material {
    min-height: 247px;
    padding-bottom: 0;

    .news__thumb {
      height: 100%;
    }

    .news__bottom {
      background-color: rgba(23, 24, 50, .8);
      padding: 13px 17px 16px 19px;
    }

    .news__title, .news__date {
      opacity: .5;
      color: $color-white;
    }

    .news__title {
      margin: 0;
      font-weight: 400;
      margin-bottom: 6px;
      font-size: 16px;
    }

    .news__date {
      margin-bottom: 3px;
    }
  }
}

.short-newscard {
  display: block;
  background-color: #f3f3f3;
  padding: 0 22px 27px;
  &__category {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 7px 3px;
    transition: all .25s ease-in-out;
  }
  &__date {
    font-size: 16px;
    color: #000;
    opacity: .6;
    margin-top: 15px;
  }
  &__title {
    display: block;
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    margin-top: 9px;
    transition: all .25s ease-in-out;
  }
  &_blue {
    .short-newscard__category {
      background-color: #137bd7;
      border: 1px solid #137bd7;
      &:hover {
        background-color: #fff;
        color: #137bd7;
      }
    }
    .short-newscard__title {
      &:hover {
        color: #137bd7;
      }
    }
  }
  &_pink {
    .short-newscard__category {
      background-color: #eb6066;
      border: 1px solid #eb6066;
      &:hover {
        background-color: #fff;
        color: #eb6066;
      }
    }
    .short-newscard__title {
      &:hover {
        color: #eb6066;
      }
    }
  }
  &_green {
    .short-newscard__category {
      background-color: #4fb55f;
      border: 1px solid #4fb55f;
      &:hover {
        background-color: #fff;
        color: #4fb55f;
      }
    }
    .short-newscard__title {
      &:hover {
        color: #4fb55f;
      }
    }
  }
}
