.news {
  &_big {
    .news__thumb {
      height: 190px;
    }
    .news__category {
      height: 26px;
      line-height: 26px;
      font-size: 15px;
      margin: 0 0 24px 22px;
    }
    .news__title {
      font-size: 22px;
      margin: 0 23px;
    }
    .news__bottom {
      padding: 0 0 19px 23px;
    }
    .news__tags {
      font-size: 16px;
      white-space: nowrap;
      a {
        margin-right: 10px;
      }
    }
    .news__date {
      font-size: 16px;
      margin-bottom: 8px;
    }
    .share__panel {
      z-index: 2;
    }

    @media screen and (max-width: 650px) {
      .news__category {
        padding: 0 8px;
      }
    }
  }
  &.news_big .share__btn {
    width: 60px;
    height: 60px;
  }

  &_events {
    min-height: 248px;
    padding-bottom: 30px;

    .news__thumb {
      height: 134px;
    }

    .news__title {
      font-size: 16px;
      margin: 19px 20px 0;
    }

    .news__bottom {
      padding: 0 0 10px 19px;
    }

    .news__date {
      font-size: 14px;
    }
  }

  &_photo {
    min-height: 497px;
    padding-bottom: 50px;

    @media (max-width: 900px) {
      min-height: 497px;
      height: 497px;
    }

    .news__thumb {
      height: 296px;

      @media screen and (max-width: 900px) {
        height: 296px;
      }
    }

    .news__name {
      font-size: 20px;
      margin: 13px 75px 0 20px;
    }

    .news__position {
      font-size: 14px;
      font-weight: 300;
      margin: 3px 5px 0 20px;
      line-height: 20px;
    }

    .news__bottom {
      padding: 0 0 22px 19px;
    }
  }

  &_material {
    min-height: 247px;
    padding-bottom: 0;

    .news__thumb {
      height: 100%;
    }

    .news__bottom {
      background-color: rgba(23, 24, 50, .8);
      padding: 13px 17px 16px 19px;
    }

    .news__title, .news__date {
      opacity: .5;
      color: $color-white;
    }

    .news__title {
      margin: 0;
      font-weight: 400;
      margin-bottom: 6px;
      font-size: 16px;
    }

    .news__date {
      margin-bottom: 3px;
    }
  }

  &_dropdown {


    .news {

      &__thumb {
        height: 130px;
      }

      &__title {
        font-size: 16px;
        @media (max-width: 649px) {
          font-size: 14px;
        }
      }

      &__date {
        font-size: 14px;

        @media (max-width: 650px) {
          font-size: 9px;
        }
      }

      &__tags {
        font-size: 13px;

        @media (max-width: 650px) {
          font-size: 9px;
        }

        @media (max-height: 610px) and (max-width: 900px) {
          font-size: 9px;
        }
      }

      .share__btn {
        width: 50px;
        height: 50px;

        @media (max-height: 610px) and (max-width: 900px) and (min-height: 500px) {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }

        @media (max-height: 610px) and (max-width: 900px) {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }

        @media (max-width: 650px) {
          width: 30px;
          height: 30px;
          line-height: 30px;
        }
      }

      .share__panel {
        height: 48px;
      }
    }
  }
}
