.news {
  &_big {
    .news__thumb {
      height: 190px;
    }
    .news__category {
      height: 26px;
      line-height: 26px;
      font-size: 15px;
      margin: 0 0 24px 22px;
    }
    .news__title {
      font-size: 22px;
      margin: 0 23px;
    }
    .news__bottom {
      padding: 0 0 19px 23px;
    }
    .news__tags {
      font-size: 16px;
      white-space: nowrap;
      a {
        margin-right: 10px;
      }
    }
    .news__date {
      font-size: 16px;
      margin-bottom: 8px;
    }
    .share__panel {
      z-index: 2;
    }

    @media screen and (max-width: 650px) {
      .news__category {
        padding: 0 8px;
      }
    }
  }
  &.news_big .share__btn {
    width: 60px;
    height: 60px;
  }

  &_events {
    min-height: 248px;
    padding-bottom: 30px;

    .news__thumb {
      height: 134px;
    }

    .news__title {
      font-size: 16px;
      margin: 19px 20px 0;
    }
  }

  .news__bottom {
    padding: 0 0 10px 19px;
  }

  .news__date {
    font-size: 14px;
  }
}
