
mixin documents()
  +b.documents&attributes(attributes)
    +b.sections
      +e.item._first.sections-budget__
        +e.bg
        .over-layer
          +b.wrap._sh
            +b.ahead
              +e.H1(data-delay='1300').title.load-anim-fade Документы
              +e.buttons
                +e.DIV(data-delay='1800').star.load-anim-fade
                  +e.A(href='#', title='Добавить в избранное')
                +e.DIV(data-delay='2100').share.load-anim-fade
                  +e.BUTTON.share-btn.share__btn
                  +b.share.__panel
                    +e.A(tabindex='0').a._fb
                    +e.A(tabindex='0').a._vk
                    +e.A(tabindex='0').a._tw
                    +e.A(tabindex='0').a._ok
            +b.FORM(action='f.php', method='POST').form.mb-50
              .float-l.md-float-n
                +e.field._d1
                  +e.LABEL(for='i-doc-1').label Наименование документа
                  +e.INPUT(id='i-doc-1', type='text', value='').text
                +e.field._d1
                  +e.LABEL(for='i-doc-2').label Номер документа
                  +e.INPUT(id='i-doc-2', type='text', value='').text
              .float-r.md-float-n
                +e.field._d2
                  +e.LABEL.label Вид документа
                  +e.select._w1
                    +e.BUTTON.select-btn Нормативно-правовые акты г. Москвы
                    +e.UL.select-drop
                      +e.LI
                        +e.A(href='#').select-a Нормативно-правовые акты г. Москвы
                      +e.LI
                        +e.A(href='#').select-a Правовые акты г. Москвы
                      +e.LI
                        +e.A(href='#').select-a Акты г. Москвы
                    +e.INPUT(type='hidden', name='docs', value='').select-input
                +e.field._d2
                  +e.LABEL.label Формат документа
                  +e.select
                    +e.BUTTON.select-btn DOC
                    +e.UL.select-drop
                      +e.LI
                        +e.A(href='#').select-a DOC
                      +e.LI
                        +e.A(href='#').select-a PDF
                      +e.LI
                        +e.A(href='#').select-a XLS
                    +e.INPUT(type='hidden', name='type', value='').select-input
              .clearfix
                +e.field._d3.float-l.sm-float-n.mr-50
                  +e.LABEL.label._w1 Дата публикации
                  +e.date-range
                    +e.INPUT(type='text', value='дд.мм.гг').date-range-input.jq-f-datepicker.input-min
                    +e.SPAN.date-range-sep —
                    +e.INPUT(type='text', value='дд.мм.гг').date-range-input.jq-f-datepicker.input-max
                    +e.SPAN.date-range-icon
                +e.field._d4.float-l.md-float-r.sm-float-n
                  +e.LABEL.label._w3 Дата документа
                  +e.date-range
                    +e.INPUT(type='text', value='дд.мм.гг').date-range-input.jq-f-datepicker.input-min
                    +e.SPAN.date-range-sep —
                    +e.INPUT(type='text', value='дд.мм.гг').date-range-input.jq-f-datepicker.input-max
                    +e.SPAN.date-range-icon
              +e.INPUT(type='submit', value='Искать').submit
            +b.sort.mb-30
              +e.SPAN.capt Сортировать по:
              +e.A(href='#').a Дате публикации
              +e.A(href='#').a Дате документа
          +b.tile._sh.mb-30
            +e.item
              +e.inner.document__
                +e.date 26.09.2016
                +e.tit-wrap
                  +e.A(href='#').title Приказ Департамента финансов города Москвы от 17.09.2014 г. №130
                +e.P.excerpt В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"
                +e.bottom
                  +e.A(href='#1').dwnl Скачать (DOCX, 957,55 Кб)
                  +e.A(href='#').star._cur
                +e.SPAN.bg._t
                +e.SPAN.bg._r
                +e.SPAN.cr
            +e.item
              +e.inner.document__
                +e.date 26.09.2016
                +e.tit-wrap
                  +e.A(href='#3').title Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ
                +e.P.excerpt В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)
                +e.bottom
                  +e.A(href='#4').dwnl Скачать (DOCX, 957,55 Кб)
                  +e.A(href='#').star
                +e.SPAN.bg._t
                +e.SPAN.bg._r
                +e.SPAN.cr
            +e.item
              +e.inner.document__
                +e.date 26.09.2016
                +e.tit-wrap
                  +e.A(href='#').title Приказ Департамента финансов города Москвы от 17.09.2014 г. №130
                +e.P.excerpt В документе представлен Приказ Департамента финансов города Москвы от 17.09.2014 г. № 130 "Об утверждении перечней ответственных структурных подразделений Департамента финансов города Москвы"
                +e.bottom
                  +e.A(href='#1').dwnl Скачать (DOCX, 957,55 Кб)
                  +e.A(href='#').star._cur
                +e.SPAN.bg._t
                +e.SPAN.bg._r
                +e.SPAN.cr
            +e.item.md-display-n.sm-display-b
              +e.inner.document__
                +e.date 26.09.2016
                +e.tit-wrap
                  +e.A(href='#3').title Бюджетный кодекс Российской Федерации от 31.07.1998 г. № 145-ФЗ
                +e.P.excerpt В документе представлен "Бюджетный кодекс Российской Федерации" от 31.07.1998 N 145-ФЗ (ред. от 26.12.2014) (с изм. и доп., вступ. в силу с 01.01.2015)
                +e.bottom
                  +e.A(href='#4').dwnl Скачать (DOCX, 957,55 Кб)
                  +e.A(href='#').star
                +e.SPAN.bg._t
                +e.SPAN.bg._r
                +e.SPAN.cr
          +b.wrap._sh
            +b.more
              +e.A(href='#').a Показать еще



