include ../page-header/page-header
include ../../components/documents-cards/documents-cards

mixin documents()
  //- +b.documents&attributes(attributes)
  //- .sections__
  section.documents-page.sections__item.sections__item_first.sections-budget
    .sections-budget__bg
    .over-layer
      .wrap
        .ahead
          +page-header('Документы', ['О бюджете'])

        FORM(action='f.php', method='POST', data-delay="1500").form.mb-50.js-enterform.load-anim-fade
          .float-l.md-float-n
            .form__field.form__field_d1
              LABEL(for='i-doc-1').form__label Наименование документа
              INPUT(id='i-doc-1', type='text', value='').form__text
            .form__field.form__field_d1
              LABEL(for='i-doc-2').form__label Номер документа
              INPUT(id='i-doc-2', type='text', value='').form__text
          .float-r.md-float-n
            .form__field.form__field_d2
              LABEL.form__label.form__label_type Вид документа
              .form__select.form__select_w1
                BUTTON.form__select-btn Нормативно-правовые акты г. Москвы
                UL.form__select-drop
                  LI
                    A(href='#').form__select-a Нормативно-правовые акты г. Москвы
                  LI
                    A(href='#').form__select-a Правовые акты г. Москвы
                  LI
                    A(href='#').form__select-a Акты г. Москвы
                .INPUT(type='hidden', name='docs', value='').form__select-input
            .form__field.form__field_d2
              LABEL.form__label.form__label_format Формат документа
              .form__select
                BUTTON.form__select-btn DOC
                UL.form__select-drop
                  LI
                    A(href='#').form__select-a DOC
                  LI
                    A(href='#').form__select-a PDF
                  LI
                    A(href='#').form__select-a XLS
                  LI
                    A(href='#').form__select-a DOC
                  LI
                    A(href='#').form__select-a PDF
                  LI
                    A(href='#').form__select-a XLS
                  LI
                    A(href='#').form__select-a DOC
                  LI
                    A(href='#').form__select-a PDF
                  LI
                    A(href='#').form__select-a XLS
                INPUT(type='hidden', name='type', value='').form__select-input
          .clearfix
            .form__field.form__field_d3.float-l.sm-float-n.mr-50
              LABEL.form__label.form__label_w1 Дата публикации
              .form__date-range(id='rid-0')
                INPUT(type='text', value='дд.мм.гг', readonly).form__date-range-input.jq-f-datepicker.input-min
                SPAN.form__date-range-sep —
                INPUT(type='text', value='дд.мм.гг', readonly).form__date-range-input.jq-f-datepicker.input-max
                SPAN.form__date-range-icon
            .form__field.form__field_d4.float-l.md-float-r.sm-float-n
              LABEL.form__label.form__label_w3 Дата документа
              .form__date-range(id='rid-1')
                INPUT(type='text', value='дд.мм.гг', readonly).form__date-range-input.jq-f-datepicker.input-min
                SPAN.form__date-range-sep —
                INPUT(type='text', value='дд.мм.гг', readonly).form__date-range-input.jq-f-datepicker.input-max
                SPAN.form__date-range-icon
          INPUT(type='submit', value='Искать').form__submit
        .sort.mb-30.load-anim-fade(data-delay="1500")
          SPAN.sort__capt Сортировать по:
          A(href='#').sort__a Дате публикации
          A(href='#').sort__a.sort__a_act Дате документа

      .wrap.load-anim-fade(data-delay="1500")
        +documents-cards-documents()._page.mb-30

      .wrap.load-anim-fade(data-delay="1500")
        .more
          A(href='#').more__a Показать еще
