include ../page-header/page-header
include ../../blocks/icon/icons
include ../../blocks/button/button
include ../../blocks/link/link
include ../../blocks/selectbox/selectbox
include ../searchForm/searchForm
include ../../blocks/link/link
include ../../blocks/button/button
include ../../blocks/slide-arrows/slide-arrows

mixin open-file()

  mixin row(title, about, date, isActive)
    - var active = isActive ? "_active" : "";
    +e(class='row'+active)
      +e.col._left
        +e.row-wrap
          +e.row-title= title
          +e.row-controls
            +e.BUTTON.row-description.open-file__row-control описание
            +selectbox('select', [{"val":"opt1", "text":"Скачать"}, {"val":"opt2", "text":"Другое"}]).open-file__row-control
            +selectbox('select', [{"val":"opt1", "text":"Паспорт"}, {"val":"opt2", "text":"Другое"}]).open-file__row-control
        +e.row-about= about 
      +e.col._right
        +e.row-date= date


  +b.SECTION.open-file.sections__item&attributes(attributes)
    .wrapper.page-content-wrapper
      +e.head
        +page-header('Открытые данные', ['Открытость'])
        +e.search-form.load-anim-fade(data-delay="1500")
          +searchFormOpen('Закон о бюджете. Доходы')

      // content
      +e.content.load-anim-fade(data-delay="1500")
        .analityc-table
          +slide-arrows().__slide-arrows
          +e(data-offset='100').table-wrap.analityc-table__wrapper
            +e.table

              +e.rows.open-file__caption
                +e.H3.col._left Наименование
                +e.H3.col._right Дата последнего обновления

              +e.rows.open-file__sort
                +e.A(href='#').col._left 
                  +e.SPAN.sort-field._dec По алфавиту А-Я
                +e.A(href='#').col._right 
                  +e.SPAN.sort-field._dec По дате

              +e.rows.open-file__main
    
                +row("Закон о бюджете. Ведомственная структура расходов", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Закон о бюджете. Доходы", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Закон о бюджете. Доходы", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Государственный долг", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Закон о бюджете. Ведомственная структура расходов", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Закон о бюджете. Доходы", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Государственный долг", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Закон о бюджете. Ведомственная структура расходов", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Закон о бюджете. Доходы", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Государственный долг", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Закон о бюджете. Ведомственная структура расходов", "Информация о Законе о бюджете.", "12.06.2015")
      
                +row("Закон о бюджете. Доходы", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Государственный долг", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Закон о бюджете. Ведомственная структура расходов", "Информация о Законе о бюджете.", "12.06.2015")
                +row("Закон о бюджете. Доходы", "Информация о Законе о бюджете.", "12.06.2015")

        +e.A(href="#").show-more.d-si__button_show-more Показать еще
      
        +e.links
          +link().open-file__link-about
            | что такое открытые данные?
            +icon('right-arrow').icon

          +link().open-file__link-terms
            | условия использования
            +icon('right-arrow').icon

        +e.get
          +button()._kind_yellow
            | запросить открытые данные

      // popups
      +e.popups

        +e.popup._terms
          +e.popup-head
            +e.H3.popup-title Условия использования
            +icon('icon-cross').popup-close
          +e.popup-content
            +e.P.popup-text Портал «Открытый бюджет Москвы» является официальным порталом правительства города Москвы. Все материалы портала являются открытыми данными, в соответствии с требованием постановления Правительства РФ N 583 от 10 июля 2013 г., и могут быть воспроизведены в любых средствах массовой информации винформационно–телекоммуникационной сети Интернет или на любых иных носителях без каких-либо ограничений по объему и срокам публикации. Это разрешение распространяется на газеты, журналы, радиостанции, телеканалы, сайты и страницы сети Интернет.
            +e.P.popup-text._bold Используя наборы данных, Пользователь подтверждает свое согласие с нижеследующим:
            +e.UL.popup-list
              +e.LI.popup-item предоставление и использование набора данных подпадает под действие Федерального закона «Об обеспечении доступа к информации о деятельности государственных органов и органов местного самоуправления» (№8-ФЗ от 09 февраля 2009 г.);
              +e.LI.popup-item условия использования набора данных не предполагают обязательного заключения коммерческого договора в какой-либо форме с органом государственной власти, предоставляющим набор данных;
              +e.LI.popup-item условия использования набора данных не предполагают ограничений использования набора данных в  некоммерческих и коммерческих целях;
              +e.LI.popup-item пользователи, получившие набор данных, вправе копировать, публиковать, распространять и передавать набор данных третьим лицам, адаптировать, объединять набор данных с другими наборами данных, а также использовать набор данных в собственных приложениях.
            +e.P.popup-text._small Пользователь портала «Открытый бюджет города Москвы» должен предоставлять информацию об источнике набора данных в случаях, когда он публично демонстрирует эти данные. Разработчик программы или приложения, использующего набор данных, должен указывать в публично распространяемом приложении источник получения набора данных.

        +e.popup._about
          +e.popup-head
            +e.H3.popup-title Что такое открытые данные?
            +icon('icon-cross').popup-close
          +e.popup-content
            +e.P.popup-text
              +e.SPAN.popup-termin Открытые данные
              |  – это информация, которую можно автоматически обработать (без предварительного изменения человеком) для повторного использования и свободно использовать в любых целях любыми лицами независимо от формы ее размещения (в соответствии с текущим законодательством).
            +e.P.popup-text Иными словами, это информация, создаваемая Департаментом финансов города Москвы и публикуемая в виде машиночитаемых форматов. Примерами таких форматов могут служить: CSV, XML и другие.
            +e.P.popup-text._small Основными потребителями служат разработчики приложений и сервисов, данные как исходный материал для своих разработок, а также журналисты и другие заинтересованные лица, которые могут делать глубокие социально-экономические, научные исследования на основе «сырых» данных.
            +e.P.popup-text._small Целью раскрытия данных и их публикации в машиночитаемых форматах и есть облегчение к ним доступа и создание приложений, проведения исследований на их основе.

        +e.popup._request
          +e.popup-head
            +e.H3.popup-title Запросить открытые данные
            +icon('icon-cross').popup-close
          +e.popup-content
            +e.P.popup-text В случае, если Вам нужны какие-либо данные, но Вы не нашли их на Портале, Вы можете направить запрос на их добавление. Запрос будет рассмотрен в Департаменте финансов города Москвы. После принятия решения о раскрытии данных они будут размещены на нашем Портале.
            
            
            form(action='#', id='d-sii__form').d-sii__form

              fieldset.d-sii__form_question
                +e.LEGEND Пожалуйста, представьтесь
                +e.field
                  +e.LABEL ФИО
                  +e.INPUT(type='text' name='')
                +e.field
                  +e.LABEL Электронная почта
                  +e.INPUT(type='text' name='')

              fieldset.d-sii__form_question
                +e.LEGEND Ваша деятельность
                +e.field
                  +e.LABEL Категория
                  +selectbox('select', [{'val': 'opt1', 'text': 'Общественные организации'}, {'val': 'opt2', 'text': 'Другое'}])
                +e.field
                  +e.LABEL Место работы
                  +e.INPUT(type='text' name='')
                +e.field
                  +e.LABEL Должность
                  +e.INPUT(type='text' name='')

              fieldset.d-sii__form_question
                +e.LEGEND Какие данные вы хотели бы получить?
                +e.field
                  +e.LABEL Наименование
                  +e.INPUT(type='text' name='')
                +e.field
                  +e.LABEL Описание
                  +e.INPUT(type='text' name='')

              fieldset.d-sii__form_question.d-sii__form_nowrap
                legend Сталкивались ли вы ранее с проблемой доступа к этим данным?
                +e.field
                  input(name='d-sq_radio', type='radio', id='d-rad-f').d-sq_radio
                  label(for='d-rad-f') Да
                +e.field
                  input(name='d-sq_radio', type='radio', id='d-rad-s').d-sq_radio
                  label(for='d-rad-s') Нет
              
              fieldset.d-sii__form_question.d-sii__form_nowrap
                legend В каких целях вы хотели бы использовать данные?
                +e.field
                  input(type='checkbox', id='d-sii__chbox-s-first').d-sii__chbox
                  label(for='d-sii__chbox-s-first') В бизнесе
                +e.field
                  input(type='checkbox', id='d-sii__chbox-s-second').d-sii__chbox
                  label(for='d-sii__chbox-s-second') В личных целях
                +e.field
                  input(type='checkbox', id='d-sii__chbox-s-third').d-sii__chbox
                  label(for='d-sii__chbox-s-third') В общественной работе
                +e.field
                  input(type='checkbox', id='d-sii__chbox-s-forth').d-sii__chbox
                  label(for='d-sii__chbox-s-forth') Для исследовательской деятельности
                +e.field
                  input(type='checkbox', id='d-sii__chbox-s-fifth').d-sii__chbox
                  label(for='d-sii__chbox-s-fifth') Другое

              +e.popup-submit
                +button(true)._kind_yellow
                  | Отправить
