.open-file {
  display: block;

  .analityc-widget_open {
    padding-top: 33px;
    padding-bottom: 96px;
    margin-top: 48px;
    margin-bottom: 0 !important;
  }

  .wrapper {
    padding-bottom: 149px;

    @media screen and (max-width: 900px) {
      padding-bottom: 100px;
    }
  }

  .d-smr__add-char, .analityc-widgethead__search {
    width: 45%;
  }

  .d-smr__add-char {
    margin-top: 17px;

    &-block {
      width: 100%;
    }

    &-label::after {
      top: 14px;
      right: 10px;
    }
  }

  .analityc-widgethead {
    margin-bottom: 34px;

    @media screen and (max-width: 760px) {
      padding-bottom: 0;
    }

    &__search {
      margin-right: 18px;
    }

    .link {
      font-size: 14px;
      font-weight: 400;
      margin-right: 17px;
      vertical-align: middle;

      &:last-child {
        letter-spacing: 0.1px;
      }
    }
  }

  &__cols {
    width: 100%;
  }

  &__col {
    display: inline-block;
    vertical-align: top;

    &_one {
      width: 71.7%;
    }

    &_two {
      width: 28.3%;
    }
  }

// левая колонка start
  .analityc-control-group {
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }

    * {
      display: inline-block;
      vertical-align: middle;
    }

    & + .analityc-control-group {
      margin-left: 0;
    }

    &__text {
      font-size: 16px;
      font-weight: 400;
      font-family: $PFDinTextPro;
      margin-right: 41px;
      min-width: 372px;
    }

    &__icon {
      width: 28px;
      height: 28px;
      fill: $color-link;
      margin-right: 19px;
    }

    .link, .analityc-select {
      width: 100px;
      height: 32px;
      box-sizing: border-box;
    }

    .analityc-select {
      margin-top: 0;
      background-position: 89% 13px;

      &_dir {
        @media screen and (max-width: 760px) and (min-width: 320px) {
          font-size: 14px;
          letter-spacing: normal;
          background-size: 9px !important;
          background: #f5f5f5 url(../images/select-ar.svg) 89% 13px no-repeat
        }
      }
    }
  }

 // левая колонка end

  &__show-more.d-si__button {
    border: 1px solid #959595;
    color: $color-link;
    margin-top: 43px;
    width: 90.6%;

    &:hover {
      color: $color-black;
    }
  }

  .alternative-link {
    margin-bottom: 3px;
  }
}


@media (max-width: 1140px) and (min-width: 900px) {
  .open-file {

    .d-smr__add-char-label {
      height: 29px;
      line-height: 30px;
      font-size: 14px;
      padding: 0 11px;

      &::after {
        top: 12px;
        right: 16px;
        border-top: 5px solid #0d46a1 !important;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: none !important;
      }
    }

    .analityc-widgethead {

      &__search {
        width: 100%;
        margin-bottom: 8px;
      }
    }

    &__col {

      &_one {
        width: 100%;
      }

      &_two {
        width: 100%;
        margin-top: 30px;
        text-align: center;
      }
    }

    .analityc-control-group {
      display: block;

      @include clearfix;

      .link, .analityc-select {
        float: right;
      }

      &__text {
        margin-right: 3px;
        min-width: initial;
      }

      .link {
        margin-right: 20px;
      }
    }

    &__show-more.d-si__button {
      width: 100%;
    }

    .alternative-link {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (min-width: 850px) and (max-width: 901px) {
  .open-file {

    .d-smr__add-char-label {
      height: 29px;
      line-height: 30px;
      font-size: 14px;
      padding: 0 11px;

      &::after {
        top: 12px;
        right: 16px;
        border-top: 5px solid #0d46a1 !important;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: none !important;
      }
    }

    .analityc-widgethead {

      &__search {
        width: 100%;
        margin-bottom: 8px;
      }
    }

    .analityc-control-group {
      &__text {
        margin-right: 3px;
        min-width: initial;
      }
    }

    &__col {

      &_one {
        width: 100%;
      }

      &_two {
        width: 100%;
        margin-top: 30px;
        text-align: center;
      }
    }

    .d-smr__add-char-label {
      height: 29px;
      line-height: 30px;
      font-size: 14px;
      padding: 0 11px;

      &::after {
        top: 12px;
        right: 16px;
        border-top: 5px solid #0d46a1 !important;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: none !important;
      }
    }
    &__show-more.d-si__button {
      width: 100%;
    }

    .alternative-link {
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
@media (min-width: 640px) and (max-width: 849px) {
  .open-file {

    .d-smr__add-char {
      width: 65%;
    }

    .d-smr__add-char-label {
      height: 29px;
      line-height: 30px;
      font-size: 14px;
      padding: 0 11px;

      &::after {
        top: 12px;
        right: 16px;
        border-top: 5px solid #0d46a1 !important;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: none !important;
      }
    }
    .analityc-widgethead {

      &__search {
        width: 100%;
        margin-bottom: 8px;
      }
    }

    &__col {

      &_one {
        width: 100%;
      }

      &_two {
        width: 100%;
        margin-top: 30px;
        text-align: center;
      }
    }

    .analityc-control-group {
      margin-bottom: 20px;
      &__text {
        margin-right: 0;
        min-width: initial;
        width: 100%;
        margin-bottom: 3px;
      }
    }

    .link, .analityc-select {
      float: none;
    }

    &__show-more.d-si__button {
      width: 100%;
    }
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .open-file {

    .d-smr__add-char {
      width: 100%;
    }

    .d-smr__add-char-label {
      height: 29px;
      line-height: 30px;
      font-size: 14px;
      padding: 0 11px;

      &::after {
        top: 12px;
        right: 16px;
        border-top: 5px solid #0d46a1 !important;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: none !important;
      }
    }
    .analityc-widgethead {

      &__search {
        width: 100%;
        margin-bottom: 8px;
      }
    }

    &__col {

      &_one {
        width: 100%;
      }

      &_two {
        width: 100%;
        margin-top: 30px;
        text-align: center;
      }
    }

    .analityc-control-group {
      margin-bottom: 20px;
      &__text {
        margin-right: 0;
        min-width: initial;
        width: 100%;
        margin-bottom: 3px;
      }
    }

    .link, .analityc-select {
      float: none;
    }

    &__show-more.d-si__button {
      width: 100%;
    }
  }
}
