include ../page-header/page-header
include ../../blocks/icon/icons
include ../../blocks/button/button
include ../../blocks/link/link
include ../../blocks/alternative-link/alternative-link
include ../analityc-widgethead/analityc-widgethead

mixin open-file()
  +b.SECTION.open-file.main._basic.basic-budget.sections__item&attributes(attributes)
    .wrapper
      +page-header('Открытые данные', ['Открытость'], true)
      
      // content
      .analityc-widget.analityc-widget_open.load-anim-fade(data-delay="1500")
        +analityc-widgethead-of()
        +e.cols
          +e.col_one
            - for (var i=0; i<16; i++)
              +b.analityc-control-group
                +e.text Закон о бюджете. Ведомственная структура расходов
                +icon('information').icon
                select.analityc-select.analityc-select_dir
                  option(selected) экспорт
                  option импорт
                +link(true) паспорт
            +e.A(href="#").show-more.d-si__button_show-more Показать еще
          +e.col_two
            +alternative-link('условия использования', 'пояснение куда ведет ссылка')
            +alternative-link('запросить открытые данные', 'пояснение куда ведет ссылка')
      
      // popups
      +e.popups
        +e.popup-terms
          +e.popup-head
            +e.H3.popup-title Условия использования
            +icon('icon-cross').popup-close
          +e.popup-content
            +e.P.popup-text Портал «Открытый бюджет Москвы» является официальным порталом правительства города Москвы. Все материалы портала являются открытыми данными, в соответствии с требованием постановления Правительства РФ N 583 от 10 июля 2013 г., и могут быть воспроизведены в любых средствах массовой информации винформационно–телекоммуникационной сети Интернет или на любых иных носителях без каких-либо ограничений по объему и срокам публикации. Это разрешение распространяется на газеты, журналы, радиостанции, телеканалы, сайты и страницы сети Интернет.
            +e.P.popup-text._bold Используя наборы данных, Пользователь подтверждает свое согласие с нижеследующим:
            +e.UL.popup-list
              +e.LI.popup-item предоставление и использование набора данных подпадает под действие Федерального закона «Об обеспечении доступа к информации о деятельности государственных органов и органов местного самоуправления» (№8-ФЗ от 09 февраля 2009 г.);
              +e.LI.popup-item условия использования набора данных не предполагают обязательного заключения коммерческого договора в какой-либо форме с органом государственной власти, предоставляющим набор данных;
              +e.LI.popup-item условия использования набора данных не предполагают ограничений использования набора данных в  некоммерческих и коммерческих целях;
              +e.LI.popup-item пользователи, получившие набор данных, вправе копировать, публиковать, распространять и передавать набор данных третьим лицам, адаптировать, объединять набор данных с другими наборами данных, а также использовать набор данных в собственных приложениях.
            +e.P.popup-text._small Пользователь портала «Открытый бюджет города Москвы» должен предоставлять информацию об источнике набора данных в случаях, когда он публично демонстрирует эти данные. Разработчик программы или приложения, использующего набор данных, должен указывать в публично распространяемом приложении источник получения набора данных.


        +e.popup-about
          +e.popup-head
            +e.H3.popup-title Что такое открытые данные?
            +icon('icon-cross').popup-close
          +e.popup-content
            +e.P.popup-text
              +e.SPAN.popup-termin Открытые данные
              |  – это информация, которую можно автоматически обработать (без предварительного изменения человеком) для повторного использования и свободно использовать в любых целях любыми лицами независимо от формы ее размещения (в соответствии с текущим законодательством).
            +e.P.popup-text Иными словами, это информация, создаваемая Департаментом финансов города Москвы и публикуемая в виде машиночитаемых форматов. Примерами таких форматов могут служить: CSV, XML и другие.
            +e.P.popup-text._small Основными потребителями служат разработчики приложений и сервисов, данные как исходный материал для своих разработок, а также журналисты и другие заинтересованные лица, которые могут делать глубокие социально-экономические, научные исследования на основе «сырых» данных.
            +e.P.popup-text._small Целью раскрытия данных и их публикации в машиночитаемых форматах и есть облегчение к ним доступа и создание приложений, проведения исследований на их основе.