.open-file {
  display: block;
  background-image: url(../images/bg-news.jpg);
  background-size: cover;
  background-position: center 0;
  padding-bottom: 130px;

  &__head {

  }

  &__search-form {
    margin-top: 49px;
    margin-right: -20px;

    @media (max-width: 600px) {
      margin-right: 0;
    }
  }

  &__content {
    padding: 40px 40px 60px;
    background: $color-white;
    color: $color-black;
    margin-top: 31px;

    @media (max-width: 580px) {
      padding: 20px 20px 60px;
    }

  }

  &__slide-arrows {
    @include clearfix;
    opacity: 0;
    position: absolute;
    top: 100px;
    left: -3px;
    right: -3px;
    z-index: 1;
    
    &_floating {
      opacity: 1;
      position: fixed;
      top: 50%;
    }
  }

  &__table-wrap {
    width: 100%;
    position: relative;

    @media (max-width: 400px) {
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 200px;
      margin-bottom: -200px;
    }
  }

  &__table {
    font-size: 0;

    @media (max-width: 400px) {
      min-width: 580px;
    }
  }

  &__rows {
    white-space: nowrap;
  }

  &__row {
    &:nth-child(n+12) {
      display: none;
    }

    & + .open-file__row {
      margin-top: 16px;

      @media (max-width: 900px) and (min-width: 581px) {
        margin-top: 22px;
      }
    }
    /*Блок с описанием раскрыт*/
    &_active {

      .open-file__row-controls {
        position: relative;
        z-index: 2;
      }
      
      .open-file__row-wrap {
        position: relative;
        
        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          width: 300px;
          right: 0;
          height: 50%;
          box-sizing: border-box;
          border-left: 1px solid #acacac;
          border-right: 1px solid #acacac;
          background-color: #fff;
          z-index: 2;
          
          @media (max-width: 900px) {
            display: none;
          }
        }
      }
      
      .open-file__row-title {
        height: auto;
        
        span {
          position: static;
          transform: translateY(0);
        }
      }

      .open-file__row-about {
        display: block;
      }

      .open-file__row-description {
        border-bottom: $color-white;
        background-color: $color-white;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      & + .open-file__row {
        //margin-top: 8px;
      }
    }
  }

  &__col {
    display: inline-block;
    padding-left: 29px;
    vertical-align: middle;

    @media (max-width: 900px) {
      padding-left: 9px;
      vertical-align: top;
    }

    &_left {
      width: 76%;

      @media (max-width: 900px) and (min-width: 401px) {
        width: 70%;
      }

      @media (max-width: 400px) {
        width: 50%;
      }
    }

    &_right {
      width: 24%;

      @media (max-width: 900px) and (min-width: 401px) {
        width: 30%;
      }
      @media (max-width: 400px) {
        width: 50%;
      }
    }
  }

  &__caption {
    font-family: $PFDinTextPro;
    border-bottom: 3px solid #d5d5d5;

    H3 {
      padding: 19px 0 19px 29px;
      font-size: 14px;
      color: #9f9f9f;
      letter-spacing: .1px;
      white-space: normal;

      @media (max-width: 900px) and (min-width: 581px) {
        padding: 19px 0 19px 9px;
        font-size: 20px;
      }

      @media (max-width: 580px) {
        padding: 19px 0 19px 9px;
      }

    }
  }

  &__sort {
    font-family: $PFDinTextPro;
    margin-top: 12px;

    @media (max-width: 900px) and (min-width: 581px) {
      margin-top: 18px;
    }

    a {
      text-decoration: none;
    }

    &-field {
      position: relative;
      font-size: 12px;
      color: #0e45a2;
      letter-spacing: .1px;
      border-bottom: 1px dashed #0e45a2;
      margin-left: 16px;

      @media (max-width: 900px) and (min-width: 581px) {
        font-size: 18px;
      }

      &::before {
        position: absolute;
        top: 5px;
        left: -16px;

        @media (max-width: 900px) and (min-width: 581px) {
          top: 10px;
        }
      }

      &_dec {
        &::before {
          @include triangle(#0e45a2, down, 6px);
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
        }

      }

      &_asc {
        &::before {
          @include triangle(#0e45a2, up, 6px);
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
        }
      }
    }
  }

  &__main {
    margin-top: 18px;
    
    .open-file__row {
      white-space: normal;
    }

    @media (max-width: 900px) and (min-width: 581px) {
      margin-top: 24px;
    }
  }

  &__row-wrap {
    position: relative;
    text-align: justify;
    text-justify: distribute;
    white-space: normal;
    
    @media (max-width: 900px) {
      text-align: left;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.00000000001px;
    }
  }

  &__row-title {
    display: inline-block;
    width: 52%;
    font-family: $PFDinTextPro;
    font-size: 16px;
    text-align: left;
    letter-spacing: .1px;
    white-space: normal;
    vertical-align: middle;
    max-height: 3em;
    height: 3em;
    position: relative;
    padding: 10px 0;
    box-sizing: content-box;

    @media (max-width: 1140px) {
      width: 45%;
    }
    
    @media (max-width: 900px) {
      width: 100%;
      font-size: 22px;
      padding: 0;
      height: auto;
    }
    
    @media (max-width: 580px) {
      font-size: 16px;
    }
    
    span {
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      
      @media (max-width: 900px) {
        position: static;
        transform: translateY(0);
      }
    }
  }

  &__row-controls {
    display: inline-block;
    vertical-align: middle;
    text-align: left;

    @media (max-width: 900px) {
      margin-top: 10px;
    }
  }

  &__row-control {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    font-family: $PFDinCondensedPro;

    @media (max-width: 580px) {
      width: 83px;
    }

  }

  &__row-description {
    height: 32px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 32px;
    font-weight: 500;
    border: 1px solid #acacac;
    border-radius: 2px;
    background-color: #f5f5f5;

    @media (max-width: 580px) {
      font-size: 12px;
    }
  }

  .selectbox {
    @media (max-width: 580px) {
      font-size: 12px;
    }

    &__select, &__val, li a {
      @media (max-width: 580px) {
        padding: 0 7px;
      }
    }
  }

  &__row-about {
    position: relative;
    display: none;
    min-height: 104px;
    top: -1px;
    padding: 8px 13px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #424242;
    white-space: normal;
    border: 1px solid #acacac;
    margin-left: -10px;
    z-index: 1;
    
    @media (max-width: 400px) {
      margin-left: -9px;
      margin-right: 10px;
    }
  }

  &__row-date {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    height: 32px;
    line-height: 32px;

    @media (max-width: 900px) and (min-width: 581px) {
      height: auto;
      font-size: 20px;
      line-height: 24px;
    }
    
    @media (max-width: 580px) {
      height: auto;
      line-height: 18px;
    }
  }


  &__show-more.d-si__button {
    border: 1px solid #959595;
    color: $color-link;
    margin-top: 43px;
    width: 76%;
    position: relative;

    @media (max-width: 900px) {
      width: 100%;
    }

    &:hover {
      color: $color-black;
    }
  }

  &__links {

    text-align: justify;
    text-justify: distribute;
    font-size: 0;

    @media (max-width: 900px) {
      text-align: left;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      height: 0.0000000001px;
    }

    .link {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      font-family: $PFDinCondensedPro;
      font-weight: 500;

      svg {
        left: 100%;
        right: auto;
        margin-left: 13px;
      }
    }
  }

  &__popup-submit,
  &__get {
    width: 290px;
    height: 38px;
    margin-top: 30px;
    padding-left: 27px;

    @media (max-width: 580px) {
      width: 100%;
      padding-left: 0;
    }


    .button {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      font-family: PFDinCondensedPro,sans-serif;
      padding: 0 10px;
      box-shadow: 0 2px 0 #ccb600!important;

      @media (max-width: 580px) {
        width: 100%;
        padding: 0;
      }
    }
  }

  &__get {
    margin-top: 0;
    padding-left: 0;

    @media (max-width: 900px) {
      margin-top: 30px;
    }

    .button {
      @media (max-width: 900px) {
        width: auto;
        padding: 0 10px;
      }

      @media (max-width: 580px) {
        width: 100%;
      }      
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 900px) {
      width: 100%;
    }

    & + .open-file__link {
      @media (max-width: 900px) {
        margin-top: 24px;
      }
    }
  }

  &__popups {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(36,36,45,.3);
    overflow-y: scroll;
    z-index: 9999;
  }
  
  &__popups-static {
    display: none;
    margin-top: 48px;
    background-color: $color-white;
    
    @media (max-width: 580px) {
      margin-top: 17px;
    }
  }
  
  &__popups-wrapper {
    width: 1100px;
    margin: 100px auto 40px;
    
    @media (max-width: 1100px) {
      width: auto;
    }
  }

  &__popup {
    display: none;
    background-color: #fff;

    &_terms {
      .open-file__popup-text_small {
        margin-top: 20px;
      }
    }

    &_about {
      .open-file__popup-text:nth-child(2) {
        margin-top: 25px;
      }

      .open-file__popup-text_small {
        margin-top: 19px;
      }
    }
  }

  &__popup-head {
    position: relative;
    padding: 20px 70px 20px 40px;
    background-color: $color-yellow;

    @media (max-width: 580px) {
      padding: 17px 50px 11px 15px;
    }
  }

  &__popup-title {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: $color-black;
  }

  &__popup-close {
    @include center-block;
    transform: translateY(-50%);
    left: auto;
    right: 43px;
    width: 20px;
    height: 20px;
    fill: $color-black;
    cursor: pointer;

    @media (max-width: 580px) {
      right: 23px;
      top: 18px;
      transform: none;
    }
  }

  &__popup-content {
    font-family: $PFDinTextPro;
    padding: 33px 135px 92px 206px;
    color: $color-black;
    font-weight: 400;

    @media (max-width: 900px) {
      padding: 33px 40px 92px;
    }

    @media (max-width: 580px) {
      padding: 26px 17px;
    }
  }

  &__popup-text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -.3px;

    @media (max-width: 900px) {
      font-size: 16px;
      line-height: 22px;
    }

    & + .open-file__popup-text {
      margin-top: 18px;
    }

    &_bold {
      line-height: 20px;
      font-weight: 500;
      letter-spacing: 0px;
    }

    &_small {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__popup-list {
    padding-left: 34px;
    font-size: 18px;
    line-height: 26px;
    margin-top: 20px;

    & + .open-file__popup-text {
      margin-top: 18px;
    }

    @media (max-width: 900px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__popup-item {

    & + .open-file__popup-item {
      margin-top: 10px;
    }
  }

  &__popup-termin {
    font-weight: 500;
  }

  &__field {

    & + .open-file__field {
      margin-top: 20px;
    }
  }

  &__popup_request {
    .open-file__popup-text {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: .1px;
    }
  }

  &__err {
    color: red;
  }

  /*popup form*/
  .d-sii__form {
    .d-sii__form_question {
      margin: 0;

      & + .d-sii__form_question {
        margin-top: 56px;
      }
    }

    .d-sii__form_nowrap {
      white-space: nowrap;
    }

    legend {
      font-family: $PFDinCondensedPro;
      letter-spacing: 0px;
      white-space: normal;
      transform: translateZ(0);

      i {
        font-size: .8em;
        font-style: italic;
        vertical-align: top;
        text-transform: none;
      }
    }

    label {
      display: inline-block;
      width: 162px;
      font-family: $PFDinCondensedPro;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      white-space: normal;
      margin: 0;

      @media (max-width: 580px) {
        width: 100%;
        max-width: 100%;
      }
    }

    input {
      display: inline-block;
      padding: 0 10px;
      width: 388px;
      height: 35px;
      border: 1px solid #d7d7d7;
      border-radius: 1px;

      @media (max-width: 580px) {
        width: 100%;
      }
    }

    .selectbox {
      display: inline-block;
      width: 388px;
      font-size: 16px;
      text-transform: none;
      font-weight: 400;

      @media (max-width: 580px) {
        width: 100%;
      }
    }

    .selectbox__select, .selectbox__val {
      font-size: 16px;
      text-transform: none;
      font-weight: 400;
    }

    .jq-radio {
      float: none;
      top: auto;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 7px;

      & + label {
        width: auto;
        font-family: $PFDinTextPro;
        font-size: 16px;
        text-transform: none;
        font-weight: 400;
      }
    }

    .d-sii__chbox {
      margin-right: 11px;

      & + label {
        width: auto;
        font-family: $PFDinTextPro;
        font-size: 16px;
        text-transform: none;
        font-weight: 400;
      }
    }

    .open-file__popup-submit {
      width: 202px;
      padding-left: 0;

      @media (max-width: 580px) {
        width: 100%;
      }
    }

  }

}
