mixin dropdown()
  .dropdown-block
    .dropdown
      .dropdown-trigger
        .wrapper
          span
            strong Документы
      .dropdown-content
        .wrapper
          span Документы
    .dropdown
      .dropdown-trigger
        .wrapper
          span
            strong Новости по&nbsp;теме
      .dropdown-content
        .wrapper
          span Новости
    .dropdown
      .dropdown-trigger
        .wrapper
          span
            strong Сервисы
      .dropdown-content
        .wrapper
          span Сервисы
