include ../../components/doc-cards/doc-cards
include ../../blocks/news-card/news-card
include ../../components/lk-services/lk-services

mixin dropdown()
  .dropdown-block&attributes(attributes)
    +doc-cards-dropdown(getData('doc-cards-dropdown'))
    +b.section-tabs._news
      +e.head._closed
        .wrapper
          +b.UL.labels
            +e.LI.item
              +b.SPAN.label.js-label-button.js-label-button-closed
                | Новости
                +e.U.button.btn-close.js-section-tabs-hide
      +e.nav
        +e.nav-list
          .owl-carousel.owl-loaded.owl-carousel_news
            +e.owl-item
              .tile__item
                .tile__inner
                  +news-card-dropdown(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016')._blue._big
            +e.owl-item
              .tile__item
                .tile__inner
                  +news-card-dropdown(2, 'Новости Москвы', 'О выплатах купонного дохода по облигациям Городского облигационного (внутреннего) займа Москвы', '5 августа 2016')._red._big
            +e.owl-item
              .tile__item
                .tile__inner
                  +news-card-dropdown(3, 'Федеральные новости', 'Итоги исполнения бюджета города Москвы за первое полугодие 2016 года', '1 августа 2016')._green._big
            +e.owl-item
              .tile__item
                .tile__inner
                  +news-card-dropdown(1, 'Новости бюджета', 'Подведены итоги предварительной апробации федеральной учебной программы «Бюджетная грамотность для старшеклассников»', '8 августа 2016')._blue._big
            +e.owl-item
              .tile__item
                .tile__inner
                  +news-card-dropdown(2, 'Новости Москвы', 'О выплатах купонного дохода по облигациям Городского облигационного (внутреннего) займа Москвы', '5 августа 2016')._red._big
            +e.owl-item
              .tile__item
                .tile__inner
                  +news-card-dropdown(3, 'Федеральные новости', 'Итоги исполнения бюджета города Москвы за первое полугодие 2016 года', '1 августа 2016')._green._big

    +lk-services-dropdown()
